[2021-11-25 05:23] Crocsx commented on #7880
Same here all project with latest version are broken

[2021-11-25 05:29] Crocsx commented on #7880
https://github.com/cypress-io/cypress/issues/19102

[2021-11-25 07:07] SvenBudak commented on #7880
Ok time to kick cypress out of my projects :D

[2021-11-25 09:57] Camo30 opened #7883 "Unable to use TypeScript webpack config with @nrwl/angular:webpack-browser"
This issue has been fixed for web builder: #7454

## Current Behavior
`Cannot use import statement outside a module`

## Expected Behavior
I can use typescript files.

## Steps to Reproduce
Same as #7454 and #7704

Using this `webpack.config.ts`

[code]

### Failure Logs
Not works

### Environment
[code]

[2021-11-25 11:08] hknoerrer opened #7885 "Transitioning Angular 12 workspace to nx fails - using ng add"
## Current Behavior

I'm going to convert my Ionic/Anglar12/Cordova Workspace to Nx but it fails:

[code]

## Expected Behavior
Should convert the angular workspace to nx workspace.

## Steps to Reproduce
To rule out other errors i tried this with a minimal setup (only Angular12).
[code]
But got the same error.

### Failure Logs

### Environment
npm list -g --depth=0

[2021-11-25 11:28] Coly010 commented on #7862
@moorthyptm The workaround suggested by @SandeepThomas should help you get unblocked.
This is actually a bug in Webpack itself and it is currently being worked on https://github.com/webpack/webpack/pull/14827

[2021-11-25 11:31] MattiaMalandrone commented on #7880
Same problem with the latest version!

[2021-11-25 11:49] Ezard opened #7886 "Parallel option in nx.json is ignored"
## Current Behavior
The `parallel` option in `nx.json` (`$.taskRunnerOptions.default.options.parallel`) appears to be ignored.

When setting this field to `1`, Nx tasks should not be run in parallel, but they are.

I also logged the value of `this.options.parallel` inside `@nrwl/workspace/src/tasks-runner/task-orchestrator.js` inside the `run` function, and the value was `3`.

Note that I'm using

[2021-11-25 12:00] #7862 closed

[2021-11-25 12:01] moorthyptm commented on #7862
Thanks @SandeepThomas its working

[2021-11-25 12:03] moorthyptm commented on #7862
Thanks @Coly010

I will webpack/webpack#14827 issue

[2021-11-25 12:10] Ezard commented on #7886
I've narrowed it down to these lines here: https://github.com/nrwl/nx/blob/b222c47202831c69a43ded32380ca5f089fa71da/packages/workspace/src/tasks-runner/run-command.ts#L442-L445

The `nxArgs` object has `parallel: undefined`, which is overwriting the `parallel: 1` from `nxJson.tasksRunnerOptions[runner].options`

I assume the solution is to merge these objects whilst ignoring any `undefined` fields

[2021-11-25 12:12] kasius commented on #1397
any news regarding this?

[2021-11-25 12:33] ekm1 commented on #3069
Any updates on this one? on released version 12.10.0 its still present

[2021-11-25 13:04] anamfatima-10p commented on #7880
was getting the same issue` "Error: Cannot find module 'har-validator"` while installing cypress for a new project. Resolved it by manually installing "har-validator" using "`npm install har-validator`"

[2021-11-25 13:26] rosammav commented on #7880
I was also getting the same error that runs the tests on GitHub actions.

internal/modules/cjs/loader.js:905
  throw err;
  ^

Error: Cannot find module 'har-validator'
Require stack:
- /home/runner/work/sentry-cypress-ui-tests/sentry-cypress-ui-tests/node_modules/cypress/node_modules/@cypress/request/lib/har.js
- /home/runner/work/sentry-cypress-ui-tests/sentry-cypress-ui-tests/node_modules/cypre

[2021-11-25 14:16] edbzn commented on #7886
@Ezard Experiencing this too, thanks for raising this.

[2021-11-25 14:41] krishan-QE commented on #7880
This is worked for me.. Thanks..

my "yml" file

image: cypress/base:12.1.0

stages:
- test

test:
  stage: test
  script:
     - chmod +x cypress/
     - npm install har-validator
     - npm audit fix
     - npm install cypress
     - npm run runHeadless

[2021-11-25 14:55] kievsash commented on #3263
same for unit tests

[2021-11-25 15:32] #7880 closed

[2021-11-25 15:34] Areen3 opened #7890 "unable to upgrade eslint version to 8"
Yours pacagage @nwrl/nx provide rules for project dependency
this is project @nwrl/eslint-plugin-nx
that use npm @typescript-eslint/experimental-utils in wersion "~4.33.0",

that package is used by  @typescript-eslint/eslint-plugin
but in new wersion of @typescript-eslint/experimental-utils in wersion some
I use @eslint-config-airbnb-typescript npm, that use new wersion of
@typescript-eslint/exper

[2021-11-25 15:59] timmisset opened #7892 "findProjectOfResolvedModule in target-project-locator doesn't handle project with wildcard correctly"
We have a workspace where we have:
libs/activity-domain/activity/activity-feature
libs/activity-domain/activity/activity-feature-ui
libs/activity-domain/activity/activity-util

with a wildcard in our tsconfig.base.json:
@activity/*: [ libs/activity-domain/* ]

when the activity-feature module imports the activity-feature-ui module via @activity/activity/activity-feature-ui the findPaths resolves t

[2021-11-25 16:45] antonioandrade opened #7893 "Update `@typescript-eslint/experimental-utils` on `@nwrl/eslint-plugin-nx`"
I'm looking to update `@typescript-eslint/eslint-plugin` to `5.4.0` on our monorepo so that it plays ball with TS 4.5.2 but it seems that `@nwrl/eslint-plugin-nx` at `13.2.2` is still locking `@typescript-eslint/experimental-utils` at `4.33.0` instead of the `5.4.0` I was hoping to get.

Right now, linting within our NX workspace yields the warning:
[code]
## Description
Update the `@typescript-es

[2021-11-25 16:48] Areen3 commented on #7890
this is error when You run nx lint in  these configuration
Failed to load plugin '@nrwl/nx' declared in 'libs\af\shared\typescript\.eslintrc.json » ../../../../.eslintrc.json': Class extends value undefined is not a constructor
 or null

[2021-11-25 17:14] sgltkn commented on #7797
I got the same issue. Can u help with this?

[2021-11-25 18:25] JoanEsquivel commented on #7880
This works! Thanks

[2021-11-25 18:30] SvenBudak commented on #7880
Guys.. please dont do this... Downgrade Cypress or wait for a fix...

[2021-11-25 18:32] yharaskrik opened #7894 "Running nx lint --fix fails with max call stack or JS heap out of memory"
## Current Behavior

Running `nx lint --fix` on a library either runs into `Maximum call stack` error (angular lib) or `JavaScript heap out of memory` error (node lib)

Angular lib has type aware checking enabled in the tsconfig
Angular lib:
![image](https://user-images.githubusercontent.com/9469090/143488303-2416494f-472c-4737-b797-09350933e1d7.png)

Node lib:
![image](https://user-images.githubu

[2021-11-25 18:39] samartomar commented on #7880
yes downgrade or install npm install requests it will add nothing to your project but things will work without issue.

[2021-11-25 19:38] meeroslav commented on #7880
A rollback fix has just been rolled out in version 2.88.9 an hour ago.

Just run:
* rm -rf node_modules
* yarn or npm i

And you should be fine. My temporary fix from today will be removed tomorrow morning. We only added it as it was blocking the other PRs

[2021-11-25 20:36] tomalaforge commented on #7843
@dean-g did you find something on your bug? I have exactly the same issue

[2021-11-25 22:52] markogresak commented on #6782
Adding `@babel/preset-env` next to the original `@nrwl/web/babel` fixed the issue for me.

Full contents of `.babelrc`:

[code]

---

For more context, I was able to reproduce this project in an newly generated Nx React project by running the library generator with the `--babelJest` flag:

[code]

[2021-11-25 23:11] DmitryKandratsenka commented on #7636
I have the same issue:
![image](https://user-images.githubusercontent.com/74970709/143506734-e28ce198-d404-45af-a017-d41bcaa27f62.png)
![image](https://user-images.githubusercontent.com/74970709/143506752-0487c675-835b-4999-be95-f8072e0d0e1f.png)
![image](https://user-images.githubusercontent.com/74970709/143506763-845bd8fd-3eea-43ba-9954-7345791e0d65.png)

[2021-11-25 23:13] DmitryKandratsenka commented on #7893
I have the same problem. For some reason it still requests this legacy version
![image](https://user-images.githubusercontent.com/74970709/143506860-02706593-5188-48e2-8033-5e8cdb9c482f.png)

[2021-11-26 00:06] #7424 closed

[2021-11-26 00:06] #7523 closed

[2021-11-26 02:57] puku0x commented on #7890
It seems ESLint v8 will be available on next minor version (maybe v13.3.0?) https://github.com/nrwl/nx/pull/7800

[2021-11-26 03:04] puku0x commented on #7893
I guess current Nx supports TS 4.4 which is the same version that Angular v13 supports.
Fortunately, ESLint v8 and typescript-eslint v5 will be available soon by https://github.com/nrwl/nx/pull/7800 .

[2021-11-26 06:29] david-shortman commented on #6830
Commenting so I remember to look into this

[2021-11-26 07:21] yusijs commented on #7613
This is something with angular material I think:
https://github.com/angular/components/issues/23961

It's messed up my workflow as well, as for some reason it requires the tilde in some areas, but not in others 😬

[2021-11-26 08:19] oco2000 commented on #7846
My workaround is to add this to main.js of strybook to modify webpack configuration:

[code]

[2021-11-26 08:32] oco2000 opened #7895 "Jest tests fail after upgrading v12 => v13 (Cannot use import statement outside a module)"
## Current Behavior
Jest tests fail, all the tests fail with the same error.

## Expected Behavior
Jest tests pass

## Steps to Reproduce
Upgrade the existing project using standard migration procedure

### Failure Logs
[code]

### Environment
[code]

[2021-11-26 08:51] oco2000 opened #7896 "Jest tests fail after upgrading v12 => v13 (Cannot access 'MatTabLink' before initialization)"
## Current Behavior
Jest tests fail, all the tests fail with the same error.

## Expected Behavior
Jest tests pass

## Steps to Reproduce
Upgrade the existing project using standard migration procedure

### Failure Logs
[code]
### Environment
[code]

[2021-11-26 08:57] oco2000 opened #7897 "Storybook build fails after upgrade v12 => v13"
## Current Behavior
Storybook build fails

## Expected Behavior
Storybook build passes

## Steps to Reproduce
Upgrade the existing project using standard migration procedure

### Failure Logs
[code]
### Environment
[code]

.storybook/main.js
[code]

[2021-11-26 09:01] oco2000 opened #7898 "Lib build fails after upgrade v12 => v13 (project_graph_1.createProjectGraph is not a function)"
## Current Behavior
Lib build fails

## Expected Behavior
Lib build passes

## Steps to Reproduce
Upgrade the existing project using standard migration procedure

### Failure Logs
[code]

### Environment
[code]

[2021-11-26 09:31] leosvelperez commented on #7844
@dlq84 I added that exact configuration you shared to a project `jest.config.js` in a v12.9.0 workspace, ran the migrations and got the expected result:

[code]

[2021-11-26 09:42] leosvelperez commented on #7844
A note on the migration:

It's unfortunate you're having issues with the Jest setup. Unfortunately, the Angular 13 release broke compatibility with several tools (Jest among them) and this has caused a lot of trouble.

As Victor explained in https://github.com/nrwl/nx/issues/7613#issue-1044939980, automatic migrations are hard, not every workspace is the same or evolves in the same way and to acco

[2021-11-26 09:44] leosvelperez commented on #7895
Thanks for reporting this!

This is a duplicate of https://github.com/nrwl/nx/issues/7844. I'll close this one in favor of that one. Please follow it for updates.

[2021-11-26 09:44] #7895 closed

[2021-11-26 09:47] GeorgeKnap commented on #7844
is it truly `jest.config` or the root `jest.preset` ?  To me it looks like something should be in the root.
Also, how do we add to this the ignore patterns for things like lodah-es... ?

[2021-11-26 09:47] GeorgeKnap commented on #7844
is it truly jest.config or the root jest.preset ? To me it looks like something should be in the root.
Also, how do we add to this the ignore patterns for things like lodah-es... ?

[2021-11-26 09:55] oco2000 opened #7901 "Cypress tests fail after upgrading v12 => v13 (Module not found: Error: Can't resolve '@angular/core')"
## Current Behavior
Cypress tests fail

## Expected Behavior
Cypress tests pass

## Steps to Reproduce
Upgrade the existing project using standard migration procedure

### Failure Logs
[code]

### Environment
[code]

[2021-11-26 09:55] leosvelperez commented on #7844
That's why I mentioned above every workspace is unique. You can have it in the root `jest.preset.js` and it will apply to every other `jest.config.js` that uses the preset (if it's not overwriting the config).

That's an example of a deviation of what we generate and what makes migrations to be hard. Nx workspaces can contain multiple technologies, therefore, we don't add configuration that might

[2021-11-26 10:00] leosvelperez commented on #7896
Thanks for reporting this!

This is an issue with the Angular partial compilation output (see https://github.com/angular/components/issues/23907#issuecomment-961896720). It has been fixed on Angular v13.0.1 and Angular Material v13.0.1 now contains the fix (see https://github.com/angular/components/releases/tag/13.0.1).

Please update your Angular packages to the latest version to grab the fix and

[2021-11-26 10:00] #7896 closed

[2021-11-26 10:05] LukasMachetanz commented on #7846
My error looks like this when running `nx run-many --target=build-storybook --configuration production --all`:

[code]

[2021-11-26 10:07] LukasMachetanz commented on #7823
My error looks like this running `nx run design-system:storybook `:

[code]

[2021-11-26 10:11] leosvelperez commented on #7898
Thanks for reporting this!

The deprecated `createProjectGraph` function was removed in Nx v13. Therefore, no code within Nx invokes that function anymore. I see you are using several community plugins. Most likely one of those plugins you're using hasn't removed the usage of `createProjectGraph` and it's the cause of the issue.

Please check if there are updated versions of the plugins you're usi

[2021-11-26 10:11] #7898 closed

[2021-11-26 10:16] criskrzysiu commented on #7613
@yusijs  yeah, I fixed the issue with angular material, turn out they modified quite a lot of theming api and migrations does not fix those, then again NX did get lost in cache issue, but clean npm i, rm .node_modules/.cache, git stash, git stash apply fixed it - this last stash trick is lifesaver when nx get stuck in files that were renamed etc

[2021-11-26 10:24] criskrzysiu commented on #7897
https://github.com/storybookjs/storybook/issues/16759

[2021-11-26 12:11] madipta commented on #7866
i have similar issue  when running nx migrate --run-migrations

then the migrations stopped
i figured that because i don't have @angular/cdk installed

after cdk installed the migrations run with error

but the migrations finished and my code run like before

[2021-11-26 12:29] the-ult commented on #5259
This would indeed be nice if this would be somehow documented as part of https://nx.dev/l/a/linter/eslint or something. 👍

[2021-11-26 12:33] DonTomato opened #7905 "Nx Micro Frontend installation fails out of the box"
Tried to setup a Micro Frontend with Angular and Nx according to the [Nx guide](https://nx.dev/l/a/guides/setup-mfe-with-angular). After following all instructions firstly I get the following error when run:
![image](https://user-images.githubusercontent.com/1098084/143581015-817b4cf5-a425-4ae8-bd15-11d61717897e.png)

It seems I can fix it with installing `webpack` packages manually:
[code]
But no

[2021-11-26 12:59] mandarini commented on #7867
Thank you @wizardnet972 , I'm looking into this. I was able to reproduce your error! :)

[2021-11-26 13:05] mandarini commented on #7867
Oh, btw @wizardnet972 you can just do `yarn add -D @angular/cli` and it will work for you, until a fix is pushed to automatically install `@angular/cli`.

[2021-11-26 13:12] shilman commented on #7867
@mandarini yes, @juristr added `@angular/cli` as an optional peer dependency here https://github.com/storybookjs/storybook/pull/16696

I guess that means it's an `nx` issue, or an end-user issue, since Storybook expects the CLI to be provided by its environment. Or perhaps it should not be an optional peerDep? @juristr @thibaudav

[2021-11-26 13:16] wizardnet972 commented on #7867
Yes, it did solve the problem I use it for now. I was not sure to install the cli since nx "replace" it. I will wait to fix and run migration into my project.

Thank you very much @mandarini :)

[2021-11-26 13:35] juristr commented on #7867
@shilman Yeah I remember having discussed this with @ThibaudAV. The situation is that right now Storybook needs the `@angular/cli` to determine the underlying Webpack setup to apply and how to load the bundles. So it cannot really be optional I guess 🤔.

When the "angular" preset is used with Nx, the `@angular/cli` would be added. And since this workspace started with the empty preset and added pa

[2021-11-26 13:46] valerius21 commented on #6782
@markogresak thanks!

The error disappears. I am now getting the
` SyntaxError: Cannot use import statement outside a module`
Error.

I'll try to do some config tweaking.

[2021-11-26 13:59] tomalaforge commented on #7844
After restoring all other jest.config file in all my libraries, I'm running in this same exact message when I run all my test with --detectOpenHandles

With wasn't there on v12.

And I have no idea how this can be solved.
@dean-g did you find a solution?

[2021-11-26 14:01] markogresak commented on #6782
@valerius21 you’re using ES Modules somewhere. You have to set up mapping or transforms to process the file.

Or you can try enabling esmodules (https://jestjs.io/docs/ecmascript-modules), but I’m not sure if the nx setup supports it so there’s a good chance things will break.

[2021-11-26 14:13] #7679 closed

[2021-11-26 14:14] #7282 closed

[2021-11-26 14:26] #7640 closed

[2021-11-26 14:36] timonohe commented on #7613
@Mistic92 same issue here on nx migrate --run-migrations, when tao migrate is starting. Don't know what to do...

[2021-11-26 14:47] coolduebtn commented on #7613
I need to migrate from 11 to 13 . I managed to successfully migrate from 11 to 12. But I am having issues on updating from 12 to 13.2.
I am using angular based nx repo.

On running 'nx migrate latest', the migrations file is generated correctly. Then 'npm install' also worked. But when I run 'nx migrate --run-migrations' I get the following error :

` NX   ERROR  Could not find Nx modules in this

[2021-11-26 15:03] leosvelperez commented on #7901
Thanks for reporting this!

Could you provide a minimal repo where the issue can be reproduced?

Cypress tests shouldn't have any direct dependency on Angular packages. Cypress tests run against an application that has already been built and served. That sounds like building the application is what's failing and not running the tests.

I can see you are using several community plugins including `@

[2021-11-26 15:26] wizardnet972 opened #7908 "Storybook doesn't run preview.js"
## Current Behavior

I use `preview.js` to import global CSS as mentioned in the storybook docs.
But when I run storybook the styles are not applied.

preview.js:
[code]

preview.scss:
[code]

See the output in Steps to Reproduce.

## Expected Behavior

Storybook should run `preview.js` as before.

## Steps to Reproduce

Clone this:

https://github.com/wizardnet972/nx-storybook-preview

Or run the

[2021-11-26 16:30] sergiocarneiro commented on #7844
`jest-preset-angular` v11 describes a few changes that need to be performed, **but still the error persists:**
* **Angular >=13** — https://thymikee.github.io/jest-preset-angular/docs/guides/angular-13+
* **ESM Support** — https://thymikee.github.io/jest-preset-angular/docs/guides/esm-support

Basically `test-setup.ts` becomes this:
[code]

Hopefully this helps someone, but again, **the issue has

[2021-11-26 16:42] mandarini commented on #7867
https://github.com/nrwl/nx/pull/7910

[2021-11-26 17:09] #7867 closed

[2021-11-26 19:16] kpervin opened #7913 "Incongruency between @nrwl/next:page docs and source"
Documents state that [@nrwl/next:page `flat` defaults to `false`](https://nx.dev/l/r/next/page#flat), but the source code shows that it [defaults to true](https://github.com/nrwl/nx/blob/153e038c9b776cf8cb944bdb687cfaad5393e1b5/packages/next/src/generators/page/page.ts#L22). It also cannot be changed, resulting in `.spec.tsx` being generated always under the `pages/...` directory when `--withTests

[2021-11-26 20:35] benpsnyder commented on #5672
Here is how I am using Yarn v3 successfully.

Start with `yarn install` using Yarn v1

Then run `yarn set version berry` and follow that up with `yarn set version 3.x` (because `berry` has a bug)

Addd `nodeLinker: node-modules` to `.yarnrc.yml`

Run `yarn install` and update your `.gitignore` with
[code]

Then commit.

I am having no issues with Yarn v3 and updating Nx 👯

Crack a beer.

[2021-11-26 21:48] juristr commented on #7897
@oco2000 can you try removing the section about `TsconfigPathsPlugin`. That shouldn't be required anymore.

Our migrations can only handle so much, given that the Storybook config files are JS files that can be highly customized. The best is to create a new Nx v13 workspace, generate a storybook setup and compare the config files and adjust accordingly.

If you still encounter the same error, coul

[2021-11-26 22:45] benpsnyder commented on #7504
@vsavkin  I am using Yarn v3 on most of my projects. I have found [@yarnpkg/plugin-patch](https://www.npmjs.com/package/@yarnpkg/plugin-patch) to be helpful in patching and testing this issue.  Check [@srleecode/domain - Fix all of the e2e tests](https://github.com/srleecode/domain/pull/30/commits/5573c2ac4263a3246449ae25d99e34a435285f19) which is a WIP ... I'll post back here with some additional

[2021-11-27 00:19] #7225 closed

[2021-11-27 01:56] benpsnyder commented on #7504
@vsavkin I have figured this out after 6 hours of debugging :) ... please reference https://github.com/srleecode/domain/pull/30/files

this `.yarn/patches/@nrwl-nx-plugin-npm-13.2.2-9ae4bffcd4`
[code]
and `.yarn/patches/@nrwl-tao-npm-13.2.2-701855e572`
[code]

Yarn v3 expects there to be a `yarn.lock` file. I know `touch yarn.lock` isn't going to wrok cross-platform, but I am sure you can take ins

[2021-11-27 02:49] benpsnyder commented on #2386
Y'all might be interested in [feat(core): implement Yarn v3](https://github.com/nrwl/nx/pull/7918)

[2021-11-27 02:51] benpsnyder commented on #5672
Y'all might be interested in [feat(core): implement Yarn v3](https://github.com/nrwl/nx/pull/7918)

[2021-11-27 02:54] benpsnyder commented on #6509
@marckassay check out [feat(core): implement Yarn v3](https://github.com/nrwl/nx/pull/7918)

[2021-11-27 05:42] flensrocker commented on #6370
Just a friendly reminder, that this issue should not be closed.

Thank you!

[2021-11-27 15:05] criskrzysiu commented on #7897
I have a similar problem, and removing tsconfig plugin config didn't help, actually, I tried adding it as a workaround. You can view a sample project in this issue on storybook. Maybe together You can find out what's happening.

https://github.com/storybookjs/storybook/issues/16759

[2021-11-27 16:20] criskrzysiu commented on #7897
Ok, I managed to get my project working by adding manually aliases to my libs.

So in ```tsconfig.base.json``` I have
[code]

and in ```main.js``` I add

[code]

my initial webpack config from ```console.log('Now: ', config);```

[code]

as You see its lacking ``` '@my-project/utils': 'C:\\repos\\my-project\\Frontend\\libs\\utils\\src\\index.ts'``` entry in ```alias```

hope it will help at least

[2021-11-27 17:47] AgentEnder commented on #7594
@EelcoLos What does the jest config look like for the individual projects? Its possible that transform is being overwritten in the projects jest config. Generally the transform is only set in the project config and not root (such that if you have angular and react packages as an example, jest-preset-angular is not affecting the react projects)

[2021-11-27 19:08] #7824 closed

[2021-11-27 19:46] JosepAlacid opened #7921 "Lint failed with deficient error information."
## Current Behavior
npx ng lint fails with cryptic/deficient error information

## Expected Behavior
Else lint working or helping error message.

## Steps to Reproduce
Just try to lint with current versions and packages (latest versions).

### Failure Logs

[code]

### Environment

[code]

[2021-11-27 22:21] EelcoLos commented on #7594
@AgentEnder I tried using @Genesys-AlexW 's earlier comment, which didn't work at first (quoted it below). After some tweaking I got it working

[code]
In the end I noticed the following lines being the change. I'm not sure which of these made it work, or a compound of all changes:
[code]
Added mjs to transform target

[code]
the directory backslashes (and said location in the regex) are very impo

[2021-11-27 22:36] amosbastian commented on #7694
I am getting the same problem after one of my other [issues](https://github.com/nrwl/nx/issues/7640#event-5677970007) was fixed.

### Failure Logs

[code]

 ## Steps to reproduce

https://github.com/amosbastian/boilerplate/tree/feature/storybook

nx serve shared-storybook:storybook

 ### Environment

[code]

[2021-11-27 22:36] amosbastian commented on #7694
I am getting the same problem after one of my other [issues](https://github.com/nrwl/nx/issues/7640#event-5677970007) was fixed.

### Failure Logs

[code]

 ## Steps to reproduce

https://github.com/amosbastian/boilerplate/tree/feature/storybook

nx serve shared-storybook:storybook

 ### Environment

[code]

[2021-11-28 00:08] #5592 closed

[2021-11-28 03:09] kunjee17 commented on #7613
Migration didn't work for me.

[code]

I don't which package is giving the issue.

[2021-11-28 06:30] puku0x commented on #7921
I had the same error and it seems that Nx v13.2.x does not support angular-eslint v13.
Fortunately, Nx v13.3.0 will support ESLint v8 + typescript-eslint v5 + angular-eslint v13. https://github.com/nrwl/nx/pull/7799

[2021-11-28 14:38] romankh opened #7923 "After migration from 11 to 13.2, build is not creating any output"
## Current Behavior

- Building the app does not produce any output in the dist folder, but instead terminates immediately without any hint
- Only output is **_NX  Running target build for project XXX and 1 task(s) that it depends on._**
- nx serve XXX however seems to work fine

I also removed node_modules and package-lock.json and re-installed to ensure webpack 5 is installes as suggested in som

[2021-11-28 15:09] gsbelarus opened #7924 "WARNING in DefinePlugin Conflicting values for 'process.env.NODE_ENV'"
1. Have installed the latest NX 13.2.2.
2. Created empty react project.
3. Created a library with `--publishable` flag.
4. Created an empty component inside the library.

When executing command `yarn nx run my-project:build` got a warning message:

I didn't change any default **nx** settings during **nx** installation or when creating the project.

[2021-11-28 16:34] valerius21 commented on #5820
I had the same error. Since I am containerizing my apps, I accidentally started the development version via `nx serve ...`. After changing the working directory to the corresponding `dist` directory, everything worked.

[2021-11-28 17:25] glebmachine commented on #7613
After about an hour (or two), i've got "no left space on device"
Fancy хD

After that yarn cache become 60gb+

[code]

[2021-11-28 17:31] criskrzysiu commented on #7613
Hmm for me no migrate takes forever - about 10 min per package! Same
project on my coworker pc took 5 minutes to create migrate.json

I can create logs from it if needed , but it will take a while to anonimize
it

W dniu niedz., 28.11.2021 o 18:25 Gleb Mikheev ***@***.***>
napisał(a):

[2021-11-28 21:56] benpsnyder opened #7925 "Create tests for `runNxNewCommand()` using variations of `pnpx`, `npx`, `yarn dlx` and `nx` after Yarn v3 [berry] adoption in core"
## Current Behavior

## Expected Behavior

## Steps to Reproduce

Screenshots and active discussion over in [#7918: feat(core): upgrade yarn v1 => v3 [berry] && replace npx with yarn dlx](https://github.com/nrwl/nx/pull/7918)

### Failure Logs

### Environment

[2021-11-28 23:14] un33k opened #7926 "Mix match issue when "enableIvy": false" vs. "compilationMode": "partial" - when an Nx publishable lib depends on a 3rd-party lib."
Upgrading to NgNx 13, and `"enableIvy": false` was replaced with `"compilationMode": "partial"`.

This ticket is to highlight a "possible" issue.

// chart of success path
[code]

## Current Behavior
If a publishable NX lib had dependency on a 3rd party non-NX lib, till 13, the recommendation was to disable Ivy for the publishable libs so all worked.

However, after the upgrade, as per the above s

[2021-11-28 23:59] un33k commented on #7926
It seems that going back to `"enableIvy": false"` with the latest angular compiler is a no-go. It would work still.

Last option is to have the recipient repo on the old version of the publishable packages, prior to NxNg 13 `publish`.

[2021-11-29 01:00] JonathanWilbur opened #7928 "Permit assets to be included from outside of the source root for apps"
When building `node` libraries, the default `assets` is `["libs/<lib name>/*.md"]`, and this allows a `README.md` file to be included in the compiled library. For `node` apps, however, it seems that you cannot include assets from outside of the `sourceRoot`. I could put the `README.md` file in the `src` folder for now, but it feels inappropriate, since it is not technically "source code." For that

[2021-11-29 01:02] puku0x commented on #7924
I guess the waring was introduced by https://github.com/nrwl/nx/pull/7727

[2021-11-29 07:05] TheGooner93 commented on #7448
Is there any movement on this issue ? I have a slightly similar one where even though I am copying all of package.json, yarn.lock, nx.json, tsconfig.base.json, babel.config.json, workspace.json  into the root of the Docker container I get the following error(nextapp is the name of the app to be built)

[code]

[2021-11-29 07:26] romankh commented on #7923
Some updates:

- I suspected the libs to be involved in this, so I removed the libraries from the projects in angular.json
- Build with only the app in angular.json works
- Then I just put the library entries back in place in angular.json
- Build still works
- I clear the cache in node_modules/nx
- Build breaks again, no output to dist folder

Can anyone give me a hint what might be going on here?

[2021-11-29 07:30] Areen3 commented on #7890
ok, I'm sorry for the duplicate, I checked but it is not accurate,
Thank you for your answer...

[2021-11-29 07:30] #7890 closed

[2021-11-29 07:44] timonohe commented on #7636
Same here for the latest version 13.2.3

[2021-11-29 08:14] simonknittel commented on #7823
I'm having the same issue. However, mine wasn't fixed by rolling back to a version previous to 13.2.x. even 13.0.x or 13.1.x didn't help.

Last Friday I tried `npx sb upgrade --prerelease`. As @LukasMachetanz described, it fixed the intial error but instead now complains about a new error. It seems that it can't resolve packages described in the `compilerOptions.paths` property of the `tsconfig.js

[2021-11-29 08:15] DonTomato commented on #7905
It seems the problem with missing `webpack`, appeared with `13.0.0` release.
But problem with reloading occurs with some latest release, after `13.2.x`

[2021-11-29 08:35] innoveltec opened #7929 "HookWebpackError: ENOENT: no such file or directory, scandir at makeWebpackError while trying to run storybook"
@juristr as requested by you on the storybook github page i am reopening this issue here on the nx github.

Upgraded my angular nx repo(v13.2.1) to the newest version which is using storybook 6.4.0-rc.3. After that i have run the npx sb@next automigrate command which suggests me to install some webpack-5 dependencies and i also added the core builder property to webpack5 in my main.js file. Now wh

[2021-11-29 08:36] innoveltec commented on #7929
And here was my nx report:

Node : 14.15.4
OS : win32 x64
npm : 6.14.10

nx : 13.2.1
@nrwl/angular : 13.2.1
@nrwl/cli : 13.2.1
@nrwl/cypress : 13.2.1
@nrwl/devkit : 13.2.1
@nrwl/eslint-plugin-nx : 13.2.1
@nrwl/express : undefined
@nrwl/jest : 13.2.1
@nrwl/linter : 13.2.1
@nrwl/nest : undefined
@nrwl/next : undefined
@nrwl/node : undefined
@nrwl/nx-cloud : 12.5.4
@nrwl/react : undefined
@nrwl/react

[2021-11-29 09:00] juristr commented on #7929
_(for context: https://github.com/storybookjs/storybook/issues/16755)_

[2021-11-29 09:30] Coly010 commented on #7866
@madipta The following output
[code]

Is from the Angular CDK. It's. a poor output, but essentially it just means they're skipping projects they don't need to process, or can't figure out how to process.

You can see more on that on this issue: https://github.com/angular/components/issues/23930

There's a different issue that needs to be addressed here though, and it is being worked on :)

[2021-11-29 09:35] Coly010 commented on #7844
@sergiocarneiro Another problem here is that you are changing the resolver that is being used:

[code]

The jest-preset-angular resolver does not work in Nx Workspaces because it does not transform the TSConfig Path Aliases for libraries.

You need to remove that property and use the `jest.preset.js` that Nx generates for you at the workspace root, which is:

[code]

Then your standard `jest.confi

[2021-11-29 10:32] juristr commented on #7823
@christianacca In your repo it looks like you're still on `@storybook/*` v6.3.0. In order to be compatible with Angular 13 you need to use Storybook v6.4.0. In general when upgrading, the best is to use [nx migrate](https://juristr.com/blog/2020/11/multi-step-automatic-code-migrations/) as we'll make sure to upgrade you to the correct Angular and Storybook versions. //cc @LukasMachetanz I think sa

[2021-11-29 10:41] juristr commented on #7897
@oco2000 could you setup a minimum reproduction repository s.t. I can trace down the exact issue of where that options object is not provided correctly? 🙏

@criskrzysiu yep, while the TS Path mapping plugin should not be needed, there's indeed currently an issue on the Storybook side where the tsconfig inheritance won't be properly resolved. Thus the ts path mappings at a higher level (e.g. in the

[2021-11-29 11:23] LukasMachetanz commented on #7823
I am not sure which storybook version I had when I posted https://github.com/nrwl/nx/issues/7823#issuecomment-979845513, but now I am using v6.4.0.

I am also struggling now with resolvement issues as described by @simonknittel in https://github.com/nrwl/nx/issues/7823#issuecomment-981385599. I am pretty sure we have the same issue here.

@juristr Thanks for looking into this.

[2021-11-29 11:37] #7857 closed

[2021-11-29 11:44] Lonli-Lokli commented on #6941
@FrozenPandaz can you please take a look? We observe same with process.env variables used in tsx for react projects, .env is just ignored for Webpack5 projects.

[2021-11-29 11:45] craigbroadman opened #7931 "nx affected --target=my-custom-command"
## Current Behavior

I have the following structure in my repo

- my-api
- my-api-iac (infrastructure as code)
  - has an implicit dependency on "my-api"
- my-api-integration-tests
  - has an implicit dependency on "my-api-iac"

my-api-iac has a custom command setup similar to the below that will deploy to AWS using the AWS CDK:

[code]
If I make a change to an integration test, I need the IAC "te

[2021-11-29 12:09] qbawalat commented on #7512
Hi @jaysoo, what is the status on this one? Can we expect a fix anytime soon?

[2021-11-29 12:13] qbawalat commented on #7509
Hi @dangviettuan, what's the status of this task? Can we expect a fix anytime soon? :)

[2021-11-29 14:49] avington commented on #7905
I am seeing the same reloading issue after running nx migrate from "@nrwl/workspace": "13.1.4" to "@nrwl/workspace": "13.2.3"

[2021-11-29 15:49] getlarge opened #7938 "Make NestJS generator less opiniated about HTTP framework"
## Current Behavior
In the context of a project using NestJS with Fastify, i noticed that the Nx NestJS generator makes the assumption that Express is always used. So each time we generate a new application with `npx nx generate @nrwl/nest:application myapp` it will add `@nestjs/platform-express@7.0.0` in package.json.

1. for a Fastify app this package is not needed
2. it creates versions conflic

[2021-11-29 15:50] getlarge commented on #7938
Maybe it's more of a feature request ?

[2021-11-29 16:12] eggp opened #7939 "workspace-generator does not print the options"
## Current Behavior
run command in shell: nx workspace-generator WGNAME help or nx workspace-generator WGNAME --help
result output:
[code]

## Expected Behavior
According to schema.json, display the configuration options as for other schematics tools

## Steps to Reproduce
run commands in nx project:
1. nx generate @nrwl/workspace:workspace-generator my-generator
2. nx workspace-generator my-gener

[2021-11-29 16:39] flippidippi opened #7941 "Allow next.js assets outside of the public folder"
## Description

Currently, assets are only allowed to be put into the public folder using the `assets` build option. The current implementation of only allowing moving things into the public folder is not only inconsistent with other executors but is also less flexible. I don't see the issue with making users put the `public` prefix in the assets options if they need it to go into that folder.

We

[2021-11-29 17:28] un33k commented on #7926
Update, I have included a repo simulating the issue.

[2021-11-29 18:52] christianacca commented on #7823
@juristr she I can try that upgrade. Hopefully the next version of nx (I was using 13.2.1) will default to using Storybook 6.4 as the dependency...

[2021-11-29 19:06] juristr commented on #7823
@christianacca Yep it will. Work is already underway => https://github.com/nrwl/nx/pull/7917

[2021-11-29 19:47] Exslims opened #7942 "Cannot serve/build application after converting angular repo to nx repo."
## Current Behavior
Hello! I got TypeError: Cannot read property 'default' of undefined in project-graph.js
`const useDaemonProcessOption = (_b = (_a = nxJson.tasksRunnerOptions['default']) === null || _a === void 0 ? void 0 : _a.options) === null || _b === void 0 ? void 0 : _b.useDaemonProcess;`
after running any commands like npx nx serve <app-name> or smth else.
Guess it is because in nx.json f

[2021-11-29 19:59] un33k commented on #7926
Leaving a quick message here just in case someone runs into this ... it seems that I was missing generic types in the `forRoot()`, and "enableIvy": false was ignoring it, but "compilationMode": "partial" was not.

[code]

[code]

[2021-11-29 19:59] #7926 closed

[2021-11-29 22:46] danthedaniel opened #7943 "Problems when migrating from 12.3.6 to 13.2.3"
## Current Behavior

I ran the following commands:

[code]

And I got the following output

[code]

## Expected Behavior

I expected the migrations to be applied without errors 😛

## Steps to Reproduce

Here are the changes that were applied to my `package.json`:

[code]

Here are the changes applied to `workspace.json`:

[code]

### Environment

Before:

[code]

After:

[code]

[2021-11-30 00:12] danthedaniel commented on #7943
I realized that `nx migrate latest` didn't update the `nx` package itself, so I did that manually (upgrading nx to 13.2.3) and then ran the migration commands in my post above. The results were the same:

[code]

[code]

[2021-11-30 00:19] danthedaniel commented on #7943
When I try to run apps in my workspace I get the error:

[code]

`project-graph.js:47:77`:
[code]

My `nx.json` file has no `tasksRunnerOptions` key in it at all.

[2021-11-30 02:08] shertu opened #7945 "TypeError: Cannot read properties of undefined (reading 'paths')"
## Current Behavior
When I execute certain nx commands, e.g. `dep-graph` or `run-many`, then I get an error.

## Expected Behavior
I expect the commands to run as described in the documentation without type errors.

I am unaware if this is a regression issue.

## Steps to Reproduce

1. [Clone this repository.](https://github.com/shertu/zukte)
2. Execute `npm install`
3. Execute `npm run lint` whic

[2021-11-30 03:22] NikitaIT commented on #6332
I honestly don't know why it works. But it seems to have completely solved the problem.

[code]

[2021-11-30 04:18] anthonyma94 commented on #3342
@yacafx I installed the extension but it didn't change the behavior, how did you get it to work?

[2021-11-30 05:04] hadrien-toma commented on #6712
🥺

[2021-11-30 06:55] namdien177 commented on #7905
Facing this issue right now. I can fix the NPM install error by `npm i --legacy-peer-deps` but the  `serve-mfe` command makes the browser constantly reload.

[2021-11-30 07:47] kochax commented on #7834
Same issue here, downgrading to 13.1.4 fixed the problem.

[2021-11-30 07:57] Gaphell commented on #7613
When i run `nx migrate latest`

<img width="654" alt="Screen Shot 2564-11-30 at 1 54 33 PM" src="https://user-images.githubusercontent.com/51020543/144007416-5fac2ef1-099a-4f47-8960-aebf65a32c8a.png">

![image](https://user-images.githubusercontent.com/51020543/144007565-79a53890-c9a0-4564-b7fa-926b07975ac0.png)

[2021-11-30 08:36] VictorienTardif commented on #7846
FYI https://github.com/storybookjs/storybook/issues/16759

[2021-11-30 09:40] glebmachine commented on #7613
Migration takes about few hours and 170gb of yarn cache directory!
Is it ok?

[2021-11-30 10:05] Gaphell commented on #7613
Steps I followed: -

1. `NX_MIGRATE_USE_LOCAL=true nx migrate latest`
2. `yarn`
3. `nx migrate --run-migrations`

After that, yarn error shows no more and migration is successful. Hope it helps.

[2021-11-30 10:06] Gaphell commented on #7613
Steps I followed: -

NX_MIGRATE_USE_LOCAL=true nx migrate latest
yarn
nx migrate --run-migrations
After that, yarn error shows no more and migration is successful. Hope it helps.

[2021-11-30 10:37] leosvelperez commented on #7866
Thanks for reporting this!

We are looking at the best way to handle the issue and we'll push a fix for it once we have it.

@mehmet-erim @madipta In your specific use case, to unblock yourself, the right solution is to remove the migrations with `"package": "@angular/cdk"` from the `migrations.json` file, and then, you can run `nx migration --run-migrations`.

[2021-11-30 11:40] GrumpyMeow opened #7948 "Jest still does some caching with --skip-nx-cache"
## Current Behavior
On our CI agent we run our unit-test with the command: `npx nx affected:test --base=origin/main --head=origin/feature/create-mat-error-dialog --parallel=false --maxParallel=1 --bail=false --ci --skip-nx-cache`.
On of our Jest-tests fails with the following error:
[code]
The thing is that the displayed "template" is not part of the component-under-test. Also i'm unable to reprod

[2021-11-30 12:56] #7948 closed

[2021-11-30 13:00] petrkrejcik commented on #3664
I'm trying to replicate your executor but when I run `nx run node:tsCheck` I get error:
[code]

Do you how to solve it?
I've uploaded the repo here: https://github.com/petrkrejcik/nx-test

[2021-11-30 13:16] schackito commented on #7905
looks like it's a general problem:
https://github.com/nrwl/nx/pull/7940

[2021-11-30 14:38] devniel opened #7950 "No matching version found for @jest/environment@^27.4.2 when installing @nrwl/workspace"
Hello,

When installing the latest version of `@nrwl/workspace` and using node 10 or 12, I always get this error:

[code]

Do you think it can be handle in someway or should I use latest node ?
thanks!

[2021-11-30 15:03] davidfmatheson opened #7951 "TypeError: Cannot read properties of null (reading 'type')"
## Current Behavior
[code]

## Expected Behavior
[code]

## Steps to Reproduce
[code]

### Failure Logs
I believe that [this commit](https://github.com/nrwl/nx/commit/e666d3fdf0655adbd6488d073c3ef530e8f40113) was the breaking change.

### Environment
Mac OS 12.0.1
Node 16.13.0
NPM 8.1.4

[2021-11-30 15:53] wrslatz opened #7954 "Support Cypress 9"
## Description

The next major version of Cypress, Cypress 9, has been released. Nx should officially support Cypress 9 and make any necessary updates.

## Motivation

Nx should support the latest Cypress version, as it includes
- security fixes
- bug fixes
- new features

## Suggested Implementation

See https://github.com/nrwl/nx/issues/6430 for the work supporting the last Cypress major version

[2021-11-30 16:02] devniel commented on #7950
sorry for the false alarm, it was because of the private npm registry that I'm using; adding a `.npmrc` with  the public registry solves it.

[2021-11-30 16:02] #7950 closed

[2021-11-30 20:59] Rafcin commented on #3051
This is also a really big pain point with AWS Amplify deployments. You can't stop the build process either.

[2021-11-30 21:17] Rafcin commented on #2219
@jcvalerio Sorry, did you manage to deploy a NX repo to Amplify? How did you manage that? I can't get it to deploy without it shitting the bed on the deployment step.

[2021-12-01 00:07] #7216 closed

[2021-12-01 00:19] jcvalerio commented on #2219
Hi! @Rafcin !!

👉  Currently, using  `@aws-amplify/cli` = 5.1.0 and `@nrwl/cli` = 2.5.8 the issue is gone.

When that issue appeared the workaround applied was:

Verify into the bash file if the exit code was different than zero, then, force the exit in the bash file.

[code]

Let me know if this help you or which are the versions you are using.
Regards

[2021-12-01 00:37] Rafcin commented on #2219
@jcvalerio Thanks for the info! I'm actually more confused on how you've been able to deploy the app at all. I'm using Next12 and NX for my app, and I can't even deploy.

The Amplify team say it's an artifact issue, although they have no solution at the moment.

How were you able to deploy to Amplify without running into build issues? Amplify always runs the build command even if you run NX build

[2021-12-01 00:39] nhhockeyplayer commented on #7326
not sure if its same but Im getting bit as well after yarn install

I changed my require calls to  "import * from 'abc' from 'blah'"

but no remedy

[code]

[2021-12-01 00:41] nhhockeyplayer commented on #7326
heres my decorate script if it helps

[code]

[2021-12-01 00:42] nhhockeyplayer commented on #7326
I also added to package.json this line at the top to no avail

[code]

[2021-12-01 00:44] nhhockeyplayer commented on #7326
If it means anything Im maintaining a large multi platform mono repo
and still stuck in build hell

be nice to get things like they were angular 11 prior stable

[2021-12-01 00:51] jcvalerio commented on #2219
Ok,

Sometimes the Amplify Console failed with no reason( at least clear for us 😄  ).
We faced artifact issues issues, like

- the size of the directory is more than X mb check [Amplify console build successful but fails to move to deploy](https://github.com/aws-amplify/amplify-console/issues/41)
- the number of files are bigger than X

So try using a single directory that you know has only one fi

[2021-12-01 01:03] Rafcin commented on #2219
@jcvalerio

I heard about the size issues but it's nothing I ever encountered. My original issues when deploying where Sentry and the rust compiler caused issues, but now the Amplify staff say npx serverless terminates without reason and later they said it was an artifacts issue.

I've tried everything from copying the .next folder into the package, I have pkg jsons in the apps to trick the build

[2021-12-01 01:10] jcvalerio commented on #2219
@Rafcin

Yes, we deploy a backend with amplify/cli, other things with serverless framework and the front-end is a React SPA

If you want share the amplify.yml  by email and I will take a look.

[2021-12-01 01:12] Rafcin commented on #2219
@jcvalerio I'd really appreciate that! I'll send you an invite, it might be easier + one of the issues I opened.
https://github.com/aws-amplify/amplify-console/issues/2377

[2021-12-01 03:14] ueqt commented on #7834
Same issue, and downgrading to 13.1.4,it worked, but show following warning
[code]

[2021-12-01 04:45] nhhockeyplayer commented on #7326
are we suppose to import this file?
meanstack02@admin starter % ls /Users/meanstack02/new/starter/node_modules/@nrwl/cli/lib/decorate-cli*
/Users/meanstack02/new/starter/node_modules/@nrwl/cli/lib/decorate-cli.d.ts
/Users/meanstack02/new/starter/node_modules/@nrwl/cli/lib/decorate-cli.js
/Users/meanstack02/new/starter/node_modules/@nrwl/cli/lib/decorate-cli.js.map

[2021-12-01 05:05] nhhockeyplayer commented on #7326
alright this is worth mentioning

Ok I put everything back

1. got rid of the package.json type: 'module' property
2. reverted my decorate-angular-cli.js file back and let it use the REQUIRE method for importing

now I can remove node_modules and yarn install clean

But this is what prompted me to go here in the first place

I write an API server which heavily draws off of entities and dto's and i

[2021-12-01 05:08] nhhockeyplayer commented on #7326
for reference here is my nestJS api server main.ts

souped up with seeded mini framework but that irrelevent

any assist is appreciated as to why and how my back end is failing on ESModules for this nrwl/nx  monorepo sporting angular apps and nestJS api servers

[code]

[2021-12-01 05:12] nhhockeyplayer commented on #7326
I do have plans to integrate NgRX on my backend api to make it like firebase reactive but Im not there yet

question is WHO is causing the load of @angular

has fesm2015 been coupled into angular too tightly?

how do I get out of this trap

[code]

[2021-12-01 05:23] nhhockeyplayer commented on #7594
I m getting nailed too

this ESModule design doesnt work... why would they release something like that

https://github.com/nrwl/nx/issues/7326

[2021-12-01 05:37] nhhockeyplayer commented on #7326
well it appears I did an 'nx migrate latest' week or so ago and got pre-empted and didnt fix it

and im caught in an 'nx migrate latest' whereby I ran migrations after and it failed

so question is WHY did it fail and how do I fix it... according to the log output it could not find my projects and all of the projects inside my jest-config.js are omitted now to this

[code]

can someone make sense

[2021-12-01 05:39] nhhockeyplayer commented on #7326
this is what my original jest-config.js looked like and has not been touched since last july

[code]

[2021-12-01 05:48] nhhockeyplayer commented on #7326
so this is what I did now

I re-constructed my jest-config to reflect whats in my project

and I reran migrations as above hoping it will fix everything

according to this new jest-config I reconstructed (im sure the adding/deleting of projects and libs has been spotty over past 2 yrs and it went out of sync)

[code]

[2021-12-01 05:49] nhhockeyplayer commented on #7326
well my migration is failing I listed partial output

is this a bug now?

Thanks in advance

[code]

[2021-12-01 05:56] nhhockeyplayer commented on #7326
I tried the following and nothing changed

[code]

im going to delete package.json and revert it back to earlier date prior to last migration and rerun after deleting node_modules and reinstalling to the original old package.json

results pending

[2021-12-01 06:23] nhhockeyplayer commented on #7326
Ok I induced a new migration emulating prior to original failed one hoping things get fixed up correctly

1. nx migrate latest
2. yarn
3. nx migrate --run-migrations

here is the output

`
meanstack02@admin starter % nx migrate --run-migrations

yarn install v1.22.17
warning ../../package.json: No license field
[1/4] 🔍  Resolving packages...
success Already up-to-date.
$ node ./decorate-angular-cl

[2021-12-01 06:28] nhhockeyplayer commented on #7326
Im going to repeat the migration again like I just did using the new jest-config

rm *lock*
rm -rf node_modules
yarn install
edit jest-config to be like this
[code]

it appears my jest-config had libs in it instead of projects or both?

[2021-12-01 06:39] nhhockeyplayer commented on #7326
after running nx migrate latest
ok im seeing new log messages... instead of run yarn Im seeing run 'npm install'
so it looks like the npm gang is at it again

[2021-12-01 06:40] Avcajaraville commented on #7901
@leosvelperez I am having just the same issue and I don't use `@angular-builders/custom-webpack: 12.1.3`.

This happens when importing something with an angular dependency.

In my case, I have an input component that also exports a validation message (for testing purposes). When importing this validation message (it is an exported const), It is then that this error pops.

@oco2000  any workaround

[2021-12-01 06:47] nhhockeyplayer commented on #7326
here is the output from my new migration attempt

[code]

[2021-12-01 06:48] nhhockeyplayer commented on #7326
exactly why I use yarn instead of npm

[2021-12-01 06:57] nhhockeyplayer commented on #7326
here is the output from (nx migrate --run-migrations )

failed no remedy as of yet

regardless of whats in my jest-config.js the migration process is still trying to find libs as projects

any help is appreciated I punched in hours on this

thanks

[code]

[2021-12-01 07:05] nhhockeyplayer commented on #7594
next try I performed the following
[code]

[2021-12-01 07:07] petrkrejcik commented on #3664
@JakeGinnivan

Oh yeah, it was that, thank you!

Do you know if there is something else that I need to setup (except the steps [in the docs](https://nx.dev/l/a/executors/creating-custom-builders) for building custom executors)? Currently the command doesn't throw any error but if I run `tsc` agains one specific file the error is thrown correctly.

<img width="972" alt="image" src="https://user-ima

[2021-12-01 07:11] nhhockeyplayer commented on #7594
still working this, trying migration again

[code]

[2021-12-01 07:24] asherccohen commented on #3051
Would a flow like this work?
- make local nx Dev dependencies into publishable libs and serve them on npm
- in Nx Dev make a custom command to just copy your next.js app to dist, with a slimmed package.json with only what's needed to build it.
- the slimmed package.json will be able to install your libs from npm
- simply push the dist/myNextApp to vercel
- not sure about this: look for a way to ke

[2021-12-01 07:30] always-maap commented on #3664
change this line in your impl
`const child = spawn(packageManagerCmd, ['tsc', '-b', libRoot], {`

[2021-12-01 07:43] Rafcin commented on #3051
For vercel you can just set the build script to be nx build appname --prod and it will work just fine.

[2021-12-01 08:08] petrkrejcik commented on #3664
@JakeGinnivan Again - thank you 👍

For anybody interested: this is a repo with working command `tsCheck`- https://github.com/petrkrejcik/nx-test
Steps to add it to your monorepo:
1. Copy `tools/executors/tsCheck`
2. Add to your `workspace.json` to all desired projects:
[code]
3. Run `nx run <appName>:tsCheck`

[2021-12-01 09:04] nhhockeyplayer commented on #7594
I appear to be building now...
ditched everythign webpack... buulders etc... REQUIRE...
slugging it out with numerous compile errors

I may have hacked my way thru

my last migration I had to fake it to make it

[2021-12-01 12:55] Raj-5497 commented on #7203
@kirjai  Any update about this??

[2021-12-01 13:35] Yohandah opened #7958 "TypeError: Cannot read property 'type' of undefined at Object.isNpmProject"
## Current Behavior
On some computers of my team, people are having this error :

Deleting Nx cache then relaunch the NestJS app makes it work again, but why is that occuring ? We didn't update since a while (v12.9.0) and the version is fixed.

## Expected Behavior
No error

## Steps to Reproduce
I don't know ... it occurs on some computers of my team but not all of them.

### Environment
[code]

[2021-12-01 13:37] Flusinerd commented on #7908
I can confirm this.
[code]

[2021-12-01 15:13] ywongcais commented on #7897
Seeing similar issue on some dev machines but not all.

Upgrade was from "12.10.0" to "13.2.3"

[2021-12-01 15:39] morgan-wild opened #7960 "Nest + Angular Template: Consider a Backend IS NOT an API."
When you create a new workspace including a NestJS backend and an Angular frontend, the backend it is automatically named "Api".

An API is an interface, not an app. I kwnow this bad designation is widely used, but it is not a reason ^^.
Using this name, you will be find a file named "api-interface" for example. But wait, what the I of API already means?

Fortunally, if you create a workspace aski

[2021-12-01 16:09] kirjai commented on #7203
i've been coming back to this issue occasionally, but haven't gotten it to a working state, sadly. the cause is still the same - changes made to the webpack config by `next-transpile-modules` and by Nx aren't really compatible at the moment, sadly

[2021-12-01 18:46] Murkantilism commented on #3803
This was re-introduced in NextJS v11.1.1 and fixed in 11.1.2, see here for details: https://github.com/vercel/next.js/issues/28579

[2021-12-01 21:34] rogerfar commented on #7844
This is not just an Angular problem.

I upgraded to 13 but none of my Jest files were changed during the upgrade.

If you run this repo:
[nxtest.zip](https://github.com/nrwl/nx/files/7637244/nxtest.zip)
`npm test testtest`

You will get this error:

[code]

[2021-12-02 02:55] yharaskrik commented on #7846
I can confirm I'm running into both the import issue and the esm issue. With my packages fully updated I get the esm, then it continues then fails with the import issue.

[2021-12-02 03:18] Rafcin opened #7962 "NextJS Amplify Deployment"
## Current Behavior
Hello! I'm trying to deploy 2 NextJS apps that are part of my NX monorepo to AWS using AWS Amplify hosting. I've tried deploying on Vercel and it works fine, however, I can't seem to get my project to deploy on Amplify.

**Note**
If you want to see my repo, let me know and I can send you an invite.

I'll try to break down the methods I've tried and layout everything as best I c

[2021-12-02 07:25] fnnzzz opened #7965 "Support of tailwind for buildable only libs"
## Description

Guys, hi. In PR https://github.com/nrwl/nx/pull/7285 you have already added support of tailwind for publishable libs, I would like to suggest do the same for buildable only libs.

## Motivation

In our case we use only buildable libs for incremental builds approach, currently we are using `patch-package` for directly patching `ng-packagr`. It looks like:
[code]

## Suggested Implem

[2021-12-02 08:08] admir86 opened #7966 "storybook can't resolve paths to other libraries"
## Current Behavior

Importing a module from lib `x` into a story of lib `y` does not work.
Storybook crashes with `ModuleNotFoundError: Module not found: Error: Can't resolve '@inova-test/common' in 'C:\Users\admir\source\repos\inova-test\libs\desktop\src\lib\navigation'`

## Expected Behavior

It worked before upgrading to v13. Should work like in v12.

## Steps to Reproduce

I created a new wor

[2021-12-02 08:25] ArielGueta opened #7967 "Regression: Can't use Angular Injectable static properties in Cypress"
## Current Behavior
After migrating to Nx13, when using Angular Injectable static properties in Cypress specs it throws this error:

[code]

## Expected Behavior
Should work without errors as it was before the upgrade.

## Steps to Reproduce
Create new Nx project with Angular. Create a todos library and export the following service:

[code]

Use it in a Cypress spec:

[code]

[2021-12-02 08:31] raymondpebble opened #7968 "RN android incorrectly caches javascript bundle despite edited library files"
## Current Behavior
The react native gradle build script caches the `bundleJsAndAssets` step and skips it if no source files have changed. However only source files in the project directory are checked for changes, so with Nx if a library is modified but not the app, the javascript changes do not make it into the build at all.

This leads to potentially shipping stale builds or worse builds where

[2021-12-02 09:01] leosvelperez commented on #7965
Thanks for reporting this!

There's a PR already open to address this https://github.com/nrwl/nx/pull/7961. Keep an eye on it for updates.

[2021-12-02 10:20] bjesuiter opened #7969 "[nrwl/workspace:move] Does not change 'dest' property in ng-package.json"
I used the nrwl/workspace:move command and the my build broke.
Reason:
The move generator did not adjust the output path in ng-package.json.

This MAY be my fault, I have to look up whether the angular generator has a move function.

But anyway, the `workspace:move` generator should output a warning in this case, that this move should be done via the angular generator, or better yet,
do the move w

[2021-12-02 11:16] #6924 closed

[2021-12-02 11:16] #7965 closed

[2021-12-02 11:47] #7883 closed

[2021-12-02 12:00] veloware commented on #3748
Also hitting this problem, if anyone has any idea?

[2021-12-02 12:46] pawel-popakul commented on #3203
I'm facing the same issue, what is its status?

[2021-12-02 13:09] artaommahe opened #7971 "@nrwl/angular:webpack-browser is slow in CI"
## Current Behavior

Using `@nrwl/angular:webpack-browser` in CI for building mfe apps is slow due to non-disabling `node_modules/.cache/nx/nxdeps.json` generation on build command startup (of 24Mb size for our repo). It's not required for regular builds and for our monorepo takes 3 minutes to start to build app.
Also reproduced on local machine after deleting nxdeps cache folder and running build

[2021-12-02 13:34] Hakhenaton opened #7972 "@nrwl/workspace:run-commands adds "--_=" argument to command"
Hello everyone.

## Current Behavior
When using the `@nrwl/workspace:run-commands` executor, the `_` key from the `parsedArgs` object is not ignored when performing argument substitution on the command.

This argument is automatically added by `yargs-parser` module, which is used internally by the executor.

We end up with commands looking like:

`some-command --_= --arg1=val1 --arg2=val2`

And it

[2021-12-02 13:35] laPlacek commented on #3203
same here

[2021-12-02 14:35] jkossis commented on #1018
Wanted to bump this as well. Let's take for granted the following entry-points within the same lib (and project.json):

- @foo/auth
- @foo/auth/login

When working within @foo/auth/login, the proper way to import something from @foo/auth (via its public api) is to use @foo/auth, and not its relative/deep import. This is explained [here](https://github.com/ng-packagr/ng-packagr/issues/987#issuecomm

[2021-12-02 14:44] #7863 closed

[2021-12-02 15:30] platon-rov opened #7974 "wrong build order after upgrading to nx 13"
## Current Behavior

I have the following structure of the libraries in monorepo

[code]

When I try to run `nx build platform` building some of its sub-packages failed with errors like

[code]

[code]

If I try to run `nx build core && nx build platform` it builds. So, if I have a cache for `core` then `platform` builds.

If I try to run `nx build platform-lib*` (which throws an error when I try

[2021-12-02 15:52] #7876 closed

[2021-12-02 19:05] arabull opened #7978 "Nx shouldn't require targets for "self" dependencies set up in the global "targetDependencies" block"
This admittedly straddles the line between bug and feature request, but I decided to go with bug due to how Nx behaves in other situations that differs from how it behaves here. I wouldn't protest if it were moved to a feature request, though.

## Current Behavior
Assume two projects, "one" and "two". Via implicit dependencies, project "two" depends on project "one".

Each project has a single `bu

[2021-12-02 19:34] DesuDes commented on #7613
Same situation but on nx 13.2.x, on serving the application the imports works but on build time, it fails.

[2021-12-02 19:37] criskrzysiu commented on #7613
You are probably still using other material imports. All imports of
material now are combined to one material @use ***@***.***/material' as mat;'

W dniu czw., 2.12.2021 o 20:35 Zeri ***@***.***> napisał(a):

[2021-12-03 04:02] kunjee17 commented on #7613
Any body successfully migrated project with Next and Angular both in it?

[2021-12-03 06:50] MatznRisto opened #7983 "nx cloud not updated during migration, gets an error"
Hi, hope this is not somewhere as an issue. Did not find it though.

Thank you for your good work.
## Current Behavior
When i migrate to nx next (current 13.3.0-beta.4) also the case before in beta.3, then i can't start any nx command. I get an error. When i update nx cloud to newest beta it works

## Expected Behavior
nx migrate next should also update nx-cloud to newest beta.

## Steps to Reprod

[2021-12-03 07:41] zoechi commented on #7423
@maxisam thanks, run into this myself.
Seems to be a bug somewhere that this is added with `\` instead of `/`, but I have no idea which part is responsible.
I added Storybook support to an existing Nx workspace.

[2021-12-03 09:02] nurbashanghai commented on #6891
have u find any solution? Im also facing this issue right now

[2021-12-03 09:14] VictorienTardif commented on #7846
I did not test yet but it should be fixed in latest Storybook release, see : https://github.com/storybookjs/storybook/issues/16759#issuecomment-985306563

And in next Nx release: https://github.com/nrwl/nx/pull/7917

[2021-12-03 10:18] nikbabchenko commented on #7966
most likely related to the following https://github.com/storybookjs/storybook/pull/16882

[2021-12-03 11:36] maxisam commented on #7423
@zoechi Glad I can help. Big fan of your posts on SO!

[2021-12-03 14:07] Wimpert opened #7989 "Generator migrate-defaults-5-to-6 fails for Nx13"
## Current Behavior

When using `nx g @nrwl/angular:storybook-migrate-defaults-5-to-6` in Nx13, I get the following error:

`Cannot find configuration for 'undefined' in /angular.json.`

## Expected Behavior
The generator should run without throwing an error.

## Steps to Reproduce

Try running Nx g @nrwl/angular:storybook-migrate-defaults-5-to-6 in any Nx13 workspace using storybook.

This issue

[2021-12-03 14:08] mandarini commented on #7989
Hi @leosvelperez here's the issue. I managed to reproduce in a new Nx 13 workspace using Storybook. Even if I do have the latest Storybook configuration, the migrator should not fail, it should exit gracefully. I assume this is related to the new `project.json` and `workspace.json` layouts. Let's look into it.

Thank you @Wimpert for finding this bug!

[2021-12-03 14:15] crates commented on #6891
@nurbashanghai - That depends. If you're having Kevin Vandy's problem, I can't help you. However, if you're having the same issue I was having (where the env vars don't populate for Cypress tests), you are in luck my friend!

I worked around this issue by manually bootstrapping the environment variables already available in my project, using the [env-cmd](https://github.com/toddbluhm/env-cmd) NPM

[2021-12-03 15:05] mandarini commented on #7989
So, this issue can be skipped if we use the `nx g @nrwl/storybook:migrate-defaults-5-to-6` directly, and not the `@nrwl/angular:storybook-migrate-defaults-5-to-6` generator. Will look into this eventually, but for now one should be good to use the workaround!

[2021-12-03 15:05] #7989 closed

[2021-12-03 16:53] literalpie opened #7992 "Unable to include styles in Storybook for Angular 13"
## Current Behavior
In Angular <=12, the @nrwl/storybook builder can be used to build storybook. Styles can be included by adding styles to a `"storybook:build"` architect in the angular.json. This was kind of "magic" (in a bad way), but it worked.

In Angular >=13, storybook made [this change](https://github.com/storybookjs/storybook/pull/16644#issuecomment-965645077) which no longer lets you set

[2021-12-03 17:07] Bielik20 commented on #7514
@leosvelperez This issue still persists, I have just tried with the newest version. THIS issue should be reopened and addressed. I still do not understand rationale for reverting your fix. Can you PLEASE give me some feedback on that?

[2021-12-03 17:33] Wimpert commented on #7989
@mandarini Thx a lot for the great support on this!

[2021-12-03 19:33] codeninja opened #7994 "nx run shared-ui:storybook fails after NX upgrade to @nrwl/storybook : 13.3.0-beta.8 & Webpack 5"
## Current Behavior

![image](https://user-images.githubusercontent.com/14914/144660371-c1e08146-91af-42cc-85f6-63b26c1b0680.png)

## Expected Behavior

Storybook builds and serves.

## Steps to Reproduce

Our main branch:
![image](https://user-images.githubusercontent.com/14914/144661357-5a62447d-8755-422d-8c75-9dc62fedb185.png)

Our upgrade branch:
[code]
![image](https://user-images.githubuserc

[2021-12-03 19:34] Hakhenaton opened #7995 "@nrwl/workspace:run-commands should not use execSync"
Hello everyone

## Current Behavior

@nrwl/workspace:run-commands is blocking the event loop when "parallel" mode is disabled or when using a single `command` key.

This is because the executor is using `execSync` internally.

## Expected Behavior

@nrwl/workspace:run-commands should not block the event loop, even when not using the `parallel` mode.

Commands that are executed serially should use

[2021-12-03 21:44] bansalrachita commented on #7777
I faced a similar issue when upgrading from `Nx 12 + Webpack 4` to `Nx 13`, was able to fix it with specifying targets explicitly to `['web', 'es5']` in the `webpack.config.js`.

Reference: [https://webpack.js.org/migrate/5/#need-to-support-an-older-browser-like-ie-11](https://webpack.js.org/migrate/5/#need-to-support-an-older-browser-like-ie-11)

[2021-12-03 22:58] sledorze commented on #2386
@benpsnyder when is this expected to happen?

[2021-12-03 23:26] mccool commented on #7834
minimal repo here: https://github.com/mccool/nx13-demo

Running `nx serve` gives me this error

[code]

Also, I'm seeing this error in my editor
<img width="339" alt="Screen Shot 2021-12-03 at 4 25 19 PM" src="https://user-images.githubusercontent.com/648237/144685577-c5ab126c-31fa-42ec-a9d6-d391f87ff584.png">

Thanks!

[2021-12-04 03:49] jensbodal commented on #1777
This looks great. Any idea why `nx` own repo has a package.json in the source code though? https://github.com/nrwl/nx/tree/master/packages/tao

[2021-12-04 08:51] wizardnet972 commented on #7819
Works in v13.2.3.

[2021-12-04 08:51] #7819 closed

[2021-12-04 09:23] Rafcin commented on #3929
Up

[2021-12-04 09:33] wizardnet972 commented on #7908
I don't know why, but when I run the storybook execute command with nx:
[code]
nx is compiling the `defaultProject` (located in nx.json) and not the target project (lib). and the styles in that application are applied to storybook as global styles.

In my opinion, it's wrong because I have another application using different global styles and they are not applied.

@mandarini can you please tell i

[2021-12-04 22:53] Sylphide opened #8008 "Problem detecting changes on affected commands in gitlab ci"
Hello everyone,

I am not entirely sure if I did something wrong or if it is a real problem but here it is:

When running affected commands on gitlab CI it doesn't seem to do anything.

For example: I am currently on a feature branch where I commited some changes on an app in my monorepo
Locally I am able to use the command `yarn affected:test` and it works as intended running test on the changed

[2021-12-05 00:06] LironHazan commented on #7862
@Coly010 The workaround works for me but I've tested the webpack/webpack#14827 fix and I'm still experiencing that issue

[2021-12-05 00:13] #7618 closed

[2021-12-05 00:13] #6885 closed

[2021-12-05 07:30] keverw commented on #4620
I noticed it doesn't add the NPM modules used to the `package.json` in the `dist` build output to publish as I expected. My thought is to just use the command to grab the NX deps and crawl it, then read the root`package.json` file and just sync it all up is my thought on how I'd work around this issue unless it's going to be tackled more in the future.

[2021-12-05 08:34] puku0x commented on #2299
Nx Console supports JSON schema for `workspace.json`/`angular.json` and `project.json`.
- https://github.com/nrwl/nx-console/pull/1077
- https://github.com/nrwl/nx-console/pull/1101

For `nx.json`, it is in progress🚀
- https://github.com/nrwl/nx-console/pull/1186

[2021-12-05 10:53] jaqua commented on #1777
@jensbodal Maybe I'm wrong, but `generatePackageJson` to create all dependencies in the package.json file works only on backend (e.g. nestJS), but not on frontend (e.g. nextJS). Like it has been said before: https://github.com/nrwl/nx/issues/1777#issuecomment-950822172

[2021-12-05 11:04] owen26 commented on #1777
Actually the generate package.json flag from nx builder does not always work. And that's why I got involved in the original discussion in this thread. Dependency detection is pretty complex topic. When you have a large monorepo with a hundred dependencies and a dozens of projects depends on each other. This flag will fail you at some point.

From my memory one of the popular ORM package Prisma was

[2021-12-05 11:49] fguitton commented on #1749
This is still of interest 💯 !

[2021-12-05 11:50] fguitton commented on #4446
This is still of interest 💯 !

[2021-12-05 13:03] nhhockeyplayer commented on #7613
Im kinda stuck... I usually migrate regularly and cannot run npm-check -uy thereafter

so my migration never completed properly and im stuck at nrwl 13 its ignoring all the packages too
hacking my way down
wish I could say better

[2021-12-05 13:06] AnubhutiRoX opened #8010 "Unable to load index.html of @nrwl/react:app in the application created using @nrwl/express:application"
## Current Behavior
I created three react projects as Microfront ends from nrwl/react:app and an express project using nrwl/express:app with frontendApplication as the react project.

app1 & app2 are exposing their components using ModuleFederation webpack plugin. And then finally I am consuming app1's n app2's components in app3 using ModuleFederation plugin. I have to wrap this app3 with node js

[2021-12-05 13:09] nhhockeyplayer commented on #7613
Im having better luck using this

I reverted my package.json back to 12 and tried to install and use npm-check -u to try to get something on deck with moving packages forward
but the npm gang you never know what they are caching beneath node_modules/.npm* state files

but Im seeing it work now using this thanks friend for that

NX_MIGRATE_USE_LOCAL=true nx migrate latest

its now bringing forward

[2021-12-05 13:11] nhhockeyplayer commented on #7613
this is my output

[code]

[2021-12-05 13:13] nhhockeyplayer commented on #7613
then I run yarn

[code]

[2021-12-05 13:19] nhhockeyplayer commented on #7613
so I ran migration but it keeps barking about my project files I feel are related to jest-config.js

[code]

[2021-12-05 13:20] nhhockeyplayer commented on #7613
here is my complete output from migration

[code]

[2021-12-05 13:23] nhhockeyplayer commented on #7613
so I dont know why its barking about my projects and libs

here is my jest-preset.js
[code]

here is my jest-config.js
[code]

here is whats living under my node_modules get-jest-projects.d.ts
`export declare function getJestProjects(): unknown[];`

so something isnt being picked up in my project due to my mono-repo build files Im unsure how to resolve this

[2021-12-05 13:41] spoilerdo commented on #3179
My whole project is not building anymore because of this, pls give me a fix

[2021-12-05 17:52] mrodrigues95 commented on #7983
Getting the same thing on my end on `13.3.0-beta.18`. Upgrading `@nrwl/nx-cloud` to `>=13.0.0` as the error suggests does not fix it either.

[2021-12-05 23:16] jannisg commented on #7777
Can confirm that setting the webpack `target` to include `'es5'` explicitly (`'web'`) appears to be the standard config from `@nrwl/react/plugins/webpack` will ensure the compiled output works as expected in IE11.

[code]

![image](https://user-images.githubusercontent.com/109211/144767886-d9e7a0ed-f4e5-432a-bd77-09e0742639a2.png)

[2021-12-05 23:23] jannisg commented on #7777
It's worth mentioning that setting `config.target` to either explicitly `'browserslist'` or deleting the target property entirely (`delete config.target`) in a custom webpack wrapper (as above) which is mentioned in the [migration docs](https://webpack.js.org/migrate/5/#need-to-support-an-older-browser-like-ie-11) @bansalrachita mentions above, ensures the browserlist config is correctly applied.

[2021-12-06 00:12] #5065 closed

[2021-12-06 06:27] wind4gis commented on #1541
emm...there are still a lot of people using vue2...how about support vue2 also?

[2021-12-06 07:57] Bielik20 commented on #4927
Keep alive.

[2021-12-06 08:20] iKrishnaSahu commented on #7942
I am also facing the same issue while running nx commands like affected.

@Exslims is there any workaround?

[2021-12-06 08:33] danr-za opened #8014 "Cypress - `--parallel` flag is omitted"
## Current Behavior
When running `nx run app:e2e --parallel`, the parallel flag is omitted

[code]

## Expected Behavior
The parallel flag should be passed

## Steps to Reproduce
* Create a repo with an app together with e2e
* Run `nx run app:e2e --parallel`

This issue may not be prioritized if details are not provided to help us reproduce the issue.

### Failure Logs

### Environment
[code]

[2021-12-06 09:13] maxime1992 commented on #3283
up

[2021-12-06 09:31] juristr commented on #7966
Thanks for reporting. I'm closing this as it is a duplicate of #7966. Let's track the issue there 🙂

[2021-12-06 09:31] #7966 closed

[2021-12-06 09:31] dzhavat commented on #4382
Please keep it active.

[2021-12-06 09:37] juristr commented on #7054
Closing this as it is a Storybook related issue that should have been addressed in this Storybook PR: https://github.com/storybookjs/storybook/pull/15744

The latest Nx version already upgrades you to the `6.4.0-rc.3` which should have this fix included. There have been other issues with that version that have been addressed by Storybook `6.4.5`, so you might want to upgrade. There's an automated

[2021-12-06 09:37] #7054 closed

[2021-12-06 09:41] juristr commented on #7558
@CWSites have you been able to create a repro? Also, just saw you have still this loader pushed to the Webpack configuration on the global `main.js`

[code]

In theory, the React Nrwl Storybook preset adds that already, so it shouldn't be required. I wonder whether that creates the issue in your case.

[2021-12-06 10:13] mandarini commented on #7989
@Wimpert [here's the MR](https://github.com/nrwl/nx/pull/7990) that solves the issue properly!

[2021-12-06 10:16] mandarini commented on #7992
Hi there @literalpie ! Maybe we could mark this as "feature request"?

[2021-12-06 10:17] montella1507 opened #8016 "Make dependencies and dependants more distinguishable in DEP-graph on hover"
Today, when you hover a project in Deph graph, you will have  highlighted all dependencies and dependants of the hovered project.

IT would be nice to use - for example  2 different colors to distinguish project dependencies and its dependats.

![image](https://user-images.githubusercontent.com/10418323/144828761-12c0b1fd-e7eb-479d-984e-1d5deeccb2cd.png)

[2021-12-06 10:49] mandarini commented on #7823
PR merged, so closing this! :)

[2021-12-06 10:49] #7823 closed

[2021-12-06 10:49] mandarini commented on #7846
PR merged, so closing this! :)

[2021-12-06 10:49] #7846 closed

[2021-12-06 10:53] leosvelperez commented on #7514
hey @Bielik20! Sorry if there was any confusion, but as I mentioned in [this comment](https://github.com/nrwl/nx/issues/7514#issuecomment-975385598), this issue remains closed because it's a duplicate of #7136. Please follow that one for updates.

My previous fix was wrong and it introduced a bug, that's why it was reverted, you can see the explanation of the introduced issue in the PR #7815 descr

[2021-12-06 11:32] andyjessop commented on #7951
I'm getting the same error. I assume that all commands have to be run from within a workspace.

[2021-12-06 11:43] aleixsuau commented on #3370
In my case, this error was appearing when moving a file to a newly created library. For example, moving from `libs/auth/domain/application/register.facade.ts` to a new library `libs/shared/data-access/auth/register/register.facade.ts`.

This operation removes `register.facade.ts` from the old location and creates a new one in the new location. Committing both changes (removing and creation) and ru

[2021-12-06 11:49] dbvcode commented on #7866
Same issue here. @leosvelperez your hack does indeed work, but won't something be 'lagging' if we skip that migration alone?

[2021-12-06 11:55] literalpie commented on #7992
I'm okay with that. I was on the fence in which it should be. I went with bug because something isn't possible that should be/used to be possible.

[2021-12-06 12:12] Wimpert commented on #7989
@mandarini awesome, thx!

[2021-12-06 12:15] leosvelperez commented on #7866
@dbvcode it's not exactly a hack, but rather the expected behavior. If you don't have a direct dependency on a package, you shouldn't be running a migration for it. The issue here is that the migrator tool is adding the migrations even though you don't directly depend on `@angular/cdk`, it's doing so because one of your dependencies does depend on it. I'll work on a fix to prevent adding migration

[2021-12-06 12:47] nhhockeyplayer commented on #7613
ok i figured why my libs were not being recognized as listed above

its paths declarations

my root path is different than whats defined

so migration works, if stuck you may have to shake it up like I did to get it to fly if your in a migration that failed

- which involves reverting your package.json back
- reinstalling packages that worked prior
- jarrign what npm is caching secretly under node

[2021-12-06 12:56] innoveltec commented on #7929
Hello would like to know if there is any news on this error? Kind regards, Gerry

[2021-12-06 12:57] LukasMachetanz commented on #7823
Thanks for tackling this. Everything works as expected now.

[2021-12-06 12:57] LukasMachetanz commented on #7846
Thanks for tackling this. Everything works as expected now.

[2021-12-06 13:01] nhhockeyplayer commented on #7613
I been following the competing frameworks since they started

- angular 2 was the first standard
- ngrx was the second standard
- nrwl/nx is the third standard

these standards will go for the next 30+ yrs just like JAVA did and come with great support and bulletproof for commercial less flanking ecosystem hits (npm gang, webpack gang)

I have seen the react coding style and it has functional clos

[2021-12-06 13:46] webia1 opened #8017 "Running migration "update-angular-config-v13" results in: "PropertyNameExpected in JSON at position 12007""
## Current Behavior

Running migration "update-angular-config-v13" results in: "PropertyNameExpected in JSON at position 12007".

## Expected Behavior

Migration is done sucessfully.

## Steps to Reproduce

[code]

This issue may not be prioritized if details are not provided to help us reproduce the issue.

### Failure Logs

[code]

### Environment

MacOS Catalina v10.15.7
Node v17.2.0
Npm v8.1.4

[2021-12-06 14:05] Bielik20 commented on #7514
@leosvelperez Thank you for responding I appreciate that.

I have seen the other issue https://github.com/nrwl/nx/issues/7136 I think it is very important and calls for a larger debate. That being said, I do not agree it is a duplicate of THIS issue.

https://github.com/nrwl/nx/issues/7136 is about target dependencies and handling arguments in that NEW approach. Here we are discussing behaviour wi

[2021-12-06 14:13] webia1 commented on #8017
Solved: There were some deprecated properties like "sourceMap, vendorChunk" etc., in the serve section.

[2021-12-06 14:13] #8017 closed

[2021-12-06 14:15] davidfmatheson commented on #7951
@andyjessop it will work if you are within a workspace, it's just it used to work regardless of where you were. I am realizing now that it never did report the version, though, which was the reason I would run that command. Anyway, the behavior changed between 13.2.2 and 13.2.3, so they can prioritize it however they want :)

[2021-12-06 14:32] normandjulian commented on #4579
I'm facing the same issue

[2021-12-06 15:20] leosvelperez commented on #7514
@Bielik20 you're absolutely right. I'm sorry, I missed the issues and forgot the original issue was about `--with-deps`.

I'm re-opening this and we'll have a look.

[2021-12-06 15:36] nevraydin opened #8018 "workspace.json with version 2 incompatible error"
## Current Behavior

`>  npm start --verbose`
[code]

———————————————————————————————————————————————

## Expected Behavior

## Steps to Reproduce
Just trying arrange workspace.json file when upgrade my nx workspace with nx 13. When adding more projects, I got an error like below. Is there any limit or something for this file?

**'project.json' files are incompatible with version 1 workspace schem

[2021-12-06 15:39] MichaelDeBoey opened #8019 "Support Remix"
## Description
Instead of Next.js, I want to be able to use Remix

## Motivation
Now that [Remix](https://remix.run) is released, it would be great to use it together with NX.

[2021-12-06 16:21] yharaskrik opened #8021 "@nrwl/js does not work with externalSchematic from angular devkit"
## Current Behavior

When using `@nrwl/js:lib` with the angular devkit we get an error

[code]

![YBoEzDGn jpg large](https://user-images.githubusercontent.com/9469090/144882238-bff5c022-861f-4dad-a941-2016a0acd138.jpg)

## Expected Behavior

I would expect it to work the same as `@nrwl/node` does and work with the angular devkit

## Steps to Reproduce

Repro
https://github.com/yharaskrik/nrwl-js-

[2021-12-06 16:43] hajekj14 commented on #7943
Same issue

[2021-12-06 17:01] AndrewTaftPlusone opened #8022 "workspace generator default ProjectName not inferred correctly on windows"
## Current Behavior
When attempting to use the projectName as source to a workspace generator inside a folder under the project on windows the correct project is not determined. It uses the workspace.json defaultProject value instead of the cwd location

## Expected Behavior
I would expect the project that "owns" the path of the cwd to be the projectName provided.
I don't think this has ever worke

[2021-12-06 17:38] AgentEnder commented on #8018
There's not a limit on workspace.json, so long as that version flag is set to 2 and such.

Can you link a reproduction repository? I've not been able to replicate the failure.

[2021-12-06 18:53] literalpie opened #8024 "Package builder does not allow components to import 3rd party scss"
## Current Behavior
When using `@nrwl/angular:package`  to build a library, it will fail if the library has a component that imports scss from node_modules. This is an issue with Angular 13, but was not an issue with Angular 12.

[code]

## Expected Behavior
The package should build successfully. Styles should be included in the component.

## Steps to Reproduce

Look at [this branch](https://gith

[2021-12-06 21:02] vincentpalita commented on #7805
Hello! We are experiencing the same issue here. After looking around it seems that to be able to use such runtime code we would need to use the Angular Linked in the cypress webpack-preprocessor config.
Would it seems reasonable?

[2021-12-06 21:50] vincentpalita commented on #7805
Ok finally got it working, as mentioned in Angular documentation you can configure webpack to use they Angular Linker babel-loader when you need to run code that would for example import 3rd parties libraries that would be pre compiled such as @angular/core for example.

With the following conf in the plugins/index file our project is finally working again smoothly:

[code]

[2021-12-06 23:13] #7858 closed

[2021-12-06 23:52] Tirke opened #8029 "jest 'setupFilesAfterEnv' with <rootDir> breaks libs tests"
Kind of same issue as #2344.
I have a monorepo with some nest apps and some libs.

## Current Behavior
root `jest.preset.js` is
[code]
package `jest.config.js` is
[code]

Running the test outputs an error
[code]

I believe that when a libs has a package.json, jest switches the `<rootDir>` to the directory where the package.json lives. Removing the package.json solves the issue, but I want to publi

[2021-12-07 00:54] MaximSagan commented on #2760
Unstale

I might see if I can take this one

[2021-12-07 01:08] #7886 closed

[2021-12-07 01:36] AgentEnder commented on #7969
The @nrwl/angular:move generator wraps @nrwl/workspace:move, adding some additional functionality. Adding checks inside @nrwl/workspace:move or warnings would warn when being ran from the angular move generator, and may not be needed if the project doesn't use angular.

So long as @nrwl/angular:move is doing the changes needed, this is working as it should.

[2021-12-07 01:36] #7969 closed

[2021-12-07 02:33] nartc commented on #7960
@morgan-wild Hi, thank you for voicing your opinions. I do share the same view. How can we make it better? Any action item/suggestion that you can think of?

[2021-12-07 03:39] yharaskrik commented on #8021
Repro added

https://github.com/yharaskrik/nrwl-js-angular-devkit-demo

[2021-12-07 06:50] #8021 closed

[2021-12-07 06:57] AgentEnder commented on #7958
Can you upgrade to 12.10.1 or 13 and then check if it still occurs?

I've not seen this particular error before but wouldn't be shocked it it's caused by an outdated plugin or similar.

Are you using any community plugins?

[2021-12-07 07:02] AgentEnder commented on #7951
@leosvelperez I'm sending this your way since you touched the logic recently. Do you care to move the ` if (!workspace ` logic up?

If --version actually worked it'd be ideal, but it's fine to just log the appropriate error message too.

[2021-12-07 07:08] AgentEnder commented on #7943
@danthedaniel you mentioned nx.json doesn't have taskRunnerOptions at all, can you paste an anonymized version of it here?

[2021-12-07 07:13] AgentEnder commented on #7931
Does the targetDependencies/ dependsOn option work for this?

You should be able to setup as something like

[code]

[2021-12-07 08:08] robinpellegrims commented on #3838
For future reference, here's an example of combining the `fetch` operator with a (feature) state selector:

[code]

[2021-12-07 08:09] Cuboctaedro opened #8032 "Storybook fails on clean install"
## Current Behavior
Storybook fails on a clean Next app inside a new workspace. I am getting this error:
ModuleNotFoundError: Module not found: Error: Can't resolve '../src/app' in 'C:\0_nelios\e-consierge\econcierge-nx\apps\hotel\.storybook'
and also an erro in the tsconfig of the Next app:
Referenced project '......./econcierge-nx/apps/hotel/.storybook/tsconfig.json' must have setting "composite

[2021-12-07 08:38] robinpellegrims opened #8033 "Improve documentation for DataPersistence operators run function state parameter"
## Description

The run function inside the options parameter of the datapersistence operators (fetch, optimisticUpdate, pessimisticUpdate) as described in the docs on https://nx.dev/l/a/guides/misc-data-persistence accepts a second parameter `state?: T`. The value of this state parameter is always undefined unless you use the (older, maybe soon deprecated?) DataPersistence service or provide the

[2021-12-07 08:52] chrisui commented on #3748
Working on a migration of a large repo with lots of small services (libraries) where I think it would be really great if nx had a first-class way of being able to run _any_ target as a persisted task (optionally daemonised) - ie. typically `"serve"`. That way I can ask nx to serve me my `www` app and then have nx, through my definition of dependencies, run serve on all the relevant dependencies.

[2021-12-07 09:44] leosvelperez commented on #7951
Thanks for reporting this!

I'll close the issue since it has already been fixed in https://github.com/nrwl/nx/commit/a4e97c735628b444a9b0358b21223a943c72b5b4. The fix should be released soon so please keep an eye on the releases.

[2021-12-07 09:44] #7951 closed

[2021-12-07 09:50] yardenxr commented on #2536
same issue here using version 13.2
"'rootDir' is expected to contain all source files."

[2021-12-07 10:28] MKashifSarbazi commented on #2767
Does nx support php laravel?

[2021-12-07 10:33] hajekj14 commented on #7943
@AgentEnder migration do not add taskRunnerOptions to nx.json, this is diff after migration:

[code]

after adding tasksRunnerOptions manually it works OK
[code]

[2021-12-07 11:04] richardsengers commented on #7613
Still unable to upgrade after all the above

[code]

[code]

[2021-12-07 12:20] nevraydin commented on #8018
I logged `resolveInlineProjectConfigurations `function in `ngcli-adapter`.js. When reading `workspace.json`, after the app key, it continues as string. It is only happen 500-600+ projects in `workspace.json`.

Github link: https://github.com/nevraydin/nx-examples/

[code]

Output
![image](https://user-images.githubusercontent.com/946627/145024844-eadf656a-017a-4def-9e50-891293809b75.png)

[2021-12-07 13:12] danr-za commented on #3069
Still present in v13.2.3 with Webpack 5
any news?

[2021-12-07 13:59] tamascsaba commented on #3936
I think i would be nice to repoen, because it is a valid problem on bigger test environment

[2021-12-07 14:14] leosvelperez commented on #7834
@mccool thanks for providing a repro! The key piece is that this only happens with `nx serve`, `nx build` works fine and that's why I couldn't reproduce it before. There was no mention of the command used and I wrongly assumed the issue was happening when building.

I'll look into fixing this.

That said, as mentioned in [this comment](https://github.com/nrwl/nx/issues/7834#issuecomment-977720732)

[2021-12-07 14:22] leosvelperez commented on #7967
Thanks for reporting this!

I'll close this one as it's a duplicate of #7901, please, follow that one for updates.

[2021-12-07 14:22] #7967 closed

[2021-12-07 14:29] kunjee17 commented on #7613
@richardsengers what was your process to upgrade it. Means steps if you can mentions? I am facing hard time doing it with above error I mentioned earlier in comment section.

[2021-12-07 14:59] puku0x commented on #8032
@Cuboctaedro I guess your console told you a useful message like following.

[code]

Resolving `../src/app` is the common use case of `@nrwl/react` but you need some modifications for `@nrwl/next`.

The first step is to fix the paths for stories.

[code]

You may need to modify `apps/**/.storybook/preview.js` (optional).

[code]

And add `.babelrc`. This means you cannot use SWC for Storybook.

[c

[2021-12-07 15:43] davidslaby commented on #7924
I have the same issue after migration to the latest version `13.2.3`.

[2021-12-07 15:44] richardsengers commented on #7613
1. Create seperate feature branch in git
2. Run command `nx migrate latest`
3. When finished run command `yarn` (yarn version 1.22.11)
4. When finished run command `nx migrate --run-migrations`
When migrations starts I also get  the messages

`Running migration migration-v13  Could not find TypeScript project for project:`

5. When migration finishes I start a project and the message appears:
[cod

[2021-12-07 16:03] AgentEnder commented on #8018
Gotcha, this is a known issue with greater than about 600 projects. It was fixed in #8026 yesterday 😃.

This will be included in 13.3's release.

[2021-12-07 16:03] #8018 closed

[2021-12-07 16:10] nevraydin commented on #8018
Thank you. 😁👍🏻

[2021-12-07 16:10] leosvelperez commented on #7971
Thanks for reporting this!

Could you please expand why do you think `nxdeps.json` is not required?

Nx creates a dependency graph of the workspace in order to properly analyze and schedule the tasks to run. The `nx-deps.json` file is a cache of this project graph and it's used to avoid re-computing the whole graph for subsequent command executions. Most likely, the time spent before building the

[2021-12-07 16:35] somebody1234 opened #8040 "Add `.env` (etc.) to `.gitignore`"
## Description

`.env` (and variants) should probably always be in `.gitignore`.

## Motivation

Anyone using `.env` will have to manually add it anyway - I don't think it would hurt?
And since this would ideally only happen at generation time, this shouldn't affect existing users.

[2021-12-07 16:35] twittwer commented on #7960
Maybe use `server` or `backend` as default name for the generated nest app and put the `Message` interface in a `shared-interfaces` lib as `message(.interface).ts`

[2021-12-07 16:40] kunjee17 commented on #7613
@richardsengers  thanks man. Basically update few things manually and then try to update using migration. I will give it a try. Thanks a lot for help.

I m using npm instead of yarn so it would be `npm i` for me I guess.

[2021-12-07 16:43] #8024 closed

[2021-12-07 16:43] morgan-wild commented on #7960
Hi everyone and thanks for your fast replies.

I think the best way to do is to ask a name for the NestJs app with 'backend' as default choice.

[2021-12-07 16:44] AgentEnder commented on #7943
Hey, I just looked into this and it was fixed in https://github.com/nrwl/nx/pull/7814, and will be part of 13.3's release. Thanks for reporting this!

I'm going to close out this issue, since the fix has been merged. Feel free to open a new issue if something else comes up, or let me know if you feel the issue needs to be reopened.

[2021-12-07 16:44] #7943 closed

[2021-12-07 16:48] hajekj14 commented on #7613
npm ci failed on postinstall after upgrade:
[code]

[2021-12-07 16:50] AgentEnder commented on #7942
Hey, I just looked into this and it was fixed in #7814, and will be part of 13.3's release. Thanks for reporting this!

I'm going to close out this issue, since the fix has been merged. Feel free to open a new issue if something else comes up, or let me know if you feel the issue needs to be reopened.

[2021-12-07 16:50] #7942 closed

[2021-12-07 16:56] AgentEnder commented on #7923
Hey @romankh. Have you figured this out since reporting?

If not, can you paste the target configurations for the app + lib combination that is causing the breakage here?

[2021-12-07 16:58] AgentEnder commented on #7921
@puku0x nailed it, Nx < 13.3 doesn't support eslint 8. This will be released soon, but I'm going to close the issue since this has been merged already.

Let me know if you have any other questions, or need the issue reopened.

[2021-12-07 16:58] #7921 closed

[2021-12-07 17:02] AgentEnder commented on #7893
Hey, Thanks for reporting this!

I'm going to close this since it has been fixed in latest master branch. If you are experiencing any other issues, feel free to open another issue.

[2021-12-07 17:02] #7893 closed

[2021-12-07 17:08] mandarini commented on #7908
Hi there! I'll try to take a look into this, this week. Thanks for reporting

[2021-12-07 17:15] nartc commented on #7872
Hi @alonronin , can I have more information? Or a repo to replicate this? I'm seeing the issue with ESM and want to figure out the steps to get to the error.

[2021-12-07 17:25] AgentEnder commented on #7839
Hey @cichy380. Nx 12.0.0 didn't support angular 12, support was added in 12.3.0

Try `nx migrate 12.3.0`, or `nx migrate 12.10.1` to get the most benefit out of v12. If the reasoning for not going up to 13 is that you need Angular v12, you can migrate up to 13.1.x, which is the latest feature version with angular 12 support.

[2021-12-07 17:25] #7839 closed

[2021-12-07 17:33] AgentEnder commented on #7833
Hey @ruslan-byondxr! Generator's trees can access any and all files underneath the workspace root. For example, a simple generator to create an app-shell and routing lib in angular may be something like

[code]

[2021-12-07 17:33] #7833 closed

[2021-12-07 17:36] AgentEnder commented on #7831
This looks like its likely an issue with the `@twittwer/compodoc` plugin. Can you open an issue on [the plugin repo](https://github.com/twittwer/nx-tools), for them to investigate? Thanks

[2021-12-07 17:36] #7831 closed

[2021-12-07 18:50] yuchant commented on #5605
Nevermind, no longer works even with blank main.tsx on 13.1.4

[2021-12-07 19:06] Coly010 commented on #7905
It's related to Angular 13 switching to ESM.

Fix is being worked on: https://github.com/nrwl/nx/pull/8020

[2021-12-07 19:12] codeninja commented on #7994
FYI: For anyone else who runs across this, I fixed it by removing @storybook/react and re-installing it. Somehow @storybook/react was including @storybook/core-common from an older version and webpack picked it up and brought it in.

TLDR: Nuke your packages and install @storybook fresh.

[2021-12-07 19:12] #7994 closed

[2021-12-07 19:36] solarfrantz opened #8044 "Add processing environment variables via {env.variable} to @nrwl/workspace:run-commands beside {argv.variable}"
## Description
Right now it's already possible to process arguments in `@nrwl/workspace:run-commands` but I think it would be useful to allow processing also of environment variables.

## Motivation
Possibility to pass variables via the environment. Right now I have a use case where I wanted to pass some variables processed from an executor to a docker command and the only way I see to share those

[2021-12-07 20:07] artaommahe commented on #7971
@leosvelperez  some questions

1. How nxdeps is used for regular build with nrwl angular builder? Computation caching and buildable libs?
2. How can we cash nxdeps between pipelines? 3+ minutes to each pipeline are too much :( Will it be revalidated and updated e.x. if we re-create it once a week for a main branch and reuse from cache for branches pipelines?

[2021-12-07 22:37] amosbastian opened #8047 "Support for the experimental syntax 'jsx' isn't currently enabled"
## Current Behavior

When running Storybook in my monorepo I get the following error:

[code]

## Expected Behavior

Storybook used to work fine, but has been giving me problems for the last month or longer. I had [another issue](https://github.com/nrwl/nx/issues/7640#event-5677970007) recently, which was fixed, but with the new update came this error.

## Steps to Reproduce

Clone https://github.

[2021-12-07 22:50] youngha-sung commented on #3953
Any update on this yet?

[2021-12-07 22:54] meeroslav commented on #8008
Your `base` param is most likely not correct. Base refers to branch name or commit against which you are comparing to.
[code]

For `PR` this should be the result of `git merge-base origin/master HEAD` - the moment in `master` history from which you branched out. If you set `base` to be just `master` you might end up with some odd affected results.

For `commit to main branch` base is usually `HEAD

[2021-12-07 23:05] puku0x commented on #8047
Adding `.babelrc` may be a workaround.
https://github.com/nrwl/nx/issues/8032#issuecomment-988004844

[2021-12-07 23:33] amosbastian commented on #8047
I have a `.babelrc` for my shared Storybook, but you are right, adding `"@nrwl/next/babel"` to `.babelrc`'s `presets` actually makes Storybook run properly, however it stops being able to find any stories.

[2021-12-07 23:46] #8047 closed

[2021-12-08 01:00] SvenBudak commented on #4753
Any News? my whole team was trying for hours today to find the problem... finally we saw that its just a bug...

[2021-12-08 04:20] lourd opened #8051 "color option for run-commands executor doesn't work"
## Current Behavior

The [`color` option](https://nx.dev/l/a/workspace/run-commands-executor#:~:text=See%20example%20above-,color,-Default%3A%20false) for the run commands executor doesn't have the intended effect.

## Expected Behavior
Terminal output should have colors when it's set to true; I'm assuming this is a regression.

## Steps to Reproduce
1. Create a new workspace
2. Create an applicat

[2021-12-08 08:09] westmark commented on #7866
@leosvelperez I get roughly the same error message, but when I run `nx migrate latest`, so no `migrations.json` is ever generated. Any tips for me?

[code]

[2021-12-08 09:37] dbvcode opened #8053 "Workspace does not dectect code changes"
## Current Behavior

Workspace does not detect changes in code when compiling for production.

I had an older NX project with an angular app, a few nodejs apps and a few workspace and angular shared libraries.
I created a new workspace from scratch with the latest NX and added one by one all the apps from the old project.
I did this creating a new app or library with the NX Console from VS Code th

[2021-12-08 09:49] slaven3kopic commented on #6842
Any news on this?

[2021-12-08 09:54] daniel-cpl commented on #6842
We are experiencing the same issue

[2021-12-08 09:57] dbvcode commented on #8053
Sorry about this.
All works well and as expected.
The issue was a script that was compiling the app and pushing the production build to the server was actually looking on the old project folder.

Cheers and keep up the good work!

[2021-12-08 09:57] #8053 closed

[2021-12-08 09:59] solshark commented on #1744
Why this is closed?

[2021-12-08 10:00] stefancplace commented on #6842
had the same problem recently ...

[2021-12-08 10:25] leosvelperez commented on #7971
@artaommahe see answers below:

1. As explained in the previous comment, Nx uses the project graph to properly schedule tasks to run based on dependencies and target dependencies configuration. It also uses it, as you mentioned, for computation caching and to determine the buildable libs dependencies.
2. It depends on your pipeline setup. The gist of it is that you need to store it somewhere and p

[2021-12-08 11:30] innoveltec commented on #7929
Hello @mandarini sorry for asking again but is there already some news on this error i am having? This is blocking me of moving to the newest nx version with angular 13 :-)

[2021-12-08 11:36] artaommahe commented on #7971
@leosvelperez so the usual CI pipeline with nrwl/nx should always spend N minutes (more for bigger repos) to generate nxdeps for current repo state for following commands proper execution?

[2021-12-08 11:57] Exslims commented on #7942
Thank you!

[2021-12-08 12:18] Cuboctaedro commented on #8032
I have managed to make it work without errors folowing the working sample. In the file apps/**/tsconfig.app.json I had to move the .stories files to include to stop getting an error in all of them. The sample is realy helpfull, maybe it should be mentioned in the docs.

[2021-12-08 12:19] leosvelperez commented on #7971
@artaommahe it should only take minutes for bigger repos, but yes, Nx will create the project graph from scratch for the first command run in the same agent. After that first command, any following command executed in the same agent would consume the cached project graph.

As I mentioned previously, you can run your commands with `NX_PERF_LOGGING=true` to output perf logs and see where the time is

[2021-12-08 13:33] the-ult commented on #6574
This would indeed be great.

Atm we are creating multiple internal libraries (auth, logging, error-handling, UI,etc)
And using the NX recommended way with multiple feature/ui/data-access libaries.

For example, when we wish to publish our `auth` library, it has peerDependencies to:
- auth-provider/keycloack
- auth-data
- shared-data
- shared-environment
- shared-utils

In this case we would like o

[2021-12-08 14:35] renatoaraujoc opened #8055 ""nx list @angular/material" or "nx list @nrwl/angular" does not show any capabilities"
## Current Behavior
When issuing `nx list @angular/material` or `nx list @nrwl/angular` it shows the below:

![Captura de Tela 2021-12-08 às 11 23 21](https://user-images.githubusercontent.com/358128/145226114-06a60183-86ab-4f8c-b562-f9c5dccf91d1.png)

## Expected Behavior
The expected behavior is to show all the generators for these plugins.
I did not this command to other plugins so I cant tell

[2021-12-08 14:36] iKrishnaSahu commented on #7843
Facing the same issue.

@dean-g, @tomalaforge  Did you guys find any root cause/solution/workaround?

[2021-12-08 15:22] #7834 closed

[2021-12-08 15:25] tomalaforge commented on #7843
@iKrishnaSahu nice to see that I'm not alone.
No, I cannot find any solution to this issue.

And I'm sure many other are facing this issue.
If you have a large test set and run it with --detectOpenHandles, you will maybe have it.

[2021-12-08 15:43] davidslaby opened #8058 "Getting error of webpack plugin: UnhandledPromiseRejectionWarning: TypeError: Cannot read property 'get' of undefined"
Entire error message:
[code]

Version of nx: `13.2.3`

**Steps to reproduce**

I've added external script in build configuration:

[code]
Example: https://github.com/sc-mavirdol/nx-scripts-wb4/blob/main/workspace.json

The purpose is to inject env variables in runtime.

After this script has been added, serve hot-reloading stopped working, and I'm getting error above in case of some change in code

[2021-12-08 15:46] mccool commented on #7834
@leosvelperez Thanks for pointing that out! The docs have grown and I haven't seen this change. I've been using nx for a while so some of the docs I haven't seen in a while. I am looking forward to migrating from 12.10 to 13 and will make sure to update all my effects files to use these methods directly from @nrwl/angular. Thanks again and have a great week!

[2021-12-08 16:05] davidslaby commented on #8058
[code]

[2021-12-08 16:15] morrisjdev opened #8059 "Rule 'enforce-module-boundaries' should not error 'noSelfCircularDependencies' for angular libs with secondary entrypoints"
## Current Behavior
When using angular libraries with secondary entrypoints and importing things from another secondary entrypoint of the same library, the eslint rule 'enforce-module-boundaries' errors with the violation 'noSelfCircularDependencies'.

## Expected Behavior
The rule 'enforce-module-boundaries' should not get violated by a secondary entrypoint importing another entrypoints exports,

[2021-12-08 16:16] cjones26 commented on #3203
We are also encountering the same issue -- maybe I'm not following but how does https://github.com/storybookjs/storybook/pull/15744 relate at all?

[2021-12-08 16:33] #8055 closed

[2021-12-08 17:45] alonronin commented on #7872
@nartc sure, here is an example repo:
https://github.com/alonronin/esm-nx-example

[code]

[2021-12-08 18:18] Sylphide commented on #8008
Thank you for your response, I just resolved my problem by cleaning up my dependencies. I think there was a version mismatch between my different @nrwl plugins making every nx commands fail silently. It was happening even in my local environment after reinstalling deps. I ended up removing my lockfile and my node_modules and after reinstalling deps I did an `nx migrate latest`. After that everythi

[2021-12-08 18:54] ApplY3D opened #8060 "jasmine-marbles 0.9.x is required for RxJS 7+"
## Current Behavior
Tests for @ngrx/effects are failed

## Expected Behavior
No tests failed

## Steps to Reproduce
Run @ngrx/effects tests

### Failure Logs
[code]

### Environment
[code]

[2021-12-08 19:41] jensbodal commented on #1777
Sure but that wasn’t my question. I was wondering why `nx`’s own repo has a package.json instead of using this flag.  But sounds like as @owen26 put it the flag is not entirely reliable so I assume this is also a supported way of adding a package.json to an individual app?

[2021-12-08 20:06] #7746 closed

[2021-12-08 20:32] gioragutt commented on #3231
Any update on that happening?

[2021-12-08 20:33] AgentEnder commented on #3231
This is still something that I'd like to get back to implementing, but don't have the capacity at the current moment.

[2021-12-08 20:48] Saafine commented on #7901
I am having the same issue (Migrating Angular from 12 to 13).
Steps to reproduce were provided in: https://github.com/nrwl/nx/issues/7967

Let me know if there are any workarounds 🙏

[2021-12-08 20:57] chrisui commented on #6344
Seems like an ideal place to ask where the `"{}"` syntax in `targets[].outputs[]` comes from and why the syntax for variable expansion would not be consistent?

Eg.

[code]

[2021-12-08 21:21] gioragutt commented on #3231
@AgentEnder From what you can currently estimate, how much would such a task take? And how much longer would it take for a non-core contributor?

[2021-12-08 21:38] AgentEnder commented on #3231
I don't think it would be a tremendous lift to get working, but there would be a lot of cleanup work to go with it. The way I would currently approach the problem (assuming the others on the team agree w/ the approach), would look something like this:

1. Update logic for generate (`nx g ...`) to use an extended resolver instead of just require.resolve. The extension would look over the files in t

[2021-12-08 23:41] gioragutt commented on #3231
@AgentEnder awesome man, really cool to hear about the thought process for something like that.

For now, I've been able to overcome my issues by having a generator built with `workspace-generator`, and for the executors I did the following:

1. Created a plug-in with an executor.
1. Added a target that builds the plug-in using 'run-commands'
1. Added a target to another lib that uses this executo

[2021-12-08 23:54] AgentEnder commented on #3231
Yeah definitely. The implicitDeps + target dependencies is definitely my recommendation, and is the current best DX. I mostly work on web apps, hadn't thought about the generatePackageJson causing that. Perhaps opening another issue for implicit dependencies to be ignored by generate package json could get handled quicker?

[2021-12-09 00:04] gioragutt commented on #3231
@AgentEnder

Yes, I can definitely do that.

[2021-12-09 00:25] gioragutt opened #8065 "`implicitDependencies` added to package.json when using `@nrwl/node:package`"
Related to #3231

## Current Behavior

Given the following `workspace.json`

[code]

Running `yarn generate-sources my-openapi-client-lib` generates source code inside the lib folder
Then, running `yarn build my-openapi-client-lib` packages the code.

If the `my-openapi-client-lib:build` executor were to be `@nrwl/node:package`, that would be the output package.json:

[code]

I wrote the following

[2021-12-09 00:25] gioragutt commented on #3231
@AgentEnder ☝🏻 LMK if something else is needed

[2021-12-09 00:44] Lonli-Lokli commented on #5922
It's not stale

[2021-12-09 05:24] asit-prakash commented on #3069
I ended up fixing it by modifying my imports. I am not adding entries in index.ts anymore instead directly import the desired component.
example: import Modal from  @shared-lib/components/Modal

The drawback is I can't use restructured imports but this solved the bundling issue.

[2021-12-09 08:42] david-morris commented on #7662
[code]

I'd like to note, we have our `nx` installed in our container's `devcontainer.json`:
[code]
[code]

[2021-12-09 09:23] meeroslav commented on #8008
Thank you for letting us know. I will close this issue then.

[2021-12-09 09:23] #8008 closed

[2021-12-09 09:46] #7136 closed

[2021-12-09 09:46] #7514 closed

[2021-12-09 09:58] leosvelperez commented on #7866
@westmark that's a separate issue, it doesn't happen when running migrations but rather at the start, when the migrations are going to be collected.

Try running `NX_VERBOSE_LOGGING=true nx migrate latest` and see the logs, that might print more information on the actual issue.

[2021-12-09 10:00] leosvelperez commented on #7901
We are looking into this. This is broken due to the Angular packages now only being distributed with ESM. There's an issue open in the Cypress repo tracking this and there's [this comment](https://github.com/cypress-io/cypress/issues/19066#issuecomment-981751070) with a workaround for those of you that are importing from `@angular/cdk` directly in your Cypress tests.

If you are importing code fro

[2021-12-09 10:41] jk2Bolverk commented on #1777
@RogierdeRuijter regarding depcheck:
Let's say you have an angular app and a nestJS app in your monorepo. Now depcheck checks your package.json to find out whether all those listed packages are actually used by your apps. It finds angular/cli is being used because of your frontend app and it sees that some nestJs packages are being used by your backend app. So when you e.g. want to create a Docker

[2021-12-09 11:34] westmark commented on #7866
Sadly, I get zero additional output. But I found #5672, which seems to be the same issue. I'll follow that instead

[2021-12-09 12:42] Graveheart commented on #6891
We're having the same issue right now, using Azure pipelines. All environment variables set with a .env file are gone, it would be great if this gets addressed.

[2021-12-09 12:50] Coly010 commented on #7905
#8080 has been merged. It should be released with Nx 13.3. Once it does, try it out and let me know how it goes.

It's recommended to use Yarn when using MFEs with Angular due to Webpack version hoisting

[2021-12-09 12:51] #7905 closed

[2021-12-09 13:14] adam-marshall opened #8072 "Purging Tailwind in a Nx monorepo for multiple Angular apps has unclear documentation and may need attention"
### Discussed in https://github.com/nrwl/nx/discussions/7936

<div type='discussions-op-text'>

<sup>Originally posted by **adam-marshall** November 29, 2021</sup>
Hi,

I wasn't sure what to do for help so I created a SO issue https://stackoverflow.com/q/70153513/1061602

**tl;dr:** using `createGlobPatternsForDependencies` with `tailwind.config.js` at workspace level with `__dirname` doesn't seem

[2021-12-09 13:27] Coly010 commented on #7869
From Angular 13, `deployUrl` has been removed from the serve schematic: vkit/build_angular/src/builders/dev-server/schema.json

You can see it was removed in this commit: https://github.com/angular/angular-cli/commit/000b0e51c166ecd26b6f24d6a133ea5076df9849#diff-c33363a77510a5b77cbf88f5e5fb678c8d74e8b8f72ae79035015ccb2a8b0155

Therefore we have also removed it.

[2021-12-09 13:27] #7869 closed

[2021-12-09 14:15] playnox opened #8073 "Fails to serve with @nrwl/web:dev-server"
The stack produces an error when **serving** project with **@nrwl/web:dev-server**
However it loads with **@nrwl/angular:webpack-server** whats the difference ?!?

## Current Behavior
**nx serve** trows an error:

[code]

## Expected Behavior
Has to load with no errors...

## Steps to Reproduce

Create new nx as new Angular project
`yarn create nx-workspace --package-manager=yarn`

Install missing

[2021-12-09 14:46] #7866 closed

[2021-12-09 14:59] adam-marshall commented on #8072
related to https://github.com/nrwl/nx/issues/3610 in that we would also want a nice way of turning on purging for production builds, but not otherwise, and it doesn't work currently with

`enabled: process.env.NODE_ENV === 'production'`

[2021-12-09 15:08] #8060 closed

[2021-12-09 15:57] daton89 commented on #2784
@JamesHenry the link you posted lead to a 404 page, can you provide an updated link?

[2021-12-09 16:12] DavidGamba opened #8078 "workspace.json is not normalized, introduce a key to specify project.json and normalize workspace.json"
## Description

As per the documentation here: https://nx.dev/l/n/core-concepts/configuration#projectjson
A project can be defined inside the workpace.json in two ways, fully explicitly or by giving a string to the project.json location:

[code]

This leads to a workspace.json file that can have values of type "string" or an object/struct.
This breaks other tools trying to parse the file, and it i

[2021-12-09 16:15] paxforce commented on #208
Is there a way to 'inject' stuff into modules and use it there, @vsavkin ?
I created a [stackoverflow question](https://stackoverflow.com/questions/70250011/nx-angular-resolve-dependency-in-module), I'd appreciate an answer on stackoverflow, or here :)

[2021-12-09 16:27] AgentEnder commented on #7662
@david-morris In this case it looks like `latest` is not being inferred. Try `nx migrate latest` instead of just `nx migrate`

[2021-12-09 17:15] AgentEnder commented on #8073
Hey @playnox! Can you paste the target configuration here? The schemas are slightly different between the two executors IIRC

[2021-12-09 17:29] AgentEnder commented on #8078
Hey @DavidGamba!

Generally workspaces pick one of the formats and stick with it, with very few actually choosing to mix and match (though it is supported). For any tool which is distributed outside of a single Nx monorepo, I would **_strongly_** recommend using either `readWorkspaceConfiguration` from `@nrwl/workspace`, or the `Workspaces` class from `@nrwl/tao/src/shared` for reading `workspace.

[2021-12-09 18:00] playnox commented on #8073
Everything out of the box... no changes done to any options besides mentioned in **Steps to Reproduce**
[code]

[2021-12-09 18:01] smasala opened #8081 "Angular 13 and MFE breaks with Cypress"
## Current Behavior

The `styles` defined in `angular.json` cannot be injected `default value = inject:true`.
Causes the test to fail completely.

## Expected Behavior

## Steps to Reproduce
1. Create a **fresh** nx workspace
2. add an angular app with mfe preconfigured
3. run e2e tests.

The nx custom webpack config breaks the tests. Remove the custom webpack config and the e2e tests work again.

[2021-12-09 18:05] AgentEnder commented on #8073
The different executors options are slightly different. Particularly, you want to use buildTarget instead of browserTarget.

https://nx.dev/l/n/web/dev-server
https://nx.dev/l/n/angular/webpack-server

[2021-12-09 18:18] playnox commented on #8073
Updating params did resolved an issue, however it's now throwing this one https://github.com/nrwl/nx/issues/5736

[2021-12-09 18:23] AgentEnder commented on #8073
Ok, thanks for confirming. I'll close this issue out, since the other issue is already being tracked.

[2021-12-09 18:23] #8073 closed

[2021-12-09 18:46] wizardnet972 opened #8083 "Couldn't find component at path to add SCAM setup."
## Current Behavior

When I try to create a new scam component I got an error:
[code]

Also, I get the capital letter "C" in the schematics field:
in type Adds a developer-defined type to the filename, in the format "name.type.ts".

## Expected Behavior
I would expect to generate a new component.

## Steps to Reproduce

[code]

This issue may not be prioritized if details are not provided to help

[2021-12-09 19:27] DavidGamba commented on #8078
Hi @AgentEnder, thanks for getting back to me.

The problem with the approach of having to go through the javascript/typescript libraries is that you alienate other languages in a tool used for monorepos.

As for future updates, the workspace.json file does include a version number so it is just a matter of incrementing that to notify of schema changes.

I don't think verbosity trumps correctness

[2021-12-09 19:29] AgentEnder commented on #8078
The current format can certainly be validated w/ json schema, as nx-console provides such a schema to vscode. Let me see if I can grab that example.

[2021-12-09 19:36] AgentEnder commented on #8078
Here's the schema that we use there:
[code]

[2021-12-09 19:39] AgentEnder commented on #8078
As for the use of the libraries alienating other languages, those are just what we provide to make parsing the file easier. You could do so on your own, or write a thin node script wrapper that is essentially just something like

[code]

[2021-12-09 19:58] kylecannon opened #8085 "NX upgrade from 13.2.4 to 13.3.0 broke building libs"
## Current Behavior
After upgrading to 13.3.0 from 13.2.4, I am unable to build or serve projects

## Expected Behavior
would be able to build and serve.

## Steps to Reproduce

This issue may not be prioritized if details are not provided to help us reproduce the issue.

### Failure Logs
[code]

### Environment
[code]

[2021-12-09 20:11] kylecannon commented on #8085
seems to be related to https://github.com/nrwl/nx/pull/8028

[2021-12-09 20:24] kylecannon commented on #8085
I also want to add that I can not reproduce this from a clean install of 13.2.4 and migrating to 13.3.0. This issue only seems to be happening on our project. I'll continue to look into it.

[2021-12-09 22:26] kylecannon opened #8093 "Forwarding incompatible args to target dependencies breaks builds"
## Current Behavior
When running a command such as `yarn nx build my-app --prod --no-progress --deploy-url=/dist/5.14.0-0/ --output-path=/my-path/` with buildable angular dependencies it will cause target builds to fail with messages such as:

[code]

or

[code]

[code]

With this current issue, I believe it's impossible to use 13.3.0 to build production builds with custom deployment arguments.

#

[2021-12-10 00:12] #7615 closed

[2021-12-10 00:12] #7545 closed

[2021-12-10 00:12] #3924 closed

[2021-12-10 02:11] dean-g commented on #7843
I am not sure the following thing help, but you can try this,

TestBed.configureTestingModule({
  teardown: { destroyAfterEach: true }, // 👈
  // (...)
});

[2021-12-10 02:35] AgentEnder commented on #8085
The PR looks good to me, e2e failures are unrelated. @FrozenPandaz do you want to merge this or wait for e2e fixes in storybook and merge later

[2021-12-10 04:58] DavidGamba commented on #8078
Thanks for the responses. TIL that `oneOf` was part of a valid JSON schema.
I still think that it would be great if the schema didn't involve `oneOf` and tools like `jq` could just parse it.

There is no way to represent that datastructure in other languages like Go Strucs so unmarshalling requires two steps and a type assertion too.

But I do appreciate you having taken the time to explain the ra

[2021-12-10 06:00] yharaskrik commented on #5186
I think this is still relevant.

[2021-12-10 07:19] zoechi commented on #5655
@leosvelperez what if the target doesn't need a builder?
I have an angular library module that only contains styles.
It needs `architect.build.options.styles so that the styles can be used in other modules, but the other entries like
builder,
options { outputPath, index, main, tsConfig }
don't make any sense here

[2021-12-10 07:19] effinrich commented on #8019
I came here for this after trying Remix yesterday.  It seems perfectly suited to Nx.

[2021-12-10 08:24] the-ult opened #8096 "Generated package.json for publishable libs includes wrong peerDependencies"
## Current Behavior
When generating the `package.json` for a publishable lib it sometimes includes dependencies as _peerDependency_, which shouldn't.

## Expected Behavior
Only include the dependencies in the generated `package.json`, that are actually needed/used in production.

## Steps to Reproduce
For example, in the `angular-testing-library`, we encountered the [problem](https://github.com/te

[2021-12-10 09:14] ApplY3D commented on #7613
Update `jasmine-marbles` to `0.9.1`

[2021-12-10 09:44] leosvelperez commented on #5655
@zoechi as I mentioned before, that particular migration is from the `@schematics/angular` package, there's nothing we can do about it. I think your options are (in no particular order):

- Comment the library module configuration to run the migration and after is run, uncomment it again.
- Remove that particular migration.
- Create an issue on the Angular CLI repo to get it to handle your scenari

[2021-12-10 10:35] kevinlandsberg commented on #7924
I have the same issue with NX@13.3.0!

[2021-12-10 10:35] achilehero commented on #7844
@leosvelperez , the above PR is an example of migration that might help shed the light on some other issues that might be happening. Feel free to check it as a replication

[2021-12-10 10:36] jackall3n opened #8099 "`nx dep-graph --json`"
## Description

Adding the ability to print the dependency graph to the console as `JSON`.

## Motivation

One example would be that within a CI environment it would be useful to be able to create matrix jobs based off of the output of the `dep-graph` command.

## Suggested Implementation

[code]

## Alternate Implementations

The alternative is to use the `--file=output.json` argument. While this

[2021-12-10 11:01] jon9090 commented on #7908
@wizardnet972 did you find solution or workaround for the global styles?

[2021-12-10 11:04] Coly010 commented on #8083
Hey @wizardnet972 !
Your usage of the command seems a little incorrect, however, it did highlight an issue in the generator. Thank you!
There's a fix in PR now: #8100

The usage in your command that I mention is wrong:
[code]

1. You're specifying your library project, but providing a path under your app, not your library.
2. You're passing a component type. You don't need to do that. it's always

[2021-12-10 11:26] zoechi commented on #7613
I think purging `node_modules` solved this one for me
[code]

[2021-12-10 11:26] Lonli-Lokli commented on #4850
For those who interested in workaround:

1) edit root jest.preset.js
[code]

Please note two /.. after root dir. Due to https://github.com/nrwl/nx/issues/8029 all libs folders are using their src as rootDir

2) add <rootDir>/testing/svgr.Mock.js
`module.exports = { ReactComponent: 'IconMock' }`

[2021-12-10 11:32] wizardnet972 commented on #8083
@Coly010 thank you!!
The command line you mention I copied from the console of the nx console, perhaps I clicked on the app folder and open the nx-console and choose the `ng-lib` in the `project` property.
But by default, nx filled those fields include `type.

[2021-12-10 12:02] Coly010 commented on #8083
Interesting, that's something we'll need to look into too. Thanks for that info!

[2021-12-10 12:10] wizardnet972 commented on #8083
Happy to help! :)

[2021-12-10 12:46] #8083 closed

[2021-12-10 12:50] Coly010 commented on #8081
This is related to an issue with Webpack compiling to use module syntax with Angular 13.

A fix for Webpack and MFEs was released in Nx 13.3 yesterday.

Could you try it again using 13.3? If you have a workspace already, make sure to run the migrations as it should patch your webpack config.

[2021-12-10 12:52] wizardnet972 opened #8103 "nx doesn't create stories for scam components."
## Current Behavior

Not sure if it's a bug or a new feature.
nx doesn't create stories for scam components.

## Steps to Reproduce

Clone it:
 https://github.com/wizardnet972/nx-story-scam

Or run those commands:
[code]

create foo.component.ts:

[code]

**The problem**

Run:

[code]
Nx does not create a story file for the foo component.

This is because of two reasons.

one: nx is searching for

[2021-12-10 13:25] zoechi commented on #7613
I'm stuck at ` Expected to be running in 'ProxyZone', but it was not found.` when running Jest tests.
Worked fine before the upgrade to Angular 13

[2021-12-10 13:30] zoechi commented on #6361
Migration added this to my `test-setup.ts` before and after my original content

[code]
removing that fixed my tests

[2021-12-10 13:32] zoechi commented on #7613
Another minor issue I run into was that in `jest.config.js
[code]
was added multiple times (looks like once pro `--run-migrations`

[2021-12-10 13:36] chrisui commented on #3748
Note in the meantime I wrote a custom executor which walks the dependencies of a targeted project and runs all the "serve" targets. Only downside is task logs are also interleaved meaning it's difficult as a user to know what task is logging what. Ideally there would be [another nx feature to allow control of logging](https://nrwlcommunity.slack.com/archives/CMFKWPU6Q/p1638867827118700).

Code her

[2021-12-10 13:49] yksht commented on #7490
@ngfelixl I had the same issue.
Fixed by manual creating workspace.json and moving "projects" property from nx.json to workspace.json
https://nx.dev/l/a/core-concepts/configuration

[2021-12-10 13:56] smasala commented on #8081
@Coly010 no luck. no migrations were available and even a completely fresh workspace had the same outcome

[code]

[2021-12-10 13:59] Coly010 commented on #8081
Hey @smasala. It's odd that there were no migrations available. Can you create a minimal repo that I could use to investigate this issue more closely to your setup?

[2021-12-10 14:00] smasala commented on #8081
@Coly010  You can recreate the error with same simple steps as above. `npx create-nx-workspace` and then add an app with the `--mfe` flag.

[2021-12-10 14:17] ndrsg commented on #2675
this feature would be absolutely great!!

[2021-12-10 14:21] flaviosilveira commented on #1462
For everyone that is facing that error, try to put the whole file in one line. After that, run again the command that you are trying and go to the exact char that the error is pointing. For example:

[code]

In that position, you will probably find your issue. Maybe a comma or a comment.

Hope that helps...

[2021-12-10 14:33] #7865 closed

[2021-12-10 14:35] sjimenez77 commented on #7613
Thanks @ApplY3D but I already did it and tests still fail. Besides, Angular components tests also fail with same weird error.

If I roll back to the previous Nx workspace version (13.1.4 with Angular 12) everything works fine again.

[2021-12-10 15:01] #8093 closed

[2021-12-10 15:04] #8085 closed

[2021-12-10 15:31] iamandrewluca commented on #8019
Someone 5 days ago started this repo https://github.com/remix-nx/remix-nx let's watch the progress 👀

[2021-12-10 15:33] AgentEnder commented on #8078
I really would like to re-emphasize using a light node wrapper if you want to read the workspace in another programming language. Its a bit more work than just reading the file, but should lessen the possibilities of your custom tools breaking during an Nx upgrade. If you're using Nx, you already are running node and such so its not too much of an ask imho.

Its ultimately not **_my_** decision if

[2021-12-10 15:33] #8078 closed

[2021-12-10 15:43] #5911 closed

[2021-12-10 15:51] mackelito opened #8108 "Unexpected token } in JSON at position"
## Current Behavior
Running `nx migrate --run-migrations`

### Failure Logs
[code]

### Environment

[code]

[2021-12-10 16:02] austinthedeveloper commented on #812
I was not able to get this solution to work. Instead I wrote it like this and it worked:

[code]

[2021-12-10 16:07] philipjfulcher commented on #8099
Thanks for filing this issue! There's an alternative command that might already fulfill your needs: `nx print-affected` will print to the console a data model very close to what you have proposed here. It admittedly doesn't have the same level of data that the `nx dep-graph --file graph.json` would give you, but I'm curious if you need the extra data to accomplish what you want.

[2021-12-10 16:48] anton-gorbikov opened #8110 "'enforce-module-boundaries' fails silently if no cache found"
## Current Behavior

If you try to run `eslint` with enabled `enforce-module-boundaries` avoiding `nx` it will not validate anything returning empty rule. The reason is that exception is silently caught.

https://github.com/nrwl/nx/blob/master/packages/eslint-plugin-nx/src/rules/enforce-module-boundaries.ts#L143-L152

## Expected Behavior

Running `eslint` with a custom config or/and with a custom

[2021-12-10 17:04] craigbroadman opened #8111 "nx test --with-deps --codeCoverage isn't running code coverage for dependencies"
## Current Behavior

if I run the following command, I expected the dependencies to be tested with code coverage, but it does not. Is there a way around this>

`npx nx my-app --with-deps --codeCoverage`

## Expected Behavior

I expected the dependencies to be tested with code coverage

## Steps to Reproduce

### Failure Logs

### Environment

[2021-12-10 17:22] fr-esco opened #8112 "@nrwl/tao fails to validate schema in case of multiple types"
I'm using "@nrwl/angular": "^12.9.0" and "@angular/fire": "~7.2.0".

`@angular/fire:deploy` accepts the following parameter in [its schema](https://github.com/angular/angularfire/blob/master/src/schematics/deploy/schema.json):

[code]

In my `angular.json` I have:

[code]

## Current Behavior

If I run: `nx run my-app:deploy`, it fails:
[code]

## Expected Behavior

It runs successfully. I don't k

[2021-12-10 19:10] romankh commented on #7923
Hi @AgentEnder,
thanks for your response.
No, have not figured out yet.
What do mean exactly with target configuration, the whole angular.json? Or something more specific?

[2021-12-10 19:19] AgentEnder commented on #7923
The config for the apps + libs that cause it to break would be fine, don't need the whole file.

Also, if you could migrate to 13.3 that released to confirm that its not already fixed, that would help

[2021-12-10 19:39] klingebiel opened #8115 "Storybook not loading - Uncaught undefined"
## Current Behavior

- Nx 13.3.0
- Angular 13.0.3
- @storybook/angular 6.4.5

Running the `nx run storybook:<project>` command successfully builds and deploys Storybook, but when navigating to http://localhost:4400 it only displays a blank page and throws some errors in the console (see below).

## Expected Behavior

Storybook should should start without errors.

## Steps to Reproduce

I have crea

[2021-12-10 19:41] romankh commented on #7923
I did the migration to 13.3, but problem is not fixed.

I believe that the following lib causes the problem, removing it for the first build seems to solve the issue for the following builds. The lib contains a Angular module, and it provides 2 Angular components, one for uploading images using ngx-dropzone, and a dialog for cropping.

[code]

The config just looks like other 22 libs, so I guess s

[2021-12-10 20:18] #7913 closed

[2021-12-10 20:46] DrewBradley commented on #7777
@jannisg Where are you creating that webpack wrapper in the NX workspace?

[2021-12-10 21:26] FrozenPandaz commented on #8115
Hey, I cloned the repo and wasn't able to reproduce the issue.. the website shows up for me in Chrome.

Is this on a certain browser or operating system?

[2021-12-10 21:30] FrozenPandaz commented on #8112
I think what you want is the `oneOf` type:

[code]

Example:
https://github.com/nrwl/nx/blob/421d4f2f022b6ffaf6699f315c5d1a48f68efdd0/packages/node/src/executors/build/schema.json#L111

Does this help? https://json-schema.org/understanding-json-schema/reference/combining.html

[2021-12-10 22:28] coltpini opened #8120 "Issues with MFE project and app generators"
## Current Behavior

We are migrating our current app from lerna to Nx (woot) and I am running through the MFE quick start (https://nx.dev/l/a/guides/setup-mfe-with-angular)
I have found the issues with the module federation and angular 13 and have mitigated them. But keep running into issues. It seems really odd to me that after running
[code]
Then applying the fixes for the aforementioned bugs I

[2021-12-11 00:02] smasala commented on #8115
@FrozenPandaz I can confirm this:

Same steps as above (mac monterey and chrome)

[code]

Report
[code]

[2021-12-11 00:02] Lonli-Lokli commented on #5922
Copy from closed thread

For those who interested in workaround:

edit root jest.preset.js
[code]
Please note two /.. after root dir. Due to #8029 all libs folders are using their src as rootDir

add /testing/svgr.Mock.js
`module.exports = { ReactComponent: 'IconMock' }`

[2021-12-11 00:29] AgentEnder commented on #8108
Hey @mackelito, can you post the migrations.json file that you are trying to run here?

[2021-12-11 00:42] smasala commented on #8115
@FrozenPandaz oddly enough the e2e test works 🤔

[2021-12-11 03:57] hadrien-toma commented on #6830
I still have the issue

[2021-12-11 05:53] puku0x opened #8121 "Enable more strict options"
## Description

Angular recently added two strict options for new projects. https://github.com/angular/angular-cli/pull/21538
- [noImplicitOverride](https://www.typescriptlang.org/tsconfig#noImplicitOverride)
- [noPropertyAccessFromIndexSignature](https://www.typescriptlang.org/tsconfig#noPropertyAccessFromIndexSignature)

## Motivation

Those options are enabled by default in the latest Angular.

[2021-12-11 06:21] wizardnet972 opened #8122 "add scam generator for pipes and directives"
## Description

SCAMs can also be applied to pipes and directives with their own ngModule.

## Motivation

Treeshaking.

## Suggested Implementation

Working on PR

[2021-12-11 06:35] skoblenick commented on #8115
I can see the same issue in a new workspace :

[code]

I skipped the application step but have also tried using a MFE remote application rather than the Angular library to the same result.

## Environment

[code]

[2021-12-11 07:53] smasala commented on #8115
The culprit is `"@nrwl/workspace"` - downgrading this one dep to `13.2.4` provides a workaround for the moment.

[2021-12-11 07:56] skoblenick commented on #8115
After more poking around. The issue seems to have introduced somewhere after 13.2.4. I can get it storybook to load when backing the version to 13.2.4 with the following script:

[code]

[2021-12-11 08:09] wizardnet972 commented on #8103
the workaround I found:
 run  `component-story` schematics and target the component itself:

[code]

But because SCAMs are ngModule inside the component file, nx should add the ngModule of the component in the imports :

https://github.com/nrwl/nx/blob/master/packages/angular/src/generators/component-story/files/__componentFileName__.stories.ts__tmpl__#L9

[2021-12-11 08:33] puku0x commented on #2299
Nx Console v17.13.0 has been released. It supports JSON schemas for `workspace.json`, `project.json` and `nx.json`.
https://github.com/nrwl/nx-console/releases/tag/v17.13.0

[2021-12-11 09:27] ivicac opened #8124 "Issues with upgrading from 13.2.4 to 13.3.1"
## Current Behavior
I am trying to upgrade my project from 13.2.4 to 13.3.1, but migration fails complaining about mfe configuration update, but I don't have mfe set.

## Expected Behavior
I expect the migration to work smoothly.

## Steps to Reproduce
Migrate a project with nx 13.2.4 installed to 13.3.1.

### Failure Logs
`>  NX  Running migrations from migrations.json

Running migration 13-3-0-t

[2021-12-11 09:49] mackelito commented on #8108
[code]

[2021-12-11 11:04] rexebin opened #8125 "React Project: 13.2.4 serves ok but 13.3.1 give error: Unable to resolve @nrwl/web:build."
## Current Behavior

It was ok with 13.2.4, after upgrading to 13.3.1, running `yarn serve` fails with error:
[code]

## Expected Behavior

No error

No error if I reverse @nrwl/web back to 13.2.4

## Steps to Reproduce

New React project with 13.3.1 and serve.

[2021-12-11 11:55] puku0x commented on #8125
@rexebin Replacing `@nrwl/web:build` with `@nrwl/web:webpack` in your `project.json` solves the problem.

[2021-12-11 12:06] artaommahe commented on #7971
@leosvelperez btw `NX_CACHE_PROJECT_GRAPH=false` does not help, still takes a lot of time before `Browser application bundle generation` starts. Looks like it re-creates project graph but just doesn't save it to disk

[2021-12-11 14:15] mikezks commented on #8120
In general, yes, we will release an further version soon, that will fix the current bugs.

Meanwhile, you are using `scriptType: 'text/javascript'`, which is the opt-out of ESM to the previous (ng 12) bundling, and `library: { type: "module" }`, which tells webpack to use ESM - both together does not work, see https://github.com/angular-architects/module-federation-plugin/issues/96.

[2021-12-11 14:29] fr-esco commented on #8112
Actually, I'm referring to multiple types, as per the last example of this page: https://json-schema.org/understanding-json-schema/reference/type.html

[code]

[2021-12-11 15:43] danr-za commented on #7468
Any news about this?

[2021-12-11 15:56] rexebin commented on #8125
Thank you!

[2021-12-11 16:36] JamesHenry commented on #2784
@daton89 sorry, we transitioned from github docs to a full website: https://typescript-eslint.io/docs/linting/troubleshooting#my-linting-feels-really-slow

[2021-12-11 17:40] ihazar commented on #7464
In my case nx displays the following command:

and suggests running `nx format`. But, after running `nx format` - you cyclically get the same error "As of Nx 13, project configuration should be moved from nx.json to workspace.json/project.json. Please run "nx format" to fix this".

You can solve this by opening `nx.json` file from the workspace root, and removing the `projects` object:

`  "defaul

[2021-12-11 19:07] #8125 closed

[2021-12-11 22:24] heavybeard commented on #8124
I'm from `13.2.2` version and I received a similar issue

[code]

[2021-12-12 00:13] #7366 closed

[2021-12-12 00:13] #7381 closed

[2021-12-12 04:07] trungpq163 commented on #7983
I've got the same bug when running build on Vercel.
I changed nx-cloud package by suggests ("@nrwl/nx-cloud": "lastest" => "@nrwl/nx-cloud": "^13.0.0") and It worked.

[2021-12-12 07:42] wizardnet972 opened #8128 "Error: EEXIST: file already exists, mkdir on build default project"
## Current Behavior

Nx runs unnecessary build to defaultProject (nx.json) when affected:libs returns "workspace".
If I have defaultProject I got an error:

[code]

I run `build` on `app-a` and `app-b` (run-many) but the default is `app-c`.
## Expected Behavior
if I don't have `defaultProject` then no build should run.

## Steps to Reproduce

This issue may not be prioritized if details are not pr

[2021-12-12 07:55] wizardnet972 commented on #8128
maybe wherever you create a folder in `dist`, check before if they exist?

[2021-12-12 10:05] HonoluluHenk commented on #6370
Le Bump

[2021-12-12 11:12] smasala commented on #2944
For the record (if migrating to `pnpm`), also require `"nx": "nx"` in your `package.json` under `scripts`

[2021-12-12 15:05] johngrimsey commented on #7825
@pkirchniawy Thanks man this workaround saved me!

[2021-12-12 15:29] ngfelixl commented on #5949
I faced the same problem with
- `npx create-nx-workspace` -> preset: empty
- `npm i --save-dev @nrwl/angular`
- `npx nx g @nrwl/angular:application` -> name: app
- `npx nx run app:build`

Installed nx version is 13.3.1

Resulting in
[code]

Resolved it with
[code]

[2021-12-12 15:38] david-shortman commented on #6830
I was able to reproduce locally. Will open a PR eventually.

[2021-12-12 15:53] Eskobastion commented on #5949
I had exactly the same problem with same configuration today. Installing webpack resolved it.

[2021-12-12 19:02] minijus commented on #5648
This issue is duplicate of #4575. The root cause of why `nx migrate` bumps only specified package is that it does not respect `packageGroup` metadata which is normally  taken into consideration during `ng update`

[2021-12-12 19:17] nevraydin opened #8129 "error when using built-in functions for creating files with generators"
## Current Behavior

When I try to use `classify` function, I got an error like below

[code]

## Steps to Reproduce

`npm run nx generate @nrwl/workspace:workspace-generator service-generator
`
`npm run nx workspace-generator service-generator my-service  --dry-run
`

index.ts

[code]

### Failure Logs

### Environment

    Node: v14.16.0

[code]

[2021-12-12 19:36] minijus opened #8130 "FORCE_NG_UPDATE=true ng update does not work with workspace version 2"
## Current Behavior
`FORCE_NG_UPDATE=true ng update` is broken after migration to project based configurations.
It breaks because version in `angular.json` is bumped to 2 and Angular CLI does version validation:
https://github.com/angular/angular-cli/blob/master/packages/angular_devkit/core/src/workspace/json/reader.ts#L53-L55

## Expected Behavior
It should still be possible to invoke Angular CLI

[2021-12-12 22:15] yoan-asdrubal commented on #3929
Hi CristanPerez. Do you find any solution about your scenario? i want to migrate to nx workspace but i thing I'll have the same problem you have, how to config CI CD to each of my app to diferents hosts inside AWS S3.

[2021-12-13 00:12] #4147 closed

[2021-12-13 00:12] #5716 closed

[2021-12-13 08:32] nevraydin commented on #8129
I should add some definition, I see.

[code]

[2021-12-13 08:32] #8129 closed

[2021-12-13 09:22] leosvelperez commented on #7971
@artaommahe yes, I mentioned that in [this comment](https://github.com/nrwl/nx/issues/7971#issuecomment-988069557). I was trying to explain that creating the project graph is the expensive operation there, not writing the cache file. The `nx-deps.json` file, as I mentioned in previous comments, it's just a file with the cached project graph, writing that file it's just an I/O operation that should

[2021-12-13 10:05] Coly010 commented on #8122
FAO anyone reading: I have already spoken to @wizardnet972 about this and they are working on a PR :)

[2021-12-13 10:27] zaunermax opened #8134 "React Typescript linting rule is ignored (@nrwl/next)"
## Current Behavior
The lint rules of `plugin:@nrwl/nx/react-typescript` do not work in a newly generated next.js project.

The generated next lint file looks like [this](https://github.com/zaunermax/nx-lint-repro/blob/main/apps/test/.eslintrc.json).

[code]

The extending of the config from `plugin:@nrwl/nx/react-typescript` just does not seem to work at all, as pasting in the config manually to

[2021-12-13 11:51] DonTomato commented on #7905
@Coly010 It still doesn't work with different error this time: `Uncaught TypeError: Failed to resolve module specifier "login@http://localhost:5001/loginEntry.js". Relative references must start with either "/", "./", or "../"`

[2021-12-13 12:27] Graveheart commented on #8125
I see you've also added the migration, thanks a lot!

[2021-12-13 13:08] DonTomato opened #8137 "Nx Micro Frontend installation fails out of the box 2"
Tried to setup a Micro Frontend with Angular and Nx according to the [Nx guide](https://nx.dev/l/a/guides/setup-mfe-with-angular). Second attempt after #7905.

When I execute `nx run login:serve` it displays the following error in console:
![image](https://user-images.githubusercontent.com/1098084/145816935-0e900dd9-c387-42b5-99a0-d35097453504.png)
Nevertheless it seems it works, but I can make th

[2021-12-13 13:58] mackelito commented on #8108
@AgentEnder have you had a chance to take a look?

[2021-12-13 14:19] puku0x commented on #8134
That's weird... It works for `*.js` and `*.jsx` files, though.

[2021-12-13 14:19] puku0x commented on #8134
You need to enable the rule manually because `plugin:@nrwl/nx/typescript` in your root `.eslintrc.json` ignores it.

[code]

https://github.com/nrwl/nx/blob/4343f56da6039649ec2c04553fb361ed725ad255/packages/eslint-plugin-nx/src/configs/typescript.ts#L35-L42

BTW, it works for `*.js` and `*.jsx` files.

[2021-12-13 14:20] davidslaby commented on #8058
@AgentEnder, have you already check? I assume the change below is the fix of that.

![Screenshot 2021-12-13 v 15 17 49](https://user-images.githubusercontent.com/22087779/145828826-d888bbbe-1ff5-4b3b-95fc-1253cd73d5a1.png)

Unfortunately, I didn't manage to solve the second error in the comment above.

[2021-12-13 14:21] zaunermax commented on #8134
Yes, I know that manually adding works, I wanted to point out, that upon generating a new next app this happens. It should work out of the box when generating a new app right? That's why I wanted to open an issue :raised_hands:

[2021-12-13 14:22] #7954 closed

[2021-12-13 16:14] FanchGadjo opened #8142 "SCAM generator fails on default type with Nx console"
## Current Behavior

First, thank you @Coly010 for adding SCAM to Nx ! On 13.3.1 with the console, the SCAM component generator fails due to the default type being `Component`, title case (see failure logs).

## Expected Behavior

My guess is the default type should be `component`, all lower case.

[code]

## Steps to Reproduce

I wrote a failing unit test :

https://github.com/FanchGadjo/nx/pull/

[2021-12-13 16:19] #8103 closed

[2021-12-13 16:31] yoan-asdrubal opened #8145 "Create basic nx-workspace fail to load rxjs module after add microfrontend app"
## Current Behavior
I create default workspaces, add angular material lib, add shared lib to shared material modules across apps .
Until this step all is good, If I run npx nx serve-shell my-app-shell every run ok, also sharing material libs .
If I create microfronted app, add "scriptType: 'text/javascript" to module.export output to avoid issue with live-reload mfe apps,
my apps broken if I tried

[2021-12-13 16:51] helumalai commented on #4792
I still see this issue when I migrated from Nx workspace 11 to workspace 12.

[2021-12-13 16:58] brunsten commented on #3179
Same issue here... Any updates?

[2021-12-13 16:58] paxforce commented on #316
@FrozenPandaz I created a brand new nx-workspace a few weeks ago and I got the same thing as @BioPhoton - I too had to add the DataPersistence service to the app.module providers manually.

[2021-12-13 17:52] LironHazan opened #8149 "Specifying skipPackageJson=true when adding an Angular app wont prevent the dependencies additions"
According to the [docs](https://nx.dev/l/a/angular/application#skippackagejson) using the skipPackageJson=true flag when adding an app should prevent adding dependencies to the workspace package.json but it still adds them :/

## Current Behavior
Specifying skipPackageJson=true when adding an Angular app wont prevent the dependencies additions.
[code]

## Expected Behavior
Do not add dependencies

[2021-12-13 18:05] Arsenalist opened #8150 "RpcIpcMessagePortClosedError: Cannot send the message - the message port has been closed for the process 145068"
## Current Behavior
When running `nx serve api`, you get:

[code]

## Expected Behavior
The app should start and serve itself on a port.

## Steps to Reproduce
Here's the package.json:

[code]

### Environment
[code]

[code]

[code]

[2021-12-13 20:01] Ghostbird commented on #5926
I haven't retried this recently, as the workaround still holds. However I don't think this should be closed.

[2021-12-13 20:30] wSedlacek commented on #4894
For me the issue was having `buildLibsFromSource` set to false.

[2021-12-13 21:33] FrozenPandaz commented on #8128
Could you please provide a repo we can pull down to reproduce the issue?

[2021-12-13 22:04] mmckirilpep opened #8155 "Yarn resolutions are not being picked up by generatePackageJson flag"
## Current Behavior
If there are packages listed in the resolutions field and the project would implicitly use those dependencies, the generated package.json should include the resolution.

Ex: myPackage is a devDepencdency and it has yourPackage v1.0.0 as a dependency. You list in the package.json resolution to use "yourPackage: 1.0.1". This resolution never makes it to the generated package.json

[2021-12-13 22:23] FrozenPandaz commented on #8150
Can you please provide a repo that we can clone to reproduce the issue? I believe you are running an express application and it's not working?

[2021-12-13 22:27] gxxcastillo opened #8156 "Remove nested "lib" and "app" folders"
## Description
I want to be able to place all of my code directly in the `/src` folder of my applications and libraries.  However, I have not been able to find a way to do this and given the conversation in #3414 it seems this is not currently supported.

## Motivation
I just started getting into NX and one of the things I like about it is how I can actually make the setup pretty flexible by lever

[2021-12-14 00:12] #7315 closed

[2021-12-14 00:12] #7320 closed

[2021-12-14 01:57] tobico commented on #930
@juristr this does not appear to be fixed with the `@nrwl/workspace` or `@nrwl/react` plugins.

You can see the problem code here, where `projectDirectory` is used in the import path instead of `projectName`: https://github.com/nrwl/nx/blob/master/packages/workspace/src/generators/library/library.ts#L238

I can submit a PR to fix these if it's welcome.

[2021-12-14 03:02] always-maap commented on #6988
Solved!

https://storybook.js.org/blog/get-started-with-storybook-and-next-js/

https://dev.to/jonasmerlin/how-to-use-the-next-js-image-component-in-storybook-1415

[2021-12-14 03:02] #6988 closed

[2021-12-14 05:47] LironHazan opened #8157 "Ability to skipPackageJson when generating a React app"
## Description

I would like to have the skipPackageJson flag when generating a React application (+ skipping the installation as well)

## Motivation

I would like to use NX as the main building tool in a monorepo which will include both Angular and React apps,
While I respect the "Single-version policy" my needs requires having a separated deployment of each app and I'm testing a use of NX with

[2021-12-14 07:55] binary64 opened #8158 "`Missing required argument: target` when using pnpm"
## Current Behavior

Running `pnpm nx affected --target=lint --uncommitted=true` shows the nx affected help and "Missing required argument: target".

However running the same with `yarn` works as expected.

### Environment

[code]

[2021-12-14 09:00] rlenoir-codepoint commented on #6891
We have a very similar issue @KevinVandy, the env variables are cached between builds when going through a complete Git flow (push branch for PR review -> merge to dev -> PR dev to main -> merge to main).

If we push directly from the local `main` branch from the CLI to the remote `main`, the values are properly set.

This have a big impact for us because we control the robots index/follow through

[2021-12-14 09:37] leon commented on #8072
Tailwind 3 was released the other day,
in it they have changed so `mode: 'jit'` is the standard way.

To get it to work with nx this is what I needed to do.

https://gist.github.com/leon/86f4502faa1953d35cc6547da849f703

[2021-12-14 09:44] Graveheart commented on #6891
Just FYI, upgrading to the latest NX `13.3.1`  didn't fix the issue. It happens to us when using Dockerfile in the pipeline but it doesn't happen when running `nx build` from the pipeline itself.

[2021-12-14 10:27] kpl1 commented on #5926
Hello @Ghostbird
Can you give me the workaround ?
I have the same issue.
Thanks for the helps.

[2021-12-14 10:29] Bjeaurn commented on #3161
Seeing something similar, with a bit more complex application and repository; a small lib's linting takes over 10 minutes.

Also noted that the reporting of the nx enforce-module-boundaries is quite verbose. Is this on purpose?

[code]

[2021-12-14 10:30] kpl1 commented on #8014
Hey there!
Same issue for me.

The only workaround I found is to add "-"
Instead of having " --parallel ", I have "-- -- --parallel".

[2021-12-14 10:33] kpl1 commented on #1604
Hey there!
Same issue for me.

The only workaround I found is to add "-"
Instead of having " --parallel ", I have "-- -- --parallel".

[2021-12-14 10:33] Graveheart commented on #6891
At last, I found a solution by using `dotenv-webpack` plugin and passing a .env file to it! I tried it with `env-cmd` too but  it didn't help while running `nx build`

[2021-12-14 10:40] spoilerdo commented on #3179
For me the decorate-angular-cli.js file was magically removed. So when I added it back into my project it worked again

[2021-12-14 11:09] #8142 closed

[2021-12-14 11:10] IamRKG commented on #8137
is this fixed?

[2021-12-14 11:14] Coly010 commented on #8145
@yoan-asdrubal
Can you share the `webpack.config.js` and your `project.json` for the MFE app? If you added `scriptType: "text/javascript"`  to the webpack config, you may have missed another step.

If you share those files I can take a look

[2021-12-14 11:15] IamRKG commented on #8137
![image](https://user-images.githubusercontent.com/21280947/145988092-2ae20349-1b96-4b84-9501-c43a6ca189fc.png)

getting import.meta error too

[2021-12-14 11:17] Coly010 commented on #8137
I will investigate now. I believe the Nx Guide on MFEs needs to be updated. I will do so now too.

It would be very helpful to see a repo so I can identify any specific errors.

The error with `styles.js` is _ok_. It's an error output but it does not affect your CSS. Also, when you build your app for production, there is no `styles.js` file as it gets compiled to a CSS file, so the error does not

[2021-12-14 11:22] IamRKG commented on #8137
Thanks @Coly010 . I am waiting for your update to create new MFE application.

[2021-12-14 11:28] #8122 closed

[2021-12-14 11:42] DonTomato commented on #8137
@Coly010 repo with example: [Repo](https://github.com/DonTomato/ng-mfe2)

[2021-12-14 12:40] mackelito commented on #8108
I would think that there is some lib of ours that might not be buildable that needs to be.. but as there is no output then I have no way of knowing :(

[2021-12-14 13:52] mandarini commented on #7929
Hi there @innoveltec ! I am just looking at this, apologies for leaving this go on for so long! :) Is there any minimum reproduction repository I can take a look at?

Also, can you please do a clean install of your node modules:
1. `rm -rf node_modules`
2. `npm install`

And see if the issue persists?

Out of curiosity, why did you use `npx sb@next` since you already had used `nx migrate`? I am th

[2021-12-14 14:12] Coly010 commented on #8137
@DonTomato looking at your repo, the two webpack configs appear have conflicting properties set.

you have both `scriptType` set as well as `library: { type: “module” }`.

can you remove `library: { type: “module” }` from both of the webpack configs and try again?

[2021-12-14 14:25] yoan-asdrubal commented on #8145
Yes, you are rigth, maybe I have missed something. Sorry but I created a new one, in this case I did not use **scriptType: "text/javascript**, and its works, but I have other console.log error
"Uncaught SyntaxError: Cannot use 'import.meta' outside a module" associate to style.js , maybe something wrong with angular material or other scss. thanks for your answer.
Question?  If I use third lib with

[2021-12-14 14:30] DonTomato commented on #8137
@Coly010 done.
Now both app display an error `Uncaught SyntaxError: Cannot use 'import.meta' outside a module`
And shell app `dashboard` is constantly reloading with error:
![image](https://user-images.githubusercontent.com/1098084/146017508-26de631a-75c8-497f-9666-e26af9affd47.png)

[2021-12-14 14:32] DrewBradley commented on #7777
@jannisg I tried making a webpack wrapper like you suggested above, but I am getting an error:
[code]

[2021-12-14 14:35] fkolar opened #8163 "Custom Command - Unable to update $PATH"
## Current Behavior
When I try to add custom command into my app project.json

[code]

the  `nx run webapp:serve` prints some default path set by this custom runner and ignoring what I set.

## Expected Behavior

It needs to include my settings.

## Steps to Reproduce
1. Add custom command similar to one above
2. run `nx run YOUR_APP:serve`

It will ignore your SET PATH.

This issue may not be pri

[2021-12-14 14:36] kpl1 commented on #4998
any news on this ?

[2021-12-14 14:39] isaacplmann commented on #8115
We were able to reproduce this in our workshop yesterday as well.

[2021-12-14 14:43] #7908 closed

[2021-12-14 14:52] robinpellegrims commented on #7908
I'm not sure this issue should be closed, since I have the same issue on nextjs apps with Storybook for which the workaround is not applicable since there is no angular-cli involved.

Is there another issue to track the root cause bug regarding the preview.js not being run?

[2021-12-14 15:10] Coly010 commented on #8137
@DonTomato It looks like you removed too much when you made your changes.

I've created a PR on your repo that showcases the correct config. Tested locally and it works: https://github.com/DonTomato/ng-mfe2/pull/1

I've copied the config to here for one of the files:
[code]

Notice 2 things.
1. We have kept `scriptType="text/javascript"`
2. We have removed
[code]

[2021-12-14 15:12] cy-ssid commented on #5952
I am not getting by package name has to match the tsconfig path name / the import path?

[2021-12-14 15:33] #5801 closed

[2021-12-14 15:34] whisher commented on #7594
Hi there
npx create-nx-workspace iwdf
npm i @nrwl/angular
I got
No matching version found for @nrwl/cypress@13.3.3.

[2021-12-14 15:48] Coly010 commented on #8137
The guide does need updated, but there is one further issue that needs addressed for the out of box experience.
We need to ensure that webpack version 5.64.4 is installed.

[2021-12-14 16:05] montella1507 opened #8165 "Angular build -- buildable libs -- swalloved warnings"
Hi, could you please check this issue:
https://github.com/angular/angular-cli/issues/22346

there is small minimal-reproduction repository. The problem is NX build swallows important warnings like:

WARNING: Cannot call a namespace ('moment')

which can lead to hard to debug issues occuring only during PROD BUILD (not serve).

Why NX doesnt show any warning, while NG build does? Is it possible to

[2021-12-14 16:19] gkamperis commented on #7847
having the same issue...

looks like this commit introduced this bug

https://github.com/nrwl/nx/commit/e3c7b979b252661ee648672b705db2e71f8e000b

can someone pls check as the functionality is really important especially in cases of flaky envs

[2021-12-14 16:28] mandarini commented on #7908
Hi @robinpellegrims ! What is the issue you are experiencing with your nextjs app? Did you try the steps I suggested above? Does your issue persist? If yes, can you please share a minimum reproduction repo?

[2021-12-14 16:32] crates commented on #6891
@vsavkin ~ Any thoughts? It looks like env vars are broken for quite a few folks. Is this on the roadmap for a fix?

[2021-12-14 16:48] KevinVandy commented on #6891
Nx why have you forsaken us?

[2021-12-14 17:09] gom3s commented on #8115
I had the same issue today on fresh NX workspace (for Angular)

[2021-12-14 17:10] chrisui opened #8167 "Custom Logger Module"
## Description

I would like to be able to provide a custom logging implementation so I can have more control over the output of nx task executions.

## Motivation

Right now when using Nx programatically or in a non trivial way (incl. composing executors together using `runExecutor`) there is no apparent way to control how stdout is streamed.

For various build services and tools I would like to

[2021-12-14 17:23] minhhn999 commented on #5648
i have the same problem with nx version 13.3.2. when i run nx migrate latest => it only upgrade @nrwl/* dependencies and does not upgrade angular version.

[2021-12-14 17:46] CWSites commented on #7558
I had to revert some of my changes at the time of writing. I will be re-evaluating this in the next couple weeks and can give more feedback.

[2021-12-14 18:14] leandrocrs commented on #7490
I managed to solve it:
Delete the projects entry in `nx.json`, run `nx format` and `nx migrate --run-migrations` as mentioned in cli instructions.

[2021-12-14 18:41] DonTomato commented on #8137
@Coly010 thanks a lot! Strange, it seems to me I did it exactly as you with no luck. Probably I forgot to restart servers (missed that webpack config changes aren't applied with hot reloading). Btw, I added `scriptType="text/javascript"` manually. Probably it should be included into autogenerated webpack config.

[2021-12-14 18:43] Coly010 commented on #8137
@DonTomato You can read more here: https://github.com/angular-architects/module-federation-plugin/blob/main/migration-guide.md

`scriptType: text/javascript` is a workaround for a different issue. We thought we had the other issue fixed for out-of-box experience, but I missed something, so I'll be creating a PR soon to patch that up.

[2021-12-14 18:59] Nasicus opened #8169 "Cypress Component Testing not working properly / webpack build fails"
So after "some" research I managed to get nx together with [Cypress component testing](https://docs.cypress.io/guides/component-testing/introduction) work.

[This commit](https://github.com/Nasicus/nx-react-cypress-component-tests/commit/94def776330361c93e99c59ff2d2265facd0a7d6) pretty much summarizes what I did to make it work (the template here was just a vanilla nx react webpack app).

However

[2021-12-14 19:08] jannisg commented on #7777
@DrewBradley Are you sure you have created the webpack config correctly and wired it up to the project in NX?

For reference, my `webpack.config.js` file is located in my `apps/myApp/src/` folder and then within the same folder, I have amended my `project.json` to point to this file instead of the `@nrwl/react/plugins/webpack` package:
[code]

Beyond that I am not sure how I can help in this conte

[2021-12-14 19:40] acortar commented on #7326
Hi, I have the same issue when trying to build my NX project with Docker
![image](https://user-images.githubusercontent.com/88538297/146067956-636f6149-1e9d-4475-9b9a-0221cff585b2.png)

[2021-12-14 20:35] AgentEnder commented on #7031
@dpchamps @llwt Hey! Sorry for letting this linger so long, lets discuss this a bit and see what we think would be the best path forward.

For some additional context, we are in the middle of moving a ton of logic out of @nrwl/node  and @nrwl/workspace and into @nrwl/js. Part of this move will involve the executors from @nrwl/node being moved into @nrwl/js, and the build logic being rethought to i

[2021-12-14 20:51] #6411 closed

[2021-12-14 22:16] yuchant commented on #3069
Wow, this is critical to discover late. I assumed importing one item would not involve the _whole_ lib being imported into my next.js project.

[2021-12-14 22:51] robinpellegrims commented on #7908
My bad, when comparing my workspace with the excellent blog article on https://juristr.com/blog/2021/08/nextjs-storybook-tailwind-nx/, I noticed that my package.json contained the wrong command `"storybook": "start-storybook -p 6006"` to start storybook instead of using `nx storybook myApp`.

[2021-12-14 23:01] jamos99 commented on #3069
We've had luck in webpack 4 with the `sideEffects` bool in webpack config. Still seems a valid option in webpack 5 https://webpack.js.org/configuration/module/#rulesideeffects

[code]

This was with a custom app using runCommands tho, so not using any out-of-the-box NX webpack.

[2021-12-14 23:49] yuchant commented on #3426
So is the recommendation to use a lib per component? It's vastly helpful when a component has say a huge video player library attached, and it only get chunked into a page that requires it.

[2021-12-15 00:12] #5913 closed

[2021-12-15 00:16] paullryan commented on #8115
I will add that just downgrading to 13.2.4 in a workspace created for 13.3.1 does not fix it so it my be an issue with another dependency.

[2021-12-15 03:32] jaysoo commented on #8121
Merged, thanks!

[2021-12-15 03:32] #8121 closed

[2021-12-15 03:45] puku0x commented on #8121
@jaysoo Thank you for taking a look at this issue. I will create other PRs to ensure strict mode later.

[2021-12-15 06:48] zyf0330 opened #8179 "When build node application, sourcemap is targeted to js code from webpack bundled file, but not to original ts code"
I use nx to build from typescript to webpack single-file javascript.

## Current Behavior

Set breakpoint in typescript, and breakpoint doesn't be hit.

## Expected Behavior

The breakpoint is hit.
## Steps to Reproduce

### Failure Logs

### Info
This is WebStorm sourcemap Visualizer, and it shows that source code is using `require`, so I think the sourcemap is targeted to javascript which is bui

[2021-12-15 08:26] #5075 closed

[2021-12-15 08:35] innoveltec commented on #7929
Hello @mandarini i tried to remove my node modules and my package lock json file and after that did a npm install but unfortunately the issue still persists. The repo is my client's property so i can not share that. I have to see if i can make a reproduction repository where the issue also persist. I ran `npx sb@next automigrate` command because i saw this on the website of storybook that this com

[2021-12-15 09:04] somebody1234 opened #8180 "[generator/react-redux]"
## Current Behavior
Type errors (with strict+) in generated Redux slices

## Expected Behavior
No type error
This is not a regression.

## Steps to Reproduce
1. Create a React project
2. Generate any Redux slice
3. Add the following to `compilerOptions` on  `tsconfig.base.json`:
[code]

### Failure Logs
N/A

### Environment
[code]

### Information on type errors:
https://github.com/nrwl/nx/blob/8a

[2021-12-15 09:31] Coly010 commented on #8145
The `import.meta` in styles.js is a problem only in dev currently, but I haven't seen it actually affect any styling. I think it's safe for now to ignore it.

Yes, having RxJS version discrepancies can cause issues, but only for libs that may share an observable for example because the typings will be incorrect.

However, if one app is completely isolated, it could use rxjs 6 whilst another isolat

[2021-12-15 09:32] Coly010 commented on #8145
I'd personally promote sticking with a single version policy however. You can read more on the concept: https://opensource.google/docs/thirdparty/oneversion/

[2021-12-15 09:55] bosycom opened #8183 "Nx failed to create a workspace if global git user and email config is not set"
## Current Behavior
Nx fails to create a workspace if git global user is not set, quitting with `NX   ERROR  Nx failed to create a workspace.  Exit code: 1` on console.

## Expected Behavior
Nx will not exit with error message

## Impact of bug
Low impact, because fix is mentioned in logs, but fixing this issue would increase dev experience.

## Steps to Reproduce
1. Clear/Reset your global git co

[2021-12-15 10:02] johannesnormannjensen commented on #8115
I have reproduced this as well on a branch new angular nx workspace

[2021-12-15 10:04] david-morris commented on #7662
@AgentEnder That ran and changed the package.json and migrations.json!  I will try to make time to actually run the update later in the week.

Which of these steps are workarounds and which of these steps are needed user configuration?

[2021-12-15 10:55] adeprez commented on #5848
@maxisam I am facing the same issue. Do you have any workaround? Or were you able to find a couple of versions working well together? (12 <= ng < 13)

If you created an issue in a Angular repo, can you paste a link to it?

[2021-12-15 11:07] gom3s commented on #8115
After juggling dependencies back and forth I was able to make it work with followg:
`"dependencies": {
    "@angular/animations": "^13.0.0",
    "@angular/common": "^13.0.0",
    "@angular/compiler": "^13.0.0",
    "@angular/core": "^13.0.0",
    "@angular/forms": "^13.0.0",
    "@angular/platform-browser": "^13.0.0",
    "@angular/platform-browser-dynamic": "^13.0.0",
    "@angular/router": "^13.

[2021-12-15 12:11] innoveltec commented on #7929
Hello @mandarini ,

I think I have found the cause of the error is was having. I have a publishable component library in my nx-workspace and for this library I was using storybook. In the preview.js file inside the .storybook folder of my library I had the following import statement => `import '!style-loader!css-loader!sass-loader!../styles/styles.scss';` because I needed to import some styles lik

[2021-12-15 13:38] itaigoren-next-silicon commented on #8115
This did the trick completely (had to use the actual `package-lock.json` as mentioned). storybook is working with angular 13 with no other modifications!

[2021-12-15 14:29] yoan-asdrubal commented on #8145
Thanks for your answers and your time.

[2021-12-15 14:29] #8145 closed

[2021-12-15 14:51] duxard opened #8187 "Nx failed to create a workspace"
Hi team,

I'm new to NX framework and I've been trying to create a simple Angular project using instructions listed here:
https://nx.dev/l/a/tutorial/01-create-application

However, I'm getting  "Nx failed to create a workspace" error while creating a new app. I see the following error in logs:

`
npm WARN lifecycle The node binary used for scripts is C:\Program Files\nodejs\node.exe but npm is us

[2021-12-15 15:51] #8022 closed

[2021-12-15 15:52] bridzius commented on #6361
For people who actually need the environment teardown override:
`import 'jest-preset-angular/setup-jest';` has to be imported *before* the other `@angular` imports for the setup to happen correctly. So:
[code]

[2021-12-15 16:43] mandarini commented on #7929
Hi @innoveltec ! I am so happy that you found the issue and solved it! :) :)

_re: automagically works:_ Is that style file inside the `build` target in your `project.json` (or `angular.json`) of your project? I mean in the `"styles": []` array? If it is, it will take it from there! Can you check and let me know? [Here's an issue](https://github.com/nrwl/nx/issues/7908#issuecomment-994115337) you

[2021-12-15 16:44] #7327 closed

[2021-12-15 17:17] craigbroadman commented on #7931
Thanks @AgentEnder, I will give this a try but could you confirm I am understanding this correctly.

Currently I have this set up in nx.json:

[code]

and I think I should be updating it to be...

[code]

[2021-12-15 17:23] AgentEnder commented on #7931
Yeah, that looks correct.

[2021-12-15 18:23] ainulhassanml opened #8190 "Cannot read properties of undefined (reading 'tap') React"
After installing dependencies through npm I start the server like `nx run abc:serve` the way I configured. I'm getting the following error

[code]
It looks like the issue is with webpack I've also tried with upgrading and downgrading the webpack version but failed to successfully run the project

When I upgrade on webpack 5 following errors occur

[code]

I've also tried all suggestions on the fol

[2021-12-15 18:23] chrisui commented on #7394
Just a quick +1 that I have encountered this as well but it's non-trivial in larger refactors to trace exactly where the bad project reference is. Would be great if we had a better error message when a project's data is not loaded (which knows _which_ project name it's looking at). Maybe re-open this issue as a proposal for that?

[2021-12-15 20:07] gkamperis commented on #7847
Hi @vsavkin

looking at the above PR again... is the intention that --only-failed is to be removed as supported functionality?

Thanks

[2021-12-15 20:08] BorisZubchenko opened #8191 "nextjs doesn't support eslint-config-airbnb"
## Current Behavior

I try to integrate `eslint-config-airbnb` into my workspace but without success. It works with a standalone Nextjs app, without NX.

## Expected Behavior

I want to extend my eslint's config with the `airbnb` eslint plugin.

## Steps to Reproduce

[repro repo](https://github.com/BorisZubchenko/nx-nextjs-airbnb-bug)

1. `npx create-nx-workspace`
2. choose `nextjs` template
3. `

[2021-12-15 20:57] patrickmichalina commented on #8124
Same here. Anything after `13.2.4` and I get ..

[code]

[2021-12-15 21:12] innoveltec commented on #7929
Hi @mandarini yes indeed the style file was inside the styles array of the build target from my default project which was an application and not the library. Didn't know it would take it from there so thanks for letting me know :-) You can close this issue ;-)

Greetz Gerry

[2021-12-15 22:09] #3817 closed

[2021-12-16 00:12] #7685 closed

[2021-12-16 01:43] #7704 closed

[2021-12-16 03:10] LPCmedia commented on #7594
@whisher  that looks like a separate issue...

[2021-12-16 05:07] bjornharvold commented on #7394
Agreed. It is due to nx daemon. Disable the daemon and you will get the actual error.

[2021-12-16 05:28] hadrien-toma commented on #6712
😣

[2021-12-16 07:45] MaximSagan commented on #5697
Has anybody solved this yet? Or is there a workaround that's worked for anyone?
Surely the combination of workers and Jest can't be that uncommon among NX repos.

[2021-12-16 08:09] guifeliper commented on #8158
Same thing here.
The following command return  `Missing required argument: target`

`npm run nx affected --target=ANYTARGET`

[2021-12-16 08:30] zergeborg commented on #3779
I keep receiving the following error:
[code]

When I run the following command:
[code]

FYI I already ran:
[code]
and
[code]
Which both worked fine.

So maybe the workaround is not generally applicable to all Angular plugins? Could someone reopen this bug ticket please? Or alternatively I can open a new bug report, although the content would be identical to this one.

Also, I don't think it's reas

[2021-12-16 10:29] junekpavel commented on #5548
Hi! Really missing this feature as well. Although I figured a way how to do this - create custom jest configuration for tools:

1. Update the `tools/tsconfig.tools.json` file to exclude spec files:
[code]

2. Create the `tools/tsconfig.spec.json` file with following content (mostly copied from some library):
[code]

3. Create the `tools/jest.config.js` file with following content (mostly copied fr

[2021-12-16 12:12] Coly010 commented on #8137
The out-of-the-box MFE experience should be fixed and available now in Nx 13.3.6.

Closing this, if you need any additional help, reply back here :)

[2021-12-16 12:12] #8137 closed

[2021-12-16 12:12] Coly010 commented on #8120
You should be able to use module syntax now. Can you try this all again with the latest version of Nx?

[2021-12-16 13:41] Coly010 commented on #8081
Unfortunately, this is a result of how the Angular compilation process attaches the script tag for the styles in dev mode to the `index.html` file.
From the testing that has been done, we don't see any erroneous behaviour as a result of this error message. And it doesn't leak into production because the styles in the app get compiled to a pure CSS file, rather than a JS file.

[2021-12-16 13:55] mandarini commented on #8115
Looking into this ppl! :)

[2021-12-16 14:03] ThomasBurleson commented on #7464
As @ihazar states: manually removing the `projects` object in `nx.json` and then running `nx format` works.

### Migrate Bug
This appears to be a bug in the `nx migrate latest` process?

[2021-12-16 14:18] mandarini commented on #8115
Can you please tell me the steps you tried, and paste here your `nx report`? I just tried it, here's the [repo](https://github.com/mandarini/test-nx-story), and it's working fine for me.

1. `npx create-nx-workspace@latest my-wksp`
2. Select empty
3. `yarn add -D @nrwl/angular @nrwl/storybook`
4. generate angular app
5. generate angular lib
6. generate storybook configuration for app/lib
7. `nx st

[2021-12-16 14:19] sjimenez77 commented on #7613
With Nx 13.3.1 version onwards tests are passing again.

[2021-12-16 14:27] electrofLy commented on #8115
I am also experiencing this, doesn't work even if I use version 13.2.4.

[code]

[2021-12-16 14:28] mandarini commented on #8115
@electrofLy Can you please share your repo? I have just created a blank Nx workspace, and it works for me.

[2021-12-16 14:32] mandarini commented on #8115
Ahhhhhh @electrofLy I see your `@nrwl/workspace : 13.2.4`. Can you please fix this to be `13.3.6` and let me know if issue persists?

[2021-12-16 14:34] mandarini commented on #8115
People, I really think this has been fixed as of `13.3.6`. Can you please tell me if things work if you bump your `@nrwl/*` packages version to `13.3.6`?

[2021-12-16 14:37] mandarini commented on #7929
Ohh cool!! :) Thanks! :)

[2021-12-16 14:37] #7929 closed

[2021-12-16 14:38] electrofLy commented on #8115
@mandarini yes it still persist if I use `13.3.6` :( I just tried what other people suggested but that didn't help.

Unfortunately I cannot share the repository and I don't really have time now to try to create a reproducable repo.

[2021-12-16 14:41] mandarini commented on #8115
Interesting @electrofLy  . So in your `package-lock.json` you can see
[code]
?
And you deleted your `node_modules` and did a clean install after the last time you ran `nx report`?

I am wondering what might be wrong, if all our versions are aligned... I'll try running this with node 14, maybe there's an issue there?

[2021-12-16 15:04] mandarini commented on #8115
@electrofLy was this in a brand new repo? Or is this after migration?

[2021-12-16 15:20] klingebiel commented on #8115
It finally works for me.
I deleted my `node_modules` and `package-lock.json` and performed a clean install.
I tested it on my [repoduction repo](https://github.com/klingebiel/nx-storybook-issue), https://github.com/mandarini/test-nx-story and my actual repository, all of which have slightly different Nx, Angular and Storybook versions, for verification. All of them work now.

[2021-12-16 15:23] mandarini commented on #8115
Ohhh that's wonderful news!!!! @klingebiel

[2021-12-16 15:38] yoan-asdrubal opened #8195 "Mfe Shell fail to load remote module with "fn is not a function" error"
I am creating an nx-workspace and installing libraries in it preparing it for an application migration.
I am installing one library at a time and I am testing to detect version errors, after each check I make a commit and move on to the next one.
While installing ngx-clipboard I had compatibility problems with the versions of angular, I looked on the internet and somehow I had to force it to insta

[2021-12-16 15:41] mandarini commented on #8115
So, here's the thing. I tried new workspace, I tried `nx migrate` from older Nx version, I still cannot reproduce, and this makes me sad.

@gom3s @johannesnormannjensen @electrofLy
Please (whoever still experiences this issue) let me know, when you sync all your `@nrwl/*` packages versions to `13.3.6`, delete `node_modules` and reinstall, if your issue is still there.

If it's still there, please

[2021-12-16 16:48] konstantintieber commented on #7589
Hi @jyono, I published a GitHub Action using the same approach to get the affected projects scoped to one application and its dependencies: https://github.com/leanix/nx-affected-dependencies-action

I also published a blog post about it: https://engineering.leanix.net/blog/smarter-nx-affected-checks/

With some feedback by the nx team on how to incorporate such a command into the nx cli I would be

[2021-12-16 16:51] PrmJf commented on #1848
I just lost over 2 hours of time because of the horrible implementation of this feature.

Build time variables MUST NOT be conflated with environment variables: they are simply not the same.
It is unacceptable that `process.env` be replaced during build-time, because `process.env` is per definition **runtime**, i.e. in fact there even does not exist a `process` at build time.

If you want to repla

[2021-12-16 16:52] konstantintieber commented on #6410
Hi @Ezard, we ran into the same issue at LeanIX and we combined the `nx dep-graph` and `nx affected` commands to solve the issue for us.

You can read about our [reusable GitHub Action](https://github.com/leanix/nx-affected-dependencies-action) here: https://engineering.leanix.net/blog/smarter-nx-affected-checks/

I think it would be great if this could be solved within the nx CLI without extra co

[2021-12-16 16:57] gom3s commented on #8115
hello @mandarini
I have just reproduced the issue with brand new workspace.
I am using node v16.10.0 and npm v7.24.0

[2021-12-16 18:08] kirjai commented on #7962
hi @Rafcin , thanks for opening the issue!

so, i'm personally not familiar with Amplify deployments, but i thought i'd mention a few things that, hopefully, will be of use to you:

- i see from your logs, or the commands that you posted - that you're only seem to be copying the `.next` directory from the dist. you should really be copying the output path specified in your project configuration (`

[2021-12-16 18:20] #7739 closed

[2021-12-16 18:35] coltpini commented on #8120
I just regenerated and it is failing still. I am going to poke around at the generated code and see if I can get it working.
Previous to this I tried lots of variations of module and `scriptType: 'text/javascript'` and had no luck.

[2021-12-16 18:48] BorisZubchenko commented on #6332
I've just checked it once again it it seems to work:

postcss.config.js
[code]

tailwind.config.js:
[code]

I don't know what has changed, maybe the `purge` option became `content` and some Tailwind internals changed. But now I can confirm that JIT works!

[code]

[2021-12-16 18:48] #6332 closed

[2021-12-16 18:48] coltpini commented on #8120
I guess it would be good to share what I am running into as I try and work through the generated code.
I generated the app with this:
[code]
Then when I run `nx run builder:serve` I get this error:
[code]

and when I run `nx run shell:build-mfe` I get:
[code]

[2021-12-16 18:53] coltpini commented on #8120
manually installing webpack fixed the above issue:
- `npm i --save-dev webpack`
- `npm i --save-dev webpack-dev-server`

[2021-12-16 18:54] coltpini commented on #8120
but didn't solve the second issue with starting `build-mfe`

[2021-12-16 18:56] coltpini commented on #8120
Yes, success, with the installation of the above, it is working fully now!!!

[2021-12-16 18:58] coltpini commented on #8120
It looks like those fixes were built into the generator, so I suppose I will need to do some manual updating once I have updated the angular architects updates to their modules, and upgrade to the latest version of angular.

[2021-12-16 19:22] mandarini commented on #8115
Hmm that's interesting. So, your Storybook server starts fine, then you open the browser, navigate to localhost:4400 and in the console you see the React-related errors? And you run Storybook like `nx storybook your-lib-name`?

[2021-12-16 19:26] BorisZubchenko opened #8198 "tsbuildinfo has wrong path for Storybook"
## Current Behavior
.tsbuildinfo files, generated from the incremental flag, have wrong paths for Storybook:
[code]

Also, I think these files should be gitignored.

Plus, [wrong paths](https://github.com/BorisZubchenko/nx-next/blob/tsbuildinfo-path/apps/site/.storybook/main.js#L10) is set for `.stories.` files (I don't know whether I have to create another issue for this problem):
[code]

## Expe

[2021-12-16 19:58] faisalmuhammad commented on #4775
Following worked changes in `tailwind.config.js` worked for me for every app in the mono repo:

[code]

[2021-12-16 20:10] ryancraigmartin commented on #7636
I'm running into issues as well. After running migrate latest, running the migrations, and installing the dependencies, it throws an error asking if I've run npm install as if I had not installed my node modules.

[2021-12-16 20:16] electrofLy commented on #8115
@mandarini as strange as this looks after adding those 2 dependencies my issue si resolved:
[code]
The `react` library was not installed but `react-dom` was installed.  As my investigation went `@nrwl/workspace` installs `react@17.0.2` while the dependency for storybook is `react@16.14.0`.

[2021-12-16 20:27] mandarini commented on #8115
wowwwww thanks so kuch @electrofLy !!! that's a great lead! I'll look into it!

[2021-12-16 21:25] nick-allen opened #8199 "Storybook fails to launch without a default project"
## Current Behavior

If workspace.json does not set a default project, launching storybook after running `nx g @nrwl/angular:storybook-configuration project-name` results in the following error

[code]

See https://github.com/nrwl/nx/blob/master/packages/storybook/src/executors/utils.ts#L188 and https://github.com/nrwl/nx/blob/master/packages/storybook/src/executors/utils.ts#L212, where `defaultPr

[2021-12-16 23:38] coltpini commented on #8120
Thank you a ton for your help.

[2021-12-16 23:38] #8120 closed

[2021-12-17 00:12] #7768 closed

[2021-12-17 00:12] #7495 closed

[2021-12-17 05:56] zyf0330 commented on #8179
Sorry, I find that I closed `sourcemap` in tsconfig.json

[2021-12-17 05:56] #8179 closed

[2021-12-17 08:35] DonTomato commented on #8137
@Coly010 thanks, now everything works.
but I still have the error in console `Uncaught SyntaxError: Cannot use 'import.meta' outside a module`. What is the reason?

[2021-12-17 09:24] florianehmke commented on #4486
Can we reopen this issue?

[2021-12-17 09:43] Coly010 commented on #8137
When serving MFEs in dev mode locally, there'll be an error output to the console, import.meta cannot be used outside of a module, and the script that is coming from is styles.js. It's a known error output, but it doesn't actually cause any breakages from as far as our testing has shown. It's because Angular compiler attaches the styles.js file to the index.html in a script tag with defer.
It need

[2021-12-17 09:50] craigbroadman commented on #7931
It worked - thank you @AgentEnder

[2021-12-17 09:50] #7931 closed

[2021-12-17 09:54] craigbroadman commented on #8111
@AgentEnder - would you agree this to be a bug and are you aware of any work arounds?

I noticed in the output that --with-deps is actually going to be deprecated in v14

`DEPRECATION WARNING: --with-deps is deprecated and it will be removed in v14.
Configure target dependencies instead: https://nx.dev/latest/angular/core-concepts/configuration#target-dependencies.`

If I was to change things over

[2021-12-17 10:43] DonTomato commented on #8137
Thanks for explanation!

[2021-12-17 11:03] romankh commented on #7923
Finally had some more time for that issue.
Cause was that the problematic lib was mistakenly importing a class from the app, which created a cyclic dependency between the library and the app. Most likely that's why the second build worked

I am closing this issue, however I suggest providing some kind of output for this kind of issues so that debugging is a bit easier.

[2021-12-17 11:03] #7923 closed

[2021-12-17 11:57] Ryandev commented on #7797
Just to add, I'm having the same issue with CRA v5

Steps to reproduce
[code]

Result is the same as above

Looks like there may be a fix here: https://github.com/nrwl/cra-to-nx/commit/4a81360283cef5c639ad16001f9e93a86012dcd7

Happy to test, if given some directions

[2021-12-17 13:12] mddr commented on #5697
I haven't found the solution so far. Until it's fixed we decided to continue using v11.

[2021-12-17 15:17] mandarini commented on #8199
Hi there @nick-allen ! Thanks for filing an issue!

I will refer you to [this comment in this issue here](https://github.com/nrwl/nx/issues/7908#issuecomment-993594960).

Storybook has always relied on the default project for Angular to get its build configuration, so the behaviour you experienced is not a bug, it's by design.
What you can do, is use [the `projectBuildConfig` flag](https://nx.dev/

[2021-12-17 15:25] mandarini commented on #8198
Hi there @BorisZubchenko ! Thanks for filing an issue. I'll look into the `. tsbuildinfo` things. However, I do not see how the `.stories.*` path are wrong. Can you please give me some more info on that?

[2021-12-17 15:41] BorisZubchenko commented on #8198
@mandarini, as seen [here](https://github.com/BorisZubchenko/nx-next/tree/tsbuildinfo-path/apps/site), the app doesn't have `src/app` folder, which leads to a compile error.

[2021-12-17 16:17] lukeribchester commented on #8115
This resolved the issue for me too, thank you!

I'd also like to raise awareness of [this](https://github.com/storybookjs/storybook/issues/16977) unrelated Storybook issue — I encountered it when creating a new workspace for debugging purposes.

[2021-12-17 16:29] gom3s commented on #8115
I also confirm that adding devDependency on react and react-dom solved the issue for me! thnx @electrofLy

[2021-12-17 16:43] demisx commented on #5394
Is there any update when the workspace root `jest.config.ts` and `jest.config.ts` will be generated and supported by Nx? `v13.x`?

[2021-12-17 17:34] mandarini commented on #8115
@gom3s so, your `@angular/*` packages are in `13.1.1` and you could still start Storybook and got no errors in your terminal, but saw the React error in the console?

[2021-12-17 17:39] mandarini commented on #8115
@lukeribchester was this a new workspace? or an existing one? is it angular-only?

[2021-12-17 17:43] mandarini commented on #8115
I'm keeping this open, I have not yet managed to reproduce, or understand how the `react` dependency got added.

What I suggest for anyone who runs into this issue or this issue persists for them:

1. Update to latest Nx (at least `>=13.3.6`)
2. Delete node_modules and `npm install` / `yarn` again
3. If this did not work, delete `package-lock.json` or `yarn-lock.json` and install again
4. If you a

[2021-12-17 18:51] gom3s commented on #8115
Yes, that is correct. I saw React errors in console on 13.1.1 angular

[2021-12-17 20:31] philipjfulcher commented on #8099
@jackall3n Have you had a chance to take a look at the output from `nx print-affected` to see if it gives you what you need?

[2021-12-17 20:45] rahul-sharma-uipath commented on #4762
+1 on this issue

@mandarini we have a case where some of our assets (favicon, manifest, etc) need to be hosted on a CDN and referenced via the index.html and currently there's no support for that in this library.

I know the library does support the use of a `deployUrl` but I wonder if we can extend the concept to some environment variable similar to PUBLIC_URL e.g NRWL_DEPLOY_URL which is replac

[2021-12-17 21:08] rahul-sharma-uipath commented on #6941
any update on this? We're also blocked on this

[2021-12-17 21:12] #7694 closed

[2021-12-17 21:16] kirjai commented on #7694
thanks for opening the issue @nidomiro , and for an update @amosbastian .

looks like we jumped the gun a bit on our swc migration, without taking storybook setups into consieration. we'll keep working on in, so in the meantime we've disabled that migration. so hopefully it shouldn't affect any more users going forward. but for those that have already migrated, please read below:

#### IMPORTANT.

[2021-12-17 21:26] david-shortman commented on #6830
Looks like I get the exact same error with `withLatestFrom` operator:

[code]

[2021-12-18 00:12] #4553 closed

[2021-12-18 00:54] bradtaniguchi commented on #8199
I've been fighting the same problem the last few weeks off and on, which made me unable to finalize my move to Angular 13 because of it. I've been meaning to open an issue, but just haven't gotten around to it (End of year tasks am I right ;D)

To go further on this, if you **do** set the `defaultProject` within `nx.json`, you get another vague error:

[code]

You'll see a similar error if you are

[2021-12-18 01:53] jeffschulzusc opened #8217 "support --minimal and --skip-tests flags for nx generate @nrwl/angular:app"
## Description
<pre>
$ nx generate @nrwl/angular:app bff-test-client --minimal --skip-tests  --directory test --dryRun
✔ Which stylesheet format would you like to use? · scss
✔ Would you like to configure routing for this application? (y/N) · true

CREATE apps/test/bff-test-client/tsconfig.editor.json
CREATE apps/test/bff-test-client/tsconfig.json
CREATE apps/test/bff-test-client/src/favicon.ico
C

[2021-12-18 02:43] saddacracker commented on #1895
I'm looking for this also

[2021-12-18 04:24] smacintyre opened #8218 "React: Tailwind CSS 3 doesn't work"
## Current Behavior

If you try to add TailwindCSS to a React project, the tailwind styles are never generated when serving or buildings.

## Expected Behavior

- Tailwind styles are applied

## Steps to Reproduce

- Create a new workspace
- Add the react plugin
- Create a new react application
- Follow the instructions at: https://nx.dev/l/r/guides/using-tailwind-css-in-react
  - Note, using the

[2021-12-18 05:42] Elte156 commented on #1262
I was having this issue (breakpoints no longer working after upgrading from NX10 to NX13) and wanted to share my solution.

What I noticed in Chrome Debugger

**Webpack Paths in Angular10 / NX10:**
- webpack:///./src/app/sample.component.ts
- webpack:///./src/app/routing.module.ts

**Webpack Paths in Angular12 / NX13:**
- webpack:///./apps/frontend/src/app/sample.component.ts
- webpack:///./apps/f

[2021-12-18 06:55] AmalRichwin commented on #8191
Same issue

[2021-12-18 08:14] pkirchniawy commented on #8199
I had recently a similar issue. Found in the source code of Storybook a hint, that one can set the environment variable to set the Angular Project.

Have you tried this out?

https://github.com/storybookjs/storybook/blob/7e76929f8dcb89eff01ec6990350a22ca3a7f97b/app/angular/src/server/angular-read-workspace.ts#L50

https://storybook.js.org/docs/react/configure/environment-variables

Maybe creating

[2021-12-18 09:05] DibyodyutiMondal opened #8219 "Add `--watch` support to `@nrwl/js:tsc` builder"
## Description
Currently, watch mode is not supported, and running the tsc builder with the watch flag yields the following output:
[code]

## Motivation
Developing applications and libraries that output esm becomes much easier with watch mode. Currently, this can be done via `@nrwl/node:package`, but the watch mode in that package currently has an open issue (#7877) that is giving a minor headach