[2020-01-29 03:09] FrozenPandaz commented on #1551
We no longer use graphviz for our dep-graph so this issue should not occur as of `8.6.0`.

Please file a new issue if you have issues with the new implementation for `dep-graph`.

[2020-01-29 03:09] #1551 closed

[2020-01-29 07:57] pf1gura commented on #2379
We love it at [Placester](https://placester.com). We started using it about half a year ago as a replacement for `lerna`. The transition was smooth and it enabled us to do so much great stuff without worrying about initial setup. It just works!

[2020-01-29 09:16] leon commented on #1979
Any updates on this?
I updated my nx repo to jest 25 and now it's complaining about jest-preset-angular not supporting jest 25

What is needed to get this merged into the next release?

[2020-01-29 10:09] helgetan commented on #2306
in my config i have something like this maybe this helps.
   moduleNameMapper: {
        '^@workspace-name/(.*)$': "<rootDir>/libs/$1/src/index.ts"
    }
jest can't import tsconfig paths variables correctly
-> check this issue https://github.com/kulshekhar/ts-jest/issues/414

[2020-01-29 11:52] boyanio opened #2396 "Workspace project names can conflict with npm project names"
## Current Behavior

When a workspace project has the same name as an npm dependency, the npm project conflicts with the workspace project.

Thus, cryptic errors occur such as:

[code]

## Expected Behavior

Users are able to name a workspace project the same name as an npm dependency.

## Original Description

## Expected Behavior

I have created a workspace using Angular CLI with two projects:
-

[2020-01-29 12:32] boyanio commented on #2396
As an addition, I believe, to this issue, running `npx nx workspace-lint` gives the following:

[code]

[2020-01-29 13:51] pavelekNET opened #2397 "dataPersistence run throws compilation errors"
## Expected Behavior
work as in 8.11.1

## Current Behavior
after updating to 8.12.0

in my effect i have:

		this.dataPersistence.fetch(zajistitNactenyCiselnik, {
			run: (action: ReturnType<typeof zajistitNactenyCiselnik>, state: any) => {
				const ciselnik = ciselnikySelectors.getCiselnik(action.typCiselniku)(state);
				if (ciselnik && (ciselnik.nacitaniProbiha || ciselnik.nacitaniDokonceno))

[2020-01-29 14:21] puku0x commented on #1541
Does `create-nx-plugin` help us to make a builder for Vue.js project?
https://blog.nrwl.io/nx-8-12-distributed-caching-improved-dependency-detection-better-support-for-buildable-libraries-6f7cec17b83f

[2020-01-29 14:49] Jordan-Hall commented on #1541
@pesoklp13 I'm going to take a look at it tonight. I've helped on the storybook builder so that part i'm fine. Just had poor internet and will still be poor until the 8 but dont worry im still working on it :)

[2020-01-29 16:46] jaysoo commented on #1541
@puku0x @Jordan-Hall That's exactly why we created the `create-nx-plugin` package. :)

We can't accept everything into the main repo because doing so means we have to have the necessary resources to maintain it. In the future we can start promoting third-party plugins if they cover stacks that we don't cover.

[2020-01-29 17:04] asherccohen commented on #2363
Yes had this for quite a while...temporary fix for me is to restart vscode, hope the fix is released soon.
Thanks!

[2020-01-29 17:07] wickstargazer commented on #1541
@jaysoo Hi, what kind of things would you be looking into to promote a third-party plugin, is there a guideline? As we are developing some infra as a code plugins for nx and using it in production, we would like to help contribute so the eco-system becomes better :)

[2020-01-29 17:08] asherccohen commented on #2001
I also suggest a remove command if possible.

[2020-01-29 17:09] #1895 closed

[2020-01-29 17:09] asherccohen commented on #1895
This is now resolved.

[2020-01-29 17:16] asherccohen commented on #1860
There's some good progress on building plugins for Nx.
There isn't much documentation at the time of writing but this can help:
npx create-nx-plugin my-plugin

Anyone interested to use the information in this thread to create a plugin for React Native?
I'll try to give support but time is limited.

[2020-01-29 17:17] asherccohen commented on #2279
The move command has been introduced to help refactoring a workspace.

nx g @nrwl/workspace:move --projectName my-feature-lib --destination shared/my-feature-lib

Does this help in regards to removing a project from it?

[2020-01-29 17:17] devinshoemaker commented on #602
I found [this PR](https://github.com/nrwl/nx/pull/2307) which indicates that this fix was only applied for Angular projects. I am currently using React and am facing the same issue.

[2020-01-29 19:33] lithqube commented on #2379
I'm really happy that I introduce NX to Zertificon Solutions GmbH - zertificon.com ☺️

[2020-01-29 21:45] Chumachenkovlad commented on #1699
@vsavkin Will you plan to add the possibility of migration from tslint to eslint for existing Angular app?

[2020-01-29 22:43] #1271 closed

[2020-01-29 23:39] FrozenPandaz commented on #2383
I agree, it should not throw an error.

Would someone like to attempt fixing this?

[2020-01-29 23:42] FrozenPandaz commented on #2385
Hi, can you please provide a repo showing the issue?

What projects do you have setup? I see the `sourceMap` issue for the react build.

[2020-01-30 00:20] FrozenPandaz commented on #2387
Sorry, I cannot reproduce this issue. The response changes accordingly for me. Can you please provide a repo showcasing the issue to help us debug this issue?

[2020-01-30 00:25] PizzapunkDev commented on #2382
I think this error to be expected; you're asking Storybook to generate stories against an application, whereas you'd typically want to generate stories against a library of components that are imported by an application, hence why it's trying to find a .lib.json file.

[2020-01-30 02:36] gperdomor commented on #1393
Thats works partially, i have 3 entries:

[code]

[code]

and

[code]

and i got this error:

[code]

[2020-01-30 03:02] hotpixelgroup commented on #2379
We use it at [Hot Pixel Group](http://www.hotpixelgroup.com). You guys are doing great work!

[2020-01-30 04:12] osc707 commented on #2379
We do at my department @ Adobe. I was hired to architect our AdTech DSP (originally in PHP & angularJS) to Angular (Nx, Ngrx). We have built a few stand alone features over the last 18 months. The last 6 months we are finally doing a platform rebuild with a configuration driven Angular UI leveraging dynamic component generation. [Adobe AdCloud](https://www.tubemogul.com/)

[2020-01-30 04:31] demisx commented on #2379
## ❤️
@ DimasList.org - https://dimaslist.org

[2020-01-30 04:34] BuckyMaler commented on #2383
I have an open PR. #2384 The CI build is failing, but I think the error is unrelated to my changes.

[2020-01-30 04:45] dhondiramjawade commented on #2379
We are using Nx for our Enterprise Application. It's great tool with well defined architecture for large scale applications with many useful feature like storybook, dependency graph and many more. Looking forward to hear from you guys about Bazel official support.

[2020-01-30 05:33] ball6847 commented on #2379
At [7peaks software](https://7peakssoftware.com/), We develop many enterprise software for our clients in Thailand. We started using NX for almost 2 years now (since nx v0.7) and we still love it.
We always happy to recommend NX to Angular Community in Thailand.

Thanks for creating NX.

[2020-01-30 05:34] demisx opened #2404 "Fatal messages running Nx commands after upgrade to v8.12"
## Expected Behavior

No errors messages running Nx commands

## Current Behavior

After upgrade to Nx 8.12 following https://nx.dev/angular/guides/update I am seeing a bunch of fatal messages similar to below after running Nx related commands, though the commands seem to work OK so far:

[code]

[code]

[2020-01-30 05:41] johannesschobel commented on #1393
You need to reverse the order in the `catalog-item.entity.ts` file. Because the first class uses (references) the second one, which is declared later. So by the time of resolving it is not known..

[2020-01-30 09:59] Jordan-Hall commented on #1541
@jaysoo if thats the case. Should we create a community repo for 3rd party plugins with some core maintainers

[2020-01-30 10:04] tonmanna commented on #2379
We have just begun looking into NX at [ITOPPLUS](url=http://www.itopplus.com). Before we try it on production, we have a lot of questions on how NX can solve our issues. After researching and meeting people that know NX well. After our research, we have no doubts anymore. We're ready to adopt NX on our next production project.

[2020-01-30 11:26] jdpearce commented on #2001
Wow...I've only just seen that I was assigned to this, sorry!

@NakedFool - Hopefully the new `mv` schematic in 8.12 should fulfil this requirement, so I'm going to close this issue as a result.

`nx g @nrwl/angular:mv --project my-project --destination my-renamed-project`

See the [blog](https://blog.nrwl.io/nx-8-12-distributed-caching-improved-dependency-detection-better-support-for-buildable-li

[2020-01-30 11:26] #2001 closed

[2020-01-30 13:11] gperdomor commented on #1393
@johannesschobel what do you mean? For now, i solved my issue creating a `index.ts` with this content

[code]

and updating the `import { CatalogItem } from './catalog-item.entity';` line of `catalog-type.entity.ts` and `catalog-brand.entity.ts` to `import { CatalogItem } from './'`

[2020-01-30 13:14] johannesschobel commented on #1393
oh.. i am sorry @gperdomor , i misread your file-names.. i thought you would have 2 classes in the `catalog-item.entity.ts` file.. but its `catalog-item` and `catalog-type`. My bad.

Creating some kind of barrel-file (like you did) should work, yeah..

[2020-01-30 13:20] gperdomor commented on #1393
yes, the problem in this case is the webpack bundle, because in a nest project, generated with `nest new` command, the original files works without problem

[2020-01-30 14:40] cjkumaresh commented on #575
@vsavkin from which version it is available ?

[2020-01-30 14:58] antoinepairet commented on #2379
[Medispring](https://app.medispring.be/) is an EHR from Belgium used by more than 1200 doctors everyday

[2020-01-30 15:38] jessejohnsohn opened #2405 "DataPersistence is throwing a build error (using Ivy)"
## Expected Behavior

This is a very basic implementation of an ngrx effect using the DataPersistence.navigation method.

I expected the project to build; although, this is using Angular v9, which isn't officially supported yet.

## Current Behavior

The build fails with a lengthy error message (provided below).

## Failure Information (for bugs)

`ERROR in src/app/+state/app.effects.ts:15:7 - err

[2020-01-30 15:39] jessejohnsohn commented on #2397
I just opened up a similar issue, but it could be the same thing: [2405](https://github.com/nrwl/nx/issues/2405)

[2020-01-30 15:46] jessejohnsohn commented on #2405
Update: copying the data-persistence.ts file locally and referencing it fixes the problem. So I'm guessing it's some sort of dependency issue?

[2020-01-30 16:06] sasha-3ap opened #2406 "react - using SASS Modules in a Nrwl NX workspace"
I run version 8.12.0 of nx

As described [here](https://create-react-app.dev/docs/adding-a-css-modules-stylesheet) it is possible to user sass modules in react app:
```import styles from './Component.module.scss';```

and use it:

```<button className={styles.css-class}> </button>```

Is this possible with nx?

[2020-01-30 16:17] oschlegel commented on #2379
We are one of several teams working for [MyPorsche](https://connect-portal.porsche.com/) and we are using nx to maintain our frontend code

[2020-01-30 16:30] footyapps27 commented on #1848
@weblancaster Any luck with the PR?

[2020-01-30 21:39] dopsonbr commented on #2379
We use it at [HomeDepot](https://www.homedepot.com/). It is used for a couple of critical internal apps and not the public e-commerce site. I am hoping to do a full write up about our stack and the migration of a massive 1.7x AngularJs app, when I get some free time.

[2020-01-31 00:33] epikhighs opened #2409 "nx affected:build on CI/CD"
Hi,  I know this is non-standard, but I created a question on stack overflow that i wanted to get a response on.  Thank you.

https://stackoverflow.com/questions/59888473/how-to-determine-range-of-commits-needed-to-run-an-incremental-build-with-nx

[2020-01-31 00:40] fcastill commented on #2284
Same here, I've upgraded to latest nx (v8.12.0) and started seeing `dist` folder being processed by the formatter, is it that nx used to load the `.gitignore` config to prettier?

I've observed some inconsistency in the way some of my files were formatted and @cngarkar's comment about the affected feature makes me think it might be related to this issue as well. What I observed is that after upgra

[2020-01-31 02:32] FrozenPandaz commented on #2396
Good catch, I'll take a look.

[2020-01-31 04:08] FrozenPandaz commented on #2405
This won't be the case after #2264 lands.

The reason you are seeing this error message is because the typings are using two different versions of rxjs. If you can align them, it might work. However, I recommend waiting for the official release.

[2020-01-31 04:10] FrozenPandaz commented on #2404
Can you please provide a repo showcasing the issue to help us debug this issue?

[2020-01-31 13:26] dsln commented on #2379
We use it at [SOTI Inc. ](https://www.soti.net/)  in Ontario as part of our shared component library across our suite of products.

[2020-01-31 14:32] dherges commented on #1609
With @nrwl/workspace@8.12.0 the problem continuied to exist for me.

### Error Message

[code]

### Solution

`commands.ts`:

[code]

### Version Info

[code]

[2020-01-31 19:24] FrozenPandaz commented on #2405
Hopefully this answers your question. I am going to close this issue. You can reopen it if something is unclear :)

[2020-01-31 19:24] #2405 closed

[2020-01-31 21:44] christianacca commented on #1520
Not sure if this is related or another issue that I'm experiencing...

I have one lib that has a different npm scope compared to the other libraries in the same repo (in the json below it's the one named '@mri-platform/angular-wfe-proxy-oidc')

[code]

The graph produced does not include/discover the dependencies to this lib. However, if I change the npm scope for this library to be the same as al

[2020-01-31 21:58] stramel commented on #2065
Seems to be showing `Ready on http://localhost:4200` for me now

[2020-01-31 21:58] #2065 closed

[2020-01-31 22:44] stramel commented on #2365
My Next.js app also fails.

[code]

Still fails with v11 too.

However, everything works when ran in Docz.

[2020-02-01 09:56] gcollin opened #2414 "Application reload when changing library"
Hello all,

I'm trying to see if nrwl nx would be a good fit for our future angular project in my organization. And I'm struggling to find a way to manage libs and apps reload.
It's more a question than a bug I believe, but I would appreciate to know how to achieve this. The documentation doesn't seem to provide an answer.

## Initial steps
I have created a workspace with an application and a libr

[2020-02-01 10:24] jsaguet commented on #2292
Hello,
We are facing the same issue in my company with a project which is not at the root of the git repo.
This makes our build time quite long because we need to run tests and lint for every library in the CI.

There is no problem though when the commands are run from the folder where the package.json is. (on our local machines)

Have someone found a workaround by any chance?
Thank you

[2020-02-01 16:34] #1979 closed

[2020-02-01 16:34] #2165 closed

[2020-02-02 16:08] flogh commented on #1992
This feature would be incredible

[2020-02-02 18:55] krzysztof-grzybek opened #2417 "[feature] Linter rule enforcing specific order of ES imports"
## Expected Behavior

I would like to have a lint rule for enforcing the specific order of module imports.

Imports would have to be divided into three groups:
1. Imports from `node_modules`.
2. Imports from other `libs`.
3. Local lib imports.

Each group should be divided by a minimum of one empty line.

Example of invalid imports:
[code]

Example of valid imports:
[code]

With imports grouped li

[2020-02-02 19:43] JakeAi opened #2418 "Jest Resolver Plugin Doesn't Return Full Path"
_[Please make sure you have read the submission guidelines before posting an issue](https://github.com/nrwl/nx/blob/master/CONTRIBUTING.md#-submitting-issue)_

https://github.com/nrwl/nx/blob/master/packages/jest/plugins/resolver.ts
Jest resolver plugin doesn't return full path. It needs to resolve the actual fqn of the path instead of a partial. This causes Jest to load the same file twice. Once

[2020-02-03 03:11] buacula opened #2419 "add crossOrigin to build options"
# Prerequisites
I'm running nx 8.12.0 version
## Expected Behavior
https://github.com/nrwl/nx/blob/dbd94926bf5b7fa59bcfd08492d592a9a1770b27/packages/web/src/utils/third-party/browser/index.ts#L620
crossOrigin attribute will be added to the script element when `writeIndexHtml`
but https://github.com/nrwl/nx/blob/b6e6b3f1c3856a359d064ee96fb7357fd3e36202/packages/web/src/builders/build/build.impl.ts#

[2020-02-03 08:16] gcollin commented on #2414
I fact it just works.
You run the application with ng serve application, and it reloads whenever you make a change to the imported library.
I don't understand why I didn't see this behavior before. Closing the ticket

[2020-02-03 08:16] #2414 closed

[2020-02-03 09:27] minijus opened #2420 "Missing details for release 8.12.1"
## Other

There are new versions published to npm (8.12.1). However, there is no new tag for that version in github, there is no new release as well and there is no changelog update.

It would be great to have some details and visibility before pulling these changes in.

[code]

Similar release happened before for 8.7.1 #2050 . It would be great to have release/publish process reviewed.

[2020-02-03 09:39] EvtK opened #2421 "RxJs mismatch issues in DataPersistance keep coming back"
## Expected Behavior

I can run an upgrade of NX with npm run update, without getting issues with dataPersistance.

## Current Behavior

I have spent a lot of time to get the issues I had with RxJS version mismatch solved. See this topic: https://github.com/nrwl/nx/issues/1416#issuecomment-535462018.

Now it has been a while since I had the time to upgrade NX. So coming from "@nrwl/angular": "8.6.

[2020-02-03 10:04] Hotell commented on #2363
as of today, restarting vscode is the only "fix" unfortunately

[2020-02-03 10:16] Carniatto commented on #2108
Any updates on this?

[2020-02-03 13:49] nayfin commented on #633
Just found [nx-semantic-release](https://www.npmjs.com/package/nx-semantic-release) late last night. It's a new library with only one contributor, but it address a lot of issues brought up here, and could be a good step to automating release cycles.

[2020-02-03 15:01] bboehm86 commented on #2032
When using Merge Requests on GitLab CI `git merge-base master HEAD` won't work on the runners. You'll need to run `git fetch origin` before anything else.

[2020-02-03 16:23] mikel67 opened #2422 "Jenkins CI - npx nx affected --target=build throws as error"
## Expected Behavior

Build should execute on Jenkins with same source as executes on local environment

## Current Behavior

Source checked into git, Jenkins multi branch pipeline executes

Build stage fails with error:

+ npx nx affected --target=build -- master HEAD
fatal: Not a valid object name affected
Command failed: git merge-base affected master
fatal: Not a valid object name affected

##

[2020-02-03 16:27] vmasek commented on #2379
We at [FlowUp](https://flowup.cz/en/tech-stack) are using Nx in production alongside with Ionic, Angular and GraphQL to develop multiple "news" related applications and websites (with universal SSR) as part of the news platform for (unnamed) digital network

[2020-02-03 18:59] osanzharevskyy opened #2423 "React: Deploy React Apps To Subfolders"
## Expected Behavior

Regarding [this doc](https://create-react-app.dev/docs/deployment/), if you set homepage in package.json, URL should prepend it to resources:

<script src="http://foo.bar/subfolder/runtime.js" type="module"></script>
<script src="http://foo.bar/subfolder/polyfills.js" type="module"></script>
<script src="http://foo.bar/subfolder/styles.js" type="module"></script>
<script src=

[2020-02-03 19:21] asherccohen opened #2425 "Deploying to Heroku exceeds quota and fails to start application"
# Prerequisites

Please answer the following questions for yourself before submitting an issue.
-  [x ] I am running the latest version
- [ x] I checked the documentation (nx.dev) and found no answer
- [ x] I checked to make sure that this issue has not already been filed
- [x ] I'm reporting the issue to the correct repository (not related to React, Angular or any dependency)

## Expected Behavio

[2020-02-03 20:57] Sikora00 commented on #2378
I sent a pull request, but I'm wondering if it would be better not to use @nestjs/schematics:library and copy its functionality to @nrwl/nest:library.

[2020-02-03 23:41] PizzapunkDev commented on #2425
It's generally a bad idea to use the built-in Webpack Dev Server that Angular uses to actually host your application - it's not built or designed for a production use case. Your pipeline should be building and pushing the compiled artifacts to Heroku, and an appropriate server for that platform serving it as static content.

[2020-02-04 01:40] nickinnon commented on #2303
I ran into this issue on Windows 10 building an empty workspace/nx-cli.

I noticed the dir I was building in had a node_modules directory and package.json file. After removing those, my build completed as expected.

YMMV

[2020-02-04 02:23] dflor003 commented on #2292
No workaround that I'm aware of. Hoping that I've provided enough detail on my synopsis of the issue in the bug report so that one of the contributors can fix it.

[2020-02-04 08:39] #2423 closed

[2020-02-04 08:40] osanzharevskyy commented on #2423
Closing issue. Sorry, everything is configurable via workspace.json file.

[2020-02-04 10:08] Jordan-Hall opened #2426 "yarn install @next using wrong version"
Npm install of the @next package is behind the current release version. Can we always keep this build ahead or at least on the current release version

[2020-02-04 13:27] MitkoTschimev commented on #2300
Just for your information. I started it as my own project now. Not anymore as part of this codebase. The progress is going forward. Please feel free and take a look ;)

https://github.com/Dev-Thought/ng-deploy-universal

Currently, nx angular workspaces are supported and you should give it a try ;)

[2020-02-04 14:42] asherccohen commented on #2425
I understand. That was my initial thought but how do I start the app in Heroku?I can't find suggestions to serve applications as static.
Every tutorial points in the direction of a build && start script in package.json. Am I missing something obvious here?
Also this problem happens with Now.sh but their team explained they are working on a solution.

[2020-02-04 15:13] jrstrayhorn commented on #1241
Just in case any one comes across this issue.. I'm working in an nx workspace and trying to run ng build on a lib that wasn't set as "publishable" from the start.. I added a package.json and ng-package.json to the root of the lib and tried to run ng build and got the error above.

Error in my case was due to the fact that in angular.json for the "projects" entry for the lib that I was trying to bu

[2020-02-04 16:32] jdpearce commented on #2425
Hi, @asherccohen! As @PizzapunkDev mentioned, we wouldn't recommend that you use the dev server to serve an Angular application (I believe it does display errors when you run it in production mode)

Serving the app in Heroku is somewhat beyond the scope of what we can help with on here, _however_ what you could do is use something like [serve](https://www.npmjs.com/package/serve) or simply write y

[2020-02-04 16:32] #2425 closed

[2020-02-04 16:58] asherccohen commented on #2425
Ok so it is a known problem and not something I missed. Good to know 🤣.
Very well I'll follow that path.
Thanks for the awesome suggestion!much appreciated.

[2020-02-04 18:23] xmlking opened #2427 "npx create-nx-workspace --appName=webapp fail"
`npx create-nx-workspace@latest todo --preset=angular --cli=nx --appName=webapp --style=scss`

[code]

[2020-02-04 19:52] elliottsj opened #2429 "Build output caching does not work for `@nrwl/next:build` followed by `@nrwl/next:dev-server`"
## Expected Behavior

Running the `@nrwl/next:build` command should cache build outputs, so that `@nrwl/next:dev-server` does not need to build the app again.

## Current Behavior

[code]

## Failure Information (for bugs)

### Steps to Reproduce

https://github.com/Yolk-HQ/nx-caching-issue-2429

### Context

Please provide any relevant information about your setup:

[code]

[2020-02-04 21:34] calarconpieriz opened #2431 "Npm audit fails for `@nrwl/builders`: `7.8.7` - `node-sass Denial of Service` and `serialize-javascript Cross-Site Scripting`"
## Expected Behavior
Running the `npm audit` command should pass without vulnerabilities for version 7.8.7 using Angular 7 and Ngrx 7.

## Current Behavior

[code]

## Failure Information (for bugs)

When you are running an Angular <= 7 application with Ngrx 7 and  @nrwl/builders 7.8.7, the `npm audit` command shows some vulnerabilities. In order to fix them, it is necessary to update @nrwl/builde

[2020-02-04 23:05] ctaepper commented on #2382
yes it seems like the schematic is only targeting libs. however, applying the same schematic result manually to an app in the workspace does work. so the schematic really should just check if its app or lib and try to read the proper tsconfig json

[2020-02-04 23:34] leifwells commented on #2382
@ctaepper Can you tell me how I can do this?

[2020-02-05 02:41] stramel commented on #2365
I spun up Next.js with the plugin and a similar setup which works.

https://with-emotion.stramel.now.sh/
https://github.com/stramel/with-emotion/blob/master/pages/index.js#L40

Trying to dig into this error and see what I can find out.

[2020-02-05 03:23] tyankatsu0105 opened #2432 "[react eslint] Can we add react/jsx-no-useless-fragment to react project?"
_[Please make sure you have read the submission guidelines before posting an issue](https://github.com/nrwl/nx/blob/master/CONTRIBUTING.md#-submitting-issue)_

# Prerequisites

Please answer the following questions for yourself before submitting an issue.
**YOU MAY DELETE THE PREREQUISITES SECTION.**

- [ ] I am running the latest version
- [x] I checked the documentation (nx.dev) and found no ans

[2020-02-05 03:29] stramel commented on #2365
We're also having issues with `babel-plugin-macros` working which made me think that the NX build and serve commands aren't properly inserting the custom `.babelrc` file into the build process.

Upon further debugging, I found that if I manually inject the `babel-plugin-emotion` into the config that `@nrwl/next` has, it works.

I internally modified `@nrwl/next/src/utils/config` by inserting the p

[2020-02-05 04:10] stramel commented on #2365
Probably a separate issue, can't get the babel config to work with `ts-jest`

[2020-02-05 05:22] stramel commented on #2365
I'm not really sure how to fix this issue. I traced it down to the SSR optimization when Next.js's server calls `ReactDOM.renderToString` in `next/next-server/server/render`.

I'm wondering if since my components are in a different lib if they aren't getting compiled in the Next.js scope?

[2020-02-05 09:17] skorunka commented on #333
This would be very helpful.

[2020-02-05 11:20] mehrad-rafigh commented on #2422
Jenkins only does a sparse checkout. Have you tried checking out the branch which has to be built/tested etc?

[2020-02-05 11:21] mehrad-rafigh commented on #2420
Details for 8.12.2 are missing as well. @vsavkin can you please update the github releases?

[2020-02-05 11:36] andreaswilli commented on #2421
I experience the exact same issue (`@nrwl/angular` version `8.12.2`):
After downgrading `rxjs` to `6.4.0` I get this:

`... dispatched an invalid action: {"_isScalar":false,"source"`

[2020-02-05 14:02] dai4 commented on #2429
+1 on this. This affects serving the app in production too, when you would have already built the code in a ci/cd pipeline and essentially makes it impossible to efficiently Dockerize the setup

[2020-02-05 14:56] conor-mac-aoidh commented on #625
This would be a very useful feature.

[2020-02-05 15:15] vsavkin commented on #2429
Please take a look at "The Problem with Building from Source": https://blog.nrwl.io/distributed-caching-in-nx-164edfbc68e0

Basically, webpack rebuilds everything from source. From webpack's point view, serving or building with the watch flag always reads source. You could, of course, change what `myapp:serve:production` means to simply serve the dist folder with say http-server. That would work.

[2020-02-05 15:17] dalemanthei commented on #602
@vsavkin @juristr Do you think the work being done to build dependent libraries will help with my challenge of building an angular material like library?

I created a [demo repo](https://github.com/dalemanthei/nx-ng-packagr-demo). Based on this [issue](https://github.com/dalemanthei/nx-ng-packagr-demo/issues/1) I made a couple of variations on the folder structure to improve on the dep-graph gener

[2020-02-05 15:29] dai4 commented on #2429
@vsavkin Would you be able to point us to an example where you would modify the serve:production to correctly just run the built next.js app?

[2020-02-05 15:42] #2011 closed

[2020-02-05 15:45] vsavkin commented on #2420
Sorry folks. Updated the released.

[2020-02-05 15:45] #2420 closed

[2020-02-05 15:48] vsavkin commented on #2422
Could you upload a repro to github?

[2020-02-05 16:01] vsavkin commented on #633
Hey folks. Just wanted to give you and update.

We have two repos talking through the distributed build setup:
- https://github.com/nrwl/nx-jenkins-build
- https://github.com/nrwl/nx-azure-build

This one talks about using distributed caching:
- https://github.com/nrwl/nx-distributed-cache-example

We are going to create another repo showing the setup for CircleCI. And we are working on more struc

[2020-02-05 16:03] demisx commented on #633
Please add GitLab CI to the mix. It's used by quite many these days.

[2020-02-05 16:07] gperdomor commented on #633
@demisx this is a POC with gitlab support https://github.com/nrwl/nx-azure-build/pull/2

[2020-02-05 16:21] demisx commented on #633
@gperdomor Great. Thank you. In the back of my mind I was expecting something like `nx-giltabci-build`. Or maybe `nx-aws-gitlabci-build`. GitLab CI with AWS is quite a popular mix.

@vsavkin Can you guys please review this PR nrwl/nx-azure-build#2 and reward man's hard work?

[2020-02-05 16:26] gperdomor commented on #633
@demisx at the moment of send that PR i didn't know the intentions of having multiple repos, so i just update the scripts to work with azure and gitlab, but is a good starting point

[2020-02-05 16:41] vsavkin commented on #2426
We talked about it internally, and, unfortunately, we cannot guarantee it.

Based on https://docs.npmjs.com/cli/dist-tag, the next tag is used to identify the upcoming version. In our case it has to correspond to a beta or an RC release. We were thinking about having a nightly release folks can depend on, but even that strategy won't guarantee it.

Sorry, but I'm going to close this issue.

[2020-02-05 16:41] #2426 closed

[2020-02-05 16:44] vsavkin commented on #2108
Closing this issue because the workaround is in place

[2020-02-05 16:44] #2108 closed

[2020-02-05 16:55] vsavkin commented on #1699
It's hard to migrate everyone reliability. We will likely have something that will get you 90% there.

To be clear, you can already use eslint with Angular.

Define the builder like this:

[code]

Define a root-level .eslintrc:

[code]

And a project-level eslintrc:

[code]

[2020-02-05 17:02] vsavkin commented on #1541
We are working on good docs for `create-nx-plugin` now. Stay tuned :)

After that, we are planing to create a page on `nx.dev` with high-quality Nx plugins. And then at some point in the future integrate them into `nx list`.

We are happy to help with third-party plugin issues on case-by-case basis. E.g., if you have any questions, open issues and we will help you out.

[2020-02-05 18:34] mrmeku opened #2435 "[eslint] Cannot produce lint report file using builder"
There are two steps necessary to fixing this issue.

1) Allow consumers to specify a format using the `--format` flag.
Currently, `@nrwl/linter` intentionally removes the `format` flag when running under `eslint`. Presumably, because the format enum for `eslint` is different for `tslint`. We should stop doing this behavior.

https://github.com/nrwl/nx/blob/b220a17c477f8b3738fc4c538d0b457748de3a01/

[2020-02-05 18:54] mikel67 commented on #2422
Thanks for the response

Repo pushed to Github.
https://github.com/mikel67/NXPoC.git

@mehrad-rafigh, I have not yet verified direct checkout on the Jenkins agent. Will feedback  when I get a chance to test

[2020-02-05 19:47] stramel commented on #1720
When I used `babel-jest` it seemed to break the resolution of typescript paths

[2020-02-05 19:50] stramel commented on #2365
I believe this is related to #2119

[2020-02-05 20:00] stramel commented on #2365
I was able to workaround this issue for now by doing,

[code]

[2020-02-06 02:15] stramel commented on #2365
Managed to work around the jest problem too.

// jest.config.js
[code]

[code]

[2020-02-06 08:44] pzvalueadd opened #2438 "Cypress code coverage report"
Is it possible to generate Cypress code coverage report? I'm trying to set it up, but so far without success.

[2020-02-06 11:44] matthewjh commented on #2379
We are very happily using it at Tradeweb in our UI monorepo.

https://www.tradeweb.com/

[2020-02-06 13:31] gperdomor opened #2439 "[eslint] Failed to load plugin '@typescript-eslint'"
_[Please make sure you have read the submission guidelines before posting an issue](https://github.com/nrwl/nx/blob/master/CONTRIBUTING.md#-submitting-issue)_

# Prerequisites

Please answer the following questions for yourself before submitting an issue.
**YOU MAY DELETE THE PREREQUISITES SECTION.**

- [x] I am running the latest version
- [x] I checked the documentation (nx.dev) and found no ans

[2020-02-06 14:06] SOHELAHMED7 opened #2440 "[Feature Request] NuxtJS support"
[This comment](https://github.com/nrwl/nx/issues/1541#issuecomment-582508201) by Victor encouraged me to create this issue to track and discuss [NuxtJS](https://nuxtjs.org/) support.

Also solving https://github.com/nrwl/nx/issues/1541 will help to solve part of this issue

[2020-02-06 15:34] shanepadgett commented on #2427
Get the same result trying to create a react/express app interactively.

[2020-02-06 15:45] shanepadgett commented on #2427
Well I was able to get it to work. I ended up uninstalling yarn and that did it.

[2020-02-06 19:26] markgoho opened #2445 "dep-graph seems to be caching result and not updating"
## Expected Behavior

`npm run dep-graph` shows the dependency graph

## Current Behavior

connections seem to be accurate, but when removing an `implicitDependency` from the `nx.json` file, the connection is still rendering as if it existed

### Steps to Reproduce

Please provide detailed steps for reproducing the issue.

1. run `npm dep-graph`
2. Add an implicitDependency from one lib to another

[2020-02-06 19:56] danilomelo commented on #1499
Only if I install @nrwl/workspace locally, then it works. It's right? Why @nrwl/workspace not appear in docs?

[2020-02-07 02:04] devjack-front opened #2446 "Project "api" not support command serve"
I'm creating a project using nest, and when execute the command ng serve api (api is a nest project) not work

Comands
#Add nest
ng add @nrwl/nest

#Create a project api (ok)
ng g @nrwl/nest:app api --frontendProject=booking

#Should serve api project
ng serve api

Error returned: An unhandled exception occurred: Project 'api' does not support the 'serve' target.

[2020-02-07 02:31] gperdomor commented on #1230
@vsavkin @FrozenPandaz any progress or plan to include this kind of builder in NX?, exists some problems with NestJS + TypeORM and webpack, like https://github.com/nrwl/nx/issues/803 and https://github.com/nrwl/nx/issues/1393 for example

[2020-02-07 03:10] charsleysa commented on #2379
Kintal Apps Ltd has been using nrwl nx for about 1.5 years for the main product MyMahi https://mymahi.co.nz

[2020-02-07 06:17] Lonli-Lokli opened #2447 "[Feature Request] nx edject"
# Prerequisites

Please answer the following questions for yourself before submitting an issue.
**YOU MAY DELETE THE PREREQUISITES SECTION.**

- [x] I am running the latest version
- [x] I checked the documentation (nx.dev) and found no answer
- [x] I checked to make sure that this issue has not already been filed
- [x] I'm reporting the issue to the correct repository (not related to React, Angul

[2020-02-07 09:28] gkamperis opened #2448 "ngrx - useDataPersistence flag only works for creators does not work for older syntax"
## Expected Behavior
I'd expect to not have DataPersistence even when using the older sysntax of ngrx for effects

## Current Behavior
Only works when "creators" is selected as the ngrx implementation

## Failure Information (for bugs)
N/A

### Steps to Reproduce

run the command for ngrx with --useDataPersistence=false
ng g @nrwl/angular:ngrx my-lib --module=XXXX --useDataPersistence=false

### C

[2020-02-07 09:36] gkamperis opened #2449 "ngrx - barrels flag documentation improvement"
## Expected Behavior

I'd expect docs to state that the flag only applies to libs

## Current Behavior

reading this
[https://nx.dev/angular/api/angular/schematics/ngrx](https://nx.dev/angular/api/angular/schematics/ngrx)

makes me assume I can apply it to the main app state too.

I had to look at the code to see the comment that tells me it is skipped if the target is not a lib

line 20
[https://

[2020-02-07 11:01] rexebin commented on #2379
Encial Group Ltd. We have been using Nx for our trading and management system since begining.

[2020-02-07 11:26] mehrad-rafigh opened #2450 "Jenkinsfile added as implicitDependency has no effects in print-affected script"
# Prerequisites
I have a Jenkinsfile and I added it to the `implicitDependencies` Object inside nx.json.
When modified  every app in the monorepo should go through the build and test pipeline as described in the Jenkinsfile

- [ ] I am running the latest version
- [x] I checked the documentation (nx.dev) and found no answer
- [x] I checked to make sure that this issue has not already been filed
-

[2020-02-07 13:41] JanineLourens commented on #1542
hey @bcabanes ,
I was wondering how would this work in a project without angular, e.g. a NX react based series of apps?
I've been stuck  with this for 3 days now trying to find a solution for this exact same problem and only have workspace.json

where adding

doesn't work.

I was wondering if you have any ideas with this or know a guy who created a style library

[2020-02-07 13:45] markgoho commented on #2445
Here's a screen recording of the issue: https://youtu.be/bc0LvOojTU4

[2020-02-07 18:14] gperdomor commented on #2439
also in 9.0.0 RC1

[2020-02-07 19:12] R0muald commented on #2320
It is not working for me as well.  It looks like it does not connect to the `<root>/tsconfig.json` that list all the paths.

[2020-02-07 19:19] Jordan-Hall commented on #2440
@SOHELAHMED7  I've back on normal internet now and speeding things up.  I'll take a look at NuxtJS and see if i can do both together.  @vsavkin Builder coming on ok. But should this be a community PR or should it come into the main project

[2020-02-07 23:59] x87 commented on #2445
The cached version of the project graph is stored into `dist/nxdeps.json`

https://github.com/nrwl/nx/blob/b04b18d07ef77bd2141472714afa24c799ea1dff/packages/workspace/src/core/project-graph/project-graph.ts#L90

[2020-02-08 00:03] markgoho commented on #2445
Great catch @x87 -- I saw this as well in my project. Could this be a simple fix of deleting that file each time the command is run?

[2020-02-08 03:29] luejerry commented on #2404
Getting the same issue. Might it be because our Nx workspace root is not the git repo root? Will try to set up a repro.

[2020-02-08 08:52] asherccohen commented on #2425
Hi @jdpearce and @PizzapunkDev I'm still having troubles with this. I know it's off topic here but serving the exported application on heroku with 'serve' package shows a 404 page.
Any suggestions?
I think the main troube here is the fact that each app doesn't have a package.json and I can't find documentation about deploying in these cases.
When you say that express can be used do you mean I shou

[2020-02-08 14:52] nayfin commented on #275
@vogloblinsky it seems the nx demo you point to in the compodoc docs has changed and no longer includes compodoc.

[2020-02-08 16:49] nayfin commented on #1686
So, is there an easy way to convert from one to the other? Is it as simple as renaming the files (`angular.json` <=> `workspace.json`) and updating the `implecentDependencies` in the `nx.json` file
[code]
Or is there more to it?

[2020-02-08 17:46] devinshoemaker opened #2456 "Calling @nrwl/react application schematic from another schematic with dry run results in error"
## Expected Behavior

I expect that I can call the `@nrwl/react` schematic from another in order to extend it.

## Current Behavior

I created an Nx plugin with the `create-nx-plugin` tool, and in one of my schematics, I imported the `application` schematic from `@nrwl/react`. I used the same schema so that I could just forward the options to the `@nrwl/react`, and then I can make my own modificat

[2020-02-09 10:02] LucaFilitz commented on #1744
How can I use scss modules?

[2020-02-09 12:46] gauravsoni119 opened #2457 "[Feature]: Ability to bump packages version and update changelog automatically"
## Expected Behavior

Provide schematics to bump up the package version and update the changelog of the packages. This feature is provided by [lerna](https://github.com/lerna/lerna/tree/master/commands/version#lernaversion) and [rushjs](https://rushjs.io/pages/maintainer/publishing/). I am not able to find this on [nx.dev](https://nx.dev/web) documentation.

With the help of this, there is no need

[2020-02-09 17:44] asherccohen commented on #1541
Awesome @vsavkin! I will create a plugin for React native as soon as your tool is ready!

[2020-02-09 21:22] vsavkin commented on #2397
It looks like you have multiple copes of RxJS in `node_modules`, which results in this error.

What are the versions of:
* `C:/Users/pavel/Source/Repos/eleg/fe/node_modules/rxjs`
* `C:/Users/pavel/Source/Repos/eleg/fe/node_modules/@nrwl/angular/node_modules/rxjs`

You can look at your root `package.json`. Maybe you need to update the version of RxJS there.

If nothing helps, you can force npm to h

[2020-02-09 21:36] vsavkin opened #2458 "Quick Fixes for Common Problems"
### Multiple Versions of RxJS or WebPack

Having multiple versions of RxJS or WebPack in your `node_modules` can result in hard-to-troubleshoot problems. Example: https://github.com/nrwl/nx/issues/2421.

If you are using the Nx command (e.g., you invoke `nx build myproj`), even when Nx simply delegates to the Angular CLI, we try to work around the issues, but it's not a 100% guarantee that they wo

[2020-02-09 21:37] vsavkin commented on #2421
It's a common problem with having more than one version of RxJS. Could you try the following: `https://github.com/nrwl/nx/issues/2458`

[2020-02-09 21:50] juristr commented on #602
Hey all, building publishable libs that reference other publishable libs should be solved now and work as expected starting from our 8.12 release.

A couple of notes here:
- publishable libraries can only depend on other publishable libraries. There is a new option in the nx enforce boundaries lint rule that checks for it
- you will need to build your dependent library first. Say lib-a depends on

[2020-02-09 21:50] #602 closed

[2020-02-09 21:52] juristr commented on #602
@dalemanthei I didn’t look into the details of your demo repo, but I think the Nx run-many command could help you out here.

[2020-02-10 06:29] minhlucvan commented on #1541
Hi guys, how are things going? I'm very interest in this feature so if have anything that I can help just ping me :)

[2020-02-10 09:34] jdpearce commented on #1541
@asherccohen We are already working on a React native plugin! (I believe @jaysoo is working on that at the moment)

[2020-02-10 11:12] KrzysztofCzaplejewicz commented on #2458
#2357 similar problem or even same

[2020-02-10 11:16] asherccohen commented on #1541
@jdpearce great news!per me know of help is needed!

[2020-02-10 11:17] Jordan-Hall commented on #1541
@minhlucvan  I'll set up a slack channel in coming days. Build coming on almost sorted (including for libs)

[2020-02-10 12:50] gpaucot opened #2459 "--cypressConfig option ignored by the CLI"
## Expected Behavior

The --cypressConfig option should run cypress with that configuration and not the default _cypress.json_ file.

## Current Behavior

_cypress.json_ is always used whatever the --cypressConfig option is.

Probably an other symptom of #1878

## Steps to Reproduce

[code]

[2020-02-10 13:22] EvtK commented on #2458
awesome @vsavkin ! part 2b seems to fix my issues. Currently checking if our CI likes it also, but so far so good!

[2020-02-10 14:42] ntziolis commented on #1659
@cwmrowe Did you manage to get this up and running with nx or did you create your own custom cli builder via angular console? Any code or snippets to share?

[2020-02-10 17:06] #2450 closed

[2020-02-10 18:21] rarmatei commented on #2337
@zodiac1214 I agree, linting won't break on a file when only its dependencies have changed. Hopefully eslint caching will land in `9.1`

[2020-02-11 00:16] egdraper opened #2463 "Error: Some of the library <YOUR LIBRARY> dependencies have not been built yet. Please build these libraries before: -testing"
We are getting this error:
`Error: Some of the library "my-library" dependencies have not been built yet. Please build these libraries before: -testing`

We have just upgraded to Angular 8 and are having an issue with our build.

We have two libraries generated by the Nrwl schematics (in Angular 7) within the same project. They are "my-library" and "testing".

"testing" is a library that contains

[2020-02-11 11:15] kklimczak commented on #2219
@vsavkin I ran `nx g @nrwl/web:application app` today and I noticed the same bahavior (exit 0 without any information in console.
My stack:
[code]

[2020-02-11 11:54] wickstargazer commented on #1621
Hi,

I saw there is a pullrequest for .nxignore --> [PR #1585 ](https://github.com/nrwl/nx/pull/1585)

However it only works for the `workspace-lint` command and not the `affected` commands

Can it be added in? I see that its added in the `core/file-utils.ts` in the function `allFilesInDir`

However thats only use in the `workspace-lint` as i observed.

Can we add the ignore machanism for the `aff

[2020-02-11 12:01] wickstargazer opened #2464 "create-nx-plugin causes error Cannot find project 'plugin-name-e2e' in 'apps/plugin-name-e2e'"
_[Please make sure you have read the submission guidelines before posting an issue](https://github.com/nrwl/nx/blob/master/CONTRIBUTING.md#-submitting-issue)_

# Prerequisites

Please answer the following questions for yourself before submitting an issue.
**YOU MAY DELETE THE PREREQUISITES SECTION.**

- [x] I am running the latest version
- [x] I checked the documentation (nx.dev) and found no ans

[2020-02-11 12:47] alfaproject commented on #2367
@vsavkin this patch fixes this regression:
[code]

[2020-02-11 13:51] jerryorta-dev commented on #2379
Spout is using it for a music app that is angular front-end inside of electron and firebase.

[2020-02-11 15:52] x87 opened #2465 "yarn create nx-workspace fails in 9.0.0"
_[Please make sure you have read the submission guidelines before posting an issue](https://github.com/nrwl/nx/blob/master/CONTRIBUTING.md#-submitting-issue)_

# Prerequisites

Please answer the following questions for yourself before submitting an issue.
**YOU MAY DELETE THE PREREQUISITES SECTION.**

- [x] I am running the latest version
- [x] I checked the documentation (nx.dev) and found no ans

[2020-02-11 16:26] Doginal commented on #1791
I almost have this feature implemented. I will open a PR sometime this week!

[2020-02-11 16:57] hnryjms commented on #1276
Hi there....

I was able to find a way to do this:

**First, write an alternative `preprocessTypescript()` function** by modifying your `src/plugins/index.js` file like so:

[code]

**Then, add a `.cypress-cucumber-preprocessorrc` file to the root of your repo** (or in each `-e2e` app) with this configuration:

[code]

Without the updated `stepDefinitions` configuration, cucumber will continue sea

[2020-02-11 17:03] hnryjms commented on #1276
^ Storybook has a paradigm for [custom webpack config](https://storybook.js.org/docs/configurations/custom-webpack-config/) which may be a good approach here.

[2020-02-11 17:29] x87 opened #2466 "affected:libs logic is sensitive to the project names and order"
## Expected Behavior

`nx affected:libs` scripts should correctly identify libs affected by a change.

## Current Behavior
Under certain conditions `nx affected:libs` marks unrelated libs as affected and ignores the correct libs.

## Failure Information (for bugs)
`nx affected:libs` prints wrong lib names as the result

### Steps to Reproduce

Please provide detailed steps for reproducing the issu

[2020-02-11 17:53] x87 commented on #2466
the issue is here https://github.com/nrwl/nx/blob/f232a438d3ed5a10235d278b0f0e4573c19d14dc/packages/workspace/src/core/affected-project-graph/locators/workspace-projects.ts#L11

[2020-02-11 18:47] x87 opened #2467 "Can't Build Nx on Windows"
## Expected Behavior

I can clone the Nx repo and build all packages locally / run tests.

## Current Behavior

`yarn build` fails on Windows due to the missing `rsync`

## Failure Information (for bugs)

### Steps to Reproduce

Please provide detailed steps for reproducing the issue.

1. git clone https://github.com/nrwl/nx.git
2. yarn install
3. yarn build

### Context

Please provide any releva

[2020-02-11 19:14] x87 commented on #2467
duplicate of #1146

[2020-02-11 19:14] #2467 closed

[2020-02-11 23:52] armstrjare opened #2469 "Initial workspace conversion corrupts binary files during file renames"
## Expected Behavior

Initial workspace conversion from standard angular-cli workspace reorganises binary files without modification.

## Current Behavior

Binary files are modified during filesystem reorganisation

## Failure Information (for bugs)

I think this is due to converting the file `Buffer` to String during copying files.

https://github.com/nrwl/nx/blob/f232a438d3ed5a10235d278b0f0e4573

[2020-02-12 01:35] x87 commented on #2466
Another issue can be seen within a workspace with the following projects defined in the `angular.json`:

[code]
If you change a file in the `ab` lib , `nx affected:libs` returns the `a` lib as affected. Whereas if you swap the projects in the `angular.json`, the script returns the expected `ab`.

#2468 fixes this too.

[2020-02-12 04:37] FrozenPandaz commented on #2465
Sorry, the error message is vague but Node 11 is not supported by the Angular CLI.

https://github.com/angular/angular-cli/blob/3c771d1b56f369cd5385b911023e4a134b2a1da8/packages/angular/cli/bin/ng#L18

Please use Node ~10.13 or Node ~12.0

[2020-02-12 04:37] #2465 closed

[2020-02-12 06:48] joelmuskwe opened #2470 "Question on Effect with DataPersistence to listen to multiple actions"
# Prerequisites
- [*] I am running the latest version
- [*] I checked the documentation (nx.dev) and found no answer
- [*] I checked to make sure that this issue has not already been filed
- [ ] I'm reporting the issue to the correct repository (not related to React, Angular or any dependency)

## Expected Behavior

Question  on effects  on  how an effect with DataPersistence can  be triggered  fr

[2020-02-12 06:54] kevincoleman commented on #892
Small aside, but from the above comment it looks like you may get a cyclical extend. I did when following this. I just removed the extend in `tsconfig.e2e.json` (and the outDir, actually), and it cleared up my case.

I definitely don’t understand all of what’s going on here, but I thought I’d share in case anyone else hits the same issue the way I did.

Thanks!

[2020-02-12 11:25] alvarosaburido commented on #2152
There is a open issue regarding Vue support here --> https://github.com/nrwl/nx/issues/1541 , any plan for next releases ?

[2020-02-12 14:05] brandonroberts commented on #2470
Hey @joelmuskwe. Use the `fetch` pipeable operator from `@nrwl/angular` which is the counterpart to using the DataPersistence service.

[code]

[2020-02-12 14:05] #2470 closed

[2020-02-12 14:27] esagawe opened #2471 "default affected criteria are not set while formatting"
# Prerequisites

Please answer the following questions for yourself before submitting an issue.
**YOU MAY DELETE THE PREREQUISITES SECTION.**

- [x] I am running the latest version
- [x] I checked the documentation (nx.dev) and found no answer
- [x] I checked to make sure that this issue has not already been filed
- [x] I'm reporting the issue to the correct repository (not related to React, Angul

[2020-02-12 14:40] brandonroberts commented on #2448
@gkamperis is there a reason you aren't using the new creators syntax instead? Would you like to submit a PR for the older syntax?

[2020-02-12 14:47] brandonroberts commented on #1835
Thank @tommyc38, this question would be better answered on StackOverflow, or by referencing the forRoot/forFeature Angular docs

[2020-02-12 14:47] #1835 closed

[2020-02-12 15:09] evstinik commented on #2419
+1 here, please add support of crossOrigin

[2020-02-12 15:11] brandonroberts commented on #2137
I tried this with the latest release and it no longer runs install tasks unless `--publishable` is provided.

[2020-02-12 15:11] #2137 closed

[2020-02-12 15:15] gkamperis commented on #2448
@brandonroberts a few reasons...

We have existing code that uses the older syntax (of the time). Generating a new feature with different syntax would introduce inconsistency in approach in the codebase.

Also completely as a personal preference and I still find the older syntax a lot clearer.

Not very different for effects really but I *really* don't like the new action creators.

I am probably

[2020-02-12 15:17] brandonroberts commented on #2448
@gkamperis thanks for the explanation. Feel free to reach out if you need additional help on the PR.

[2020-02-12 15:18] elvirdolic opened #2472 "affected command has different output on azure devops hosted build agents (linux vs windows)"
_[Please make sure you have read the submission guidelines before posting an issue](https://github.com/nrwl/nx/blob/master/CONTRIBUTING.md#-submitting-issue)_

# Prerequisites

Please answer the following questions for yourself before submitting an issue.
**YOU MAY DELETE THE PREREQUISITES SECTION.**

- [x ] I am running the latest version
- [x ] I checked the documentation (nx.dev) and found no a

[2020-02-12 16:15] jerryorta-dev opened #2473 "[9.0.0] - workspace-schematic throws error"
## Expected Behavior

Using a custom schematic as outlined in the Advance Workspaces course - I should be able to create libraries with tags.

## Current Behavior

Running a command like this: `nx workspace-schematic tagged-library util-inline-worker` creates a tagged library.

This works in nx ~8.

## Failure Information (for bugs)

Command throws error

### Context

Please provide any relevant i

[2020-02-12 16:35] cwmrowe commented on #1659
@ntziolis sorry we didn't proceed down this route in the end

[2020-02-12 18:06] Flaxline commented on #2438
Did you make any progress on this?
I'm also trying to setup code coverage for a nx-repo with Angular, where it seems my 2 biggest problems are Angular/TS and the structure of the repository.
My goal would be to have the coverage for e2e-Tests against a Storybook, as they're now supported and generated by nx.

I've tried a lot of different setups with manual instrumentation of the code, and my, I t

[2020-02-12 18:06] juuyan commented on #2382
@PizzapunkDev  Agree. But I feel this design is bit too inflexible.

I'd hope nx application could natively support storybook.
For now, is there any workarounds?

[2020-02-12 18:06] juuyan commented on #2382
I'd hope nx application could natively support storybook.
For now, is there any workarounds?

[2020-02-12 18:58] jczacharia commented on #1515
@Tucaen If you are still interested, this helped me out A LOT. https://www.softwarearchitekt.at/aktuelles/sustainable-angular-architectures-2/

[2020-02-12 19:46] willyboy commented on #429
If I have a directory to group libs but the directory isn't itself a lib, I get this error by having a readme in the directory.
Like:
[code]

[2020-02-12 20:12] asherccohen opened #2474 "NEXT JS: nx build myNextJsApp doesn't export assets stored in /public folder"
# Prerequisites

- [x ] I am running the latest version
- [ x] I checked the documentation (nx.dev) and found no answer
- [ x] I checked to make sure that this issue has not already been filed
- [x ] I'm reporting the issue to the correct repository (not related to React, Angular or any dependency)

## Expected Behavior

Running nx build myNextJsApp creates build artifacts including assets from /p

[2020-02-12 21:35] goelinsights opened #2475 "ng g defaults in angular.json ignored on migration to 9.0"
_[Please make sure you have read the submission guidelines before posting an issue](https://github.com/nrwl/nx/blob/master/CONTRIBUTING.md#-submitting-issue)_

## Expected Behavior

ng g c utilizes the defaults in angular.json that worked prior to migrating to nx workspace 9/ Angular 9

## Current Behavior

What is the current behavior?
component generated ignores the configuration file defaults.

[2020-02-13 02:46] yharaskrik commented on #2379
trellis.org is! We have been using Nx for quite a while now! We love it so much a few of us (@Doginal) in the company have contributed to the repo itself and have started a community run Slack workspace for Nx users called [@nrwl/community](https://join.slack.com/t/nrwlcommunity/shared_invite/enQtNzU5MTE4OTQwOTk0LTgxY2E0ZWYzMWE0YzA5ZDA2MWM1NDVhNmI2ZWMyYmZhNWJiODk3MjkxZjY3MzU5ZjRmM2NmNWU1OTgyZmE4Mz

[2020-02-13 04:51] xmlking opened #2476 "Why nx locks us to old versions of @angular-devkit?"
I updated to the latest version of @nrwl/workspace (9.0.0) and  @angular/cli  (9.0.2) with `ng update`

I see some `angular-devkit` packages locked at lower version : `9.0.1`
When  I run `yarn why @angular-devkit/schematics` found  `@nrwl` packages are locking this version.

will it be possible to keep then at least **patch** version level unlocked (~)?

I like to keep `@angular-` packages in sync

[2020-02-13 05:46] xmlking commented on #2427
I have the following  global npm packages:
`yarn global list`
[code]

`nx create-nx-workspace --preset=angular --cli=nx test123`  as documented won't work for me.

Error
[code]

[2020-02-13 05:50] xmlking commented on #2475
Angular cli 9.0.2 deprecated  `styleext`,  `spec` should be replaced with `style`,  `skipTests ` by Nx as well...

[2020-02-13 08:14] juuyan commented on #2382
@leifwells
Hey, just share how I make it works.
I simply manually provided a tsconfig.lib.json for storybook to initialize.
Another problem would come after is that storybook could not resolve "@workspace/lib-name". To solve this I added the following into storybook's own webpack.config.js
[code]

Hope it helps.

[2020-02-13 09:00] roedit commented on #2099
This issue still happens in v9.0.0:
File identified as (one) problem location:
nx/packages/web/src/utils/third-party/cli-files/models/webpack-configs/styles.ts#L141-L158
[code]

[2020-02-13 10:23] krizic opened #2478 "Next with SCSS and customServerPath option are failing to serve on production mode."
- [x] I am running the latest version
- [x] I checked the documentation (nx.dev) and found no answer
- [x] I checked to make sure that this issue has not already been filed
- [x] I'm reporting the issue to the correct repository (not related to React, Angular or any dependency)

## Expected Behavior

Next + Scss project should successfully serve production build when `customServerPath` is used.

O

[2020-02-13 10:26] krizic commented on #2478
@elliottsj have you maybe had any issues with this?

[2020-02-13 10:28] krizic commented on #2478
@vsavkin would you be so kind to tag this to next.js scope?

[2020-02-13 11:24] gund opened #2479 "[Bug] Angular builder cannot find built dependent libs"
# Prerequisites

- [x] I am running the latest version
- [x] I checked the documentation (nx.dev) and found no answer
- [x] I checked to make sure that this issue has not already been filed
- [x] I'm reporting the issue to the correct repository (not related to React, Angular or any dependency)

## Expected Behavior

Builder `@nrwl/angular:package` should be able to locate built dependent librarie

[2020-02-13 13:13] gund commented on #2479
I'm sorry - I actually looked at the code of `node` builder =)

In the angular builder the path is hardcoded to `dist/<lib-root>/package.json`:

https://github.com/nrwl/nx/blob/f232a438d3ed5a10235d278b0f0e4573c19d14dc/packages/angular/src/builders/package/package.impl.ts#L55-L60

This is a problem because we can still modify the destination path in the `ng-package.json` `dest` property.
And once i

[2020-02-13 14:58] pzvalueadd commented on #2438
Unfortunately I didn't make any progress so far :(

[2020-02-13 17:24] wickstargazer commented on #2478
Hi, I am having the exact same issue for angular app as well

[2020-02-13 19:03] jaysoo commented on #2456
Hi @devinshoemaker Definitely interested in what the problem is that is preventing `@nrwl/react:app` schematic from being extended from. It is a use-case that should be supported, either as a third-party plugin or workspace schematic.

[2020-02-13 19:19] J-Swift opened #2482 "[Feature Request / Question] More robust polyglot support"
Hey nrwl team, I continue to love what yall are doing! Thanks for being awesome!

I know you are probably focused on the JS ecosystem in terms of full stack support, but I know I've heard you talk in the past about true polyglot monorepo support within the `nx` toolchain. I haven't been able to track down any info online or within this repo on your official plans for, e.g., dotnet as a backend. I

[2020-02-13 19:30] AdamVig commented on #2417
See [`eslint-plugin-import`](https://github.com/benmosher/eslint-plugin-import).

[2020-02-13 19:43] devinshoemaker commented on #2456
It must be a filepath scoping issue. When the `@nrwl/react` application schematic adds the project files with the path `./files/app` it ends up looking in the folder where my schematic is (the one calling the Nrwl React schematic).

[2020-02-13 19:47] jaysoo commented on #2042
It's possible if you override the document class and provide the babel plugins.

See example here: https://github.com/jaysoo/react-ssr-example/tree/master/apps/next-app

Going to close this issue since there is a solution, but we might look at enhancing the generated code when `styled-components` is chosen. Cheers!

[2020-02-13 19:47] #2042 closed

[2020-02-13 20:00] devinshoemaker commented on #2456
Here is another branch with the example. If you delete `libs/ionic-react/src/app/files/` then the build will start failing due to not being able to find `tsconfig.json` (because it wasn't ever copied since the `@nrwl/react` application schematic couldn't find the files).

[2020-02-13 21:38] devinshoemaker commented on #2456
Sorry for the volume of replies. I figured out that using the `externalSchematic` function in the Angular schematics library actually solves my issue, so I'm going to put this one on user error, unless I'm misunderstanding something.

[2020-02-14 00:03] krizic commented on #2478
@wickstargazer oh wow, OK so this could be escalated? Can you too provide exact steps to reproduce or even better repo with minimum set up to to reproduce the issue?

[2020-02-14 12:16] intellix commented on #2367
@vsavkin I don't mind making the above PR if you can verify that it's the correct solution

[2020-02-14 13:30] MitkoTschimev commented on #1659
Hi, we are working on something like this. Maybe you can create an issue as a feature request there?
https://github.com/Dev-Thought/ng-deploy-it

[2020-02-14 15:07] mauriziovitale opened #2483 "Nx.json - Be able to add as implicit dependency value a RegExp"
Currently, Nx does not allow you to specify a regexp as the value of an implicit dependency such as `package.json`
# Prerequisites
[code]
Please answer the following questions for yourself before submitting an issue.
**YOU MAY DELETE THE PREREQUISITES SECTION.**

- [x] I am running the latest version
- [x] I checked the documentation (nx.dev) and found no answer
- [x] I checked to make sure that t

[2020-02-14 15:25] dogmatico commented on #2379
We have consolidated some client web applications, 7 at the moment, into a Nx mono-repo at http://bmat.com.

We are happy with the result: having to not manage artifacts and source synchronization has been very satisfying. The only issue, minor because we are a small team, is with commits updating `angular.json` and `nx.json`: I think that modularizing those files can be a really big win and preve

[2020-02-14 15:52] ntziolis commented on #1659
Will do. does anyone know if there is a central space for community packages for nx? If not ill open an issue to create such a space.

[2020-02-14 16:29] allpwrfulroot opened #2485 "build-storybook missing project storybooks"
## Expected Behavior

When I run the script "build:storybook": "build-storybook", I would expect all underlying storybooks to be included in a static build (the generator itself added both root and project .storybook)

## Current Behavior

The build completes, but none of the underlying storybook components are included? The built site just hangs.

## Failure Information (for bugs)

No console log

[2020-02-14 16:38] calvinkcox commented on #2439
This is also an issue with 9.0.0's (official) release.
It appears to be a problem with the way peer dependencies are being handled.

Manually installing all required peer dependencies appears to resolve:
`yarn add --dev @typescript-eslint/eslint-plugin @babel/core@^7.0.0-0 @nrwl/workspace @nrwl/eslint-plugin-nx @nrwl/nx prettier-eslint eslint-config-prettier eslint-plugin-prettier prettier @typesc

[2020-02-14 16:41] gperdomor commented on #2439
In my case I only install `@typescript-eslint/parser @typescript-eslint/eslint-plugin @nrwl/eslint-plugin-nx eslint-config-prettier`

[2020-02-14 16:45] Hotell opened #2486 "@nrlw/react:lib --publishable omits workspace name within package.json"
# Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [x] I am running the latest version
- [x] I checked the documentation (nx.dev) and found no answer
- [x] I checked to make sure that this issue has not already been filed
- [x] I'm reporting the issue to the correct repository (not related to React, Angular or any dependency)

## Expected Behavior

`

[2020-02-14 17:19] atifsyedali commented on #2379
We have been using Nx for ourselves and for another client on a fairly large project.

Though, we have had to add custom builders, for example, to: (a) a node/web builder to generate a package.json from the dependency graph for each app in the dist folder, (b) a web builder that ports over create-react-app configurations and modifies it for SSR+client, (c) enable distributed caching on redis. We a

[2020-02-14 18:33] myspivey commented on #2379
[Shutterstock](https://www.shutterstock.com) is in the process of integrating this to manage our e-commerce code.

[2020-02-14 21:13] epikhighs opened #2488 "pascalCaseFiles option bug"
## Expected Behavior

I was expecting pascalCaseFiles option to actually drop hyphenation in file name creation and possibly even in the project name

https://nx.dev/web/api/react/schematics/library#pascalcasefiles

## Current Behavior

nx g @nrwl/react:lib heroStat --pascalCaseFiles=true --dryRun
CREATE libs/hero-stat/.eslintrc (7019 bytes)
CREATE libs/hero-stat/README.md (172 bytes)
CREATE libs/

[2020-02-15 01:09] studds opened #2489 "affected commands ignore new targets (cached in nxdeps.json)"
## Expected Behavior

Adding a new target "bullseye" and running `nx affected --target bullseye` should run the "bullseye" target.

## Current Behavior

Targets are "cached" in nxdeps.json, and the new target is ignored.

## Failure Information (for bugs)

Please help provide information about the failure if this is a bug. If it is not a bug, please remove the rest of this template.

### Steps to

[2020-02-15 01:14] studds commented on #1972
I've written a little script called [monorepo-package-tool](https://www.npmjs.com/package/monorepo-package-tool) that copies dependencies from a root `package.json` to "child" `package.json` based on imports. It's intended for publishing to npm, rather than dockerizing. (I webpack my code with dependencies for deployment).

It's fairly basic, but it's scratching my itch for the mo.

[2020-02-15 05:32] jadams88 commented on #1460
I actually think this should be put down as a bug. `noImplicitAny` (or `strict`) seems to expose this pretty often.

TypeScript seems pretty clear cut on this and that and declarations that are exposed and are not bundled with the external package should be under dependencies and not a devDependencies.

Relevant TypeScript docs.

[Publishing Dependencies](https://www.typescriptlang.org/docs/handbo

[2020-02-15 05:59] jadams88 commented on #1460
On closer look it might not be as simple as above.

I was going to submit a PR but on closer look I can see that prettier is under **peerDependencies** and isn't part of the workspace package.

I have prettier installed but is run as a git hook with with "pretty-quick" for staged files and that's possible why I have not been bitten by this before.

My workaround right now is to set `strict: false`

[2020-02-15 08:36] asherccohen commented on #2474
UPDATE:

I am closing this since I misunderstood how mapping to /public folder works.
I assumed that /public folder would be copied in .next folder (making them part of the artifacts.
Instead these are simply referenced, by this I mean that the minimum structure of your projectto be deployed on a hosting platform/server is:

root
- .next
- public
- package.json
- node_modules

This is somehow diff

[2020-02-15 09:16] asherccohen opened #2490 "NEXT JS: Scss import issue and deployment strategy concerns"
- [x ] I am running the latest version
- [x ] I checked the documentation (nx.dev) and found no answer
- [x ] I checked to make sure that this issue has not already been filed
- [x ] I'm reporting the issue to the correct repository (not related to React, Angular or any dependency)

## Context
I'm creating this issue following @jaysoo suggestion.
Next 9.1.5 has css built-in, so importing css files

[2020-02-15 09:20] asherccohen commented on #2490
UPDATE: Just a brief add on. My test assumes no shared libs/shared components because I seriously wouldn't know how to let the hosting platform build without knowledge of the full nx workspace.
This is a different matter, I guess we can live without shared libs for now, although it kinda denies the purpose of a monorepo.

[2020-02-15 09:43] asherccohen commented on #2490
UPDATE 2:
Ok after fiddling with this a lot I noticed I can deploy the built folder (build artifacts) to Heroku, by removing the build command in my package.json the hosting platform jumps the build step and starts the app.

BOOM.

So my suggestion for the team is to modify the folder structure when running 'nx build myNextJsApp' command to:

nxRoot/
dist/
apps/
myNextJsapp/
- .next
- public
- pac

[2020-02-15 14:21] atifsyedali commented on #1972
Thanks @studds -- checking it out. I also have a couple of builders here https://github.com/Apployees/apployees-nx that will traverse the imports and output a package.json in the dist folder for that app/lib. If you have implicit dependencies you can create a partial package.json in each app/lib and it will take precedence over the versions defined in root package.json for specific dependencies of

[2020-02-15 15:46] annsk commented on #2379
We use it in our system.

IC COMPLEX
https://iccomplex.eu

[2020-02-15 19:51] zenVentzi commented on #2042
Am I supposed to see styled-components as an option because I don't.![image](https://user-images.githubusercontent.com/11378653/74594294-3a538280-503d-11ea-9877-4f78be6656df.png)

[2020-02-15 22:38] asherccohen commented on #2490
UPDATE 3:
@jdpearce explained to me why withSass plugin work out of the box on nx while it doesn't in a plain next js app.
Basically the nx team wraps next.config.js in an enhancer with predefined plugins already installed. One of these is withSass.
Let's discuss here if devs prefer having full control over next.config.js, hence removing the enhancer, or not. Thanks.

[2020-02-15 23:41] FrozenPandaz commented on #2482
Implementing Bazel will definitely help with this. What are people most interested in seeing?

[2020-02-15 23:52] FrozenPandaz commented on #2478
Can someone please create a repro to help us debug the issue?

[2020-02-16 00:10] #2459 closed

[2020-02-16 00:17] FrozenPandaz commented on #1878
This is now works!

[2020-02-16 00:17] #1878 closed

[2020-02-16 04:44] wickstargazer commented on #2478
@krizic, @FrozenPandaz   The repo is private, i am off till monday night, maybe morning your time. I will set an example one up  and get the steps for you guys.

# Reproduction steps
* Upgrading nx workspace to 9, failed with **there is no command `run-schematics`** when trying to upgrade angular to 9
* Then I upgraded angular to 9 running ng upgrade instead
* Then some project is throwing the iss

[2020-02-16 12:11] luisfilipegoncalves opened #2494 "NextJs styled-components starter error: Cannot find name NxLogo"
## Expected Behavior

Next.js sample app with styled components should load correctly.

## Current Behavior

Next.js sample app with styled components does not load correctly.

[code]

![image](https://user-images.githubusercontent.com/2605696/74604276-29922380-50b4-11ea-88d6-2d67364513fc.png)

## Failure Information (for bugs)

### Steps to Reproduce

[code]
Select:
 - an empty workspace
 - Nx Cl

[2020-02-16 14:59] #2476 closed

[2020-02-16 15:56] #2345 closed

[2020-02-16 16:07] Jimmysh opened #2496 "react library build failed"
# Prerequisites
- [x] I am running the latest version
- [x] I checked the documentation (nx.dev) and found no answer
- [x] I checked to make sure that this issue has not already been filed
- [x] I'm reporting the issue to the correct repository (not related to React, Angular or any dependency)

## Expected Behavior
React library can build success.
[code]
## Current Behavior
Build failed.
error mes

[2020-02-16 16:37] krizic commented on #2478
@FrozenPandaz please read the description again. The public repo and instructions were provided to start with! For your convenience, I'm linking it again [https://github.com/krizic/nx-next-scss-prod-error](https://github.com/krizic/nx-next-scss-prod-error)

[2020-02-16 22:33] vladimirdrayling commented on #2314
Same here.

I was able to configure with version NX 8.7.0, here is [jest.config.js](https://github.com/vladimirdrayling/xplat-starter/blob/master/jest.config.js). Maybe it can be useful.

### Usage in webstorm

To run within the webstorm you need to provide the `IDE` environment variable under `Run/Debug Configuration`.

Hope this issue can be fixed very soon :)

[2020-02-17 04:48] raycashmore commented on #2314
@vladimirdrayling Very useful, thank you. I just had to make a new a new file called setup-test.ts with `import 'jest-preset-angular';` (as shown in your repo). I am productive now!

[2020-02-17 05:32] ball6847 commented on #2159
Hi,

Just want to check with you guys, Is there any reason for not shipping prettier 1.19.x  in newly created nx workspace ?

Since angular9 and nx9 were released and it comes with TypeScript 3.7, but the prettier version currently generated in nx workspace is still at 1.18.x which does not seem to support TypeScript 3.7 (but it does in 1.19.x)

For me it now make sense to ship prettier 1.19.x by

[2020-02-17 09:13] ViceIce commented on #1765
Version 9 is mostly working fine now, but does not work if you have secondary entrypoints.

https://github.com/ViceIce/nx-test

![image](https://user-images.githubusercontent.com/1798109/74639324-03c95500-516e-11ea-84ba-b81f6b3e73d6.png)

It will work if i switch the paths (add the dist folder)

[2020-02-17 09:21] ViceIce commented on #1765
https://github.com/nrwl/nx/blob/1d1063fb1a4d5b47c20ddf6098e51a1d8c5eca43/packages/angular/src/builders/package/package.impl.ts#L98-L103

I think there needs to be a check for secondary entrypoints.

[code]

[2020-02-17 10:22] maxigimenez commented on #2485
We got similar issue for angular projects, it always tries to compile the `defaultProject`, not the selected one.

[2020-02-17 10:28] Flaxline commented on #2438
I finally figured out what I was doing wrong applying the steps from https://github.com/skylock/cypress-angular-coverage-example
Basically, if you are also using angular, you can follow that, but have to be very careful about the paths, especially in the webpack config.

I also plan on publishing a working example with NX-structure (and the storybook-based tests!) later (after I've finished up on

[2020-02-17 12:50] liquidautumn commented on #275
It seems Compodoc yet to implement notion of NX application and library. Is there any effort in this direction? I'd like to contribute, but don't know if I should start it by myself or join somebody to help.

[2020-02-17 14:05] johannesschobel commented on #1667
Dear @vsavkin , @FrozenPandaz  and @bcabanes

i recently stumbled upon the same issue *again*, as i started to work on another `nrwl/nest` project. I vaguely remembered that there was an issue in the `tsconfig` file somewhere when using the autogenerated stubs. Can you please fix this?

All the best,
Johannes

[2020-02-17 15:45] reinvanleirsberghe opened #2500 "Creating a new Angular 9 project from an empty workspace gives errors"
# Prerequisites
- [x] I am running the latest version
- [x] I checked the documentation (nx.dev) and found no answer
- [x] I checked to make sure that this issue has not already been filed
- [x] I'm reporting the issue to the correct repository (not related to React, Angular or any dependency)

## Expected Behavior
Install and run Angular 9 application after creating an empty workspace.

## Curren

[2020-02-17 16:56] R0muald commented on #2320
I could fix my issue by pointing webpack to the actual  build path of my library (my library needs to be built before being consumed). It's the same info I have in my `tsconfig.json`' paths.

In `/.storybook/webpack.config.js` I have
[code]

[2020-02-17 19:23] krzysztof-grzybek commented on #2417
@AdamVig thank You!
Although I need a `tslint` rule, it seems that something similar already exists: https://www.npmjs.com/package/tslint-origin-ordered-imports-rule

[2020-02-17 19:23] #2417 closed

[2020-02-17 19:35] prmichaelsen commented on #2147
Chiming in here. I've configured my webpack like @djedlajn and still get:
[code]

Here's my webpack.config with some differences from @djedlajn's
[code]

[2020-02-17 21:33] prmichaelsen commented on #2147
Believe it or not, I figured it out.

[code]

The global `openapi` object is not defined which causes the error. You can use a webpack shim to define it: https://webpack.js.org/guides/shimming/

[2020-02-17 21:44] prmichaelsen commented on #2147
Ok, final working solution. It's probably sinful, but here you go nonetheless:

[code]

[code]
[code]

[2020-02-18 12:39] whimzyLive commented on #1979
@leon I managed to fix it by changing
`jest-preset-angular/AngularSnapshotSerializer.js` to `jest-preset-angular/build/AngularSnapshotSerializer.js`
and
`jest-preset-angular/HTMLCommentSerializer.js` to `jest-preset-angular/build/HTMLCommentSerializer.js`.

Since in latest version of jest they have been moved under `/build` directory.
REF: https://github.com/thymikee/jest-preset-angular/releases/t

[2020-02-18 14:19] Hotell commented on #1232
`collection.json` is a must and pre-requirement to be able to write tests for custom workspace schematic :)

[code]

![image](https://user-images.githubusercontent.com/1223799/74744180-13c26100-5262-11ea-833e-67d08c6215ac.png)

[2020-02-18 15:05] krizic commented on #2490
@asherccohen hey man I'm having an issue with similar problem, we still haven't found the way to create and run deployment with scss and custom server.js file. [https://github.com/nrwl/nx/issues/2478](https://github.com/nrwl/nx/issues/2478) more described here with example repo.

I would highly appreciate if you give it a look and let me know if you see a solution. We are kinda  blocked from any d

[2020-02-18 16:17] asafbenm commented on #1970
@prudhvidandamudi  i notice that the issue is closed.
can you share the solution for this issue... it's happens to me also.

thanks

[2020-02-18 17:11] asherccohen commented on #2490
Hey @krizic!Sorry to hear that you're stuck!
I had a quick look at your repo and from what I can see you're using all defaults from nx which is good.
I must be honest I never tried serving an app with a custom server like that (customServerPath config), is there a particular reason why you need to do that?
'nx serve myNextApp --prod' is what you're looking for while developing locally.
Also using

[2020-02-18 17:21] Cammisuli commented on #2464
Hi @wickstargazer, I just tried with the latest version of nx, and I wasn't able to reproduce this. Can you try with the latest?

Also, for an FYI `create-nx-plugin` will create a new nx workspace. Are you trying to add the nx-plugin to an existing workspace (angular or nx)?

[2020-02-18 19:21] weblancaster commented on #1848
@footyapps27 made some time and opened https://github.com/nrwl/nx/pull/2502

[2020-02-18 20:49] Cammisuli commented on #2418
Hi @JakeAi, I cloned your repo and follow the steps you provided and got this as my output:
[code]
There's two things I notice:
1) The `user.model.ts` file is only outputting a console once (which I think is what's expected)
2) The path to the file is absolute

Is there anything else you can provide? For example, Node version, OS version, etc.

[2020-02-18 22:42] #2058 closed

[2020-02-19 00:53] J-Swift commented on #2482
My vote is on dotnet (core) and I suspect there are a lot of angular shops that run dotnet on their backend.

I'd also love rails but I'm not sure there would be enough interest/Bazel support for that

[2020-02-19 05:50] jacobworrel commented on #2409
There's a pretty in depth discussion on how to determine the base for `affected` commands [here](https://github.com/nrwl/nx/issues/633).

The two most straightforward solutions seem to be:

https://github.com/nrwl/nx/issues/633#issuecomment-535473546

https://github.com/nrwl/nx/issues/633#issuecomment-551398669

[2020-02-19 07:40] hoang-innomizetech commented on #176
Is there any way I can use origin/master instead of master? The branch hasn't been pulled yet, so we need to use from origin (or remote)

[2020-02-19 08:16] iamyellow commented on #1860
hey @asherccohen i'm interested. i don't have a lot of time, but eventually i'm going to need it and i'd like to need it, so why don't get my hands dirty? :) thanks!

[2020-02-19 10:23] wickstargazer commented on #2464
i am trying to add it to the current workspace, oh yes i actually did the `ng g @nrwl/plugins` route

sorry, i had the mix-ups
i am upgrading the workspace atm, will try with the new version

[2020-02-19 11:38] krizic commented on #2490
Hey thank you for your help, however custom server.js is required in our case due to authentication checks. I believe I get the very same result in case I just do a prod build and try to serve it from .next folder. The page still requests an unexisting module "index.scss"... even when built. I double-checked and indeed in file there is a reference for it.

Thank you for the rest of the recommendat

[2020-02-19 11:59] krizic commented on #2490
@asherccohen I just tryed what you recommended

I prod built project and moved it into `dist/apps/mpyl-ssr/.next`
I copied public folder and added also moved everything from dist static folder into it.
I removed my server.js and next.config
I tryed to run solution with `"start": "next dist/apps/mpyl-ssr/.next",` from the root of the nx workspace.

and I get:

[code]

I noticed that the pages folde

[2020-02-19 12:04] SachinShekhar opened #2506 "NX creates complete mess of Jest configurations"
To start with, NX's Jest configurations aren't in adherence with Jest's official documentation. I understand that NX has custom test builders and then there are e2e tests using them. So, I won't complain about it.

## My complaint
If Jest configs are wrong, why does NX write them into `jest.config.js` files?

## My problem:
Because of wrong config, Jest CLI (which is way faster than `ng test`) as

[2020-02-19 13:18] #2383 closed

[2020-02-19 13:19] jlerasmus commented on #2292
We are experiencing the same issue.  Our repo folder structure is basically the same as mentioned here: [https://github.com/nrwl/nx/issues/2292#issuecomment-572463139](url)

[2020-02-19 13:30] isaacplmann commented on #176
Here are example repos for Azure and Jenkins:

https://github.com/nrwl/nx-azure-build
https://github.com/nrwl/nx-jenkins-build

The readmes  from these repos will soon be included in the nx.dev docs.

[2020-02-19 13:47] #2466 closed

[2020-02-19 13:51] jaysoo commented on #2363
We have most packages locked in case of breakages between even minor versions. Thanks for looking into this and finding the workaround. The next version (9.1) will contain this fix. Cheers!

[2020-02-19 15:42] wickstargazer commented on #2464
@Cammisuli
I am still getting the same error with `workspace-lint`, this time i started from a brand new project. I will be moving the lib to the workspace and publishing it soon ... lets take a look then?

[2020-02-19 15:59] alejandrogkl commented on #1397
HI, i was looking for tutorials of how to re-architect an angular SPA that is getting bigger.

One of the possibilities is a Shell App that load multiple micro apps or micro frontends

The SPA is currently using NX ( Excellent work by the way @vsavkin and team ) and the potential micro apps are in separated micro-app libraries with a lot of internally lazy loaded modules

I found a lot of recommen

[2020-02-19 17:36] kremerd commented on #2099
Pretty sure @roedit found the culprit here. In fact I got my project to build again locally by updating that `options` parameter.

Should I raise a PR for this?

[2020-02-19 18:15] asherccohen commented on #1860
@jaysoo is working on supporting react native in nx. We can ask what's the progress and provide our help if he needs.

[2020-02-19 18:21] rarmatei commented on #2363
Thanks everyone, this seems to have been fixed in https://github.com/nrwl/nx/pull/2497

[2020-02-19 18:21] #2363 closed

[2020-02-19 18:22] asherccohen commented on #2490
This wouldn't work, since the root of the workspace is not aware of the dist/apps/myNextApp structure. You would have to configure the paths properly and I suggest against it.
What you should do is:
- no need to copy .next from the project to the dist folder. Just go in the workspace.json and change the outpur dir for your next js app. Change it to .next, this way 'nx build myNextApp' will put art

[2020-02-19 18:26] asherccohen commented on #2490
You're right I didn't think of that scenario, worth investigating next js  /api folder then, since version 9 supports building apis next to your app. If that doesn't suit your case I'm of the opinion that you still don't need to run the server.js file directly, if you deploy as I recommend then 'next start' should be able to run the server for you.

[2020-02-19 19:26] jaysoo commented on #2490
I believe @jdpearce is leaning towards allowing `next.config.js` to be controlled by the user, which would make sense if it needs to be extended upon. I think Nx should still provide some sane defaults so things work mostly out of the box.

[2020-02-19 19:35] jaysoo commented on #2506
@SachinShekhar Thanks for reporting this issue. What do you mean by the config being invalid, do you have an example repo for this?

From what I can tell, we were using the invalid `passWithNoTest` option, which results in a warning from Jest. This issue has been fixed here: https://github.com/nrwl/nx/pull/2442

[2020-02-19 19:41] jaysoo commented on #2367
@alfaproject @intellix It looks correct, and basically makes the visited array shared state. If you can open a PR we can take a look. Thanks!

[2020-02-19 19:46] jaysoo commented on #2439
We made an optimization so package.json updates are only performed as needed, however we made a small logical error for 9.0.0 and the 8.12.x releases.

This has since been patched here: https://github.com/nrwl/nx/pull/2481

If you try 9.0.1 or 8.12.5 this issue should be fixed.

[2020-02-19 19:46] #2439 closed

[2020-02-19 19:48] jaysoo commented on #2486
Definitely a bug. We'll patch it up for next release.

[2020-02-19 19:52] jaysoo commented on #2488
The `pascalCaseFiles` option need to be pass down to the component schematic.

https://github.com/nrwl/nx/blob/ed0f0f8/packages/react/src/schematics/library/library.ts#L82-L91

We can patch it next release. Thank for reporting!

[2020-02-19 19:56] jaysoo commented on #1460
@jadams88 What complications did you run into?

@FrozenPandaz @vsavkin Perhaps defaulting to `strict: false` is a workaround for now?

[2020-02-19 20:05] jaysoo commented on #2496
Thanks for the report, we'll look into it.

[2020-02-19 20:07] #2199 closed

[2020-02-19 20:21] jaysoo commented on #1860
**Quick update:** The integration is a bit more complicated than what I originally thought because react-native assumes a few things about directory structure, which doesn't play too nicely with how Nx structures apps/libs.

I've put this work on pause for now so focus on other React issues/features, but it is something we definitely want in the future.

Like @asherccohen has mentioned, we are enc

[2020-02-19 20:24] AndrewTaftPlusone commented on #2292
We are also experiencing the same issue in v9.0.1.  Our folder structure is a little deeper but it has the same basic problem.

[2020-02-19 20:31] iamyellow commented on #1860
i understand @jaysoo i guess you're finding a tone of problems w/ metro bundler. me too. most of my problems were solved with `babel-plugin-module-resolver` and this:
https://medium.com/@dushyant_db/how-to-import-files-from-outside-of-root-directory-with-react-native-metro-bundler-18207a348427

[2020-02-19 20:36] jaysoo commented on #1860
I got to the point where the JS bundle generates, but it wasn't being located by the native app. I saw that some of the build scripts had hard-coded `../../../node_modules/react-native/...` and other things like that. Further work requires a step through the native app and see what's happening.

The branch I had is out of date, but maybe I can rebase and push this week if anyone smarter wants to t

[2020-02-19 20:40] iamyellow commented on #1860
shure, dont think i'm smarter than anybody :) but maybe i can help somehow.
if you have some repo with the generated nx+rn project (kinda hello world)
maybe i can take a look!

On Wed, Feb 19, 2020, 9:36 PM Jack Hsu <notifications@github.com> wrote:

[2020-02-19 20:42] jaysoo commented on #1860
@iamyellow I'll link something here in the next few days -- once I have a chance to create the example repo.

[2020-02-19 20:50] jaysoo commented on #1765
@SWGeekPD @ViceIce I think we should actually specify other packages as `externals` for the buildable library. Each build library should only be able to import other buildable libraries--and all of them should be published to the registry.

I think we'll be adding some more checks to `nx workspace-lint` to warn about importing non-buildable libs from buildable ones.

[2020-02-19 21:26] juristr commented on #2378
@Sikora00 Hey, thanks a lot for your PR. We’ll be looking into it as soon as we can and give you feedback :) Just give us a bit of buffer as we’re currently streamlining our latest release & then we’ll continue with new features :)

[2020-02-19 22:14] jadams88 commented on #1460
@jaysoo If I have `strict: true` set in `tsconfig.tools.json`, when I run a workspace schematic I get the following

[code]

My setup is that I use `prettier` and `pretty-quick` along with `lint-staged` to format all staged files with pre-commit git hook. The relevant `package.json` fields are below

[code]

I think the issue I'm facing is because I don't use prettier programmatically the combinat

[2020-02-19 22:57] SachinShekhar commented on #2506
@jaysoo Yes, my original repo has `passWithNoTest` in jest.config.js, but even after removing this line, the issues persisted with new nasty error. BTW, I just created a new repo: https://github.com/SachinShekhar/nx-jest-config-bug

Jest CLI (and dependent IDE extension) support is not out-of-box. When I ran `ng add @nrwl/jest`, it didn't replace `karma` config of existing app with `jest`. I don't

[2020-02-19 23:05] jdgarvey commented on #1987
Would a similar type of error be causing https://github.com/nrwl/nx/issues/1008?
I know that one is closed but it is basically the exact same behavior for libs.

[2020-02-19 23:28] Cammisuli commented on #2464
Sure. In the meantime, can you provide me with the exact steps you used? Did you execute `ng g @nrwl/nx-plugin`? Or something else?

[2020-02-20 03:33] hoang-innomizetech opened #2514 "Skip build on failure"
hi everyone,

I am trying to figure out whether we have an option that we can stop/skill build on any project?

For example, when I run this command `nx affected:build --prod --exclude cicd --all` I want to stop if there is an error occur.

[2020-02-20 06:16] asherccohen commented on #1860
Thanks @jaysoo!
Well @iamyellow, we have a team!
@JBuijgers made an awesome work with his external package (maybe wants to join forces) and I fixed most of the internal node_modules linking in the description at the top (just for Android, but could dig in iOS).
My only problem is that I'm new to schematics so I don't know how to configure them.
Let's have a look at the docs for create-nx-plugin to

[2020-02-20 08:08] iamyellow commented on #1860
sweet! honestly, yesterday was the first time i've read about schematics. i'm amazed... i really love how the js/ts ecosystem is bringing such a cool dev tools to us, the developers. i'll try to dig deeply there as well :)
so, i understand would be understand how create-nx-plugin works with some hello world stuff (honestly, i prefer the by example approach rather than reading docs hehehe).
i'm cur

[2020-02-20 10:10] xeodou commented on #2474
I come from a Google search. I got the same issue with my monorepo + Next.JS. The `nx` will run the command in the app's folder, so it will search all the public assets under `apps/your_app/public/**/*`.
Basically, to fix this temporary you need to move your public assets to your application folder.

[2020-02-20 11:17] asherccohen commented on #2474
Yup. Basically move assets from apps/myNextJsApp/public to dist/apps/myNextJsApp/public.
I think that only nx export actually moves the assets correctly.

[2020-02-20 11:30] rarmatei opened #2516 "Forward custom options to "run-commands" builder"
_[Please make sure you have read the submission guidelines before posting an issue](https://github.com/nrwl/nx/blob/master/CONTRIBUTING.md#-submitting-issue)_

# Prerequisites

Please answer the following questions for yourself before submitting an issue.
**YOU MAY DELETE THE PREREQUISITES SECTION.**

- [x] I am running the latest version
- [x] I checked the documentation (nx.dev) and found no ans

[2020-02-20 11:36] Jimmysh opened #2517 ".nxignore no effect."
# Prerequisites
- [x] I am running the latest version
- [x] I checked the documentation (nx.dev) and found no answer
- [x] I checked to make sure that this issue has not already been filed
- [x] I'm reporting the issue to the correct repository (not related to React, Angular or any dependency)

## Expected Behavior
.nxignore can use
## Current Behavior
.nxignore no effect

function calculateFileCh

[2020-02-20 12:59] rarmatei commented on #2496
hey @Jimmysh - thank you so much for reporting this. I'm having some trouble reproducing the error you're seeing. The issue you linked to seems to have been fixed in Storybook 4.1.x (we are using `5.3.9`).

I also tried build the project referenced in https://github.com/aiao-io/aiao/issues/52
..but it seems to have been removed https://github.com/aiao-io/aiao/tree/master/integration/stencil-toolki

[2020-02-20 13:11] Jimmysh commented on #2496
@rarmatei
repo: https://github.com/Jimmysh/nx-issues-2496
[code]

[2020-02-20 13:27] rarmatei commented on #2496
Thanks for the super quick response! I can definitely reproduce it now in a fresh nx workspace as well:

[code]

I'll look into ti

[2020-02-20 13:40] jaysoo commented on #2494
Ah yes, there is an import missing. We'll patch this up.

[2020-02-20 13:46] jaysoo commented on #2184
I'll add this to the next round of features.

[2020-02-20 14:02] Cammisuli commented on #1283
Hi @DouglasWebster, sorry for such a long delay to reply to this issue, but I think I solved it.

![image](https://user-images.githubusercontent.com/4332460/74939911-a710a900-53be-11ea-9e59-7852556d2c2b.png)

Essentially, the default `tsconfig.json` that is created with Nx has `es5` as the target. Changing it to `es6` (like it is in the nest repo that you provided) allows it to work. But for nx, w

[2020-02-20 14:19] Cammisuli commented on #1996
resolved in #2023

[2020-02-20 14:19] #1996 closed

[2020-02-20 14:20] jaysoo commented on #1765
I'm going to close this issue since we will not be supporting imports of non-buildable libraries from buildable ones. Instead, dependencies should be made buildable as well. This constraint makes sense if you think about shared libraries between two buildable parents.

[code]

In this case if both `parent-1` and `parent-2` are buildable, but `shared-child` is not, then you will end up with the chi

[2020-02-20 14:20] #1765 closed

[2020-02-20 14:22] jdpearce commented on #2494
Sorry, my fault. I saw this at the weekend and haven't had time to fix it yet. 😔

[2020-02-20 14:24] Cammisuli commented on #970
Resolved in #1534

[2020-02-20 14:24] #970 closed

[2020-02-20 14:27] rarmatei commented on #2496
I think it's related to: https://github.com/babel/babel/issues/10808

Can confirm setting: https://github.com/nrwl/nx/blob/master/packages/web/src/utils/babel-config.ts#L24 to `undefined` fixes it

@jaysoo what do you think is best? should we wait for updates on that babel issue, or is there anything we can do about that `targets` config?

[2020-02-20 14:31] Cammisuli commented on #2306
It looks like `ts-jest` has support to automap the tsconfig paths to jest's `moduleNameMapper`:
https://kulshekhar.github.io/ts-jest/user/config/#jest-config-with-helper

[code]

We could possibly add it by default in the jest config that's generated.

[2020-02-20 14:37] viceice commented on #1765
@jaysoo I have only buildabe libraries, but with secondary entrypoints. I i try to use something from the secondary entrypoint from a buildable library it will not work. See my repo for reproducing this error.

https://github.com/ViceIce/nx-test

[2020-02-20 15:19] Cammisuli commented on #1604
This is interesting because of the way the `--parallel` flag works.

It essentially creates new processes and lets them do their thing. It has no way of knowing the context of the process that should be spawned. In the case of Cypress (or anything else that could potentially spin up a server that listens on a port), all processes try to get access to the same port.

We could potentially make the c

[2020-02-20 15:50] jaysoo commented on #2496
We might be able to remove `targets` and the `esm2015` format since the only reason we had `esm5` vs `esm2015` was because it was ported from Angular.

- ESM5 = ES5 + ESM
- ESM2015 = ES6/ES2015 + ESM

But we really don't care about ES5 vs ES2015+, what we really need is UMD vs ESM formats. Whether the user wants to compile to ES5, ES2015, ES2020, etc. is up to them and how they customize their bab

[2020-02-20 18:36] alexanderPastornicky commented on #2457
standard-version

[2020-02-20 19:36] Tom4U opened #2521 "Angular stories creation: TypeError: Cannot read property 'getChildren' of undefined"
- [X] I am running the latest version
- [X] I checked the documentation (nx.dev) and found no answer
- [X] I checked to make sure that this issue has not already been filed
- [X] I'm reporting the issue to the correct repository (not related to React, Angular or any dependency)

## Expected Behavior

When running `nx g storybook-configuration` or `nx stories` stories should be created for componen

[2020-02-20 19:46] asherccohen commented on #1860
Because I experienced (and detailed above) an issue because of the cli installed as a global package and if that's the standard I would follow it, to help react-native devs in the transition. We should make sure that configs are not too far from a standalone project or it will be confusing.
This is true for other plugins in nx that are somehow different from their vanilla counterpart. Just my opin

[2020-02-20 19:48] mikkhait commented on #1777
Just following a thread and wonder if any progress has been made on this front.
We are architecting a set of microservices (NestJS, React) and would love to have a `package.json` for each one of them as well as have a `Dockerfile` for each app.

Would love to hear how others have solved that?

[2020-02-20 21:10] vsavkin commented on #2514
Sorry. Could you be a bit more specific? Why are you excluding CICD above?

[2020-02-21 00:38] iwanttobealight commented on #1091
thank you! it works for me

[2020-02-21 00:42] iwanttobealight commented on #1091
### jest.config.js

[code]

### babel-config.js

[code]

[2020-02-21 01:00] gperdomor opened #2523 "[BUG] React app not compiles in angular-nest workspace"
_[Please make sure you have read the submission guidelines before posting an issue](https://github.com/nrwl/nx/blob/master/CONTRIBUTING.md#-submitting-issue)_

# Prerequisites

Please answer the following questions for yourself before submitting an issue.
**YOU MAY DELETE THE PREREQUISITES SECTION.**

- [x] I am running the latest version
- [x] I checked the documentation (nx.dev) and found no ans

[2020-02-21 01:38] WonderPanda commented on #1518
@thomas-jakemeyn You sir are a gentleman and a scholar. Was pulling my hair out over this for so long.

Am now deploying a NestJS app from an NX repo to AWS lambda shipping *only* it's own node_modules depdencies (35MB). I can't believe that the only other workarounds for this seem to be copying over the entire `node_modules` directory for the monorepo. Mine is over 500MB...

[2020-02-21 02:14] xeodou commented on #2474
Yes. Unless next.js support merge different public assets.  Another hack solution right now would be you can manually move the assets from one place to another. You can find the right buildId in the `BUILD_ID` file.

[2020-02-21 02:29] hoang-innomizetech commented on #2514
@vsavkin Sorry for the unclear issue. We are excluding the CICD project because we don't want to build it, we don't want to deploy or build that app per commit.

The purpose of the skip build on failure option is to reduce the time that our CI pipeline runs, we actually don't want to continue building others if there a project cannot be built. I know that the affected:build command runs multiple b

[2020-02-21 02:33] aegkaluk commented on #1853
**tsconfig.app.json**
[code]

[2020-02-21 09:16] wickstargazer commented on #2464
Sure,
I just executed `ng g @nrwl/nx-plugin:plugin-name` .. Thats about it, then run workspace-lint
then it complains about the e2e project not being found/matched according to the error msg i posted.

[2020-02-21 09:56] alfaproject commented on #2367
I’m in Egypt for the next 10 days and didn’t bring my laptop ):

[2020-02-21 13:30] JamesHenry commented on #2253
This is still an issue in the latest (9.0.2).

As noted by @scallacs, it is the logic of `workspaceFileName()` that needs to change.

It is using a different heuristic compared to other areas of the Nx codebase to determine the configuration file name - it is checking if `@angular/cli` is present.

From my `node_modules`:

[code]

I think starting an Nx repo with a `workspace.json` and then adding

[2020-02-21 13:31] vsavkin commented on #2500
@reinvanleirsberghe  Thank you for submitting the issue. Could you provide a link with a repro?

[2020-02-21 13:36] vsavkin commented on #2489
Thank you for submitting the issue!

It has been fixed in Nx 9.0.2 and Nx 8.12.7.

[2020-02-21 13:36] #2489 closed

[2020-02-21 13:38] vsavkin commented on #2486
Thank you for submitting the issue. I fixed it in 9.0.2.

[2020-02-21 13:38] #2486 closed

[2020-02-21 13:41] Hotell commented on #2486
thx @vsavkin !

[2020-02-21 13:49] vsavkin commented on #2473
@jerryorta-dev unfortunately, I cannot repro it. Could you provide a repo with a reproduction?

My guess that maybe you are relying on  the `@nrwl/schematics` package in your workspace schematic. If that's the case you could update it to use `@nrwl/workspace`. That might fix it.

[2020-02-21 13:55] vsavkin commented on #2472
@elvirdolic thank you for submitting the issue. It's hard to troubleshoot without having a repro. The affected logic relies on using git to see what files changed and then matching them against the projects.

Could you run print-affected command on both agents to compare the results?

I'm curious about the edges in the dep graph.

[2020-02-21 14:02] vsavkin commented on #2447
Sorry, given that Nx is an open system built out of plugins, this is not possible. Closing this issue.

[2020-02-21 14:02] #2447 closed

[2020-02-21 14:03] vsavkin commented on #2445
This has been fixed in Nx 8.12.7 and 9.0.2.

[2020-02-21 14:03] #2445 closed

[2020-02-21 14:08] vsavkin commented on #2440
Hey folks. Nx has been pluggable for a while, and we recently landed the `create-nx-plugin` command, which I think is perfect for things like the NuxtJS support.

I think it's better to develop it in a separate repo, but we are happy to help if you encounter any major issues.

[2020-02-21 14:13] vsavkin commented on #2431
@calarconpieriz Thank you for submitting the issue. Unfortunately, we cannot make every version pass the audit checks because third-party deps (e.g., build-angular) are outside of out control. They also have ~ and ^ in their `package.json` which means that even if the version passed the check once, it may not pass it again.

We are, however, making sure that `npm audit` passes every time we releas

[2020-02-21 14:13] #2431 closed

[2020-02-21 14:14] #2427 closed

[2020-02-21 14:51] SOHELAHMED7 commented on #2440
Thanks @vsavkin

I am very much interested to learn `create-nx-plugin` and use it to extend Nx.

Request to provide docs and and example for `create-nx-plugin`

[2020-02-21 15:12] sophiestix commented on #2084
In our case we would like to handle png files in React components in a React library that gets published with the `--publishable` flag. Right now we get an error from rollup: `Error: Unexpected character '�' (Note that you need plugins to import files that are not JavaScript)`.

What would be the best approach?
- is it enough to just install and --save-dev a rollup-plugin
- create our own rollup c

[2020-02-21 15:41] MaximeBernard commented on #1777
Currently, I just use yarn workspaces.

I'm missing the whole part about changes detection, deps graph and retesting/rebuilding only what's affected but I can afford to build the whole monorepo.

Also, using "paths" (e.g. https://help.github.com/en/actions/reference/workflow-syntax-for-github-actions#onpushpull_requestpaths) I should be able to smartly mitigate the issue.

[2020-02-21 16:01] jaysoo commented on #2084
@sophiestix Hi 👋 we currently don't have the same asset handling available for publishable libraries. I suggest either using an external CSS file to handle images, or alternatively we are working on better asset handling in a future release (soon).

[2020-02-21 16:09] jaysoo commented on #2506
@SachinShekhar I would suggest updating to `9.0.2` to remove the warning.

You will also need to inline the following in your root `jest.config.js` file (Nx adds these automatically when running the Jest builder).

[code]

In the future we will probably just inline all of the generated config so users have more control over what is used.

**Note:** We don't currently guarantee that standalone Jest

[2020-02-21 16:09] #2506 closed

[2020-02-21 16:12] jaysoo commented on #2367
I will be providing a PR for this today so we can have a fix in the next release.

FWIW, there wasn't an infinite loop but because we are creating a lot of new arrays + gc, the process became *very* CPU intensive.

[2020-02-21 18:50] isaacplmann commented on #2485
Can someone provide a reproduction of this issue?

@maxigimenez how are you specifying the selected project?

[2020-02-21 19:11] aclarturocastro commented on #333
If you are using git, just discard changes

[2020-02-21 19:16] #2293 closed

[2020-02-21 19:27] aleccool213 commented on #1688
This would be a very nice feature for projects which are not using tags yet.

For my use-case personally, to get this working, I need to fork and patch nx and implement the fix [here](https://github.com/nrwl/nx/issues/1621#issuecomment-515795877). I then have to add an arbitrary tag to every project that has the same name as the project. Then I need to add `--tags=[<app/lib name>]` to every affect

[2020-02-21 19:32] maxigimenez commented on #2485
@isaacplmann Yes, we run `nx run application storybook` and it always pick the defaultProject.
We found a workaround creating a library call `storybook` on angular.json with build configuration.

[2020-02-21 19:36] Cammisuli commented on #2464
I can't reproduce the errors. Here's the output for me:
[code]

[2020-02-21 19:44] Sidewinder1138 opened #2528 "Error migrating from 8.11.1"
I attempted to run `nx migrate @nrwl/workspace`, on my existing 8.11.1 workspace. I get this error:

`Command failed: npm install @nrwl/workspace@@nrwl/workspace --prefix=/var/folders/zq/_f7nkq1n1cn55xp28hsrpt280000gp/T/tmp-753684xEd2ExAgLT1`

I am concerned by the `@nrwl/workspace@@nrwl/workspace` part in there, seems really odd, why is that repeating? Is that some kind of odd npm syntax I'm not

[2020-02-21 19:44] demisx commented on #333
@aclarturocastro Unless, you've realized you need to remove some libs later, after a few commits. 😄

[2020-02-21 19:48] brandonroberts opened #2529 "Buildable Angular libs should be generated with Ivy disabled"
_[Please make sure you have read the submission guidelines before posting an issue](https://github.com/nrwl/nx/blob/master/CONTRIBUTING.md#-submitting-issue)_

# Prerequisites

Please answer the following questions for yourself before submitting an issue.
**YOU MAY DELETE THE PREREQUISITES SECTION.**

- [x] I am running the latest version
- [x] I checked the documentation (nx.dev) and found no ans

[2020-02-21 20:13] vsavkin commented on #733
Hey folks! Closing this issue due to inactivity. Feel free to open another or reopen this one if you want to continue the conversation.

[2020-02-21 20:13] #733 closed

[2020-02-21 20:23] vsavkin commented on #1077
Hey folks.

We did a lot of work on building multiple libraries depending on each other.

* `affected:build` will finally sort the projects and run what it can in parallel. This finally works reliably.
* When building buildable/publishable libraries, we will now always look at the dist (or whatever you compile the library to) to find the dependencies. So consuming a publishable library from the mo

[2020-02-21 20:23] #1077 closed

[2020-02-21 20:26] vsavkin commented on #1217
Closing this issue due to inactivity. If the problem persists, please reopen the issue. Thank you.

[2020-02-21 20:26] #1217 closed

[2020-02-21 20:34] vsavkin commented on #1562
Sorry, the linked issue doesn't seem to be relevant as it talks about npm linked libraries. Nx doesn't use any linking because of the issues it causes. We also improved our support for buildable libraries, so a lot of issues related to that have been fixed.

I'm going to close this issue. If the problem is present when using Nx 8.12.7 or 9.0.2, please reopen it, and we will take a look asap.

[2020-02-21 20:34] #1562 closed

[2020-02-21 20:42] vsavkin commented on #1789
From, what I can tell the issue has been fixed. The version of mem has been updated.

[2020-02-21 20:42] #1789 closed

[2020-02-21 20:44] vsavkin commented on #1838
Folks. I'm going to close this issue due to inactivity. We fixed a few migration-related problems since December. If you find any that are still present, please open another issue and we will take a look asap. Thank you!

[2020-02-21 20:44] #1838 closed

[2020-02-21 20:55] vsavkin commented on #2120
Sorry folks. It took us a few iterations to fix the migrate command, but it's a lot more stable now. If you try the same with Nx 8.12.7 or Nx 9.0.2, you should not see any problems migrating.

I understand that you might have migrated manually by now. If that's the case, I'm going to close the issue.

[2020-02-21 20:58] juristr commented on #2529
Running it with the `--prod` flag already solves the issue:

[code]

That uses the `tsconfig.lib.prod.json` which has Ivy disabled. Would you want to make production builds the default?

[2020-02-21 20:58] vsavkin commented on #2219
@kklimczak could you step through the nx script to see why it exists. This is the script is invoked when you run nx build: `node_modules/@nrwl/cli/lib/init-local.js`

[2020-02-21 21:00] #2521 closed

[2020-02-21 21:01] alfaproject commented on #2367
Thank you @jaysoo, much appreciated (:

[2020-02-21 21:02] vsavkin commented on #1649
@johannesschobel Hi there! Any update?

[2020-02-21 21:12] #2367 closed

[2020-02-21 21:46] zakhenry commented on #2422
I have a similar problem - the issue arises when trying to compute affected when there is a shallow clone. Ideally it should be possible to just have a shallow clone of the current branch and the target branch (i.e. only 2 commits pulled for the whole repo).

The problem arises in https://github.com/nrwl/nx/blob/74716df4fc3c9bf17d44dc46136431d327a19b06/packages/workspace/src/command-line/shared.ts

[2020-02-21 22:46] AdamVig commented on #1077
@vsavkin Thanks for the update! I have been eagerly awaiting this. My current workaround in continuous integration has been the following:
[code]
As you can see, the projects are built serially, which is slow. I did always find it curious that the `print-affected` command printed the projects in the correct order but the `affected:build` command did not.

In local development, our "workaround" is

[2020-02-21 23:21] aclarturocastro commented on #333
Of course!  😄

[2020-02-22 01:03] TheAifam5 opened #2530 "`run-many` does not work"
# Prerequisites

- [x] I am running the latest version
- [x] I checked the documentation (nx.dev) and found no answer
- [x] I checked to make sure that this issue has not already been filed
- [x] I'm reporting the issue to the correct repository (not related to React, Angular or any dependency)

## Expected Behavior

`nx run-many --parallel --target=serve --projects=admin,api,client,gateway,genera

[2020-02-22 01:45] geetikasharma26 opened #2532 "Allow firefox as a valid browser after Cypress 4 update"
_[Please make sure you have read the submission guidelines before posting an issue](https://github.com/nrwl/nx/blob/master/CONTRIBUTING.md#-submitting-issue)_

# Prerequisites

Please answer the following questions for yourself before submitting an issue.
**YOU MAY DELETE THE PREREQUISITES SECTION.**

- [x] I am running the latest version
- [ ] I checked the documentation (nx.dev) and found no ans

[2020-02-22 01:47] geetikasharma26 commented on #2532
Updated to Cypress 4 which allows selecting multiple browsers. BUT the nrwl angular.json configuration does't let you specify any browser other than chrome. Is this feature already implemented?

[2020-02-22 05:31] mikel67 commented on #2422
@zakhenry appreciate the comprehensive response.

[2020-02-22 07:08] sameerinfodb opened #2534 "Is Ivy default view engine in action with nx 9.0.2"
_[Please make sure you have read the submission guidelines before posting an issue](https://github.com/nrwl/nx/blob/master/CONTRIBUTING.md#-submitting-issue)_

# Prerequisites

Please answer the following questions for yourself before submitting an issue.
**YOU MAY DELETE THE PREREQUISITES SECTION.**

- [X ] I am running the latest version
- [ X] I checked the documentation (nx.dev) and found no a

[2020-02-22 11:23] wickstargazer commented on #2464
OK! i found the error :)
**OS : Windows**
when generating the test, the `e2e` section in config is updated with the following `sourceRoot`

[code]
it should be

[code]

Thats about it... Thankz for the confirmation tha things works! @Cammisuli

[2020-02-22 17:33] alexanderPastornicky commented on #2529
`ng build lib --prod` throws exception

An unhandled exception occurred: Configuration 'production' is not set in the workspace.

[2020-02-22 18:39] srdjanRakic commented on #2212
Any news on this?

[2020-02-22 19:55] juristr commented on #2529
Oh, thanks for the heads up. We'll look into this

[2020-02-22 20:57] xmlking commented on #1649
@vsavkin
I have `showCircularDependencies: false` here
https://github.com/xmlking/ngx-starter-kit/blob/develop/angular.json#L94
But still get `WARNING in Circular dependency detected`

[code]

[2020-02-22 22:06] #2517 closed

[2020-02-23 04:09] jdgarvey opened #2536 "Workspace Schematics: importing a TS file outside the "tools" directory causes a TS error"
## Expected Behavior

I should be able to import a TS file from an app or lib into my custom workspace schematic and use it.

## Current Behavior

When I try importing a file from an app or lib into my custom schematic, I get a `'rootDir' is expected to contain all source files` TS error.

## Failure Information (for bugs)

### Steps to Reproduce

The specific steps to reproduce are as follows:

1

[2020-02-23 06:57] skoblenick commented on #2446
The same is true for `ng build api` and `ng test api` per the documentation here https://nx.dev/angular/tutorial/05-add-node-app

[2020-02-23 07:12] skoblenick commented on #2446
I found the reason for the above error was due to me adding a directory name when prompted for:

`? In which directory should the node application be generated? `.

I didn't realize this nests the `api` directory in a subdirectory. So if you provide anything to the prompt you need to add `<user-entered-prompt-value>-api` as part of your serve, build or test command. You can check the name of the e

[2020-02-23 15:01] skorunka commented on #1695
What if you do `import { DataPersistence } from '@nrwl/angular';` and use `DataPersistence ` in your effects. Should `@nrwl/angular` still go to devDependencies?

[2020-02-23 15:42] johannesschobel commented on #1649
Dear @vsavkin ,
i am sorry that i did not properly reply on the latest questions / feedback posted in this issue.
However, i did try the `showCircularDependencies : true` in my `NestJS` application without any luck!

Those are only warnings (as described by @xmlking ), build successfully passes and application works as expected. Nevertheless, it's quite annoying 😆

All the best,
Johannes

[2020-02-23 15:47] srdjanRakic commented on #2212
Is there any way I can extend the rollup config and add image plugin? @Cammisuli

<img width="944" alt="Screen Shot 2020-02-23 at 16 45 45" src="https://user-images.githubusercontent.com/16154503/75115095-fde6de80-565b-11ea-85df-05f0016ef3bf.png">

[2020-02-24 00:40] TheAifam5 commented on #1744
Same here, but for less?

[2020-02-24 01:40] TheAifam5 opened #2539 "React & Angular - Add CSS Modules for Stylus, SCSS/SASS, LESS"
# Prerequisites
- [x] I am running the latest version
- [x] I checked the documentation (nx.dev) and found no answer
- [x] I checked to make sure that this issue has not already been filed
- [x] I'm reporting the issue to the correct repository (not related to React, Angular or any dependency)

## Expected Behavior

Support for CSS Modules, not only for React but also for Angular.

## Current Beha

[2020-02-24 02:46] elliottsj commented on #2478
@krizic I cloned your repo and I'm able to run the example without error.

I ran:

[code]

Open http://localhost:4200/

<img width="1772" alt="Screen Shot 2020-02-23 at 9 43 54 PM" src="https://user-images.githubusercontent.com/2177366/75125978-dd337e80-5685-11ea-933f-80dd95955bb5.png">

[2020-02-24 03:22] alfonsobravi commented on #2120
I am running `nx migrate --run-migrations=migrations.json` after workspace migrate has succesfully migrated from 8.11.1 to @latest (9.0.2) and getting:
[code]
Anyone else?

[2020-02-24 04:44] yharaskrik commented on #2534
Ivy view engine is determined by Angular itself not by Nx. If you are using angular v9+ then yes Ivy is turned on my default but you can turn it off in by setting theses option in your tsconfig

[code]

as seen here under [Opting out of Ivy](https://angular.io/guide/ivy)

[2020-02-24 08:19] krizic commented on #2478
@elliottsj  If is see correctly you haven't run production configuration really with that command. I believe npm will swallow your `--configuration=production` parameter.

Try this and let me know: `npm run nx serve app-next -- --configuration=production` or run globally installed nx with: `nx serve app-next --configuration=production`

[2020-02-24 08:29] sophiestix commented on #2084
Thank you @jaysoo for the quick response! 🤗

[2020-02-24 09:18] pacocom opened #2541 "Disable format dist folder"
_[Please make sure you have read the submission guidelines before posting an issue](https://github.com/nrwl/nx/blob/master/CONTRIBUTING.md#-submitting-issue)_

# Prerequisites
No prerequisites.

- [X ] I am running the latest version
- [ X] I checked the documentation (nx.dev) and found no answer
- [ X] I checked to make sure that this issue has not already been filed
- [ X] I'm reporting the issu

[2020-02-24 13:03] bhavyamathur commented on #1276
@hnryjms I created a similar nx repo and used your suggested cypress cucumber preprocessor plugin configuration, still when I run cypress it creates a cypress folder and tries to find the step definition file in it's new support folder. Can you share how your cypress and tsconfig looks like?

[2020-02-24 13:36] Cammisuli commented on #2212
@srdjanRakic if you're using react (which uses the web builder), you can provide a `rollup.config.js` path in the `build` architect of your `paywall-previews` project.
https://nx.dev/web/api/web/builders/package#rollupconfig

the config should look something similar to this:
[code]

And for reference, the code:
https://github.com/nrwl/nx/blob/49168c10e334bc6566e37f3de4312d33272e81f2/packages/web/s

[2020-02-24 14:42] jaysoo commented on #1744
@LucaFilitz @TheAifam5 You will need to provide your own webpack config extensions.

Something like this:

- Switch out the default `webpackConfig` path
    * https://github.com/jaysoo/css-modules-example/blob/master/workspace.json#L22
- Add a rule for CSS Modules + LESS/SCSS/...
    * https://github.com/jaysoo/css-modules-example/blob/master/apps/demo/webpack.config.js#L21-L34

[2020-02-24 14:54] jaysoo commented on #1860
@asherccohen @JBuijgers Is this package on public github?

I pushed a rebased branch for the RN integration I was working. I was stuck on getting the dev jsbundle to work in development mode. https://github.com/jaysoo/nx/tree/react-native/packages/react-native/src

My idea was to provide support for the RN CLI commands (e.g. `run-ios`, `run-android`, `link`, etc.) using builders. And we also want

[2020-02-24 15:10] #2496 closed

[2020-02-24 15:13] #2494 closed

[2020-02-24 15:21] jaysoo commented on #837
It looks like there isn't any work needed from Nx's to support multiple junit reports.

@adinath 's solution should work for everyone since `<rootDir>` will be the root of each app/lib, which means the reports will no override each other.

[2020-02-24 15:21] #837 closed

[2020-02-24 15:27] jaysoo commented on #2119
We'll look into this one soon. I think we should be able to get `.babelrc` support working since that is a pretty common way to override configuration.

[2020-02-24 17:07] asherccohen commented on #1860
@jaysoo Yes the npm package is public https://www.npmjs.com/package/@jbuijgers/nx-react-native
Works for android, but from what I could see there should no issue with iOS.

I agree with you on expo. I would work my way without it for now, giving devs the same ability to work with native modules.

Link command is not needed anymore as react-native supports auto-linking with jetifier. Package mainta

[2020-02-24 19:50] LukeHowellDev commented on #2379
[Suzy](https://suzy.com/) recently migrated our [Crowdtap](https://crowdtap.com/) application to an NX workspace. It is still just the one application in the workspace as a first step. We recently added our first library and are working on plans to refactor the application into appropriate libraries. Alongside that, we will be pulling in and refactoring our other frontend applications. We are real

[2020-02-24 20:34] LucaFilitz commented on #1744
`const merge = require(`webpack-merge`);
const getReactWebpackConfig = require(`@nrwl/react/plugins/webpack`);
const autoprefixer = require(`autoprefixer`);

module.exports = config => {
  const original = getReactWebpackConfig(config);
  return merge({
    customizeArray: merge.unique(`module.rules`, [`ScssLoader`], rule =>
      rule.test.test(`example.scss`) ? `ScssLoader` : ``
    )
  })(

[2020-02-24 20:39] LucaFilitz commented on #1744
https://hastebin.com/jugohuxupu.js

This is a custom webpack config for .s[a/c]ss, .css and .module.s[a/c]ss
If you want you can easily add .module.css
Hope this helps anyone :)

[2020-02-24 21:34] juristr commented on #2534
Thx Jay for answering. Closing the issue. If there are any further issues or questions, feel free to create a new one 🙂

[2020-02-24 21:34] #2534 closed

[2020-02-24 21:44] juristr commented on #333
Although this issue is closed I'd like to give an update given this is a si much requested feature.

Good news! @jdpearce is actually working on a delete functionality, very much similar to our latest move schematic we have added. So keep an eye on our release log & announcements 😉

[2020-02-25 00:55] Aleksion opened #2550 "Deploying next to now.sh"
Currently now expects access to a package.json that they use to then build the application with - with NX we don't have one per application and thus would want to send the build artifacts to now instead. Has anyone successfully done this (outside of running their own single instance node server on now.sh)

[2020-02-25 03:00] jaysoo commented on #2406
We only support `.module.css` files right now, but we can add in SCSS support in the next version.

[2020-02-25 08:48] sasha-3ap commented on #2406
That would be great and it would complete react css/scss module support.

[2020-02-25 09:24] Tre665 commented on #2120
@alfonsobravi
I had this issue in a previous migration. What it solved for me was to install the package `@nrwl/tao` by hand and then rerun the migration.
We started with nx pretty early on and this package was added sometime when there was the transation from angular cli only to nx cli afaik.
I also used to update just with yarn update, maybe that was also the reason why this package was missing

[2020-02-25 09:56] stijnvn commented on #2405
@FrozenPandaz I still see this problem after upgrading to nx 9.0.2. Should this be already fixed?

[2020-02-25 10:19] stijnvn commented on #2405
Removing package-lock.json and regenerating it with `npm install` seems to resolve the dependency problem.

[2020-02-25 12:46] lukasholzer commented on #2379
We @Dynatrace https://www.dynatrace.com/ are heavily depending on you folks!

You are doing amazing work and help us to focus on our business use cases!

[2020-02-25 13:44] DedoxBR commented on #2170
I have the same problem on CI using Github Actions and it only happens when running on a branch other than master.

When running on the master it works without problems.

[2020-02-25 14:54] whimzyLive commented on #2170
I resolved it by replacing above command with `nx affected:apps --base=origin/master --head=origin/master --plain`
Ref:

[2020-02-25 15:04] bennymeg opened #2552 "Nx do not use work space configurations"
- [ x ] I am running the latest version
- [ x ] I checked the documentation (nx.dev) and found no answer
- [ x ] I checked to make sure that this issue has not already been filed
- [ x ] I'm reporting the issue to the correct repository (not related to React, Angular or any dependency)

## Expected Behavior
Nx should use the configuration the are defined in `[angular/worspace].json` file:
`project

[2020-02-25 17:25] Cammisuli commented on #2536
When we run workspace schematics we use the tsconfig in the tools directory. This file has a property called `rootDir: '.'`. Because of this, the TypeScript compiler expects all files to be under the same directory as the tools folder.

You can try changing some of the settings in the `tsconfig.tools.json` file. You could possibly use the `files` or `include` properties. You can see all the option

[2020-02-25 17:44] jdgarvey commented on #2536
Ok, I've tried removing the rootDir but that results in the underlying Nx script not being able to copy over some of the resulting files. I'll keep playing with it.

[2020-02-25 19:32] DedoxBR commented on #2170
@whimzyLive it didn't work for me.

If it helps, I created a clean repository simulating the problem here:
[https://github.com/DedoxBR/nx-affected-test](https://github.com/DedoxBR/nx-affected-test)

[2020-02-25 20:03] alfonsobravi commented on #2120
@Tre665 suggestion worked out fine for me, many thanks!

[2020-02-25 20:14] #1728 closed

[2020-02-25 20:14] #2215 closed

[2020-02-25 20:15] #1002 closed

[2020-02-25 20:15] #1283 closed

[2020-02-25 20:57] kevinbeal commented on #2052
For me, this was the package `@nrwl/angular` importing `@nrwl/workspace` the function `addLintFiles`. My `@nrwl/workspace` dependency was older and did not export the function. Updating `@nrwl/workspace` solved the problem for me.

[2020-02-25 22:23] juristr commented on #2536
Hey, thx for reporting this. I'll give it a look tomorrow

[2020-02-25 22:26] stramel opened #2556 "lodash-es explodes with Next.js"
_[Please make sure you have read the submission guidelines before posting an issue](https://github.com/nrwl/nx/blob/master/CONTRIBUTING.md#-submitting-issue)_

# Prerequisites

Please answer the following questions for yourself before submitting an issue.
**YOU MAY DELETE THE PREREQUISITES SECTION.**

- [x] I am running the latest version
- [x] I checked the documentation (nx.dev) and found no ans

[2020-02-25 22:27] stramel commented on #2556
Workaround is using `lodash` for now.

[2020-02-25 22:59] czaplej opened #2557 "[Feature Request] (react) gzip production build"
I haven't find in source code that  react production builds has gziped files. If it will be possible, that would be great. (I could do this if it doesn't hide the problems you already know about)

rollup has a plugin:
[https://github.com/kryops/rollup-plugin-gzip](https://github.com/kryops/rollup-plugin-gzip)

webpack has a plugin:
[https://webpack.js.org/loaders/gzip-loader/](https://webpack.js.o

[2020-02-26 00:56] SebasG22 commented on #2472
Hey folks,
@vsavkin, Thanks for your quickly response.
I'm experimenting the same issue with a private repository in `CIRCLE CI`.
On my machine the print affected gets a different output (RIGHT OUTPUT) than over `circle ci`.
** My Machine ** Ubuntu 18.04
![image](https://user-images.githubusercontent.com/17608169/75300754-e1d37080-5806-11ea-8b2c-82988c6a0e82.png)
** Circle CI **
![image](https://u

[2020-02-26 05:48] dereklin opened #2558 "How to read affected apps into an array variable in shell script?"
I used to be able to read the affected apps into a variable in shell script like this:

[code]

With the new version, the affected:apps is printing nicely formatted text in the console, but my apps variable is blank.

What is the new way of reading the affected apps into an array variable?

[2020-02-26 09:43] juristr commented on #2446
Hey @skoblenick 👋

yes, you're right. The directory param is meant to nest things within apps/libs. Usually for instance if you use an Nx workspace, you may have related libraries. Say you have an app feature that handles contacts, you may want to have a nesting like

[code]

So when generating a new library for "contacts" you'd pass in the `--directory=contacts` property. Since that type of nesti

[2020-02-26 09:43] #2446 closed

[2020-02-26 09:54] juristr commented on #2558
Hi, you should be able to pass the `--plain` flag. This would give you a space separated list of apps.

Feel free to reopen the issue if this doesn't help. 🙂

[2020-02-26 09:54] #2558 closed

[2020-02-26 10:06] sroettering opened #2560 "[Feature Request] use different projects for configuring storybook"
# Prerequisites

Please answer the following questions for yourself before submitting an issue.
**YOU MAY DELETE THE PREREQUISITES SECTION.**

- [x] I am running the latest version
- [x] I checked the documentation (nx.dev) and found no answer
- [x] I checked to make sure that this issue has not already been filed
- [x] I'm reporting the issue to the correct repository (not related to React, Angul

[2020-02-26 10:11] juristr commented on #2552
Hi @bennymeg.

I just gave this a try, adding the code you mentioned into the react app's `main.tsx` as well as in the express app's `main.ts` file.

When running in dev mode, it correctly prints `false`, when running in `production` mode, it correctly prints `true`.

For the react app I tried both

[code]

and then serving it with `http-server` from dist. Also `nx serve --configuration=production

[2020-02-26 10:50] jerryorta-dev commented on #2473
Thanks @vsavkin, this is working when I create a vanilla nrwl/angular project via the guide instructions, so there is something wrong in my repo.

[2020-02-26 10:50] #2473 closed

[2020-02-26 11:55] bennymeg commented on #2552
You are right, I think I found the issue.

It seems the the issue is related to `angular console`, selecting a configuration only affects the option that are visible in the UI but not in the command it self.

I.e.: when I select the production configuration it invokes `ng build name --extractLicenses --optimization` and omits the `--prod` parameter which cause what I describe above. If I invoke `n

[2020-02-26 12:32] crissxross opened #2563 "npx create-nx-workspace@latest not working"
- [x] I am running the latest version - N/A - I am attempting to
- [x] I checked the documentation (nx.dev) and found no answer
- [x] I checked to make sure that this issue has not already been filed
- [x] I'm reporting the issue to the correct repository (not related to React, Angular or any dependency)

## Expected Behavior

To be able to create a Nx workspace with global @angular/cli 9.0.3 inst

[2020-02-26 12:40] metrophos commented on #2326
Getting the same issue on:

node: v12.16.1
npm: 6.14.0
Ubuntu Linux

[2020-02-26 12:47] reinvanleirsberghe commented on #2500
Can you be more specific what you need :)

[2020-02-26 13:19] metrophos commented on #2326
Little hint: My workaround was to remove my global yarn installation.

[2020-02-26 14:38] dotDeeka opened #2564 "@nrwl/jest schema.json defines a --coverage option that does not seem to affect coverage output"
## Expected Behavior
The schema.json for the jest builder defines an option called `--coverage` https://github.com/nrwl/nx/blob/master/packages/jest/src/builders/jest/schema.json#L110
[code]
I would expect running `npx nx test <app-name> --coverage=false` would not generate coverage output, and `npx nx test <app-name> --coverage=true` would generate coverage output.

## Current Behavior
The `--cov

[2020-02-26 14:50] dotDeeka commented on #2564
Could this be fixed with something as simple as changing this line (https://github.com/nrwl/nx/blob/master/packages/jest/src/builders/jest/jest.impl.ts#L95) to
[code]

[2020-02-26 16:45] SebasG22 commented on #2472
Hey folks,
After digging a lot into the problem I found the root cause of the issue so please be sure that you are running the same version of **git** in both environments and use the `base` pointing to the origin.

**Wrong way**
[code]

**Good Way**
[code]
**Note**: If you have any issues with git and `baseSHA` make sure you have a reference for `origin`.
Just make a `git fetch origin master `.

[2020-02-26 18:18] jdpearce commented on #2556
Hi @stramel, thanks for raising this, however I've just tried this with a vanilla Next.js app (no Nx) and it also fails there. Perhaps this is something you should raise with them?

I'm going to close this for now, but can re-open if it does turn out to be down to the way we've integrated Next.js

[2020-02-26 18:18] #2556 closed

[2020-02-26 18:22] jdpearce commented on #2550
Possibly worth linking this to the discussion here: https://github.com/nrwl/nx/issues/2490

[2020-02-26 18:48] stramel commented on #2556
@jdpearce Thanks for checking into it. Didn't have much time to look into it further yesterday. I will raise an issue over there.

[2020-02-26 18:49] stramel commented on #2556
DOH 🤦‍♂ I should have searched there first. Sorry for the noise...

https://github.com/zeit/next.js/issues/2259

[2020-02-26 19:03] vdiaz1130 commented on #276
Has anyone been successful in implementing Tailwind with NX Angular project? Can anyoe direct me to steps, suggestions or sample repo?
Thanks!

[2020-02-26 19:16] elvirdolic commented on #2472
@SebasG22 this is not the same issue.
[linux.txt](https://github.com/nrwl/nx/files/4257709/linux.txt)
[windows.txt](https://github.com/nrwl/nx/files/4257711/windows.txt)

@vsavkin attached is the output on linux vs windows. I just changed agent-pool setting.

[2020-02-26 19:28] #1649 closed

[2020-02-26 20:46] fwoelffel commented on #2147
Hi there,

Here my `webpack.config.js`:
[code]
It looks like it work but the generated Swagger documentation is missing a lot of information. It doesn't even seem to bother about the `dtoFileNameSuffix` option.

Has anyone managed to get this fully working?

[2020-02-26 21:03] prmichaelsen commented on #2147
See my comment above, it is working.

[2020-02-26 21:13] fwoelffel commented on #2147
Thanks for you answer @prmichaelsen. Sadly, I'm getting the exact same results with your code (which was my starting point). Are you absolutely sure your solution is taking the given options in account? I mean `classValidatorShim` is `true` by default, maybe you should try with `false` and see if it remove the descriptions inferred from `class-validator`.

I'm in the process of migrating my app to

[2020-02-26 23:02] prmichaelsen commented on #2147
I will give it another try. Mine was working using it with classValidatorShim.

[2020-02-26 23:27] jdpearce opened #2567 "@nrwl/linter --outputFile does not create intermediate paths"
## Expected Behavior

Setting the outputFile property of the linter builder should generate the file wherever we specify.

## Current Behavior

If the outputFile property includes paths that do not exist, the linter will error with:

[code]

### Steps to Reproduce

▶ npx create-nx-workspace@latest linter-test
? What to create in the new workspace *react*
? Application name                    *todo

[2020-02-27 01:40] vsavkin commented on #2472
@elvirdolic  From what I can see, the number of nodes is the same but the windows version is missing edges some edges. You can look at the dependencies section of the two json documents to figure out what is different. Once you know what edges are missing, you can try to investigate why they aren't there in the windows version.

[2020-02-27 01:45] vsavkin commented on #2564
It's a bug. The `codeCoverage` option is used to indicate the coverage. I'd delete the coverage option and leave only `codeCoverage`. Would you like to submit a PR?

[2020-02-27 01:55] vsavkin commented on #2326
@gussi77 what version of yarn are you using?

@metrophos you could also update the version of yarn to >= 1.13.

[2020-02-27 01:56] vsavkin commented on #2500
@reinvanleirsberghe sorry, I meant a link to a github repository with an empty workspace you created.

[2020-02-27 01:58] vsavkin commented on #2563
Thank you for submitting the issue. Going to track the progress of it here: https://github.com/nrwl/nx/issues/2326

[2020-02-27 01:58] #2563 closed

[2020-02-27 02:07] vsavkin commented on #2541
@pacocom could you provide a link to a github repo with a repro?

[2020-02-27 02:12] vsavkin commented on #2422
@zakhenry you could pass the files yourself, like this:

[code]

Where you generate the list by running `git diff --name-only --relative SHA1 SHA2`. It's a bit annoying but it should work.

[2020-02-27 02:12] vsavkin commented on #2530
@TheAifam5 could you provide a link to a github repo reproducing the issue?

[2020-02-27 02:14] vsavkin commented on #2528
could you try:

[code]

And then

[code]

[2020-02-27 03:55] vdiaz1130 commented on #276
I was able to get it to work following the instructions here:
https://github.com/tehpsalmist/ng-tailwindcss

[2020-02-27 07:17] Sidewinder1138 commented on #2528
I tried and still got a similar error:

`The migrate command failed. Try the following to migrate your workspace:

This will use the newest version of the migrate functionality, which might have your issue resolved.
----------------------------------------------------------------------------------------------------
Command failed: npm install @nrwl/workspace@@nrwl/workspace@8.12.8 --prefix=/tmp/tm

[2020-02-27 08:09] zakhenry commented on #2422
@vsavkin yep that is true however it will be quite a bit more eager than the git-merge technique as the git diff will pick up every single non matching file, whether or not it was caused by a change in the current branches divergence from the common ancestor. Weighed up it is probably faster overall to just clone deeply.

[2020-02-27 11:12] dotDeeka commented on #2564
Sure, I would be glad to

[2020-02-27 13:17] kswaroop opened #2570 "How to resolve "Circular dependency" in NRWL"
I am getting the below LINT error

"Circular dependency between "A(lib)" and "B(lib)" detected (nx-enforce-module-boundaries) tslint error"
Most of the issues are coming when a Service from one Library is used(imported) in another lib.

Can you please help how to resolve this issue

[2020-02-27 13:17] jimdubbs commented on #2219
in trying to figure out whats happening, if I import the affected.js directly from node_modules and use that everything works correctly.

[2020-02-27 13:33] czaplej commented on #2570
U can't doing something like:
`
//LIB A
import libB from 'LIB_B'

//LIB B
import libA from 'LIB_A'
`

[2020-02-27 13:47] kswaroop commented on #2570
Thanks, Yeah I am using in the same way, I have created a service 'LIBC_XYZ which has the methods and I am using in other libraries, but still getting an error

[2020-02-27 13:52] kswaroop commented on #2570
Thanks, Yeah I am using in the same way, I have created a service 'LIBC_XYZ which has the methods and I am using in other libraries, but still getting an error

[2020-02-27 14:01] danieldanielecki commented on #176
Great job! GitLab would have been also really appreciated though.

[2020-02-27 15:09] #2564 closed

[2020-02-27 16:04] suwigyarathore opened #2572 "[BUG] Nx NextJS Runtime config variables are "undefined" while running production build"
# Prerequisites

- [x] I am running the latest version
- [x] I checked the documentation (nx.dev) and found no answer
- [x] I checked to make sure that this issue has not already been filed
- [x] I'm reporting the issue to the correct repository (not related to React, Angular or any dependency)

## Expected Behavior

In NextJs apps that is bootstrapped via NX NextJs schematics based on instruction

[2020-02-27 16:29] elvirdolic commented on #2472
@vsavkin in the windows version

there is only one entry for

 "target": "paldesk" => this is the project/app which is affected

in the linux version there are way more entries like this.

[2020-02-27 17:07] dsm23 opened #2573 "Lib with collection of styled-components work with console errors in next.js app. Related to babel config"
_[Please make sure you have read the submission guidelines before posting an issue](https://github.com/nrwl/nx/blob/master/CONTRIBUTING.md#-submitting-issue)_

# Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [x] I am running the latest version
- [x] I checked the documentation (nx.dev) and found no answer
- [x] I checked to make sure that this iss

[2020-02-27 17:36] xmlking commented on #1699
I am using the latest nx (Release 9.0.4) workspace created with

`create-nx-workspace yeti --preset="angular" --appName="webapp" --style="scss" --cli=nx --interactive`

based on docs: https://github.com/nrwl/nx/blob/master/docs/angular/api-workspace/schematics/library.md

I am guessing this is correct way to create apps/libs with `eslint`

[code]

please advise if i miss something

[2020-02-27 18:21] rarmatei opened #2574 "next.js build error on new workspace: can't find `node-sass`"
_[Please make sure you have read the submission guidelines before posting an issue](https://github.com/nrwl/nx/blob/master/CONTRIBUTING.md#-submitting-issue)_

## Expected Behavior

It should build/serve succesfully.

## Current Behavior

There's an error:

[code]

### Steps to Reproduce

[code]

`node-sass` doesn't exist under `node_modules`
If I do `yarn add node-sass` it works again.

### Conte

[2020-02-27 20:27] jdpearce opened #2575 "[@nrwl/linter] Can we add different output formats for stdout and --outputFile?"
Currently if you provide a format (e.g. `checkstyle`) in the `lint` target options, this will define how the output is piped to stdout *and* how it is written to the `outputFile` if provided. This may not be the appropriate thing to do as any format other than `stylish` will be almost unreadable when we run `nx lint` at the command line.

[2020-02-28 09:42] #2567 closed

[2020-02-28 11:06] KarlPurk opened #2577 "Unable to import `botframework-webchat` dependency in new react app"
## Expected Behavior

I should be able to import [botframework-webchat](https://github.com/microsoft/BotFramework-WebChat) in a new react project.

## Current Behavior

Importing the dependency causes compile errors.

## Failure Information (for bugs)

[code]

### Steps to Reproduce

Please provide detailed steps for reproducing the issue.

1. Create a new workspace: `npx create-nx-workspace@lates

[2020-02-28 14:55] mladen107 opened #2578 "Can not add postcss-normalize postcss plugin"
# Prerequisites

- [x] I am running the latest version
- [x] I checked the documentation (nx.dev) and found no answer
- [x] I checked to make sure that this issue has not already been filed
- [x] I'm reporting the issue to the correct repository (not related to React, Angular or any dependency)

## Expected Behavior

I expect that I can easily add postcss plugins using postcss.config.js

## Curren

[2020-02-28 15:36] FrozenPandaz commented on #2577
Something depends on an older version of rxjs. Is there a later version that depends on a more recent version of rxjs? Unfortunately, I'm not familiar with the library.

[2020-02-28 15:44] FrozenPandaz commented on #2578
For now, you can modify your webpackConfig to include the plugin:

https://connect.nrwl.io/app/cookbook/4CjE7wgoOyYU3ri08GCAr7

If you have a working custom config, please share here so others can use it as well! 😄

@jaysoo would it make sense to add this to the default config?

Does this plugin include `normalize.css` by itself or will it noop if `normalize.css` is not imported by the user?

[2020-02-28 16:02] KarlPurk commented on #2577
You are right, I had noticed that too.  The reason I opened the issue was because the same library works in a new CRA generated app (sorry forgot to mention that when opening the issue) so this looks to be a configuration issue with the default setup for nx react apps.

[2020-02-28 17:46] FrozenPandaz commented on #2539
Nx uses the Angular CLI builders to build Angular apps. CSS Modules are not supported by default in the Angular CLI.

You can, however, use this custom builder to modify the webpack config:

https://www.npmjs.com/package/@angular-builders/custom-webpack

[2020-02-28 17:48] FrozenPandaz commented on #2539
I don't know if we will add this feature so I'm going to close for now. Please post if you are able to get css modules with angular working with the custom-webpack builder.

[2020-02-28 17:48] #2539 closed

[2020-02-28 18:16] demisx commented on #2404
Sorry, I haven't had a chance to work on a reproduction repo due to my current deadline. However, I am no longer getting these messages after upgrading Nx to `v9.0.4`.

[2020-02-28 18:22] FrozenPandaz commented on #2570
If you use `nx dep-graph` you should be able to see the circular dependency.

What @czaplej mentioned about creating a 3rd library works a lot of the time.

I wrote an initial doc in the wiki on resolving circular dependencies:

https://github.com/nrwl/nx/wiki/Resolving-Circular-Dependencies

Let me know if it helps.

[2020-02-28 18:44] #2292 closed

[2020-02-28 18:59] FrozenPandaz commented on #2541
This should be fixed by #2493.

[2020-02-28 19:04] FrozenPandaz commented on #2362
This is a relatively easy fix. Would someone from the community like to contribute a fix?

[2020-02-28 20:28] #2284 closed

[2020-02-28 20:28] #2471 closed

[2020-02-28 20:28] #2541 closed

[2020-02-28 20:58] TheAifam5 commented on #2530
I don't think that issue needs a full project code since it affects all templates.
It looks like there is different behaviour when `nx` is installed globally and the `nx` installed in the project.

Simple reproduction:
- Create project using `yarn create nx-workspace`
- Select one of the templates (angular, nestjs, next.js, react etc)
- Run `nx run-many --all --target=serve` and `yarn nx run-many

[2020-02-28 21:37] #2488 closed

[2020-02-29 02:59] jlteodoro opened #2586 "The command to create a workspace is failing"
_[Please make sure you have read the submission guidelines before posting an issue](https://github.com/nrwl/nx/blob/master/CONTRIBUTING.md#-submitting-issue)_

# Prerequisites

Please answer the following questions for yourself before submitting an issue.
**YOU MAY DELETE THE PREREQUISITES SECTION.**

- [x] I am running the latest version
- [x] I checked the documentation (nx.dev) and found no ans

[2020-02-29 04:43] jlteodoro commented on #2586
I was able to resolve the issue by removing the ~/.npm folder, removing a old node version that was installed before I installed nvm, then running the command again.

[2020-02-29 04:43] #2586 closed

[2020-02-29 08:35] pandaniell opened #2587 "Do not add jest and cypress when unitTestRunner and e2eTestRunner are set to none"
After setting up a basic workspace https://nx.dev/react/fundamentals/build-full-stack-applications I would like to get rid of testing since I am not interested in it and I didn't get a prompt if I wanted to add it or not, is this possible?

It seems like even when doing `yarn nx g @nrwl/react:application --name web --unitTestRunner none --e2eTestRunner none`, testing dependencies are installed and

[2020-02-29 14:15] flying1020 commented on #730
node-v12.16.1-linux-arm64/, repodu.

[2020-02-29 14:25] alexanderPastornicky commented on #2379
[Solar Turbines](https://www.solarturbines.com/) - A Caterpillar Company. Thanks guys!

[2020-02-29 15:50] yharaskrik opened #2589 "Feature - NgRx Data library schematics"
Would it be of interest to the Nx team if I were to work on some schematics to generate NgRx Data Entities and their corresponding services and functions?

My proposal would be to have a schematic that allows you to pass in an entity name and have the schematic generate you:

1. Data Service
2. entity metadata
3. Optionally any of the entity functions
4. Optionally Plural names
5. optinionally add

[2020-02-29 15:51] sameerinfodb opened #2590 "nx g @nrwl/angular:move reporting error"
_[Please make sure you have read the submission guidelines before posting an issue](https://github.com/nrwl/nx/blob/master/CONTRIBUTING.md#-submitting-issue)_

# Prerequisites

Please answer the following questions for yourself before submitting an issue.
**YOU MAY DELETE THE PREREQUISITES SECTION.**

- [x] I am running the latest version
- [x] I checked the documentation (nx.dev) and found no ans

[2020-02-29 18:13] alexanderPastornicky opened #2591 "create workspace doesn't work"
_[Please make sure you have read the submission guidelines before posting an issue](https://github.com/nrwl/nx/blob/master/CONTRIBUTING.md#-submitting-issue)_

# Prerequisites

Please answer the following questions for yourself before submitting an issue.
**YOU MAY DELETE THE PREREQUISITES SECTION.**

- [x] I am running the latest version
- [x] I checked the documentation (nx.dev) and found no ans

[2020-02-29 19:27] alexanderPastornicky commented on #2591
`npm cache clean --force` solved this issue

[2020-02-29 19:27] #2591 closed

[2020-03-01 09:30] jbojcic1 commented on #2084
@stramel did you mange to do this? If yes how?

[2020-03-01 12:54] jsaguet commented on #2590
Are you running your commands on a Windows environment?
I encountered the same issue on Windows and opened a PR to fix it (#2588)

[2020-03-01 13:17] josecolella commented on #1912
@demisx Is there a plan to change to eslint?

[2020-03-01 14:24] sameerinfodb commented on #2590
Yes, This is command is executed in Windows Environment.

[2020-03-01 15:45] ZachJW34 commented on #2578
Our company has accomplishes modifying Angular's webpack config to tweak some postcss plugins. One way is using `patch-package` and targeting `node_modules/@angular-devkit/build-angular/src/angular-cli-files/models/webpack-configs/styles.js`, but with access to the webpack config like @FrozenPandaz linked, you can do something similar to this:

[code]

[2020-03-01 17:14] costalvaro commented on #2382
Hi, same issue on my side, it feels inappropriate to say that Storybook can only be used for libs..
Looking forward to a fix! 👍

[2020-03-02 13:05] dsebastien commented on #2556
I've stumbled on the same issue with NestJS. I assume that the same recommendation to use lodash and not lodash-es holds there as well?

[2020-03-02 14:32] suwigyarathore commented on #2572
The issue is resolved. I was missing coping of **next.config.js** also while moving **dist** output to root.

**_Instead of this_**
`"start-prod:nextjs": "rm -rf .next && mv dist/apps/tuskdesk .next && node ./node_modules/.bin/next start"`

**_Do this_**
`"start-prod:nextjs": "rm -rf .next && mv dist/apps/tuskdesk .next && cp apps/tuskdesk/next.config.js next.config.js && node ./node_modules/.bin/

[2020-03-02 14:32] #2572 closed

[2020-03-02 14:37] zenVentzi commented on #1933
Is this issue a priority? Any movement?

[2020-03-02 14:54] demisx commented on #1912
@demisx My understanding the team is waiting until Angular implements ESLint support.

Related:
* https://github.com/angular/angular-cli/issues/13732

[2020-03-02 14:58] stramel commented on #1933
@zenVentzi this feature already is in.

Here is an example of how to implement.

https://gist.github.com/stramel/57483a68559dca2c6471b3170a28042f

[2020-03-02 16:20] #1010 closed

[2020-03-02 16:20] #2378 closed

[2020-03-02 16:52] maxime1992 commented on #2306
I just encountered this issue.

Reading the comment from @Cammisuli:

I tried removing everything within `moduleNameMapper` and it just worked :)

[2020-03-02 17:05] devinshoemaker opened #2593 "Request to include @nxtend/ionic-react in nx list"
As per [this section](https://dev.to/devinshoemaker/developing-ionic-react-apps-in-an-nx-workspace-with-nxtend-ionic-react-47a5) in the Nx Plugin guide, I would like to make a request for the package @nxtend/ionic-react to be listed with the `nx list` command. My plugin makes necessary changes to the standard `@nrwl/react` application in order to support developing Ionic React apps. Currently, the

[2020-03-02 21:19] MikeProcudin opened #2595 "Maybe flutter too? O:)"
omg, this dev tool is so amazin.

Guys, how do you think in the near future will it be possible to incorporate flutter into this system?

Many thanks.

[2020-03-02 23:56] chaoyangnz commented on #1439
My solution:

add `setupFilesAfterEnv: ["<rootDir>/src/test-setup.ts"]` to `jest.conf.js` and remove `"setupFile": "<...>/src/test-setup.ts"` in `angular.json`.

It works for both `npm test` and run with webstorm.

For some guys got the error: `connect ECONNREFUSED 127.0.0.1:80 even all test passed ` when
run component tests, you probably need to add this to `jest.conf.js`:

[code]

[2020-03-03 09:22] scallacs opened #2599 "topologicalSort() does not work when there are unrelated projects"
## Expected Behavior

Projects should be properly sorted according to their dependencies.

## Current Behavior

They are not properly sorted. It seems that the sorting algo is not valid in `TaskOrderer`when there are unrelated projects.

[code]

## Failure Information (for bugs)

### Steps to Reproduce

Add this test in `task-ordered.spec.ts`. We can see that app1, common1 projects are not related

[2020-03-03 13:38] IThordGray commented on #1091
Hi there,

I'm hoping someone can assist, as I'm sitting with a similar issue.

In my case, this is the package that is in question
[code]

What I've tried;
- Added this to the global jest.config.js in various forms (slashed, braces, curly braces)
`  testPathIgnorePatterns: [ '/node_modules/?!(@appnest)' ] `
- Added this to the local jest.config.js in various forms (slashed, braces, curly braces)

[2020-03-03 19:44] #2184 closed

[2020-03-03 23:18] Radecom commented on #619
It would be nice to have a command like `@nrwl/ionic` to add an Ionic project to an nx-workspace. This way we could have a complete stack of applications made in Typescript.
Who else thinks this is a good idea?

[2020-03-04 11:24] johannesschobel commented on #619
Dear @vsavkin @JamesHenry ,
what is the current state of mind from the nrwl team with respect to supporting ionic? maybe the latest 5.x version that ships with angular 9? please? ;)

[2020-03-04 12:11] nikbabchenko commented on #1686
@vsavkin, is there a way to generate angular.json on an existing project?

[2020-03-04 12:48] maxigimenez opened #2601 "Not able to enable ivy on Storybook"
# Prerequisites

- [x] I am running the latest version
- [x] I checked the documentation (nx.dev) and found no answer
- [x] I checked to make sure that this issue has not already been filed
- [x] I'm reporting the issue to the correct repository (not related to React, Angular or any dependency)

## Expected Behavior

Support ivy on storybook.

## Current Behavior

Ivy is not enabled for storybook

[2020-03-04 13:58] johannesschobel commented on #1649
i can confirm, that this works now in the `@nrwl/nx:latest` version (9.0.4)

[2020-03-04 15:39] demisx commented on #2404
Sorry, I was wrong closing this prematurely. I still see the same messages in  `v9.0.4` running `npx nx affected:dep-graph` or  seems like `npx nx affected:...` anything for that matter.  I've just replicated it with a brand new Nx workspace:

[code]

This is my env:
[code]

[2020-03-04 16:27] #2119 closed

[2020-03-04 20:05] vsavkin commented on #2404
@demisx could you push the repo with a repro to github?

[2020-03-04 21:19] demisx commented on #2404
@vsavkin Sure. Here it is. I've created the repo using commands in my previous comment and was able to see those errors .  https://github.com/demisx/2404-nx-fatal-messages. Please note you'd have to be on the `fatal-errors` branch to see those errors printed:

[code]

[2020-03-04 21:30] spyderz42 opened #2607 "Have nx format:write sort paths and projects in angular.json, nx.json, and tsconfig.json"
## Expected Behavior

Currently when adding new components through different branches, conflicts arise as they converge into master/development. If components are sorted by name, then those conflicts will be minimized as it is unlikely that the new components will all be added at the end of the file like they currently are.

## Current Behavior

Not sorted, just added to the end of the list

[2020-03-04 21:45] vsavkin commented on #2595
@MikeProcudin I personally like Dart and Flutter, but unfortunately we don't have enough cycles to work on it in the near future. If you are interested in developing it, we will help out. We have decent support for plugin development now.

[2020-03-04 21:48] vsavkin commented on #2589
@brandonroberts what do you think?

[2020-03-04 21:58] vsavkin commented on #2587
It's a bug. The project is set up without Jest and Cypress, but global files are still added.

[2020-03-04 22:01] vsavkin commented on #2530
@TheAifam5 `nx run-many --all --target=serve` and `yarn nx run-many --all --target=serve` should result in the same output (they do for me). The global CLI simply requires the local one.

What version of the nx cli you have installed globally?

[2020-03-04 22:14] vsavkin commented on #2422
@zakhenry yup. Another option, which isn't really a replacement for `affected`, is to use the the NxCloud distributed caching. So you run `nx run-many --target=build --all`, but it will only rebuild things that weren't cached. This isn't exactly the same (see last section of this: https://github.com/nrwl/nx-distributed-cache-example).

I'm going to close this issue. I don't think there is a good f

[2020-03-04 22:14] #2422 closed

[2020-03-04 22:18] vsavkin commented on #2472
@elvirdolic the edges are created by analyzing esm imports. You can examine those to see if there is anything unusual about them. You can then look at your global `tsconfig.json` to see if path mappings for those imports are set up correctly.

With a repro I can look at, I cannot troubleshoot it further. Could you provide a github repo with a repro?

[2020-03-04 22:18] yharaskrik commented on #2589
I just looked and realized that there are schematics in the NgRx platform repo for data already (albeit only for an entity with `id` and a service). So it may not may a ton of sense to reimplement that for Nx.

[2020-03-04 22:22] vsavkin commented on #1699
@xmlking sorry, I think I mislead you. You have to create a project with `tslint` and then replace it with eslint.

[2020-03-04 22:25] brandonroberts commented on #2589
@yharaskrik I agree that the schematics we have in the platform cover those things already.

[2020-03-04 22:26] #2599 closed

[2020-03-04 22:28] yharaskrik commented on #2589
@brandonroberts From what I can tell they only support a basic entity with an id property, but I would like to provide functionality for the above list in my original comment, some might be a bit difficult but I think I will try and provide some of it and make a PR to @ngrx/platform instead of @nrwl/nx

[2020-03-04 22:29] brandonroberts commented on #2589
Sounds good. Just open an issue first and tag me.

[2020-03-04 22:29] #2589 closed

[2020-03-05 00:32] TheAifam5 commented on #2530
Globally and in the project `9.0.2`

[2020-03-05 02:50] hoang-innomizetech commented on #2379
We are an offshoring/outsourcing company based in Vietnam. We have been using this tool for at least 3 projects. The current project we are working on is a big cloud-based SaaS product with Angular, NestJS, Serverless, AWS services.

InnomizeTech https://www.innomizetech.com/

[2020-03-05 10:35] kkuriata commented on #2570
Anyway, something happened that NX started posting linter errors? I didn't change anything in my project, "only" updated from 8 to 9 and linter started throwing errors (same `nx-enforce-module-boundaries` settings)

[2020-03-05 12:40] mehulparmariitr opened #2608 "WhiteSource Security Issue with internal dependency kind-of@6.0.2"
_[Please make sure you have read the submission guidelines before posting an issue](https://github.com/nrwl/nx/blob/master/CONTRIBUTING.md#-submitting-issue)_

# Prerequisites

Please answer the following questions for yourself before submitting an issue.
**YOU MAY DELETE THE PREREQUISITES SECTION.**

- [Y ] I am running the latest version
- [Y ] I checked the documentation (nx.dev) and found no a

[2020-03-05 14:12] #2366 closed

[2020-03-05 14:25] johannesschobel commented on #1717
Dear @jaysoo ,
the `.nxignore` file is not working for me. It still tries to lint some files in `**/generated` which contains auto-generated sources from 3rd-party-packages. Obviously, those files shall not be processed.

Any ideas?

[2020-03-05 14:38] johannesschobel commented on #1621
same here. I have the feeling, that the `**/generated` entry in my `.nxignore` file gets ignored (haha). In this case, the `npm run affected:lint --fix --parallel --files=...` command still tries to lint some auto-generated files (i.e., from a 3rd-party-codegen package). Obviously, this code is not lint-compliant and, therefore, cannot be committed properly :(

Does anyone have a solution for this

[2020-03-05 18:48] ctaepper commented on #2404
I can add something here:

these fatal notes only appear if the file has changes... e.g. I make changes in
`angular.json`, then when I run `nx affected --target=lint --base=master --head=HEAD`

more importantly - the OP didn't mention this in his post - this kills the purpose of the affected command as is prevents nx to do porper affected comparison and just runs the command in all projects

[code

[2020-03-05 19:09] czaplej commented on #2570
I have similar errors that @kkuriata said. I have use 9.0.4 version of nx

[2020-03-05 19:44] daniellwdb opened #2610 "Can not upgrade to TypeScript 3.8.3"
After trying to upgrade to TypeScript 3.8.3 and using top level await, the following error appears:
[code]
I'm not sure what to do at this point, I tried upgrading ts-loader to `"ts-loader": "typestrong/ts-loader",` which gave me a different error
[code]
and change the main tsconfig (in the root of the workspace)
[code]

[2020-03-05 21:27] ElbowBaggins commented on #2386
According to [this angular-cli comment](https://github.com/angular/angular-cli/issues/12465#issuecomment-590941650) this is no longer exactly the case.

It looks like native PnP mode support is not in yet, but @yarnpkg/pnpify or the node-modules linker strategy should (allegedly) be usable now.

Of course, I have no idea what this means for you guys, maybe this doesn't help you, but it's a thing n

[2020-03-05 21:36] calarconpieriz commented on #2431
@vsavkin thank you. I was able to solve it with the `resolutions` workaround.

[2020-03-05 23:21] fluky opened #2613 "storybook-configuration fails on modules without declarations"
# Prerequisites

- [X] I am running the latest version
- [X] I checked the documentation (nx.dev) and found no answer
- [X] I checked to make sure that this issue has not already been filed
- [X] I'm reporting the issue to the correct repository (not related to React, Angular or any dependency)

## Expected Behavior

`nx g @nrwl/angular:storybook-configuration [lib]` should ignore modules without

[2020-03-05 23:26] geetikasharma26 opened #2614 "Using --headless mode isn't hiding the chrome browser"
_[Please make sure you have read the submission guidelines before posting an issue](https://github.com/nrwl/nx/blob/master/CONTRIBUTING.md#-submitting-issue)_

# Prerequisites

Please answer the following questions for yourself before submitting an issue.
**YOU MAY DELETE THE PREREQUISITES SECTION.**

- [x] I am running the latest version
- [x] I checked the documentation (nx.dev) and found no ans

[2020-03-06 04:36] cngarkar commented on #2570
I think @kkuriata is right. I'm also seeing the circular dependency issues after upgrading to 9.

[2020-03-06 04:46] kswaroop commented on #2570
I have manually updated the code by removing which has a circular dependency, It works fine now, Actually, all libraries are interrelated, so if one has dependency most of the other related are also failing

[2020-03-06 05:20] mandri222 opened #2616 "JavaScript as defaults"
Hi guys thanks for great library 😉

Instead of using typescript as defaults can i change it to JavaScript (React)?

[2020-03-06 05:32] #2616 closed

[2020-03-06 05:50] atifsyedali commented on #2152
Is there early access to plugin API? I would love to move my create-react-app Nx builder and distributed cache task runner as a plugin (see https://github.com/apployees/apployees-nx) and help test drive the effort.

@KostasDimakis @dsebastien my https://npm.org/@apployees-nx/webserver Nx builder has support for service workers, ported over from create-react-app. Create a new app with it and it wil

[2020-03-06 08:19] elvirdolic commented on #2472
@vsavkin thank you for your support. I have found the issue. There is an import in one of the shared libs from this app. The question is then why on linux this is done right and on Windows it's not :)

[2020-03-06 09:22] maartentibau opened #2617 "Basic creation of a workspace fails"
Please answer the following questions for yourself before submitting an issue.

- [x] I am running the latest version
- [x] I checked the documentation (nx.dev) and found no answer
- [x] I checked to make sure that this issue has not already been filed
- [x] I'm reporting the issue to the correct repository (not related to React, Angular or any dependency)

## Expected Behavior

I'm trying to crea

[2020-03-06 09:45] maartentibau commented on #2617
OK, it seems this was an issue at my end.

I removed Yarn completely from my laptop and now it works. 🙂

[2020-03-06 09:45] #2617 closed

[2020-03-06 11:00] #2590 closed

[2020-03-06 13:40] jeroenklein commented on #1765
We have the same issue like viceice shows in his repo. Hope the PR will be merged soon.

[2020-03-06 15:16] #2593 closed

[2020-03-06 15:16] thomas-jakemeyn commented on #2147
Thank you for the inspiration! I did this, which is safer in my opinion:

[code]

[2020-03-06 15:18] #2532 closed

[2020-03-06 16:13] ftischler commented on #2614
Same problem for me when using cypress with `nx e2e projectName —browser chrome —headless` on @nrwl/cypress@9.0.4 with cypress@4.1.0

[2020-03-06 16:25] raheelriax commented on #2366
Thanks a lot ☺️

[2020-03-06 18:10] jsaguet commented on #2607
I agree that having projects ordered alphabetically in those files would help a lot to avoid conflicts.

I am not sure though if format:write is the appropriate command to do this.
Maybe the generate schematics could implement this behavior to have the projects ordered as soon as they are created?

[2020-03-06 18:53] spyderz42 commented on #2607
Agreed! I would assume that the format:write would use whatever is implemented elsewhere, since I would need it for my current projects to update them.

[2020-03-06 22:33] GreQ commented on #1686
I've started getting into nx-workspace and noticed a lack of information about which cli to use. I thing it's a big issue when getting started and first prompt you get while creating an nx-workspace is  the option to use nx - or ng cli and no documentation to be found explaining the pros and cons.
Could spot to clarify the issue would be https://nx.dev/angular/getting-started/nx-and-cli. If my int

[2020-03-06 22:58] geetikasharma26 commented on #2532
Data path ".browser" should be equal to one of the allowed values is the error being thrown for firefox browser. Using the latest version @nrwl/cypress": "9.0.4".

[2020-03-07 00:08] vdiaz1130 opened #2624 "Installing @progress/kendo-angular-intl Causes Generate in NX Console to Stop Working."
Installing @progress/kendo-angular-intl in an NX Angular project causes the Generate button in the VS Code NX Console to stop working.

To reproduce:
npx create-nx-workspace@latest myws
select Angular
give it a name
select SASS
cd into the project
open in VS Code
click the Generate button in the NX Console - note it works
npm i --save @progress/kendo-angular-intl
click the Generate button in the N

[2020-03-07 07:47] jsaguet commented on #2607
I think format command basically runs prettier.

IMHO, alphabetical order should be the default for generate commands but users should have the choice to opt out if they need to order them in a specific way.

It would be cool to have maintainers' opinion on this feature.

I'd be interested to submit a PR for this

[2020-03-07 14:07] jrpool commented on #1979
With jest 24.9.0 and jest-preset-angular 8.0.0 as dev dependencies, I found in jest.config.js the entry `module.exports.globals.ts-jest.astTransformers` with an array value, containing the item
`require.resolve('jest-preset-angular/InlineHtmlStripStylesTransformer')`
This references a file with the wrong name in the wrong place. I commented this item out, and then the error
`Cannot find module 'je

[2020-03-07 22:56] Driky commented on #1935
@geocine any news on antd integration with next inside nx ?

[2020-03-08 13:55] vincaslt commented on #2096
Could you point to the resource or a solution? I'm having this exact problem.

[2020-03-08 14:21] vincaslt opened #2625 "tslib not found in node server production build"
# Prerequisites

Please answer the following questions for yourself before submitting an issue.
**YOU MAY DELETE THE PREREQUISITES SECTION.**

- [x] I am running the latest version
- [x] I checked the documentation (nx.dev) and found no answer
- [x] I checked to make sure that this issue has not already been filed
- [x] I'm reporting the issue to the correct repository (not related to React, Angul

[2020-03-08 14:37] vincaslt commented on #2625
I've a sense this is because api build does not include vendors. Is there a configuration option I'm missing?

[2020-03-08 15:09] manfredsteyer opened #2626 "Adding Nx plugin @angular-architects/ddd to nx list"
According to your docs, I'd like to propose adding the Nx Plugin [@angular-architects/ddd](https://www.npmjs.com/package/@angular-architects/ddd) to ``nx list``.

[2020-03-08 15:26] fetters5 commented on #2617
I had the same issue yesterday and also had to uninstall a really old version of yarn I forgot I had.

[2020-03-09 07:13] amtb commented on #2469
Happens with 8.12.9 as well.

[2020-03-09 07:48] arjunasuresh3 commented on #1397
+1

[2020-03-09 12:14] wesleygrimes commented on #2626
Sounds good! Woul you be able to submit a PR and add to the community/approved-plugins.json file?

[2020-03-09 12:18] wesleygrimes commented on #2626
Use #2597 as an example. We have updated the docs on the submission process but haven’t deployed new version to website yet.

[2020-03-09 12:32] gerardcastell commented on #54
Is there any solution from Nx team already? Thx

[2020-03-09 14:28] wesleygrimes commented on #2626
@manfredsteyer we will go ahead and create the PR to get your plugin added. Thanks!

[2020-03-09 14:55] arjandepooter commented on #2396
We ran into the same issue and the workaround of renaming the project works. We also discovered that this occurs when the project name is the same as one of the dependencies in `package.json`.

[2020-03-09 15:26] EvtK commented on #837
@adinath thanks for sharing your solution.

In the end the solution is the same: you need to distinguish in generating the reports and then later merge them yourself. It would be nice if this was an out of the box functionality within NX. But.. the current solutions are sufficient.

[2020-03-09 16:01] #2626 closed

[2020-03-09 16:24] wilsonparson commented on #2344
I've also been trying to figure out how to get around this. We want to use the same setup for all of our Angular libraries and apps, so I've tried doing something like the following:

## Global Jest config

[code]

## Global Jest config for Angular projects

[code]

## Global Jest setup file for Angular tests

[code]

## Project-level Jest config

[code]

When I run tests for the project I get the

[2020-03-09 17:47] vincaslt commented on #2625
I added this flag in production build config: `"externalDependencies": "none"`

[2020-03-09 17:47] #2625 closed

[2020-03-09 18:26] Hotell opened #2630 "@nrwl/storybook:configuration - adds unecessary dependencies to package.json"
# Prerequisites

- [x] I am running the latest version
- [x] I checked the documentation (nx.dev) and found no answer
- [x] I checked to make sure that this issue has not already been filed
- [x] I'm reporting the issue to the correct repository (not related to React, Angular or any dependency)

## Expected Behavior

When creating storybook for React library, only react specific libraries should b

[2020-03-09 19:16] Sidewinder1138 commented on #2528
I'm trying to at least come up with a workaround so I'm no blocked. I'm considering creating a brand new workspace at the latest version, and then somehow manually migrating in my project code... as awful as that may be (maybe not so bad? never tried it...). Can anyone think of a less drastic workaround? :)

[2020-03-09 19:59] snebjorn opened #2632 "@nrwl/workspace:library: support publishable libraries"
## Expected Behavior

To officially support `nx generate @nrwl/workspace:library --name pubtest --publishable`

The idea is to publish a framework-less library

## Current Behavior

[code]

## NX Report

[code]

[2020-03-09 20:22] ch4mpy opened #2633 "Add Ionic 5 projects support"
# Prerequisites

- [x] I am running the latest version
- [x] I checked the documentation (nx.dev) and found no answer
- [x] I checked to make sure that this issue has not already been filed
- [x] I'm reporting the issue to the correct repository (not related to React, Angular or any dependency)

## Expected Behavior

Full Ionic 5 support as for Angular or React web projects

## Current Behavior

I

[2020-03-10 06:17] arslan2012 commented on #2096
@vincaslt nest doesn't bundle vendor at all, I fixed it by rsync the whole node_modules folder onto the server

[2020-03-10 08:43] lexcaraig commented on #1511
Any plans on adding storybook/addon-docs for angular? I mean, it would be a big help if we have an schematics for this in default setup.

[2020-03-10 12:16] zenVentzi commented on #1933
@stramel is there some workaround for importing typescript files? Maybe somehow make sure they compile to js first before they are imported in the `server.js` file?

Also, how can we pass arguments to node? E.g. there are .js files with es6 modules, by passing some extra args we can at least use these files. Node v.13 is not an option for now.

[2020-03-10 13:33] Hotell commented on #2632
you can do that with `@nrwl/node:lib` (but yeah, it should be available in the core schematic -> which is workspace)

[2020-03-10 13:39] Hotell opened #2635 "@nrwl/jest: plugins/resolver doesn't work when using plain jest cli"
# Prerequisites

- [x] I am running the latest version
- [x] I checked the documentation (nx.dev) and found no answer
- [x] I checked to make sure that this issue has not already been filed
- [x] I'm reporting the issue to the correct repository (not related to React, Angular or any dependency)

one should be still able to run test suite directly via `yarn jest` (so whole codebase can be tested) -

[2020-03-10 15:03] snebjorn commented on #2632
Ah thanks for the tip. I can look at what `@nrwl/node:lib` generates and copy the relevant parts

[2020-03-10 16:46] manolof opened #2639 "Schematic "jest-project" not found in collection "@schematics/angular""
## Expected Behavior

When I follow the cookbook on how to migrate from Karma to Jest on an app, and run my `ng generate jest-project --project <project_name>` command, I expect for no errors and for the necessary files to be created/updated.

## Current Behavior

When I run `ng generate jest-project --project <project_name>` I get the following error:

`An unhandled exception occurred: Schematic

[2020-03-10 17:00] wilsonparson commented on #2344
Just discovered Nx's Jest builder options: https://nx.dev/web/api/jest/builders/jest#jest

Adding the `setupFile` property to the project angular.json seems like the best solution for our use case:

[code]

We're still stuck with referencing the setup file in each individual project, but at least it's all in one file (angular.json) instead of spread across all of our project-level Jest configs.

[2020-03-10 18:27] michelcve commented on #733
@vsavkin could you elaborate a bit on this. What would your pre-push look like, in case one would want to run a format:check in pre-push?

I'm not sure how to call it in pre-push, and let it check all previous (non-pushed) commits as well.

[2020-03-10 19:18] gperdomor opened #2640 "feat: handle nx-enforce-module-boundaries depConstraints on external file"
_[Please make sure you have read the submission guidelines before posting an issue](https://github.com/nrwl/nx/blob/master/CONTRIBUTING.md#-submitting-issue)_

# Prerequisites

- [x] I am running the latest version
- [x] I checked the documentation (nx.dev) and found no answer
- [x] I checked to make sure that this issue has not already been filed
- [x] I'm reporting the issue to the correct repos

[2020-03-10 20:16] MitkoTschimev commented on #2300
Does the new nx plugin system support ng-add too?

My plugin is working currently for nx with ng, nx native and angular cli. I like the new plugin system but afraid to lose the ability to support all 3 of them.

[2020-03-10 20:19] wesleygrimes commented on #2300
Yes it should. We have an approved plugin that uses ng add today. It’s the karma to jest one.

[2020-03-10 20:25] MitkoTschimev commented on #2300
Hmm ok just to be sure I was describing everything right.
It event can support native angular cli with ng-add or just the ng-add schematic as a link?

https://github.com/Dev-Thought/ng-deploy-it/issues/32

[2020-03-10 21:04] wesleygrimes commented on #2300
Correct

[2020-03-10 22:23] snebjorn commented on #2632
When building with `@nrwl/node:package` I've noticed that I don't get these dist folders

![image](https://user-images.githubusercontent.com/1266245/76364612-dfeccf80-6325-11ea-9300-dab159ad7461.png)

Is that intentional?

[2020-03-10 22:25] twittwer commented on #1749
@SebasG22 Thx for the hard work you already done
Do you make progress or maybe need help?

[2020-03-10 22:34] snebjorn commented on #602
I have a `@nrwl/node:lib` (publishable) package that I import into a `@nrwl/angular:lib` (publishable). When I run `nx build` I get this warning.

[code]

[2020-03-11 03:45] nartc commented on #2147
I might not have a very sophisticated models but I was able to get the plugin to work just fine.

[code]

[code]

[code]

[code]

[2020-03-11 08:20] danieldanielecki commented on #1749
@twittwer I just opened an [issue ](https://github.com/SebasG22/nx-mutation/issues/3 ) that I couldn't fetch the package. Looks like @SebasG22 is about releasing it in the near future.

[2020-03-11 08:47] vinayakpatil commented on #1276
@hnryjms Your solution worked but I have seen a degradation in the test run times. Have you faced anything like it?

I have already logged a separate issue here: https://github.com/TheBrainFamily/cypress-cucumber-preprocessor/issues/336

[2020-03-11 19:35] klaascuvelier opened #2642 "[QUESTION] @nrwl/jest no public API"
_[Please make sure you have read the submission guidelines before posting an issue](https://github.com/nrwl/nx/blob/master/CONTRIBUTING.md#-submitting-issue)_

# Prerequisites

Please answer the following questions for yourself before submitting an issue.
**YOU MAY DELETE THE PREREQUISITES SECTION.**

- ~I am running the latest version~
- [x] I checked the documentation (nx.dev) and found no answe

[2020-03-11 20:26] nikbabchenko commented on #2601
By the way, how to compile in prod mode storybook?

[2020-03-12 01:14] snebjorn commented on #805
this doesn't appear to work anymore I'm trying to debug a typescript lib built using `@nrwl/node`. Here's the config

[code]

It doesn't hit any breakpoints. Please advice

[2020-03-12 01:29] eliasdarruda opened #2643 "Splitting nx.json and angular.json per project"
Hey!

It would be very cool if we could have a tool to split configuration files like angular.json or nx.json per app/lib
Currently we are working in the same repo with a lot of different projects and a lot of people, we always end up having to solve conflicts on these files.

Angular CLI does not support splitting angular.json by default, so we could put a angular-project.ts inside each lib or ap

[2020-03-12 05:12] vdiaz1130 commented on #1859
I'm having a similar problem. I have a shared library under `libs/shared/entities`. In nx.json, I have the following entry:
[code]
I also have a data lib under `libs/data/authentication-state` and  in tslint.json I have the following:
[code]

However, in my authentication state library, I get the following error:
[code]

It works in some cases but failing here and I can't pin-point why.

[2020-03-12 07:23] dogmatico commented on #2643
Solving this, even with JSON pointers to external files, will be a great quality of life improvement. Conflicts arising in those files when multiple branches create libraries and projects require, unless I'm doing it wrong and there is a better way, require meticulous work to solve and a bit of understanding of the structure of angular/nx.json.

[2020-03-12 15:06] jaysoo commented on #2578
Adding `postcss-normalize` is a good idea. The experience is a lot better if users didn't need to modify configuration too much.

We should make sure the generated stylesheet has `@import-normalize`. This wouldn't affect users using styled-components or emotion.

[2020-03-12 15:18] jaysoo commented on #2355
@czaplej Sorry for the late reply. It might have been a bad config in a previous version. Can you try updating to the latest Nx 9 release?

```nx migrate @nrwl/workspace@9.1.0```

I just checked it require is working. I tested by using it for `styled-components`:

[code]

Lastly, can you double-check your `tsconfig.json` in your apps and libs? They should include this compiler option:

[code]

[2020-03-12 15:18] jaysoo commented on #2355
Closing this for now, but feel free to re-open if you continue to have issues.

[2020-03-12 15:18] #2355 closed

[2020-03-12 15:22] jaysoo commented on #1720
@jbojcic1 If you want try it out please feel free

We will need to investigate further, and unfortunately we currently have other issues taking priority.

---

## Contribution notes

Once you've made your changes you can test out with:
[code]

This will take a while, but eventually you can cd into `tmp/nx/proj` and try adding some apps and libs.

[code]

To update the playground when you make chan

[2020-03-12 15:40] snebjorn opened #2646 "[Feat] independent/fixed versioning with semantic-release"
I think it would be a great addition to be able to run semantic-release (or similar) on publishable libraries.

Lerna have something like this. I found this [mono repo](https://github.com/conventional-changelog/conventional-changelog) that demonstrates an independent setup

There's two modes to this, fixed and independent.

- **Fixed** will give each library the same version and have a CHANGELOG i

[2020-03-12 15:41] jaysoo commented on #2490
We've decided to support `next.config.js` instead of internalizing everything in Nx. Will work on something for the next release.

[2020-03-12 17:08] sl-benjamindupuy opened #2647 "[Question] How build works under the hood ?"
Hi !
First congratulations for the work done with NX, a great tool !
I have read the doc and blog articles and would like to know how the build works hunder the hood. I mean how does the script really keep apps / libs that are not affected by the changes?
Also I could see on the example stack an nx build command, what is the interest that you bring compared to the ng build?
Finaly, how to use nx b

[2020-03-12 17:24] jamesga1 opened #2648 "nx 9.1.0: Unknown option: '--prod'"
## Expected Behavior
Running version 8.12.8:
[code]
Would build affected apps within my CI (Azure Devops)

## Current Behavior

Running version 9.1.0:

[code]
throws:

[code]

### Context

nx Report
[code]

## Other

Is using --configuration=production the correct method to call production going forward, or is there something that I should be doing differently?

My current workaround is to run:

[

[2020-03-12 20:02] vsavkin commented on #2643
I'm with you folks! We work with a lot of clients with 10k angular/workspace json files. So definitely something we are thinking about.

[2020-03-12 20:04] vsavkin commented on #2642
I think we should export the builder.

[2020-03-12 20:06] vsavkin commented on #2640
Given that the Angular CLI is supposed to switch to eslint in the future, most likely we won't do it, but I'll keep the issue here to track it.

[2020-03-12 20:20] vsavkin commented on #2633
We recently launched out plugin support (read more here: https://nx.dev/angular/guides/nx-plugin). And we already have a plugin adding support for ionic-react. If you run `nx list`, you should be able to see it.

We are happy to help anyone who is going to add Angular Ionic support to Nx.

[2020-03-12 20:22] wesleygrimes commented on #2633
Just to second what Victor said, if anyone needs help feel free to reach out and we can assist in the process.

[2020-03-12 20:47] vsavkin commented on #2632
We cannot really make `@nrwl/workpace:lib` publishable because we need to know how to build it. That's why it has to be node, or react, or angular.

@snebjorn we don't bundle node libs. Any particular reason you want it to be bundled?

[2020-03-12 20:58] vsavkin commented on #2614
Folks. Could you try it with Nx 9.1.0?  Cypress 4 wasn't officially supported by Nx <= 9.1

[2020-03-12 21:05] vsavkin commented on #2610
Sorry, we currently do not officially support TypeScript 3.8+.

It usually takes a few months for all the tools we rely on to start supporting latest version of TypeScript. Once it happens, we will bump up the version. We will also update your workspace automatically once this happens.

[2020-03-12 21:38] vsavkin commented on #2648
Thanks for submitting the issue. We fixed in 9.1.1.

[2020-03-12 21:38] #2648 closed

[2020-03-12 21:43] stramel commented on #2474
Just ran into this issue as well.

[2020-03-13 00:48] ctaleck commented on #2624
This issue was submitted on the original repository as https://github.com/nrwl/nx-console/issues/923

[2020-03-13 08:23] siimveskilt commented on #2614
Can confirm that the issue persists.

[2020-03-13 09:12] snebjorn commented on #2632
I see. I just figured a `@nrwl/workpace:lib` would always be published as an NPM package. And had assumed that a `@nrwl/node:lib` was a lib meant to be run on node like [express](https://github.com/expressjs/express)

No particular reason. I just thought it would be good form to publish JS in a standardized module format. The tree-shakeability of ESM seems like a good ability to have.

[2020-03-13 09:14] Hotell commented on #2632
Yeah what @vsavkin  said 👌. I guess good solution would be to have `lib` schematic for `web` and thus make it publishable.

There might be some issues as creating bundles for web-components is not trivial task... but as I said there is already builder for that 🤞

[2020-03-13 09:17] MikeProcudin commented on #2595
@vsavkin, I am busy with getting a better life.
Unfortunately, I am not in silicon valley 💃

[2020-03-13 09:57] florianehmke commented on #2479
Are there any workarounds for this?

[2020-03-13 12:21] snebjorn opened #2652 "[@nrwl/angular] Fresh install fails to build"
## Expected Behavior

`nx build` should build a fresh/clean project.

## Current Behavior

`nx build` throw this error

## Failure Information (for bugs)

### Steps to Reproduce

Run these commands in order

1. yarn create nx-workspace
2. yarn add --dev @nrwl/angular
3. nx g @nrwl/angular:lib ng-lib --publishable
4. nx build

Observe error

### Context

Here's a repo with the generated code https:

[2020-03-13 12:53] snebjorn opened #2653 "nx migrate throws when called without args"
## Expected Behavior

Exceptions shouldn't propagate all the way out, but instead gracefully fail with a human readable error message.

**Example**

[code]

## Current Behavior

Currently exceptions propagate all the way out, causing this scary looking error message. It looks like something horrible went wrong. But really it's just saying that it was called incorrectly, which is a common scenario.

[2020-03-13 14:19] 4kochi opened #2655 "UnhandledPromiseRejectionWarning: TypeError: tasksRunner is not a function"
# Prerequisites
- [x] I am running the latest version
- [x] I checked the documentation (nx.dev) and found no answer
- [x] I checked to make sure that this issue has not already been filed
- [x] I'm reporting the issue to the correct repository (not related to React, Angular or any dependency)

## Expected Behavior

Task runner works fine.

## Current Behavior

Task runner does not work

### Steps

[2020-03-13 15:16] rovshenn commented on #1970
Same problem here, no way to pass @vsavkin is there any way to have this. I am on the latest nrwl nx 8 version at the moment 8.12.10 and I am still getting the above error

[2020-03-13 15:34] ashbrener commented on #1230
This is also a critical requirement for modules that dynamically import the contents of entire directories ... example node express with routing-controllers

[2020-03-13 17:06] killbox-code opened #2657 "unable to generate @nrwl/nest:lib"
- [X] I am running the latest version
- [X] I checked the documentation (nx.dev) and found no answer
- [X] I checked to make sure that this issue has not already been filed
- [X] I'm reporting the issue to the correct repository (not related to React, Angular or any dependency)

## Expected Behavior

Expecting the command `ng g @nrwl/nest:lib --directory=sensei --tags=server,lib --controller --ser

[2020-03-13 17:06] Hotell opened #2658 "@nrwl/react - add support for component storybook schematics - like @nrwl/angular:*"
# Feature Request

Currently when setting up storybook within angular `lib` the experience is superb. React doesn't have such a benefits.

This is a feature request to implement following angular schematics within react plugin:
- stories
- component-cypress-spec
- component-story

All of those can be then leveraged within `@nrwl/react:storybook-configuration`

## Common patterns to generate storie

[2020-03-13 17:49] gund commented on #2479
@florianehmke my workaround for now is keeping the output path as default and then after build executing script to copy assets back to where I needed them.

[2020-03-13 18:02] ronnyek commented on #1439
@chaoyangnz Have you been able to run tests against components that have external html files / css files?

[2020-03-13 18:06] FrozenPandaz commented on #2653
The reason you see this error is that `nx migrate` requires a version at the moment.

See the [examples on this page](https://nx.dev/react/nx-commands/migrate).

What would you expect as the default version if none is passed?

[code]

[2020-03-13 18:11] FrozenPandaz commented on #2652
The issue here is that there is no `@angular` packages because no application has been generated.

https://github.com/snebjorn/nx-test/blob/master/package.json#L32

We should add those packages when generating an angular library.

For now, to trigger this manually, you can run:
[code]

[2020-03-13 18:17] snebjorn commented on #2653
The issue was just that the exception bubbled all the way out.

It should gracefully exit after printing the error message it gave.

[2020-03-13 18:42] FrozenPandaz commented on #2655
Thanks for reporting this issue! Sorry for the inconvenience.

We will have a fix shortly.

[2020-03-13 18:51] FrozenPandaz commented on #2657
For me, it did take quite a while (26 seconds) but it does complete successfully.

Can you please provide a repo so that we can clone it to debug the issue?

[2020-03-13 19:22] #2655 closed

[2020-03-13 19:26] 4kochi commented on #2655
Wow. That was a fast fix. Thx a lot.

[2020-03-13 20:41] ronnyek commented on #2314
I think this one would be great to figure out... I've HAD this working with previous versions of nx, but just created brand new workspace with a new angular app... added `IDE=true` to environment variables, but still get that error trying to find zone.

I'm worried about the amount of hacking we've had to do historically in the past with older versions of nx... as I'm not sure its still able to ru

[2020-03-13 20:51] ronnyek commented on #747
I believe this is the same thing that's experienced with webstorm, and if that is infact the case.... yes the problem still exists. I just created a new workspace with 9.x, and getting loads of errors with not being able to find zone.js, after fiddling with other settings, I've gotten it to the point where it gives an error about not being able to load html for the component

[2020-03-13 20:58] chaoyangnz commented on #1439
yup, all fine, compoents with inline and external html/css

[2020-03-13 21:30] ronnyek commented on #2314
@vladimirdrayling, @raycashmore could you clarify what specifically you've changed from what came out of box NX? I'm definitely not seeing anything thats been able to fix ability to run tests from webstorm in the latest nx

[2020-03-13 22:24] snebjorn commented on #2570
I getting false positives of `nx-enforce-module-boundaries`

I have this graph

![image](https://user-images.githubusercontent.com/1266245/76663309-e034d700-6580-11ea-8772-839c4f4c9f01.png)

Where each of the akita-ng-libraries have akita as a `peerDependency`

I also have a demo app which uses all of the above (remember peerDependencies) which causes the graph to look like this

![image](https://

[2020-03-13 22:31] snebjorn commented on #2570
Nevermind, I missed the arrow going from akita to the app :/

Now I'm not getting any `nx-enforce-module-boundaries`

![image](https://user-images.githubusercontent.com/1266245/76663861-c09eae00-6582-11ea-8022-53ba38e8e761.png)

[2020-03-14 00:17] eliasdarruda commented on #2643
I made a package to solve this problem, it comes with the cost of having to run a command before every serve and build action to merge the files.
However I don't see any way out of this behaviour for angular.json file.

This plugin solves the conflict and complexity problem for "nx.json", "angular.json" and "tsconfig.json" files.

It would be nice if we could see in the future a flag to at least d