[2021-05-06 11:10] bjornharvold opened #5578 "FATAL ERROR: invalid array length Allocation failed - JavaScript heap out of memory"
## Current Behavior
We have a 1000+ library Nx monorepo. A few days ago, our CI server started failing with the error mentioned in the title of this issue. We wanted to replicate in development and started doing a build with one of our applications that had the least dependencies. It failed the same way the CI server did.

The developer laptop had all the libraries built so building the same proje

[2021-05-06 11:17] #2019 closed

[2021-05-06 11:22] bjornharvold commented on #5578
I can confirm that this is a regression error. Our application builds on v12.0.8.

[2021-05-06 11:42] aiji42 commented on #5414
Thanks @kirjai ! I'm eagerly awaiting the release.

[2021-05-06 12:02] erkobridee commented on #5492
@kirjai I give it a try, for the next.js application inside of my mono repo it works, but the other application based on plain react, that didn't ran without the `@nrwl/react/babel` preset on the library 😢

[2021-05-06 12:34] Coly010 commented on #5018
@FrozenPandaz

I've done some investigation into this.

With the latest version of Nx, it appears that `nx g lib` does not _always_ attempt to reinstall packages.

Rather, it will only reinstall packages for generators that are still using `@angular-devkit`.

It appears that `@angular-devkit` will run an `npm install` of some form when a call to `externalSchematic` is made, which is used in some o

[2021-05-06 12:34] Aboisier commented on #5575
Somehow, I generated a lib using the lib generator packaged with nx, and `@nrwl/linter@12.1.1` was added to my `package.json`. I tried running my custom generator, and I am getting more manageable errors now (tsconfig stuff).

I feel like somewhere when we upgraded from 10 to 12, something went wrong :/

[2021-05-06 12:35] Aboisier commented on #5575
Somehow, I generated a lib using the lib generator packaged with nx, and `@nrwl/linter@12.1.1` was added to my `package.json`. I tried running my custom generator, and I am getting more manageable errors now (tsconfig stuff). It's weird, because `nx report` reported that `@nrwl/linter` *was* installed.

I feel like somewhere when we upgraded from 10 to 12, something went wrong :/

I guess I'll clo

[2021-05-06 13:00] Abildtoft commented on #4078
Would it be possible to reopen the issue?

[2021-05-06 13:06] Aboisier commented on #5575
Somehow, I ended up in the same broken state, so installing `@nrwl/linter` and `@nrwl/devkit` was not a fix.

[2021-05-06 14:14] tar-aldev opened #5581 "Unable to "take snapshot" of Memory when running tests in debug mode"
## Current Behavior

I am following your example of running tests in debug mode which is
[code]

I am able to connect to this debugger via dedicated node devtools .
I am able to take snapshot in Memory -> Take snapshot.
However as soon as I am starting the tests (by going to Sources -> Resume script execution)
The following happens:
1. It gives error saying
 nx run backend:test
Starting inspector

[2021-05-06 15:26] Lonli-Lokli commented on #4743
@JamesHenry thanks I will give it a try.

Have you considered husky & lint-staged integration in Nrwl apps?

[2021-05-06 16:11] luchsamapparat opened #5584 "Cannot use component from library in Next.js app"
## Current Behavior
Using a component from a library in an Next.js fails in production.

![image](https://user-images.githubusercontent.com/875017/117330017-8d5d6380-ae95-11eb-87d2-2e253a2e852c.png)

EDIT: I just noticed that in the [reproduction repo](https://github.com/luchsamapparat/nextjs-lib-reproduction) mentioned below `nx serve` also fails, but with another error:
EDIT2: After completely r

[2021-05-06 17:43] yuriy-eleks commented on #4154
@itaywol provided workaround doesn't work if you have imports from `lib`, because it can be run via `nx run portal:serve`

Seems it critical issue, cause application cannot be debugged !

[2021-05-06 18:05] cyrus-za commented on #4850
This is still an isssue...

[2021-05-06 18:07] cyrus-za commented on #4841
I dont think renovate has a way to update after install, but it does run postinstalls. I get that you using the current version, but maybe use git or something to check the changes to package.json and then based off of that run a set of migrations.

[2021-05-06 18:07] cyrus-za commented on #4812
Why was this closed? @FrozenPandaz

[2021-05-06 18:07] cyrus-za commented on #4744
@vsavkin please re-open

[2021-05-06 18:08] cyrus-za commented on #1922
@vsavkin please reopen this. It's got enough thumbs up to make it a priority rather than a bot auto-closing it

[2021-05-06 18:09] cyrus-za commented on #5383
yep, it's related to the single index.ts exporting multiple modules, wheras a typical nextjs app would import the file directly and not the entire lib

[2021-05-06 18:32] luchsamapparat commented on #5584
This seems to be a regression. When I set up the workspace with `npx create-nx-workspace@11 nextjs-lib-reproduction`, it works.

[2021-05-06 19:17] nemonemi commented on #1881
Thanks, @capJavert!
Your setup worked nicely for me. Behavior-wise, one thing to keep in mind is that changes from the apps will not preserve all of the libs states, however, changes within the libs will.

@vsavkin, @FrozenPandaz could you please address this request by at least providing proper documentation on how to handle this use case?

[2021-05-06 22:02] simondotm commented on #5065
Fwiw, the `context.root` directory passed into my executor is correct.

[2021-05-06 22:12] marct83 commented on #5487
Ran another migration. Again some things are updating but others are not... Here's the output from `nx report`

tremm1@DESKTOP-2EOUTDG:~/code/toolbox/frontend/angular/toolbox$ nx report

  Node : 12.11.1
  OS   : linux x64
  npm  : 6.11.3

  nx : 11.6.3
  @nrwl/angular : 12.1.1
  @nrwl/cli : 11.1.3
  @nrwl/cypress : 12.1.1
  @nrwl/devkit : 11.6.3
  @nrwl/eslint-plugin-nx : Not Found
  @nrwl/expres

[2021-05-06 22:13] marct83 commented on #5487
Is this normal? I figured everything would move to 12.1.1. Unfortunately I cannot share repo it's internal.

[2021-05-06 22:26] simondotm commented on #5065
Ok a bit more digging...
`const projGraph = createProjectGraph();` has 3 default parameters:
`readWorkspaceJson(), readNxJson(), readWorkspaceFiles()`

These are not correct. If I log them in my executor, I see right away they are the parent workspace, not the e2e workspace.
[code]

[2021-05-06 22:37] simondotm commented on #5065
Ok setting environment variable `NX_WORKSPACE_ROOT_PATH` to the e2e workspace root fixes the issue, and my executor now gets the correct project graph.
Now squinting  at: https://github.com/nrwl/nx/blob/d007d37fb4f625fc4854d06d2e083ed778d6a3db/packages/workspace/src/utilities/app-root.ts

[2021-05-06 22:49] simondotm commented on #5065
ok this is strange: `pathInner()` function in app-root uses `__dirname` as a starting point to unwrap parent directories until it hits a `workspace.json` or `angular.json`
Since `__dirname` is the script being currently run, I console logged this from my executor in the e2e workspace and it revealed the `dist\packages\<plugin>\src\executors\<executor>` script folder, not the `node_modules` folder

[2021-05-06 23:22] simondotm commented on #5065
And now of course I realize the e2e workspace `package.json` has my plugin as a local file reference:
`"@myorg/myplugin": "file:<pathto>\\myplugin/dist/packages/myplugin"

[2021-05-07 04:39] linbudu599 opened #5588 "Application has same name with nx-plugins will not be removed correctly"
## Current Behavior

These is an application named 'node', if other applications in workspace rely on @nrwl/node(in other words, having targets which executor includes @nrwl/node:execute/package/build), then app 'node' cannot be removed.

Using 'node' 'react' 'nest' as app names is incorrect behaviour, but nx should be able to know args of remove generator can only be project names.

![image](http

[2021-05-07 06:05] bradbarrow commented on #5584
https://github.com/nrwl/nx/issues/5312

[2021-05-07 06:36] #5584 closed

[2021-05-07 08:02] tar-aldev commented on #3144
Sorry to post on closed issue but I encounter the same issue as well.
I need to debug tests and take memory snapshots.
When launch
 node --inspect-brk ./node_modules/@nrwl/cli/bin/nx test backend
It outputs
[code]
Then I go to chrome://inspect
Click on Open dedicated DevTools for Node
https://prnt.sc/12m6csh

It opens devtools and steps into `Sources` tab automatically. There I can see some code w

[2021-05-07 09:13] vitorcamachoo commented on #5492
With that approach, it will break the unit tests I have on the library  🥲

[2021-05-07 09:14] vitorcamachoo commented on #3116
Any new about webpack 5 integration?

[2021-05-07 09:15] Fibs7000 opened #5592 "When creating an Production Build, process.env.NODE_ENV is set to "development" in react"
When creating an Production Build, process.env.NODE_ENV is set to "development" in react

## Current Behavior
When creating an Production Build, process.env.NODE_ENV is set to "development" in react

## Expected Behavior
When creating an Production Build, process.env.NODE_ENV should be set to "production" in react

## Steps to Reproduce

React Version: @nrwl/react@11.5.1

run nx build [projectname

[2021-05-07 09:50] hakimio commented on #4262
@FrozenPandaz I am still getting `Cannot read property 'split' of undefined` when running `npx @nrwl/tao@latest migrate @angular/material`.

[2021-05-07 13:10] simondotm commented on #5065
Also, linking to a related issue #4157

[2021-05-07 14:17] darde commented on #1462
Also, remove all comments in your tsconfig.json file.

[2021-05-07 15:04] bekos commented on #5343
@DPros I'm not able to reproduce your issue 🤔 Can you check if the install has happened correctly, try to reinstall and see if that works then?

[2021-05-07 16:55] #5445 closed

[2021-05-07 17:00] kirjai commented on #5312
Should hopefully be fixed in the next reelase by #5574

[2021-05-07 17:00] #5312 closed

[2021-05-07 20:43] FrozenPandaz commented on #5492
We will be releasing this as part of `12.2.0` early next week!

Have a good weekend and stay tuned! :smile:

If you would really like to confirm this works.. you can try version `12.2.0-beta.0` which has the fix but we will be promoting it to stable when it is not Friday :wink:

[2021-05-08 01:53] puku0x commented on #5592
You should build your app with `--prod` option.
https://nx.dev/latest/react/cli/build#build

[code]

If you prefer `npm run`, you will need additional hyphens.
[code]

[2021-05-08 03:32] xiongemi commented on #1881
@nemonemi i tried with the custom webpack on a simple app: https://github.com/xiongemi/nx-react-counter-custom-webpack and it seems to work fine for me for nested components. when I update a nested component, it does not trigger page reload. In the console, it says HMR is updating the components.

[code]

This is what my custom webpack looks like:  https://github.com/xiongemi/nx-react-counter-cust

[2021-05-08 10:30] Himadu2000 opened #5605 "Can't run redux slice generator for next.js"
This is a follow up to discussion.

## Current Behavior
Redux slice generator currently only support CRA apps, currently running will produce following error,
`> Executing task: nx generate @nrwl/react:redux --name=next--project=app --no-interactive --dry-run <
Could not find apps\app\main.tsx during store configuration`

## Expected Behavior

[code]

Is this a regression? No.

## Steps to Reprodu

[2021-05-08 10:37] #5578 closed

[2021-05-08 10:49] pSnehanshu commented on #2530
In my repo, I have two apps, but running `nx run-many --target=serve --projects=backend-api,frontend-agent-dashboard` only runs one, here's the output:

[code]

The frontend isn't run.

[2021-05-09 00:27] Jordan-Hall commented on #5561
I've notice Storybook comes with enums. Don't we validate against the enum values? If so, I think it needs removing so 3rd party plugins can easily add storybook support

[2021-05-09 02:09] Himadu2000 opened #5607 "Can't use yarn pnp"
## Current Behavior
C:\Website2\test>nx run react-test:build

Starting type checking service...
Using 1 worker with 2048MB memory limit
Hash: 4a26e441abcd7f203f86
Built at: 05/09/2021 7:12:31 AM
Entrypoint main = runtime.js runtime.js.map vendor.js main.js main.js.map
Entrypoint polyfills = runtime.js runtime.js.map polyfills.js polyfills.js.map
Entrypoint styles = runtime.js runtime.js.map styles

[2021-05-09 06:28] KerickHowlett opened #5608 ""The current directory isn't part of an Nx workspace""
## Current Behavior
Whenever I attempt to use the Nx Console to inject an Angular app into the repo, every dry-run returns with an error that reads:
[code]
This isn't the case at all, as I checked over ten times to make sure I was in the right directory. I even went as far as to see if there was something up with my integrated terminal -- found nothing of the sort.

## Expected Behavior
I expect i

[2021-05-10 09:09] DPros commented on #5343
Hi, I have tried again and it works now, thanks! (Creating a nest app in an empty project used to fail as well, some bugs must have been fixed now)

[2021-05-10 09:09] #5343 closed

[2021-05-10 13:58] CWSites opened #5611 "Unable to run `yarn format:check` in CI Job"
## Current Behavior
When running `yarn format:check` in my CI Job I get the following error

[code]

## Expected Behavior
It started happening when I used my CI Job to create a file `CI_CHANGE_LOG.md` and commit it back to the master branch.

## Steps to Reproduce
This is my config for the CI Job

[code]

### Environment

[code]

[2021-05-10 14:49] danielsharvey commented on #2241
Any chance of re-visiting this?

It seems logical that a sub-command (inside run-commands) should be able to access standard parameters like “—prod” or “—configuration=production” without jumping through non-standard hoops.

Also: The “—configuration” already seems a special case, and is not included when “forwardAllArgs” is set to true.

[2021-05-10 15:43] luxaritas commented on #4741
Can this get re-opened? Still definitely needed, and I'm sad to see that the PR has been silent for a couple months.

[2021-05-10 17:23] JamesHenry opened #5616 "Cannot use wrapped schematic within generator if it uses tree.getDir() internally"
## Current Behavior

`tree.getDir` in a wrapped angular schematic does not properly visit files created within the Nx generator where it is used.

## Expected Behavior

The wrapped angular schematic can use `tree.getDir` to properly visit files created within the Nx generator where it is used.

## Steps to Reproduce

https://github.com/JamesHenry/nx-workspace-generator-get-dir-repro

[2021-05-10 18:52] owehmer commented on #5573
@electrofLy  I'm guessing you are using something like this in your `nx.json`?
![image](https://user-images.githubusercontent.com/45573843/117709583-65da0400-b1d1-11eb-9796-f51d25908299.png)

That means that every time one of these files gets changed you are telling NX to rebuild everything.

If you don't like this behavior you need to delete the `tsconfig.base.json` from this list.

[2021-05-10 20:10] jaqua opened #5618 "Migration failing for 'rule is not a function'"
I tried to migrate to 12.1.1, but the migration fails with this error:

[code]

[2021-05-10 22:58] ychaikin opened #5619 "`tsconfig.json` lists `./.storybook/tsconfig.json` twice when using `nx generate move ...` command"
## Current Behavior

When using Nx move on an Angular component that has a `.storybook` folder with it, the resultant `tsconfig.json` lists `tsconfig.json` from the `.storybook` folder twice. I.e.:
[code]
## Expected Behavior

To only list the storybook path once.

## Steps to Reproduce

Create an Angular component with a storybook. Move that component using the nx generate move command.

[2021-05-10 23:18] adityakmehta opened #5620 "Couldn't find any versions for "@babel/helper-compilation-targets" that matches "^7.13.16""
We have recently started getting this error with yarn 1.22.10:

Couldn't find any versions for "@babel/helper-compilation-targets" that matches "^7.13.16"
? Please choose a version of "@babel/helper-compilation-targets" from this list: (Use arrow keys)

  7.13.10
  7.13.8
  7.13.0
  7.12.17
  7.12.16
  7.12.13
  7.12.5
  7.12.1
  7.12.0
  7.10.4
  7.10.2
  7.10.1
  7.10.0
  7.9.6
  7.8.7
  7.8.6

[2021-05-11 00:32] #4871 closed

[2021-05-11 04:51] nzacca opened #5621 "enforce-module-boundaries erroring for alias paths"
## Current Behavior

After upgrading to nx `12.2.0`, linting fails for the `enforce-module-boundaries` rule due to aliased paths not satisfying a `relativePath` of the new `allowCircularSelfDependency` check.

## Expected Behavior

Allow `allowCircularSelfDependency` to be overridable in the `enforce-module-boundaries` rule or support alias paths by default. Receiving an error when attempting to o

[2021-05-11 06:30] maeri commented on #836
@shelooks16 would you mind sharing project structure ? thx a lot :)

[2021-05-11 07:39] edbzn opened #5622 "Support for Cypress 7 Component Testing"
## Description

Cypress 7 includes a brand new [component testing](https://docs.cypress.io/guides/component-testing/introduction) feature, which allows testing components in insolation without bootstrapping the whole application. It would be great to be able to run component tests using the @nrwl/cypress builder.

## Motivation

We, @jscutlery, are developing a library [cypress-mount](https://gith

[2021-05-11 09:34] shelooks16 commented on #836
@maeri Hi. Yeah, sure :)

At very basic extent, we have something like this (all 3 apps share types, dates, currency libs). We did not split functions app itself into smaller libs:
[code]

[code]

There is also a separate script that starts firebase emulators (if needed). Above solution uses the outdated way, here is what we do right now:
[code]

[2021-05-11 11:39] wiesnery opened #5625 "Missleading Error message"
I just ran into this issue of importing my own lib via an external reference. (`@project/lib` vs. local path './file.ts`)
This could be better expresses when altering the error message.
https://github.com/nrwl/nx/blob/4b73b7c1f73159355b7f5ca5c78dd473e7570fa0/packages/eslint-plugin-nx/src/rules/enforce-module-boundaries.ts#L85
Currently: "Only relative imports are allowed within the project. Absolu

[2021-05-11 13:43] tmclean15 opened #5626 "The name of a React build configuration seems to have an effect on it's build output, all else equal"
## Current Behavior
I added a "staging" build configuration to a React app, and when attempting to run the dist in the browser, I get an error:
![image](https://user-images.githubusercontent.com/41547485/117823019-087a9d00-b23b-11eb-9940-e2d2b4b4095f.png)

I do not get this error when I run the "production" build. In fact, even if the build configurations are identical, I get the error for "stagin

[2021-05-11 13:50] lucy-lucy commented on #2147
Do it!

[2021-05-11 14:36] tmclean15 commented on #5626
This may be fixed by https://github.com/nrwl/nx/pull/5522

[2021-05-11 15:22] BorisZubchenko opened #5627 "Tailwind's JIT mode wrong behavior due to the undefined NODE_ENV variable"
## Current Behavior

Within the NX Workspace + Next.js Application, [Tailwind's JIT](https://tailwindcss.com/docs/just-in-time-mode#enabling-jit-mode) mode:
* runs a one-off build while building

The thing is that [it's behavior](https://tailwindcss.com/docs/just-in-time-mode#watch-mode-and-one-off-builds) depends on the `NODE_ENV` variable which was fixed [recently](https://github.com/nrwl/nx/pul

[2021-05-11 15:45] JonasZ95 commented on #5370
So I did some more digging with the SpeedMeasurePlugin and It seems sass-loader is the main culprit for us:

[code]

Any ideas how to fix this? What was changed on the scss part on version 12?

[2021-05-11 20:28] RyanElfman commented on #1175
This worked for me!! I spent half a day trying to debug my application. Thank you!

[2021-05-12 04:31] xiongemi commented on #5056
### For gatsby plugin:
To make a gatsby plugin under lib to be discovered by gatsby app:
- in lib folder, add a package.json, also, this package.json needsto have a main value points to a .js file. you could create an empty js file
[code]

in your gatsby.config.js, in plugins, add `require.resolve(<path to your libfolder>)`, it should be discovered by gatsby:
[code]

### For Gatsby Theme:
- for th

[2021-05-12 09:23] naveennagar88 opened #5633 "Cannot find module '@nrwl/workspace/src/utils/name-utils'"
Hi Team

I have created an application in angular 10. When I try to create a library using "ng generate library". I am getting the following error:
An unhandled exception occurred: Cannot find module '@nrwl/workspace/src/utils/name-utils'
Require stack:
- D:\Users\naveen.nagar\git\Angular10\getting-started\node_modules\@nrwl\angular\src\utils\ast-utils.js
- D:\Users\naveen.nagar\git\Angular10\gett

[2021-05-12 10:28] mariusvirb commented on #5267
hey, there, encountering same issue, publishable libraries that reference non-publishable/buildable library, spews out 'rootDir' error

[2021-05-12 10:48] vitorcamachoo commented on #3929
Is there any documentation with an example how to deploy Nextjs application under NX workspace to Netlify?

[2021-05-12 11:09] simondotm commented on #836
Hi folks, I too was looking for a Firebase solution for my own use with Nx, and was following this thread with interest, so I decided to have a bash at a custom plugin, and after a couple of weeks figuring out how plugins (and Nx) work , I have published a first version npm. If anyone wants to give it a try out I'd be glad to hear if its useful to others (I'm currently using it in my own monorepo)

[2021-05-12 14:14] erkobridee commented on #5492
thank you @FrozenPandaz and @kirjai now the project is 100% working 🍾

[[GitHub] erkobridee/nx-nextjs](https://github.com/erkobridee/nx-nextjs)

[2021-05-12 15:08] Jordan-Hall commented on #4627
I was taking a look at this yesterday.  To fix this, NX needs to upgrade the base app to Webpack 5, which will cause some issues then remove https://github.com/nrwl/nx/blob/master/packages/web/src/utils/third-party/cli-files/plugins/named-chunks-plugin.ts this file then inside the common.ts file (https://github.com/nrwl/nx/blob/master/packages/web/src/utils/third-party/cli-files/models/webpack-con

[2021-05-12 15:17] smasala commented on #4627
@Jordan-Hall correct, they are currently incompatible. The only way round it to patch it or "trick" it by giving`@nrwl/web` it's own local webpack version (i.e 4).

You can either do it as stated [above(https://github.com/nrwl/nx/issues/4627#issuecomment-825797960) or you could prob do it with yarn and `Selective dependency resolutions`. See: [https://classic.yarnpkg.com/en/docs/selective-version-

[2021-05-12 15:22] Jordan-Hall commented on #4627
Are they a reason we cant upgrade the whole of NX to Webpack 5? I don't mind carrying on working on it due to a requirement for a client.

[2021-05-12 15:27] smasala commented on #4627
It's on the [roadmap](https://github.com/nrwl/nx/discussions/5475) - there are also quite a few inconsistencies with the storybook plugin too

[2021-05-12 15:52] Brian-McBride opened #5639 "ensureNxProject doesn't link together sub dependencies from the same (self) Nx project."
## Current Behavior
In a plugin mono repo, I have a published package `@anatine/esbuild-decorators` and then a second package `@anatine/esbuildnx` that requires it.

When running the e2e tests utilizing the devkit tools `ensureNxProject` will result in the `@anatine/esbuild-decorators` not being found.

## Expected Behavior
The `ensureNxProject` should properly link up all dependences within the m

[2021-05-12 16:14] puku0x commented on #5621
This will be solved by https://github.com/nrwl/nx/pull/5613 in next release.

[2021-05-12 17:16] puku0x commented on #5530
Solved via #5630

[2021-05-12 17:16] #5530 closed

[2021-05-12 17:24] puku0x commented on #5592
Good news. #5630 has been merged and you will be able to build your application in production mode by default by setting `defaultConfiguration` to `production`.

[2021-05-12 20:53] CWSites commented on #5156
@alirezamirian I'm not seeing any `babelConfig` fields on the file you linked?

[2021-05-12 22:09] alirezamirian commented on #5156
Yes, it seems it's already removed here:
https://github.com/nrwl/nx/commit/c84bbb3c93fed7d6fa8853583b3e2c55a3b3c76a#diff-6672620698a23cea33de9297cc99269efb421f6dfeaf8ff7f7176aaccc6c6487

[2021-05-12 22:09] #5156 closed

[2021-05-12 23:40] cristianPerez commented on #3929
## Waiting for CI/CD integration.

I had the same, question, I really love the structure of NX, and i think is a impressive tool, but I'm trying to include three different front-end projects, which I am don't the deploys through circleci, directly to S3, using the feature static sites from AWS, the three front-end projects are working with similar components and look and feel, all projects are rea

[2021-05-13 00:19] #5269 closed

[2021-05-13 01:04] #2735 closed

[2021-05-13 01:05] #5228 closed

[2021-05-13 09:32] DaSchTour opened #5648 "nx migrate @angular/core doesn't update all packages"
## Current Behavior
running `nx migrate @angular/core`only updates package.json for @angular/core and not for all other @angular packages
## Expected Behavior
The behavior should be the same as when calling ng update @angular/core

### Environment

  Node : 14.16.0
  OS   : darwin x64
  npm  : 6.14.11

  nx : Not Found
  @nrwl/angular : 12.2.0
  @nrwl/cli : 12.2.0
  @nrwl/cypress : 12.2.0
  @nrwl/

[2021-05-13 09:50] intellix commented on #5648
**Before:**
[code]

**After:**
[code]

[2021-05-13 11:19] nemonemi commented on #1881
Actually, I found what the problem was, and it was having multiple named exports in a component, which is a [known behavior limit ](https://github.com/pmmmwh/react-refresh-webpack-plugin/issues/249) of the HMR library.

[2021-05-13 12:18] leosvelperez commented on #5633
@naveennagar88 thanks for reporting this!

Unfortunately, I can't reproduce the issue. I tried to reproduce it using Nx 10.4.15, though there's no clear indication on the issue regarding the specific version being used.

To help us address this issue, could you please provide the steps to reproduce it and share the results of the execution of `nx report`? Or better yet, could you share a repro rep

[2021-05-13 12:19] rexebin commented on #1881
I can confirm following the configuration showing at [https://github.com/xiongemi/nx-react-counter-custom-webpack](https://github.com/xiongemi/nx-react-counter-custom-webpack), I am able to get the HMR working in my Nx React Typescript project.

Nice console logs clearly showing the update progress like below:

I need to install three packages to get it working:
[code]

[2021-05-13 12:20] rexebin commented on #1881
Good to know, worth it to keep one export per file.

[2021-05-13 12:38] nemonemi commented on #1881
@vsavkin
Please add this as a default for React projects!
It is hard to imagine anyone who doesn't want to have this improvement to the developer experience.

[2021-05-13 13:08] Nightbr commented on #5512
Hey same behavior in my react app for `-c beta` (to map branches). And it has jsxDEV in esm modules.
Could be great to have this fix for React Apps! thanks

[2021-05-13 15:57] crates commented on #3116
@firxworx / @vitorcamachoo / @agoncharuks / @georgewilde / @elenasch / @vanuj:

Webpack 5 is on the Nx roadmap, slated for release with version 13 in October of this year.

[2021-05-13 16:13] puku0x commented on #5323
#5522 is a fix for this issue. @jaysoo could you take a look the PR because it seems many React users are stuck in v11.

[2021-05-13 20:10] yharaskrik opened #5655 "Running migration update-angular-config-v12 results in Cannot read property 'startsWith' of undefined"
## Current Behavior

Running migration `update-angular-config-v12` results in `Cannot read property 'startsWith' of undefined`

## Expected Behavior

migration succeeds

## Steps to Reproduce

`yarn nx migrate latest`
`yarn`
`yarn nx migrate --run-migrations`

This issue may not be prioritized if details are not provided to help us reproduce the issue.

### Failure Logs

[code]

### Environment

[

[2021-05-13 20:12] workcomped commented on #5118
Another vote here to see this improved.

For the time being, I went a crude route and wrote a Node script to run a proxy server that handles this situation and consumes the standard Angular proxy config. An extra step but gives us incremental serve without this issue.

[2021-05-13 20:15] GeorgeKnap commented on #5655
Mine does the same after running `Running migration migration-v12-activated-route-snapshot-fragment`

[2021-05-13 20:16] yharaskrik commented on #5655
As you submitted that comment that migration is running for me! Ill report back.

[2021-05-13 20:20] yharaskrik commented on #5655
@GeorgeKnap it looks like yours happened during `Running migration update-jest-preset-angular-8-4-0` not `migration-v12-activated-route-snapshot-fragment`

[2021-05-13 20:21] GeorgeKnap commented on #5655
@yharaskrik I guess yes, on router snapshot fragment it hangs a long time and then fails with the log above.

[2021-05-13 20:22] yharaskrik commented on #5655
That is probably cause the snapshot one needs to traverse your whole repo to find all the places it needs to update then the next two are fast and the jest preset one fails fast.

[2021-05-13 20:38] dean-g commented on #5655
Got the same issue. any luck. please advise
![image](https://user-images.githubusercontent.com/12157452/118184661-3c072400-b401-11eb-985d-d392daa3cba8.png)

[2021-05-13 20:39] dean-g commented on #5655
got into the same issue

Running migration update-angular-config-v12
Cannot read property 'startsWith' of undefined

[2021-05-13 20:45] yharaskrik commented on #5655
Mine completed, the only one i had an issue with was the original one reported the same as @dean-g

[2021-05-13 20:48] dean-g commented on #5655
@yharaskrik same here. looks like that is a very important step.
{
      "version": "12.0.0-next.0",
      "factory": "./update-12/update-angular-config",
      "description": "Remove deprecated options from 'angular.json' that are no longer present in v12.",
      "package": "@angular/cli",
      "name": "update-angular-config-v12"
    },

[2021-05-13 20:49] yharaskrik commented on #5655
I am running builds now and will keep track of the things I run into that i needed to change.

[2021-05-13 20:50] dean-g commented on #5655
@brandonroberts @isaacplmann Can you please help me with this?

[2021-05-13 20:53] ImCesar opened #5656 "Generator string input only returns one word"
## Current Behavior
When I set a property to have the type string it will only take multiple words in the input if I wrap it in quotes. If I use the CLI to add the attribute it only works with x-input and wrapping with quotes. You can not do "--name="multiple words" or it will just return "multiple"

## Expected Behavior
I expect the NX console and CLI to pass the whole string to my generator for

[2021-05-13 20:58] yharaskrik commented on #5655
Ensure `aot` is either set to `true` or not set to `false` if `buildOptimizer` is true (default true I believe)

[2021-05-13 20:59] dean-g commented on #5655
both my aot and buildOptimizer is set to true

[2021-05-13 21:01] yharaskrik commented on #5655
Sorry that is just one of the things i think that migration takes care of that didnt for me since it failed.

[2021-05-13 21:18] dean-g commented on #5655
my storybook is not working!. and the app became very slow. stuck with 'Generating browser application bundles (phase: building)..."

[2021-05-13 21:27] dean-g commented on #5655
storybook compiled successfully but not showing up the URL,

![image](https://user-images.githubusercontent.com/12157452/118189779-d79b9300-b407-11eb-8d37-aab71c9cbfbc.png)

[2021-05-13 21:27] brandonroberts commented on #5655
@dean-g we're monitoring and looking into issues with migrations. If you can reproduce it outside your project, please file a bug.

[2021-05-13 21:34] dean-g commented on #5655
@brandonroberts my app is not starting. it's got stuck with the following line,

![image](https://user-images.githubusercontent.com/12157452/118190502-cf902300-b408-11eb-9af9-38f85b5639d6.png)

all those happening in my project not outside. I can't share those.

[2021-05-13 21:39] brandonroberts commented on #5655
Are you using the @angular-devkit/build-angular for building/serving or a custom builder?

[2021-05-13 21:43] dean-g commented on #5655
for build:
"builder": "@angular-builders/custom-webpack:browser"
for serve:
"builder": "ngx-build-plus:dev-server",

[2021-05-13 21:52] dean-g commented on #5655
also getting wired warning:
"BuildCustomWebpackBrowserSchema" schema is using the keyword "id" which its support is deprecated. Use "$id" for schema ID.

[2021-05-13 22:00] dean-g commented on #5655
also, getting an error for 'storybook-addon-designs' plugin. I gotta comment that to avoid an error. like I mentioned, the build got succeeded but never showing up the URL for storybook to render

[2021-05-13 22:11] BenLune opened #5657 "Running storybook failed : Could not get angular cli webpack config"
## Current Behavior
I want to generate the Storybook Version of my app. It worked fine, it doesn't work anymore.

## Expected Behavior
Successful Storybook generation

## Steps to Reproduce
I have this when running this command : nx run my-app:storybook
Sorry it's not very detailed, I hope the error I have will be more meaningful for you than it is for me :-)

### Failure Logs
ERR! => Could not ge

[2021-05-13 22:55] BenLune commented on #5657
I updated storybook with this command :
`npx sb upgrade --prerelease`
I removed node_modules, and yarn, I still have the problem.

[2021-05-14 03:57] Splaktar opened #5659 "nx g convert-tslint-to-eslint fails if tslint.json is in the workspace root"
## Current Behavior

`nx g convert-tslint-to-eslint` fails and appears to be unusable in my Nx project.

We also can't just run ` ng g @angular-eslint/schematics:convert-tslint-to-eslint` because that fails with:
[code]

## Expected Behavior

The tool would recognize that the `tslint.json` file is located in the workspace root.

## Steps to Reproduce

1. Convert an Angular CLI v10 project with tsl

[2021-05-14 05:31] GeorgeKnap commented on #5655
When the migration fails whot should I do now?
Can I just undo all the changes made by the tool and try to run the upgrade later?
 Or is it going to cause any inconsistent state and problems later?

[2021-05-14 06:09] Kunjinkao0 commented on #3610
Hi @danielfyhr, this page had gone https://nx.dev/angular/plugins/node/builders/build#optimization, is there any best practice of using env variables for the workspace? I just found environment in React but no Angular.

[2021-05-14 07:22] simonpeters opened #5660 "Deploying next.js app to vercel or netlify throws error"
## Current Behavior
Unable to deploy a fresh nx/next. js repo to vercel or netlify

## Expected Behavior
Be able to run the build command as described in the docs

## Steps to Reproduce
1. create new nx repo with the default next.js app
2. deploy to vercel as decribed  [here](https://nx.dev/latest/react/guides/nextjs#deploying-to-vercel)
3. have build fail

### Failure Logs
## Vercel

09:15:59.771

[2021-05-14 07:24] simonpeters commented on #5660
<img width="644" alt="Screenshot 2021-05-14 at 09 23 36" src="https://user-images.githubusercontent.com/714733/118236226-1aa44780-b496-11eb-98f3-ccd4d81872c6.png">

<img width="916" alt="Screenshot 2021-05-14 at 09 24 29" src="https://user-images.githubusercontent.com/714733/118236314-34458f00-b496-11eb-9384-ad7ae437e319.png">

Here also are the Vercel configuration and netlify configuration

[2021-05-14 08:06] juristr commented on #5575
Can you post the content of the `tsconfig.base.json` file here? Thanks

[2021-05-14 08:31] dasco144 commented on #2482
Would be great if we could move our dotnet/angular projects into a single nx repo

[2021-05-14 09:14] kmaraz opened #5661 "Running `yarn nx migrate latest` when migrating from `v12.2.0` to `v12.3.1`"
## Current Behavior

I run command `yarn nx migrate latest` and it fails with message:
[code]

## Expected Behavior

Working migrations.

### Environment
I have tested it with LTS Node and with latest Node, previously on those version everything worked as expected.
yarn is in version 1.22.10

Everything stayed the same from the last migration with this command.

Thank you.

[2021-05-14 09:30] leosvelperez commented on #5655
@yharaskrik, @dean-g I've been trying to reproduce this issue and so far, I've only been able to reproduce it when there is a project with a target without an `executor|builder` specified in the workspace configuration.

Could you please make sure all your targets have a `builder|executor` property?

[2021-05-14 09:37] saeidzebardast commented on #5661
Same problem on macOS.

nx 12.2.0
node 15.3.0
yarn 1.22.5

[2021-05-14 09:42] leosvelperez commented on #5655
Angular 12 now needs Webpack 5. Those custom builders are still on Webpack 4 and don't support Webpack 5. You'd need to wait for them to support it. In the repo for the `@angular-builders/custom-webpack` there is this issue you can follow https://github.com/just-jeb/angular-builders/issues/972.

In Angular 12 there is a breaking change where schemas are validated again the [JSON Schema Draft 07](h

[2021-05-14 09:52] leosvelperez commented on #5618
@jaqua thanks for reporting this!

We need some more details so we can properly troubleshoot this issue. Could you please tell me from which version were you trying to migrate to 12.1.1? Also, could you please run `nx report` and share the results here?

[2021-05-14 09:53] leosvelperez commented on #5661
Thanks for reporting this!

Could you please check if it's the same issue as https://github.com/nrwl/nx/issues/5655?

[2021-05-14 09:55] kmaraz commented on #5661
@leosvelperez it is not the same issue. For me even running `yarn nx migrate` ends with this error. So I am not even after the first step. In the issue #5655 it looks like the author of the issue was successful in the first few steps.

[2021-05-14 10:14] leosvelperez commented on #5661
@kmaraz I see. From the error you shared, it seems to be failing on an installation step we run to grab the latest version of the cli to run the migration. Unfortunately, I don't have enough info to know why that happens, I can't reproduce it myself. Would you be able to create a repro repo and share the results of running `yarn nx report`?

[2021-05-14 10:23] kmaraz commented on #5661
@leosvelperez
[code]

[2021-05-14 10:52] marlomgirardi commented on #3051
Hey! Just have one suggestion regarding this topic.

The only scenario that is not contemplated in [here](https://nx.dev/latest/react/tutorial/10-computation-caching#-with-deps), is when using `--with-deps`.

Maybe instead of using `--outputPath=.` we just update the options inside `workspace.json` that way it will work with or without dependencies.

It might be another issue but the behaviour of

[2021-05-14 11:03] leosvelperez commented on #5661
Thanks for sharing that. I was able to reproduce it and I found the issue to be that [Angular requires an active or maintenance LTS version of Node.js](https://angular.io/guide/setup-local#prerequisites). Angular packages effectively require Node version to be `^12.14.1 || ^14.0.0`, so the installation fails due to an incompatible Node engine since you have 15.12.0.

[2021-05-14 11:12] leosvelperez commented on #5661
Closing as this is not an Nx issue. If you still think it's, please feel free to reopen this issue.

[2021-05-14 11:12] #5661 closed

[2021-05-14 11:43] ericbolikowski commented on #2530
@pSnehanshu I just came across the same issue. I looked closer at the [run-many command and found the --maxParallel](https://nx.dev/latest/angular/cli/run-many#maxparallel) option. It defaults to 3, which made my fourth app not run. I was able to run as many apps as I like by setting this to a high number.

Hope this might solve your issue, or anyone else experiencing something similar.

[2021-05-14 11:52] Nightbr commented on #5323
Hey same issue here, impossible to build my React app with Nx 12. Try all workaround, export `NODE_ENV=production` or add` --prod -c beta` but not working.
Could be great if we could have a fix for this? Ready to help tests & debug it if needed!

[2021-05-14 12:26] pSnehanshu commented on #2530
@ericbolikowski As you can see, I have only two apps. If the default is 3, then it should have run both.

[2021-05-14 12:38] wizardnet972 opened #5664 "e2e error "Required property 'browserTarget' is missing" in v12.3.1"
## Current Behavior

Got an error: `Required property 'browserTarget' is missing`.

## Expected Behavior

e2e should works.

## Steps to Reproduce

[code]
then run the e2e test:
[code]

### Failure Logs

Required property 'browserTarget' is missing

———————————————————————————————————————————————

  Failed tasks:

  - ng-app-e2e:e2e
  -
### Environment

nx version: 12.3.1
windows 10

[2021-05-14 12:47] gregoryforel commented on #5660
I think the **Publish directory** in Netlify should be `dist/apps/<your app name>`

[2021-05-14 12:49] Bielik20 commented on #5577
This is update blocker for us. Could we get an estimate when and if this will be addressed?

[2021-05-14 12:51] #5323 closed

[2021-05-14 12:51] #5512 closed

[2021-05-14 12:51] #5626 closed

[2021-05-14 13:29] KingDarBoja commented on #836
I did a small try with that plugin locally in some experimental repo and seems like that's what everyone been looking for.

Followed the steps and got into the build part and the output api lib does seems to retain the structure of automatic function exports, although I haven't tested sharing libs between this firebase app and other libs.

Looking for others to give it a try, awesome work @simondo

[2021-05-14 14:06] #5250 closed

[2021-05-14 14:42] bekos commented on #5263
@0xR can you please provide a repo because I wasn't able to reproduce it on latest v12.3.1?

[2021-05-14 14:51] bekos commented on #4939
Closing as it is not actionable atm, imo the best approach in these cases is to generate (even manually) the appropriate `package.json`.

[2021-05-14 14:51] #4939 closed

[2021-05-14 15:14] #5056 closed

[2021-05-14 15:16] xiongemi commented on #4940
fixed in pr https://github.com/nrwl/nx/commit/f4ea0df which is merged to release 12.3.0

[2021-05-14 15:57] 0xR commented on #5263
Will do!

[2021-05-14 16:00] puku0x commented on #3610
https://github.com/nrwl/nx/pull/5522 might solve this too?

[2021-05-14 16:45] #5664 closed

[2021-05-14 18:14] hbj opened #5669 "Module based and non-module based CSS preprocessors should be configured with the same options"
## Description

When working with React, module-based (e.g. `.module.less`) and non-module based (e.g. `.less`) CSS preprocessors use different options. If I take the example of LESS, we have the following differences:

* the build configuration option `stylePreprocessorOptions` only works with `.less` files
* to import files from `node_modules` we have to use the `~package/path/to/file` format in

[2021-05-14 18:45] edbzn opened #5671 "eslint tries to resolve conf from project node_modules using yarn workspaces"
## Current Behavior

I'm using yarn workspaces to manage projects dependencies, so I have a root node_modules, and per project node_modules because it's multiple package that are deployed to npm. After upgrading to v12, eslint tries to resolve configurations inside projects node_modules, not the root one. It makes the linting task hanging for a long moment and finaly leads to an error:

[code]

To

[2021-05-14 18:50] anuj9196 commented on #4381
I'm also getting such error on running `ng build` after upgrading to Angular 12

[code]

Here is the `angular.json` file

[code]

[2021-05-14 19:06] tommck commented on #3203
Honestly, I think we should have a built-in "@nrwl/angular:style-library" schematic or something like that.  Having to guess and try various things is disappointing

[2021-05-14 19:55] timdeschryver commented on #5618
I also bumped against this issue (from Angular 11 and NX 12 to Angular 12 and NX 12.3).
It seems like we should use the [nx migrate](https://nx.dev/latest/react/core-concepts/updating-nx#how-to-migrate) command instead of `ng update`?

[2021-05-14 20:37] bryanforbes opened #5672 "`nx migrate latest` fails on yarn 2"
## Current Behavior
When running `YARN_NODE_LINKER="node-modules" yarn nx migrate latest` in a yarn 2 nx workspace, the process ends with `Command failed: yarn add @nrwl/workspace@latest`.

## Expected Behavior
The workspace should be migrated to the latest version of nx

## Steps to Reproduce
1. Run `npm install -g yarn`
1. Clone https://github.com/bryanforbes/nx-migrate-problem
2. Run `yarn` in

[2021-05-14 21:07] juristr commented on #5657
This is an issue with the current version of Storybook: https://github.com/storybookjs/storybook/issues/14260

In your `angular.json` config change the `optimization: true` to

[code]

That should solve it :)

[2021-05-14 21:07] #5657 closed

[2021-05-14 21:09] bryanforbes commented on #5385
Instead of using a global `.yarnrc.yml`, you can use `YARN_NODE_LINKER="node-modules" nx migrate`

[2021-05-14 21:14] FrozenPandaz commented on #5561
I changed the title to be specific to composing storybooks as we already support Storybook 6.2.

Are there any other Storybook features that you think Nx should provide better support for?

[2021-05-14 21:19] FrozenPandaz commented on #5671
Thank you for reporting the issue.

Can you please provide a repo that exhibits the issue to help us reproduce the issue?

[2021-05-14 21:43] edbzn commented on #5671
Hi, the repo is open-source, the problem was introduced by the migration commit [here](https://github.com/jscutlery/test-utils/commit/6d591c929ac6387017e18cc5aa5a84c0b242c523), the [logs](https://github.com/jscutlery/test-utils/runs/2585575256) from the job that failed, the [commit](https://github.com/jscutlery/test-utils/commit/6096573477eee48b5873d15970764a99c65204b4) that resolved the issue, th

[2021-05-14 22:06] FrozenPandaz commented on #5627
Seems like we can use a similar fix in the `serve.impl.ts` file: https://github.com/nrwl/nx/blob/1c714de84487fd4a40f0ba065ac2f3b8e4425946/packages/next/src/executors/server/server.impl.ts#L37

Would you like to contribute a fix?

[2021-05-14 22:13] FrozenPandaz commented on #5625
Would you like to contribute a fix?

What about this for the message?

[code]

[2021-05-14 22:27] FrozenPandaz commented on #5537
Are you working on a React project of some sort?

You can use the `webpackConfig` option to customize the webpack configuration.

You can see something similar being done here:
https://github.com/nrwl/nx/issues/3175#issuecomment-644296842

[2021-05-14 22:40] FrozenPandaz commented on #5572
That's a good idea!

Would you like to try contributing this feature?

[2021-05-14 22:43] FrozenPandaz commented on #5573
@owehmer is right! and in fact, this is now the default behavior in `v12` when you create a new workspace. Could you please retry with the latest version?

[2021-05-14 22:47] FrozenPandaz commented on #5577
@kirjai could you please add a flag similar to https://github.com/nrwl/nx/blob/1c714de84487fd4a40f0ba065ac2f3b8e4425946/packages/web/src/builders/build/build.impl.ts#L130

[2021-05-14 22:54] FrozenPandaz commented on #5581
Can you take a snapshot if you run `node --inspect-brk ./node_modules/@nrwl/cli/bin/nx test products` in the [nx-examples repo](https://github.com/nrwl/nx-examples)?

I was able to take a snapshot.

![image](https://user-images.githubusercontent.com/8104246/118339104-dd67a600-b4e5-11eb-8df7-b1eb7da24f49.png)

[2021-05-15 00:07] AlexAegis commented on #5537
@FrozenPandaz nope, it's an Angular project and the `@angular-devkit/build-angular:browser` builder doesn't accept a custom webpackConfig.

[code]

I can though use a different builder:

[code]

[code]

webpack.config.js

[code]

Anyway, what do you think about gzipping built apps by default? I think it's a common enough thing to do, or at least it should be.

[2021-05-15 00:14] FrozenPandaz commented on #5611
With `git fetch --no-tags --prune --depth=5 origin master` you are only getting `origin/master`, not `master` which is the default base ref.

So if you do `yarn format:check --base origin/master` it should work.

[2021-05-15 00:17] FrozenPandaz commented on #5620
I see that version was published 25 days ago:

https://www.npmjs.com/package/@babel/helper-compilation-targets

Is it possible that you are using a private registry that is still cached?

[2021-05-15 00:19] FrozenPandaz commented on #5621
@meeroslav is this issue resolved by https://github.com/nrwl/nx/pull/5613?

[2021-05-15 05:42] meeroslav commented on #5621
Yes, it's solved by #5613 alread.

[2021-05-15 05:53] rolfback commented on #4381
I also get this error after upgrading to Angular 12, when building in production mode.
✖ Index html generation failed.
undefined:32:367177: property missing ':'

[2021-05-15 06:59] hadrien-toma commented on #5469
Thanks for your comments :+1:.

I changed the command a little bit in order to be able to mount the produced log file:

- New command to reproduce:

[code]

- Error in `stdout`:

[code]

- Content of `$(pwd)/tmp-nx-text/tmp-19-eLGOxXgKqQF6/error.log`:

[code]

So I added `--skip-git=true` at the end of the command like:

[code]

And the workspace creation ended in a success, so I close the issue.

[2021-05-15 06:59] #5469 closed

[2021-05-15 07:24] jaqua commented on #5618
I don't have any angular project in my workspace.

This is my nx report:

[code]

[2021-05-15 07:44] Jordan-Hall commented on #5561
@FrozenPandaz  I was thinking maybe just to support them all in term of generation storybook configuration such as Vue and svelte and then let the 3rd party extension write the story generation.

[2021-05-15 08:33] anuj9196 commented on #4381
@rolfback where you able to solve this?

I have created a bug issue in the angular repository https://github.com/angular/angular/issues/42106

[2021-05-15 09:33] gkamperis commented on #3997
bump

[2021-05-15 09:58] JamesHenry commented on #5660
Confirmed, even locally running with `--outputPath=.` no longer works at all.

Bizarrely it doesn't seem to be down to the nextjs executor...

If I patch `build.impl.js` to noop and always resolve successfully:

[code]

It still ends with a failure.

Any nested value within the workspace for `--outputPath`, e.g. `--outputPath=./tmp` does not have the same issue, but is not applicable as a solution

[2021-05-15 10:54] wickstargazer commented on #2670
@bmcilw1 @Bielik20 Guys, the 0.5.3 is working well with deploy, nx cache and trimming package.json for each project.

I am currently undergoing the port and removing all imports for workspace only using devkit.
it will enable the plugin to work with the newest version and easy to update.

Would appreciate any inputs on this.

[2021-05-15 10:54] JamesHenry commented on #5660
I dug into this and have confirmed that the issue lies somewhere in the nx-cloud tasks runner, so I have updated the scope and assigned to Victor as I cannot investigate any further.

@simonpeters I have come up with a workaround to unblock deployments until this is resolved:

Go to your `nx.json` and add a new tasks runner entry within `tasksRunnerOptions` under your existing one (which will be c

[2021-05-15 10:58] Bielik20 commented on #2670
Thank you for the update, I might look into that 🙇
For now we are tied with the current implementation though.

[2021-05-15 14:04] simonpeters commented on #5660
@JamesHenry that works! Thanks so much for figuring out the workaround.

Cheers

[2021-05-15 14:33] JamesHenry commented on #5659
@Splaktar Nx generates a project-level _and_ a root level tslint.json, so did you remove the project-level one at some point?

[2021-05-15 14:35] JamesHenry commented on #5659
You will want to align your workspace with what Nx does because this will also be the case for ESLint - you will have a project-level _and_ root level eslint config.

So the solution here is really to add back your `apps/my-proj/tslint.json` file, even if it is as simple as just an `"extends"` of the root config

[2021-05-15 14:47] inexuscore commented on #4381
This is terrible, the log files aren't helpful at all. Upgraded to Angular 12, everything works fine (tooling, build, etc.) except the Index HTML file generation fails.

[2021-05-15 15:25] anuj9196 commented on #4381
https://github.com/angular/angular-cli/issues/20804#issuecomment-841623644

Check this for temporary solution

[2021-05-15 15:45] inexuscore commented on #4381
@anuj9196 Thank you! LMAO I can't believe how many hours I wasted on this, wow! apparently, inline styles and data URIs break Angular 12's production build.

[2021-05-15 16:42] nemonemi commented on #2386
@FrozenPandaz @bekos what's the current status of Yarn v2 PnP support?

[2021-05-15 16:50] nemonemi opened #5676 "@nrwl/devkit tried to access rxjs, but it isn't declared in its dependencies"
## Description

Although I am trying to use Yarn 2 with the up-to-date nrwl project, which is not fully supported, I think this is still something that can and should be solved.

[code]
## Motivation

It would allow for easier Yarn 2 integration.

[2021-05-15 17:15] Aboisier commented on #5575
Adding `skipLibCheck` and `skipDefaultLibCheck` indeed did the trick. Thanks!

[code]

[2021-05-15 17:27] binary64 opened #5677 "@nrwl/web: document-register-element has been depricated"
@nrwl/web installs document-register-element, but that has been depricated. The author suggests using @ungap/custom-elements instead.

[2021-05-15 17:28] #5677 closed

[2021-05-15 17:29] binary64 commented on #5677
Sorry, I duplicated https://github.com/nrwl/nx/issues/5302

[2021-05-15 18:01] danielfyhr commented on #3610
@Kunjinkao0

That link should be here now: https://nx.dev/latest/react/web/build#optimization (I was looking at the node builder the first time I posted, but the web builder is the correct one).

I don't know about any best practices for env variables in the workspace, but https://github.com/nrwl/nx/pull/5522 looks interesting for solving the original issue.

[2021-05-15 18:23] cyrus-za commented on #5660
Thanks @JamesHenry that works for me too!

Question: Only 1 of my 4 next apps are running into this issue (after upgrading from 12.1 to 12.3). Why would this be? Also, why is there no error message? It literally finishes the nextjs build and then nx job fails without an error.

[2021-05-15 21:26] yjaaidi opened #5678 "@nrwl/devkit should expose readWorkspace"
## Description

Some generators could be "Angular CLI schematics" compatible but they are not, because they directly or indirectly call functions like `readProjectConfiguration` that make `nx.json` presence mandatory: https://github.com/nrwl/nx/blob/4a5345363b74da515519bec31f262401d4134a48/packages/devkit/src/generators/project-configuration.ts#L155-L173

It would be nice to make the API more expl

[2021-05-15 22:20] Splaktar commented on #5659
I don't think so, but this project wasn't generated by Nx. It was just migrated to Nx.

[2021-05-15 22:21] Splaktar commented on #5659
OK, thank you for confirming that approach. I'll do that.

[2021-05-15 23:09] Splaktar commented on #5659
Hrm, after fixing 1,537 errors from the migration (mostly removing new rules) now I'm down to 2 left...
[code]
Unfortunately, Google is not helping me with this one at all.

[2021-05-16 00:11] Splaktar commented on #5659
OK, I solved that by
[code]

[2021-05-16 00:11] #5659 closed

[2021-05-16 01:54] CWSites commented on #5611
I'll give it a shot, however remote `origin/master` is where the file lives. It's generated through a GitHub Action and posts the file back to the `master` branch on the repo.

[2021-05-16 06:51] tinesoft opened #5680 "[Feature Request] Allow Tree to write file with permissions"
## Description

Similar to the feature request here https://github.com/angular/angular-cli/issues/11781, it would be nice if the Nrwl DevKit's `Tree.write()|overwrite()` could allow setting the permissions on the file being written.

## Motivation

Sometimes, you need to create a file with  specific permissions, like for example, being *executable*. This is currently not possible with the Tree API

[2021-05-16 13:11] JamesHenry commented on #5659
@Splaktar This again comes down to an incomplete migration - Nx generates a serious of tsconfigs (more than the Angular CLI) that make that setting unnecessary. It is not recommended to have `createDefaultProgram` enabled because it can mask configuration issues.

There could be other subtle issues with your migration you haven't encountered yet across different tooling, and what I recommend to an

[2021-05-16 13:29] ashley-hunter opened #5681 "`wrapAngularDevkitSchematic` fails with Angular 12 component schematic"
## Current Behavior
We have a workspace generator that automates the creation of an Angular Component using `wrapAngularDevkitSchematic`, e.g.:

[code]

However as of Angular 12 this now fails with the following issue:

[code]

It appears that the ngcli-adapter is adding a property: `"_": []" to the schematics options:

https://github.com/nrwl/nx/blob/ff691343737d4b470aef89723c597769e7299799/packa

[2021-05-16 18:17] uspasojevic96 opened #5682 "Angular fails to build"
## Current Behavior
Fresh Angular app does not build with `nx build app-name`

## Expected Behavior
Fresh Angular app should be able to build when it's been freshly generated

## Steps to Reproduce
- Create fresh workspace (empty)
- Add NestJS support
- Generate NestJS app
- Add Angular support
- Generate Angular app
- run `nx build` for the generated Angular app

### Failure Logs
[code]

### Envi

[2021-05-16 20:10] AshMcConnell opened #5683 "Crashes when doing an nx serve <app> after creating a fresh Angular + Nest project"
## Current Behavior
Crashes when doing an nx serve <app> after creating a fresh Angular + Nest project.  It does work correctly with an angular only project.

## Expected Behavior
Should compile and serve correctly

## Steps to Reproduce
![image](https://user-images.githubusercontent.com/497941/118411067-bbf3ef00-b68a-11eb-9bf8-5e9ccd4ffbe6.png)

### Failure Logs
`> nx run race-timing:serve:develo

[2021-05-16 21:33] uspasojevic96 commented on #5683
This one is same as #5682

[2021-05-17 02:42] bh-hsi commented on #5682
Same issue here - very discouraging.

[code]

[2021-05-17 05:03] jaqua commented on #5618
Even installing `@nrwl/angular`, the error persists.

The same error occurs also for this migration:

[code]

[2021-05-17 06:37] jadengis commented on #5682
I'm seeing this on a new Angular 12 + Nest project as well. Kind of aggravating. I'd love to know what is the difference here because `ng serve` works on a new Angular 12 CLI project no problem.

[2021-05-17 07:07] maxime1992 commented on #3501
Up

[2021-05-17 09:15] #5621 closed

[2021-05-17 09:22] meeroslav commented on #5493
@FrozenPandaz I will look into it.

[2021-05-17 10:08] mehrad-rafigh commented on #5382
Sry guys, I will not do the update, since our company and my team are migrating to angular workspaces

[2021-05-17 10:20] Fibs7000 commented on #5592
What exactly determines the Production build? Is it the optimize flag?

Cause without the optimize flag but the prod config env is "development"...

[2021-05-17 10:43] meeroslav commented on #5671
Thank you, @edbzn, for the details. We will look into it.

[2021-05-17 10:47] Coly010 commented on #5183
Hey @itayod !

Can you check if this is still occurring for you in the latest version of Nx?

[2021-05-17 10:51] puku0x commented on #5592
@Fibs7000 Yes, the `optimization` flag in `workspace.json` is.
https://nx.dev/latest/react/core-concepts/configuration

You should specify the `configuration` which has `optimization: true` when you when production build.
[code]

[2021-05-17 11:18] #5531 closed

[2021-05-17 11:22] BorisZubchenko commented on #5627
Yes, I will do a PR soon.

[2021-05-17 12:56] vitorcamachoo commented on #4710
This would be very useful to run on CI avoiding to install if theres no affected apps for example.

[2021-05-17 13:22] Coly010 commented on #5682
Hey! :)

Thank you for raising the issue. I'll investigate to find a fix that will allow this to work with no problems.

However, in the meantime, there is a workaround:

 - Delete `node_modules`
 - Delete `package-lock.json`
 - Run `npm install`

You should now be able to run `nx build` for both the NestJS and Angular apps with no problems.

[2021-05-17 14:48] #4940 closed

[2021-05-17 15:14] uspasojevic96 commented on #5682
So, in theory, if we were to add Angular first and NestJS second then it should work without even needing to delete `node_modules` and `package-lock.json`, right?

[2021-05-17 15:30] Coly010 commented on #5682
Yes, that is correct.

I've tried that flow locally and it works perfectly.

[2021-05-17 16:04] vrapalis opened #5688 "Angular 12 and Storybook with Webpack 5 issues"
## Current Behavior

Can't run storybook based on nx angular, nx run shared-ui:storybook

## Expected Behavior

Run storybook on web-server

## Steps to Reproduce

npx create-nx-workspace@latest storybook-example
nx g library shared/ui --tag=scope:shared,type:ui
 nx g c nav --flat -s -t --skipTests --project=shared-ui
npm i @nrwl/storybook -D
nx g @nrwl/angular:storybook-configuration shared-ui
nx

[2021-05-17 16:04] Katona opened #5689 "Unbundled React libraries"
## Description
We are creating a React component library and I would like to publish it unbundled.

## Motivation
Unbundled libraries are better targets of treeshaking. While NX currently generates ES6 bundles which are treeshakeable, my experience shows that the 3rd party dependencies are included in the final bundle even if they are not used.

## Suggested Implementation
It is not actually a sug

[2021-05-17 16:15] vrapalis commented on #5688
https://github.com/storybookjs/storybook/issues/14909

[2021-05-17 16:22] puku0x commented on #5689
What if setting `external` modules in `workspace.json` ?

[code]

[2021-05-17 16:28] meeroslav commented on #5671
Interestingly enough, downgrading `@storybook/angular` to `^6.1.17` and then back to `^6.2.9` resolves the issue. The yarn.lock file gets changed of course. I will investigate further which package exactly is causing the problem.

[2021-05-17 18:46] literalpie commented on #5688
The first screenshot is showing babel warnings that shouldn't affect building or anything. You should be able to avoid them with `npm I -D @babel/preset-env@7.13.0`.

[2021-05-17 19:01] edbzn commented on #5671
@meeroslav But, in any case, eslint should ignore the node_modules folder, am I wrong?

[2021-05-17 19:23] dean-g commented on #5655
Thanks a lot, @leosvelperez.

Do you have any suggestions towards replacing @angular-builders/custom-webpack builder?

that builder is using customWebpackConfig config. not sure how to replace that with nrwl. please advise

[2021-05-17 19:49] BrandonClapp opened #5691 "nx 12.0.1 generate looking for tsconfig.base.json"
## Current Behavior

I am currently on `@nrwl/angular` v12.0.1. Upon running

[code]

I receive the following error.

[code]

Upon further research, [someone else suggested duplicating](https://github.com/nrwl/nx/issues/3874#issuecomment-721481424) `tsconfig.json` and renaming the duplicate to `tsconfig.base.json`.

![image](https://user-images.githubusercontent.com/2096746/118545480-47699080-b71c

[2021-05-17 20:03] BrandonClapp commented on #5691
These comments suggest that `tsconfig.base.json` is correct and that I should keep this name and update other tsconfig files to extend from this one.

https://github.com/nrwl/nx/issues/3251#issuecomment-674294370

https://github.com/nrwl/nx/issues/3251#issuecomment-692700616

[2021-05-17 20:09] vitorcamachoo commented on #5660
Same issue here

[2021-05-17 20:18] yharaskrik opened #5692 "v12 - process.env variables are not available at forRoot time in nestjs"
## Current Behavior

When building and running a Nestjs app with `node main.js` the process.env variables are not available during `AppModule` instantiation time but are during `forRootAsync`. We are using `dotenv-safe` to load our `.env` file and pass a `configuration` function into the `ConfigModule.forRoot`. This was working prior to upgrade to the version of Nx that upgrades angular to v12 (i

[2021-05-17 20:32] kingjordan commented on #5688
I am getting the exact same errors,

**REPRODUCE:**
I have a totally clean install of nx workspace

	1. npx create-nx-workspace test-org --preset=angular
	2. cd test-org
	3. npx ng generate lib ui
	4. npx ng g component header --project=ui --export
	5. npm i -D @nrwl/storybook
	6. nx g storybook-configuration ui --configureCypress=true --generateCypressSpecs=true --generateStories=true
	7. nx run

[2021-05-17 20:39] kingjordan commented on #5688
@literalpie thanks for the tip to remove those babel warnings!
however,

did not fix the error, storybook still does not run in new nx workspace

[2021-05-17 20:41] juristr commented on #5688
@kingjordan thanks for reporting. We're looking into this. Though this seems to be a Storybook + Angular 12 related thing as even with a plain Angular CLI project it doesn't work.

There's an open Storybook issue (https://github.com/nrwl/nx/issues/5688#issuecomment-842454587) which tracks the current Angular 12 status.

[2021-05-17 20:46] kingjordan commented on #5688
@juristr thanks for looking into this, the joys of having third party library dependencies 😜
let me know if you need any help testing as I am more than willing.

[2021-05-17 21:25] BrandonClapp commented on #5691
If anyone else has this issue in the future, I was able to find/replace instances of the string tsconfig.json with tsconfig.base.json to fix all of my child tsconfigs that extended it with this

![image](https://user-images.githubusercontent.com/2096746/118558556-6a9c3c00-b72c-11eb-816d-1f0e589b5218.png)

[2021-05-18 00:22] acostaaluiz commented on #5688
I am facing the same issue. is there any way to solve it? with an old version? thanks guys.

[2021-05-18 00:29] vsavkin commented on #5691
Thank you for submitting the issue.

The reason why using tsconfig.json is no good is that it's picked up by the language service (by vscode and webstorm) which it complicates a lot of things and results in bugs. The purpose of the root tsconfig is to dedup compiler options not to inform the editor. We have a migration that renames the file when you move to Nx 10, but perhaps something went wrong

[2021-05-18 00:29] #5691 closed

[2021-05-18 00:54] #5208 closed

[2021-05-18 00:57] #5656 closed

[2021-05-18 00:59] #5622 closed

[2021-05-18 00:59] #5588 closed

[2021-05-18 05:41] guiseek commented on #2794
I fixed exact issue by adding to each library's tsconfig.lib.json one line:

`"paths": { "@yourscope/*": ["dist/libs/*"] }`

This will allow typescript to load your libs instead of compiling them. Also make sure you build them in order they depend on each other.

[2021-05-18 06:55] meeroslav commented on #5671
Yes, eslint should ignore local `node_modules`. From the NX side nothing has changed - we set up eslint with same options and pass the same file `pattern`.

[2021-05-18 06:59] unnhao opened #5696 "Tailwindcss build production not work"
## Current Behavior
I use tailwind 2.1.2, During develop time there is no problem, but when i build production for deployment, the tailwind style not effect on the element, so... the layout is destroyed.

## Expected Behavior
I expected to the same as the development period after the build production.

## Steps to Reproduce
`nx run client:serve:development` it's okay,
`nx run client:build:producti

[2021-05-18 07:12] edbzn commented on #5671
Well, I also checked some other repositories like angular-eslint and nothing seems related to this issue, feel free to close since it's not a problem when explicitly ignore node_modules.

[2021-05-18 07:18] Katona commented on #5689
I am talking about arbitrary 3rd party dependencies, not just React. My investigate shows that if anything is used from the library bundle, then all of the 3rd party dependencies will be part of the final bundle, not just the ones which are actually used.

[2021-05-18 07:22] itayod commented on #5183
@Coly010 still is... worth to remention that it works perfectly with version 10, so it must be something that has changed between those versions.

[2021-05-18 07:33] meeroslav commented on #5671
I wouldn't explicitly ignore node_modules just yet. If you remove `node_modules` and `yarn.lock` and reinstall everything it should be fine. It should not happen, though, so we will keep issue open until we find out where this is coming from.

[2021-05-18 08:20] leosvelperez commented on #5655
Keep an eye on https://github.com/nrwl/nx/pull/5609 where we are adding support for passing a custom Webpack config to the `@nrwl/angular:webpack-browser` executor. It should be merged soon and released on a patch version.

[2021-05-18 08:33] leosvelperez commented on #5655
@yharaskrik could you please confirm if the issue was happening due to a target missing its `executor|builder` in your workspace configuration or if it's happening because of something else?

[2021-05-18 09:01] mddr opened #5697 "Jest tests are broken when using web workers after the update"
## Current Behavior

Running tests using `nx test` fails if there's `import.meta.url` used – AFAIK it's neccessary for web workers to work with Webpack 5 (used by Angular 12).

## Expected Behavior

`nx test` should still work after the update. Before (using previous version with Angular 11) there were no issues, as `import.meta.url` was not used.

## Steps to Reproduce

Minimal repo: [https://git

[2021-05-18 09:22] miluoshi commented on #4502
Is there a way to generate/use secondary entry points for a library using `@nrwl/web:package` builder? I've tried to achieve it using custom Rollup config, but it always generated single bundle file in the output folder.

[2021-05-18 10:01] Katona commented on #5689
I am actually considering writing a custom builder which would create an 'exploded' package, is there any concern regarding that? I don't know, something like 'it conflicts with the philosophy of Nx', or anything ...

[2021-05-18 10:47] ianldgs commented on #1972
Did anyone try this? Any luck? Are there any implications with removing the workspace.json and nx.json from the implicit dependencies?
In our case, the package.json is still not a problem.

[2021-05-18 11:18] mlc-mlapis opened #5699 "serve command: double processing in CLI 12 > Browser application bundle generation complete."
## Current Behavior

Each command ng serve or nx run myapp:serve leads to the situation that it looks like double processing:

Build at: 2021-05-15T18:26:37.746Z - Hash: ecbd21f6a2b7772c6755 - Time: 154931ms
Build at: 2021-05-15T18:27:00.757Z - Hash: cf1562cbbca533d796f4 - Time: 10838ms

It's unclear what it means. It seems that the same doesn't happen with an incremental build. It looks like some

[2021-05-18 11:20] leosvelperez commented on #5683
Thanks for reporting this!

As mentioned above, this is a duplicate of #5682. Please follow the progress on that issue and in [this comment](https://github.com/nrwl/nx/issues/5682#issuecomment-842320300) you'll find a workaround.

Closing this.

[2021-05-18 11:20] #5683 closed

[2021-05-18 12:02] yannickglt commented on #5655
The solution to me was to upgrade to Webpack 5 following the @leosvelperez advice.

Adding a migration step to ensure Webpack 5 is installed (and used in the `package.json`) would be safer.

[2021-05-18 13:26] brunano21 opened #5701 "Execute Cypress tests over BrowserStack"
## Description
I'd like to have support for running Cypress tests over BrowserStack.

## Motivation
In my company, our Jenkins agents don't meet the basic requirements to run cypress tests. Hence I'm looking to run cypress tests over BrowserStack, for which we have a license.

I found out that Browserstack comes with Cypress support as shown [here](https://www.browserstack.com/docs/automate/cypres

[2021-05-18 13:49] KirillMetrik opened #5702 "nx run storybook fails, no error is reported"
## Current Behavior
I have an NX-angular workspace. I have followed the following guide to add Storybook to my workspace: https://nx.dev/latest/angular/storybook/overview . Adding Storybook worked as expected. I proceeded to the Storybook run step (`nx run project-name:storybook`). It ran for some time, generated log stating that build had succeeded and then finished as Failed. No errors were repo

[2021-05-18 13:51] brunano21 commented on #5701
Somehow this relates to this other issue I reported a while back, about running Nx-enabled Cypress tests over Docker. https://github.com/nrwl/nx/issues/4079
Tagging @shlomiassaf that at that time has helped a bit :-)

[2021-05-18 14:41] #5210 closed

[2021-05-18 15:07] vsavkin commented on #5681
Thank you for reporting the issue. Fixed it here: https://github.com/nrwl/nx/pull/5693

We are going to cut a patch release later this week which will contain the fix.

[2021-05-18 15:07] #5681 closed

[2021-05-18 15:14] ashley-hunter commented on #5681
Great! Thank you very much!

[2021-05-18 16:54] gingerwilliams commented on #2088
Any update on this? I am running into the same problem and getting EADDRINUSE error when trying to `--target=serve --projects=one,two,three`

[2021-05-18 17:38] gingerwilliams commented on #2088
add the port for each app in its respective serve option in workspace.json

[2021-05-18 18:23] BrandonClapp opened #5706 "v12.3.3 update-webpack-browser-config migration fails"
## Current Behavior
When attempting to upgrade from `@nrwl/angular` 12.0.1 to 12.3.3 I receive the following error when trying to run the update-webpack-browser-config migration.

[code]

Full error provided below.

## Expected Behavior
Migration runs without error

## Steps to Reproduce
1. From a workspace with a v12.0.1 workspace, run `nx migrate latest`.
2. v12.3.3 migrations.json will be creat

[2021-05-18 18:45] AlexandrePhilibert commented on #5473
I am having the same issue with nx 12.2.0, I also managed to do a temporary fix in my Dockerfile using :

`RUN npm install @nrwl/next`

[2021-05-18 18:45] DaSchTour commented on #2556
I hope there is some other solution. It's pretty ugly to have to switch between lodash and lodash-es between different projects and it also eliminates the possibility to use lodash inside a library that is shared between server and client.

[2021-05-18 19:09] DaSchTour commented on #2147
Looks like this doesn't work with newest NX with webpack 5

[2021-05-18 19:35] juristr commented on #5688
Hey all, looks like the latest Storybook 6.2.3 alpha fixes most of the issues. I created a repo that shows a working version of Nx 12 + Ng 12 + Webpack 5 and Storybook. Specifically this commit shows what to do to fix it:

https://github.com/juristr/nx-angular12-storybook-webpack5/commit/229a596cb234ede0d6f0fda549f9b2b824887892

I'll keep this issue open as a reference and for following along as t

[2021-05-18 21:00] literalpie commented on #5688
@juristr can you double-check that building storybook works? `nx run shared-ui:build-storybook` gives me an error in your example project.

[2021-05-19 02:37] samartomar opened #5709 "After upgrade to angular 12.0.0.0 - NX commands failing"
## Current Behavior
After Angular upgrade and nx 12.3.3 we started getting following error
"SchematicsNxApp" schema is using the keyword "id" which its support is deprecated. Use "$id"

## Expected Behavior

NX 12.3.3 to have updated scheam

## Steps to Reproduce
Initiaize nx@latest update angular to 12.0.0 and create app or try to setup tailwind anything that touches scheama

This issue may not b

[2021-05-19 03:53] DibyodyutiMondal commented on #5208
Has this been released?

I tried it using @nrwl/node@12.3.3 and the problem persists

[2021-05-19 04:12] samartomar commented on #5699
I am facing the same issue too, i was thinking this is being caused by Tailwind configuration in NX but +1 from me.

[2021-05-19 08:08] mlc-mlapis commented on #5699
We don't use Tailwind at all.

[2021-05-19 08:32] leosvelperez commented on #5618
Yep, we definitely recommend using `nx migrate`.

[2021-05-19 08:36] leosvelperez commented on #5618
That report shows a workspace using 12.2.0 which is a greater version than the 12.1.1 you refer to be migrating to. Could you please double check and share the results of the report when is run in the workspace prior migrating to 12.1.1?

[2021-05-19 08:42] juristr commented on #5688
@MickL yep the storybook build still fails. The problem is that `@storybook/core-server` is still having a dependency on Webpack 4, thus in the `JavaScriptModulesPlugin.js` when doing an instance check those won't match, as Storybook passes in a Webpack 4 instance, comparing it to a Webpack 5 instance

![image](https://user-images.githubusercontent.com/542458/118776827-af3cea00-b888-11eb-8482-0932

[2021-05-19 08:53] JakeGinnivan opened #5710 "Yargs processing mangles command line args passed into other tools"
## Description

Because NX parses the commands, then executes different commands it mangles the command line args for any plugins which wrap other CLI tools. By passing

[code]

To yargs in @nrwl/cli/lib/parse-run-one-options.js and possibly other places the NX cli becomes far more predicable

## Motivation

I have written a NX plugin which wraps the Pulumi CLI, which I would like to execute like

[2021-05-19 08:58] leosvelperez commented on #5699
@mlc-mlapis thanks for reporting this!

I tried to reproduce this by creating an Angular workspace but I didn't get the issue. It does happen to me in an Angular CLI project due to ngcc running prior to the serve command and modifying files. In the linked Angular CLI issue you are sharing you mention it happens all the time, regardless of ngcc running or not, but I'm not able to reproduce it.

Cou

[2021-05-19 09:00] Coly010 commented on #5682
Based on the two solutions provided above:

https://github.com/nrwl/nx/issues/5682#issuecomment-842320300

https://github.com/nrwl/nx/issues/5682#issuecomment-842407479

I'm going to close this issue.

If the problem persists and these solutions do not work, please let us know!

[2021-05-19 09:00] #5682 closed

[2021-05-19 09:01] sivanisentinel opened #5712 "nest + angular schematics now working"
## Current Behavior
the out of the box project in not running. getting this error:

 Generating browser application bundles...(node:19521) UnhandledPromiseRejectionWarning: TypeError: webpack_1.node.NodeTargetPlugin is not a constructor
    at WebpackResourceLoader._compile (/Users/sivani/dev/example/node_modules/@ngtools/webpack/src/resource_loader.js:83:13)
    at WebpackResourceLoader.get (/Use

[2021-05-19 09:07] Coly010 commented on #5696
Hi!

Could you provide us with a minimum repo that can recreate this issue to allow us to investigate further?

Thanks!!

[2021-05-19 09:08] leosvelperez commented on #5712
Thanks for reporting this!

Please note this is a duplicate of #5682. I'm going to close this issue in favor of that one. Please follow that issue for a solution.

[2021-05-19 09:08] #5712 closed

[2021-05-19 09:24] ArielGueta opened #5713 "Cypress doesn't work with Webpack 5"
After upgrading to Webpack 5, we get this error:

It seems that you need to update `@cypress/webpack-preprocessor` to latest version.

https://github.com/cypress-io/cypress/issues/8900

[2021-05-19 09:42] mlc-mlapis commented on #5699
@leosvelperez I would like to do it. Actually, the same happens in 3 different projects where each of them is located in a different Nx monorepo. That's why it seems to be a repeated behavior pattern and not a unique exception. I guess that it's somehow related to the Webpack 5 change detection mechanism, but it's a question of what invokes such a dummy change.

[2021-05-19 09:50] gagle commented on #1621
We can use the --exclude flag but this would be awesome to have...

[2021-05-19 09:53] kirjai commented on #5473
thanks for reporting the issue!

how Nx determines where to put a dependency - (`devDependencies` or `dependencies`) is dependent on the root `package.json`

so if you put `@nrwl/next` into `dependencies` in your root `package.json` - it will appear in `dependencies` in the built `package.json`

---

@jole78 and @AlexandrePhilibert give that a try, should be easier than running `yarn add` / `npm i

[2021-05-19 09:55] mlc-mlapis commented on #5699
@leosvelperez I can share one private project on GitHub with you, so you can run it and see. Is it acceptable for you?

[2021-05-19 09:58] leosvelperez commented on #5699
@mlc-mlapis sure, that would help.

[2021-05-19 10:02] mlc-mlapis commented on #5699
@leosvelperez OK. I have to do some manual steps related to that project migration to v12 first because `nx migrate latest` didn't work as expected, so let a day or two.

[2021-05-19 10:38] leosvelperez commented on #5706
@BrandonClapp thanks for reporting this!

I tried to reproduce the issue but unfortunately, I was not able to do so. I created a workspace with an Angular preset using Nx 12.0.1 and then, I followed the steps you mentioned in the issue description, but the migration ran successfully.

I revisited the migration code and one thing I can see that could be causing the issue is if there's a project in

[2021-05-19 11:16] meeroslav commented on #5446
I can confirm that this is fixed in v12.

[2021-05-19 11:16] #5446 closed

[2021-05-19 12:26] juristr commented on #5688
As a quick update. I'm in contact with the Storybook team and they're looking into it. This is a weird NPM package hoisting issue 🤷‍♂️

[2021-05-19 12:56] vsavkin opened #5716 "Migration-Related Notes Nx 11 -> Nx 12"
Folks, migrating workspaces is hard. Every workspace is different, with different combinations of versions, packages, package managers etc.. Also, every workspace evolves differently: as you migrate from version to version, you make small changes making your workspace unique.

Please read the following to learn about the migrate command: https://nx.dev/workspace/update.

To reiterate a few things

[2021-05-19 13:14] #5493 closed

[2021-05-19 13:48] nikparo commented on #4244
I'd like to petition to reopen this. We use a liberal amount of comments, and having them stripped from .json files is very annoying.

[2021-05-19 14:31] dean-g commented on #5655
@leosvelperez Do you have any advice toward replacing "builder": "ngx-build-plus:dev-server", with nrwl builders?

[2021-05-19 14:34] dean-g commented on #5655
I took the latest version upgrade(12.3.4). Also replaced @angular-builders/custom-webpack with the @nrwl/angular:webpack-browser builder. but still, application build got stuck in the following line,

⠴ Generating browser application bundles (phase: building)...

[2021-05-19 15:08] leosvelperez commented on #5655
We don't have a like-for-like replacement for those custom webpack builders. You might still need to wait for those third-party builders to update and support Webpack 5.

That said, you could have a setup with Nx core executors where things should work, but the development experience won't be exactly the same:
- For the `build` target, you could use the `@nrwl/angular:webpack-browser` executor whi

[2021-05-19 15:53] dmk1111 commented on #3370
@nrwl/cli v12.3.3 - problem persists, commit/stash fixes the issue

[2021-05-19 15:53] nemonemi opened #5718 "graphql-mesh support"
## Description

When generating an application, it should be possible to generate one which provides graphql-mesh out of the box.

## Motivation

At the moment, it is only possible to generate, for an example @nrwl/node application, and then to reconfigure it to support something else, which is not directly nodejs.

This is also somewhat fine, however, I am not sure how to completely configure it

[2021-05-19 16:20] nemonemi opened #5719 "Generate @nrwl/node:application command not working"
## Current Behavior

When running the `nx generate @nrwl/node:application <node-app>` command, an error gets thrown.

[code]

## Expected Behavior

The command should work.

### Environment

Node : 14.15.4
OS   : win32 x64
yarn : 2.4.1

nx : 11.1.1
@nrwl/angular : Not Found
@nrwl/cli : 12.1.1
@nrwl/cypress : 12.1.1
@nrwl/devkit : 12.1.1
@nrwl/eslint-plugin-nx : 12.1.1
@nrwl/express : Not Found
@nr

[2021-05-19 16:29] meeroslav commented on #5671
Closing this in favor of #5716

[2021-05-19 16:29] #5671 closed

[2021-05-19 17:15] #5575 closed

[2021-05-19 17:50] #5625 closed

[2021-05-19 17:57] kingjordan commented on #5688
thanks @juristr
I can confirm that a nx workspace that did not work (6.2.7 and 6.2.9) will now run storybook if I make the changes you linked to in package.json (6.3.0-alpha etc...)
But as @literalpie  mentioned, the build of story book still fails.  For me this unblocks development for us as we don't need the build right now.
Again, thank you so much for your effort solving this issue!

[2021-05-19 17:59] juristr commented on #5688
@kingjordan cool. Yeah I know the Storybook folks is working on a fix so hopefully we have one in the next couple of days 🤞

[2021-05-19 18:32] BrandonClapp commented on #5706
Thanks for looking into that @leosvelperez. You nailed it, that was exactly it. Of the 72 projects in `angular.json`, only 71 of them had a `architect` property.

I've simply added `"architect": {}` to the project with the missing property and the migration executes successfully now.

Unfortunately, when I try to `ng serve` after the migration, I receive errors and the angular app responds with `C

[2021-05-19 18:49] oscyp commented on #4154
Anyone? How does your configuration file look like? In my case, I can attach the debugger, but breakpoints are not hit (they are grey in VS Code).

[2021-05-19 19:27] bopm commented on #4160
And yet, it's not working even now. I have a project upgraded to ng 12, which is no longer build after that being stuck in `Generating browser application bundles (phase: building)` and verbose doing nothing for the build.

cc @vsavkin

[2021-05-19 19:35] bopm commented on #5716
[This issue](https://github.com/nrwl/nx/issues/5648) is here for a year at least. That's the main reason users keep using ng update. Nx migrate behavior is inconsistent with original functionality, the scenario with migrate.json feels unfinished because after you run all migrations from it, it still sits in the repository and tends to be committed to it because it doesn't even added to .gitignore

[2021-05-20 01:00] HaveF commented on #5370
Off topic.
hi, @JonasZ95 , could you tell me how to use SpeedMeasurePlugin in nx? Just in `webpack.config.js`?  add line

`const smp = new SpeedMeasurePlugin()`

I cannot make it works. Thanks!

[2021-05-20 01:02] jadengis commented on #5682
@Coly010 The workarounds are nice, but I would argue this isn't shouldn't be closed because the bug still exists. Users creating new angular + nest projects from the nx schematic will not be able to use `ng serve` without applying one of these workarounds manually.

Is it not possible to update the schematic to automatically apply the #2 workaround (install angular then nest)?

[2021-05-20 01:22] d3viant0ne commented on #5370
There is a comment early in the referenced angular/cli thread about the terser plugin, it's lack of file system caching using webpack v5 as well as performance hits in sass.

The performance issues you are having have to do with cli v12 and the issues mentioned above, this isn't a problem that NX can solve. So you either have to go back to Angular 11.x and wait or contend with the performance degr

[2021-05-20 01:51] Peter-NZ commented on #5719
I ran into the same issue today using the @nrwl/gatsby generators as well as the @nrwl/node generators. After some debugging it looks like it was caused by read the read method in the tree class of @nrwl/tao returning a buffer instead of a string due to the generator using the wrong version of the @nrwl/tao for some reason. The version causing the error was lacking the method signature "encoding"

[2021-05-20 05:14] DibyodyutiMondal commented on #5208
Can confirm it works using @nrwl/node@12.3.4

Thank you, nrwl! You are amazing!

[2021-05-20 06:15] oschlegel commented on #4220
I'm having the same issue, is there already a solution?

[2021-05-20 06:19] nemonemi commented on #5719
@Peter-NZ thanks for the hint! It worked like this for me as well.
However, I'll keep this bug opened because it should not be the desired workflow.

[2021-05-20 06:23] hadrien-toma opened #5722 "Type 'Tree' is missing the following properties from type 'Tree': write, isFile, children, listChangests(2345)"
## Current Behavior

I try to mix Angular and Nx tools made for the development of new schematics but the `Tree` from `@angular-devkit/schematics` and from `@nrwl/devkit` seems to be incompatible. If it is expected, may we imagine a method to create a parser from one to the other (the main important direction for me is from `@angular-devkit/schematics` to `@nrwl/devkit`).

## Expected Behavior

I

[2021-05-20 06:35] rullymartanto opened #5723 "npx nx g @nrwl/express:application api --frontendProject=todos"
Hi,

I try follow the tutorial,
and after follow this step
npx nx g @nrwl/express:application api --frontendProject=todos

it's give me
Expected argument `jsonString` to be a `string`, got `object`

Thanks

[2021-05-20 07:52] DibyodyutiMondal opened #5724 "Running build in watch mode for buildable node libraries does not generate a `package.json` as part of the output."
## Current Behavior
Running build in watch mode for buildable node libraries does not generate a `package.json` as part of the output.
This breaks incremental building as dependents of this library keep telling me that it is not built.

## Expected Behavior
`package.json` should be generated in watch mode.
This was the behavior up to @nrwl/node v11.4.0.
After v11.4.0, watch mode was broken (#5208)

[2021-05-20 08:32] Coly010 commented on #5682
Hi @jadengis !
The real fix here is to upgrade the `@nrwl/node` package to use Webpack 5, and that work is currently underway.

However, I'll take a look and see if we can change the Angular+Nest schematic to install Angular then Nest.

If you're interested, you could also take a stab at creating a PR that makes this change :)

[2021-05-20 08:59] leosvelperez commented on #5706
Out of curiosity, why would you need a project without the `architect` property? That sounds that you really don't need it there, the workspace configuration is for defining targets to execute commands for each project.

That one is not related to `architect` being empty. You can remove the project with the empty `architect` and you should still have the same issue.

That error occurs when you hav

[2021-05-20 09:48] Peter-NZ commented on #5723
Might be the same issue identified [here](https://github.com/nrwl/nx/issues/5719#issuecomment-844741208)

[2021-05-20 13:37] ismael-su commented on #5719
This has something to do with the latest version, @Peter-NZ 's solution didn't work for me, i had to install version the version 11.4.0 or @nrwl/react in order to get it work.

[2021-05-20 13:50] nemonemi commented on #5719
@ismael-su, as you can see above, I have version 12.1.1, which is not the latest, but it still works.

[2021-05-20 14:48] bjornharvold opened #5729 "Build doesn't generate artifacts with @angular-devkit/build-angular@12.0.1"
## Description
Artifact A was built successfully and then removed from dist. If you build again, the nx cache will not do anything as it registers that there have been no changes and says "build successful" even though dist is empty.

## Motivation
A CI workflow would maybe like to remove built artifacts but still keep the cache around to lower build times. If an artifact was missing but the cache

[2021-05-20 15:16] lukasgeiter commented on #4636
I'm having a similar issue with latest Nx version (12.3.4).
In my case the error comes up when trying to run the `@nrwl/react-native:start` builder:

[code]

As far as I can tell, the root cause of the error is that `@nrwl/tao` uses `@angular-devkit/architect` without declaring it as dependency. The code that imports `@angular-devkit/architect` is located in `ngcli-adapter.ts`:

https://github.com

[2021-05-20 15:55] yannickglt commented on #5118
Unfortunately, the solution suggested by @ronnetzer does not work while working with HTTPs (due to an [http-server issue](https://github.com/http-party/http-server/issues/214)). I hope this is something that can be handled at `file-server` level.

[2021-05-20 16:08] tomalaforge commented on #2422
Hello,

Does anyone succeded in using nx affected in a jenkins pipeline?

[2021-05-20 17:37] bcallaghan-et opened #5730 "@nrwl/nx-plugin migration generator adds the wrong key to package.json"
## Current Behavior

When running `nx g @nrwl/nx-plugin:migration` in a project that doesn't have any migrations, the following value is added to the project's package.json.
[code]
The key `nx-migrate` is incorrect, and the migrations are not recognized by the `nx migrate` command.

## Expected Behavior

The generated key should be `nx-migrations`, matching the value expected by [migrate command](

[2021-05-20 17:39] dlq84 commented on #5716
After the update nx serve only runs on one core when serving an angular application. Is there a new setting and need to change to make it work on multiple cpu cores again?

[2021-05-20 18:21] Corsico commented on #5719
Have the same issue trying to generate @nrwl/react
nx version 12.3.3
node v16.1.0
npm v7.11.2

[2021-05-20 19:53] BrandonClapp commented on #5706
Thanks for the help @leosvelperez, you've been super helpful.

As far as why I added an empty object to `architect`, it was honestly just out of sheer ignorance on what the property does. I will need to go back and compare it to other projects and see how that property needs to be configured.

You was right on the version of webpack being the issue. The issue was that our workspace had webpack as

[2021-05-20 22:23] dean-g opened #5732 "With an angular 12 upgrades, my storybook is failing"
My storybook is failing with the following error,

NX   ERROR  Running target "stories:storybook" failed

Can someone please check this and advise?

[2021-05-20 22:26] dean-g commented on #5655
Thank a lot @leosvelperez

I made my app running now. but my story book build is failing and not generating the URL to test.

Here is the ERROR:
NX   ERROR  Running target "stories:storybook" failed

![image](https://user-images.githubusercontent.com/12157452/119056520-70925700-b990-11eb-8d6b-bb772ceabce7.png)

@leosvelperez Can you please advise on my storybook?

[2021-05-20 22:38] mlc-mlapis commented on #5699
@leosvelperez I invited you to the repository where the above problem can be seen.

* Create a local clone of it with `m-kbase` name.
* Use `ML-Upgrade-to-Angular&CLI-V12` branch.
* Run `npm i`.
* It's supposed that there is a global Nx installation of 12.3.4.
* Run `nx serve`.

And this should be a result. The highlighted part in yellow is the problem.
![image](https://user-images.githubuserconte

[2021-05-21 00:36] studds opened #5733 "eslint fails with rules which require typechecks"
## Current Behavior

I've added `plugin:@typescript-eslint/recommended-requiring-type-checking` to my root `.eslintrc.json`. When I run `nx run app:lint`, it fails with:

[code]

## Expected Behavior

Linting should work with rules which require typechecks. I think this is a regression? These rules used to work. I've played around a bit with the old vs new config, and I haven't been able to work o

[2021-05-21 04:04] DominikPieper commented on #5722
Hi, yes they're incompatible. The @nrwl/devtools package is using the Tree from the devtools and works for the new generator API. There are functions with the same features like e.g. getWorkspaceLayout in Nx.

For getWorkspaceLayout e.g.:
import { getNpmScope } from '@nrwl/workspace';
import { libsDir, appsDir } from '@nrwl/workspace/src/utils/ast-utils';

These functions use the angular-devkit Tr

[2021-05-21 04:28] hadrien-toma commented on #5722
That's perfect, thank you very much @DominikPieper ;

[2021-05-21 04:28] #5722 closed

[2021-05-21 06:15] bjornharvold commented on #5729
I want to follow up on this ticket as it should maybe be marked as a bug.

I am building multiples SPAs with this command in my CI build:
`"build:staging:fast": "node --max_old_space_size=16384 ./node_modules/.bin/nx run-many --target=build --projects=administration,booking-engine,corporate,developer,extranet,hotel-booking-engine,maintenance,seller,single-sign-on,travel-agent,web-components --conf

[2021-05-21 07:15] rullymartanto commented on #5719
How to downgrade the version ? maybe still working in the old version ?

[2021-05-21 07:29] ismael-su commented on #5719
@rullymartanto  just go to package.json file and find the line "@nrwl/react" in dependencies and change whatever version you have there with the one I just mentioned

[2021-05-21 08:05] rullymartanto commented on #5719
@ismael-su  still not working, can I know your package.json ?

[2021-05-21 08:24] fatihdogmus commented on #5672
Although my repo is not using yarn 2 workspaces, just regular yarn, I get the a similar error as above. It is just a toy project, but we will be using nx and angular in a project so encountering this problem could be a problem in the future.

Eror message:
[code]

Enviorenment:
OS: Windows 10 Enterprise Version 20H2 Build 19042.928
Yarn: V1.2210
Node.js:  v15.6.0

Depndencies
  nx : Not Found
  @n

[2021-05-21 08:50] leosvelperez commented on #5706
@BrandonClapp glad to help!

Yep, we can't (shouldn't) assume we can remove Webpack as a direct dependency in a project because it could actually be something the dev added or it's using directly. If we add an automatic migration to remove it we could break some workspaces.

[2021-05-21 08:51] leosvelperez commented on #5706
I'm closing this since the issue seems to have been resolved. If you still think this is an issue, please feel free to reopen it.

[2021-05-21 08:51] #5706 closed

[2021-05-21 08:51] nemonemi commented on #5719
@rullymartanto have you tried with these versions?
Node : 14.15.4
OS : win32 x64
yarn : 2.4.1

nx : 11.1.1
@nrwl/angular : Not Found
@nrwl/cli : 12.1.1
@nrwl/cypress : 12.1.1
@nrwl/devkit : 12.1.1
@nrwl/eslint-plugin-nx : 12.1.1
@nrwl/express : Not Found
@nrwl/jest : 12.1.1
@nrwl/linter : 12.1.1
@nrwl/nest : Not Found
@nrwl/next : Not Found
@nrwl/node : 12.3.4
@nrwl/react : 12.1.1
@nrwl/schematics

[2021-05-21 08:53] rrooding opened #5736 "Babel issue @nrwl/web/babel & @nrwl/react/babel: Cannot read property 'android' of undefined"
After upgrading Nx to 12.3.4 I'm getting the following error when trying to build React apps:
`Cannot read property 'android' of undefined`

Snippet from package.json:
[code]

I'm getting the following backtrace:
[code]

The .babelrc file looks like this (default):
[code]

The problems go away if I use the top-level @babel packages, not the ones included in Nx:
[code]

Here @babel/preset-env is ve

[2021-05-21 08:57] leosvelperez commented on #5655
@dean-g let's try to keep this thread focused on the original issue, otherwise is hard to track the different issues being discussed here 🙂

For the Storybook issue, please, take a look at https://github.com/nrwl/nx/issues/5688 where there's already some good info about the issue and you can follow it for updates.

[2021-05-21 09:09] rullymartanto commented on #5719
still not working,..

[2021-05-21 09:16] nemonemi commented on #5719
Here's my package.json's complete list of dependencies. Hope it helps.
<details>
<summary>Package.json dependencies list</summary>
<p>

[code]
</p>
</details>

[2021-05-21 10:19] edmundo096 commented on #4596
Related but trying to use `nx migrate latest`.
Using npm version 7.6.0 (and probably any 7 version) gives an error about permissions on the `tao` binary, this while on Node 14.
After downgrading to npm version 6 (the latest) the command executed successfully.

So, the point is, it seems that npm 7 is not supported (somehow).

[2021-05-21 10:25] edmundo096 commented on #4533
Found this while googling `Command failed: npm install @nrwl/workspace@latest`.

Seems that npm version 7 is not supported, even on Nx 12.
Was on Nx version 12.1.1, and tried to update to 12.3.4.

A similar issue, with what it seem the same cause, is on https://github.com/nrwl/nx/issues/4596.

Downgrading to npm 6 (on Node 14) let the command run successfully.
I assume the same would apply to the

[2021-05-21 10:44] cyrus-za commented on #5382
@mehrad-rafigh why? What does ng workspaces have that nx does not? I am just curious, I am not using angular (for a few years now) so not up to date with that side

[2021-05-21 10:47] smorandi commented on #5729
yes, i am having exactly the same issue. the builds are not done at all

[2021-05-21 12:24] Coly010 commented on #5183
@itayod I can't reproduce this either. I wonder if it's a Windows-specific issue.

[2021-05-21 12:42] leosvelperez commented on #5699
@mlc-mlapis thanks for sharing it! Unfortunately, I can't reproduce the issue there either. I wonder if it has something to do with the OS, I'm using MacOS and I see in the description of the issue you're using Windows 🤷🏻

![image](https://user-images.githubusercontent.com/12051310/119138881-49905f80-ba3a-11eb-9009-355f141cec82.png)

[2021-05-21 12:56] juristr commented on #5702
Hey @KirillMetrik, thanks for reaching out. This is due to a Storybook issue. I've been in contact with the team and they're working on a fix. Please refer to #5688 which has a workaround for now to at least have the serving of stories work until we get a fix on the Storybook side.

I'm closing this issue for now

[2021-05-21 12:56] #5702 closed

[2021-05-21 12:58] juristr commented on #4252
Closing this as it is on our feature list. We're going to look into Storybook composition in Nx v13 which is actively being worked on

[2021-05-21 12:58] #4252 closed

[2021-05-21 13:05] gmisiolek commented on #5729
I have the same issue. It works fine with version 12.1.0. Stopped working after upgrade to 12.3.4.

[2021-05-21 13:07] RIAstar commented on #4305
Same thing here after bumping minor versions in an Nx 11 project.

Only thing that worked for me was rolling back both the `@nrwl` and `@storybook` dependencies.
This combination works:
- nx 11.1.5
- storybook 6.1.15

I tried a bunch of other combinations to try to figure out whether the problem is with Nx or with Storybook.
All the following combos yield the infamous
[code]
- nx 11.6.3 (latest 11

[2021-05-21 13:44] #5382 closed

[2021-05-21 13:50] #5473 closed

[2021-05-21 13:58] kirjai commented on #5473
so what we've done with #5662 is that new workspaces that use the `next.js` preset will be generated with the `@nrwl/next` dependency in the `dependencies`, rather than `devDependencies`.

but as mentioned above:
*how Nx determines where to put a dependency - is dependent on where it is in the root `package.json`*.

i will also make sure we update the docs to *not* suggest adding `@nrwl/next` as a

[2021-05-21 14:32] mlc-mlapis commented on #5699
@leosvelperez Yep, it's on the Windows platform. Any chance you can take a try on Windows somewhere?

[2021-05-21 14:32] mlc-mlapis commented on #5699
@leosvelperez And on NodeJS 14.17.0.

[2021-05-21 14:59] hgschwibbe commented on #2464
Same problem here. I reproduced it by creating a storybook configuration without e2e:

`$ ng g @nrwl/angular:storybook-configuration libraryXyz`
✔ Configure a cypress e2e app to run against the storybook instance? (Y/n) · false
✔ Automatically generate *.stories.ts files for components declared in this project? (Y/n) · true
✔ Automatically generate *.spec.ts files in the cypress e2e app generated

[2021-05-21 15:00] juristr commented on #4154
This seems to work for now until we have a more DX friendly option

https://youtu.be/VHkb26kHjgA

[2021-05-21 15:08] hgschwibbe opened #5743 "Error creating stories for libraries without e2e"
## Steps to Reproduce
1. Create a storybook configuration without e2e:
`$ ng g @nrwl/angular:storybook-configuration libraryXyz`
✔ Configure a cypress e2e app to run against the storybook instance? (Y/n) · false
✔ Automatically generate *.stories.ts files for components declared in this project? (Y/n) · false
✔ Automatically generate *.spec.ts files in the cypress e2e app generated by the cypress-

[2021-05-21 15:30] juristr commented on #4305
@RIAstar can you subscribe to #5688?

[2021-05-21 15:45] MichaelDeBoey commented on #5716
@vsavkin When updating, `.eslintrc.js` files aren't updated while `eslintrc.json` files are

[2021-05-21 15:58] dean-g commented on #5688
running to the same error.
![image](https://user-images.githubusercontent.com/12157452/119165742-6ec5a380-ba23-11eb-990c-b3f7d3235840.png)

[2021-05-21 16:03] jredl-va opened #5745 "Angular applications not building when using the --parallel flag"
## Current Behavior
We have upgraded our workspace to nx 12.3 and angular 12.1

The nx build command we are running
[code]

Is not producing build output:

[code]

### Environment
[code]

[2021-05-21 16:06] jredl-va commented on #5745
We put a debugger step within our CI tooling and you can see that the only apps that built were the ones that didn't encounter  this error:

![image](https://user-images.githubusercontent.com/2300103/119166769-3ff7ff00-ba1c-11eb-9276-f612c7a5c827.png)

[2021-05-21 16:09] jredl-va commented on #5745
Note that we are thinking that this is only failing on "cache hits" when using the --parallel flag.  Just trying to build now within the --parallel flag.

[2021-05-21 18:26] alx-andru commented on #5729
Having the same issue and trying to narrow it down. Has anyone found some hints on it?

[2021-05-21 19:09] Xenfo opened #5748 "Command to build Next.js for Vercel errors out"
## Current Behavior

Command fails

## Expected Behavior

I expected it to build my project successfully

## Steps to Reproduce

Repo: https://github.com/Xenfo/atomic
Try to deploy it to Vercel following the guide in the NX Next.js docs.

### Failure Logs

[code]

### Environment

[code]

### Workaround from Vercel
Set custom build command to: `npx nx build my-app --prod`
Set output directory to:

[2021-05-21 19:45] juristr commented on #5688
@dean-g Here there is more info: https://github.com/storybookjs/storybook/issues/14909#issuecomment-842934111.

Basically you need to change the `optimization: true` property in the Angular app's configuration in `angular.json`. The `optimization` property can either be a boolean or an expanded object where you can enable/disable the settings for each individual optimization target. The link above

[2021-05-21 20:53] dean-g commented on #5688
It's working now!. thank you very much @juristr

[2021-05-21 21:28] dean-g opened #5749 "TSLint's support is discontinued and we're deprecating its support in Angular CLI."
I am getting a deprecation warning towards tslint,

Can you please check this below and advise ?
TSLint's support is discontinued and we're deprecating its support in Angular CLI.
To opt-in using the community driven ESLint builder, see: https://github.com/angular-eslint/angular-eslint#migrating-an-angular-cli-project-from-codelyzer-and-tslint.

[2021-05-22 04:20] jredl-va commented on #5745
Going to close this until we have reproduction steps.

[2021-05-22 04:20] #5745 closed

[2021-05-22 04:22] jredl-va commented on #5729
+1 to this issue. Works fine on mac but nothing builds on linux.

[2021-05-22 08:38] bboehm86 commented on #5729
We've got a similar issue. Build works perfectly on Windows & WSL(2) but produces no output in our GitLab CI with no errors (even without any caches)

[2021-05-22 08:51] gmisiolek commented on #5729
That's really weird...

If I run `npm ci` or `npm install` and run build command within `Dockerfile`, build fails - there is no `dist` folder.

But if I remove from Dockerfile line with build (only `npm ci`), run container and within this container I manually run build command, dist folder if created with app...

[2021-05-22 09:56] nhhockeyplayer commented on #2633
Hi Devin,

adding/syncing platforms has been documented

nice work

I think I asked last november when I qualified this in my own space I asked about how to add plugins...
QUESTION... do we have to do this manually? o ris it automated with a cmd interface?

Looking at the docs at https://nxtend.dev/docs/capacitor/getting-started
Adding Capacitor Plugins#
Capacitor plugin dependencies must be added

[2021-05-22 10:06] nhhockeyplayer commented on #2633
OK I think I found it

https://capacitorjs.com/docs/apis/splash-screen

so this I hope will work

[2021-05-22 10:16] heddendorp opened #5750 "nx migrate latest does not update angular"
## Current Behavior

running `nx migrate latest` only update @nrwl packages

## Expected Behavior

The command should help me update all packages in my app.

## Steps to Reproduce

Run the command in https://github.com/heddendorp/tumi-app/tree/nx-workspace

### Failure Logs

### Environment

[code]

[2021-05-22 10:17] nhhockeyplayer commented on #2633
I performed the following... and receiving an error not sure what to do

yarn add @capacitor/splash-screen
npx cap sync
command not found: cap

I see no docs for any global cmd line capacitor tool only just installing into existing app

[2021-05-22 10:49] heddendorp opened #5751 "ng add @nrwl/workspace fails in angular app"
## Current Behavior

running `ng add @nrwl/workspace` leads to a fail like

## Expected Behavior

The command should transform my project to a nx workspace

## Steps to Reproduce

Run the command in https://github.com/heddendorp/tumi-app/tree/nx-workspace

### Failure Logs

[code]

### Environment

[code]

[2021-05-22 10:50] gmisiolek commented on #5729
After some research I found that my project stopped building after update angular to 12.0.1. On angular 12.0.0 it seems to work. Could anyone else confirm that?

[2021-05-22 14:53] bjornharvold commented on #5729
@gmisiolek I'm working my way downward. Am on 12.3.0 now. Every clean build takes 3 hours so it's a bit slow to say the least.

Wondering if I go down to 12.0.0, that I'll get other errors now that Angular 12 is final. Looking at 12.0.1, there were no big changes that would affect the cache.

[2021-05-22 14:58] bjornharvold commented on #5729
If I remember correctly, my CI build has been running flawlessly until a week ago so I do think this was a recent regression error.

[2021-05-22 15:52] gmisiolek commented on #5729
@bjornharvold but I managed to make it work with nx 12.3.4 and @angular/* 12.0.0
When I upgraded @angular/* to 12.0.1 it started to fail. I have no idea why.

[2021-05-22 16:11] jredl-va commented on #5729
I can confirm that angular 12.0.1 is indeed the issue. Downgrading our workspace to angular 12 is building correctly in CI (linux based).

Running locally on my mac both versions of angular build correctly.

[code]

[2021-05-22 16:14] simondotm commented on #836
Hello again folks, I've just released [v0.3.0](https://www.npmjs.com/package/@simondotm/nx-firebase) of my plugin, which now has some improvements and fixes, as well as support for `deploy` and `serve` targets. The project also got renamed, so any existing users - please uninstall the old plugin and reinstall the new plugin. Should work with Nx 12.1.1 onwards, but the latest Nx 12.3.4 is recommend

[2021-05-22 16:26] gmisiolek commented on #5729
After further testing it looks like upgrade `@angular-devkit/build-angular` from 12.0.0 to 12.0.1 breaks build process.

I've updated all @angular/* packages to 12.0.1, except this one and it looks like everything works fine.

[2021-05-22 16:31] hcharley commented on #5748
I can confirm I'm seeing the same problem with my own freshly created repo.

This fails:

[code]

This works:

[code]

[2021-05-22 16:31] alx-andru commented on #5729
I can confirm @gmisiolek observation. 12.0.0 runs with `ubuntu-latest` on Azure DevOps hosted agents

[2021-05-22 16:37] gmisiolek commented on #5729
@jredl-va But which version of @angular/* libs do you have? Especially `@angular-devkit/build-angular`?
I've checked nx 12.3.3 with `@angular-devkit/build-angular@12.0.1` and I have the same issue.

[2021-05-22 16:39] jredl-va commented on #5729
@gmisiolek:

[code]

[2021-05-22 17:00] #5730 closed

[2021-05-22 17:22] yharaskrik opened #5752 "Be able to run `nx affected` with npx"
## Description

In some CI steps we do not need to have our node modules cache installed/restored but do need to run custom affected commands for building docker images. So save CI time/resources it would be sweet to be able to just run `npx nx@12.1.0 affected --target=<custom> --base=$BASE`

## Motivation

Mentioned above

## Suggested Implementation

It seems to sort of be implemented as Nx does

[2021-05-22 17:35] #5467 closed

[2021-05-22 17:39] FrozenPandaz commented on #5680
@vsavkin should we match the node API and accept an options object instead of separate parameters?

[2021-05-22 18:02] nhhockeyplayer commented on #2633
Is there a remove option like nx run mobile-app:cap --cmd="remove" ios

I added a platform without specifying the project and it got dumped into my root folder of nx workspace. I dont know what alterations extra occur under the hood if any... or can I just nuke it?

Thanks

[2021-05-22 18:20] jvandemo commented on #5324
Seeing similar results here.

#### Without rebuildable libraries

[code]

#### With rebuildable libraries (same application)

[code]

So the upside when restarting `ng serve` is super exciting. 🎉

However, the slower rebuild while running `ng serve` really affects the developer experience, since making changes during `ng serve` happens much more often than restarting `ng serve`.

Based on the CLI

[2021-05-22 18:52] Xenfo commented on #5748
Yup that worked

[2021-05-22 19:22] FrozenPandaz commented on #5752
This is the intentional behavior.

Nx expects for the `node_modules` directory to contain things like Executors, Generators, .etc so apart from `create-nx-workspace`, this all should be done within a workspace with installed `node_modules`.

[2021-05-22 19:22] #5752 closed

[2021-05-22 19:24] FrozenPandaz commented on #5750
This issue occurs because `@nrwl/angular` is not installed.

This seems to be an Angular CLI workspace that was migrated to Nx so we should add `@nrwl/angular` as part of that process.

[2021-05-22 19:35] FrozenPandaz commented on #5748
Seems like we should update the documentation. I'm not sure why that option is there in the docs.

@kirjai Please take a look.

[2021-05-22 19:39] FrozenPandaz commented on #5733
You should add the rule to the `override` for `.ts`/`.js` files so that those rules do not run on `.html` files as those files are not configured to have a typescript program.

[2021-05-22 19:41] FrozenPandaz commented on #5732
Please provide more information about the issue you are seeing. What is the error? Can you provide a repo?

[2021-05-22 19:44] FrozenPandaz commented on #5729
Hey all, the reason it is happening is because we have a new optimization where when the dist already exists, we don't copy files when tasks are cached. However, this means that if there's another step that mutates the dist, then the original result of the cache would be lost. We'll take a look at this issue and see what we can do about it.

@leosvelperez please take a look at this issue.

[2021-05-22 19:51] FrozenPandaz commented on #5716
Sorry, that is intentional. `.js` files are much harder to migrate automatically. We highly recommend that you switch to using `.json` files if possible.

@bopm that issue has been opened for 9 days... we will take a look.

[2021-05-22 19:52] FrozenPandaz commented on #5723
Closing as a duplicate of https://github.com/nrwl/nx/issues/5719#issuecomment-844741208. Please follow that issue.

[2021-05-22 19:52] #5723 closed

[2021-05-22 19:55] FrozenPandaz commented on #5709
Please post the results of `nx report`. That schema has been updated already https://github.com/nrwl/nx/blob/master/packages/angular/src/schematics/application/schema.json#L3

[2021-05-22 19:59] FrozenPandaz commented on #5710
Please share your plugin so that we can reproduce the issue.

[2021-05-22 20:08] Xenfo commented on #5748
It still doesn't build properly in Vercel

[2021-05-22 20:28] gmisiolek commented on #5729
@FrozenPandaz but in my case `dist` folder wasn't created at all.

[2021-05-22 20:52] MichaelDeBoey commented on #5716
We do this, but sometimes we need to have some conditional stuff, so we have no other choice.
I understand it's harder, but using ASTs we should try to take `.js` configs into consideration I think.

[2021-05-22 20:53] csaszika opened #5753 "Nx start/build commands are not working after nx migrate"
## Current Behavior
nx start/build is failed

## Expected Behavior
Nx start/build is working

## Steps to Reproduce
1. Normal ng11 project in nrwl workspace
2. Run  nx migrate latest
3. npm install (everything went good)
4. 'nx migrate --run-migrations
5. nx start throws error

Note: nx test work well.
As the logs says below the issue comes up in workspace.js and this line(57) is failing:
node_mod

[2021-05-23 05:49] bjornharvold commented on #5729
Yes, I can confirm that it is indeed @angular-devkit/build-angular@12.0.1 that is the culprit.

[2021-05-23 07:38] rfprod opened #5755 "Broken Storybook (probably due minor dependencies update)"
## Current Behavior
Storybook e2e no longer works reporting the following error:

   object { compiler?, enforce?, exclude?, include?, issuer?, loader?, loaders?, oneOf?, options?, parser?, query?, realResource?, resolve?, resource?, resourceQuery?, rules?, sideEffects?, test?, type?, use? }
   -> A rule

## Expected Behavior
Storybook e2e tests work as previously.

According to the pipelines the

[2021-05-23 08:45] csaszika commented on #5753
Another day I did these steps:
1. Normal ng11 project in nrwl workspace
2. Run nx migrate latest
3. npm cache clean -f
4. delete package-lock.json
4. npm i --legacy-peer-deps --force
5. ng serve
6. everything works well

Probably something was cached...

Anyway the mentioned executorConfig now looks like this:
[code]
so implementation field is there.

[2021-05-23 08:45] #5753 closed

[2021-05-23 09:02] bcheidemann commented on #4115
I am unable to verify if this repo reproduces the issue or not as doing an npm install results in the following error:

[code]

Could you advise on how you were able to use this repo?

[2021-05-23 09:21] bcheidemann commented on #4115
@ZackDeRose

I've submitted a PR replacing all @nrwl/* packages with the @latest version. When running:

[code]

I get the error:

[code]

Based on this I would suggest for @nmackey or @ZackDeRose to reopen the issue.

[2021-05-23 09:25] bcheidemann commented on #4115
@ZackDeRose

Further to the above comment, removing the following line, as anticipated, results in a successful build:

https://github.com/nrwl/nx/blob/159bc9986bcf83f30763e3dd0f18cd2905c03965/packages/web/src/builders/package/package.impl.ts#L201

[2021-05-23 10:32] bcheidemann commented on #4115
@ZackDeRose

I have opened a PR fixing this issue.

[2021-05-23 16:47] ochomoswill commented on #5719
I experienced the same issue.

I was able to fix it by:

1. Updating nx packages by running:
    ```yarn nx migrate latest```
2. Installed the updated nx packages
    ```yarn```

After this, the error was no more.

[2021-05-23 20:44] bopm commented on #5716
Sorry, I meant actual expirience with nx migrate, from moment it appeared, it was offering less than actual ng update.

[2021-05-23 23:11] hcharley commented on #5748
Yes, I should have clarified, that I could not succeed in building for Vercel.

The documentation reccomends `--outputPath=.` as a hack of sorts to get things to work properly specifically for Vercel, so as far as I can tell, its required. The reason for this is that I think the build files need to be colocated to the `node_modules` directory.

It's possible that maybe we can figure out a workarou

[2021-05-23 23:18] hcharley commented on #5748
I am trying out this workaround command:

[code]

[2021-05-23 23:18] hcharley commented on #5748
I am trying out this workaround command:

[code]

[2021-05-24 01:10] JakeGinnivan commented on #5710
@FrozenPandaz plugin available at https://github.com/sevenwestmedia-labs/nx-plugins/tree/main/libs/pulumi

[2021-05-24 01:44] hcharley commented on #5748
That didn't work for some reason, so I tried this way, and *it worked*:

[code]

@Xenfo try this out for size in your Vercel build step:

[code]

[2021-05-24 03:53] rullymartanto commented on #5719
@ochomoswill  Awesome it's work
`$ nx migrate latest
Fetching meta data about packages.
It may take a few minutes.
Fetching @nrwl/workspace@latest
Fetching @nrwl/cli@12.3.4
Fetching @nrwl/cypress@12.3.4
Fetching @nrwl/devkit@12.3.4
Fetching @nrwl/eslint-plugin-nx@12.3.4
Fetching @nrwl/express@12.3.4
Fetching @nrwl/jest@12.3.4
Fetching @nrwl/linter@12.3.4
Fetching @nrwl/node@12.3.4
Fetching @nrwl/r

[2021-05-24 05:22] DuyBui1993 commented on #5748
I got vercel build working by using this [workaround](https://github.com/nrwl/nx/issues/5660#issuecomment-841639368)

[2021-05-24 09:40] guysenpai opened #5761 "Property 'prefix' does not exist on type 'ProjectConfiguration & NxJsonProjectConfiguration'."
## Current Behavior

I got error `Property 'prefix' does not exist on type 'ProjectConfiguration & NxJsonProjectConfiguration'.` from eslint/tslint when I want to get `prefix` value from `readProjectConfiguration`.

## Expected Behavior

I think `ProjectConfiguration` interface must contain `prefix: string` property to remove this error;

## Steps to Reproduce

[code]

### Failure Logs

### Enviro

[2021-05-24 11:26] leosvelperez commented on #5729
Hey all, as @FrozenPandaz said, we introduced an optimization to prevent copying files when they are supposed to be there already.

As an FYI, the following is the logic to decide whether to retrieve the output from the cache or not:

- If the current computation hash for the task is different from the latest computation hash, we retrieve the output from the cache.
- If the output doesn't exist, w

[2021-05-24 11:35] Xenfo commented on #5748
hcharley's method worked for me I'll be trying DuyBui1993's method later.

[2021-05-24 12:01] kirjai commented on #5748
unfortunately, there is a known issue at the moment with builds on Vercel, which is being tracked here: https://github.com/nrwl/nx/issues/5660

still, why using `--outputPath=.` fails the build is worth investigating on our end

[2021-05-24 12:43] bboehm86 commented on #5729
@leosvelperez thanks for trying to reproduce this :-) you can take a look at this sample projekt (just created with nx + angular + angular material):
https://gitlab.com/benjamin.boehm/angular-nx-build-test

The [build](https://gitlab.com/benjamin.boehm/angular-nx-build-test/-/blob/master/.gitlab-ci.yml#L8-23) does **not** produce any output: https://gitlab.com/benjamin.boehm/angular-nx-build-test/

[2021-05-24 12:59] leosvelperez commented on #5324
Hey all! Thanks for reporting this!

As an FYI, we are aware of this issue and we are currently working to address it. As soon as we have something we'll update here.

[2021-05-24 13:03] lasota-piotr opened #5762 "The issue with a publishable library in a Next.js app. The app uses the library from dist instead of libs folder"
## Current Behavior
Using the current version (12.3.4) of NX when I start the Next.js app in dev mode using `npx nx run next-app:serve`,
I got an alert:

[code]
![Screenshot 2021-05-24 at 14 31 00](https://user-images.githubusercontent.com/9272629/119348068-abe89a80-bc9c-11eb-8614-67482642df32.png)

After I run `nx build next-app --with-deps`. I can run the app locally using `npx nx run next-app:s

[2021-05-24 13:52] KerickHowlett commented on #4829
Sorry to be the one to add on top the pile, because all I'm trying to do is include a library that houses my interfaces and JSON files into my other libraries. I even made sure to follow what was done in a YouTube video when they went over API Interfaces. I even made sure to pull down and study over a couple of the example projects. I'm even using Nx Console and had rebuilt this project from the g

[2021-05-24 14:16] gmisiolek commented on #5729
@leosvelperez I've created basic project with reproduction of this issue.
https://github.com/gmisiolek/nx-dist-issue-reproduction

When I was creating this reprodution repo I found that if I use `ng build` it works fine, but if I use `nx build` it fails.

Create with ng build (dist created):
[code]

Create with nx build (no dist created):
[code]

[2021-05-24 15:22] literalpie commented on #5688
Anyone who's having issues: Try with the latest storybook alpha (6.3.0-alpha.42) and `npm install @storybook/manager-webpack5`. This fixed all of the issues I was having

[2021-05-24 16:12] nemonemi commented on #5672
With Yarn 2 here, same problem different message:
[code]

[2021-05-24 16:28] leosvelperez commented on #5729
Thanks for sharing those!

I was able to see the error happening using Docker, but it's a bit tricky to troubleshoot as it seems to only be happening while building the Docker image. As soon as I access the container and run the build within the container, it runs fine 🤷🏻 .

I'll keep digging and I'll keep you all posted if I make any progress there.

[2021-05-24 17:20] nsmith7989 opened #5764 "Nextjs Custom Server in prod mode is actually still in dev mode"
## Current Behavior
NextJs: Running `nx run appName:build:production` and then `yarn run appName:serve:production` will start the app in development mode. This only affects apps that define a custom server.

## Expected Behavior

When running in production mode, I expect the behavior of production mode. E.g., no hot reloading, etc.

## Steps to Reproduce

1. Create an app using nextjs `nx g @nrwl/

[2021-05-24 17:30] Xenfo commented on #5748
@hcharley Just want to note that when Vercel tries to build with build cache it fails.

[2021-05-24 18:32] jordanpowell88 opened #5766 "NX Move Renames Translation files contain existing name"
## Current Behavior
I recently used the nx move schematic to move a lib to another place in our monorepo. However, during a PR review, I noticed that the schematic actually changed the name of a translation file containing a copy with the name of the library

## Expected Behavior
I'm assuming that the schematic is searching for .json files and doing a find and replace. I would have expected that J

[2021-05-24 18:39] heddendorp commented on #5750
Okay, thank you @FrozenPandaz so for me the quick fix is to just install the angular plugin?

[2021-05-24 19:31] hcharley commented on #5748
@Xenfo I can confirm that using the cache fails with my method.

Without the cache, my method still works.

It's still a workaround, so yes @kirjai understanding why `--outputPath=.` is not working, would be helpful.

[2021-05-24 19:54] jase88 commented on #5766
I have also seen this behaviour.

Nx is probably aggressively scanning for string occurences. Also saw that total unrelated files like xml, md or even iOS project files were changed after moving libraries.

[2021-05-24 21:20] Phillip9587 opened #5767 "E2E Test possibly broken"
## Current Behavior
All my recent PRs CI fails because of the same E2E Test.

Alls fails happen because of a ` EACCES: permission denied` Error during the `Move Angular Project › should work for libraries` test from `e2e/workspace/src/workspace-aux-commands.test.ts`

See:
- https://nx.app/runs/JwHooMedj3X
- https://nx.app/runs/tPvd5zDh6VV

## Expected Behavior
CI should run E2E Tests without any e

[2021-05-24 23:05] Xenfo commented on #5748
Just to double check, NX would normally download from the cache right?

[2021-05-24 23:44] Xenfo opened #5768 "[FEATURE] Add support for proxy in Vercel"
## Description

I would like to be able to use proxies in production on platforms like Vercel.

## Motivation

Keeps deployment the same as development eg: Your using a proxy in development but have to put in production logic to make the app work in production since you wont have a proxy.

## Suggested Implementation

You could change the start command of the generated package.json to an NX

[2021-05-25 01:17] puku0x commented on #5767
I'm facing the E2E error right now 😂 https://github.com/nrwl/nx/issues/5763

[2021-05-25 02:32] dongood commented on #5732
I too am having the same issue.  Migrating from 11.6.1 to 12.3.4.

Very little information is provided.

From terminal:
[code]

Contents of log file (partially redacted)
[code]

[2021-05-25 03:01] hcharley commented on #5748
@Xenfo I have never use Vercel’s cache. I would not know. Maybe someone else who has experience can speak to that.

[2021-05-25 06:00] Areen3 commented on #4829
the problem is due to several facts
library files must be within this library
if they are outside of it, they are available via an alias e.g. @ mylib34
if this library doesn't exist we have an error because there is no such npm with this alias

however, if you are compiling not a library but an application
all code is flattened into one main.js and then it works

[2021-05-25 07:26] jackdamiels commented on #5729
Same problem with mac os, regardless of using --skip-nx-cache option.
Downgrading to `"@angular-devkit/build-angular": "12.0.0",` from `"@angular-devkit/build-angular": "12.0.1" resolves the issue.

[2021-05-25 07:46] bboehm86 commented on #5729
@leosvelperez it appears to be caused by the following change in the CLI:
[https://github.com/angular/angular-cli/commit/b89fdc36123e401a2df11b59b477d842fc8cec15#diff-b14bb6b4458b0b51ba8711c389cf6c73b0837d0cc8e09df93899d2db888e6ad6L117-R118](https://github.com/angular/angular-cli/commit/b89fdc36123e401a2df11b59b477d842fc8cec15#diff-b14bb6b4458b0b51ba8711c389cf6c73b0837d0cc8e09df93899d2db888e6ad6L1

[2021-05-25 08:07] 0xR commented on #5263
I created a repro here
https://github.com/0xR/nx-externaldep-repro

There is a script `./reproduce.sh` that will run `npm ci` and run the different builds.

`main.ts` will import `dotenv`. When running `npx nx build` from the workspace root it will not be included in the bundle, but when I'm in `apps/myapp`, `dotenv` will be bundled.

This is the output on my machine:
[code]

[2021-05-25 08:42] JonasZ95 commented on #5370
@HaveF as kenptr pointed out you set the webpack config path in your workspace.json. Then you can use something like this:
[code]

With profiling I found the error actually It seems that 'babel-plugin-transform-typescript-metadata' is the problem here and takes 30 minutes to detect that my 5mb client.ts file is too large to process. I disabled 'emitDecoratorMetadata', which is enabled by default,

[2021-05-25 08:48] rexebin commented on #1881
After two weeks of using the shining new HMR above, I am back to report that I am very happy with the solution. Most important of all is that nx tells me when exactly the app is hot loaded and up to date, making it better than `react-react-app`, which is silence on hot reload in the console(last time I tried, two months back).

A few things to note:

1. as mentioned above, I stick to one export pe

[2021-05-25 09:29] hakimio commented on #1518
@Cammisuli this option should be enabled by default for NestJS production builds.

[2021-05-25 09:51] tmtron commented on #1518
I disagree. for following reasons:
1. The default should be to get a working production build.  With this option activated, the build may not work without further tweaks: e.g. may need to specify [implicit dependencies](https://github.com/nrwl/nx/issues/1518#issuecomment-600495741)
2.  If someone wants to have a smaller build, they will anyway investigate (some may even read the docs, or search th

[2021-05-25 09:59] hakimio commented on #1518
@tmtron For me by default NestJS production build didn't work at all. `"externalDependencies": "none"` was not set in `angular.json`. So, it was not including external depencies in the `main.js`. Not a good UX.

[2021-05-25 10:22] uraikwar commented on #4412
I am assuming that this feature request is not considered for implementation. We are also planning to write tests in WebDriver.io, having integrated support with NX will be really helpful.

[2021-05-25 10:35] hakimio commented on #1518
@tmtron Just for reference, here is output I get with `"externalDependencies": "none"` when using `fastify` instead of `express` (the app itself works perfectly well):
[code]

[2021-05-25 10:45] Xenfo commented on #5748
Sorry, I think I've confused you. Does NX usually pull from NX cloud's cache. I think Vercel's cache is fine.

[2021-05-25 11:16] hakimio commented on #1518
You have to manually specify "implicit dependencies" when using the script provided by @thomas-jakemeyn but there is no need to do that when using `generatePackageJson` option provided by @Cammisuli . It just works.

Anyway, since `"externalDependencies": "none"` option was reverted in #1212, we now have broken production build by default which doesn't make any sense at all.

[2021-05-25 11:31] smasala opened #5770 "Dynamically Lazy-loaded modules (outside ng router) are ignored"
## Current Behavior

If you make changes to a library and that library is loaded via the `import('@mylib')` statement but not explicitly used by the NgModule. For example we have a list of modules registered as angular providers which are then loaded and rendered via web components on demand.

App1 NgModule
[code]

**Note:** this dep reference also doesn't show up in the dep graph

## Expected Beh

[2021-05-25 11:33] Bodom78 commented on #5748
Got hit by this issue as well, this [solution](https://github.com/nrwl/nx/issues/5660#issuecomment-841639368) at least allowed me to get the build working on Vercel.

[2021-05-25 11:45] nemonemi commented on #1881
I'd like to add that I've tested the native HMR support by generating a new workspace with the latest version, and there it worked.

At the moment I am unable to migrate my project to the latest version of NX because of some issues with Yarn2, but it is worth investigating if HMR is supported natively by the NX with the latest versions.

p.s. I've checked the releases, and nowhere it is mentioned

[2021-05-25 12:16] tgelu commented on #5467
Any plans to release this soon? seems rather critical since one cannot build code using the spread operator (unless I'm missing something).

[2021-05-25 12:33] puku0x opened #5771 "Support Jest 27"
## Description

Jest 27 has just released and it only supports Node.js LTS and v15.
https://jestjs.io/blog/2021/05/25/jest-27
https://github.com/facebook/jest/releases/tag/v27.0.0

## Motivation

We can use the latest version of Jest.

## Suggested Implementation

A migration for `"testEnvironment": "jsdom"` may be needed.

## Alternate Implementations

[2021-05-25 13:17] BedfordPeterson opened #5772 "Broken migration step"
## Current Behavior
When running nx migrate --run-migrations=migrations.json, migration step "update-angular-config-v12" throws the following.

![image](https://user-images.githubusercontent.com/1258403/119500313-a7bc8b80-bd35-11eb-8380-05c73b3a88d0.png)

## Expected Behavior
Expect to run all the migration steps without generating an error.

## Steps to Reproduce

1. Run `nx migrate latest`
2. Ru

[2021-05-25 13:18] bopm commented on #5716
Also, @FrozenPandaz while I agree with the fact, that I may exaggerate the time of presence of the actual issue in the project, your edit of my comment to strike that out feels beyond passive-aggressive. I think you violate the code of conduct.

[2021-05-25 13:29] leosvelperez commented on #5772
I'll close this one since it is a duplicate of https://github.com/nrwl/nx/issues/5655. Please follow that other issue for updates.

In [this comment](https://github.com/nrwl/nx/issues/5655#issuecomment-841129955) you can check a possible cause to why the issue is happening.

[2021-05-25 13:29] #5772 closed

[2021-05-25 14:23] hadrien-toma opened #5779 "Workspace generator documentation not working"
## Current Behavior

I tried the code provided in the documentation about Workspace Generators ([here](https://nx.dev/latest/angular/generators/workspace-generators#creating-files-with-a-generator)):

[code]

And get this error:

[code]

### Environment

[code]

[2021-05-25 16:37] hadrien-toma opened #5783 "Be able to use external schematics from a workspace generator"
## Description

For the moment, those Nx workspace generators are not able to use all the great features offered by Nx schematics.

## Motivation

- Increase the level of crafting provided by Nx and enhance developer experience
- Synergy between two awesome Nx tools: workspace generators and schematics

## Suggested Implementation

I have no idea on the implementation side unfortunately... What I

[2021-05-25 16:49] dean-g commented on #5732
@dongood Here is the workaround I got it: [5688](https://github.com/nrwl/nx/issues/5688)

[2021-05-25 17:01] hadrien-toma commented on #5783
Thanks to @DominikPieper I discovered the `libGenerator` from `@nrwl/angular/generators` that have all the options I wanted. Can we consider each schematic of the `@nrwl` collection will have a generator in the feature? If yes, I propose to close this issue.

[2021-05-25 17:11] kpeether opened #5784 "Cypress common commands library"
## Description
Hi,

In our project we have a monorepo with many applications and we are using Cypress for testing. Currently each application has its own **commands.ts** file for the reusable commands.
It is working fine but we have many commands that are not related to any application and can be used by anybody. For these common commands we would like to create a common library to be used by each

[2021-05-25 17:14] DominikPieper commented on #5783
The code I know most of the schematics which aren’t migrated already have a generated generator (nearly sure all have one already)

[2021-05-25 17:31] nvitaterna commented on #1922
I've got nexus/prisma working great in an Nx repo here https://github.com/nvitaterna/nx-react-graphql-starter. All of the configuration is possible without the need for workarounds.

[2021-05-25 17:37] maxisam commented on #4708
Have the same issue in V12. @edmundo096 Could you share what did you remove? thx

[2021-05-25 17:52] dean-g opened #5785 "Skipping migration as the workspace uses third-party builders which may require "emitDecoratorMetadata" TypeScript compiler option."
why am I getting following waring while executing the migration command?

![image](https://user-images.githubusercontent.com/12157452/119545001-e9f6c480-bd57-11eb-8dcd-dd44f7be901b.png)

[2021-05-25 17:56] maxisam commented on #4150
Not sure if it is fixed. I just got the same error by creating a brand new workspace

———————————————————————————————————————————————

(node:37776) UnhandledPromiseRejectionWarning: Error: spawnSync C:\Windows\system32\cmd.exe ENOENT
    at Object.spawnSync (internal/child_process.js:1067:20)
    at spawnSync (child_process.js:602:24)
    at Object.execSync (child_process.js:647:15)
    at C:\User

[2021-05-25 18:10] johnazre opened #5786 "NPM audit has 47 vulnerabilities (7 high)"
## Current Behavior
After doing a migration to the latest version, I ran `npm audit` and I found 47 vulnerabilities, 7 high)

## Expected Behavior
Expect the audit to find 0 vulnerabilities

## Steps to Reproduce
Run `npm audit`

[code]

NX Report:

[code]

[2021-05-25 18:29] hadrien-toma commented on #5783
OMG you are so awesome ! :rocket: :heart: So let's go re-designing all my schematics as generators! :heart_eyes:

[2021-05-25 20:07] hadrien-toma commented on #5783
@DominikPieper I am now searching for the `libraryGenerator` of the plugin schematic (https://github.com/nrwl/nx/blob/master/packages/nx-plugin/src/schematics/plugin/plugin.ts) but I can't find it, maybe you know where is it? :persevere: In any case thanks for your support.

[2021-05-25 20:19] dean-g commented on #5688
I did the fresh run today. got into the following error:

Cannot find module '@storybook/manager-webpack5'
Require stack:

installed: yarn add @storybook/manager-webpack5

after this getting new error:

Cannot find module '../presets/manager-preset'
Require stack:

- node_modules/@storybook/manager-webpack5/dist/cjs/index.js
- node_modules/@storybook/core-server/dist/cjs/utils/get-manager-builder.

[2021-05-25 20:29] dean-g opened #5787 "Angular 12 upgrade build failed: Could not interpolate output {{options.outputPath}}!"
ng build is throwing the following error,

An unhandled exception occurred: Could not interpolate output {{options.outputPath}}!
See "/private/var/folders/pb/s03nms253k15m33xkxhqhhxc0000gn/T/ng-Uyom48/angular-errors.log" for further details.

Can someone please advise on this?

[2021-05-25 20:33] dean-g commented on #5787
angular-error.log:

`[error] Error: Could not interpolate output {{options.outputPath}}!
    at node_modules/@nrwl/workspace/src/tasks-runner/utils.js:145:23
    at String.replace (<anonymous>)
    at interpolateOutputs (node_modules/@nrwl/workspace/src/tasks-runner/utils.js:140:21)
    at node_modules/@nrwl/workspace/src/tasks-runner/utils.js:86:48
    at Array.map (<anonymous>)
    at Object.get

[2021-05-25 20:45] edmundo096 commented on #4708
@maxisam What **pumano** did above, on the Feb 7 comment https://github.com/nrwl/nx/issues/4708#issuecomment-774710237:

Deleted the e2e project from the `angular.json` then run the migration `ng add @nrwl/workspace` command.
Then manually re-add the e2e project and migrate it manually: move to be inside the `apps` directory (if not already), and update it's paths and the lint builder/executor.
Th

[2021-05-25 21:04] juristr commented on #5688
@dean-g I was just about to test the release as well as this was the proposed solution from the meeting with the Storybook team last week.

Upgrading to the latest alpha release fixed the build for me as well. Here's my commit to the example repo: https://github.com/juristr/nx-angular12-storybook-webpack5/commit/dadfe1386da62b2a24b7e3af0e4dd10e620ce652

[2021-05-25 21:08] juristr commented on #5732
Closing this as the tracking issue for Storybook & Webpack 5 related issues is #5688

[2021-05-25 21:08] #5732 closed

[2021-05-25 21:24] juristr commented on #5743
@hgschwibbe You can add `--generateCypressSpecs=false` to the command and it should work. I'll have a look as we should be able to automatically detect this

[2021-05-25 22:07] dean-g commented on #5688
Thank you @juristr

My build got to succeed now but getting a few Conflicting errors and the storybook is not starting up.

![image](https://user-images.githubusercontent.com/12157452/119574751-8f6f5f80-bd7b-11eb-9a05-cc6185387399.png)

Please check this and advise.

[2021-05-25 22:10] dean-g commented on #5688
It's working now after a restart. but still wondering the conflicting error

[2021-05-25 22:11] dean-g commented on #5688
@juristr Can you please help me with the following issue: [ng build failed](https://github.com/nrwl/nx/issues/5787)

[2021-05-25 23:47] dean-g commented on #5787
My angular JSON having following error:
![image](https://user-images.githubusercontent.com/12157452/119582160-b896ec80-bd89-11eb-9520-71c0adb06d33.png)

[2021-05-25 23:53] dean-g commented on #5787
that was supported by: @angular-builders/custom-webpack:browser builder. since I changed that with the "@nrwl/angular:webpack-browser". build stopped processing

[2021-05-26 01:42] dean-g opened #5789 "nx affected:lint -> Error: spawnSync /bin/sh ENOBUFS"
why my nx affected query is failing after the angular 12 upgrades?

please see the errors below,

[code]

[2021-05-26 02:50] DominikPieper commented on #5783
@hadrien-toma  You’re right, seems there’s no generator for that yet

[2021-05-26 05:23] hadrien-toma commented on #5783
Arf, shame... all the schematics I plan to migrate will require this one to create their lib... I re-open the issue

[2021-05-26 05:49] BhaskaranR commented on #3208
hello - Is this still in the pipeline? I need multiple entry points for react library that could be lazy loaded

[2021-05-26 05:58] DominikPieper commented on #5783
@hadrien-toma I added a PR #5790 for that

[2021-05-26 06:19] hadrien-toma commented on #5783
Waw, I didn't know you few days ago and now will never forget haha.

Thank you VERY MUCH :pray: .

As soon as it is migrating I will try it and will give a feedback (nevertheless I have nearly 50 schematics to migrate so it will take time).

[2021-05-26 06:19] #5783 closed

[2021-05-26 07:12] rp3e11 commented on #5688
I am facing the same DefinePlugin Conflicting values for process.env issue @dean-g had. A restart didn't help in my case. Did you change something else?

[2021-05-26 08:00] rp3e11 commented on #5688
I created a reproduction [repo](https://github.com/rp3e11/nx-angular-tutorial) and to get the error exeucte the following
[code]

[2021-05-26 08:29] leosvelperez commented on #5729
For folks finding this issue, it has nothing to do with Nx caching. Nx is correctly trying to build the apps but due to a change in the Angular CLI packages, the SASS compilation is not doing anything, and somehow the build finish with no errors but no artifact is generated either.

This seems to be happening only in CI environments (at least Gitlab) and when building a Docker image which makes it

[2021-05-26 08:30] meeroslav commented on #5733
As @FrozenPandaz mentioned, you should specify your plugin within `override` where you can control the affected files. Additionally, since `@typescript-eslint/recommended-requiring-type-checking` extends `eslint:recommended` there is no need to have them both specified.

Once you have those set in place, you will still end up with `spec.ts` lint errors `@typescript-eslint/no-unsafe-assignment`, `@

[2021-05-26 08:39] meeroslav commented on #4743
@Lonli-Lokli we will not integrate `husky` in the generated workspace, as that would interfere with existing setup people already have. Additionally, pre-commit hooks rarely run just linter, so it's hard to build a silver bullet that would fit everyone's needs.

We do however use `husky` internally on the `nx` where we run certain checks on pre-push.

We might integrate `lint-staged` at some point

[2021-05-26 08:39] leosvelperez commented on #5699
@mlc-mlapis I'm sorry, I've been busy with other tasks. As soon as I have some time, I'll see if I can reproduce it in a Windows env.

[2021-05-26 08:45] JamesHenry commented on #4743
@Lonli-Lokli @meeroslav I discussed this with Victor yesterday.

As meeroslav says, we do not have any plans to integrate that tooling into Nx, but we are working on the linting performance on two different fronts concurrently:

- executor batching logic is being worked on which should land within the next few weeks which should speed up how files from different projects can be linted together in

[2021-05-26 08:45] #4743 closed

[2021-05-26 08:52] JamesHenry commented on #5733
@meeroslav This is not correct:

`@typescript-eslint/recommended-requiring-type-checking` does not extend `eslint:recommended`. `@nrwl/nx/typescript` does however extend `eslint:recommended`.

The above config should be amended to:

[code]

The `@nrwl/nx/typescript` config sets up the other configs you have referenced, and should really come before additional extends in user land.

Hope that helps

[2021-05-26 09:05] Vladislav-wn opened #5792 "NPM audit Angular project found 36 vulnerabilities (35 moderate, 1 high)"
## Current Behavior
Created the Angulyar project. Conducted an audit. Found 36 vulnerabilities (35 moderate, 1 high)

## Expected Behavior

Expect the audit to find 0 vulnerabilities

## Steps to Reproduce

Run ` npm audit`

[code]

### Environment

NX Report:
[code]

[2021-05-26 09:05] leon opened #5793 "angular.json project defaultConfiguration causes app:build:myCustomConfig to run default instead."
## Current Behavior

In Angular 12 they switched so that when running build it should build the production build.

with this change they added
[code]

to the app configuration in `angular.json`

when this is present in angular.json these commands stop working

[code]

instead it runs
[code]

## Expected Behavior

If i pass myconfig after the second : that it should run `myconfig`
[code]

## Steps

[2021-05-26 09:08] dhlavaty opened #5794 "NX error when communicating with nx-cloud - Cannot read property 'code' of undefined"
## Current Behavior

I came across a strange behavior with `nx` and especially with `nx-cloud`. Some of my NX runs ends up with error (see bellow). I guess it is when `nx` wants to connect to `nx-cloud` at the very end.

I have 2 laptops next to each other. They have same setup ( `yarn versions` are same, env variables same, I'm on the same git commit, `yarn install` was run).

I was able to isola

[2021-05-26 09:26] mlc-mlapis commented on #5699
@leosvelperez OK, thanks. Do you think it has more sense to report this with the same reproduction project on the Angular CLI repo. I did it already, but as expected, it was closed because I didn't have that reproduction project at that time.

[2021-05-26 09:30] leosvelperez commented on #5699
If you can reproduce it in a project without Nx, then it's not an Nx issue and it should be addressed by the Angular CLI team.

[2021-05-26 09:32] mlc-mlapis commented on #5699
@leosvelperez Sure, but I don't know it at this time.

[2021-05-26 09:52] meeroslav commented on #5733
@JamesHenry Thank you for correcting me!

[2021-05-26 10:20] literalpie commented on #5729
FYI we're seeing this in Jenkins. So glad others have found the root cause - I wouldn't have known how to debug this! Using 12.0.0 is working for us.

[2021-05-26 10:35] #5793 closed

[2021-05-26 10:39] JamesHenry commented on #5733
Happy to help, @meeroslav! I try to keep a regular eye on the `scope:linter` label and most of my Nx contributions are focused on linting these days. Two PRs coming up this week!

[2021-05-26 11:54] mlc-mlapis commented on #5699
@leosvelperez It would be nice of you to do the basic test of the reproduction demo on the Windows platform. It would be the confirmation that it's a general problem, at least. Also, it's probably relatively easy for you to check what files are detected as dummy changed ones.

[2021-05-26 13:12] cwqt commented on #5696
Have a feeling this is more to do with Tailwind/webpack purging classes because the env is production, than anything to do with Nx

[2021-05-26 14:58] juristr commented on #5688
I saw that as well but need to investigate where that is coming from. Is it blocking for you? like does the serve or build not work?

[2021-05-26 15:27] KerickHowlett commented on #805
Pardon my ignorance, but I'm still fairly unfamiliar with the Jest Launcher: I was just wondering if there's a way to configure the launcher to work with a file/library/app you're actively working on and not hard code it into the config args?

For example, say I'm trying to debug some file in my form library, is there a way to just run the debugger for the file I'm presently looking at without fir

[2021-05-26 15:48] mandarini commented on #5786
Hi @johnazre , thanks for filing an issue!

Is this issue a duplicate of this? https://github.com/nrwl/nx/issues/5792

If yes, can we integrate the two? (delete one of the two)

[2021-05-26 16:29] mlebarron commented on #5648
@intellix my experience was every time I run `nx migrate <whatever>` instead of adding to the migrations.json file it overwrote it, which made it even worse.

[2021-05-26 17:08] johnazre commented on #5786
Great question! It's similar, but not a duplicate.

#5792 involves an Angular application and mine is a React app.

[2021-05-26 17:34] ryan-smylski commented on #5786
I'm seeing the same warnings in my project, and the high vulnerability in #5792 is the same as listed here - `dns-packet` which is included via `webpack-dev-server` which looks to be used by various @nrwl packages.

[2021-05-26 18:07] rp3e11 commented on #5688
Building and serving angular works, but storybook fails for angular v12 and storybook. Angular v11 works so I am not blocked in that sense, but I have to wait with upgrade until it is fixed or I can fix it.

[2021-05-26 19:53] nemonemi opened #5801 "Improve documentation on how to write generators/executors"
I found this video which describes the process of writing a simple generator.
https://www.youtube.com/watch?v=ki2eOXvh2Sw

I'd like to create a Vite builder, to try to replace and improve upon `@nrwl/web:dev-server`.

The [documentation on the website ](https://nx.dev/latest/react/executors/creating-custom-builders#creating-nx-executors-or-angular-devkit-builders-in-your-nx-workspace)is not very u

[2021-05-26 20:43] dean-g commented on #5789
@isaacplmann @brandonroberts @juristr Can you please advise me on this issue ?

[2021-05-26 21:52] brandonroberts commented on #5789
@dean-g can you provide more information about your environment? Are other affected commands working?

[2021-05-27 02:24] dean-g commented on #5789
I got the same error for nx affected:test as well. this is happening only on my gitlab environment. but the same working good in my local machine!.

[2021-05-27 02:26] dean-g commented on #5789
the same worked well before the angular 12 upgrades. very wired what's causing this from angular 12 upgrades.

[2021-05-27 02:34] dean-g commented on #5789
And this issue is happening when we have more affected changes. if there is no much affected changed, my build got to succeed. not sure this is something to deal with the cache. please advise.

[2021-05-27 07:31] willyou commented on #2643
+1

[2021-05-27 08:04] petterhoel commented on #3370
Had this issue today with nx 12.3.4 when refactoring a multi file component to a single file component and changing it's file name, class name and moving to parent folder. Solved it by git commit.

[2021-05-27 08:10] mokth commented on #4381
Angular 12
add this into angular.json, it work for me :)
 "optimization": {
                "scripts": true,
                "styles": {
                  "minify": true,
                  "inlineCritical": false
                },
                "fonts": false
              }
            },

[2021-05-27 10:16] trumbitta opened #5803 "@nrwl/cypress devServerTarget skips dependsOn on target project"
## Current Behavior

In `workspace.json`, for an e2e app with `@nrlw/cypress`, `"devServerTarget": "my-project:serve"` makes Nx run `my-project:serve` but it skips the new `dependsOn` option for `my-project:serve`.

To make it work, I have to add a `dependsOn` block to `my-project-e2e` instead.

## Expected Behavior

I'd expect for targets to always follow the `dependsOn` chain

## Steps to Reprod

[2021-05-27 10:31] rickvandermey opened #5804 "run-commands with nx command fails"
After updating from 12.0.8 to 12.3.4 the custom commands fail or doesnt return output.
Before the update it was working fine.

[code]

When we run the command `nx build deals --configuration=$CONF --stats-json --ngsw-config-path=./ngsw-config.json` from the cli it does work. When we run the command `CONF=uat nx run deals:build-ci` it doesnt generate any output:

[code]

When we change the command

[2021-05-27 10:44] miluoshi commented on #3370
I would just add that git commit is not a solution but a workaround. I encounter this issue daily and it's quite annoying while doing refactorings in a codebase.

[2021-05-27 11:34] dhlavaty commented on #5794
More info I noticed:

1.
**laptop1** is macOS Catalina (Intel) ; **laptop2** is macOS BigSur (Intel)

2.
I've copied whole project directory (with installed node_modules) from **laptop2** to **laptop1**, and just directly ran `yarn run nx run admin:lint` ... and it works ok. 🤯

[2021-05-27 12:32] leon commented on #5804
I have the same issue, but another use case.

We use firebase hosting for some things. I've added a custom deploy script to handle the firebase deploy.

[code]

This has been working fine the last 6 months atleast.

We updated to angular 12 and nx 12.3 a couple of days ago and now our deploys are not working.

I'm getting this from the build

[code]

It never outputs anything to the dist folder.

[2021-05-27 12:37] leosvelperez commented on #5804
Thanks for reporting this!

Could you please confirm what version of `@angular-devkit/build-angular` you have installed? If it's `12.0.1`, this is an existing issue and it's being tracked in https://github.com/nrwl/nx/issues/5729.

You can see in [this comment](https://github.com/nrwl/nx/issues/5729#issuecomment-848576765) a workaround until this gets properly fixed.

[2021-05-27 12:48] rickvandermey commented on #5804
This is our version.
`@angular-devkit/build-angular: 12.0.1`

does this also means it affects the affected? because that's what hurting us the most right now.

[2021-05-27 12:49] leon commented on #5804
I just updated to `"@angular-devkit/build-angular": "12.0.2"` but the problem is still present.

But as you wrote in #5729 we can downgrade and wait for a fix.

[2021-05-27 13:19] nvitaterna commented on #3605
Where do you import `@testing-library/jest-dom` initially? IIRC it has to be imported *somewhere* but I'm not exactly sure where to put it to make it available for the whole workspace.

[2021-05-27 13:27] luejerry commented on #5672
@fatihdogmus I encountered the same issue and it turned out to be the Angular CLI not supporting my installed version of Node (v16, see issue: https://github.com/angular/angular-cli/issues/20796 ). Running `nx migrate latest` with Node v14 resolved it for me.

[2021-05-27 13:45] kingjordan commented on #5688
Hello @juristr

I can confirm that everything works for me (with the changes listed here: https://github.com/juristr/nx-angular12-storybook-webpack5/commit/dadfe1386da62b2a24b7e3af0e4dd10e620ce652) and nx 12.3.4 and angular 12.0.0

On a side note, I have @ngneat/tailwind installed and it also works with that, the tailwind classes are getting picked up in storybook

I did have to remove the knobs r

[2021-05-27 14:11] montogeek commented on #5480
@FrozenPandaz How would you deal with situations where you need to use git hash as a version for example?

[2021-05-27 14:16] minijus commented on #5729
@leosvelperez I was able to reproduce this behaviour (premature exit with success code with no artifact build) on Mac as well:
[code]

[2021-05-27 14:22] pmstss commented on #5729
i'm able to reproduce it on win machine (success build message, no `./dist` folder).
strict `12.0.1` version for `@angular-devkit/build-angular` workaround works fine, and it seems i found another one: enabling `progress` in `angular.json` makes it working for me (enabled it just to see what is going on)

[2021-05-27 14:36] leosvelperez commented on #5729
Hey all!

I've now submitted a PR with a workaround to solve this. The issue boils down to how the Angular CLI is managing the workers that were added as part of the new SASS compilation. The workers are unref()-ed as soon as they are created and in certain environments, where nothing else is keeping the process alive, this results in the process exiting early and no compilation is done. Running w

[2021-05-27 14:37] leosvelperez commented on #5804
I'll close this one as it's a duplicate of #5729. Please follow that issue for updates.

[2021-05-27 14:37] #5804 closed

[2021-05-27 14:52] vsavkin commented on #5785
Thank you for submitting the issue.

Those are the migrations authored by the Angular folks, we are running.

[2021-05-27 14:52] #5785 closed

[2021-05-27 14:57] vsavkin commented on #5789
@dean-g could you provide a repro?

[2021-05-27 14:59] vsavkin commented on #5787
Thank you for submitting the issue.

It looks like you are missing the outputPath property. Can you share your angular.json, and the command you are trying to run?

[2021-05-27 15:05] vsavkin commented on #5803
Thank you for submitting the issue.

Currently, running a target imperatively runs that target, and not all the targets it depends on. It doesn't go through the tasks runner etc. We should be able to extend it in H2 2021 after combining the tao and workspace packages. For now though, this isn't possible. Sorry about this.

The workaround you provided works. A different workaround would be to creat

[2021-05-27 15:13] #5729 closed

[2021-05-27 15:20] vsavkin commented on #5779
Thank you! I updated the docs here:

https://github.com/nrwl/nx/commit/a6680cf387f477aa7ef371e2357ed3fe9b910ad4

This is what you need to do:

[code]

[2021-05-27 15:20] #5779 closed

[2021-05-27 15:23] vsavkin commented on #5792
Thank you for submitting the issue.

@leosvelperez @Coly010  We need to update the version of buiild-angular and I think it will be fixed.

[2021-05-27 15:26] dean-g commented on #5789
@vsavkin sorry. I can't share that info. it was private

[2021-05-27 15:27] dean-g commented on #5789
the build is working if I kept on retrying (2 to 3 times). I am not sure what could be the rootcause. please advise

[2021-05-27 15:30] trumbitta commented on #5803
I see, makes sense! I'm glad there are workarounds and some hope for the near future 🚀

I'll just keep on following the releases  🕵️  until I can dismantle my workaround, then!

[2021-05-27 15:31] meeroslav commented on #5767
Can you rebase to the latest version. This should have been fixed with https://github.com/nrwl/nx/commit/4b758f842e7ecbe963051cd1bcbdbff0121cd30b.

[2021-05-27 15:31] dean-g commented on #5789
I am also getting Out of memory issues often from ng build commend.

`error Command failed with exit code 137.` (Out of memory)

very wired!. all these happening only after angular 12 migration!

[2021-05-27 15:34] puku0x commented on #5767
It works now, thank you.

[2021-05-27 15:35] leosvelperez commented on #5729
We released version [12.3.5](https://github.com/nrwl/nx/releases/tag/12.3.5) with the fix. If you still have issues with that version, please let me know.

[2021-05-27 15:41] Phillip9587 commented on #5767
@meeroslav Sorry i already did and forgot to close the issue.

[2021-05-27 15:41] #5767 closed

[2021-05-27 15:50] dean-g commented on #5789
I am also getting the following error occasionally,

[code]

[2021-05-27 15:56] fatihdogmus commented on #5672
@luejerry yes! that was exactly the reason! I downgraded the version to 14.17.0 and it worked. Thx a lot

[2021-05-27 16:04] bryanforbes commented on #5672
Yarn 2 ignores the engine requirements, so Angular 12 should be fine on Yarn 2 + Node 16 and won't stop the install

[2021-05-27 16:24] akryvasheyeu commented on #5672
It works with node v14, with v16 not, same exception on migration from 12.2.0 to 12.3.5

[2021-05-27 17:06] bilalshaikh42 commented on #5801
This might be relevant as I believe the generators are the same or at least quite similar to angular.

https://angular.io/guide/cli-builder

[2021-05-27 17:29] crates opened #5810 "Make mock data, OAuth, and GraphQL connectivity first-class features of Nx"
## Description
I would like to see some data-centric features better-enabled in Nx to speed up application development. Specifically, I would like to see an easy instrumentation for data mocks that ties in with Apollo GraphQL client, so that developers can quickly spin up new components with the addition of working data mocks, shared between Jest and Cypress tests.

## Motivation
I have spent an U

[2021-05-27 17:40] crates commented on #5810
@vsavkin -
If all of the above is too much to tackle, I have a much simpler request: give us a React Typescript example repository that has working data mocks for Apollo, in both Cypress and Jest, for a user who is authenticated via Auth0. I can work from that pattern and migrate it into my approach. The problem I'm having is that **_every_ single example** or repo I've found online either [doesn'

[2021-05-27 18:51] bryanforbes commented on #5672
For the record, the reproduction repo still fails with node 14.17.0.

[2021-05-27 19:32] madelk opened #5814 "Document and simplify usage of cypress component tests"
## Description
I would like to see either good document on how to run component testing with Cypress or have it added to the generator when creating libraries

## Motivation
Testing with Jest is limited and cypress offers more features, however E2E requires the entire app be tested every time with every test. For large apps with hundreds of components this isn't maintainable. Component tests shoul

[2021-05-27 20:08] karol-majewski commented on #3605
It needs to be imported in your Jest setup file:

**`apps/<app-name>/jest.config.js`**

[code]

**`apps/<app-name>/jest.setup.ts`**

[code]

[2021-05-27 20:12] cmbkla commented on #3427
I'm here to keep things fresh.

[2021-05-27 22:04] simondotm commented on #2794
At first glance this looks like a clever solution, but isn't it going to cause developer havok as their IDE is parsing "built" code that is potentially out of date from the library source code they might be working on?

[2021-05-27 23:28] Vladislav-wn commented on #5792
Thank you!
While one error (1 high) disappeared, the rest (35 moderate) remained.
I will wait.

[2021-05-28 00:17] LiamMyles opened #5817 "Image typings break when adding storybooks to a react lib component"
## Current Behavior

After adding storybooks to a generated react library, types from `@nrwl/react/typings/image.d.ts` seem to get lost, resulting in type checking failing to properly handle image files.

Currently, I'm using VScode to confirm types are correct. Below is a screenshot of the type error.

![type error on logo.svg](https://user-images.githubusercontent.com/10930659/119909998-14aa6e00

[2021-05-28 02:14] eduardoperez2151 commented on #4388
Any Update?

[2021-05-28 08:50] moredhel opened #5820 "Transitive dependencies aren't included in generated package.json"
I have generated an app & a lib. In the library. The library just needs to be included in the `node_modules` & needn't actually be used in the application itself. (for performing admin tasks pre-boot in the container).

## Current Behavior
I have set the following:
`"my-service": { "tags": [], "implicitDependencies": ["config"] },` in `nx.json`.

And in the config library _index.ts_: `require('dot

[2021-05-28 08:57] Hotell commented on #5429
The issue is also present for non angular workspaces. We're using only devkit/workspace packages and once we import anything from workspace package it throws reported error.

What's the issue?

@nrwl/workspace still uses internally angular-devkit, (ast-utils file), and because it's not provided 8n package dependencies, consumers are forced to instal angular devkit manually.

Fix:
We need to add an

[2021-05-28 13:07] kirjai commented on #5762
hi @lasota-piotr , thanks for opening the issue!

I believe #5738 should make this behaviour opt-in, so that you can continue using buildable libs as you were before 👍

[2021-05-28 14:12] ianldgs commented on #3501
FYI:

This might not be true anymore.
Based on some tests I made, the `serve` command would fail if one of my libraries wasn't built, but will work if I manually build it.

[2021-05-28 15:36] #5764 closed

[2021-05-28 16:07] lasota-piotr commented on #5762
Thanks so much :)

[2021-05-28 16:11] mehrad-meraji commented on #2643
+1

[2021-05-28 16:54] rogerfar opened #5825 "Adding custom files are not picked up by compiler"
I have a React project with multiple libraries. One of those libraries has a component with missing typings.

According to the TypeScripts docs I have to add those files to the `files` section in `tsconfig.json`.

I updated my `tsconfig.json` for the library to include them:

[code]

Contents of `react-height.d.ts`:
[code]

When I now use the component as normal:

[code]
VsCode now references this

[2021-05-28 17:36] srosato commented on #1356
I had the same problem with GitLab, and using remotes/origin/master did not work at first.

But I found out that **I had a merge request with so many commits** that it was failing with `Error: Command failed: git merge-base --fork-point "remotes/origin/master" "HEAD"`. git merge-base was returning an empty string because it could not find the base commit to "merge from" (to detect what is affected

[2021-05-28 19:28] cyrus-za commented on #5545
@vsavkin I've manage to find that theres a `nx affected:apps` command which can be used with `--plain` which gives me the string I need to check if a given app is affected, with some minor bash scripting.

The problem I am running into is that vercel doesn't clone the full repo. they do a depth=2 and when running `git branch` it thinks we're on master which we are not, so the default of `--base=ma

[2021-05-29 00:21] Splaktar opened #5829 "Trying to run any build after 12.3.5 migration results in registry.useXDeprecatedProvider is not a function"
## Current Behavior

`ng build` fails

## Expected Behavior

`ng build` still works after migration

## Steps to Reproduce

1. `nx migrate 12.3.5`
2. `npm i`
3. `nx migrate --run-migrations`
4. `ng build --configuration=staging`

If I downgrade to `12.3.4`, this works fine. It also worked fine on the previous version we were on (`12.3.1`).

### Failure Logs

[code]

### Environment

[code]

[2021-05-29 02:10] Pablodotnet opened #5830 "Ormconfig.json not found when nx serve api"
## Current Behavior
I integrated typeorm and managed to do the migrations which is an error I've seen a lot of people have too, but after solving this issue, I found another when trying to run my api again, at the moment I do `nx serve api` it throws me an error where it says `ormconfig.json` is not found on the root folder which it is, there's the file

## Expected Behavior
Serve my api without e

[2021-05-29 04:05] madkne commented on #4381
I upgrade from 11 to 12 and for prod build:
✖ Index html generation failed.
undefined:1:5153: property missing ':'

in angular.json :
`
"configurations": {
"production": {
 "optimization": false,
              "optimization": false,
              "buildOptimizer": false,
 }
}
`
it works for me!

[2021-05-29 14:06] smlarkin opened #5832 "Officially support Expo for React Native projects"
## Description

Currently, vanilla React Native is officially supported.  However, [Expo](https://expo.io/) has become the go-to platform for all the tooling and services and environment surrounding React Native projects.  It would be ideal to have Expo supported inside of an Nx repo instead of having to choose between a  mono-repo with tooling (Nx) and an environment for developing, signing, publ

[2021-05-29 15:02] KerickHowlett opened #5833 "Storybook Configuration: Shared Global Assets"
I'm having incredible difficulty trying to get my static images to load in Storybook for my Angular-focused project.

**The Details for what I'm trying to accomplish are as follows:**
- I have a Storybook library serving as a central hub in serving all the other user stories. That part I have working fine.
- I want it to utilize my global styles. Again, I managed to get this working fine via main.

[2021-05-29 15:42] jredl-va commented on #5829
Would be related too: https://github.com/nrwl/nx/pull/5807/files

It sounds like your workspace is missing the nx angular decorator: https://github.com/nrwl/nx-examples/blob/master/decorate-angular-cli.js

Which in turn is wired up with a post install script: https://github.com/nrwl/nx-examples/blob/master/package.json#L26

Will leave it too the nx team to comment on the actual fix, but the above

[2021-05-29 16:26] jredl-va commented on #5729
@leosvelperez @FrozenPandaz

I've moved our workspace to nx 12.3.5 and have moved forward `@angular-devkit/build-angular` to 12.0.1. Unfortunately there are still issues:

![image](https://user-images.githubusercontent.com/2300103/120077553-2718ca80-c068-11eb-9651-702bfc6ba1e5.png)

Applications in our workspace that take 10+ minutes to compile are still bailing out as described above when using b

[2021-05-29 21:26] Splaktar commented on #5829
I have
[code]
I also have `decorate-angular-cli.js` in my workspace root.

[2021-05-29 23:35] mrudangit opened #5835 "nx generate @nrwl/angular:webWorker test-worker is generating incorrect tsconfig.worker.json"
## Current Behavior
Create Workspace and add sample angular project in it .
ng serve , works fine
Now add webWorker using
nx generate @nrwl/angular:webWorker test-worker
angular.json, tsconfig.worker.json and test-worker.worker.ts files are generated/updated
however  tsconfig.worker.json importing incorrect base tsconfig

## Expected Behavior

## Steps to Reproduce

This issue may not be prioritiz

[2021-05-29 23:39] mrudangit commented on #5835
If I update tsconfig.worker.json  and use
  "extends": "../../tsconfig.base.json",

ng serve is giving warking

Warning: C:/TestProjectgs/sample/apps/hello-nrwl/src/app/test-worker.worker.ts is part of the TypeScript compilation but it's unused.
Add only entry points to the 'files' or 'include' properties in your tsconfig.

[2021-05-30 01:19] Splaktar commented on #5829
I created a whole new Nx workspace and refactored my app to match it very closely. Unfortunately, it didn't help with this issue in `12.3.5`, but it works fine in `12.3.4`.

[2021-05-30 01:23] Splaktar commented on #5792
The root issue is here: https://github.com/angular/angular-cli/issues/20795. It's currently blocked on the postcss project making some fixes and releasing them.

[2021-05-30 08:01] gtokarz opened #5837 "Long rebuild/build time"
## Current Behavior
I have noticed one of my small repos have quite long build times, upon further investigation before each webpack starting there is long running git command which is responsible for 70% of build time. After renaming .git directory it seems it is not starting the git process resulting in really fast builds/rebuilds.

## Expected Behavior
Looking for a way to disable this git beha

[2021-05-30 10:10] leosvelperez commented on #5729
@jredl-va that seems to be different than the previous issue. Previously, the build was exiting with an exit status code of 0, because the process was exiting prematurely with no failures. In the screenshot you're sharing, the exit status code is 128, so it seems something else is happening. It's probably better to take a look at your CI logs to figure out the issue.

I tested the 12.3.5 version w

[2021-05-30 10:21] leosvelperez commented on #5829
@Splaktar thanks for reporting this!

I tried to reproduce this issue in 2 ways:

- Creating a 12.3.1 workspace and migrating it to 12.3.5.
- Creating a 12.3.5 workspace.

In both scenarios the build worked well, I was not able to reproduce the problem. This seems weird, this is the line which could cause it https://github.com/nrwl/nx/blob/master/packages/tao/src/commands/ngcli-adapter.ts#L53, but

[2021-05-30 12:24] Splaktar commented on #5829
Oh, I'm so glad that https://github.com/nrwl/nx/issues/5729 is fixed! I've been trying to figure out that insane behavior all night long.

Unfortunately, I can still reproduce this issue when I put the `node ./decorate-angular-cli.js` back in the `postinstall` script. If I take it out, then `ng build` works fine.

When I get this `registry.useXDeprecatedProvider is not a function` issue, it happen

[2021-05-30 12:32] Splaktar commented on #5829
It looks like this is probably caused by https://github.com/nrwl/nx/pull/5807/files#diff-5efae550d183a15e666d390e483c77c408a3759bce9480a29fd89e330d9ef0caR51.

I'm trying to test that in my `node_modules/@nrwl/tao/src/commands/ngcli-adapter.js` but I'm not quite sure how the old generated code looked. I'll try to install the previous version as a reference.

[2021-05-30 12:35] Splaktar commented on #5829
I can verify that with everything else on `12.3.5` and `"@nrwl/tao": "12.3.4",`, my builds work using Nx.

[2021-05-30 12:38] Splaktar commented on #5829
Indeed, if I comment out this line, it works fine:
[code]

[2021-05-30 12:44] Splaktar commented on #5829
[code]
[code]
If your not careful, you might import a version of `@angular-devkit/core` that isn't the latest.

For a reproduction, you might try taking a normal Nx project and doing [`ng add @scullyio/init`](https://scully.io/docs/learn/getting-started/installation/).

[2021-05-30 12:51] Splaktar commented on #5829
We've seen the same kind of issues with getting the wrong version of `@angular/dev-kit/schematics` in Angular Material.

[2021-05-30 13:42] leosvelperez commented on #5829
Yep, the Angular packages are not in sync here and this particular issue would be caused by the `@angular-devkit/core` package being in v9.1.15. The `useXDeprecatedProvider` was introduced in v10.1.0.

The Angular versions are expected to be in sync. I did try to reproduce it on an Nx 12.3.5 workspace by doing `ng add @scullyio/init` but it works well, the `@angular-devkit/core` package is correct

[2021-05-30 13:49] Splaktar commented on #5829
It's not as simple as you seem to be interpreting it. I don't think that it has anything to do with a bad migration. All of the Angular packages in my `package.json` are `12.0.2`.

I can try to regenerate my `package-lock.json`.

[2021-05-30 13:53] leosvelperez commented on #5829
Yep, that can also be the case. It's a problem with npm sometimes, where depending on when dependencies are installed, the resolution is not always the same. We've faced this issue with other deps in the past and sadly the solution has been to remove the lock file and node_modules and reinstall.

[2021-05-30 13:53] Splaktar commented on #5829
OK, I deleted `package-lock.json`, removed `node_modules/` and did `npm i` again. This is what I have now:
[code]

[2021-05-30 13:55] Splaktar commented on #5829
It does seem like the Angular CLI is at least defaulting to the newer versions now though, even though many old versions are still required by other libs:
[code]

[2021-05-30 13:56] leosvelperez commented on #5829
Is it working now or is the build still broken? With those versions it should be fine, `@nrwl/tao` should use the right version of the `@angular-devkit/core` now.

[2021-05-30 14:01] Splaktar commented on #5829
Yeah, it seems to be working now. Since `@nrwl/tao` doesn't have a dependency on `@angular-devkit/core`, this kind of thing can happen pretty easily when there are a lot of different versions of it due to different libraries and tools. It usually results in very hard to understand errors. The Angular CLI team is aware that this kind of problem exists and it keeps coming back up again and again. I

[2021-05-30 14:05] Splaktar commented on #5829
I'm not sure why I'm getting these warnings now when building:
[code]
I don't have either of these things set in my `angular.json`. Perhaps that's something from the Nx packages?

[2021-05-30 14:48] leosvelperez commented on #5829
You can disregard it for now, it's just a warning which is appearing now precisely because we added the `useXDeprecatedProvider` to warn about deprecations, but it seems we might be passing the default values to the scheduled target as if they were specified by the dev in the config. I'll have a look to correct that tomorrow.

[2021-05-30 15:53] Splaktar commented on #5829
OK, thank you for helping investigate and solve this!

[2021-05-30 18:22] Xenfo opened #5838 "Support Prettier Eslint"
## Description

Support Eslint Prettier integration where Eslint will detect Prettier problems and be able to fix them.

## Motivation

I like to know when I'm breaking styling rules and it also allows you to fix styling rules in CI using the linter.

## Suggested Implementation

Extend `plugin:prettier/recommended` via the package `eslint-plugin-prettier` in the current configs or add a new set o

[2021-05-30 20:08] mrudangit commented on #5835
Worker part was resolved after resolution from https://github.com/angular/angular-cli/issues/20993

however NX still generates incorrect tsconfig.worker.json , for now manually adjusting works

Thanks

[2021-05-30 21:16] offwork commented on #5787
every update turns into a torture, using node for UI is a real problem. I miss Flash.

[2021-05-31 03:38] Brian-McBride commented on #5771
I can across this error:
[code]

Based on what you pointed out in your links, I added `testEnvironment: 'jsdom',` to my react projects. Just slipped it at the end of each `jest.config.js`

Just in case anyone else runs across this. It will probably need to be added as a default value.

[2021-05-31 04:10] nycynik commented on #2422
I don't have a solution, but wanted to share some information.

In pipeline jobs, it's not a problem, since you can indicate the branch to build, and sure that you have the base on that branch's last commit.

The problem is multi-branch pipelines. And the issue is the affected command requires you to tell it what base you want to compare it to.  This branch also needs to be checked out in order fo

[2021-05-31 04:48] santoshyadavdev commented on #2422
Looks like you tagged me by mistake it's @SanthoshKumar-Prodapt

[2021-05-31 06:06] EvtK commented on #4220
@bekos @FrozenPandaz any progress on this?

[2021-05-31 09:11] vincentpalita commented on #5713
I confirm that, adding
`"@cypress/webpack-preprocessor": "^5.9.0"`
to the resolutions section of our package.json file fixed the issue for us.

[2021-05-31 09:51] zwarag opened #5840 "Building a publishable library that is extending another publishable library (shared library)."
I'm having the troubles when building a publishable lib that is extending another publishable lib.
Setup:
 - dev-app (angular app)
 - lib-core (publishable lib)
 - lib-extend(publishable lib that extends lib-core)

![image](https://user-images.githubusercontent.com/2607973/120173845-bfe44d00-c204-11eb-8ad9-67005313eeab.png)

I read these issues to make sure this is not a dupe: #3518 #2794 #602

Re

[2021-05-31 10:28] #5733 closed

[2021-05-31 12:59] angelnikolov commented on #5621
@meeroslav Is this resolved for absolute but aliased imports?
I still get the error on NX 12.3.4 below for imports like `import { GenericEventsWidgetModule } from '@app/shared/components/widgets/generic-events/generic-events.module';`.
I am still using `tslint` and there wasn't an issue with this before the A12 migration.

[code]

[2021-05-31 13:24] jaysoo commented on #4741
@luxaritas Can you try the workspace lib generator? It's meant to be a generic TS lib that's framework agnostic.

`nx g @nrwl/workspace:lib my-lib`

[2021-05-31 13:32] luxaritas commented on #4741
Oh yeah I found that recently, and that does indeed do the job!

[2021-05-31 13:32] #5829 closed

[2021-05-31 14:17] #5508 closed

[2021-05-31 14:28] jaysoo commented on #4813
Need to look into this, but I'm guessing the fast refresh plugin doesn't know about the workspace libs, thus you have to manually reload in order to pick up changes.

@ZackDeRose Can you take a look, and perhaps we need to update the migrations instructions.

[2021-05-31 14:33] jredl-va commented on #5729
@leosvelperez I'm thinking that there has been a memory leak somehow introduced with these changes. Would you like me to open a new issue? For reference our pipeline runs on 16 core machines with 128 gigs ram. Node is given gigs via node_options.

The change set where we can see this error appear in our logs:
![image](https://user-images.githubusercontent.com/2300103/120208585-e1d0d600-c1ea-11eb-8

[2021-05-31 14:58] Polm1 commented on #5817
Will follow with much interest because I am currently facing with this, for now I've solved adding:

`"files": ["../../../node_modules/@nrwl/react/typings/image.d.ts"],`

to `tsconfig.json` of `.storybook` folder

[2021-05-31 15:00] jaysoo commented on #5407
merged in https://github.com/nrwl/nx/pull/5843

[2021-05-31 15:14] leosvelperez commented on #5729
Yep, definitely a different issue.

Currently, there are a couple of issues in the Angular CLI repo regarding performance: https://github.com/angular/angular-cli/issues/20801 and https://github.com/angular/angular-cli/issues/20792. I'd recommend you first to check those, as this might be an issue with the Angular CLI and not with Nx.

[2021-05-31 15:27] jredl-va commented on #5729
@leosvelperez thank you for your time. Will redirect my comments to those issues!

[2021-05-31 15:56] yharaskrik commented on #5692
Going to do some more testing but I think this has been fixed in either 12.3.4 or 12.3.5

[2021-05-31 15:58] meeroslav commented on #5621
Hi @angelnikolov, the rule is related to both absolute and aliased imports (as it's just an alias to the absolute path).

You can switch off this rule by setting the rule flag `allowCircularSelfDependency` to true, but our suggestion would be to use relative imports when importing files within the same project.

[2021-05-31 16:27] angelnikolov commented on #5621
Yeah came to the same conclusion. Tried the circular dep settings too but that will also prevent us from catching modules importing themselves. Well I guess that means I am gonna have to rename several hundred imports :D thanks for your answer anyway

[2021-05-31 16:28] anakinjay commented on #4813
On my machine at least I was able to track the problem down to WSL on windows. Inside of WSL it doesn’t refresh automatically. If I run it in a normal windows command prompt it reloads fine.

hope that helps

[2021-05-31 16:42] Splaktar commented on #5829
Was there a fix for the warnings?

[2021-05-31 16:56] maxisam opened #5848 "Angular Universal dev:ssr doesn't work after upgrade to v12.3.5"
## Current Behavior
showing error like

[code]

## Steps to Reproduce

demo repo : https://github.com/maxisam/nx-ng-ssr-12

If you revert it back to 11. (7f8d5ab17448a015ecfd4249f9f52a744d3fd871) it works.

### Environment

node 14.16.1
windows: 10

[2021-05-31 17:37] leosvelperez commented on #5829
There is this PR open https://github.com/nrwl/nx/pull/5845 that'll fix it. I closed this one since the original issue was solved.

[2021-05-31 18:41] maxisam commented on #5848
It works until 12.2.0

https://github.com/maxisam/nx-ng-ssr-12/tree/nx-12.0.0

[2021-05-31 19:29] srosato commented on #2386
I wonder how you made it work in loose mode, I've added `pnpMode: loose` to my `.yarnrc` file, re-ran `yarn install`, but I still get an error when running

command: `yarn nx affected:test`

error:

[code]

[2021-05-31 19:55] #5786 closed

[2021-05-31 20:56] egarkavy commented on #1152
I migrated existing angular project to NX and had the problem when I was creating new ts files they are weren't visible for others by intellisense and new ts file itself didn't see paths aliases except default node_modules
It appeared that I needed to add tsconfig.editor.json to the level where tsconfig.app.json lays
The content of tsconfig.editor.json
`{
  "extends": "./tsconfig.json",
  "include

[2021-05-31 21:29] robvvv commented on #4381
Setting optimization to false in the production configuration settings in angular.json (like madkne) also worked for me.  But this makes the build much bigger.  Didn't have to do it on all projects.  It would be nice to be able to figure out the source of the error.

[2021-05-31 23:14] ashwinGokhale commented on #4741
@jaysoo that works except for 1 thing. The `build` command uses `@nrwl/workspace:tsc` instead of `@nrwl/web:package`. Is there a way to automatically configure which build command to use?

[2021-06-01 03:24] bjornharvold commented on #5729
I upgraded to 12.3.5 and our CI build is no longer seeing this error.
Thank you @leosvelperez for some awesome detective work!

[2021-06-01 05:04] saleemmalikraja commented on #5261
Thanks @santoshyadavdev . Faced the same issue and ended up finding this post to fix it :)

[2021-06-01 06:31] troncali commented on #2386
I just converted a template NestJS project I'm working on to an Nx workspace with Yarn PnP enabled, and I seem to have been successful with `@nrwl/nx@12.3.4` so far without needing `pnpMode: loose`.  (Haven't tested all the functionality yet; only building and serving the NestJS backend.)

Adding a `webpack.config.js` file to the NestJS folder worked for me.  It uses the `webpack-pnp-externals` pa

[2021-06-01 07:24] rrooding commented on #5736
The same issue is still there with 12.3.5

[2021-06-01 08:35] vincentpalita commented on #5713
I have in fact sometime the error you mention:

But some specs are passing and some not, will try to find out why.

[2021-06-01 08:38] owen26 commented on #1777
I think it worth keeping this thread active. If my understanding is correct, there is still no built-in solution for NX to properly handle compiling complex node.js project without tweak package.json or fully install all dependencies in the monorepo.

`generatePackageJson` works in some scenarios but very often there are cases it simply doesn't work.

`@vercel/ncc` is the solution that I personall

[2021-06-01 09:47] szmarci opened #5856 "Extending webpack config results is different cacheGroup bundles when project is inside a subfolder"
## Current Behavior
When you build two NX React application (app **A** is in the `apps` folder and app **B** is in `apps/sub` folder) with an extended webpack config like this (just to extract react to its own bundle):
[code]
The resulting react bundle is not the same as you can see in the diff:

![image](https://user-images.githubusercontent.com/1974290/120302401-27b29a80-c2ce-11eb-8855-d46588508

[2021-06-01 09:51] leosvelperez commented on #5750
@heddendorp as @FrozenPandaz mentioned, this seems to be a workspace that was not correctly migrated to Nx. I can see you created this other issue where the migration did fail https://github.com/nrwl/nx/issues/5751 and that's unfortunate, I'll have a look at that one, but it can take some time until it gets resolved.

You can follow the steps on this guide https://nx.dev/latest/angular/migration/m

[2021-06-01 09:55] leosvelperez commented on #5751
@heddendorp thanks for reporting this!

I'll have a look at it. Please note there this guide to manually transition your Angular CLI workspace to an Nx workspace https://nx.dev/latest/angular/migration/migration-angular#transitioning-manually. You can follow the steps outlined there to unblock the migration.

[2021-06-01 10:00] kevinolivar commented on #5789
I updated nx yesterday and started getting the same issue running the following command in gitlab ci/cd,

yarn affected:lint --base=origin/master

package.json
    "@nrwl/cli": "12.3.5",
    "@nrwl/cypress": "12.3.5",
    "@nrwl/eslint-plugin-nx": "12.3.5",
    "@nrwl/express": "^12.3.5",
    "@nrwl/jest": "12.3.5",
    "@nrwl/linter": "12.3.5",
    "@nrwl/next": "12.3.5",
    "@nrwl/node": "12.3.

[2021-06-01 10:05] leosvelperez commented on #5750
I'm closing this one as it doesn't seem to be an issue of the `nx migrate` command, but [a faulty migration to an Nx workspace from an Angular CLI workspace](https://github.com/nrwl/nx/issues/5751).

Please, feel free to reopen this if you still think this is an issue after [the workspace migration issue](https://github.com/nrwl/nx/issues/5751) is resolved.

[2021-06-01 10:05] #5750 closed

[2021-06-01 10:27] hcharley commented on #5748
I've switched to using the solution mentioned last by @Bodom78 which felt cleaner:

https://github.com/nrwl/nx/issues/5660#issuecomment-841639368

[2021-06-01 11:32] zwarag commented on #5840
After further investigation I've found a solution. I suggest this should be communicated in the docs and/or it potentially could be a bug.

juristr pointed out [here](https://github.com/nrwl/nx/issues/2479#issuecomment-756796806) that if the `dest` path is changed inside the ng-package, then it is necessary to provide the `outputs` property in the angular.json file.

I cannot remember changing the

[2021-06-01 11:32] zwarag commented on #5840
For my part this issue is resolved. I'll let it open in case it is relevant for nrwl team. If you're a dev/community manager and feel like this needs no further investigation, you can close it.

And a thank you for the awesome work 👍. I really enjoy nx!

[2021-06-01 11:56] juwul commented on #1462
Made it work for me 👍🏼

[2021-06-01 13:43] jaysoo commented on #5786
Updated the dependencies that failed audit and will be in the next release. If you are using `yarn` you can force the updated versions with resolutions as well.

[2021-06-01 14:27] jaysoo commented on #4702
I don't think we even need to consider versions less than 2 since 1.19.1 came out two years ago, and upgrading is simple since it's just a dev tool.

I suggest the following:
- If `--all` is specified then use `"."` as the pattern so we format all files the workspace.
- If `--projects` are specified then use the project dirs as the pattern (e.g. `apps/app1 apps/app2 libs/lib1 libs/lib2`)
- If no

[2021-06-01 14:32] zjkipping commented on #1276
Is there any update on this? The above example @dbartholomae listed doesn't work with webpack5 on nx12.3.4, cypress 6.0.1, & cypress-cucumber-preprocessor 4.1.0.

[2021-06-01 14:45] #5407 closed

[2021-06-01 15:45] ryan-smylski commented on #5786
Will this get back-ported to v11?

[2021-06-01 15:59] KyleBastien commented on #2386
You can fix this by utilizing `packageExtensions` in your `.yarnrc.yml` file. Mine currently looks like:

[code]

Note: These should probably be added to the package.json's of the respective `@nrwl` packages. But Yarn does give you the tools to declare the dependencies yourself, so you're unblocked.

[2021-06-01 16:58] AgentEnder commented on #5766
Hey @jordanpowell88!

A fix for this issue was released as part of v11.1.0. Updating to this version should fix the problem. If you are still experiencing this issue, please reopen this issue.

Thanks!
Craigory.

[2021-06-01 16:58] #5766 closed

[2021-06-01 17:17] tundera commented on #5771
Yep, I saw this too the other day in a non-nx project. I think the `testEnvironment` setting needs to added since starting with v27 Jest assumes `testEnvironment: 'node'`.

I the Jest blog post linked up top,

For this reason, we are changing the default test environment from "jsdom" to "node". **If you are affected by this change because you use DOM APIs and do not have the test environment expli

[2021-06-01 17:22] leosvelperez commented on #5792
I changed the dependencies for new workspaces to get the latest minor versions of the Angular packages when creating the workspace. That fixes the High vulnerability since, by default, it will install at least version 12.0.2 of the `@angular-devkit/build-angular` (the latest at the time of writing) which solves that one as mentioned by @Splaktar.

There's nothing we can do with the Moderate vulner

[2021-06-01 17:25] leosvelperez commented on #5792
I'll close this one as is not actionable for us.

The remaining vulnerabilities come from the `@angular-devkit/build-angular` package. Please follow the issues shared on this comment https://github.com/nrwl/nx/issues/5792#issuecomment-850923847 for an update on the resolution. Thanks @Splaktar for sharing those issues!

[2021-06-01 17:25] #5792 closed

[2021-06-01 17:52] maxisam opened #5861 "Support purgecss"
## Description

A solution to use purgecss

## Motivation

Remove useless css. Even NX.dev uses it.

## Suggested Implementation

Here is the implementation in angular
https://github.com/ivanblazevic/ngx-unused-css

[2021-06-01 18:16] dean-g opened #5862 "nx run my-lib:lint : registry.useXDeprecatedProvider is not a function"
I just pulled the latest version of the nrwl and running into the following error while running affected lint,
 "@nrwl/angular": "12.3.5",

yarn affected:lint

registry.useXDeprecatedProvider is not a function

[2021-06-01 19:16] CWSites commented on #5611
Still an issue..

[2021-06-02 00:02] mharrisn opened #5865 "Boilerplate nx workspace does not support IE 11 (after .browserlistrc update)"
## Current Behavior
I'm following the [getting started steps for an angular project](https://nx.dev/latest/angular/getting-started/nx-setup) and made no HTML/TS/SCSS modifications. The boilerplate project cannot be loaded in IE 11 using `nx serve`. I followed the [browser support](https://nx.dev/latest/angular/guides/browser-support) page and updated the .browserlistrc in my app's directory by rem

[2021-06-02 00:23] #5463 closed

[2021-06-02 03:25] AnkitaSood commented on #5749
Did you mean new projects are created with ESLint by default?

[2021-06-02 04:23] AnkitaSood opened #5866 "Override eslint rules in the root `eslintrc.json`"
## Current Behavior
**What is the behavior that currently you experience?**
Overriding `@angular-eslint` rules in the base `eslintrc.json` file doesn't work as expected. Overriding rules like `@angular-eslint/no-empty-lifecycle-method`, `@angular-eslint/no-host-metadata-property` etc. is impossible.

## Expected Behavior
**What is the behavior that you expect to happen?**
Rules should be configura

[2021-06-02 04:30] jkolyer commented on #3144
Can you please provide links to docs talking about debugging.  I am trying to set a breakpoint in chrome and it doesn't break where it should, despite following all the instructions provide herein.

With all due respect, saying "we cannot really fix" is a huge cop-out.  If I cannot debug simple issues in storybook using NX, then NX is not suitable for production applications.

Developer experience

[2021-06-02 04:58] jkolyer commented on #3144
Why is this issue closed?  It's not resolved for at least 3 people.

The co-founder @vsavkin  commented "we cannot really fix".  Is that why  it is closed?  Please provide more details because it is a major blocker.  Any respectable product would not tell its user base that a major blocker cannot be fixed, then shut down further discussion.

[2021-06-02 05:00] jogelin commented on #5688
Tried with `@storybook 6.3.0-beta.7` but it is failing because of looking for an `angular.json` file.

I am using a `workspace.json` file.

I thought it was fixed some time ago by https://github.com/storybookjs/storybook/pull/10881

[2021-06-02 05:04] worthy7 commented on #4381
Just my two cents, my build didn't like this

`
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,400i,500,600,700,900");
`

or this

[code]

[2021-06-02 05:25] cdaringe commented on #3144
cannot be fixed, then shut down further discussion.

If you're not willing to send a patch yourself, you have zero right to
demand it from the maintainers. This software is open and free. Try again,
or do not participate.

On Tue, Jun 1, 2021, 9:59 PM Jonathan Kolyer ***@***.***>
wrote:

[2021-06-02 05:43] jkolyer commented on #3144
I beg your pardon?  This issue is marked "closed".  It is clearly not closed.  Why would I patch an issue that was marked closed?  Would you spend time on that?

The maintainer @vsavkin needs to address this issue and verify the status.   He has indicated the documentation needs updating, but provided no links.

I suggest you keep your comments to yourself until this issue has been updated by the

[2021-06-02 07:28] brunano21 commented on #5701
Hi - is there any update on this? It's currently a blocker for us and we would like to use Cypress over Browserstack.

[2021-06-02 08:12] leosvelperez commented on #5749
Yeah, that was a typo. New projects will use ESLint by default now.

[2021-06-02 08:19] leosvelperez commented on #5862
Thanks for reporting this!

This is a duplicate of https://github.com/nrwl/nx/issues/5829, even though the command is different, the issue is the same. Please check that issue for a solution to this problem.

Closing.

[2021-06-02 08:19] #5862 closed

[2021-06-02 10:19] raminassar commented on #4381
In my case issue was because using // in .scss files instead of /* */