[2021-01-05 11:03] luchsamapparat commented on #4432
Thanks for the quick feedback. I did as you suggested and ran

[code]

After that, all dependencies were updated from 10 to 11, so that seems to be an easy solution for the issue.

However, I still don't understand what's happening here. Running `npx nx migrate @nrwl/workspace@latest` after that didn't produce any further changes. What then is the difference between migrating `@nrwl/tao` and `@nrw

[2021-01-05 12:04] whernebrink opened #4441 "ESLint issues in karma.conf.js inside angular applications and libraries"
## Current Behavior
When creating a new workspace (nx 11) using eslint as the linter and karma as the unit test runner, I get linting errors about `require()`, `module.export` and `__dirname` inside the `karma.conf.js` inside the `apps/my-app/karma.conf.js` and `libs/my-lib/karma.conf.js`.

## Expected Behavior
No linting issues to appear for using require, module.exports and __dirname inside karm

[2021-01-05 12:42] #3735 closed

[2021-01-05 13:02] cyrus-za commented on #4416
Thanks. That solved it for me. I'll keep the issue open until @JamesHenry responds though. Might be a better workaround

[2021-01-05 14:08] Cammisuli commented on #4359
This error is the interesting part:
[code]

I suspect it's something to do with Windows. I'll have to get a Windows machine/vm and check it out there.

[2021-01-05 14:14] Cammisuli commented on #3248
@cereallarceny I'll have to check up on this. But all projects should be able to follow the environment variable rules that were defined in the docs page.

[2021-01-05 14:33] gilles-bertrand commented on #276
Hi nothing snce to work now, this is the error I receive
**'customWebpackConfig' is not found in schema**

[2021-01-05 15:10] #4404 closed

[2021-01-05 15:58] #4305 closed

[2021-01-05 16:01] #4294 closed

[2021-01-05 16:01] #4364 closed

[2021-01-05 16:08] brandonroberts commented on #4403
This is a known issue with Node 15 that will be resolved when we release version 11. See here for context https://github.com/ngrx/platform/issues/2830

[2021-01-05 16:08] #4403 closed

[2021-01-05 16:13] #4373 closed

[2021-01-05 16:56] luchsamapparat commented on #4262
@kylecannon same problem here

CDK's migration uses the `readJsonWorkspace` function from `@angular-devkit/core` to parse the `angular.json` of your project. It maps the `architects` of the projects (apps and libs) in your `angular.json` to `targets` in some kind of meta-model.

[code]
https://github.com/angular/angular-cli/blob/master/packages/angular_devkit/core/src/workspace/json/reader.ts#L186

[2021-01-05 17:10] #3707 closed

[2021-01-05 17:13] #4226 closed

[2021-01-05 18:36] paramsinghvc opened #4446 "webpackConfig for @nrwl/web:dev-server"
## Description

While `@nrwl/web:build` allows you to extend webpack configuration using the `webpackConfig` flag. I'm surprised to understand that it's not allowed in `@nrwl/web:dev-server`.

## Motivation

I have been using docker configuration in my project that I'm trying to migrate to Nx but since extending the webpackConfig is not allowed in `@nrwl/dev-server`, I can't add custom dev server

[2021-01-05 20:47] christianallred opened #4448 "Allow for multiple artifacts to be created via @nrwl/node:build"
## Description
I have a request where i would like to be able to generate multiple output files into the dist folder when creating a nrwl app.

## Motivation
My motivation for this is so that i can create threaded tasks using node Thread, which requires a reference to a js file to run. This is also doable with the thread.js npm library. There are other solutions to this problem but most require mo

[2021-01-05 21:29] henry-martinez commented on #4296
@vsavkin

This too, broke our build pipeline. We use `nx affected:build -c=production,dev1`. "dev1" only uses `deployUrl` to point to our dev1 url path. This setup has worked beautifully so that we don't have to duplicate all the "production" configurations in each and every dev config.. We have around 12 dev configs per app/lib and a few dozen app/libs, so this multiplies really fast and the conf

[2021-01-05 21:50] LayZeeDK commented on #4365
Just had a similar issue with the `@ngrx/store:ng-add` schematic
[code]

`@ngrx/store/schematics-core/utility/config.js` from `@ngrx/store@10.1.2`

[code]

[2021-01-05 21:51] markgoho opened #4449 "forcing ng update results in unknown error"
My typical behavior is to use `ng update` wherever possible. Great that Nrwl has upgraded that functionality and I see the benefits, however we're losing some functionality. Specifically, being able to update other project dependencies in the ecosystem that are known to have their own upgrade schematics (ngrx, rxjs, etc.).

## Current Behavior
`npx ng update @ngrx/store` results in long message wi

[2021-01-05 22:43] Splaktar commented on #2839
I would consider this more as a bug than a feature request. When migrating from the Angular CLI and running `node ./decorate-angular-cli.js`, scripts that used to work for building your projects no longer work. This is certainly a problem when trying to move to Nx and take advantage of caching (the primary use case motivating this client).

[2021-01-06 00:42] vsavkin commented on #4417
This is fixed here: 0c0a29da71436aed8d3b1771b64dd6cb1cc4c623

Thank you!

[2021-01-06 00:42] #4417 closed

[2021-01-06 01:05] #4436 closed

[2021-01-06 01:06] vsavkin commented on #4436
Thank you for reporting this! I fixed and I'll cut a version with the fix tomorrow.

For now, you can update package.json to set the version of next to 10.0.3 and run `npm install` after.

[2021-01-06 02:09] beeman commented on #4417
Thanks for the quick fix Victor!

[2021-01-06 10:58] mehrad-rafigh commented on #1397
Any news on this? Can the community tackle this @brandonroberts?

[2021-01-06 11:33] cyrus-za commented on #4416
Every now and then I get an error that the .next directory already exists. Seems like a vercel caching thing. @akash6190 you running into this too?

[2021-01-06 13:09] ahsanplusplus opened #4452 "Symlink from the Angular CLI"
I did update an Angular project from @nrwl/workspace@8.12.11 to @nrwl/workspace@9.7.1 and as part of the update, a decorate-angular-cli.js file was generated.

[2021-01-06 14:48] #3769 closed

[2021-01-06 15:33] zoechi commented on #3388
I think they should be linked facebook/jest#10429

[2021-01-06 17:50] rgoomar commented on #4162
Just adding on that this type of feature would be great to have. I'm running into a similar issue and using the `run-commands` with chained commands feels like a hack and does not work in the desired way I want.

For example, if I have Project X which has a target called `serve` that depends on Project Y and Project Z to be served as well prior to it being run, if I chain them, since it starts a s

[2021-01-06 18:33] EthanSK commented on #836
There is this community plugin, not sure how well it works: https://github.com/JoelCode/gcp-function

[2021-01-06 20:39] #4419 closed

[2021-01-06 20:55] vsavkin commented on #4449
@markgoho I'm not able to repro it. Could you provide a repo I can run the update command in?

[2021-01-06 21:17] #1975 closed

[2021-01-06 21:38] markgoho commented on #4449
Sorry @vsavkin -- I'm now unable to reproduce based on:
`>  NX   ERROR  Decoration of the Angular CLI did not complete successfully`

Here's the repo: https://github.com/ideacrew/active-branch-tracker

[2021-01-06 21:41] markgoho commented on #4449
Interesting, without Nx decoration in place, I get the following error when running the `npx ng update` command:
[code]

[2021-01-07 03:05] markgoho commented on #4449
@vsavkin I'm sorry for the trouble here, I'm unable to reproduce it after removing node modules and starting from scratch. Hopefully this closed issue will benefit someone in the future.

[2021-01-07 03:05] #4449 closed

[2021-01-07 03:09] markgoho commented on #4452
@ahsanplusplus that file enables your nx workspace to run normal ng commands in an optimized way. If you don't want this increased performance, there are instructions for how to "opt out" in that file:

I've found this optimization to be an improvement on the developer experience of using the angular cli, so you might want to see how it goes for a few days and then make a decision.

[2021-01-07 03:40] mikecann opened #4455 "Nx Cache Inputs should include NX_* env vars and some others"
I brought this up on slack and it was suggested that I make an issue for it so here goes.

## Description

I just ran into a bit of a gotcha.. It appears that Nx caching does NOT take into account environment variables when building web projects.

So for example say I have `NX_MY_VAR=foo nx build myap`  then it will build and cache, then if I do `NX_MY_VAR=bar nx build
myap`  it wont re-build and

[2021-01-07 06:17] namvhoang02 commented on #1886
@MichaelKaaden thank alot, you save my day!
I have been stuck for 6 hours on this bug :(

[2021-01-07 08:45] bekos commented on #4150
This is fixed via 9abdb78a4ab44c8bee1ca8fb09c763c011dc1db3. We also now have e2e tests for windows to confirm this.

[2021-01-07 08:45] #4150 closed

[2021-01-07 08:54] guiseek opened #4456 "resource schematics"
resource schematics (from nestjs, not nrwl / nest).

## Current Behavior
when using the nestjs schematics, resource function, returns this error:

`Property 'flat' does not match the schema. 'false' should be a 'undefined'.`

However the flat field is changed and continues with the same problem, I was in doubt if it opened here or in the nestjs repository.

## Expected Behavior

In the last versio

[2021-01-07 09:23] bekos commented on #4281
@rarmatei can you check if this is still an issue with the latest Nx? I'm not able to reproduce it 🤔

[2021-01-07 09:41] bekos commented on #4215
@mehrad-rafigh do you still want to send a PR? 😃

[2021-01-07 10:28] mehrad-rafigh commented on #4215
@bekos sry I forgot about this. I will finish the PR tonight

[2021-01-07 10:50] bekos commented on #3730
@armanozak sorry for the delay. Are you interested in sending a PR or shall I take care of it?

[2021-01-07 12:56] bekos commented on #3886
@JonasZ95 unfortunately when building the  `table-test` application, it's own tsconfig doesn't know about the custom typings defined inside the library folder. You will see that if you add `"../../libs/tablers/src/types/react-table-config.d.ts"`, inside the `files` property or just the `"../../libs/tablers/src/types"` on the `include` array of `apps/table-test/tsconfig.app.json` the build succeeds

[2021-01-07 12:56] #3886 closed

[2021-01-07 13:02] aaronfrost opened #4461 "Better docs for @nrwl/angular"
## Description

It would be nice to see a better description of what the @nrwl/angular package does. When I go to https://www.npmjs.com/package/@nrwl/angular it just shows me the Nx Readme.md.

## Motivation

I am trying to learn if I need to update @nrwl/angular when I upgrade my Angular version or if it needs to be upgraded with my workspace version.

## Suggested Implementation

## Alternate Im

[2021-01-07 13:02] JamesHenry commented on #4416
The combination of some updates on the Vercel side and this PR: https://github.com/nrwl/nx/pull/4459 will mean that the extra build script should no longer be required and the Vercel UI setup can be simplified.

We have a thread going with Vercel on this, and I will update the instructions as soon as we have confirmation on all sides

[2021-01-07 14:00] bekos commented on #3885
@maierson @Mobiletainment  can you please elaborate on the steps to reproduce it? I have tried both the latest and 10.3.0 and wasn't able to do so 🤔

[2021-01-07 14:19] maierson commented on #3885
@bekos Just the steps at the top of this thread. I started with nx when it was at version 8... and kept migrating up. I think the migration process might not have handled this properly at some point in the process which might be why this is happening.  Do you have a `jest.config.js` at the root of your project? And does it have a `"projects"` key in it?

[2021-01-07 15:24] shlomiassaf opened #4462 "Wrong dist folder when using importPath in lib output"
When setting an `importPath` for a library that is different then the physical path
the dist output is based on the actual source physical path and not the import path.

When the library is publishable, this is incorrect because as a node module it will be imported
based on the physical location which does not match the `importPath`.

For example:

I have a library located at `libs/@finance/fx`.

[2021-01-07 15:42] rarmatei commented on #4281
It still happens for me on latest unfortunately - are you definitely using Node v12.0.0?

[2021-01-07 16:13] rarmatei commented on #4281
I tried on Node v12.9 and it works okay (it might work with earlier versions as well) - so I guess we can close this 👍

[2021-01-07 16:22] bekos commented on #4281
Yup, this seems to be a Node issue happening only for Yarn, seems to be fixed at least on v12.3.

[2021-01-07 16:22] #4281 closed

[2021-01-07 18:56] ericbiewener opened #4463 "ESLint: "Imports of lazy-loaded libraries are forbidden" error when dynamically importing a standalone file from a lib"
## Current Behavior

Unexpected eslint error:

## Expected Behavior

I'd expect Nx to know that one path can be imported in the standard way, while the other can be imported via `import()~

## Steps to Reproduce

[code]

In my `tsconfig.json` file, I define a couple different paths:

[code]

One path gets imported via a normal `import` statement, while the other uses `import()`:

[code]

This resu

[2021-01-07 19:41] #4015 closed

[2021-01-07 20:13] ArkasDev commented on #3128
@Qarun-Qadir-Bissoondial I have the same error.

[2021-01-07 21:45] panraj01 commented on #4414
@FrozenPandaz any suggestions or work around you can think of  ? My NX version is 10.3.0.

[2021-01-07 22:27] alexanderPastornicky commented on #2975
+1

[2021-01-08 01:35] peterbsmith2 opened #4464 "failing `rename-ng-update-into-nx-migrate` migration"
## Current Behavior

Failing migration from Nx 10 to Nx 11

## Expected Behavior

Error handling or successful migration

## Steps to Reproduce

Cannot provide reproduction steps.

### Failure Logs

[code]

### Environment

[2021-01-08 01:36] jredl-va commented on #4394
I took another crack at this just now as our repository slow build times are sometimes cracking the 40 minute mark and incremental builds seem like the thing to speed us up.  I had originally though that the language files weren't being copied into the dist folder but that seems to be working as expected.

When using the normal build setup:
- application: `"builder": "@angular-devkit/build-angular

[2021-01-08 01:38] jredl-va commented on #4394
I took another crack at this just now as our repository slow build times are sometimes cracking the 40 minute mark and incremental builds seem like the thing to speed us up.  I had originally though that the language files weren't being copied into the dist folder but that seems to be working as expected.

When using the normal build setup:
- application: `"builder": "@angular-devkit/build-angular

[2021-01-08 01:40] vsavkin commented on #4437
Fixed it in 11.1.0. Thank you!

[2021-01-08 01:40] #4437 closed

[2021-01-08 01:44] #4439 closed

[2021-01-08 01:46] #4392 closed

[2021-01-08 01:51] vsavkin commented on #4452
Nx wraps the Angular CLI functionality so everything will work the same way except faster (because Nx adds computation caching). As @markgoho pointed out you can opt out but I don't recommend it.

I'm going to close this issue.

[2021-01-08 01:51] #4452 closed

[2021-01-08 02:02] vsavkin commented on #4464
Unfortunately I'm not able to repro it. Did you run `npm install` before running the migrations?

Could you provide a repo with a repro?

[2021-01-08 04:25] eddiewang commented on #4140
experiencing this as well in gitlab-ci. any help would be greatly appreciated!

[2021-01-08 08:05] DominikPieper opened #4466 "Generic Storybook module"
## Description
A generic Storybook config for non React/Angular projects would be nice.

## Motivation
For web components or custom Nx plugins which wan't to add storybook support it would be great to be able to add a simple framework config as a starting point

## Suggested Implementation
Shouldn't be hard to add, just a additional parameter to add @storybook/html

[2021-01-08 11:23] maxime1992 commented on #3797
I believe this should be kept open

[2021-01-08 11:47] armanozak commented on #3730
Hi @bekos,

No problem. I'll send a PR.

[2021-01-08 13:03] sorin-davidoi opened #4468 "Dependency graph doesn't load with CSP that blocks inline scripts"
## Current Behavior

When generating a static dependency graph with `nx dep-graph --file=output/index.html`, `index.html` contains the project data as inline scripts (see [this](https://github.com/nrwl/nx/blob/fabb6ba65ee1b5ba8407fbe64686acdcf1cfa8c6/apps/dep-graph-client/src/index.html#L55:L61) and [this](https://github.com/nrwl/nx/blob/fabb6ba65ee1b5ba8407fbe64686acdcf1cfa8c6/packages/workspace/

[2021-01-08 13:39] bekos commented on #4455
maybe we can have an array like `cacheableVariables` in nx.json to make it more generic 🤔

[2021-01-08 14:25] brandonroberts commented on #4388
You can start with a specific version of Nx for your workspace, but all the package versions should be the same as the root package.json

[2021-01-08 14:25] #4388 closed

[2021-01-08 14:46] vsavkin commented on #4468
Thanks for submitting the issue!

@philipjfulcher not sure if we should treat it as a bug or as a feature.

[2021-01-08 14:50] vsavkin commented on #4365
This has been fixed in 11.1.1 (at least in the packages I've tried). Thanks again for reporting this!

[2021-01-08 14:50] #4365 closed

[2021-01-08 14:54] juristr commented on #2479
The problem here is that the `angular.json` libs' `outputs` property needs to be always in sync with what is in the `ng-package.json` as of now. We don't sync them manually, but that needs to be done by the user in case they're being changed.

Basically right now a lib config might look like this:

[code]

By default everything works out of the box. If someone changes the `dest` inside the `ng-pac

[2021-01-08 14:54] #2479 closed

[2021-01-08 15:08] vsavkin commented on #4432
`nx migrate` invokes `tao migrate` under the hood. It's just an impl detail.  The command I suggested simply runs the latest version of the migration logic cause it gets it from npm.

You can use `FORCE_NG_UPDATE`  to invoke any `ng update` functionality. I personally think that `ng update` telling you what to update is a misplaced responsibility.

Here is why:

`npm/yarn/pnpm` will tell you what

[2021-01-08 15:08] #4432 closed

[2021-01-08 15:12] luchsamapparat commented on #4432
thanks for your detailed answer!

[2021-01-08 15:14] minijus opened #4470 "Failures for test and lint runs in CI with shared cache"
## Current Behavior
Using Jenkins as CI engine.
Using shared Nx cache directory (`/home/node/cache/nx`) in CI:
[code]

With this setup running test and lint in distributed setup (very similar to one provided in [Nrwl example](https://github.com/nrwl/nx-jenkins-build)):
[code]

Getting same errors on seemingly random projects. Failed projects change when re-running same CI jobs, but never fail when

[2021-01-08 15:18] minijus commented on #4470
The error message itself is identical to one mentioned in #3735.
However, after verifying `json` files no issues with formatting were noticed - besides prettier format check passes as well. Also, it never fails locally, even when running exactly same `nx run-many" commands.

[2021-01-08 15:45] vsavkin commented on #4356
@ravivit9 yup, you can remove the schematics folders.

I thought about skipping it but I feel like it's more of an edge case. Someone has to remove the folder manually. It's not possible for us to account for all different manual changes. We do try to account for things that are common.

This is actually a good example of why we moved to `nx migrate`. Every workspace is different. The `tools/schem

[2021-01-08 15:45] #4356 closed

[2021-01-08 15:52] minijus opened #4472 "Test failures in CI with shared cache (SyntaxError: Unexpected end of JSON input)"
## Current Behavior
The issue is similar to #4470, but occurs for `test` target instead of `lint`.

Using Jenkins as CI engine.
Using shared Nx cache directory (`/home/node/cache/nx`) in CI:
[code]

With this setup running lint in distributed setup (very similar to one provided in [Nrwl example](https://github.com/nrwl/nx-jenkins-build)):
[code]

Getting same error on seemingly random projects. Fa

[2021-01-08 15:56] vsavkin commented on #2674
Folks, there is this issue that talks about tricky migrations: https://github.com/nrwl/nx/issues/4333 (TLDR: use latest version of the migration logic and migrate one version at a time. )

Let me know if you still have issue given the points in the issue above.

[2021-01-08 16:19] ojemuyiwa opened #4473 "Nx migrate doesn't work or does what the documentation implies"
## Current Behavior
fetches:
Fetching @nrwl/workspace@latest
Fetching @nrwl/workspace@11.1.1

## Expected Behavior
Should create a `migrations.json` file and update angular-cli, core, etc

## Steps to Reproduce
run `nx migrate latest` on vscode terminal

<img width="773" alt="Screenshot 2021-01-08 at 16 10 50" src="https://user-images.githubusercontent.com/13540819/104038393-f7f2e100-51cc-11eb-8f0

[2021-01-08 16:20] mehrad-rafigh commented on #4215
@bekos I opened a PR. Could you please review it?

[2021-01-08 17:16] #3602 closed

[2021-01-08 17:42] NathanWalker opened #4475 "11.1.1: @nrwl/workspace:run-commands - forwarding args does not seem to work anymore"
## Current Behavior

I believe forwarding args is the default when using `command` options as this did used to work in Nx 10. Curious if something changed around this with v11?

Given the following options for the given target:

[code]

Running like this: `nx run nativescript-mobile:ios --env.configuration=prod` does *not* forward the extra argument.

This however does work: `nx run nativescript-m

[2021-01-08 18:21] #4473 closed

[2021-01-08 18:28] ockenden commented on #3912
I was looking to use this for my next project, but again `--js` is not working. Seems odd to force people to use ts over JS. I would have assumed `--ts` would have been the smarter option to flag.

Looks like I'll have to find a different solution - maybe I'll get to use this some time in the future when this issue is resolved but sadly it doesn't seem like a priority :(

[2021-01-08 19:53] #4225 closed

[2021-01-08 20:20] #4054 closed

[2021-01-08 20:36] Cammisuli commented on #4448
Awesome! Thanks for your PR!

I'll take a look as soon as I can.

[2021-01-08 21:01] #3815 closed

[2021-01-08 22:14] Cammisuli commented on #4192
Fixed with #4227

[2021-01-08 22:14] #4192 closed

[2021-01-08 22:16] Cammisuli commented on #4014
This should be fixed with #4227

[2021-01-08 22:16] #4014 closed

[2021-01-08 22:23] Cammisuli commented on #3889
Hey @EvtK, sorry about a late response to this!

I tried to a new Nest app in a recent version of Nx, and it looks like the Jest config is being formatted properly.

Files should be formatted using whatever prettier configs are in the workspace. So make sure that `.prettierignore` doesn't have the jest config in there.

If the config isn't in the ignore file, what kind of library or app are you ge

[2021-01-08 22:29] Cammisuli commented on #3973
If the Jest fix is part of the 26 release, you should just be able to update the workspace version of Jest and that's it.

If something related to Nx doesn't work (like not being to run `nx test <project>`) then we would need to update the dependencies everywhere.

[2021-01-08 22:37] Cammisuli commented on #4377
That definitely looks like it's the culprit. We could probably just make a regular function that takes the host as an argument and call ```host.delete(`${options.projectRoot}/src/lib/${options.fileName}.spec.ts`)```.

[2021-01-09 07:07] vorant94 commented on #253
@vsavkin Is there some way to configure Nx to do as Angular CLI itself?

[2021-01-09 10:08] skopekreep opened #4480 ""nx migrate latest" is not marking cypress for update"
## Current Behavior
After reading the release notes for 11.1.1, I noticed that cypress had been bumped to 6.0.1.  My package.json still showed  ```"cypress": "^4.11.0",```, despite just running ```nx migrate latest```.  This behavior may have been happening since nx 9, since all my updates have been done using the ```nx migrate``` command.  Unsure if this is a regression, since I started using nx

[2021-01-09 14:57] thesobercoder commented on #4032
I'm still getting this error. 😭

[2021-01-09 18:41] zaunermax commented on #4100
@mandarini I think that it is up to you, I could fix it by just installing my deps via yarn, then doing the upgrade and then using npm again. If this issue is not important in the grand scheme of things it's completely fine by me don't worry about me, I am just reporting stuff if i encounter some stuff :raised_hands:

[2021-01-10 08:28] jaqua opened #4481 ".env files are not recognized if app is in subfolder"
I'm using subfolders for my applications like `root/apps/group/myapp/`. .env-files placed on the root level are read as expected, but neither in `project` folder nor in `myapp` folder, the env var are recognized. The env var are pretendet by `NX_`. Is there a workaround for that?

[2021-01-10 08:32] #4481 closed

[2021-01-10 09:10] cyrus-za opened #4482 "Support Blitz.js"
## Description

[Blitz.js](https://blitzjs.com) is a framework on top of [next.js](https://nextjs.org) with the latter already officially supported by nx.

It would be great if blitz itself could also be supported with generators.

## Motivation

There's a huge growing community due to the simplicity of Blitz being full stack without the need of an http api. They call it the ruby on rails of javas

[2021-01-10 10:18] JamesHenry commented on #4032
Hi folks 👋

We have worked together with Vercel to improve the configuration required to deploy Next.js apps on Vercel from Nx workspaces. Additional/custom scripts are no longer required.

Please see the updated guidance here https://github.com/nrwl/nx/pull/4483, it is available for you to implement immediately.

Once the PR is merged, the updated guidance will also be available on https://nx.dev

[2021-01-10 10:19] JamesHenry commented on #3051
Hi folks 👋

We have worked together with Vercel to improve the configuration required to deploy Next.js apps on Vercel from Nx workspaces. Additional/custom scripts are no longer required.

Please see the updated guidance here https://github.com/nrwl/nx/pull/4483, it is available for you to implement immediately.

Once the PR is merged, the updated guidance will also be available on https://nx.dev

[2021-01-10 10:22] JamesHenry commented on #4416
Hi folks 👋

We have worked together with Vercel to improve the configuration required to deploy Next.js apps on Vercel from Nx workspaces. Additional/custom scripts are no longer required.

Please see the updated guidance here https://github.com/nrwl/nx/pull/4483, it is available for you to implement immediately.

Once the PR is merged, the updated guidance will also be available on https://nx.dev

[2021-01-10 11:44] AliYusuf95 opened #4484 "@nrwl/tao fail to validate schema correctly"
## Current Behavior
when generating a new angular component I get this error:
`Property 'prefix' does not match the schema.`

I traced the issue it's caused by `@nrwl/tao` when it tries to validate the options:
https://github.com/nrwl/nx/blob/fb3af908f0d32e0aab5f2d870cee82c94ab1e18b/packages/tao/src/shared/params.ts#L222

The thing is as the prefix is `oneOf` rule and each item doesn't contain `ty

[2021-01-10 12:21] mehrad-rafigh commented on #4480
@skopekreep There are no migrations to update Cypress to v6, because there are a [ton of changes](https://docs.cypress.io/guides/references/migration-guide.html#Migrating-to-Cypress-6-0) which nx cannot migrate. Therefore you should it by yourself.

[This is the PR for v6 update](https://github.com/nrwl/nx/pull/4175)

Still the migration could should a hint, that cypress should be updated by the u

[2021-01-10 12:32] mehrad-rafigh commented on #3975
Hi @peterbsmith2 did you had any chance to look into this?

[2021-01-10 12:35] mkashifsnyder commented on #2088
Just have a quick question how we can serve multiple applications with port as well...
For example previously we were doing like that
ng serve appname --port=5200
ng serve appname2 --port=5201

Can we do that with nx run-many based on following example apps
AngularApp1
AngularApp2
NestApp1
NestApp2

then the command should be like that
nx run-many --target=serve --projects=AngularApp1,AngularApp2,

[2021-01-10 12:52] SerkanSipahi opened #4486 "Add --unitTestRunner=karma option for @nrwl/web:library schematic"
## Description
Currently, building a library with @nrwl/web does not have support  for `--unitTestRunner=karma` (like @nrwl/angular)

## Motivation
Adding Karma  will run the test suite with the engine of the browser.

## Suggested Implementation
Reuse (or copy) similar task of @nrwl/angular `--unitTestRunner=karma` option.

## Note
Maybe this feature could be implemented with https://github.com/n

[2021-01-10 13:03] asherccohen commented on #3051
Hey @JamesHenry, great job and thanks for finally getting to the bottom of this issue.
I've been long waiting for something as simple as this solution.

I've added two tiny suggestions on your commit, based on my experiments with the solution, I hope they help.

[2021-01-10 13:10] JamesHenry commented on #3051
@asherccohen Thanks! I genuinely required some updates that were made on the Vercel side behind the scenes so it has been a great collaboration and I think things will only get better from here! Nx + Next.js + Vercel is some of my very favourite tech out there right now ❤️

[2021-01-10 13:16] asherccohen commented on #3051
Both companies have done an amazing job in simplifying dev experience!

I would keep an eye on how to filter by git branch in the case of git integration, as now I feel that every push to my branch will trigger (potentially) many projects to rebuild.
When I started digging into this matter my config was using CI to test+build+deploy to Vercel, still curious to fully understand this.

[2021-01-10 13:57] SerkanSipahi opened #4488 "Workaround for `@nrwl/web:library foo --publishable --unitTestRunner=karma` which is not possible at the moment"
## Description
Workaround for `@nrwl/web:library foo --publishable --unitTestRunner=karma` which is not possible at the moment.

Currently two features are missing for @nrwl/web:library at the moment. One of them is the publishable option (https://github.com/nrwl/nx/issues/4486) and the other one which allows to use karma (https://github.com/nrwl/nx/issues/3606) as a test-runner when creating a li

[2021-01-10 15:27] mehrad-rafigh commented on #1987
Hi guys, are you still experiencing the issue? If so I would try to create a PR to fix this

[2021-01-10 15:29] mehrad-rafigh commented on #4018
@FrozenPandaz can you point me to the docs so I can create a PR?

[2021-01-10 16:29] cenguidanos commented on #4032
Thanks!!

[2021-01-10 16:44] ravivit9 commented on #4356
Hi, this time upgrade went well and generators directory got created automatically but still error happened during schematics step.  But looks ok for now.  Hopefully nothing should fail after upgrade. Thanks for the support.

[2021-01-10 18:24] ultd commented on #3492
Can we please get update on this? I continue to get the following error:

[code]

The bug is fixed in `v4.0.4` as mentioned [here](https://github.com/TypeStrong/fork-ts-checker-webpack-plugin/issues/363#issuecomment-585601162)

Hope we can get movement on this issue ASAP.

[2021-01-10 18:28] vsavkin opened #4492 "Nx 12 Roadmap"
# Nx 10 => Nx 11 Highlights

Read more about Nx 11 in this [blog post](https://blog.nrwl.io/introducing-nx-11-new-react-features-angular-11-incremental-builds-and-more-83c1e3a5210b).

Nx 11 is our biggest release yet, and I'm very proud of the core team working hard to make this happen. I’m also happy to see many folks in the community raising issues, submitting high quality PRs, creating Nx conte

[2021-01-10 18:41] vsavkin commented on #4462
Hi there! Thanks for submitting the issue.

The dist folder matches the source folder by design. There are several reasons for that, the main one being that there might be two libraries with the same `importPath` in the same workspace. `importPath`  doesn't have to be unique, whereas the physical location has to be.

Having said that you can always change the output path to match the import path b

[2021-01-10 18:41] #4462 closed

[2021-01-10 18:45] vsavkin commented on #4472
Hi there! Thank you for submitting the issue!

As you pointed out yourself, this is sort of a duplicate of 4470 (https://github.com/nrwl/nx/issues/4470). We can communicate in that issue in regards to both testing and linting, and I'm going to close this one.

Thank you!

[2021-01-10 18:45] #4472 closed

[2021-01-10 19:28] ultd opened #4494 "nx serve dying in webpack rebuilds due to outdated fork-ts-checker-webpack-plugin"
Nx running in Minikube results in webpack failing at times

## Current Behavior
Running `nx serve $(REACT_PROJECT)` after a few recompiles results in this error:

[code]

The bug is fixed in `fork-ts-checker-webpack-plugin@v4.0.4` as mentioned [here](https://github.com/TypeStrong/fork-ts-checker-webpack-plugin/issues/363#issuecomment-585601162)

## Expected Behavior
No error to be thrown.

### Env

[2021-01-10 20:32] n0mer commented on #2299
JSON Schema would speed up nrwl adoption , lower learning curve - please dedicate attention to this issue.

[2021-01-10 22:31] LayZeeDK opened #4495 "nx-plugin/devkit: when using PNPM, runPackageManagerInstall and installPackagesTask do not work in Nx plugin e2e tests on GitHub CI"
The Nx 12 roadmap (https://github.com/nrwl/nx/issues/4492) mentions additional efforts to *test PNPM-based repos*. This seems to be one of those issues worth looking into. Either that, or I'm doing something wrong.

## Current Behavior

When using PNPM as the workspace package manager, the following occurs in GitHub CI workflows:
1. When calling `runPackageManagerInstall` from `@nrwl/nx-plugin/tes

[2021-01-10 23:29] loic49 commented on #2998
I don't know if it can help but I'd got the same error (error to create service)....and solve it.

My workspace wasn' first a nx workspace I migrate it with "Using ng add and preserving your existing structure". After migration, I had in my angular.json this entry : "newProjectRoot": "projects. After I delete it my previous error to generate a library disapear.

Hope it helps.

[2021-01-10 23:42] LayZeeDK commented on #4495
There seems to be an issue with Yarn + GitHub CI as well in that `workspace.json` in the generated `nx-e2e` directory does not have `{ "cli": { "packageManager": "yarn" } }` configured. After configuring it in a `beforeEach` step, Yarn works:
- https://github.com/LayZeeDK/nx-plugin-issue-pnpm-install/blob/7b9be270e70cc5e8aa9acfe819a8da285434586f/e2e/pnpm-install-e2e/tests/pnpm-install.spec.ts#L12-

[2021-01-10 23:46] DUBANGARCIA commented on #4464
+1

[2021-01-10 23:52] DUBANGARCIA commented on #4464
The same error had also happened to me since I was trying to update from angular 9 to angular 10, so I deleted the migrations of the beta versions and only left the stable ones in the migrations file and the problem was solved, but I must clarify that I do not know if it omits migrations or if it would simply be in stable versions such migrations

[2021-01-11 00:44] mehrad-rafigh commented on #2998
@loic49 There is a open issue for that
https://github.com/nrwl/nx/issues/1987

[2021-01-11 02:06] skopekreep commented on #4480
Makes sense.  Since this will likely happen with other packages as well, your idea to notify users of any updates that have to be done manually would fit well with the current nx trend toward understandable CLI output.  Similar to the peer dependency manual update notifications generated by npm.

[2021-01-11 03:08] cenguidanos commented on #4032
Maybe i found a bug on dev mode.

I add this script in `next.config.js`:

[code]

But this script is being executed with: `nx serve <app>` and `nx  build <app>`. In two modes, development and production. And it's executed [twice](https://nextjs.org/docs/api-reference/next.config.js/custom-webpack-config). The results of the print in file is:

[code]

---

next; v10.0.1
react: v17.0.1
nrwl/*: 11.1.

[2021-01-11 03:12] cenguidanos commented on #4032
Works fine **without** plugin:

[code]

`nx serve <app>`: `hi dev`

[2021-01-11 07:10] tommueller opened #4496 "Migrating from Nx 10 to 11 fails with "maximum call stack size exceeded""
I am trying to migrate from Nx 10 to Nx 11. I successfully updated the npm dependencies, but now running `nx migrate --run-migrations=migrations.json` fails with the error:

[code]

Any additional information I should provide?

[2021-01-11 07:16] shravansofts commented on #4388
Didn't understand clearly.
can you provide example commands?

[2021-01-11 07:30] minijus commented on #4472
Thanks! I've moved details for failed test runs to #4470.

[2021-01-11 08:37] mehrad-rafigh commented on #1749
@SebasG22 This issue can be closed because of your plugin right?

[2021-01-11 10:11] sorin-davidoi commented on #4468
Would you accept a patch that moves the data to a separate script?

[2021-01-11 11:10] JamesHenry commented on #4032
@cenguidanos Let's try and avoid this being a catch-all issue for Next.js related concerns, please open a new issue with specific context if needed.

In your particular example, though, you may wish to try setting the `NODE_ENV` environment variable.

E.g.

[code]

I always set `NODE_ENV=production` for my Next.js projects, as in my case I need it for proper purging of unused tailwind classes, but

[2021-01-11 11:46] evgeniyefimov opened #4497 "Cyclic build when serving incremental builds"
## Current Behavior

For some reasons we have to build our application inside app's www folder. So our output path is like (apps/test-app/www) When the app is served with incremental build the changes put to www folder and build is run again.

## Expected Behavior

As I understand the issue is that builder watches the whole folder and built files run process again and again. Settings to ignore spe

[2021-01-11 12:36] Frikki commented on #4038
Any news? This seems vital to the purpose of Nx!

[2021-01-11 12:46] tinesoft opened #4499 "`nx generate` wrongly renders a single-select instead of a multi-select x-prompt when running a schematics from a Nx Plugin"
A multi-select prompt is not rendered correctly when running a Schematics contained in a Nx plugin, with `nx generate`.

Here is an excerpt of the concerned option in the `schema.json` of the schematics:

[code]

## Current Behavior

Adding "multiselect": true to x-prompt render a "Single Select" instead of a "Multi Select".

![image](https://user-images.githubusercontent.com/4053092/104176984-552

[2021-01-11 14:07] #4215 closed

[2021-01-11 14:20] #4484 closed

[2021-01-11 14:48] #2951 closed

[2021-01-11 15:04] cenguidanos commented on #4032
ok

[2021-01-11 15:27] philipjfulcher commented on #4468
@sorin-davidoi Sure, assign me when you raise the PR and I'll take a look. :)

[2021-01-11 15:31] jaysoo commented on #4420
Hi @cereallarceny, the intention of the `.local.env` file is that it isn't checked into the repo. It's use case is to allow devs to override certain environment variables to fit their use cases.

Thus, I think the best way to address this issue is to:
1. Add `.local.env`  file to `.gitignore`
2. Remove from git repo (if it has been added  previously)
3. Then when you need to use production values,

[2021-01-11 15:33] JamesHenry commented on #4032
Sorry for the confusion @cenguidanos I didn’t mean for you to close this one - this one is regarding deployments on Vercel, that’s important and until my docs PR is merged it doesn’t have an “official” solution.

I was merely saying that issues with local development and Next.js are out of scope for this specific issue

[2021-01-11 15:40] #4466 closed

[2021-01-11 15:52] gdrbyKo1 opened #4500 "workspace:move produces malformed jest.config.js files"
## Current Behavior

The `@nrwl/workspace:move` schematic breaks `jest.config.js` by swallowing the quotes around string literals:
![image](https://user-images.githubusercontent.com/19717183/104202216-ed358780-542a-11eb-800a-79a00e81c151.png)

## Expected Behavior

The quotes should not be removed.
This bug was introduced in cf7f1c89dae5947392ca88ccf572379b9ca84f5a.
This exact problem is trivial t

[2021-01-11 15:55] mehrad-rafigh commented on #4494
Shouldn't we update that to ^6.1.0? I can open a PR for this

[2021-01-11 16:11] jaysoo commented on #4420
Going to close this one because I don't think we need to special case the `production`  configuration, but let me know if you are still having problems.

[2021-01-11 16:11] #4420 closed

[2021-01-11 16:29] mehrad-rafigh commented on #4500
I opened a PR and added `formatFiles` to the move schematic. This should suffice, since formatFiles uses prettier.

[2021-01-11 17:05] vsavkin commented on #4475
Unfortunately, I'm not able to repro it.

This is what I have:

[code]

If I run `nx run someapp:echo --a=123 --b=242` I see both params forwarded. If I change forwardAllArgs to false, they are no longer forwarded.

Could you provide a repo with a repro?

[2021-01-11 17:59] johannesschobel commented on #3106
Dear @andriychuma ,

I just stumbled upon the exact same issue, however, in another context: I noticed, that my VSCode was not able to "update imports after renaming" anymore, and i was buffled by this fact.
- I tried another (brand new) dummy workspace with the `nest` preset and still got the same issue. When moving a file, the imports were not updated. :red_circle:
- I then created an `empty` wo

[2021-01-11 18:24] cenguidanos commented on #4032
Ok, only for  the case, this is working:

[code]

[code]

[2021-01-11 18:33] vivek261991 commented on #2701
@LouisSung  Thanks for sharing your problem description and your solution. This helped me to setup webstorm to debug nest-js application.

I was not able to debug with webstorm , each time I entered `src/main.ts` I got import error.
If I used the compiled javascript file -> dist/src/main.js, the debug worked, but it wouldn't pick up the modified code. I had to do `build nest` to make sure dist get

[2021-01-11 18:42] angelnikolov opened #4502 "Cannot use deep imports from buildable apps within buildable apps"
In our project we have the following setup.
Several buildable libraries
One application

The application depends on all libraries, but one of the buildable libraries depend on the other two buildable libraries.
We are staying away from barrelled imports, because after doing a bundle analysis on our project when we were using imports like
[code]
we noticed that the whole library was added to the `m

[2021-01-11 19:13] vsavkin commented on #4456
Thank you for submitting the issue.

This is the fix: https://github.com/nrwl/nx/commit/8a88fc8c71ae6e59fd65fbc0e4d84477b3322b4e

It will be in a patch release later this week.

[2021-01-11 19:13] #4456 closed

[2021-01-11 19:34] ultd commented on #4494
@mehrad-rafigh You're right I meant update it to `@v4.0.4` or higher. Please do make the PR :)

[2021-01-11 19:46] NathanWalker commented on #4475
Thank you @vsavkin I'll try to create a simpler repro and experiment some more with variations to see if can pinpoint more details here. Only thing been able to tell so far is what worked as described above on v10 no longer works same in v11.

[2021-01-11 20:01] vsavkin commented on #4502
Thanks for submitting the issue.

We use https://www.npmjs.com/package/ng-packagr to build buildable angular libraries. So you need to configure ng-packagr t to generate secondary entry points (see here: https://github.com/ng-packagr/ng-packagr/blob/HEAD/docs/secondary-entrypoints.md). We just remap remap your entry in the paths config to the dist folder.

I don't think there is anything we need t

[2021-01-11 20:03] angelnikolov commented on #4502
Hi @vsavkin and thanks for responding so fast! I will check out your suggestion and report here tomorrow with my findings. Thanks!

[2021-01-11 20:05] vsavkin commented on #4496
Hi there. Thank you for submitting the issue.

Unfortunately I'm not able to reproduce it. Can you create a repo with a repro?

[2021-01-11 20:29] Frikki commented on #4251
Yes, this is definitely an issue that will also shy organizations away from adapting Nx as part of their tooling.

[2021-01-11 21:03] mehrad-rafigh commented on #4494
@ultd There are a ton of breaking changes. I can give it a try, but that might take a while

[2021-01-11 23:19] tanepiper opened #4503 "`nx affected:test --codeCoverage` does not generate code coverage for cached tests"
## Current Behavior

When running `nx affected:test --codeCoverage` test suites that are cached don't generate code coverage

## Expected Behavior

When running any test command with `--codeCoverage` generate code coverage

## Steps to Reproduce

On repo https://github.com/rxjs-ninja/rxjs-ninja (see PR 51)

1. Run `nx affected:test --codeCoverage --skip-nx-cache` to ensure coverage generated
2. De

[2021-01-11 23:34] MaximSagan commented on #2760
This would be nice to have.

Does anyone have any thoughts on whether `affected:build` would be able to safely skip re-builds of apps that are only "type-affected" (so long as there are no type errors)?

[2021-01-11 23:38] bmcilw1 opened #4505 "`npx nx g @nrwl/angular:storybook-configuration example` Produces errors: Could not resolve dependency React"
## Current Behavior

Storybook configuration is throwing dependency resolution errors (see logs below). Mostly this is around `react` and `react-select`

This is happening when running the script with angular component libs.

## Expected Behavior

Script should run without dependency resolution errors. This issue is reproducible both with a new angular library with no components added as well as a

[2021-01-12 04:50] gabrielbull opened #4506 "Peer dependencies are missing in next.js build package.json"
## Current Behavior

When building next.js applications, peer dependencies of dependencies that are installed are missing in the generated package.json file. Two examples:

To use `@apollo/client`, one need to also install `graphql` as it is a peerDependency of `@apollo/client`
[code]

In the code, `graphql` will never be required, resulting in it not being added to `package.json` in the build.

T

[2021-01-12 08:24] OysteinAmundsen opened #4507 "Vulnerability detected: Prototype pollution"
https://snyk.io/test/npm/@nrwl/angular/11.1.2

Vulnerability exists in `cache-base@1.0.1` indirectly used by `@nrwl/cypress@11.1.2` through dependencies.

**FIX: Upgrade dependencies**
`@nrwl/cypress` depends on severely outdated versions of `ts-loader` and `fork-ts-checker-webpack-plugin`.

[2021-01-12 08:55] juristr commented on #3797
Should I raise a bug for that or is it normal 🤔?

@maxime1992 a minimal repo to reproduce would definitely be interesting here to see why it wouldn't work anymore.

In your example above: did you try using node libs instead of workspace libs? They can also be made buildable etc, so might be a good fit for sharing logic in your nest app.

[2021-01-12 09:13] maxime1992 commented on #3501
Based on the comment

I believe this should stay open (for the bot..)

[2021-01-12 09:31] johannesschobel opened #4508 "Issue in generated tsconfig files for apps & libs"
## Current Behavior

Yesterday, i noticed a strange behavior when working in my newly (!) created nrwl workspace. I develop with the latest `VSCode` (1.52.x) and was not able to "update imports on file move" anymore (i.e., update the import statements when moving a file).

This issue #3106 is somewhat related to my problem

## Expected Behavior

It should be able to update the import statements. T

[2021-01-12 09:49] tommueller commented on #2735
Unstaling.

[2021-01-12 10:13] laSinteZ commented on #4506
Happened to me as well, but worked fine at `@nrwl/next 10.4.4`

[2021-01-12 10:35] angelnikolov commented on #4502
Actually, I tested a bit more with barrels and marking the libraries as side-effect free made it work. Thank you for your suggestion anyway :)

[2021-01-12 10:35] #4502 closed

[2021-01-12 11:22] johannesschobel commented on #4508
ok, i digged a bit deeper.. the proposed solution does not work, because it breaks tests and building apps.. Unfortunately, i was not able to find a proper solution (yet) that allows building the app, testing and refactoring in VSCode..

note that i also tried with a clean (!) and new installation with VSCode without any extensions in order to be sure it is not an issue with 3rd party packages!

[2021-01-12 11:50] johannesschobel commented on #3106
Dear @andriychuma ,

thank you for your proposed solution in comment ( https://github.com/nrwl/nx/issues/3106#issuecomment-703154400 ), however, this does not work for me (see issue with updating file imports).

Do you have, by chance, the same issue? Does your solution work for the latest NX?

All the best

[2021-01-12 12:22] mehrad-rafigh commented on #4486
I can try tackling this. @vsavkin I would suggest creating a new package called @nrwl/karma and move common configuration inside that project. What do you think?

[2021-01-12 12:25] mehrad-rafigh commented on #4507
There is an issue for `fork-ts-checker-webpack-plugin`  #4494
Unfortunately there are a ton of breaking changes, like dropped support of constants nx relies on and much more.

[2021-01-12 12:58] evgeniyefimov commented on #4497
I think it would be great if incremental serve ignores files from .gitignore.

[2021-01-12 13:19] bekos commented on #4495
@LayZeeDK I was hit by this myself when trying to make E2E tests run using pnpm. It's really weird and hard to debug since I cannot reproduce locally either 😞 It turns out though that it is an issue of `exec` vs `spawn` but still trying to figure it out 🤔

[2021-01-12 13:50] SerkanSipahi commented on #4486
Please consider in `@nrwl/karma` the publishable option, see also for that #4488

[2021-01-12 14:23] tommueller commented on #4496
Thanks @vsavkin. I managed to find the cause, it was actually a misconfiguration in our `angular.json`: one of the projects root property was set incorrectly.
So the only take-away from this ticket might be, that a clearer error-message would have been helpful. Not sure, if that would be detectable though :)

[2021-01-12 14:23] #4496 closed

[2021-01-12 14:34] johannesschobel commented on #4508
I really believe that the `tsconfig.json` `references` attribute is not correct here.
See the official docs ( https://www.typescriptlang.org/docs/handbook/project-references.html ) for more details:

The main `tsconfig.base.json` file, however, explicitly sets `declaration` to `false`, furthermore, the `composite` flag is missing in the referenced projects.

[2021-01-12 14:41] johannesschobel commented on #4508
ok.. i found a dirty workaround for my issue. I had an old workspace where everthing works as expected.
I checked the differences between the those workspaces and found some changes in the `tsconfig` files, as highlighted below.

I did the following things:
1) change every **library** `tsconfig.json` to this:
[code]
2) change every **application** `tsconfig.json` to this:
[code]
3) Restart VSCode

[2021-01-12 14:43] edbzn commented on #4503
Hi, I run into the same issue.

[2021-01-12 14:54] LayZeeDK commented on #4495
Are you also using GitHub CI, @bekos?

[2021-01-12 16:55] puku0x commented on #3867
The `parserOptions.project` error has been fixed in Nx v11.

However, we need to override `@typescript-eslint/no-var-requires` .

[code]

Other solution is to disable ESLint for the line using `require` statement.
[code]

[2021-01-12 16:59] #4416 closed

[2021-01-12 17:02] vsavkin commented on #3051
This PR by @JamesHenry covers the setup in the docs https://github.com/nrwl/nx/pull/4483

We will deploy the new version of nx.dev with the changes from the PR later this week.

[2021-01-12 17:03] vsavkin commented on #4032
Merged @JamesHenry 's PR with the docs changes (https://github.com/nrwl/nx/pull/4483).

We will deploy it to nx.dev later this week.

I'm going to close this issue, folks.

Thank you, everyone!

[2021-01-12 17:03] #4032 closed

[2021-01-12 17:13] ultd commented on #4507
I too am getting this vulnerability in our code security/analysis tool. I think this needs to be a top priority as our stack using angular and react uses `@nrwl/cypress` for testing (as do all nx e2e tests generated). Not to mention #4494 as well. This is making our development life very hard as our CI/CD pipelines reject merge requests on high severity vulnerabilities and our minikube development

[2021-01-12 19:32] topratiksharma commented on #3380
Do a yarn add ```@angular/cli@<latest or any other preferred version>``` and then run migration. it will resolve the issue.

[2021-01-12 19:49] laSinteZ commented on #4506
https://github.com/nrwl/nx/commit/c062c6e6578a9649dda101c02a384ea71d7d14ee apparently, this commit breaks it, since before it all `rootPackageJson.dependencies` were copied, but here only used dependencies are copied to package.json (though, ignoring peer dependencies).

[2021-01-12 20:08] gabrielbull commented on #4506
@BigAB

[2021-01-12 23:59] ahnpnl commented on #1717
it seems like `.nxignore` doesn't impact how ESLint works but only impacts `workspace-lint`, which is a different command

[2021-01-13 00:19] ahnpnl opened #4513 "yarn create nx-workspace but the created workspace uses npm"
## Current Behavior

Use `yarn create nx-workspace` and created workspace uses `npm` instead of `yarn`. I'm using `yarn` via `Homebrew`

## Expected Behavior

The created workspace should use `yarn`

## Steps to Reproduce

- Run `yarn create nx-workspace my-workspace`
- Choose `angular`
- Choose `SCSS`
- Choose `ESLint`
- Choose no `nx cloud`

Screenshots

After running `yarn create nx-workspace`

[2021-01-13 00:34] ahnpnl opened #4514 "Support ignoring lint folders/files which are defined in .eslintignore"
## Description

Use `.eslintignore` to ignore ESLint running on files/folders when running `nx run-many --all --target=lint`. Currently this throws error

[code]

I have checked documentation but I couldn't find a way to ignore ESLint on projects. Using `ignorePatterns` in `.eslintrc.json` not working either.

Example repo at https://github.com/ahnpnl/nx-workspace

**Reproduce step**

- Clone the

[2021-01-13 01:42] carlosfaria94 commented on #3051
`npx nx build tuskdesk --prod --outputPath=.` works to build a specific app in Vercel.
However, when I try to run **`next export`**, i.e. in Nx I think is something like: `npx nx export backoffice-staff --outputPath=.` I get the following error:

[code]

https://github.com/vercel/vercel/blob/master/errors/now-next-routes-manifest.md

[2021-01-13 04:51] guiseek commented on #4456
I wanted to correct it, but the last few days have been very busy at work, thanks for your attention!

[2021-01-13 04:51] guiseek commented on #4456
I wanted to correct it, but the last few days have been very busy at work, thanks for your attention!

[2021-01-13 06:51] vic-lee opened #4516 "Integration with storybook: unable to resolve @nrwl/storybook:storybook"
## Current Behavior

When adding storybook to the [`nx-examples`](https://github.com/nrwl/nx-examples) repository, I'm seeing the following error:

[code]

## Expected Behavior

The storybook dashboard should launch.

## Steps to Reproduce

1. `git clone https://github.com/nrwl/nx-examples`
2. `yarn add --dev @nrwl/storybook`
3. `nx g @nrwl/angular:storybook-configuration products`
4. `nx run prod

[2021-01-13 11:44] tujoworker opened #4517 "Could not format /jest.config.js after removing an app"
## Current Behavior

By removing an app, I get:

`Could not format /jest.config.js because Unexpected token`

This is because the file gets formatted corrupt:

[code]

## Expected Behavior

By removing an app, the app should get removed from the root jest config `projects` field.
But without leaving a corrupt file.

## Steps to Reproduce

1. Run a plain new NX Workspace

`npx create-nx-workspace -

[2021-01-13 12:50] mehrad-rafigh commented on #4517
I will take a look at this tonight

[2021-01-13 12:52] mehrad-rafigh commented on #1472
Hey @vsavkin I like to tackle this and add a german translation. How should I start? Do have any wishes?

[2021-01-13 13:38] quolpr commented on #2123
For npm users: `npm run nx serve -- --host=0.0.0.0`

[2021-01-13 13:52] Gargamil commented on #803
For me this has helped:
https://github.com/typeorm/typeorm/issues/5458#issuecomment-586771247

[2021-01-13 13:53] Gargamil commented on #1393
Maybe this helps:
https://github.com/typeorm/typeorm/issues/5458#issuecomment-586771247

[2021-01-13 13:57] iamandrewluca commented on #3867
I think is not fixed yet. See last comment https://github.com/nrwl/nx/pull/3923

[2021-01-13 14:32] fxck commented on #4140
same here

[2021-01-13 14:34] fxck commented on #4140
seems to be working with node v14.15.4

[2021-01-13 14:37] LouisSung commented on #2701
HI, I'm glad to hear that it helps~
About the `-r tsconfig-paths`, I think it's related to [dividab/tsconfig-paths](https://github.com/dividab/tsconfig-paths#tsconfig-paths), used to solve some special cases about path that `tsc` can compile but `ts-node` don't (as mentioned in its readme).

I haven't met situation that requires that devDependency, what I can say is that the `2. -r tsconfig-paths/

[2021-01-13 14:41] SonicReal commented on #4402
Still doesn't work

[2021-01-13 14:48] Nikami commented on #4402
@itayod @vsavkin
Hello guys,
Do you have a chance to test this issue? Seems it's still reproducible in my case.

### Environment
  Node : 12.18.4
  OS   : win32 x64
  npm  : 6.14.9

  nx : Not Found
  @nrwl/angular : 11.1.5
  @nrwl/cli : 11.1.5
  @nrwl/cypress : 11.1.5
  @nrwl/devkit : 11.1.5
  @nrwl/eslint-plugin-nx : Not Found
  @nrwl/express : Not Found
  @nrwl/jest : 11.1.5
  @nrwl/linter : 11

[2021-01-13 14:58] #3655 closed

[2021-01-13 15:33] bekos commented on #4495
@LayZeeDK we use circleci but I have tested and GH actions. It turns out that the problem is that `pnpm` by default uses `--frozen-lockfile` on CIs and this is causing the failure if `package.json` has changed. I will try to send a PR that will fix it in our side.

[2021-01-13 15:46] viktor-potapov commented on #4402
Waiting solution!

[2021-01-13 15:48] ultd opened #4518 "@nrwl/next app not importing global CSS/SCSS files in build from _app.tsx"
I know you can only import global CSS/SCSS files to `_app.tsx`, this is not that problem. @nrwl/next app's are not importing CSS/SCSS files when serving for development.

## Current Behavior
`@nrwl/next` app's are not importing CSS/SCSS files from `_app.tsx` (global imports such as `import './styles.scss'`) to the build when running `nx serve $APP_NAME`. If you build using `nx build $APP_NAME` and

[2021-01-13 18:02] RafalFilipek opened #4520 "[emotion] css prop is not working"
## Current Behavior

First problem:

`css` prop is not working in generated next.js application until `.babelrc` is modified into:

[code]

I'm cool with that, while not every app is using emotion.

Second problem:

`css` prop is not working in generated react lib.  Create `.babelrc` looks like:

[code]

Regardless of what plugins / presets will be added nothing happens. In fact, it looks like `.b

[2021-01-13 19:40] bekos commented on #4495
@ZachJW34 fyi, as a workaround you can add
[code]

[2021-01-13 20:00] Frikki opened #4523 "Warnings of unmet peer dependencies after installing @nrwl/angular package"
## Current Behavior

Warnings of unmet peer dependencies after installing @nrwl/angular package.

## Expected Behavior

No warnings of unmet peer dependencies after installing @nrwl/angular package.

## Steps to Reproduce

[code]

### Failure Logs

[code]

### Environment

[code]

[2021-01-13 20:04] Frikki commented on #4513
Try to specify the package manager on creation.

[code]

And then configure the workspace manager.

[code]

[2021-01-13 20:16] Lonli-Lokli commented on #4320
With the latest upgrade I've got an error with prefer-const rule in ESLint.
I have it disabled in root eslintrc, seems like rule overrides in libs actually overriding root one instead of merging it.

[2021-01-13 20:20] ahnpnl commented on #4513
Thanks `yarn create nx-workspace --package-manager=yarn` works for me. I couldn't find it in the doc about that `--package-manager` arg

[2021-01-13 20:20] #4513 closed

[2021-01-13 20:21] cereallarceny commented on #4420
@jaysoo I think you might misunderstand the problem though.

What I mean here is that if there is ANY file named `.local.env` in your project, those variables will take preference over the variables in `.env`. I can understand that `.local.env` variables should not be considered in a build, but you also shouldn't have to comment them out every time you run a build either. All my PR is trying to do

[2021-01-13 20:43] edbzn commented on #2646
Hi there, we developed a community plugin for that [@jscutlery/semver](https://github.com/jscutlery/semver). It supports both modes **locked** and **fixed**. Take a look and give us some feedback.

[2021-01-13 20:55] LayZeeDK commented on #4320
Hi @Lonli-Lokli,

I've talked to another community member about this happening with ESLint even thought it's supposed to merge the lists of rules and the options for the individual rules.

[2021-01-13 20:56] LayZeeDK commented on #4495
Thank you very much, @bekos!

I will try this in my workspaces.

[2021-01-13 21:06] minijus commented on #2646
There is quite fresh [@ng-builders/semrel](https://github.com/ng-builders/ng-builders/blob/master/libs/semrel.md#ng-builders-semrel-release) builder by @IKatsuba which looks promising as well. It might be worth a try!

[2021-01-13 21:07] LayZeeDK commented on #4495
It worked in this branch of my issue repo:
https://github.com/LayZeeDK/nx-plugin-issue-pnpm-install/blob/8941c3b73b4ce9fa0e7ad1c34d25297a5f122ee6/e2e/pnpm-install-e2e/tests/pnpm-install.spec.ts#L14

[2021-01-13 21:30] IKatsuba commented on #2646
This builder publishes itself!  I look forward to feedback and issues!)

[2021-01-13 21:51] bekos commented on #4495
@LayZeeDK can you try to remove the workspace.json "hack"? I don't believe it's needed 🤔 we determine the desired package manager based on lock files instead of that property.

[2021-01-13 23:30] LayZeeDK commented on #4495
Thanks, you are right, this doesn't seem to be needed.

[2021-01-13 23:58] #3849 closed

[2021-01-14 02:22] sameera opened #4525 "Storybook is broken in Angular projects upgraded from NX 10"
We've been working on a project that has couple of UI libs that use Storybook. We started the project on NX 10 (and Angular 10). However, since upgrading to NX 11, we are seeing build errors when we execute Storybook.

## Current Behavior
Running `nx run <project>:storybook` prints out multiple warnings and errors. Probably the root cause is the following warning and error:

[code]

I have already

[2021-01-14 04:00] yharaskrik commented on #4455
@bekos I like that idea, @vsavkin what way would Nrwl like to take this? I'd be more than happy to attempt to tackle this, just not sure if Nrwl will want to go with the automatically caching `NX_*` or if something more generoic like @bekos suggested would be better to go with?

[2021-01-14 05:51] sameera commented on #4525
This was because I had not updated the peer dependencies though NPM warned me about them.
Following updates were needed:
[code]

[2021-01-14 05:51] #4525 closed

[2021-01-14 05:58] dbrody commented on #3069
Any updates on this? Before we begin to utilize a lot more libs in our monorepo which has many advantages, this is a good thing to have clarified so we know how best to architect it. We are using React applications and pure typescript libraries on the latest NX.

[2021-01-14 08:27] Elif5757 commented on #1707
@CSchulz @ninogomez   I'm getting the same "path argument is required to res.sendFile" message when I run the test. What should I do?

[2021-01-14 08:31] bronkalonka opened #4526 "migration fails, update-10-2-0 missing"
Hello all,

I am trying to migrate to the latest version with ```nx migrate latest``` and then running ```npm install```.

[code]
When running the migrations with ```nx migrate --run-migrations``` the migrations fail.

In the migration.json is this step:

[code]

but the related folder in node_modules/@nrwl/workspace/src/migrations is missing and the migration is failing with ```Unregistered task

[2021-01-14 08:33] CSchulz commented on #1707
@Elif5757 Which versions are you using?

[2021-01-14 09:03] edbzn opened #4527 "Devkit guide"
Hi, I started digging in the new devkit package for plugin authors and I was confused by [the last section "When to Use What"](https://nx.dev/latest/angular/guides/nx-devkit-angular-devkit#when-to-use-what) in the guide.

Here I understand that I should use the Nx devkit only if I'm developing an Nx plugin, but not for a regular Angular CLI project. Pretty clear, but the last statement confused me

[2021-01-14 09:17] Elif5757 commented on #1707
@CSchulz

"@angular-devkit/build-angular": "^0.1002.0",
        "@angular-eslint/eslint-plugin": "^0.6.0-beta.0",
        "@angular-eslint/eslint-plugin-template": "^0.6.0-beta.0",
        "@angular-eslint/template-parser": "^0.6.0-beta.0",
        "@angular/cli": "~10.1.3",
        "@angular/compiler-cli": "^10.1.0",
        "@angular/language-service": "^10.1.0",
        "@cypress/code-coverage"

[2021-01-14 09:24] hideokamoto opened #4528 "Faild to build library by "Could not find a declaration file for module""
## Repository

https://github.com/digitalcube/galaxy/tree/ci/changelog
branch: ci/changelog

## Current Behavior

We want to maintain several packages by using Nx.
So we need to build all of the packages before publishing them to npm or GitHub registry.

[code]

But our build task always failed by the error message.

[code]

I'm not sure why, but the `core` package's dist directories are wrong.

[

[2021-01-14 09:33] JamesHenry commented on #4463
Hi @ericbiewener, in an Nx workspace the primary relationships are between _projects_ (i.e. apps and libs), not files and projects. Projects naturally contain files, and they have their part to play in determining whether or not the project "owns" them is affected by code changes, but the kind of nuanced inter-project behaviour within a workspace you are describing is not the intended usage.

A de

[2021-01-14 09:33] #4463 closed

[2021-01-14 09:49] jogelin commented on #4320
Hello @Lonli-Lokli, @LayZeeDK
Same issue here with the latest Nrwl version (11.1.5). We would like to change the `max-len` rule to align with our prettier config but it is not applied. We have to duplicate this rule in each apps/libs...

[2021-01-14 09:58] #3774 closed

[2021-01-14 10:06] Lonli-Lokli commented on #4320
@jogelin max-len from eslint should be disabled actually as line length should be ruled by prettier (and it was before this release).

[2021-01-14 10:11] jogelin commented on #4320
@Lonli-Lokli I would agree but still have the error
`error  This line has a length of 141. Maximum allowed is 140  max-len`
and I skipped nx cache...

[2021-01-14 10:13] Lonli-Lokli commented on #4320
@jogelin agree, personally me roll back this upgrade as it took too much time to fix all of this.

[2021-01-14 10:18] jogelin commented on #4320
@Lonli-Lokli I am creating a common plugin that I include in each apps/lib ;)

Ex:
[code]
then in `.eslinrc` of the app/lib
[code]

[2021-01-14 10:20] Lonli-Lokli commented on #4320
@jogelin I still hope it will be fixed by Nx team.

[2021-01-14 11:50] itayod commented on #4402
correct this is still happening... I will open another issue as it seems I can not reopen this one

[2021-01-14 11:54] itayod opened #4530 "Angular schematics always generated under application's root"
I recently opened https://github.com/nrwl/nx/issues/4402 which seems not to be resolved.

Since I could not reopen it, I suggest we reopen this issue and close this one.

[2021-01-14 11:56] tmc101 commented on #4439
I'm (easily) confused.

npmjs.com is showing a couple of new releases:

![image](https://user-images.githubusercontent.com/11647741/104587743-45ed6600-565f-11eb-8971-36148d989a41.png)

But I can't see these tags or releases in the nx repo.

[2021-01-14 13:14] carlosfaria94 commented on #3051
By updating Nx dependencies with the following build settings, we managed to deploy it successfully:

![image](https://user-images.githubusercontent.com/4710889/104595161-1b54da80-566a-11eb-938d-7474339bebf6.png)

[2021-01-14 13:27] dbrrt commented on #3051
@carlosfaria94 but apparently it's bad not using the nextJS preset for a nextJS application on vercel  :)
I've had as well this `routes-manifest.json` not being found as well using the nextJS plugin

Hopefully we'll have a neat solution working out-of-the-box with a fresh nextJS within a nx monorepo.

[2021-01-14 15:29] JamesHenry commented on #3051
@carlosfaria94 I am honestly surprised there is a need for running next export when deploying to Vercel given they already do Automatic Static Optimization for you, and you retain much greater flexibility to add dynamic behaviour in the future if you want to...

It's for that reason I have never used `next export` and so would need to defer to somebody who has and/or Vercel themselves to understan

[2021-01-14 15:29] s4m0r4m4 commented on #4201
I ran into this problem as well. To reproduce, I moved a file using drag-n-drop in the VS Code file explorer on the left. Then ran `nx build <my proj>` and received the following two error messages:

- Warning: Fell back to using 'fs' to identify apps/canvas-render-test/src/services/test.service.spec.ts as deleted. Please open an issue at https://github.com/nrwl/nx so we can investigate.
- Warning

[2021-01-14 15:49] dbrrt commented on #3051
@JamesHenry Are we talking of a static deployment or a serverless target deployment?
I assumed both should be working with the recently applied fix, despite I was already able to deploy nextJS with nx with the nextJS plugin in vercel, via the serverless target.

https://nextjs.org/docs/advanced-features/static-html-export#how-to-use-it
`next build && next export` is the recommended way to build a

[2021-01-14 16:01] khalid283 commented on #1511
@wellrightamplify how did you implemented in nx?

[2021-01-14 16:27] toinelin commented on #1933
Hello 🖖

It seems Nx implemented `customServerPath` on Next plugins.
But I can't make it working as I always get `Couldn't find a `pages` directory. Please create one under the project root`

[code]

My `server.js` file is located on `app/my-next-app/server.js`
Does anyone has encountered the same issue ?

Thanks !

[2021-01-14 16:39] ericbiewener commented on #4463
Thanks for the thorough explanation @JamesHenry, this makes sense.

[2021-01-14 17:02] wolfhoundjesse commented on #4502
@angelnikolov Were you able to package the bundles in that way, too? I.e,, when importing from npm, would you be able to:
`import { Something } from '@scope/core`
`import { SomethingSpecific } from '@scope/core/utils`

I'm trying to find documentation on extending the ng-packagr settings, if that's what I need to do. This is for a React project.

[2021-01-14 17:05] angelnikolov commented on #4502
@wolfhoundjesse It should be the possible yes. You just need to add the alias in your tsconfig file I think and it should work. This is the default for NX anyway.
If you want the deep imports (your 2nd example) you can try out what Victor suggested above. I  haven't tried it yet tho.

[2021-01-14 18:23] paolotozzo commented on #3776
I had the same problem and as I am stuck with node version 10 for this project the only solution I found was to lock to use `jest-environment-jsdom` to a version lower than 25.
In the package.json just add to the resolutions as follows

`"resolutions": {
    "jest-environment-jsdom": "24.9.0"
  },`

I use yarn, npm probably does not support it, although you could use `npm-force-resolutions`

[2021-01-14 19:46] demisx commented on #4452
I am getting this error in `v11.1.5`. Any idea what may be wrong?

[code]

[2021-01-14 20:52] wolfhoundjesse commented on #2212
Have you tried changing the executor in your workspace.json to `@nrwl/web:build`?

[2021-01-14 23:12] BigAB commented on #4506
So are we thinking adding peer dependencies would fix the issue?

No right? Because it's not the `peerDependencies ` in the root `package.json` that are not being added to the built `package.json` it's that peer deps are missing in the final build.  I assume this because peer deps weren't added before [c062c6e](https://github.com/nrwl/nx/commit/c062c6e6578a9649dda101c02a384ea71d7d14ee) either but

[2021-01-14 23:13] jemys89 commented on #738
Same here!

[2021-01-15 01:41] #3730 closed

[2021-01-15 01:41] carlosfaria94 commented on #3051
Yes, we had to ignore NextJs preset, and it's not clear what are the implications.
At this stage, we are basically pushing static content to a CDN (Vercel).

However, I have the same question, what's best option for Vercel with Nextjs: `next build` or `next export` ?

Thank you

[2021-01-15 02:45] dbrody commented on #4411
Any update on this? I'm trying to get the same thing to work.

[2021-01-15 07:08] ubergeoff commented on #3973
I updated to latest Jest dependencies:

[code]

Now, the correct error is displayed in the console.
However, the test runner process **still** does not stop. i.e. Process does not end when error is found.

[2021-01-15 08:19] brunano21 opened #4532 "Add Nrlw and NX icons to simple-icons"
## Description
I recently found out about the existence of [simple-icons](https://simpleicons.org/) and I noticed that nrwl and nx icons are missing from the available icons set. So I thought to contribute to simple-icons [GitHub repository](https://github.com/simple-icons/simple-icons) and create 2 PRs for adding them.

However, before proceeding that I believe it's essential your greenlight on t

[2021-01-15 08:57] nnuriozturk opened #4533 "Command failed: npm install @nrwl/workspace@11.1.4"
Hi,

I am getting the error followed during the transition to nrwl 11.1.4. Can you help me with this,  I share the output down.

Microsoft Windows [Version 10.0.18363.1198]
(c) 2019 Microsoft Corporation. All rights reserved.

D:\Work\VITWEB>npm run nx migrate

Provide the correct package name and version. E.g., @nrwl/workspace@9.0.0.
D:\Work\VITWEB\node_modules\@nrwl\workspace\node_modules\yargs\

[2021-01-15 09:18] hideokamoto commented on #4528
Resolved.

I placed a storybook file outside the `src` dir in the library project.
After replaced these files inside to the `src` dir, the build has been worked well.

I'm not sure why these `d.ts` files are in the wrong place for this reason, but probably it's a rollup or Nx specify.

[2021-01-15 09:18] #4528 closed

[2021-01-15 09:28] laSinteZ commented on #4506
@BigAB Before https://github.com/nrwl/nx/commit/c062c6e6578a9649dda101c02a384ea71d7d14ee all root dependencies were added, and this worked (though it added tons of unused packages for sure).

For example, in my project we use `@apollo/client`. It has a peerDependency `graphql`, and we added to our `package.json` along with `@apollo/client` (as @gabrielbull mentions, apparently they do it in their

[2021-01-15 10:56] zhangciwu commented on #3664
@AliYusuf95 I put all the lib path config in root tsconfig, and using `paths` instead of `references`
Also I have blank `include` in `myapp/tsconfig.json`, and declare the `include` in `myapp/tsconfig.app.json` and `myapp/tsconfig.spec.json`

[2021-01-15 10:58] bilelmsekni commented on #4320
This is really annoying because I can't share typescript rules across my monorepo:
Steps to reproduce:

1- Generate a new workspace with eslint (11.1.5 or below)
2- In the root .eslintrc.json, update the section where we "extends": ["plugin:@nrwl/nx/typescript"],
[code]

3- Go to app.component.ts and make the string title loooong (more than 140 but less then 155
[code]

4- lint error is displayed

[2021-01-15 11:27] cyrus-za opened #4534 "Nx Cloud Run Details (gh bot) not working"
## Current Behavior
Run details do not work (after adding repo access and adding the env to github actions. Using MansaGroup/nrwl-nx-actions

## Expected Behavior

I expect the github bot to show run details in my PRs

## Steps to Reproduce

1. Run `yarn create-nx-workspace`
2. Push to a new github repo
3. Add the below code to `.github/workflow/nx.yml`
4. Add https://github.com/apps/nx-cloud to y

[2021-01-15 11:30] gabrielbull commented on #4506
That would work, it would need to be made recursive to make sure that peerDependencies of peerDependencies are also included, and so forth. Not that it is my case, but it could happen.

[2021-01-15 11:34] laSinteZ commented on #4506
@gabrielbull is there an example of package with peerDependencies of peerDependencies? I've assumed that peerDependencies of peerDependencies should either be dependencies because otherwise package won't work or it will be peerDependency itself. Bud I guess that's bold assumption :)

[2021-01-15 11:45] gabrielbull commented on #4506
Well, I don’t have a specific one in mind, but it’s a valid use case so it should not be ignored. Making the function recursive would solve that and avoid someone opening up a new issue about it down the line.

[2021-01-15 12:14] IssaGithub opened #4535 "Getting "Port 4200 is already in use" sporadisly when running npx nx run-many"
Hi,

im very new to NX. After creating a new NX workspace and inserting two allready excsisting angular applications into the workspace. I am getting once and a while the message
"Port 4200 is already in use. Use '--port' to specify a different port."

Iam also wondering why i cant find any angular.json file. There is only an workspace.json. I asume its because i firs created a empty workspace and

[2021-01-15 13:03] mandarini commented on #3944
This PR will be closed. Deleting the folders proves to be a bit trickier than anticipated, since they are empty, and `host` cannot really perceive them. We could delete the folders via `fs` but this could create some ugly tests.

So, this PR will be closed for now (it may be revisited in the future). It is a small price to pay to delete once the remaining, empty, `src` and `e2e` folders. Since the

[2021-01-15 13:03] #3944 closed

[2021-01-15 13:30] Squixx commented on #4470
I'm having this awel.

Can be test / lint / builds that fail, only with run many.

And a rerun often fixes it..

[2021-01-15 13:51] vsavkin commented on #4535
Hi there!

If you use run-many to serve multiple multiple applications at the same time, they have to have different ports configured in the their options. By default, 4200 is the port used, so change to say 4201 for the second app's options, and the command will work.

I'm going to close this. Thank you!

[2021-01-15 13:51] #4535 closed

[2021-01-15 14:11] vsavkin commented on #4523
Hi there! Thank you for submitting the issue.

After installing `@nrwl/angular`, you need to run `npx nx g @nrwl/angular:init`, which will add all the necessary peer dependencies and update necessary configs. The init generator is invoked automatically when you add generate the first angular app.

I'm going to close this as it works as expected. There is no way for us to know what peer deps a part

[2021-01-15 14:11] #4523 closed

[2021-01-15 14:17] vsavkin commented on #4526
Thank you for submitting the issue.

The migration in question is in the `@nrwl/angular` package, not in `@nrwl/workspace`.

That migration is noop if you use `nx migrate`. It's only there for compatibility with `ng update`. So you can remove it from `migrations.json`.

Not sure why it fails for you though. If you can create a repro, I'll take a look.

[2021-01-15 14:21] vsavkin commented on #4530
Hi there!

I'm not able to repro it. If I do something like this:

[code]

`mycmp` is generated in `apps/myapp/src/a/b/c/`.

Am I testing a wrong use case?

[2021-01-15 14:40] vsavkin commented on #4533
It looks like an issue with npm on your machine. Could you provide a repro with a repo you are trying to migrate?

[2021-01-15 15:01] #4500 closed

[2021-01-15 16:03] SonicReal commented on #4530
@vsavkin
`C:\Projects\vsavkin\apps\vsavkin\src\app\a\b\c>ng g c mycmp
CREATE apps/vsavkin/src/app/mycmp/mycmp.component.html
CREATE apps/vsavkin/src/app/mycmp/mycmp.component.spec.ts
CREATE apps/vsavkin/src/app/mycmp/mycmp.component.ts
CREATE apps/vsavkin/src/app/mycmp/mycmp.component.scss
UPDATE apps/vsavkin/src/app/app.module.ts`

 Node : 14.4.0
  OS   : win32 x64
  npm  : 6.14.5

  nx : Not Fou

[2021-01-15 16:59] FrozenPandaz commented on #4508
I was able to reproduce this issue. This is odd indeed.

From what I understand, ["Solution" tsconfig.json](https://www.typescriptlang.org/docs/handbook/project-references.html#overall-structure) files allow `tsconfig.json` to _delegate_ out to different tsconfigs. Editors, this means that instead of every file within a directory being type-checked by `tsconfig.json`, they can now be type-checked

[2021-01-15 17:10] mmcxii commented on #2975
Bumping this. This is also an issue that occurs when using [Mikro-ORM](https://mikro-orm.io). Setting `"module": "commonjs"` in the `"compilerOptions"` for the tsconfig in a Nest app does allow the app to compile, but I still get warnings in the terminal.

[2021-01-15 18:22] juristr commented on #4516
There's a deep-import being made in one of our packages which apparently changed. I'm going to look into this. Thx for reporting

[2021-01-15 19:52] tanepiper commented on #4503
@vsavkin Thanks! It otherwise worked so I hadn't considered that, but looks like it might fix it!  I'll give it a try if not get back

[2021-01-15 20:12] danimbrogno commented on #2846
Just noticed that args with hyphens in them which worked in nx 8 no longer seem to work in nx 11.

e.g.

Only slot is successfully passed here
`yarn expo build:android -t app-bundle --release-channel {args.slot} --keystore-path {args.android-keystore} --keystore-alias {args.android-keystore-alias} --skip-workflow-check --no-wait --no-publish`

All arguments are passed here
`yarn expo build:android

[2021-01-16 03:01] paustint commented on #4182
THANK YOU SO MUCH! I wont get the last couple of hours of my life back, but I can now move on!

Appreciate you posting the workaround 🎉

[2021-01-16 03:02] mathpaquette commented on #4526
same here.

[2021-01-16 04:27] beeman opened #4538 "[nx-plugin] Running a wrapped schematic in a unit test fails"
## Current Behavior

In an Nx Plugin project, when running a 'wrapped schematic' (like `applicationGenerator` from `@nrwl/nest`) in a unit test, the operation fails with this error message:

[code]

When inspecting the `host: Tree`, it turns out that the file `/workspace.json` exists in the root, not in `virtual/`.

When I run this same code inside an e2e test, it does seem to work as expected.

I

[2021-01-16 06:45] beeman opened #4539 "@nrwl/angular does not export the generators"
## Current Behavior

The generators from `@nrwl/angular` are not public, whereas the other ones (`@nrwl/nest`, etc) are. It seems like [this commit](https://github.com/nrwl/nx/commit/16cdba4dc9bf1c2f73874c591784427bb91ab352#diff-a78dce75d6a03e9378cbc856704a42c4c374cf8e471e9bb83d6cef4388dfa1b9) undid the changes made [here](https://github.com/nrwl/nx/commit/baa8c23d0ff1971d70de6d44c5531f1d080659aa#

[2021-01-16 11:11] minijus commented on #4470
@Squixx does this happen on CI (Jenkins) as well? Is it container/pod that you run the `nx` in? Is it mounted volume for cache or a static directory within same file system?

[2021-01-16 11:55] dobromyslov commented on #836
@markwhitfeld thank you for the addition. I also did that but did not post here.

@EthanSK

gcp-function plugin does not provide full flexibility as though you develop a standalone Firebase project. Standard Firebase approach lets you mix multiple functions as well as mix various triggers (e.g. firestore document change, storage file write, scheduler) and create a full featured data processing pip

[2021-01-16 12:05] dobromyslov commented on #836
Does anybody know how to properly create and manage 2 or more Firebase projects under one NX workspace?

I am struggling one drawback of @spy4x @jaytavares @vdjurdjevic approach: can't split dependencies between functions. I added one function which requires puppetteer package. As you may know this dependency is rather heavy and takes much time during functions deployment.

My idea concludes in de

[2021-01-16 12:20] martaver commented on #2646
@IKatsuba does this builder handle versioning for upstream non-lib dependents? E.g. if I have an angular site or a node app in my monorepo, will it version those? And if they depend on a lib that I published using this builder, will it also increment versions on the site and node app?

[2021-01-16 13:26] IKatsuba commented on #2646
@martaver you can create a feature request [here](https://github.com/ng-builders/ng-builders/blob/master/libs/semrel.md#ng-builders-semrel-release) and I will do it!)

[2021-01-16 13:54] cyrus-za commented on #3051
I agree. Love the stack and glad to see people working together. Now if we can just get Prisma to play nice with these we'll have a proper full stack combo.

@carlosfaria94 Things are working for me with latest nx and the changes documented [here](https://nx.dev/latest/react/guides/nextjs#deploying-to-vercel) as @JamesHenry mentioned. No need to run next export. In fact, if you run next export you

[2021-01-16 14:34] cyrus-za commented on #4416
Thanks @JamesHenry. That fix works for me. I've left some comments in #3051 for other users with similar issues.

[2021-01-16 15:08] dbrrt commented on #3051
@cyrus-za So does that mean it's not recommended to deploy CSR applications to vercel?
I still see significant pros deploying a nextJS application this way (static), so it's a bit of a shame not to support that, if that's the case.

[2021-01-16 18:02] cyrus-za opened #4540 "pnpm + vercel: Unable to resolve @nrwl/next:build"
I am using a complex setup with nx, next, prisma and deploying on vercel.

## The problem

Every 2nd run on vercel results in an error. Clicking `Redeploy` usually fixes it, until the next PR is opened.

I change `build` for my app (`flow`) to call multiple nx commands ending with `next-build` which calls the `@nrwl/next:build` builder. The reason for this is due to having a lib called `flow-data`

[2021-01-16 18:34] akaRem opened #4541 "Broken links on the documentation site"
## Current Behavior

There are multiple cases when links lead to 404 page.

For example,
https://nx.dev/latest/node/migration/overview#exploring-your-workspace => Take a tour of your Nx workspace. => https://nx.dev/latest/node/workspace/workspace-overview => 404

Choose "previous" version and click on Getting started => https://nx.dev/previous/react/getting-started/getting-started +. 404 (errors f

[2021-01-16 19:06] martaver opened #4542 "parallel settings in nx.json aren't respected"
## Current Behavior

I'm trying to run tasks in parallel. Specifically, `yarn affected:lint`. When I run `yarn affected:lint --parallel=true --maxParallel=16` then all my tasks run at the same time and it completes much faster, as expected. I want this to be the default behaviour, so I set `taskRunnerOptions` as per configs described at: https://nx.dev/latest/react/getting-started/configuration#nx

[2021-01-16 19:25] Brian-McBride commented on #3867
I also get the error in Webstorm with only `SomeComponent.stories.tsx` All the other files seem to lint fine. Just anything with `stories` in the path name.

[2021-01-16 19:56] vsavkin commented on #4541
Thanks for submitting the issue.

We restructured the docs a bit for 11 release. We added some redirect rules to handle the change, but those only work when you refresh the page.

I fixed the workspace overview link here: https://github.com/nrwl/nx/commit/a996db280a9a3ce2e150146ac58bb9851d35f5d1

The site frame doesn't handle the prev/current switch--it always renders same links (in opposite to th

[2021-01-16 19:56] #4541 closed

[2021-01-16 19:59] Brian-McBride commented on #3867
Ok. I found something that fixed this issue for me... but might cause other issues (maybe).

In your library, there is that root tsconfig.json that has references something like this:
[code]

When comparing the `./tsconfig.lib.json`, `./tsconfig.spec.json`, and `./.storybook/tsconfig.json` the major difference was that the storybook config didn't have `compilerOptions` in there.
I made a copy of t

[2021-01-16 20:04] AhmedHlaimi commented on #3370
hey guuuuus, just fixed with the stash , try git stash , its work for me

[2021-01-16 20:04] AhmedHlaimi commented on #4114
hey guuuuus, just fixed with the stash , try git stash , its work for me

[2021-01-16 20:18] dobromyslov commented on #836
Found a way to create, run local emulators and deploy two or more NX apps with Firebase support using `firebase --config firebase.second-app.json` (this feature was added in July, 2020 https://github.com/firebase/firebase-tools/issues/1115)

Just add second NX application with Firebase support as described above: https://github.com/nrwl/nx/issues/836#issuecomment-714384504 and add another `firebas

[2021-01-16 20:54] martaver opened #4544 "@typescript-eslint rules are applied to javscript files"
## Current Behavior

This is a contrived example to demonstrate lint problems that emerge when installing a storybook configuration on a react project.

When I create a javascript file in a typescript (react) project, for example:
[code]

Then `eslint` fails with the following rule:
[code]

Since the `@typescript-eslint` plugin is only used in the `@nrwl/nx/typescript` configuration, and in the ba

[2021-01-16 20:55] martaver commented on #4544
Nx is: `nx@11.1.5`

[2021-01-16 20:56] martaver commented on #4542
Nx is: `nx@11.1.5`

[2021-01-17 00:46] yeomann commented on #2355
![image](https://user-images.githubusercontent.com/5970751/104828078-2f692980-586e-11eb-99e4-e0e5b4589a9c.png)

This is a fresh project and getting this error

[2021-01-17 10:14] yeomann commented on #3184
I created a fresh project to test with react
and immediately after that try to upgrade nx, which failed miserably so couldn't do it.

Only way i am able to get rid of require error or other eslint related errors was first by installing workspace
```npx create-nx-workspace@latest```
chose empty project and later install the react.

[2021-01-17 10:32] Mubramaj opened #4547 "Add a way to ignore dependency when building publishable lib"
## Description

Add a way to ignore a dependency when building a publishable library. I know that there is the `.nxignore`. However,
the files added to the `.nxignore` are  also ignored when running the `affected` command which is not what is needed here.

## Motivation

If in a publishable lib there is some spec files that relies on a `utils/util-testing` external lib, this test utility will be b

[2021-01-17 11:17] cyrus-za commented on #3051
@dbrrt its not that it wont work. It's just sad to not have the option to switch some page to ISR or SSR.

What happens when data changes in your db or cms? Do you need to deploy again?

[2021-01-17 12:56] #3868 closed

[2021-01-17 14:23] juristr commented on #4516
So there are a couple of things. First the `core-js` package is outdated on the nx-examples repo which then creates a conflict with storybook (requiring v3) when it is compiled.

Apart from that, it seems that for some reason (which I'm still trying to investigate), the `@storybook/core` dependency hasn't been installed. It is a direct dependency of the `@storybook/angular` package, so it should b

[2021-01-17 14:35] #4495 closed

[2021-01-17 16:53] dbrrt commented on #3051
@cyrus-za Agreed that an hybrid deployment for next applications could be useful.
Regarding the data being changed in the database or cms, if it's managed through serverless functions within the nextJS project, in most cases you would have to redeploy, otherwise, nextJS can be seen as a front-end consuming other services, which can be notified in real-time of such changes via websocket or a pollin

[2021-01-17 17:21] juristr commented on #4505
@bmcilw1 hi, apparently this is related to npm 7. We had a couple of issues lately caused by changes in how npm 7 resolves peerDependencies. I'll look into this. Meanwhile, if you use a version lower than npm 7 everything should work just fine.

[2021-01-17 20:47] #4237 closed

[2021-01-17 21:54] yharaskrik commented on #3203
I am also facing this issue. Only when building a buildable lib that uses a shared style sheet.

[2021-01-17 23:01] ludicast commented on #3203
I just posted on the nrwl/community slack my opinion that syncing/linking your package with the top-level node_modules works and feels "correct" (was mentioned to me there as a strategy).  Like you are going behind the back of Nx but at least adhering to node conventions.

stylePreprocessorOptions feels wrong, because it requires a monorepo developer to know how Nx works.  and this will be a bigge

[2021-01-18 01:00] #4542 closed

[2021-01-18 01:05] therk opened #4552 "Unable to import assets from library component into Next app"
## Current Behavior
Image is not found

## Expected Behavior
Following the instruction on "9. Shared assets library and nx.json - Nx Workspaces Course, by Nrwl" https://www.youtube.com/watch?v=LYjX2V-eQa8 The image should be found.

## Steps to Reproduce
Created a test project to reproduce the issue https://github.com/therk/nx-test-next-with-assets
In the test project, there is ui lib with the Abo

[2021-01-18 03:12] dbrody opened #4553 "Cytoscape dep-graph changes the layout of the graph"
## Current Behavior
The new cytoscape dep-graph makes straight lines. Before it was curved.
<img width="1485" alt="Screen Shot 2021-01-17 at 6 57 10 PM" src="https://user-images.githubusercontent.com/210322/104868229-aa2a5700-58f7-11eb-927c-a44945313b7f.png">

## Expected Behavior

<img width="1047" alt="Screen Shot 2021-01-17 at 7 02 24 PM" src="https://user-images.githubusercontent.com/210322/10

[2021-01-18 09:02] ArkasDev opened #4554 "Nrwl CLI installation prevents the use of the default Angular CLI in other projects"
## Current Behavior
I have migrated one organization to NX. For this I have installed the necessary Nrwl modules. I also have other Angular projects on my machine. Unfortunately these are now affected by Nrwl. If I want to use the default Angular CLI in another project e.g. `ng serve`, then the following error occurs.
[code]

## Expected Behavior
I can use the default Angular CLI in other projects

[2021-01-18 09:29] minijus commented on #4470
The common denominator seems to be mounted volume for cache.
In my case on-prem read-write-many volume might have it's limitation, but @Squixx case I'd expect Azure CI with mounted volume to run flawlessly.

@vsavkin do you have any ideas what could be tried in order to alleviate the issue or at least to get more details on it?

[2021-01-18 09:40] Squixx commented on #4470
Well tbh, since hosted azure CI doesn't provide a way to mount volumes on multiple agents.  (we split our runs over 12 agents). Our storage account implementation also might have its limitations. _but_ It works most of the time, and on our side a rerun of one job always solves the problem, and the problem also only occurs for the entire task. So run many seems to fully crash on a missing / corrupt

[2021-01-18 10:46] kishok commented on #4466
hi @vsavkin, **@nrwl/storybook:configuration**  not working for the "uiFramework":"@storybook/html" value in v11.1.5. So not able to add storybook to my web component. please add that value to uiFramework schema enum.

[2021-01-18 13:02] gustavohenke commented on #3815
+1 for this -- hope it gets reopened 🙂

[2021-01-18 15:22] johannesschobel commented on #4508
Dear @FrozenPandaz ,
damn, i am actually very glad you could reproduce this issue.
I also played around with the `solution` file, however, just the solution file alone did not solve the issue for me.

I guess, WebStorm uses a different approach for finding / refactoring files than VSCode is.. However, due to the fact, that VSCode is free to use, and has nowadays a very large userbase, this issue s

[2021-01-18 15:45] dobromyslov commented on #3843
@agentlewis thank you for sharing this approach. I also was looking for some solution to mix a private NX workspace monorepo with my external open source libraries located in separate github repositories.

And found old and bold solution from @vsavkin https://blog.nrwl.io/dev-workflow-using-git-submodules-and-yarn-workspaces-14fd06c07964 but it was posted 3 years ago. Also folks say it does not wo

[2021-01-18 16:06] EthanSK commented on #4517
any updates on this?

[2021-01-18 16:28] EthanSK opened #4559 "Prefix in auto-generated eslintrc does not respect angular.json"
## Current Behavior
When generating a new lib or something with an eslintrc, the enforced angular prefix for components and directives does not use the one in angular.json.

## Expected Behavior
It should use the one in angular.json. Or at least provide us with another way of setting the default prefix other than changing the npmScope in nx.json

[2021-01-18 17:30] BigAB commented on #4506
I understand the problem.

- I think the **easiest fix** is to just revert this change and continue installing unused packages (@jaysoo)
- Searching through the peer deps of the installed packages sounds like it would work as well, but I am not sure if we have easy access to those deps without getting weird about it (basing on known file structures and whatnot)
- another alternative is to have _so

[2021-01-18 17:32] gabrielbull commented on #4506
Other Nx plugins allows you to specify extra dependencies in the `package.json` of the project. Like `apps/app1/package.json`. I know I do it with @nrwl/nest

[2021-01-18 19:14] laSinteZ commented on #4506
Yeah, I second that all deps = very huge dokcer container + long `npm install`. Having some way of mentioning needed peer deps would be nice (even though the __correct__ solution would be iterating through peerDeps, but it might be out of your scope guys, I guess it would require much more work)

[2021-01-18 19:34] Cammisuli commented on #3982
Upgrading the example repo to the latest Nx version (at the time of this comment is `11.1.5`) things look like they're working properly. Yes, in the example repo with version defined there, there is an issue.

So I recommend that you retry with the latest. If it still doesn't work there, please open a new issue with the latest versions again. Thank you!

[2021-01-18 19:34] #3982 closed

[2021-01-18 19:59] Cammisuli commented on #3795
I think it may have to do with the version of Nx. I recently saw that some issues were happening on the v10.x.x line that were fixed with v11.

I'm going to close this in the mean time, because again, everything is working on the latest version. If you're still having issues with the latest version, please feel free to open a new issue.

Thank you!

[2021-01-18 19:59] #3795 closed

[2021-01-18 21:09] #3265 closed

[2021-01-18 21:09] #3258 closed

[2021-01-18 21:24] Cammisuli commented on #3915
The warnings that appear look like they're coming from either webpack or TypeScript. This necessarily isn't an issue with running nest or any nx.

It looks like the problem is solved with the comment above ☝🏼

[2021-01-18 21:24] #3915 closed

[2021-01-18 21:49] Cammisuli commented on #3943
Hi @patryk-zielinski93 , sorry for taking a while and not replying sooner, but maybe you could try with the latest version of Nx?

And if possible try and get the repro for us?

[2021-01-18 22:27] dobromyslov commented on #3843
@agentlewis tried to use npm@7 workspaces with no luck. It's yet very raw and unstable.
Implemented your schema with `meta` and `meta-npm` plugin.

[code]

And having troubles with autoimport feature in WebStorm. Looks like it does not work well with this project structure and tries to import from libs source code by their relative paths but not by their package names.

Will give a try to yarn wor

[2021-01-18 22:41] bmcilw1 commented on #4505
Good to know. Let's keep this open until the peerDependency issue is resolved. Thanks!

[2021-01-19 00:33] HackPoint opened #4563 "One or more package managers"
https://github.com/nrwl/nx/blob/060c451ac481f4c96d5cdc6aa427cb5a68a4aa73/packages/tao/src/shared/package-manager.ts#L4

What if I have multiple package managers within the same folder, and I need to install them both?

[2021-01-19 01:10] martinsantibanez commented on #83
@skydever Did you have any luck figuring out this?
I'm facing an issue with nx and next: when I use VS Code auto-import from the next app, it will use an absolute import which immediately triggers the  `@nrwl/nx/enforce-module-boundaries` eslint rule.
For example, with folder structure:
[code]
The generated import will be:
[code]

The possible settings are to always use relative paths, but that wi

[2021-01-19 02:21] EthanSK commented on #259
This is still very much needed.

[2021-01-19 03:05] kishok opened #4564 "[nrwl/storybook] '@storybook/html' uiFramework option not working in storybook configuration V11.1.5"
## Current Behavior
Hi @vsavkin, @nrwl/storybook:configuration not working for the "uiFramework":"**@storybook/html**" value in v11.1.5. So not able to add storybook to my web component. please add that value to uiFramework schema enum. Also support **@storybook/web-components** in @nrwl/storybook plugin.

## Expected Behavior
Storybook configuration generator should accept "@storybook/html" value

[2021-01-19 03:25] #3137 closed

[2021-01-19 06:01] EvtK commented on #3889
Hi there @Cammisuli. We are using NX for our corporate mono repo full of Angular apps. So upon generating a new Angular lib, the jest config for this library is not added on a new line on the jest.config.js.

[2021-01-19 07:41] GregOnNet opened #4565 "Jest: Tests including components with SVG templates are not executed"
## Current Behavior
- Having component having an SVG-Template.
- Executing `nx test`
- Command fails

[code]

## Expected Behavior
- SVG should be inlined and transformed correctly
- `nx test` should succeed

## Steps to Reproduce
- `git clone https://github.com/GregOnNet/nx-jest-svg-components`
- `cd nx-jest-svg-components`
- `nx test`

### What I did

- Create a new workspace
- Create a library

[2021-01-19 10:00] johanchouquet commented on #4559
So, is there a workaround ?

[2021-01-19 10:22] rvetere commented on #1933
Thanks @Acidic9 - you're package did help a lot to actually lift our customServer into a nx workspace. Only downside is that it needs dependencies like "nrwl/tao", "nrwl/cli" and "nrwl/next" in production finally which is bloating the final docker image BIG Times... but we're on it to try to get rid of these dependencies in production...

But for me - i just wanted to say... the current state is m

[2021-01-19 11:04] Acidic9 commented on #1933
@rvetere Glad to hear it helped out. I'm using it in production for two apps on Shopify currently. It could be done better and it is kind of a hacky solution but it worked out ok in the end for now until nx adds some official support.

Also, I've just pushed a couple of changes to Github now which I forgot to push. (But they were already live on NPM in `v1.0.0`

[2021-01-19 11:06] BenzNatthawat opened #4566 "install nx global is not cli in workspace"
$ yarn add global @nrwl/workspace
yarn add v1.22.5
warning package-lock.json found. Your project contains lock files generated by t
ools other than Yarn. It is advised not to mix package managers in order to avoi
d resolution inconsistencies caused by unsynchronized lock files. To clear this
warning, remove package-lock.json.
[1/4] Resolving packages...
[2/4] Fetching packages...
info fsevents@2.1

[2021-01-19 12:01] Cammisuli commented on #3889
What version of Nx are you using?

[2021-01-19 12:42] itayod commented on #4530
Hi @vsavkin I appreciate the quick response, it keeps happening in the latest version just like @SonicReal wrote. This might be an issue that is related to the OS... did you try to reproduce it on windows?

[2021-01-19 12:51] katyapavlenko opened #4567 "Link to slack is broken"
Hi! Link to slack for "have a question?" from this screen is broken
<img width="1183" alt="Screenshot 2021-01-19 at 14 50 05" src="https://user-images.githubusercontent.com/55044564/105036777-a9afce80-5a65-11eb-9c7c-87ed6dbf2076.png">
<img width="653" alt="Screenshot 2021-01-19 at 14 50 13" src="https://user-images.githubusercontent.com/55044564/105036784-ab799200-5a65-11eb-8932-27d82b40de25.png">

[2021-01-19 12:56] Squixx commented on #4470
Ok so upon further research, with a smaller cache folder, the issue seems to present itself less often. But is still around :(

[2021-01-19 13:40] minijus commented on #4470
`readJsonFile`could be wrapped to try/catch for `readCache`: https://github.com/nrwl/nx/blob/2c7fa421eba594acf029fa44c0e19b093b9c01cb/packages/workspace/src/core/nx-deps/nx-deps-cache.ts#L58

This should solve issue with test target runs, but lint runs seems to fail in other way.

[2021-01-19 13:50] mehrad-rafigh commented on #4517
Currently I am hustiling with Typescript AST. Try to finish the PR by the end of the week

[2021-01-19 14:37] cyrus-za commented on #3051
I think you are misunderstanding me @dbrrt. For my project, it works fine. Nextjs revalidates and rebuilds the static pages on each request (within a throttle I set on a page by page basis). This is built into nextjs but requires a platform such as vercel to handle that. If you use `export` you are opting out of it.

[2021-01-19 14:58] udos86 commented on #1777
Being able to generate a `package.json` as of Nx 11 is definitely  a great thing.

But as @wvanderdeijl already pointed out:  without a corresponding `package-lock.json` there's no way to prevent different package versions from being pulled into the cloud container on deployment. So legally your app's no longer audit-proof.

[2021-01-19 17:18] tujoworker commented on #4517
@mehrad-rafigh Nice! So it will then be an improvement of [this](https://github.com/nrwl/nx/commit/fd93b84) PR/fix I guess?

[2021-01-19 17:30] dobromyslov commented on #4401
@vsavkin thank you. `nx migrate latest && yarn install` helped.

[2021-01-19 17:39] tsoehnlin-aura commented on #2422
@vsavkin  This solution has limitations in the fact that any non-trivial change (e.g. adding in a whole new submodule) will result in a large file list.  This has impact on reporting in the CI system as the concatentated list of files will be embedded in the output/headings and the like. This could also have impact on shell limitations on the number of characters that are safely passed for given a

[2021-01-19 17:59] andreasasprou commented on #4482
Can anyone provide any insight into the strange things that are happening here?

https://www.loom.com/share/4d22ea7376c042558aa12c71056e6676

[2021-01-19 18:07] bekos commented on #4455
btw this can be achieved already by using something like `"runtimeCacheInputs": ["echo $NX_MY_VAR" ]`, but the problem in this case, is that the command itself works only for linux vs windows 🤔

[2021-01-19 18:21] crowmagnumb commented on #3843
@agentlewis Hmmm. `meta` does indeed seem promising. I'll have to take a look at that when I have some time, but sure would like to see that auto-integrated here.  :)

[2021-01-19 19:31] Squixx commented on #4470
Would be nice to have a couple of retries on that as well

[2021-01-19 19:44] vaunus commented on #4013
I agree they clutter the `apps` folder as well. It would be good to have the option to colocate them as you've suggested.

[2021-01-19 20:39] skydever commented on #83
... sadly not, I use the lightbulb to import, it usually has the correct option available :/

[2021-01-20 07:14] #3887 closed

[2021-01-20 08:34] PetarKirov commented on #2386
@FrozenPandaz @bekos what's the current status of Yarn v2 PnP support?

[2021-01-20 09:21] junekpavel opened #4570 "@nrwl/workspace:move for buildable library"
## Current Behavior

When moving buildable library, the destination path in `ng-package.json` and package name in `package.json` are not updated.

## Expected Behavior

The destination path in `ng-package.json` and name in `package.json` should be both updated based on new library location.

## Steps to Reproduce

Run following commands:

[code]

New library is generated and moved to new destinati

[2021-01-20 10:01] mehrad-rafigh commented on #4517
@tujoworker Yes it is

[2021-01-20 10:20] micaelmbagira commented on #2690
@Cammisuli Do you have an example (`launch.json`) config that works with the new VSCode debugger and `"port": 0`?

[2021-01-20 12:41] realityfilter commented on #4321
The missing peer dependency warning for webpack is already present in an empty workspace.
The step to install the angular plugin is not necessary. This is present in versions 10.4.10 and 11.1.5.

Is there a workaround I can try?

[2021-01-20 14:09] nartc commented on #3728
I would also love to be able to **NOT** produce commonjs bundles. Mainly because of this: https://blog.sindresorhus.com/get-ready-for-esm-aa53530b3f77?gi=a9ab1a7d2ec9

[2021-01-20 15:54] naishe opened #4572 "Can't fix require loop using Path"
I am using [Objection.js](https://vincit.github.io/objection.js/) as the ORM in my server side application. In model classes of the tables that are joined via an intermediate table, you need to import them in each other. For example, if you have `Book` and `Author` models connected via a many to many relationship, you would have to have `Book` imported in `Author`, and `Author` imported in `Book`.

[2021-01-20 17:33] nkwood commented on #4544
Probably related to https://github.com/nrwl/nx/issues/4441

[2021-01-20 18:12] Epenance opened #4573 "NextJS + React Library with styled-components breaks."
## Current Behavior
When using styled-components in a NextJS app locally it works flawless, but if you generate a React library with styled-components and import components from it in your app, it will break on refresh randomly or each time you edit your theme config.

## Expected Behavior

I'd expect imported components from my libary to work the same way as the ones in the app itself.

## Steps

[2021-01-20 19:32] minijus opened #4575 "Respect packageGroup metadata when running 'nx migrate'"
## Description
Angular defines `packageGroup` metadata with published packages and also advise to do same for library developers.
Whenever `ng update package-name` is run this data is being checked and "respected" by `@schematics/update`.

Documentation:
https://github.com/angular/angular-cli/blob/master/docs/specifications/update.md#library-developers

Implementation of `@schematics/update`:
http

[2021-01-20 20:48] martaver commented on #4544
For the record, I'm on the react stack, with no angular features installed.

[2021-01-20 21:36] ultd commented on #4518
Any progress on this? This is really hurting our development flow.

[2021-01-20 21:50] nephi5 commented on #2643
I have recently migrate our angular app to nx workspace. It has been so far a never ending mind blowing experience. :exploding_head:  Creating libraries and apps like there is no tomorrow :smile: . It would be really great to have this feature. :+1:

[2021-01-21 00:37] herbertpimentel commented on #3961
@DarekTechTailorCo can u give us a glue about how you made this integration of nextjs and nxdev, I also want use. ?!

[2021-01-21 05:15] ashwinGokhale opened #4579 "Add base url option to @nrwl/web:file-server"
## Description
I would like to have an option in @nrwl/web:file-server to allow serving an app from disk on a sub path, like `http://localhost:4200/my/sub/path`

## Motivation

I have an Angular app that is built with a `baseHref` of `"/portal/v4"` and an `outputPath` of `dist/my-app`. I would like to be able to specify a base url so that I can serve the app from `dist/example-app` on `http://loca

[2021-01-21 09:30] nglazov opened #4580 "Can't resolve lib-module when run typeorm migration with tsconfig from server"
I have an application with structure
/apps
--/client
--/server
/libs
--/common

In server i have entities like
[code]

Added scripts in `package.json`
[code]

configured `ormconfig.json` in nrwl project root

and run it `yarn migration:generate -n init `

## Current Behavior
Got error message:` Error: Cannot find module '@my-system/common'`

## Expected Behavior
Migration files was generated

## S

[2021-01-21 10:23] emregency commented on #1777
I was so close to migrate to nx if I wouldn't have encountered this issue. In my opinion, a key requirement is "centralized control, decentralized execution". Here we are dealing with a [system-of-systems](https://www.sebokwiki.org/wiki/Systems_of_Systems_(SoS)), specifically I would say a collaborative one.

[2021-01-21 11:46] brunano21 commented on #4532
@vsavkin any input?

[2021-01-21 11:59] IT-CASADO commented on #3815
+1 for this -- comments are also supported natively by .js files

[2021-01-21 12:10] Katona opened #4581 "Reexporting types yields in "export 'Type' was not found in './module' warnings"
## Current Behavior
Reexporting a type emits a warning:
[code]

## Expected Behavior
There shouldn't be a warning.

## Steps to Reproduce
We a have a node library project which export some types in `index.ts`:
[code]

`module.ts` looks like this:
[code]
If I launch the app with `nx serve` then during the bundling the following warning is emitted:
[code]

If I build the project with `nx build proje

[2021-01-21 12:36] tommueller opened #4582 "Only use a single .browserslistrc file for the whole workspace"
## Description
Instead of having multiple .browserslistrc files (I currently have one per app in my Nx workspace) I would like to be able to only have a single .browserslistrc that will be used by all applications in the workspace.

## Motivation
We support the same browsers for all our applications within one workspace. Maintaining multiple duplicates of the same file is tedious and error-prone.

[2021-01-21 14:12] atligudl commented on #4573
Same issue as https://github.com/nrwl/nx/issues/2573

No solutions so far 🤔

[2021-01-21 14:50] tommueller opened #4583 "Cannot reference the same project-source from different projects in angular.json"
Current Behavior
We are using singleSPA to bundle parts of our Angular application. In order to keep developing simple, I created to projects in my angular.json, like this:

[code]
I then also declare both projects in my `nx.json`.

This works fine, except that when I run `npm run lint` nx throws an error saying: `The angular.json file is out of sync: Cannot find project 'as-with-differences' in '

[2021-01-21 15:38] johanchouquet commented on #836
I think this is the proper way of doing things within a monorepo & cloud functions. Firebase CFs are powerfull, but in monorepos, we have quite a lot of code. Only one node application (i.e. `functions`) for these very versatile needs is not possible.

So, I see `functions` as a node application, integrated within Nx workspace, with an `angular.json` file. It gives a lot of flexibility to _develop

[2021-01-21 15:44] nglazov commented on #4580
Got help in [slack](https://nrwlcommunity.slack.com/archives/CMFKWPU6Q/p1611222974004500)

1) `install npm scripty`
2) create `tools/scripts/db/migration/generate.sh`
[code]
3) add in package.json
[code]
4) run `yarn run db:migration:generate api MyMigration`

[2021-01-21 16:13] stefan-schweiger opened #4584 "Build with --localize broken after migration to v11"
## Current Behavior
After upgrading to v11 our build started to act up when the option `--localize` is used and produces the following error:

[code]

## Expected Behavior
The build should work with `--localize` as it has before with v10 and as it does with a standalone Angular 11 project.

## Steps to Reproduce
I as able to do a minimal reproduction of this by using a fresh nx (angular) workspace

[2021-01-21 17:05] tommueller opened #4585 "Some global eslint rules are overridden after upgrade to Nx 11"
## Current Behavior
I defined a couple of global adjustments to our root `.eslintrc.json` file, mostly turning errors into warnings. After upgrading to Nx 11 this warnings are now back to being errors, even though the overrides in the root file still exist.
This is not true for all rules, overriding i.e. `@typescript-eslint/no-explicit-any` from the root file works. Overriding `max-len` however do

[2021-01-21 17:46] #3799 closed

[2021-01-21 18:20] demisx commented on #1777
Well said. This should be NX moto.

[2021-01-22 02:19] vsavkin commented on #4554
Thank you for submitting the issue.

We do not modify any global deps or files. There is nothing global that Nx changes in any way unless you install nx packages globally but even then it will not affect anything outside of those modules. I don't believe we can affect any other project on your machine.

There are a few reasons you could see something like what you see now:
* if you have a project

[2021-01-22 02:19] #4554 closed

[2021-01-22 02:20] vsavkin commented on #4553
@philipjfulcher could you answer?

[2021-01-22 02:24] vsavkin commented on #4566
Hi there!

You aren't supposed to install @nrwl/workspace globally.

If this isn't what the issue is about, please reopen it with more details.

Thank you!

[2021-01-22 02:24] #4566 closed

[2021-01-22 04:55] Lonli-Lokli commented on #4585
It has been discussed there https://github.com/nrwl/nx/issues/4320#issuecomment-760101732 with some temporary workarounds

[2021-01-22 07:47] nampt6850 opened #4588 "How to i use env variables in production mode?"
## Current Behavior

- I can not use the .env file in the project in production mode.
## Expected Behavior

- I am trying to use env variables in NodeJs Express. I created a .env file in the root directory and I can use many variables that I defined in this file.
- Example: I am using development mode by nx serve. I created the PORT variable: PORT=4000. And I used it in the main file. It worked.
-

[2021-01-22 08:09] tommueller commented on #4582
Actually removing all .browserslistrc files from the apps and placing one in the repos root seems to work fine. This is according to the output of my build. Having just one .browserlistrc file and changing it makes Angular correctly generate ES5 bundles or not.

Can anyone confirm this?

[2021-01-22 08:21] tommueller commented on #4585
Thanks @Lonli-Lokli for the pointer. Will close this one in favor of #4320.

[2021-01-22 08:21] #4585 closed

[2021-01-22 09:08] sskieller commented on #4381
@vsavkin Any progress on this? There is a repro in my link.

[2021-01-22 10:14] vaunus commented on #3748
Had the same issue here and found a solution.

I am starting several targets using the NX `@angular-devkit/architect:allOf` runner in `workspace.json` as follows and as described above:
[code]
The above works well and starts the targets before e2e runs but it hangs at the end.

In my case the frontend stops just fine as I guess the NX runner handles this correctly. But for the backend I have a lis

[2021-01-22 12:02] #4269 closed

[2021-01-22 12:40] ChazUK opened #4589 "fn.bind is not a function - Angular & Storybook"
After creating a brand new workspace, app, library and component with Nx CLI, then installing Storybook and running the configuration script I am viewing the following error.

[code]

## Steps to Reproduce
[code]

### Environment
[code]

_package.json_
[code]

[2021-01-22 14:36] vsavkin commented on #2674
Closing this, folks. Please reopen if you need more help.

Thanks!

[2021-01-22 14:36] #2674 closed

[2021-01-22 14:37] vsavkin commented on #3788
Closing this issue, folks.  If you need more help, please reopen it.

Thanks!

[2021-01-22 14:37] #3788 closed

[2021-01-22 14:43] vsavkin commented on #4470
This is fixed here: https://github.com/nrwl/nx/commit/d55d6f88e58dfa9599806b8b3efb0a7df6301101.

We are going to cut a release with the fix (both 10x and 11x releases) next week.

Closing this one.

Thank you!

[2021-01-22 14:43] #4470 closed

[2021-01-22 14:46] vsavkin commented on #4526
@mathpaquette could you put together a repo with a repro of the before state?

[2021-01-22 14:55] Squixx commented on #4470
What @minijus said, this will not fix the issue for linting yet

[2021-01-22 15:35] Elif5757 opened #4590 "Cypress builder option "headless": true"
## Current Behavior

my e2e cypress builder @nrwl/cypress:cypress has the option headless: false.
when I execute the command the cypress runner opens and i can successfully run my tests.  my tests have no errors.

when I set  headless to true I get the message:

[code]

## Expected Behavior

I would like to give the option headless:true for CI.

why not here?
## Steps to Reproduce

This issue may

[2021-01-22 16:20] bcabanes commented on #4567
Hi @katyapavlenko and thank you for opening an issue!
We've updated the link on the community screen on nx.dev, I'll then issue.

[2021-01-22 16:20] #4567 closed

[2021-01-22 16:39] mathpaquette commented on #4526
unfortunately not really. My client is in banking sector. Can't easily replicate the issue. Let me see.

[2021-01-22 16:54] juristr commented on #4589
Hey @ChazUK! thx for reporting this.

I tried a couple of variations to reproduce the issue but wasn't able to. I'm on the same environment as you (even used ur package.json), but no luck. Works as expected on my side.

Could you try again? Or push up some reproduction repository where I can reproduce it?

[2021-01-22 16:56] juristr commented on #4564
Hey @kishok. You're right, that's currently not supported. I'll add this to our feature list, thx for reporting.

[2021-01-22 16:59] ChazUK commented on #4589
I've just grabbed another laptop and it's working fine on there for some reason. Is there an easy way to share my package-lock.json?

[2021-01-22 17:04] ChazUK commented on #4589
Created a gist for the package-lock.json https://gist.github.com/ChazUK/0637b936708b2566c4dbc3537df5893b

[2021-01-22 17:48] bmcilw1 commented on #2670
@Bielik20 can you post your example repo? I'd love to see how you got this working

[2021-01-22 17:50] bmcilw1 commented on #2670
@wickstargazer I've taken a look at your plugin and tried to use it. It looks like there are version conflicts with the latest nrwl, basically it looks like dependencies have not been updated. Are you still maintaining this project?

It would be great if nrwl would adopt such an ability to easily deploy with the serverless framework!

[2021-01-22 18:03] juristr commented on #4589
Unfortunately if I use your package-lock it fails during installation. I'm getting integrity issues

![image](https://user-images.githubusercontent.com/542458/105527818-77f86b00-5ce4-11eb-836a-37ac39de57af.png)

but at this point, could you try deleting ur package-lock.json and re-installing node modules to see whether the issue vanishes. Also, maybe try updating to our latest v11.

[2021-01-22 18:11] ChazUK commented on #4589
Does `npx create-nx-workspace nx-storybook --preset=angular` not use the latest version?

Annoyingly I'm using an alternative secure registry, I've checked all the packages versions etc and have imported them. Ran npm install and comparing the versions and there still seems to be an issue. I'll close this ticket as I don't think it's directly related to Nx or Storybook.

Sorry for wasting your tim

[2021-01-22 18:11] #4589 closed

[2021-01-22 18:31] #3911 closed

[2021-01-22 18:39] KyleBastien commented on #2457
Bumping this thread so it doesn't go stale, this is defiently a needed feature of Nx!

[2021-01-22 18:48] mrlubos commented on #2482
No

[2021-01-22 19:03] edbzn commented on #2457
@KyleBastien we created a community plugin for that [@jscutlery/semver](https://github.com/jscutlery/semver)

[2021-01-22 19:14] philipjfulcher commented on #4553
@dbrody Thanks for the feedback. :) This change is part of an internal project at Nrwl to make the dependency graph more performant, especially for very large graphs. Part of that project is a desire to vizualize the graph differently than in the past, giving us more options to layout nodes, group related nodes together, and reduce the number of nodes or edges we render at a time. Cytoscape was ch

[2021-01-22 19:44] KyleBastien commented on #2457
@edbzn I think that's close to what I'm thinking, but I wish it was a little less opinionated, similar to Lerna's [`version`](https://github.com/lerna/lerna/tree/main/commands/version#readme) command. i.e. It's very coinvent to not follow convention commits sometimes, or to just be able to pass in `lerna version bump`, etc.

Even it was _just_ the ability to do `nx major | minor | patch | premajor

[2021-01-22 19:47] edbzn commented on #2457
@KyleBastien it would be a great addition to the plugin, can you create an issue for that?

[2021-01-22 20:10] bryantbiggs commented on #1523
I have worked on several serverless monorepos and I would love to use NX to manage. I think it would be great if there was at minimum an example of how one might setup a serverless/SAM monorepo using NX

[2021-01-22 20:21] erikagiroux opened #4593 ""You must provide a `choices` parameter" error when running workspace-generator command"
Some properties in schema.json that used to work in previous versions of Nx are no longer properly converted into valid Inquirer prompts, resulting in an error and/or wrongly formatted data.

More specifically, I found issues with prompts of type `"list"` with `"multiselect": true` and with prompts of type `"number"`.

This is a brand new Nx v11.1.5 installation.

## Expected Behavior
Running `nx

[2021-01-22 20:59] #3905 closed

[2021-01-22 20:59] #4377 closed

[2021-01-22 21:22] philipjfulcher commented on #3595
@mohijalili I was able to migrate an Nx workspace from 8 to 9 with no problem just now. From that error message, I suspect you have an issue in your code related to Angular 9 compilation. These other issues may help point you in the right direction:
https://github.com/ng-packagr/ng-packagr/issues/696
https://github.com/angular/angular/issues/23629

If that doesn't help and you're still having this

[2021-01-22 21:39] philipjfulcher commented on #3908
@chihab thanks for your contribution! The .yarnrc looks like the best bet for managing this issue. I'll close this bug, anyone with a similar issue should use the .yarnrc solution above.

[2021-01-22 21:39] #3908 closed

[2021-01-22 21:55] juristr commented on #4516
@vic-lee I'm going to close this issue since we're seeing this only on the `nx-examples` repository atm. No one else reported this and I cannot reproduce it on a new Nx workspace either.

For some reason the `@storybook/core` package which is a dependency of `@storybook/angular` doesn't get installed on nx-examples, which normally is the case. So if the error happens, manually installing `@storybo

[2021-01-22 21:55] #4516 closed

[2021-01-22 22:31] METACEO commented on #276
Hey @gilles-bertrand, I had a similar issue when coming from an older Angular app - I still had a `customWebpackConfig` object in my `@angular-builders/custom-webpack:dev-server` options and I was getting your issue until I removed it. Have you tried [the custom webpack dev server](https://github.com/just-jeb/angular-builders/tree/master/packages/custom-webpack#custom-webpack-dev-server) options s

[2021-01-22 22:57] philipjfulcher commented on #3920
I think there be some misunderstanding about how tree shaking works in Angular. A few things to note:

1) @brandonroberts is right, tree shaking will only happen when building in production mode, specifically with the `optimization` flag set to true. It's unclear if you've enabled the optimization here.
2) The `console.log` method you have of testing whether code is tree shaken isn't reliable as i

[2021-01-22 22:57] #3920 closed

[2021-01-22 23:18] bmcilw1 opened #4596 "Failure on new project - Dependency resolution errors with angular template in npx create-nx-workspace"
## Current Behavior

npx create-nx-workspace is throwing dependency resolution errors with angular cli with the angular template. Seems like angular-cli depends on an older version of typescript.

## Expected Behavior

npx create-nx-workspace should not throw errors when used.

## Steps to Reproduce

[code]

### Failure Logs

[code]

### Environment

[code]

[2021-01-23 00:33] wickstargazer commented on #2670
Hi! Yes i am maintaining it, although slow but we are as we are using it on our production environment.

We will be releasing the bunch of new fixes soon its under testing and i think what you are referring to is how tsconfig extends the wrong one from the root? It has to be tsconfig.base.json?

[2021-01-23 00:44] bmcilw1 commented on #2670
Ok great! So glad you're still here because I got blocked pretty early on and opened a few issues on that repo. Let's continue the conversation there and I'm happy to help in any way I can. I can't seem to get serveless lambda deployments happening in our nx repo any other way I've tired.

[2021-01-23 02:18] DominikB2014 opened #4598 "Implicit Dependencies by Tag"
## Description
From my understanding, currently implicit dependencies can define a dependency between a file, project, or glob pattern to another project. It would be useful if a these dependencies could be made to a tag.
For example
[code]
The assumption here is that a project cannot contain the same name as a tag. This could be seen as a breaking change if a workspace already has a tag with the

[2021-01-23 02:37] #4584 closed

[2021-01-23 14:25] juristr commented on #3953
@tc4rdpp hey, thx for reporting this. Indeed this doesn't work atm. The best workaround is to manually configure the baseUrls for Storybook and the according Cypress e2e test to avoid clashes.

Absolutely. I actually have a local version hacked together that makes it work. However that requires changes to the Storybook builder which is out of our control. I'll submit a PR to them to make the adjus

[2021-01-23 15:43] kylecordes commented on #4262
It looks like the fix for this issue fixed it by not trying to execute migrations that would fail in this way.

I'm skeptical whether this really fixes things though; presumably these (in this example) CDK migrations exist for a reason, and should be executed to update application code in their intended way, not skipped?

[2021-01-23 17:38] yharaskrik opened #4600 "Move library results in module already exists"
## Current Behavior
With directory structure:

[code]

When I try and run `yarn nx g move --project builder-feature-browser builder/feature/browser` (ie. one level deeper) so I have the resulting dir structure

[code]

Does not work. See logs below.

## Expected Behavior
Move should work as nothing is conflicting (it is being moved to an entirely different folder)

## Steps to Reproduce
https://gi

[2021-01-23 17:51] derbenoo commented on #2379
### Using Nx in production with over 1000 libs and apps :rocket:

We've been using Nx for almost 2 years and we are pretty much all-in at this point. Our entire monorepo evolves around Nx and by now, it would be impossible to keep building our complex SaaS web-application without full-stack TypeScript, the affected graph and library encapsulation.

Thanks @vsavkin and the team for building such an

[2021-01-23 20:55] beeman opened #4601 "[nx-plugin] add option to run e2e tests outside of the workspace"
## Description

It  would be great if the `ensureNxProject` method from `@nrwl/nx-plugin/testing` had an option to create the project outside of the workspace.

## Motivation

Currently, when creating a new `nx-plugin`, the e2e tests are configured in such a way that they create a workspace in the directory `tmp/nx-e2e`. While this works well for a lot of use cases, and it's great to quickly inspe

[2021-01-23 21:02] beeman commented on #4600
I think [this one](https://github.com/nrwl/nx/issues/2986) is loosely related, in the sense that the `move` generator doesn't properly handle moving to a target that looks similar.

[2021-01-23 21:04] yharaskrik commented on #4600
That was my assumption as well. if the rootDir starts with the same thing there seems to be some issues.

[2021-01-23 21:06] beeman commented on #4600
Indeed. I've been using this to get around it, but it's not ideal.

[code]

[2021-01-23 21:07] yharaskrik commented on #4600
Ya same, usually just tack a `1` onto it or something :P

[2021-01-24 00:00] #3284 closed

[2021-01-24 00:00] #2464 closed

[2021-01-24 01:03] Stefaans commented on #4523
In my case the warning persisted with @nrwl/angular installed as a global package. (It was global because I am a noop with nrwl.) I was able to correct the issue by removing @nrwl/angular as a global package, re-installing it as a local package in my workspace, and then running `npx nx g @nrwl/angular:init` as @vsavkin suggested.

[2021-01-24 16:51] seyaobey commented on #1091
I'm having the same  issue with the latest nx version

[2021-01-24 18:00] clovergaze commented on #4596
I also get a dependency error doing just `npm install`.

[code]

I do not understand where `@angular/compiler@11.0.9` comes from, in the `package.json` I use version `11.0.8`. I also do not unserstand where `peer @angular/compiler@"11.1.0" from @angular/compiler-cli@11.1.0` comes from. I am not using that versions, everything is at version `11.0.8`. I am also not using `@angular-devkit/build-angul

[2021-01-24 21:24] ashwinGokhale opened #4603 "Add fire and forget helper for Nx Devkit executors"
## Description

I would like to have a helper function in @nrwl/devkit that will allow users to create an executor that will start a task in the background, but still proceed to run the next executor.

## Motivation

When running Cypress tests, I want to serve from the dist folder, so I am creating an executor to start a static file server and adding it as a `devServerTarget` to `projects.my-proje

[2021-01-25 02:38] jredl-va commented on #4394
Not entirely sure what the issue was but we reworked our 18n dependencies and this is not longer the issue in attempting to get incremental builds working. Closing as this is not able to be replicated.

[2021-01-25 02:38] #4394 closed

[2021-01-25 07:06] nampt6850 commented on #4588
I installed the library named **dotenv** and configured it in main.ts. It's worked in main.js when built.
I don't understand why .env works successfully in development mode but production mode is not working.
That's all. I close this issue.
🤪🤪🤪🤪🤪

[2021-01-25 07:07] #4588 closed

[2021-01-25 07:29] tinesoft commented on #3816
Any update on this @vsavkin ?

[2021-01-25 08:04] Nightbr commented on #4580
@vsavkin Hey, seems a common issue (see several issues about this + several message in the Slack) maybe we could find a way to better integrate TypeORM with Nx or add some "How-to" in the documentation. What do you think?

[2021-01-25 08:32] dsebastien commented on #4154
Same problem here, I've tried a few things, but couldn't get debugging to work for my Next.js app.
Thread: https://nrwlcommunity.slack.com/archives/CMFKWPU6Q/p1611558322095900

I've tried adding `NODE_OPTIONS='--inspect=9229'` before nx serve, but it fails with address already in use, even though that port is really not in use when I launch the command:

Scripts:
[code]

Command output:
[code]

If

[2021-01-25 09:03] DmitryIvanovIAMM commented on #4552
Has the same issue

[2021-01-25 09:03] Ivanova-A commented on #4552
Please, fix it!

[2021-01-25 12:15] mandarini commented on #4596
Hi there! I could not reproduce your error, unfortunately. We do have different versions of node/npm installed, though. I see you are using the current version of node with the latest features, `15.x`. Can you try running the same commands but using the latest stable versions of node/npm?

![Screenshot 2021-01-25 at 2 03 11 PM](https://user-images.githubusercontent.com/6603745/105703589-246d6380-5

[2021-01-25 12:41] EvtK commented on #3889
@Cammisuli I'm running version:     "@nrwl/workspace": "11.1.5",

[2021-01-25 14:13] tujoworker commented on #4517
@mehrad-rafigh Let me know, if you need any help to get this out 🙏

[2021-01-25 14:34] pixelsailor commented on #276
As @METACEO mentioned, removing the `customWebpackConfig` object resolved the problem for me. Thanks for this.

[2021-01-25 15:16] #4532 closed

[2021-01-25 15:43] bmcilw1 commented on #4596
That fixes it! For those who find this later, this setup resolved the problem:

[code]

[2021-01-25 15:43] #4596 closed

[2021-01-25 15:48] blitzmann opened #4606 "Using environment variables in `run-commands`"
## Current Behavior

I'm attempting to run commands that utilize environment variables as arguments in the `run-commands` builder, but the environment variables don't seem to be interpolated correctly.

Example target:

[code]

Console output:
[code]

As you can see, it simply prints out the string and doesn't interpret any variables

As a workaround, I would be able to create a shell script that

[2021-01-25 17:59] Bielik20 commented on #2670
@bmcilw1 Hi, sorry for late response. I have it setup for my work repository and it is not open source, so I can't show it here. Maybe I will create my own separate repository and share it here, but I can't make any promises. We are still improving our solution and it would be hard to maintain two repositories with similar configurations.

[2021-01-25 18:13] mandarini commented on #4596
Thank you @bmcilw1 ! Yes, the stable versions of `node/npm` should do the trick! :)

[2021-01-25 18:41] #3789 closed

[2021-01-25 19:31] aryk2 opened #4609 "Gatsby nx build / nx serve says Can't resolve '@test-nx/shared-ui'"
## Current Behavior
In a Gatsby nx app, importing a component from my shared ui components lib results in this error on build or serve

ERROR #98124 WEBPACK
undefined failed
Can't resolve '@test-nx/shared-ui' in 'path/to/gatsby/page'
If you're trying to use a package make sure that '@test-nx/shared-ui' is installed.

## Expected Behavior
Following this guide:
https://blog.nrwl.io/power-up-gatsby-s

[2021-01-25 20:32] #4609 closed

[2021-01-25 21:54] #4017 closed

[2021-01-26 08:00] bekos commented on #4517
@mehrad-rafigh I think this is fixed via https://github.com/nrwl/nx/commit/d18c0b09146a096d6c96507dd097d880ac7ef323, right?

[2021-01-26 09:21] bekos commented on #3673
hi guys and sorry for the late response. There is not much we can do on Nx side, unless we want to polyfill `global` for _everyone_. The best workaround is to either polyfill it yourself or change the webpack config as @m7mdBalboul suggested.

FYI your issue should now be solved via https://github.com/wooorm/refractor/commit/027a1f77a1c0df8c00bb8ea3f4b227bf3e5c89d7 😃. Just upgrade to latest versio

[2021-01-26 09:21] #3673 closed

[2021-01-26 10:40] Bielik20 opened #4611 "NextJS - decorators do not work in libs"
## Current Behavior
I cannot import files with decorators from libs when using NextJS application.

## Expected Behavior
I should be able to import files using decorators from libs when using NextJS application.

## Steps to Reproduce

1. Create new NX repository

2. Create NextJS app (call it "desktop")

3. Create React lib (call it "utils")

4. Update `apps/desktop/.babelrc`:
[code]

5. Install

[2021-01-26 11:16] imekedaprahs commented on #2209
I want to share that this issue haunted me for at least two weeks.
@countravioli, gave me the biggest hint by sharing information about the module: are-you-es5

I was not able to use his code snippets in their entirety, but using this module I was able to zero in on the offender and exclude them from my code base.
Thank you very much!

[2021-01-26 11:20] mehrad-rafigh commented on #4517
@bekos Yes it looks like it

[2021-01-26 12:44] bekos commented on #4517
thx @mehrad-rafigh 👍 let's close this then, as this will be part of the next release.

[2021-01-26 12:44] #4517 closed

[2021-01-26 12:55] bekos commented on #4581
@Katona can you please create a repro repo so we can better understand and debug your case? fwiw I think you should export like this: `export { Type } from './module';` 🤔

[2021-01-26 13:42] TimoWilhelm commented on #2735
Still an issue for me.

[2021-01-26 15:01] herrKlein opened #4614 "Typescript decorators do not function in NX workspace webcomponents"
## Current Behavior

I created the NX workspace for webcomponents.
Using the polymer3 library I created 2 components with and without using the decorators.
The webcomponents with the decorated properties do not set the property values from the attribute.

## Expected Behavior
Same functionality with or without properties. I tested these webcomponents in a pure typescript build (rollup). The decora

[2021-01-26 21:38] #4530 closed

[2021-01-26 23:47] kiarroyo commented on #2735
@FrozenPandaz Are there any updates on this issue?

[2021-01-27 06:01] fbaba-nibtravel commented on #2839
Hi, just FYI, I recently upgraded NX 10 where -c config1,config2 was working and now it's broken on NX 11. Agree with @Splaktar, this is a bug, not a feature request as it was working before.

Btw, this is the doco from the Angular CLI: https://angular.io/guide/workspace-config#alternate-build-configurations

[2021-01-27 08:04] lunaplush commented on #4552
I have the same issue. Need to resolve it.

[2021-01-27 08:10] Eladigo commented on #54
So...  January (of 2021..) is here..
I got a little lost from all the possibilities, what is the recommended way according to NX itself?

[2021-01-27 09:06] tafax opened #4618 "Unable to load *.env in Angular application"
## Current Behavior
Serving an Angular app using `nx serve` doesn't load any `*.env` file under `apps/my-angular-app`.

## Expected Behavior
Environment variable like `NX_*` should be replaced in the code. I would expect a behavior similar to the `Webpack DefinePlugin`. So, by defining a global variable you will be able to use it in the code by injecting it at compile time.

## Steps to Reproduce

[2021-01-27 09:23] nguyenxndaidev opened #4619 "Support lint only and only uncommitted files"
## Description/Motivation

In my project, we want to add pre-commit git hook to format then **lint only uncommitted files**.
Using `affected:lint` is not a good idea for local development because it will lint also committed files in affected projects.

It's not a big problem if linting is fast, but everyone knows that linting is very slow and it reduces development productivity a lot if the hook t

[2021-01-27 10:00] dangviettuan commented on #3602
I got the same error as this issue. Here is example source code: https://github.com/dangviettuan/nx-publishable
I have:
- capitalize util
- button lib
- button showcase lib (publishable)
When I build the button showcase lib an error occurs like the picture below
![image](https://user-images.githubusercontent.com/11323132/105975033-16a81180-60c1-11eb-815d-85ec8849286e.png)

[2021-01-27 10:03] dangviettuan opened #4620 "How I can publish a library with all dependencies"
I got an error while trying to publish my library. Here is example source code: https://github.com/dangviettuan/nx-publishable
I have:
- capitalize util
- button lib
- button showcase lib (publishable)
When I build the button showcase lib an error occurs like the picture below
![image](https://user-images.githubusercontent.com/11323132/105975033-16a81180-60c1-11eb-815d-85ec8849286e.png)

_Original

[2021-01-27 10:57] JizZuS commented on #4212
@kedevked How did you manage to get this working? I just can't get past this error while accessing the server via browser:

`Error: ENOENT: no such file or directory, open 'C:\..\repo_root\app.component.html'`

Any help would be very appreciated. Thank you.

[2021-01-27 11:57] #3921 closed

[2021-01-27 13:52] mchl18 opened #4621 "Support for jest debug options (detectOpenHandles, logHeapUsage)"
Hi, I am really wondering why there only is a small subset of jest parameters supported. Is there any good reason not to?

## Description
It would be very helpful if it was possible to add support for jests `detectOpenHandles` or `logHeapUsage`  options in order to debug memory leaks in tests.

## Motivation
We are working on a very large nx-workspace with ~20 modules and 7 apps. Recently our test

[2021-01-27 15:25] danielsogl commented on #4381
I've noticed the same issue in one of my projects when running a prod build inside docker/jenkins. When I build my project on my local machine it runnes trough.
Could it be a problem coused by hardware limitations?

[2021-01-27 16:25] markgoho commented on #54
@Eladigo I use [this method](https://github.com/nrwl/nx/issues/54#issuecomment-463201745) on all new projects. Please let me know if you need assistance understanding this strategy or help getting it set up for your repo.

[2021-01-27 18:25] demisx commented on #4492
Excellent work, guys. Our team top two wishes for NX 12:

1. Solid implementation of ability to auto-generate `package.json` per each app. As @emregency has eloquently put in  https://github.com/nrwl/nx/issues/1777 it should be **"centralized control, decentralized execution"**.
2. More docs on the best practices and recommended organization of libraries, directory structure, etc.

[2021-01-27 19:09] #4097 closed

[2021-01-27 19:25] maikdiepenbroek commented on #4492
Especially point 2 would be highly appreciated!

[2021-01-27 19:50] chrisfitz commented on #4296
@vsavkin

Yet another person affected by this breaking change. As the last two commenters have mentioned, I too have several environments that are almost identical in their configuration except for a few properties and I have used the comma separated `configuration` feature that was recommended by the Angular CLI developers on multiple occasions as a way to avoid duplicating the entire configurati

[2021-01-27 20:03] #2846 closed

[2021-01-27 20:07] #4552 closed

[2021-01-27 20:15] shlajin opened #4623 "Css/Scss modules do not generate human readable name"
Human-readable class names helps a lot during development, and I cannot make them work with nx@10 and nx@11.

## Current Behavior
Consider this code sample:

[code]

The emitted code is:
[code]

it's impossible to tell what from which class these styles come from.

## Expected Behavior
It would be so helpful it the class name can be something meaningful. In my past experience I've seen readable ge

[2021-01-27 20:39] vsavkin commented on #4590
Thank you for submitting the issue. Could you provide a repo with a repro?

[2021-01-27 20:53] cyrus-za commented on #4534
@vsavkin any idea?

[2021-01-27 21:42] cyrus-za commented on #4482
Thanks for the loom video @andreasasprou and well done on pronouncing my name right :)

Do you think you can open a PR for blitz team to make those changes in node_modules permenant or configurable? I'll ping flybayer to check the issue out.

[2021-01-28 06:57] ashwinGokhale opened #4627 "@nrwl/web:build does not work with webpack 5"
## Current Behavior

Running `yarn nx build <project_name>` with `webpack@5.18.0` on a React app, gives the following error:
[code]

## Expected Behavior
It should successfully build the React app.

## Steps to Reproduce
1. Create nx workspace with a React app.
2. Add resolutions to package.json:
[code]
3. Run `yarn`
4. Run `yarn nx build <project_name>`

### Failure Logs

Here is the full error l

[2021-01-28 08:43] georgiee commented on #4296
I'v been watching this issue for some time and I would like to second the opinion by @chrisfitz & @henry-martinez on this topic.

@vsavkin has been pretty clear about this topic:

What gives me hope is this:

The proposed workaround does not fit the problem. It's about the **configuration composition** feature and not about running multiple builds. We use this feature extensively for our enterpris

[2021-01-28 09:34] PKSpeleo commented on #4296
Hello, @vsavkin
I am also want to support @georgiee:

We also actively use this feature and expecting behavior described in the [Angular documentation](https://angular.io/guide/i18n#apply-specific-build-options-for-just-one-locale):

![image](https://user-images.githubusercontent.com/13855739/106118043-f4ab9f00-6153-11eb-8814-9fa0da98a748.png)

[2021-01-28 09:37] lazarljubenovic commented on #3191
The default script `"test": "nx test",` from the root `package.json` should then probably be changed to `nx run-many --all --target=test`.

[2021-01-28 10:24] Elif5757 commented on #4590
@vsavkin unfortunately i can't provide my repo..

our application uses nx and angular
i write my cypress tests in cucumber, typescript
I can start the tests without any problems and run them without errors. even if i start it in watch mode i didn't get any errors.

for the CI I have to start my tests in headless mode if I do that with e.g nx e2e md-e2e --headless my tests are failed. don't know wh

[2021-01-28 11:23] Narven commented on #4432
This solved the problem for me.

[2021-01-28 14:20] quolpr commented on #4623
I hope it would be helpful; here how it is done in CRA:

https://github.com/facebook/create-react-app/blob/39689239c18a1d77fb303e285b26beb1a4b650c0/packages/react-scripts/config/webpack.config.js#L526

https://github.com/facebook/create-react-app/blob/39689239c18a1d77fb303e285b26beb1a4b650c0/packages/react-dev-utils/getCSSModuleLocalIdent.js

[2021-01-28 14:46] bekos commented on #4623
@quolpr I have seen that...I still doubt though if we should keep only the hashes in production or not? cra seems to make no distinction 🤔

[2021-01-28 14:47] cyrus-za commented on #4492
Can we get #4482 in NX 13 roadmap please?

[2021-01-28 15:41] #4593 closed

[2021-01-28 15:57] rclankhorst opened #4630 "Minor change in main file changes production output hashes, content"
## Current Behavior

When making consecutive production optimized builds, any (minor) change in the `main` chunk will update the `vendor.[hash].esm.js` due to changing `process.env` variables related to NX caching. Styled Components includes `process.env` at several points in the compiled code, making for several locations `NX_TASK_HASH` and `NX_TERMINAL_OUTPUT_PATH` have changed (due to the calcu

[2021-01-28 17:04] KamilSocha91 commented on #4590
@Elif5757 Did you tried running server first (boot-cypres-server){https://docs.cypress.io/guides/guides/continuous-integration.html#Boot-your-server}

[2021-01-28 17:46] Tom4U opened #4632 "nx migrate should update to latest Angular packages"
## Description
When running `nx migrate latest` it seems the latest updates of Angular aren't recognized as they stay at 11.0.0. Bug or feature?!

[2021-01-28 19:24] raronen commented on #3747
`npx create-nx-workspace@10.4.11 certified --preset=empty --cli=angular`

worked for me, version 10.4.11

[2021-01-28 21:12] nadavsinai commented on #3274
This issue WAS closed by my PR, but this was reverted in https://github.com/nrwl/nx/commit/74195bcf1a2cc2709d50fb76edac7d0020ea2cb1
I don't know why
the issue still occurs

[2021-01-28 23:46] Stonepaw commented on #2601
Bump!

I discovered this unexpected issue when trying to storybook a component that was binding css variables, an ivy only feature. Is there a workaround or possible fix for this issue?

[2021-01-29 00:56] Benny739 opened #4636 "nx migrate Cannot find module @angular-devkit/architect"
I'm trying to migrate from 11.0 to 11.2.

I'm getting following error:
[code]

I tried to add the package to the dev dependencies, but it did not change anything.

Environment:
[code]

[2021-01-29 02:55] AppleGamer22 commented on #4632
I saw a similar behaviour with Nest packages not being updated when running `nx migrate latest`. In my opinion, it would be more functional if the `nx` CLI would update all other relevant packages as well.

[2021-01-29 05:11] puku0x opened #4637 "workspace-generators.json does not have a schematics map"
## Current Behavior

because `schematics` property has been removed from 'workspace-generator.json'.
https://github.com/nrwl/nx/blob/master/packages/workspace/src/command-line/workspace-generators.ts#L127

https://github.com/nrwl/nx/commit/a25e081a84509d83db5c5c4c27d2898dcad79f65#diff-415803d7a8e2ff6018a06fc1c01e6465d566da7529d5dbfd4c6351ebef6cfca4R127

## Expected Behavior

Angular schematics sho

[2021-01-29 07:31] mtuzinskiy commented on #4636
I'm experiencing the same problem

[2021-01-29 08:27] alvaromartmart commented on #4567
Hi @bcabanes, I think the link is still broken

[2021-01-29 09:49] guysenpai opened #4638 "Nx generate package install with pnpm failed"
## Current Behavior

When I generate a publishable library with Nx Console I get "package install failed" because of `pnpm` which is not found
I have defined `pnpm` as workspace package manager

## Expected Behavior

`pnpm` should be found and package should be installed

## Steps to Reproduce

- Create an empty workspace with pnpm as CLI package manager `npx create-nx-workspace --pm pnpm`
- Add a

[2021-01-29 10:08] elvirdolic commented on #4632
I tried `nx migrate @nrwl/workspace --to="@angular/core@latest,@angular/cli@latest,@angular/material@latest"` but nothing happens

[code]

[2021-01-29 10:22] bekos commented on #4518
@ultd can you please provide a reproduction repo? I probably don't understand something in the steps to reproduce. fyi I created an Nx workspace, chose `Next.js` preset with Sass, and the generated `_app.tsx` already contains `import "./styles.scss"`, which seems to work correctly during local serve.

[2021-01-29 10:27] david-gettins commented on #4606
Perhaps it would be nice if we could use environment variables in the same way we use args that way we don't have to worry about Powershell `$env:SOMETHING` or bash `$SOMETHING` or CMD `%SOMETHING%`?

**For example:**
[code]

[2021-01-29 11:01] veganeveloper commented on #4636
You should know I'm experiencing the same problem too. btw, in case someone is curious, I'm vegan!

[2021-01-29 11:58] #4233 closed

[2021-01-29 13:02] bekos commented on #4540
@cyrus-za have you tried to execute your commands using `pnpm run nx --` instead of global `nx`?

[2021-01-29 13:17] bekos commented on #4411
@Miciurash @dbrody This is fixed via 1f534317d03251deaf231e2f5f3de0905b4627e7 and is part of latest release, ie v11.2.0
One thing I noticed though in your configuration, is that `assets` should be an array, inside the `options`.

[code]

[2021-01-29 13:17] #4411 closed

[2021-01-29 14:35] brandonroberts commented on #4618
This is not supported in Angular applications themselves, but is available through run-commands, and other areas with the Nx CLI. You should the `environments` if you need environment specific application variables

[2021-01-29 14:35] #4618 closed

[2021-01-29 14:38] shlajin commented on #4623
I can confirm that CRA emits readable module class names in production bundles.
Hashing names theoretically can reduce bundle size, if class name hashes kept to somewhat tiny. WIth gzip on it'll be neglectable, though, and as almost every server and every browser has gzip features on I don't think the distinction worth the hassle.

[2021-01-29 14:41] tafax commented on #4618
Thanks for the reply, I know Angular doesn't work out of the box with a "filesystem" env. I can accomplish it using the custom webpack builder and the define plugin, but in the doc, I didn't find any reference related to the fact it is not supposed to work in Angular, so I wrongly thought you guys implemented something to support it. My fault.

[2021-01-29 14:50] brandonroberts commented on #3464
Has anyone tried this with the latest release? I believe we landed some changes for better support inside a "vanilla" Nx workspace

[2021-01-29 14:50] whernebrink commented on #4441
Also noticing these linting issues when generating a .storybook for my UI library:

![Screenshot 2021-01-29 at 15 44 55](https://user-images.githubusercontent.com/73601152/106289496-a37dd700-6249-11eb-835d-b343b6c8bbfd.png)

[2021-01-29 14:51] ultd commented on #4518
Upon further review, I believe it's a configuration problem on my end. Apologies & thanks for looking into it.

[2021-01-29 14:51] #4518 closed

[2021-01-29 14:54] brandonroberts commented on #3686
This issue is no longer present in the latest Nx 11 release

[2021-01-29 14:54] #3686 closed

[2021-01-29 14:55] bekos commented on #4623
thx @shlajin. I have already sent a PR for this: https://github.com/nrwl/nx/pull/4629

[2021-01-29 15:01] brandonroberts commented on #3874
This issue is no longer present in the Nx 11 release

[2021-01-29 15:01] #3874 closed

[2021-01-29 15:02] brandonroberts commented on #3997
Will you confirm this is still an issue with the latest version of Nx?

[2021-01-29 15:03] brandonroberts commented on #4022
Closing as resolved

[2021-01-29 15:03] #4022 closed

[2021-01-29 15:05] brandonroberts commented on #4073
This fix should be updated, but you also have the option to update it manually to resolve the issue. As you mentioned, this issue is not present in more recent versions of Nx

[2021-01-29 15:05] #4073 closed

[2021-01-29 15:15] brandonroberts commented on #4081
This issue is resolved in Nx 11

[2021-01-29 15:15] #4081 closed

[2021-01-29 15:16] brandonroberts commented on #4381
@sskieller can you provide an unzipped version of the repo with the before/after changes?

[2021-01-29 15:18] Katona commented on #4581
Hi,

I can not reproduce this issue in a separate repository, unfortunately. My issue is similar to this one https://github.com/nrwl/nx/issues/3915 with regards to the warnings. The problem seems to be that we are exporting a typescript interface and that is left in the transpiled code for some reason and when webpack is bundling it can not resolve that interface (since they exist only in typescri

[2021-01-29 15:21] wSedlacek opened #4640 "[Feature Request] Developer API for Dependency Tree"
## Description

Make a public API for determining dependencies for a given project and which dependencies have build artifacts.
Cache the dependency tree in the same way build artifacts are so that git submodules do not need to be cloned unless they were modified or not cached.

## Motivation

I am working on a solution for using [git-meta with Nrwl Nx](https://github.com/twosigma/git-meta/issues/

[2021-01-29 15:25] brandonroberts commented on #2861
This issue has been resolved in Nx 11. I went through the repro steps with only the workspace.json and no failures were reported

[2021-01-29 15:25] #2861 closed

[2021-01-29 15:27] brandonroberts commented on #4282
@ak274 I was unable to reproduce this with an Nx 10 workspace. Will you reopen this with a reproduction or we can consider it fixed In Nx 11

[2021-01-29 15:27] #4282 closed

[2021-01-29 15:31] brandonroberts commented on #4618
@tafax good point. Would you like to put in a PR to add that clarification?

[2021-01-29 15:48] brandonroberts commented on #3281
Closing as resolved

[2021-01-29 15:48] #3281 closed

[2021-01-29 16:08] brandonroberts commented on #3981
This works correctly even without the root tsconfig.json, and a tsconfig.base.json in the Nx 11 release with the repro instructions. Closing as resolved

[2021-01-29 16:08] #3981 closed

[2021-01-29 16:10] brandonroberts commented on #4386
Please verify with the latest release of Nx 11 and reopen if necessary. I wonder if this is Windows-specific as I was not able to reproduce on OSX and WebStorm 2020.1

[2021-01-29 16:26] baltie commented on #4386
In case the original author doesn't respond, this is still an issue with latest release of Nx 11, I am unable to run the tests in WebStorm. It seems to be Windows specific as my colleague that uses a Mac doesn't have this problem.

[2021-01-29 16:28] brandonroberts commented on #4386
Thanks @baltie

[2021-01-29 16:43] shlajin commented on #4623
@bekos Awesome, thank you!

[2021-01-29 16:49] gkamperis commented on #3997
@brandonroberts

confirmed

https://github.com/gkamperis/nx-scss-depth-bug/tree/nx11

[2021-01-29 16:50] markgoho commented on #4333
- How do we know which Angular-related packages will be updated via nx migrate and which ones won't? E.g. NgRx, RxJS, etc.
- How do we know which version of Angular nx migrate is targeting when we run the command? E.g. version 11.1 of Angular is out, but when I run `nx migrate latest` I'm not getting the latest version of Angular.
- Does that mean I wait until Nx updates to Angular 11.1?
- What ha

[2021-01-29 16:51] mikezks commented on #3981
Yes, it works perfectly know, thanks.

[2021-01-29 17:05] brandonroberts commented on #1397
No news as of yet. If someone wants to look at creating a community Nx Plugin for it, that would be a good start

[2021-01-29 17:44] burgerwagon commented on #4386
Thanks @baltie. Yes we are on Windows and is still an issue

[2021-01-29 17:49] Benny739 commented on #4636
The solution is to update karma in the package json to at least 5.2.0.

[2021-01-29 18:09] prasanthkarukkuvel commented on #4492
Support/Guidelines for Module Federation #3116 ?

[2021-01-29 18:30] FrozenPandaz commented on #4638
Sorry, I'm having trouble reproducing the issue.

I assume because you're able to run `pnpm add @nrwl/angular` that you have `pnpm` installed.

Can you please push a repo to help me reproduce the issue?

[2021-01-29 20:01] FrozenPandaz commented on #4636
This should be fixed in version `11.2.5` please try again with that version.

[2021-01-29 20:14] FrozenPandaz commented on #4640
That sounds like a cool idea!

We haven't exposed a public API for getting the project graph because we're not quite ready yet. However, the API is pretty stable as it isn't changed often. Of course, the fact that it isn't public, means it is subject to change. It will likely become a public API at some point.

The API you are looking for is likely `import { createProjectGraph } from '@nrwl/worksp

[2021-01-29 20:38] #4492 closed

[2021-01-29 20:43] #4637 closed

[2021-01-29 22:15] wSedlacek commented on #4640
Thank you for pointing me in the right direction @FrozenPandaz!

[2021-01-29 23:20] FrozenPandaz commented on #4353
This is now fixed with #4454

[2021-01-29 23:20] #4353 closed

[2021-01-30 00:02] eaustin opened #4647 "Help with where to investigate: Long Pause after command is run tests to when the tests actually are running."
## Current Behavior

![image](https://user-images.githubusercontent.com/6362293/106201549-9c41c500-6186-11eb-9222-a8dde10f02f9.png)

## Expected Behavior

Tests immediately start running
## Steps to Reproduce

### Failure Logs

### Environment

 nx : Not Found
  @nrwl/angular : 10.1.0
  @nrwl/cli : 10.1.0
  @nrwl/cypress : 10.1.0
  @nrwl/eslint-plugin-nx : 10.1.0
  @nrwl/express : Not Found
  @nrw

[2021-01-30 00:23] kedevked commented on #4212
Hello @JizZuS, I just published a video [here](https://www.youtube.com/watch?v=eO_4iN1u21g&ab_channel=edkeveked) outlining my steps

[2021-01-30 06:26] beeman opened #4649 "[workspace-generator] the generateFiles command only renames files 1 level deep"
## Current Behavior

When generating files using the `generateFiles` method from `@nrwl/devkit`, the files are only renamed one level deep.

## Expected Behavior

Files should be renamed at all level.

## Steps to Reproduce

I got a repro [here](https://github.com/beeman/workspace-generator-paths).

After cloning it, and running `yarn` to install the deps, you can execute the generator like so:

I

[2021-01-30 08:06] dianjuar commented on #1830
Sorry about the delay.

I know that _publish_ has a lot more sense than _deploy_ but I'm not pretty sure if that's possible, in Angular, [the deployers builders](https://angular.io/guide/deployment#automatic-deployment-with-the-cli) pretty used across the framework, I think your suggestion is the right way to go though.

---

@JohannesHoppe @mgechev I would like to have your feedback on this, do y

[2021-01-30 08:42] JohannesHoppe commented on #1830
You can call it as you want, if you use the old builder syntax:

`ng run your-angular-project:publish`

But "deploy" is super generic, I don't see a reason why we can't deploy to a registry. The docker "deploy" schematic is not a "publish" to docker, too.

[2021-01-30 09:13] dianjuar commented on #1830
Very good point, also the world  _deploy_ is already on the Angular Community, change it for another one could lead into a confusion of what it does.

[2021-01-30 09:31] edbzn opened #4650 "[Question]: why duplicate schematics ast-utils code from Angular in Nx"
Hi,

I ran into an issue while working on my schematics with the following line `if (change instanceof InsertChange)` where `InsertChange` was not the instance of [the class I expected from Angular schematics](https://github.com/angular/angular-cli/blob/46cc1321a26554aa65fb61f32f99f6fd5bd77d88/packages/schematics/angular/utility/change.ts#L46).

After digging in nx code base I noticed that you dup

[2021-01-30 10:23] bekos commented on #4623
6bf245edb75ceef3c7ad5beef6e8b0a28023e22d has landed on master and it will be part of the next release. Hopefully it will solve your issue 😃

[2021-01-30 10:23] #4623 closed

[2021-01-30 12:38] juristr opened #4651 "Next.js build doesn't error when there are TypeScript erros"
## Current Behavior

Next.js doesn't fail when there is a TypeScript error during dev mode, but it fails when building the app (unless the `ignoreBuildErrors: true` is added to the `next.config.js`).

## Expected Behavior

Given `site` is a next.js app, then running `nx run site:build` should fail when there is a TypeScript error

## Steps to Reproduce

1. Generate a new Next.js app
2. open `index

[2021-01-30 15:43] ceefour opened #4652 "Nx 11 npx create-nx-workspace --preset=empty does not create /tsconfig.json as in the documentation"
## Current Behavior

Nx 11.2.6

[code]

or:

[code]

does **not** create `/tsconfig.json`, instead only `/tsconfig.base.json`

## Expected Behavior

Either:
* update docs to follow actual behavior, or
* fix actual behavior to follow docs

Docs: https://nx.dev/latest/node/getting-started/folder-structure

[code]

## Steps to Reproduce

[code]

### Failure Logs

### Environment

[code]

Related to #

[2021-01-30 17:17] itaywol commented on #4154
Also facing the same issue, when using NODE_OPTIONS the inspector starts at the nx.js command and not the next instance. the next schematic should have debugging preferences

[2021-01-30 20:30] devinshoemaker opened #4654 "React: add PostCSS to Webpack config"
## Description

Configure PostCSS in the Webpack config for React applications.

## Motivation

PostCSS is a powerful tool that could be useful in React applications. Tailwind is growing in popularity and that requires PostCSS to be configured, so currently the user has to override the default Webpack config to get this working. Next also has PostCSS configured, so this would provide better consis

[2021-01-30 21:38] virus2016 commented on #2457
This is the only reason why we haven't moved over to NX. Would be amazing to use with semantic release

[2021-01-30 22:35] Elif5757 commented on #4590
@KamilSocha91 of course

[2021-01-30 22:36] Elif5757 commented on #4590
same issue is here -> https://github.com/cypress-io/cypress/issues/14360

[2021-01-31 02:49] gperdomor opened #4655 "React publishable lib styles problem"
## Current Behavior
React libraries have some issues with styles and svg files, the exported components are not rendered with styles unless you configure `extractCss=false` in the build config, but even with that change, things like `background-image: url(./logo.svg)` are not working. The components are rendered as expected inside the same workspace, but not when the library is published to npm an

[2021-01-31 09:29] darkowic commented on #3339
Probably still existing. Didn't have the time recently to take a look

[2021-01-31 10:08] christianacca commented on #4508
This is a long shot, but I have noticed that in earlier version of nx, library `include`d references used to be added to tsconfig.app.json:

[code]

You see an example of this in the nrwl/nx-examples [here](https://github.com/nrwl/nx-examples/blob/b0315f12dcb97a0ddfb94cf4cc83052f8fbfaa7f/apps/products/tsconfig.app.json#L8-L12)

These references are now longer created with newer releases of nx, at

[2021-01-31 11:30] nikparo commented on #4300
Do you happen to be using symlinks in your project? I've been tracking down a similar issue (not gatsby though), and just opened an issue with typescript-eslint: https://github.com/typescript-eslint/typescript-eslint/issues/2987

[2021-01-31 11:35] katyapavlenko commented on #1744
@jaysoo thank you for css mosules support!
But I see that initial class names is removed in serve mode
I really miss them for debugging. Is there any settings I can change to see initial class names?
<img width="326" alt="Screen Shot 2021-01-31 at 13 34 04" src="https://user-images.githubusercontent.com/55044564/106382548-fdf17180-63c8-11eb-8de9-ddb06ce414fd.png">

[2021-01-31 12:24] katyapavlenko commented on #4623
@bekos thank you for fixing it! When is next release is planned to be?

[2021-01-31 14:06] #3870 closed

[2021-01-31 14:50] udayvunnam opened #4656 "Error: Cannot find module '@nrwl/workspace/src/utils/perf-logging'"
I have tried to migrate to the latest **nx** version but getting error as **Cannot find module '@nrwl/workspace/src/utils/perf-logging'**

It seems that `@nrwl/workspace/src/utils/perf-logging` is required at  https://github.com/nrwl/nx/blob/d8fafcd00fd2608272d466f4a9ed216ea7995b30/packages/cli/lib/init-local.ts#L14

When we actually look at https://github.com/nrwl/nx/tree/master/packages/workspac

[2021-01-31 17:43] Mubramaj commented on #2560
Starting at version 6.1.0 of storybook was introduced an env variable named `STORYBOOK_ANGULAR_PROJECT` .

In the main.js config of any .storybook folder you can cet this env variable with the `angular project`  you need, just like this:

`process.env.STORYBOOK_ANGULAR_PROJECT = 'your-project-name'';
`
Here is the link to the pull request that introduced this feature:

https://github.com/storybook

[2021-01-31 17:56] shirakaba opened #4658 "Silent failure of `compile-typescript-files.js` utility used by `@nrwl/node:package` builder."
## Current Behavior

When running the builder `@nrwl/node:package`, if TypeScript compilation fails, no error is reported.

## Expected Behavior

A stack trace giving the reason for compile failure should be printed out.

A log message should also be printed out, at least informing that there was a failure.

## Steps to Reproduce

Create any standard Node package and induce something that will cau

[2021-01-31 22:00] #4581 closed

[2021-01-31 22:00] Katona commented on #4581
Closing this since I can not reproduce it in a separate repo.

[2021-01-31 22:06] Katona opened #4660 "Publishable React libraries' dependencies"
When executing `nx build` for a publishable library, the generated `package.json` contains all dependencies under the `peerDependencies` section which, I think, is incorrect.

## Current Behavior
Every dependency is placed under `peerDependencies` in the generated `package.json`.
## Expected Behavior
I would expect the dependencies to appear under the `dependencies` section in the `package.json`.

[2021-02-01 02:16] #3890 closed

[2021-02-01 04:39] dangviettuan commented on #4660
I think `--buildableProjectDepsInPackageJsonType=dependencies` can help you

[2021-02-01 06:47] shaharkazaz commented on #2839
@fbaba-nibtravel same here, just upgraded from NX 10 to NX 11 where -c=config1,config2 was working and now I'm getting:

[2021-02-01 06:50] tinesoft commented on #4464
Hi

I'm facing the same issue decribed by @peterbsmith2 ...
After the `yarn update`, i did perform a `rm -rf node_modules`, follow by `yarn`, then `nx migrate --run-migrations=migrations.json`)but nothing changed...

You can reproduce by doing the same my project here: https://github.com/tinesoft/nxrocks

[2021-02-01 08:20] Katona commented on #4660
Hi @dangviettuan,

That option indeed helps, thank you. Is there a way to control which dependency ends up in which section?

[2021-02-01 09:20] dangviettuan commented on #4660
Hi @Katona,
I think you have to do it manually. Checkout the NX repository and take a look at `updateBuildableProjectPackageJsonDependencies` method, NX does not have any options to separate dependencies into 2 groups.

[2021-02-01 09:54] taitruong commented on #2301
Working on Nx 11.1.5 and no change here. Option "--files" still does not work. Also suggestion from @Hotell doesn't work: `nx lint my-project --files=**/some-folder/**`

[2021-02-01 10:25] superquadratic opened #4661 "Exclude individual projects from being cached"
## Description
I'd like to have more fine-grained control over which projects are cached and which are not.

## Motivation
Sometimes individual projects don't lend themselves well to being cached. If there is only a single app in the workspace, it is affected and rebuilt virtually every time. In this scenario, the cache would be filled up by a lot of versions of this app that are never used. Event

[2021-02-01 11:38] iztokb commented on #4656
Yup, same issue here.
"@nrwl/workspace": "11.2.6"
""@nrwl/angular": "11.2.6"

[2021-02-01 13:53] Katona commented on #4660
Hi @dangviettuan,

Yeah, what I did instead is use `--buildableProjectDepsInPackageJsonType=dependencies` as you suggested, this covers 99% percent of the usecases, and when a peer dependency is needed, like React in case of creating a React component library, I add that as `peerDependency` in the project's `package.json`, and Nx seems to be intelligent and separate them when the project is built.

[2021-02-01 13:54] pmenze commented on #4636
In my nx 10 workspace I have some custom builders that depend on '`@angular-devkit/architect`'. After migration to `nx 11.2.6` they do not work anymore, the package '`@angular-devkit/architect`' has disappeared. Is this an error or is '`@angular-devkit/architect`' no longer supported? Is it neccessary to manually migrate to Nx executors now?

[2021-02-01 14:14] mehrad-rafigh commented on #1397
I'll take a look whats needed. @xmlking @LPCmedia should we start a new nx-plugin 🤓?

[2021-02-01 14:25] Timppe opened #4662 "NX cache ignores environment variable value changes"
## Current Behavior
When running e.g. `nx run-many --target=build --prod --all` a second time for a react app, after changing the value for an environment variable, the build is taken from the cache and so the new environment variable is never built into the frontend code

## Expected Behavior
I would expect it to build the app again, using the new environment variable and not taking the build fro

[2021-02-01 14:53] Timppe commented on #4662
I think I found the culprit myself. According to the documentation, some things will need to be manually told to NX when it tries to figure out if it can take result from cache or not. In this specific scenario, it seems to be depending on us not defining the relevant environment variables as runtimeCacheInputs: https://nx.dev/latest/react/core-concepts/computation-caching#runtime-cache-inputs

On

[2021-02-01 15:14] Elif5757 commented on #4590
https://github.com/Elif5757/cypress-test

[2021-02-01 15:17] Elif5757 commented on #4590
https://github.com/Elif5757/cypress-test

[2021-02-01 15:21] mandarini commented on #4656
Hello there @udayvunnam  and @iztokb ! Can you please try changing `@nrwl/workspace/src/utils/perf-logging` to `@nrwl/workspace/src/utilities/perf-logging` and let me know if this fixes your issue?

[2021-02-01 15:32] Timppe commented on #4662
For completeness sake, if you're using .env files (any of them), those would need to be put into the implicitDependencies: https://nx.dev/latest/react/core-concepts/computation-caching#source-code-cache-inputs

[2021-02-01 15:51] vsavkin commented on #4656
@udayvunnam thank you for submitting the issue. Could you provide a repo with a repro?

I think your `@nrwl/cli` might be out of sync with the rest of the packages.

[2021-02-01 15:58] vsavkin commented on #4662
Thank you for submitting the issue.

I think it's not a bad idea to have some naming convention to include some env variables in the cache.  NX_* is a bit to generic cause we use to configure NX in CI, which should not invalidate the cache.

It's something I need to think about.

[2021-02-01 17:02] udayvunnam commented on #4656
@vsavkin below are the details

[code]

`_yarn start_` gives the error

Error: Cannot find module '@nrwl/workspace/src/utils/perf-logging'
Require stack:
- /Users/u0v000i/Desktop/code/temp/xng-breadcrumb/node_modules/@nrwl/cli/lib/init-local.js

Reference PR - https://github.com/udayvunnam/xng-breadcrumb/pull/73

[2021-02-01 17:05] udayvunnam commented on #4656
I tried to upgrade via `nx migrate latest`

[2021-02-01 19:02] Elif5757 commented on #4590
the solution: https://stackoverflow.com/questions/58374064/use-feature-files-in-cypress-with-nrwl-nx

[2021-02-01 19:02] #4590 closed

[2021-02-02 04:22] germanp173 commented on #4154
@itaywol that definitely worked in regards to starting the debugging after running `nx run [app_name]:serve` but I'm still not able to debug `getServerSideProps`. Did you have any luck with that?

[2021-02-02 09:06] mandarini commented on #4656
I cloned your repo, and I observed that your version of `@nrwl/cli` is indeed [out of sync with the rest of the packages `"@nrwl/cli": "10.3.0"`](https://github.com/udayvunnam/xng-breadcrumb/blob/feat/nx-upgrade/package.json#L63).

So, you can try running `yarn add -D @nrwl/cli` and then you will be able to start your server.

[2021-02-02 09:07] damiencal opened #4670 "Regression in latest build with nx run-many command"
## Current Behavior
When running `nx run-many --target=build --prod --all` console returns Cannot find module '@angular-devkit/core' for all my apps.

## Expected Behavior
Before this update the command build the apps properly.

## Steps to Reproduce
I updated  my packages:
 @nrwl/angular    11.2.6  →  11.2.7
 @nrwl/storybook  11.2.6  →  11.2.7
 @nrwl/cypress    11.2.6  →  11.2.7
 @nrwl/jest

[2021-02-02 09:12] iamandrewluca commented on #806
Hello. I also have this issue after some nx updates.
My problem is. How I tell rollupjs to not use any externals? I want all to be bundled together.

🤔

[2021-02-02 09:36] #3142 closed

[2021-02-02 09:42] iamandrewluca commented on #806
Found solution.

In my custom rollupjs config I just emptied the external and globals

[code]

[2021-02-02 10:05] edbzn commented on #4527
The documentation has been updated, no more confusion.

[2021-02-02 10:05] #4527 closed

[2021-02-02 10:05] udayvunnam commented on #4656
Thank you @mandarini. That works!

Shouldn't `nx migrate latest` upgrade `@nrwl/cli` version too?

[2021-02-02 10:06] udayvunnam commented on #4656
@vsavkin @mandarini Thanks a ton for building **nx**. My work and personal projects have been much productive with it.

[2021-02-02 10:06] #4656 closed

[2021-02-02 10:36] #2754 closed

[2021-02-02 10:48] davidfloegel opened #4672 "Can not import a shared lib into an application"
## Current Behavior

[code]

## Expected Behavior
I should be able to export types and interfaces in the index.ts file of my shared-component library so I can re-use them.

Strangely enough, I have other projects (one with NX version 11.0.6) where this is no problem.

## Steps to Reproduce

I have created a repo with the exact setup that fails:

https://github.com/davidfloegel/test-nx

### Failure

[2021-02-02 11:12] InsaLili opened #4673 "Get lint error after upgraded to 11.2.7: The "directory" argument must be of type string. Received undefined"
## Current Behavior
When running nx lint, get the following error:
_The "directory" argument must be of type string. Received undefined_

## Expected Behavior
nx lint should pass

## Steps to Reproduce
Upgrade @nrwl/react from 10.3.1 to 11.2.7

The same error also happens when trying to upgrade
- @nrwl/web from 11.0.15 to 11.2.7
- @nrwl/eslint-plugin-nx from 11.1.5 to 11.2.7

### Failure Logs

![l

[2021-02-02 11:48] petergrau opened #4674 "create-nx-workspace deletes files in the directory its executed"
## Current Behavior
When running `npx create-nx-workspace@latest test-app --preset=empty --cli=nx --nx-cloud=false` out of a director that contains a `package.json` the `package.json` in that root folder are deleted.

## Expected Behavior
I would expect that the script does not touch the files in the folder being executed but only files in the new folder that are created during the command.
The be

[2021-02-02 12:45] evanjmg commented on #3985
@jaysoo  this doesn't seem to work with assets like so:
[code]

[2021-02-02 14:23] mandarini commented on #4656
Thank you @udayvunnam for the kind words! :)

[2021-02-02 15:39] nartc commented on #3728
Is there any update on this? `commonjs` also leads to non tree-shakable libs.

[2021-02-02 16:04] virus2016 opened #4677 "React template should create a typed React Functional Component"
Hi there,

We are having a productivity hit when creating components because of the template that is in the React create component:

https://github.com/nrwl/nx/blob/703725491170af51afd8f4b8868a38a88af46b7f/packages/react/src/schematics/component/files/__fileName__.tsx__tmpl__#L50

We would love to use ng generate component and for it to create the following:

[code]

Would this be accepted if a PR

[2021-02-02 16:13] bcheidemann commented on #4677
Seconded! I would also love the option to provide my own custom template but I would settle for being able to reference props.children without having to manually adjust the interface every time I make a new component :P

[2021-02-02 16:14] Szauka commented on #4677
This would give easy access to props.children which in turn would speed up development.

[2021-02-02 18:04] #3878 closed

[2021-02-02 18:32] duard commented on #4636
I'm experiencing the same problem

[code]
![image](https://user-images.githubusercontent.com/36894/106645974-dd155180-656b-11eb-95a7-8a2a9693ce68.png)

[2021-02-02 19:01] #4674 closed

[2021-02-02 19:59] techgerm opened #4680 "Next Serve Prod does not build app"
## Current Behavior

Serving a Next JS app in production mode like so `nx run next-app:serve --prod` does not build the app (see nx-example [PR](https://github.com/nrwl/nx-examples/pull/129)).

Instead I get the following error:
[code]

## Expected Behavior

Next apps should build in production mode and then serve the app when running `nx run [app_name]:serve --prod` in the same way that `nx run [

[2021-02-02 21:16] hadrien-toma opened #4681 "`nx generate @nrwl/angular:application` - Cannot find module '@angular-devkit/architect'"
## Current Behavior
Unability to create an angular application in a new workspace.

## Expected Behavior
Ability to successfully create/run the application.

## Steps to Reproduce

[code]

### Failure Logs
[code]

### Environment

- `npx --version`: `6.14.6`

[2021-02-02 21:31] hadrien-toma commented on #4681
It works when doing `yarn add @nrwl/angular @angular-devkit/architect` instead of simply `yarn add @nrwl/angular`, so I am wondering if the error is expected, does someone know?

[2021-02-02 23:42] FrozenPandaz commented on #4296
Hi everyone,

Sorry, I think there was some confusion with how the Angular CLI handles this behavior.

It should be possible to support this behavior but as @vsavkin mentioned, there are definitely some complexities here. I think we should be able to take this one step at a time though starting with the ability to execute `nx build app1 --configuration config1,config2`.

There is an existing issue

[2021-02-02 23:44] FrozenPandaz commented on #2839
Hi everyone,

Sorry, I think there was some confusion with how the Angular CLI handles this behavior.

It should be possible to support this behavior but as @vsavkin mentioned [here](https://github.com/nrwl/nx/issues/4296#issuecomment-746396881), there are definitely some complexities here. I think we should be able to take this one step at a time though starting with the ability to execute `nx bu

[2021-02-03 00:13] FrozenPandaz commented on #4681
No, this is not expected. Reverted the commit that caused this and published `11.2.9` sorry about that everyone.

[2021-02-03 00:28] crates commented on #4201
Just wanted to say, me too. I renamed a library (including everything that referenced it), and everything still broke.

[2021-02-03 01:02] crates commented on #4201
Looks like the error self-resolved after a successful git commit.

[2021-02-03 03:39] dangviettuan commented on #4660
I found that I have missing packages in depedencies. Just install published lib and testing. After take a look about rollup, It's my mistake because rollup will bundle all thirdparty.
One more thing, I trying to package my lib and include all my libs in workspace. Because I don't want to publish too many package. Maybe nx only support publish standalone, I'm reading NX source code and still stuck

[2021-02-03 04:00] VinitSarvade opened #4684 "workspace:remove fails when unitTestRunner is set to none"
## Current Behavior

Running `@nrwl/workspace:remove --projectName=<name>` fails if the app / library is created with unitTestRunner set as  none.

## Expected Behavior

Expect the app or library to be removed and the entries in nx.json and workspace.json to be removed.
I'm using nx for the first time, so I'm not sure if it's a regression.

### Failure Logs

[code]

### Environment

[code]

[2021-02-03 05:09] miloofcroton opened #4685 "nx affected:lint throws obtuse error if tsconfig is not strict json"
## Current Behavior

I left a trailing comma in an array in my root tsconfig file, which did not throw an error in VSCode. Upon running `nx affected:lint`, I get weird error messages that don't help me.

## Expected Behavior

tsconfigs don't technically have to be simple JSON files. They are able to have comments normally. They can have trailing commas after every value in an array. Either `nx aff

[2021-02-03 06:31] #3679 closed

[2021-02-03 06:43] #3967 closed

[2021-02-03 07:46] tonivj5 commented on #1754
Up

[2021-02-03 08:39] tieppt opened #4686 "We should fix LicenseWebpackPlugin warning "Conflict: Multiple assets emit different content to the same filename""
## Description
Currently, NX use license-webpack-plugin v2.1.2, which will prompt a warning like this when we run build command.

## Motivation

## Suggested Implementation

Following this PR from Angular CLI repo: https://github.com/angular/angular-cli/pull/16291
## Alternate Implementations

We can upgrade version of the plugin

[2021-02-03 08:56] stianmorsund opened #4687 "npx nx g move - TypeError: Cannot read property '1' of undefined"
## Current Behavior
When running `npx nx g move --project=foo --destination=foobar` i get the following error and stacktrace:

``
TypeError: Cannot read property '1' of undefined
    at /repo/node_modules/@nrwl/devkit/src/utils/invoke-nx-generator.js:46:55
    at Generator.next (<anonymous>)
    at /repo/node_modules/tslib/tslib.js:117:75
    at new Promise (<anonymous>)
    at Object.__awaiter (/

[2021-02-03 09:27] BensonBen opened #4688 "nx g generic-package:ng-add only supports packages with no special characters"
## Current Behavior
Any attempt to use the wrapped `ng add` schematic by `nx g my-package:ng-add` results in an error *IF* the package has a `-` character in the package name.

(details of error below).

## Expected Behavior
Should effectively run as `ng add my-package` but does not.
Current example from the NX website is [here](https://nx.dev/latest/angular/getting-started/cli-overview)

## Steps

[2021-02-03 10:24] tonivj5 commented on #1230
Up

[2021-02-03 10:28] lazarljubenovic commented on #2329
Disappointed that this is not an option yet.

Either way, I tried making a library publishable manually, but I can't figure out the differences between libraries made `--publishable` and `--buildable`. I looked into `nx.json` and `workspace.json`, their `package.json`, TypeScript config, but found everything exactly the same. What's the actual _observable_ difference of `--publishable` and `--buil

[2021-02-03 10:47] tw2as commented on #4687
I am having a similar problem when creating a new workspace

[code]

**Environment**

[code]

[2021-02-03 11:45] Disane87 commented on #3121
Bump. Anything new here?

[2021-02-03 12:21] shlajin commented on #4623
@katyapavlenko apparently it has landed https://github.com/nrwl/nx/releases/tag/11.2.8

[2021-02-03 12:21] katyapavlenko commented on #4623
@shlajin thank you very much!

[2021-02-03 13:26] #4044 closed

[2021-02-03 14:29] #4660 closed

[2021-02-03 14:33] alvarosinmarca opened #4690 ""contains invalid WIN32 path characters" when execute the command npx create-nx-workspace"
## Current Behavior
When try create a new project with Angular + SASS + ESLint + NxCloud/Not NxCloud with `npx create-nx-workspace`

## Expected Behavior
Create a new project sucessfully

## Steps to Reproduce
npm install -g @nrwl/cli@latest
npm i -g @nrwl/workspace@latest
npm install -g @nrwl/angular@latest
npm install -g @angular/cli@latest
npm install -g nx@latest
npx create-nx-workspace@latest

[2021-02-03 14:38] kevinbeal commented on #4656
It did for me when I tried it just now.

[2021-02-03 14:47] adrian-ub opened #4691 "v11.2.9 NX ERROR Could not find Nx modules in this workspace."
## Current Behavior

When try create new project with `npx create-nx-workspace` or `yarn create nx-workspace` and with option --packageManager=yarn

## Expected Behavior

Create a new project successfully as before
I created a new project three days ago and had no error

## Steps to Reproduce

npx create-nx-workspace --packageManager=yarn
? Workspace name (e.g., org name)     adrianub
? What to cr

[2021-02-03 15:11] CharlieGreenman commented on #3251
@FrozenPandaz just to let you know, while of course it might be quite a bit of people stammering etc., I can confirm this is indeed an issue. I migrated from nrwl 9 to 11, and tsconfig.json was not changed to tsconfig.base.json. What I did was reference a new nrwl workspace issue from scratch, and that solved it. While I am unfamiliar with the codebase, a perusal into the nx migrate code/logic sho

[2021-02-03 15:17] #2954 closed

[2021-02-03 16:00] #4681 closed

[2021-02-03 17:55] ceefour opened #4692 "Nx projects not working properly with Gitpod: IDE errors"
As described [by Lovia Engineering](https://about.lovia.life/docs/engineering/nx/), Nx projects work well in VSCode but is problematic with Gitpod.

## Current Behavior

IDE behavior in Gitpod:

1. Cannot find module '@myorg/somelib' when `import`ing a lib
2. `Experimental support for decorators is a feature that is subject to change in a future release. Set the 'experimentalDecorators' option in

[2021-02-03 17:56] #2914 closed

[2021-02-03 17:56] #2908 closed

[2021-02-03 19:06] #2992 closed

[2021-02-03 19:41] theorlovsky commented on #1972
i hope this issue is still alive, much wanted 🙂

[2021-02-03 19:46] marlass opened #4693 "Logger in `wrapAngularDevkitSchematic` not aligned with `@angular/devkit` logger"
When running builder schematics for `@nrwl/storybook:configuration` I found that stub logger in `wrapAngularDevkitSchematic` doesn't provide `debug` logger which is supported by `@angular/devkit`: https://github.com/angular/angular-cli/blob/master/packages/angular_devkit/core/src/logger/logger.ts#L21

I assume that this logger should be also added here: https://github.com/nrwl/nx/blob/master/packa

[2021-02-03 21:01] christianacca opened #4694 "storybook-migrate-defaults-5-to-6 angular schematic is not installed with v11.2.9"
## Current Behavior
`storybook-migrate-defaults-5-to-6` angular schematic is not installed with v11.2.9

## Expected Behavior
According to the docs `storybook-migrate-defaults-5-to-6` should be an available generator. However, the command `nx generate @nrwl/storybook:migrate-defaults-5-to-6` fails with the following message:

[code]

Looking at the file system where the schematic should be install

[2021-02-03 21:09] shardyMBAI opened #4695 "Docs for migrating an angular hybrid app fails on step two."
## Current Behavior
https://nx.dev/latest/angular/migration/migration-angularjs does not match the current system

we are not prompted on which CLI tool to use and `ng add @nrwl/angular` does not work reporting an error

''The serve command requires to be run in an Angular project, but a project definition could not be found"

## Expected Behavior
Docs to match current NX install system
had to sta

[2021-02-03 22:09] juristr commented on #2601
@Stonepaw I'm working on a fix. For now you can try to remove the `create-ivy-entry-points` from the `postinstall` script in the package.json. Remove and re-install the node_modules and then storybook should run in Ivy mode

[2021-02-03 22:17] markgoho commented on #4333
@vsavkin should I try and get these questions answered in a different place? I'm currently sitting at a minor version behind Angular and wondering what the recommended path is for updating. If it's "wait until Nx updates its dependency" that's fine, but I think we should be very clear about this.

[2021-02-03 23:07] FrozenPandaz commented on #4694
Hi, we have not released that functionality quite yet. We will soon though! :wink:

Did you perhaps find this information in the docs in this repo? Or did you find it on https://nx.dev?

The docs in this repo reflect the docs for the latest `master` commit. However, the latest version on `npm` is likely not up to date with `master`. When the feature is released on `npm`, the docsite at https://nx.

[2021-02-03 23:15] #1340 closed

[2021-02-03 23:51] adwiens commented on #3106
Since the workarounds in this thread do seem to work, but don't compile, I made a CLI tool to quickly apply and un-apply them to a workspace: https://www.npmjs.com/package/farp

[2021-02-04 00:00] semenovDL commented on #4609
@aryk2  I faced the same issue. In my case, it turns out that loading `nx-gatsby-ext-plugin` in gatsby config solves the problem. In any case, it looks like a bug.

[code]

[2021-02-04 00:01] lr001dev opened #4698 "Publishable Library React Project: Root README.md publishes instead of library README.md"
## Current Behavior
So when building/publishing a library, currently the README.md from the root of the project gets published instead of the project README.md

## Expected Behavior
The README.md located at project level should be published with package

## Steps to Reproduce
running nx build <project>

It's pretty simple running nx build doesn't copy readme local to the project.

### Failure Logs

[2021-02-04 02:24] ashwinGokhale opened #4699 "Generators do not respect original line endings for non ts/js files"
## Current Behavior
Creating a new react app with CRLF line endings will change the line endings to LF for files that are not ts,tsx,js,jsx. Code files are fine, but the `.vscode/extensions.json` and `package.json` files switch to LF line endings.

## Expected Behavior
When I use a generator, I expect to keep the original line endings.

## Steps to Reproduce
1. Switch your line endings for `.vscod

[2021-02-04 04:16] Lonli-Lokli commented on #4320
@FrozenPandaz Does Nx team any ETA for the fix? Or we should go with workaround , proposed above?

[2021-02-04 05:47] danawoodman opened #4700 "Required property 'importPath' is missing when using @nrwl/nx-plugin generator"
## Current Behavior

Cannot use `@nrwl/nx-plugin` generator to create a plugin in a fresh nx workspace, getting `Required property 'importPath' is missing`. Have to specify the flag `--importPath=.` to get it to work but this isn't documented or clear as to what it does or how it works.

## Expected Behavior

I can use the `@nrwl/nx-plugin` generator to create a plugin in my current workspace with

[2021-02-04 06:50] christianacca commented on #4694
https://nx.dev/latest/angular/plugins/storybook/overview#some-info-about-the-generator

:-)

[2021-02-04 07:16] petergrau commented on #2056
@FrozenPandaz marked as stale again?

[2021-02-04 07:24] #2990 closed

[2021-02-04 08:06] dangviettuan commented on #4620
After a week try many solutions I found a way to publish a library with all dependencies.

1. All dependencies must be buildable projects. We can convert non-buildable projects by update `workspace.json`
[code]
3. Build your library with `--with-deps` flag.
4. Rebuild you library with custom rollup config
[code]
5. NX will automatically add dependencies and buildable libraries to `dependencies` or

[2021-02-04 08:06] johannesnormannjensen commented on #3427
+1

[2021-02-04 08:07] dangviettuan commented on #4429
#4620 I think this issue can help you

[2021-02-04 08:15] dangviettuan commented on #4698
Edit your `workspace.json` like below
`"assets": [
              {
                "glob": "README.md",
                "input": "",
                "output": "."
              }
            ]
`

[2021-02-04 10:07] Jcomper opened #4701 "@nrwl/web:file-server does not work with ssl turned on"
## Current Behavior
`nx serve` returns error
[code]
when using @nrwl/web:file-server as a builder and having ssl turned on with sslKey and sslCert in options:
[code]

## Expected Behavior
nx serve should start web server when using ssl

## Steps to Reproduce
- create new project and change *serve* section

[code]

- run `nx serve`

### Environment
[code]

[2021-02-04 10:53] realityfilter opened #4702 "nx format not formatting all files (e.g. *.vue), but prettier does"
## Current Behavior

Running nx format does not format any vue files. Running prettier directly does format vue files.

## Expected Behavior

All files of types prettier can format should be formatted with nx format.

## Steps to Reproduce

- npx create-nx-workspace prettier
- cd prettier
- npm install @nx-plus/vue @nrwl/jest @nrwl/cypress  @nrwl/linter --save-dev
- nx g @nx-plus/vue:app my-app
-

[2021-02-04 14:33] hadrien-toma opened #4704 "Error: Cannot find module '@nrwl/cypress/plugins/preprocessor'"
## Current Behavior

Unability to run Cypress tests from official Cypress Docker image.

### Underlying need

Managing Cypress installations/configurations on CI is not an "out of the box" feature and could even be quite cumbersome (at least it was in my cases) so if it would be possible to simply use their official "included" image, it would be nice: nothing to install, no binaries nor custom Doc

[2021-02-04 14:38] hadrien-toma commented on #4704
I also tried to manually install `@nrwl/cypress/plugins/preprocessor` but it was not found on registry.

[2021-02-04 15:27] JamesHenry commented on #3973
FYI if it is down to that same jest issue you linked to above (facebook/jest#10577) then it's worth noting that there has not been a single Jest release since the fix was that was merged - I don't know why that is the case.

Therefore there is currently no version of Jest on npm that has the fix available

[2021-02-04 15:28] nuno-mrks commented on #4420
@jaysoo, I'm currently facing a similar issue.
I'm configuring TailwindCSS (and its purge features) on my shared libs folder and for that reason I can't use my application's (Angular) `environment.ts` replacement file to only perform purging actions on production builds (`--prod`).
My application's `.env` file has a `PRODUCTION=true` entry, and my `.local.env` has `PRODUCTION=false`.
For some reas