[2022-06-08 22:02] dukuo commented on #6901
I'm facing the same issue now that I have migrated the workspace to the latest version. None of my apps have generated dependencies in their respective `package.json`

[2022-06-08 22:24] JeremieLapert opened #10646 "Angular ng serve does't work after migrate to 14.2.2"
## Current Behavior
Angular ng serve does't work after migrate to 14.2.2

## Expected Behavior
Angular ng serve build and run application

## Steps to Reproduce
ng serve

### Failure Logs

![image](https://user-images.githubusercontent.com/1982908/172726939-9ca260d0-9a13-49f7-8c88-e161e0733365.png)

### Environment

 NX   Report complete - copy this into the issue template

   Node : 16.13.2
   OS

[2022-06-08 23:25] memorx opened #10648 "The YouTube video to learn link is not working properly"
### Documentation issue

- [ ] Reporting a typo
- [ ] Reporting a documentation bug
- [ x] Documentation improvement
- [ ] Documentation feedback

### Is there a specific documentation page you are reporting?
yes
Enter the URL or documentation section here.
https://nx.dev/core-tutorial/06-summary
### Additional context or description
The youtube video points to the end of the video, it doesn't ope

[2022-06-08 23:25] hamzou247 commented on #10640
Solved. It was a configuration issue but the error was not explicit.

In the project.json, targets -> build -> options -> project was pointing to an other lib.

The error was misleading

[2022-06-09 00:39] adriangroch opened #10649 "Building a `node:application` with `@nrwl/js:tsc` executor without an application `package.json` file throws an error."
## Current Behavior
When building a `node:application` with the `@nrwl/js:tsc` executor without a `package.json` in the application's directory, will throw an error as it's attempting the `package.json` file that does not exist.

## Expected Behavior
It should not error if a `package.json` file does not exist.

## Steps to Reproduce
1. `nx g @nrwl/node:application api`
2. Update the `apps/api/proj

[2022-06-09 02:16] dannymcgee opened #10652 "`@nrwl/js` library generator has `includeBabelRc` option, but neither compiler option actually uses it"
## Current Behavior
When generating a buildable `@nrwl/js` library, `includeBabelRc` is a valid/documented option, with the following description:
[code]

However, the `compiler` option for the same generator only has two options, `tsc` and `swc`, neither of which correctly support a `.babelrc` configuration (at least not that I could figure out — please correct me if I'm wrong about that).

## Ex

[2022-06-09 03:16] xiongemi commented on #10644
how about regex like `/^(?!.*node_modules).*\/dist\/.*/`. this should block all the dist folder that is NOT under node_modules.

[2022-06-09 03:17] Aiden-recovery commented on #10642
i faced same problem
if i run nx affected:apps on local development environmemt i can get affected app name i expected
but when it is building on vercel i got this message
🛑 - Build cancelled since zaza is not affected

[2022-06-09 04:45] lmiller1990 commented on #10591
Hello, I worked on Cypress 10 (and migration tool). I don't know much about nx internals, but happy to answer any questions around the differences between Cypress 9 and 10.

[2022-06-09 06:23] e-oz commented on #10646
Works for me (I've migrated to 14.2.2). Try to reproduce on newly-created + migrated workspace.

[2022-06-09 07:29] dstoyanoff opened #10653 "Dependent targets receive the original arguments and break"
## Current Behavior
I have a repo with yarn workspaces and nx. When executing test for a certain project, I need to build all its dependent projects. For that, I have configured the following in my `nx.json`:

[code]

Then I run `nx test ui -u` to execute jest with updating snapshots. When this happens, nx forwards the `-u` argument to my build command, which fails because that's not a recognized

[2022-06-09 08:16] Coly010 commented on #10640
Hey @hamzou247 , can you share the project.json build target json? I'm curious if it's something we need to take into consideration for a migration.

Thanks!

[2022-06-09 09:16] #10329 closed

[2022-06-09 09:27] leosvelperez commented on #10646
@rjlopezdev you seem to have the wrong version of the Angular CLI installed in the project. Did you run `nx migrate latest` and `nx migrate --run-migrations`? That should have updated the `@angular/cli` package to v14. Please make sure the package has the right version and that is installed.

[2022-06-09 09:30] leosvelperez commented on #10646
@JeremieLapert could you share the contents of your `nx.json` file? Or at least make sure you have the `tasksRunnerOptions` property set in your `nx.json` file.

[2022-06-09 09:31] rjlopezdev commented on #10646
Thanks for youtr quick reply @leosvelperez !

Yes, I upgrade Nx as always.

[code]

[2022-06-09 09:35] leosvelperez commented on #10646
@rjlopezdev can you make sure you `@angular/cli` set to the right version in your `package.json` file and that version is installed? The error log you posted points that the installed `@angular/cli` is still using v13 `This version of CLI is only compatible with Angular versions ^13.0.0 || ^13.3.0-rc.0, but Angular version 14.0.1 was found instead.`.

If you do have the right version in the `packa

[2022-06-09 09:39] JeremieLapert commented on #10646
This is my nx.json file
[code]

[2022-06-09 09:40] rjlopezdev commented on #10646
Yes @leosvelperez , my `@angular/cli` version is set to `14.0.1` at `package.json` and re-run `npm install`, but it does not works :(

[2022-06-09 09:41] mandarini commented on #10585
Hi @Jordan-Hall ! I'm testing this out, right now!

Sooooo, great news!!!

I just tested this! I installed `vite` and `@storybook/builder-vite`. Then, in my React projects's `.storybook/main.js` I changed the builder to this: `builder: '@storybook/builder-vite'`, and I had to install `"@storybook/client-api"` for some reason as well.

Then I just did `nx storybook my-project` and it works like a c

[2022-06-09 09:44] leosvelperez commented on #10646
Could you provide a repo where this issue can be reproduced? Are you running Nx from a global installation or local?

[2022-06-09 09:50] JeremieLapert commented on #10646
@leosvelperez : thanks the project build !!! I don't understand how this could work before?

[2022-06-09 10:02] leosvelperez commented on #10646
I can see the logic to retrieve the task runner changed recently, but I'm not familiar with the reasons behind that. I'll follow it up with the team, but you should be ok now with that property in place. AFAIK, all workspaces get generated with it in place.

[2022-06-09 10:06] leosvelperez commented on #10646
@rjlopezdev you seem to have a caching issue. To create a new workspace with latest you can run `npx create-nx-workspace@latest`. In your project with the issue, you could try deleting `node_modules` and the `package-lock.json` and install again.

[2022-06-09 10:08] Olster commented on #10646
I had the same issue because of `@angular-builders/custom-webpack` which isn't updated for Angular 14 as of yet.
Custom-webpack has a dependency to `@angular-devkit/architect` v0.1302.2 and nx uses `@angular-devkit/architect` v:0.1400.1 to run non-nx commands (please correct me if I'm wrong here, I took a 5 minute look into the code).

After removing `@angular-builders/custom-webpack` I don't get

[2022-06-09 10:17] leosvelperez commented on #10646
@Olster good point 👍🏻

Nx v14.2.0 comes with Angular 14, therefore any third-party package that's not compatible with Angular 14 can cause issues. @JeremieLapert please make sure you're using packages that are compatible with Angular 14, otherwise, you might not be able to update to it just yet.

For custom webpack configuration, the `@nrwl/angular:webpack-browser` has support for it https://nx.de

[2022-06-09 11:29] mehmetcozdemir opened #10656 "Configurable normalized project name maximum length for `--output-style=stream`"
## Description
Newly implemented `--output-style=stream` is great but it normalizes project names to at most 15 chars. Our project names are mostly around 30-40 chars so it looks really weird with current configuration.

Code is here: https://github.com/nrwl/nx/blob/67a27774ac9e0aa906797fa3a02cccec40d71fcb/packages/nx/src/utils/add-command-prefix.ts#L59-L63

## Motivation
15 is a pretty arbitrary

[2022-06-09 13:17] hwanders commented on #8779
We had a similar problem on a Windows 10 system.
It turned out, the actual problem were file paths which exceeded the length of 260 characters.
Shortening the paths fixed the problem. Perhaps setting the registry setting LongPathsEnabled helps too.

[2022-06-09 13:52] AgentEnder commented on #10645
@fbartho Can you check on the dep-graph and make sure that the dependency is still actually being detected? This reads as if Nx doesn't think the dependency exists anymore.

[2022-06-09 13:52] MatznRisto opened #10659 "migrate to 14.2.2, migrations can not be run "Cannot find module '@angular-devkit/core'""
Hey, thank you for updating to angular 14! We have problems to migrate to 14.2.2. We have the same issue we had some months ago. This time `NX_MIGRATE_USE_LOCAL=true` does not work
## Current Behavior

nx migrate --run-migrations are not running through. Stops at Running migration migration-entry-components with error
[code]

## Expected Behavior

Migration should run through sucessfully

## Steps

[2022-06-09 13:52] hevans90 opened #10660 "`nx test` (jest) cannot resolve tsconfig paths after migration to nx 14.x"
## Current Behavior

After migrating to `nx` 14, all my tests that import modules from aliased paths (from my libs) fail. The app builds fine and VSCode shows no issues with the module resolution, but when running tests, `jest` is no longer able to resolve my path aliases:

<img width="889" alt="image" src="https://user-images.githubusercontent.com/12142999/172862889-b93181d0-e15f-4d35-bd9d-e6b952

[2022-06-09 14:27] barbados-clemens commented on #10660
Hi @hevans90, I looked into this and it's pretty odd what's happening. I don't see anything that stands out as strange with your setup, but if I had to venture to guess it's something config-related. I'll try to take a look later this week.

the _only_ thing that I see is different is the using jest.config.js files instead of jest.config.ts files, which changed in 14.1.5 I believe. Though using a

[2022-06-09 14:38] #9290 closed

[2022-06-09 14:38] #10585 closed

[2022-06-09 14:39] hevans90 commented on #10660
@barbados-clemens funny you mention the `jest.config.ts` as I just spun up a new `nx 14.2.x` workspace and was trying to compare setups and flagged this. Sadly (as you mentioned) changing this has no effect.

I'll try running ts-jest as see what happens!

[2022-06-09 14:44] mandarini commented on #8592
Do you think we can close this issue now?

[2022-06-09 14:52] danielsharvey opened #10665 "`nx migrate --run-migrations` does not confirm to `nx format` for `project.json`"
## Current Behavior
The current `nx migrate --run-migrations` appears to use a different set of formatting rules when compared with the standard `nx format`.

Specifically, the migration of `project.json` (etc) reformats this
[code]

to this
[code]

I then need to run format to undo these changes:
[code]

## Expected Behavior
That migrated files would be consistent with `nx format`.

## Steps to R

[2022-06-09 15:07] mcmxcdev commented on #8227
We are running into a very similar issue with https://mantine.dev/

If I add e.g. `sx` prop to `Table` component, it results in the following error when running `nx run ui-components:build`:

[code]

[2022-06-09 15:22] kaceycleveland commented on #9572
Noting here that my usage of any custom `.babelrc` breaks my build with a custom middleware. For reference, my .babelrc:
[code]

and here is my _middleware.ts:
[code]

[2022-06-09 15:41] ArnaudDenoyelle opened #10667 ""What to create in the new workspace" : Outdated option ?"
### Documentation issue

- [ ] Reporting a typo
- [X] Reporting a documentation bug
- [ ] Documentation improvement
- [ ] Documentation feedback

### Is there a specific documentation page you are reporting?

[Core Nx Tutorial - Step 1: Create Eleventy Blog](https://nx.dev/core-tutorial/01-create-blog)

### Additional context or description

After executing this command : `npx create-nx-workspace@

[2022-06-09 16:31] hamzou247 commented on #10640
Sure:

{
  "$schema": "..\\..\\..\\node_modules\\nx\\schemas\\project-schema.json",
  "projectType": "library",
  "sourceRoot": "libs/shared/environments/src",
  "prefix": "safesante",
  "targets": {
    "build": {
      "executor": "@nrwl/angular:ng-packagr-lite",
      "outputs": [
        "dist/libs/shared/environments"
      ],
      "options": {
        "project": "libs/shared/environments/ng

[2022-06-09 16:46] mcmxcdev commented on #8227
@smasala I was able to work around this by setting https://pnpm.io/npmrc#shamefully-hoist to `true`.

Now it works properly, but note that you do lose some of the strict dependency handling of pnpm as a tradeoff.

[2022-06-09 17:13] sicarius97 commented on #10390
@AgentEnder This is happening because the dependency it is looking for is using the tilde instead of a caret, so everytime typescript-eslint-plugin releases a new minor version (which is very often), its going to do this. I added a pr that would fix this here : https://github.com/nrwl/nx/pull/10668

[2022-06-09 17:38] nartc commented on #10652
Hi @dannymcgee, would you mind providing a sample reproduce with SolidJS and Nx so that I can test something out? I have an answer for the `includeBabelRc` flag but would like to give a more complete answer to your inquiry regarding SolidJS.

[2022-06-09 18:25] jonwalstedt commented on #10660
Any luck on this one? I am getting the same errors

[2022-06-09 18:35] AgentEnder commented on #10665
`nx migrate` itself doesn't run formatting. Rather, the individual migrations would call `formatFiles`. Its possible that there are some that are missing this, those should be found and updated.

Since you specifically noted this for the migration that added the $schema, would you like to submit a PR fixing it?

[2022-06-09 18:46] jchamale commented on #3069
This happens to me too

This happens to me too.

[2022-06-09 18:52] wstidolph commented on #10659
Same error on WLS2/Ubuntu 21.0.4 upgrading from NX 14.1.9 (Angular 13) to NX 14.2.4 (angular 14). Tried delete node_modules/ and package-lock.json before npm i, also tried `export NX_MIGRATE_USE_LOCAL=true; nx migrate --run-migrations `

Previous package.json had `  "@angular-devkit/core": "^13.0.0",` new package.json has `"@angular-devkit/core": "14.0.1",`
[code]

[2022-06-09 19:07] nhhockeyplayer opened #10669 "Nx project angular/nest schematic... nestJs server fails on ESM"
Thanks Nx team for an awesome elite product.

Can someone offer some leadership to this ESM issue thats being forced on the public with little resolve?

Setting a few switches in the `tsconfig` and `"type": "module"` is just not cutting it including `change all javascript to *.mjs`... (what if my entire project is all typescript?)

## Current Behavior
Okay I generated a new project using schematic

[2022-06-09 19:11] nhhockeyplayer commented on #10669
Kamil at nestJS has no intent to comply with ESM

I was blocked from his repo issues for pursuing this year ago

and there hasn't been any movement on this since

and folks are asking about it too

[2022-06-09 19:14] AgentEnder commented on #10645
Is this repo public? Can you show your nx.json file?

[2022-06-09 19:15] jonwalstedt commented on #10660
It starts failing when updating from @nrwl/jest 14.1.4 to 14.1.5

Somewhere here I guess:
git diff ac76a7e53abb6a7580441dada9fb0ec2aab82035 5251bd73acb5ac52d37b0795e26346b02dba24f7 -- packages/jest > changes.diff

[2022-06-09 19:32] nhhockeyplayer commented on #10669
Ok I just realized it runs in the cmd terminal and its the webstorm IDE launch config producing this.
`nx serve` works
My Apologies.

I will forward this to webstorm support. But again this terrain doesnt make for happy impact as its spread everywhere and the yarn npm folks are agnostic to the existence of anything they promote anything gets changed with little regard to impact.

what could an IDE

[2022-06-09 19:36] nhhockeyplayer commented on #10669
Ok Nx saved the day with their Nx webstorm plugin.
I created a launch config using the Nx (one way best way only way... THE NX WAY) stuff.

Have a great day !

[2022-06-09 19:36] #10669 closed

[2022-06-09 20:36] rjlopezdev commented on #10646
Thanks for support @leosvelperez
Finally i found out that the error was in a peer-dependency of `ngx-build-plus`, setup as executor for `serve` target.

Thank you so much! ❤️

[2022-06-09 20:38] NZaleski commented on #10642
I wonder if it is something as simple as my nx cloud isn't connected to Vercel correctly?

[2022-06-09 20:40] hevans90 commented on #10660
@jonwalstedt thanks a lot for a workaround. Can confirm that downgrading `@nrwl/jest` from `14.2.2` to `14.1.14` seems to allow the module resolver to work with `tsconfig.paths`.

Regarding `ts-jest` I get the same errors when running `nx test` for this project:

<img width="946" alt="image" src="https://user-images.githubusercontent.com/12142999/172939934-724f8242-b8fa-4335-a8ff-a5b4394054ea.png"

[2022-06-09 21:53] fbartho commented on #10645
@AgentEnder no the repo is not public, here's my nx.json with some secrets stripped.

[code]

Our workspace.json is much richer, but it's a huge file, so let me know if you need me to pore over that to check for secrets.

[2022-06-09 21:58] AgentEnder commented on #10645
@fbartho Can you add this to the bottom of your nx.json? The npm preset was updated to turn this off by default to more closely mimic standard npm workspaces, though I believe that there should have been a migration for that in the @nrwl/workspace package.

[code]

[2022-06-09 21:58] fbartho commented on #10645
Inspired by nx dep-graph I set our repo up to generate an SVG of the local packages and how they interrelate.

![mass of packages and their interdependencies](https://user-images.githubusercontent.com/209712/172952100-073b10b3-61b8-42d2-9473-23a6da749a8e.png)

This diagram is generated for every PR, and updated in our README when PRs merge. Triangles are NX applications, and Circles are NX Librari

[2022-06-09 22:02] AgentEnder commented on #10645
Looking further at your `nx.json` file, `defaultCollection` is also still present. Did you remember to run `nx migrate --run-migrations` after `nx migrate latest`?

[2022-06-09 22:09] fbartho commented on #10645
Adding the `pluginConfig` had partial effect? A very small number of the projects now have a graph of local dependencies, but by no means all of them. I tried `--skip-nx-cache` just in case, but no dice.

[2022-06-09 22:13] fbartho commented on #10645
Running `nx migrate latest` *again* to update from 14.2.2 to 14.2.4 appears to have resolved the immediate issues (it however did **not** produce a migrations.json however)

@AgentEnder Does your previous comment suggest we need to recover an old migration, or is there a patch we need to add to our nx.json?

[2022-06-09 22:19] AgentEnder commented on #10645
`nx migrate latest --from 14.1.9` would recreate a migrations json with those

[2022-06-09 23:38] nhhockeyplayer commented on #10669
well some feedback would help

[2022-06-09 23:55] fbartho commented on #10645
Thanks for the help @AgentEnder! Closing the ticket.

Idea: documentation on the recommended way to integrate `nx migrate` with dependabot would have helped us avoid this mistake (unclear how it happened still, if it was a manual error or a bug somewhere).

[2022-06-09 23:55] #10645 closed

[2022-06-10 00:24] #7504 closed

[2022-06-10 00:24] #6509 closed

[2022-06-10 00:29] ZNackasha opened #10672 "add a way to run affected on staged items only"
- [ ] I'd be willing to implement this feature ([contributing guide](https://github.com/nrwl/nx/blob/master/CONTRIBUTING.md))

## Description

add a way to run affected on staged items only

## Motivation

i want to run a git precommit hook on affected staged items

## Suggested Implementation

## Alternate Implementations

[2022-06-10 00:53] dannymcgee commented on #10652
@nartc I just tried to setup a minimal repro, but unfortunately now I'm running into a completely different issue. :/ As soon as I add `@nrwl/react` to the workspace and generate a React app, `nx build` fails on all targets with `TypeError: Cannot read properties of undefined (reading 'endsWith')`

[2022-06-10 02:34] jscastanos commented on #7729
@ShadabFaiz +1 it works

[2022-06-10 05:24] akirawinz opened #10674 "Nx run serve could not find project"
## Current Behavior
I'm working on multiple nx project and all of them uses some sharelib together so I decide to separate 1 nx for sharelib with using git submodule after I tried to use npm workspaces for link 2 nx project but after i try nx can't find project path

## Expected Behavior
I want to run nx serve in root project path

## Steps to Reproduce
I already add READ.me for start project
http

[2022-06-10 05:33] fguitton commented on #8606
Not stale :balloon:

[2022-06-10 06:53] backnotprop opened #10675 "Where is the stable version."
Im not sure I really need to explain this, however – and I am certain there exists a vast amount of nx users frustrated with the `nx migration` experiences. Specifically, lacking (or hard to find?) documentation on any version support. Instead, there are plenty if github issues, google results + all the spam generated results, stackoverflow links, etc... to various rabbit holes of further nuance.

[2022-06-10 06:53] ElecTreeFrying opened #10676 "Error while generating Angular component after upgrading from Angular 13 to 14 using `nx migrate`"
Need help...

Not sure why I'm starting get these kind of errors after upgrading angular 13 to 14 using `nx migrate`

I can't generate angular component.

## Current Behavior
Terminal errors while generating angular component.

## Expected Behavior
Generate angular component without errors

## Steps to Reproduce

1. nx migrate from angular 13 to 14
2. generate angular component using nx cli

### F

[2022-06-10 07:26] backnotprop commented on #10675
fwiw here is an approach that worked for me, migrating from 12 to 13, (tried 14 first, failed a bunch, after failing a bunch with 13).

Using `OSX`. Still concerned bc I have devs that need to figure this out on windows.

1. **Wipe node/npm:**
    - Remove all`Node`versions where `nx` was globally installed
   -  if anything, ensure you **delete all global `nx`**
   -  the reason you nuke it all i

[2022-06-10 07:59] stomvi commented on #7872
Will #10414 fix this?

[2022-06-10 08:20] leosvelperez commented on #10646
@markgoho without a reproduction would be hard to tell what's going on. If the issue you're having is somehow related to the Angular CLI cache, you could try removing completely the `.angular` folder and run again. If the issue persists and it's still related to the Angular CLI cache, that's something to ask about in the Angular CLI repo since Nx doesn't create that cache or use it in any way.

[2022-06-10 08:56] Coly010 commented on #10640
No problem, so it was an invalid config value.

I'll close this issue as there isn't much we can do for this, but hopefully, the information in this ticket helps others solve it just as you have! :)

[2022-06-10 08:56] #10640 closed

[2022-06-10 09:11] leosvelperez commented on #10676
Thanks for reporting this!

Could you share the output of running `npm ls @schematics/angular`?

[2022-06-10 09:29] chioarub opened #10678 ""this.tree.readText is not a function" error after updating nrwl/angular to 14.2.4"
After installing "@nrwl/angular": "^14.2.4" I am not able to use the Nx Console or the CLI to generate Angular applications

## Current Behavior
TypeError when generating Angular applications using Cli/NxConsole plugin

## Expected Behavior
Generate Angular applications using Cli/NxConsole plugin

## Steps to Reproduce
1. generate nx workspace using `npx create-nx-workspace test-workspace`
2. inst

[2022-06-10 10:05] zijam opened #10679 "Create Storybook configuration using Typescript"
When generating storybook configuration to use Typescript I get following error

[code]

### Environment

[code]

[2022-06-10 12:30] jaysoo commented on #10642
@NZaleski No, Nx Cloud  isn't needed  for this functionality. I'm taking a look at this today. Seems weird if it's specific to BitBucket since the only thing that matters is the previous git SHA (`HEAD^`) vs current SHA (`HEAD)`.

[2022-06-10 12:48] david-morris commented on #8592
I'd like to try out that addon @mandarini posted next week, I'll try to report back if I get to it.

[2022-06-10 12:49] mlc-mlapis opened #10681 "Migration step "migration-v14" (Updates the Angular CDK to v14) problem"
## Current Behavior
When running the latest migration process (to Nx 14.2.4: `nx migration latest`) the following migration step is also generated:
[code]
Running the `nx migrate --run-migrations` command leads to the following report:
[code]
The problem related to the lines:
[code]
can be solved by adding the line `"tsConfig": "libs/<lib>/tsconfig.lib.json"` into the `test: {options: ...}` sectio

[2022-06-10 13:12] leosvelperez commented on #10681
Thanks for reporting this!

Please note that's just a warning, not an error and it doesn't really affect e2e projects because the migration won't make any changes for them. That migration comes from the `@angular/cdk` package which is not something authored by Nx so we can't make changes to it to accommodate other requirements. Since the Angular CLI doesn't create e2e projects, their migrations do

[2022-06-10 13:12] #10681 closed

[2022-06-10 13:30] mlc-mlapis commented on #10681
@leosvelperez Thank you for your explanation. 👍

[2022-06-10 13:32] barbados-clemens commented on #10660
@jonwalstedt thanks for the diff, it looks like it was when I changed the nxPreset. Looking at your root jest.preset.js it doesn't have the updated version @hevans90

You'll want to add `.default` to the nxPreset import.
[code]

This should have been fixed in v14.1.5 migration for you. You can try rerunning that migration to see if it's added as you're preset is the default so there isn't a reason

[2022-06-10 13:32] #10660 closed

[2022-06-10 13:42] jaysoo commented on #10642
@NZaleski Can you create a repro for this?

I tried it with BitBucket and Vercel, and it seems to be working for me.

https://vercel.com/jackhsu/issue-10642/JBK2beJfbh65z6KGY8WbyMQ7x6La

<img width="1063" alt="Screen Shot 2022-06-10 at 9 41 48 AM" src="https://user-images.githubusercontent.com/53559/173078617-4cc8512b-3f39-44f9-9098-1cb08debf685.png">

Also, I just released a new version of `nx-ig

[2022-06-10 13:44] AgentEnder commented on #10672
Hey @ZNackasha, can you go into more details about your use case? I'd be hesitant to add a `--staged` flag for `nx affected` for a few reasons. They mostly boil down to this one root concern:
- Nx targets run at the **_project_** level, not the **_file_** level, where as `--staged` operates at the file level.

Imagine using this with `test` or `lint`.
- If you have 1 file from the project staged,

[2022-06-10 13:46] #10649 closed

[2022-06-10 14:11] markgoho commented on #10646
@leosvelperez [here is a repo that you can reproduce the issue in](https://github.com/ideacrew/active-branch-tracker):

1. fork the repo
2. open the repo in a GitHub codespace
3. `npm install`
4. `npm run start:app --verbose -- --verbose` (this gives both npm verbose and nx cli verbose)

[2022-06-10 14:17] markgoho opened #10682 "support for ng cache"
## Current Behavior
trying to work with `ng cache` appears totally broken

## Expected Behavior
https://angular.io/cli/cache these commands should work

## Steps to Reproduce
try to run `npx ng cache` see errors

### Failure Logs
[code]

### Environment
[code]

I believe this issue may be related to #10646

[2022-06-10 14:20] jonwalstedt commented on #10660
That did the trick, thanks @barbados-clemens

[2022-06-10 14:39] Coly010 commented on #10678
I can't reproduce this on MacOS with latest. I believe it might be an OS-specific issue for windows.

[2022-06-10 14:39] AgentEnder commented on #10682
Hey there! Compatibility with angular cli's cache is working as expected for Nx, the cache **_cli_** commands on the other hand will not work. This is a side-effect of Nx being the CLI that is ran, not angular cli.

That being said, you can still specify cache options through the cli object as described here: https://angular.io/guide/workspace-config#cache-options

As a note, the `cli` object live

[2022-06-10 14:39] #10682 closed

[2022-06-10 14:46] niklasravnsborg opened #10683 "Run linter from other folder than root"
## Current Behavior

When I run `nx lint myproject` from another folder than the workspace root, I get the following error:

[code]

## Expected Behavior

I would expect to be able to run the linter from any other directory than just root.

[2022-06-10 14:59] Coly010 commented on #10678
Update, I cannot reproduce this on Windows either.

@chioarub  Can you share the version of the Angular CLI that is within your workspace?

[2022-06-10 15:13] xMonkfish commented on #10678
I am also experiencing this error since migrating to 14.2.4 in addition I also get a similar error when trying to create a lazy loaded module

`> Executing task: npx nx generate @schematics/angular:module test --module=app-routing --route=test2 --routing --no-interactive --dry-run <

[NX] Angular devkit readJsonWorkspace fell back to Nx workspaces logic
TypeError: host.readText is not a function

[2022-06-10 15:15] chioarub commented on #10678
There is no Angular CLI installed in the workspace.
It will get installed once I generate the project, which at the moment I cannot do, due to the cli/NxConsole issue.
Output of `npm ls @schematics/angular` is
`-- @nrwl/angular@14.2.4

 -- @schematics/angular@14.0.1`

[2022-06-10 15:28] ndcunningham commented on #8636
Hey, I tried this on master build and I can't seem to reproduce it.

Could you add a small repo illustrating this multiple trailing slash?

[2022-06-10 15:45] wizardnet972 opened #10687 "@nrwl/js:lib generates the package in `libs` folder instead of `packages` in ts preset"
## Current Behavior

`@nrwl/js:lib` generates the package in `libs` folder
## Expected Behavior

`@nrwl/js:lib` should generate the package in `packages` folder because the repo preset is `ts`.

## Steps to Reproduce

[code]

### Environment

[code]

[2022-06-10 16:46] AgentEnder commented on #1230
I'm going to close this one out, since @nrwl/js provides a tsc executor and a serve executor that fulfill its requirements. If anyone has concerns with this, I'd recommend opening a new issue that provides the context of what is not functioning as expected with the new executors.

[2022-06-10 16:46] #1230 closed

[2022-06-10 16:50] #2536 closed

[2022-06-10 16:52] AgentEnder commented on #2670
I'm going to close out this issue since its not requesting any additional functionality, feel free to open new issues for plugin functionality that is desired and it can be evaluated as-needed.

[2022-06-10 16:52] #2670 closed

[2022-06-10 17:01] AgentEnder commented on #3272
I'm going to close out this issue since it's not requesting any additional functionality, feel free to open new issues for plugin functionality that is desired and it can be evaluated as-needed.

Current community plugins exist for Java, .NET, Go, Rust, and a few other non-js technologies and can be found at nx.dev/community

[2022-06-10 17:01] #3272 closed

[2022-06-10 17:02] AgentEnder commented on #2900
I'm going to close this out since there hasn't been any activity on it for a while, the behavior should be fixed in latest Nx. If not, feel free to open a new issue.

[2022-06-10 17:04] AgentEnder commented on #2633
There are no current plans to add ionic as a first-party plugin, but there are existing community plugins.

@nstudio/xplat provides support for both Ionic and NativeScript
@nxtend also provides Ionic support

More can be found on nx.dev/community.

I'm going to close out this issue since it's not requesting any additional functionality, feel free to open new issues for plugin functionality that is

[2022-06-10 17:04] #2633 closed

[2022-06-10 17:11] AgentEnder commented on #4446
I'm going to close this out, the dev-server itself isn't responsible for building the project so it wouldn't make sense for it to handle webpack configs. Instead, the build target which is invoked by the dev-server handles them. Using configurations like mentioned above is the proper way to handle this.

[2022-06-10 17:11] #4446 closed

[2022-06-10 17:14] AgentEnder commented on #5212
This should be fixed now, since this issue is relatively old I'm going to close it out. If you are still experiencing issues, feel free to open a new one.

[2022-06-10 17:14] #5212 closed

[2022-06-10 17:18] AgentEnder commented on #5607
I'm going to close this out since it is a duplicate of #2386. I can't provide any updates as to yarn 2 / pnp support, but it is something that we are aware of.

[2022-06-10 17:18] #5607 closed

[2022-06-10 17:21] AgentEnder commented on #5672
I **_think_** this particular issue has been fixed, since we now create package.json for any folder that receives packages temporarily as it is required to obey .npmrc.

There may still be things broken w/ yarn 2 and pnp, those are tracked via #2386.

I'm going to close this out in favor of that issue. I can't provide any updates as to yarn 2 / pnp support, but it is something that we are aware of

[2022-06-10 17:24] AgentEnder commented on #7208
I'm going to close this feature out, as we have recently discussed the behavior in https://github.com/nrwl/nx/pull/10081 and decided against adding it. From a dev standpoint, `@next/bundle-analyzer` can be added and used by consumers of Nx.

[2022-06-10 17:24] #7208 closed

[2022-06-10 17:24] #5672 closed

[2022-06-10 17:25] #10687 closed

[2022-06-10 18:05] #10442 closed

[2022-06-10 18:11] #10000 closed

[2022-06-10 18:12] #10679 closed

[2022-06-10 18:21] AgentEnder commented on #5718
There's a community plugin that should help with this some: https://github.com/nrwl/nx/pull/9987

Im going to close this out as there hasn't been much activity on it, and we don't have plans to introduce first-party support in our generators.

[2022-06-10 18:21] #5718 closed

[2022-06-10 18:38] ndcunningham commented on #8823
Hey, thanks for opening this issue from what I got you tried to import a lib inside of your nextjs app.
I could not reproduce it

P.S
`@nrwl/node:lib` is now `@nrwl/js:lib` could you try to see if this works with the latest version of master since this ticket is a few revisions behind current?
Please open a new issue if the problem still persist

[2022-06-10 18:38] #8823 closed

[2022-06-10 18:52] anthonyma94 opened #10696 "NextJS build fails without error on Ubuntu"
## Current Behavior
When I run `nx run client:build:production`, the process fails with no errors. The terminal cursor then disappears. The build runs fine on Windows.

## Expected Behavior
I expect the build to run without errors.

## Steps to Reproduce
1. Install nx using `sudo npm install -g yarn nx`.
2. Run `yarn install`.
3. Run `nx run client:build:production`.

I have run this on Ubuntu 22.

[2022-06-10 19:04] AgentEnder commented on #10696
Hey @anthonyma94 , it may be unrelated, but some of your @nrwl/* packages don't line up with the version of `nx` you have installed. Aside from `@nrwl/nx-cloud`, all packages under the nrwl scope should generally be set up with the same version.

Can you correct this and check that the issue still reproduces? An easy way to fix this would be to run `nx migrate {v}`, where `v` is the version of nx

[2022-06-10 19:05] Blackbaud-SteveBrush commented on #7807
I'm on a Mac and was seeing the same error. Turns out, I had Angular 14 CLI installed globally. Installing Angular 13 CLI fixed the problem.

[2022-06-10 19:34] nzaleski-kcd commented on #10642
@jaysoo well, it seems to be working now.  No idea what the problem was.  I have had a lot of moving pieces with migrating to nx.

You `--verbose` flag you added is helpful.  That is what I was trying to see is the affected app on the Vercel build.

Thanks again

[2022-06-10 20:40] andyjessop opened #10698 "no such file or directory, open 'libs/interfaces/package.json'"
I'm getting this error on all of my dependency packages when running my `api` app with `npx nx serve api`.

## Current Behavior

Here's the output of one of the packages (there is a similar output for each of my three dependent packages).

[code]
FTR, `libs/interfaces/package.json` _does_ exist.

Each of the libs was created with `npx nx g @nrwl/js:lib [name]`, and they each have a buildable step

[2022-06-10 21:26] andyjessop commented on #10698
More info here, it looks like a `dist` folder is being created inside my app, so I guess it's looking there for the package.json (not finding it) and also this `dist` folder is not in the package root. It might explain both error messages. Still don't know why it's happening though
![Uploading Screenshot 2022-06-10 at 23.24.02.png…]()
.

[2022-06-10 21:32] andyjessop commented on #10698
Solved now (thanks rubber 🦆 ). In my executor I was changing the working directory: https://github.com/andyjessop/runestone/blob/main/apps/api/project.json#L26

I've now changed this to provide the path in-line, and it works. Cheers!

[2022-06-10 21:32] #10698 closed

[2022-06-10 21:35] juanchavezlive commented on #10659
Same error here

[2022-06-10 21:38] chioarub commented on #10678
Removing node_modules and reinstalling got it working. Issue can be closed.

[2022-06-10 21:38] #10678 closed

[2022-06-10 21:44] juanchavezlive commented on #10659
As mentioned here:
https://github.com/nrwl/nx/issues/10628

Add the missing line "cli": "nx" to every migration that fails seems to solve the problem.

[2022-06-10 22:54] bombillazo opened #10702 "Running command with nx cli repeats outputs"
## Current Behavior
When running some commands via the `nx` shortcuts, the output may be printed multiple times when the cli is on a waiting state or updating a status to the cli.

## Expected Behavior
The command line running the `nx` command acts as a normal cli command.

## Steps to Reproduce
1. Use `nx` to run cli command (in my case it was eas build cli).
<img width="1294" alt="image" src="ht

[2022-06-11 00:57] danielsharvey commented on #10665
Thanks. Will do.

[2022-06-11 04:39] jon9090 opened #10705 "execute package independent without app (such cli package)"
- [ ] I'd be willing to implement this feature ([contributing guide](https://github.com/nrwl/nx/blob/master/CONTRIBUTING.md))

## Description

Currently, nrwl js lib or node lib support build command to build the package.
It would be nice if I can run the package independent, such as cli (with build and watch)

## Motivation

For example I need to create a repo with cli. when I write the code I wa

[2022-06-11 05:10] luxaritas commented on #10705
Maybe you're looking for the [`@nrwl/node:node` executor](https://nx.dev/packages/node/executors/node)?

[2022-06-11 05:21] jon9090 commented on #10705
Yes, it can be my solution. thanks!

[2022-06-11 05:21] #10705 closed

[2022-06-11 05:27] luxaritas commented on #10667
Probably due to 932404303acdec20acd85deca4bed44ee2272077?

[2022-06-11 05:27] AgentEnder commented on #10702
Can you provide a reproduction repo for this so that we can troubleshoot? Thanks!

[2022-06-11 05:28] luxaritas commented on #10641
Probably due to https://github.com/nrwl/nx/commit/932404303acdec20acd85deca4bed44ee2272077?

[2022-06-11 05:30] luxaritas commented on #5570
Opened a PR implementing this functionality - input is welcome: https://github.com/nrwl/nx/pull/10706

[2022-06-11 06:50] dannymcgee commented on #10652
Hi @nartc, I was able to work around my original issue today by using `@nrwl/react`'s library generator, which configures `@nrwl/web:rollup` as the executor, which is able to compile with Babel. (I think it would be nice if `@nrwl/web` had its own library generator, because that was a pretty roundabout way of getting the result I needed, but that would be a feature request for another day. :)) Fro

[2022-06-11 07:07] madipta commented on #10008
still error on 14.2.4

[2022-06-11 10:07] #10674 closed

[2022-06-11 10:15] danr-za commented on #8592
@mandarini should the storybook support `"compiler": "swc"` configuration like apps/libs? If so, that still doesn't seem to work

[2022-06-11 14:51] hevans90 commented on #10660
Thanks a lot @barbados-clemens - worked!

[2022-06-11 15:06] nontangent commented on #9410
Hi, I have same issue and just created PR(https://github.com/nrwl/nx/pull/10707).

If you are in a hurry and want to use nx 12, run `npm i @nx-ddd/executors@3` and use `@nx-ddd/executor:tsc` with `srcRootForCompilationRoot` option.

Or run `nx g @nrwl/js:library executors --buildable --publishable` in your nx workspace and create tec executor like [this](https://github.com/nontangent/nx-ddd/tree/9

[2022-06-11 16:26] parisholley commented on #4656
@nhhockeyplayer i ran into this trying to use latest versions of everything and `"@nrwl/remix": "14.1.7"`. the problem is that devkit is out of date in dependencies and you need to explicitly put latest in your package.json: `"@nrwl/devkit": "14.2.4"`

[2022-06-11 16:53] ElecTreeFrying commented on #10676
Hi, thanks for the reply. Here's the result

[code]

[2022-06-11 16:59] CharlieGreenman commented on #9397
When I came across this issue it had to do with projects being in my nx.json. Removing the entire `projects` object from the `nx.json` solved this issue. The migrate command should ideally remove it for the user depending on the version number.

[2022-06-11 17:01] ElecTreeFrying commented on #10676
This is so weird, after I upgraded from `@angular/cli@7.2.1` to latest (v7.4.1) it seems that I can create components now.

[2022-06-11 17:01] #10676 closed

[2022-06-11 18:18] adamgen commented on #3144
@mend3 Unfortunately, it's not working with a test target.

And the link to the nx website is broken...

[2022-06-11 19:50] gkamperis opened #10711 "Docs: mfe tutorial does not work with version 14.2.4"
Hello

Following the steps of the below

https://nx.dev/module-federation/dynamic-module-federation-with-angular

after login the navigation fails and the component is not shown

`nx serve dashboard --devRemotes=login`

with error

![image](https://user-images.githubusercontent.com/18055519/173205700-1d59b725-b42d-4516-b4cb-a8a9c95fceda.png)

Thanks

EDIT: 14.1.9 + ng v13 has the same result

###

[2022-06-12 00:23] #3605 closed

[2022-06-12 02:26] bombillazo commented on #10702
Sure, here you go: https://github.com/bombillazo/nx-cli-bug

Running the command `nx eas-android` from the root and continue the prompt instructions. During the package upload and other steps, the command line starts repeating outputs making the output unreadable.

[2022-06-12 03:13] semoonpark opened #10713 "Build failed in aws codebuild"
## Current Behavior

Hello, currently, my project's build is failed in aws codebuild.
and the logs are below.

[code]

It was built correctly until last Wednesday.
Really don't know the reason why.

nx version: 13.10.2

[code]

## Expected Behavior

## Steps to Reproduce

This issue may not be prioritized if details are not provided to help us reproduce the issue.

### Failure Logs

### Environmen

[2022-06-12 07:17] wizardnet972 opened #10714 "The deps packages are not rebuild in ts preset"
## Current Behavior

I created  `core` and `foo` buildable packages in nx repo with `ts` preset.

`foo` package is using `core` package by import the `core` function:  `import { core } from '@packages/core';`.

Those packages are not executable by default. I add node executor to `foo` because I want to publish foo as binary to npm. so this package should run globally:

[code]
The problem is when n

[2022-06-12 09:44] Keith-Hon commented on #1777
Nextjs has an experimental feature called Output File Tracing

https://nextjs.org/docs/advanced-features/output-file-tracing

which might be able to solve this issue? It creates a new package.json after the build process. And I managed to reduce the bundled docker image size with this.

It will be great if it's can done be automatically for the other applications as well inside the NX workspace.

[2022-06-12 19:25] dev-sampsonorson commented on #88
You can share assets between libraries when you when the library consuming the asset library is type `@nrwl/workspace`, meaning generated with `nx g @nrwl/workspace:lib ...`

[2022-06-13 03:18] dereekb commented on #10117
I've just about finished my manual migration and other cleanup. The biggest thing I was running into is documented here.

https://github.com/thymikee/jest-preset-angular/issues/1625

I had to work on [setting up my resolver](https://github.com/dereekb/dbx-components/pull/12/files#diff-af33cb687b3bdd547590c1e24531fd6e3d41d4d6cbe4755a7053611dc1e1766e) to remove object properties from the parsed pack

[2022-06-13 03:23] Keith-Hon commented on #6840
It happened to me and I found out that the missing module is not added to the root package.json. I cleaned the node_modules and reinstall all the dependencies and it's working now.

[2022-06-13 04:13] makhataibar opened #10716 "After migrate to 14.2.4 can't build/serve"
## Current Behavior

## Expected Behavior

## Steps to Reproduce

This issue may not be prioritized if details are not provided to help us reproduce the issue.

### Failure Logs
<img width="1301" alt="Снимок экрана 2022-06-13 в 10 11 36" src="https://user-images.githubusercontent.com/27006656/173278213-c2600415-c077-4600-9537-865429525d82.png">
### Environment

   Node : 16.14.1
   OS   : darwin a

[2022-06-13 04:39] chriscurnow opened #10717 "Cannot migrate to latest from 14.1.7"
Sorry some of the error messages have scrolled off my terminal transcript so I have to rely on memory for the exact messasges.

## Current Behavior
Run npx nx migrate latest
Error: `can't find '/migrations/`

Created `migrations` directory and moved current `migrations.json` to this directory
There was another error at this point.

I ended up migrating to `14.2.2` first and then to latest. That wo

[2022-06-13 05:18] makhataibar commented on #10716
just update next to latest version (12.1.6) and solved

[2022-06-13 05:18] #10716 closed

[2022-06-13 05:27] npwork commented on #6840
In my case there were 2 problem:

1. I had my `peerDependencies` so I moved them to `dependency` and it worked like charm

2. One of my dependencies itself had `peerDependencies`

Example:
My `package.json`
<img width="444" alt="Screen Shot 2022-06-13 at 8 23 05 AM" src="https://user-images.githubusercontent.com/1792720/173285308-b7ad6620-4190-4de7-8b79-7c7490414ee1.png">

`@celo-tools/celo-ethers

[2022-06-13 08:38] nhhockeyplayer commented on #9168
this is still happening on fresh project generations

all executors are in order

[code]

[2022-06-13 09:50] #10449 closed

[2022-06-13 09:56] umyomyomyon commented on #9140
I had same error and resolved by write `import '@testing-library/jest-dom';` in `.test.tsx`file.

[2022-06-13 11:38] mehrad-rafigh commented on #10125
@AgentEnder it would be great if we could get this merged. Can you please check the PR please? Our team really needs it :) Thanks

[2022-06-13 12:03] Coly010 commented on #9721
Hey @joaorodr84

Can you try this again with the latest version of Nx?

`nx migrate latest` or `npx create-nx-workspace@latest`

I think this could be fixed 🙂

[2022-06-13 12:28] isaacplmann commented on #3144
Try this link:
https://nx.dev/packages/node/executors/node

[2022-06-13 13:27] ndcunningham commented on #10322
Hey! Thanks for reporting this if this is still an issue please feel free to open a new ticket.

[2022-06-13 13:27] #10322 closed

[2022-06-13 13:35] anthonyma94 commented on #10696
Hey @AgentEnder, sorry for the late reply. I'm trying to do `nx migrate 13.9.7`, but it keeps throwing the following error:

[code]

I've double-checked the tmp folder, typescript indeed does not exist in there. However it exists in the project node_modules, and in package.json:

[code]

I've also checked that all relevant folders are owned by me.

[2022-06-13 13:51] dean-g opened #10719 "Some of my unit test case fail with an upgrade when I rebase the upgrade changes (NX Running target "test" failed)"
[code]

The failed jobs never attempted to run and simply fails. it's happening only on the GitLab pipelines!.

Can someone please advise on this?

[2022-06-13 14:57] NatalyaAlferina commented on #2963
same issue "@nrwl/angular": "14.2.4",  "cypress": "^10.1.0",

[2022-06-13 15:17] bombillazo commented on #88
Thanks, I meant how does one share assets such as images (.png, .jpg, .gif, etc), videos (.mp4, .mov), audio (.mp3, .wav), etc

[2022-06-13 15:18] jrista commented on #9761
Thanks for the tip, @ericwooley! Never knew about the `--package-lock-only` option.

[2022-06-13 15:47] nwatrailhub opened #10721 "Browser application bundles will not generate after update"
## Current Behavior

After upgrading from @nrwl/angular 13.x.x to @nrwl/angular 14.2.4 using nx migrate latest

`nx serve <project> --devRemotes=<remote-project>` generates the following output and hangs `⠋ Generating browser application bundles (phase: setup)...⠋ Generating browser application bundles (phase: setup)...`

Adding the --verbose flag generates no additional output

## Expected Behavi

[2022-06-13 16:41] jaysoo commented on #10642
Great! I'll close this issue then. Re-open if you run into further issues.

[2022-06-13 16:41] #10642 closed

[2022-06-13 18:02] jonathanmorley opened #10724 "Projects in directories that start with a dot ('.') are not found"
## Current Behavior
Use `nx` with project auto-detection, and a `.foo/package.json` file. The project does not show up as an NX project

## Expected Behavior
The project should show up in `nx graph`

## Steps to Reproduce
See 'Current Behavior' above

### Failure Logs

### Environment

   Node : 16.13.1
   OS   : darwin x64
   pnpm : 6.27.1

   nx : 14.1.8
   @nrwl/angular : Not Found
   @nrwl/cyp

[2022-06-13 18:03] iKrishnaSahu opened #10725 "convertNxGenerator is throwing "Cannot read property 'engine' of undefined""
[convertNxGenerator](https://github.com/nrwl/nx/blob/5b17335f4ddffc6ad9f05cced5f7c41fd2e18875/packages/devkit/src/utils/invoke-nx-generator.ts#L42) is throwing `Cannot read property 'engine' of undefined`

## Current Behavior

Getting "Cannot read property 'engine' of undefined" while executing custom schematic

## Steps to Reproduce

1. Download following schematic project - [my-app-convertNxGene

[2022-06-13 18:04] jonathanmorley commented on #10724
This usage of `fast-glob` (https://github.com/nrwl/nx/blob/master/packages/nx/src/config/workspaces.ts#L584-L588) does not specify the `dot` option, which means it defaults to `false` (see https://www.npmjs.com/package/fast-glob#user-content-dot).

[2022-06-13 18:06] jonathanmorley commented on #10724
Example use-case for needing dot-prefixed directories (pre-empting the question):
We have a monorepo containing github actions, and github actions workflows for use across the organization. It is useful to be able to model these as nx projects.
Github actions workflows must live in a .github/workflows directory, but nx will not recognise package.jsons in the .github directory

[2022-06-13 18:09] AgentEnder commented on #10724
Yeah, that makes sense 👍. Want to open a PR to add it?

[2022-06-13 19:05] realityfilter commented on #1541
There is another one: https://nxext.dev vue support via vite.

[2022-06-13 19:23] JulienMichelFr commented on #10659
Same error here when trying to update from nx 14.1.9.

I tried to use the trick above, but it fails on migrations from `@angular/material` and `@angular/cdk`.

Error when running `nx migrate --run-migrations`

[code]

I have the issue come from these migrations:
[code]

When I add the `"cli": "nx"` on these two migrations, I get this error:

[code]

---

Nx report:

[code]

[2022-06-13 21:37] Ontic-Entity commented on #10010
Having the same problem, migrated to latest (14) and not certain if I have lost/missed something along the migration trail.

[2022-06-14 02:19] leandrocrs commented on #9397
In my case, I had installed a version of `@nrwl/node` newer than the version of the rest of `@nrwl/` packages.
Making sure that all the packages from `@nrwl` were in the same version solved to me.

[2022-06-14 07:01] chriscurnow commented on #10717
This is obviously not a high-priority issue.
I just wanted to let you know about it for future migration scripts:)

[2022-06-14 07:30] ciriousjoker commented on #5539
Any updates?

[2022-06-14 07:31] bublinec commented on #8699
Same issue here. No idea what's wrong

[2022-06-14 08:03] npwork commented on #8155
We are facing the same issue.
The only ugly workaround so far is to write a script that adds `resolutions` to final package.json after generation

[2022-06-14 08:04] npwork commented on #8155
Btw, this issue is not related to react so you can remove `scope:react`

[2022-06-14 08:12] gregoiremotot commented on #7839
`nx migrate 12.1` worked for me

[2022-06-14 08:34] chriscurnow opened #10729 "nx g c – InvalidInputOptions [Error]: Schematic input does not validate against the Schema"
## Current Behavior
Run `nx g c ...`
with `@nrwl/angular:component`

returns error message

`InvalidInputOptions [Error]: Schematic input does not validate against the Schema: ``{"style":"scss","project":"admin","name":"libs/shared/feature-head-contractor/src/lib/company-list-container","displayBlock":false,"inlineStyle":false,"inlineTemplate":false,"standalone":false,"changeDetection":"Default","

[2022-06-14 08:43] Coly010 commented on #10711
The error in the console is known and a non-issue. You can read more about that explanation here: https://github.com/nrwl/nx/issues/8137#issuecomment-996576398

I'll update the docs to include that.

[2022-06-14 08:44] B1Z1 opened #10730 "No cached ProjectGraph is available"
Hi, we started to use nx in our application. Currently, we have moved 280 modules to buildable libraries.

## Current Behavior
Sometimes build fails because of an error. Mainly it happens when some of our developers switch between branches, but also when we trying to build an application after yarn nx clear-cache command. It also fails on random libraries, sometimes on one library, sometimes on se

[2022-06-14 08:49] gkamperis commented on #10711
Thanks for the quick response.

However the navigation does not work once I log in. I can see the message saying I can see the content but nothing is shown. The nx-welcome component is not displayed.

[2022-06-14 09:33] #10711 closed

[2022-06-14 09:36] mandarini commented on #10313
Hi there @mattgek ! I will go ahead and close this, because I cannot reproduce in any way. If you manage to create a reproduction, with the latest version of Nx, please feel free to reopen this! :)

[2022-06-14 09:36] #10313 closed

[2022-06-14 09:48] mandarini commented on #9123
Hi all! I am going to close this issue, since it has a workaround, and it's a third-party issue, not controlled by us. If you think it makes sense, we can re-open this in the future!

[2022-06-14 09:48] #9123 closed

[2022-06-14 10:16] JeremieLapert opened #10733 "MFE Angular application doesn't work after update to nx 14.x.x"
## Current Behavior
The command ` nx run-many --target=build --all ` failed since NX update to 14.x.x (MFE application)

## Expected Behavior
build and run MFE application

## Steps to Reproduce
` nx run-many --target=build --all `

### Failure Logs
`
  ✖  nx run refclearing:build:production
✔ Browser application bundle generation complete.

       Error: apps/refclearing/src/app/app.module.ts:57:

[2022-06-14 11:14] gilian-rockstars commented on #10729
It seems like the error I'm getting when migrating from 14.1.9 to 14.3.1:

[code]

Could this be related?

[2022-06-14 11:27] leosvelperez commented on #10725
Thanks for reporting this!

The issue is happening due to trying to run an Angular CLI schematic as an Nx generator. This is happening because:

- The collection exposes a schematic with a factory pointing to an Angular CLI schematic (the converted generator `compat.ts`)
- The `schema.json` of the schematic has `"cli": "nx"`, which tells Nx that it should run it as an Nx DevKit generator and not a

[2022-06-14 11:27] #10725 closed

[2022-06-14 12:28] leosvelperez commented on #10339
I'm going to close this since there's no apparent issue on Nx causing this issue. Please feel free to reopen or leave a comment if you still think there's something for us to look at.

[2022-06-14 12:28] #10339 closed

[2022-06-14 12:37] leosvelperez commented on #10646
@markgoho thanks for providing the reproduction. Unfortunately, following the steps outlined above didn't error. I got the application running successfully:

![image](https://user-images.githubusercontent.com/12051310/173578662-79d7bf71-3c2b-413c-88f0-fcf9dfd4bd42.png)

I tried both running it in a Github codespace and locally and it works correctly both ways.

[2022-06-14 13:34] MoiseScalzo commented on #9719
@jaysoo pls check the documentation about custom environment variables:
https://nx.dev/guides/environment-variables#using-environment-variables-in-angular-applications

the suggested changes about webpack, cause the warning.
I temporarily fixed changing from this:

[code]

to this:

[code]

[2022-06-14 13:35] 051181 opened #10737 "Storybook live reloading does not catch compilation errors"
## Current Behavior
When introducing a typescript error storybook live server does not catch the error and webpack compilation is fine

## Expected Behavior
I espect that webpack will fail if an error is thrown

## Steps to Reproduce
create an empty angular workspace, add a library and a component, add storybook to that library, start storybook, type whatever inside your component and then save

#

[2022-06-14 13:36] markgoho commented on #10646
thanks @leosvelperez I ended up doing something a little wild -- I created this workspace back in 2020, which is a handful of major versions ago. A new nx-14 workspace had no problem serving, and so I wondered what the diff was between a migrated-to-14 workspace and a fresh v14 workspace.

I went through and recreated the workspace from scratch, and then re-added all my libs and copied over compon

[2022-06-14 13:37] jaysoo commented on #10696
Are you able to `nx migrate latest`?

Is this repo publicly available? Does it work on other OS, like on a Mac?

[2022-06-14 13:48] leosvelperez commented on #10646
Oh, I see, that explains why I couldn't reproduce it, you have already fixed it. Some things might have been lost between migrations. The v1 `angular.json` is expected, we don't automatically migrate that just yet. So that's a difference to expect and it shouldn't cause any issues.

I'm glad you were able to solve the issue.

[2022-06-14 13:52] jaysoo commented on #3199
Sorry for the lack of updates.  We need to rethink the custom server implementation.

As pointed out, it is only running the dev server through the custom server. We may need a migration to move it from  `@nrwl/next:server` to `@nrwl/next:build` since it is a build concern.

We'll have something soon, so stay tuned.

[2022-06-14 13:52] #10646 closed

[2022-06-14 14:21] AgentEnder commented on #10730
Hey @B1Z1, it may be unrelated, but some of your @nrwl/* packages don't line up with the version of `nx` you have installed. Aside from `@nrwl/nx-cloud`, all packages under the nrwl scope should generally be set up with the same version.

Can you correct this and check that the issue still reproduces? An easy way to fix this would be to run `nx migrate {v}`, where `v` is the version of nx you have

[2022-06-14 14:26] AgentEnder commented on #8887
Hey! I think this should work out-of-the-box if swapped over to using the local-plugin functionality introduced in 13.10 (#9116).

In the future, we are planning to migrate existing workspace generators + schematics into a local workspace plugin and retire the current `workspace-generator` command.

Can you try moving the generators into a plugin? I think it should solve your issue without introdu

[2022-06-14 14:28] B1Z1 commented on #10730
Hi @AgentEnder, I think it doesn't matter, because:
1) It's only jest and eslint, I think they cannot interrupt into the process
2) Before we had 13.8.5 version of every package and we still got it
3) I have a commit which updates nx to version 14.1.9 and it's still doesn't work :D

[2022-06-14 14:29] barbados-clemens commented on #10719
can you provide a repo I can look at to see what happened?

[2022-06-14 14:31] leosvelperez commented on #10729
Thanks for reporting this!

@chriscurnow it would seem there might be some hoisting issues with the installed npm packages or some wrong versions installed. Could you share the output of `npm ls @schematics/angular` and `npm ls @angular-devkit/core`? Or better yet, could you provide a repo we can use to troubleshoot the issue?

@gilian-rockstars your issue happens because you have some script valu

[2022-06-14 14:33] barbados-clemens commented on #10719
only real change to jest has been how the default preset has to be imported. which is by default in your root jest.preset.js file, but you could be using it in other places. the v14.1.5 migration should have taken care of this for you.
also, the output from running `nx report` would be a helpful place to start for debugging.

[code]

[2022-06-14 14:34] AgentEnder commented on #10730
For clarity, the actual packages that are out of sync don't matter necessarily. Different versions of packages interact differently, so its definitely recommended to keep them in line and use `nx migrate` to update them, which should keep them in sync.

If you've already checked with everything lined up on 13.8.5 and 14.1.9, then that is what matters in this context.

Can you try to create a repro

[2022-06-14 14:49] mandarini commented on #10737
Hi there @051181 ! Thanks for filing an issue! I think that this is not an issue with Nx, but rather an issue with Storybook. The reason I believe that, is that [Nx is now using the native Storybook executors](https://nx.dev/storybook/extra-topics-for-angular-projects), so there's basically no "middleperson" between your code and Storybook any more.

In any case, you can verify this by trying out

[2022-06-14 14:50] dean-g commented on #10719
Thanks, @barbados-clemens for looking into this issue!

Sorry, I can't share the repo. it's private.

And, Yeah. migration command took care of it. still running into this issue while running affected:test in my gitlab pipeline.

Can you please advise if anything changed on affected:test that cause the "The service is no longer running" issue?

[2022-06-14 15:33] florent1933 commented on #10729
On my side
[code]

[code]

[code]

[2022-06-14 15:36] ArticosDev opened #10738 "NX Dynamic Federation Module is not working on Docker"
## Current Behavior

Following the documentation present on this link:
https://nx.dev/module-federation/dynamic-module-federation-with-angular

I followed the steps present there:

### step 1 is create a project with static module federation, the result is:

- It works perfectly locally
- After execute the docker-compose.yml file of the project, this works perfectly on docker.

### step 2 is updat

[2022-06-14 15:38] leosvelperez commented on #10729
@florent1933 could you check the version of the installed `@schematics/angular` in the top-level `node_modules`?

If you or someone else on this thread can provide a reproduction would allow me to better troubleshoot the issue.

[2022-06-14 16:14] florent1933 commented on #10729
The installed version of "@schematics/angular" is "version": "13.3.7".

Thanks for your time. Not sure to have the time to provide a reproduction. I will do my best.

[2022-06-14 16:17] jaysoo commented on #7203
The problem with `next-transpile-module` is that it breaks Nx's webpack configuration.

The workaround for now is to apply `withNx` first, then `withTM`. It's a bit counter intuitive, but calling `withTM` after `withNX` applies their webpack config _before_ Nx's.

Since both `withTM` and `withNx` modify similar webpack loaders, the former causes issues when used with Nx.

---

**TL;DR:** Your `nex

[2022-06-14 16:20] CharlieGreenman commented on #3179
I had this issue... make sure you `nx` installed in your `devDependencies`. I removed nx when the cli told me that nrwl/workspace is now used in place of nx during nx migrate. Once i added nx to my devDependencies, this error went away

[2022-06-14 16:26] dellwatson commented on #8355
I also encounter same things, just exactly copying from my last project but not working either,
so i delete next.js cache, yarn.lock, modules, and install all of them again, and it's back to work

[2022-06-14 17:10] leosvelperez commented on #10729
That right there is the issue though. You should have `@schematics/angular` on version v14.x.x. That's why the `standalone` flag is not allowed, because it was introduced for v14. You could try deleting your lock file and `node_modules` and reinstall the packages to see if the hoisting changes. If that doesn't work, you could make sure to add the `@schematics/angular` to your `devDependencies` wit

[2022-06-14 17:10] its-ratikant opened #10740 "Issue while installing npm packages"
why I am getting this error?

node v16.15.1
npm v8.11.0

"nx": "14.3.1",

[code]

[2022-06-14 17:40] radulle opened #10741 "Rollup package issues after (#10349)"
Introduced after feat(web): add support for Node ESM when used to package SSR-ready library (#10349)

## Current Behavior
New feature causes issues in tolling that does not support `type: module` and `exports`. CSS can't be imported via @import in other CSS files and import in JS/TS and missing react/jsx-runtime error is getting thrown. If I remove `type: module` and `exports` it does work. CSS im

[2022-06-14 19:09] gkamperis commented on #10711
@Coly010 you closed the issue but the erroneous end result still remains.

If the attached reported error is not causing the issue then something else is.

The example still does not work even after your commit.
Can you pls reopen and check the issue out or should I raise another issue?

[2022-06-14 19:17] gperdomor commented on #8279
Same here with 14.1.7

[2022-06-14 19:26] ArticosDev commented on #10738
Hello NX team,

We did a fix on this for our project, we remove the "module-federation.config.json" file from our **main.ts** file in the host project and the JSON.parse funtion, so now it is working in Docker, the code of the main.ts file end up like this:

[code]

in this case "**http://www.MyAPI-URL.com**" represent a custom API that retrieve a Json object.

You can close this issue, thanks.

[2022-06-14 19:26] #10738 closed

[2022-06-14 19:33] gkamperis commented on #10711
@Coly010 many thanks... after your last response I checked and indeed it is not supposed to be shown!

To clarify after scaffolding and adding the routes per post I have the below setup in the dashboard app.

[code]

so I assumed this
[code]
would show it but it seems the post's template only has an outlet when **not** logged in.
[code]

So for it to show I need to add an outlet or rework the temp

[2022-06-14 20:34] barbados-clemens commented on #10719
can you make a minimal reproducible that you can share?
what does you jest configs look like?
what does you jest presets look like?
what does `nx report` say?
what project type does this happen in? is it react/angular?

esbuild-wasm isn't a dep for jest, so I'm not sure why you see that in the stacktrace. I need some more info and context to be of any help.

[2022-06-14 20:40] yharaskrik commented on #10719
`jest-preset-angular` uses `esbuild` to process `.mjs` files to work with jest and commonjs

[2022-06-14 20:41] yharaskrik commented on #10719
Running Angular tests with jest-preset-angular (uses esbuild)
[code]

[2022-06-14 21:03] barbados-clemens commented on #10719
@yharaskrik can you share you jest configs/preset?

[2022-06-14 21:59] gperdomor commented on #8279
Also from version 14.1.8 or greater, the build output change to only one index.js and projects that use the publishable lib stop working.
<img width="188" alt="Screen Shot 2022-06-14 at 5 56 10 PM" src="https://user-images.githubusercontent.com/371939/173696073-17be13c3-90e7-4637-aace-0e7e50b842ce.png">

[2022-06-14 22:01] gperdomor commented on #8279
@FrozenPandaz @AgentEnder any know reason for this? :( how can i help?

[2022-06-15 00:37] marcuiulian13 commented on #3605
To add to the solution suggested by @Shaglock:

1. Create a `setupTests.ts` file in the root of the monorepo with whatever is required for you - testing library, fetch mock, etc.

2. Add the following to `/jest.preset.ts`:
[code]

3. Add the following to each app/library's `tsconfig.spec.json`'s `include` array:
[code]

This will get you the desired result.

[2022-06-15 04:41] its-ratikant commented on #10740
After migrating to
"nx": "14.3.2",
[code]

[2022-06-15 04:54] its-ratikant opened #10746 "Angular pwa installations fails"
npm install @angular/pwa --save-dev
nx g @angular/pwa:ng-add --project=<project-name>

"nx": "14.3.1",

[code]

[2022-06-15 05:32] damien-marest commented on #9863
Hi @Coly010

I created an clean mfe monorepo from scratch with Nx `14.3.2`
I have nearly the same issue  when I try to add some `@angular/material` components in my template.

I have this error in console only when two remote apps at leat are hosted in my mfe
[code]

[2022-06-15 05:40] normtronics commented on #4508
@FrozenPandaz Any update on this?

[2022-06-15 05:42] normtronics commented on #3664
@FrozenPandaz Any update on this?

[2022-06-15 05:58] normtronics commented on #3106
@FrozenPandaz Any updates on this?

[2022-06-15 05:59] YonatanKra opened #10747 "Generating a publishable web library isn't working"
## Current Behavior
Running `npx nx g @nrwl/web:lib my-lib --publishable --importPath=@org/path` results in a non publishable library.

## Expected Behavior
I'd expect it to generate a publishable library.

## Steps to Reproduce
- Create a new workspace
- Install @nrwl/web
- Create a publishable web library

### Failure Logs
No failure. It just creates a non publishable library:
<img width="474" a

[2022-06-15 06:42] 051181 commented on #10737
hi @mandarini, you are absolutely right! i will close this issue and i will open another inside the storybook project.
Thanks

[2022-06-15 06:42] #10737 closed

[2022-06-15 07:01] mandarini commented on #10737
Ohhh cool!!! I mean, not cool that there's a bug, but cool that now the experience we offer is native! :) Thanks @051181 !

[2022-06-15 07:03] mandarini commented on #10619
I see. I will check this out later today or on Friday. I tend to think that this is not a Nx issue, but rather a Storybook issue. In any case, I will look into it.

[2022-06-15 07:08] mandarini commented on #9933
Hi there @amayer42 !

So, I had a chat with my colleagues, and I looked into it as well. Turns out this seems to be a vs-code issue, and not a Nx issue.

Here are some things that were pointed out to me:
* In Webstorm you can manually specify which configs the editor hints come from for tsconfig and eslint
* There's nothing similar for vscode because it uses the typescript lsp. It's basically find

[2022-06-15 07:08] #9933 closed

[2022-06-15 07:13] mandarini commented on #9045
@pvds hey! Can you retry with latest version of Nx? I have a feeling that this is now fixed! :)

[2022-06-15 07:47] mandarini commented on #10619
Hi there @hayawata3626 ! It turns out maybe you forgot to push the last commit(s)? I don't see any stories or storybook set up for your repro!

[2022-06-15 07:55] hayawata3626 commented on #10619
@mandarini
Thanks for getting back to me!
Sorry. I just pushed it!

[2022-06-15 08:43] GrumpyMeow opened #10748 ""Invalid Access Token" after reboot of Azure Container Instance (private NX-Cloud)"
## Current Behavior
This morning i had to reboot our private NX-cloud container instance, as it didn't respond any more. After this the token is no longer valid and have to run `NRWL_API=http://xxxxx.xxxx.azurecontainer.io:8081 nx g @nrwl/nx-cloud:init` to re-initialize the container. I then lost the run-history and have to update the token in our repository.
I don't expect this to be as intended.

[2022-06-15 09:21] leosvelperez commented on #10721
Thanks for reporting this!

Unfortunately, I'm unable to reproduce the issue with the information provided. Without a reproduction would be hard for us to troubleshoot this. You mentioned you can't provide the project because it's internal, but you could try creating a reproduction.

[2022-06-15 09:25] LyteFM commented on #805
What works well for me without creating any config files and not just for jest tests:

1. Open a VSCode debug terminal: F1 -> "Debug: Javascript Debug Terminal"
2. Inside the terminal, execute whatever test you want to debug, e.g. `nx test my-lib`

[2022-06-15 09:40] gilian-rockstars commented on #10729
Thanks :)

[2022-06-15 09:50] leosvelperez commented on #10733
Thanks for reporting this!

This is a Typescript issue. Adding the type to the module (`m: { RemoteEntryModule: RemoteEntryModule }`) makes the TS compiler error due to type incompatibility:

[code]

By removing the typing the error goes away and you still have type inference to get the module name. This started to happen now because TS was updated to v4.7.0 which is a bit more strict.

[2022-06-15 10:18] jonhamm commented on #8887
I will try building a local plugin - may take some days before I get around to it thoug :-)

[2022-06-15 11:34] KatzeMitHut commented on #8060
I am confused, because I face a similar problem within our application with nx 14.1.7.

A package.json with these nrwl versions
[code]
leads to the following package-lock.json after instaling
[code]
I would expect jasmine-marbles to be at least version 0.9.1 here after the change in the linked PR. Is this another bug or am I missing something?

[2022-06-15 11:58] dolphinigle opened #10750 "The new required `__unparsed__` parameter for `run-commands` executor breaks existing libraries."
## Current Behavior

Very recently in nx v14.3.0, [this commit](https://github.com/nrwl/nx/commit/5c49345c34975fcb6c32c47ec233a28d0154a17f) adds a new required parameter to the `run-commands` workspace executor: `__unparsed__`. This breaks some features in the [nxtend](https://github.com/nxtend-team/nxtend) library, because they are calling the `run-commands` workspace executor without the new req

[2022-06-15 12:13] raphaelboukara opened #10751 "A third way to exclude files during affected command"
### Documentation issue

- [ ] Reporting a typo
- [ ] Reporting a documentation bug
- [ ] Documentation improvement
- [x] Documentation feedback

### Is there a specific documentation page you are reporting?

https://nx.dev/using-nx/affected#ignoring-files-from-affected-commands

### Additional context or description

In this section, we explain that there is 2 ways to exclude files during affecte

[2022-06-15 14:00] dean-g opened #10752 "Storybook build fails with the nrwl/angular 14 upgrade"
[code]
package versions:

[code]

Can someone please advise on this?

[2022-06-15 14:14] mandarini commented on #10752
Hi there @dean-g ! Thanks for filing an issue! I think that this is not an issue with Nx, but rather an issue with Storybook. The reason I believe that, is that [Nx is now using the native Storybook executors](https://nx.dev/storybook/extra-topics-for-angular-projects), so there's basically no "middleperson" between your code and Storybook any more.

If you look at the [documentation](https://stor

[2022-06-15 14:14] #10752 closed

[2022-06-15 14:44] #10741 closed

[2022-06-15 14:53] jaysoo commented on #10741
In the next release, Nx will not generated `exports` field by default, and users need to opt-in via `generateExportsField`. This patch should fix issues where entry points are broken with `exports`.

[2022-06-15 15:40] sekarcrazy commented on #3069
So the only solution I found was to not export the components from index.js rather import them like import componentName from components/componentName/componentName.tsx

 @asit-prakash  After I added in tsConfig.base.json file, Getting an error that, component is not exported.
Should I change any other config in libs/shared

[2022-06-15 15:47] #10750 closed

[2022-06-15 16:17] DG-SHeather opened #10756 "Parallel and MaxParallel nx.json tasksRunnnerOptions are Ignored in Nx 12.8.0 to 12.10.1"
## Current Behavior

In Nx version `12.8.0` to `12.10.1`, adding `options.parallel` or `options.maxParallel` to `tasksRunnerOptions.default` in `nx.json` is ignored when running `nx affected` or `nx run-many` and the settings default to `false` and `3` respectively.

## Expected Behavior

Adding these options should set these properties as default. This works correctly in versions `12.7.2` and bel

[2022-06-15 16:19] its-ratikant commented on #10746
I am using

node v16.15.1
npm v8.11.0

Could it be a problem?

I ran below commands:

[code]

[code]

[2022-06-15 16:33] leosvelperez commented on #10746
Thanks for the info! I found what's causing it and I'll push a fix for it. In the meantime, if you want to unblock yourself, please add `"cli": {}` to your `nx.json`.

[2022-06-15 16:59] Genesys-AlexW commented on #10563
Any updates on this?

[2022-06-15 17:26] #10746 closed

[2022-06-15 17:55] Chowarmaan opened #10759 "TypeError: Cannot convert undefined or null to object - Adding @angular/material:ng-add to application"
## Current Behavior

I am trying to add Angular Material to a new Angular application in a NX workspace.  During the `nx generate @angular/material:ng-add` or `nx generate @angular/material:ng-add-setup-project`, there is a `TypeError: Cannot convert undefined or null to object` returned.

## Expected Behavior

This did work in previous versions (nx 13.x) for me, but not with the current 14.3.1 ve

[2022-06-15 18:38] DesertFoxNV commented on #10260
@e-oz I am seeing this as well. Did you find your solution in an angular issue? Or just come up with it on your own?

[2022-06-15 19:46] ajwootto commented on #4620
We are also running into this issue. The use case we have is that we distribute several packages which have some shared code. That code is extracted into a shared lib, and we want to be able to bundle that code into each published lib rather than maintaining a bunch of separate published libs for each of these shared bits of code.

To me this seems similar in philosophy to how an `application` is

[2022-06-15 20:37] nhhockeyplayer opened #10761 "--skip-ts-config not removing path"
SUBJECT: --skip-ts-config not removing path

## Current Behavior
ts-config.json paths left lingering after library removal preventing fluidity

## Expected Behavior
ts-config.json paths should be updated

## Steps to Reproduce
node node_modules/@nrwl/cli/bin/nx.js generate @nrwl/angular:library --name=sass --directory=shared/core --publishable --buildable --prefix=shared-core-sass --skipFormat --a

[2022-06-15 20:39] nhhockeyplayer commented on #10761
[code]

[2022-06-15 20:44] nhhockeyplayer commented on #10761
likewise...
if one pre-emptively deletes the path before performing the actual delete command, the library gets locked up
nx cannot identify its existence either way

- cannot delete forever

no `.angular/cache` was operated (removed)

[2022-06-15 20:48] nhhockeyplayer commented on #10761
the Workaround for lockup is as follows

`manually remove the library path from tsconfig.json`

`node node_modules/@nrwl/cli/bin/nx.js generate @nrwl/angular:library --name=sass --directory=shared/core --publishable --buildable --prefix=shared-core-sass --skipFormat --addModuleSpec --routing --lazy --parentModule=apps/admin/src/app/app.module.ts --tags='domain:shared,scope:core,platform:web,type:s

[2022-06-15 22:32] Rofer11607 opened #10764 "Cannot find module 'nx/src/config/configuration'"
## Current Behavior

I am trying to build a typescript library in my mono repo called 'crm-sdk', it fails to build with the below error

when I try an build nx build <project name> it shows the following error:

Cannot find module 'nx/src/config/configuration'
Require stack:
- /Users/goose/Documents/programming/monster/node_modules/@nrwl/js/node_modules/@nrwl/devkit/index.js
- /Users/goose/Documen

[2022-06-15 22:35] IXC28 commented on #7739
lograste solucionar este error ?

[2022-06-16 00:21] #6370 closed

[2022-06-16 01:06] chriscurnow commented on #10729
@leosvelperez I have just invited you to have read access to our repo. I think the issue occurs in the main branch. If not, it certainly does in the feature/NX-116 branch.

[2022-06-16 01:18] StalkAltan commented on #7983
Hi @mikestecker, apologies for the delay.

Can you send the output of `nx report` and the contents of your `nx.json` file, excluding your Nx Cloud access token and anything else that might need to stay private?

[2022-06-16 02:34] jdecastroc commented on #9617
I can reproduce on latest NX 14 version as well

Node: 16.14.2
OS: MacOS Monterey 12.3.1
yarn: 1.22.17

nx: 14.3.2
typescript: 4.7.2

@amacavei14 downgrading the following dependencies fixed it for me:
"eslint-config-next": "12.1.6" -> "12.1.5"
"eslint-plugin-react": "7.30.0" -> "7.29.4"
"eslint-plugin-react-hooks": "4.5.0" -> "4.3.0"

[2022-06-16 03:59] jasongerbes opened #10765 "TypeScript types from internal packages are being imported from dist"
## Current Behavior

An Nx workspace with multiple TypeScript libraries can resolve implicit types to imports from `dist`, for example:

[code]

[code]

[code]

## Expected Behavior

All types from internal libraries should be resolved to the relevant node module, for example:

[code]

## Steps to Reproduce

See the related `nx-examples` PR: https://github.com/nrwl/nx-examples/pull/205

### Enviro

[2022-06-16 04:41] iKrishnaSahu opened #10766 "defaultProject is missing in nx.json"
## Current Behavior

defaultProject field is missing in nx.json

This was working in 13.10.5

## Expected Behavior

defaultProject field should get added in nx.json

## Steps to Reproduce

1. Create new 14.3.1 workspace - `npx create-nx-workspace@14.3.1--cli=angular`
2. Install @nrwl/angular - `npm i @nrwl/angular@latest -D`
3. Generate app using `ng g @nrwl/angular:app`

### Failure Logs

default

[2022-06-16 05:04] tk-o commented on #8019
This looks promising: https://www.npmjs.com/package/@nrwl/remix

Official one, right?

[2022-06-16 08:51] leosvelperez commented on #10759
Thanks for reporting this!

This issue has been fixed in https://github.com/nrwl/nx/pull/10758 and released as part of v14.3.5. Please migrate to the latest version to get the fix

[2022-06-16 09:12] leosvelperez commented on #10729
@chriscurnow thanks for providing a reproduction! The issue is that the `@schematics/angular` in your package.json is set to version `^13.2.6` and it should actually be aligned with the rest of the versions of the angular packages (e.g. `@angular-devkit/build-angular`, 14.0.1 in your workspace).

I can see the migration didn't update that package version automatically. I'll push a fix for that so

[2022-06-16 09:22] ambeur opened #10768 "Lint affected doesn't work after 14.2.4 => 14.3.* migration"
## Current Behavior

`nx affected:lint --base=main` fails with `'_' is not found in schema` error after 14.2.4 => 14.3.* migration.
Linting of individual libs working fine. With 14.2.4 version affected linting working fine too.

## Expected Behavior

Lint works

### Failure Logs

[code]

### Environment

[code]

[2022-06-16 09:34] david-morris commented on #8592
I installed `storybook-addon-swc` and storybook is still making gzips in the babel subfolder of the cache directory.

[2022-06-16 12:10] G233 opened #10769 "how to distribute the cache manually using my own storage mechanisms"
### Documentation issue

- [ ] Reporting a typo
- [ ] Reporting a documentation bug
- [ ] Documentation improvement
- [x] Documentation feedback

### Is there a specific documentation page you are reporting?

https://nx.dev/using-nx/caching#distributed-computation-caching

### Additional context or description

how to distribute the cache manually using my own storage mechanisms?

[2022-06-16 12:25] Rofer11607 commented on #10764
as a work around, If I run `npm i @nrwl/js --save-dev` it works for a while before reverting

[2022-06-16 12:43] esantelmo commented on #9207
Still happening in Jun16, 2022

[2022-06-16 12:44] esantelmo commented on #9168
Same here in June 16th 2022

[2022-06-16 12:53] christian1koch commented on #9545
Go to the VSCode downloads and choose "Intel Chip", that should install the x64 VSCode

[2022-06-16 13:08] Crocsx commented on #7729
I would love to have what @[wesleygrimes](https://github.com/wesleygrimes) propose !

[2022-06-16 13:18] npirotte commented on #8019
No, I got a classic, non buildable lib based nx project working with remix. You just need to tweek a bit the tsconfig so it correctly resolve the libs. (basically, remix app tsconfig should not have a paths property, so it only extends the root config.)

There is only one small caveat: https://github.com/remix-run/remix/issues/2677 but it's easy to live with that :p

[2022-06-16 13:22] maartencardinaels opened #10772 "getJestProjects is not taking into account targets based on project inference"
## Current Behavior
We are using the new [project inference feature ](https://nx.dev/extending-nx/project-inference-plugins)of Nx to dynamically generate targets. We use it amongst others to generalize our `test` targets in our libraries.

Furthermore, we are using [getJestProjects()](https://github.com/nrwl/nx/blob/428106f6be/packages/jest/src/utils/config/get-jest-projects.ts) in our global jest

[2022-06-16 13:35] AgentEnder commented on #9207
@esantelmo This was fixed and confirmed as fixed in 13.8.5. If you are experiencing issues in a version newer than 13.8.5, can you open a new issue complete with error logs, `nx report`, and reproduction steps?

[2022-06-16 13:49] wizardnet972 opened #10773 "File is not under 'rootDir' 'packages'. 'rootDir' is expected to contain all source files in npm preset"
## Current Behavior

Got an error when I run `yarn nx run foo:build`

[code]

## Expected Behavior

nx should build `foo` and `core`

## Steps to Reproduce

Clone: git clone https://github.com/wizardnet972/nx-npm-preset.git
Run:
[code]
See the error in Current Behavior

-- OR --
Run those commands:

[code]

Replace the content of `/packages/foo/src/lib/foo.ts` with: (https://github.com/wizardnet97

[2022-06-16 13:52] jackmorrison12 opened #10774 "Move generator overrides projects in the parserOptions with base tsconfig file"
## Current Behavior

To move an existing library, we run the following
[code]
In our case, the move does not keep the storybook config file in `.eslintrc.json` after the move. This is under `overrides > parserOptions > projects`. It overrides it with just the base tsconfigs.

Before the move, the `eslintrc.json` looks like like this:
[code]

When you run the move command, the new `eslintrc.json` w

[2022-06-16 13:59] #10729 closed

[2022-06-16 14:10] phlukman opened #10776 "Cannot find module 'nx/src/utils/app-root' with local installation of nx , version 14.3.5"
hi ,

I'm getting an error message when trying to build the project, using nx 14.3.5, that it can't find the module "Cannot find module 'nx/src/utils/app-root'"

I'm installing npm 8.11.0, and installing nx locally. Any hints?

[2022-06-16 14:15] AgentEnder commented on #10756
Hey @DG-SHeather! Nx 12 is not something we actively support, as it is a few major versions back at this point. I understand that their may be a requirement to stay on Angular 12 that is keeping you there, but could you try migrating Nx to 13.1.x?  This should leave angular on v12 since support for 13 was added in 13.2.0.

[2022-06-16 14:23] AgentEnder commented on #10776
What's `nx report` say? `app-root` was removed a few minor versions back.

[2022-06-16 14:35] DG-SHeather commented on #10756
HI @AgentEnder, thanks for the response. is the supported Nx versions and the support lifecycle documented anywhere?

[2022-06-16 14:44] bstrob opened #10777 "Error: Project undefined does not exist."
Hi. I am getting this error in a newly created Nx workspace.
Do I miss something?

<img width="983" alt="image" src="https://user-images.githubusercontent.com/22637147/174095722-723a954b-c057-4788-bc5f-b0ec81dd2740.png">

Edit: Added `nx report`
[code]

[2022-06-16 15:19] leosvelperez commented on #10721
@nwatrailhub could you try to serve it without passing the `--devRemotes` flag? It could narrow down where to look. If you identify is one of the remotes you're passing to it, you could try serving the remote on its own with `--verbose` to try to get more info.

[2022-06-16 15:39] #10774 closed

[2022-06-16 16:25] jaysoo commented on #8355
The guide here is up to date to provide correct config, with purging as well.

https://nx.dev/guides/using-tailwind-css-in-react

The main thing is the utility we provide for including dependencies in `content`.

[code]

If you are having more issues after following the guide, please re-open a new issue with more details on what is wrong.

[2022-06-16 16:25] #8355 closed

[2022-06-16 16:27] jaysoo commented on #8355
You can also check out our usage of Tailwind in our nx.dev app.

https://github.com/nrwl/nx/blob/master/nx-dev/nx-dev/tailwind.config.js

[2022-06-16 17:44] jmattiace commented on #10565
I just confirmed that #10414 fixes the issue. Thanks @bulldog98! Do you have any idea when this will get merged in and released?

[2022-06-16 18:14] amayer42 commented on #9933
Hey @mandarini, thanks for the information. Regarding the information on Webstorm, that's really cool that they support that type of feature. It sounds pretty handy (I've never used it before). I can follow up with the VSCode team on that front to see if they have such a feature in their list of feature requests.

I do want to push the topic just a bit further on nx's side of things though. I play

[2022-06-16 18:27] utsavkapoor opened #10780 "Run commands executor showing Missing property "__unparsed__" error in IDE"
## Current Behavior
Run commands executor in IDE (VSCode) shows Missing property "__unparsed__" error

## Expected Behavior
Since this is an internal property, the error should not show up

## Steps to Reproduce
Upgrade to 14.3.5,
Open project.json file with run-command executors in VSCode
Attaching IDE Screenshot
![Screen Shot 2022-06-16 at 11 19 37 AM](https://user-images.githubusercontent.com/2

[2022-06-16 18:29] bressanelle commented on #9784
hey @sdedieu. I guess I found a way to workaround this situation without using apply in each component.

I created tailwind.config.js in root level of monorepo like that

[code]

then I removed of my shell and remote apps all styles using

[code]
and I also removed their own tailwind.config.js

So I created a lib called ui/common with globalTailwind.css that uses tailwind config

[code]

and final

[2022-06-16 18:47] sdedieu commented on #9784
Sounds interesting! Will definitely try it soon 🙂 Thanks ! 😃

[2022-06-16 19:05] amayer42 commented on #9933
@mandarini , okay awesome! I am overall fairly unfamiliar with the whole ecosystem of storybook, but I know that the "storybook" target of the project still works after making the change that I did in that branch. I will try to put up a PR later tonight for this.

[2022-06-16 19:23] intellix opened #10781 "Support jest-light-runner"
- [ ] I'd be willing to implement this feature ([contributing guide](https://github.com/nrwl/nx/blob/master/CONTRIBUTING.md))

## Description

I'd like to be able to use jest-light-runner (https://www.npmjs.com/package/jest-light-runner)

## Motivation

Babel reported that their test suite became 2x faster with it, as it doesn't use VMs and you can achieve isolation in other ways. It improve the d

[2022-06-16 19:46] jimhess commented on #8828
Experiencing the same problem.  It mis-computing the hash returning nx cloud results for the wrong build / SHA.

How do we re-open?

[2022-06-16 19:50] bulldog98 commented on #10565
@jmattiace no plan when it will be merged, I'm still waiting for a maintainer to run the test, after that it should be merged

[2022-06-17 01:49] chriscurnow commented on #10729
@leosvelperez thanks so much for this. Yes it works!! I really appreciate how quickly you responded to the issue and found a fix for me..

[2022-06-17 02:26] Crocsx commented on #3833
Bump to prevent stale. This is a major feature nowadays, and would be nice to have it built in.

[2022-06-17 02:26] ivandjomegni commented on #10488
Hi @anees-tricon - Can you try adding npx next to your command? mine seems to work that way.
i.e: npx nx run-many --target=test --all

[2022-06-17 03:22] sir-captainmorgan21 opened #10785 "Can no longer build publishable libraries that import other publishable libraries after migrate to v14"
## Current Behavior
All Libraries are Angular.
Running the build target on a publishable library that imports another publishable library fails with the following error message after I migrated our repo to NX 14.

[code]

We were having no issues building prior to the migration.

## Expected Behavior
Previously it would make sure that any libraries it relied on were built and would build them if t

[2022-06-17 04:47] its-ratikant commented on #10768
yep, same here!!

[2022-06-17 06:05] tinesoft opened #10786 "Cannot use "--version" as a generator option because it is a reverved word in Yargs"
## Current Behavior

When a generator's schema.json  contains a property `version` (of type `string` for example), running that generator as such:
[code]
would fail with this error:
[code]

This is because `Yargs` (which is used internally to parse the generator options), interprets the  special  option `--version` first (as a boolean). So it can no longer be overidden later in the generator, alth

[2022-06-17 06:08] DmitryEfimenko commented on #10008
still error on 14.3.6

After running it 3 times the error went away. However, the diff of `package.json` showed the line containing `"dependencies": {` removed. So the JSON would be invalid. Not a big deal - I manually re-added it, but I almost missed it and I'm sure people will

---

Also, the line

got replaced with:

---
In addition, I had some elf cli and commitizen configurations in the packa

[2022-06-17 06:20] yurisim opened #10787 "Args for the command executor no longer work after upgrade to 14.3.6 from 14.1.9 of NX"
## Current Behavior

[code]

The command above gives the error

[code]

## Expected Behavior

I could fix the above "error" by adding the schema attribute to each of the commands like
[code]

but the previous version of NX i was using (14.1.9) was running the first code block just fine. I don't think it has anything to do with Prisma, the options command no longer seems to work like it did.

I can

[2022-06-17 07:05] JeremieLapert commented on #10733
@leosvelperez : it's good ! Thanks for your help

[2022-06-17 07:57] B-R-Bender opened #10788 "weird behaviour while serving react app with reference error"
Hello everyone!
I'm experiencing pretty weird behaviour with react app development.

Once I've serve my app everything is ok, but some random time passes and I'm seeing something like this
<img width="149" alt="image" src="https://user-images.githubusercontent.com/16334107/174250146-5c9145de-8b25-46ce-be35-4fe692adde0f.png">
or this
<img width="268" alt="image" src="https://user-images.githubuserc

[2022-06-17 08:04] B-R-Bender commented on #3427
my current workarount is just to use `nx g move` to rename project using some prefix
then create a buildable one with the proper name and move all existing code to it
`nx g remove` prefixed one at the end

[2022-06-17 08:08] leosvelperez commented on #10785
Thanks for reporting this!

Unfortunately, I can't reproduce the issue following the provided steps. Could you please provide a repo where this can be reproduced so we can troubleshoot it?

[2022-06-17 09:15] Grompie commented on #10785
Have the same issue here with version 14.3.1.
Think it's the same bug as #10733.
Error keeps popping up:
 error TS6059: File '...index.ts' is not under 'rootDir' '/some_file'. 'rootDir' is expected to contain all source files.

[2022-06-17 10:56] leosvelperez commented on #10785
Could you confirm which preset you used to create the workspace? Do you have a `"extends": "nx/presets/npm.json"` or `"extends": "nx/presets/core.json"` in your `nx.json`?

[2022-06-17 10:58] #10777 closed

[2022-06-17 11:00] gustawdaniel opened #10790 "I can't see gitlab ci docs"
### Documentation issue

- [ ] Reporting a typo
- [ ] Reporting a documentation bug
- [ x ] Documentation improvement
- [ ] Documentation feedback

### Is there a specific documentation page you are reporting?

https://nx.dev/using-nx/ci-overview

### Additional context or description

I would like to read about GitLab ci integration.

[2022-06-17 12:24] Grompie commented on #10785
In my project I don't have a extends property in nx.json. I tested with both and none seemed to have any effect.
when creating the workspace I chose the preset apps.

[2022-06-17 12:27] GrumpyMeow commented on #10748
Indeed I’m running single-container using the embedded MongoDB.

Then it seems that there’s a difference between stopping+Restarting an Azure container instance versus stopping+restarting a Docker-container locally. Locally Docker keeps the state of the container in tact. I wasn’t expecting that this behavior would be different with ACI’s.

I’ll look into a separate database containers. Probably I

[2022-06-17 12:27] #10748 closed

[2022-06-17 13:05] leosvelperez commented on #10785
@Grompie can you provide a reproduction? Or at the very least, could you share the content of your `nx.json`? You can strip out the Nx Cloud key if you're using it or any secrets you might have.

[2022-06-17 13:39] sandeeppatidar30 opened #10792 "nx migrate latest removes defaultCollection from nx.json"
`nx migrate latest` command removes defaultCollection from nx.json. which creates breaking change for us.

## Current Behavior

`nx migrate latest` command removes defaultCollection from nx.json.

## Expected Behavior

It should not remove defaultCollection from nx.json.

## Steps to Reproduce

1. Run nx migrate latest
2. Check nx.json

### Environment
Windows 10
Node 14.22

[2022-06-17 13:40] jahusa02 commented on #10768
Same here and thought my project name has something do with it.
Renamed a whole lot of folders and things just to get the same error 😓

[2022-06-17 13:48] sir-captainmorgan21 commented on #10785
@leosvelperez thanks for getting to this so quickly: Here is my nx.json contents:

[code]

[2022-06-17 13:54] B1Z1 commented on #10730
@AgentEnder meanwhile here is full log of error, maybe it might help you:

Error reading '/Users/illia.mishkin/ppm/ui/node_modules/.cache/nx/nxdeps.json'. Continue the process without the cache.
Error: ValueExpected in /Users/illia.mishkin/ppm/ui/node_modules/.cache/nx/nxdeps.json at position 0
    at parseJson (/Users/illia.mishkin/ppm/ui/node_modules/nx/src/utils/json.js:30:15)
    at readJsonFi

[2022-06-17 14:11] AgentEnder commented on #10792
This is expected behavior, as we changed the way we handle default collections recently. Can you explain how it is a breaking change for your use case?

Currently, you can just add it back but the property is deprecated and support may be removed in v15.

[2022-06-17 14:12] wizardnet972 commented on #10773
also please take a look at https://github.com/nrwl/nx/issues/10714 is the same problem just with ts preset.
I created the repos very minimal to reproduce the problem.

[2022-06-17 14:15] AgentEnder commented on #10787
Is seems like the "schema" option in your target block was getting passed previously, that was an undefined behaviour that may have been impacted by some changes recently.

I'd recommend adding the --schema param manually to the commands, since this was an undefined behavior we will probably not attempt to restore it.

[2022-06-17 14:16] leosvelperez commented on #10785
@sir-captainmorgan21 thanks for sharing!

There seems to have been an issue with a migration that was schedule for a version but the migration itself was released in another version, so that might have caused the migration to not run in some scenarios. That migration should have added the following in `nx.json` for anyone having their `nx.json` extending from `nx/presets/core.json` or `nx/presets/

[2022-06-17 14:18] AgentEnder commented on #10766
It looks like I may have had some timelines mixed up. We **_are_** planning to deprecate the property, but have not done so yet. The angular generator was fixed in #10789.

[2022-06-17 14:18] #10766 closed

[2022-06-17 15:44] nhhockeyplayer opened #10796 "ng-package.json not created after creating publishable library"
SUBJECT: ng-package.json not created after creating publishable library

## Current Behavior
creating a publishable library for my enterprise

upon entering the following command

`node node_modules/@nrwl/cli/bin/nx.js generate @nrwl/workspace:library --name=environment --directory=shared/core --publishable --buildable --prefix=shared-core-environment --skipFormat --addModuleSpec --parentModule=ap

[2022-06-17 15:58] leosvelperez commented on #10785
Great! I'm going to close this issue.

For anyone else having this issue, please see https://github.com/nrwl/nx/issues/10785#issuecomment-1158916416 for an explanation and solution.

[2022-06-17 15:58] #10785 closed

[2022-06-17 15:59] leosvelperez commented on #10730
hey @B1Z1!

Looking at this part of the log, have you run those commands below? Do they run successfully?

[code]

When the issue happens, are you running `nx ...` or `ng ...`?

[2022-06-17 16:39] AgentEnder commented on #10781
Hey @intellix! We aren't likely to add first-class support for jest-light-runner at this moment, as it's not something that we use with clients or is used by a large set of the community.

That being said, @nrwl/jest:jest doesn't do anything special regarding how jest is executed. The configuration, path mappings, etc., go through the normal jest execution flow. If configured correctly, this shoul

[2022-06-17 16:39] #10781 closed

[2022-06-17 16:40] dariusj18 commented on #7729
Here's an example of laravel's artisan command and it's syntax is `--env=dev` loads `.env.dev`

https://laravel.com/docs/9.x/configuration#additional-environment-files

This is a very **very** helpful feature for development, especially if you need to target multiple environments and you don't want to pollute your codebase with that kind of configuration.

[2022-06-17 16:59] ndcunningham commented on #10255
Hey! Thanks for opening this.
When it comes to deploying next apps, using Nx, Vercel is first class.
Artifacts inside `dist/apps/<app>` are self-containted so usually you should be able to deploy that folder and run `npx next start` from it.
We will look into other deployment targets, as currently there maybe a few issues left to be ironed out.

[2022-06-17 16:59] #10255 closed

[2022-06-17 17:05] jaysoo commented on #10255
One more note, the compiled `dist/apps/<app>` folder can be copied/deployed elsewhere, and you just need to `npm install` or yarn install` and run `npx next start` as Nicholas said above.

[2022-06-17 17:09] dean-g commented on #10719
@barbados-clemens do I get any luck for this issue? 😞

[2022-06-17 17:33] B1Z1 commented on #10730
Interesting facts:

1. We implemented nx cloud and after it worked well. Now we don't use nx cloud, because we are waiting for financing
2. On our CI we always start building applications without cache (cold start) and we had no problems with it

[2022-06-17 18:00] barbados-clemens commented on #10719
finishing up stuff before I'm able to take a look at this. I'd be curious if using jest 28 and the appropriate jest-preset-angular would magically fix it?

I'm also working on the jest 28 migration right now, but for the most part, you should be able to bump deps and it _work_. You can see the migration guide here https://jestjs.io/docs/upgrading-to-jest28
Would be interested if you could give tha

[2022-06-17 18:14] nhhockeyplayer commented on #10796
How is the library created by `@nrwl/workspace:library` publishable? Doesnt it need eFrastructure like ng-package.json to be consumed as a library? If so am I required to add it manually?
Thanks in advance

[2022-06-17 18:21] spierala opened #10797 "@nrwl/web:rollup creates a CJS file when choosing UMD as format"
## Current Behavior
@nrwl/web:rollup creates a .cjs file when choosing `umd` as build format

See screenshot:
![Screenshot 2022-06-17 at 20 09 28](https://user-images.githubusercontent.com/1272446/174355263-7defe39a-0c41-4c0e-af83-0fef01912b37.png)

The content of the .cjs file looks like umd format:
![image](https://user-images.githubusercontent.com/1272446/174355423-867f44dd-c290-43bf-84df-e8cca

[2022-06-17 18:22] AgentEnder commented on #10796
That points towards a typescript misconfiguration, it looks like the tsconfig path for '@meanstacknh/shared-core-dto/i-answer.dto' isn't resolving. I'd try to check that your tsconfig.base.json has the correct path entries and they are not being overridden in your shared-core-entity library.

ng-package.json isn't required, like I said it is angular specific so its not used for non-angular librari

[2022-06-17 18:25] nhhockeyplayer commented on #10796
Yes that was my first guess... the tsconfig.base.json I always add paths for index.ts and wildcard as follows...

[code]

here is my compilation thread something has given out between my dto interfaces lib and entities lib both of which are just plain utility libraries here is the thread on compilation... I have had to fix up the enums its barking about...
[code]

if you spot anything remit... tha

[2022-06-17 18:27] nhhockeyplayer commented on #10796
so its bizarre for me I just generated these the other day
that it cannot find the module its living right in the dist folder as built fine for dto library

[2022-06-17 18:30] helloankit commented on #8796
Experiencing this issue on my local setup.
Had to clear the nx cache and waste 3-4 precious hours to make it work. Please have a look at this issue on priority. 🙏

[2022-06-17 18:36] tunecino commented on #8968
Exact same issue here: `Cannot read property 'endsWith' of undefined\n"...`
I don't have the "root" key as I am using nx-electron, and for some reasons its schematic is removing them.
In my case, just running `npm install` fixed it. Still not sure what happened but it worked. Hope it helps.

[2022-06-17 18:38] nhhockeyplayer commented on #10796
this is the tsconfig for the entity library... identical to the other libs I never touch them as its not necessary and they inherit from top

[code]

[2022-06-17 18:41] nhhockeyplayer commented on #10796
Im happy to post a repository unless you have access to cloud builds
this is a blocker and no remedy as of yet

please advise and I will act if you want to peek at the repo

[2022-06-17 18:48] nhhockeyplayer commented on #10796
only thing that seems to take it relative paths
[code]

but that produces a new issue cross lib

[2022-06-17 18:57] Lusito commented on #10584
Hi @Coly010

I have the same issue. Looks like the same issue as #9372, but I can't fix it with a .babelrc file in the library folder.

Here is the smallest reproduction I could make:
https://github.com/Lusito/nx-import-type-repro

I first thought, it was a Problem with `import type`, but it generally doesn't understand typescript in the library.

What I found out, is that using `"executor": "@nrw

[2022-06-17 18:58] nhhockeyplayer commented on #10796
ok well this is bizarre
I re-created a new library using `@nrwl/angular:library` named `entite`... all I did from there was manually copy over the build files all of them into the `entity` lib build folder ... basically all the tsconfigs package.json and project folder and renamed all entite to entity

and everything builds clean

[code]

is there a chance we have lost utility libraries here someh

[2022-06-17 19:00] yao-motif commented on #10719
I had some issues with library tests, until I changed my (top level) jest.config.js

to

[code]

[2022-06-17 19:07] nhhockeyplayer commented on #10796
alright well something is cached thats affecting what Im generating with schematics

do you know of any cache files beyond nx reset?

I ask because if I generate a lib the contents of my barrel file is not formatted and sort of garbled until I format it. Not sure if thats an indicator.

this one is really nagging

[2022-06-17 19:08] Coly010 commented on #10584
Thanks @Lusito  when I’m back in the office on Monday I’ll see if I can fit this on my priority list

[2022-06-17 19:10] Jordan-Hall commented on #10584
Cheers, sorry i was going to sort a repo out today, so thank you @Lusito  and your a @Coly010  as I promise a client there will have storybook 🤣 and I've been to busy sorting out other things to take a look at how I can resolve this myself sorry

[2022-06-17 19:24] nhhockeyplayer commented on #10796
pathing is fine
lib configurations fine

I cannot get cross library referencing for util libraries

I will re-create again but this one is a marlin

[2022-06-17 19:27] nartc commented on #10652
@dannymcgee the `includeBabelRc` flag in `@nrwl/js` is to cope with `nrwl/js:lib` in a React-app workspace. If you use `nrwl/js` in a node environment or babel-less environment then `includeBabelRc` is there to prevent a `babelrc` file to be created.

The logic at the moment is to generate the `.babelrc` file if the generator detects `nrwl/web` in `package.json`. The consumers can override that by

[2022-06-17 19:31] Lusito commented on #10584
Looking at the node:webpack implementation, it registers ts-node: https://github.com/nrwl/nx/blob/e507d7b4cf9b44fdcfb4657650d1cd34f68458cc/packages/node/src/executors/webpack/webpack.impl.ts#L115

The web:webpack implementation does not register ts-node. I've tried hacking in the registerTsNode into the compiled webpack.impl.js, but it doesn't seem to change anything, so I'm not sure this is the i

[2022-06-17 19:38] Jordan-Hall commented on #10584
Whats strange is I've been using the storybook vite builder and it still does this.

[2022-06-17 19:40] nhhockeyplayer commented on #10796
well Im being blocked with this one tried everything
cannot get cross library compilation after re-creating using `@nrwl/js:library`

[2022-06-17 19:47] nhhockeyplayer commented on #10796
Hi Craig, I added you as a collaborator on my repo

would you be kind enough to confirm this not a bug?

its just the dto library and the entity library

dto builds fine

entity is the one being caught up

once thats done I can handle the rest

but this one is in a tangle with builder and imports

but the config and imports and paths are all fine

[2022-06-17 21:06] barbados-clemens commented on #10719
@dean-g is it working now?

[2022-06-17 21:07] barbados-clemens commented on #10719
@yao-motif where you running into the same error and using the jest.config.js (vs jest.config.ts) fixed it?

[2022-06-17 21:17] yao-motif commented on #10719
I was running into an error where jest tests were not finding my module imports, like the @ imports within my codebase after upgrading to nx14

Not exactly same error but it could help
https://github.com/nrwl/nx/issues/10337 (where I got my reference)

[2022-06-17 21:45] nhhockeyplayer opened #10800 "@nrwl/js:library fails to cross import/compile util libraries"
SUBJECT: @nrwl/js:library fails to cross import/compile util libraries

## Current Behavior
Nx cannot locate shared modules in the npm package ecosystem under node_modules
My entity library cannot import dto's from dto library
I have to manually rig up node_modules `file://` protocol installs to get my build to succeed

## Expected Behavior
modules not found... this should be automated
paths are c

[2022-06-17 21:56] LMFinney opened #10801 "Nx 14.2 migration fails w/ "Cannot find module './util/canReportError'""
## Current Behavior

I ran `nx migrate --run-migrations --create-commits` on my Angular 13 app. Several of the migrations worked successfully, but then it failed when it hit Angular's migration-entry-components:
![image](https://user-images.githubusercontent.com/6683747/174405817-0d464cde-53fc-4579-8326-2b44b5c4b68b.png)

I manually made the relevant changes and tried again, but then I got the ide

[2022-06-17 22:41] icastillejogomez commented on #10768
same here with versión `14.3.X`

[2022-06-17 23:28] arabull commented on #10145
@AgentEnder I don't want to be "that guy," but this issue is hurting us, so I'm going to... is there anything I can do to bump up the visibility on this guy? It's really hurting us on our builds. Ironically, it's hurting you guys too. We are paying Nx Cloud customers, and every cache miss costs you guys money. And this issue is causing _a lot_ of cache misses.

Outside of the reproduction repo I p

[2022-06-18 01:29] nhhockeyplayer commented on #10800
If the nx team can review this ticket and this thread
https://stackoverflow.com/questions/56603223/nrwl-nx-importing-lib-error-ts2307-cannot-find-module-eduboard-interfaces

if its truly a bug should be fixed? yes?

Thanks for your dilgence

[2022-06-18 09:23] ShadiBlitz commented on #9017
@Yizhachok solution worked for me. However I had to add some additional option because I got this error `FATAL ERROR: Reached heap limit Allocation failed - JavaScript heap out of memory` during build time.
These were the following changes :

in pages/index.tsx
[code]
<br>

in next.config.js
[code]

<br>

and update next in package.json to canary
[code]
<br>
And the docker build worked great.
Howe

[2022-06-18 09:59] nhhockeyplayer commented on #10800
Okay I made some ground on this and obtained a successful build but not without some divine intervention.

CONTEXT: my repo has two utility libraries

[code]

@meanstacknh/shared-core-dto builds first and succeeds

@meanstacknh/shared-core-entity uses interfaces from @meanstacknh/shared-core-dto and failing because the project for @meanstacknh/shared-core-entity cannot find the installed @meanstac

[2022-06-18 11:22] dolphinigle commented on #10780
Supposed to be closed with this issue: https://github.com/nrwl/nx/issues/10750 but:

![Screenshot (16)](https://user-images.githubusercontent.com/7020472/174435382-625879a9-4763-4975-8b12-00edbbfece3c.png)

[2022-06-18 15:53] mwood23 commented on #10679
@Coly010 I'm not seeing this fixed on my end with the latest release.

[code]

Error above will happen

[2022-06-18 18:51] bstrob opened #10804 "Cannot read properties of undefined (reading 'exists')"
I got this error in a newly created Nx 13 workspace. I think it's somehow related to this bug: #10777 - the steps are the same.

<img width="998" alt="image" src="https://user-images.githubusercontent.com/22637147/174452357-6b0c22c0-709a-4af9-bb5e-f3e58296323c.png">

[code]

[2022-06-18 21:34] seryl commented on #10776
I actually have the same issue; here's it with a fresh project:

[code]

The error log:

[code]

And finally the nx report:

[code]

[2022-06-18 21:37] seryl commented on #10776
I have a feeling it's related to the `@nrwl/storybook` version being so old: `13.10.5` vs `14.3.6`.

[2022-06-19 08:03] guysenpai opened #10806 "affected target lint always fails when execute via lint-staged"
## Current Behavior

Since Nx 14.3 I get error `'_' is not found in schema` for affected lint when execute `lint-staged` command. I noticed that staged files are added as additional flags. In the previous version (14.2), it doesn't do that.

<img width="1417" alt="Capture d’écran 2022-06-19 à 09 51 40" src="https://user-images.githubusercontent.com/6205146/174471260-8b462f52-e4e9-4772-8b4a-25e80

[2022-06-19 11:11] mhamri commented on #5648
i have the same issue, I run the `nx migrate latest`  and all the angular package except cli updated to 14.0.2. so I wonder why cli was exempted from the udpate?

[2022-06-19 11:30] BePasquet commented on #10100
i think there is an issue with the version on @barbados-clemens repo the test works, after runing ```nx migrate latest``` stops working

![Screen Shot 2565-06-19 at 18 28 49](https://user-images.githubusercontent.com/13737675/174478665-30af6b84-434c-430f-b0e0-1328f04ddd40.png)
Cannot find module '@using-libs-with-jest/r-lib-two' from 'src/lib/r-lib-one.tsx'

[2022-06-19 12:12] bjornharvold commented on #10354
Still having the same issue

On 18 June 2022 at 07:22:52, github-actions[bot] ***@***.***)
wrote:

[2022-06-19 15:50] anees-tricon commented on #10488
@ivandjomegni , that's what i also ended up doing.
Initially i switched over to Travis CI where it worked fine. Then i prefixed the nx commands with npx and it started to work fine in Github Actions as well.

[2022-06-19 17:59] jackall3n commented on #10256
I'm seeing this as well, it appears to be intermittent. I tried disabling nx-cloud caching for the build command but it appears to still error.

[2022-06-19 18:22] ivandjomegni opened #10807 "How to use variables in target scripts with nx run-many command?"
I have a script that I added in all my projects' package.json and running nx run-many should update the version number on each file using a pre-defined variable, but currently it's not retrieving the variable's value. I'm on GitHub Actions and here is a piece of my workflow:

updatedVersion = 4.0.0
nx run-many --target=updateProjectsVersion --all

**Script in package.json for each project:**
"upda

[2022-06-19 19:48] Ali-Hussein-dev commented on #10768
I am having the same issue, what is the workaround?

[2022-06-19 19:49] danr-za opened #10808 "Regression - Cypress executor does not respect env cli parameters."
## Current Behavior
Regression of https://github.com/nrwl/nx/issues/9764.
I upgraded from 14.2.4 where it worked.

## Expected Behavior

## Steps to Reproduce

This issue may not be prioritized if details are not provided to help us reproduce the issue.

### Failure Logs

### Environment
[code]

[2022-06-19 20:16] icastillejogomez commented on #10768
Finally I use raw `eslint` and edit `lint` nx trigger like that:

[code]

And my `.eslintrc.json` look's like that:
[code]

It's important to create a `.eslintignore` file inside all apps and libs.

[2022-06-20 00:21] #8010 closed

[2022-06-20 00:21] #7995 closed

[2022-06-20 00:21] #7968 closed

[2022-06-20 00:21] #7972 closed

[2022-06-20 00:21] #7928 closed

[2022-06-20 00:21] #7892 closed

[2022-06-20 00:21] #7734 closed

[2022-06-20 00:21] #7849 closed

[2022-06-20 00:44] LoganAtCrypto opened #10809 "Inconsistent NextJS linter in dev and built"
## Current Behavior
I'm generate my next project with the`nx` command. Recently, i found that`nx build app-name` failed with typescript type error: `Type error: Property 'name' does not exist on type`. But when i run `nx lint app-name`,  the lint passed all the eslint checks.

I assume that when i run `nx build app-name`, nx will lint the code first and the lint process should be the same as i run

[2022-06-20 00:54] somebody1234 commented on #8180
:(

[2022-06-20 01:32] marwan38 commented on #10304
Same here. I've been trying to make more sense of it. Using babel/preset-env in debug mode gives these targets:

[code]

Which are pretty old versions. Changing browserlist targets at package.json or even using a .browserslistrc file does not work. Based on the babel docs, they should intersect and work. I need to make a minimal repro without nx to ensure if this caused by nx or has to do with bab

[2022-06-20 02:24] amaralc commented on #3069
I'm in the same situation here.

[2022-06-20 05:08] mikecann opened #10810 "Nx and Typescript Tutorial Cannot Be Completed"
### Documentation issue

- [ ] Reporting a typo
- [ x] Reporting a documentation bug
- [ ] Documentation improvement
- [ ] Documentation feedback

### Is there a specific documentation page you are reporting?

https://nx.dev/getting-started/nx-and-typescript#create-a-typescript-based-application

### Additional context or description

This is the very first thing that a new user will experience wi

[2022-06-20 05:28] codewaseem commented on #10773
Facing same issue.

[2022-06-20 07:19] joewIST commented on #10594
I can't provide a repo right now, but this is the error that is generated:

**Cannot find module './typescript/compilation'
Require stack:
- C:\...\@nrwl\workspace\src\utilities\typescript.js
- C:\...\@nrwl\angular\src\generators\utils\storybook.js
- C:\...\@nrwl\angular\src\generators\component-story\component-story.js
- C:\...\@nrwl\angular\src\generators\component-story\compat.js
- C:\...\@angu

[2022-06-20 08:42] #10636 closed

[2022-06-20 08:44] Alpha0YZ commented on #10636
Resolved: you need to add `defaultConfig.resolver.sourceExts.push('cjs');` to metro.config.js. Maybe this should be in the default metro config file?

[2022-06-20 08:51] Coly010 commented on #10679
@mwood23 I cannot reproduce. Can you provide a reproduction?

[2022-06-20 09:00] Coly010 commented on #10584
@Lusito You do not have storybook in your reproduction at all?

@Jordan-Hall  Can you provide a reproduction of this using Storybook?

I can then check if the problem is indeed Storybook related or if it's related to something else.

[2022-06-20 09:08] #9784 closed

[2022-06-20 09:09] Coly010 commented on #10369
I'm going to close this as there has been no updates in quite some time.

If anything changes, I'll readdress this.

[2022-06-20 09:09] #10369 closed

[2022-06-20 09:50] Jordan-Hall commented on #10584
@Coly010  No repo step anymore. Closing this down looks like its now all working so not sure what the issue is. If i can repo it in a basic setup i'll reopen. Im so sorry

[2022-06-20 09:50] #10584 closed

[2022-06-20 10:34] #10683 closed

[2022-06-20 10:54] meeroslav commented on #10589
Thank you @minijus for reporting this issue and proposing the fix in the PR.

This is a good idea. We had this in discussion already, but I'm not sure why it hasn't been implemented yet. I will add this to my list.

[2022-06-20 10:57] #10589 closed

[2022-06-20 11:27] leosvelperez commented on #10730
Thanks for the provided info. Unfortunately, it's not enough for us to be able to troubleshoot this issue. We need a reproduction.

[2022-06-20 13:19] #9664 closed

[2022-06-20 13:26] #9548 closed

[2022-06-20 13:28] joewIST commented on #10764
Having the same issue in @nrwl/devkit

node_modules/@nrwl/devkit/index.d.ts:18:43 - error TS2724: '"nx/src/config/workspace-json-project-json"' has no exported member named 'ProjectsConfigurations'. Did you mean 'ProjectConfiguration'?

18 export type { WorkspaceJsonConfiguration, ProjectsConfigurations, TargetDependencyConfig, TargetConfiguration, ProjectConfiguration, ProjectType, Workspace, } f

[2022-06-20 13:47] wiesnery opened #10813 "Duplicate npm install on nx migrate"
## Current Behavior
run `nx migrate latest`

Nx output:

I run `npm install` --- wait 5 minutes until completed ---
I run `npx nx migrate --run-migrations` it runs `npm install` again

## Expected Behavior
No duplicate `npm install` runs as these are expensive for large projects.

- Either remove the hint to run npm install
- Or remove the npm install in the migration step

## Steps to Reproduce
I

[2022-06-20 14:01] aleesaan opened #10814 "Cannot run cypress e2e tests for a node app"
## Current Behavior
The `@nrwl/cypress:cypress` builder doesn't seem to work when I pass a node app (which is using the `@nrwl/node:node` builder) as the `devServerTarget`. The node app gets compiled and served correctly, but cypress just never starts.

## Expected Behavior
After compiling and serving the app, cypress should start testing.

## Steps to Reproduce
Create a new node app, create a new

[2022-06-20 14:03] #9741 closed

[2022-06-20 14:04] jokezer commented on #5733
Thanks, @studds! The same approach works for [eslint-plugin-rxjs](https://github.com/cartant/eslint-plugin-rxjs):

[code]

[2022-06-20 14:12] joewIST opened #10815 "Error: Cannot find module 'nx/src/config/configuration'"
I am unable to run any schematics or build commands due to incorrect exports in @nrwl/devkit

## Current Behavior
Schematics and build comments all fail.

## Expected Behavior
Schematics to run as usual and for me to be able to build my library.

### Failure Logs
Cannot find module 'nx/src/config/configuration'
Require stack:
- C:\...\@nrwl\devkit\index.js
- C:\...\@nrwl\workspace\src\utilities\bu

[2022-06-20 14:32] joewIST commented on #10815
hi @leosvelperez  i have already run that command and it did not update my nx package. Possibly a bug in the migrate script? I will upgrade it manually. Thanks

[2022-06-20 14:42] tinncdev commented on #9397
In my case `@nrwl/next` is at version 14.x and some other `@nrwl/**` plugins are at version 13.x

`nx migrate @nrwl/<plugin>` solve the problem.

[2022-06-20 16:18] RaitoBezarius commented on #10627
I hit this problem too.

[2022-06-20 16:44] jaysoo commented on #8032
Found one issue with the `stories` generator, once that's fixed we can close this issue.

[2022-06-20 16:44] Lusito commented on #10584
I don't use storybook. It looked like the same issue to me.

@Coly010 did you change anything? Otherwise I don't think my issue is fixed. Should I create a new issue?

[2022-06-20 17:00] Lusito opened #10819 "TypeScript library not being transpiled when imported from app project"
Originally posted in #10584, as I thought it was the same issue:

## Current Behavior
When importing a typescript library (in the same monorepo) from an app project using "executor": "@nrwl/web:webpack", an error is thrown:

[code]

Using "executor": "@nrwl/node:webpack" works perfectly fine, but I need it to work with web:webpack..

## Expected Behavior
TypeScript is transpiled correctly and no e

[2022-06-20 17:04] Lusito commented on #10584
ok, done

[2022-06-20 17:45] #10809 closed

[2022-06-20 18:47] nzacca opened #10821 "Update typescript-eslint peer dependency to 5.28"
- [x] I'd be willing to implement this feature ([contributing guide](https://github.com/nrwl/nx/blob/master/CONTRIBUTING.md))

## Description
We would like to see the `typescript-eslint` peer dependency updated to at least `5.28` which allows support for Typescript 4.7.

References:
* Current peer dependency: https://github.com/nrwl/nx/blob/master/packages/eslint-plugin-nx/package.json#L26
* Types

[2022-06-20 19:39] MatznRisto commented on #10659
I also tried ith with `"cli": "nx"` before. Tried also some other things. Did not find a solution. We can not upgrade at the moment. Has someone a solution?

[2022-06-20 21:01] Jejuni opened #10822 "Error Popup on every nx command (probably from node_modules\nx\src\daemon\server\start.js)"
## Current Behavior

When running any nx command, like `nx run my-app:build` or `nx run my-app:test` for the first time (after a reboot, for instance) a cmd window pops up, simply stating `[process exited with code 1 (0x00000001)]`:

![image](https://user-images.githubusercontent.com/33608497/174676428-1928d7b6-8514-4700-b7f8-a50e572582a2.png)

The run still _seemingly_ completes correctly.
After

[2022-06-20 23:13] savvyshell commented on #10244
Same problem here...

[2022-06-20 23:22] savvyshell commented on #3453
This is an issue again in 14.2.4

[2022-06-21 00:02] ethan-deng commented on #3948
Just switch to "command prompt" to run the command will work. "powershell" won't work.

[2022-06-21 02:43] makhataibar opened #10824 "TypeError: Cannot read properties of null (reading 'constructor')"
## Current Behavior
<img width="1103" alt="Screen Shot 2022-06-21 at 08 39 47" src="https://user-images.githubusercontent.com/27006656/174704841-3fdc7418-543a-430c-8ab6-3986edc10537.png">

50/50 in ci/cd pipeline (gitlab) build with @nrwl/expo break but nx think build is succesfull

## Expected Behavior
1. Successful build
2. If can't build throw error

## Steps to Reproduce
@nrwl/expo build-web

[2022-06-21 03:48] prasworld commented on #1686
I created a new nx workspace with preset angular and added a demo app. However mine angular.json is not having configurations where can I find them.

Below are the entries in angular.json

{
  "$schema": "./node_modules/nx/schemas/workspace-schema.json",
  "version": 2,
  "projects": {
    "demo": "apps/demo",
    "demo-e2e": "apps/demo-e2e"
  }
}

[2022-06-21 05:36] jberrydev opened #10825 "Can't find libraries when running Jest tests"
## Current Behavior
After updating to the latest via migrate I am unable to run Jest unit tests as it doesn't seem to be able to resolve my nx libraries.  Similar to this issue: https://stackoverflow.com/questions/72606965/testing-with-nx-jest-and-angular-cant-find-library-when-running-tests

## Expected Behavior
Should be able to run Jest tests when using nx libraries.

### Failure Logs
 Cannot f

[2022-06-21 05:51] BePasquet commented on #10100
Maybe this is usefull i downgraded to this versions and error is not happening any more
[code]

[2022-06-21 06:50] aggarwaldev commented on #9664
Thank you for the reply.

I'll give your solution a try.

[2022-06-21 07:08] #8032 closed

[2022-06-21 08:00] mandarini commented on #10619
Hey all! I'm working on it!!! :D

[2022-06-21 08:21] nhhockeyplayer commented on #10800
the move schematic is also impacted...

`nx g move --project admin-root-shell admin/root/feature-shell`

have to manually update package.json with the workaround I performed for this ticket

[2022-06-21 08:44] nhhockeyplayer commented on #10800
another observation... tsconfig is not being updated properly after the MOVE schematic is used specifically the paths
manual intervention required at this time

[2022-06-21 08:48] nhhockeyplayer commented on #10800
yikes... well here is an interesting anomaly...

upon looking at my tsconfig.json to see if paths are changed...

paths are changed
root name has a double @ sign. Thats why its unable to reference properly as mentioned above.
I didn't add that... this is the Nx logic under the hood. Hopefully this will help finding out.

tsconfig.json
[code]

[2022-06-21 08:59] meeroslav commented on #10269
Thank you @RobinvanTienhoven for follow-up. I will therefore close this issue.

[2022-06-21 08:59] #10269 closed

[2022-06-21 10:06] sentient06 commented on #816
This is a nightmare.

[2022-06-21 10:28] meeroslav commented on #10768
Hi @ambeur, @its-ratikant, @jahusa02, @icastillejogomez,

Sorry for the inconvenience. Can one of you create a minimal repro or detailed steps on how can this be reproduced?
I tried here https://github.com/meeroslav/test-10768 but I could not reproduce the error.

Additionally, there is no need to set `--base=main` as this is the default setting when running on your main branch locally.

[2022-06-21 10:55] MirkoDaumann opened #10829 "After migration to nrwl 14.3 nx serves errors out"
## Current Behavior

After updating to nrwl 14.3 i get following errors:

[code]
## Expected Behavior

Should be able to run the app as it worked before.

## Steps to Reproduce

1. npx nx migrate @nrwl/workspace --to="@nrwl/angular@13.10.5"
2. swapping Typescript version back to 4.6.2
3. npm i
4. npx nx migrate --run-migrations
5. npx nx serve --> errors

### Environment

[code]

[2022-06-21 10:59] Coly010 commented on #10829
Hey! :)

Can you give a little bit more detail around this?

Have you migrated to Angular 14 with Nx 14.3.6, but manually downgraded TS?

If that is the case, then this could be why it will be erroring.

Can you move TS to 4.7 and try again?

[2022-06-21 12:05] MirkoDaumann commented on #10829
Hey, thanks for the quick answer.

Upgrading to Typescript 4.7 doesnt work. Angular v13. has a depency for typescript <4.7
The actual problem was that nx v13 has a problem with Husky. So i wanted to Upade to v14 without updating the angular Version above 13.

Thats why i ran those steps:
[code]

Anyway, now i tried updating to Nx v.14 and Angular v.14
with the following steps:

[code]

and im alre

[2022-06-21 12:29] LeonardoGobbiLopez commented on #10294
Hey @hubertkuoch I'm experiencing this issue after migrating nx versions using nextjs, did you manage to solve this?

[2022-06-21 13:04] barbados-clemens commented on #10719
@dean-g goal is to get the PR merged for Jest 28 this week, I have a few things with cypress 10 to finish first.

[2022-06-21 13:08] Elyahou commented on #1796
@FrozenPandaz Any news on this ?

[2022-06-21 13:13] femi-ojemuyiwa-aa opened #10830 "Upgrade of workspace doesn't work"
## Current Behavior
npx nx migrate latest
Fetching meta data about packages.
It may take a few minutes.
Fetching nx@14.3.6
Fetching @nrwl/storybook@14.3.6
Fetching @nrwl/cypress@14.3.6
Fetching @nrwl/linter@14.3.6
Fetching @nrwl/workspace@14.3.6
Fetching @nrwl/angular@14.3.6
Fetching @nrwl/jest@14.3.6
Fetching @angular/core@14.0.0

- package.json has been updated
- migrations.json has been generat

[2022-06-21 13:14] ACHP opened #10831 "react-native: cache is not invalidated when updating project source on macOS"
## Current Behavior
When creating a new react-native workspace, and running a cacheable command using Nx, Nx always use the cached output even if project file changes.
This is because [Nx Daemon server](https://nx.dev/guides/nx-daemon#logs) is based on watchman (if available) on macOS, and watchman itself "read" [VCS configurations](https://facebook.github.io/watchman/docs/config.html#ignore_vcs).

[2022-06-21 13:59] AgentEnder commented on #10145
Hey @arabull, I can't give a timeline on this but spent some time investigating it. In short, the default hasher for a task includes hashing any arguments passed to it. The **_default_** hasher, can't know how an executor is going to use them, and thus can't make any decisions based on certain args.

It is better for us to err on having extra cache misses compared to any extra cache hits, but I ag

[2022-06-21 14:24] #10831 closed

[2022-06-21 14:25] RoySchiffmannGrip commented on #7451
Hey, @Coly010, any chance there are updates in this regard? :(

[2022-06-21 14:26] AgentEnder commented on #10824
What's `nx report` say?

[2022-06-21 14:27] mandarini commented on #8592
I'm adding all these things into a generator. But it should work as is.

If you follow [these steps here](https://storybook.js.org/addons/storybook-addon-swc), it works.

We could add the `"compiler": "swc"` in the Storybook target configuration for non-angular projects, if you think it will be valuable. I was thinking of just reading it from the `build` target if it exists. Wdyt @danr-za ?

[2022-06-21 14:28] AgentEnder commented on #10821
This was fixed by #10668

[2022-06-21 14:28] #10821 closed

[2022-06-21 14:43] AgentEnder commented on #10807
Can you post more of your github actions workflow? There are some details regarding it that could affect this.

[2022-06-21 15:32] leosvelperez commented on #10804
Thanks for reporting this!

This is a duplicate of https://github.com/nrwl/nx/issues/9869. Please note this was fixed in https://github.com/nrwl/nx/pull/10038 and released on Nv v14.0.4.

Please make to migrate to a version higher than v14.0.4 and up to v14.1.9 which is the latest version with Angular v13 if you need to stay there, otherwise, you can migrate to the latest version.

[2022-06-21 15:32] #10804 closed

[2022-06-21 15:45] leosvelperez commented on #10801
Thanks for reporting this!

Could you run the migrations with the `--verbose` flag and share the output here? Maybe we get a little bit more info with that.

[2022-06-21 15:59] bstrobach commented on #10804
Thank you. Didn’t see this ticket.
And thank you for the Angular 13 hint.

[2022-06-21 16:46] jberrydev commented on #10825
@AgentEnder So my setup is create a Util library, Feature Library, and an App.  Have the Feature library use a function from the  Util library.  Write a jest unit test in the Feature library for the item that uses the Util library.  You should get Cannot find module error.  I am sure this may  be just some configuration or something I am missing, but have tried everything I know and can't write un

[2022-06-21 17:02] mwood23 commented on #8796
Running into this on the latest NX via linux as well

[code]

[2022-06-21 17:43] danr-za commented on #8592
Hey @mandarini
I was assuming that an additional plugin library won't be necessary because nx supports swc OOTB in build targets of non-angular apps.
So maybe its worth preserving the behavior all for Storybook configuration, as IIRC there's a shared webpack config.
Wdyt?

[2022-06-21 18:04] LoyalPotato opened #10836 "Unable to load schema after creating a workspace from scratch"
## Current Behavior

I open `workspace.json` and the `$schema` property has a warning because it wasn't able to load the schema from the node_modules.

I have tried with the full path as well and same problem.
## Expected Behavior

I expected it to be able to read.

No clue if this is a regression :)
## Steps to Reproduce

I created a new folder, ran `npm init -y`. I already had `nx` installed glo

[2022-06-21 18:13] LMFinney commented on #10801
When I returned to that branch and added the `--verbose` flag, the migration completed without incident. I don't know what's different compared to before besides the tag.

Since I can't reproduce my own report, I'm closing this.

Thanks

[2022-06-21 18:13] #10801 closed

[2022-06-21 18:50] xiongemi commented on #10391
currently, we don't support the desktop app. we will get to this feature when we got the bandwidth.

[2022-06-21 18:52] #8963 closed

[2022-06-21 19:04] marckassay commented on #10825
@jberrydev This seems to be the same issue as mentioned in 'nxext/nx-extensions' issue #[688](https://github.com/nxext/nx-extensions/issues/688).

It seems to be a Jest issue.

[2022-06-21 19:23] JulienMichelFr commented on #10659
I've found a fix (and possibly the issue).

When running the command `nx migrate --run-migrations`, it was the global `nx` command that was used instead of the local one.

In order to fix it, you can either use
- `./node_modules/.bin/nx migrate --run-migrations`
- `npx nx@14.3.6 migrate --run-migrations`

[2022-06-21 20:53] jericopingul opened #10838 "Referencing an executor's package name in the same workspace doesn't work"
## Current Behavior
Referencing an executor's package name in the same workspace doesn't work

## Expected Behavior
We should be able to reference like this in the same package
![image](https://user-images.githubusercontent.com/11609982/174894324-fad5062d-299f-48ec-b4d9-b74c69d853c6.png)

Not sure if this is a regression.
## Steps to Reproduce

More details in the slack thread here: https://nrwlco

[2022-06-21 21:10] jberrydev commented on #10825
@marckassay ok, I will try this and post back.

[2022-06-21 21:24] ShadiBlitz commented on #10255
I think you are guys are not following here.
I want to run the nextjs application with SSR support and not having to install all the dependencies of the monorepo.
I want to avoid installing unnecessary packages!!

[2022-06-21 22:27] landonbuttars opened #10840 "wrapAngularDevkitSchematic unable to find schematics in`@angular-architect/ddd' collection."
## Current Behavior

`wrapAngularDevkitSchematic` is unable to find schematics from the `@angular-architect/ddd' collection.

I'm able to use schematics from `@schematics/angular`. Not sure the difference between the two projects, their collections.json looks similar enough.

[code]

## Expected Behavior

wrapAngularDevkitSchematic should find the collection no problem...

## Steps to Reproduce

C

[2022-06-21 22:31] MichaelDeBoey commented on #8019
@npirotte https://github.com/remix-run/remix/pull/3085 is now merged, so in the next release https://github.com/remix-run/remix/issues/2677 won't be a problem anymore

[2022-06-21 22:47] landonbuttars commented on #10840
It seems that the intended way to use an external generator is to import it from the external package. This becomes quite annoying when the third party package doesn't export the generator which is the case with `@angular-architects/ddd`.

A workaround for this was to import the generator function directly from the node_modules.

Should there be a new function or expand the existing function to in

[2022-06-21 22:55] marckassay commented on #10825
@jberrydev The repo link by the author in the 'nxext/nx-extensions' issue I mentioned above, I'm now able to achieve his objective. By the way, that repo has multi branches, so I'm not sure where he left off. In addition to Jest's `moduleNameMapper` being set, set a `paths` entry to the Nx library's index.ts file in tsconfig.base.json, and have 2 sets of TS config files in the Nx project being tes

[2022-06-21 23:40] savvyshell commented on #4159
How has this not been addressed , it's running fine locally, failing in CI with no information.

[2022-06-22 00:16] jmattiace commented on #10565
@KeithGillette the changes in #10414 fixed the issue for me. I would suggest using a debugger to ensure that the changes you made in the dependency file have in fact taken effect.

[2022-06-22 00:25] #5736 closed

[2022-06-22 00:25] #7140 closed

[2022-06-22 00:25] #7122 closed

[2022-06-22 00:25] #7081 closed

[2022-06-22 00:25] #7045 closed

[2022-06-22 00:25] #7080 closed

[2022-06-22 00:33] itsrennyman commented on #10773
Facing same issue too.

[2022-06-22 00:53] mikecann commented on #10810
Ahh okay! Thats quite the gotcha. Yes something should be added for that, ill see what I can do

[2022-06-22 01:16] KeithGillette commented on #10565
Thank, @jmattiace. It turns out the custom `webpack.config.js` was not being run because in step #4 the noted fields actually need to go into the `build.options` property (duh!). That change executed the modified `node-with-require-overrides.js` but still left me with a similar but different error:

`(node:52911) UnhandledPromiseRejectionWarning: ReferenceError: require is not defined in ES module

[2022-06-22 02:01] BePasquet commented on #10100
Hi @barbados-clemens i updated the versions, added that code to the config and preset and is working thanks a lot for the help
[code]

[2022-06-22 03:45] jberrydev commented on #10825
@marckassay so which config should I be updating.  I am not using stencil and only using NX to generate my libraries and apps.  I assume adding the moduleNameMapper to the lib that is using the local library? NX generates at jest.config.js.  I have tried using this, but it can't seem to find modules outside of or the <rootDir>

[2022-06-22 04:20] makhataibar commented on #10824
Node : 16.14.1
   OS   : darwin arm64
   yarn : 1.22.18

   nx : 14.1.1
   @nrwl/angular : Not Found
   @nrwl/cypress : 14.0.5
   @nrwl/detox : 14.0.5
   @nrwl/devkit : 14.0.5
   @nrwl/eslint-plugin-nx : 14.0.5
   @nrwl/express : Not Found
   @nrwl/jest : 14.0.5
   @nrwl/js : 14.0.1
   @nrwl/linter : 14.0.5
   @nrwl/nest : Not Found
   @nrwl/next : 14.0.5
   @nrwl/node : Not Found
   @nrwl/nx-clou

[2022-06-22 04:59] ivandjomegni commented on #10807
My workflow is quite straightforward, if I do an **echo $updatedVersion** right before the **nx run-many** command, it does return the value of the variable, so my guess is it seems like it's the nx run-many command that do not translate variables' values within the target script

updatedVersion = 4.0.0
echo $updatedVersion  **(returns 4.0.0)**
nx run-many --target=updateProjectsVersion --projects

[2022-06-22 05:42] gbisaga opened #10842 "Yarn+NX rebuilds all workspaces with any package.json dependency change"
## Current Behavior

NX rebuilds all yarn workspaces when the package.json dependencies of any workspace change. Since we are using internally-published packages and iterating them frequently, this causes the project to rebuild way too often.

## Expected Behavior

NX only rebuilds workspaces with actual dependency changes.

## Steps to Reproduce

1. Clone https://github.com/gbisaga/nx-rebuild-all

[2022-06-22 05:48] wangzishi commented on #10825
I had almost the same problem, jest reported an error when running the test that `Cannot find module '@myorg/mylib' from 'src/lib/foo.ts`

[2022-06-22 06:02] jberrydev commented on #10825
@wangzishi I think the jest.config.js at root basically grabs the jest projects, but not sure it is working.  Basically anybody having this issue you must basically add all of your library dependencies to the moduleNameMapper to their folder locations and you must use <rootDir>.  If you have images and such you may have to also add the file mock and image modules.  Again this was all after a migra

[2022-06-22 06:30] usamazansari opened #10843 "Cannot use a common abstract class across Angular and NestJS"
## Current Behavior

In an Angular-NestJS workspace, I try to use an `abstract` class across the frontend and the backend.
NestJS Application is compiled successfully, but the Angular application gives and error.

## Expected Behavior

The classes extending the common abstract class should work without any compilation errors in the frontend as well as the backend.

## Steps to Reproduce

1. Create

[2022-06-22 07:37] sluger commented on #10768
We are experiencing the same error message with a `lint-staged` script:

[code]
Running `$ npx lint-staged -d`:

[code]

While the command itself runs through successfully:
[code]

Using nx version `14.3.6`

[2022-06-22 08:01] meeroslav commented on #10768
Hey @sluger can you try to run the lint-staged with the `NX_VERBOSE_LOGGING=true` environment variable set and/or provide a minimal repo?

I'm wondering where the `'_' is not found in schema` comes from.

[2022-06-22 08:15] ShiJuuRoku commented on #10303
I have same issue when made `nx g mv` with `Nx 14.1.9`
 - `.eslintrc.json`  (`extends` property)
 -  `ng-package.json` (`dest` property)
 - `project.json` (`$schema` property)

[2022-06-22 08:27] jon9090 commented on #10773
@codewaseem , @itsrennyman you can vote in the @wizardnet972 post to promote the issue

[2022-06-22 08:35] PointSingularity commented on #5539
@ciriousjoker  Have you been able to do this successfully?
I am able to start chrome after nx serve finishes, but the breakpoints are unbound :\

[2022-06-22 08:50] MirkoDaumann commented on #10829
Problem was been solved. Was an issue on my side. Can be closed. Thanks.

[2022-06-22 08:50] #10829 closed

[2022-06-22 09:20] tanepiper opened #10844 "Regression: Workspace Run Commands no longer accepting optional properties"
## Current Behavior
When running `nx:run-commands` executor - optional properties are being ignored

## Expected Behavior
When running `nx:run-commands` executor - optional properties should be added as arguments to the call

This appears to be a recent regression:

[code]

The following config is no longer working with the lastest version, but works if I go to `main` which has the older version:

[2022-06-22 09:24] mandarini commented on #10357
@prewk I'm so sad to hear that! Can you let me know of your issue and I'll try my best to help. We strive to make the integration as stable as possible, so I'm really trying to sort out any bumps that people are experiencing!

[2022-06-22 09:42] usamazansari commented on #10843
I tried in a new project with stock `angular-nest` workspace, it seemed to work. But when I try to apply the same to my project it crashes.
I suspect it might be due to `GraphQL` being used in the backend.

[2022-06-22 09:48] leosvelperez commented on #10840
Thanks for reporting this!

The `wrapAngularDevkitSchematic` helper resolves an Angular DevKit schematic and returns a function that can be used to invoke the schematic as a generator function. For that to work, the Angular DevKit schematic must be defined in the collection. In this case, there are no schematics defined in the `@angular-architects/ddd` collection, there are only generators, and th

[2022-06-22 09:48] #10840 closed

[2022-06-22 09:49] nhhockeyplayer opened #10845 "Entity interface should be named 'what it is' for any given store"
SUBJECT: add option to name the Entity interface

## Description

an option ( or better yet automate it silently) to name the Entity interface specific to the name of the store

## Motivation

its preventing fluid coding after adding multiple NgRX state/stores...developer has to backpedal and rename interfaces to keep them unique from colliding

all are generated with name Entity
when if you creat

[2022-06-22 09:50] batbrain9392 opened #10846 "ts-node not found after upgrade from nx v13 to v14"
After upgrade from `"@nrwl/cli": "13.10.0"` to `"@nrwl/cli": "14.3.6"`, tests fail. This is probably due to the migration tool not installing `ts-node`. After manual installation of said package, the tests pass again.

## Current Behavior
Jest tests fail after upgrading from `"@nrwl/cli": "13.10.0"` to `"@nrwl/cli": "14.3.6"`.

## Expected Behavior
Jest tests should pass after the upgrade.

## Ste

[2022-06-22 10:05] savvyshell commented on #4159
[code]

I added this to my actions.yml file and it seems to do the trick. Rather than rely on `nx format:check`, I hand it over to prettier since it's tied to my eslint configuration and I'd imagine format:check is using part of that anyways. I have it auto format with prettier followed by nx format:write just to be safe before checking with both prettier and nx format.

It's probably not necessar

[2022-06-22 11:07] prewk commented on #10357
@mandarini That's kind, I don't except that kind of service from a free product so don't sweat it!

I and others seem to have been able to resolve it by [deleting node_modules](https://stackoverflow.com/questions/72401842/storybook-initial-config-for-react-throws-error/72711937) which is a bit annoying debugwise, but now it works.

A short history is that I removed `node_modules` earlier, and remo

[2022-06-22 11:37] icastillejogomez commented on #10768
But is not possible to specify a path to eslint yet? I understand that this pull request makes that the eslint executor will be ignoring all extra arguments. isn't it?

[2022-06-22 11:50] SanthoshRaju91 opened #10850 "Use @workspace-name instead of @myorg"
### Documentation issue

- [ ] Documentation improvement
- [ ] Documentation feedback

### Is there a specific documentation page you are reporting?
Yes, https://nx.dev/react-tutorial/07-share-code

### Additional context or description
Instead of `@myorg/data`, could we use `@[workspace name]/data` as this aligns with the `npx create-nx-workspace [workspace name]` command in initial part of the t

[2022-06-22 11:55] meeroslav commented on #10768
It will ignore them during the validation - it will simply not break if unknown parameter is set and will pass them to eslint.

Additionally, the original error message is now improved showing you what exactly caused the failure instead of "_ is missing from schema"

[2022-06-22 12:01] icastillejogomez commented on #10768
Firsts of all I'm excited of the very well job you're doing with nx.

I need to solve two easy questions please:

1. what versión will contains this changes?
2. could be possible with the nx eslint executor to pass the regex or file paths and not execute the linter with all files? And with the test executor that use jest inside of it could be possible define this relative regex to run only certain

[2022-06-22 12:13] prewk commented on #10357
Update: Re-created the problem when using `nx g storybook-configuration xxxx` and then starting the storybook!

And, again, solved with `rm -rf node_modules && yarn`.

[2022-06-22 12:23] ciriousjoker commented on #5539
@PointSingularity

[code]

[2022-06-22 12:28] meeroslav commented on #10768
This fix will be contained in the next version - either 14.4.0 or 14.3.7, whichever comes next.

Check this commit - https://github.com/nrwl/nx/commit/6a65101ec239f1b3eae28734e4109b56a3700599.

In the next version, you will be able to define `fileset` pattern/glob per target to ensure target is affected only by a subset of files - e.g. `build` should not care about `spec` files, while `test` cares

[2022-06-22 13:31] marckassay commented on #10825
@wangzishi It's for Nx projects, if needed, to "extend" from that use Jest. Similar to tsconfig.base.json files in relation to sub-projects that use TypeScript. However, I never used it or confirmed that `getJestProjects()` is working as expected. See [here](https://stackoverflow.com/a/42236602/648789) for short discussion.

[2022-06-22 14:03] fikkatra commented on #10659
This works, thanks a lot!

[2022-06-22 14:26] marckassay commented on #10825
@jberrydev To answer your question:

You can utilize what @wangzishi questioned. In short, move `moduleNameMapper` to the workspace jest.config.ts file. And `import` and spread the root Jest config object in the Nx project's Jest file:

[code]

Perhaps that will reduce maintenance. As for if this is a new issue or Nx development team should resolve this, I don't know enough about historical develo

[2022-06-22 14:57] ciriousjoker commented on #5539
@PointSingularity Can't help you sorry.. for me it works perfectly :/

[2022-06-22 14:58] AgentEnder commented on #10843
This should work, but you should create a library that is frontend/backend agnostic and doesn't contain any imports into code that is technology specific.

For your shared library, you can set up banned imports that may help track it down. See: https://nx.dev/structure/monorepo-tags#banning-external-imports

[2022-06-22 15:56] stefanholzapfel commented on #10244
+1

[2022-06-22 16:01] its-ratikant opened #10854 "How to create documentation.json for each project configured with storybook?"
`nx g @nrwl/angular:storybook-configuration <project-name>` does not create documentation.json for that specific lib / app. How to create documentation.json for each project which are configured with storybook? Can we have some kind of executor/task or so to generate it? something like: `nx run project-name:generate-doc` and also can it be even part of storybook runner task?

For Angular we have t

[2022-06-22 16:07] BeniTheDuke commented on #10776
deleting the "node_modules" folder  before `npm install` solved the problem for me

[2022-06-22 16:30] jberrydev commented on #10825
@marckassay Understood.  I just feel I shouldn't have to be doing this.  The issue for me though is that my lib directories are 3 levels deep and my apps are only 2, so I can't put the paths at the top level.  At least I am getting errors when doing it at the top level assuming that is the issue.  Thanks for the help everyone.  Hopefully this helps others.

[2022-06-22 17:12] marckassay commented on #10825
@jberrydev I just came across closed issue #10660, take note of [this](https://github.com/nrwl/nx/issues/10660#issuecomment-1152366240) comment. Not sure if that fix got deployed in the build you're using or is even the same issue.

[2022-06-22 17:41] AgentEnder commented on #10819
There's not a generic scope for web, and the people that maintain the roll-up executor look at the react scope.

[2022-06-22 17:52] Lusito commented on #10819
Ah, okay. Thanks for the clarification.

[2022-06-22 18:52] sarveshraj opened #10856 "`deleteOutputPath` option should delete the contents and not the directory itself"
## Current Behavior
`@nrwl/node:webpack` executor deletes the output folder before execution. This is due to `deleteOutputPath` option being set to `true` by default.

Any target using `@nrwl/workspace:run-commands` executor with the `cwd` option set to the output path and one of the commands set to the target using `@nrwl/node:webpack` executor fails. The failure is because `@nrwl/workspace:run-c

[2022-06-22 19:38] LeonardoGobbiLopez commented on #9717
Actually you only need to add the `"sideEffects": false` to the package.json

[2022-06-22 19:46] joshribakoff-sm commented on #9717
That was not my experience.  In my original issue report, I found that Nx is passing `optimization: { sideEffects: false }` to webpack, which  explicitly turns off tree shaking regardless of your package.json contents. The library that was not being tree shaken in my original issue (lodash-es) already has it's own `package.json` where it specifies the required setting to facilitate optimal tree sh

[2022-06-22 20:04] LeonardoGobbiLopez commented on #9717
Got it! In my case simply adding to package.json made me get the desired result, I did as you said and I got no difference from just adding it to the package.json. I think it's because webpack already takes the package.json sideeffect into consideration

https://webpack.js.org/guides/tree-shaking/

But either way this was a great find! Thanks a lot

[2022-06-22 20:50] Coly010 commented on #10845
Entity suffix is fine, it matches the creator syntax and it matches the pattern of NgRx Entity already.

I’ve a PR that adds the name of the Entity to the start of the interface name. This should suffice. Unfortunately we can’t control what other interfaces and models are named within user codebases so there’s only so much we can do.

Typescript and JavaScript offer solutions to circumvent name cl

[2022-06-22 21:18] femi-ojemuyiwa-aa opened #10859 "Nx serve doesn't serve assets from libs anymore"
Sorry it's been a long day

libs with assets

app with project.json
unser assets:
 {
    "glob": "**/*",
    "input": "libs/project-name/src/assets/fonts",
    "output": "/assets/fonts/"
 }

works with build into dist folder 100% serve throws 404

# versions
 "dependencies": {
    "@angular/animations": "14.0.2",
    "@angular/common": "14.0.2",
    "@angular/compiler": "14.0.2",
    "@angular/cor

[2022-06-23 00:07] lmiller1990 commented on #10591
Another alternative would be to just install Cypress and use the built-in migration UI - it's not a terminal based workflow like most nx users might like, but it works pretty well, and for most code bases will get you migrated in <1m. If it isn't working for me, you could just make an issue or ping me (I wrote most of the code for it).

[2022-06-23 04:32] savvyshell opened #10861 "Minor: please add "component" to @nrwl/angular/generators barrel export"
- [*] I'd be willing to implement this feature ([contributing guide](https://github.com/nrwl/nx/blob/master/CONTRIBUTING.md))

## Description

Adding the component generator to the barrel export in `@nrwl/angular/generators`.

## Motivation

I had trouble finding the component generator to use for my custom plugin generator. It took a bit of digging around to realize the barrel export file (genera

[2022-06-23 04:37] savvyshell commented on #9151
I'm using `npx prettier --check .`  to get a list of errors since nx format check lacks verbose info.

[2022-06-23 06:48] danr-za commented on #10591
But that does not include component testing. @lmiller1990

[2022-06-23 06:58] SuneRadich commented on #8950
Is this confirmed as being related? I see the DefinePlugin error after migrating to nx 14.1.9, but I am not currently seeing any issues with the daemon.

[2022-06-23 07:07] wangzishi commented on #10825
I found that the issue I was having was related to esm.

When it was declared as esm
[code]

I must set `moduleNameMapper` in `jest.preset.js` to solve the problem.
[code]

When js files treated as commonjs
[code]
Everything works again. Looks like nxPreset only works in commonjs.

[2022-06-23 08:40] #10845 closed

[2022-06-23 08:52] leosvelperez commented on #10861
hey @savvyshell!

Would you like to create a PR with this? If you're up for it, you can go ahead and add the export in the `packages/angular/generators.ts` file.

[2022-06-23 08:59] mandarini commented on #10357
Thanks @prewk ! :)

[2022-06-23 10:13] Bielik20 commented on #9034
@FrozenPandaz Could we address this somehow? I have just made a jump from version `14.1.9` to `14.3.6` and now it doesn't even work for the same executor. I went through release changes but haven't seen anything that would touch upon this.

Again, I am willing to make a PR with the "Alternate Implementations". I must sadly say that this is not the first time that `dependsOn` breaks in the update.

[2022-06-23 10:45] #10830 closed

[2022-06-23 11:08] balkarov commented on #8773
Hello. Any solution?

[2022-06-23 11:35] NazarKalytiuk commented on #8773
Looks like it is not possible. Only for buildable libraries.

[2022-06-23 12:51] chioarub opened #10865 "Cannot generate Angular application"
After installing "@nrwl/angular": "^14.3.6" I am not able to use the Nx Console or the CLI to generate Angular applications

## Current Behavior
TypeError when generating Angular applications using Cli/NxConsole plugin

## Expected Behavior
Generate Angular applications using Cli/NxConsole plugin

## Steps to Reproduce
Run the following commands to reproduce the issue.
[code]

### Failure Logs
[co

[2022-06-23 12:53] bogdan2510 opened #10866 "SyntaxError: Cannot use import statement outside a module"
## Current Behavior

Running `nx test` in an `@nrwl/expo:library` fails with `SyntaxError: Cannot use import statement outside a module`

## Expected Behavior

To be able to run test

## Steps to Reproduce

1. Run `npx create-nx-workspace@latest --packageManager yarn` and pick the `app` option
2. Add `@nrwl@react` and `@nrwl/expo`
3. Generate a `expo` app and `expo` lib
4. Generate `expo:component

[2022-06-23 13:31] rhutchison commented on #10865
@chioarub try `npm i -D @angular-devkit/schematics`

[2022-06-23 13:35] #10865 closed

[2022-06-23 13:35] chioarub commented on #10865
installing @angular-devkit/schematics solved it.

[2022-06-23 14:18] AgentEnder commented on #10859
Can you post the rest of your project.json? The implementation of assets depends on which executor is running,

[2022-06-23 14:24] danielsharvey opened #10868 "Target `defaultConfiguration` should be passed to `dependsOn` targets"
## Current Behavior
I have an `update-config` target which is included using `dependsOn` as follows:
[code]

When called with an explicit configuration this is passed to the `update-config` target:
[code]

When called without an explicit configuration this is **NOT** passed to the `update-config` target:
[code]

## Expected Behavior

I expect that a call to `nx run dummy:serve` which utilises the

[2022-06-23 14:28] barbados-clemens commented on #10866
hi @bogdan2510 looking at the changes you made.

it looks like you have both a jest.config.ts and jest.config.js in your app.
While the jest.config.js file contains the correct react-native configurations. the project.json is pointing towards the jest.config.ts file (that lacks the configs for react-native)

I'd suggest you move the config items from jest.config.js to jest.config.ts and delete the

[2022-06-23 14:32] danielsharvey commented on #10868
I'm happy to look at a PR, but would like confirmation on whether my expectation is correct.

[2022-06-23 14:55] xiongemi commented on #10866
@bogdan2510 for the lib you generated, you might have to change jest.config.ts for your expo-ui library.

[2022-06-23 14:59] bogdan2510 commented on #10866
@xiongemi What i need to change?

[2022-06-23 15:34] Phault opened #10871 "`createGlobPatternsForDependencies` fails when a dependency has no `sourceRoot`"
## Current Behavior

When you use createGlobPatternsForDependencies() on project A which has a dependency to project B, where project B has no sourceRoot configured, it throws the error "Error when generating globs". This happens because getSourceDirOfDependentProjects() returns `[undefined]`, which makes the subsequent [mapping](https://github.com/nrwl/nx/blob/803333aea5c399193e38c9a9a41c21beb171

[2022-06-23 15:52] hevans90 commented on #10856
I just tried setting `deleteOutputPath` to false (as I wanted this behaviour on one of my builds), and it doesn't seem to even work?

https://nx.dev/packages/node/executors/webpack#deleteoutputpath

<img width="613" alt="image" src="https://user-images.githubusercontent.com/12142999/175341762-078cf613-bcc2-44c6-b302-68a653a81db7.png">

[2022-06-23 15:59] hevans90 opened #10872 "`deleteOutputPath`: `false` with `@nrwl/node:webpack` doesn't work"
## Current Behavior
The output folder is wiped before my node project is built.

## Expected Behavior
I expect it not to be (`node_modules` should remain)

## Steps to Reproduce

<img width="566" alt="image" src="https://user-images.githubusercontent.com/12142999/175343122-86f96953-8820-4780-b9c9-c39e9c43c0e3.png">

### Environment

[code]

[2022-06-23 16:25] AgentEnder commented on #10868
I don't think this should be the expected behavior, since the defaultConfiguration for one project may not exist on its dependencies.

[2022-06-23 16:28] AgentEnder commented on #10872
This option was added in 14.2.4 I think, can you check with latest?

[2022-06-23 16:39] janewang commented on #10819
+1 for us

[2022-06-23 16:53] #9721 closed

[2022-06-23 16:54] mandarini commented on #9045
Hi there @pvds ! I'll go ahead and close this, because I'm pretty sure that's fixed in the latest version of Nx. If you find that the issue persists, please feel free to reopen! :)

[2022-06-23 16:55] xiongemi commented on #10866
@bogdan2510 yes, exactly. could you try it run test again?

[2022-06-23 16:59] bogdan2510 commented on #10866
@xiongemi I moved stuff to `jest.config.ts` and run the test.

**This is the result**

` FAIL   expo-ui  libs/expo-ui/src/lib/expo-btn/expo-btn.spec.tsx
  ● Test suite failed to run

    Cannot find module '@babel/plugin-transform-flow-strip-types'
    Require stack:
    - /Users/bogdan/Documents/proiecte/nx-examples/node_modules/react-native/jest/preprocessor.js
    - /Users/bogdan/Documents/proi

[2022-06-23 17:02] mandarini commented on #8592
Actually, that last part I said about adding it to the `storybook` target, the `compiler` option, it does not really make sense. I was not thinking clearly when I wrote it 😅.

What we *can* do, is add a `compiler` option to the `storybook-configuration` generator. But I think this will come at a later point, as an enhancement.

After my PR is merged, all glitches will be out, in regards to the gen

[2022-06-23 17:07] bogdan2510 commented on #10866
@xiongemi After adding some modules(because i got erros saying that they are missing) test  run was a success.

modules added:

1. `yarn add @babel/plugin-transform-flow-strip-types -D`
2. `yarn add @babel/plugin-transform-react-jsx-source -D`

Is this the expected behaviour?

[2022-06-23 17:12] jrista opened #10873 "Unable to use @nrwl/angular:component generator in custom nx workspace-generator"
## Current Behavior
When creating a simple custom workspace generator with Nx 13 (we are currently unable to use 14 due to the need to use Ionic, and the incompatibility of @nxtend/* with Nx 14), we are running into an issue where some of the generators, notably the angular component generator, are not properly included in the generators.d.ts file nor specified in the "exports" of the library's pa

[2022-06-23 17:18] xiongemi commented on #10866
I never installed @babel/plugin-transform-flow-strip-types and it works for me out of the box. it should be installed as a dependency for metro-babel-register. however, good to hear it works.

[2022-06-23 17:42] #8592 closed

[2022-06-23 17:42] #10619 closed

[2022-06-23 17:46] Djiit opened #10875 "Library dependencies missing in app project"
## Current Behavior

I'm running a NextJS app inside Docker, COPYing only the `dist/apps/mynextapp` folder into my Docker image.

When starting next, browsing any page tells me it's missing a dependency; which belongs to `mylib` (generate with react:library), a workspace lib imported by the app.

## Expected Behavior

Lib dependencies should be available, either bundled or present in the package.j

[2022-06-23 18:07] merlosy commented on #5429
Hi, this is still happening in `13.10.5`.

The `@nrwl/workspace/src/utils/ast-utils.js` seems to be the cause of the issue.

[2022-06-23 18:20] merlosy commented on #6876
Hi!
[code]
seems to do the trick for me, with some changes in the code to adapt.

[2022-06-23 18:45] mikestecker commented on #7983
The latest update (as of today) for 14.3.6 seems to no longer have this issue.

[2022-06-23 19:23] hevans90 commented on #10872
Migrated to `14.3.6` and seeing the same behaviour.

[2022-06-23 19:37] Phault commented on #10312
Pretty big issue I'd say, as this can lead to shipping broken production builds. In our case the CI built production builds, then ran e2e tests which mistakenly was testing with serve:development, if tests succeeded it would deploy. That's obviously not great, but the deploy step was dependent on build:production, so it should've been all good. Nx said there was a cache hit but the development bui

[2022-06-23 20:16] barbados-clemens commented on #10808
@danr-za I just tried this locally and it works correctly.
the only issue is the args nx shows is showing `[object Object]` vs the actual argument but the args are sent to cypress correctly.

https://user-images.githubusercontent.com/23272162/175391323-016fb307-13e7-42c2-8dab-e628d939667c.mp4

[2022-06-23 20:25] ppinel commented on #10580
Hello,

I am facing the same issue. Why is this a feature and not a bug ?

[2022-06-23 20:33] nhhockeyplayer commented on #10845
well these are obvious enough for minimal baseline harmless intent and will fly easy

here is another...
say we have an Auth ngrx store

what Im seeing is that the `AuthPartialState` is the generated code for consumers to inject into constructors.
[code]

what would make tons of sense to the developer consuming this code is that is be named AuthStore

and I use it in my code as follows

[code]

St

[2022-06-23 20:40] nhhockeyplayer opened #10879 "cmd line option for STORE with relevant rigging"
Introduce a cmd line option during @nrwl/angular:ngrx schematic code generation for (nxconsole too)

- STORE
- COMPONENT STORE
- ENTITY STORE

but none so far I can see.

This would eliminate alot of undoing redoing immediately after the code generation. And Im generating a ton of stores now. These little bits will help and go far. Example... My hitcount needs no entity store... its just one insta

[2022-06-23 20:40] nhhockeyplayer commented on #10845
https://github.com/nrwl/nx/issues/10879

[2022-06-23 21:53] alexey-chuprina commented on #8782
After migrating to v14 another error with the fetch.
Hi, @Fafnur, maybe you know a solution?
PS: try to migrate your repo "banshop" to v14 and you will see errors. :(

[2022-06-23 22:08] nhhockeyplayer commented on #10845
well the naming collisions continue to grow
and this can be nipped in the code generation from the schematic

I added a bunch of stores... into a shared root library
all my ngrx stores have an initialState variable

and that needs to have the NAME OF THE STORE pre-pended to it to avoid multiple naming collisions after code is generated. Otherwise we need to double back and refactor and its not fun

[2022-06-23 22:09] nhhockeyplayer commented on #10845
[code]

[2022-06-23 22:22] nhhockeyplayer opened #10880 "exported reducer members not unique to survive real-world modeling"
SUBJECT: exported reducer members not unique to survive real-world modeling

## Current Behavior
I created a shared-root-library with 5 or 6 data stores... user, spinner, app, auth, setting (things a typical app might want)

Not sure how widespread this goes for either creators/classes it cwertainly applies to nxconsole code generator... but I cannot compile when all code generated the generated e

[2022-06-23 22:25] nhhockeyplayer commented on #10880
False alarm... putting this one on hold

[2022-06-23 22:25] #10880 closed

[2022-06-23 22:33] nhhockeyplayer commented on #10880
maybe a review of this collision issue is in order for classes/creators

thanks

[2022-06-24 00:39] lmiller1990 commented on #10591
There is a migration screen and workflow for component testing, too. It is not working for you?

CT is a bigger shift since we now bundle a bunch of things for you, like `cypress/webpack-dev-server`, `cypress/react` etc - all you need is basically two lines in your `cypress.config.js`:

[code]

The UI should help w/ both migration and configuring. Let me know if it doesn't, has bug, or you need ge

[2022-06-24 03:38] its-ratikant commented on #10854
Hi, any ways we can achieve this?

[2022-06-24 03:40] laneme commented on #8297
For those still being skeptical, you likely wont have any problems with the methods provided above.

If you look into what nx generates for you when you run the nrwl/express generator, you'll notice it is identical to a `@nrwl:node` application. So all you have to do install fastify and place it on `main.ts`.

[2022-06-24 03:50] rubiagatra commented on #8297
yes we using fastify by `@nrwl/node`

[2022-06-24 07:24] giantape commented on #10829
Hi @MirkoDaumann sorry to reopen this, could you please reposting how do you resolve this problem?
thank you very much.

[2022-06-24 08:17] mandarini commented on #10854
Hi there @its-ratikant !

So, I see you're using Angular with Storybook and Nx. In that case, you can use the [Storybook official documentation for how to create docs](https://storybook.js.org/docs/angular/writing-docs/introduction).

If you're using React with Storybook and Nx, I dare say the process would be quite similar, here's the [Storybook documentation](https://storybook.js.org/docs/react/

[2022-06-24 08:46] #10097 closed

[2022-06-24 08:48] filarrro commented on #8218
@CodeAndWeb I have the same problem that auto-refresh is not working and I need to refresh the page manually to see the changes. No matter if JIT mode for tailwind is ON or OFF.
Have you managed to resolve this issue? Or anyone?

I have project generated based on "@nrwl/cli": "14.3.6", "tailwindcss": "^3.1.4" and "react": "18.2.0".

[2022-06-24 09:08] Fafnur commented on #8782
@alexey-chuprina I have updated two projects - [banx](https://github.com/Fafnur/banx) and [banshop](https://github.com/Fafnur/banshop). Everything works as before.

Try to remove node_modules and lock files(package-lock.json, yarn.lock) and install packages.

[2022-06-24 09:17] Nick-Lucas opened #10884 "generatePackageJson created with no dependencies in nestjs project after 13->14 upgrade"
This project was originally created on nx 13 and we are using the generatePackageJson option for our nestjs api to ship minimal dependencies.

## Current Behavior

After an otherwise successful upgrade to nx 14, the generated package json is now empty:

[code]

## Expected Behavior

The generated package.json contains all dependencies which the nestjs api consumes. This was already working on NX 1

[2022-06-24 09:19] Coly010 commented on #8782
@Fafnur  Can you check in your lock file? When I clone your repo and run `yarn install`, I see the same errors as @alexey-chuprina.

This leads me to believe there are package resolution issues that the lock file would solve.

[2022-06-24 09:32] #10861 closed

[2022-06-24 09:32] #10873 closed

[2022-06-24 09:51] icastillejogomez opened #10885 "Typescript jest environment issue on fresh Next.js instalation"
## Current Behavior
I'm getting a `Cannot find name 'describe'. Do you need to install type defenitions...` on VSCode error lens plugin.
The coverage folder was not created too.

## Expected Behavior
No errors shown as my other apps like express, nest.js

## Steps to Reproduce
If someone need it a can grant him/her access to my private repo. Anyways this is my ts configuration:

[code]

`root/tsco

[2022-06-24 09:53] Coly010 commented on #10460
@yharaskrik Can you try again with the latest version of Nx to see if this still exists?

[2022-06-24 10:26] icastillejogomez commented on #10885
Okay, removing the property `typeRoots` in my `apps/frontend/tsconfig.json` file VSCode can find the Jest environment.

I do this change cause I have a file inside `types` folder `global.d.ts`...

Adding that file inside my `includes` files works everything well:

[code]

[2022-06-24 10:26] #10885 closed

[2022-06-24 10:38] Nick-Lucas commented on #10884
It looks like the project graph being passed to [workspace/src/utilities/create-package-json](https://github.com/nrwl/nx/blob/master/packages/workspace/src/utilities/create-package-json.ts) is not complete. Essentially it's missing data in the graph.dependencies object.

Minimal workspace:

[code]

Our project workspace. All dependencies are missing any content in their dependency lists:
[code]

[2022-06-24 11:06] danielsharvey commented on #10868
@AgentEnder Isn't that true for the case when the configuration _is_ specified? How is that different?

i.e. my example `nx run dummy:serve:development` passes the configuration through to the dependent target - should it not?

[2022-06-24 11:18] Nick-Lucas commented on #10884
Okay so looks like the jsPluginConfig passed into https://github.com/nrwl/nx/blob/c3b7db8c0ec6c0221a06907beae5cf30e03d9474/packages/nx/src/project-graph/build-dependencies/build-explicit-typescript-and-package-json-dependencies.ts is to blame.

By default it has `{ analyzeSourceFiles: false }` and modifying the code to run this branch regardless causes Nx to output dependencies to the package.json

[2022-06-24 11:22] AgentEnder commented on #10868
I can see how it could be confusing, but it feels like it makes sense that when manually specifying a configuration it's passed to all targets vs the default for each target being used otherwise.

I'm not sure on this, definitely wouldn't mind other options @FrozenPandaz

[2022-06-24 11:23] dwfee commented on #10255
I'm having the same problem trying to deploy multiple nextjs ISR apps, using libs for comonents etc. Nx does not even do the package.json correctly. Server.js is not ported etc. So I'm thinking of doing whole nx monorepo in docker. I'm using wsl, with the same distro as my server. Hopefully this works.

[2022-06-24 11:28] danielsharvey commented on #10868
Fair, thanks. Perhaps, it could be an optional parameter when defining a default configuration? (whether it is propagated or not)

I am certainly liking the dependsOn feature - it has enabled me to remove multiple embedded `nx run ...` and rely on a single task graph.

[2022-06-24 11:41] Nick-Lucas commented on #10884
Now that I've been through all the debugging and found the root cause, the search function was finally able to find a solved issue, this is a duplicate of #10785 so I will close this

[2022-06-24 11:41] #10884 closed

[2022-06-24 11:49] krystianjj commented on #10591
For me is working after change NX `project.json` configuration and point new cypress config file.
```"cypressConfig": "apps/application-e2e/cypress.config.js",```

[2022-06-24 12:57] khalilou88 commented on #10298
I believe it's correct now at least in version 14.6.3

[2022-06-24 13:56] cnschwarz commented on #10513
Hi @AgentEnder

1. Is there an update on when this ticket will be fixed/merged?

I am also developing inside a company network and this causes a lot of trouble because Nx is ignoring the defined proxy configurations and it's not usable. In my company certain operations outside of the defined configurations/folders in the *.npmrc are completely blocked.

2. Is there any workaround you have in mind

[2022-06-24 13:59] sir-captainmorgan21 commented on #10773
Solution for me here: https://github.com/nrwl/nx/issues/10785#issuecomment-1159017136

[2022-06-24 14:20] wizardnet972 commented on #10773
@sir-captainmorgan21 sorry but the solution is not work in my repo:  https://github.com/wizardnet972/nx-npm-preset.git

I add  this to nx.json and run  `yarn nx run foo:build` - got the same error.

https://github.com/wizardnet972/nx-npm-preset/blob/main/nx.json#L18

[code]

[2022-06-24 14:44] mteterel commented on #10256
Any update on this ? I'm having the same problem across different projects (Docusaurus, NestJS, Next...). Redeploying from Vercel without Build Cache fix the issue briefly.

[2022-06-24 15:12] tunecino commented on #10678
Same error here when running a dry run of `npx nx generate @nrwl/angular:library`.

[code]

Removing node_modules didn't fix it for me.
In my case, the solution was to add `@angular-devkit/schematics` as a dev dependency.
That fixed it.

[2022-06-24 15:45] seloner commented on #10642
I am facing the same issue.
I am using vercel too .

Remote

Cloning completed: 1.815s
--
18:42:42.702 | Running "npx nx-ignore hotel --verbose"
18:42:52.115 | ≫ Using Nx to determine if this project (hotel) is affected by the commit...
18:42:52.307 |  
18:42:52.307 | ≫ Comparing HEAD^...HEAD
18:42:52.308 |  
18:42:53.608 | ≫ Affected projects:
18:42:53.608 | -
18:42:53.608 |  
18:42:53.609 | 🛑 -

[2022-06-24 15:48] wgbnyes opened #10887 "loadRemoteModule() not work when run in SSR mode"
## Current Behavior
When the host app is configured for SSR and in the browser we directly load a URL that points to a micro front-end, the loadRemoteModule() method returns the following error: "**Only URLs with a scheme in: file, data are supported by the default ESM loader. Received protocol 'http:'**"

## Expected Behavior
What would be expected would happen as in a normal non-SSR app: loadRem

[2022-06-24 15:48] ndcunningham commented on #10310
Hey! thanks for reporting this!
It does look like this is an _actual_ enhancement to `http-server`
There was a feature/issue filed https://github.com/http-party/http-server/issues/595 asking for a feature like what you were asking.

The best approach to this is to/wait for a PR on `http-server`'s repo.

Currently, for your case, a short-term solution is to use some sort of reverse proxy server lik

[2022-06-24 15:49] its-ratikant commented on #10854
Thanks a lot for your help!!

I am able to create docs (documentation + documentation.json) using below task runner:

[code]

I needed documentation.json to get generated as it is required to show the doc properly and even controls as per the type definition of each property.

Now I want `generate-docs-json` as a part of the below task executor, so that it will create the documentation.json first

[2022-06-24 15:56] NZaleski commented on #10642
One thing I think that I did that was wonky is when I would just update the root project, and expect all apps to get rebuilt, but I think what happens is it doesn't actually get rebuilt until I make an actual code change in that app.

Maybe that is a problem you, or someone else, are/is facing

[2022-06-24 16:01] seloner commented on #10642
I have a vercel.json file inside the app folder because I want to do some url rewrites.
I am changing the file then commit and push .
Vercel is canceling the deploy .
Maybe the issue is that the vercel.json is outside of source folder ?
I dont think so because when using the command local it is working fine .
The issue is when is running on vercel.

[2022-06-24 16:28] jrista commented on #10873
To be clear, merging the fix we required into Nx 14 does not actually solve the problem for our particular use case. I have provided details on the two PRs involved in fixing this issue, including the one that was merged to Nx 14, for more details.

It is my contention that this issue is not fixed in a way that will work for us, and should be re-opened given we are RESTRICTED to using Nx 13 for ou

[2022-06-24 17:11] barbados-clemens commented on #10719
So did some more debugging today, this _looks_ to be related to [esbuild process getting killed via host system](https://github.com/evanw/esbuild/issues/320) due to resource limits.

<details>
  <summary> I did some investigation via nrwl/nx-examples/pull/209 and was able to get the error of esbuild trying to write to a close pipe</summary>

[code]
</details>

as for the fix here, I'm not 100% sur

[2022-06-24 17:22] its-ratikant commented on #10854
This way it works!!

[code]

[2022-06-24 17:37] anthonyma94 commented on #10696
I ended up installing a fresh VM of Ubuntu and that fixed the problem for now, will close the issue. Thank you for everyone's help.

[2022-06-24 17:37] #10696 closed

[2022-06-24 19:05] crowmagnumb commented on #9168
Mine were in a different section...
[code]
But yes changing from `node:execute` to `node:node` fixed it.

[2022-06-24 19:38] luxaritas opened #10890 "Add support for generator argument passthrough"
- [ ] I'd be willing to implement this feature ([contributing guide](https://github.com/nrwl/nx/blob/master/CONTRIBUTING.md))

## Description
Currently, if I want to use a generator in another generator, all options have to be surfaced by the initial generator and forwarded explicitly to the "sub-generator". It would be convenient to have a utility for calling sub-generators where:
1) If an option

[2022-06-24 19:40] luxaritas opened #10891 "Support prompts in workspace presets"
- [ ] I'd be willing to implement this feature ([contributing guide](https://github.com/nrwl/nx/blob/master/CONTRIBUTING.md))

## Description
Currently, if I have a custom workspace preset, configuration must be passed by command line arguments. It would be great to support prompts

## Motivation
Currently, if I require a value, I can't ask the user to provide it if it hasn't been provided already

[2022-06-24 20:19] montella1507 opened #10892 "@nrwl/angular:move generates backslashes on Windows in file paths"
## Current Behavior
1) `nx generate @nrwl/angular:move --destination=assist/shared/translations --projectName=assist-translations --importPath=@assist/shared/translations --dry-run --no-interactive`

Generates paths like "\\..\\..\\.." rather than expected "../../../"

in files:
.eslintc.json
ng-package.json
project.json

Example: (screenshot from git - manual fix of wrongly modified files)
![imag

[2022-06-24 21:13] nhhockeyplayer commented on #9083
My eslint model is legit and the IDE imports red errors shut off with eslint options from error to warn

But the hard build fails... is this Nx or Ivy? Is rthere a way to turn off the compiler from stopping the build for these so development can continue?

`>  NX   Could not execute command because the task graph has a circular dependency`

[2022-06-24 22:49] vincent-thomas commented on #10186
Commenting to keep this issue up

[2022-06-24 23:33] Ketizsingh commented on #8355
if paths are correct, simply try this:

**module.exports = {
  important: true,
};**

In my case, after hours of debugging, I found that tailwind css was compiled on all of the components and pages but the other 3rd party library (in my case MUI ) was overriding the styles, so I set! important for the tailwind code.

[2022-06-25 00:28] dannymcgee commented on #10652
@nartc Thanks for the explanation, that makes sense! I'm going to go ahead and close this since it sounds like this is working as designed.

[2022-06-25 00:28] #10652 closed

[2022-06-25 01:01] lewsmith opened #10895 "@nrwl/nx / @nrwl/nx-plugin - Postinstall hang - Long paths (Linux)"
## Current Behavior

I've noticed that the nx postinstall script can hang if a project is created in a location that has a long path. I've also seen socket files being created further up the directory tree. This is due to the IPC limitations on path length - [https://nodejs.org/api/net.html#identifying-paths-for-ipc-connections](https://nodejs.org/api/net.html#identifying-paths-for-ipc-connections

[2022-06-25 01:20] dman926 opened #10897 "`ensureNxProject` throws error if there are spaces in absolute workspace root path"
## Current Behavior
Trying to use `ensureNxProject` throws an error if there are spaces in the absolute root workspace path due to the function calling another node process with an unescaped space in the path.

## Expected Behavior
`ensureNxProject` shouldn't throw an error by either escaping the space or by wrapping the path in quotes (which is probably not possible with node).

## Steps to Repro

[2022-06-25 02:14] mikemykhaylov opened #10898 "Adding ascii as dependency to the blog isn't reflected in `nx graph`"
### Documentation issue

- [ ] Reporting a documentation bug
- [ ] Documentation improvement

### Is there a specific documentation page you are reporting?

https://nx.dev/core-tutorial/03-share-assets

### Additional context or description

After following the first 3 steps of the tutorial, when I run `nx graph`, it fails to detect the dependence of `blog` on `ascii`, despite the documentation sa

[2022-06-25 03:28] #9237 closed

[2022-06-25 03:38] nartc commented on #6840
Hi all, the original scenario (about `dotenv`) seems to have been solved already (I can't reproduce it with the issue author's reproduce step).

- Create a new workspace
- Generate a NestJS application with `nrwl/nest:app`
- Generate a library with `nrwl/nest:lib`
- Use a dependency in the library (eg: `dotenv`)
- Use the library in the app
- Run `npx nx build app` with `generatePackageJson: true`

[2022-06-25 03:40] nartc commented on #5820
Please retry with latest. As mentioned in https://github.com/nrwl/nx/issues/6840#issuecomment-1166183147, transitive dependencies seem to be included in the generated `package.json` now. If you still have problem, please provide a new reproduce procedure.

[2022-06-25 05:31] #10854 closed

[2022-06-25 08:54] nhhockeyplayer commented on #10880
I has to add specific store names pre-pended to exports to get all my store folders to survive compiler

store export names are colliding after generated with compiler

[2022-06-25 14:03] tcoz commented on #6750
Crashed headfirst into this today. An imported enum from a file in the same directory as the test spec fails. I tried some basic things, setting another const equal to the enum in the test itself, nothing worked. I had to put a note in the spec file that this is in fact using so-and-so enum but a bug is preventing the value of that enum from appearing properly.

Note that I'm not using Nx. I am ho

[2022-06-25 14:48] nhhockeyplayer opened #10900 "@nrwl/angular:ngrx is not backward compatible or unique across store generations"
SUBJECT: NgRX is not backward compatible or unique across store generations

This is now confirmed after double re-iterating thru a prior ticket was created but closed due to false false alarm. https://github.com/nrwl/nx/issues/10880

I don't want to strike any nerves with the nrwl committers... Im a java developer of 16yrs and typescript 7. Java has withstood the test of time for 30+yrs and the f

[2022-06-25 14:57] nhhockeyplayer commented on #10879
Can this get some attention?

There really should be a 4-way option model for this.

[code]

right now we are forced to consume the entity model as the ONLY kind of store when a variety of stores are reality for instances and collections and their rigging.

[2022-06-25 15:00] MRezaSafari commented on #8681
just add this to your library .storybook/preview.js

[code]

[2022-06-25 18:06] fguitton commented on #8606
Not stale 🌴

[2022-06-25 20:57] niyowski commented on #1744
I get the following error for a React component in a `ui` lib while using CSS modules:

I disabled [noPropertyAccessFromIndexSignature](https://stackoverflow.com/a/70748402/19377445). The error in IDE gone but the app didn't run.

[2022-06-25 23:53] kaceycleveland commented on #10255
For building a docker image with NX and NextJS and to maintain a small image size, I would recommend using this in your `next.config.js`:

[code]

This should dramatically decrease your image size and in addition, you do not need to do a `npm install` in the built standalone build. The package.json is incorrect however the image size is small and the application should work without `npm install` s

[2022-06-26 00:50] airtonix commented on #9983
ok then:

[2022-06-26 06:47] khuyennguyen7007 opened #10902 "Use relative path for TailwindCSS config"
### Documentation issue

- [ ] Reporting a typo
- [x] Reporting a documentation bug
- [ ] Documentation improvement
- [x] Documentation feedback

### Is there a specific documentation page you are reporting?

[Using Tailwind CSS in React](https://nx.dev/guides/using-tailwind-css-in-react)

### Additional context or description

This is my folder structure
[code]
As you can see here, my root folder

[2022-06-26 07:31] jase88 commented on #9983
Related issue:
https://github.com/nrwl/nx/issues/4244

[2022-06-26 14:47] ramyhhh opened #10903 "dep-graph does not recognize dependencies for apps or libs inside of git submodule"
## Current Behavior

If an app or a lib is a part of git submodule the `dep-graph` does not recognize their dependencies. After some debugging I found out the the map variable `allWorkspaceFiles` does not really contain all the workspace files, instead it only contains only the files that are tracked by git directly. Also this limitation will affect all project dependency related operations such a

[2022-06-26 14:49] ramyhhh commented on #10903
I've solved this for myself by setting the flag `--recurse-submodules` for `git ls-files` in git-hasher
I can create PR if my edits are fine.

[2022-06-26 17:25] Pietrox commented on #7006
For me too, really annoying when using Tilt too.
`nx reset` tends to break the pod readiness when trying to reload that way.

[2022-06-26 22:08] wmedia opened #10904 "Builing angular app compiles also nest library"
## Current Behavior
I have a monorepo angular and nestjs like:

apps/
    myapp (angular app)
   api   (nestjs app)
libs/
   core (nest library)
   auth (angular library)

When compiling myapp
 yarn nx build myapp

Ccompiles lib/core also, but at myapp doesn't have any dependency or import reference to core library ans gets errors.

While compiling just the api app which is has dependency to the l

[2022-06-26 22:16] Pookah-Productions opened #10905 "Error guidance is printed in white"
## Current Behavior
My terminal background is white. As a result, the error messages are white text on a white background!

[code]

## Expected Behavior
Legible, visible error messages and guidance!

## Steps to Reproduce
Set your terminal to a white background and run a command that will fail. (Mine is trying to get Nx running using Yarn 3 with PnP.)

### Environment
The above code snippet is fro

[2022-06-26 22:29] wmedia commented on #10904
Sorry a mistake coding

[2022-06-27 00:24] #6960 closed

[2022-06-27 06:15] MakarGlavanar commented on #3427
For those who find it annoying to `nx g move` every library, here is another workaround:

1. Create an empty library with the required type [optional, you can use other already created libraries if they match your type]
2. Copy `package.json` from the created library to your existing library with the wrong buildable flags
3. Fix paths in `package.json`
4. Copy the `build` target line from the crea

[2022-06-27 06:35] danr-za commented on #10808
@barbados-clemens so this is what I see:
* Our CI command currently looks like this:
[code]

When running that, I get:
[code]

The reason we append it is because of https://github.com/nrwl/nx/issues/8014

Moving it to the beginning results in:
[code]

Here, for some reason, the NX_API_URL is not set and is using the default one from the cypress.env.json file.

I will try running without the additi

[2022-06-27 07:15] bublinec commented on #8699
For me the problem was importing a function from another project within the monorepo:

This fixed the issue:
<img width="996" alt="Screenshot 2022-06-27 at 09 15 24" src="https://user-images.githubusercontent.com/44405894/175881376-1c245905-fd2f-497b-bdf5-4a9ad3c654fc.png">

[2022-06-27 08:28] mandarini commented on #10854
Perfect!!!!! :D :D

[2022-06-27 09:01] danr-za commented on #10808
Running this:
[code]

Results with:
[code]

So there's an issue anyway.

[2022-06-27 09:04] nhhockeyplayer commented on #8912
This one is really shutting me down...

got large repo if committers are interested ask to be collaborator

but I have slew of

- shared-feature libraries
- shared-root-data-access library (ngrx stores for all features)

I cannot do anything at the IOC level (dependency injection) because the build system cannot handle the imports

So I re-iterate on this ticket...

- how can I have a buildable li

[2022-06-27 10:12] #9835 closed

[2022-06-27 11:22] juristr commented on #5710
The camel-case expansion should work now as expected. Also, you can pass additional parameters after a `--` separator. That way they'd be forwarded as is

[code]

If the `--` separator is not used, the args will be parsed and interpreted by Nx because we need to be able to split the Nx args from the executor args.

let us know how it works. Also, sorry for the super late update on this one 🙏

[2022-06-27 11:22] #5710 closed

[2022-06-27 12:06] eddeee888 commented on #10310
Gotcha, thanks @ndcunningham ! I thought `baseHref` works for both modes ( dev vs static ) but since they use different servers ( Webpack vs http-server ), it won't work.

Do you think there would be something in the future that Nx could implement to gap nuances like this? 🙂

[2022-06-27 12:31] mejakm opened #10911 "Generating components fails"
## Current Behavior
It doesnt generate the component instead it throws an error `this.tree.readText is not a function`

## Expected Behavior
Component tb generated

## Steps to Reproduce
Call the command `nx generate @nrwl/angular:component --name=*name* --project=*project* --path=*path*` in terminal

### Failure Logs
![image](https://user-images.githubusercontent.com/14975302/175941722-e20b1e61-2

[2022-06-27 12:45] mejakm commented on #10911
Solved by installing `npm i -D @angular-devkit/schematics`

[2022-06-27 12:45] #10911 closed

[2022-06-27 12:49] mehrad-rafigh opened #10912 "Update Cypress to v10"
- [x] I'd be willing to implement this feature ([contributing guide](https://github.com/nrwl/nx/blob/master/CONTRIBUTING.md))

## Description
Update Cypress to v10. Currently v9 is set in the versions.ts of cypress package.

[2022-06-27 12:50] mehrad-rafigh opened #10913 "Update jest-preset-angular to v12"
- [x] I'd be willing to implement this feature ([contributing guide](https://github.com/nrwl/nx/blob/master/CONTRIBUTING.md))

## Description
Update jest-preset-angular to v12 to support Angular v14.

[2022-06-27 13:24] AustinHaigh-Hach opened #10914 "@nrwl/node:library does not properly validate --importPath"
## Current Behavior

Invalid node package names are accepted by the generator. Eg:

`nx generate @nrwl/node:library --buildable --publishable --importPath=@myorg/invalid/pkg/name`

or

`nx generate @nrwl/node:library --buildable --publishable --directory=mylibs --name=pkg`
(the second example generates an import path of `@myorg/mylibs/pkg`)

## Expected Behavior

Although the `--buildable` and `--

[2022-06-27 14:12] AustinHaigh-Hach commented on #10914
Instead of changing the importPath (which is valid for typescript), would it be better to create a new `package.json` file? For eg:

[code]

Now a `require("@myorg/mylibs/pkg")` call would work, because the package name is `@myorg/mylibs` instead of `@myorg/mylibs/pkg`.

[2022-06-27 14:14] femi-ojemuyiwa-aa commented on #10859
[code]

[2022-06-27 14:15] david-morris commented on #6547
Good bot. The suggested feature has been added, as documented [here](https://nx.dev/cli/run-many#nx-bail).  If there's something wrong with the nx-bail of run-many, that should be filed as a separate ticket.

[2022-06-27 14:15] #6547 closed

[2022-06-27 14:52] #10866 closed

[2022-06-27 14:57] #10912 closed

[2022-06-27 15:00] adam-marshall opened #10918 "No color output for individual Jest tests in GitLab after upgrade to Nx 14"
## Current Behavior
No colour output from Jest tests with the new Nx CLI formatting when running in GitLab.

Example command:

[code]

The message:

[code]

is in colour (it is a teal).

But the individual PASS/FAIL lines are not in colour.

I know that the local terminal output for `run-many` has been given a real makeover but this isn't used in the CI environment by default.

## Expected Behavio