[2019-07-28 21:17] alfaproject commented on #1621
I'm currently applying this patch using [`patch-package`](https://github.com/ds300/patch-package) to achieve what I need in my project:

[code]

[2019-07-28 23:32] Halt001 opened #1651 "Tutorial e2e test in Step 2 only working with --prod flag"
## Expected Behavior
The e2e test in the tutorial should start up the page (and then fail the tests). See tutorial here: https://nx.dev/angular/tutorial/02-add-e2e-test

## Current Behavior
The e2e test fails to load the page in the `beforeEach(() => cy.visit('/'));` step. An exception is thrown and it looks like the Angular App component is not instantiated/loaded.

When running the e2e test with

[2019-07-29 07:38] circy commented on #1241
can I still set the "--publishable" flag later?

[2019-07-29 07:56] erhise commented on #1381
If this is the solution it feels like a piece of work to go through. But this is getting pretty annoying I must say.

[2019-07-29 08:03] juristr commented on #1496
@alexanderPastornicky you have to pass the `--syntax=creators` afaik, like

[code]

[2019-07-29 08:33] alexanderPastornicky commented on #1496
https://github.com/nrwl/nx/pull/1650

[2019-07-29 12:26] nitoloz commented on #255
Just a short note regarding angular update to version 8.x. Following new syntax the lazy loading module will be imported as follows:

[code]

[2019-07-29 13:04] Maryannah commented on #1648
On my end, I am not able to choose the SCSS extension, arrow keys do not work (while they worked for the previous steps).

Selecting CSS by default prompts me an error saying that yarn isn't a recognized package.

[2019-07-29 13:43] gperdomor commented on #1619
@FrozenPandaz the package is `@nrwl/workspace`, installed with `npm install -g @nrwl/workspace`... Also missing in version 8.4.0

[2019-07-29 13:59] brandonroberts commented on #75
Support for `@ngrx/entity` as part of the ngrx schematic was added in Nx 8.3. Use the `--syntax=creators` option

[2019-07-29 13:59] #75 closed

[2019-07-29 14:01] mariohmol commented on #1459
Works the same here as @odahcam .. shouldnt this be closed?

[2019-07-29 15:22] virtuoushub opened #1653 "Wiki section on "How to set default options for a specific schematic?" is outdated for nx8"
The following does not work for nx8.
[code]
Source: https://github.com/nrwl/nx/wiki/FAQ#how-to-set-default-options-for-a-specific-schematic

Adding a subsection for nx8 that looks like the below might help those coming to that wiki using nx8
[code]

relates to #158 #533
See also: https://github.com/nrwl/nx/blob/ccd5854a981df28ba38f2013e3ebbb87057650b7/docs/angular/guides/nx7-to-nx8.md#schematics

[2019-07-29 15:25] virtuoushub commented on #158
For those coming here using nx8, and wondering why the above comment/wiki link does not work, try:

[code]

See also: https://github.com/nrwl/nx/issues/1653

[2019-07-29 15:26] virtuoushub commented on #533
For those coming here using nx8, and wondering why the above comment/wiki link does not work, try:

[code]

See also: https://github.com/nrwl/nx/issues/1653

[2019-07-29 17:15] xmlking commented on #1459
Works now.  we can close this issue.

[2019-07-29 17:15] #1459 closed

[2019-07-29 17:55] SpeedoPasanen commented on #1381
Ran into this again. This time I can't find any import scope issues. Look at the package.json pointed at by the error message, it's these kind of lines that cause the problem:

[code]

I donno who's supposed to do something with those conditionals, but it's failing. If you remove all those non-json invalid stuff `<% ... %>` problem goes away.

[2019-07-29 18:23] mehrad-rafigh commented on #1621
@alfaproject @wesleygrimes  This looks like a start to a solution, which I would love to see in NX

[2019-07-29 18:27] mehrad-rafigh commented on #1653
Good catch @virtuoushub! I tried to update the wiki, but I can not push to master. Did not find any contribution guideline for the wiki sites. Asked @bcabanes, but I have that fixed that. See diff below

[code]

[2019-07-29 18:33] wesleygrimes commented on #1621
I am adding this ability, although I think we will go a slightly different route. I will reference the PR when it is submitted.

[2019-07-29 20:39] simonua commented on #208
@vsavkin, thank you for [your approach](https://github.com/nrwl/nx/issues/208#issuecomment-384102058). It's worked for me once I solved one small typo.

`provider: 'someEndpointUrl', useValue: config.someEndpointUrl`

should be

`provide: 'someEndpointUrl', useValue: config.someEndpointUrl`

Would you be able to update your example, please? Thank you!

[2019-07-29 21:35] LukasMachetanz opened #1655 "Pre-Commit Hook Test"
How would you run the unit tests of all affected tests in a pre-commit hook?

[2019-07-29 22:26] mehrad-rafigh commented on #1655
@LukasMachetanz if you are using `husky` you could add this to your `package.json`

[code]

You can change your base to be the Branch you want to check against. Hope this helps

[2019-07-29 23:09] mehrad-rafigh commented on #1564
@ebeltran1981 would adding the --directory flag help you? The reason I am asking is the PR I am working on :)

[2019-07-29 23:44] mehrad-rafigh commented on #1647
The output comes from https://github.com/nrwl/nx/blob/192a6a083d15a283726d59b0918e2ae8a7f53568/packages/create-nx-workspace/bin/create-nx-workspace.ts#L326

It checks whether the @nrwl/cli is installed, but it does not check it in the workspace it created. So it errors and the note is printed out. I opened a PR

[2019-07-30 01:05] mehrad-rafigh commented on #1648
I retried it again and this time I was able to create a workspace. @sameerinfodb can you please try again?

[2019-07-30 08:33] johannesnormannjensen commented on #836
Hi @Bielik20 and @jongood01

I had also run into the problem of not wanting to upload all my source code. What i found is that you can configure functions to ignore certain directories in firebase.json like this:
...
"functions": {
      "predeploy": [
        "npm run lint functions",
        "npm run build functions --prod"
      ],
      "ignore": [
        "**/apps/web/**",
        "**/apps/we

[2019-07-30 10:55] maxime1992 commented on #1054
Still happening with 8.3.0

Not sure why this issue's closed :thinking:

[2019-07-30 12:36] FrozenPandaz commented on #1653
Good catch! I just updated the guide. :tada:

[2019-07-30 12:36] #1653 closed

[2019-07-30 12:42] NikoMontana commented on #1511
NextJS with Now support would be more then great!

[2019-07-30 12:57] johannesschobel commented on #1010
@creadicted , your command does not work (any more). Is it possible, that the `--framework=none` got removed?
I previously used
[code]
to create a "normal" ts library..

[2019-07-30 12:57] Maryannah opened #1658 "Create a new NestJS through a shcematic doesn't put it in the right folder"
# Prerequisites

Please answer the following questions for yourself before submitting an issue.
**YOU MAY DELETE THE PREREQUISITES SECTION.**

- [ ] I am running the latest version (**no, 8.3.0**, since the latest one doesn't work for me)
- [X] I checked the documentation and found no answer
- [X] I checked to make sure that this issue has not already been filed
- [X] I'm reporting the issue to th

[2019-07-30 13:08] cwmrowe opened #1659 "[Feature Request] Support for Azure Function Apps"
I'd like to be able to serve, build and test Azure Function Apps with NX in the same way that you can builds apps for NestJS and ExpressJS.

Minimum requirements as I see it
- Works with [Azure Functions VS Code Plugin](https://marketplace.visualstudio.com/items?itemName=ms-azuretools.vscode-azurefunctions)
- Serve application locally with [Azure Functions Core Tools](https://docs.microsoft.com/en

[2019-07-30 14:55] OlympusatDevelopment commented on #88
I was able to get this working through a variation of what you guys wrote above.
Hope this helps someone!

`"projects": {
    "my-project-name": {
      "projectType": "application",
      "architect": {
        "build": {
          "options": {
            "assets": [
              { "glob": "**/*", "input": "apps/contracts/src/assets/", "output": "./assets/" },
              {
              "glo

[2019-07-30 15:03] sameerinfodb commented on #1648
@Maryannah  thank you, this worked for me. This mean the @latest has some bug.

[2019-07-30 15:45] johannesschobel opened #1661 "Libs and NestJs"
# Prerequisites

- [x] I am running the latest version
- [x] I checked the documentation and found no answer
- [x] I checked to make sure that this issue has not already been filed
- [x] I'm reporting the issue to the correct repository (not related to Angular, AngularCLI or any dependency)

Please note that this is **not** an issue, but rather some questions on best-practice when developing a ful

[2019-07-30 16:37] Pekes317 commented on #1648
I would like to echo that there is definitely a bug in the latest builds that doesn't allow the arrow keys to function when selecting the styles extension. Selecting CSS which is the first option does seem to allow the process to move forward.

[2019-07-30 17:51] maxime1992 opened #1662 "Run E2E tests without serving the app"
_[Please make sure you have read the submission guidelines before posting an issue](https://github.com/nrwl/nx/blob/master/CONTRIBUTING.md#-submitting-issue)_

## Expected Behavior

I'd like to be able to launch the E2E against my application already running.
Basically, run cypress only.

## Current Behavior

The app is always compiled first

### Context

Please provide any relevant information ab

[2019-07-30 19:44] Pekes317 opened #1663 "create new workspace angular-nest crashes with angular cli option"
_[Please make sure you have read the submission guidelines before posting an issue](https://github.com/nrwl/nx/blob/master/CONTRIBUTING.md#-submitting-issue)_

# Prerequisites

Please answer the following questions for yourself before submitting an issue.
**YOU MAY DELETE THE PREREQUISITES SECTION.**

- [x] I am running the latest version
- [x] I checked the documentation and found no answer
- [x]

[2019-07-30 19:49] creadicted commented on #1167
@maku I used a custom webpack config that extends the default behaviour (if you need help with that let me know and I look the issue up where someone gave me an example) and I used the assets folder.

[2019-07-31 04:48] ramir000 commented on #1581
try this npx create-nx-workspace@8.3.0 myworkspace

[2019-07-31 09:05] Tre665 opened #1666 "Azure Dev Ops regression with nx 8.4 affected:test task doesn't finish"
_[Please make sure you have read the submission guidelines before posting an issue](https://github.com/nrwl/nx/blob/master/CONTRIBUTING.md#-submitting-issue)_

# Prerequisites

Please answer the following questions for yourself before submitting an issue.
**YOU MAY DELETE THE PREREQUISITES SECTION.**

- [x] I am running the latest version
- [x] I checked the documentation and found no answer
- [x]

[2019-07-31 09:50] jeneg commented on #842
Got same problem. One file get linted 6 times in my case and that is really slowing down CI

[2019-07-31 12:18] maku commented on #1167
@creadicted thank you for responding. I think I will create a new "app" which is only for maintenance func. This should be enough...

[2019-07-31 12:49] yinonov commented on #1566
any progress on this?

[2019-07-31 14:09] jospotargent commented on #1648
@Pekes317 indeed: the arrow keys don't function for selecting the style sheet extension on 8.4.0 or 8.4.1. Reverting to 8.3.0 solves the problem.

[2019-07-31 14:22] johannesschobel commented on #1658
Dear @Maryannah ,

that is most likely, because `nrwl/nx` does not ship with a `nest-cli.json` file in the root folder. This file, in turn, is used by `nestjs` to determine the source folder to put the generated files into..

In order to fix your issue, simply create a `nest-cli.json` file in the root folder and add the following content:
[code]

Please adapt the `sourceRoot` to your specific fold

[2019-07-31 14:23] johannesschobel commented on #1649
I'm running into the same issues with another project. It was initially built with `nrwl/nx 8.2` and i just updated to `8.4`. This update now breaks my application..

[2019-07-31 15:06] johannesschobel opened #1667 "[Nest] Possible Bug in autogenerated TSConfig"
- [x] I am running the latest version
- [ ] I checked the documentation and found no answer
- [ ] I checked to make sure that this issue has not already been filed
- [x] I'm reporting the issue to the correct repository (not related to Angular, AngularCLI or any dependency)

## Expected Behavior

In my API, I have a circular dependency between `Account` and `Profile` (one `Account` has one `Profil

[2019-07-31 16:20] aaroncadrian commented on #1455
I just experienced this same issue today but for a different reason.

My root `tsconfig.json` did not have a value for `compilerOptions.paths` because I had previously removed it. I have one app and no libs so far.

I tried adding a lib and got:

After debugging the library.js script in node_modules/@nrwl/angular..., I found that the `updateTsConfig` rule is the source of the bug.  It assumes that

[2019-07-31 17:00] jaysoo opened #1668 "[@nrwl/react] Missing polyfills when using babel with app"
We are missing polyfills when using the `--babel` option with app schematic, we should also updating `polyfills.ts` with `core-js` and `regenerator-runtime`.

Otherwise some language features like `async-await` will not work.

## Expected Behavior

Can use `async-await`

## Current Behavior

Using `async-await` generates error.

### Context

- Nx version: 8.4.1

[2019-07-31 17:13] JohnnyDevNull commented on #1648
I'am getting also a `yarn command not found` error while installing with npm

[2019-07-31 18:06] Maryannah commented on #1648
IMO when you encounter an issue that has been stated by another user, you should instead react with an emote as to not pollute the topic with "+1"-ish answers.

[2019-07-31 21:30] ctaepper commented on #1104
@intuvision I was very hopeful, but your workaround doesn't work for me :(

[2019-07-31 21:38] #1668 closed

[2019-08-01 01:32] ibrahimkafie commented on #1663
I have the same issue:
[code]

[2019-08-01 06:10] ctaepper commented on #1104
something is trying to use an angular-cli path instead of an nx path. the nx cli should be generating `/apps/catalog-e2e/src/app.e2e-spec.ts`

[2019-08-01 09:21] gilhardl commented on #1549
I had the same error with Angular 8.1.2 :
`ERROR in ENOTDIR: not a directory, scandir '/c/Users/LG/code/git-mirroring/libs/api-interfaces/src/index.ts'`

Updating `angularCompilerOptions.enableIvy` from _/c/Users/LG/code/git-mirroring/apps/git-mirroring/tsconfig.app.json_ "fixed" the compilation error but was not a great workaround.

**Upgrading Angular to 8.2.0** solved the problem for me. Now th

[2019-08-01 09:43] danieldanielecki opened #1674 "Bug: `npm run lint` fails on freshly generated project"
# Prerequisites

- [x] I am running the latest version
- [x] I checked the documentation and found no answer
- [x] I checked to make sure that this issue has not already been filed
- [x] I'm reporting the issue to the correct repository (not related to Angular, AngularCLI or any dependency)

## Expected Behavior

When running `npm run lint` go through all linting.

## Current Behavior

When I'm ru

[2019-08-01 10:16] JayEnaR commented on #1241
I get the same error, but mine occurs because I am trying to build a scoped library with the `prefix @my-org my-lib`. I would think that running an `npm init --scope=@my-org` would configure this to be usable for building scoped libraries.

[2019-08-01 13:20] sroettering commented on #625
I would love the proposed feature as well and also for single projects/apps.
In my use case I have a monorepo with an angular frontend and java backend.
Now I would like to run my e2e tests when something changed in the backend part of the app. This is currently not possible with the `affected:e2e` command.

So glob support or even folder support would be greatly appreciated.

[2019-08-01 13:30] NailRode commented on #1167
I'm having the same issue. Trying to find migrations & seeds from my knexfile and can't find the files, since the builder is building to a single main.js.
@creadicted could you provide your solution here?

[2019-08-01 14:27] jbjhjm commented on #1667
I can confirm the issue itself and the solution too. Setting options to commonjs/es2017 will still throw warnings but compile successfully.

[2019-08-01 15:09] cwmrowe commented on #1659
For anyone else that stumbles upon this I have found this article really helpful https://blog.angular.io/introducing-cli-builders-d012d4489f1b

[2019-08-01 16:24] matheo opened #1676 "v8.4.13 dependencies outdated"
## Expected Behavior

The latest `@nrwl/*` versions using the latest `@angular-devkit/*` and `@angular/compiler*` versions.

## Current Behavior

`@nrwl/*` libraries are still relying on `@angular-devkit/*` `0.801.1` and `8.1.1` is 22 days old and `8.1.3` is out and should not have breaking-changes right? `8.2.0` was released just before `8.4.2`.

### Context

- Nx 8.4.2
- Angular 8.2.0
- CLI 8.2.

[2019-08-01 16:25] Koslun opened #1677 "Indirect dependency to chalk in @nrwl/workspace"
## Proposed Solution
Just depend directly on `chalk` version 2.4.2 in package `@nrwl/workspace`.

As it's used directly in the library it should have a direct dependency rather than an indirect one to an ambiguous version. Where latest version is likely required due to below described issue which likely stems from some TypeScript related import issues solved in a later version.

## Expected Behavi

[2019-08-01 16:50] alfaproject commented on #1676
Is there a reason for them not to be peer dependencies? I keep having duplicates in my node modules <.<

[2019-08-01 17:30] criskrzysiu commented on #1663
fix in issue #1675

[2019-08-01 17:48] aaroncadrian opened #1678 "Generating lib fails when tsconfig.json is missing value for compilerConfig.paths"
## Expected Behavior

When tsconfig.json does not have a value for `compilerOptions.paths`, a library should still be generated.

Run `ng g @nrwl/angular:library example-lib`
The library's code should be added to the `libs` directory.
The root `tsconfig.json` file should be updated with the path alias for the new library.

## Current Behavior

When running `ng g @nrwl/angular:library example-lib`,

[2019-08-01 20:56] fjoalland commented on #1562
A repo to reproduce the error here: https://github.com/fjoalland/multiple-angular-lib/tree/master

Just follow the step of the README and you should have the same error

[2019-08-01 23:47] intuvision commented on #1104
@ctaepper sorry to hear that. Wish I had something further to assist.

[2019-08-02 00:33] Pekes317 commented on #1648
I second that of @JohnnyDevNull about the `yarn command not found` error while installing with npm. Installing yarn fixes issue. If there was an options to choose package manager so the Nx would use npm or yarn depending user choice.

[2019-08-02 07:54] Tre665 commented on #1666
I tried different configurations and flags, but unfortunately nothing seems to help.
The last thing that we tried is:

yarn affected:test --runInBand --ci --base=origin/master --head=HEAD

The version that we used previously (and currently for development due this problem) is 8.1.
Unfortunately this prevents us from upgrading. Any help would be highly appreciated.

[2019-08-02 08:36] danieldanielecki commented on #176
Definitely waiting for this!

[2019-08-02 15:00] bcabanes commented on #1667
Hi @jbjhjm!

The reference error you mentioned is usually due to the fact that you are using an injected service before it has been instantiated by the dependency injection mechanism. I would double check the architecture of the feature you are trying to do.

If it is a problem specifically with NestJS, I would recommend you to create an issue in NestJS' repository.

If it can help, usually circul

[2019-08-02 15:00] #1667 closed

[2019-08-02 15:35] bcabanes commented on #1663
Closing the issue since it appears to be fixed.

[2019-08-02 15:35] #1663 closed

[2019-08-02 15:35] ronnyek commented on #1439
Tests that involve nothing with scss files, actually do run with what I had setup before... but there is something about this that is failing, but only when launched from webstorm.

It's currently complaining about not being able to load "icon.scss" which doesn't error.

I dont know if its related or not, but I noticed I get this output even when the other tests run and complete successfully.

[co

[2019-08-02 15:40] bcabanes commented on #1581
Hi @tomani77!
Can you try again with the latest version please! It should work now.

I'm closing the issue, don't hesitate to create a new one if it reappears.

[2019-08-02 15:40] #1581 closed

[2019-08-02 15:42] bcabanes commented on #1655
Hi @LukasMachetanz!
Yes Husky is a good way to implement a pre-commit hook!
See how to do it: https://github.com/typicode/husky.

Closing the issue.

[2019-08-02 15:42] #1655 closed

[2019-08-02 16:32] johannesschobel commented on #1667
Dear @bcabanes ,
i don't think, that the solution provided by me is a "workaround" but rather the proper solution! NestJs requires these 2 properties in the `tsconfig.json` file - and `nrwl/nx` is missing those.

I repeat, this is *not* an architecture problem with my application i am building - you can observe this behaviour with a freshly built nestjs application in `nrwl/nx`. Shall i provide a

[2019-08-02 17:24] bcabanes commented on #1667
A repository with the reproduction is always a good idea! 👍 Thanks!

[2019-08-02 19:30] johannesschobel commented on #1667
i will try and create a reproduction repository!

[2019-08-02 21:38] rsrgithub commented on #1262
I am also seeing the same issue. Breakpoints are not being hit. I have 2 Angular app and 2 libs in NX workspace. Breakpoint tooltip says - "unverified breakpoint". I did try `"webRoot": "${workspaceFolder}/apps/my-app"` but it did not solve the problem.

Any solution?

[2019-08-02 21:54] ph55 opened #1680 "Peer warning/error after installing @nrwl/cli"
After installing `@nrwl/cli` globally, annoying warning shown:
[code]

Also error shown after listing global packages:
[code]

[2019-08-03 00:54] ph55 commented on #1499
Neither `npx create-nx-workspace@latest myworkspace`
nor `npm init nx-workspace@latest myworkspace` works:

![image](https://user-images.githubusercontent.com/1386622/62404967-b60a4800-b5a1-11e9-8068-fe23f65488e5.png)

[2019-08-03 05:05] aIbarrab commented on #1499
having same issue as @ph55

[2019-08-03 05:14] cpkthompson commented on #1104
Try this: check for "newProjectRoot" in the angular.json and remove it entirely

[2019-08-03 07:07] luchsamapparat commented on #1262
Is this perhaps related and fixes the issue?

https://github.com/angular/angular-cli/commit/0224d2b92eda628a7edd0797d194e509953f67bb

[2019-08-03 10:04] sergidt commented on #1499
I have the same issue I can't create a new workspace neither npm init nx-workspace@latest nor npx create-nx-workspace.

I am running from a windows machine and the latest node version 12.7.0

[2019-08-03 10:16] derdaani commented on #164
Hi guys. I'm still looking for a way to properly setup Angular Universal on a per-app basis in a pretty large monorepo.
Is there anything planned to support this out-of-the-box with Nx or are we on our own for the foreseeable future? Thanks for a heads up :)

[2019-08-03 12:26] fvanwijk commented on #1630
Thanks for fixing.

Shouldn't be there a 404 page or redirect for invalid guide URLs?
https://nx.dev/angular/guides/invalid-url currently displays an empty page

[2019-08-03 14:50] DUBANGARCIA commented on #869
Hey guys in my case I have the following settings.

.huskyrc.json
[code]

lint-staged.config.js
[code]

[code]

Create this script to be able to format the files that really had been changed according to git, since with the flag of "--uncommitted" all will be formatted with prettier, but that could interfere with the rules of tslint, that is why it required that they will pass the files that have

[2019-08-03 16:09] ph55 commented on #1499
Found workaround: `npm i -g @nrwl/workspace` - after installing workspace globally
`npx create-nx-workspace myworkspace` works.

[2019-08-03 16:10] aIbarrab commented on #1499
hey guys @sergidt , @ph55 yep... had to install @nrwl/workspace first

[2019-08-04 02:00] ph55 opened #1681 "Typo in docs `npm install --dev`"
![image](https://user-images.githubusercontent.com/1386622/62418563-a9a2ef80-b674-11e9-8eea-148c76286739.png)

There is no such flag `--dev` for `npm install`. Probably typo or confused with `yarn`.

From npm docs:
`-D, --save-dev: Package will appear in your devDependencies`

[2019-08-04 02:04] nathanhokanson opened #1682 "Cannot find module 'typescript'"
## Expected Behavior

A workspace is created.

## Current Behavior

○ → npx create-nx-workspace@8.3.0 test2
npx: installed 142 in 5.957s

added 324 packages from 218 contributors and audited 2993 packages in 6.88s
found 0 vulnerabilities

An unhandled exception occurred: Cannot find module 'typescript'
Require stack:
- /home/nathan/src/node_modules/@nrwl/workspace/src/utils/ast-utils.js
- /home/na

[2019-08-04 13:07] fernandosouza commented on #1680
It also happened to me.

[2019-08-04 14:40] frankwb24 opened #1684 "Error Upgrading Nx 7 app to Nx 8 - Cannot find workspace.json"
I'm getting a "Cannot find workspace.json" error upgrading an app that is using Nx 7.7.1. I was able to reproduce the error just creating a new app using nx 7.7.1 and doing an update.

Steps to reproduce:

npm install -g @nrwl/schematics@7.7.1
create-nx-workspace test
cd test
npm run update

[2019-08-04 18:54] yharaskrik opened #1685 "Error updating to Nx v8"
_[Please make sure you have read the submission guidelines before posting an issue](https://github.com/nrwl/nx/blob/master/CONTRIBUTING.md#-submitting-issue)_

# Prerequisites

Have a repository that is using Angular v8 and was on Nx 7 prior to update to Angular v8.

Please answer the following questions for yourself before submitting an issue.
**YOU MAY DELETE THE PREREQUISITES SECTION.**

- [ ]

[2019-08-04 19:15] yharaskrik commented on #1685
Ok update, I got `ng g lib test` to work

I had to go into my angular.json file after installing @nrwl/workspace and add
[code]

To `schematics` and make sure that all of my builders were using @nrwl/angular instead of their prior values, as well as make sure `cli.defaultCollection` was using @nrwl/angular as well.

Maybe my workspace wasn't setup correctly before or something as this project was

[2019-08-04 19:34] tthrash opened #1686 "Nx 8.4.x workspaces don't have angular.json file"
I see that release 8.4.0 stopped adding an angular.json file after creating an empty workspace with `npx create-nx-workspace myworkspace`. This appears correct if Nx is moving to a generic monorepo workspace for web development and an empty workspace was selected when creating the workspace. However, after running `yarn add @nrwl/angular` and then run `ng g @nrwl/angular:application myapp` I get t

[2019-08-04 20:32] AlexAegis commented on #1677
I also encountered a problem with chalk today. It interfered with building an angular app with Ivy enabled.

`ERROR in There is no appropriate source code format in '**PROJECT**/node_modules/chalk' entry-point.`

[2019-08-05 09:19] twittwer commented on #1629
I'm having the same problem, can I help in some way?

[2019-08-05 09:34] sroettering commented on #1629
I already opened PR #1657 which basically resolves the conflicts from #1467 and fixes the tests.

[2019-08-05 11:12] maxime1992 commented on #984
I find the `onlyDependOnLibsWithTags` quite restrictive too and I'm having a hard time trying to set some rules. `notDependOnLibsWithTags` would really be helpful :)

[2019-08-05 12:52] un33k commented on #1364
@vsavkin Since Ivy is already released with Ng 8.0 as an opt-in, do you think you could update your comment above, or you still encourage people to not use it in production?

[2019-08-05 13:00] rafa-as commented on #1684
Same here

[2019-08-05 14:52] johannesschobel commented on #1506
Dear @FrozenPandaz ,

how can i run my tests in `@nrwl/nx` in debug mode? I followed your instructions and it works (i.e., **all** tests are executed in debug mode). However, i would like to execute only a specific test (i.e., right-click on a test and select "debug with jest" as provided with this extension you mentioned).

How can i achieve this?
All the best,

[2019-08-05 15:35] haakon-io commented on #1573
I abandoned the idea of using this package because of this issue. Sad that I just get a shrug and not our issue response. Oh well, c'est la vie

[2019-08-05 15:51] rsrgithub commented on #1262
@luchsamapparat Yes, that leading slash [ / ] in the webpack source map mapping was the issue which was caused by the issue mentioned by you. After upgrading the version of @angular-devkit/build-angular@0.802.0, I could debug the code in VS code. Thanks a lot!

[2019-08-05 15:52] alfaproject commented on #1506
If it helps anyone, I ended up adding this launch task:
[code]

I'm using OSX but you can replace that command with a node script if you want. The idea is that you get the closest `jest.config.js` file to the file that you are trying to debug and leave the rest to `ng test`

Assuming you are using a standard file structure from nx or ng this all works automagically for any type of project using Je

[2019-08-05 15:58] johannesschobel commented on #1506
Dear @alfaproject ,
thanks a lot for this snippet. How can i use this in my regular Windows Setup? i.e., conver the
[code]
to a proper npm script?

Thanks a lot for your time and help!

[2019-08-05 16:27] rafa-as commented on #1684
@frankwb24 you can use one workaround: copy the angular.json fil, name it as workspace.json and  execute npm run update

[2019-08-05 16:28] CharlieGreenman commented on #1549
@gilhardl I did the same, and solved this issue for me. I think we should close this one, and advise users on Ivy, to upgrade to 8.2.0, higher.

[2019-08-05 16:31] mehrad-rafigh commented on #1686
Basically the same as #1643

[2019-08-05 16:53] un33k commented on #651
@vsavkin freshly reinstalled node_modules. There is no such a directory.

![nrwl-missing-lint-rules](https://user-images.githubusercontent.com/407537/62481282-063f0100-b780-11e9-907a-92fcbf38c638.PNG)

[2019-08-05 17:09] tthrash commented on #1686
You're right. Sorry about that. Closing this issue.

[2019-08-05 18:39] frankwb24 commented on #1684
@rafa-as Yes, that worked. Thanks.

[2019-08-05 19:03] un33k commented on #651
It seems `create-nx-workspace foobar` has this problem, but if you do `npm init nx-workspace foobar`, then you won't run into this problem.

[2019-08-05 19:55] alfaproject commented on #1059
I ended up adding this patch using [patch-package](https://github.com/ds300/patch-package):
[code]

I realise that it was a breaking change but v8 is now out and I really can't wait. We use TS for a reason (:

[2019-08-05 20:42] alfaproject commented on #1506
You need to make a script that accepts a file name as input and from that input you need to get the parent folder name that contains the nearest `jest.config.js`

Basically, that line does this:
1. Given that `${fileDirname}` is `/home/your-username/your-workspace/your-project/__tests__`
2. `findup` of `jest.config.js` returns `/home/your-username/your-workspace/your-project/jest.config.js`
3. `di

[2019-08-05 21:29] jvpepino commented on #623
Is it possible to run test for a single component? I run into issues that it cannot access import from the shared library in the repo.

[2019-08-05 21:36] mehrad-rafigh commented on #1682
@bcabanes This happened here as well https://github.com/nrwl/nx/issues/1581

[2019-08-06 07:31] rafa-as commented on #1684
@vsavkin @brandonroberts what do you think?

[2019-08-06 08:02] Tre665 commented on #1506
I also had issues to get the debugging working in vscode. The nicest solution that worked for me was the config from @toddwseattle. He shared his config in this [gist](https://gist.github.com/toddwseattle/71f1c2b7b439c6523cc543edab030842).

You can also find a discussion in the vscode jest repo [here](https://github.com/jest-community/vscode-jest/issues/394)

What this solution makes it super nice

[2019-08-06 08:05] Tre665 commented on #1666
I update the nrwl libraries to the newest version 8.4.3. But still without luck :-(

[2019-08-06 09:35] johannesschobel commented on #1506
Dear @Tre665 and @toddwseattle , thanks a lot (!!!) for this awesome GIST - that is a life-saver! i really (!) like this approach - thank you so much :tada:

[2019-08-06 10:01] alfaproject commented on #1506
I've considered doing that but that requires maintaining that list of input values. I have dozens of projects in my monorepo and all I want is to press F5 in a spec file and it just works. If anyone wants the same, feel free to use my solution. (;

[2019-08-06 11:52] stianmorsund opened #1687 "affected:"
_[Please make sure you have read the submission guidelines before posting an issue](https://github.com/nrwl/nx/blob/master/CONTRIBUTING.md#-submitting-issue)_

# Prerequisites

Please answer the following questions for yourself before submitting an issue.
**YOU MAY DELETE THE PREREQUISITES SECTION.**

- [ ] I am running the latest version
- [ ] I checked the documentation and found no answer
- [ ]

[2019-08-06 12:10] sroettering opened #1688 "[Feature Request] affected whitelist projects"
- [x] I am running the latest version
- [x] I checked the documentation and found no answer
- [x] I checked to make sure that this issue has not already been filed
- [x] I'm reporting the issue to the correct repository (not related to Angular, AngularCLI or any dependency)

## Expected Behavior

When running any `affected` command I would like to have an `include` option to whitelist projects.
My

[2019-08-06 13:35] toddwseattle commented on #1506
It might be possible to generate either an add in or schematic the would dynamically generate the menu from nx.json/angular.json. Or a script.

[2019-08-06 13:47] johannesschobel commented on #1506
@toddwseattle , thanks for taking part in this conversation. For now i am quite happy with adding those libs myself. However, if someone will come up with a homebrew solution, i am happy to try it and give feedback!

[2019-08-06 14:22] #1687 closed

[2019-08-06 14:24] #1681 closed

[2019-08-06 14:39] vsavkin commented on #1666
You could try to disable the new colorful output by setting the CI env variable to true. Something analogous to `export CI=true`.

Could you try it and let us know if it helps?

[2019-08-06 14:48] vsavkin commented on #1549
It looks like updating to Angular 8.2 resolves the problem. Thank you folks for troubleshooting it.

I'm going to close this issue.

[2019-08-06 14:48] #1549 closed

[2019-08-06 14:50] vsavkin commented on #1364
I'm still not encouraging folks to use it in production. I'd wait till the Angular team switches to Ivy as the default rendering engine.

[2019-08-06 14:57] vsavkin commented on #1676
@matheo does it cause any issues?

[2019-08-06 15:45] matheo commented on #1676
@vsavkin it just duplicates dependencies and keeps "outdated" versions in our projects, not a big deal but I wonder if you guys have a policy about fixing those versions instead using the latest patch like `~0.801.1` which later in that month will be able to use the `0.801.3` release.

[2019-08-06 16:14] vsavkin commented on #1682
Do you have the same issue when trying to create it outside `/home/nathan/src`?

[2019-08-06 16:20] vsavkin commented on #1643
@appsolutegeek

8.4+ supports two CLIs: Angular CLI and Nx CLI. It works as follows:

- if you select an empty preset, you have to select the CLI
- if you select a preset with an angular app, you get the angular cli
- if you select a preset without an angular app, you get the nx cli

I tried to make this process clearer in 8.4.3. Could you give it a try to see if it's transparent enough?

[2019-08-06 16:42] vsavkin commented on #1685
@yharaskrik thanks for submitting the issue. Would it be possible for you to create a repro of the repo (the before state)?

[2019-08-06 16:46] yharaskrik commented on #1685
@vsavkin I can definitely spend some time trying to recreate that. Our project in production is still in the before state so ill just trim that down to a minimal repo.

[2019-08-06 16:58] rafa-as commented on #1684
@vsavkin I found this function that maybe you should call to get the workspace file on every place:

[code]
Obviously fixing the else with angular.json instead workspace.json.

Also I found another related thing. In the update process, when tries to update the angular cli this message appears:

Updating @angular/cli to 8.0.1
`"Package not installed: "--allow-dirty". Skipping."`

Seems to be someth

[2019-08-06 17:40] mehrad-rafigh commented on #1688
Hi @sroettering!
Me and my team are experiencing the same issue. I proposed a feature request here: https://github.com/nrwl/nx/issues/1621
Would this meet your need as well?

[2019-08-06 18:27] #1567 closed

[2019-08-06 19:55] vsavkin commented on #1684
Hey folks. Thank you for troubleshooting.

I released 8.4.4 with a fix. You should be able to update from 7x to 8.4.4+ without any issues.

`allow-dirty` allows us to work around some limitations of `ng update`.

[2019-08-06 19:55] #1684 closed

[2019-08-06 21:26] mehrad-rafigh commented on #1647
Hey @vsavkin, I rebased my PR #1656. Would you please take a look at it?

[2019-08-06 21:29] vsavkin commented on #1677
Thank you, folks. Added an explicit dependency here: 61194ab171e6753f9449fa2f77dfc52c9636c6b9

[2019-08-06 21:29] #1677 closed

[2019-08-06 21:30] mehrad-rafigh commented on #1566
This has been release with Nx 8.3. Take a look here
https://blog.nrwl.io/updated-schematics-for-ngrx-and-improved-logging-in-nx-8-3-2b00c8ef6123

TLDR:
Run in your angular project `ng g @nrwl/angular:ngrx user --syntax=creators`
@brandonroberts I think we can close this issue.

[2019-08-06 21:30] vsavkin commented on #1685
@yharaskrik I released 8.4.4 which fixed some issues regarding updating from 7x. Could you try updating to it instead?

[code]

[2019-08-06 21:31] vsavkin commented on #1680
Thank you, folks!

Fixed it here: 166a21a27b91dfaf263ac843891ac22d1dcdcac8

[2019-08-06 21:31] #1680 closed

[2019-08-06 21:31] yharaskrik commented on #1685
@vsavkin I can for sure! Just in the midst of implementing a PWA right now but I will try and update using 8.4.4 tonight on our current repo and see what happens!

[2019-08-06 21:32] vsavkin commented on #1648
Thank you folks for filing the issue. I was able to reproduce the problem on windows, and fixed it here: 5074b82bb261113541192504d755f803c6d5a9af

[2019-08-06 21:32] #1648 closed

[2019-08-06 21:34] vsavkin commented on #1674
@danibsheehan could you provide a repository with a repro?

`@nrwl/web` has a dependency on `@nrwl/linter`, so I'm curious what your package-lock.json file looks like.

[2019-08-07 01:55] nathanhokanson commented on #1682
Ok, that does work.  Funky.  Is it going to be a problem if I move the directory in ~/src/ after I create it?

[2019-08-07 01:59] FrozenPandaz commented on #1674
I found the issue. The user only has an Angular project so there is no dependency on `@nrwl/web` or `@nrwl/node` and thus no dependency on `@nrwl/lint`.

[2019-08-07 06:13] sroettering commented on #1688
I don't think excluding by tags solves my problem. For each app I would then have to add a tag to each other project (one which determines exclusion). Having `n` apps each app would end up with `n-1` additional tags. Or did I miss something in your proposal?

[2019-08-07 06:14] appsolutegeek opened #1693 "8.4.4 running 1 tests (webstorm), runs them all, but the earlier issues are fixed"
- [x] I am running the latest version
- [x] I checked the documentation and found no answer
- [x] I checked to make sure that this issue has not already been filed
- [x] I'm reporting the issue to the correct repository (not related to Angular, AngularCLI or any dependency)

## Expected Behavior

Choosing one test, should only run / debug 1 test.. i.e.

![image](https://user-images.githubuserconte

[2019-08-07 06:17] appsolutegeek commented on #1693
I specifically chose to run just 1 test in debug, it started running all other tests but sure enough when it eventually got to mind, the debug breakpoint was stopped upon.

But running previous tests takes a long while to just get to the test i was interested in.

[2019-08-07 06:29] appsolutegeek commented on #1643
Ok thank you, made a note. Thank you

[2019-08-07 06:29] #1643 closed

[2019-08-07 06:31] appsolutegeek commented on #1629
Yep, this above PR fixes issues - i tested it BUT its not now possible to run just "ONE" test, I have raised an issue here on github.

Trying to run just "one" test, actually runs them all.

[2019-08-07 06:45] sroettering commented on #1629
In your issue you say you used nx 8.4.4 which was released 5 days ago but my PR was only merged 15 hours ago. Are you sure that my PR would not fix your issue as well?

[2019-08-07 06:52] appsolutegeek commented on #1629
8.4.4 was released 11 hours ago, and it includes your fix as far as i can see..

![image](https://user-images.githubusercontent.com/2370364/62601010-aa47ba00-b8f0-11e9-88d7-fbcca6bc4bec.png)

Actually - it is working a lot better, you can run tests now - and before you could not - but as I saw, you can't run individual tests.

[2019-08-07 06:57] sroettering commented on #1629
ok my fault. then #1693 needs to be solved as well. I will close this issue as it is now possible to run the tests in intellij

[2019-08-07 06:57] #1629 closed

[2019-08-07 07:34] alfaproject commented on #1688
@sroettering read the conversation there and associated issue (:

[2019-08-07 08:32] Tre665 commented on #1666
Thank you for your response!

I am sorry but I am not sure if I did set the environment variable correct.
What I just tried was to run this command (this is set on the test step)

`yarn affected:test -- --ci --base=origin/master --head=HEAD`

The YAML for this step

[code]

And also set an environment variable in Azure CI with the value true.

Unfortunately with the same result.

This is the Outpu

[2019-08-07 08:36] sroettering commented on #1693
I upgraded nx to v8.4.4 and tested running a single test with intellij ultimate 2019.2.

![image](https://user-images.githubusercontent.com/2598613/62607501-77a4be00-b8fe-11e9-84b0-f4769ad49cb9.png)

intellij seems to list more tests than it executed but the execution times next to the tests indicate that only one test case was executed.

I also changed another test (which is listed in the results

[2019-08-07 08:46] sroettering commented on #1688
The [tag-based whitelist](https://github.com/nrwl/nx/issues/1621#issuecomment-515795877) approach would indeed solve my issue.

[2019-08-07 08:56] jospotargent opened #1694 "Application name is not taken into account when creating workspace"
## Expected Behavior

Executing  "npx create-nx-workspace@8.4.4 someproject --preset angular"
Gives the following prompts (and giving the answers at the end):
? Application name                               someapp
? Which stylesheet format would you like to use? SASS(.scss)  [ http://sass-lang.com   ]

I expect a folder someproject be created (it does) and in there in the apps folder 2 subfolder

[2019-08-07 10:43] johannesschobel commented on #1602
Dear @Tyler-V ,

you may want to look at the solution proposed in this issue here https://github.com/nrwl/nx/issues/1506

Especially this GIST here ( https://gist.github.com/toddwseattle/71f1c2b7b439c6523cc543edab030842 ) is a life-changer for me!

All the best

[2019-08-07 12:46] cjanz commented on #1666
I encountered the described problem as well, not with Azure DevOps but with Jenkins: All `nx affected:*` tasks with the --parallel flag run successfully and print the success message, but the process does not complete so that the CI build hangs forever.

After some investigation today I found the (potential) cause of the problem and a workaround: I have attached a NodeJS debugger to the hanging "n

[2019-08-07 13:16] vsavkin commented on #1686
@tthrash

- When creating an empty workspace you need to select the CLI Nx will use to power the workspace. Which one did you select?
- Could you create a repo with the created workspace, so I could take a look?

[2019-08-07 13:17] vsavkin commented on #1685
@yharaskrik thank you!

[2019-08-07 13:19] tthrash opened #1695 "@nrwl/angular is being added to dependencies in package.json"
When I run `yarn add @nrwl/angular` @nrwl/angular is being added to dependencies in package.json. Shouldn't this be a devDependency? I should also note that @nrwl/angular is on version 8.4.x.  I tested this with @nrwl/cli installed globally via yarn. I tried both 8.4.x and 8.3.0 versions with the same result (global @nrwl/cli).

[2019-08-07 13:27] rafa-as commented on #1684
Thanks @vsavkin !

About the allow dirty, I think that it's interpreted as a package instead of a command parameter.

You can see the piece of code that throws the warning:

[code]

[2019-08-07 13:31] vsavkin commented on #1682
Node resolves modules recursively, which creates all sorts of problems like this.

`create-nx-workspace` creates a sandbox where it installs `@nrwl/workspace` and `typescript`. In your case, however, it uses `@nrwl/workspace` from `/home/nathan/src/node_modules`, and I imagine there is not typescript next to it.

You can fix it:
- You can move the directory into `src` after you create it
- You can

[2019-08-07 13:31] #1682 closed

[2019-08-07 13:39] vsavkin commented on #1676
@matheo the devkit wasn't very stable at one point, so Nx got broken by the latest patch. That's the main reason why the dependencies are set up the way they are. The devkit is more stable now though. So we can reconsider.

We aren't planning to make them peer deps because it will introduce unnecessary coupling.

[2019-08-07 13:42] tthrash commented on #1695
In the latest release, this is no longer occurring. Closing this issue.

[2019-08-07 13:42] #1695 closed

[2019-08-07 13:57] tthrash commented on #1686
@vsavkin The repo above is on my home computer and I'm at work. But I just recreated it with same results. I have `"@nrwl/cli": "^8.4.4"` installed globally via yarn (I also have `"@angular/cli": "^8.2.0"` installed globally, though that probably doesn't matter). Screenshots below show steps taken. After the workspace was created I ran `yarn add --dev @nrwl/angular`.
![Annotation 2019-08-07 083853

[2019-08-07 14:12] vsavkin commented on #1666
Folks, thank you for troubleshooting.

@Tre665 just to confirm:
- everything worked on ci before the upgrade. what version did you upgrade from?
- do you have the same issue for other affected commands (e.g., lint)?
- is it the same issue with and without --parallel

[2019-08-07 14:20] vsavkin commented on #1651
@Halt001 unfortunately I'm not able to repro it.

Could you provide a github repo with a repro?

[2019-08-07 14:26] cbossi opened #1696 "Jest-junit reporter configured in 'jest.config.js' is not executed since version 8.4.4"
When I upgrade `@nrwl/jest` from `8.4.3` to `8.4.4`, my configured `jest-junit` reporter is not executed anymore.

When looking at the release notes of `8.4.4`, I assume the problem it is related to this change:
https://github.com/nrwl/nx/commit/ec9ed17
However, when I look at the diff, I cannot explain why the behavior is as described below:

## Expected Behavior

When running `npm test`, the `ju

[2019-08-07 14:31] Tre665 commented on #1666
I currently tried to replicate the workaround from @cjanz but unfortunately didn't find a way to  append < /dev/null in azure dev ops yet. But I am currently investigating if this is somehow possible in Azure Devops.

@vsavkin

Yes, we hadn't any issues before. The version before the update was pinned to 8.1.0

I feel a little bit ashamed, but currently we don't run lint on our CI server. The only

[2019-08-07 14:33] vsavkin commented on #1649
@xmlking I tried to repro it but was not able to (https://github.com/nrwl/bug-repro-circular)

Could you try to create a repro from scratch?

[2019-08-07 14:36] #1647 closed

[2019-08-07 14:36] vsavkin commented on #1647
@mehrad-rafigh Merged your PR. Thank you!

[2019-08-07 14:44] cjanz commented on #1666
Thanks for the quick responses.

Just to clarify and add further information to the issue: The behavior that we have encountered is not exact the same as the problem that @Tre665 has:

* The CI build only hangs when using the `--parallel` flag. Without the flag everything works fine
* I could test the issue with the `--parallel` flag for the affected commands "lint", "test" and "build". The workar

[2019-08-07 14:47] vsavkin commented on #1562
@fjoalland the repo isn't an Nx repo. Is it an Nx specific problem or an issue with NgPackagr?

[2019-08-07 15:03] vsavkin commented on #1540
It appears to be an issue with `ng-packagr` peer dependencies.

[code]

`ng packagr` needs to be updated, there is not much we can do on the Nx side.

[2019-08-07 15:07] vsavkin commented on #1504
Thank you for troubleshooting it.

To summarize:
It looks like the issue is that the `ng-add` schematic doesn't set the default collection.

[2019-08-07 15:14] vsavkin commented on #1416
Hey folks. Since we upgraded Nx to use NgRx 8.1, I'm going to close this issue. If the issue persists in the latest version of Nx 8+, please reopen the issue and I'll take a look asap.

[2019-08-07 15:14] #1416 closed

[2019-08-07 15:22] vsavkin commented on #1026
Fixed it here: https://github.com/nrwl/nx/pull/1697

[2019-08-07 15:22] #1026 closed

[2019-08-07 15:23] vsavkin commented on #1248
Updated the docs here: https://github.com/nrwl/nx/pull/1697

Closing this issue.

[2019-08-07 15:23] #1248 closed

[2019-08-07 15:24] vsavkin commented on #1222
I'm sorry, but I'm going to close this issue.

If the problem persists, could you reopen the issue with a min repro.

[2019-08-07 15:24] #1222 closed

[2019-08-07 15:51] Tre665 commented on #1666
@vsavkin

Ok I added the lint step in our pipeline and can confirm that this step will also hangs after it has successfully finished. In my case it also doesn't matter if I add the  --parallel flag or not.

An additional sidenote (don't know if it's useful) on the first run of

`yarn affected:lint --base=origin/master --head=HEAD  --parallel`

We had some lint issues which made the command finish

[2019-08-07 16:00] fjoalland commented on #1562
@vsakin thank you for your answer! I created a ticket here: https://github.com/angular/angular/issues/31989 can you try and tell me if it answers to your question?

[2019-08-07 16:07] vsavkin commented on #1696
Thanks for filing the issue. It's a regression. Fixed it here: https://github.com/nrwl/nx/pull/1697

I'll cut a patch release later today.

[2019-08-07 18:04] #1696 closed

[2019-08-07 18:04] vsavkin commented on #1694
Thank you for filing the issue. I fixed here: https://github.com/nrwl/nx/pull/1697

[2019-08-07 18:04] #1694 closed

[2019-08-07 21:49] mehrad-rafigh commented on #164
Hi @derdaani
Actually there is not a straight forward way to generate an univeral app like here described on the [angular doc](https://angular.io/guide/universal).

I created a [repo](https://github.com/mehrad-rafigh/nx-angular-universal). Take a look at it.

@vsavkin @FrozenPandaz Would you be interested a new schematic to do the all the plumbing work to make it possible to generate all the thing

[2019-08-08 00:34] xmlking commented on #1649
Will do, thanks @vsavkin

[2019-08-08 03:35] Sharondio opened #1698 "Create Workspace with Angular defaults to Jest for testing"
## Expected Behavior
When generating an angular app via nx-cli, either as part of an initial workspace setup, or to add to an existing ng-cli generated workspace, I expect to get all of the angular options, such as configure routing, and which testing framework to use.

## Current Behavior
When generating a new nx workspace, and choose either the angular or the angular + nest options to pre-popula

[2019-08-08 08:43] ubergeoff commented on #1666
Definitely a bug.

All CI builds are stuck - once successful - from 8.3.0

[2019-08-09 00:21] gperdomor opened #1699 "eslint missing in angular apps"
_[Please make sure you have read the submission guidelines before posting an issue](https://github.com/nrwl/nx/blob/master/CONTRIBUTING.md#-submitting-issue)_

# Prerequisites

Please answer the following questions for yourself before submitting an issue.
**YOU MAY DELETE THE PREREQUISITES SECTION.**

- [x] I am running the latest version
- [x] I checked the documentation and found no answer
- [x]

[2019-08-09 05:43] mfechner commented on #816
I created a file in `apps/backend/src/test-setup.ts` with:
[code]
but it does not help, has there maybe something changed with nx 8.4.3?

[2019-08-09 06:11] omidkrad commented on #1175
Really, we should be able to debug out of the box after generating a new nest app. Not to have to spend the next half an hour to find a launch.json setting that works!

[2019-08-09 07:12] ahnpnl commented on #1686
I ran into this issue too. After spending some times, I figured out if generating workspace and choosing Nx CLI, there will be a `workspace.json` and if choosing Angular CLI, there will be a `angular.json`. I didn't see this stating in the [documentation](https://nx.dev/angular/getting-started/nx-and-cli).

@vsavkin another thing I noticed is the [tutorial for Angular](https://nx.dev/angular/tutor

[2019-08-09 08:44] tthrash commented on #1686
I think the Angular Cli should only be an option if you select to create an Angular Workspace. Though, I wonder if it should be an option at all anymore, since an angular workspace could end up being a workspace for other frameworks that the Angular Cli doesn't support. Also, what does the Angular Cli do that Nx doesn't do or do better at? It looks like Nrwl and Nx still have more to do when to co

[2019-08-09 09:19] ahnpnl opened #1700 "Cannot run build command with latest @angular-devkit/build-angular"
_[Please make sure you have read the submission guidelines before posting an issue](https://github.com/nrwl/nx/blob/master/CONTRIBUTING.md#-submitting-issue)_

# Prerequisites

Please answer the following questions for yourself before submitting an issue.
**YOU MAY DELETE THE PREREQUISITES SECTION.**

- [x] I am running the latest version
- [x] I checked the documentation and found no answer
- [x]

[2019-08-09 14:42] brandonroberts commented on #1566
Thanks @mehrad-rafigh

[2019-08-09 14:42] #1566 closed

[2019-08-09 14:43] brandonroberts commented on #1496
The PR for clarifying usage with the creators syntax is still open, but this issue has been resolved.

[2019-08-09 14:43] #1496 closed

[2019-08-09 14:46] brandonroberts commented on #1112
`jasmine-marbles` is a dependency in Nx 8.x

[2019-08-09 14:46] #1112 closed

[2019-08-09 14:52] brandonroberts commented on #1016
Is this still an issue in Nx 8.x?

[2019-08-09 15:01] brandonroberts commented on #843
Closing as resolved.

[2019-08-09 15:01] #843 closed

[2019-08-09 16:14] Halt001 commented on #1651
While trying to create a repo I discovered that the problem is related to the path where the tutorial is installed. If I rename the path or project directory the problem goes away. Hence my repo is not going to help finding the problem.

I have a feeling that it is related to some cache that the angular compiler uses. Changing the build to 'optimized' also fixes the problem probably because it can

[2019-08-09 16:14] #1651 closed

[2019-08-10 03:24] yzini-eagle commented on #1393
I'm also experiencing this issue. Have there been any update on this?

[2019-08-10 10:31] oknoorap commented on #1511
Please support nextjs

[2019-08-10 12:38] danielsmeyer commented on #816
Fix is working for me in 8.4.3

[2019-08-10 23:49] emilio-martinez commented on #1016
Not sure! A lot has changed in Nx since then, of course, but also I stopped using this schematic altogether because a) it didn't work for me and b) the schematics from the actual ngrx org got better since then. The main gap is perhaps generating a facade, but that's relatively easy to do manually.

[2019-08-11 17:01] ramarivera commented on #1566
I tested the new schematics, but I have to either add the `ReturnType<typeof actionCreator>` to the generic argument for `dataPersistence.fetch` or add it to the `id`, `run` and `onError` callbacks.

[code]

[2019-08-11 18:36] ZachJW34 commented on #1059
I am interested in this issue as well. At my company, we recently added the `noUnusedLocals` and `noUnusedParameters` flags to our application's tsconfig and expect our builds to fail if these rules are violated. For consistency, our spec tests should also fail and for that we need the `globals` options of the jest config to be respected. I believe we can solve this issue by:

1. Let the `jest.con

[2019-08-11 20:09] METACEO commented on #1658
I was about to submit a similar issue until I came across this issue by @Maryannah - I would like to extend the discussion around this issue to accommodate or consider multiple Nest apps.

In my original case, I am using the Angular Console via VSCode and when I click on "Projects", find my Nest application and click its "Generate" button, any `@nestjs/schematics` I go to generate (i.e. controller

[2019-08-12 01:31] yharaskrik commented on #1685
@vsavkin I tried to upgrade our currently working prod branch on Angular 7 and Nx 7 using
```ng update @nrwl/schematics@8.4.4``` and it worked fine, but then this:

[code]

Unsure if requirements on the name of libs changed or if this is something else.

[2019-08-12 07:23] johannesschobel commented on #1658
@METACEO ,

please see my answer. This is, because `NestJs` requires the `nest-cli.json` file in the root directory of the nx-workspace (or in fact any structure) to determine where the file should be stored. Currently, the `nest-cli.json` file is **not** auto-generated when adding a `nest` application to `nrwl/nx` (this may be considered a bug!). However, as this file is not present, it will crea

[2019-08-12 07:38] Maryannah commented on #1658
I think the question was about handling several nest projects.

Will adding this file automatically work for 2, 3, 4 nest projects ?

[2019-08-12 07:47] johannesschobel commented on #1658
@Maryannah : no, because you need to "hardcode" the path to the project you want to add the module / controller / service / ... to (i.e., the `sourceRoot` field).

However, if you specify the `sourceRoot : "apps"` this would work, if you then call
`nest g module MyModule api/src/modules`

[2019-08-12 07:48] johannesschobel commented on #1658
further comments: i mean, the generators are fine, but after a time you don't really use them a lot i think.. i mostly create my service / controllers / modules myself.. so i guess this is not really a problem :thinking:

[2019-08-12 08:29] Maryannah commented on #1658
And would it be possible to do it like Angular, with a parameter to choose the app ?

And your answer is opinionated, while I agree with you, we both can't speak for every people that uses the generator, hope you understand !

[2019-08-12 12:12] johannesschobel commented on #1658
@Maryannah of course. I believe, the best option is to auto-generate the `nest-cli.json` file upon creating **the first** `nest` application in a given workspace.

However, it also may be possible to add an additional parameter to the schematics cli interface to select the specific app / lib to be used when generating respective file..

[2019-08-12 12:49] brandonroberts commented on #1016
Thanks @emilio-martinez. If its no longer an issue, you can close the issue.

[2019-08-12 13:07] brandonroberts commented on #191
Can this issue be closed or is there something remaining that needs to be documented?

[2019-08-12 13:09] brandonroberts commented on #630
Out of the box support for `@ngrx/entity` was added with `Nx 8.3`, and `@ngrx/data` can be added manually if needed using the ngrx docs https://ngrx.io/guide/data/install.

[2019-08-12 13:09] #630 closed

[2019-08-12 13:10] brandonroberts commented on #1013
@markgoho is this still an issue?

[2019-08-12 13:15] markgoho commented on #1013
@brandonroberts Not that I can tell! I'll close it as somewhere between January and now it's been fixed 😍

[2019-08-12 13:15] #1013 closed

[2019-08-12 13:20] brandonroberts commented on #1085
@markgoho the public API should not be limited to just the facade. Selectors and actions are meant to be shared across different areas that need to consume them.

1. Selectors still need to be exported because you should combine shared data in your Store using selectors, and not with Facades + Observable selectors + combineLatest. Using the pattern with a shared data source creates unnecessary com

[2019-08-12 13:20] #1085 closed

[2019-08-12 14:22] brandonroberts commented on #1700
This is due to https://github.com/angular/angular-cli/blob/c7135fae357ffe16bd420b59b80b002632806a45/packages/angular_devkit/build_angular/src/utils/version.ts#L41

A workaround is to install the `@angular/cli` using `yarn add @angular/cli --dev` to satisfy the dependency.

[2019-08-12 14:24] cafesanu opened #1702 "Unable to create component in a different path using @nrwl/react"
_[Please make sure you have read the submission guidelines before posting an issue](https://github.com/nrwl/nx/blob/master/CONTRIBUTING.md#-submitting-issue)_

# Prerequisites

Please answer the following questions for yourself before submitting an issue.
**YOU MAY DELETE THE PREREQUISITES SECTION.**

- [x] I am running the latest version
- [x] I checked the documentation and found no answer
- [x]

[2019-08-12 15:18] brandonroberts commented on #1686
@ahnpnl if you're primarily using Angular, you should be using the `ng` commands like they are in the Angular tutorial. If you're primarily using React or Web Components, you should be using the `nx` commands. The difference is that there is only a `workspace.json` when primarily only using React or Web Components. The `nx` command delegates appropriately, but we could define this more clearly in

[2019-08-12 15:30] brandonroberts commented on #1504
@tcoz can you verify this is still an issue with the latest release?

[2019-08-12 15:44] Jordan-Hall opened #1703 "nrwl/linter:lint "-- fix" not an option"
Running into issues with using lint --fix. Part of the git hooks we require to fix any linting and formatting rules. Recently created four new libraries and running into an issue with auto fix. two using eslint and two using tslint

## Expected Behavior

ng lint "project name" --fix

should attempt to fix any linting issues

## Current Behavior

Unknown option: '--fix'

## Failure Information (for

[2019-08-12 17:11] suhasdeshpande commented on #191
I have no objection on closing this. Github reminders are not very well understood by me. I always loss the issues I have opened or asked questions about. :D

[2019-08-12 18:02] METACEO commented on #1658
Well, while I'm not here to argue if the lack of the `nest-cli.json` file is a bug or not, my guess is that even if one was generated, I'd still have a problem or the inconvenience of generating Nestjs schematics for a specified Nestjs project.

[2019-08-12 20:41] mehrad-rafigh commented on #1703
@Jordan-Hall Can you please provide a repo where I can reproduce this?

[2019-08-13 10:46] Jordan-Hall commented on #1703
@mehrad-rafigh  https://github.com/Jordan-Hall/nx-lint-reproduce

It appears this time for tslint it used the angular tslint. However, the eslint one still fails. I have changed the angular.json to use the  ```@nrwl/linter:lint``` with the linter option to tslint. It appears  ```@nrwl/linter:lint``` just doesn't support auto fixing

[2019-08-13 11:09] ahnpnl opened #1705 "workspace-lint: possibility to exclude projects from workspace linting"
I'm not sure if this is a bug or a suggested feature.

# Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [x] I am running the latest version
- [x] I checked the documentation and found no answer
- [x] I checked to make sure that this issue has not already been filed
- [x] I'm reporting the issue to the correct repository (not related to Angular, Ang

[2019-08-13 15:55] CSchulz opened #1707 "Cypress open fails with "Please provide an absolute path to a tsconfig.json as cypressConfig.env.tsConfig""
## Expected Behavior

It should use the existing tsconfig.json.

## Current Behavior

It fails because there is no tsconfig.json defined in the config.

## Failure Information (for bugs)

[code]

### Steps to Reproduce

Please provide detailed steps for reproducing the issue.

1. Generate a sample project for cypress with nx.
2. Run `npx cypress -P apps/test-e2e`

### Context

- Nx: 8.4.8
[code]

[2019-08-13 15:59] CSchulz commented on #1707
Changing the plugin.js to set the tsconfig.json if not set works partial:

[code]

If you run a test now, it fails with another message:

[code]

I am using Cypress 3.4.1.

[2019-08-13 16:36] maxime1992 commented on #882
@FrozenPandaz doing what you said worked for me :+1:

Thanks!

[2019-08-13 18:23] yzini-eagle commented on #1393
I fixed this by changing my entities in my ormconfig.ts

from:

`entities: ['apps/**/*.entity.ts']`

to:

`entities: [join(__dirname, './**/*.entity{.ts,.js}')],`

Make sure you have `import { join } from 'path'`;

[2019-08-13 19:39] mehrad-rafigh commented on #1705
@ahnpnl Is your lib a style only lib?

If so, you can create a new directory under `libs`, add your styles there and include your styles in the apps with with:
[code]
This needs to be added to the `build.options` of `angular.json`

[2019-08-13 20:05] guilhermejcgois opened #1712 "Generate new library isn't working with angular 8"
_[Please make sure you have read the submission guidelines before posting an issue](https://github.com/nrwl/nx/blob/master/CONTRIBUTING.md#-submitting-issue)_

## Expected Behavior

Running `npx ng g @nrwl/angular:lib abc-shell --routing --lazy --parentModule=src/app/app.module.ts` should create libs/abc-shell (yes, the parentModule is correct 😅 )

## Current Behavior

The library creation was err

[2019-08-13 20:06] martijnsenden commented on #816
It does for me. Thanks!

[2019-08-13 20:17] ahnpnl commented on #1705
Hi,

Yes the intention is I want to create a style lib folder which includes shared utils for stylings, like mixins, functions etc. between features. I came across xplat samples and I found https://github.com/nstudio/xplat-sample/tree/master/frontend/libs . Therefore I decided to put the styling only folder inside libs.

I think it would be nice if somehow I can configure workspace lint to exclude

[2019-08-13 20:18] #1703 closed

[2019-08-13 20:20] mehrad-rafigh commented on #1712
@guilhermejcgois Your `parentModule` Path is incorrect. You need to use the relative path of your module, where you want to lazy load it.

Do you have a repo where I can reproduce this?

[2019-08-13 20:26] mehrad-rafigh commented on #1705
Yeah, I like xplat approach with the scss files.
This has been discussed in https://github.com/nrwl/nx/issues/1542 as well.
@ahnpnl Let's close this issue and open a feature request for easier shared styles consumption in the workspace. What do you say?

[2019-08-13 20:30] kjbetz commented on #1698
Per docs, you can pass the `--unit-test-runner` flag to specify which test runner you'd like to set up.

[2019-08-13 20:39] guilhermejcgois commented on #1712
Sorry, the repo is private =/

But here is my (part of it) `angular.json` file:

[code]

If I set `newProjectRoot` I can generate the library if I force it, 'cause my `jest.config.js` needed to be update 🤔

[2019-08-13 20:41] vsavkin commented on #1686
@tthrash since you selected Nx as the CLI when generating a workspace, the workspace only works with the nx cli. So there is no `@angular/cli` and the Ng command does not work.

If you select`Angular CLI`, you will get an angular cli workspace, and the ng command will work.

If you select angular or angular-nest preset, we automatically select the Angular CLI for you. But when you create an empty

[2019-08-13 20:41] #1686 closed

[2019-08-13 20:41] ahnpnl commented on #1705
I agree. I will close this and open a feature request for configurable workspace lint.

[2019-08-13 20:42] #1705 closed

[2019-08-13 20:45] vsavkin commented on #1666
We repro the issue and fixed it in 8.4.4.

Thank you folks for troubleshooting it.

[2019-08-13 20:45] #1666 closed

[2019-08-13 20:53] mehrad-rafigh commented on #1702
I am trying to debug this, but I do not get how to start my new react component schematic. I ran `yarn linknpm`. @vsavkin Can you please point me in the right direction?
Basically I want to run the react component schematic, which I modified.

[2019-08-13 20:55] vsavkin commented on #1685
@yharaskrik the angular cli had this restriction for a while. You cannot use test as the project name.

[2019-08-13 21:14] vsavkin commented on #1685
It looks the upgrade process is working. So I'm going to close this issue. If you have further problems, just reopen the issue with a repro.

Btw, when moving from 7 to 8, you need to run ng update twice.

ng update @nrwl/schematics
ng update @nrwl/workspace

[2019-08-13 21:14] #1685 closed

[2019-08-13 23:28] DWboutin commented on #232
I can't make it work `create-nx-workspace: command not found`

`$ node -v` v10.9.0
`$ npm -v` 6.9.0

<img width="261" alt="Screen Shot 2019-08-13 at 7 21 27 PM" src="https://user-images.githubusercontent.com/1322006/62984025-92e06380-bdff-11e9-84aa-98158e2ee465.png">

[2019-08-14 00:36] bostondevin commented on #1470
I have the same issue - where did you find the guide?

I have the same issue - where did you find the guide?

[2019-08-14 00:53] Sharondio commented on #1698
Hopefully that will work for adding an application to an existing nx-generated workspace. But what about when you're generating a workspace and initializing an app at that time? I'd still consider that a bug.

[2019-08-14 01:10] ksakae1216 opened #1715 "Step 5 Wrong URL"
_[Please make sure you have read the submission guidelines before posting an issue](https://github.com/nrwl/nx/blob/master/CONTRIBUTING.md#-submitting-issue)_

# Prerequisites

Please answer the following questions for yourself before submitting an issue.
**YOU MAY DELETE THE PREREQUISITES SECTION.**

- [X] I am running the latest version
- [X] I checked the documentation and found no answer
- [X]

[2019-08-14 01:18] bostondevin opened #1716 "An unhandled exception occurred: Could not find the implementation for builder @nrwl/builders:node-build"
Getting this error when converting an app from angular 7 to 8:

An unhandled exception occurred: Could not find the implementation for builder @nrwl/builders:node-build

This only happens during ng build

Ng serve works just fine...

# Prerequisites

Please answer the following questions for yourself before submitting an issue.
**YOU MAY DELETE THE PREREQUISITES SECTION.**

- [ ] I am running the

[2019-08-14 02:26] yharaskrik commented on #1685
@vsavkin awesome thank you! Seems as though it all works for me now. Just wanted to make sure if anyone else had the issues I did they could find an answer.

[2019-08-14 05:44] AlexAegis commented on #1393
You can also "fix" this issue if instead of supplying globs to the `entities` array, you supply the entities directly.

[code]

However this would require extra steps to introduce an entity. (Can be eased with using an index.ts and combine exports)

[2019-08-14 08:18] ahnpnl opened #1717 "[Feature request]: Allow workspace-lint to be configurable"
# Prerequisites

- [x] I am running the latest version
- [x] I checked the documentation and found no answer
- [x] I checked to make sure that this issue has not already been filed
- [x] I'm reporting the issue to the correct repository (not related to Angular, AngularCLI or any dependency)

## Expected Behavior

As discussed in #1705 , `workspace-lint` should have possibility to configure. The us

[2019-08-14 12:11] Hotell opened #1719 "--publishable doesn't work with `@nrwl/react:lib`"
## Expected Behavior

Please describe the behavior you are expecting

Following, should generate npm-publishable library package ( generating ambient types etc )
[code]

## Current Behavior

`--publishable` is ignored and we get "standard nx" monorepo lib

## Failure Information (for bugs)

### Steps to Reproduce

### Context

Please provide any relevant information about your setup:

- version of

[2019-08-14 12:12] Hotell commented on #1521
any update on this @jaysoo  ? thx!

[2019-08-14 12:18] GetCurious commented on #1416
my boss wont let me upgrade to angular 8! how do i fix this `_isScalar` error

[2019-08-14 12:29] Hotell opened #1720 "use `babel-jest` instead of ts-jest when babel is used for compilation `@nrwl/react`"
## Expected Behavior

`yarn nx g @nrwl/react:app with-babel --babel=true --linter=eslint`

should generate app that uses babel for compilation. eslint for linting and `babel-jest` for running transforms within jest instead of `ts-jest` which is deprecated and quite slow

## Current Behavior

`ts-jest` is always used for libraries and apps

### Context

Please provide any relevant information about

[2019-08-14 12:36] mtuzinskiy commented on #1551
Same problem

[2019-08-14 13:00] Hotell opened #1721 "question: how to use custom .babelrc or babel.config.js with @nrwl/react"
**Question:**
Is `babel.config.js`/`.babelrc` supported per lib/app (similarily to eslint/tsconfig) ?
if no, is it on the roadmap ?

thanks!

[2019-08-14 16:13] tmtron commented on #808
@bcabanes : has this changed in recent releases?

I see this in my build output:
[code]

[2019-08-14 16:56] cjanz commented on #1666
@vsavkin Thank you very much for fixing the bug 🙏🏻

[2019-08-14 17:16] bcabanes commented on #808
@tmtron This is caused by our new shiny CLI, this Note will be fixed in the next release ;)

[2019-08-14 18:11] #1715 closed

[2019-08-15 07:29] Tre665 commented on #1666
@vsavkin I also can confirm that the bug is fixed. Thank you for your quick response and the good work!

[2019-08-15 08:27] nivrith commented on #1104
@cpkthompson This worked for me!

[2019-08-15 09:01] tdekoekkoek commented on #158
None of this worked for me.  And this is a brand new nx app:  "@nrwl/angular": "8.1.2".

ng g c xxx --project yyy still creates a component with .css

[2019-08-15 13:25] danieldanielecki commented on #1142
@FrozenPandaz did that way and it worked out really good. Well, if you want for example more stricted rules for Angular's compiler then using the default's Nx I had to write the rules line in every single lib. Now, I got everything from 1 file, it helps to follow the [DRY ](https://en.wikipedia.org/wiki/Don%27t_repeat_yourself) principle. Would be great to see it at some point in Nx.

[2019-08-15 14:02] jaysoo commented on #1721
Hi @Hotell, yes the you can create a custom `.babelrc` file for your React app! Make sure it is located in your app's folder (e.g. `apps/my-app/.babelrc`, and it'll be picked up.

---

Also, make sure you specify our provided webpack config for using babel in your `workspace.json` file. You should see an entry like this:

[code]

If you created a React workspace when using `create-nx-workspace`, t

[2019-08-15 14:02] #1721 closed

[2019-08-15 14:05] jaysoo commented on #1720
@Hotell , great suggestion. I'll add this to our features list.

[2019-08-15 14:08] jaysoo commented on #1719
Dup of #1521. Let's keep the discussion there. :)

[2019-08-15 14:08] #1719 closed

[2019-08-15 14:09] Hotell commented on #1720
I highly recommend to add this "feature" to angular generators as well.

We recently migrated to pure `babel-jest` and the results are astonishing

![image](https://user-images.githubusercontent.com/1223799/63100302-1375a000-bf77-11e9-88e6-b84de75d120c.png)

[2019-08-15 14:10] jaysoo commented on #1521
@Hotell Hey, no updates yet but soon. I've been doing other enhancements for React, and this is on my list for August (this month). So stay tuned!

[2019-08-15 14:30] jaysoo commented on #1717
@vsavkin @FrozenPandaz Sounds reasonable. We would adding a config option in `nx.json` to exclude files for `workspace-lint`. What do you think?

[2019-08-15 14:34] jaysoo commented on #1716
@bostondevin Do you have an example repo that has this failure?

[2019-08-15 14:43] jaysoo commented on #1712
It sounds like this issue has been resolved.

Closing this, but feel free to re-open or open a new issue if you still run into problems.

[2019-08-15 14:43] #1712 closed

[2019-08-15 14:57] jaysoo commented on #1702
@cafesanu There seems to be a bug with not normalizing the component file name (which we can fix).

As for folder structure, we may want to move that to a separate `--directory` option.

So if you run `nx g c header --directory components` then we can generate the following:

[code]

[2019-08-15 14:59] jaysoo commented on #1702
@mehrad-rafigh I found it easier to run `yarn e2e react` (you don't have to let it run fully), and then playing with the generated workspace in `tmp/nx/proj`.

Or else you can `yarn build` and manually copy the `build/packages/react` folder over to your workspace's `node_modules`.

[2019-08-15 15:20] jaysoo commented on #1698
The thinking is that new workspaces will want to use Jest as the default, so there isn't an option when creating new workspaces.

@FrozenPandaz @vsavkin Any thoughts? We could prompt for this when creating an app.

[2019-08-15 15:24] cafesanu commented on #1702
@jaysoo Thank you!
`--directory` option would be great!

Since this is a command that we would use a lot, could it have a short name and a shorthand?maybe **`--dir` along with  `-d`**, or **`--path` along with `-p`** (if `p` and `d` do not exist of course)

Thanks again!

[2019-08-15 15:26] cafesanu commented on #1702
would this also include nested directories? something like `nx g c header --directory path/to/folder/`?

[2019-08-15 15:28] jaysoo commented on #1688
Closing this as the solution outlined in #1621 would solve this.

Feel free to re-open if needed.

[2019-08-15 15:28] #1688 closed

[2019-08-15 15:36] jaysoo commented on #1619
@gperdomor You can install it globally via `npm install -g create-nx-workspace`. We reworked the packages in 8.x so `@nrwl/schematics` does not provide this binary anymore.

We recommend running the create workspace using one of the three methods below.

**npx**
[code]

**npm**
[code]

**yarn**
[code]

[2019-08-15 15:36] #1619 closed

[2019-08-15 15:36] jaysoo commented on #1619
Closed this issue, let us know if you have any further problems.

[2019-08-15 15:49] jaysoo commented on #878
Closing this issue as there hasn't been any activity.

[2019-08-15 15:49] #878 closed

[2019-08-15 16:12] william-lohan commented on #1094
I was getting the same error but followed this comment https://github.com/nrwl/nx/issues/1500#issuecomment-509445199 and updated 8.2 and it worked

[2019-08-15 17:29] jaysoo commented on #1038
This issue has been fixed as packages can now be in `devDependencies`.

[2019-08-15 17:29] #1038 closed

[2019-08-15 17:37] jaysoo commented on #1537
@AnatoleLucet

I think CRA's features are a subset of what Nx+React provides. We've improved React support a lot in the past little while (eslint support, babel support, etc.).

I don't think it makes sense to directly integrate with CRA, but if there are any features there that's missing, please open new issues outlining what you're looking for. :)

For example, CRA's `yarn start` will prompt to

[2019-08-15 17:37] #1537 closed

[2019-08-15 17:43] jaysoo commented on #1707
Hi @CSchulz, you can run e2e tests with `ng e2e test-e2e`, or you can use `yarn`/`npm` if you don't use a global `ng` bin.

We don't recommend using the `cypress` cli directly since will not have the correct config.

[2019-08-15 17:43] #1707 closed

[2019-08-15 17:57] jaysoo commented on #1592
I'm not sure if we need to have those files be included if `package.json` is already there.

My suggestions:

1. Use a fixed version in `package.json` so updates will always force it to be changed.
2. Manually add those entries to `implicitDependencies` if it makes sense for your own workspace.

[2019-08-15 18:10] jaysoo commented on #1702
@cafesanu

Yes! I'll make sure that works and remove any rough edges around the CLI.

[2019-08-15 18:13] jaysoo commented on #1702
Of course! We can use `-d` as an alias for `--directory`.

[2019-08-15 21:42] pburgmer opened #1728 "@nrwl/node:execute does not wait for app to stop"
## Expected Behavior

App receives SIGTERM and starts to shut down. Builder will wait for app to shut down and restart after app process has stopped.

## Current Behavior

Builder sends SIGTERM to app. App starts to shut down. Builder restarts app before process has stopped.

## Failure Information (for bugs)

Inspect-Port is still in use (previous process not killed yet) and therefore app restart

[2019-08-16 02:46] jaysoo commented on #1702
PR has been opened #1729.

Also adding an error message when you use slashes in component name.

e.g.

[code]

results in an error

[code]

[2019-08-16 13:22] #1702 closed

[2019-08-16 14:28] ahnpnl opened #1730 "@nrwl/angular: Schematic "add" not found in collection "@nrwl/angular"."
# Prerequisites

- [x] I am running the latest version
- [x] I checked the documentation and found no answer
- [x] I checked to make sure that this issue has not already been filed
- [x] I'm reporting the issue to the correct repository (not related to Angular, AngularCLI or any dependency)

## Expected Behavior

Should be able to add `@angular/pwa` to an Angular app in the workspace which is usin

[2019-08-18 06:21] appsolutegeek commented on #1693
Thanks for the feedback - yes this does seems to be the case :-( Ok I think we can close this unless anybody else sees any issues ?

[2019-08-18 06:26] appsolutegeek opened #1735 "NX workspace CLI - missing upgrade command"
- [x] I am running the latest version
- [x] I checked the documentation and found no answer
- [x] I checked to make sure that this issue has not already been filed
- [x] I'm reporting the issue to the correct repository (not related to Angular, AngularCLI or any dependency)

## Expected Behavior

Using the angular cli you have access to the upgrade script via the package.json, it is recommended to

[2019-08-18 06:39] appsolutegeek commented on #1735
I am currently using NCU to update my packages but I was told before that this isn't the correct way as when things become deprecated or renamed the "upgrade" command takes care of these changes automatically

[code]

[2019-08-18 09:31] mehrad-rafigh commented on #1693
Yes I think we should close this. It works as expected, but there is a UI Bug in the IntelliJ Product Line

[2019-08-18 09:58] mehrad-rafigh commented on #1735
It should work with the NX CLI. Using NCU might break your app, because it updates all dependencies.
I created a test-workspace with `npx create-nx-workspace@8.4.9 myworkspace-needs-update` and used the `react` preset.
Running `ng update` will shou a list of dependencies, which can be updated.

But running `ng update @nrwl/workspace` I got the following error:
[code]

Running `ng update @nrwl/work

[2019-08-18 10:46] #1016 closed

[2019-08-18 11:36] appsolutegeek commented on #1735
Thanks @mehrad-rafigh , I missed that :-) I think the NX cli had replaced the ng cli when using with NON angular apps.

I think it would be better for consistency at least if they scripts were still there.

What would be even better would be for NX to implement the upgrade rather having a dependency on NG.

I am thinking now of returning to NG - would this be a better policy ?

There seems to be a

[2019-08-18 17:24] mehrad-rafigh commented on #1735
@appsolutegeek NX does not replace ng, but rather builds on top of the Angular CLI. This is the reason, why you can create react and web apps and components :)

When you are running a non Angular workspace you should use the nx CLI.
The only time you have to run ng, is when you want to update.

Maybe `nx update` can be added in the future.
What do you think @vsavkin @FrozenPandaz @jaysoo?

[2019-08-18 19:37] Doginal opened #1739 "Community Slack Channel"
Hey everyone,

I have set up a slack channel for nrwl community to help new and old users alike.

Have a question? why not ask the community!

[Join @nrwl/community](https://join.slack.com/t/nrwlcommunity/shared_invite/enQtNzMwMTQ2MjY0MDA1LWE4ZDZiYjM5ZjE0MWVjYmVmODM1MDEyZGU5NzA2YTM2MDM2ZDY3Yzg4YWU4MDI4YTcwZTM1ZWRjNzE5M2YzY2Y)!

[2019-08-18 21:08] appsolutegeek commented on #1735
Hi @mehrad-rafigh , Yes i understand that nx is built ontop of ng but what i really mean is that what seems to be recommended is that we use NX when using NON angular apps. In fact the ng cli isn't even a dependency.

I wouldn't have a problem using 1 or the other, I just think for consistency sake it would be better for the upgrade to be able to done via NX and left in the scripts of the package.

[2019-08-18 21:10] appsolutegeek commented on #1693
Sure, I will close this as i was the original reporter. Thanks everyone for the help and confirmation.

[2019-08-18 21:10] #1693 closed

[2019-08-19 11:20] SSmale commented on #510
This is something I am currently looking for too, did you have any luck solving the issue?

[2019-08-19 14:36] jaysoo commented on #1735
I think we still need to discuss how update can be handled by the Nx CLI. For now @mehrad-rafigh is correct that update will only work through Angular CLI.

This was the intention, at least when it comes to builders and schematics. However, Nx CLI isn't at feature parity with Angular CLI, so some things are missing (such as update).

[2019-08-19 16:31] brandonroberts commented on #1730
Nx does not currently support an `add` command, but the command to run when using the Angular CLI is `ng add @angular/pwa --project my-app`. If you want to run it manually, try:

[code]

[2019-08-19 16:39] ahnpnl commented on #1730
Hi, maybe this should be documented somewhere in the meanwhile waiting for Nx to support add ? I think that will be helpful for others to refer to.

[2019-08-19 16:47] brandonroberts commented on #1730
@ahnpnl are you using Angular primarily? If you are, you should power your workspace using the Angular CLI and use the `ng` commands. The `Nx CLI` is primarily for react and web component projects at the moment.

[2019-08-19 17:07] ahnpnl commented on #1730
Hi, the reason I went for Nx CLI because the workspace might extend to contain React/Vue or web components later. Therefore my team wants to try out Nx CLI as a generic workspace to be easily extended for future

[2019-08-20 09:39] ahnpnl opened #1740 "service worker doesn't work with Angular apps in Nx workspace"
# Prerequisites

- [x] I am running the latest version
- [x] I checked the documentation and found no answer
- [x] I checked to make sure that this issue has not already been filed
- [x] I'm reporting the issue to the correct repository (not related to Angular, AngularCLI or any dependency)

## Expected Behavior

Should be able to register service worker for an Angular app.

## Current Behavior

T

[2019-08-20 09:50] appsolutegeek commented on #1735
ok - thanks for the confirmation.

[2019-08-20 09:53] appsolutegeek opened #1741 "Generation of app uses ESLINT but generation of library still uses TSLINT ?"
- [x] I am running the latest version
- [x] I checked the documentation and found no answer
- [x] I checked to make sure that this issue has not already been filed
- [x] I'm reporting the issue to the correct repository (not related to Angular, AngularCLI or any dependency)

## Expected Behavior

Creating a new app now creates the app using ESLINT which i think is a good thing, as TSLINT is deprec

[2019-08-20 09:59] appsolutegeek commented on #1741
ah!, I notice I can pass in a --linter=eslint

Is there anyway to make this the default ? I never had to pass this into creating an application ?

Ideas ?

[2019-08-20 10:56] joelmuskwe opened #1742 "Failing to pass options using workspace-scematics"
**Current Versions**
- "create-nx-workspace@8.4.12"
- Angular CLI: 8.2.2
- Node: 12.8.1
- OS: darwin x64
- Angular: 8.2.2

## Expected Behavior
Expecting the below after running `yarn run workspace-schematic -- feature-lib myApp --project=test`

with the result below for the schema:
{
  interactive: false,
  'dry-run': true,
  dryRun: true,
  name: 'myApp ',
  project: test
}

## Current Behavior

[2019-08-20 13:00] #1742 closed

[2019-08-20 18:12] jafaircl commented on #1511
gatsby support would be awesome

[2019-08-20 19:33] danieldanielecki commented on #1541
Great idea! We have Angular, React, Web Component, only Vue.js is missing. Can't wait for this, it should be a priority definitely!

[2019-08-20 19:43] Jordan-Hall commented on #1541
Hey, just working on Storybook build then this is the priority for me.  Please bear with me, the full support with .vue will have to be added later.

[2019-08-20 19:58] joelmuskwe opened #1743 "Extending @nrwl/angular"
Can you please assist in adding a feature were we are able to pass a projectName it will help simplify project names when say grouping feature and data-access libs within multiple subdirectories.

**Current Behaviour**
 updateJsonInTree(`/nx.json`, json => {
        return {
          ...json,
          projects: {
            ...json.projects,
            [options.name]: { tags: options.parsedTag

[2019-08-21 05:51] TousifMir commented on #713
@github-mayur What was the fix for this? Even I am getting struggling with this issue. Thanks.

[2019-08-21 07:23] maku opened #1744 "react - using CSS Modules in a Nrwl NX workspace"
I run version 8.4.12 of nx

I would like use css modules in a react app

In a recent react project, created with "create-react-app", I am able to use css modules.

e.g.
 import `classes from './MyComponent.module.css';`

and the usage:

`<div className={classes.my-css-class}> </div>`

How is this possible with nx?

[2019-08-21 13:44] numerical25 commented on #1482
@vsavkin @FazioNico  There is more missing to this solution. I am using angular 8 and node 12. nx is calling for there to be a `root` property` in the frontend-1 project. This solution could be out dated.

[2019-08-21 15:37] kylecordes commented on #1658
It would be great to have "auto-generate the nest-cli.json file upon creating the first nest application" between now and a fuller implementation.

[2019-08-22 05:03] joelmuskwe opened #1745 "Failing to add @nrwl/angular to a new workspace"
## Expected Behavior

Expecting to be able to run `ng add @nrwl/angular`

## Current Behavior
Getting the below attached error:
<img width="904" alt="Screenshot 2019-08-22 at 06 59 44" src="https://user-images.githubusercontent.com/5989937/63487187-93859380-c4aa-11e9-87d0-53fc019f41df.png">

## Failure Information (for bugs)

Error message i am getting is: **_The add command requires to be run in

[2019-08-22 05:54] ahnpnl commented on #1745
When choosing Nx CLI to generate a workspace,the original ng command won't work. You just need to run yarn add --dev @nrwl/angular, it is stated in the README.

[2019-08-22 06:17] joelmuskwe commented on #1745
@ahnpnl that would only add the @nrwl/angular as a package in your package.json the project is then even refusing to open with angular-console both the standalone app and the vscode extension find attached files generated in the project and as you can see there is no angular.json file that has been generated.

<img width="1059" alt="Screenshot 2019-08-22 at 08 15 02" src="https://user-images.githu

[2019-08-22 06:24] ahnpnl commented on #1745
That is the trade-off of choosing Nx CLI. If generating workspace choosing Angular CLI, you will get angular.json . I encountered the same issue as yours, but my team had to figure out by ourselves about that. You can't find this in Nx documentation.

[2019-08-22 07:06] joelmuskwe commented on #1745
@ahnpnl thank you the command line is confusing.

[2019-08-22 07:06] #1745 closed

[2019-08-22 13:44] jared-christensen commented on #976
--codeCoverage=true did not work for me, has this changed?

[2019-08-22 14:03] jared-christensen opened #1746 "--code-coverage not printing coverage to console"
## Expected Behavior

when running  the command
ng test libName --codeCoverage=true
I expect the console to show a coverage report

## Current Behavior

Test run but no coverage report is shown in the console.

## Failure Information (for bugs)

Please help provide information about the failure if this is a bug. If it is not a bug, please remove the rest of this template.

[2019-08-22 18:16] mehrad-rafigh commented on #1746
@jared-christensen This is the default behaviour. Please refer to https://github.com/nrwl/nx/issues/1337 and close this issue, as it is a duplicate :)

[2019-08-22 19:47] MarcAndreG commented on #1518
Do you have any progress on this issue? We are facing the same problem right now.

We have two nest + one node applications.

We've tryed to use "generate-package-json-webpack-plugin" to generate the package.json, but it only detect half the dependencies. We have to hardcode some in the script. It's not viable.

It is possible to build a single file app?

[2019-08-23 06:25] MSakamaki commented on #1658
If you have multiple nest applications, editing `nest-cli.json` is hard.

Fortunately,  `@nest/cli` has a schematic, so you can welcome it to the nrwl project by adding `workspace-schematic`.
This is the sample code.
https://gist.github.com/MSakamaki/6ee0a7d7c0d6878462a7661c5d848c9f

This is working without problems in my environment, and if this correspondence is not a problem, I would like to gi

[2019-08-23 09:10] danieldanielecki opened #1749 "Add support for Mutation Testing"
It could have been great to have in a freshly generated monorepo a support for mutation testing, [Stryker](https://stryker-mutator.io/) supports Jest & TypeScript.

[2019-08-23 09:54] Jordan-Hall opened #1750 "nx affected:build using origin/master"
It appears you can't compare with a remote branch.

[code]

[2019-08-23 09:56] CRACKISH opened #1751 "Convert error existing angular project with lib"
I have angular project and in this project there are two libraries. I want convert it to nx workspace. I use ng add @nrwl/workspace command. But i have error.

# Prerequisites
- [ x] I am running the latest version
- [x ] I checked the documentation and found no answer
- [ x] I checked to make sure that this issue has not already been filed
- [x ] I'm reporting the issue to the correct repository

[2019-08-23 10:09] #1750 closed

[2019-08-23 11:49] Jordan-Hall commented on #493
@vsavkin doesn't appear to be fixed.

[code]

[2019-08-23 12:18] Jordan-Hall opened #1752 "npm run lint -- --fix fails due to different builders"
Getting the following error when running `npm run lint -- --lint`:

The root cause of the issue:
The issue extends from having a different type of builders for lint.

How to reproduce
create an angular project which uses tslint builder by angular. Then create a library with lint being eslint.

Solutions:
The recommended solution would be the minute we add anything with eslint. We migrate all lint

[2019-08-23 13:43] danieldanielecki opened #1753 "Add ngrev to dep-graph"
The Nx is awesome, dep-graph is one of the helpful tools being used. But why not to empower it by adding [ngrev](https://github.com/mgechev/ngrev)? A demo is [here](https://www.youtube.com/watch?v=sKdsxdeLWjM).

[2019-08-23 14:35] Jordan-Hall commented on #1753
I believe they show two different things and trying to solve two different issues.  Dep-graph is more about the libraries your application uses from within your own monorepo, whereas ngrev shows how your application is pinned together in small pieces.

compodoc does something similar but also offers more. Nothing wrong with using either ngrev and compodoc but wouldn't recommend combining the funct

[2019-08-23 15:11] philly-vanilly commented on #1439
`  Options: setupTestFrameworkScriptFile and setupFilesAfterEnv cannot be used together.`
😞

[2019-08-23 15:14] philly-vanilly commented on #1439
So ATM I have the option between running the test in a pipeline or running individual tests via IntelliJ. One forbids using setupFilesAfterEnv, the other requires it.

[2019-08-23 15:23] SachinShekhar commented on #208
All solutions make environmental variables available in components and services. But, I need it inside @ngModule decorator. How to achieve it?
----------------------------------
**Here's my exact use case:**
I am factoring out Auth section (which uses Firebase) of one app into a shared library because I need to add more apps to the workspace which can make use of existing Auth section.
**The Probl

[2019-08-23 15:41] adgoncal commented on #1698
In `angular.json`, I have the following section:
[code]

However, `ng g lib` still uses jest. Is there something wrong with my configuration? If not, what is the point of this configuration in angular.json if the schematics don't honor it?

[2019-08-23 16:36] gcirone commented on #1677
Looks like the package.json of chalk doesn't contain the main property.

Same problem when i compile a library with latest dependencies installed ("@angular/core": "9.0.0-next.3",  "@angular/cli": "8.3.0", "@nrwl/workspace": "8.4.12")

[2019-08-23 19:13] dianjuar commented on #633
What about an `affected:deploy` with the just released angular cli feature deploy -> `ng deploy yourApp` ?

[2019-08-23 20:59] mac2000 commented on #633
@dianjuar not sure if I find what you mean, is it - https://github.com/angular/angular-cli/commit/5df50bacbe11f029e7d841395f16c02d804f07db this commit? It might be good starting point but still not sure how then it will wireup with `affected` from nx

[2019-08-24 01:48] kaushiksamanta commented on #1518
Any progress ??.
I'm also facing the same issue.

[2019-08-24 10:25] danieldanielecki commented on #1753
@Jordan-Hall I see it now, you're right. Edited the title and content of my first post.

[2019-08-24 11:03] Jordan-Hall commented on #1753
@danibsheehan  would this be repo wide or application specific?

[2019-08-24 12:41] nivrith commented on #1393
I'm also experiencing this issue. any updates on this?

[2019-08-24 18:01] mann-david opened #1754 "Feature Request: Make config files optional"
## Expected Behavior
Generating libs gives you the option of **not** creating the config and ReadMe files and just inheriting from up the folder hierarchy

## Current Behavior
Generating libs creates all of the config files and a ReadMe in each generated library

## Other

For smaller or less-complex setups, having all of the config/etc. files in **each** lib is just clutter.  Most of the time, th

[2019-08-24 22:49] dianjuar commented on #633
I'm taking about the ng cli feature [deploy](https://angular.io/guide/deployment).

So maybe the NX team can do a `affected:deploy` and start the deploy of those apps. Just like `affected:test`

[2019-08-25 21:21] bcabanes commented on #1746
This issue is a duplicate of #1337, closing.

[2019-08-25 21:21] #1746 closed

[2019-08-26 01:47] SebasG22 commented on #1749
I can help with that. Instead of making it mandatory when generating a monorepo, it would be that it could be easily integrated into existing projects through `schematics`.

[2019-08-26 03:55] Steven-Harris commented on #1614
I believe this is an code issue too. I really like nrwl serving the angular application but I need to override cypress's baseUrl

[2019-08-26 06:38] mrambow opened #1755 "Cannot find module 'typescript' with npx create-nx-workspace@latest myworkspace"
Using **npx create-nx-workspace@latest myworkspace** results in an error:

[code]

Expected behavior would be that it installs an work space with an angular project.
npm Version: 6.11.2
typescript 3.5.3

Related to https://github.com/nrwl/nx/issues/1581

[2019-08-26 07:40] victornoel commented on #1571
@vsavkin I just upgraded from 8.0 to 8.4 and now, the output of `affected:apps` is almost useless (except for doing https://github.com/nrwl/nx/issues/1571#issuecomment-515659813 but it's not working exactly as I would like…). I can hack it away, but it would be great to know if the json output feature you were talking about was still planned to be implemented, and maybe if you know when?

[2019-08-26 07:57] victornoel commented on #1571
Thanks @BuckyMaler, I went with your solution until then, updated for 8.4:
[code]

[2019-08-26 12:32] alexanderPastornicky opened #1756 "What is correct way to update NX workspace?"
_[Please make sure you have read the submission guidelines before posting an issue](https://github.com/nrwl/nx/blob/master/CONTRIBUTING.md#-submitting-issue)_

## Expected Behavior

After running 'npm run update' - NX workspace and all dependencies should be updated to latest versions (angular, ngrx, etc.) (according to https://nx.dev/angular/guides/update)

## Current Behavior

Only @nrwl package

[2019-08-26 13:50] dianjuar commented on #633
I found an article that explain what a deployer is

https://angular.schule/blog/2019-08-ng-deploy

[2019-08-26 14:18] danielsmeyer commented on #1462
I got this error when there was a comma ',' at the end of the array list of 'include'

[2019-08-26 14:49] alexanderPastornicky commented on #1756
"@nrwl/workspace": "8.1.0" -> "@nrwl/workspace": "8.4.12"

[2019-08-27 08:03] marcus-sa commented on #1018
So... what's the update on this? Because I'm currently not using any Nx rules because the circular dependency errors can't be swallowed.

[2019-08-27 14:20] #1756 closed

[2019-08-27 14:38] tcoz commented on #602
You can publish the librarie if you install ng-packagr. Their doc page says how to go about it (you add a package.json to the lib directory, then run ng packagr on it, after which you can use npm pack to create a locally usable file, or publish to npm).

I agree that it would be nice to just be able to ng build mylib, but the ng packagr solution is straightforward enough.

There are some gotchas,

[2019-08-27 20:54] davideasaf opened #1759 "'styles' object key always sets its value as an array with Jest testing"
## Expected Behavior
When running a Jest test for an Angular application that was setup using the NX workspace, the key `styles` in any object should be allowed to be mutated.

## Current Behavior

Running Jest tests for an Angular application that was setup using the NX workspace, the key `styles` in an object is always set to an array `[]`.

## Failure Information (for bugs)

### Steps to Reprod

[2019-08-28 12:04] mehrad-rafigh commented on #1749
This would be nice indeed.

I am thinking of adding a new flag to app and lib generation `--mutation-test-runner`
It could have `none`as the default option and `stryker-mutator` as an option to invoke the schematic and setup everything needed.

What do guys think? I would have the time to tackle this.

[2019-08-28 16:34] philipreimer opened #1764 "migration from nx7 to nx8 fails"
## Expected Behavior

Successful migration from nx7 to nx8 following the [official migration guide](https://nx.dev/angular/guides/nx7-to-nx8)

## Current Behavior

Migration fails in third step when running `ng update @nrwl/workspace@8.4.8` with the following error message:

[code]

Same error when using latest release `8.4.12` instead iof `8.4.8`.

## Failure Information (for bugs)

### Steps to

[2019-08-28 17:04] EvtK commented on #1662
if you remove the devServerTarget for the specific e2e project from the options object, I think you have achieved what you are looking for.

[2019-08-28 19:24] alfaproject commented on #1018
I'm actually using that pattern on `tsconfig.json` in path aliases. (we currently have this linting rule disabled so that we can have 1 level deep imports)

[2019-08-29 01:57] MSakamaki commented on #1658
Does the config file indicate angular.json?
If so, nest-cli will not reference angular.json.

If you want to reference the file layout of angular.json, you can solve it by bridging using workspace schematic.

[2019-08-29 02:41] jaysoo commented on #1744
Hi @maku

We don't currently support CSS modules but we can look at extending our builder for it.

The workaround right now is to provide your own custom webpack to the web builder.

Look in your `workspace.json` file for your app and you should find a `build` entry under `architect`.

[code]

You need to switch `webpackConfig` with your own, such as `"./apps/demo/webpack.config.js"`. Please chang

[2019-08-29 04:09] SebasG22 commented on #1749
Awesome, let's do it. @mehrad-rafigh
I will start working on this feature this weekend.
My plan is to generate the basic schematic for `stryker` then we can integrate this option to the `libs and apps` schematic.

[2019-08-29 05:42] SWGeekPD opened #1765 "Nrwl: Publishable library is not building as have imports from other library."
_[Please make sure you have read the submission guidelines before posting an issue](https://github.com/nrwl/nx/blob/master/CONTRIBUTING.md#-submitting-issue)_

# Prerequisites

Please answer the following questions for yourself before submitting an issue.
**YOU MAY DELETE THE PREREQUISITES SECTION.**

- [ ] I am running the latest version
- [ ] I checked the documentation and found no answer
- [ ]

[2019-08-29 11:00] NailRode commented on #1393
This fixed it for me:

`
import { Module } from '@nestjs/common';
import { TypeOrmModule } from '@nestjs/typeorm';
import { getMetadataArgsStorage } from 'typeorm';
import { typeOrmConfig } from '../config/typeorm.config';

@Module({
  imports: [
    ...,
    TypeOrmModule.forRoot({
      ...typeOrmConfig,
      entities: getMetadataArgsStorage().tables.map(tbl => tbl.target)
    })
  ]
})
export

[2019-08-29 11:43] mrambow commented on #1755
Same error

[2019-08-29 15:50] mehrad-rafigh commented on #1749
@SebasG22 Sounds good! If I can help you in any ways, let me know :)

[2019-08-29 16:33] mehrad-rafigh commented on #1740
@ahnpnl @vsavkin I cannot reproduce this issue.
I created a new workspace with `npx --ignore-existing create-nx-workspace myworkspace-test-service-worker` and select `angular` as preset.
After that I installed the pwa related packages. `ng add @angular/pwa --project=testing-pwa` and then run `ng build testing-pwa --configuration production`
Looking inside the dist folder of my app, I can the see t

[2019-08-29 16:39] ahnpnl commented on #1740
this only happens if choosing Nx CLI when generating a workspace. If choosing Angular CLI when generating a workspace, it works fine.

[2019-08-29 16:43] mehrad-rafigh commented on #1730
@ahnpnl Can you please close this issue, as it seemed resolved from your side

[2019-08-29 17:08] ahnpnl commented on #1730
I wonder if there should be a fix for this instead of workaround ?

[2019-08-29 18:00] jaysoo commented on #1541
@Jordan-Hall Great idea.

Is babel  usage common with Vue? I've seen some setup using just ts-loader. I'm just curious since I've never worked on a production Vue app.

Also note that we're looking to make babel support better. Right now it exists as a React-specific plugin.

[2019-08-29 18:03] jaysoo commented on #1765
@SWGeekPD Do you have a repo that reproduces this bug?

[2019-08-29 18:04] mehrad-rafigh commented on #1730
Just as Brandon mentioned, NX is not feature par with ng and this will take time. I do not even know, if that is the plan of the nx team.
If you want to use any angular related things, please use ng!

[2019-08-29 18:06] mehrad-rafigh commented on #1740
Please refer to your own issue https://github.com/nrwl/nx/issues/1730

The reason why it won't work, is that NX is **NOT** a copy of NG in some sort.
For the time being, please only use NX for react and web-components. If you need Angular related packages, please use the NG CLI.

[2019-08-29 18:36] jaysoo commented on #1511
@NikoMontana @oknoorap Next.js support is being discussed, but we don't have a concrete plan yet. So stay tuned!

@jafaircl I think we are prioritizing Next.js over Gatsby for now. But keep letting us know what you'd like do see!

[2019-08-30 05:57] dsebastien commented on #1439
Could this issue be reopened?
The problem actually seems to still be there and it feels utterly wrong to have to add an environment to the Jest config in IntelliJ/WebStorm to decide whether to adapt the configuration or not.

[2019-08-30 05:58] dsebastien commented on #1439
@wesleygrimes Wes, I don't know if you could chime in, or maybe pass the info to another Nx developer who knows about the Jest setup?

[2019-08-30 08:48] fkolar opened #1768 "Documentation enhacements"
#Environment info

[code]

# Prerequisites
- [ ] I am running the latest version
- [X ] I checked the documentation and found no answer
- [ ] I checked to make sure that this issue has not already been filed
- [ ] I'm reporting the issue to the correct repository (not related to Angular, AngularCLI or any dependency)

## Expected Behavior

I am trying to find in the docs something that  mentions a

[2019-08-30 10:30] maku commented on #1744
Hi @jaysoo,

thank you for answering. I would only use css modules when I don't have to fiddle around with the config (mainly I use Angular but I am curious about the React features in nx). But from my point of view it would make sense when nx is able to handle css modules...

[2019-08-30 10:33] mehrad-rafigh commented on #1768
Hi @fkolar

In Nx 8 the package structure changed, because NX is moving to become a framework agnostic tool for monostyle repo development. You can read more about it here
https://blog.nrwl.io/nxs-new-look-in-v8-25d7325260d

`@nrwl/schematics` is still used and that's what drives the migrations for nx versions. Say you want to update your nx 7 Workspace to v8, the `@nrwl/schematics` updates your d

[2019-08-30 10:38] fkolar commented on #1768
Great. So adding nx to existing project that is based on version 7, I would still use `ng add @nrwl/schematics@7`

[2019-08-30 10:41] mehrad-rafigh commented on #1768
If you are using angular 7 and beneath, than yes.

[2019-08-30 10:42] #1768 closed

[2019-08-30 11:42] tcoz commented on #1730
I think the reason for this is that unless you explicitly install the angular Nx package, the default schematics collection for the workspace won’t be set, so you’ll have to fully qualify your angular commands. If you do install it, that’ll set the default schematics to angular and no commands will run normally. This may, however, compromise the agnostic nature of the workspace.

[2019-08-30 12:35] mehrad-rafigh commented on #1659
Shouldn't we try to include the serverless framework, so you can deploy your functions not only to Azure, but to AWS and GCP as well?

[2019-08-30 13:45] jaysoo commented on #1744
@maku Sounds good. I'm doing some refactoring on our babel support. After that is done this should be easy to add.

[2019-08-30 15:32] matheo commented on #1676
@vsavkin as the time goes on, we're getting more warnings whle updating:
[code]

[2019-08-30 15:40] jstoppa commented on #602
I implemented this package dependencies in a plain package using Angular CLI, I was hoping Nrwl would handle this types of scenarios. Any chance this will get supported at some point?

[2019-08-30 16:06] mehrad-rafigh commented on #1676
@matheo There is a PR https://github.com/nrwl/nx/pull/1757 coming. Soon I hope :)

[2019-08-30 16:21] mehrad-rafigh commented on #1468
@matheo Any progress on this?

[2019-08-30 16:24] mehrad-rafigh commented on #607
@markcdev Nope thats not related to the problem described above. You should not be able to create an app and a lib with the same name!

[2019-08-30 16:26] mehrad-rafigh commented on #1125
@FrozenPandaz what do you have in mind?

[2019-08-30 18:46] mehrad-rafigh commented on #1002
Hey guys.  I opened a PR #1770
Is it, what you party people are looking for? If so, cool! If not, what needs to be changed?

I created a brand new nest app with the nest cli and compared the tsconfig
After my patch, there won't be much difference.

[2019-08-30 18:55] source-transformer opened #1771 "Jest: Do Not Stomp On Entire "globals" Field"
We're using @nrwl 8.4.12 (including @nrwl/jest 8.4.12).

## Expected Behavior

We expect to be able to pass globals data and not have it entirely stomped on.

## Current Behavior

The current behavior is derived from:
node_modules/@nrwl/jest/src/builders/jest/jest.impl.js

Specifically this line:
globals: JSON.stringify({
            'ts-jest': tsJestConfig
        }

It's fine to inject/override

[2019-08-30 18:56] FrozenPandaz commented on #1674
Fixed by #1692

[2019-08-30 18:56] #1674 closed

[2019-08-30 19:27] FrozenPandaz commented on #1561
@hoang-innomizetech

I'm afraid webpack isn't used when running the jest tests. Is there something specific that does not work?

[2019-08-30 20:31] stefan-karlsson commented on #1381
Will close this since it is not a issue anymore

[2019-08-30 20:31] #1381 closed

[2019-08-30 21:07] matheo commented on #1676
Thanks for the info @mehrad-rafigh!

[2019-08-30 21:12] matheo commented on #1468
@mehrad-rafigh perhaps you can help me to finish this.
I haven't the time to figure the different scenarios and its configurations,
with a clear picture I may finish this :)

[2019-08-30 22:44] mehrad-rafigh commented on #1649
@johannesschobel @xmlking Can anyone of you provide a repo where the bug could be reproduced?

[2019-08-31 01:24] mehrad-rafigh commented on #1211
This issue can be closed. When you use `npx --ignore-existing create-nx-workspace react-express-full-stack` you have the option `react-express     [a workspace with a full stack application (React + Express)]` as a preset.

[2019-08-31 08:32] mehrad-rafigh commented on #1614
Hey Folks. Does anybody have a repo where I could test my patch?

[2019-08-31 09:51] mehrad-rafigh opened #1773 "Angular and Angular-Nest Presets have react styling options"
- [x] I am running the latest version
- [x] I checked the documentation and found no answer
- [x] I checked to make sure that this issue has not already been filed
- [x] I'm reporting the issue to the correct repository (not related to Angular, AngularCLI or any dependency)

## Expected Behavior
When selecting the `angular` or `angular-nest` presets, **styled-components** and **emotion** should no

[2019-08-31 10:03] mehrad-rafigh commented on #1173
@FrozenPandaz @vsavkin This issue can be closed. This is no longer the case. It tried it with Nx@8.4.13

[2019-08-31 10:05] mehrad-rafigh commented on #1288
I would love to tackle this. I will take a look at it and make a PR. So /claim

[2019-08-31 11:23] johannesschobel commented on #1649
Dear @mehrad-rafigh , i will try to create a small showcase repo on monday.. just created a reminder for me ;)

[2019-08-31 13:50] #1173 closed

[2019-08-31 18:24] xmlking commented on #1649
@vsavkin after upgrading  `typescript` version to `3.5` or `3.6`, I can reproduce above issue.

[code]
this is my updated  `package.json`
[code]

[2019-08-31 18:30] mehrad-rafigh commented on #1288
@FrozenPandaz would be please review my changes?

[2019-08-31 19:04] Need-To-Learn commented on #1002
@mehrad-rafigh Hi, that's exactly what I was looking for :)
I didn't test it yet but reading the code, it looks good !

Plus I agree to the fact that we should stick to nestjs' es version.

[2019-08-31 20:55] mehrad-rafigh commented on #1649
Hi @xmlking. Can I test it in the ngrx starter project of yours?

[2019-08-31 21:18] mehrad-rafigh commented on #1771
This is a duplicate of https://github.com/nrwl/nx/issues/1059

[2019-08-31 23:00] DmitryEfimenko commented on #619
I tried using the xplat thing. It installed Angular Cli 1.7... Not acceptable to me. I think this issue should be re-opened. Ionic lib should be supported by NX out of the box

[2019-09-01 00:00] xmlking commented on #1649
@mehrad-rafigh you can test at https://github.com/nrwl/bug-repro-circular

[2019-09-01 03:47] mehrad-rafigh commented on #1511
Next.js would be great indeed. The possibility to render static-web pages would be great. Any chance, the community could take over @jaysoo?

[2019-09-01 11:43] SWGeekPD commented on #1765
@jaysoo . I just created a publishable lib called "abc". And than imported my another lib called shared in this abc lib.
Now when I am doing ng build --project abc
I am getting this error.
**"error:- 'rootDir' is expected to contain all source files"**

[2019-09-01 11:46] SWGeekPD opened #1775 "PWA: Install option not showing in address bar in PWA App in chrome 76."
As per Google doc the new chrome version 76 should show the install option in the address bar but I m not getting any install option.

On the other hand if I lower down my chrome version to 75, I can see the install option in the 3 dot options.

[2019-09-01 12:55] sanjevirau commented on #1744
@jaysoo I tried configuring the webpack configuration like mentioned above. Nx compiled it successfully but the class name doesn't seems to be shown in the render. Am I missing something?

[2019-09-01 15:58] HackPoint commented on #1234
~/projects:🚀 (genadyshmunik)$ npx create-nx-workspace fastry
npx: installed 162 in 7.576s
? What to create in the new workspace angular-nest      [a workspace with a full
 stack application (Angular + Nest)]
? Application name                    fastry
? Default stylesheet format           SASS(.scss)  [ http://sass-lang.com   ]
Creating a sandbox with Nx...
(node:10328) UnhandledPromiseRejectionW

[2019-09-01 17:02] NathanWalker commented on #619
@DmitryEfimenko perhaps a sample repo if you could share would allow someone to assist. xplat doesn’t install angular cli but relies on your global install in addition to which version of Nx you setup.

[2019-09-02 06:50] ahnpnl commented on #1740
hi @mehrad-rafigh , I wonder nrwl has any tools to switch a workspace generated by Nx CLI to a workspace generated by Angular CLI ? That would be convenient and more flexible for users.

[2019-09-02 07:59] comunitius opened #1777 "package.json per app"
First of all,. just like to say thank you! I love nrwl nx and how well organized the code looks like when using nx! Also, it's awesome you folks are investing in React!

# Prerequisites

Please answer the following questions for yourself before submitting an issue.
**YOU MAY DELETE THE PREREQUISITES SECTION.**

- [X] I am running the latest version
- [X] I checked the documentation and found no an

[2019-09-02 10:44] CharlieGreenman opened #1778 "ng add @nrwl/workspace angular.json paths off"
_[Please make sure you have read the submission guidelines before posting an iss

# Prerequisites
Angular V7.2.15
## Expected Behavior
Addition of nrwl workspace should be seamless

## Current Behavior
angular.json has old file paths of cli, and not that of workspace

### Steps to Reproduce
Create an angular application using the cli for v7.2.15 and use `ng add @nrwl/workspace` as specified here:

[2019-09-02 12:49] mehrad-rafigh commented on #1195
@vsavkin This issue can be closed. It has been resolved, as it seems.

[2019-09-02 13:19] the-ult commented on #1777
A related question/problem we are facing with using a node graphql-api is:
- how to create a small node_modules just for production and just for the node application.
Since otherwise node_modules will include the nx, angular, cypress libraries, etc

To solve this, we are using a separate (specific) `package.json` in the `apps/graphql-server`.

However, this results in other problems like:
- nx aff

[2019-09-02 14:33] johannesschobel commented on #1649
@mehrad-rafigh do you still need a reproduction repository? because if so, i would create some..

[2019-09-02 17:14] jmsv opened #1779 "React class component babel error: "Missing class properties transform""
I've jumped into using Nx today and so far I love it and intend to keep using it! Just came across the following problem and it looks like it could be an issue with how Nx sets up React apps?

## Expected Behavior

Can use class properties/arrow functions in React components

## Current Behavior

Defining anything in a React component class (`extends React.Component`) fails with:

[code]

## Failu

[2019-09-02 17:15] #1288 closed

[2019-09-02 18:30] vsavkin commented on #1779
@jmsv thanks for checking out Nx and submitting the issue. We will look into it and hopefully land a fix in the next release.

[2019-09-02 18:41] vsavkin commented on #1777
Thanks for submitting the issue.

You could create a package.json per project, and for instance use something like `yarn workspaces` to make npm installs relatively fast. We used to do it for one of our internal projects.

We believe in the single-version policy, where, for instance, all applications using NestJS, use the same version of NestJS. Even though it looks a bit crazy at first, we think

[2019-09-02 18:41] vsavkin commented on #1195
@mehrad-rafigh you are right. Closing this issue.

[2019-09-02 18:41] #1195 closed

[2019-09-02 18:52] vsavkin commented on #1740
Hey folks!

Nx CLI doesn't support the `add` command. But if you look at the changes made by `ng add @angular/pwa --project=testing-pwa` and apply those manually to your Nx CLI workspace, the pwa stuff should work.

If you want to change your workspace to use the Angular CLI, you can do it by:
- Adding `@angular/cli` to `package.json`
- Renaming `workspace.json` into `angular.json`

And you should

[2019-09-02 18:54] vsavkin commented on #1775
Could you provide a repro for the issue?

[2019-09-02 18:56] vsavkin commented on #1765
@SWGeekPD could you point to a repository reproducing the issue?

[2019-09-02 18:58] vsavkin commented on #1771
@source-transformer thanks for submitting the issue. As @mehrad-rafigh mentioned it looks like it is a duplicate of #1059 . We will try to land the fix in the next minor release.

[2019-09-02 18:58] #1771 closed

[2019-09-02 19:01] vsavkin commented on #1211
Folks!

We have added a full-stack preset for React.

[code]

So I'm closing this issue.

[2019-09-02 19:01] #1211 closed

[2019-09-02 19:13] vsavkin commented on #1125
@mehrad-rafigh I think we should change the check to see if we have `@nrwl/jest` installed instead of `jest`.

[2019-09-02 19:22] vsavkin commented on #1755
@mrambow could you go to the temporary folder created by `create-nx-workspace` to check if typescript is installed in the node_modules folder.

Could you pasted the list of packages installed in node_modules?

[2019-09-02 19:28] vsavkin commented on #1698
@Sharondio Agree about the docs. We should add a guide, maybe on configuring Karma and Protractor. If you would like to do it, I'll be happy to merge it.

Another thing we could do is to print a message after `ng-add` executes saying that the test runners are defaulted to Jest and Cypress, and pointing to the guide showing how to change to Karma and Protractor.

[2019-09-02 19:32] vsavkin commented on #746
@orlaqp really sorry for the late response. If you are still interested in helping out, this is where the logic is: https://github.com/nrwl/nx/blob/master/packages/jest/src/schematics/jest-project/jest-project.ts#L92

[2019-09-02 21:29] comunitius commented on #1777
Nice thanks! In the meanwhile while you create the documentation, do you have an example of a project with different `package.json`s. I just want to decouple my react app from my nest app for now

[2019-09-02 21:30] comunitius commented on #1777
Nice thanks @vsavkin  ! In the meanwhile while you create the documentation, do you have an example of a project with different `package.json`s. I just want to decouple my react app from my nest app for now

[2019-09-02 23:05] ZachJW34 opened #1780 "Cypress builder should fail early for compilation errors"
## Expected Behavior

Cypress Angular builder should fail early if either the application or integration tests fail to compile and watch is not enabled.

## Current Behavior

Cypress will still run if application or integration tests fail to compile (without watch).

### Steps to Reproduce

1. `npm init nx-workspace my-app`
2. Change `app.component.ts` in `my-app` to cause a compile error
3. `ng e

[2019-09-03 00:24] mehrad-rafigh commented on #1125
@vsavkin thank you for pointing me to the right direction. I will take a look at this.

[2019-09-03 00:31] mehrad-rafigh commented on #1649
@johannesschobel Hi, @xmlking pointed out, that he already had provided a repro where I should be able to recreate the issue.
https://github.com/nrwl/bug-repro-circular

I will take a look at this, some time in the next week.

[2019-09-03 05:35] johannesschobel commented on #1649
@mehrad-rafigh , yeah i saw this repo as well - however, @vsavkin was not able to recreate it. Maybe you have more luck, haha ;)
If you require any additional info / help, i am glad to provide another repo

[2019-09-03 06:54] xmlking commented on #1649
please not you have to use typescript version 3.5 or above to reproduce this issue. typescript v3.4  works fine.

[2019-09-03 08:44] the-ult commented on #1777
Thanks @vsavkin

We love the ONE `package.json` to rule them all approach and rather have one `package.json` instead of multiple.

The only reason why we have a separate `package.json` for our Express (GraphQL-server) app is that we need a small production `node_modules` for the graphql-server, without all angular dependencies etc.

Would be great if that could be part of the guide.

(each app liv

[2019-09-03 09:42] nikita-yaroshevich commented on #1779
As for now, I found the following solution:
1. create tools/build/@babel-react/babel.js

[code]
2. into workspace.json, edit `projects.<appname>.architect.build.options.webpackConfig` as
`
...
"webpackConfig": "./tools/build/@babel-react/babel.js"
...
`
3. profit

[2019-09-03 11:24] mehrad-rafigh commented on #1780
Hi @ZachJW34, please contribute with a PR.

[2019-09-03 11:56] kylecordes commented on #1777
Single version policy:

Fantastic, great path for most projects.

Single list of packages:

This is a little harder to deal with as @the-ult suggested. I would love to see something per-app/library that limits which packages (name only, not repeating or varying the version!) the app/library can depend on. This data could also fuel a mechanism to generate a minimal production-only package.json algo

[2019-09-03 12:52] jmsv commented on #1779
awesome, thanks @vsavkin!

---

@nikita-yaroshevich that works perfectly for now, thanks for the quick response! now to work out step 4 😄

[2019-09-03 19:30] ahnpnl commented on #1740
Thank you! I will try that.

[2019-09-03 19:59] varjmes opened #1782 "Cannot create a new workspace"
_Update: it worked if I installed yarn, which means the `npm` use case might have a bug? I will use yarn to get through the tutorial but would love to have it work with `npm` as that's mostly what we use here at my company! :)_

Hi team! I just recently heard about `nx` and wanted to understand what it was, so I've been trying to go through the react tutorial today. Unfortunately, I cannot get `nx

[2019-09-04 05:49] SWGeekPD opened #1783 "NrWl: Muliple application - how to show/hide some part of any library component based on application."
In Nrwl I have 2 apps : - Admin App and Member App.

I created library for login functionality called login.
Now in one of the component of login library called login.component
I want to show and hide link (reset-password) based on weather the application is Admin or Member.
As I am using the same Login library in both the application. Please suggest me how I can achieve this.
User is not logged i

[2019-09-04 08:24] martijnsenden commented on #615
Same thing for me on Windows Subsystem for Linux (WSL).

[2019-09-04 09:35] mrambow commented on #1755
@vsavkin Typescript is installed with version 3.4.5 (as requested in the package.json).

folders/packages in the node_modules folder:
https://gist.github.com/mrambow/9b722296d8d31ebc8d4ddd11383647b2

[2019-09-04 11:03] zlodiak opened #1784 "How use global scss variables in libs catalog?"
I use nx on angular8. In apps folder exists styles.scss file. This file contains global scss-variable

`$qwe: #F00`

catalogs structure is follow:
[code]

Section build of angular.json contains follow setups:

[code]

But comp.scss is NOT have access to global scss-variable $qwe

[code]

Console displays follow error message:

Please help me fix it or unerstand it.

[2019-09-04 11:16] zpydee opened #1785 "Cannot read property 'getChildAt' of undefined"
_[Please make sure you have read the submission guidelines before posting an issue](https://github.com/nrwl/nx/blob/master/CONTRIBUTING.md#-submitting-issue)_

# Prerequisites

Please answer the following questions for yourself before submitting an issue.
**YOU MAY DELETE THE PREREQUISITES SECTION.**

- [ x] I am running the latest version
- [ x] I checked the documentation and found no answer
- [

[2019-09-04 11:18] tcoz commented on #1783
Pretty sure environment variables is what you want. Set up the login lib to accept environment info from a given app via the static forRoot capability (look it up, there's plenty of examples). Then when you import that library module in the app, you would do it like this:

(in your apps environment files)

{ ..., 'isadmin': true }

In your app:

import environment from '../environments/environment

[2019-09-04 13:13] mtuzinskiy commented on #870
It's not fixed, I have `8.4.13`.
Changing the app files reloads the browser viewport, but not re-runs the tests.
While in Nrwl docs it says "Change your tests _or your application code_, and Cypress will rerun the tests." which is seemingly not true.
This ruins the benefit of using Cypress watch mode for our team...
Any progress on this?
Thanks for your great work in any case!

[2019-09-04 13:15] mtuzinskiy commented on #870
@TekSiDoT  did you manage to leverage https://github.com/TheBrainFamily/cypress-app-watcher-preprocessor to overcome this?

[2019-09-04 14:55] ahnpnl commented on #1784
I think you need to import directly in your comp.scss using @import "styles.scss".  I always have to import a sass file to be able to use something in it.

[2019-09-04 17:10] wvanderdeijl commented on #1777
I totally agree with the previous suggestion of generating a minimalistic package.json for production. However, we would also need a package-lock.json to prevent the runtime production app from fetching different versions than the nx workspace

[2019-09-04 17:32] dfmartin opened #1788 "React component schematic creates all components under root if no --directory"
The docs using nx/react when creating a component with
`nx g @nrwl/react:component todo` show an image of what should be the resulting folder structure.  This is inconsistent with what I am seeing.

## Expected Behavior

that using the command `nx g @nrwl/react todo` would create a `todo` folder and place the files in the `workspace/libs/lib_project_name/src/lib/todo` directory

## Current Behavio

[2019-09-04 18:40] TekSiDoT commented on #870
I haven't pursued this issue any further. I *think* that the aforementioned preprocessor can help, but I haven't actually tested it.

[2019-09-04 23:56] jeffbcross commented on #1782
I had the same issue with a fresh node install.

[2019-09-05 00:28] adover commented on #651
@un33k how would you fix this in an existing NX workspace?

[2019-09-05 00:54] jeffbcross opened #1789 "Github vulnerability warning for "mem""
_[Please make sure you have read the submission guidelines before posting an issue](https://github.com/nrwl/nx/blob/master/CONTRIBUTING.md#-submitting-issue)_

# Prerequisites

Please answer the following questions for yourself before submitting an issue.
**YOU MAY DELETE THE PREREQUISITES SECTION.**

- [x] I am running the latest version
- [x] I checked the documentation and found no answer
- [x]

[2019-09-05 07:33] zbarbuto commented on #258
For anyone who happens to find this issue via Google (like me) the solution to stop this from happening is to update your `StoreRouterConnectingModule` as follows:

[code]

This ensures that the `ROUTER_NAVIGATION` actions that Nx looks for are only dispatched after guards have resolved.

[2019-09-05 08:51] DmitryEfimenko commented on #619
ah, nevermind. I had an old version of nx installed globally a long time ago. Sorry for the false alarm

[2019-09-05 08:57] creadicted commented on #1010
Yes since the introduction of the workspace the general schematics:library was replaced

[2019-09-05 09:11] wimzyLive commented on #881
@FrozenPandaz Getting same issue here, after upgrading to @nrwl/schematics: 8.4.13

[2019-09-05 10:24] jdpearce commented on #1782
Seems like the problem is with `detectPackageManager` in the `@nrwl/tao` package :

https://github.com/nrwl/nx/blob/70d71b35167ba16a45e402c720468670df37b7e2/packages/tao/src/commands/generate.ts#L142-L157

`host.exists` is an `Observable` so this always returns `'yarn'`

I'll look at putting a PR together.

[2019-09-05 11:16] hoang-innomizetech commented on #1621
@wesleygrimes how it going with the feature that you have been working on to allow custom NX to ignore files/directories when running affected commands? I am working on CI/CD stuff for our repo and wanted to ignore files from affected to redeploy apps, such as I don't want to redeploy if I just updated my tslint.json file on the project root folder

[2019-09-05 11:18] wesleygrimes commented on #1621
@hoang-innomizetech Yes, you can now create an .nxignore file. This has been merged to master and should be available if not now, definitely in the next release.

[2019-09-05 11:23] hoang-innomizetech commented on #1621
I am using NX 8.4.13 and the .nxignore file is created but it seems not to work.

[2019-09-05 11:25] wesleygrimes commented on #1621
Can you file an issue please and provide a small reproduction with example nxignore file?

[2019-09-05 11:33] hoang-innomizetech commented on #1621
@wesleygrimes I think we have an open issue #895, release 8.4.13 included that issue but it still open

[2019-09-05 11:34] hoang-innomizetech commented on #895
I tried with a .nxignore file but it seems not working, the file has a single line

`
tslint.json
`

[2019-09-05 11:46] jdpearce commented on #1782
While I've added a PR for this, I'm not comfortable with a lack of tests. Is there a good way to add some relevant unit tests?

[2019-09-05 13:35] hoang-innomizetech opened #1791 "Default base should be configurable"
When running NX command, the default base is master. However, when we use GitFlow, our mainline is develop branch, so that would be great if we can change that setting without using --base option.

is there any way we can customize the default base option?

[2019-09-05 16:07] jaysoo commented on #1788
The `--directory` is there to provide flexibility on where components are generated (in response to #1702).

I don't think automatic grouping is necessarily standard or better. However, we could consider an enhancement where `directory` option is type `string | boolean`. This way `--no-directory` will use flat structure, whereas `--directory` (default) will group by component name. And lastly, `--

[2019-09-05 16:16] jaysoo commented on #1784
Hey, @ahnpnl is correct. The scss file with the variables need to be imported first.

I would also suggest creating another folder under `libs` to store the variables file (e.g. `libs/shared/variables.scss`). And then add an entry to `.nxignore` for `libs/shared/variables.scss` so workspace lint won't complain about the file not being in a project.

[2019-09-05 16:16] #1784 closed

[2019-09-05 16:17] jaysoo commented on #1779
@jmsv This will be fixed in the next release (soon!).

[2019-09-05 16:19] jaysoo commented on #1779
Specifically in this PR #1792.

[2019-09-05 16:19] #1779 closed

[2019-09-05 16:19] nikita-yaroshevich commented on #1779
@jaysoo Maybe you will add TS decorators support? Or it out of the scope?

[2019-09-05 16:27] jaysoo commented on #1716
Closing this for inactivity. The 8.0.0 migration for `@nrwl/schematics` should have renamed `@nrwl/builders:node-build` to `@nrwl/node:build` in accordance to new package scheme.

If something isn't working, you can manually update these entries in `angular.json` as well.

[2019-09-05 16:27] #1716 closed

[2019-09-05 16:32] jaysoo commented on #1717
@ahnpnl Nx now supports a `.nxignore` file that uses the same glob format as `.gitignore`. Files/directories that match an entry in this file will not be used in workspace lint.

[2019-09-05 16:34] ahnpnl commented on #1717
Thank you. That's great !

[2019-09-05 16:36] jaysoo commented on #1717
Looks like new docs will need to be deployed, but this feature should be mentioned here https://nx.dev/angular/fundamentals/monorepos-automation (https://github.com/nrwl/nx/blob/master/docs/angular/fundamentals/monorepos-automation.md).

[2019-09-05 16:36] #1717 closed

[2019-09-05 16:58] jaysoo commented on #1744
@sanjevirau See this demo here https://github.com/jaysoo/css-modules-example. Make sure you change `webpackConfig` in your `workspace.json` (or `angular.json` if you are using Angular CLI).

[2019-09-05 17:43] jmsv commented on #1779
@jaysoo awesome! thanks guys :fire:

[2019-09-05 19:27] #1139 closed

[2019-09-05 19:29] #1782 closed

[2019-09-05 19:35] comunitius commented on #1777
I'm starting to see the point about one package.json. I've have to deal with multiple lodash versions in the past and it's a pain. Having said that, just like the previous comments, I need a small `package.json` in production (with the `package-lock.json` as well) so I can build and deploy multiple small docker images/containers in production.

[2019-09-05 19:57] varjmes commented on #1782
Thank you everyone! I look forward to beong able to create my first workspace 😎

[2019-09-05 20:03] philipreimer commented on #1764
@vsavkin  [driver-ui.zip](https://github.com/nrwl/nx/files/3581031/driver-ui.zip)

[2019-09-05 21:16] aRusenov commented on #1777
I'm following this discussion and I understand that single-version policy may be an issue for some. But for minimal node server deployments (i.e. not deploying the entire node_modules) why not simply bundle the node app?

[2019-09-06 05:41] mohammedzamakhan commented on #1104
@cpkthompson that resulted in a new error for me
[code]

[2019-09-06 05:44] mohammedzamakhan commented on #1104
@FrozenPandaz even locking to 7.3.1 doesn't work for me 😢

[2019-09-06 07:02] zlodiak commented on #1784
@ahnpnl thanks, but it is not comfortable for developers. Our project is very large, it has many nested components. Therefor import lines will be very long.

[2019-09-06 07:05] zlodiak commented on #1784
But it will be a code duplication. Because 'apps' will has styles, and 'libs' will has same styles)

[2019-09-06 07:06] ahnpnl commented on #1784
hi @zlodiak , actually the import line won't be long. I did this in my project
![image](https://user-images.githubusercontent.com/27772165/64407753-6f6aaa80-d085-11e9-8ed2-c81419b97ee7.png)

If you define your scss variables in `angular.json` (under `stylePreprocessorOptions`) you can have short import like the picture.

[2019-09-06 09:49] Hotell opened #1796 "visualizing/generating 3rd party dependency tree"
## Expected Behavior

Does nx support dependency tree visualisations for 3rd party dependencies?

**Why would I do that?**

As  nx uses root package.json as source of truth for all 3rd party packages (which is very good practice 👌) we still need local package.json for various reasons like:
- "ejecting" particular library out from nx and publish it as open source. Manually aggregating real dependen

[2019-09-06 11:01] joelmuskwe commented on #1743
What i am trying to do is have the ability to simplify the npmScope names of libraries in the nx.json file. so currently i am grouping my libs into feature and data-access so for example i have a products feature it will have products-feature-shell and products-data-access.

please find below my custom snippet of the schematic i am using:

**schema.json**
[code]

**index.ts**
[code]

So in short t

[2019-09-06 13:08] jdpearce opened #1797 "Misleading message when Jest not installed in workspace"
### Steps to Reproduce

(Assuming `npm install -g @nrwl/cli` has been run)

`$> npx create-nx-workspace@latest test-workspace`
`$> cd test-workspace`
`$> yarn add --dev @nrwl/jest`
`$> nx g @nrwl/workspace:lib my-lib`

**The library is actually created as expected though**

## Expected Behavior

Should the message refer to simply `jest` rather than `@nrwl/jest`?

NB - if you attempt to run `nx g @

[2019-09-06 13:11] marcus-sa commented on #1666
I cannot confirm that the error is fixed, since my jobs are stuck and never finishes even though the linting/testing is done.

[2019-09-06 13:35] jaysoo commented on #1779
@nikita-yaroshevich We can add the support for decorators.

[2019-09-06 19:40] jaysoo commented on #1779
@nikita-yaroshevich decorators will be supported in the next release. https://github.com/nrwl/nx/pull/1798

[2019-09-06 20:19] asherccohen commented on #1511
Definitely next.js and storybook would add great value to nx!

[2019-09-07 07:36] creadicted commented on #1511
A better support for libraries in nestjs would be fantastic. If I use the libs folder I run in to issues with either linting errors, deep import warnings or circular dependencies. If I use another folder - I loose the benefits of nx.

[2019-09-07 16:50] xmlking opened #1800 "nx native integration with ngx-deploy-npm for publishing lib modules"
_[Please make sure you have read the submission guidelines before posting an issue](https://github.com/nrwl/nx/blob/master/CONTRIBUTING.md#-submitting-issue)_

# Prerequisites

Please answer the following questions for yourself before submitting an issue.
**YOU MAY DELETE THE PREREQUISITES SECTION.**

- [x] I am running the latest version
- [x] I checked the documentation and found no answer
- [x]

[2019-09-07 18:44] EvtK commented on #1764
stumbled across the same problem and [updating @angular-devkit/schematics](https://github.com/nrwl/nx/issues/1597) solved my problem!

[2019-09-07 19:09] xmlking opened #1801 "emitDecoratorMetadata is only needed for nestjs apps and jest testing"
for angular 8.1 and above `emitDecoratorMetadata` is removed from `tsconfig.json`
https://blog.ninja-squad.com/2019/07/03/angular-cli-8.1/
we only need it for `nestJs` and `jest` testing.

[2019-09-07 21:26] vsavkin commented on #1649
Folks, I tried different version of typescript here (https://github.com/nrwl/bug-repro-circular)--no luck. I mean it works :)

[2019-09-07 21:28] vsavkin commented on #1780
@ZachJW34 if you could submit a PR, that would be awesome!

[2019-09-07 21:31] vsavkin commented on #1783
@SWGeekPD This is a good question, but it's not Nx related. Stack overflow is a better place to ask it.

@tcoz thank you for providing a good answer!

[2019-09-07 21:31] #1783 closed

[2019-09-07 21:34] vsavkin commented on #870
Hey folks. It looks like https://github.com/bahmutov/cypress-watch-and-reload can address it. Would you be interested in exploring it and maybe potentially submitting a PR?

[2019-09-07 21:37] vsavkin commented on #881
@wimzyLive could you provide a github repo with a repro?

[2019-09-07 21:40] #1125 closed

[2019-09-07 21:41] vsavkin commented on #1125
Looked into it more. I misunderstood the issue. Fixed it by always running the jest init logic, same way we do it with all other packages.

[2019-09-07 21:53] vsavkin commented on #1789
We don't directly depend on mem, it's a dependency three levels down. Tried to repro it, but wasn't able it. Maybe they remove the warning for it. I'll take a deeper look.

@jeffbcross does your workspace still show the warning?

[2019-09-07 22:06] vsavkin commented on #1791
Not right now, but you are right--it should be configurable. We are working generalizing how we execute tasks, so you can have different task executors (local, distributed). The ability to configure defaults is part of that effort.

[2019-09-07 22:16] vsavkin commented on #1797
Fixed it here: https://github.com/nrwl/nx/commit/c3f21324368b4ebe84bd9e45e22b88506f44116a

Now, we initialize jest any time we are running `jest-project`, similar to how we do it with other packages.

[2019-09-07 22:16] #1797 closed

[2019-09-07 22:32] xmlking commented on #1649
@vsavkin could you replace your `package.json` with the content I provided above into https://github.com/nrwl/bug-repro-circular and try ?
i remember able to reproduce this issue

[2019-09-08 10:48] mtuzinskiy commented on #870
@vsavkin  Hi Viktor, I've tried it out and it didn't do the trick... The page reloads, but the tests do not rerun.

[2019-09-08 12:55] philipreimer commented on #1764
@EvtK could you elaborate how you updated @angular-devkit/schematics? Did you add it as a direct dependency to your nx workspace? Or did you update one of the dependencies that have @angular-devkit/schematics as a transitive dependency?

[2019-09-08 13:00] EvtK commented on #1764
Sure, I had it as dev dependency already, so I simply updated it to the latest version with an npm i.

[2019-09-08 13:54] sameerinfodb opened #1805 "Not able to attach the vs code debugger to application in nx workspace, but debugger work fine with libraries."
_[Please make sure you have read the submission guidelines before posting an issue](https://github.com/nrwl/nx/blob/master/CONTRIBUTING.md#-submitting-issue)_

# Prerequisites

Please answer the following questions for yourself before submitting an issue.
**YOU MAY DELETE THE PREREQUISITES SECTION.**

- [ ] I am running the latest version
- [x ] I checked the documentation and found no answer
- [x

[2019-09-08 14:50] philipreimer commented on #1764
@EvtK thanks, after running`npm i --save-dev @angular-devkit/schematics` migrating to nx8 seesm to complete without any errors

[2019-09-09 02:11] wimzyLive commented on #881
@vsavkin It's my work repo and so unable to share it here, but what I noticed is that when I updated schematics via cli it puts `@nrwl/schematic` back to `v7.2`, and also adds new package with name `@nrwl/workspace` v8.0. I was receiving this error when I had `@nrwl/schematics` and `@nrwl/workspace`, once I removed `@nrwl/schematics` package, this error goes away.

[2019-09-09 06:37] creadicted commented on #1661
I planned to write this morning - more or less - the same issue / question. I have a project that was pre-nestjs support in nx and there I structured my projects outside of the libs folder. And uses nodemon for compilation.
https://github.com/creadicted/nx-modular-nest-backend
I never got the circular dependencies issues and import order errors. Then I upgraded and planned to use the nx building s

[2019-09-09 08:11] jdpearce commented on #1059
Having been assigned to this, I'd like to get some clarity on the right direction to head with the fix.

I'm inclined to agree with @ZachJW34 that the `jest.config.js` in each project should contain the base configuration options and that the builder config (in `angular.json`/`workspace.json`) should contain overrides which in the case of something like `globals` we can merge.

@FrozenPandaz (or a

[2019-09-09 09:32] jdpearce commented on #1343
I'll change the jest builder to provide `setupFilesAfterEnv` instead of `setupTestFrameworkScriptFile` but that just means we'll override whatever you have set in `jest-config.js` rather than you seeing the reported error. 🤷‍♀️

Should be a very small PR...

[2019-09-09 10:11] johannesschobel commented on #1667
Dear @bcabanes ,

i am very sorry that it took me so long to create a reproduction repository.. Please find it here: https://github.com/johannesschobel/nx-tsconfig-bug

The commit https://github.com/johannesschobel/nx-tsconfig-bug/commit/218becccaf992b9c404c24c4218e547e53b72395 shows the repository in the "broken" state. I.e., if you run `ng serve api` it fails to boot. Please note that there are

[2019-09-09 10:13] johannesschobel commented on #1667
@bcabanes and @vsavkin : I would advise to re-open this issue because the problem is actually not solved!

[2019-09-09 11:51] aifrim commented on #622
But if you want to have a combined code coverage report?
How do you do it?

[2019-09-09 13:06] mcblum commented on #1511
Thanks for all the work on this @vsavkin. One thing that I would love to see if it fits the roadmap is an easier way to generate generic libs. For example, I'm structuring our NestJS microservices the same way as I would structure an Angular app, but there isn't (as far as I can tell) a super easy way to make a Nest feature lib. I used to just select the `typescript` option from the menu, but that

[2019-09-09 14:42] jdpearce commented on #1785
This seems to be down to the use of backticks in `nrwlHomeTemplate.html`. I noticed that if you set `inlineStyle` to `false` then you get the error :

[code]

Replacing these backticks with `&acute;` seems to fix the problem (and you can then set `inlineStyles` to `true` and it works).

I'll create a PR to that effect shortly.

[2019-09-09 15:02] twittwer commented on #622
You can output your coverage via json reporter per lib/app and use something like [this script](https://github.com/facebook/jest/blob/master/scripts/mapCoverage.js) to combine them and build a html report at the end. - That is the approach we took, but have no solution for result combination yet.

[2019-09-09 16:20] ManAnRuck commented on #1511
prisma2 support would be also awesome! 👏
it's currently in alpha, but in my eyes it's a gamechanger 📢

[2019-09-09 18:10] #1785 closed

[2019-09-10 06:42] nodesmichael commented on #1789
Same Github warning for us

[2019-09-10 08:35] dsebastien commented on #1764
The migration also failed for me because of the schematics.
I've noticed though that the update script of NX didn't update it along with @angular-devkit/build-angular.
It might be nice to also upgrade @angular-devkit/schematics so that both remain aligned?

[2019-09-10 09:19] SWGeekPD opened #1816 "NrWl: nx format:write not doing any format"
I have simple nrwl project with few libs , using NrWl 8.
in package.json file I have script.
"format": "nx format:write"

I am running npm run format and getting below response - project file is not formatting at all.

**nx format:write
NX   NOTE  Affected criteria defaulted to --base=master --head=HEAD
README.md 69ms**

Please help do I need to configure something for this.

[2019-09-10 11:29] appsolutegeek commented on #1741
@vsavkin HI, I just checked the workspace.json file and i have this

[code]

That was already there, but when i created a new file like so

[code]

I get

[code]

This is wrong ? or am I doing something wrong ?

[2019-09-10 15:46] mforesti commented on #1765
@vsavkin We have the same issue on one of our internal project. I have created a sample repo to reproduce the issue:
[https://github.com/mforesti/nx-build-issue-test](url)

[2019-09-10 19:10] hack2024 opened #1821 "How to integrate with Loopback4"
Hi! is possible to integrate Loopback4 into nx workspace?

Thanks!

[2019-09-11 05:54] maxime1992 opened #1824 "Prettier markdown support"
# Prerequisites

Please answer the following questions for yourself before submitting an issue.
**YOU MAY DELETE THE PREREQUISITES SECTION.**

- [ ] I am running the latest version
- [x] I checked the documentation and found no answer
- [x] I checked to make sure that this issue has not already been filed
- [x] I'm reporting the issue to the correct repository (not related to Angular, AngularCLI o

[2019-09-11 06:46] Domvel opened #1825 "(Bug) Ionic: You provided an invalid object where a stream was expected. You can provide an Observable, Promise, Array, or Iterable."
# Bug

**NOTE** See my repository (on the bottom of this post)

## Expected Behavior

It should work as described in the [docs](https://nstudio.io/xplat/getting-started)

## Current Behavior

It does not work.

## Failure Information (for bugs)

[code]

### Steps to Reproduce

1. `npm create-xplat-workspace my-apps`. Select empty workspace and Angular CLI.
2. `ng g @nstudio/xplat:init`. Select arc

[2019-09-11 06:49] Domvel commented on #1825
Sorry, wrong repo. Moved to xplat.

[2019-09-11 06:49] #1825 closed

[2019-09-11 16:17] andreasasprou opened #1826 "How to setup HMR for a React app"
_[Please make sure you have read the submission guidelines before posting an issue](https://github.com/nrwl/nx/blob/master/CONTRIBUTING.md#-submitting-issue)_

# Prerequisites

Please answer the following questions for yourself before submitting an issue.
**YOU MAY DELETE THE PREREQUISITES SECTION.**

- [x] I am running the latest version
- [x] I checked the documentation and found no answer
- [x]

[2019-09-11 17:20] dianjuar commented on #1800
ngx-deploy-npm [have plans](https://github.com/bikecoders/ngx-deploy-npm#-next-milestones-) to work with Nx compatibility to set the deployer only to publishable Angular libraries.

In any case, with the new feature of the Angular CLI `ng deploy` would be nice to have an `affected:deploy`. With that we can deploy our applications to the platform that we want, even packages.

[2019-09-11 17:35] Offtree opened #1828 "Can't add new phases to project[name].architect"
## Expected Behavior
After following the cookbook example: https://connect.nrwl.io/app/cookbook/1BarpEG6zfxCv4evBvJSWi
adding a "deploy" option to a single projects architect scripts, I'd expect to be able to run:
[code]
all successfully.

## Current Behavior

What is the current behavior?

Instead, I get a schema validation error that doesn't let me run any of the standard commands, but does let

[2019-09-11 20:05] jaysoo commented on #1826
@andreasasprou Thanks for the question. We currently don't support HMR, only livereload.

We'll look into adding it for the future so please stay tuned.

[2019-09-11 20:05] #1826 closed

[2019-09-11 20:09] jaysoo commented on #1816
Hi @SWGeekPD, you can use `nx format:write --all` if you need to format all files. By default we only format changed files (since `master`).

[2019-09-11 20:09] jaysoo commented on #1816
Please let us know if you have any more problems.

[2019-09-11 20:09] #1816 closed

[2019-09-11 20:22] #1780 closed

[2019-09-11 20:30] dianjuar commented on #1800
There is a discussion on #633 related with this issue

[2019-09-11 22:17] vsavkin commented on #633
Folks, a quick update for you:

We are working on the updated Nx video course which will cover not just the basics, but also things like CI, org management. The first part of the course should be released next week with other parts coming soon after.

[2019-09-11 22:22] vsavkin commented on #881
@wimzyLive  Starting with 8.4.13, `@nrwl/schematics` is replaced with `@nrwl/workspace`. So your situation is interesting. Can you try running the update twice as described here: https://nx.dev/angular/guides/nx7-to-nx8#upgrading-from-nx-7-to-nx-8?

[2019-09-11 22:39] vsavkin commented on #1800
Folks,

You can define the deploy target manually and then run `nx affected --target=deploy`. It will calculate what is affected and deploy that.

The main reason we abstained from wiring up deployment stuff automatically is that it tends to be org specific. Everyone does it differently. Can we change ngx-deploy-npm to be more Nx-aware so it will only add the deploy target to the libs that have th

[2019-09-11 22:40] vsavkin commented on #1828
@Offtree thank you for opening this issue! could you provide an example repo?

[2019-09-11 22:58] vsavkin commented on #1821
I'm not really familiar with loopback. Let me describe how our Node.js support works now to see if it answers your question.

- We have `@nrwl/node`, `@nrwl/express`, and `@nrwl/nest` packages.
- They all use the same builders to run and build applications. The only difference between them is the schematics they use to generate applications.
- If the builders we have work for you, create a custom

[2019-09-11 23:19] Offtree commented on #1828
Holy smokes, asking for an example repo is always the way to go.

I feel like a doofus and had the deploy command on the wrong part of the schema on one of my projects. No issues running deploy after fixing that! Looking forward to experimenting more with nx, thanks for responding!

[2019-09-11 23:19] #1828 closed

[2019-09-11 23:26] dianjuar commented on #1800
Yes, it is possible and it has high priority on the backlog

![image](https://user-images.githubusercontent.com/7026066/64742367-967c0e80-d4c1-11e9-88f6-8c885214afd0.png)

[2019-09-12 00:33] dianjuar opened #1830 "The option --target should be available for both :libs and :apps"
_[Please make sure you have read the submission guidelines before posting an issue](https://github.com/nrwl/nx/blob/master/CONTRIBUTING.md#-submitting-issue)_

## Expected Behavior

The parameter ` --target` is not present on `affected:libs` or `affected:apps`. It exists for all the stuff in your workspace `nx affected --target=deploy` but is going "deploy" my apps and libraries and if I want only

[2019-09-12 07:56] admir86 opened #1831 "migrations for package '@nrwl/angular' cause an error"
_[Please make sure you have read the submission guidelines before posting an issue](https://github.com/nrwl/nx/blob/master/CONTRIBUTING.md#-submitting-issue)_

## Expected Behavior

when running `ng update @nrwl/angular @nrwl/workspace` the migration should work or emit better error in the log.

e.g: Invalid Version: ^8.3.3, Version x.x.x required of package x

## Current Behavior

running `ng upd

[2019-09-12 13:31] gperdomor opened #1833 "update @typescript-eslint/parser to stable version"
_[Please make sure you have read the submission guidelines before posting an issue](https://github.com/nrwl/nx/blob/master/CONTRIBUTING.md#-submitting-issue)_

# Prerequisites

Please answer the following questions for yourself before submitting an issue.
**YOU MAY DELETE THE PREREQUISITES SECTION.**

- [x] I am running the latest version
- [x] I checked the documentation and found no answer
- [x]

[2019-09-12 17:40] tommyc38 opened #1835 "Question: Guidance on importing 3rd party libraries that have a forRoot() method call in Libs?"
I wanted to ensure I import 3rd party libs that have a call to forRoot() correctly in Nx Lib modules.  For example, I needed rich text editing capabilities with my own custom @Mention implementation.  I chose to go with QuillJs and found an angular package to use it, Ngx-Quill.  I have a shared Nx Lib and created a new module, MentionsModule, in it which wraps around Ngx-Quill's editor component.

[2019-09-12 21:31] emilio-martinez opened #1836 "[Breaking change] babel-loader => ts-loader in web build builder 8.5.0"
_[Please make sure you have read the submission guidelines before posting an issue](https://github.com/nrwl/nx/blob/master/CONTRIBUTING.md#-submitting-issue)_

## Expected Behavior

Being able to use all Typescript features.

## Current Behavior

`babel-loader` doesn't support all Typescript features, e.g., const enum, like `ts-loader` does.

## Failure Information (for bugs)

[code]

See also htt

[2019-09-13 07:41] JWO719 opened #1837 "ng add @nrwl/workspace throws exception"
I'm having an angular cli workspaces project where I have two separate projects.
Running ` ng add @nrwl/workspace` just throws the following exception.
[code]

The project is running with Angular@8.2.4.
Additional it's running on a Mac with node@10.11.0 & npm@6.10.3.

Due to the lack of additional information, besides this exception, I'm kinda lost how to proceed here. I could imagine, that there

[2019-09-13 12:01] jdpearce commented on #1837
@JWO719, thanks for raising this issue - can you clarify a little?

Is the workspace already an Nx workspace?
Or are you trying to add Nx schematics to a workspace generated by Angular CLI?

If you can provide a link to a repo which reproduces the exception or otherwise provide steps to reproduce, that would be super useful, thanks!

Alternatively, just providing the `angular.json` file may give a

[2019-09-13 12:15] SWGeekPD commented on #1816
@jaysoo  it is working and I can format all the files.
Only one issue is html files are not formatting properly.

Example :-
  <div
    fxLayout="colomn"
    fxLayoutAlign="start center"
    fxFlex="30"
    fxFlex.lt.sm="20"

Closing tags are coming in the new line.
Another thing is I added below configuration in the .prettierrc file.

{
  "overrides": [
    {
      "files": ".prettierrc",
      "

[2019-09-13 12:38] jdpearce commented on #1831
Thanks for raising this issue!

This looks to be a bug in the way the migration is using `semver` :

https://github.com/nrwl/nx/blob/14da0ff4b224b27b0075369126956dbbd55c022e/packages/angular/src/migrations/update-8-5-0/upgrade-cli-8-3.ts#L20

A temporary workaround would be to edit the version in your `package.json` to remove the caret (e.g. `^8.3.3` -> `8.3.3`) _before_ you call `ng update`.

[2019-09-13 13:41] jdpearce commented on #870
I know the docs say that changing the application code will re-run the tests, but this isn't the way Cypress works or _can_ currently work afaict. 😞

Given that, I'd say this shouldn't be listed as a bug at the moment. I'm happy to relabel this as a feature request though. 📝

In the meantime, unsatisfying as it might be, I think changing the documentation to be clearer would be the simplest option

[2019-09-13 14:11] vash72 commented on #158
Keep not working, my version is "@nrwl/angular": "8.4.6",

in -> angular.json
        "@nrwl/workspace:component": {
          "style": "scss"
        }

the comand ng g c compName don't use scss extension

[2019-09-13 14:46] TekSiDoT commented on #870
Just tried the repo created in the aforementioned `cypress-watch-and-reload`[ issue](https://github.com/bahmutov/cypress-watch-and-reload/issues/20).

The problem seems to be platform related, I can confirm it's working fine for MacOS. There's also a related [PR](https://github.com/bahmutov/cypress-watch-and-reload/pull/21/files) that seems to alleviate a part of the problem.

[2019-09-13 15:30] jdpearce commented on #870
@TekSiDoT - I'm actually running macOS and I couldn't get `cypress-watch-and-reload` to work with an Nx app. I don't think that's down to Nx itself, but I'm open to ideas.

The PR you referenced has already been merged but it doesn't seem to fix that issue, at least not for me.

[2019-09-13 15:53] TekSiDoT commented on #870
Ah ok, sorry for the confusion. I'll attempt to reproduce the error in a vanilla Nx app.

[2019-09-13 16:10] wKovacs64 opened #1838 "Migration failure: Project '@nrwl/workspace' could not be found in workspace."
## Expected Behavior

I would expect the `migrate` command to migrate my workspace from 8.4.10 to 8.5.0.

## Current Behavior

[code]

## Failure Information (for bugs)

### Steps to Reproduce

1. Enter an existing 8.4.10 (or 8.4.13, maybe others) workspace. (Alternatively, generate a new 8.4.10 workspace. Choose `empty` and `nx` at the prompts.)
2. Follow the [Updating Nx](https://nx.dev/react/gu

[2019-09-13 18:39] vash72 opened #1839 "CLI generate component command not working with SCSS schematics"
# Prerequisites

- [ ] I am running the latest version
- [X] I checked the documentation and found no answer
- [X] I checked to make sure that this issue has not already been filed
- [ ] I'm reporting the issue to the correct repository (not related to Angular, AngularCLI or any dependency)

## Before

in angular.json i added:
[code]

## Expected Behavior

when i run the command:

    ng generate

[2019-09-13 19:48] Steven-Harris commented on #1614
@mehrad-rafigh, I would still expect for the dev server to be started if the baseUrl is passed in,

[2019-09-13 21:02] emilio-martinez commented on #1836
Looked into the implications of this change more in detail.

Reading through the [`@babel/plugin-transform-typescript`](https://babeljs.io/docs/en/babel-plugin-transform-typescript) docs, especially the "Caveats" section, I'm surprised this change went in. The configuration between both setups is not even close—Babel seems to ignore several of the `tsconfig.json` options and requires to set Babel

[2019-09-13 22:59] dubcdr commented on #1651
I was able to recreate with a fresh workspace today using nest and angular going through the tutorial. Adding `--prod` flag did resolve issue. But so did changing cypress to `3.2.0`.

node v10.16.3

[2019-09-14 01:08] SebasG22 commented on #1749
Hi @mehrad-rafigh @danieldanielecki, I made good progress these days on this feature and be able to implement stryker builder with partial support for jest and use it in an `nx repo`.
You can take a look here https://github.com/SebasG22/nx-mutation
To run the builder use: `yarn ng run demo2:mutate`.

Next steps:
- Support karma test runner
- Improve jest configuration to handle `tsconfig` paths
-

[2019-09-14 06:45] Halt001 commented on #1651
It appeared to be a Cypress bug with Unicode characters. They are working on it: See https://github.com/cypress-io/cypress/issues/1746

[2019-09-14 08:54] TekSiDoT commented on #870
So, I got it working with a vanilla Nx workspace using a new web-components app.

Steps required for configuration:
* Create Nx workspace and app
* Install `cypress-watch-and-reload`
* Install `@types/node`(was missing in my new installation, required for 'require')
* Append to your apps/{appName}-e2e/src/**plugins**/index.js file:
    `require('cypress-watch-and-reload/plugins')`
* Append to your

[2019-09-14 14:35] saleemmalikraja commented on #1499
If you are trying to create work-space

- To install Nx CLI -->  **npm install -g @nrwl/cli**
- To install Nx workspace  -->  **npm i -g @nrwl/workspace**
- To install typescript --> **npm i -g typescript**
(: Happy coding :)

[2019-09-15 08:37] SWGeekPD commented on #1783
@tcoz thanks for the answer.

[2019-09-15 09:09] SWGeekPD commented on #1765
@vsavkin Please find below repository to reproduce the issue.
I created simple nrwl project with 2 apps. And added 2 libs called "login" and "shared"
and than imported shared lib into login and trying to build login using below command.
ng build --project login
getting below error.

D:\PROJECTS\NrWl\myworkspace>ng build --project login
Building Angular Package

------------------------------------

[2019-09-15 10:47] tomwhite007 commented on #1499
Thanks to @FrozenPandaz for the temporary advice:

As of Nrwl Nx version 8.5 this no longer an issue.
*npm init nx-workspace myworkspace*

Now works just fine.

Closing issue...

[2019-09-15 10:47] #1499 closed

[2019-09-15 13:55] SOHELAHMED7 commented on #1221
:+1:

Adding more info that might help new comers/first timer

In CLI (Terminal for e.g.) open new tab

`user@host:/path/to/your/workspace$ ng serve api`

[2019-09-15 15:03] larscom commented on #1549
i use angular version 8.2.6 and still have this problem with ivy

[2019-09-15 15:32] adrogon commented on #1549
@larscom Might not fix your issue, but if you want to try Ivy, you should be on the `next` branch, currently 9.0.0-next.6.

[2019-09-15 21:40] asherccohen opened #1840 "Creating a next.js application on an existing workspace fails with workspace_1.addPackageWithinit is not a function"
## Expected Behavior

I can create a next.js application on an existing workspace

## Current Behavior

I add next.js capabilities to my workspace and try to create an application. It fails with error "workspace_1.addPackageWithinit is not a function"

## Failure Information (for bugs)

This bug affects existing workspaces. Workaround is to create a new clean workspace and then next works as expec

[2019-09-16 06:29] JWO719 commented on #1837
Thanks for supporting with this one!

So for now it is a basic angular cli workspace project. I want to use the migration schematic to make it an Nx workspace.

Unfortunately I can't share a link to a repo but here is the angular.json file:

[code]

[2019-09-16 07:48] JVHeerden opened #1841 "Nx dep-graph on selected projects in workspace"
## Expected Behavior

Running a command like `nx dep-graph my-project-name` would only list the dependency chain of the specified project in the workspace, omitting other unrelated projects from the graph

## Current Behavior

Running `nx dep-graph my-project-name` still displays the dependency chain of all projects in the workspace

### Context

Nrwl Version: 8.5.0

#### Use case

I current have

[2019-09-16 11:25] IgorAufricht opened #1843 "nx dependency graph / npm package name mismatch"
## Expected Behavior
When I have an npm package in the monorepo, the dependency graph discovery tooling should find and consider the dependency regardless of the package name / import path specified in `tsconfig.json`.

Secondary issue: When I generate a publishable package with a directory (e.g. `ng g @nrwl/angular:lib lib2 --directory=common --simpleModuleName --publishable`), the name of the np

[2019-09-16 11:26] IgorAufricht commented on #1843
Related issue: #1520

[2019-09-16 11:36] IgorAufricht opened #1844 "Creating an angular workspace with appName='app' breaks angular.json"
## Expected Behavior
I should be able to create a workspace with an angular app named "app".

## Current Behavior
The workspace gets created, but the `angular.json` file gets incorrectly modified.

## Steps to Reproduce
1. Run `npx create-nx-workspace@8.5.0 nxrepo --preset=angular --cli=angular`
2. Use "app" as the "Application name"
3. Run `ng build`

This will fail with:
[code]

This is because

[2019-09-16 11:42] jdpearce commented on #870
@TekSiDoT - I've just cloned your repo locally and it doesn't seem to work. I've also followed the steps you listed using a standard angular workspace and that didn't work either. 😞

[2019-09-16 11:58] TekSiDoT commented on #870
Ugh, ok. @mtuzinskiy could you try and reproduce?

[2019-09-16 12:15] alyalin opened #1845 "Cannot create bazel workspace"
## Expected Behavior

Workspace with Angular and Bazel

## Current Behavior

Errors about unknown options: Angular & Bazel

### Steps to Reproduce

Please provide detailed steps for reproducing the issue.

1. `npm i -g  create-nx-workspace@latest`
2. `npx create-nx-workspace@latest myproject --preset angular --bazel`

### Context

Please provide any relevant information about your setup:

- node 1

[2019-09-16 13:35] jdpearce commented on #1844
Thanks for raising this issue, @IgorAufricht! I think you and I must have found this problem at the same time.

This seems to occur with any application with a name that is contained within the word "application". The same bug will also cause problems for anyone trying to add a library with a name like "lib".

Thanks for tracking down the relevant bit of code!

[2019-09-16 14:27] jdpearce commented on #1837
Thanks for providing the `angular.json` - a few things jump out as being unusual :

- I'd expect `root` to be contained within `sourceRoot` (you've given `newProjectRoot` as `src`, so I'd expect `root` to be `src/{admin/client}` and `sourceRoot` to be `src/{admin/client}/src` in each case)
- There's no `test` target for either project?
- Your `index.html` files seem to be located oddly? (I'd expec

[2019-09-16 14:51] jdpearce commented on #1838
Thanks for raising the issue, @wKovacs64 - confirmed!

Creating a brand new empty workspace with `npx create-nx-workspace@8.4.10` (choose `empty` and `nx`) does indeed show create a workspace that uncovers this bug 😰

[2019-09-16 14:53] ctaepper opened #1847 "Share a common vendor bundle between multiple apps"
## Expected Behavior

I have multiple apps in my Nx workspace and I want them to share a common vendor bundle, so it needs to be loaded once and can be fetched from browser cache in the other apps

## Current Behavior

I can seem to find an option on how to create such a bundle

[2019-09-16 15:20] #1059 closed

[2019-09-16 15:22] #1343 closed

[2019-09-16 15:31] Steven-Harris commented on #1614
![image](https://user-images.githubusercontent.com/7720242/64971285-1660fa80-d86d-11e9-9282-fd1eeef7380e.png)
The CLI is overriding any baseUrl set in cypress.json

[2019-09-16 19:20] wKovacs64 opened #1848 "Build-time environment variables for web apps"
## Desired Behavior

It would be great if there was a built-in way to expose build-time environment variables to web/React/Angular projects.

## Current Behavior

`process.env` is not exposed, so you have to jump through some hoops and craft a custom solution (e.g. copying files around in a build script, using [`babel-plugin-preval`](https://github.com/kentcdodds/babel-plugin-preval#readme) which

[2019-09-16 23:26] ckokotas opened #1849 "Web-Dev-Server is incompatible with Docker containers"
## Expected Behavior

Should be able to serve apps inside Docker containers.

## Current Behavior

Container mounts correctly and the server starts but cannot be connected to on the host machine.

### Steps to Reproduce

1. Create a new workspace
2. Generate a simple react app called `myTodoApp`
3. `docker run -it -p 4200:4200 -v $PWD:/home/node node:12 yarn --cwd /home/node nx serve myTodoApp --h

[2019-09-17 07:42] CRACKISH commented on #1551
Same problem here ((((

C:\Projects\Angular\work>nx dep-graph --verbose
(node:1232) V8: C:\Projects\Angular\work\node_modules\viz.js\viz.js:33 Invalid asm.js: Function definition doesn't match use

[2019-09-17 07:57] mrambow commented on #1755
This is working now :)
Thanks a lot!

[2019-09-17 07:57] #1755 closed

[2019-09-17 12:21] sroettering commented on #1621
Any update on this?

[2019-09-17 12:27] pongells commented on #1843
Having the same issue - to partially work around this problem we had to switch to a completely flat folder structure for libs (so that package name is the same as tsconfig paths name by default). Not ideal.

[2019-09-17 12:37] vladimirdjurdjevic commented on #743
Nx still creates separate project for e2e tests. It this ever going to be an option? It is possible to restructure project manually and adjust workspace.json to point to updated file locations but we still have two projects in workspace. In my opinion, apps folder should contain applications. E2E testing is part of the application, not another application. So when i want to run e2e tests, it's com

[2019-09-17 12:51] #1535 closed

[2019-09-17 13:05] jdpearce commented on #1840
Hi @asherccohen, thanks for raising this. Can you retry with the latest Nx, please? Next support was only just released with Nx 8.5.0.

[2019-09-17 13:12] mtuzinskiy commented on #870
@TekSiDoT How come you don't have the `angular.json` file in your repo? Only the `workspace.json`, first time seeing this...
After `npm i` I run `ng e2e cypress-repro` and it complains (no surprises)
[code]

[2019-09-17 13:28] dgsmith2 commented on #1693
Are we sure this was fixed?  It seems that `testPathPattern` is not being honored and all the other tests are processed only to be skipped, thus the "display problem" @sroettering mentions.

[2019-09-17 13:38] jdpearce commented on #870
@mtuzinskiy I've tried this with both Angular and Web Components workspaces.

[2019-09-17 13:40] TekSiDoT commented on #870
I usually work with Angular, I've tried it with a web component workspace because I felt I could try something new & simple.

However, cypress shouldn't really be impacted by the actual framework used. I'll attempt to apply the suggested approach to a bigger (internal) repo that uses Angular a lot.

[2019-09-17 13:47] jdpearce commented on #1843
Thanks for raising this @IgorAufricht, and thanks for referencing the other issue you raised. I'm going to mark this as duplicate for now - I believe that fixing the other issue _should_ address this one.

If it doesn't, we can come back to it afterwards.

[2019-09-17 14:43] #1831 closed

[2019-09-17 15:56] jdpearce commented on #1393
Hi folks! I've reclassified this issue as an enhancement as the solution we're going to pursue is creating a builder for running `ts-node`.

The reason that the repro provided by @beeman (thanks!) doesn't work is that the node process can't read ts files directly. Providing a `ts-node` builder should mean that this approach will work in future.

If you can't wait for the builder implementation, I

[2019-09-17 19:27] mehrad-rafigh commented on #1614
Hi @Steven-Harris
You are right. I will update my PR asap

[2019-09-17 20:29] mohijalili opened #1853 "WARNING environments/environment.prod.ts is part of the TypeScript compilation but it's unused"
## Expected Behavior

remove warning during compile

## Current Behavior

[code]

## Failure Information (for bugs)

### Steps to Reproduce

1. Update to Nx 8.5.0
2. serve the poject
3. Observe the following warning: ``` ../src/environments/environment.prod.ts is part of the TypeScript compilation but it's unused.
Add only entry points to the 'files' or 'include' properties in your tsconfig.```

#

[2019-09-17 21:29] mehrad-rafigh commented on #1853
Hi @mohijalili
Did you enable Ivy? If so, there is an issue [`here`](https://github.com/angular/angular-cli/issues/15491)

[2019-09-18 01:56] tyankatsu0105 opened #1855 "Upgrade version @testing-library/react"
_[Please make sure you have read the submission guidelines before posting an issue](https://github.com/nrwl/nx/blob/master/CONTRIBUTING.md#-submitting-issue)_

# Prerequisites

Please answer the following questions for yourself before submitting an issue.
**YOU MAY DELETE THE PREREQUISITES SECTION.**

- [x] I am running the latest version
- [x] I checked the documentation and found no answer
- [x]

[2019-09-18 02:20] AryanJ-NYC opened #1856 "Prettier formatter does not work out-of-the-box in VSCode 1.38.1 in NX NestJS application"
## Expected Behavior

When I use the `prettier` format on a file inside the VSCode editor, it succeeds.

## Current Behavior

When I use the `prettier` format on a file inside the VSCode editor, it throws an error in the output tab of the terminal.

## Failure Information (for bugs)

### Steps to Reproduce

Please provide detailed steps for reproducing the issue.

1. `npx create-nx-workspace@lates

[2019-09-18 07:09] mohijalili commented on #1853
Hey @mehrad-rafigh
Yes, it's enabled by default. it seems it will be fixed in next update. Thanks bro.

[2019-09-18 07:49] mehrad-rafigh commented on #1853
You're welcome :)
Would you please close the issue, since it is not related to NX?

[2019-09-18 07:54] #1853 closed

[2019-09-18 07:56] beckend opened #1857 "failure to create angular-nest workspace"
- [X] I am running the latest version
- [X] I checked the documentation and found no answer
- [X] I checked to make sure that this issue has not already been filed
- [X] I'm reporting the issue to the correct repository (not related to Angular, AngularCLI or any dependency)

## Expected Behavior

angular-nest applications is created without errors.

## Current Behavior

angular-nest with certain c

[2019-09-18 08:05] beckend commented on #1857
I am bit unsure if this belongs here since it is indeed angular related, you may close if it is, I do however think that users should be able to find this if they are having the same problem.

[2019-09-18 08:37] EranSch commented on #1848
Yeah, just encountered this in setting up my first NX project's deployment. Didn't see anything in the docs but I did some across [this](https://github.com/nrwl/nx/issues/1721) question. Given you're already referencing a Babel plugin perhaps you've already explored this but it looks like (CI running now) I should be able to move forward with using good 'ole [`transform-inline-environment-variable

[2019-09-18 08:43] jdpearce commented on #1857
Thanks for raising this issue, @beckend! It looks to me like the our `@nrwl/angular:applicaiton` schematic doesn't have support for `emotion`, so this is actually our problem. 😞

[2019-09-18 09:10] mehrad-rafigh commented on #1857
Hi @beckend @jdpearce
I filed an issue. You can follow it [here](https://github.com/nrwl/nx/issues/1773). This would be quite easy to fix and @vsavkin added the community flag to it. I thought someone might grab it, because its a perfect fit for first time contribution towards NX.

[2019-09-18 09:12] beckend commented on #1857
@mehrad-rafigh thanks, should I leave this open or close this? This title is much easier than the other to find.

[2019-09-18 09:25] jdpearce commented on #1857
I'll mark this as duplicate and close. Thanks @mehrad-rafigh, I hadn't seen the other issue.

[2019-09-18 09:25] #1857 closed

[2019-09-18 09:36] mehrad-rafigh commented on #1839
Hi @vash72 .
I took a look and it does not seem to be a regression. The offending line in the original issue has been fixed and still says @nrwl/angular
You can take a look here
https://github.com/nrwl/nx/blob/fa05f1171a7dc09e3fb695d94b098f142f14562e/packages/angular/src/schematics/application/application.ts#L486

[2019-09-18 09:37] mehrad-rafigh commented on #1857
You guys are very welcome :)

[2019-09-18 09:39] beckend commented on #1773
This then needs to be marked as a bug, no?

[2019-09-18 09:55] mehrad-rafigh commented on #1773
Yes you are right. This is a bug, according to your issue. Would you like to contribute?
The offending function is here https://github.com/nrwl/nx/blob/fa05f1171a7dc09e3fb695d94b098f142f14562e/packages/create-nx-workspace/bin/create-nx-workspace.ts#L293

Currently there is only a check if no preset is selected. Otherwise it returns the entire list of styling options for the monorepo.

With Angular

[2019-09-18 10:17] hoang-innomizetech commented on #1018
+1

[2019-09-18 10:28] jdpearce commented on #1773
@beckend, @mehrad-rafigh - this one bothered me, so I've created a PR already 🤓

[2019-09-18 10:42] jdpearce commented on #1839
@vash72 - I've just tried this with the latest `@nrwl/angular` and it seems to work as expected.  Are you able to update and try again?

[2019-09-18 10:51] hoang-innomizetech opened #1859 "nx-enforce-module-boundaries for source project with multiple tags"
# Prerequisites

I have a workspace that contains some projects with multiple tags likes below nx.json file
[code]

The enforce module boundaries rule is defined in the tslint.json file as below
[code]

From the `booking-api` app, I tried to import the data access from the `booking-api-interfaces`, I am getting an error

[code]

## Expected Behavior

`booking-api` and `booking-data-access` have sa

[2019-09-18 11:18] alex-kachura commented on #857
+1 for TestCafe option for e2e testing

[2019-09-18 11:26] jdpearce commented on #1856
Thanks, @AryanJ-NYC  - can you provide a little more detail on how to reproduce this?

I've tried the steps you give and tried with your repo and prettier runs fine for me in both of them. I also have the same extension version.

How are you running it? Are you using `yarn format`?

[2019-09-18 12:40] AryanJ-NYC commented on #1856
Sure. Sorry for the lack of detail.

I went into `broken-prettier/apps/src/app/app.module.ts` and broke the formatting a bit (added tons of extra lines, specifically).

From here, neither `yarn format` and the command palette's `Format Document` work.

Thanks for taking the time out to try and reproduce this. I'm mostly hoping this is somehow my local machine (but also hope to get Prettier working

[2019-09-18 14:34] wKovacs64 commented on #1848
Yep, that's another way. Thanks for the detailed instructions!

I think one of these approaches should be baked-in, otherwise we'll have various teams doing it different ways in different projects which negates one of the big benefits of something like Nx (IMHO).

[2019-09-18 14:35] EranSch commented on #1848
Definitely agreed. It feels like something that can be addressed on the
framework level for sure.

That said, I could see an argument for the idea that baked in environment
variable support is overly prescriptive in the face of an alternative like
using a secrets manager or something too.

On Wed, Sep 18, 2019 at 10:34 AM Justin Hall <notifications@github.com>
wrote:

[2019-09-18 14:39] dgsmith2 commented on #1693
Create PR #1854 to address the remaining issue.

[2019-09-18 15:34] twittwer commented on #1859
Why not adding a `type:xyz` to `booking-data-access` & `booking-api-interfaces`, so every project contains the same set of prefixed tags and constrains can be defined for each prefix.

[code]

[code]

[code]

[2019-09-18 16:31] jdpearce commented on #1856
Thanks. I noticed the broken `app.module.ts` as that's what `yarn format` fixed when I ran it.
What OS are you running?

[2019-09-18 16:37] AryanJ-NYC commented on #1856
I am running macOS High Sierra, Version 10.13.6.

[2019-09-18 16:46] AryanJ-NYC commented on #1856
https://github.com/prettier/prettier-vscode/issues/672#issuecomment-526467711

I found the solution. VSCode has (had) a prettier.eslint setting that I had turned on (likely from a long, long time ago). It's only with this eslint config that I've run into trouble. Sorry for the trouble and thanks for your time.

[2019-09-18 16:46] #1856 closed

[2019-09-18 18:33] vash72 commented on #1839
Yes , update alone @nrwl/angular to 8.5.0 fixed the problem

[2019-09-18 18:33] #1839 closed

[2019-09-18 18:58] asherccohen opened #1860 "Add React-Native schematics or other integration"
- [x] I am running the latest version
- [x] I checked the documentation and found no answer
- [x] I checked to make sure that this issue has not already been filed
- [x] I'm reporting the issue to the correct repository (not related to Angular, AngularCLI or any dependency)

## Expected Behavior

There are no schematics for React-Native.

## Current Behavior

React-Native cannot be added to nx wor

[2019-09-18 20:29] jemerald opened #1861 "Option for simple output for affected:apps and affected:libs"
_[Please make sure you have read the submission guidelines before posting an issue](https://github.com/nrwl/nx/blob/master/CONTRIBUTING.md#-submitting-issue)_

# Prerequisites

Please answer the following questions for yourself before submitting an issue.
**YOU MAY DELETE THE PREREQUISITES SECTION.**

- [x] I am running the latest version
- [x] I checked the documentation and found no answer
- [x]

[2019-09-18 21:11] SeeeD opened #1862 ""nx test libraryName" will not work after upgrading to 8.5"
## Expected Behavior
Running the command "nx test libname" will start jest tests for the library I defined.

## Current Behavior
After updating to 8.5 the tests will not start and the console will raise an exception containing the message:
"An unhandled exception occurred: Project 'libname' does not support the 'test' target."

## Failure Information (for bugs)
It worked well with version 8.4.13 -

[2019-09-18 21:21] jemerald commented on #1861
@jdpearce I'm happy to raise a PR if needed

[2019-09-18 21:33] jdpearce commented on #1861
@jemerald Thanks! It's a design change so we may have to discuss it briefly, but the idea sounds ok to me. We could probably be a bit more UNIXy with some of the nx output, but I think we've taken cues from the Angular CLI. 🤷‍♀️

[2019-09-19 00:11] jemerald commented on #1861
Sure. Any preference for the simple output format? probably the most common would be newline delimited, e.g.

[code]

[2019-09-19 03:13] hoang-innomizetech commented on #1859
@twittwer yeah, we can add `type:data-access` and `type:interfaces` tags, but it still not working. I noted that the link only picks up the last item. I have created this repo https://github.com/innomizetech/nx-dep-boundaries-example to demo. If we remove the below item, link will passed

[code]

[2019-09-19 07:43] dsebastien commented on #733
Same issue here, the command runs fine when I execute it, but it fails when executed through Husky

[2019-09-19 08:03] tmtron opened #1863 "Feature Request: use installed prettier version"
## Expected Behavior

I'd expect `nx` to use the installed `prettier` version for formatting.
Running `prettier` or `nx format` on the command line for the same file should yield the SAME results.

## Current Behavior

Nx uses a fixed internal version of prettier and ignores the installed prettier version

## Failure Information (for bugs)

### Steps to Reproduce

- install nx version 8.5.0
- inst

[2019-09-19 09:04] mehrad-rafigh commented on #1861
This is a diuplicate. We should move the discussion to [this issue](https://github.com/nrwl/nx/issues/1571)

[2019-09-19 11:41] einSelbst commented on #870
Hey guys. just stumbled over this issue but I'm not using angular. Just wanted to say that `cypress run` is not intended for watching, in case this is used here, `cypress open` should be used. See https://github.com/cypress-io/cypress/issues/3665

[2019-09-19 13:44] JVHeerden opened #1864 "Nx dep-graph does not exclude projects from the generated graph"
## Expected Behavior

Running `nx dep-graph --exclude=my-project` would remove my-project and it's dependencies from the generated graph

## Current Behavior

Running `nx dep-graph --exclude=my-project` generates the graph but keeps my-project and it's dependencies in the generated graph

### Context
#### Versions:
@nrwl/angular - 8.5.0

Edit:

I tried using this functionality as per the dep-graph

[2019-09-19 14:48] SWGeekPD commented on #1765
@jaysoo  and @vsavkin I hope you got a chance to look into this.
Please suggest.

[2019-09-19 14:49] SWGeekPD commented on #1775
this is fixed with Chrome 77 version.

[2019-09-19 14:49] #1775 closed

[2019-09-19 14:53] SWGeekPD opened #1865 "Nrwl: tslint - nx-enforce-module-boundaries is not finding deep import issue."
I configured the lint rules to find the deep import issue in workspace.

But even if I am using deep import running ng lint is not finding the issue.

 **"nx-enforce-module-boundaries": [
      true,
      {
        "allow": [],
        "depConstraints": [
          {
            "sourceTag": "scope:core",
            "onlyDependOnLibsWithTags": [
              "*"
            ]
          },

[2019-09-19 17:02] twittwer commented on #1865
Are you running on windows? Then it may be related to #1832

[2019-09-20 03:39] #1861 closed

[2019-09-20 09:01] mehrad-rafigh commented on #236
@jdpearce I think we can close this issue. Service Worker Support can be added via `ng add @angular/pwa`

[2019-09-20 09:50] skydever opened #1866 "cypress builder option: cypressConfig"
## Expected Behavior

The cypress builder `@nrwl/cypress:cypress` has the option `cypressConfig`. This option is pointing to a `cypress.json` file within the e2e app. When I change the value to `cypress.prod.json`, cypress should use the config values defined in `cypress.prod.json`.

## Current Behavior

When I change the value of `cypressConfig` to `cypress.prod.json` the values inside `cypress.p

[2019-09-20 13:21] cladera commented on #1551
@mtuzinskiy No, I didn't. Actually it became a real pain. Now I don't know if the problem is with the graph generation or nx is not actually able to map my dependencies.

I ran into serious problems lately because of this problem...

[2019-09-20 13:32] thomas-jakemeyn commented on #1518
I am facing the exact same problem and the following approach seems to work. It is made for `yarn` but you can easily make it compatible with `npm` as well.

1. Install the following development dependencies.

[code]

2. Create a file `webpack.config.js` in the root folder of your project with the following content.

[code]

3. In the file `angular.json`, set `webpackConfig` to the file you have j

[2019-09-20 14:19] urosappdev opened #1868 "Nx dep-graph Invalid.asm.js"
## Expected Behavior

`nx affected:dep-graph` or any other graph command should open a dependency graph.

Running e2e command should run e2e test suite.

## Current Behavior

Neither `e2e` nor `dep-graph` works.

## Failure Information (for bugs)

When running `yarn run e2e` errors out with

[code]

Running `yarn dep-graph` errors out with
[code]

### Steps to Reproduce

Please provide detailed st

[2019-09-20 21:38] FrozenPandaz commented on #1868
Hi @urosappdev,

Try `yarn e2e admin-e2e` to run e2e tests for the admin app. If you would like to run all `e2e` tests, you can use `yarn affected --target e2e` but it is strongly recommended to only run the sufficient e2e tests with `yarn affected --target e2e.

For `yarn dep-graph`, this is a duplicate of #1551 but the graph shows up properly in your browser.

[2019-09-20 21:40] FrozenPandaz commented on #1868
I believe this should solve your issue. If not, feel free to reopen the issue.

[2019-09-20 21:40] #1868 closed

[2019-09-20 21:46] FrozenPandaz commented on #1864
At the moment, we do not support the functionality to exclude nodes from the `dep-graph` it only shows you the full graph. The fact that it shows up in documentation is a mistake.

Do you believe this would be useful? What was your motivation behind using `excludes` with `dep-graph`?

I think someone from the community could look into a fix. It would be in our `yargs` configuration: https://github

[2019-09-20 21:49] FrozenPandaz commented on #1863
This is quite confusing. Unfortunately, the team probably won't get to this anytime soon. Would someone be interested in working on a fix?

[2019-09-20 21:55] FrozenPandaz commented on #1862
Thank you for the repository! Unfortunately, I pulled down the repository and running `yarn test libname` works for me. I installed dependencies with `npm`. Does running `yarn test libname` work for you and is there any more information you can provide to help me reproduce the issue?

[2019-09-20 22:10] FrozenPandaz commented on #1859
1. `booking-api` and `booking-data-access` have the tag `scope:server`.
2. projects with tag `scope:server` are constrained to only be able to import from projects with a tag of `scope:server`, `scope:util`, OR `scope:shared`.
3. `booking-api-interfaces` project has none of the above tags.

I would also recommend keeping all dimensions labeled on all projects.

`scope:server` should be expanded to

[2019-09-20 22:20] FrozenPandaz commented on #1849
Sorry, my knowledge of docker is limited.

Why is passing the `host` necessary? Also, it replaces the value with `localhost`.. Is that invalid for some reason?

[2019-09-21 01:44] hoang-innomizetech commented on #1859
`booking` app has 3 tags `["type:app", "scope:booking", "platform:client"]` and `api-interfaces` has the tag `api-interfaces`. Based on the rule, the booking app should able to import libs with the following tags
`"type:data-access", "type:util", "type:interfaces"` (source tag `type:app`)
`"scope:booking"` (source tag `scope:booking`)
`"platform:client"` (source tag `platform:client`)

When I try

[2019-09-21 01:58] hoang-innomizetech commented on #1561
@FrozenPandaz Yeah, the `@nrwl/jest:jest` builder doesn't support any additional properties to allow us to specify a custom webpack configuration, so it is ignored. So I am asking whether that builder can support, if not do you have any recommendation?

[2019-09-21 07:24] JVHeerden commented on #1864
I do believe it would. We currently use an Nx-powered mono-repo with over 50 feature modules and even more shared modules. A lot of the projects are being shared between all of the feature modules in the repo (a cdk, for instance).

The generated dependency graph gets very convoluted if all the feature projects have dependencies linked to the shared projects.

Excluding the projects that we know a

[2019-09-21 09:10] EvtK commented on #1416
I'm struggling with this issue as while. Below code used to work before I upgraded to Nx 8:

[code]

but now I get this error:

[code]
Any directions on how to resolve this? Looking at the code I'm actually returning a mapped Action

[2019-09-21 11:07] gvsouza commented on #973
@Offtree

What do you mean with "per application"?

[2019-09-21 13:10] mtuzinskiy commented on #1551
@cladera  Well, I have tried it out with freshly created Nx project, and it's the same. So it's NOT related to your dependencies

[2019-09-21 16:46] ajonp commented on #1511
Sweet the Next.js app is great, now Gatsby would be even better ;)

[2019-09-22 05:53] SWGeekPD commented on #1865
@twittwer Yes I am running on windows.
Strange thing is when I am deploying my code into AWS , Lint is able to find those deep import issues and build is failing.

[2019-09-22 06:04] SWGeekPD commented on #1865
@FrozenPandaz  please let me know what else I need to share.

[2019-09-22 07:18] SWGeekPD commented on #56
@FallenRiteMonk  did you found any solution.

[2019-09-22 10:24] twittwer commented on #1865
I think in AWS it's running on Linux so it can detect the violation. That sounds like the OS problem I addressed in the PR.

[2019-09-22 15:52] mcblum commented on #633
@vsavkin yo - I'm working on this right now as well and I'm wondering if there's an easy way to even just get an array of the affected app names. I think that would be enough since I'm writing custom scripts for the Nest + Docker stuff. I've looked through the src but can't seem to figure out how to tap into that command so I can use the output.

[2019-09-22 22:06] mehrad-rafigh commented on #1863
Ping @FrozenPandaz. I will take a look into this in the next few days

[2019-09-22 22:27] mehrad-rafigh commented on #857
Seems like @thillmann is not actively working on his PR. I will take a look in the coming week and work on an integration of TestCafe.

[2019-09-22 23:45] Offtree commented on #973
If you have multiple services that need their own unique version of the same environment variable is an example of the single root .env file not working.

[2019-09-23 06:04] mac2000 commented on #633
@mcblum you can read angular.json file which contains list of all available apps and their corresponding dist paths so after affected build you gonna know what apps were affected

[2019-09-23 06:46] FallenRiteMonk commented on #56
@SWGeekPD I use injection.

In a helper lib I define a InjectionToken:
```export const ENVIRONMENT = new InjectionToken<{}>('Environment');```
Which I then inject wherever it's needed:
```constructor(@Inject(ENVIRONMENT) private environment: {}) {}```

[2019-09-23 06:56] twittwer commented on #973
@Offtree You can also define multiple `.env` files.

https://www.npmjs.com/package/dotenv#path
[code]

Does that help?

[2019-09-23 06:59] skydever commented on #1866
I created the pr and with it you get the following behavior:

* Cypress (base) configuration can be done at `cypress.json`, as you do it now (no changes required)
* you have the possibility to change the configuration file defined at the `cypressConfig` option at the `@nrwl/cypress:cypress` builder configuration in `angular.json` (but the `cypress.json` in that folder is still required, or Cypress

[2019-09-23 07:12] cladera commented on #1551
@mtuzinskiy I did what you suggested. I created a brand new project with one angular app and one angular library. When I run `npm run dep-graph` I got the mentioned error but the graph tree is rendered whereas in my project it will never render.

[code]

<img width="142" alt="Screen Shot 2019-09-23 at 09 11 52" src="https://user-images.githubusercontent.com/2241892/65407261-3ef37200-dde2-11e9-892f

[2019-09-23 07:16] dirgapeter commented on #976
--code-coverage works for me

[2019-09-23 07:51] #1773 closed

[2019-09-23 08:03] jdpearce commented on #236
@mehrad-rafigh - Agreed. I'll close this for now. Any further issues against `@angular/pwa` support can be raised separately.

[2019-09-23 08:34] EvtK commented on #1416
I fixed it. I had some references to schematics and core Angular libraries from 7.x. I think the RxJs version coming with it, gave conflicts. Running NX 8.5 without issues now!

[2019-09-23 08:39] EvtK commented on #1299
Any updates on this? I had the above working for NX 7.x, but upgrading now to 8.5 and coming across this issue again. @FrozenPandaz I believe there is still no way to pass the isolatedModules flag to the builder (without the hack?)

[2019-09-23 08:49] jdpearce commented on #1299
I made a recent change to merge the `jest.config.js` globals with the ones set in the jest builder. You _should_ be able to add the `isolatedModules` flag there and have it persist now.

Can someone (@Karql, @EvtK, @mtuzinskiy...) try again? I don't have a Windows machine to hand to try this out :(