[2019-09-23 08:58] Tomerl101 commented on #1175
this lunch.json configuration works pretty fine for me

    {
      "type": "node",
      "request": "launch",
      "name": "Launch Program",
      "program": "${workspaceFolder}/src/main.ts",
      "preLaunchTask": "tsc: watch - tsconfig.build.json",
      "outFiles": ["${workspaceFolder}/dist/**/*.js"],
      "skipFiles": [
        "${workspaceFolder}/node_modules/**/*.js",
        "<node_inter

[2019-09-23 09:02] Coly010 opened #1870 "Workspace Schematic output formatting inconsistent with Angular CLI"
## Expected Behavior

When running `nx workspace-schematic <name>`, the console output formatting from changes made to the Virtual Tree should be consistent with the formatting used by the Angular CLI when running `ng generate <name>`.

## Current Behavior

The output formatting is inconsistent. The Virtual Tree change logs are not color-coded, nor is the operation type uppercased. Also, there is

[2019-09-23 09:07] skydever opened #1871 "Cypress: JavaScript heap out of memory error"
## Expected Behavior

Cypress tests should not fail with an `JavaScript heap out of memory` error.

## Current Behavior

After upgrading to the latest version of the `@nrwl/cypress:cypress` builder, `8.5.0`, my cypress tests start to fail with an `JavaScript heap out of memory` error.

[code]

All following tests get the following error:

[code]

## Failure Information (for bugs)

The cypress buil

[2019-09-23 10:21] EvtK commented on #1299
@jdpearce I have just tested it, but it doens't look like it is merged. Without the hack the tests are still very very slow. This is my jest.config.js:

[code]
I did add it correct right?

[2019-09-23 10:28] jdpearce commented on #1299
@EvtK - apologies, the change I made hasn't actually been released yet! That `jest.config.js` looks good to me, but the globals are probably still being overridden :(

Should be fixed in 8.5.1 though.

[2019-09-23 10:31] EvtK commented on #1299
no problems, it's great you took the effort to fix this. Will wait for the 8.5.1 though!

[2019-09-23 13:55] tashoecraft commented on #633
@mcblum I wrote a script to do that for our prehook tests/linting.
[code]

I was having issues using child processes so I'm just calling what they're using under the hood. It's broken a couple of times during new Nx releases, but never took more than an hour to fix.

[2019-09-23 13:59] SeeeD commented on #1862
Hi @FrozenPandaz , I tested the repository on my office pc and got the same issue as on my desktop at home.

Maybe this happens in reason of my windows system?
Here are some more machine information:
* windows 10
* Node 10.16.3
* Yarn 1.17.3
* npm 6.9.0
* global angular cli: 7.3.4 (Maybe this, I'll update this later)

[2019-09-23 17:01] #1871 closed

[2019-09-23 18:09] FrozenPandaz commented on #1561
Sorry I may have been unclear the first time. Normally, jest runs do not use webpack at all under the hood. So specifying a custom webpack config would not be used anywhere. Jest has a separate resolver and pre processor configuration completely unrelated to webpack.

If you provide more details about what specifically you are trying to achieve, I can provide more assistance.

This link may also c

[2019-09-23 19:38] mcblum commented on #633
@mac2000 totally, I guess what I didn't totally realize is that if some of the builds fail it will throw a non-zero exit code, right? What about in the case where some builds fail? Are people doing deploys of, say, just one app in the monorepo or is it always all or nothing? I assume if `user-service` fails, there will be no `user-service` dir in the dist/apps folder, correct?

[2019-09-23 20:30] asherccohen commented on #1840
Sure, latest Nx resolved this issue!Thanks.

[2019-09-23 22:08] tashoecraft commented on #633
@mcblum It's all or nothing for me. I probably could figure out something that would allow one app to fail and one to succeed if they didn't share a dependency that required rebuilding, but idk If I like that. Build fail should be a signal something is wrong and you need to fix it, not let me push this through.

[2019-09-23 23:23] emilio-martinez commented on #1836
cc @jaysoo @vsavkin

[2019-09-24 00:49] llstarscreamll commented on #1217
Hi, I have the same error, but I'm running my test suite on TravisCI, here is the repo I'm working on:

https://github.com/llstarscreamll/ngx

I have tried many things to fix the error, but nothing works... some links:

https://github.com/facebook/jest/issues/7647
https://github.com/facebook/jest/issues/2179

Here is the logs from my failed builds:

https://travis-ci.com/llstarscreamll/ngx

On my

[2019-09-24 05:12] alanyinjs opened #1878 "Cypress builder option `cypressConfig` not working"
## Prerequisites

- [x] I am running the latest version
- [x] I checked the documentation and found no answer
- [x] I checked to make sure that this issue has not already been filed
- [x] I'm reporting the issue to the correct repository (not related to Angular, AngularCLI or any dependency)

## Issue Summary

This issue contains a set of two related issues with Cypress builder options. In particu

[2019-09-24 06:19] skydever commented on #1878
Hi @alanyinjs

Thx for this detailed writeup, I hope this is clarifying some things I may have missed in #1866

I already created a pr #1867 for this one, did you have the chance to look at it? I was not able to change the behavior of Cypress - it is always expecting a `cypress.json` in the project directory (the directory the option `cypressConfig` is pointing to), as you also mentioned here, so

[2019-09-24 06:22] philly-vanilly commented on #619
Ok, so I wanted to bootstrap Ionic with NX and for my first approach I have used XPlat with the no-xplat-architecture option. As far as I can see the generated app is not much different from a classic Angular app generated with NX, except the capacitor config. However, I could not choose Cypress or Jest as test runners @NathanWalker is there any technical reason for that or was it just not impleme

[2019-09-24 06:23] mac2000 commented on #633
Agree, if something broken in one apps there is a chance that it might hurt other, just imagine a case when one app builds with -aot and another without, both using shared component which has problems

Our script at moment looks something like this one:

[code]

[2019-09-24 06:29] philly-vanilly commented on #619
@NathanWalker also, do you know an example project where I can see an Ionic app targeting multiple platforms? In this video https://www.youtube.com/watch?v=EqqNexmu3Ug I see you are using inheritance with Angular components with NativeScript. I am wondering you you do it similarly with features for native iOS/Android with Ionic

[2019-09-24 06:50] tmtron commented on #1863
PR #1869 does not fix the issue at all: you just updated the internal prettier version to `1.18.2`!

[2019-09-24 07:36] hoang-innomizetech commented on #1356
@beynya I still getting the same error even with `--base=remotes/origin/master`. @ernie58 are you manage to fix this issue? If so can you share some ideas?

Note, the current git repo only has one branch which is the current branch of the PR (the master or base branch isn't checked out yet). Maybe this caused this error

[code]

This is the error I am getting
[code]

[2019-09-24 08:11] Amakaev commented on #1609
@FrozenPandaz after adding custom commands, for instance :
`Cypress.Commands.add('login', login)`
got an error **Cannot use namespace 'Cypress' as a value.**

[2019-09-24 08:19] jdpearce commented on #1863
@tmtron Sorry, you're right - the PR shouldn't have closed this issue. It's a temporary band aid for now.

[2019-09-24 09:16] EvtK commented on #1416
@vsavkin can you reopen this issue?

I have performed a clean update NX coming from 7.8.6 to the latest. After this I get typing issues:

[code]

I'm sure it has to do something with the RxJs type, but I can't figure out why or what.

[2019-09-24 10:05] skydever commented on #1878
... the only thing is that the `cypress.json` needs to exist in the same directory like the env. specific ones, and there is no restriction to that, it just has to be 🤔

[2019-09-24 11:05] jdpearce commented on #1299
@EvtK - we've just released 8.5.1, can you try again? 🙏

[2019-09-24 11:10] jdpearce commented on #1393
Smol update on this - I've got a builder working with `ts-node-dev` (this has some nicer `watch` functionality over plain `ts-node`) but there are some rough edges to deal with. It works on @beeman's repro repo though.

[2019-09-24 12:03] #1870 closed

[2019-09-24 15:18] marazz1 opened #1881 "HMR for @nrwl/react"
How to enable HMR for @nrwl/react. Is it possible to achieve it without custom webpack.config.json? (Like in Angular)

There should be something in docs for HMR.

In workspace.json "hmr": true

[code]

## Expected Behavior

module.hot should not be undefined

## Current Behavior

HMR doesn´t work.

### Context

[code]

[2019-09-24 16:53] dave-gohyperion commented on #1750
@Jordan-Hall did you find a resolution for this? I'm running into this same error why trying to run `nx affected:build` inside Gitlab CI/CD.

[2019-09-24 17:12] FrozenPandaz commented on #1739
@Doginal Thank you so much for setting up a community slack! I would like to join but the link that you have provided and added to the README of the repo has expired. Can you please provide a new one which does not expire?

[2019-09-24 17:15] stefan-karlsson commented on #1482
@numerical25 I just tried out the proposed solution and it works fine in my Angular 8/Nest project. I just executed `ng run <application-name>:serve-with-services`

[2019-09-24 17:19] wKovacs64 commented on #1863
Personally, I would be very surprised if a project used my globally installed version of a tool rather than the package-local version. The current behavior is exactly what I would expect. Running `prettier` (globally installed) vs. running `yarn prettier` (or `nx format:check` in this case) mean different things. Is this more of a documentation opportunity rather than a code/behavior change?

Mayb

[2019-09-24 17:41] asherccohen commented on #1838
I also run into this issue when trying to upgrade from 8.5.0 to 8.5.1:
`$ nx migrate @nrwl/workspace code-tank-monorepo
'.' is not recognized as an internal or external command,
operable program or batch file.
\node_modules\yargs\yargs.js:1133 else throw err`

[2019-09-24 17:44] wKovacs64 opened #1882 "Migration failure: `'.' is not recognized as an internal or external command` or `The "path" argument must be of type string. Received type object`"
## Expected Behavior

I would expect `nx migrate @nrwl/workspace` to succeed.

## Current Behavior

`nx migrate @nrwl/workspace` errors (failure logs below).

## Failure Information (for bugs)

### Steps to Reproduce

Please provide detailed steps for reproducing the issue.

1. Create a new Nx workspace (select `empty` and `Nx`)
2. Change to the new workspace directory
3. Run `nx migrate @nrwl/wor

[2019-09-24 17:45] wKovacs64 commented on #1838
That's funny, I was just logging a new issue for that. 🙂

#1882

[2019-09-24 19:03] saleemmalikraja commented on #1666
@Tre665 - nx commands is not working in azure devops and it says "nx is not recognized as internal or external command" !!. Can you help me how did you solve this issue . Definitely i could see you where able to run affected test in azure devops  . awaiting for your response...  thanks in advance :)

[2019-09-24 19:05] marcus-sa commented on #1666
https://github.com/saleemmalikraja Azure doesn't respect the binaries in node_modules, so you'd have to call them explicitly using yarn or npm

Like so `$(yarn bin)/nx` or $(npm bin)/nx`

[2019-09-24 19:45] saleemmalikraja commented on #1666
@marcus-sa - Thanks for your input marcus.! I could find that nx command is working for others and it not working in azure devops . If you could tell me how affected test is been set up it would be an great help!!
![image](https://user-images.githubusercontent.com/32537950/65544687-6147d580-df31-11e9-980c-062dec9429f7.png)

[2019-09-24 19:59] marcus-sa commented on #1666
@saleemmalikraja I just told you?
It's quite hard to help, when you're not really providing any context what so ever.
I'd recommend you to read the documentation on the tools you're using before asking questions which has already been answered.

`npx nx affected:test`

[2019-09-24 20:04] Doginal commented on #1739
@frozenpandaz no worries! I didn’t realize that link expired here’s a new link for now (I’ll pr the new link tonight)

https://join.slack.com/t/nrwlcommunity/shared_invite/enQtNzU5MTE4OTQwOTk0LTgxY2E0ZWYzMWE0YzA5ZDA2MWM1NDVhNmI2ZWMyYmZhNWJiODk3MjkxZjY3MzU5ZjRmM2NmNWU1OTgyZmE4Mzc

[2019-09-24 21:35] EvtK commented on #1299
wel this is interesting.. no matter what if I do or don't add the isolatedModules: true flag in the globals, jest seems to be somewhat quicker anyways!

maybe is  isolatedModules: true now a default?

[2019-09-25 05:19] llstarscreamll commented on #1217
Hi every one, my build is now passing!! I upgrade some dependencies and change TravisCI setup to this:

[code]

[2019-09-25 07:01] tmtron commented on #1863
@wKovacs64 : Good point!

One thing I did not explain exactly, is that our prettier version is not really installed globally, but in the project (node_modules).
So in our case, we had specified a prettier version in our `package.json` and were very surprised that nx does not use this version.

Is see pros for both ways:

**internal** prettier version:
* the always produces the same results on diff

[2019-09-25 09:44] jdpearce commented on #1299
@EvtK 😞

I'll have to investigate this again, thanks for giving it a try!

[2019-09-25 09:53] urosappdev opened #1884 "e2e tests fails when rxjs is introduced to project"
## Expected Behavior

Running `e2e` tests should open cypress.

## Current Behavior

**Fails with:** `You provided an invalid object where a stream was expected. You can provide an Observable, Promise, Array, or Iterable.`

## Failure Information (for bugs)

I suspect that it is due to some internal configuration of how cypress is being incorporated. I only have dependencies installed I don't use

[2019-09-25 11:28] jdpearce commented on #1882
Thanks for raising this issue, @wKovacs64, looks like this is down to a typo - `.migration` should be `.migrations` :

https://github.com/nrwl/nx/blob/dca7934aec2f40bee5f0a58a9bb042c0fb4f09ce/packages/tao/src/commands/migrate.ts#L293-L296

This could be a quick PR, although I haven't yet looked at the tests to see if adding one to cover this case would be trivial or not.

[2019-09-25 12:16] danielreiser opened #1885 "Adding `@nrwl/web` or `@nrwl/react` to an workspace with angular running it breaks the build for custom configurations"
## Expected Behavior
Building an angular application with a specific configuration should't result in an error.

## Current Behavior
When running `yarn run build my-angular-app --configuration=preview`, the build is crashing with the following exception:
`ERROR in The loader "...phone-verification.component.css" didn't return a string.
`

Without specifying the configuration it works. Even with sp

[2019-09-25 12:39] danielreiser commented on #1885
After upgrading all dependencies and adding
[code]

explicitly as dependencies it seems to work 🤷‍♂️

[2019-09-25 12:39] #1885 closed

[2019-09-25 13:30] kylecordes commented on #1863
Ah, based on that above info, I think maybe this item should be titled something more like:

**“Make prettier a peerDependency instead of a dependency”**

I don't know if this is a good idea or if the Nx team wants it, but it's much more plausibly good than the earlier interpretation "use the globally installed prettier" that a bunch of us immediately dismissed.

[2019-09-25 14:29] rpd10 opened #1886 "Using affected:build in CI yields spawnSync error"
## Expected Behavior

When running affected:build in CI, Nx should build the affected apps.

## Current Behavior
The affected:build command fails before running any tests.

## Failure Information (for bugs)

Build output:
[code]

### Steps to Reproduce

We are using `FROM node:12` as our base docker image in CI.

### Context

Please provide any relevant information about your setup:

- version of

[2019-09-25 15:01] rpd10 commented on #1886
This repository has a large commit history.  I tried the max_old_space_size trick for node, with no change:

[code]

[2019-09-25 15:11] skydever commented on #1866
closing this in favor of #1878, it is the same issue

[2019-09-25 15:11] #1866 closed

[2019-09-25 16:45] SWGeekPD commented on #1865
@twittwer thanks for your valuable inputs.

[2019-09-25 18:09] saadshahd commented on #176
Hi @vsavkin any progress in this? Where could I contribute to add Jenkins X example?

[2019-09-26 00:06] timvandesteeg commented on #1416
Had exactly the same problems as described in this topic. What worked for me:
- fix rxjs to 6.4.0
- update ngrx to the latest version (8.3.0 in my case)
- update nrwl/angular to the latest version (8.5.1 in my case)

In total:
"rxjs": "^6.4.0"
"@ngrx/effects": "^8.3.0",
"@ngrx/entity": "^8.3.0",
"@ngrx/router-store": "^8.3.0",
"@ngrx/store": "^8.3.0",
"@nrwl/angular": "^8.5.1",
"@nrwl/cypress": "8

[2019-09-26 05:09] philly-vanilly commented on #1416
@FrozenPandaz

I still get the errors in the latest version of NX (8.5). However, I am using only `@nrwl/angular` because I have yet to bootstrap my app into a workspace (which is not so easy with Ionic). But as far as I see here https://github.com/nrwl/nx/blob/master/packages/angular/src/runtime/nx/data-persistence.ts there are no dependencies from data-persistence to the workspace or any other N

[2019-09-26 08:05] saleemmalikraja commented on #1666
@marcus-sa - The problem was with the hosted agent . When my hosted agent is windows ,  nx command is not working and when my hosted agent is ubuntu then nx commands are working .!! I couldn't see this answer anywhere . I appreciate your help but at the same time if it works for you the same may not be the case for all .It would be good if you can understand the problem statement completely and i

[2019-09-26 09:24] philly-vanilly opened #1889 "dataPersistence.navigate() === bad practice?"
NX is all about architecture and most Angular architects decouple their redux stores so the outer world is a blackbox and communicates only over actions.

Considering that, isn't having a function which has a dependency to a route or component inside Effects a bad practice? This automatically leads to circular dependencies and strong coupling.

Some modules depend on other module's stores, so you

[2019-09-26 11:28] EvtK commented on #1666
testing with Jest?

make sure to set isolatedModules: true otherwise testing takes forever on Windows machines.

I had to make a hack to get this to work, see [here](https://github.com/nrwl/nx/issues/1299) for more info.

[2019-09-26 11:28] hoang-innomizetech commented on #633
Hi all,

Currently, I am trying to determine `--base` option (or maybe `--head` option when running `affected:*s` command(s). When running **multiple times** against a branch, we will get the following warning message:

[code]

The above warning occurs when we rerun the pipeline, the reason for that is the previous execution got an error when deploying the **affected apps** to a target environment

[2019-09-26 11:31] EvtK commented on #1416
@philly-vanilly can you share your package.json? i fixed this by creating a clean workspace and then adding new packages one a time. This is how I discovered which packages created the typing errors or dispatched invalid action problem. I definitly has to do with the RxJs package version which is added as dependecy.

[2019-09-26 11:33] SWGeekPD commented on #1765
@jaysoo and @vsavkin can you please confirm if this is the existing bug and I should not create publishable library in NrWl-Nx.

[2019-09-26 11:54] TroyHouston opened #1890 "format: Can no longer format just app & lib files"
## Expected Behavior

Before version 8.5.0 I could run format --all to format all my files inside of apps & libs & tools.

## Current Behavior

The above behaviour no longer works as of #1776, as this functionality has been removed to instead make -all format all files in the workspace. (Does NX aim to follow SemVer?)

This causes many issues where there are auto-generated files contained in the w

[2019-09-26 12:09] mcblum commented on #633
Rather than using `master` as a base, use a SHA. With one pipeline I have the very end writes an artifacts.json file which contains the sha of the last successful build. Since we know that, we can compare --base=${sha} --head=HEAD and know which apps have changed between two arbitrary points in time. This works on code in any state, merged or not.

Give that a try, see if it works!

[2019-09-26 12:43] 4kochi commented on #1059
Hi @jdpearce , thx for the PR. I was waiting for this feature since a long time. Sadly there is still a small problem.

Since the property `ts-jest` is an object, the `Object.assign()` does not work as expected. Because it overwrites the property `ts-jest` if it was set before, instead of making a merge. You can check the example below.

[code]

[2019-09-26 13:02] SebasG22 commented on #1765
Duplicate of #602

[2019-09-26 19:08] twittwer commented on #1890
You can use a [`.prettierignore` (docs)](https://prettier.io/docs/en/ignore.html) file to exclude the auto generated files

[2019-09-26 19:12] twittwer commented on #1865
Is your issue fixed with version 8.5.1?

[2019-09-26 21:17] mtuzinskiy commented on #1551
@cladera Could you please re-check if you have the same version of Nx in your new and old project?

[2019-09-26 21:17] TroyHouston commented on #1890
Didn't realise, thanks! This isn't an issue then.

[2019-09-26 21:17] #1890 closed

[2019-09-27 01:20] hoang-innomizetech commented on #633
I also thought about it but still finding an example of create and get that artifacts.json file when executing pipeline, does Azure pipeline support publish and retrieve? Or we need to upload to somewhere such as AWS S3

[2019-09-27 06:30] skydever commented on #1878
Hi @alanyinjs

I am updating the pr to be able to pass Cypress configuration values as builder options. This way there will only be one `cypress.json` and the overrides per configuration can be done at `angular.json` without creating multiple `cypress.*.json` files.

I re-read your issue because I am evaluating wich options are a candidate to be overwritten by different `angular.json` e2e configur

[2019-09-27 06:33] EvtK opened #1891 "How can I rerun schematics for update workspace 7 -> 8?"
Not reporting an issues here, but a question: how can I rerun the schematics to update a workspace?

I have recently upgraded from 7.8.6 to 8.5.1 and in that process a lot of files were automatically changed due to applied schematics (changes in NgRx 8 and Angular 8). This action has been performed on the develop branch, but there are some feature branches that have added angular projects or libra

[2019-09-27 07:26] skydever commented on #1878
... actually, there is the `spec` option already - I was able to handle my use case with it. I think there is no option left that needs to be added? 🤔

it seems like only the docs need an update:
* maybe a clear info about `cypress.json` for `cypressConfig`, that it has to be named `cypress.json`
* add the missing `env` option

@vsavkin @FrozenPandaz I tried to run `yarn documentation` as mentione

[2019-09-27 07:45] krzysztof-raciniewski commented on #1864
I agree with JVHeerden. This functionality can help in larger projects where the graph is currently very opaque

[2019-09-27 12:51] mcblum commented on #633
@hoang-innomizetech all good man -- we use AWS but I'm sure Azure has some concept of S3, right? Here's what we do, it's quite simple but it works for us. Keep in mind, we're on Gitlab and we deploy to our own Docker Swarm:

.gitlab-ci.yml: https://paste.nationalmachine.io/akifotekef.http
build.ts: https://paste.nationalmachine.io/uzaweyexaw.js
buildAngularDocker: https://paste.nationalmachine.io/

[2019-09-27 14:46] hoang-innomizetech commented on #633
Thank you @mcblum. Great to see it works with TypeScript :)

[2019-09-27 14:47] mcblum commented on #633
@hoang-innomizetech sure thing man -- yeah I don't like Bash so I'd prefer to just write everything in TS and use `execSync` when needed. Laziness for the win!

[2019-09-27 17:55] vsavkin commented on #1891
What actions aren't performed?

[2019-09-27 18:03] vsavkin commented on #1864
I think it's a useful feature. But I would extend it to a more full-featured query language.

For instance, I think it might be useful to do something like this:

[code]

Show the graph where every node is either an ancestor or a descendant of todos-feature-main.

In this case if you want to see what your library affects, you can do:

[code]

And if you want to see what your application depends on

[2019-09-27 18:26] vsavkin commented on #1551
I did more digging. It looks like the issue occurs only on Node 12.

It looks like the following libraries are deprecated:

[code]

I think we should replace it with:
https://github.com/dagrejs/dagre/wiki

Would you like to do it folks? It's just one file in the nx repo that has to be updated. I can help you out.

[2019-09-27 18:28] vsavkin commented on #1865
Thank you for filling the issue!

It looks like the fix has been merged: https://github.com/nrwl/nx/pull/1832

[2019-09-27 18:28] #1865 closed

[2019-09-27 18:31] vsavkin commented on #1889
Why does it lead to circular dependency? Your component shouldn't import anything from the effect.

Also, see the "Router is the source of truth" section here: https://blog.nrwl.io/using-ngrx-4-to-manage-state-in-angular-applications-64e7a1f84b7b

[2019-09-27 18:35] vsavkin commented on #176
We are in the process of making distributed CI setups more straightforward. It's wrapping up.

I'm about to publish an example of a Jenkins setup with multiple agent nodes. Should be done next week.

@isaacplmann is also working on a course that will cover CI. It should come out in the next month or so.

[2019-09-27 18:48] vsavkin commented on #1886
@rpd10 I believe the issue is with the fact that some command exceed the buffer size, which is 200kb.

Could you run the following three command to measure the size of the output?

[code]

What is the size of the

[2019-09-27 18:49] higgins1b commented on #1884
I am seeing this same error when trying to finish step 2 in the tutorials. I tried the web and the react tutorials with the same results.

### Steps to reproduce

Follow tutorial exactly - https://nx.dev/web/tutorial/01-create-application

[code]

### Error

[code]

### package.json

[code]

Please provide any relevant information about your setup:

- Windows: 10 enterprise N
- Powershell: 5.1.171

[2019-09-27 19:07] vsavkin commented on #1882
Fixed it in here: https://github.com/nrwl/nx/commit/5bb12dc4afa98c2a0da3497e7b661254efe0ab29.

The 8.5.2 release has the fix.

[2019-09-27 19:07] #1882 closed

[2019-09-27 19:16] wKovacs64 commented on #1882
Thanks!

[2019-09-27 19:33] vsavkin commented on #1884
@urosappdev the issue is due to multiple version of rxjs in your node modules. RxJs Observable can fail in this case because an observable created by one copy of rxjs is consumed.

You can add the following to your package.json:

[code]

This should fix it.

@higgins1b unfortunately I'm not able to repro it. Can you push a repo with the repro?

[2019-09-27 19:34] vsavkin commented on #1217
@llstarscreamll what dependencies did you upgrade to make the build pass?

[2019-09-27 19:37] vsavkin commented on #1838
The migrate command is still very experimental, but we are getting there.

I fixed the known issues in 8.5.2 and tested it out. So migrating from 8.5.2 should work well.

I'll keep this issue open to make sure upgrading from 8.5.2 to 8.5.3 works well.

[2019-09-27 19:40] vsavkin commented on #1609
@FrozenPandaz @bcabanes any update on this?

[2019-09-27 19:42] vsavkin commented on #1840
Great. Closing this issue.

[2019-09-27 19:42] #1840 closed

[2019-09-27 19:46] vsavkin commented on #857
Folks. We are unlikely to add support for TestCafe in the near future. If you want to put together an external package of builders and schematics for it, we are happy to help, and happy to help promote it.

[2019-09-27 19:48] rpd10 commented on #1886
Indeed, `git ls-files --others --exclude-standard` has a huge output, so much so that GitLab bails out: "Job's log exceeded limit of 4194304 bytes".

 We have CI setup to put the .yarn cache into the working directory (I believe for Cypress).  I think newer versions of Cypress has better support for caching, I will look into using the default cache location for Cypress and yarn, and report back.

[2019-09-27 20:05] rpd10 commented on #1886
Moving the yarn cache outside the working directory does fix this problem, affected:build, etc. works now.

I'm not sure whether there is anything to fix here from the Nx side (maybe a better error message?).  I can close this issue unless you would like it to remain open.

[2019-09-27 20:26] jaysoo commented on #1836
@emilio-martinez Hey, thanks taking the time to report this issue.

The main objective for moving to babel-loader is that babel is used in most non-Angular projects (React, Vue, etc.), so it makes sense to support the majority use case. This means we won't be moving back to ts-loader for the web builder.

As for differential loading and e2e tests, we've decided that it's in everyone's best interes

[2019-09-27 20:26] #1836 closed

[2019-09-27 21:35] vsavkin commented on #870
1. Just to clarify: the cypress builder should work same with/without Angular.
2. @jdpearce have we decided to simply update the docs instead of changing the behavior?
3. @einSelbst `nx e2e myproj-e2e --watch` will use `cypress open`. The watch flag determines if we use `run` or `open`. https://github.com/nrwl/nx/blob/master/packages/cypress/src/builders/cypress/cypress.impl.ts#L144

[2019-09-27 21:43] vsavkin commented on #733
I'm not sure if using precommit for running affected is a great idea.

Even in mid-sized project running `affected:lint` can take a couple of minutes if the change is large. You probably wouldn't want to block your commit for that long, right?

[2019-09-27 21:45] vsavkin commented on #1018
Awesome. I'll make the change so it lands in the next release.

[2019-09-27 21:47] vsavkin commented on #1855
@tyankatsu0105 would you be interested in submitting a PR? I'm happy to help you

[2019-09-27 21:49] vsavkin commented on #1833
@gperdomor would you be interested in submitting a PR? I'm happy to help.

[2019-09-27 21:55] emilio-martinez commented on #1836
@jaysoo Thanks for the response. I'm not arguing for you to revert, and I appreciate you trying to justify your change, but what I'm simply calling out is that it's a breaking change.

In other words, you didn't follow semver, and now we're facing having to refactor internal and client applications that are breaking for what you published as a minor version bump of your lib.

Fortunately, the fix

[2019-09-27 22:02] emilio-martinez commented on #1836
By the way, our breaking projects are not Angular-based.

[2019-09-27 23:38] aroksetx opened #1894 "Problem with generation of apps with Nest"
I am using the latest version of NX and I am stuck with issue.
I can't start the server API that was created with yarn nx g @nrwl/nest:application api command.
Every time it says Project 'api' could not be found in workspace.
I have attached a video link, please help me.
https://www.loom.com/share/bf25db39e54848f480d92ca2acedec47

[2019-09-28 05:46] maeri commented on #733
Currently, I'm using an external script to simulate the pre-commit phase where affected: commands are run. Ideally, I would like to get rid of this 'hack' and run 'affected:..' within git hooks - at least to have that possibility to decide for which project it can run. As for now it simply does not work.

[2019-09-28 06:51] cladera commented on #1551
@mtuzinskiy yes, I had the same version in my project and in the brand new project.

[2019-09-28 08:49] dsebastien commented on #733
@vsavkin I get your point but I thought that automating code linting and formatting through git hooks was appealing, as a way to avoid having to think about those.

Some developers get lazy when in a rush and they tend to skip some steps. Of course a good review process will keep such issues in control, but automation is nicer (i.e., it becomes a non-issue).

If using a pre-commit hook is not the

[2019-09-28 08:50] chungminhtu commented on #208
I have just has the same problem with this, could you share the code, pls?

[2019-09-28 09:20] SachinShekhar commented on #208
firebase.module.ts file:
[code]
firebase.config.ts file:

[code]
module-config.model.ts file:
[code]
Now, to import this module into main module, use this:
[code]

[2019-09-28 09:25] chungminhtu commented on #208
Thank you for quick response! this is definitely help.

[2019-09-28 09:31] mehrad-rafigh commented on #1894
Hi @aroksetx
Can you provide a repo where someone from the community could take a look at?

[2019-09-28 12:00] EvtK commented on #1891
@vsavkin thanks for checking in!. I did some further research and as it turns out, only the schematics from 8.0.0 and on were applied. I had to trick my repo with installing `@nrwl/schematics@7.8.6` to be able to get the schematics applied for upgrading to 8.0.0 :)

while this is a little hacky, it works and it is maybe not something worth provisioning something for within the nrwl schematics.

[2019-09-28 15:48] tyankatsu0105 commented on #1855
@vsavkin
Of course!!
I'll do that :)

[2019-09-28 16:00] aroksetx commented on #1894
Sure link on repo:
https://github.com/aroksetx/nxhelp

[2019-09-29 09:17] jdpearce commented on #870
@vsavkin - I updated the docs but the change has yet to filter through into live. I left this issue open as a feature request, but I wasn't sure if there was anything we could do as I couldn't get `cypress-watch-and-reload` to work. 😞

[2019-09-29 16:44] asherccohen opened #1895 "How to add a next.config.js file to customise a Next.js app"
## Expected Behavior

Be able to add a next.config.js to customise Next.js apps (for example to add sass compilation) when using Typescript.

## Current Behavior

If your Nx Next.js app is a Typescript project (easy to do, just change the extension of your index.js file to tsx and next will create a tsconfig file for you) then any .js file will have problems to compile since "isolatedModules": tru

[2019-09-29 18:52] jrista commented on #1059
It does appear as though this bug is still in full force. Because the "overrides" from angular.json are overwriting the entire `ts-jest` property on globals with the `Object.assign`, nothing you put into jest.config.js takes effect.

The current approach is a brute-force override, rather than a merger of the two `ts-jest` objects. Instead of replacing the `ts-jest` property on the globals, you nee

[2019-09-29 22:20] JBuijgers commented on #1860
Based on your example, I've managed to get it to work for react-native v0.61.1. The interopRequireDefault error might be due to the Metro Bundler not being able to find the node_modules directory. I had the same issue, which I fixed by adding node_modules to the watchFolders settings in metro.config.js.

Also added libs to metro.config.js here.
[code]

The following babel.config.js is needed to ge

[2019-09-30 02:43] aroksetx commented on #1894
I have found where was an issue.
During the workspace initialization process, it asks

And I have put **'.'** because of this it created the wrong config file.

[2019-09-30 02:43] #1894 closed

[2019-09-30 08:35] emilio-martinez commented on #1836
@jaysoo @vsavkin after upgrading and refactoring `const enums` to other alternatives, we're getting runtime errors around dynamic imports. No build time errors—just runtime, so I'm sorry to emphasize: 811c50b is clearly a breaking change.

As I mentioned above, I suggest you bump a major version or provide an appropriate migration that doesn't break users.

[2019-09-30 10:14] emilio-martinez commented on #1836
@jaysoo @vsavkin One more update, after refactoring to side-step the issues around `declare class`, I'm getting runtime errors in IE11.

[2019-09-30 14:07] levani commented on #1805
Same problem here.

[2019-09-30 15:12] yharaskrik opened #1899 "Building Nest App on CircleCI hangs"
_[Please make sure you have read the submission guidelines before posting an issue](https://github.com/nrwl/nx/blob/master/CONTRIBUTING.md#-submitting-issue)

- [x] I am running the latest version
- [x] I checked the documentation and found no answer
- [x] I checked to make sure that this issue has not already been filed
- [x] I'm reporting the issue to the correct repository (not related to Angul

[2019-09-30 16:51] bcabanes commented on #676
No reproduction have been shared. Closing the ticket because it is too old. Please, do not hesitate to create a new issue if needed.

[2019-09-30 16:51] #676 closed

[2019-09-30 16:53] bcabanes commented on #915
Closing this old issue, we have now a preset for Nx with Ivy.

[2019-09-30 16:53] #915 closed

[2019-09-30 16:54] #1022 closed

[2019-09-30 16:56] bcabanes commented on #687
Issue resolved, closing.

[2019-09-30 16:56] #687 closed

[2019-09-30 16:57] bcabanes commented on #728
Old issue, closing.

[2019-09-30 16:57] #728 closed

[2019-09-30 17:37] bcabanes commented on #1126
We have re-architectured the different Nx packages since then, you can try with the new version and open a new issue if you have any problem. Closing this issue.

[2019-09-30 17:37] #1126 closed

[2019-09-30 21:44] vsavkin commented on #1018
Merged here: https://github.com/nrwl/nx/commit/15b466608b0bf2093fcb4ee4574700655e1bebc4

[2019-09-30 21:44] #1018 closed

[2019-09-30 21:45] vsavkin commented on #1649
@xmlking I tried https://github.com/nrwl/bug-repro-circular . It works.

[2019-09-30 21:48] vsavkin commented on #1658
Folks. I'm going to close this issue because it should be fixed on the NestJS side.

But I'm happy to chime in if you talk about it with Kamil.

[2019-09-30 21:48] #1658 closed

[2019-09-30 21:50] vsavkin commented on #1676
Closing this issue. The deps have been updated.

[2019-09-30 21:50] #1676 closed

[2019-09-30 21:55] vsavkin opened #1903 "Add a guide showing how to set up an Angular project with Karma and Protractor"
We default to Jest and Cypress when create an Angular project. And we don't give an option to use Karma when folk using presets.

To create a project with karma, you need to do something like this:

[code]

We should document it

[2019-09-30 21:55] vsavkin commented on #1698
Folks. I"m going to close this issue.

We will use this one to track the docs update: https://github.com/nrwl/nx/issues/1903

[2019-09-30 21:55] #1698 closed

[2019-09-30 21:57] vsavkin commented on #1735
Folks. The migrate command is in 8.5.2.

It might take a few releases before we iron out all the details, but the core of the functionality is in place.

[2019-09-30 21:57] #1735 closed

[2019-09-30 21:59] vsavkin commented on #1740
Folks. I'm going to close this issue.

If the pwa package doesn't work in an Angular-CLI-powered Nx workspace, please reopen it. And we will take a look.

[2019-09-30 21:59] #1740 closed

[2019-09-30 22:02] vsavkin commented on #1777
Quick updater. We are working on a course that will cover things like single-version policy. Stay tuned.

[2019-09-30 22:07] vsavkin commented on #1886
One thing we can do is to bump up the size of the buffer to something like 10mb, and a better error message. Would you be interested in contributing the change? I can help.

[2019-09-30 22:47] xmlking commented on #1649
I don’t install typescript globally, solely using  project specific typescript version . May be this issue is specific to my setup. You can close this issue.
Thanks

[2019-10-01 01:30] rpd10 commented on #1886
I've pushed up a PR for this.

[2019-10-01 05:31] llstarscreamll commented on #1217
Here is the diffs from the dependencies changes, including the TravisCI setup:
https://github.com/llstarscreamll/angular-kirby/commit/b2e2a3b3736fe6404d686709c671f110436fbabe
https://github.com/llstarscreamll/angular-kirby/commit/e48f6166cc244ed187f0fe47edc48563f46d9133
https://github.com/llstarscreamll/angular-kirby/commit/a42c2f42802ef240f5ade437744a7296674af7b5
https://github.com/llstarscreamll

[2019-10-01 05:34] johannesschobel commented on #1649
Dear @vsavkin and @xmlking ,
i was able to reproduce this issue in my own setup (nestjs only application). If you like i can provide a small reproduction repository?

[2019-10-01 05:40] johannesschobel commented on #1847
what do you mean by `Common Vendor Bundle` in your specific scenario? Is it some kind of `lib` or a `node_module`?

If you aim for a common `lib` (that is framework agnostic, i.e., it is not specifically tailored for angular), just create one via `ng g @nrwl/workspace:lib LIBNAME`. This will create a new library in `/libs/LIBNAME` and will be properly scaffolded.

[2019-10-01 06:17] JVHeerden commented on #1864
@vsavkin this would be perfect. Links up perfectly to https://github.com/nrwl/nx/issues/1841 . Would love to give it a shot.

[2019-10-01 06:39] asherccohen commented on #1860
Super!Thanks a lot @JBuijgers for looking into this. Yes indeed a working schematics would be very useful.
@jaysoo is also suggesting some run-commands and will be looking into this.
Stay tuned!

[2019-10-01 06:55] SaliZumberi commented on #1306
ng g app XXX-app --unit-test-runner=karma --e2e-test-runner=protractor

where xxx is your project-name

[2019-10-01 09:40] joelmuskwe opened #1906 "Failing to use Selectors Composition"
- [X] I am running the latest version
- [X] I checked the documentation and found no answer
- [X] I checked to make sure that this issue has not already been filed
- [ ] I'm reporting the issue to the correct repository (not related to Angular, AngularCLI or any dependency)

## Expected Behavior

I am expecting to be able to compose selectors form multiple data-access libs from two or more other d

[2019-10-01 10:29] urosappdev commented on #1884
Yeah resolutions do work.

[2019-10-01 13:17] hack2024 commented on #1465
Hi! i have the same issue, any progress on this?. i try to adding in to existing Angular 7 app

[2019-10-01 13:55] Maxstgt commented on #1805
Same here!

[2019-10-01 19:58] marazz1 opened #1908 "8.5.1 React hooks useContext and createContext don´t work properly"
Prerequisites:

This example uses MobX for state management.

create some store AuthStore.ts (the decorators are not mandatory, you can try it without them, the result is same)
[code]

create App.tsx
[code]
The rendered property is not udpating.

Solution? This is working properly. And the store property is updating properly.

[code]

## Expected Behavior

React hooks useContext and createContext

[2019-10-01 20:16] montella1507 commented on #1908
Same issue here. Didn't work regardless decorator settings in tsconfig (allow/disallow)

[2019-10-01 21:16] #1886 closed

[2019-10-02 01:55] SebasG22 commented on #1749
Hey folks,
I'm happy to announce that I was able to create the `stryker` schematics & builder that supports `jest` and `karma` runners. I will submit the PR to be part of `nrwl/nx` on this weekend. 🚀

**Note**: You can take a look at  [NX Mutation Examples](https://github.com/SebasG22/nx-mutation/tree/1.jest/apps)

[2019-10-02 09:11] marazz1 commented on #1908
Update: It seem that the decorators are the problem. Decorators or decorate function do not work. But the useContext, createContext works.

There should be support for decorators without a need to use custom web.config.js.

[2019-10-02 12:10] minijus commented on #753
Generating new workspace schematics results only in implementation file. And it is great, as it simplifies usage and development of schematics a lot.

However, there is no test setup for these schematics. It would be great to have:
* dummy test file generated for initial tests
* test runner for schematics inside workspace
* adding ./tools/schematics to affected modules pool (if anything changed fo

[2019-10-02 13:29] appsolutegeek commented on #1699
I get something different :-(

[code]

[2019-10-02 13:36] iangregsondev opened #1912 "Creating new app DOES NOT use eslint ?"
- [x] I am running the latest version
- [x] I checked the documentation and found no answer
- [x] I checked to make sure that this issue has not already been filed
- [x] I'm reporting the issue to the correct repository (not related to Angular, AngularCLI or any dependency)

## Expected Behavior

Creating a new app does not use eslint, it did before - I am almost certain of it :-)

I tried my diff

[2019-10-02 22:05] kamknitt commented on #1018
I haven't test that, but I think that the implemented solution is not sufficient. Consider the following scenario (possible event without the wildcards change).

Let's say I have 3 libraries:
* `@workspace/foo`, tags: foo,
* `@workspace/bar`, tags: bar,
* `@workspace/baz`, tags: baz,

and that I have boundaries configured like this:
[code]

In this setup it's not possible to import `@workspace/baz

[2019-10-03 06:14] hoang-innomizetech commented on #970
I am looking for this feature as well. Basically, we just wanted to run the command one time and exist, watch mode keep the process running forever even we use process.exit(1)

[2019-10-03 08:04] fvanwijk commented on #1912
I can't imagine that eslint config was created before (never seen it myself). Angular is using TS by default, so tslint makes more sense. Just curious: why do you want eslint?

[2019-10-03 08:54] juristr commented on #1903
@vsavkin If you want I can take this one. Could take a look at this next week, at max in 2 weeks. So I get to know a bit better the docs part of this repo as well. let me know

[2019-10-03 09:01] cladera commented on #1551
I figure out what was going on with my project and I think it is solved now.

There were two things I configured wrong:

1. At some point we changed the npmScope property in the nx.json file. After some time debugging I realized this value is passed to the dependencies calculator so I figured it had to do with how nx creates the dep tree. When I changed the npmScope to its original value, all the

[2019-10-03 13:48] hoang-innomizetech commented on #1864
Cannot wait to see this feature rollout

[2019-10-03 13:58] hoang-innomizetech opened #1914 "Guideline for affected commands"
Do we have any document about how NX detect affected apps by using GIT history and current change? What are the best practices to avoid making a change that affects to all applications? Some changes we made shouldn't be affected all services but it is, but not sure why?

* Should we exclude package.json, nx.json, tslint.json files from affected commands?

[2019-10-03 14:05] Kunepro opened #1915 "Request: print list of affected e2e"
As per documentation:
https://nx.dev/angular/guides/monorepo-affected
We can currently print out the list of affected apps or libs, but there's no way to print out the list of affected e2e.

My request comes from the desire to parallelised each e2e test in a different process.
I know that I can run test in parallel with nx with `--parallel --maxParallel=8`, it works and it is great. However if a t

[2019-10-03 14:21] twittwer opened #1916 "[Feature] Allow library import for specific file types"
Regarding the latest improvements on the linting rule for module boundaries (#1897), it would be nice to restrict the allowance of imports to specific file types.

### Use Case

LibOne
- `@myorg/scope/lib-one`
- `@myorg/scope/lib-one/testing`

LibTwo
- `@myorg/scope/lib-two`
- `@myorg/scope/lib-two/testing`

LintRule
[code]

This will allow all files to import from `@myorg/**/testing`, but the con

[2019-10-03 16:12] wKovacs64 commented on #1838
@vsavkin 8.5.2 to 8.6.0 failed trying to upgrade `@nrwl/angular` (which isn't even in our project, as we don't use Angular):

[code]

Let me know if you'd like a new issue.

[2019-10-03 21:54] bcabanes commented on #1914
Hi @hoang-innomizetech!

We have a guide on using the affected command (including a part on how to use it in CI). [You can find it here](https://nx.dev/angular/guides/monorepo-affected). We also have a tutorial about it: _"[Step 10: Test Affected Projects](https://nx.dev/angular/tutorial/10-test-affected-projects)"_. Finally you can find more information on the API documentation of the command [vi

[2019-10-03 22:04] bcabanes commented on #1899
Hi @yharaskrik!

Could you provide a repro?
Thank you!

[2019-10-04 07:19] EvtK commented on #1059
@jrista @jdpearce waiting for this feature, so I have just update to Nx 8.6.0 but this still doesn't seem to work.

This is the globals section in my config in jest.config.js in the root of my repo, watch the isolatedModules.

[code]
now when logging what is coming inside of the jest.imp.js file for a library 'shared-utils'
[code]
gives me:

[code]

This is the jest.config.js file in the root of t

[2019-10-04 09:22] Foxandxss commented on #1609
I was going to open a related issue to this so I add my information in here.

There should be a support file for custom commands typing or documentation in  how to do it yourself.

If you open `commands.ts` and you write a custom one, say:

[code]

Something silly, but just to get the point.

You get an expected `Property 'approverLogin' does not exist on type 'cy'.ts(2339)` if you try to use it.

[2019-10-04 14:57] jackbravo commented on #1487
And what about svelte? Should it also be @svelte/nx and a issue be opened in svelte's repo? And not just svelte, but sapper too (their next/nuxt framework).

[2019-10-04 15:08] FrozenPandaz commented on #1561
I hope that clarified things. I'm going to close this issue for now.

If you have more questions feel free to reopen.

[2019-10-04 15:08] #1561 closed

[2019-10-04 15:10] FrozenPandaz commented on #1552
I think a `--skip-dependencies` option would be nice to have and could be done by a contributor.

Would anybody be interested in implementing this?

[2019-10-04 15:13] FrozenPandaz commented on #1525
Sorry, I was not able to find time to do this.

It's also been quite a while. To gauge the value of this migration could people comment if they're waiting for this change?

Someone from the community should be able to implement this as well.

[2019-10-04 15:17] FrozenPandaz commented on #1515
I've updated the `nx-examples` repo: http://github.com/nrwl/nx-examples!

It uses the concepts in the book. It's not full stack yet but I plan on moving the data into microservices. Please let me know your thoughts about the repo.

[2019-10-04 15:17] #1515 closed

[2019-10-04 15:20] FrozenPandaz commented on #1515
@appsolutegeek

There is the gitter channel: https://gitter.im/nrwl-nx/community
And a slack community: https://join.slack.com/t/nrwlcommunity/shared_invite/enQtNzU5MTE4OTQwOTk0LTgxY2E0ZWYzMWE0YzA5ZDA2MWM1NDVhNmI2ZWMyYmZhNWJiODk3MjkxZjY3MzU5ZjRmM2NmNWU1OTgyZmE4Mzc

[2019-10-04 15:22] #1471 closed

[2019-10-04 17:08] FrozenPandaz commented on #1465
Sorry I don't think I'll have time to look at this soon.

I think it would be easier to address these issues one by one in small PRs that I think a community member should be able to do.

The list that @studds would be a great way to break it up. Thank you!

[2019-10-04 17:09] #1914 closed

[2019-10-04 17:13] FrozenPandaz commented on #1411
I haven't had the time to look into this.

@jaysoo is working on the web builder. Maybe he can provide some insight into whether or not we need to include `core-js`?

[2019-10-04 17:24] FrozenPandaz commented on #995
We now have the ability to modify the webpack configuration.

https://connect.nrwl.io/app/cookbook/4CjE7wgoOyYU3ri08GCAr7

You can add your loaders to the config here. Please let me know if that makes sense.

[2019-10-04 17:24] #995 closed

[2019-10-04 20:33] bcabanes commented on #1609
@FrozenPandaz @vsavkin I created a PR adding the capability and default examples.

[2019-10-04 20:47] erik-slack commented on #1299
My team is also experiencing this problem on Windows machines.  I temporarily fixed it using the isolatedModules workaround.  Upgrading to Nrwl 8.5.1 from 8.5.0 didn't solve it for us either.

[2019-10-05 05:20] EvtK commented on #1915
Checking to report that I have been looking forward to this implementation as well.

[2019-10-05 05:24] EvtK commented on #1299
@erik-slack check-in on [this issue](https://github.com/nrwl/nx/issues/1059) to get updates on merging the jest global config.

[2019-10-05 08:25] emilio-martinez opened #1921 "[Question] Defining a breaking change for Nx"
## Expected Behavior

To gain a better understanding on what constitutes a breaking change for the Nx team and what kind of checks and quality control we can expect as consumers of Nx.

## Current Behavior

This is in some ways a related to #1836 which was deemed by @jaysoo as a "won't do" given that Nx has no plans of reverting from babel-loader to ts-loader. Here's an extract of the response, ju

[2019-10-05 08:54] muradm commented on #995
@FrozenPandaz , could you please point to commit or doc where I can look at it? Thx

[2019-10-05 09:30] EvtK commented on #837
@vsavkin is this feature request on the backlog somewhere?

[2019-10-05 17:11] ZempTime opened #1922 "[Feature Request] Prisma"
Hey 👋 . I've been tracking Nx with interest for a little while as a possible Lerna successor for a larger project I'm involved with. I'm starting a new side project involving Next, Node, and Prisma, and thought about giving this a try and understanding how it all fits together through the CI pipeline and deployment as a learning exercise. I'm doing that [here](https://github.com/ZempTime/breakfast

[2019-10-05 17:17] Foxandxss commented on #1609
Not a big fan of that solution tho. I would love to have a separate d.ts file. To keep things simple, but I guess that would work as well.

[2019-10-05 17:56] Foxandxss commented on #1609
As @juristr mentions in another place, He found a solution:

If inside `commands.ts` you do something like:

[code]

VScode will say, hey, there is a new command, I won't give you a red wiggle anymore when you use it. Now, running `ng e2e` will say... what is that `dataCy` I don't know about? But if inside the spec file where you use it, you do a `import ../support` (or your correct path to the su

[2019-10-05 19:37] ctaepper commented on #1847
Ok so I have multiple separate apps in my Nx workspace, let's call them "micro apps". They are all served at the same domain under different paths and make up one "large app". They all have their `main.js` and or `vendor.js` at around 800kb (unzipped). So I was wondering, since they all use the same angular dependencies of the workspace, if I can have a common vendor.js bundle across all of them t

[2019-10-06 00:46] adinath commented on #837
@flugger @EvtK  - We resolved it by adding jest-config  dependency and following piece of code in jest-config.json

[code]

this will generate test-report.xml in respective directories which you can converge in azure devops task.

[2019-10-06 06:18] jrista commented on #1059
@EvtK: Looking at your examples there...it looks like you are logging the jestConfig before it has been merged.

The code I fixed used to look like this:

[code]

I updated it to the following, but I've marked where you are (I assume) logging:

[code]

So you are logging before the fix actually merges your custom globals config with the defaults that the jest builder grabs from config. The key to

[2019-10-06 07:41] johannesschobel commented on #1847
ok, just to understand you.. you have a `shoppingcart` app and a `login` app and an `account management` app, right?

Just as an idea.. cant you just make an `shared shop` angular application (or library) and have this one shared / included in the others? This `shared shop` application would just export the `vendor.js`?

[2019-10-06 08:54] ravikantcool2008 opened #1924 "Issue"
_[Please make sure you have read the submission guidelines before posting an issue](https://github.com/nrwl/nx/blob/master/CONTRIBUTING.md#-submitting-issue)_

# Prerequisites

Please answer the following questions for yourself before submitting an issue.
**YOU MAY DELETE THE PREREQUISITES SECTION.**

- [x] I am running the latest version
- [ ] I checked the documentation and found no answer
- [ ]

[2019-10-06 12:37] bcabanes commented on #1924
Something wrong here, this is the issue template. Closing.

[2019-10-06 12:37] #1924 closed

[2019-10-06 12:42] bcabanes commented on #1912
Hi @iangregsondev!
I don't think we supported _EsLint_ with Angular in previous release. If you are sure, please point us to the release version we shipped it, it would have been a mistake from our side.

The _EsLint_ feature should come from the Angular CLI, they are working on it for next Angular releases.

Closing for now.

[2019-10-06 12:42] #1912 closed

[2019-10-06 19:45] EvtK commented on #1059
@jrista thanks for checking in. I do have the updated code it seems. Now I'm logging below:

[code]

but logging this, still doesn't give me the isolatedModules: true configuration which I have present in my jest.config.js file in the root of the angular repo.

[code]

Could you try this out yourself? Am I missing some piece of the puzzle? :)

[2019-10-07 08:52] ctaepper commented on #1847
yes, exactly!

[2019-10-07 09:08] johannesschobel commented on #1847
How about this:
You can just create a new `startup` library that contains the `vendor.js` or `main.js` files for all of these mentioned applications.

Then, in your `shoppingcart application / main.ts` file, include (load) the `startup library / main.ts` file that is shared across all your applications. Repeat this for all other apps..

Does this work / help you?

[2019-10-07 11:46] icebergMNE commented on #633
@vsavkin any progress on the tutorial? Thanks

[2019-10-07 12:17] IDonut commented on #1059
I think I'm seeing the same issue as @EvtK although I may be misunderstanding how this is supposed to work.

It looks like the preset defined in each library's jest.config file is not respected. If I define my global override in my library config everything works perfectly but it's not picked up if the override is defined in the root config file.

I've got 40+ libraries so I'd rather not have to u

[2019-10-07 12:38] SOHELAHMED7 commented on #1439
Reference to the key "setupFilesAfterEnv" is here: https://jestjs.io/docs/en/configuration#setupfilesafterenv-array

[2019-10-07 14:13] jdpearce commented on #1059
Hi folks. I am looking at this now and it seems to me that this is technically a Jest problem. Jest is afaict responsible for loading up the `preset` file and merging that with the local project options. All it does is what we were doing initially :

https://github.com/facebook/jest/blob/0df9981ef7836bc1eae31a01a3744dc461a25212/packages/jest-config/src/normalize.ts#L142-L154

There are some specia

[2019-10-08 02:12] SebasG22 commented on #1749
Hey folks,
It's amazing to know that nx will support mutation testing soon...
https://github.com/nrwl/nx/pull/1925

[2019-10-08 07:52] philly-vanilly commented on #1889
@vsavkin thank you for the answer and sorry for replying a bit late, I just started a new job.

My components don't import from the store. But they have a reference to the store module - not from the Effect directly, but a Facade, which is dispatching actions. I think this is a pretty loose dependency and not a problem. However, I think Effects should not have a reference to a specific component a

[2019-10-08 10:32] NutellaTorte opened #1926 "How to publish a NESTJS lib on NPM?"
- [x] I am running the latest version
- [x] I checked the documentation and found no answer
- [x] I checked to make sure that this issue has not already been filed
- [x] I'm reporting the issue to the correct repository (not related to Angular, AngularCLI or any dependency)

Hello,

is there a easy way to generate a nest library and build this library to publish it on npm?
there is no way to gener

[2019-10-08 14:14] jaysoo commented on #1908
It looks like decorator support through babel needs to use `legacy: true`. It'll be fix in the upcoming release. Sorry for any inconvenience!

[2019-10-08 14:32] marazz1 opened #1927 "@nrwl/react - can´t specify cypress configuration"
## Expected Behavior

Can specify cypress configuration via
`ng e2e myapp-e2e --configuration=prod`

## Current Behavior

## Failure Information (for bugs)

[code]
### Steps to Reproduce

1. Generate new nrwl/nx react project with cypress
2. Configure prod configuration
3. Run e2e project with --configuration=prod

### Context

[code]

[2019-10-08 16:05] #1908 closed

[2019-10-08 17:44] atifsyedali commented on #1908
Did this happen because of the change from ts-loader to babel-loader (#1836)?

[2019-10-08 18:15] atifsyedali commented on #1836
Our codebase broke wrt namespaces, const enums, decorators, and more.

@jaysoo Can't we have the Typescript compiler in transpileOnly mode pipe output to Babel, with the option of disabling Babel altogether? Then in parallel use the ForkTsChecker plugin.

This may seem like it may make the builds slower, but '@babel/preset-typescript' is already installed in babel, which you can now remove if you

[2019-10-08 19:23] jdpearce commented on #1059
I raised an issue with Jest and created a PR to resolve it. If anyone wants to watch how that goes, they're here : https://github.com/facebook/jest/issues/9026

[2019-10-08 19:58] IDonut commented on #1059
Brilliant. Thanks for doing that. Much appreciated.

[2019-10-09 10:01] iangregsondev opened #1930 "Azure Devops (pipelines) for deploying multi apps (angular and nestjs) ?"
- [x] I am running the latest version
- [x] I checked the documentation and found no answer
- [x] I checked to make sure that this issue has not already been filed
- [x] I'm reporting the issue to the correct repository (not related to Angular, AngularCLI or any dependency)

## Expected Behavior

Hi, I am hoping that somebody is doing something similar and can share there azure-pipelines.yml file

[2019-10-09 10:47] jdpearce commented on #1927
Hi, @marazz1 - the option you want to provide alternate configurations for is `devServerTarget` not `buildTarget`. The e2e app isn't responsible for building the app itself, you delegate that to the main app - e.g.

[code]

[2019-10-09 10:47] #1927 closed

[2019-10-09 12:51] devinshoemaker opened #1931 "Cannot load SVG in React application"
- [x] I am running the latest version
- [x] I checked the documentation and found no answer
- [x] I checked to make sure that this issue has not already been filed
- [x] I'm reporting the issue to the correct repository (not related to Angular, AngularCLI or any dependency)

## Expected Behavior

Utilize an SVG file using the `<svg>` tag in a React application.

## Current Behavior

The applicatio

[2019-10-09 14:20] johnhainline commented on #176
How's this going? Any updates?

[2019-10-09 16:48] brianpkelley commented on #1931
I struggled with this yesterday and resorted to just using the file's path as the src attribute

[2019-10-09 16:50] devinshoemaker commented on #1931
Thanks for the response, it's nice to know that I'm not alone. I'm glad that worked for you, but that's a bummer for my situation as I cannot control what Ionic does.

[2019-10-09 17:01] jrista commented on #1059
If Jest itself is doing something to override, then that might still be a problem. I did update the unit tests for nrwl/jest builder when I made the fix, so the builder itself should be properly merging globals config (at least, whatever such config the builder works with).

It seems to work for my one project locally, but...I don't think I actually have a situation where a child jest.config.js ha

[2019-10-09 17:33] wKovacs64 opened #1933 "[Feature Request] Next.js custom server support"
## Desired Behavior

`@nrwl/next` would support the [custom server and routing](https://nextjs.org/docs#custom-server-and-routing) feature of Next.js. This inevitably ties in with #1895 as well.

## Current Behavior

We are limited to modifying pages.

### Context

`nx report` just returns with `Project target does not exist.`, but:

- @nrwl/cli v8.6.0
- @nrwl/next v8.6.0
- @nrwl/workspace v8.6.0

[2019-10-09 17:58] paynecodes commented on #1511
Is there any documentation for building support for other tools? It seems that energy should be focused here if not.

[2019-10-09 18:58] jmcdo29 commented on #1511
Now that Nest has its own CLI, will Nx support it in the future?

[2019-10-09 20:28] FazioNico commented on #1750
Hi, you've test this https://github.com/nrwl/nx/issues/1356 ? it work for me.

[2019-10-09 22:05] FrozenPandaz commented on #626
This is a really old issue so I'm not sure when this was fixed.. but there's an error now 🎉

[code]

[2019-10-09 22:05] #626 closed

[2019-10-10 02:55] gperdomor commented on #1699
any changes here? @vsavkin

[2019-10-10 06:18] jon301 opened #1934 "`nx list` is not a recognized command on nx 8.6.0"
## Expected Behavior

The command `nx list` should work.

## Current Behavior

The command is not recognized.
Tested with global installed nx & local one, on a fresh nx workspace.

## Failure Information (for bugs)

[code]

### Steps to Reproduce

Please provide detailed steps for reproducing the issue.

1. npx create-nx-workspace@latest myworkspace
2. cd myworkspace
3. yarn add --dev @nrwl/angula

[2019-10-10 08:44] #1934 closed

[2019-10-10 11:25] geocine opened #1935 "importing `less` files from node_modules is causing a `ModuleBuildError`"
I am integrating `antd` with `next.js`. I have followed **working** example outside of the Nx workspace written in JavaScript.

Setup is based on this working example from **zeit** https://github.com/zeit/next.js/tree/master/examples/with-ant-design-less

I have created the same example in Nx Workspace but in TypeScript

## Expected Behavior

Project should successfully work inside Nx Workspace

#

[2019-10-10 13:09] ukaric commented on #1511
Pattern around nestjs microservices should be adopted imo, because each microservice should be its own app for multitude of reasons.

[2019-10-10 13:42] mcblum commented on #1511
@ukaric each microservice is currently intended to be its own app, is it not? What would Nx do differently to support that?

[2019-10-10 14:00] CharlJKruger opened #1937 "After upgrading from nx 7 (@nrwl/nx": "^7.8.6) to nx 8, cant create apps"
## Expected Behavior

After upgrading from nx 7 (@nrwl/nx": "^7.8.6) to nx 8 via https://nx.dev/angular/guides/nx7-to-nx8, application compiles successfully however we cannot generate new applications :(

These were the steps taken from the above guide:

- ng update @nrwl/schematics@8.4.8 to update the workspace to the Nx 8 format.
- Commit the results
- ng update @nrwl/workspace@8.4.8 to update t

[2019-10-10 14:18] brianpkelley commented on #1931
Some of the solutions I found were adding a `custom.d.ts` file in the root of the project and including:
[code]

And/or using a custom webpack config with a loader for svg's etc.

There a few solutions floating around that seem to be working for others, but nothing worked for me.  I'll be keeping an eye on this issue since I'd prefer to be able to import them directly.

[2019-10-10 14:21] ukaric commented on #1511
@mcblum Yeah indeed i have expressed my self poorly. What I meant by standalone is they should be structured such that if you have project A and it has back-end appropriate microservices for project A will go under that project. And if latter on you have another one you can separate microservices by projects and still keep the benefits of nx style monorepo

[2019-10-10 21:04] stefan-karlsson opened #1938 "rendering of dep-graph broken"
## Expected Behavior

Render full dependency graph

## Current Behavior

The whole dependency graph is not rendered, only parts of it.
![image](https://user-images.githubusercontent.com/25538602/66604577-b5e48500-ebae-11e9-8235-b37554cee15a.png)

## Failure Information (for bugs)

This started to occur when updating nx workspace from v8.5.1 to v8.6.0

### Failure Logs

There is no console errors r

[2019-10-11 08:45] johannesnormannjensen commented on #1938
I am experiencing the same

[2019-10-11 14:13] Alivejke commented on #1895
Hi @asherccohen do you have an example with this workaround working? I have the same issue but the fix that you mentioned doesn't work for me, for some reason it still doesn't pick up next.config.ts file

[2019-10-11 16:12] JoA-MoS commented on #176
I am currently trying to implement this in Jenkins so very interested in what you come up with. Currently I can't even get past `format:check` I get the error `fatal: Not a valid object name origin/develop`

[code]

[2019-10-11 16:49] JGhignatti opened #1941 "Transform Angular CLI 7 project to workspace fails on ng add @nrwl/schematics"
## Expected Behavior

Able to `ng add @nrwl/schematics` on an Angular project created with Angular CLI 7.3.9.

## Current Behavior

Throwing error when running `ng add @nrwl/schematics`. It moves my app inside a new created folder called `apps`, but doesn't create `libs` folder and `nx.json` file.

## Failure Information (for bugs)

<img width="481" alt="Screen Shot 2019-10-11 at 13 27 58" src="ht

[2019-10-11 17:19] AdamVig opened #1943 "Disable enforce module boundaries for tools directory"
## Expected Behavior

I use the "tools" directory in my Nx project for test fixtures and utilities. I added this directory as a project in `angular.json` and `nx.json` so that I could run tests in that directory. This works for my use case, but it makes the `enforce-module-boundaries` rule pick up my "tools" project, which required some ESLint configuration tweaks.

I expect the following ESLint c

[2019-10-11 19:46] FrozenPandaz commented on #1251
@kamilchlebek
I checked the failing version of the code and it does not seem to be erroring anymore. Can you please check that this issue is reproducible with the current version of Nx?

[2019-10-12 05:13] bbasinsk commented on #1933
Here's an example that hopefully helps a bit:
https://github.com/bbasinsk/nx-next-custom-server/tree/master.

There's a couple changes to make from the default Next app:

- Use the `@nrwl/node:execute` builder rather than `@nrwl/next:dev-server` with a custom buildTarget.
[Example](https://github.com/bbasinsk/nx-next-custom-server/blob/7cb5c5c45c3ea6e66d0bb78cf4badf0f83259c9c/workspace.json#L17-L3

[2019-10-12 06:52] elvirdolic commented on #1930
We are doing by adding tags to the build. Each affected app is added as tag. You can use azure devops rest api for that (poweshell or node.js there is a node client available). You need then for each app a release pipeline. For each release pipeline you can define artifact filters based on build tags.

[2019-10-12 08:13] iangregsondev commented on #1930
Thanks @elvirdolic , I am still learning azure :-) I presume then I need to write a small nodejs script to call the rest service. Would you have the link to the docs for that ?

The tag that is added, is a one off tag, i mean, right now the pipeline we detect a new PUSH on github and run the yaml file, so I presume that the filters need to be added on the yml level ? to check for the tag - and nex

[2019-10-12 08:16] sasos90 commented on #803
@deimosOmegaChan it properly transpiles the files, and it works, until I want to use the entity in a module, where I have to import the entities like TypeOrmModule.forFeature([.....
So after using forFeature, I am gettting this "repository not found for..." error.
Any ideas on that? Anyone else has this problem too?

[2019-10-12 22:04] wKovacs64 commented on #1933
@bbasinsk Thanks for the response! I tried your example but ran into a problem when taking it a step further towards making it a "real world" app. I generated a React component library in the same workspace (`nx g @nrwl/react:lib ui`) but was unable to import components from it in `next-app`:

[code]

(Note: TypeScript and ESLint both seem to think it's fine, as there are no type errors found nor

[2019-10-13 03:17] bbasinsk commented on #1933
@wKovacs64 Oh interesting. I just assumed that would work. But you're right, I'm running into the same wall here.

[2019-10-14 05:56] kamilchlebek commented on #1251
To be honest after I fixed it in my way I forgot about this issue. Currently I can't find the place in the code that was affected by this problem. Maybe @mwhitis can see if it's okay on his side.

[2019-10-14 07:46] jbjhjm opened #1945 "[Request] add support for passing output path to @nrwl/node via CLI"
## Expected Behavior

Angular's own builder features a [outputPath CLI parameter](https://github.com/angular/angular-cli/blob/master/packages/angular_devkit/build_angular/src/server/schema.json#L64) which can be used to override the output directory temporarily.

## Current Behavior

@nrwl/node is missing this feature. For automated build chain - though it's not required - it would be a great and

[2019-10-14 13:53] Alivejke commented on #1933
I had the same problem when tried @bbasinsk solution. From the error logs it seems that it doesn't even look into the ./libs/ folder for the component for some reason. Maybe @vsavkin can take a look at this issue and give some general directions where to dig? I'm happy to help with debugging or opening a pr for this issue but I think it would save me a lot of time if somebody who knows how resolvi

[2019-10-14 14:38] tashoecraft commented on #1938
Seems to be an issue with the css and transform properties applied on the element. If you do some minimal modifying of the html it'll start rendering fine. Haven't dug into the source for where it's determining those property values yet though

[2019-10-14 15:53] tashoecraft commented on #1938
The issue is that width doesn't appear to be updated when the graph gets built, so the default svg width of 1024 gets used. I'll have a pr up shortly which updates the width after the graph is rendered and moves when the center offset is calculated to below the height and width calculation so that it is centering based on full graph data.

[2019-10-15 09:19] jogelin opened #1949 "Use Cypress for API testing"
## Expected Behavior

I would like to add to my Nx workspace a Cypress app used to test only APIs. It is not related to any UI app.

## Current Behavior

It seems impossible to have only a simple cypress app no linked to a frontend app.

I generate a new frontend app to be able to get the e2e app. Then I deleted the `angular.json`  configurations related to the frontend app.

## Failure Informatio

[2019-10-15 09:26] jogelin commented on #1949
My Solution is to rename my app and don't use `-e2e` at the end.

Strange that the name of a project as an impact on the way it is managed...

[2019-10-15 12:04] josesaranda commented on #1777
I think having one package.json per application is useful if you want to publish your libraries or applications separately in the future. Is there anyone who has solved that problem?

[2019-10-15 12:59] #1855 closed

[2019-10-15 17:47] asherccohen commented on #1895
Sorry to hear that. Not really, I don't have a git repo to show you.

I have a pretty straightforward tsconfig generated by nx out of the box. I then manually create a next.config.ts file (I'm still confused why I can't have it as a js file instead and simply exclude it in tsconfig, you can try that but its not working, would like to know your findings).

What I do is then add (at the top)
export

[2019-10-15 17:53] Alivejke commented on #1895
I've checked with nextjs documentation and they actually don't support next.config.ts, it should be next.config.js. There is a way to provide this configuration manually when usign nextjs custom server, as mentioned in this issue https://github.com/nrwl/nx/issues/1933 but unfortunatly there is another issue there. So for now I'm just waiting for a help from maintainers.

[2019-10-15 19:27] #1938 closed

[2019-10-15 19:28] #985 closed

[2019-10-15 19:30] #1463 closed

[2019-10-15 19:35] #1833 closed

[2019-10-16 01:33] ZachJW34 opened #1952 "Nx does not respect types defined in schema.json"
## Expected Behavior

Running a custom schematic using `npm run workspace-schematic -- custom-schematic --routing false` with a schema.json of
[code]
should run without error.

## Current Behavior

The schematic fails with error:
[code]

### Steps to Reproduce

Create a custom schematic that has a boolean property that defaults to true and overwrite the property to false on the command line.

###

[2019-10-16 03:48] puku0x commented on #1931
@devinshoemaker
I had the same problem during integrating Nx and `@ionic/react` and I solved it by using a custom webpack config.

- Install additional loaders
[code]
- webpack.config.js
[code]
- workspace.json
[code]

[2019-10-16 07:53] weblancaster commented on #687
I created a lib and later decided to delete which caused `NX   ERROR  Running target "test" for affected projects failed`, turns out the issue was in the `dist/.nx-results` as @pglazkov mentioned.

Thank you.

[2019-10-16 12:12] SWGeekPD opened #1953 "NrWl: Importing library into another library module overrides the functionality."
Hi,
I have created 2 library lets say lib1 and lib2.

I have one component (component1 ) in lib1 and one component (component2) in lib2.

Now in lib2 module, if I import lib1 module to use its component than it is not happening.

What I am seeing is when I load lib2 its been overridden by lib1.
All I can see is lib1 component only when I load lib2.
Lib2 specific html is not at all rendering.

I am

[2019-10-16 13:20] tashoecraft commented on #1953
We'll need more of an example than what you have provided. This is also more of a question that would be on stack overflow as this seems more like a "I need help with x" rather than an issue with the library.

I don't know what you mean by being overridden, what you see on the page will depend on how you defined routing, which appears lib2 has none, which component are you rendering? How is the ht

[2019-10-16 15:38] Melmoth-the-Wanderer commented on #208
@SachinShekhar, @chungminhtu. Have you tried it with angular 8?
When I try to test your solution I am not able to override the value of any FirebaseConfigService.data properties. It never changes from the default.
Does this approach works for passing configuration to the angular library or only to angular feature (module)?

[2019-10-16 17:28] SachinShekhar commented on #208
@Melmoth-the-Wanderer Yes, I use it with Angular 8 and you can pass the configuration data to a library (which is basically a feature module with special path configured with TS compiler).

You must be making some mistakes.

[2019-10-16 21:11] iangregsondev opened #1954 "Calling "affected" via nodejs ? (an api is available instead of a cli?)"
- [x] I am running the latest version
- [x] I checked the documentation and found no answer
- [x] I checked to make sure that this issue has not already been filed
- [x] I'm reporting the issue to the correct repository (not related to Angular, AngularCLI or any dependency)

## Expected Behavior

I have checked the docs and I don't think i missed it ? I am trying to use the affected commands but v

[2019-10-16 21:45] iangregsondev commented on #1930
I think I have the concept more or less now :-) The tags are added to the buildId. And I am able to use the AZ command line tools to add the tags using a buildID.

I will attempt it after doing a little further investigation.

[2019-10-16 22:19] brianpkelley commented on #1931
@puku0x Thanks! This worked for me without the `polyfill.ts` (but i'm not using ionic, so maybe thats it)

I tried a couple of different webpack.config.js variations, but no worked.  Thanks for yours, works like a charm!

[2019-10-17 01:00] ZachJW34 commented on #1954
It is currently possible to get affected apps/libs via node. It looks like there was a more robust API in version 7 seen [here](https://github.com/nrwl/nx/blob/33d34233b5af9190b49cc10d62a73da177fade32/packages/schematics/src/command-line/shared.ts#L320), but we can get by using the `getAffectedMetadata` and `parseFiles` from [here](https://github.com/nrwl/nx/blob/master/packages/workspace/src/comm

[2019-10-17 07:17] leonlafa commented on #1541
Any ETA on this @Jordan-Hall, the community is eagerly awaiting 😀

[2019-10-17 12:54] sagarpatel8384 opened #1957 "Parsing failed after yarn update to latest"
## Expected Behavior

The application should properly compile, build, and serve.

## Current Behavior

Application is unable to compile (see below for logs).

## Failure Information (for bugs)

The application was building properly on version 8.1.2. I required an update to latest to fix an es5/differential loading issue. I ran yarn update as per the documentation and my application no longer compi

[2019-10-17 12:56] jaysoo commented on #1957
@sagarpatel8384 Can you also share the `workspace.json` entry for the app?

[2019-10-17 12:58] sagarpatel8384 commented on #1957
Using Webstorm, so have a worksapce.xml:

[code]

[2019-10-17 13:05] sagarpatel8384 commented on #1957
[code]

[2019-10-17 13:12] jaysoo commented on #1954
We don't currently support a programmatic interface, but what @ZachJW34 outlined will work for the upcoming 8.7.0 release.

Otherwise if you're on an older 8.x release you can use the following.

[code]
Replace `HEAD` and `HEAD~1` with the actual base and head you're comparing.

[2019-10-17 13:14] jaysoo commented on #1954
Closing this issue since there are examples provided that should be sufficient.

[2019-10-17 13:14] #1954 closed

[2019-10-17 13:20] jaysoo commented on #1957
Can you update your `test-app`'s build architect by adding the `webpackConfig` line?

[code]

[2019-10-17 13:23] jaysoo commented on #1957
Sorry, I meant replacing the `webpackConfig` entry with `@nrwl/react/plugins/babel`.

[2019-10-17 13:30] jaysoo commented on #1953
@SWGeekPD Can you provide some code examples to show this? An actual repo would be super helpful!

This doesn't sound like an Nx-specific issue, but it may have something to do with how things are exported/imported/etc.

[2019-10-17 13:40] jaysoo commented on #1952
@ZachJW34 That sounds like a good idea. We should add an e2e test to cover this (`e2e/command-line.test.ts`). Let us know if you need any help. :)

[2019-10-17 13:50] jaysoo commented on #1949
@jogelin You're right, the `-e2e` name currently has special meaning in Nx. We'll look into improving this experience.

For now, you can also specify an `implicitDependencies` entry in your `nx.json` file, which should contain the name of the app(s) that being tested by Cypress.

Does that help?

[2019-10-17 13:58] jaysoo commented on #1945
@jbjhjm Hey, the option is already (secretly) supported. You can pass `--outputPath=./tmp` to the build command.

We'll update the docs to reflect this. Thanks for reporting!

![Screen Shot 2019-10-17 at 9 57 39 AM](https://user-images.githubusercontent.com/53559/67015496-9e346180-f0c4-11e9-9602-a93ae2a4e459.png)

[2019-10-17 13:58] #1945 closed

[2019-10-17 14:19] jogelin commented on #1949
@jaysoo thx for the reply. However, I am creating a Cypress e2e because I want to test an external API, out of my monorepo !

[2019-10-17 14:27] jaysoo commented on #1943
The behavior was changed when we fixed deep import problems in the last release. I have a PR open to add regexp support back, but want to get some feedback from @vsavkin first.

[2019-10-17 14:34] sagarpatel8384 commented on #1957
works, great thank you!

[2019-10-17 14:34] #1957 closed

[2019-10-17 14:38] jaysoo commented on #1957
@sagarpatel8384 No problem! You can still use your own custom webpack if you want, just make sure to import the function from `@nrwl/react/plugins/babel` and call that in your own custom config function first.

[2019-10-17 15:15] AdamVig commented on #1943
I got partially through converting everything to `@foo/tools`-style imports, but then ran out of motivation. I imported everything in the tools folder directly, like `import foo from '../tools/bar/baz'`, which made it difficult to do a quick experimental migration to `@foo/tools`. I will revisit it at some point, adding some `index.ts` barrels to make the migration possible.

I'm not sure I can re

[2019-10-17 15:25] jaysoo commented on #1926
@NutellaTorte Hi, we don't currently support `--publishable` flag for nest libs. You will have to manually add the package.json file and do the compile step yourself.

If you are running Nx 8.6 or above, you can try using the web bundle support by adding to your `angular.json` or `workspace.json` file.

Look for an entry for your lib, and add the `build` architect.

[code]

Now you'll be able to r

[2019-10-17 15:47] jaysoo commented on #1922
@ZempTime Hi, thanks for your interest in Nx!

Prisma isn't on our roadmap right now. If you want to help out that would be awesome!

For now, you can even create the setup using `@nrwl/workspace:run-commands` builder.

e.g.
[code]

This will allow you to run `nx run myapp:seed` command. You can swap out `echo` with any shell command you want.

[2019-10-17 15:49] jaysoo commented on #1931
@puku0x Hmm, the build already replaces `process.env.NODE_ENV` with `production` or `development`, but looks like ionic is looking for `process.env` which we don't substitute. This can be fixed as well. :)

[2019-10-17 15:49] puku0x commented on #1931
In addition, as mentioned in [Jest Docs](https://jestjs.io/docs/en/webpack#handling-static-assets), a file mock is needed to run tests.

[code]

[code]

[2019-10-17 15:49] jaysoo commented on #1931
No worries, we'll make sure testing works well.

[2019-10-17 15:50] puku0x commented on #1931
@jaysoo Thank you very much!

[2019-10-17 15:52] jaysoo commented on #1908
@atifsyedali Yes, that was the case

[2019-10-17 15:58] jaysoo commented on #1836
@atifsyedali Hey, thanks for chiming in. I don't think it'll quite work with using `transpileOnly` since depending on what babel-plugins you use, it may not transpile using just `tsc`. I think we should be able to get support parity with prevous `ts-loader` setup.

[2019-10-17 16:44] jaysoo commented on #1891
Closing this as the workaround has been found, and doesn't seem to warrant fixes in Nx.

[2019-10-17 16:44] #1891 closed

[2019-10-17 17:11] devinshoemaker commented on #1931
Thank you! I can’t wait to use Nx for my Ionic projects. 😁

[2019-10-17 18:12] gperdomor commented on #1624
@jimdubbs this works... Uses the target branch when is a MR and the previous commit in the case of push event 😄

[code]

[2019-10-17 19:36] siddharthpal opened #1963 "Explicit lazy load of modules present in libs not working for component level lazy loading"
# Prerequisites
Nx Version : 7.8.0
[code]
- [ X] I am running the latest version

## Expected Behavior
I am trying to lazy load a module that is present inside libs. I have already added the libs path in my tsconfig.app.json as suggested in #909 . I see that we can not build explicitly lazy modules in aot mode as said [here](https://github.com/angular/angular-cli/issues/6373). Is that true? I am t

[2019-10-17 20:49] jaysoo commented on #1931
I've opened a PR, but there is one thing I want to potentially tackle before it goes out.

[2019-10-17 20:58] JGhignatti commented on #1941
Hi, @jdpearce thanks for checking this.
I've found this PR couple days after I posted this issue, it seems that it could fix my problem.
Thing is, would it be possible for me to checkout to the fix branch and run `ng add @nrwl/schematics`, but running the fix?

[2019-10-17 23:09] xtiancapil commented on #1849
@FrozenPandaz when inside a docker container, `localhost` refers to the docker container and not the host, so effectively it is only allowing connections from within the container

[2019-10-18 01:48] JefferE commented on #208
@SachinShekhar, I must be doing something wrong as well. You did not post your ./firebase.service file so I must be doing something wrong in the one I created.

I'm getting:

ERROR Error: Uncaught (in promise): Error: Your API key is invalid, please check you have copied it correctly.

The minute I try to inject any Firebase module into my FirebaseService constructor I get the invalid apiKey error

[2019-10-18 07:54] SachinShekhar commented on #208
@JefferE This setup is independent of firebase.service file.

Try debugging by console logging the configuration in a component first. Make sure that your firebase configuration object exactly matches the one provided by firebase (if you are passing few fields like apiKey only, that can be the issue).

[2019-10-18 13:57] StefanNieuwenhuis commented on #1511
I would love to see StencilJs support! And I definitely want to contribute to making it happen. But where to start? 🤔 Can someone help me with that?

[2019-10-18 14:00] mcblum commented on #1511
@ukaric I think I still don't understand :)

What is a project in this case? Since it's a monorepo, all of your projects should be in the same repo.

[2019-10-18 14:03] mcblum commented on #1511
@StefanNieuwenhuis I can recommend reading through the source code and reviewing the schematics! If I wanted to add support for a new framework I'd evaluate how the project was generated, served and built for each type of app.

For example, since Nx supports both Angular and React, you should be able to check the differences and then formulate a plan for introducing StencilJs!

[2019-10-18 14:10] StefanNieuwenhuis commented on #1511
Thanks for your reply. Existing schematics form a nice starting point indeed. Gonna take a look and I hope that I can formulate a plan.

[2019-10-18 14:42] JefferE commented on #208
@SachinShekhar Yes, my config is correct, it works in a project that is not trying to use my shared auth lib.

However, I now have this working but I'm not understanding why. My files are exactly the same as yours above and below is my main app module.

My app and shared auth lib ONLY works if I ALSO configure AngularFireModule.initializeApp here in my main app module in addition to doing it in my

[2019-10-18 14:53] SachinShekhar commented on #208
@JefferE What's the output of console.log()?

BTW, double initialization is bad thing which can cause unexpected behavior. Don't do this.

[2019-10-18 15:01] JefferE commented on #208
Thanks for your help with this!

If I don't do the double initialization (i.e. I only call AngularFireModule.initializeApp in FirebaseServiceModule),

I get this the minute the component that uses the shared service loads:

[code]

[2019-10-18 15:17] JefferE commented on #208
@SachinShekhar, I also forgot to mention that if I step through the code I can see that the config is indeed passed into the shared lib and my values seem to be getting set into the static var as expected,

[2019-10-18 15:22] prudhvidandamudi opened #1970 "nrwl not respecting the cypress --env argument through command line"
I was not able to understand if I am doing something wrong or it's a Bug.

I wanted to set my env variable defined in the cypress.json file through the command line. According to the cypress docs, they give 5 different styles to do that. But nrwl is not respecting the cypress
--env option (**https://docs.cypress.io/guides/guides/environment-variables.html#Option-3-CYPRESS**)

My **cypress.json** F

[2019-10-18 15:28] JefferE commented on #208
@SachinShekhar

This is where the crash occurs. The minute this constructor runs:

[code]

If I comment out AngularFireAuth and only inject AngularFirestore then it complains that appId must be a string (just another way of saying it doesn't like my config).

[2019-10-18 15:42] SachinShekhar commented on #208
@JefferE Show me your module-config.model.ts and firebase.config.ts files if you followed my naming convention (or, show equivalent files).

[2019-10-18 16:48] JefferE commented on #208
Went one better (I think). I just added you as a collaborator on a barebones repo illustrating the issue.

Put in your project config and you should get the issue right away.

[2019-10-18 16:51] SachinShekhar commented on #208
@JefferE Push the commit. Currently, it's on initial commit.

[2019-10-18 16:56] JefferE commented on #208
@SachinShekhar,  Sorry, pushed now.

[2019-10-18 17:17] intellix commented on #1206
I'd like to be able to just build the tests and run them against a separate server. We already have an environment up and serving is a waste taking around 8 minutes until it starts running tests.

Perhaps with the above it'll be supported anyway?

[2019-10-18 19:26] #1943 closed

[2019-10-18 19:26] SachinShekhar commented on #208
@JefferE I checked. Your code is correct. Firebase config is getting passed to the library with correct type. But, due to some mysterious reasons, AngularFireModule has problem with it (interestingly, my multiple projects are working fine with the same code).

I strongly believe that the issue is with AngularFireModule's dependencies (I didn't have time to check everything). Good luck debugging it

[2019-10-18 19:28] JefferE commented on #208
ok, perhaps a versioning issue somewhere in dependencies.

I'll check it out. Thanks a bunch!

[2019-10-18 19:31] JefferE commented on #208
@SachinShekhar, if you could when you have time, post your nx package.json so I have something to compare to at that basic level?

[2019-10-18 19:42] prudhvidandamudi commented on #1878
Hi guys
any update on this bug, I am in the same situation where I need to invoke different cypress.josn files based on the environment.

I guess this fix should also help to solve my problem

https://stackoverflow.com/questions/58440173/how-to-set-environment-variables-in-cypress-json-file-through-command-line-ang

[2019-10-19 03:09] WangZishi commented on #1930
@iangregsondev I'm also trying to do this. This is how I build angular applications.
![image](https://user-images.githubusercontent.com/8288105/67136981-eab4a400-f260-11e9-80cd-63f02b425842.png)

[2019-10-19 08:08] WangZishi commented on #1777
I think it is mainly because there still tons of issues with bundle apps using nx with webpack, nestjs, typeorm,  and docker.

[2019-10-19 09:27] iangregsondev commented on #1930
This has been really helpful

Thanks

[2019-10-19 17:55] JBuijgers commented on #1860
Hi all, I got a prototype (only Android atm) going at https://github.com/JBuijgers/nx-react-native, also published it on NPM https://www.npmjs.com/package/@jbuijgers/nx-react-native. So far it works, but it still needs work/testing before it's fully usable. I'll be adding iOS in the coming week. Would love to get some feedback on this.

[2019-10-19 20:26] skydever commented on #1878
hi @prudhvidandamudi

doesn't it work to set the different environment settings in `angular.json` like described [above](https://github.com/nrwl/nx/issues/1878#issuecomment-535807539) and then run `ng e2e your-app --configuration=staging`?

[2019-10-19 21:02] atifsyedali opened #1972 "Removing implicit dependencies and generating package.json for each project"
After using NX, I have a few suggestions for medium-large projects adopting NX. Collectively, they will solve the following issues: #1169, #1777, #602 and probably some others as well.

# `Affected` command and implicit dependencies on workspace.json, nx.json, and package.json

From #1169:

This is a real problem that is affecting medium to large projects. One of the primary motivations to moving

[2019-10-19 21:32] SachinShekhar commented on #208
@JefferE I tried to debug your code (because issue is interesting). The issue is: AngularFireModule is being initialized before static data is set in FirebaseConfig service. To solve this, lazy-load the module using [@wishtack/reactive-component-loader](https://github.com/wishtack/wishtack-steroids/tree/master/packages/reactive-component-loader). It works with AOT compilation.

Or, to simplify thi

[2019-10-20 01:17] mmelvin0581 commented on #1541
Would LOVE this!. This is exactly what my company needs right now!!

[2019-10-20 12:30] bennymeg opened #1975 "Electron support"
Hi,
I would like to contribute Electron schematic to Nx .

Before I start, I want to make sure you have not started to work on something like that and to ask your permission to start working on it.

I went through the majority of the code (which is pretty cool, I most say) and I believe I can implement the schematic with ease based on your other schematics.

Benny.

[2019-10-20 14:49] intellix opened #1976 "ng e2e with supportFile takes an extra 4 minutes +"
_[Please make sure you have read the submission guidelines before posting an issue](https://github.com/nrwl/nx/blob/master/CONTRIBUTING.md#-submitting-issue)_

# Prerequisites

Please answer the following questions for yourself before submitting an issue.
**YOU MAY DELETE THE PREREQUISITES SECTION.**

- [x] I am running the latest version
- [ ] I checked the documentation and found no answer
- [ ]

[2019-10-20 15:41] bcabanes commented on #1976
Hi @intellix
Yes it does in did, we are currently looking into this.

Related issue: https://github.com/nrwl/nx/issues/1976

[2019-10-20 16:13] intellix commented on #1976
Wrong related issue? points back to here

[2019-10-20 17:37] bcabanes commented on #1976
Sorry, updated!

[2019-10-20 20:54] JefferE commented on #208
@SachinShekhar, ok, I'll give that loader a try.

I tried initializing in the root module long ago and it didn't work (my FirebaseService wouldn't have the config it needed), that's what led me to try passing the config to the shared lib, which made me find this thread.

[2019-10-21 05:19] dianjuar commented on #1800
It's done

The [last version](https://github.com/bikecoders/ngx-deploy-npm/blob/master/src/CHANGELOG.md#features) of `ngx-deploy-npm` introduces Nx compatibility

FYI @vsavkin @xmlking

[2019-10-21 07:02] fen89 commented on #1937
@CharlJKruger We had that excact same issue last week coming up (creating apps and libs was not possible anymore after the upgrade). After struggling through the codebase we found out that we had some old schematics inside the `angular.json` as base schematics for the project.

[code]

Removal of old schematic references inside `angular.json` made this work again.
For reference, we had this sectio

[2019-10-21 07:13] fen89 commented on #1104
I experienced this issue last week as well:
`ng g lib ui` resulted in an `Path "/libs/ui/src/lib/ui.service.spec.ts" does not exist.`error.
After removing old schematics from the `angular.json` file everything worked again as expected (longger version here for reference: https://github.com/nrwl/nx/issues/1937#issuecomment-544377735_)

[2019-10-21 10:12] hql287 commented on #1845
Can confirm this as well.

[2019-10-21 13:47] prudhvidandamudi commented on #1878
@skydever
Thank you, I didn't check your last message. It worked like magic.

[2019-10-21 18:03] AdamVig commented on #1077
@vsavkin The workaround you shared above does not work with the `--parallel` flag, for example `nx affected:build --parallel`.

It seems like it would be relatively straightforward (and relevant to the core offering of Nx) to make `nx affected:* --parallel` aware of the dependency graph, not building a project until all of that project's dependencies are built.

It would be nice to have a command

[2019-10-21 18:41] prudhvidandamudi commented on #1609
I am facing the same issue, I have manually entered my support file path which is like this
    `"supportFile": "cypress/support/index.ts"  `
When I am running my cypress tests using test runner (**ng e2e --watch**) the tests are running fine.
 but when I am trying to run my tests using command line (**ng e2e**) it's opening the browser for 4 minutes and not running any tests. I am just seeing the

[2019-10-21 19:35] jaysoo commented on #1921
The minor version changes are not supposed to introduce breaking changes. The web builder regressions should not have happened, so again sorry for that.

We want to be at the point where custom webpack isn't needed for the majority of projects -- which was the reason for the babel-loader change. The fact that it is needed as a regression workaround points to possible bug(s) that we need to fix.

I

[2019-10-21 19:38] bcabanes commented on #1609
Hi @prudhvidandamudi
We are looking currently at this issue.

[2019-10-22 01:46] #1864 closed

[2019-10-22 10:22] naishe opened #1978 "Unable to configure Storybook"
New user to nx, I am trying to setup a new monorepo that requires Storybook to be supported. I am able to get Storybook up and running but I am finding a couple of issues which are blocking me. I'd appreciate if there was a guide on how to set Storybook with Nx 8.

## How to reproduce

1. Setup a new nx project for React app.
2. Install Storybook
[code]
3. Observe the stories files at the first `i

[2019-10-22 11:53] sroettering opened #1979 "jest-preset-angular v8 has breaking changes"
_[Please make sure you have read the submission guidelines before posting an issue](https://github.com/nrwl/nx/blob/master/CONTRIBUTING.md#-submitting-issue)_

# Prerequisites

Please answer the following questions for yourself before submitting an issue.
**YOU MAY DELETE THE PREREQUISITES SECTION.**

- [x] I am running the latest version
- [x] I checked the documentation and found no answer
- [x]

[2019-10-22 14:11] #1970 closed

[2019-10-22 15:05] prudhvidandamudi commented on #1609
Hi @bcabanes
Thanks for replying. Is there any specific timeline for this issue to be fixed.
Our team is blocked here, as our tests are failing when we are running through CI, as we are using the command line to trigger our tests.

[2019-10-22 18:38] DmitryEfimenko commented on #1100
I'd love this feature out of the box, but a lot of things to consider here. First of all, I don't think Storybook supports a use-case of a monorepo at this time. It's only capable of being integrated with one type of a project - Angular, React, etc. As far as I know there is no way to provide a single configuration file to support multiple types of projects at the same time.

However, is there eve

[2019-10-22 19:17] lithqube commented on #176
Any update on this one? I'm also really struggling with a good config with a couple of angular and a react  projects 😓

[2019-10-23 02:05] JoshMentzer commented on #1841
@JVHeerden - check out 8.7, I did a PR on this for similar reason as you mention here, imagine it'll meet your use case as well.

[2019-10-23 03:04] puku0x commented on #1978
@naishe
I could manage Nx + React + Storybook in this way.

[code]

<img src="https://user-images.githubusercontent.com/2607019/67352778-e0a9e280-f58b-11e9-83d8-4e954c974a29.png" width="480" />

[code]

[code]

[code]

[code]

[2019-10-23 07:16] cvramirez commented on #1849
Yes @FrozenPandaz, @xtiancapil is right.  Although for other projects, here is a bit more info; brief explanations of basically the same issue with inside / outside container host / port binding:

SO: [docker-empty-response-from-server](https://stackoverflow.com/questions/52524289/docker-empty-response-from-server)
SO: [err-empty-response-from-docker-container](https://stackoverflow.com/questions/

[2019-10-23 07:48] naishe commented on #1978
Thanks, let me try to give it a go.

[2019-10-23 08:42] skorunka commented on #1979
Hi, I have the same problem after upgrading to latest `jest-preset-angular`(8.0.0). It seems the files are now in `/build/ folder of `jest-preset-angular` plugin.
Try this in your `apps/.../jest.config.js` file:
[code]
Now the tests are found and being executed, but unfortunately I got some other error:
[code]

[2019-10-23 09:26] skorunka commented on #1979
`node_modules\@nrwl\jest\src\builders\jest\jest.impl.js`
If you update `astTransformers` from:
`['jest-preset-angular/InlineHtmlStripStylesTransformer']`
TO
`['jest-preset-angular/build/InlineFilesTransformer', 'jest-preset-angular/build/StripStylesTransformer']`
The `File not found` error is gone, but there is a new problem:

`Uncaught (in promise): Failed to load app.component.html` plus few mor

[2019-10-23 09:28] skorunka commented on #1979
https://github.com/thymikee/jest-preset-angular/blob/master/CHANGELOG.md#migration-guide

[2019-10-23 12:28] naishe commented on #1978
@puku0x -- your script did the job. Thanks a lot 🙇‍♂️

I realized you require to do relative import. So, this won't work

[code]

But this does:

[code]

[2019-10-23 12:28] #1978 closed

[2019-10-23 12:58] remkoboschker opened #1982 "Why is cypress builder copyFiles option deprecated?"
Why is the cypress builder copyfiles option deprecated? And what would be an alternative for copying for instance .feature files to the output directory?

[2019-10-23 17:51] bennymeg opened #1983 "workspace schematic path bug on windows"
- [x] I am running the latest version
- [x] I checked the documentation and found no answer
- [x] I checked to make sure that this issue has not already been filed
- [x] I'm reporting the issue to the correct repository (not related to Angular, AngularCLI or any dependency)

## Expected Behavior

workspace schematic should work on windows

## Current Behavior

When creating a new workspace schemat

[2019-10-23 19:24] vsavkin commented on #1983
What command are you running in the terminal?

[2019-10-23 19:27] vsavkin commented on #1982
We switched to using webpack for bundling cypress specs. So all static assets imported into a spec will be resolved and bundled in by webpack.

[2019-10-23 19:30] vsavkin commented on #1979
Thank you folks!

Are you interested in submitting a PR updating Nx to work with the new version of `jest-preset-angular`? We are happy to help.

[2019-10-23 19:41] remkoboschker commented on #1982
So how do I bundle the feature files for running them through the cypress-cucumber-preprocessor?

[2019-10-23 20:25] vsavkin commented on #1849
Based on the code it looks like the only thing it can affect is live reloading.

Folks, are you interesting in seeing if it affects live reloading? If yes, we can leave the check as is and maybe another flag. If not, we can just remove it.

[2019-10-23 20:26] vsavkin commented on #1841
Yup. @JoshMentzer fixed it here: https://github.com/nrwl/nx/commit/f6ad171450a7f3fcf7d4f5f061ee62597b6a1d3c

I cut 8.7.0 yesterday, which has the commit.

[2019-10-23 20:26] #1841 closed

[2019-10-23 20:26] vsavkin commented on #176
@mbriggs is working on it

[2019-10-23 21:19] vsavkin commented on #1100
Initial story book supported has been merged: https://github.com/nrwl/nx/commit/c60857a6df1301d79749b65748339f448de1e57e

The PR adds schematic for angular, but all the foundations are generic. We are adding support for React and Web right now. It should land in the next week or so.

I'm going to close this issue. If you have any concerns with the merged implementation, please open another issue.

[2019-10-23 21:19] #1100 closed

[2019-10-23 22:04] vsavkin commented on #1921
Defining what constitutes a breaking change isn't easy for integrated tools like Nx.

There are two extremes:

* For a runtime library, you have a well-defined interface and then you can make assertions against. This, of course, doesn't guarantee that a code change won't break anyone. Any code change can break someone somewhere, even if it is a small bug fix. After all, someone could reply on the

[2019-10-23 22:10] vsavkin commented on #1845
The bazel support was very experimental and ended up not being practical.

We are trying to add it in a different way (we are a lot more optimistic this time). Read more here:
https://blog.nrwl.io/nx-%EF%B8%8F-bazel-release-plans-eaed5bbaa3ba

[2019-10-23 22:10] #1845 closed

[2019-10-23 23:03] vsavkin commented on #1937
@fen89 this is a good catch. I'll fix it.

[2019-10-23 23:21] vsavkin commented on #1937
Pushed the updated docs to master.

[2019-10-23 23:22] vsavkin commented on #1800
That's great! I'm going to mention it on our readme and then will close the issue.

[2019-10-23 23:23] RicardoAlvarado23 opened #1985 "What is the correct way to do routing between different applications in the same workspace?"
# Prerequisites

Please answer the following questions for yourself before submitting an issue.
**YOU MAY DELETE THE PREREQUISITES SECTION.**

- [x] I am running the latest version
- [x] I checked the documentation and found no answer
- [x] I checked to make sure that this issue has not already been filed
- [x] I'm reporting the issue to the correct repository (not related to Angular, AngularCLI o

[2019-10-23 23:30] vsavkin commented on #1975
That's awesome. We aren't working on the electron support. So it would be great if you did it.

We are trying to contain the growth of the nrwl/nx repo for a few reasons: it's hard for us to guarantee the ease of upgrade if the number of packages keeps growing, and it makes the repo harder to manage. That's why we are encourage folks create Nx plugins in separate repos. We will still help you put

[2019-10-23 23:31] vsavkin commented on #1541
@Jordan-Hall let me know if you need any help with this. We are happy to help.

[2019-10-23 23:39] vsavkin commented on #1930
@mbriggs Matt is putting together an example.

[2019-10-23 23:47] JoshMentzer commented on #1979
I'll take a pass at it

[2019-10-23 23:49] vsavkin commented on #1941
Looking into the PR. Hope to merge it soon.

[2019-10-24 08:32] dherges opened #1987 "schematic @nrwl/angular:application: newProjectRoot is non-blank in angular.json, results in ng g app failure"
# Prerequisites

Please answer the following questions for yourself before submitting an issue.
**YOU MAY DELETE THE PREREQUISITES SECTION.**

- [x] I am running the latest version
- [x] I checked the documentation and found no answer
- [x] I checked to make sure that this issue has not already been filed
- [x] I'm reporting the issue to the correct repository (not related to Angular, AngularCLI o

[2019-10-24 10:51] minijus opened #1988 "Affected --all fails with merge-base check after update from 8.6.0 to 8.7.0"
_[Please make sure you have read the submission guidelines before posting an issue](https://github.com/nrwl/nx/blob/master/CONTRIBUTING.md#-submitting-issue)_

# Prerequisites

Please answer the following questions for yourself before submitting an issue.
**YOU MAY DELETE THE PREREQUISITES SECTION.**

- [x] I am running the latest version
- [x] I checked the documentation and found no answer
- [x]

[2019-10-24 11:24] kazamov opened #1989 "Cannot build React Apps after migrations from Nx 8.4.13 to 8.7.0"
_[Please make sure you have read the submission guidelines before posting an issue](https://github.com/nrwl/nx/blob/master/CONTRIBUTING.md#-submitting-issue)_

# Prerequisites

- [+ ] I am running the latest version
- [+ ] I checked the documentation and found no answer
- [+ ] I checked to make sure that this issue has not already been filed
- [ ] I'm reporting the issue to the correct repository

[2019-10-24 15:21] CRACKISH opened #1990 "affected error (Maximum call stack size exceeded)"
After update to 8.7.0 i have error. On 8.6.0 all right.

##  Expected Behavior

Show correct affected projects

## Current Behavior

I have error, and nothing else.

## Failure Information (for bugs)

RangeError: Maximum call stack size exceeded

### Steps to Reproduce

run nx affected:apps or nx affected:libs

### Context

Nx 8.7.0

### Failure Logs

C:\Projects\Angular\terrasoft>nx affected:apps

[2019-10-24 18:16] kartik468 commented on #1985
I think you should not use the module from another application. If you want to use then make it a library.
Still you want to navigate to another application, use anchor tag and navigate to and from another app. (you will lose your state but it will work as an independent app as expected)

[2019-10-24 21:41] remkoboschker commented on #1982
After updating to the latest workspace I noticed the new index.js in de cypres plugins dir. I modified the code to include to cypress-cucumber-preprocessor loader in the webpack config following the config found here https://github.com/TheBrainFamily/cypress-cucumber-webpack-typescript-example/blob/master/cypress/webpack.config.js and I'm off to the races.
[code]

[2019-10-24 21:41] #1982 closed

[2019-10-25 03:39] megagru commented on #1511
@vsavkin With Bazel, would it be possible to integrate Frameworks, that are not based on Javascript/Typescript, e.g. Java Spring?

[2019-10-25 03:46] yassern opened #1992 "[feature] nest hot reload"
## Expected Behavior

Out-of-box webpack hot reload on created nest apps.

## Current Behavior

Needed to add webpack manually following the tutorial: https://docs.nestjs.com/techniques/hot-reload.

[2019-10-25 04:04] abdoolly commented on #1230
Hello guys I think I have made just the package that you needed
This is a builder that uses ts-node , nodemon , and tsc to give you two type of builders for dev and production checkout it out here
https://www.npmjs.com/package/ts-node-builder/v/1.0.2

Thanks and hope it helps :D

[2019-10-25 09:24] remkoboschker opened #1993 "jest config globals ts-jest set in preset"
I would like to set the ts-jest options and two PR's have worked on this. It works if I put the config in the project root. But I cannot put it in the jest config in the root of the workspace that is imported in the preset property of the jest config in the project root.

[2019-10-25 11:10] kroeder opened #1994 "nx affected:lint calls wrong git diff command"
# Prerequisites

Please answer the following questions for yourself before submitting an issue.
**YOU MAY DELETE THE PREREQUISITES SECTION.**

- [x] I am running the latest version
- [x] I checked the documentation and found no answer
- [x] I checked to make sure that this issue has not already been filed
- [x] I'm reporting the issue to the correct repository (not related to Angular, AngularCLI o

[2019-10-25 17:56] da-mkay opened #1996 "Missing emitDecoratorMetadata=true for NestJS projects when using Angular workspace"
## Expected Behavior

When adding a new NestJS application to an Angular workspace using the application schematic from the @nrwl/nest package, the application should work out of the box.

## Current Behavior

The created app does not work properly. First, it looks like everything is working fine. But as soon as typical NestJS decorators are used, unexpected behaviour can happen. For example, when

[2019-10-25 21:45] ronnyek commented on #1979
Nice, I feel like upgrade to jest-angular-preset will help with problems I have. Cant wait until this is there

[2019-10-25 22:46] jorisdesmedt-ls commented on #1895
@asherccohen **Nx** supports custom `next.config.js` files. Just put it in the root of your application as you would do for a normal **Next.js** application.

Also, **Nx** uses typescript by default, so you should not have to deal with it, and it also adds `SASS` support by default. Check https://github.com/nrwl/nx/blob/master/packages/next/src/utils/config.ts, here you can see they already added

[2019-10-26 10:13] iangregsondev opened #1997 "ng test, passed on macOS (it should not) but fails on CI and also fails if i run npx jest"
- [x] I am running the latest version
- [x] I checked the documentation and found no answer
- [x] I checked to make sure that this issue has not already been filed
- [x] I'm reporting the issue to the correct repository (not related to Angular, AngularCLI or any dependency)

## Expected Behavior

When running jest via the command line - i get a failure, its because an internal class is throwing pr

[2019-10-26 10:21] iangregsondev commented on #1997
my library calls process.exit becasue i have some missing env variables.. which is correct, i forgot to mock them BUT the problem isn't highlighted in ng test

Is it because of

  passWithNoTests: true

[2019-10-26 20:40] fknop commented on #1393
What's the current status for a ts-node builder in Nx? What could be done to help?

[2019-10-26 21:01] asherccohen commented on #1895
Thanks @jorisdesmedt-is for the info. I have tried that but .js files cannot be added to an nx+next application. I get the above error about isolatedmodules. Also trying to change the tsconfig file reverts back automatically.

It looks like allowing js or excluding a file in tsconfig is ignored by the project.

[2019-10-27 09:17] MrCroft commented on #208
@SachinShekhar Following your example, I've just tried to do the same thing (but with Ngxs instead of Firebase). From my app.module I'm passing `{ production: true }` so the logger plugin (initialized in store.module.ts) should be initialized with `disabled: true`.
Made this stackblitz: https://stackblitz.com/edit/ngxs-app-initializer?file=src%2Fapp%2Fstore%2Fstore.module.ts
And it seems that Ngxs

[2019-10-27 12:18] bennymeg commented on #1983
I am using Nrwl Angular Console to execute the schematic.

I believe that the command it's executing is:
`C:\Program Files\nodejs\npm.cmd run workspace-schematic -- test --dry-run --no-interactive`

[2019-10-27 12:30] bennymeg commented on #1975
That's great,
I will start working on it soon and I will keep you updated when it will be done.
I will try to keep the development style and guideline as close as possible so people that are familiar with nx code could understand it quickly and in case you would like to include it in the future.

do you have a preferred prefix for the package? I am thinking using something similar to Angular's ngx

[2019-10-27 21:21] Wizyma commented on #1521
Hello !
First of all, this is an awsome project so GG !
And i would like to know if there is still work going on on this issue ?
I was thinking maybe digging into it... !
I work a lot with monorepo and rollup / webpack, it is worth a try :)

[2019-10-28 10:03] jdpearce commented on #1393
@fknop (and anyone else following this thread) - Getting the `ts-node-dev`/`ts-node` builder running is straightforward (ish), what we're currently questioning is whether this is the kind of builder that fits in the Nx core libraries.

It's something that could only ever be used in a development capacity. The fact that it "fixes" this particular issue may be more down to how Nest itself works.

Th

[2019-10-28 10:08] jdpearce commented on #1059
The PR I raised with Jest has been merged! Hopefully this will solve any problems people are having with the preset globals being clobbered.

@EvtK - I'm not sure when Jest will release the change, but please update and try it out when they do!

https://github.com/jdpearce/nx/commit/d9b371af286b273df72772557f5ccd02e6d5cfcc

[2019-10-28 11:54] NakedFool opened #2001 "Is there option to rename generated app and all files that depend on it?"
- [y] I am running the latest version
- [y] I checked the documentation and found no answer
- [y ] I checked to make sure that this issue has not already been filed
- [y] I'm reporting the issue to the correct repository (not related to Angular, AngularCLI or any dependency)

## Expected Behavior

I would like to know that is there option in nx workspace that previously generated app can be rename

[2019-10-28 14:47] jdpearce commented on #1993
Hi @remkoboschker, I've just had a PR merged into Jest which addresses this. I'm not sure what their release cycle is, but I expect it to be fixed in the next release! 🤞

cf. https://github.com/facebook/jest/pull/9027

[2019-10-28 15:30] tcoz commented on #651
Interested in how to fix this in an existing workspace as well. I installed @nrwl/schematics and it does not install the tslint file in the indicated path. I'm going to look into explicitly installing @nrwl/angular schematics or some such.

[2019-10-28 19:08] remkoboschker commented on #1993
@jdpearce thanks. Will test.

[2019-10-28 19:08] #1993 closed

[2019-10-28 23:22] dalu commented on #333
* remove nx and enjoy a life without a headache

[2019-10-29 08:23] GregorSondermeier opened #2005 "dep-graph always generates JSON, no HTML or SVG, when run with file argument"
## Expected Behavior

When specifying an output file for the dependency graph generation I expect the dep-graph to be generated in the format that is indicated by the output file's extension.

## Current Behavior

Always a JSON representation of the dep-graph is produced, regardles of the output file extension.

## Failure Information (for bugs)

It worked like expected at least until v8.1.0. Sinc

[2019-10-29 13:05] tcoz commented on #832
Note that I had the same problem, and had to remove the entry from my tslint.json file (the root one in an nrwl/angular workspace). The indicated directory simply is not where it is supposed to be. There is a schematics directory, but no tslint file in it. I've installed the latest and greatest (as of today) nrwl/workspace and nrwl/angular packages.

[2019-10-29 14:50] brain4711 commented on #158
For me the solution mentioned here helped:
[https://github.com/nrwl/nx/issues/533#issuecomment-516039356](url)

[2019-10-29 19:10] the-ult opened #2006 "npm upgrade does not upgrade @nrwl/eslint-plugin-nx"
## Expected Behavior

Running `npm run update` should update @nrwl/* to 8.7.0

## Current Behavior
`"@nrwl/eslint-plugin-nx": "8.6.0",`
is not automatically updated and blocks the upgrade process:
[code]

### Context

[code]

[code]

[2019-10-29 21:13] adyngom opened #2007 "Having trouble running a default install"
Fresh Install:
[code]
Commands ran:

[code]

and

[code]

[2019-10-29 21:16] adyngom commented on #2007
Seems to be a yarn cache issue after all - Not so obvious when following steps from the book. This seems to fix it:

[code]
 Thanks Doug Richardson: https://stackoverflow.com/a/58172689

[2019-10-29 21:17] #2007 closed

[2019-10-29 22:04] joshamos opened #2008 "Slack link in readme has expired"
## Expected Behavior

Clicking the Slack button allows me to join Slack.

## Current Behavior

Says the link is expired.

## Failure Information (for bugs)

![image](https://user-images.githubusercontent.com/131831/67812792-1d2d8f00-faf4-11e9-9d61-120cf93afe5f.png)

### Steps to Reproduce

Click this in the readme:

![image](https://user-images.githubusercontent.com/131831/67812814-2a4a7e00-faf4-1

[2019-10-30 03:04] ExploreHW commented on #913
@Githamza Try below
```prettier --write \"src/app/**/*.component.html\" --parser angular```

[2019-10-30 08:45] dotdevru commented on #803
+1

[2019-10-30 12:18] mhamel06 commented on #1906
It's pretty verbose, but would something like this work for now?
[code]

[2019-10-30 15:02] sroettering opened #2009 "E2e test performance"
_[Please make sure you have read the submission guidelines before posting an issue](https://github.com/nrwl/nx/blob/master/CONTRIBUTING.md#-submitting-issue)_

# Prerequisites

Please answer the following questions for yourself before submitting an issue.
**YOU MAY DELETE THE PREREQUISITES SECTION.**

- [x] I am running the latest version
- [x] I checked the documentation and found no answer
- [x]

[2019-10-30 15:09] marcus-sa commented on #1990
Yep, happens to me as well :+1:

[2019-10-30 21:33] jdherder commented on #970
This is also something I'm interested in as well.

[2019-10-31 07:38] AkshayCloudAnalogy opened #2011 "nestjs and nextjs proxy configuration not working"
## Expected Behavior

Communication between nextjs and nestjs app should work.

## Current Behavior

Currently it is throwing error when i try to call nestjs api from nextjs index page.

## Failure Information (for bugs)

Error is:
GET http://localhost:4200/api 404 (Not Found)

### Steps to Reproduce

Please provide detailed steps for reproducing the issue.

1. Create a empty project with `nx crea

[2019-10-31 09:23] Alivejke commented on #1933
Based on this comment https://github.com/nrwl/nx/issues/1895#issuecomment-546536673 I've found out that simply adding tsconfig-paths-webpack-plugin to your custom next.config.js makes things work. But there is another problem with this approach and that is if you build a production build it will not use your custom configuration, it will use its default config from utils provided by nx and this bu

[2019-10-31 09:51] the-ult opened #2012 "Dependency hoisting issues with @angular-devkit/build-angular 0.803.14"
## Expected Behavior
NX is using the `@angular-devkit/build-angular` provided by Angular instead of multiple versions

## Current Behavior
After upgrading to `NX 8.7.0` running a project does not work anymore (building works without problems)
- `npm run start simple-app` fails. (as does `ng serve simple-app`)

### Detailed information
I started the issue in Angular CLI, but it seems the root cause

[2019-10-31 13:10] krawetko commented on #1988
We experience the same issue after udpating "@nrwl/workspace" to 8.4.13+. 8.4.12 is the last version when it works.

[2019-10-31 15:39] Edouardbozon opened #2013 "Error when trying to generate new lib using `nx` command"
## Current Behavior

Hi folks, :hand:

I'm facing a cryptic error when trying to generate new lib in a Nx repository. I'm running the command `yarn nx generate lib my-lib` which unexpectedly fails and gives the following output:

[code]

I tried to directly use the `ng` command like `yarn ng generate lib my-lib` and it works well. That's why I'm opening the issue here.

## Expected Behavior

I wou

[2019-10-31 15:44] markerikson opened #2014 "Update Redux Starter Kit to 1.0"
I see that Nx has already [updated Redux Starter Kit to v0.8.0](https://github.com/nrwl/nx/blob/3a191dd30c6bd9971b1dd35cb1cccf3e432c8f17/packages/react/src/utils/versions.ts#L19), including [dealing with the breaking change in the migration](https://github.com/nrwl/nx/blob/c63e93ea6cd2248b00418a3ad9b2041129d703be/packages/react/src/migrations/update-8-7-0/update-8-7-0.ts).

We just released [Redux

[2019-10-31 19:58] #1952 closed

[2019-11-01 00:58] lrosa007 commented on #1393
[code]

Only problem with this is that you have to run `yarn build` before `yarn migration:run`.

[2019-11-01 03:21] Greg5ki commented on #1983
Getting the same behaviour.
`Executing task: c:\Code - Apps\berrystreetapps\node_modules\.bin\ng.cmd build referrals --sourceMap=false --statsJson <

c:\Code\ : The term 'c:\Code\' is not recognized as the name of a cmdlet, function, script file, or operable program. Check the spelling of the name, or if a path was included, verify that the path is
correct and try again.
At line:1 char:4
+ & {c:\C

[2019-11-01 11:43] deimosOmegaChan commented on #803
I did today some tests to find out how to solve this problem.
At my solution I combined with the build command and nodemon to run the main.js file.
I published it to the repo [deimosOmegaChan/nrwl-nest-typeorm-example](https://github.com/deimosOmegaChan/nrwl-nest-typeorm-example)

[2019-11-01 13:15] tarangsachdev92 opened #2018 "hostReportError.js,You provided an invalid object where a stream was expected. You can provide an Observable, Promise, Array, or Iterable."
## Expected Behavior
Unit test should run without any error
I am following this tutorial
https://nx.dev/react/tutorial/02-add-e2e-test
and it on run of `nx e2e todos-e2e --watch` should open up the browser with button run all specs
## Current Behavior
 `nx e2e todos-e2e --watch` gave me error

` /my-work-space/node_modules/rxjs/internal/util/hostReportError.js:4`
`TypeError: You provided an invali

[2019-11-01 14:23] FrozenPandaz commented on #2014
Congratulations on the 1.0!

Thank you so much for letting us know. We will be sure to update soon!

[2019-11-01 14:44] bcabanes commented on #32
The `ng add` command already preserve the history. We could add another command that will be an import process. E.g: `nx import apps`.

[2019-11-01 14:51] bcabanes commented on #702
This is already fixed in the master branch, please try with the latest version of Nx. If the problem persists, please open a new issue.

[2019-11-01 14:51] #702 closed

[2019-11-01 15:00] bcabanes opened #2019 "feat(lint): add import rule to prevent circular dependencies"
## Current Behavior

Importing from within a given library (.e.g. `@proj/lib-a`) should use relative paths (.e.g. `./module`) instead of the paths in path-mappings (e.g. `@proj/lib-a`). Currently, there is no way to restrict this via linting.

## Expected Behavior

Importing from `@proj/lib-a` from within `@proj/lib-a` should result in a linting error.

We can use the following rules for each libr

[2019-11-01 15:00] brandonroberts commented on #877
This issue has already been raised in the [NgRx repo](https://github.com/ngrx/platform) and is not applicable to Nx.

[2019-11-01 15:00] #877 closed

[2019-11-01 15:01] bcabanes commented on #741
Thank you for the feedback, we have created a new issue #2019 which capture the import linting.

[2019-11-01 15:01] #741 closed

[2019-11-01 15:06] FrozenPandaz commented on #688
Hi, I do not think this is the best forum to discuss this.

Please ask your question on the [Gitter](https://gitter.im/nrwl-nx/community?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge))

[2019-11-01 15:06] #688 closed

[2019-11-01 15:07] FrozenPandaz commented on #788
We've written a book on this topic:

https://connect.nrwl.io/app/books/enterprise-angular-monorepo-patterns

[2019-11-01 15:07] #788 closed

[2019-11-01 15:11] FrozenPandaz commented on #2011
The next app does not support proxies yet but it's generated.

@vsavkin Can proxy support be added to Next apps?

[2019-11-01 15:13] FrozenPandaz commented on #2009
The compilation has changed a bit for our cypress support. However, type checking was always enabled.

@bcabanes Can you please look into this issue?

[2019-11-01 15:19] bcabanes commented on #2009
Hi @sroettering!
Do you use the `supportFile` entry in the Cypress json configuration file?

@FrozenPandaz We did not merge this PR removing the type checking with _tslint_ [here](https://github.com/nrwl/nx/pull/1920). This PR is fixing the issue that a lot of type when a `supportFile` is used for Cypress.

[2019-11-01 15:20] FrozenPandaz commented on #2008
@Doginal

Can you please update the link in the Nx repo with an invite link that does not expire?

[2019-11-01 15:23] FrozenPandaz commented on #2006
@jaysoo Can you please look into why `@nrwl/eslint-plugin-nx` was not updated?

[2019-11-01 15:24] FrozenPandaz commented on #2005
@vsavkin Can you please look into adding support for generating `html` and `svg` options for the new `dep-graph`?

[2019-11-01 15:26] FrozenPandaz commented on #2001
There is not but I could see this being useful. Would someone from the community be interested in tackling this?

I think the user would do:

[code]

[2019-11-01 15:28] FrozenPandaz commented on #1994
I believe the option you are looking for is the following:

https://nx.dev/web/api/workspace/npmscripts/affected#files

[code]

Please reopen this issue if that does not work for you.

[2019-11-01 15:28] #1994 closed

[2019-11-01 15:30] FrozenPandaz commented on #1990
Could someone please provide a repo with the issue to aid our investigation into this issue.

[2019-11-01 15:31] FrozenPandaz commented on #1989
Could someone please provide a repo with the issue to aid our investigation into this issue.

[2019-11-01 18:06] fknop commented on #977
I'm having the same issue!
I had to manually add `process.env.NODE_ENV = 'test'` in the jest global setup.

[2019-11-01 20:00] bcabanes commented on #2013
Hi @Edouardbozon!
I wasn't able to reproduce the error by doing `yarn nx generate lib my-lib`. Are you using the latest version of Nx? Can you provide a repository containing a minimal project reproducing the error?

Thank you!

[2019-11-01 20:57] FrozenPandaz commented on #1997
I am unable to reproduce the issue even with `passWithNoTests: true`.

![image](https://user-images.githubusercontent.com/8104246/68056087-a7c6e780-fcc8-11e9-8f57-a0fc19ac52d9.png)

Please provide a repo to aid our investigation into this issue.

[2019-11-01 21:07] FrozenPandaz commented on #1996
The `@nrwl/nest:application` schematic can be updated to modify the `tsconfig.json` using the `updateJsonInTree` method:

https://github.com/nrwl/nx/blob/44c8d17cdd26a48bb862a3db1ca365ee91d3e39a/packages/nest/src/schematics/application/application.ts#L73

[2019-11-01 21:24] zackarychapple opened #2020 "project creation with number causes error"
_[Please make sure you have read the submission guidelines before posting an issue](https://github.com/nrwl/nx/blob/master/CONTRIBUTING.md#-submitting-issue)_

# Prerequisites

Please answer the following questions for yourself before submitting an issue.
**YOU MAY DELETE THE PREREQUISITES SECTION.**

- [x] I am running the latest version
- [x] I checked the documentation and found no answer
- [x]

[2019-11-01 21:25] FrozenPandaz commented on #1987
The root of the issue is this line: https://github.com/nrwl/nx/blob/44c8d17cdd26a48bb862a3db1ca365ee91d3e39a/packages/angular/src/schematics/application/application.ts#L661

This should probably be changed to:
[code]

However doing so, creates other errors. If someone from the community would be interested in taking a look, we'd be happy to accept PRs to fix this issue!

[2019-11-01 21:31] FrozenPandaz commented on #2020
Hi @zackarychapple,

Workspace names cannot start with a `number` among other restrictions:
https://github.com/angular/angular-cli/blob/29b1533fa9a4d84f0b16592ddce276785c60ebd5/packages/angular_devkit/schematics/src/formats/html-selector_spec.ts#L35

Perhaps `my-project-2020` would be a better project name?

Closing this issue as it is intended behavior.

[2019-11-01 21:31] #2020 closed

[2019-11-02 02:43] Greg5ki commented on #1983
Removed spaces from path and it works fine.

[2019-11-02 13:39] zackarychapple commented on #2020
Thank you for the explanation @FrozenPandaz. Would mind if I switch this to an enhancement request to ask that the CLI give an error message when someone tries to use a number rather than continuing to try the build then bombing out with an error?

[2019-11-02 16:17] jorgeluis1706 commented on #1462
I got this error when there was a comma ',' at the end of the array list of 'exclude' of the tsconfig.json that is in the root files of the project

i fixed when remove the last comma.

[2019-11-03 18:20] alfaproject commented on #1990
I have the same issue and I believe it might have something to do with cyclic dependencies but I'm not 100% sure. ):

I can't provide a repro, not yet at least, but I wonder if sharing my dep graph would help?
[dep-graph.json.zip](https://github.com/nrwl/nx/files/3801940/dep-graph.json.zip)

[2019-11-03 20:11] jdpearce opened #2021 "Nx errors when run in a workspace generated by the Angular CLI"
## Expected Behavior

Some kind of output which indicates that Nx is aware it can't be used in the current workspace. Possibly even a message which tells the user how to upgrade the current workspace to an Nx workspace?

At the very least, _not_ an error.

## Current Behavior

[code]

### Steps to Reproduce

Run `nx` in a workspace generated by the Angular CLI.

e.g.

`ng generate new-workspace --

[2019-11-03 21:46] #1468 closed

[2019-11-03 21:56] #1988 closed

[2019-11-04 06:59] sroettering commented on #2009
@bcabanes Yes I am using the supportFile option. I have several custom commands to make testing of certain scenarios easier and more readable.
So right now cypress is pretty much unusable for me as I can't wait an hour for a build pipeline  to pass :/

[2019-11-04 07:31] HomoEfficio commented on #1241
Try execute `ng build LIB_NAME` in the **workspace directory, not in the `projects` directory**.

[2019-11-04 07:37] JWO719 commented on #1837
Sorry for the late feedback. The issue above was caused by the missing test target.

[2019-11-04 07:37] #1837 closed

[2019-11-04 08:55] jdpearce opened #2024 "ng add @nrwl/workspace errors when there are missing targets"
## Expected Behavior

No errors.

## Current Behavior

e.g. Missing "test" target :

[code]

### Steps to Reproduce

- Create a new Angular workspace: 'ng new myworkspace`
- Delete the "test" target from `angular.json`
- `ng add @nrwl/workspace`

See also #1837

[2019-11-04 10:12] Jordan-Hall commented on #1541
Now Storybook been merged in my focus is on the vue integration.  Sorry for the delay

[2019-11-04 13:46] kazamov commented on #1989
Hi. I have found how to reproduce from scratch.

1. Create a new workspace with Nx 7.7.2: "npx create-nx-workspace@7.7.2 react-nx-bug" with React app.
2. Run update command. First it will update to Nx 8.0.0. Run update command again, and workspace will be updated to latest Nx 8.7.0.
3. Try to build your React app.

You will see an error:
ERROR in ./main.tsx 4:16
Module parse failed: Unexpected tok

[2019-11-04 14:10] kroeder commented on #1994
I believe my description was misleading. I don't want to run this manually (using --files)

My original issue is
[code]
Error: Command failed: git diff --name-only --relative C:/plattform/solution-manager/package.json undefined
fatal: undefined: no such path in the working tree.
[code]
nx affected:lint "C:/plattform/solution-manager/package.json"
[code]

[2019-11-05 01:20] xamantra commented on #1175
this works for me too, thank you @Tomerl101

[2019-11-05 02:25] DmitryEfimenko opened #2025 "publish latest @nrwl/builders to NPM registry"
## Expected Behavior

NPM registry should have latest version of @nrwl/builders available.

## Current Behavior

* NPM registry shows version 7.8.7 as latest.
* NPM registry versions tab shows that version 8.0.2 is also available

## Failure Information (for bugs)

I'm assuming that 8.0.2 is not the latest version because I've tried using it, but it throws an error:

Looking deeper at it, the `src

[2019-11-05 07:20] michelcve opened #2026 "Best way of updating NX in repo with multiple active branches"
What is the best way to update NX in a repo with multiple active branches?

Should nx update be run on each active branch, or should a seperate branch be created and merged for that (but how about config changes for individual libraries? wouldn't be nice to have to do those manually?).

[2019-11-05 12:37] navyaagarwal23 opened #2027 "How can I add publicPath to assets (both js and html) while bundling?"
_[Please make sure you have read the submission guidelines before posting an issue](https://github.com/nrwl/nx/blob/master/CONTRIBUTING.md#-submitting-issue)_

# Prerequisites

Please answer the following questions for yourself before submitting an issue.
**YOU MAY DELETE THE PREREQUISITES SECTION.**

- [x] I am running the latest version
- [x] I checked the documentation and found no answer
- [x]

[2019-11-06 08:53] pawelkondraciuk commented on #1990
Happened to me aswell

[2019-11-06 09:03] trumbitta commented on #1990
For me it was a circular dependency.

I just run `npm run lint`, found out what the circular dependency was, fixed it, and everything is fine again 🎉

[2019-11-06 09:18] marcus-sa commented on #1990
It's supposed to support circular dependencies, otherwise it should be mentioned in the docs.

[2019-11-06 09:35] mehrad-rafigh commented on #2026
Hi @michelcve
This really depends. Do your branches have a merge-base? If so, update nx und that merge-base and rebase your other branches on the merge-base.

[2019-11-06 11:30] michelcve commented on #2026
Hi @mehrad-rafigh (and others tuning in ;-))

I'm not sure what you mean with 'do your branches have a merge-base', but basically our (simplified) situation is like this:

[code]

My concern is that if I update NX on develop, the libraries that were added in e.g. Feature branch 1 or Subitem branch 2, are not 'converted' by NX, which would pose a problem when merging.

The alternative is that I upd

[2019-11-06 11:31] trumbitta commented on #1990
@marcus-sa done: #2028

[2019-11-06 12:00] NakedFool commented on #2001
Yes, that would be cool feature!

Looking forward for more people activating in this! :)

[2019-11-06 12:27] marcus-sa commented on #1990
@trumbitta isn't this a regression? Because the linter used to support circular dependencies.

[2019-11-06 13:27] alfaproject commented on #1990
This is definitely a regression. As I mentioned, we can't update to this version now ):

[2019-11-06 13:32] trumbitta commented on #1990
@marcus-sa yep I think it is, but I think a simple heads up in the docs could qualify as an improvement while they find the time to actually fix the issue

[2019-11-06 14:27] kristianmandrup opened #2029 "nx e2e fails in blank react project"
# Prerequisites

- [ x ] I am running the latest version
- [ x ] I checked the documentation and found no answer
- [ x ] I checked to make sure that this issue has not already been filed
- [ x ] I'm reporting the issue to the correct repository (not related to Angular, AngularCLI or any dependency)

Following [this React with Nx tutorial](https://blog.nrwl.io/powering-up-react-development-with-nx-

[2019-11-06 14:32] kristianmandrup commented on #2029
After looking at the Readme for `nx` I found the solution [here](https://github.com/nrwl/nx#serving-application)

You need to specify the app name, which makes sense

`nx e2e my-app-e2e`

The blog post I followed is a bit outdated...

[2019-11-06 14:32] #2029 closed

[2019-11-06 15:25] Edouardbozon commented on #2013
Hi @bcabanes, I'm using the latest version of Nx. I'm not able to isolate and reproduce this error in a minimal project. However the project where the error occurs is available [here](https://github.com/jscutlery/http-ext). It's a simple Nx repository that only contain one Angular app and one publishable library.

I compared file per file with a fresh new Nx installation but I found nothing suspic

[2019-11-06 23:41] statyan commented on #1356
With latest update it does not work anymore. But there is a right way to put command-line arguments if you have a main branch name different from master and want to use '--all' argument:
`nx affected:build --all -- trunk HEAD`
Notice the space after '--' before the branch name (trunk in my case) That will do the trick.

[2019-11-07 10:27] roger-gl opened #2031 "Jest --watch does not considers test in lib folder"
## Expected Behavior

jest --watch should run the same tests like jest without the watch flag

## Current Behavior

npm run test runs all test, but if I add the watch flag only tests in app folder are run.

[2019-11-07 12:05] merobal opened #2032 "Lint broken with latest version on our CI"
## Expected Behavior

Lint running well

## Current Behavior

Lint breaks

## Failure Information (for bugs)

After upgrading to v8.7.0 from v8.6.0 lint breaks with the following error message on our CI:

[code]

command:
[code]

Runs well locally.
Runs well on CI with v8.6.0.

### Steps to Reproduce

[code]

### Context

- nx v8.7.0
- gitlab CI
- works well with nx v8.6.0

### Failure Logs
[code]

[2019-11-07 13:05] jdpearce commented on #2013
Hi @Edouardbozon - this is down to an incompatibility between your local version of RxJS and the Angular CLI version of RxJS.

Your `package.json` has `~6.5.0` whereas the Angular CLI version you have installed requires `6.4.0`. This bug only manifests when running `nx` because then it will use the version of RxJS in your `package.json` _not_ the internal version that Angular CLI installs.

If you

[2019-11-07 13:16] jakobgn opened #2033 "nx dep-graph, listen EACCES: permission denied error"
- [x ] I am running the latest version
- [x ] I checked the documentation and found no answer
- [x ] I checked to make sure that this issue has not already been filed
- [x ] I'm reporting the issue to the correct repository (not related to Angular, AngularCLI or any dependency)

## Expected Behavior

After creating a clean workspace I should be able to run nx dep-graph without errors

## Current B

[2019-11-07 17:12] turbosaket opened #2034 "In @nrwl/angular schematic flag simpleModuleName is not working properly when directory is provided"
- [x] I am running the latest version
- [x] I checked the documentation and found no answer
- [x] I checked to make sure that this issue has not already been filed
- [x] I'm reporting the issue to the correct repository (not related to Angular, AngularCLI or any dependency)

# Context of the problem

Running `@nrwl/angular` schematic for creating new library

for example :
`ng g @nrwl/angular:lib

[2019-11-07 18:37] Edouardbozon commented on #2013
@jdpearce, you're right it's due to a RxJS version mismatch, thanks! I'm willing to submit a PR to bump RxJS, would you accept that?

[2019-11-07 21:47] Bkucera commented on #870
closing as duplicate of #456

[2019-11-07 21:50] Bkucera commented on #870
Hi everyone, I mentioned this over at the Cypress issue for this feature https://github.com/cypress-io/cypress/issues/456

I have a gross hack that listens to logs by `webpack-dev-server`

## Reloading alongside webpack-dev-server

@jsphstls This is what I use: I listen for webpack-dev-server HMR logs in the console, and trigger a re-run, as described here https://stackoverflow.com/questions/52231

[2019-11-07 22:55] DBjelovuk opened #2037 "[Deleted]"
[deleted]

[2019-11-07 23:27] #2008 closed

[2019-11-07 23:43] #2037 closed

[2019-11-08 06:09] atifsyedali commented on #633
For my CICD pipeline, at the *end of a successful build*, I push a git tag (**) with `${branchName}-last-good-build` on the SHA of the last commit for which I did the build.

Then, when I build again, I look up the SHA of the same tag `${branchName}-last-good-build` and use that.

This avoids any external S3.

Also, once a PR is merged, I go out and delete the corresponding PR's branch's successfu

[2019-11-08 07:00] mac2000 commented on #633
Yep it will definitely work and what is good it will not depend on which CI is used

But still to reduce build time we need to somehow figure out how to reuse ivy caches between build in our case build time is already 20+ minutes

[2019-11-08 08:36] SWGeekPD commented on #1953
@jaysoo  I have created a repo to reproduce this.
https://github.com/SWGeekPD/NrWl-Lib-Issue

Please have a look.

In project I have one application and two library.
"**mylib**" and "**mylib1**"
And created one component in each library.
mylib => mycomponent.component.ts
mylib1 => mycomponent1.component.ts

If I render these library in browser like below as per route configured.
http://localhost:4

[2019-11-08 12:10] vsavkin commented on #2034
See the comment in the PR: https://github.com/nrwl/nx/pull/2035

[2019-11-08 12:10] #2034 closed

[2019-11-08 13:03] jdpearce commented on #2013
@Edouardbozon I haven't explored this beyond your repro repo. Can you replicate this with a clean Nx workspace?

Bumping the RxJS version that Nx depends on wouldn't help as it's the Angular CLI that's pinned to 6.4.0 - we would have to pin ours to the same version.

What we _could_ do is change the way that we call into the Angular CLI though...

[2019-11-08 14:07] alexus85 commented on #622
Here's a script that demonstrates how I generate the summarized report of all libs in my coverage directory.

[code]

[2019-11-08 16:15] tashoecraft commented on #1953
So this is most definitely not an issue with Nx. I'll give some advice on what you need to change, but I ask if you could close this issue and continue on stackoverflow for further help.

Your routes are clashing, you have both modules referencing the same path, these need to be unique. If you want to use a component from one library inside of a component on another library you need to export that

[2019-11-08 17:55] JochenDiekenbrock commented on #1990
I see the same problem as well in a very strange way. Unfortunately, I can't provide a repo to reproduce. Following the hints here, I fixed some real cyclic dependencies in our repo.

Finally, I could run affected:libs --all successfully and I commited my changes. Now, strange things happened:
I merged another branch into mine. After this, the error occurred again. I checked out the commit above,

[2019-11-08 17:57] dianjuar commented on #1800
FYI @vsavkin ngx-deploy-npm is now part of the [Angular's official documentation](https://angular.io/guide/deployment#automatic-deployment-with-the-cli).

You can use it to mention the deployer on the readme

---------

![image](https://user-images.githubusercontent.com/7026066/68499422-2a025f00-0227-11ea-86f0-177031def1ff.png)

[2019-11-08 18:06] FrozenPandaz commented on #1199
I haven't had the chance to make this change. Would somebody from the community like to contribute this?

[2019-11-09 08:53] zynchro opened #2042 "Next.js: Broken styles when using styled-components"
# Prerequisites
- [x] [...prerequisites]
- [x] Scoured StackOverflow

## Expected vs Current Behavior

Simply put;
SASS = styling works beautifully.
styled-components = styling broken on initial page load, but applies on HMR.

## Failure Information

### Steps to Reproduce

1. Install via `npx create-nx-workspace@latest sass --preset=next`
Selecting SASS for styling
![image](https://user-images.gi

[2019-11-10 12:25] getabetterpic commented on #1241
I took a look at this and it appears this was an issue in @nrwl/schematics@7.8.0. The README in question though wasn't coming from Nx, rather it was being generated by the Angular CLI [here](https://github.com/angular/angular-cli/blob/91d457af737cc01a45b35750126232bd730522f5/packages/schematics/angular/library/files/README.md.template#L12).

Not sure exactly where, but this seems to have been fixe

[2019-11-10 15:09] demisx commented on #1581
I was checking out NX today following the [Getting Started Guide](https://nx.dev/angular/getting-started/getting-started) and got this error. This is what I ran:

[code]

This happened because I didn't have typescript installed neither locally, nor globally. After `npm install typescript` the error went away. Maybe the getting started guide should mention this step?

[2019-11-10 15:20] demisx commented on #1107
@vsavkin Can the link above be updated? We are also evaluating Nx and having hard time finding clear guidelines on best practices and naming conventions for workspaces/apps/libs etc. Thank you very much.

[2019-11-10 16:57] sameerinfodb opened #2044 "depicting the sub-modules within library in deps-graph to yield usefull dep-graph of affected modules"
_[Please make sure you have read the submission guidelines before posting an issue](https://github.com/nrwl/nx/blob/master/CONTRIBUTING.md#-submitting-issue)_

# Prerequisites

Please answer the following questions for yourself before submitting an issue.
**YOU MAY DELETE THE PREREQUISITES SECTION.**

- [Y] I am running the latest version
- [Y] I checked the documentation and found no answer
- [ Y

[2019-11-10 17:25] jdpearce commented on #2044
Hi @sameerinfodb - thanks for raising an issue. This isn't how we would recommend you organise your monorepo. Typically `User-mgmt` and `role-mgmt` would be completely separate libraries (e.g. `ng g @nrwl/angular:lib user-mgmt`). This would meant that we could track the dependencies. Tracking the dependencies of modules within each library is beyond the current scope of Nx.

I'd recommend you read

[2019-11-10 17:25] #2044 closed

[2019-11-10 22:49] uRTLy commented on #803
the real problem is nx when using ng serve puts entire nestjs project into single main.js file(look at dist/apps/app_name) and thats why typeorm cant find entities even the glob you've provided is correct.

questions is how o you use ng/nx scripts to build nest during dev and production without bundling it to a single file ?

@deimosOmegaChan even though it may be working thats not correct solutio

[2019-11-11 02:15] demisx commented on #656
I think this is the link for FAQs now: https://github.com/nrwl/nx/wiki/FAQ

[2019-11-11 04:52] hoang-innomizetech commented on #633
Wow, 20 mins for only building release? Right now had 7 services/apps and it takes around 20mins to build and deploy.

@atifsyedali Your idea is a good suggestion, but sometime we will need to write extra information about the last successfully for an example last affected apps or we need to somehow force redeploy an app

[code]

[2019-11-11 08:16] iangregsondev commented on #1997
It only seems to happen in my rather large (company) repo. I can't upload that. I will close it now and if I get any insight to it later then i will share.

[2019-11-11 08:16] #1997 closed

[2019-11-11 08:26] JochenDiekenbrock commented on #1990
I browsed through the nx code over the weekend and I found that the dependencies are cached in dist/nxdeps.json. This might explain the strange behaviour I saw on friday.

And I found out how to reproduce the error in my case. When I fixed the circular dependencies, I introduced a new lib called print-shared. In tsconfig.json, I had two path mappings:
[code]

When I change these mappings (remove t

[2019-11-11 09:57] jdpearce commented on #1107
@demisx (et al) - You can now find the "Enterprise Angular Monorepo Patterns" book on the Nrwl Connect platform - https://connect.nrwl.io/app/books/enterprise-angular-monorepo-patterns

It's free to access and there are other books, courses and a list of "cookbook" recipes you may also find useful.

[2019-11-11 10:19] iangregsondev commented on #1912
Yes, my mistake, it was on another project type.

[2019-11-11 14:24] brandonroberts commented on #2032
@merobal can you reproduce this within a small repo?

[2019-11-11 14:26] brandonroberts commented on #2027
@navyaagarwal23 can you provide a repo that reproduces this issue with the latest version of Nx?

[2019-11-11 14:28] brandonroberts commented on #2026
@michelcve Ideally, you would land the updates to Nx in master, and then merge/rebase the other branches on top of those changes. This is outside the scope of Nx though

[2019-11-11 14:28] #2026 closed

[2019-11-11 14:31] brandonroberts commented on #2025
The last version of `@nrwl/builders` is `7.8.7`. Starting with 8.x of Nx, the packages were renamed. See the migration guide for more info: https://nx.dev/angular/guides/nx7-to-nx8

[2019-11-11 14:31] #2025 closed

[2019-11-11 14:49] brandonroberts commented on #2018
Closing as a duplicate of #2013, see https://github.com/nrwl/nx/issues/2013#issuecomment-551070792 for context. We are looking into solutions for the issue.

[2019-11-11 14:49] #2018 closed

[2019-11-11 15:20] SWGeekPD commented on #1953
@tashoecraft  please find Stack Overflow link.

https://stackoverflow.com/questions/58804104/nrwl-importing-library-into-another-library-module-overrides-the-functionality

[2019-11-11 15:45] martijnwetering commented on #1805
Is there any update on this issue? I am having the same problem.

[2019-11-11 15:56] demisx commented on #381
Is it a best practice to import modules from another workspace or should workspaces be isolated?

[2019-11-11 16:45] demisx commented on #1107
@jdpearce Got it! Thank you very much. Is there a way to download/buy this book in some electronic that can be read on iPad on  a plane, for example? I couldn't find such option.

[2019-11-11 17:37] DmitryEfimenko commented on #2025
I see. Thanks for the reply. Perhaps it'd be beneficial to update the README.md of @nrwl/builders to include this information on the top (and publish it to npm). There are quite a few outdated articles flowing around with incorrect information.

[2019-11-11 18:17] #1844 closed

[2019-11-11 19:00] mlc-mlapis opened #2047 "ValidationError: webpack Dev Server Invalid Options (after update on 8.7.1)"
# Prerequisites

- [x] I am running the latest version
- [x] I checked to make sure that this issue has not already been filed

## Expected Behavior

The same behavior as on version 8.7.0.

## Current Behavior

An unhandled exception occurred: webpack Dev Server Invalid Options
options should NOT have additional properties

## Failure Information (for bugs)

### Steps to Reproduce

1. Standard upd

[2019-11-11 20:01] kylecannon commented on #2032
I am also seeing this, but on a gitlab runner. Do you need someone to create a repro with a gitlab runner?

[2019-11-11 20:13] brandonroberts commented on #2032
Yes, that would help

[2019-11-11 21:08] brandonroberts opened #2049 "React: comment in newly generated app outputs template instead of text"
_[Please make sure you have read the submission guidelines before posting an issue](https://github.com/nrwl/nx/blob/master/CONTRIBUTING.md#-submitting-issue)_

# Prerequisites

Please answer the following questions for yourself before submitting an issue.
**YOU MAY DELETE THE PREREQUISITES SECTION.**

- [ ] I am running the latest version
- [ ] I checked the documentation and found no answer
- [ ]

[2019-11-12 02:49] davidgaulin commented on #1749
@SebasG22 are you moving forward with the nx-stryker plugin as suggested in our your PR?  interesting functionality for sure!

[2019-11-12 04:31] ZachJW34 commented on #2027
This is a known limitation of the angular cli (see [#6666](https://github.com/angular/angular-cli/issues/6666) and [#9347](https://github.com/angular/angular-cli/issues/9347)).
Url's will respect the `base-href` that you can set via the workspace/angular json so you might be able to use that to your benefit.

[2019-11-12 06:47] expcapitaldev commented on #1707
Is the any plan to change something here?
Using `ng e2e test-e2e` or `cypress` cli is better option than only `ng e2e test-e2e`

[2019-11-12 07:45] minijus opened #2050 "Missing details for release 8.7.1"
## Other

There is new version published to npm (8.7.1). However, there is no new tag for that version in github, there is no new release as well and there is no changelog update.

It would be great to have some details and visibility before pulling these changes in.

[2019-11-12 08:54] vincaslt opened #2051 "yarn lint disrespecting prettier config"
## Description

I'm trying to change prettier config for my projects:

[code]

Running `yarn lint` produces errors like: `6:24  error  Missing semicolon  semi`
I have also tried adding [eslint-config-prettier](https://github.com/prettier/eslint-config-prettier) and [eslint-plugin-prettier](https://github.com/prettier/eslint-plugin-prettier) to disable any rules that may be conflicting, but I still

[2019-11-12 09:24] johannesschobel commented on #1393
Dear everyone in this thread,

i managed to solve the `migrations` issue in my nrwl/nx application. This is, what i did:
1) (optional!) install `scripty` (https://github.com/testdouble/scripty), which lets you execute shell-scripts from npm; `npm install --save-dev scripty`. While this step is optional, it makes your life easier

2) add a few `npm scripts` to your `package.json` file to easily tri

[2019-11-12 09:26] johannesschobel commented on #803
Dear everyone in this thread,

i managed to solve the `migrations` issue in my nrwl/nx application. This is, what i did:
1) (optional!) install `scripty` (https://github.com/testdouble/scripty), which lets you execute shell-scripts from npm; `npm install --save-dev scripty`. While this step is optional, it makes your life easier

2) add a few `npm scripts` to your `package.json` file to easily tri

[2019-11-12 10:02] vsamotskiy opened #2052 "Angular. workspace_1.addLintFiles is not a function when try to generate lib"
# Prerequisites

- [x] I am running the latest version
- [x] I checked the documentation and found no answer
- [x] I checked to make sure that this issue has not already been filed
- [x] I'm reporting the issue to the correct repository (not related to Angular, AngularCLI or any dependency)

## Expected Behavior

`ng generate @nrwl/angular:library time-picker` generate a component

## Current Beha

[2019-11-12 12:28] sroettering commented on #625
This issue was opened quite a while ago. Any decisions on this?

[2019-11-12 12:52] brandonroberts commented on #2052
I wasn't able to reproduce this. Will you provide a repo?

[2019-11-12 14:43] vincaslt commented on #2051
Here is the example repo you where you can reproduce the issue: https://github.com/vincaslt/example-eslint-nx-error

This is generated by literally just:
1. `npx create-nx-workspace myworkspace` -> `react`
2. Add `"semi": false` to `.prettierrc`

Issue can be seen by running: `yarn lint`. Code has no semicolons as per prettier's formatting, but linter doesn't care.

[2019-11-12 14:44] SebasG22 commented on #1749
Hey @davidgaulin,
Sure. I'm working hard to move it as a plugin for angular and nx projects.
😄

[2019-11-12 16:07] demisx commented on #259
I think the examples and best practices can be further improved. As a newbie evaluating Nx it's very confusing to comprehend what goes where. All examples are pretty trivial. I wish there were more advanced examples for organizing full stack enterprise code, e.g. multiple backends, multiple libs, etc. The "Hello World" type of examples are just not enough.

[2019-11-12 16:12] karocksjoelee commented on #1511
Hey ~ any plan on adding NativeScript + Angular or React Native ?

[2019-11-12 16:17] Jordan-Hall commented on #1511
Hey @karocksjoelee

NX wouldn't want to put time into native application due to the amazing work with the guys over at nStudio has done with xplat.

Xplat is an added value pack for Nx which provides additional app generators and optional supporting architecture for different platform/framework combinations.

I've personally used Xplat and the way they approach is astounding. https://nstudio.io/xp

[2019-11-12 16:20] karocksjoelee commented on #1511
@Jordan-Hall  Awesome ! I didn't knew about Xplat before  ( Just getting start ) . Thx : )

[2019-11-12 17:05] dhondiramjawade commented on #545
getting Unknown option: '--bazel'  with nx bazel
![Screenshot from 2019-11-12 22-33-50](https://user-images.githubusercontent.com/46644972/68693070-9f11c380-059c-11ea-8959-fd5ae806a89c.png)

[2019-11-12 17:23] atifsyedali commented on #633
@hoang-innomizetech Good point, but each of those things is implied in my private repo that uses Github Actions (your use case may be different if your repo is public):

1. `lastSuccessCommit`: this is the SHA against which I tag the successful build.

2. `lastSuccessChangeLogs`: these are the names of the commits that are part of the PR.

3. `forceRedeployApps`: I have a package.json in each nx-a

[2019-11-12 17:54] paynecodes commented on #1511
Is NX still geared toward Angular devs? Xplat sure seems to be.

[2019-11-12 17:55] Jordan-Hall commented on #1511
@paynecodes  xplat isn't gear towards anything. NX doesn't appear to be geared toward angular anymore. They own CLI coming on very well

[2019-11-12 18:18] paynecodes commented on #1511
@Jordan-Hall Thank you for clearing that up. I see mention of Vue.js there as that is something NativeScript supports. I suppose I'm still trying to orient myself around this piece of tooling. It seems to me that it's still a bit too entrenched in certain stacks and there is no documentation for building new stacks. As an application developer, I just want to be able to choose my own stack, and I'

[2019-11-12 18:23] Jordan-Hall commented on #1511
@paynecodes  NX allows you to choose your own stack.

I would suggest you first generate a blank nx workspace. If you don't want to use angular then choose the option to use nx cli and not angular.json.

Once you have the blank workspace you can choose different set up such as react and nestjs or expressjs or even web component.

However, I believe you are talking about bringing in the framework t

[2019-11-12 23:06] mlc-mlapis commented on #2047
The same problem remains even after complete removing `node_modules` and a new install of everything.

[2019-11-13 00:20] JoA-MoS commented on #176
@mbriggs - can I get a preview :-) is there a special way that you need to configure your Jenkins multi-branch pipeline so that the affected scripts will work? Do you have to do something so that it fetches all branches?

[2019-11-13 01:23] mohyeid commented on #1416
I can repro this with
"@ngrx/effects": "8.5.0",
    "@ngrx/entity": "8.5.0",
    "@ngrx/router-store": "8.5.0",
    "@ngrx/store": "8.5.0",
    "@nrwl/angular": "8.7.1",
    "rxjs": "6.4.0",

[2019-11-13 02:22] puku0x commented on #1931
+1

[2019-11-13 07:44] codephobia commented on #1821
Have also been looking into using Loopback 4 with Nx. Did you have any luck with getting it working @hack2024 ?

[2019-11-13 10:32] FintanK commented on #1937
I am still able to replicate this issue. Removing the old schematic references also doesn't seem to resolve the issue.

![image](https://user-images.githubusercontent.com/2451523/68755734-d31ed000-0600-11ea-9c9b-bc6543c27dee.png)

Angular CLI: 8.3.18
Node: 10.15.0
OS: win32 x64
Angular: 8.2.13
... animations, common, compiler, compiler-cli, core, forms
... language-service, platform-browser, platf

[2019-11-13 14:02] brandonroberts commented on #2047
Can you provide a repo based on 8.7.0 that we can update to reproduce this issue?

[2019-11-13 14:10] mlc-mlapis commented on #2047
@brandonroberts Yep, it's just an elementary repo, with minimal content, used as a starting point for our tries to test some of our scenario cases with Nx. We monitor the status, news, and preparing the using of Nx as our development platform. I'll create a clone of it, try if the problem is the same on it, and then publish the URL, so you can use it.

[2019-11-13 14:27] brandonroberts commented on #2047
@mlc-mlapis Thanks!

[2019-11-13 14:30] jdpearce commented on #1107
@demisx You should be able to download it from here : https://go.nrwl.io/angular-enterprise-monorepo-patterns-new-book

Apologies for the enormous image on that page. 😬

[2019-11-13 14:34] lukasholzer opened #2053 "Dependency graph does not work with npm sub scope"
# Expected Behavior

In our organization, the nx workspace is a part of our company all packages will be published under `@dynatrace/barista-components/*`.

our lib structure is:

[code]

we want to publish the packages under `@dynatrace/barista-components/library1` ...
Furthermore, we want to leverage the nx-dependency graph to build only affected files.

our angular.json should look like:

[code

[2019-11-13 15:06] mlc-mlapis commented on #2047
@brandonroberts Here it is: https://github.com/mlc-mlapis/bvv-workspace

Just go:
* npm i
* ng server demo

[2019-11-13 15:09] lukasholzer commented on #2053
Are you willing to accept PRs on that?

[2019-11-13 15:13] FintanK commented on #1937
For anyone else struggling with my last comment. A temporary workaround is to edit

**node_modules/@nrwl/angular/src/schematics/application/application.js**

and comment out

**host.delete(`${e2eProjectRoot}/src/app.e2e-spec.ts`);
host.delete(`${e2eProjectRoot}/src/app.po.ts`);
host.delete(`${e2eProjectRoot}/protractor.conf.js`);
host.delete(`${e2eProjectRoot}/tsconfig.json`);**

[2019-11-13 15:25] johannesschobel commented on #1393
If you use `VSCode`, you can create a `.vscode/tasks.json` file in your project (top level) and add the following content there:

**./.vscode/tasks.json**
[code]

Now you can simply use the VSCode Task Runner (Press F1, Select "Task: Run" and then select the defined Task). This will show you some nice GUI elements to select / input the proper information. Please note that you need to adapt the ava

[2019-11-13 15:25] johannesschobel commented on #803
If you use `VSCode`, you can create a `.vscode/tasks.json` file in your project (top level) and add the following content there:

**./.vscode/tasks.json**
[code]

Now you can simply use the VSCode Task Runner (Press F1, Select "Task: Run" and then select the defined Task). This will show you some nice GUI elements to select / input the proper information. Please note that you need to adapt the ava

[2019-11-13 15:34] carlsonmacario commented on #681
Quick and Dirty
If you just have one file using require, or you’re doing this for demo purposes you can define require at the top of your TypeScript file.

declare var require: any
TypeScript 2.x
If you are using TypeScript 2.x you no longer need to have Typings or Definitely Typed installed. Simply install the following package.

npm install @types/node --save-dev
The Future of Declaration Files

[2019-11-14 13:00] lukasholzer commented on #1990
deleting the nxdeps.json solved it for me!

[2019-11-14 15:52] ThibaudAV opened #2056 "[Feature Request] Save dependency graph to image file"
## Expected Behavior

Be able to save the dependency graph in an image file.
Something like: `yarn nx  affected:dep-graph --saveAs="dep-graph.png"`

## Current Behavior

It is not possible to save the graph as an image with `yarn nx dep-graph` cmd

### Context

The final goal would be to be able to post this image in new pull request with github actions for example

[2019-11-14 16:05] pascalruscher opened #2057 "print-affected always prints everything without affected information"
## Expected Behavior

For my CI process I need an overview of only affected apps and libs in my repository with information like name, root, type. I used `nx print-affected` for this case. I expected to get only the affected apps/libs or at least an information about the modification in the graph. Maybe I am just missing some options to get what I want?

## Current Behavior

I get all my apps and

[2019-11-14 19:13] fen89 commented on #1937
@vsavkin I somehow missed the github notification on this one, sorry for the delay. As @FintanK pointed out there might be some more issues related to that upgrade. Could you provide me an entry point where I should start to implement that kind of migration? I really would like to try to contribute as I'm really enjoying nx!

[2019-11-14 20:51] stramel opened #2058 "Next.js create is out of date with nx-workspace"
_[Please make sure you have read the submission guidelines before posting an issue](https://github.com/nrwl/nx/blob/master/CONTRIBUTING.md#-submitting-issue)_

# Prerequisites

Please answer the following questions for yourself before submitting an issue.
**YOU MAY DELETE THE PREREQUISITES SECTION.**

- [x] I am running the latest version
- [x] I checked the documentation and found no answer
- [x]

[2019-11-15 07:30] arindamdawn opened #2059 "I still get error while creating a workspace."
I still get error while creating a workspace.
I am using Windows 64 bit machine and tried using both cmd as well as powershell but got the same error. Is this a system-specific issue?
Here is the error message:

The system cannot find the path specified.
(node:15996) UnhandledPromiseRejectionWarning: Error: Command failed: "C:\Users\arind\AppData\Local\Temp\tmp-15996jzdCey8YUMhM\node_modules\.bin\

[2019-11-15 11:43] iangregsondev opened #2060 "Add docs on how to use @nrwl/workspace builder"
# Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [x] I am running the latest version
- [x ] I checked the documentation and found no answer
- [x ] I checked to make sure that this issue has not already been filed
- [x ] I'm reporting the issue to the correct repository (not related to Angular, AngularCLI or any dependency)

## Expected Behavior

Ne

[2019-11-15 11:46] iangregsondev commented on #2060
Because react native is technically a react application, i was going to use the schematics etc for react but of course, I need a custom build / serve command - so the above builder sounds just like what i need.

But I don't have a solid example to work with so maybe i am doing it wrong and that's why I get an error

[2019-11-15 11:53] ecnaidar opened #2061 "Dev Server Configuration"
In our case specific development environment setup causes issue with exposing dev server.
Solution for webpack dev server outlined here https://github.com/webpack/webpack-dev-server/issues/147

Solvable by providing "disableHostCheck: true" to webpack config which is currently impossible pass through

[2019-11-15 12:49] iangregsondev opened #2062 "Quick way of converting workspace.json to angular.json for use with angular console ?"
# Prerequisites

- [x] I am running the latest version
- [x] I checked the documentation and found no answer
- [x] I checked to make sure that this issue has not already been filed
- [x] I'm reporting the issue to the correct repository (not related to Angular, AngularCLI or any dependency)

## Expected Behavior

Is there a way to convert a workspace.json to angular.json ?

I created an applicatio

[2019-11-15 12:50] stefan-karlsson commented on #1480
GitHub is no longer in beta. Would be awesome to get this feature into a NX workspace. Please let me know if any help is needed.

[2019-11-15 12:51] wvanderdeijl opened #2063 "Typechecking of first cypress test hangs"
## Current Behavior

Since upgrading `@nrwl/cypress` from 8.4.13 to 8.7.0 our first test fails to load. This does not happen when running in watch mode. With debugging enabled (`DEBUG=*` env var) we can see that `cypress:webpack` triggers the type checking service.
But type-checking for the first spec file never completes. After a couple of minutes the started cypress runner gives up and reports t

[2019-11-15 13:11] jdpearce commented on #1299
With [this PR](https://github.com/facebook/jest/pull/9027) merged into Jest, it should now be possible to set globals and have them persist.

As a result, I'm going to close this issue for now. I'd suggest raising another issue if there is something else that can be done about this in Nx.

Thanks to all for contributing on this thread. 👍

[2019-11-15 13:11] #1299 closed

[2019-11-15 13:21] jdpearce commented on #2062
Hi @iangregsondev - the workspace file (angular/workspace.json) should have the same format regardless of which CLI you choose, which means you may be able to get away with just renaming it. There are other dependencies installed though - e.g. Angular CLI for a start.

If you have a question about the Angular Console roadmap, you may want try looking in their repo where you can raise a separate is

[2019-11-15 13:21] #2062 closed

[2019-11-15 13:43] jdpearce commented on #2059
Hi @arindamdawn, thanks for raising this issue. Can you provide a little more info? What exact command are you running here?

What versions of `npm` and `node` do you have?

[2019-11-15 14:19] wvanderdeijl commented on #1976
@intellix you could check if the workaround from #2063 works as it feels like the same issue

[2019-11-15 14:49] iangregsondev commented on #2062
ok - i will give it a try - thanks.

[2019-11-15 14:59] stramel opened #2064 "Next.js app created without adding React dependency"
_[Please make sure you have read the submission guidelines before posting an issue](https://github.com/nrwl/nx/blob/master/CONTRIBUTING.md#-submitting-issue)_

# Prerequisites

Please answer the following questions for yourself before submitting an issue.
**YOU MAY DELETE THE PREREQUISITES SECTION.**

- [x] I am running the latest version
- [x] I checked the documentation and found no answer
- [x]

[2019-11-15 15:42] stramel opened #2065 "[REQ] Display host with port using nx serve <app>"
It would be great to have a link to the host that the app is launched on. It was not intuitive to figure out what port my Next.js app was launched on without reading into the documentation. Next.js is normally 3000 and through NX it launches on 4200.

CRA does a nice job of this by both launching the tab and displaying a message like so:

![image](https://user-images.githubusercontent.com/855184/6

[2019-11-15 21:16] #1609 closed

[2019-11-15 21:17] FrozenPandaz commented on #1976
Fixed in #1920

[2019-11-15 21:17] #1976 closed

[2019-11-15 21:17] FrozenPandaz commented on #2063
Fixed in #1920

[2019-11-15 21:17] #2063 closed

[2019-11-15 22:11] stramel commented on #1511
I'm happy to see support coming for a tool like storybook. I was curious if there would be a docz alternative offered?

[2019-11-16 14:03] jon301 opened #2068 "[Cypress] allow passing --ci-build-id option to e2e command"
## Expected Behavior

`--ci-build-id` should be a valid option

https://docs.cypress.io/guides/guides/command-line.html#cypress-run-ci-build-id-lt-id-gt

## Current Behavior

`ng e2e --headless --record --parallel --ci-build-id="XXX"`

Unknown option: '--ci-build-id'

### Failure Logs

On some Github Action CI, cypress does not recognize `ciBuildId` automatically, so this option needs to be passed

[2019-11-16 14:42] Jordan-Hall commented on #1511
@stramel  Storybook has now been added with schematics for angular. When do you mean by docz alternative?

[2019-11-16 23:11] jon301 commented on #2068
Closing since Cypress will support Github Actions build ID natively in the next release

https://github.com/cypress-io/cypress/commit/95a5d17fa0a6fbf5660697fab709024622cf37b9

[2019-11-16 23:11] #2068 closed

[2019-11-17 01:10] demisx commented on #1107
@jdpearce Thank you. Isn't this the same book as on the `connect .nrwl.io` website? I've read that one 3 times already, but the types mentioned there seem to be specific to a frontend Angular app. I am inquiring about what types would be applicable to a backend API app. Any examples out there?

[2019-11-17 05:18] sameerinfodb commented on #2044
Thanks for the inputs.
This means dependencies are tracked at library level not at module level in dep-graph. please confirm.

[2019-11-17 10:14] arslan2012 opened #2069 "ng serve api doesn't serve"
## Expected Behavior
```ng serve api``` should start the nestjs backend

## Current Behavior
it only builds it and doesn't start serving.
I need to manually run ``` node ./dist/apps/api/main.js```
<details>
  <summary>ng serve</summary>

[code]
</details>
<details>
  <summary>ng serve api</summary>

[code]
</details>

### Steps to Reproduce
<details>
  <summary>create command</summary>

[code]
</d

[2019-11-17 18:18] mlc-mlapis commented on #2047
@brandonroberts The problem with 8.7.1 looks like a general problem for everybody. Can you confirm that the behavior is the same as I described?

[2019-11-18 06:24] arindamdawn commented on #2059
The command that I am running is **npx create-nx-workspace@latest myorg**

My node version is **10.16.0**
My npm version is **6.9.0**

[2019-11-18 06:49] arindamdawn commented on #2059
![image](https://user-images.githubusercontent.com/8149198/69030463-ad793880-09fd-11ea-8dd8-0d95894a16a9.png)

[2019-11-18 06:51] joelmuskwe opened #2070 "Failing to run workspace-schematics"
- [x] I am running the latest version
- [x] I checked the documentation and found no answer
- [x] I checked to make sure that this issue has not already been filed
- [x] I'm reporting the issue to the correct repository (not related to Angular, AngularCLI or any dependency)

## Expected Behavior

Expecting for schematics to run.

## Current Behavior
Schematic not found in collection "@nrwl/workspa

[2019-11-18 07:54] IIslam commented on #1860
@jaysoo It would be great if expo and expo-cli is being embedded as well.

[2019-11-18 08:38] iangregsondev commented on #1860
Yep - the expo would be great, I already tried using the BUILDER - run-command offered by @nrwl/workspaces - but I couldn't get it to work.

I think all that would be needed is to run the expo cli commands on serve / build etc

[2019-11-18 08:45] iangregsondev opened #2071 "Using react with nrwl nx, confirmation of library use (smart vs dumb)?"
# Prerequisites

- [x] I am running the latest version
- [x] I checked the documentation and found no answer
- [x] I checked to make sure that this issue has not already been filed
- [x] I'm reporting the issue to the correct repository (not related to Angular, AngularCLI or any dependency)

## Expected Behavior

I would like some confirmation of what we should be using libraries for when using re

[2019-11-18 09:08] jbjhjm opened #2072 "@nrwl/workspace - wrong dependencies installed?"
## Expected Behavior

When installing @nrwl/workspace@8.7.1 the version of dependencies @angular-devkit/core & schematics should be 8.3.14 as seen in https://github.com/nrwl/nx/blob/master/packages/workspace/package.json

## Current Behavior

When installing @nrwl/workspace@8.7.1, version 8.3.3 of dependency @angular-devkit/core & schematics is being installed. My node_modules/@nrwl/workspace/pack

[2019-11-18 09:25] jdpearce commented on #1107
@demisx That is the same book, yes but you should be able to use the same guidelines - they're not designed to be Angular specific. We go with fairly broad type annotations: `feature-`, `data-`, `ui-`, `utils-` etc. (as memntioned above). You may not have much use for `ui-` but the others would be applicable.

(Of course, that may not be true if your backend app is NextJS 🤷‍♀️)

[2019-11-18 09:43] jdpearce commented on #2044
@sameerinfodb Yes, I believe that's true. I'm not sure how we _could_ track dependencies at the module level. That would require knowledge of how each library is compiled.

[2019-11-18 10:28] kroeder commented on #1994
@FrozenPandaz I can't re-open issues. Can you take a look at my response, please?
https://github.com/nrwl/nx/issues/1994#issuecomment-549370746

[2019-11-18 12:31] iangregsondev commented on #2071
The other thing that could be possible is to split the feature up like so

(this first example, have a user FEATURE, which can hold more than 1 page and more than 1 smart component)

[code]

or

(this second example, have a user-registration FEATURE, which can hold ONLY 1 page and more than 1 smart component)

[code]

I am still finding it quite difficult to understand the best way of doing this..

[2019-11-18 12:38] the-ult commented on #1863
Would be great if NX could use the projects prettier version.

Atm we are using `prettier: 1.19.1 `
(which is know for this bug: https://github.com/prettier/prettier/issues/6921)

In VsCode (and running tslint with `"tslint-plugin-prettier"`,`"tslint-config-prettier"`)
causes
[code]
to be formatted to
[code]

But running `npm run format` reformats it to:
[code]

On the one hand this is great. But

[2019-11-18 13:55] EvtK commented on #2032
Checking in to report the same issue. We do not work with a master branch and therefore after the update from NX to 8.7.0 all the commands with --all are broken.

[2019-11-18 14:02] michelcve commented on #2026
@brandonroberts But what if NX changes how a library looks (e.g., modifies some tsconfig.json in all libraries). How would you correct this for branches that have a bunch of new libraries already?

The merge/rebase wouldn't be sufficient, and manually fixing the tsconfig's in all running branches that have new libraries doesn't seam feasable.

Is there a command I can run that could 'fix' these is

[2019-11-18 14:51] jdpearce commented on #2059
Sorry, @arindamdawn I can't replicate this. I think @FrozenPandaz came across something similar recently though - it may have something to do with the way double quotes are handled in certain versions of powershell.

Can you try running this in `cmd` instead?

[2019-11-18 14:59] arindamdawn commented on #2059
Hi, @jdpearce I tried this in cmd as well. However, I get the same error. Here is an attached screenshot
![image](https://user-images.githubusercontent.com/8149198/69063075-db806c00-0a41-11ea-8299-9b2c2a3a7404.png)

As an alternative, can I create a fresh angular project using angular cli and then add '@nrwl/workspace'. Then add the other necessary packages for frontend and backend?

[2019-11-18 15:42] stramel commented on #1511
@Jordan-Hall My apologies for the poorly worded comment. I use React with my team and have found that Docz works really well with it. I would love to see it offered as an alternative to Storybook.

[2019-11-18 16:02] Maus3rVonDutch commented on #2070
I'm also experiencing this (again), this is with the latest version 9.1

[2019-11-18 16:04] lukasholzer commented on #2053
@brandonroberts may I contribute a solution to this? I would use the paths aliases from the root `tsconfig.json` – in case you have there the connection to the barrel file with the module name.

This would be way more precise than splitting and slicing the `root` of a project in the angular json like the current approach:

[code]

[2019-11-18 16:07] demisx commented on #1107
@jdpearce Gotcha. My backend is Koa2 Node.js, which is pretty similar to Express, but maybe a little more TypeScript friendly. So, for the sake of simplicity, I'd assume that my backend is Node.js Express. With that in mind, here are the kind of questions I have:

1.  I am still a little unclear on how to create types for a backend app and how many there should be.
1. What are these types for in t

[2019-11-18 16:09] lukasholzer commented on #2053
Furthermore, I think this is a common use-case if you think about publishable libraries in a normal project. If you have a lot of **secondary entry points** like material:

[code]

you want to have for each a publishable library that you can leverage the benefits of testing affected libraries.

[2019-11-18 16:32] demisx commented on #1107
Another thought just hit me -- maybe I should not be thinking in terms of frontend vs backend when I am talking about libs since they encapsulate the majority of functionality that can be potentially reused by any app?  🤔

[2019-11-18 17:30] pnocera commented on #2047
having the same exact problem. any workaround ?

[2019-11-18 18:11] BovineEnthusiast commented on #1107
My guess for an API would be something like this. I don’t think this is specific to nestjs or another framework since I believe these concepts exist in all common Node frameworks.

Controllers (and maybe routes) go under a single feature library

Database related services go under data access

Guard like services (or any middleware really) go under utils

The routes could  also be in an app librar

[2019-11-18 19:20] iangregsondev commented on #2071
OK I have come up with the following..

[code]

would love some feedback...

To summarise, the frontend feature as created by NX, each feature can contain multiple components separated by a component directory, each component in this directory has its "own" directory.

features i prefixed with the app name i.e. frontend or api

The frontend feature also contains (at the same level as components),

[2019-11-19 07:55] SWGeekPD commented on #1953
@jaysoo - did you got a chance to look into repo. Looking for any suggestion.

[2019-11-19 14:00] tashoecraft commented on #1953
@SWGeekPD I told you what was wrong with your app. It's not setup correctly in terms of what you want to load. You have two separate components being loaded into the same router-outlet when you pull in that second module. Take a step back and look at the docs for how to setup the routing correctly with what you're trying to achieve.

[2019-11-19 14:02] tashoecraft commented on #1953
You're also not getting many hits because you indicated it's related to nrwl, which it's not. If you create the exact same project using just the angular cli you'll have the same issue, but indicating that on stack overflow will dramatically cut the amount of people who will look at your problem because using NX is something only a small (but hopefully growing) portion of the Angular community use

[2019-11-19 14:29] FadiNouh1 commented on #275
using alias paths in the application seems this is not working
example :

in app.module.ts

`import { productModule } from "@eshop/product"`

in tsconfig.compdoc.ts:
[code]

I get the error :
[code]

[2019-11-19 14:47] Jordan-Hall commented on #1511
@stramel Best asking one of the NX team @FrozenPandaz. For me, I wouldn't want to contribute it. But feel free add it yourself.

For me, nx would be better to be framework agnostic. From what i can see Docz is only supported in react

[2019-11-19 14:59] SpeedoPasanen commented on #2047
Workaround: Downgrade build-angular. Latest version I've found working:
[code]

[2019-11-19 16:09] aag5586 opened #2076 "nx-enforce-module-boundaries allow one-level-deep wildcard import does not work"
## Expected Behavior

The following exception to the nx-enforce-module-boundaries lint rule should allow importing any module that is one-level deep inside the "mylibrary" library.

[code]

## Current Behavior

With the above rule, the linter always fails on the following import: `import @myorg/mylibrary/a`

## Failure Information (for bugs)

### Steps to Reproduce

Please provide detailed steps f

[2019-11-19 16:36] demisx commented on #653
Maybe this issue should be reopened? There are many unanswered questions on Nx project structure floating around. We need more guidance from the Nx core team.

[2019-11-19 18:22] vogloblinsky commented on #275
@FadiNouh1 Compodoc doesn't support that right now, sorry..

[2019-11-19 23:01] trumbitta commented on #1884
The `resolutions` fix doesn't work for me. I thought the culprit it was `redux-observable` (the only RxJS related dependency I can think of), but the error still shows up if I remove it then `rm -rf node_modules package-lock.json && npm i && npm run affected:e2e`.

Full deps:

[code]

[2019-11-20 09:16] mlc-mlapis commented on #2047
@SpeedoPasanen Hmm, but there has to be something special because of Nx 8.7.0 works with "@angular-devkit/build-angular": "0.803.19" (Angular CLI 8.3.19 & Angular 8.2.14).

[2019-11-20 10:29] vsamotskiy commented on #2052
Looks like some wrong packages was installed in my node modules. Issue should be closed

[2019-11-20 10:29] #2052 closed

[2019-11-20 12:50] pnocera commented on #2047
switching to @angular-devkit/build-angular@^0.803.8 didn't work for me. I did an npm cache clean but no success.

[2019-11-20 12:56] jpreecedev opened #2080 "Connection refused when creating React Express app out-of-the-box"
# Prerequisites

Please answer the following questions for yourself before submitting an issue.

## Expected Behavior

When creating a new React Express app out of the box, when loading the browser, an API request to `/api` should return a greeting

## Current Behavior

The request fails with the following error

[code]

## Failure Information (for bugs)

Connection refused

### Steps to Reproduce

[2019-11-20 13:29] EugeneCh commented on #1609
@FrozenPandaz can you please release this fix?

[2019-11-20 17:09] JoA-MoS commented on #869
here is how I think i solved this if anyone is interested

lint-staged.config.js
[code]

[2019-11-20 18:21] ftischler opened #2081 "Error building Nest-Applications: Please specify a regular expression as the pattern property on the plugin options."
# Prerequisites

## Expected Behavior

Please describe the behavior you are expecting

## Current Behavior

Building Nest Applications is not possible any more after upgrade to v8.8.0. It fails with the following error:

`An unhandled exception occurred: license-webpack-plugin: Please specify a regular expression as the pattern property on the plugin options.`

### Steps to Reproduce

1. Create a

[2019-11-20 20:12] jon301 opened #2082 "Error when using storybook-configuration schematic"
# Expected Behavior

Storybook configuration schematic should work

## Current Behavior

[code]

### Steps to Reproduce

Please provide detailed steps for reproducing the issue.

1. npx create-nx-workspace@latest myworkspace
2. cd myworkspace
3. yarn add @nrwl/storybook --dev
4. yarn ng g @nrwl/angular:storybook-configuration

### Context

Node: 10.17.0
NPM: v6.11.3
Angular CLI: 8.3.14
OS: darwin

[2019-11-20 20:57] jon301 commented on #2081
Here is a workaround, only if you don't care about extracting license files.

In your `angular.json` file, set `extractLicenses` to `false` in the `production` configuration section:

[code]

[2019-11-20 21:01] the-ult commented on #2081
Same problem occurs with a node project and a `--prod` build
[code]

[code]

[code]

[2019-11-20 21:19] matheo opened #2083 "Error with license-webpack-plugin while building a node app"
# Prerequisites

- [ x ] I am running the latest version
- [ x ] I checked the documentation and found no answer
- [ x ] I checked to make sure that this issue has not already been filed
- [ x ] I'm reporting the issue to the correct repository (not related to Angular, AngularCLI or any dependency)

## Expected Behavior

My build script got broken updating to the latest version.
It seems that `@nr

[2019-11-20 22:49] stramel opened #2084 "How to handle image assets in React Library"
I have scaffolded a React Library and a Next.js app using the generators. I am wanting to use a svg asset directly in a component but I'm unsure how to import/reference it. In CRA, I was able to do something like `import { ReactComponent as MySVG } from 'path/to/my/file.svg'`

[2019-11-20 22:59] xtiancapil commented on #2061
You can define a custom webpack config and change the `webpackConfig` property in the `architect.build` sectino of your workspace.json to use thecustom one.

Here's a sample. In my sample I'm referencing the client, but you could probably change it to get the devServer:
[code]

[2019-11-20 22:59] bradtaniguchi commented on #2083
Looks to be a duplicate of #2081

[2019-11-21 00:39] DUBANGARCIA commented on #869
@JoA-MoS, I had tried that too, but it didn't work, I will try again to try

[2019-11-21 02:13] matheo commented on #2083
Closing this in favor of 2081.

[2019-11-21 02:13] #2083 closed

[2019-11-21 07:09] jaripekkala opened #2085 "Migration failure from 8.7.0 to 8.8.0"
## Expected Behavior

Workspace to be updated.

## Current Behavior

Failing update.

## Failure Information (for bugs)

### Steps to Reproduce

1. `npx create-nx-workspace@8.7.0 repro-workspace --preset=empty --cli=nx`
2. `cd repro-workspace`
3. `yarn nx migrate @nrwl/workspace`

### Context

### Failure Logs

[code]

[2019-11-21 08:31] royling opened #2086 "core-js version conflicts when mixing @nrwl/angular and @nrwl/react into the same workspace"
_[Please make sure you have read the submission guidelines before posting an issue](https://github.com/nrwl/nx/blob/master/CONTRIBUTING.md#-submitting-issue)_

# Prerequisites

Please answer the following questions for yourself before submitting an issue.
**YOU MAY DELETE THE PREREQUISITES SECTION.**

- [x] I am running the latest version: `"@nrwl/workspace": "8.8.0",`
- [x] I checked the document

[2019-11-21 08:38] royling commented on #2086
In my case, there's a quick workaround though:
because `core-js` is mainly used in the polyfills.ts in angular app (still an empty app), which did not import yet any modules, I can simply change the core-js version in `package.json` to v3+

[2019-11-21 09:33] royling commented on #1643
@vsavkin in the latest 8.8.0, if I created the workspace initially by selecting angular cli, then later added `@nrwl/react` to the workspace, I cannot create a react app with the below error:
[code]
is this working as expected?

[2019-11-21 10:58] AkshayCloudAnalogy opened #2087 "Nx does not minify bundles"
## Expected Behavior

`nx build` should create minified files for react app or react publishable library.

## Current Behavior

`nx build` is not creating minified files for react app or react publishable library even if optimization is set to true in workspace.json

### Steps to Reproduce

1. Create a new empty nx workspace using `npx create-nx-worspace@latest test-workspace`.
2. Add react using

[2019-11-21 14:10] timoklingenhoefer opened #2088 "nx run-many only serves the first 3 specified projects"
- [x] I am running the latest version `"@nrwl/workspace": "^8.8.0"`
- [x] I checked the documentation and found no answer
- [x] I checked to make sure that this issue has not already been filed
- [x] I'm reporting the issue to the correct repository (not related to Angular, AngularCLI or any dependency)

## Expected Behavior

all specified projects get served, when running `nx run-many --target=se

[2019-11-21 14:10] DonDozone commented on #2082
You need to specify the project where you want to add storybook to. so for example
`ng g storybook-configuration --name=PROJECT` with PROJECT being the name of the project. So there is no centralized storybook for all apps/libraries, but it get's added to a single project where necessary.

Hope that helps!

[2019-11-21 15:32] jon301 commented on #2082
Thanks @DonDozone , didn't know Storybook had to be attached to a `lib` but that makes sense :)

[2019-11-21 15:32] #2082 closed

[2019-11-21 16:32] ecnaidar commented on #2061
Well, that looks quite complicated but workable.
Will look into that, thanks.

[2019-11-21 16:32] #2061 closed

[2019-11-21 16:40] mlc-mlapis commented on #2047
I tried the latest Nx version 8.8.0, and the problem is the same. When digging into more detail,s I found out that Nx version 8.7.1 & 8.8.0 installs as the dependency "webpack-dev-server@3.1.14", while Nx 8.7.0 and older install a newer one "webpack-dev-server@3.8.0".

In all versions the file `Server.js` from `webpack-dev-server/lib` is used, where the line `validateOptions(schema, options, 'webp

[2019-11-21 16:51] mlc-mlapis commented on #2047
Installing `"webpack-dev-server@3.8.0"` or the latest version `"webpack-dev-server@3.9.0"` after the installation of Nx 8.7.1 or 8.8.0 looks like a solution to the problem, but probably there is still something to do in Nx code to prevent such behavior.

[2019-11-21 17:03] SpeedoPasanen commented on #2047
Installing webpack-de-server as a dep unless you use it yourself isn't a solution. Should be fixed in nx :)

[2019-11-21 20:32] jon301 opened #2090 "[storybook] No easy way to generate component stories/e2e-spec files"
## Expected Behavior

It should be possible to easily generate component stories/e2e-spec file for library/project that already has a storybook configuration.

## Current Behavior

The `storybook-configuration` schematic can add a new storybook configuration on a library + generate stories/spec files for all the components that currently exist in the library, which is fine.

But if you add a new c

[2019-11-22 00:47] stramel commented on #2051
I'm getting this as well. Same setup

[2019-11-22 03:22] atifsyedali opened #2091 "Output format for eslint is not respected"
Specifying output format (e.g. "json") is not respected. Not sure why this line exists:

https://github.com/nrwl/nx/blob/f28d94162d56c1fbf50ef689953fcb30bd95bb9d/packages/linter/src/builders/lint/lint.impl.ts#L15

[2019-11-22 06:07] puku0x opened #2092 "Production build fails after updating to v8.8.0"
# Prerequisites

- [x] I am running the latest version
- [x] I checked the documentation and found no answer
- [x] I checked to make sure that this issue has not already been filed
- [x] I'm reporting the issue to the correct repository (not related to Angular, AngularCLI or any dependency)

## Expected Behavior
`nx build project-name --prod` should work.

## Current Behavior

It does not work bec

[2019-11-22 10:55] kazamov commented on #1989
Hi @FrozenPandaz, can you look at this issue please. Maybe you need some additional info. It is still reproduced for me when I try to update to Nx 8.8.0

[2019-11-22 13:29] tyankatsu0105 opened #2093 "[storybook] How about @storybook/addon-docs?"
_[Please make sure you have read the submission guidelines before posting an issue](https://github.com/nrwl/nx/blob/master/CONTRIBUTING.md#-submitting-issue)_

# Prerequisites

Please answer the following questions for yourself before submitting an issue.
**YOU MAY DELETE THE PREREQUISITES SECTION.**

- [x] I am running the latest version
- [x] I checked the documentation and found no answer
- [x]

[2019-11-22 13:53] AdamVig commented on #2084
Duplicate of #1931.

[2019-11-22 16:15] #1937 closed

[2019-11-22 16:37] demisx commented on #333
Shouldn't this be automated? After all,  @vsavkin and the gang always advocate for "automating anything you can". Am I missing something?

[2019-11-22 16:56] stramel commented on #2084
Hmmm... This is related but normally a React application has webpack config. I don't know how that would work with the library since the library has to be able to work in each application's webpack config.