[2019-05-30 11:00] Jordan-Hall commented on #1414
Fails on windows

Just tried again with what you said and got

[2019-05-30 11:01] jasedwards commented on #1416
The imports were migrated fine for me as well. It is now referencing @nrwl/angular.

[2019-05-30 11:18] FillScheers commented on #1416
the problem is in rxjs version mismatch. the version of nx is 6.4.0 but after the update the default angular version is 6.5.2. this has some breaking changes.

temp fix: set your rxjs version to ~6.4.0

[2019-05-30 11:59] ajayambre opened #1422 "Update to Nx 8 failed"
### Context

I upgraded my project from Angular 7 to Angular 8 yesterday using
`ng update @angular/cli @angular/core`
Everything worked fine.

I saw the Nx 8 announcement and tried running
`npm run update`
After installing the dependencies and completing a few migration steps, the process exited with the below error.
![image](https://user-images.githubusercontent.com/5074211/58631160-40fb6780-82ff

[2019-05-30 12:07] jasedwards commented on #1416
ugh.  that fixed it.  thanks.

[2019-05-30 12:12] juristr commented on #1422
I've experienced a similar issue, but I'm still investigating. In my case it didn't give me the error on the `tslint.json` but rather in `node_modules/@angular/pwa/node_modules/@schematics/angular/workspace/files/package.json` which looks like this:

[code]

Probably cannot parse the `<%=...` strings, but I wonder why the migration process wants to do that 🤔

[2019-05-30 13:00] FallenRiteMonk commented on #1416
@jasedwards what fixed it?

[2019-05-30 13:29] peterblazejewicz opened #1423 "Migration from 7 to 8: upgrade stops at TS config files syntactical errors"
_[Please make sure you have read the submission guidelines before posting an issue](https://github.com/nrwl/nx/blob/master/CONTRIBUTING.md#-submitting-issue)_

## Expected Behavior
Update to current version ends witthout erros:

[code]

## Current Behavior

The update stops with errors:

[code]
What is the current behavior?

n/a

## Failure Information (for bugs)

### Steps to Reproduce

Please pr

[2019-05-30 14:14] FillScheers commented on #1416
Version conflict of rxjs

Nx useses version 6.4.0 but the default is 6.5.2

[2019-05-30 14:19] jasedwards commented on #1416
@FillScheers  @FallenRiteMonk  Correct.  I fixed it by changing version to ~6.4.0

[2019-05-30 14:57] appsolutegeek opened #1424 "Starting inspector on localhost:5880 failed: address already in use"
# Prerequisites

Please answer the following questions for yourself before submitting an issue.
**YOU MAY DELETE THE PREREQUISITES SECTION.**

- [x] I am running the latest version
- [x] I checked the documentation and found no answer
- [x] I checked to make sure that this issue has not already been filed
- [x] I'm reporting the issue to the correct repository (not related to Angular, AngularCLI o

[2019-05-30 17:14] remackgeek opened #1425 "Unable to debug jest on Windows"
## Expected Behavior

Jest debugging in windows should work

## Current Behavior

Debugging errors out when attaching the chrome debugger:

F:\Dev\myworkspace>node --inspect-brk ./node_modules/.bin/ng test myworkspace
Debugger listening on ws://127.0.0.1:9229/9261bbcc-cc1c-4c3f-9b3e-ac5c36e77e2f
For help, see: https://nodejs.org/en/docs/inspector
Debugger attached.
F:\Dev\myworkspace\node_modules\

[2019-05-30 17:22] jamesgroat commented on #1423
I saw this also. After messing around, I believe that I resolved it by updating angular/cli first via `ng update @angular/cli` and then doing `npm run update` after.

[2019-05-30 17:27] FrozenPandaz commented on #1423
Thank you for reporting this.

This is a complex issue due to how schematics work but we're working with the CLI team to find a fix.

In the meantime, please try `yarn update @angular/core` which will run `ng update @nrwl/schematics @angular/core` under the hood. Please let me know if this solves it for you so I can update our documentation and blog post etc..

[2019-05-30 17:31] FrozenPandaz commented on #1422
@ajayambre can you please provide a repro of the issue? From the description, I think if you create a new workspace and copy in the `tslint.json`, the issue should be present.

[code]

@juristr Can you please provide a repro so I can take a look? I don't know why those files would be looked at.

[2019-05-30 17:36] FrozenPandaz commented on #1419
Thanks for reporting this issue!

We recommend you run `npm run update` to update `@angular/core` and `@angular/cli` through the Nx migration. There's a separate issue at the moment so please run `npm run update -- @angular/core` for now.

Please let me know if this solves the issue.

Also if you can provide a repo, I can identify if there is indeed an issue with the `@angular` migrations.

[2019-05-30 17:40] FrozenPandaz commented on #1420
Thank you for reporting this issue!

Please provide a repro so I can take a look.

I see you are on version 6 :) ideally this would work but there might be issues. It may be easier for you to go to `7.8.6` first via:

[code]

[2019-05-30 19:59] peterblazejewicz commented on #1423
Will do this, thx!

[2019-05-30 21:10] Jordan-Hall commented on #1256
Sorry, I know it's a bit late for the suggestion. But for `@nrwl/web` wouldn't it be better to move the builders to individual packages e.g. `@nrwl/react`  would have its own builder?

[2019-05-30 22:02] emilio-martinez commented on #1256
@Jordan-Hall if I'm understanding what you're saying correctly, that's exactly what the change was for Nx 8, i.e., `@nrwl/react` has it's own builder separate from the other distributed packages

[2019-05-30 22:08] juristr commented on #1422
@FrozenPandaz Strangely, if I create a new NX setup (using the command u provided), and then update to v8 using `npm run update` I get this error

![image](https://user-images.githubusercontent.com/542458/58668058-0feb5900-8338-11e9-83bb-80872014caff.png)

Can you reproduce that? the `tsconfig.app.json` looks good though:

[code]

[2019-05-30 22:12] FrozenPandaz commented on #1422
It is strange isn't it :(

Issue: https://github.com/nrwl/nx/issues/1423

Fix (for now): Run `yarn update @angular/core` which would run `ng update @nrwl/schematics @angular/core`.

[2019-05-30 22:14] FrozenPandaz commented on #1421
Hm, I don't think it ever existed.

It would be a nice page to write but I have not had the time.

[2019-05-30 22:38] FrozenPandaz commented on #1256
Thanks for the suggestion!

@Jordan-Hall @emilio-martinez

`@nrwl/react` actually uses the `@nrwl/web` builders. We did not want to duplicate the code across both packages. I think the benefit in duplicating the code would be so that `@nrwl/react` users can save a download but `@nrwl/web` is pretty light and most of their dependencies can be hoisted if you're using `yarn`. We can also address that

[2019-05-31 06:01] FallenRiteMonk commented on #1416
@FillScheers @jasedwards thanks that fixed my problem during the build, but now I get the following error during run time:
[code]

[2019-05-31 07:08] philjones88 commented on #1420
@FrozenPandaz thank you for your reply.

I've tried what you suggested but I get a new error

`Invalid migration version: "8-beta"`

Here's the full log for the commands you suggest

[code]

[2019-05-31 07:16] philjones88 commented on #1420
I was able to go from 6.2.0 to 6.4.0 using altered versions of your commands.

Then going from 6.4.0 to 7.8.6 I get different errors again, I'll look at trying to correct them

[code]

[2019-05-31 07:49] peterblazejewicz commented on #1423
@FrozenPandaz
It worked, I've run via NPM:

[code]
and it migrated the workspace to the point I could immediately run build after the migration ends.
I've used the same Windows box setup.

@jamesgroat
Thanks! I didn't tried this part, following the @FrozenPandaz  comment first. Still appreciated!

[2019-05-31 07:49] peterblazejewicz commented on #1423
@FrozenPandazf
Fill free to close or let open for reference
Thanks!

[2019-05-31 09:46] yglin commented on #883
The same problem here.
Currently to me the inconvenience is that I can not use serialization functions of my custom data types.
Such as dates, I have to convert string to date explicitly in my support file.
This makes 2 duplicate serialization code for a same data type, one in shared library and another in e2e specs.
When the custom data types grow complex this could be nightmares.
Please help, or

[2019-05-31 12:51] philjones88 commented on #1420
We have another nrwl nx project that is newer, 7.7.0. doing `yarn update` also failed with:

[code]

[2019-05-31 13:06] ajayambre commented on #1422
@FrozenPandaz  Thank you for the reply.

I followed your steps to create a new workspace
 `npx create-nx-workspace@7.8.6 update-bug`
and copied my `tslint.json` file.

I am able to reproduce the same issue.

![image](https://user-images.githubusercontent.com/5074211/58705856-0b717f80-83ce-11e9-87eb-2aebf2a781f6.png)

What is strange though is that my `tslint.json` file has only `315` lines in it b

[2019-05-31 13:15] vsavkin commented on #1234
Closing this issue. The issue is like to be the problem with the local environment.

[2019-05-31 13:15] #1234 closed

[2019-05-31 13:17] vsavkin commented on #1110
@juristr would you like to work with me on fixing this? I can help you get your dev env up and running.

[2019-05-31 13:21] vsavkin commented on #1394
Yup. This is a left-over from earlier times when we assume that you use Jamine. We should remove it. We should also update ng-add scripts not to add jasmine-marbles to `package.json`.

Would you like to send a PR making the change? I can give you some pointers.

[2019-05-31 13:23] vsavkin commented on #1368
@YonatanKra I think it's telling you that you are trying to create it in a folder where this project already exists.

[2019-05-31 13:27] vsavkin commented on #1093
@zachnewburgh this is interesting. Could you provide a repo reproducing the issue?

[2019-05-31 13:27] vsavkin commented on #1226
Closing this as we migrated all existing builders to the new API.

[2019-05-31 13:27] #1226 closed

[2019-05-31 13:29] vsavkin commented on #1367
Unfortunately the error is too generic to be able to troubleshoot without a repo reproducing it. I'm closing this issue. I'm sorry about it.

[2019-05-31 13:29] #1367 closed

[2019-05-31 13:33] #1405 closed

[2019-05-31 13:43] vsavkin commented on #1381
@stefan-karlsson you can separate backend and frontend apps as follows:

[code]

There are many dimensions you can use to separate your apps and libs (e.g., where it runs: backend, frontend, nativescript, e2e, who owns it: my team, that team, etc..) You can devise your own folder structure to reflect that.

@FrozenPandaz we need to look at why nestjs schematics are accessed are used when running a

[2019-05-31 13:47] vsavkin commented on #1424
@appsolutegeek thanks for submitting the issue.

WebPack keeps the port open, so it cannot restart it. There is not much we can do about it. One thing you can do is to set the port to 0 in angular.json, which will tell webpack to use a random port. The build will work but your debugging session won't persist.

[2019-05-31 13:47] #1424 closed

[2019-05-31 13:55] zachnewburgh commented on #1093
Happy to - just created this [repo](https://github.com/zachnewburgh/nx-issue), which reproduces the error. The error started to manifest in commit 409d52fef78328bd3343e6bd544b6c0f19937a30.

Strangely, when I checked out earlier commits to take screenshots for you, the dependency graph error manifested there, too, even though it worked just fine in those previous commits.

[2019-05-31 15:54] gperdomor opened #1430 "[Question] Node/Nest builder"
_[Please make sure you have read the submission guidelines before posting an issue](https://github.com/nrwl/nx/blob/master/CONTRIBUTING.md#-submitting-issue)_

# Prerequisites

Please answer the following questions for yourself before submitting an issue.
**YOU MAY DELETE THE PREREQUISITES SECTION.**

- [x] I am running the latest version
- [ ] I checked the documentation and found no answer
- [x]

[2019-05-31 16:16] peterblazejewicz commented on #1425
just wondering if you have the same problem in non-NX project (while still on Windows box)?
facebook/jest#3750

[2019-05-31 16:53] #1414 closed

[2019-05-31 17:11] FrozenPandaz commented on #1423
Awesome! This issue is also fixed for good so `@angular/core` isn't required anymore 🎉

[2019-05-31 17:11] #1423 closed

[2019-05-31 17:15] FrozenPandaz commented on #1422
@ajayambre Thank you so much!

On line 301: you have a trailing comma which is makes it a malformed JSON.

Please fix that and see if the migration succeeds.

[2019-05-31 21:07] remackgeek commented on #1425
@peterblazejewicz --
 I set up the example here:  [https://jestjs.io/docs/en/getting-started](https://jestjs.io/docs/en/getting-started)
Then followed the instructions here: [https://jestjs.io/docs/en/troubleshooting](https://jestjs.io/docs/en/troubleshooting)

This worked:
`node --inspect-brk ./node_modules/jest/bin/jest.js --runInBand`

[2019-06-01 12:08] rolaveric opened #1432 "`affected` scripts do not work with Bazel workspaces"
## Expected Behavior

Running `nx affected:apps` on a workspace converted to use Bazel should return the same results as before the conversion.
i.e. running `nx affected:apps --uncommitted` with an uncommitted change in a library should return a list of apps that depend, directly or indirectly, on that library.

## Current Behavior

`nx affected:apps` returns nothing, as though there were no chang

[2019-06-01 12:20] rolaveric commented on #1432
Solution wise, I've found I can fix my scenario by altering the `addDepIfNeeded()` method in `DepsCalculator`:
https://github.com/nrwl/nx/blob/master/packages/workspace/src/command-line/deps-calculator.ts#L329

The two main things I do is:
1. Use `project.root` with trailing slashes normalised.
2. Drop the at ("@") prefix
From there I can just alter the `npmScope` in `nx.json` to match the name fr

[2019-06-01 13:09] hadrien-toma commented on #1231
Hey @vsavkin and @FrozenPandaz I come back to this issue now that the NgRx v8 is nearly released. Is the update into the Nx repo affected to someone? I think I can now handle it if you give me some pointers.

[2019-06-01 16:04] matheo commented on #1178
Hi @vsavkin! sorry about the delay
I got pretty busy with another project and now that I came back to this one, and still got this issue, I saw your comment, my apologies!

I've used the latest `@nrwl/workspace 8.0.1` and created this repo with the problematic directive:
https://github.com/matheo/dom-issues

The issue is there:
![image](https://user-images.githubusercontent.com/260185/58750855-c18

[2019-06-01 19:45] matheo commented on #1422
I just upgraded a big App with no hassle, thanks @FrozenPandaz

[2019-06-01 19:56] matheo opened #1433 "(@nrwl/builders) outdated dependencies"
## Expected Behavior

Upgrading to 8.0 I was looking at the diff on my `yarn.lock` and saw an old `@angular/cli` there, and I saw fixed versions instead `~a.b.c`:
[code]

@FrozenPandaz I'd suggest defining path releases like `"@angular/cli": "~7.3.1"` to include further bugfix releases.

## Current Behavior

While updating to Angular 8, typescript is upgraded to `v3.4.5` and `yarn install` is thro

[2019-06-01 20:47] matheo commented on #1422
@FrozenPandaz a minor detail is missing in the update schematic:
`/tslint.json` has a reference to `node_modules/@nrwl/schematics/src/tslint` and it needs to be updated to `node_modules/@nrwl/workspace/src/tslint`

[2019-06-01 21:13] matheo commented on #1411
@emilio-martinez @FrozenPandaz  I just saw that `core-js` is required by `jest-preset-angular` as `peerDependency`

[2019-06-01 21:33] matheo commented on #1433
@FrozenPandaz I understand now that `@nrwl/builders` is deprecated, even if it has a `v8.0.1`, so these dependencies doesn't matter. My problem was upgrading `@nrwl/schematics` via yarn, instead `ng update`, so I didn't get the new builders the first time.

Thanks! and nice work!

[2019-06-01 21:33] #1433 closed

[2019-06-01 22:25] SebasG22 commented on #1394
I had the same problem when tried to upgrade some workspaces to nx8.
@alfaproject thanks for the fix.
While a new version with the patch is released, you can do :
[code]

[2019-06-01 22:41] SebasG22 commented on #1394
@vsavkin @alfaproject  Waiting for this be released. 👍

[2019-06-02 02:14] SebasG22 commented on #1394
I'm getting this error when try to make an update to NX8.
![image](https://user-images.githubusercontent.com/17608169/58755863-21f10700-84b2-11e9-98fc-c0486a65fdfd.png)

[2019-06-02 03:03] MaximSagan commented on #1373
@vsavkin @FrozenPandaz Any thoughts on this and/or my corresponding PR?
As things stand, the `nx-enforce-module-boundaries` rule is essentially useless for organizations such as mine that are mid-migration to NX, because if this rule is turned on, it will light up everything that pulls content from within the "old-app" lib (the lib that needs to be gradually broken down into smaller libs), unless

[2019-06-02 12:15] peterblazejewicz opened #1435 "@nrwl/workspace - library creates TSLint config path with double slash"
This is minor problem. Running `@nrwl/workspace - library` schema generates a TSLint path with double slashes.

Template:
https://github.com/nrwl/nx/blob/master/packages/workspace/src/schematics/library/files/lib/tslint.json#L2

# Prerequisites
n/a
## Expected Behavior

The path within library `tslint.json` should not contain double slash

[code]

## Current Behavior

The path contains double slas

[2019-06-02 13:34] mathpaquette opened #1437 "how to override Nx default config template files"
## Expected Behavior
I'd like to override the default template files provided by Nx schematics.

As per example, when creating new library, I need to provide customized properties in karma.conf.js so this is why I'm asking if I can provide my own template file to override karma.conf.js__tmpl__ file, which is the default one.

## Current Behavior
Seems to be impossible in version 7.3+

[2019-06-02 16:47] mathpaquette commented on #1437
looks like possible by extending the existing collection of schematics with the extends property but I would have think of something more configurable. What do you guys think?

[2019-06-03 04:52] goelinsights commented on #1419
I'm getting the following, Seems like maybe the migrations directory installed incorrectly?:

Error: ENOENT: no such file or directory, scandir ...
at Module._compile (internal/modules/cjs/loader.js:774:30)
    at Object.Module._extensions..js (internal/modules/cjs/loader.js:785:10) {
  errno: -2,
  syscall: 'scandir',
  code: 'ENOENT',
  path: '/Users/vijay/ng2_projects/chfl/node_modules/@nrwl/wo

[2019-06-03 05:20] goelinsights commented on #1419
Hmm...went back to a pre-migration version and tried it again with ng update @nrwl/schematics and strangely it seemed to work!

[2019-06-03 05:20] #1419 closed

[2019-06-03 07:50] jogelin opened #1439 "getComponentFromError when running Jest in webstorm"
Ticket to provide the solution for people that meet the issue when running jest tests by using `@nrwl/builders:jest` + `webstorm`.

Tests are running well by using `ng test` but don't run when using `webstorm` + `jest`:

[code]

This issue is related to #862 and #747

Libraries:
- @angular: 7.1.15
- @nrwl: 7.8.6
- @netbasal/spectator: 3.9.1
- jest: 24.8.0
- jest-preset-angular: 7.1.1
- ts-jest: 24

[2019-06-03 07:50] jogelin commented on #1439
The only config that I had to add in my `apps/app-name/jest.config.js` is `setupFilesAfterEnv`:
[code]

[2019-06-03 07:50] #1439 closed

[2019-06-03 09:01] TekSiDoT commented on #1207
I've done some investigating into this issue, here's what I found so far:

* The nx/cypress builder is initally copying fixture files to the respective cypress `out` folder
* The builder is not watching the files itself, the only watching right now is done by the Angular Dev Server.
* Since the fixtures are located outside of the related Angular project, modifying these files will not trigger the

[2019-06-03 14:28] fimius23 commented on #602
I also am running into this issue.
@vsavkin, @FrozenPandaz can you guys please provide some support on this?

[2019-06-03 15:47] appsolutegeek opened #1440 "Splitting libraries by app name, currently all mixed :-( ?"
- [x] I am running the latest version
- [x] I checked the documentation and found no answer
- [x] I checked to make sure that this issue has not already been filed
- [x] I'm reporting the issue to the correct repository (not related to Angular, AngularCLI or any dependency)

## Architecture Question - Libraries

I am looking for a bit of guidance with regards to splitting out libraries but i want

[2019-06-03 16:11] niltonjacintho commented on #1241
I have this same error when i create a library.
In my case is just the case sensitive library name under angular.json!
My lib has a hiffen like my-Lib. Inside package json, this name is changed to myLib.
I see this message is shown in any case that the project/lib is not found!!
I tried with mylib, myerror and acquire the same error.

Hoppe, I helped!

[2019-06-03 16:14] matheo opened #1441 "(@nrwl/*) 8.0.1 depends on 8.0.0 and 0.800.0"
## Expected Behavior

The `@nrwl/*` libraries depend on fixed Angular Devkit versions instead of a patch version for future updates, and `yarn` is forced to install two versions of the `@angular-devkit` packages.

## Current Behavior

`@nrwl/*@8.0.1` depend on
[code]
and it should use `~8.0.0` and `~0.800.0`

@FrozenPandaz same issue of https://github.com/nrwl/nx/issues/1433 but on the new librari

[2019-06-03 22:13] FrozenPandaz commented on #1440
That's a wonderful idea 👍

Also read this book to find out more best practices: https://connect.nrwl.io/app/books/enterprise-angular-monorepo-patterns

[2019-06-03 22:13] #1440 closed

[2019-06-03 22:20] FrozenPandaz commented on #1437
Yes, we recommend you look at Workspace Schematics: https://auth0.com/blog/create-custom-schematics-with-nx/.

With this you can define your own set of schematics. Which can help your organization enforce it's own best practices. Unfortunately we do not have the best documentation on it but I hope to provide some soon.

[2019-06-03 22:20] #1437 closed

[2019-06-03 23:49] agusdutra commented on #513
Hi @FrozenPandaz , I've been using Nx on some projects, but now I'm trying to add support for an existing project.

I've been looking around the related issues but didn't found it was really fixed.
I'm not getting any error, but the workspace isn't created at all.

I watched this [video:](https://angularplaybook.com/courses/264974/lectures/4113784) and as it shows the command `ng add @nrwl/schemat

[2019-06-04 08:11] psumal opened #1448 "build error - ng build libs"
BUILD ERROR - Maximum call stack size exceeded

# Prerequisites
- [x] I am running the latest version
- [x] I checked the documentation and found no answer
- [x] I checked to make sure that this issue has not already been filed

Command :  ng build wf-core-libs

Result:
Building Angular Package
Building entry point '@wf-apps/wf-core-libs'
Compiling TypeScript sources through ngc

BUILD ERROR
Maxim

[2019-06-04 08:36] psumal commented on #1448
with
    "@nrwl/builders": "7.8.4",
    "@nrwl/schematics": "7.8.4",
and
    "@nrwl/nx": "7.8.6",

it works.

[2019-06-04 14:32] FallenRiteMonk commented on #1416
Today after upgrading to nx 8.0.2 everything worked fine!

[2019-06-04 14:57] lupeportias commented on #54
I created a theme folder in my libs...
and inside the styles.scss of my app I imported the global scss...

`@import '../../../libs/common-components/src/lib/theme/global.scss';`

[2019-06-04 15:05] jasedwards commented on #1416
I don't see a version 8.02.  I noticed that ngrx will require rxjs version 6.5.  will this cause issues here since we have to set it to 6.4?

[2019-06-04 15:22] #1441 closed

[2019-06-04 16:12] matheo commented on #1448
@psumal it doesn't work after you upgraded everything to `^8.0.0`?
no other library upgraded? any special processing inside `@wf-apps/wf-core-libs`?
your `tsconfig.json` would help too.

[2019-06-04 16:50] psumal commented on #1448
it doesn't work after you upgraded everything to ^8.0.0? no other library upgraded?
i have only nx updated. see attachment.

wf-core-libs(scss file, components, pipes, services, generated with nx)

(left work - right don't work)
nx-workspace - package.json
![image](https://user-images.githubusercontent.com/16747485/58897271-3a526300-86f8-11e9-801a-a47b21a44608.png)

tsconfig from nx-workspace
![im

[2019-06-04 17:50] jbarrus commented on #263
@skydever Can you post how you got this to work with Cypress?

[2019-06-04 19:41] jsonberry commented on #1416
@FallenRiteMonk What versions of these are you running? I am running:
-`rxjs` 6.4.0
- `@ngrx/effects` 7.2.0
- `@ngrx/store` 7.2.0
-`@nrwl/angular`8.0.2

I have also ran into the issue where it looks like the `DataPersistence` library is attempting to dispatch an `Observable` into the store, not an `Action`, which is where this error messages comes from:
[code]

@jasedwards 8.0.2 was released today

[2019-06-04 20:50] remackgeek commented on #1425
Found it!

The documentation ( [https://nx.dev/guides/modernize-jest](https://nx.dev/guides/modernize-jest) ) says to  use this command:
 `node --inspect-brk ./node_modules/.bin/ng test myworkspace`

But under Windows, this works:
`node --inspect-brk ./node_modules/@angular/cli/bin/ng test myworkspace`

[2019-06-04 20:53] vsavkin commented on #1425
Yeah. It's an issue with the documentation. Could you send a PR updating the docs?

[2019-06-04 21:11] vsavkin commented on #1448
@psumal could you provide a repository reproducing the issue?

[2019-06-04 22:57] vsavkin commented on #1178
It looks like it only fails when the info is used in a decorator:

So the following fails:

[code]

And the following works:

[code]

so it's probably an issue with jest-present-angular.

@FrozenPandaz can you think of why this might be?

[2019-06-04 23:10] vsavkin commented on #1416
Sorry about this issue. I tried to repro it using 8.0.2 but I could not.

@jsonberry Could you create a min repository reproducing the issue?

[2019-06-04 23:13] #1435 closed

[2019-06-04 23:14] vsavkin commented on #1435
The fix has been merged here: https://github.com/nrwl/nx/pull/1451

Thanks for submitting the issue.

[2019-06-04 23:15] vsavkin commented on #1373
@MaximSagan thank you very much for submitting the PR. I merged it a few hours ago: https://github.com/nrwl/nx/commit/82898f7d212b4801288998d5fe5ac04ca84d67ca

[2019-06-04 23:15] #1373 closed

[2019-06-04 23:17] vsavkin commented on #1394
@SebasG22 could you try updating to 8.0.2?

[2019-06-04 23:19] vsavkin commented on #1108
Closing this issue due to inactivity. Could you reopen it with a repro?

Thank you.

[2019-06-04 23:19] #1108 closed

[2019-06-04 23:19] #1107 closed

[2019-06-04 23:20] #805 closed

[2019-06-04 23:20] #553 closed

[2019-06-04 23:21] vsavkin commented on #1247
Closing this due to inactivity. If the problem

[2019-06-04 23:21] #1247 closed

[2019-06-04 23:22] vsavkin commented on #1248
@annsk would you like sending a PR updating the docs? It'd be awesome.

[2019-06-04 23:25] vsavkin commented on #1222
@dtomaszewski thank you for providing the repro.

[2019-06-04 23:27] jamesgroat commented on #1416
@vsavkin I ran into this as well. I'm think it is a rxjs version mismatch issue. For me this check here: https://github.com/nrwl/nx/blob/master/packages/angular/src/runtime/nx/data-persistence.ts#L439 failed even though debugger showed to me that it was an Observable. Results in the observable being wrapped in another observable.

[2019-06-04 23:43] vsavkin commented on #1093
The issue is that the path mapping has to match the directory structure, so you have to have something like this:

[code]

With this tsconfig the graph will be computed correctly. We should update our algorithm to error when a mismatch is detected.

[2019-06-05 00:17] jsonberry commented on #1416
@vsavkin While working on a repo for reproduction I noticed that one project was running `@nrwl/angular@8.0.1-beta2`, another was running `@nrwl/angular@8.0.2`.

The project running `8.0.2` had the error. I installed `8.0.1-beta2` and the error went away. I then reinstalled `8.0.2` and the error is no longer reproducible.

These versions seem to be working together:
[code]

During my update from `

[2019-06-05 02:56] #1425 closed

[2019-06-05 02:59] FrozenPandaz commented on #1202
This question seems answered. Please re-open if this does not work for you.

[2019-06-05 02:59] #1202 closed

[2019-06-05 03:26] FrozenPandaz commented on #1178
Thanks for the repro!

There's a related `ts-jest` issue here: https://github.com/kulshekhar/ts-jest/issues/1035

### Solutions
1. Polyfill it in the setup file:
[code]
2. Set `emitDecoratorMetadata` to `false` in `tsconfig.spec.json`
  a. I'm not 100% sure about this option in `tsconfig`. As far as I know... Angular projects always have this option set to `true`.

I would go with Option 1 as one

[2019-06-05 03:46] FrozenPandaz commented on #1420
I fixed the way the migrations work so now you should be able to do `ng update @nrwl/schematics --force` from a Nx 6.x workspace.

This will update you all the way up to the latest version! :tada:

Also, I recognize that some people might prefer to move from 6 to 7. This process is more complicated at the moment. I will work on porting the fix to a `7.8.7` version. I hope to finish this week or ne

[2019-06-05 06:05] psumal commented on #1448
yes I will prepare a repo.
i have removed one component after another from the index.js.
the problem is the following service.

**my good old guid generator!**
**the question is why the build fails.**

@Injectable({
  providedIn: 'root'
})
export class WfGuidService {

  static generate() {
    return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
      const r = Math.random

[2019-06-05 08:47] rsyhanes commented on #208
@ZenSoftware I do like the approach you presented. My only contribution would be that instead of using a class for representing the Configuration contract, you could use as well an interface with the caveat you would need to create an InjectionToken for that interface as lookup key. Either way you instantiate something, your Config Class or the InjectionToken for the interface.

[2019-06-05 11:13] OzBob opened #1453 "Nx.dev broken on Edge"
Nx.dev website shows blank content on Edge (v42)

https://nx.dev/getting-started/what-is-nx

Content displayed for a second, then relaced with blank. Menu and footer all OK.

Full error stack from console:
CONSOLE1810304: console.memory is not implemented and will return 0 for all attributes. Please use the memory profiler to monitor memory utilization.
SCRIPT5007: Object expected base.js (1051,19

[2019-06-05 12:49] marcus-sa commented on #1364
For me, my app just takes forever to build, since Ivy tries to compile ALL modules that I'm using.

[2019-06-05 13:04] Amakaev commented on #883
Same issue.
Have a lib with all my app Models, can't use them in cypress.

[2019-06-05 14:21] bcabanes commented on #1453
Hi @OzBob and thank you for the report, we will check this out!

[2019-06-05 14:26] debuggerpk opened #1455 ""Cannot convert undefined or null to object" when upgrading to 8."
_[Please make sure you have read the submission guidelines before posting an issue](https://github.com/nrwl/nx/blob/master/CONTRIBUTING.md#-submitting-issue)_

# Prerequisites

Please answer the following questions for yourself before submitting an issue.
**YOU MAY DELETE THE PREREQUISITES SECTION.**

- [x] I am running the latest version
- [x] I checked the documentation and found no answer
- [x]

[2019-06-05 14:27] gperdomor commented on #633
@vsavkin Hi, any progress with the guide? where we can find it? 😄

[2019-06-05 14:44] FrozenPandaz commented on #1455
Thanks for reporting this issue!

It is a bug but to get around it, you can create an `architect: {}` field for the `theme` project.

[2019-06-05 15:32] #1455 closed

[2019-06-05 16:20] appsolutegeek opened #1458 "loadChildren (angular v8) and tsconfig paths ?"
- [x] I am running the latest version
- [x] I checked the documentation and found no answer
- [x] I checked to make sure that this issue has not already been filed
- [x] I'm reporting the issue to the correct repository (not related to Angular, AngularCLI or any dependency)

## Expected Behavior

I couldn't get the loadchildren to use the tsconfig paths, whats the recommended way of doing this, ad

[2019-06-05 16:48] yannickglt commented on #1458
If the `libs/register/src/index.ts ` file exports the `RegisterModule` and your tsconfig's declared as you described, then you should be able to declare your route as below:

[code]

[2019-06-05 16:54] yannickglt commented on #1343
For my part, I could resolve it by simply removing any `setupTestFrameworkScriptFile` entry from `jest-config` and `jest-preset` files.
The Nx Jest builder is already in charge of declaring this file, and it corresponds to the `setupFile` entry in your `angular.json`:
[code]

[2019-06-05 17:11] appsolutegeek commented on #1458
Oh man, thank you, I was really over thinking it :-) I thought i had to point it at a file.

Thank you - solved!

[2019-06-05 17:11] #1458 closed

[2019-06-05 17:48] xmlking opened #1459 "ng update @nrwl/angular fail with: Cannot find module '../run-schematic/executor'"
# Prerequisites

Please answer the following questions for yourself before submitting an issue.
**YOU MAY DELETE THE PREREQUISITES SECTION.**

- [x] I am running the latest version
- [x] I checked the documentation and found no answer
- [x] I checked to make sure that this issue has not already been filed
- [x] I'm reporting the issue to the correct repository (not related to Angular, AngularCLI o

[2019-06-05 18:54] gperdomor commented on #803
same problem with nestjs-config... https://github.com/nrwl/nx/issues/1430

[2019-06-05 19:09] psumal commented on #1448
Repo
https://github.com/psumal/nx-build-libs-error

The problem is the static function.
I think it is not correct if I called the static function without injector.
but i need the guid in an abstract class.

![image](https://user-images.githubusercontent.com/16747485/58982554-05680e00-87d5-11e9-9349-29040bbf6998.png)

[2019-06-05 19:20] FrozenPandaz commented on #1459
This usually occurs when an older version of `@angular/cli` is used.

I'm not able to install dependencies in your repo for some reason.

Can you make sure you use the local `@angular/cli` by using `yarn update`?

[2019-06-05 19:28] FrozenPandaz commented on #1422
@juristr @ajayambre

There should be a lot of improvements to migrating so if you are still having issues can you please try again?

[2019-06-05 20:06] matheo commented on #1178
@FrozenPandaz it works!

Thanks for using your great skills here @vsavkin!

[2019-06-05 20:06] #1178 closed

[2019-06-05 20:56] xmlking commented on #1459
if you clone the repo, and  running `yarn` in root,  should install dependencies.
I am using latest  `@angular/cli`
also verified i am using latest versions with `yarn upgrade-interactive --latest`
[code]

[2019-06-05 21:09] debuggerpk commented on #1455
thankyou guys.

[2019-06-05 22:45] skydever commented on #83
... does this option exist for vscode too? only found `Typescript->Prefs->Import Module Specifier` but this does not allow me to set an equivalent option 🤔

[2019-06-05 22:54] skydever commented on #263
hi @jbarrus

I do not use paths with cypress at the moment 🤔 maybe this helps for further analysis (not sure when I have the time). My setup looks like this (#883 seems related, wanted to link it):

* I created a simple lib project (to be honest by hand that time, be aware of `nx.json` ...) with the following `tsconfig.json` only (same like the e2e app has):

[code]

* the e2e project has a `cypre

[2019-06-06 05:48] emilio-martinez opened #1460 "Extra type definitions required when using nrwl/workspace schematic utils"
## Expected Behavior

To be able to use the utils within `@nrwl/workspace` ideally without having to install extra type definitions, if at all avoidable. This perhaps would require making some type definitions such as `@types/yargs` and `@types/prettier`  dependencies of `@nrwl/workspace`, but not sure if that's a great idea—looking for your thoughts, see below.

## Current Behavior

This is not r

[2019-06-06 06:18] codecusp opened #1461 "Not able to create an nx workspace with npx-create-nx-workspace"
## Expected Behavior

Successfully create NX workspace

## Current Behavior

[code]

## Failure Information (for bugs)

Please help provide information about the failure if this is a bug. If it is not a bug, please remove the rest of this template.

### Steps to Reproduce

Please provide detailed steps for reproducing the issue.

1. step 1
2. step 2
3. ...

### Context

Please provide any relevant

[2019-06-06 06:24] juristr commented on #1422
Awesome, thx Jason. Gonna try & let u know

[2019-06-06 06:27] ZenSoftware commented on #208
@rsyhanes I myself was actually trying to use _TypeScript Interfaces_ to solve this problem.   Then I learned how to use [TypeScript Abstract Classes as Dependency Injection Tokens](https://www.bennadel.com/blog/3327-using-abstract-classes-as-dependency-injection-tokens-for-swappable-behaviors-in-angular-4-2-3.htm). This approach seems to have the benefit of the injecting dependencies via the clas

[2019-06-06 10:43] psumal commented on #1448
Hello
Repos finished.

Mit freundlichen Grüßen
                       Sommer Patrik

 [NEUMAN Aluminium Strangpressen klein]
Neuman Aluminium Strangpresswerk
STA – Leitung  Automatisierung

Sommer Patrik
Werkstrasse 1 A-3182 Marktl Austria
Tel: +43 2762 500-483
Mobil: +43 664 24 00 363

Von: Victor Savkin <notifications@github.com>
Gesendet: Dienstag, 4. Juni 2019 23:11
An: nrwl/nx <nx@noreply.git

[2019-06-06 12:04] ajayambre commented on #1422
@FrozenPandaz I was able to resolve the JSON error after I removed the extra `,` from line `301`. Thanks.

I deleted the entire `node_modules` folder and then the `npm run update` was able to get past all the nrwl steps but finally failed on `Upgrading the @angular/cli` step.

Since I had already updated my code using the `@angular/cli`, I ignored this error and moved on.

On running `ng serve`, I

[2019-06-06 12:05] oscarlagatta opened #1462 "Cannot parse tsconfig.json: Unexpected token / in JSON at position 324"
_[Please make sure you have read the submission guidelines before posting an issue](https://github.com/nrwl/nx/blob/master/CONTRIBUTING.md#-submitting-issue)_

# Prerequisites

Please answer the following questions for yourself before submitting an issue.
**YOU MAY DELETE THE PREREQUISITES SECTION.**

- [x ] I am running the latest version
- [x] I checked the documentation and found no answer
- [x

[2019-06-06 14:30] jonr-elsewhen opened #1463 "Installing @nrwl/workspace fails with camel-cased Angular app names"
## Expected Behavior

If my Angular app has a camel-cased name, e.g. "myFunkyApp", it should be possible to install Nx workspace to it:

[code]

## Current Behavior

Fails with error:

[code]

## Failure Information (for bugs)

The problem seems to be happening because the ng-add schematic converts the schema name to kebab-case here: https://github.com/nrwl/nx/blob/master/packages/workspace/src/sc

[2019-06-06 14:46] skydever commented on #263
related to #1238

[2019-06-06 14:48] skydever commented on #883
this seems related to #1238

[2019-06-06 14:59] EvtK opened #1464 "Unit test for custom schematics fails with 'cannot find nx.json'"
# Expected Behavior

I can run unit test for custom schematics, without getting errors that are related to the way I use the schematics testing framework.

## Current Behavior

We have some custom schematics for generating apps, libs, components etc. Nothing fancy in particular. I'm in the process of writing unit tests for these schematics, but I fail to succeed on this. While the actually schemat

[2019-06-06 15:32] jonrimmer opened #1465 "Adding @ngwl/workspace fails is config files are not in root"
## Expected Behavior

`ng add @nrwl/workspace` should work to add Nx to existing Angular CLI project.

## Current Behavior

If config files such as `tsconfig.app.json` are stored in a subfolder such as `src`, the add will fail.

## Failure Information (for bugs)

The failure is happening because the ng-add schematic extracts the locations of the config files from angular.json, it runs them through

[2019-06-06 18:50] orlaqp commented on #746
I would like to help out here with a PR, can you point me in the right direction as of where to look in the code?

[2019-06-06 20:16] uloga commented on #333
Does anyone has some great cheatsheet for nx their docs are all over the place you don't know what to follow. Great idea but the documentation and the tutorials are the worst I've seen so far!

[2019-06-06 21:27] brassfiddle3 commented on #1241
I'm hitting this error with two apps and no additional libraries.  I created a mono repo using the following command:
    create-nx-workspace nx-ws --npm-scope=nxws

Which style sheet format? scss
Create what? workspace with single Angular app

It generated the nx-ws workspace with an nx-ws application.  I "cd nx-ws", and "ng build" with no errors.  Then "ng serve -o" opens the app in Chrome as ex

[2019-06-07 05:25] skydever commented on #883
in #263 I shared my setup, I am using code from a lib within my cypress tests.

I think in #1238 @diginikkari also has a solution (there is a repo linked within the issue), but notice in both solutions the path mappings do not work...

[2019-06-07 06:05] FallenRiteMonk commented on #1416
@jsonberry im running the following versions without any problems now:
- rxjs 6.4.0
- @ngrx/effects 7.4.0
- @ngrx/store 7.4.0
- @nrwl/angular8.0.2

[2019-06-07 06:46] neilhem commented on #1416
With @ngrx/*@8 and rxjs@6.5.2 I get error

[2019-06-07 07:43] diginikkari commented on #883
Yep, I have been sharing models with cypress and also with firebase cloud functions in my nx-workspace, but only by using relative paths, which is not optimal.

I think that now with custom builders support, I need to figure out how to make builder with using webpack for all apps in my workspace which are now using tsc. Problem is that because of angular I have been spoiled to not need to learn we

[2019-06-07 08:55] jonrimmer opened #1468 "Add @nrwl/workspace does not update stylePreprocessorOptions.includePaths"
## Expected Behavior

When I use `ng add @nrwl/workspace`, my app's sources are moved into `./apps`. All the paths in `angular.json` should be updated to reflect this.

## Current Behavior

If my project is using the `build.options.stylePreprocessorOptions.includePaths` config, this does not get updated. E.g.

[code]

This include path is left alone by the add schematic.

## Failure Information (f

[2019-06-07 09:14] appsolutegeek opened #1469 "@nrlw/schematics missing tslint in v 8.1.0"
- [x] I am running the latest version
- [x] I checked the documentation and found no answer
- [x] I checked to make sure that this issue has not already been filed
- [x] I'm reporting the issue to the correct repository (not related to Angular, AngularCLI or any dependency)

## Expected Behavior

The tslint file has the following

[code]

but my IDE complains that the schematics/src/tslint cannot

[2019-06-07 10:50] appsolutegeek opened #1470 "ng serve --aot - causes "cannot find node_modules/@nrwl/builders/src/builders.json'""
- [x] I am running the latest version
- [x] I checked the documentation and found no answer
- [x] I checked to make sure that this issue has not already been filed
- [x] I'm reporting the issue to the correct repository (not related to Angular, AngularCLI or any dependency)

## Current Behavior

Running ng serve with the --aot option gives the following error

[code]

[code]
## Expected Behavior

[2019-06-07 11:40] appsolutegeek commented on #1470
Here is some more info, this is from a project that uses ```    "@nrwl/builders": "7.8.6", ```, you will notice the builder.json

![image](https://user-images.githubusercontent.com/2370364/59101493-6e609a80-8929-11e9-89fd-3db62724012a.png)

and this is from my project that uses ```    "@nrwl/builders": "8.0.2", ```, there is no builders.json

![image](https://user-images.githubusercontent.com/2370

[2019-06-07 11:58] appsolutegeek commented on #1470
Ok, noticed there is a migration guide.

[2019-06-07 11:58] #1470 closed

[2019-06-07 12:08] JochenDiekenbrock commented on #1459
I get the same error.
I upgraded from @nrwl/nx 7.8.6 with `yarn update` to @nrwl/angular 8.0.0 without problems.
When I entered yarn update again, ng update @nrwl/workspace was performed, that resulted in the same error message.

Version Info:
`yarn ng --version`

[code]

[2019-06-07 14:01] appsolutegeek commented on #1469
I presume that this is becasue I went to version 8 ? Its new location is where ?

[2019-06-07 14:05] appsolutegeek opened #1471 "NX(v8): Lazy loading from LIB directory causes "module not found .. index.ngfactory" on prod build"
- [x] I am running the latest version
- [x] I checked the documentation and found no answer
- [x] I checked to make sure that this issue has not already been filed
- [x] I'm reporting the issue to the correct repository (not related to Angular, AngularCLI or any dependency)

## Expected Behavior

To be able to load lazy modules in prod, it currently fails on a production build
## Current Behavior

[2019-06-07 14:48] billyma128 opened #1472 "nx.dev Localization support"
## Expected Behavior

Thank you guys for your great job!👋
Is there any plan to support i18n document? Such a great project deserves to be known by more developers.

## Current Behavior

English only.

[2019-06-07 14:50] FrozenPandaz commented on #1471
Hi, thanks for reporting this issue.

1. I strongly, strongly recommend you use `@npmScope/my-test` to lazy load. This is shorter and points to the correct file. It is also important for us to detect the lazy dependency to the lib.
2. Does this file exist? `../../../../libs/my-test/index.ts`. Usually, it would be `../../../../libs/my-test/src/index.ts`.

Let me know if this helps fix the issue.

[2019-06-07 14:52] FrozenPandaz commented on #1469
If you updated with `yarn update` or `ng update @nrwl/schematics`, you would be updated to the latest version of the code.

The lint rules have moved to `@nrwl/workspace/src/tslint` but a lot of other things have changed too so please use `yarn update` when updating Nx

[2019-06-07 14:54] appsolutegeek commented on #1471
Hi,

Thanks for coming back to me. This was kind of a POC to post here :-) To demonstrate that its the same module etc loaded from different places and one works and the other doesn't

This is actually what I am doing

[code]

and my Tsconifg

[code]

I confirm that above exist, also my IDE states it exists.  For example chaning the m.RegisterModule and it will start to complain :-)

The index.ts

[2019-06-07 14:55] FrozenPandaz commented on #1468
Thank you for reporting this. If someone from the community would like to work on this, the code is here:

https://github.com/nrwl/nx/blob/master/packages/workspace/src/schematics/ng-add/ng-add.ts#L117

[2019-06-07 15:10] FrozenPandaz commented on #1091
Sorry, it is hard for me to take a look without a repo to pull down.

It's quite possible that Jest removing support for `babel` breaks this behavior and that adding it back via https://jestjs.io/docs/en/getting-started#using-babel fixes it.

[2019-06-07 15:12] appsolutegeek commented on #1471
Also, I should highlight actually that using NG SERVE and NG BUILD (no prod) - works great - its only when passing the --prod

[2019-06-07 16:09] IDonut commented on #1471
Hi @appsolutegeek. What happens if you change your barrel module export to `export * from "./lib/register.module"`?

[2019-06-07 19:31] FrozenPandaz commented on #1471
I see. I get that error for the named export but not the `*` export. I believe this is an issue with the `@angular/cli` so let me make an issue there.

[2019-06-07 19:32] FrozenPandaz commented on #1471
Please use the `export * from './lib/lib.module.ts` in the mean time.

[2019-06-07 19:40] FrozenPandaz commented on #1471
^ https://github.com/angular/angular-cli/issues/14707

Repro: https://github.com/FrozenPandaz/demos/blob/lazybug/libs/lib1/src/index.ts

[2019-06-07 20:37] ZachJW34 opened #1473 "Files with parentheses fails format."
# Prerequisites
- [x] I am running the latest version
- [x] I checked the documentation and found no answer
- [x] I checked to make sure that this issue has not already been filed
- [x] I'm reporting the issue to the correct repository (not related to Angular, AngularCLI or any dependency)

## Expected Behavior

Files with parentheses in them should be formatted as normal

## Current Behavior

Fil

[2019-06-07 20:58] FrozenPandaz commented on #574
v8 of Angular no longer generates the `baseUrl` compiler option. 🎉Thus, I'm going to close this issue.

As per the paths.. It seems to be working for me.. Can someone open a new issue please and provide a repo?

[2019-06-07 20:58] #574 closed

[2019-06-07 21:32] FrozenPandaz commented on #1422
Cool. It seems like this issue is mostly resolved now so I will close this issue. If you run into any more issues, please create a new issue with specific details!

[2019-06-07 21:32] #1422 closed

[2019-06-07 21:44] FrozenPandaz commented on #1461
Thanks for reporting this issue.

I cannot seem to replicate this issue. It seems like you are on Windows. I tried to replicate on windows and could not replicate. There's nothing suspicious about your path.

Can you try the following and see if it works?
[code]

[2019-06-08 04:35] appsolutegeek commented on #1471
@FrozenPandaz Nice catch! - It works!, I am using the workaround. Thank you.

[2019-06-08 04:57] appsolutegeek commented on #1469
Yes, thanks. I must remember not to update manually next time. Checked everything that was upgraded via a new project and then passed everything over. Thanks, again

[2019-06-08 04:57] #1469 closed

[2019-06-08 10:08] codecusp commented on #1461
Thanks @FrozenPandaz

[2019-06-08 18:58] SebasG22 commented on #1394
Hey @vsavkin,
Seems like I have some problems with global dependency to NX and angular CLI.
I removed it using:
[code]
Then run `rm -rf node_modules` on the monorepo and install the dependencies again `yarn install`.
Finally use `yarn update` and the command finish successfully.
Thanks 👍

[2019-06-08 23:32] matheo commented on #1468
@FrozenPandaz I migrated a CLI project recently (after upgrading it to Angular 8) and I fixed many issues that I had in the process. I built the workspace package locally and fixed it step by step until I got my app updated. I've opened #1476 including this path update.

@jonrimmer it would be nice if you build my PR locally (`yarn install` and `yarn build`) and link or copy the resulting package

[2019-06-09 00:43] matheo commented on #701
@FrozenPandaz thanks a lot for writing up the cause!
I installed `rxjs-tslint` and it had a wide open dependency to `typescript@>=2.8.3` so it screwed it all installing `typescript@3.5.1` when the Angular project is working with `3.4.5`

[2019-06-09 06:24] timdeschryver commented on #1416
NgRx v8 requires RxJS v6.5

https://ngrx.io/guide/migration/v8#dependencies

[2019-06-09 09:48] iangregsondev opened #1477 "Support for multiple workspace scopes ?"
- [x] I am running the latest version
- [x] I checked the documentation and found no answer
- [x] I checked to make sure that this issue has not already been filed
- [x] I'm reporting the issue to the correct repository (not related to Angular, AngularCLI or any dependency)

## Expected Behavior

Would be nice if Angular Console and the cli supports creating multiple workspace scopes, meaning I ca

[2019-06-09 09:50] appsolutegeek commented on #1477
Any technical reason why 2 different scopes could no be used ? These are, at  the end of the day, just used for paths within tsconfig -right ?

[2019-06-09 15:06] roksanaaghajanpoor commented on #1463
I want to Add Nx to an Existing Angular CLI workspace, but when run 'ng add @nrwl/workspace' command, this error will occur:

Skipping installation: Package already installed
Cannot read property 'architect' of undefined

how to solve this issue?
Thank you

[2019-06-10 08:54] DuncanFaulkner commented on #1459
Hi getting a similar error when upgrading to nx v8

Executing migrations for package '@nrwl/schematics' **
Nx has been repackaged. We are installing and migrating your dependencies to the ones necessary. If you have workspace schematics, we tried to migrate your imports from "@nrwl/schematics" to "@nrwl/workspace" but your externalSchematics may be broken.

            Read this guide to see where

[2019-06-10 11:12] jonr-elsewhen commented on #1468
@matheo Tried it, but It does not work.

Problem seems to be this line: https://github.com/matheo/nx/commit/227ba7e37ea35b4d2eb8be0e2de9d11e528a3afd#diff-a9ea54d30f3a734ae12a67708517088cR394

You are trying to rename the app's tsConfig—e.g. `src/tsconfig.app.json`—to `tsconfig.json`. This will fail if there is already a `tsConfig.json` in the project root, which there almost always is, as it is th

[2019-06-10 13:14] jasedwards commented on #1416
My thinking is then that anybody using nx and ngrx is unable to update to v8 until nx no longer requires version 6.4 or rxjs.  Is this correct?

[2019-06-10 13:20] philjones88 commented on #1420
Still hitting the same issue?

[code]

[2019-06-10 13:31] Yantrio commented on #1420
Hey, I'm a co-worker of @philjones88 , I hit this too but also had a require stack printed out incase that helps

[code]

[2019-06-10 15:11] jonrimmer opened #1479 "Generated Cypress project will not run"
## Expected Behavior

If I use the `@nrwl/cypress:cypress-project` schematic to add Cypress to my workspace, the resulting Cypress project should work.

## Current Behavior

The resulting Cypress project does not work:

[code]

## Failure Information (for bugs)

Please help provide information about the failure if this is a bug. If it is not a bug, please remove the rest of this template.

### Ste

[2019-06-10 15:53] brianmcd commented on #1459
I'm seeing the same error (`Cannot find module '../run-schematic/executor`) when trying to `yarn update` from `8.0.1` -> `8.1.0`.

[2019-06-10 16:14] timdeschryver commented on #1416
Fyi, the NgRx team has made some changes that allows us to use RxJS v6.4
We'll probably cut a release soon, which should solve these issues 🙂
I'll drop a message where when we've released NgRx v8.0.1

[2019-06-10 18:38] timdeschryver commented on #1416
NgRx 8.0.1 has been released 🚀

[2019-06-11 02:12] jbeckton commented on #765
I get "Cannot read property 'architect' of undefined" when trying to convert a brand new angular project to nx workspace. My project was generated with the angular cli then I added Universal then tried to convert it to an nx workspace and it failed.

[2019-06-11 04:36] matheo commented on #1468
@jonr-elsewhen hmm, I will fix that, my old CLI project had only one tsconfig :+1:

[2019-06-11 08:56] Tomek6789 commented on #933
You need to run all the test when you change something from implicitDependencies. For example: package.json

[2019-06-11 09:09] stefan-karlsson opened #1480 "Feature: support Github package registry"
## Other

Github will soon release their package registry.
It would be awesome if the NX workspace would support publishing npm packages to that registry out of the box.

https://help.github.com/en/articles/about-github-package-registry

[2019-06-11 16:59] jasedwards opened #1481 "ng update fails on @angular/core with javascript out of memory"
_[Please make sure you have read the submission guidelines before posting an issue](https://github.com/nrwl/nx/blob/master/CONTRIBUTING.md#-submitting-issue)_

# Prerequisites

Please answer the following questions for yourself before submitting an issue.
**YOU MAY DELETE THE PREREQUISITES SECTION.**

- [ x] I am running the latest version
- [x ] I checked the documentation and found no answer
- [

[2019-06-11 17:30] zachnewburgh commented on #1093
@vsavkin Thanks for looking into this. Yes, but that's exactly what I was hoping to avoid. I was hoping to keep `@nx-issue/react-ui`, but map it to `libs/common/react-ui/src/index.ts`. Is there any way that that can be achieved?

[2019-06-11 18:01] FazioNico opened #1482 "Allow to serve multiple applications at once"
- [X] I am running the latest version
- [X] I checked the documentation and found no answer
- [X] I checked to make sure that this issue has not already been filed
- [X] I'm reporting the issue to the correct repository (not related to Angular, AngularCLI or any dependency)

## Expected Behavior

Not easy to work with backend + frontend together when backend is build as microservice.
And if you us

[2019-06-11 20:41] gperdomor commented on #1098
ping @FrozenPandaz @vsavkin

[2019-06-11 20:47] FrozenPandaz commented on #883
Hi all, thanks for your patience waiting for a response.

I bring good news though. :)
I've been experimenting creating a Cypress plugin which would use Webpack to preprocess files. This would allow importing from `tsconfig` paths. 🎉

[2019-06-11 20:48] FrozenPandaz commented on #1238
Closing this as a duplicate of https://github.com/nrwl/nx/issues/883

Please go there for updates regarding this issue.

[2019-06-11 20:48] #1238 closed

[2019-06-11 20:56] FrozenPandaz commented on #1482
Would you mind creating a repro for me to try? What is the exact error?

[2019-06-11 21:07] zachnewburgh opened #1484 "React: ts-loader configuration produces error"
# Prerequisites

- [x] I am running the latest version
- [x] I checked the documentation and found no answer
- [x] I checked to make sure that this issue has not already been filed
- [x] I'm reporting the issue to the correct repository (not related to Angular, AngularCLI or any dependency)

## Expected Behavior

[Redoc](https://github.com/Redocly/redoc)'s `RedocStandalone` should render API docum

[2019-06-11 21:32] FrozenPandaz commented on #1479
The issue is in `ng add @nrwl/workspace`. You can workaround the issue by adding `"rootDir": "."` to the root `tsconfig.json`.

[2019-06-11 22:44] FrozenPandaz commented on #1473
It would be great if you could open a PR to fix this issue 👍

[2019-06-12 05:58] ChristopheCuddlup commented on #526
Hi,

Got same issue this morning.
Being in ClientApp/src/app folder and entering

ends with the error

But using

works...

[2019-06-12 07:07] JochenDiekenbrock commented on #1459
@xmlking is using Mac OS and my report was from Linux, so I thought it might be a problem that does not occur on Windows. Yesterday, I gave the update a try on Windows. The same error occurs there as well.

[2019-06-12 09:11] Pace17881 commented on #837
@flugger
Our solution is to add the following line into each jest config per project.
`reporters: ["default", ["jest-junit", {outputDirectory: './coverage/apps/app1'}]]`

@vsavkin @FrozenPandaz @bcabanes
Maybe this is a possible solution for nx?

[2019-06-12 11:33] eugenotop commented on #1367
$ ng g @nrwl/angular:application client
? In which directory should the application be generated?
? Which stylesheet format would you like to use? SASS(.scss)  [ http://sass-lang.com   ]
? Would you like to configure routing for this application? Yes
? Which tags would you like to add to the application? (used for linting)
Cannot read property 'toString' of null

[2019-06-12 13:41] rwoody commented on #1110
This is also a problem for me in my CI environment. My CircleCI account has a 4gb memory limit, and my builds always fail. e2e fails only sometimes. I'm using the latest nx monorepo versions and cypress.

[2019-06-12 15:44] xmlking commented on #1480
would be great if we have builder for
[code]

[2019-06-12 20:36] nathanhokanson commented on #1409
Any ideas?  We are kinda stuck moving our project forward.

[2019-06-12 23:09] Cammisuli opened #1487 "Support for Stencil"
Now that Stencil has reached it's 1.0.0 milestone, what's the feasibility of adding support for Stencil as a schematic?

### Reasoning
Since Stencil is a compiler for creating web components I feel that support for it in a Nx Workspace is a great fit. These components could be libraries that have zero dependencies on any framework.

They're also great for publishing separately. Basically the best

[2019-06-12 23:24] ffdc-test-user commented on #602
any news about this? seems like a very basic use case

[2019-06-13 10:04] JoelBrice commented on #1459
I am having a similar problem.
cannot find  ./render3/view/t2_ap
 and './render3/view/t2_binder

[2019-06-13 11:24] jdavidhermoso opened #1488 "ng g c myComponentName not creating SCSS files but CSS"
Hi!

I am sorry for disturbing. I can't generate SCSS files using `ng g c myComponentName` command.

I know there were an issue opened related to that, but I could not make kit work following the same steps: [#158](https://github.com/nrwl/nx/issues/158)

I created a repo where it can be reproduced: https://github.com/jdavidhermoso/nx-not-generating-scss

These are the steps I followed:
1. Create w

[2019-06-13 13:55] MingC0re opened #1489 "How to deploy (dist) a project containing server, client, and common lib"
I know this isn't a bug, but I wasn't able to find documentation/examples on how to run the NX (client, server, lib) solution with only the dist.

# Prerequisites

Follow the example from NX website on setting up a server, client and lib

https://nx.dev/getting-started/what-is-nx
https://nx.dev/getting-started/getting-started

## Expected Behavior

Once the solution(s) are compiled in production,

[2019-06-13 14:09] odahcam commented on #1459
On Windows 10 (gitbash CLI), ng 7 (latest) to 8:

[code]

[2019-06-13 14:57] odahcam commented on #1459
I was able to accomplish the upgrade trought the following steps:

1. switched from Windows to Ubuntu, cause I have higher OS permissions on Ubuntu.
2. reverted any changes made after first upgrade try.
3. deleted `node_modules` and any yarn file.
4. switched from yarn to npm on pkg management inside ng CLI, do not delete `package-lock.json`.
5. `npm i && npm update`.
6. `npm run ng update @angula

[2019-06-13 15:46] FazioNico commented on #1482
I've create a simple basic project with very simple backend and frontend here [nx-issue1482](https://github.com/FazioNico/nx-issue1482)
I dont have create more than 5 project but the logic is there.

It will be nice to have a dev commande to serve multiple project from ./apps folder at once.

[2019-06-13 15:51] Josh-Hicks commented on #208
It seems like all these `@env/` examples reference a specific `default` app.  Is it possible to get the current app instead?  Or in other words, get the app that's currently invoking this lib.

[2019-06-13 16:03] lsenta commented on #1110
Passing by after fixing a similar issue: that could help someone, adding `"maxWorkers": 2` in my angular.json configuration fixed the issue (looks like a mix of circleci exposing a huge amount of RAM and CPU with `fork-ts-checker-webpack-plugin` trying to use them all).

[2019-06-13 17:25] pburkindine commented on #1139
@bcabanes @skydever any update here?

[2019-06-13 17:26] xmlking commented on #208
Create as many named  environments you need in root  tsconfig.json
Generally I will have one for each app in `/apps`
[code]

[2019-06-13 17:34] xmlking commented on #1487
Svelte is also an option for adding micro-apps

[2019-06-13 17:58] Josh-Hicks commented on #208
The problem is that the lib shouldn't have to reference just one app explicitly.  If I have 3 apps that all use the same lib, how will the lib know which environment to use?

[2019-06-13 19:22] xmlking commented on #208
@Josh-Hicks agree. may be we need a common `env` that is independent of all apps. `lib/shared/src/environments/environment.ts` ?
other idea: multiple configs merging at runtime from :
https://twitter.com/yurzui/status/1138816561848995841

[2019-06-13 20:11] Josh-Hicks commented on #208
Sounds like this specific problem may not be possible to solve.

// in lib
import {environment} from '...';  // <-- this is unknown at this point because it could be used in ANY app
const googleMapsParams: {
  myKey: environment.key  // <-- specific to the app that's using this lib
}
@NgModule({
  imports: [
    AgmCoreModule.forRoot(googleMapsParams) // <-- this needs an environment config
  ]})

[2019-06-13 20:15] tcoz commented on #208
You can solve it by dynamically returning a module from the lib module itself. I came up with this a little while ago so my lib would know not to import a module used to provide an in memory api. I will provide example shortly (not at my machine).

[2019-06-13 20:19] tcoz commented on #208
I wrote it up on my website actually, go here and select the dynamic modules article.

http://www.tcoz.com/newtcoz/#/errata

[2019-06-14 05:52] blomm commented on #151
I'm trying to do this also, but having no luck. In the main root project I use the lazy-wrapper method to lazy load my library which tries itself lazy loads modules, but the lib can't the modules its trying to lazy load.  Did you get a solution?

[2019-06-14 13:41] bahmutov commented on #883
Hey, I have described how to use TypeScript type aliases in Cypress tests in this blog post: https://glebbahmutov.com/blog/using-ts-aliases-in-cypress-tests/

Hint: you need to configure both webpack and tsconfig

[2019-06-14 13:52] markgoho commented on #883
Hey @bahmutov thanks for sharing this article. It's super awesome to see you popping into this repo to help out. 😍

I think this may help Jason out, but for the end user, it's pretty rare for us to alter the webpack config directly. I think (and I hope Jason agrees) we're all looking for Nx to solve this in a way that doesn't require us to eject from the Angular CLI.

[2019-06-14 14:48] FrozenPandaz commented on #1461
It seems like that fixed the issue. Let us know if you continue running into this issue.

[2019-06-14 14:48] #1461 closed

[2019-06-14 15:06] FrozenPandaz commented on #1185
This was done in https://github.com/nrwl/nx/commit/00b93fa98818befa4f8d7940ac3861b94fbb0a3f 🎉

[2019-06-14 15:06] #1185 closed

[2019-06-14 15:09] FrozenPandaz commented on #883
@bahmutov Can we simplify this for users by making a separate package under `@cypress` that sets up typescript through webpack?

Here's my PoC: https://github.com/FrozenPandaz/demos/commit/7f7ad5766a32f2220499fae511ce013b0d65456b#diff-be5a146c9304da3c97d343c015bb4287R23

[2019-06-14 15:11] bahmutov commented on #883
We are actually switching to Webpack internally soon https://github.com/cypress-io/cypress/pull/4103 - this would simplify things

[2019-06-14 15:12] sdurnov opened #1491 "Can't upgrade from nx 7 to nx 8 if tslint.json has comments or doesn't have rules directory section"
_[Please make sure you have read the submission guidelines before posting an issue](https://github.com/nrwl/nx/blob/master/CONTRIBUTING.md#-submitting-issue)_

## Expected Behavior

Upgrade should go fine regardless of tslint.json content

## Current Behavior

I'm getting an error during post-install phase:

if rulesDirectory is missing from tslint.json

if there are comments in tslint.json, it gi

[2019-06-14 15:16] FrozenPandaz commented on #883
That's absolutely fantastic! 🎉Let me try it locally.

[2019-06-14 15:29] juristr commented on #1110
Hey @vsavkin sorry, totally missed ur message and just saw it now. Sure, I might find some time to work on this next week. Meanwhile I'm gonna see whether I'm still reproducing the issue as I worked around it atm via the `NODE_OPTIONS` env variable.

That'd be great if you have some suggestions 👍

[2019-06-14 15:58] kylecannon commented on #1488
I am seeing the same issue too after the upgrade to v8

[2019-06-14 17:46] FrozenPandaz commented on #883
Works perfectly except it cannot resolve typescript paths. Left a comment to help address this https://github.com/cypress-io/cypress/pull/4103#issuecomment-502189714. This is super exciting!

[2019-06-14 18:06] FrozenPandaz commented on #883
Nevermind. Perhaps I misunderstood @bahmutov This is only for building `cypress`, not the runner? Is supporting loading TS planned somewhere?

[2019-06-15 14:33] iamkdev opened #1492 "Docs: Typo on Getting Started Docs"
# Prerequisites

Please answer the following questions for yourself before submitting an issue.
**YOU MAY DELETE THE PREREQUISITES SECTION.**

- [ ] I am running the latest version
- [ ] I checked the documentation and found no answer
- [x] I checked to make sure that this issue has not already been filed
- [x] I'm reporting the issue to the correct repository (not related to Angular, AngularCLI o

[2019-06-15 22:35] #1462 closed

[2019-06-15 23:16] #1481 closed

[2019-06-15 23:16] #1473 closed

[2019-06-15 23:25] #1191 closed

[2019-06-16 15:54] FrozenPandaz commented on #1420
@philjones88 @Yantrio

Sorry, I forgot to mention you still need a compatible version of `@angular/cli`.

[code]

Please let me know if this works.

[2019-06-17 09:23] ibenjelloun opened #1495 "Missing source-map-support dependency when building node app for production"
## Expected Behavior

Running a node app build with only the production dependencies should success.

## Current Behavior

When running a node app build after an `npm install --production`, the start fails.

### Context

- version of Nx used : 7.8.6
- version of Angular CLI used : 7.3.1
- `angular.json` configuration : default
- version of Angular DevKit used : ~0.13.0

### Reproduction steps:

1.

[2019-06-17 11:28] philjones88 commented on #1420
@FrozenPandaz we managed to muddle through an nrwl 6 to 8 update but it errors on our other project going from 7.7.0 to latest

[code]

[2019-06-17 14:22] alexanderPastornicky opened #1496 "upgrade to ngrx 8"
_[Please make sure you have read the submission guidelines before posting an issue](https://github.com/nrwl/nx/blob/master/CONTRIBUTING.md#-submitting-issue)_

# Prerequisites

Please answer the following questions for yourself before submitting an issue.
**YOU MAY DELETE THE PREREQUISITES SECTION.**

- [x] I am running the latest version
- [x] I checked the documentation and found no answer
- [x]

[2019-06-17 18:11] MarkPieszak opened #1497 "npx create-nx-workspace@latest installing previous 7.x version"
## Expected Behavior

Creating new workspace via `npx create-nx-workspace@latest some_project` to install latest `v8.1.0` Nx workspace.

## Current Behavior

Installs 7.8.6
https://github.com/nrwl/nx/releases

7.8.9 Tagged `@latest` in releases

## Failure Information (for bugs)

Please help provide information about the failure if this is a bug. If it is not a bug, please remove the rest of this

[2019-06-18 05:28] joelmuskwe commented on #1276
Any luck with this when i add cypress-cucumber-preprocessor i get the attached error.
<img width="1680" alt="Screenshot 2019-06-18 at 07 14 37" src="https://user-images.githubusercontent.com/5989937/59655355-4cbda980-919a-11e9-9aec-cb318dc8dc7e.png">

I dont know how possible is it to allow the following [`](https://docs.cypress.io/guides/tooling/typescript-support.html#Transpiling-TypeScript-test

[2019-06-18 09:56] philjones88 commented on #1420
log after trying again with the latest 7.8.7 and 8.1.2 releases

[code]

[2019-06-18 10:27] SWGeekPD opened #1498 "Nrwl/Nx workspace with Test framework option - Don't want Jest and Cypress."
When I am creating Nx workspace for angular application it is taking Jest as a test runner and Cypress for e2e testing.
I don't want to use Cypress and Jest . How can I have any other test framework in workspace.
Do we have any command to choose test framework while creating workspace.
Please suggest.

[2019-06-18 10:56] tomwhite007 opened #1499 "New Workspace + add Angular = Could not find module "@nrwl/workspace""
## Expected Behavior

Creating new workspace via **npm**, add Angular tooling, and generate Angular app should use latest version and not crash.

This relates to [ticket #1497](https://github.com/nrwl/nx/issues/1497), but is not the same

## Current Behavior

Crashes at end of ```ng add @nrwl/angular```

## Failure Information

...error received during ```ng add @nrwl/angular``` install:
[code]

#

[2019-06-18 11:28] servrox commented on #1499
same problem, when running `tslint`:
` Could not find custom rule directory: node_modules/@nrwl/workspace/src/tslint`

I updated from `"@nrwl/nx": "7.8.6"` to `"@nrwl/nx": "7.8.7"`.

[2019-06-18 13:02] FrozenPandaz commented on #1499
Please use `npm init nx-workspace@latest myworkspace` to make sure you get the latest version.

[2019-06-18 13:05] FrozenPandaz commented on #1498
There is no command but you can do it 2 steps:

[code]

[2019-06-18 13:05] #1498 closed

[2019-06-18 13:07] FrozenPandaz commented on #1497
Thanks @MarkPieszak. A later version (`8.1.2`) has been published which is the same as `8.1.0`

[2019-06-18 13:07] #1497 closed

[2019-06-18 13:11] FrozenPandaz commented on #1495
A fix is available in `8.0.0`. You can update with `yarn update`.

[2019-06-18 13:11] #1495 closed

[2019-06-18 13:13] FrozenPandaz commented on #1492
Thanks for the report! This will be fixed next time we publish the site.

[2019-06-18 13:13] #1492 closed

[2019-06-18 13:58] alfaproject opened #1500 "VSCode TSLint official plugin not working"
## Expected Behavior

Linting works in VSCode using the official TSLint plugin: [ms-vscode.vscode-typescript-tslint-plugin](https://marketplace.visualstudio.com/items?itemName=ms-vscode.vscode-typescript-tslint-plugin)

## Current Behavior

Linting is not working in VSCode using the official TSLint plugin.

## Failure Information (for bugs)

Checking TS Server logs in VSCode I get this trace:
[cod

[2019-06-18 14:39] Bielik20 commented on #208
I have stumbled upon this issue some time ago. In my case I have multiple frontend apps (web and ionic) sharing the same config, and multiple backend apps (node/express and firebase functions) sharing the same config. After giving it some though I have decided on a solution that would employ `angular.cli`.

1. Remove `environments` folder from each app.
2. In the root create:
   * environments

[2019-06-18 16:57] henning96 opened #1501 "Support any usual Angular CLI monorepo directory structure"
Hello guys,

thanks for this great piece of software. It's definitely the missing functionality for the Angular CLI. Therefore we would really like to use it.
But, we have one big issue with the migration.
You're heavily depending on a custom directory structure that differs from what the Angular CLI uses. In Angular CLI monorepos there is always one directory for apps and libs (instead of two) wi

[2019-06-18 16:58] heapifyman commented on #1420
Same problem here but with npm and update from 7.8.5 to 8.1.2:
`Cannot find module 'inquirer'`

Why does it say: `  Updating @angular/core to 8.0.0` when @angular/core was already at version `8.0.1`?

Why does running `ng update` after `ng update @nrwl/schematics` still report `@nrwl/angular                      8.0.0 -> 8.1.2` when it actually had been updated already to 8.1.2?

[code]

[2019-06-18 17:02] vsavkin commented on #1489
Hi there,

Deploying is very env specific and depends where you are deploying the code too. For instance, if you are serving the frontend code using the server you author in the same repo, you could copy `dist/apps/client` into `dist/apps/server` and then push that to say Azure cloud.

More likely, though, you will deploy your client and server code separately. The `dist/apps/client` will probably

[2019-06-18 17:02] #1489 closed

[2019-06-18 17:21] vsavkin commented on #1110
@juristr

Currently, we can invoke commands (say `affected:build`) serially or in parallel.

When we invoke things serially, we directly invoke "ng". And we use spawnChild to do that.
When we invoke things in parallel, we use `npm run all` that invokes the ng npm script.

The options I see are like this:
- Change the serial invocation to use the ng npm script as well instead of invoking ng directl

[2019-06-18 17:25] vsavkin commented on #1110
Folks, as a temporary workaround you can do the following.

In your package.json, update the ng script to set the max heap size:

[code]

And then run:

[code]

[2019-06-18 17:26] vsavkin commented on #1477
There is no technical reason why we only allow for a single scope.

[2019-06-18 17:45] MingC0re commented on #1489
Thanks for the reply.  For my specific use case I'd like to deploy both server and client as a single app with the uses of http-server, lite-server, or any other that you'd recommend.

As per the recommendation, I copied the content of client into ./dist/apps/server.  This resulted in conflicting files that had to be overridden (main.js, main.js.map, and stats.json).  This probably isn't the corre

[2019-06-18 17:51] MarkPieszak commented on #1497
Awesome yeah spoke with Victor yesterday - forgot to close this out!

[2019-06-18 18:36] vsavkin commented on #1098
As Jason mentioned the `@nrwl/node:execute` and `@nrwl/jest:jest` targets should be sufficient to implement an e2e test project.

Run:

[code]

Next, rename the test target in the api-e2e project into e2e, and write tests using say supertest.

Having said that, I think it is a good idea to generate an e2e test project for both express and nest apps. Could anyone write a proposal of what it will lo

[2019-06-18 18:40] vsavkin commented on #1093
Unfortunately, currently it is not supported. We were thinking about using path mappings when resolving the dependency graph, which would have made this possible. We decided to delay this until we add support for bazel. Bazel generates the path mappings, so we want to make sure that whatever we do is bazel compatible.

[2019-06-18 18:42] zachnewburgh commented on #1093
@vsavkin Good to know. Thanks for giving this a look!

[2019-06-18 18:48] vsavkin commented on #933
@Tomek6789  You are right that launching an instance of chrome is slow. There are two ways to make it faster:
- Use chrome headless
- Use Jest (the startup time for Jest is a tiny fraction of the startup time for Karma)
- You should also use: yarn affected:test --parallel

We cannot reuse the same karma instance to run tests for several projects for the following reason: the execution of a project

[2019-06-18 18:48] #933 closed

[2019-06-18 19:01] vsavkin commented on #1487
I'm a big fan of both Stencil and Svelte.

We made Nx 8 plugable. Instead of having a single @nrwl/schematics, we have @nrwl/react, @nrwl/angular etc. So the foundations are in place. Nx can support Stencil just as well it supports Angular.

So I'm happy to see this support implemented but  I don't think we should add support for stencil or svelte into the Nx repo.

Instead of `@nrwl/stencil` I wo

[2019-06-18 19:01] #1487 closed

[2019-06-18 19:13] FrozenPandaz commented on #1491
This was fixed with https://github.com/nrwl/nx/commit/1748ac9e9c1d133b0848eca4aeccbd8f2e91321d.

It will be in the next release :)

[2019-06-18 19:13] #1491 closed

[2019-06-18 19:44] sdurnov commented on #1491
@FrozenPandaz as far as I see, this commit fixes only comments issue, but not rulesDirectory issue.

[2019-06-18 22:13] AnatoleLucet opened #1502 "Workspace creation failed, EACCES: permission denied, mkdir '/home/mint/.cache/Cypress'"
Hello,

I am having some trouble while creating a workspace with `yarn create nx-workspace <app_name>`.

- [x] I am running the latest version
- [x] I checked the documentation and found no answer
- [x] I checked to make sure that this issue has not already been filed
- [x] I'm reporting the issue to the correct repository (not related to Angular, AngularCLI or any dependency)

## Expected Behavio

[2019-06-19 06:44] SWGeekPD commented on #1498
This doesn't solve the problem.
1. npx create-nx-workspace@latest my-proj
executing above command create a worspace and the App inside the workspace with all the Jest configuration.
And it is not prompting for any test framework selection.

[2019-06-19 07:08] SWGeekPD opened #1503 "NrWl/Nx how to configure Libs to have different CSS for different application inside workspace."
I have generated 2 apps (app1,app2) inside workspace. I also created 1 lib called loginPage.

I want a different css of controls inside libs for my app1 and app2.
If i define css inside libs component than the same will be loaded for app1 and app2.

How can the same lib have the different css for app1 and app2.

Please suggest.

[2019-06-19 07:52] tomwhite007 commented on #1499
@FrozenPandaz , thanks very much. That worked a treat. I'll use that for now.

Technically however, this is still a bug - as all your docs don't mention `@latest`. Would you mind leaving this issue open, so that I can remain subscribed and know when it has been patched?

[2019-06-19 09:34] AnatoleLucet commented on #1502
**Edit :** This issue is not really coming from `yarn create nx-workspace`, it came from `yarn ng add @nrwl/react`. So i can create a workspace but i can't add `@nrwl/react` to it.

[2019-06-19 11:34] elvirdolic commented on #1110
On Windows it only works with:

` "ng": "node --max_old_space_size=8000 ./node_modules/@angular/cli/bin/ng",`

[2019-06-19 12:38] elvirdolic commented on #1110
@vsavkin

[code]

[2019-06-19 17:29] tcoz opened #1504 "Default Collection is Angular, ng commands not working as expected"
Installed /cli@latest, created an Angular CLI project:

ng new myNewProject

Added NX extensions:

ng add @nrwl/schematics

(note that if you aren't using the latest CLI, this doesn't work, but ok on that).

Checked package.json, angular is default collection:

  "cli": {
    "defaultCollection": "@nrwl/angular"
  }

Ran ng g app myApp --directory=components

Reported error, "directory" is unknown

[2019-06-19 23:06] vsavkin commented on #1504
Unfortunately I cannot reproduce it. In my case, the default collection isn't set. Could you provide a repro?

[2019-06-19 23:08] vsavkin commented on #1502
@AnatoleLucet the issue is with installing cypress. Are you able to do:

[code]

[2019-06-19 23:11] vsavkin commented on #1139
@FrozenPandaz Hey Jason. Since you are making updates to the cypress setup, could you also take a look a this issue?

[2019-06-19 23:18] vsavkin commented on #1482
@FazioNico the best option would be to define a custom target that serves a collection of microservices together. You can do it as follows in your `angular.json`:

[code]

[2019-06-19 23:18] #1482 closed

[2019-06-19 23:24] vsavkin commented on #1488
Since we moved all the angular functionality into `@nrwl/angular`, you need to change the collection.

So instead of

[code]

You need to do

[code]

[2019-06-19 23:25] vsavkin commented on #1488
@FrozenPandaz maybe we can update our migration to print a warning about `@nrwl/schematics` defaults in `angular.json`?

[2019-06-19 23:36] vsavkin commented on #1472
Thank you! We would really want to make this happen, but unfortunately we don't have the bandwidth to do it right now. If you are interested in championing it, we will help!

[2019-06-19 23:41] vsavkin commented on #1448
@psumal  It looks like an issue with the angular compiler itself. Can you reproduce this issue in a regular CLI project?

[2019-06-19 23:43] vsavkin commented on #633
@gperdomor sorry, haven't written it yet.

[2019-06-19 23:47] vsavkin commented on #1430
Currently, the node builder bundles the node application for you. Bundling speeds up the node application startup time (quite significantly). You can author a simple builder that compiles TS and use it instead.

Something like that:

[code]

[2019-06-19 23:47] #1430 closed

[2019-06-19 23:57] vsavkin commented on #1432
Sorry about it. The bazel support was experimental. We are hoping to make it properly supported by Nx 9, which should be released in Oct/Nov 2019.

[2019-06-20 01:31] ZachJW34 commented on #1464
I recently finished writing unit tests for some custom schematics that we have at our organization. Have you tried extending `@nrwl/schematics` inside your `collection.json`?

[2019-06-20 06:36] EvtK commented on #1464
Hi ZachJW34, thanks for checking in. Yes I am extending the ``@nrwl/schematics` inside the `collection.json`.

This is my collection.json:

[code]

do you perhaps see anything misconfigured here?

[2019-06-20 07:33] AnatoleLucet commented on #1502
@vsavkin it seems like I am having the same issue. I will go open an issue on the Cypress's repo.

[2019-06-20 07:47] #1502 closed

[2019-06-20 08:38] EvtK commented on #1464
I think the problem lies in the fact that I'm chaining on `@nrwl/schematics` in the actual schematic:

[code]
But it seems I'm not doing anything wrong here, since the actual schematic behaves normally. It only runs in errors, when firing the unit test.

[2019-06-20 11:10] ardentia commented on #602
Can we expect an official fix for this?

[2019-06-20 12:56] tcoz commented on #1488
Thank you for this one, I noticed it as well, wasn't sure if it was something I was doing wrong.

[2019-06-20 13:19] jeneg commented on #1178
Hi, @matheo did you add this 'polyfill' to every `test-setup.ts` file where used or there is a way to make it global for workspace?

[2019-06-20 13:38] tcoz commented on #1504
Unfortunately no, when I attempt to repro now the @nrwl install terminates with Cannot find 'architect' of undefined error.

Console:

[code]

[2019-06-20 14:06] Artvic opened #1506 "Troubles setting up vs code debugger for Jest"
I'm trying to configure the vsCode debugger to debug my jest unit tests. I followed the Nrwl blog post (https://blog.nrwl.io/debugging-nx-in-vs-code-cb1dbe9eeeba) and i can't get it to work.
In fact, after setting up my lunch.json as follows:

[code]
the debugger starts and immediately outputs an error:
[code]

Am I doing something wrong?

[2019-06-20 14:09] tcoz commented on #1504
Here's what I'm seeing:

- Install Angular CLI (using fresh install of 8.0.3)
- ng new test-default
- ng add @nrwl/workspace
- ng g app my-mod --directory=widgets

Unknown option: '--directory'

It's already an angular project, so one may expect ng to work normally even after installing the workspace package, but I looked in the angular.json and the default collection wasn't set:

`  "defaultProje

[2019-06-20 14:37] vsavkin opened #1507 "Warn about using --all"
Many developers use `affected:*` commands with `--all`. It's a convenient way to start with a small repo, but it's almost always the wrong thing to do.

We need to print a warning message saying that `--all` should not be used in CI or for any large project

[2019-06-20 14:41] vsavkin commented on #1256
Closing this issue because we released Nx 8 with the repackaging.

This is a guide outlining how to move from Nx 7 to Nx 8.
https://nx.dev/guides/nx7-to-nx8

[2019-06-20 14:41] #1256 closed

[2019-06-20 14:48] alfaproject commented on #1507
Actually, we use `--all` to run all tests in the `master` branch. It also allows us to use a docker image without git in that scenario. (;

If you have custom builders like we have, it also allows you to run custom builders for all projects (depends on what they do exactly, obviously)

[2019-06-20 15:10] matheo commented on #1178
@jeneg exactly, I have my own `@myproject/testing` library with some polyfills and I just imported them in one line next to the `jest-preset-angular` import.

[2019-06-20 20:39] brassfiddle3 commented on #1016
I encountered this issue without realizing that the --routing option was the problem and, unfortunately, Google searches such as "ng generate app not working in Nx monorepo" and "ng generate app fails to output" did not land me here until a colleague happened to select "no" for routing and the generate worked.  I encountered the problem with the following:

 @nrwl/nx": "7.6.2"
 @nrwl/builders": "7

[2019-06-20 21:04] ZachJW34 commented on #1464
We also chain off of the application schematic. I see that your `collection.json` does not have the `schematic` property but I think that was a typo. Can you try adding a beforeEach similar to below?
[code]

[2019-06-20 22:54] jcvalerio opened #1509 "React build output is not working when you use aws-amplify-react"
# Prerequisites

- [ X] I am running the latest version
- [ X] I checked the documentation and found no answer
- [ X] I checked to make sure that this issue has not already been filed
- [ X] I'm reporting the issue to the correct repository (not related to Angular, AngularCLI or any dependency)

## Expected Behavior

The output artifacts work without any issue

## Current Behavior

When you publis

[2019-06-20 23:28] stewwan commented on #602
going through the same =/

[2019-06-21 09:15] Zyzle commented on #995
Another use case for this I've come across myself is importing of webassembly `.wasm` files, without the ability to edit the webpack rules it seems like it's not possible to use these right now?

[2019-06-21 11:25] AnatoleLucet opened #1510 "Babel and React ? Or maybe react-create-app's support ?"
Hello,
so is there any way to add a Babel support in a React application ?
I have thought about some way to do it, like for example building the React app with a separate process and put the static files in a `@nrwl/web:application` but I think this is not really viable.
Or maybe i can use something like [Angular-builders's custom-webpack](https://github.com/meltedspark/angular-builders/tree/maste

[2019-06-21 13:38] vsavkin opened #1511 "Nx 9 Plans"
Nx 7 to Nx 8 was a big release:
- We added support for Web Components, React, Nest, Cypress, etc
- We restructured the packages and made Nx pluggable
- We launched [nx.dev](https://nx.dev)

Nx 9 is building upon this, making it a truly generic tool for modern web development.

## Generic Tool

Nx 8 is a generic development tool, which comes with Angular, React, Web, Express, Nest plugins. You can

[2019-06-21 14:15] vsavkin commented on #1026
Unfortunately, I cannot reproduce it.

Could you point to a repository with a min reproduction?

[2019-06-21 14:18] vsavkin commented on #1394
Cool. I'm going to close this issue then.

[2019-06-21 14:18] #1394 closed

[2019-06-21 14:27] perjerz3434 commented on #1511
Is there any plan for supporting GraphQL Apollo?

[2019-06-21 19:43] FrozenPandaz commented on #1510
You can extend/change the webpack configuration in our build process to whatever you like :)

@jaysoo Can you post your webpack config to load typescript with babel since you've done this before?

@AnatoleLucet What transforms you need from babel that is not supported with the current default setup? Is it a particular library?

[2019-06-21 20:39] FrozenPandaz commented on #1509
You can do this by polyfilling node via webpack:

Create `apps/frontend/webpack.config.js`
[code]

Add to `angular.json`:
[code]

I'm guessing this is the expected result:
![image](https://user-images.githubusercontent.com/8104246/59950149-135b9700-9443-11e9-8b4a-53344d11ad59.png)

Let me know if this works for you.

[2019-06-21 21:26] AnatoleLucet commented on #1510
@FrozenPandaz Thank you for your answer. Can you give me more informations on how to *extend/change the webpack configuration in your build process* ?

Actually I don't really know but I pretty much always need to add some babel plugins (for exemple [@babel/plugin-syntax-dynamic-import](https://www.npmjs.com/package/@babel/plugin-syntax-dynamic-import)), and sometimes modify my webpack config for

[2019-06-21 22:03] FrozenPandaz commented on #1510
Yes, that response details the option which you are looking for to extend/change the webpack configuration.

@jaysoo Has done this before and can probably share his configuration.

Basically, I imagine you would do something like the following:
[code]

If you find a solution which works please share it as well 😄

[2019-06-21 22:15] #1479 closed

[2019-06-21 22:17] AnatoleLucet commented on #1510
@FrozenPandaz That seems nice. I will go try this out in the next two hours and let you know how my webpack config ended. Thank you again.

[2019-06-21 22:40] vsavkin commented on #1416
It looks like NgRx 8.0.1 works with RxJS 6.4, so no changes to Nx required at this moment.

If anyone is able to create a small Nx 7 project that cannot be upgraded to Nx 8, could you share it? I'm not able to repro the issue.

[2019-06-21 22:48] vsavkin commented on #1507
@alfaproject we aren't removing the option, so you could still use it. For most use cases, however, it is problematic:

- It makes CI slower
- It couples unrelated projects together. So changing one can break other projects in CI. Say you have project1 and project2. You make a change to project1, and suddenly a flaky test in project2 fails. This isn't the best dev experience, and is the main reaso

[2019-06-21 22:48] vsavkin commented on #1507
Closed here: https://github.com/nrwl/nx/commit/815a3b5595e35ffff282e536d7cabfb1f9a73ebf

[2019-06-21 22:48] #1507 closed

[2019-06-21 23:07] vsavkin commented on #1077
Right, I think the simplest thing to make it work is to add the following:

[code]

`affected:*` command topologically sorts all the projects, so it will always build library-a before library-b.

[2019-06-21 23:47] AnatoleLucet commented on #1510
Ok so, here is the final setup :

1. Install babel and webpack : `yarn add -D babel-loader @babel/core @babel/preset-env webpack`
2. You also need to install [circular-dependency-plugin](https://yarnpkg.com/fr/package/circular-dependency-plugin), if not you will have an error because it seems like babel need it : `yarn add -D circular-dependency-plugin`
3. Create a `webpack.config.js` in your appl

[2019-06-21 23:53] AnatoleLucet commented on #1510
@FrozenPandaz Lastly do you think it can be a good idea to create a `@nrwl/react-create-app` to add a more complex react apps support ? If yes I think I will go try to contribute and do it !

[2019-06-22 08:20] tencho12 commented on #1029
downgrading is not working. is there any other alternative?

[2019-06-22 11:24] jasedwards commented on #1416
@vsavkin I was able to get it to work completely once NgRx 8.0.1 came out.  I just have rxjs hard coded to 6.4.  Is there an issue I can follow in nx to know when 6.4 will no longer be necessary?

[2019-06-22 12:06] ramarivera commented on #1465
Hi, is there any progress on this, or at least a temporal fix?

[2019-06-22 14:21] alfaproject commented on #1507
Yes, we do that for all non master branches, but in master we always run all tests, so that's where we use this option.

[2019-06-22 17:51] oacs commented on #1511
Is there any plan for supporting Ngxs?

[2019-06-23 08:56] appsolutegeek opened #1515 "Example repos that embrace the book "Enterprise Angular Monorepo Patterns" by nrwl"
- [x] I am running the latest version
- [x] I checked the documentation and found no answer
- [x] I checked to make sure that this issue has not already been filed
- [x] I'm reporting the issue to the correct repository (not related to Angular, AngularCLI or any dependency)

I have been reading the Enterprise Angular Monorepo patterns, and although its be a great journey - I still have many questi

[2019-06-23 09:08] appsolutegeek commented on #1515
For example, the main layout (app.component) - should we still be using this in the main app or should it be pulled out into a feature ?

Or should it in fact be part of the lib/shared ?

[2019-06-23 21:48] vsavkin commented on #1511
@perjerz3434 yes to Apollo. We use apollo for many internal projects, and with clients, so we are planning to add @nrwl/apollo.

[2019-06-24 03:27] ramarivera commented on #1465
I had to create a NX workspace from scratch, and try and merge the files from the two projects.

[2019-06-24 05:32] jdavidhermoso commented on #1488
Thanks, @vsavkin :)

[2019-06-24 05:32] #1488 closed

[2019-06-24 09:07] TheAifam5 commented on #1381
@vsavkin 	you can use also `concurrently "npm:start-api-*"`

and make some tasks like:
`start-api-auth`, `start-api-clients`, `start-api-employees` etc...

[2019-06-24 12:56] Mathyn commented on #1206
Any updates on this? I want to run the e2e tests in a Docker container with a pre build Angular project and e2e project (both copied into the Docker image). However I would need to be able to build the e2e project without actually running the tests.

[2019-06-24 13:02] iangregsondev opened #1518 "nestjs externaldependencies: none and distributing node_modules ?"
- [x] I am running the latest version
- [x] I checked the documentation and found no answer
- [x] I checked to make sure that this issue has not already been filed
- [x] I'm reporting the issue to the correct repository (not related to Angular, AngularCLI or any dependency)

## Expected Behavior

I have my nx workspace now with quite a few apps. 2 x angular and 3 x nestjs (1 api and 2 x micrososer

[2019-06-24 16:12] #883 closed

[2019-06-24 22:14] FazioNico commented on #1482
@vsavkin thanks for this solution. It work find 😉

[2019-06-25 06:00] githendrik commented on #1465
We have the same issue on an up-to-date angular8 project created by the ng-cli. Any support on this?

[2019-06-25 06:31] paesku commented on #883
@vsavkin @FrozenPandaz thank you so much <3

[2019-06-25 09:34] danieldanielecki commented on #164
@YvesCandel as @servrox made a showcase you can make it, and I was able to reproduce it in my project too. However, in SSR paths must be **relative**, making it from @libs/any other path won't work and I had exactly the same problem.

Doesn't work:
`import { SharedModule } from @libs/shared/src/index';`

Does work:
`import { SharedModule } from './../../../../libs/shared/src/index';`

Plus then yo

[2019-06-25 10:28] arnaudpourbaix opened #1520 "Dep graph should use path mappings"
# Prerequisites

Using version 8.1.2
I am using directories to organize my apps and libs.

Consider this simple project named `myapp` (package name)
Let's add 2 libraries:
[code]

tsconfig will looks like:
[code]

lib1 package.json:
[code]

angular.json:
[code]

nx.json:
[code]

At this point, you can create a dependancy between lib1 and lib2 (by using some imports) and dep graph will be good.

Bu

[2019-06-25 16:32] nkwood commented on #836
If anyone is using firebase in a nx managed monorepo, you should be aware of this behavior: https://github.com/firebase/firebase-js-sdk/issues/1696#issuecomment-501546596

[2019-06-25 21:13] zachnewburgh opened #1521 "React: Unknown option: '--publishable'"
# Prerequisites

- [x] I am running the latest version
- [x] I checked the documentation and found no answer
- [x] I checked to make sure that this issue has not already been filed
- [x] I'm reporting the issue to the correct repository (not related to Angular, AngularCLI or any dependency)

## Expected Behavior

When `--publishable` is appended to the React library-generation schematic, a publish

[2019-06-26 03:59] studds opened #1523 "Serverless (via AWS SAM) support?"
Hello there

Love nx, very brilliant.

We're a serverless shop, using [AWS SAM ](https://aws.amazon.com/serverless/sam/). Would you consider a PR adding schematics for serverless? Or is it better to do it as an independent lib?

Cheers

Daniel

[2019-06-26 08:54] appsolutegeek opened #1524 "passing --prod to ng cli for nestjs - builds but INCLUDES sourcemaps"
- [x] I am running the latest version
- [x] I checked the documentation and found no answer
- [x] I checked to make sure that this issue has not already been filed
- [x] I'm reporting the issue to the correct repository (not related to Angular, AngularCLI or any dependency)

## Expected Behavior

When running

ng build --prod

fro a nestjs project, the sourcemaps are still produced.

--prod should

[2019-06-26 12:21] jasedwards opened #1525 "on migration angular.json not updated for proper schematics"
_[Please make sure you have read the submission guidelines before posting an issue](https://github.com/nrwl/nx/blob/master/CONTRIBUTING.md#-submitting-issue)_

# Prerequisites

Please answer the following questions for yourself before submitting an issue.
**YOU MAY DELETE THE PREREQUISITES SECTION.**

- [x ] I am running the latest version
- [ x] I checked the documentation and found no answer
- [

[2019-06-26 16:03] Jordan-Hall commented on #1511
Moving into version 9 can we removed the Jest dependency in ```@nrwl/node```

[2019-06-27 06:26] vinayakpatil opened #1527 "Unknown jest option: '--findRelatedTests'"
- [x] I am running the latest version
- [x] I checked the documentation and found no answer
- [x] I checked to make sure that this issue has not already been filed
- [x] I'm reporting the issue to the correct repository (not related to Angular, AngularCLI or any dependency)

## Expected Behavior
findRelatedTests option should be available for jest

[2019-06-27 12:37] jostendorf commented on #1256
Is there a way to exclude cypress from creating a react application?  I've tried creating an empty workspace as shown above, but when I add a react application is adds the cypress library by default.

[2019-06-27 13:56] jcvalerio commented on #1509
Thanks, @FrozenPandaz that works  :+1:

Would be great to have that in the documentation, or maybe scaffolding the basic configuration, because at the end of the day many of us are going to need to add some polyfill

Thanks again

[2019-06-27 13:56] #1509 closed

[2019-06-27 14:22] AltarBeastiful commented on #816
Could you show us how you did separate cypress and your main project ?
Thinking about this too as there seems to be no other solution to have code completion in both cypress and unit tests.

[2019-06-27 14:26] kauppfbi commented on #1257
Hi @allout58,

do you have any update on this issue?
I recently updated my dependencies and have the same behaviour now.

[2019-06-27 14:45] sanidz commented on #816
There is also one more "workaround", just add empty import statement inside .spec.ts file like this:

import { } from 'jasmine';

and methods such as .toHaveBeenCalled, .toBeTruthy and all jasmine.Matchers should be recognised.

🔨

[2019-06-27 15:11] AltarBeastiful commented on #816
Still get errors using the empty import.

The only time vscode picks up correctly jasmine is when I uninstall cypress package.
I'm considering splitting the projects, but the added complexity is pretty annoying for us.

[2019-06-27 18:37] Destreyf commented on #1503
@SWGeekPD The easiest way i can think of is to use some sort of variable/management system and reference those variables inside the main styles.less/scss file inside of each application.

For example, i am using a theme/library called Nebular, i create a generic theme library, but then i extend it and init it separately in my different apps, this allows customization per app with a solid base them

[2019-06-27 18:54] allout58 commented on #1257
@kauppfbi I was able to work around the issue by specifying the fixtures folder similar to the other properties in `cypress.json` (so `"fixturesFolder": "../../dist/out-tsc/apps/fil-e2e/fixtures"` rather than `"fixturesFolder": "./src/fixtures"`).

[2019-06-27 20:10] krokofant commented on #816
@AltarBeastiful I excluded the cypress folder from the root tsconfig.json file and that fixed it for me

[2019-06-27 20:58] FrozenPandaz commented on #1527
This is a good first issue if somebody would like to work on it.

[2019-06-27 21:02] FrozenPandaz commented on #1524
I think `source-maps` are desirable for a production backend application so that you can trace errors to the source code location. I also think it's rare to have the application code for your backend be available. You can turn sourcemaps off if you'd like though.

[2019-06-27 21:10] FrozenPandaz commented on #1521
We don't have a `build` defined for non-Angular libraries yet but would definitely like to have one in the future. Are there tools that will compile to `es5`, `es2015`, and `umd`? `ng-packagr` is probably overkill. @jaysoo will have a better idea here.

[2019-06-27 21:22] zachnewburgh commented on #1521
@FrozenPandaz Thanks for the reply. Glad to hear that this is of interest to add in the future.

Regarding tools, `rollup` is among those used. If it's helpful, [here's](https://www.pluralsight.com/guides/react-typescript-module-create) a tutorial on its use.

In the meantime, is it possible to provide build instructions to a React lib, so that I can configure the packaging? (I imagine using archi

[2019-06-27 21:35] FrozenPandaz commented on #1510
@AnatoleLucet That's fantastic! I imagine we could export something like `@nrwl/react/plugins/babel` which would be a function like the one you've written so that not everybody has to do the same. I haven't used babel extensively but it seems like it overlaps with Typescript quite often. I'll defer to @jaysoo he was also keen on adding this as well.

[2019-06-27 21:48] FrozenPandaz commented on #1521
Yeah, I imagine tsc + rollup would do the job.

Sure, you can use `@nrwl/workspace:run-commands` to execute a shell script.

[2019-06-27 21:49] AnatoleLucet commented on #1510
@FrozenPandaz Great ! I think creating a webpack config may not be enough. React create app needs to be started with node, for exemple [here is the `start` script](https://github.com/facebook/create-react-app/blob/master/packages/react-scripts/scripts/start.js) which start the app on a dev server.

I will open a new issue to speak about more details.

[2019-06-27 22:29] source-transformer opened #1531 "TypeScript Line Numbers From Unit Tests Fail to Use sourceMaps"
## Expected Behavior

When "ng test" is used and either an uncaught error or console.log occurs outside of a test file (exp: in a component file) - the line numbers do not use sourceMaps

## Current Behavior

The line number of uncaught errors and console logs are a hundred or more lines off.

## Failure Information (for bugs)

It looks like "ng test" isn't loading source map files.

### Steps to

[2019-06-28 05:49] kauppfbi commented on #1257
@allout58, it just worked.
I'm wondering, why it worked before and why it was not configured like that before.

I think, the issue can be closed.

[2019-06-28 09:58] AltarBeastiful commented on #816
Adding an exclude works, in my root tsconfig.json I have:
[code]

Thanks ! I'll open a PR to cypress doc to document this.

[2019-06-28 12:03] jerryorta-dev opened #1532 "@nrwl/nx v8.2.0 not in the NPM registry"
The latest @nrwl/nx package I see in the npm is 7.8.7. Are the stable 8.x versions supposed to be published in NPM yet?

[2019-06-28 13:15] jaysoo commented on #1510
@AnatoleLucet @FrozenPandaz The plugin approach to swap in babel works if the developers need to use babel plugins or presets.

CRA does more than just webpack + babel, so it'd be good if you list out feature requests that we can look into our `dev-server`.

[2019-06-28 13:27] ViceIce commented on #1525
I thin `@nrwl/workspace:component` should be `@nrwl/angular:component`

[2019-06-28 14:20] FlorianLeitgeb opened #1533 "Import a component from an Angular library fails."
- [x] I am running the latest version
- [x] I checked the documentation and found no answer
- [x] I checked to make sure that this issue has not already been filed
- [x] I'm reporting the issue to the correct repository (not related to Angular, AngularCLI or any dependency)

## Expected Behavior

I would like to import a component/file from my library in the libs folder into my app. So I expect th

[2019-06-28 16:07] JochenDiekenbrock commented on #1459
I tested the upgrade procedure that @odahcam listed above and this worked for me as well.
Thanks @odahcam !

[2019-06-28 17:46] FrozenPandaz commented on #1532
This is intentional. The functionality within `@nrwl/nx`, DataPersistence, has been moved to `@nrwl/angular` and is deprecated after `7.8.7`. There is a migration for `8.0.0` that handles the migration.

[2019-06-28 17:46] #1532 closed

[2019-06-28 17:51] FrozenPandaz commented on #1523
#1, I think that would be an amazing tool.

I think it would be better if it is an independent library for now. I'm not sure if we would be able to maintain it well at the moment. If it works well, we'd love to recommend. 👍 We can help you make it happen.

@vsavkin What do you think?

[2019-06-28 18:00] FrozenPandaz commented on #1515
We don't have a good simple canonical example. You can refer to the [Angular Console repo](https://github.com/nrwl/angular-console) for a real world example.

I'm planning on starting one. It would be an e-commerce site. (I can post more details once I flush it out)

Would people find this useful? Would anybody be interested in contributing?

[2019-06-28 18:28] ramarivera commented on #1515
I for one spent more than a week discussing and thinking where would I put every thing I now have on a "vanilla" Angular App, and thinking about libraries relationships, types, etc . It was a good excercise, for example after some thinking/tweeting I realized the better place for all my interfaces and classes for models would be an util type library called types/models.

So yes, I would find it ve

[2019-06-28 19:22] zachnewburgh commented on #1521
@FrozenPandaz Thanks for getting back to me; I really appreciate the responses. I had some trouble getting `@nrwl/workspace:run-commands` to work, but it turned out that ng-packagr could handle React packaging with minor configuration.

For those who come across this issue before the `--publishable` flag can be used with `@nrwl/react:lib`, here's the config that allowed me to use `ng-packagr` in t

[2019-06-28 20:02] gperdomor commented on #1098
@vsavkin what do you mean with `rename the test target in the api-e2e project into e2e`?

[2019-06-28 20:18] FrozenPandaz commented on #1533
Sorry that this is a bit confusing.

The `NgModule` in Angular and **ES2015** modules are 2 different things.

You must to export the component from your barrel file as well as from the `@NgModule`.

[code]

Here's a video to elaborate on the difference: https://www.youtube.com/watch?v=ntJ-P-Cvo7o

[2019-06-28 20:18] #1533 closed

[2019-06-28 20:21] FrozenPandaz commented on #1525
Thank you for reporting this issue.

Schematics should be migrated as well.

[2019-06-28 20:28] gperdomor commented on #1098
@vsavkin omit my last question... I understand 👍

I delete the `src` folder in api-e2e and update the `angular.json` like that:

[code]

Basic test:

[code]

running `npm run e2e -- --project=api-e2e` works fine but `npm run lint -- --project=api-e2e` fails with this error: `library imports must start with @nx-platform/`

Also glad to see this will be improved and supported in Nx 9

[2019-06-28 20:33] FrozenPandaz commented on #1518
You can ship all the `node_modules` but that isn't ideal. You can create a `package.json` and distribute that as well but you have to keep the versioning the same there. You can use `externalDependencies` as I mentioned here https://github.com/nestjs/nest/issues/1706#issuecomment-478145526 but you were saying you were having issues with it. If you can provide a reproduction, I can take a look.

[2019-06-28 20:37] FrozenPandaz commented on #1511
@Jordan-Hall the dependency is needed to generate unit tests for `node` products. It should be hoisted as it depends on the same version as the workspace should be set to.

Vue support would be great. Building the application is easy but drawing dependencies is hard when using `.vue` files. Using `.ts` files it would be easy. Please create a new issue for Vue support and we can discuss more there.

[2019-06-28 20:50] FrozenPandaz commented on #1506
Can you try the following setup?

1. Install https://marketplace.visualstudio.com/items?itemName=firsttris.vscode-jest-runner
2. Update this setting to `yarn test` or `npm test --`
![image](https://user-images.githubusercontent.com/8104246/60370489-c76d9c80-99c4-11e9-8d5a-bf6fd86b3b3c.png)
3. Update `.vscode/launch.json`:
[code]

[2019-06-28 21:06] JochenDiekenbrock opened #1535 "affected:lint --file option"
# Prerequisites

- [x] I am running the latest version
- [x] I checked the documentation and found no answer
- [x] I checked to make sure that this issue has not already been filed
- [x] I'm reporting the issue to the correct repository (not related to Angular, AngularCLI or any dependency)

## Expected Behavior

https://nx.dev/api/npmscripts/affected-lint mentions a --file option, but `yarn affec

[2019-06-28 21:38] FrozenPandaz commented on #1535
This seems like a bug in our documentation generation. @bcabanes can you take a look please?

[2019-06-29 02:26] appsolutegeek commented on #1524
Ok, yep. Agreed. Thanks for the confirmation. Closing this.

[2019-06-29 02:26] #1524 closed

[2019-06-29 12:22] AnatoleLucet opened #1537 "Create react app support"
Hello, this is a following to this issue : #1510

So apparently I am not the only one to be interested about a [create-react-app](https://github.com/facebook/create-react-app) support. I have created this issue to dive in more details and see if someone has some ideas on how to integrate create-react-app to nx.

Ideas to implement it :
1. I think it could be an option in the `angular.json`.
2. A f

[2019-06-29 12:23] #1510 closed

[2019-06-29 13:05] OzBob commented on #1453
https://nx.dev/
now displays on Edge.

but 'mat-input-0' search input field does nothing on Chrome or Edge. On Chrome the search results does show, but is blank.  I tried searching for 'create-nx-workspace' by pasting it. Then I typed 'create-', and a blank search results div appeared, no 'no results' message etc. just white empty div.

Testing on https://nx.dev/getting-started/what-is-nx, typing

[2019-06-29 14:44] ramarivera opened #1538 "DataPersistence navigation run method is not triggered when using RouterState.Minimal"
## Expected Behavior

I am not sure about what the expected behaviour should be regarding the effect, since I understand that the navigation logic requires access to the routed component in order to match it and fire the run trigger. However, some documentation warning us that this combination is not compatible or some kind of runtime checks (if that were possible) instead of silently ignoring the

[2019-06-29 18:30] elvirdolic commented on #1110
npm run affected:e2e and memory settings work now with latest 8.2.0 version

[2019-06-30 01:34] lukedupuis commented on #208
There's a relatively simple way to make the environment object available to a shared service.

After passing the service into a component constructor, set an "environment" property on the instance of the service, rather than trying to set it on the class.

**Service**
[code]

**Component**
[code]

The environment object is printed to the console when the component is called.

[2019-06-30 07:17] appsolutegeek commented on #1515
Yes, I would find it very useful. I think the book does a good job about setting up a base - but having a real repo that follows  the book would be really helpful.

Also maybe having a repo that does full stack, so Angular + NestJS backend and what what be really cool ( i believe a reference is made to it in the book but it doesnt good further) - creating a UI library for components, we are curren

[2019-06-30 07:22] appsolutegeek commented on #1518
Ok, thanks for the input. I thought that this wasn't working ? I will try and give it a try now - i remember having major issues before - and then a PR was rolled back and we just distributed the node_modules directory.

So if I am understanding you correctly, basically i would set the externalDependencies to a list that are not compatible with webpack bundling - which seems to be nestjs stuff..

[2019-06-30 07:26] appsolutegeek commented on #1518
ng-packagr has something for libraries that strip the package.json of its scripts etc for security issues - maybe i should write something the same that basically goes through it and removes all scripts - it would leave "start" which is how you launch the app. It would also go through and only construct a "dependencies" section of the package.json that appears in the externalDependencies list.

I

[2019-06-30 09:50] FlorianLeitgeb commented on #1533
Thank you very much. Now I know that this is not an issue for github, but may I ask one more question: Does it make sense to create an Angular library/module for this use case? This seems like a bit of a double work to add everything to a module and also to the barell file. I could achieve the same results without an angular module.

What is the intended usage of creating libraries for angular com

[2019-06-30 16:21] DUBANGARCIA opened #1539 "create-nx-workspace does not understand ng new options"
## Expected Behavior

When I try to create a new project with "ng new" options I would expect it to be created normally

## Current Behavior

When I run "yarn create nx-workspace example-app --create-application = false --prefix wiedii-apps --verbose --dry-run" fails because you do not understand the option --create-application and --prefix

## Failure Information (for bugs)

ng new "example-app"

[2019-06-30 16:59] jonrimmer commented on #1430
@vsavkin That code does not work. `options.tsConfig` is undefined.

[2019-06-30 18:45] BuckyMaler commented on #1527
@FrozenPandaz I'd like to work on this. My team has an open issue to add testing to our pre-commit hook, so we'll likely make use of this option.

[2019-06-30 20:58] juristr opened #1540 "yarn update upgrades to Angular 8.1.0-rc.0 release 🤔"
# Prerequisites

Please answer the following questions for yourself before submitting an issue.
**YOU MAY DELETE THE PREREQUISITES SECTION.**

- [x] I am running the latest version
- [x] I checked the documentation and found no answer
- [x] I checked to make sure that this issue has not already been filed
- [x] I'm reporting the issue to the correct repository (not related to Angular, AngularCLI o

[2019-07-01 07:01] michelcve commented on #208
I don't really understand all the discussion here. IMO [Victor's solution](https://github.com/nrwl/nx/issues/208#issuecomment-384102058) is the best approach.

Your libraries/classes should NOT depend on the environment directly in your classes, you should use InjectionTokens instead, for all the reasons Victor already stated.

It's not hard to use InjectionTokens anyway, so there is no real good

[2019-07-01 10:29] gauravapheleia commented on #1511
@FrozenPandaz  @Jordan-Hall  has the vue ticket been created? I would love to contribute on that front.

[2019-07-01 11:10] YvesCandel commented on #164
Removing the baseUrl from the tsconfig.server.json eventually fixed it for me...

[2019-07-01 12:25] Jordan-Hall opened #1541 "NX: Vue Support"
# Vue Support

With Vue being the next major framework for the frontend and growing. Nx should start supporting Vue.  I'm happy to help support Vue, so I've outlined some expected issues and consideration.

## Expected Issues

Unlike currently supported frameworks. Vue isn't opinionated and allows more control to the developers. View also supports different ways of working, support for .ts files s

[2019-07-01 12:28] Jordan-Hall commented on #1511
@gauravapheleia I've created an outline ticker for Vue support. https://github.com/nrwl/nx/issues/1541 I'm going to start looking into this from tomorrow.

[2019-07-01 12:51] tcoz opened #1542 "Using SCSS files (sass etc) in NX Workspace."
I've done some looking around on this one, apologies if an answer is published and I missed it.

The issue: there doesn't appear to be an established best practice for working with .scss files and so on in an NX workspace.

It seems you can put them all in a directory somewhere and just do the usual long-winded imports "../../../etc/etc/variables.scss".

I'm digging into the stylePreprocessorOptio

[2019-07-01 14:27] LuukMoret commented on #1527
I believe `--testLocationInResults` should also be available because `I'm getting Unknown option: '--testLocationInResults'` at the moment.

[2019-07-01 14:46] juristr commented on #1540
Just updated the original description to better reflect my latest findings.

[2019-07-01 22:16] nicky-lenaers opened #1545 "Error "Cannot read property 'root' of undefined" when NgRx schematic is used without "--project" flag"
_[Please make sure you have read the submission guidelines before posting an issue](https://github.com/nrwl/nx/blob/master/CONTRIBUTING.md#-submitting-issue)_

## Expected Behavior
Please describe the behavior you are expecting

When running the below command without a `--project` flag, I expect the error message to reflect the missing flag, instead of the message `Cannot read property 'root' of u

[2019-07-01 22:31] peterblazejewicz commented on #1542
You could also evaluate option to share `.scss` assets with shared ui library. I've created a sample PR some time ago in related repo, maybe that could be an option too:
https://github.com/nrwl/workshop-nx-starter/pull/4

[2019-07-02 04:58] hoang-innomizetech commented on #471
I am also getting the above error when using the latest version of NPX, anyone can help?

[2019-07-02 07:53] githendrik opened #1547 "[Question / Feature request] Use Nx workspace to build an ng lib that has dependencies on another lib in the same workspace"
## Expected Behavior

In a large codebase we have the following setup:

webapp1
webapp2
core-lib
publishable-lib
testapp-for-publishable-lib

where

webapp1->core-lib
webapp2->core-lib
publishable-lib->core-lib
testapp-for-publishable-lib->publishable-lib->core-lib

Core question/issue: We need to publish the publishable-lib to an internal npm registry.

## Current Behavior
Running the apps or the

[2019-07-02 08:58] Tre665 commented on #1506
Hi @FrozenPandaz,

I have tried your proposed solution since I would like to use the VS Code extension that you mentioned (I think this is far more comfortable than to update the launch.config json file  every time I want to select the lib I want to test).

Unfortunately I have some issues when I want to run or debug a test:

`internal/modules/cjs/loader.js:589
    throw err;
    ^

Error: Cannot

[2019-07-02 09:24] eleMental595 commented on #1511
@Jordan-Hall @FrozenPandaz I have been working in vuejs for the last 6 months, and would love to contribute. Please show the way.

[2019-07-02 11:04] Khanji commented on #1393
Any updates on this issue?

[2019-07-02 11:48] juristr commented on #1539
@DUBANGARCIA do you actually want to create a new application inside an existing workspace or an entirely new workspace?

[2019-07-02 12:54] tcoz commented on #1542
This was actually my preferred option, but I wasn't exactly sure how to implement (I'm definitely not an scss master). I'll definitely check out your example, grazie mille.

[2019-07-02 13:07] bmarti44 opened #1548 "Unknown jest option: colors, reporters, verbose, coverage, coverageReporters, and coverageDirectory"
- [x] I am running the latest version
- [x] I checked the documentation and found no answer
- [x] I checked to make sure that this issue has not already been filed
- [x] I'm reporting the issue to the correct repository (not related to Angular, AngularCLI or any dependency)

## Expected Behavior

The jest options for colors, reporters, verbose, coverage, coverageReporters, and coverageDirectory sh

[2019-07-02 14:08] Jordan-Hall commented on #1511
@eleMental595  That would be good. Move discussion on Vue to the ticket #1541

[2019-07-02 14:23] DUBANGARCIA commented on #1539
It is a completely new workspace

[2019-07-02 14:54] jarekzolnowski commented on #1225
How about optimistic and pesimistic updates? Id function is provided only within fetch ? If somebody will click 10 times 'Add user' button very fast, how to get single request only?

[2019-07-02 17:01] juristr commented on #1539
@DUBANGARCIA hmm..you might have used the wrong command. Try having a look at https://nx.dev/getting-started/getting-started.

Something like this should work:

[code]

Also, if you want to use yarn, you can set that to be the default via

[code]

Hope that helps.

[2019-07-02 18:42] DUBANGARCIA commented on #1539
I still get the same error when I use npx:

![Captura de pantalla 2019-07-02 a la(s) 1 40 03 p  m](https://user-images.githubusercontent.com/17387158/60537928-33a31580-9ccf-11e9-9ad2-e6f64804fa18.png)

[2019-07-02 23:03] jordandlaman commented on #987
This is kind of supported now as of nx8.  running ```ng generate @nrwl/cypress:cypress-project``` will scaffold out a new e2e folder with cypress in it.  Can even direct the folder to be nested inside the application.  Does that work?

[2019-07-03 08:12] mfechner commented on #1349
Thanks a lot for your help!
The command `npm run update` fixed my problems.
Now `ng update` seems to work nicely. Maybe a problem that is now fixed with a newer NX version.

Really a very nice work you do here!

[2019-07-03 09:53] leon opened #1549 "compiling with ivy causes build to fail with ERROR in ENOTDIR: not a directory"
- [x] I am running the latest version
- [x] I checked the documentation and found no answer
- [x] I checked to make sure that this issue has not already been filed
- [x] I'm reporting the issue to the correct repository (not related to Angular, AngularCLI or any dependency)

## Expected Behavior

The project to build with ivy enabled

## Current Behavior

The project fails to build stating that /s

[2019-07-03 13:00] Svetomechc commented on #1549
same problem

[2019-07-03 17:00] adrogon commented on #1549
To try Ivy, please use the latest version of Angular which is `8.2.0-next.0`.
That does not solve your problem here, just saying :)

[2019-07-03 21:52] tcoz commented on #208
I completely agree; you don't understand all the discussion. The solution you refer would not resolve all contexts, certainly not the one I encountered.

[2019-07-04 04:01] jongood01 commented on #836
@Bielik20 Setting  "source": "/" in your firebase.json is not ideal at all as 'firebase deploy' will then try to upload all your source code. I've been banging my head against a wall try to get this to work. Ideally 'source' would be something like 'dist/apps/functions'.

[2019-07-04 06:03] michelcve commented on #208
@tcoz Perhaps I don't, but I haven't seen an example yet, where it is really required to have your environment available in your module. There might be edge cases, as Victor stated, but usually it's bad architecture.

My main point being is that the specific question by XMLKing was aswered by Victor. In my opinion, specific corner cases are best discussed in a seperate issue (where you even might

[2019-07-04 06:45] Bielik20 commented on #836
@jongood01 Yeah I agree but then firebase would complain that there is no npm package there:

[code]

It is annoying but I think there is little harm in keeping source code up there. It cannot be accessed by anyone from the outside. Deployment is a little longer but also nothing one should worry about.

Or is there a specific reason against it you have in mind?

[2019-07-04 07:47] jongood01 commented on #836
@Bielik20 No other reason but on our team we run the deploy as part of a CI process and the mono repo is going to get huge with a lot of code that has nothing to do with the code on Firebase so builds will get slower and slower. I had a hack around to create a minimal package.json in the dist folder but this was also a hack around and not ideal either. Will pick one or the other option for now.
No

[2019-07-04 08:06] TomDobbelaere commented on #1026
I have this issue too on our Azure Pipelines :\

[2019-07-04 09:50] cladera opened #1551 "dep graph not generated due to errors"
## Expected Behavior
It should generate the dependencies graph of my project.

## Current Behavior

When I run `npm run dep-graph` It generates an image with all my libs and apps in a row with no connections between them.

## Failure Information (for bugs)

[code]

### Steps to Reproduce

1. `npm run dep-graph`

### Context

#### Angular CLI version output

[code]

#### Nx version

[code]

### Oth

[2019-07-04 11:59] sgunasekaran-gs opened #1552 "How do we avoid updateDependencies from application schematics"
_[Please make sure you have read the submission guidelines before posting an issue](https://github.com/nrwl/nx/blob/master/CONTRIBUTING.md#-submitting-issue)_

nrwl application schematic updating npm dependency after creating the app which could be an optional.

- [ ] Running NX 7.8.5
- [ ] I checked the documentation and found no answer
- [ ] I checked to make sure that this issue has not already

[2019-07-04 12:16] blackholegalaxy commented on #1549
Tested with 8.2.0-next.0 and the problem occurs on our side too

[2019-07-04 13:13] alfaproject opened #1553 "Cypress exit status isn't 0 when there are failures"
## Expected Behavior

When Cypress fails to load because there are failures the task exits with a non 0 exit status.

## Current Behavior

When Cypress fails to load because there are failures the task exits with a 0 exit status.

### Steps to Reproduce

The fastest way to test is to delete the plugins in the e2e project and run that project.

### Failure Logs

[code]

[2019-07-04 13:39] sroettering commented on #1548
I think testPathPattern is missing, too.
Could you add it?

[2019-07-04 14:28] appsolutegeek commented on #1548
I am little confused, it is merged but when we it be built and available to be upgraded ? via npm or ng update ?

[2019-07-04 14:29] appsolutegeek commented on #1548
It is currently not possible to debug tests in webstorm as it is passing parameters to ng test that it does not understand.

[2019-07-04 15:26] wellrightamplify commented on #1511
Similar to Apollo would love to see AWS Amplify integration.  Obviously probably not for NX9.  We currently use Amplify in our NRWL/NX monorepo paired with Apollo Client.

[2019-07-04 15:50] tfalvo commented on #1098
I followed @vsavkin advice, and as @gperdomor, I created a new app `api-e2e`, and rename `test` target to `e2e`.

Then, in the spirit of Nx modularization, I moved code of my NestJs `api` application to at least 2 libs for instance :
- `api-feature` (with controller/service for one feature)
- `api-application` (with `app.module.ts` only)

It's clear, that I have a very specific `lib` with `app.mod

[2019-07-04 17:52] mtuzinskiy commented on #1549
Same problem

[2019-07-04 18:37] FrozenPandaz opened #1557 "Add @types/react-router-dom when generating react routing"
## Expected Behavior

`@types/react-router-dom` is not installed when I generate a `@nrwl/react` application.

## Current Behavior

`@types/react-router-dom` should be installed when I generate a `@nrwl/react` application. We can also add it during `ng add @nrwl/react`.

### Steps to Reproduce

Please provide detailed steps for reproducing the issue.

1. `npx create-nx-workspace@latest react-test

[2019-07-04 18:41] FrozenPandaz opened #1558 "Move <Router> to main.tsx"
## Expected Behavior

Unit Testing react applications with routing should be easy.

`main.tsx` should render `<Router><App/></Router>` so that `app.spec.tsx` can render `<MemoryRouter><App /><MemoryRouter>`

## Current Behavior

Unit Testing react applications with routing is not easy with the current setup.

`<Router>` is added within `<App>` which means that calling `render(<MemoryRouter><App/><

[2019-07-05 01:02] gperdomor commented on #1098
@tfalvo can you send us the link of the repo?

[2019-07-05 07:38] sroettering opened #1559 "affected:build with multiple but different languages per app"
_[Please make sure you have read the submission guidelines before posting an issue](https://github.com/nrwl/nx/blob/master/CONTRIBUTING.md#-submitting-issue)_

# Prerequisites

Please answer the following questions for yourself before submitting an issue.
**YOU MAY DELETE THE PREREQUISITES SECTION.**

- [x] I am running the latest version
- [x] I checked the documentation and found no answer
- [x]

[2019-07-05 09:44] mac2000 commented on #633
Also configuration question should be covered somehow if we are talking about some kind of continuous delivery systems which lives on its own and separated from continuous integration, e.g. OctopusDeploy which is responsible for deploying artifacts (zipped dist apps) there is no environment.ts in dist and should be somehow managed also

[2019-07-05 10:32] 4kochi commented on #1059
Are there any plans in future version of nx to make the `ts-jest` options configurable? Or would you accept a PR for this behavior?

[2019-07-05 10:55] tieppt opened #1560 "Nx Can't find version 8 on npmjs"
# Prerequisites

Please answer the following questions for yourself before submitting an issue.
**YOU MAY DELETE THE PREREQUISITES SECTION.**

- [ x ] I am running the latest version
- [ ] I checked the documentation and found no answer
- [ ] I checked to make sure that this issue has not already been filed
- [ ] I'm reporting the issue to the correct repository (not related to Angular, AngularCLI

[2019-07-05 11:43] hoang-innomizetech opened #1561 "@nrwl/jest:jest - how to run test with custom webpack config"
We are able to build and serve angular with custom webpack config using https://github.com/meltedspark/angular-builders/tree/7.x.x/packages/custom-webpack but we ran into an issue when running jest test with @nrwl/jest:jest.

How can we update @nrwl/jest:jest builder to run custom webpack configuration when running testing?

[2019-07-05 12:36] FlorianLeitgeb commented on #653
I have another question about services. For example, I have a data-access library in my sub-domain.
It looks like this:
[code]

My problem is, that it does not make any sense to create an angular library for the data-access library. Most of the time, there are only some services or resolver and I need to export them one by one as I need them for routing or DI. It is a bit the same, as the core mod

[2019-07-05 12:37] bmarti44 commented on #1548
@appsolutegeek yes, I use webstorm as well, and noticed I couldn't get code coverage integrated without these options. I would assume you can use the next version to get access (I'm actually about to try it out).

@sroettering I only needed the options in this issue for webstorm, unfortunately... But, if you open another issue, I'll be more than happy to take a look, it's really easy to add. I'll

[2019-07-05 12:37] #1548 closed

[2019-07-05 13:20] TaniaRall opened #1562 "Published angular library AOT compilation issues"
## Expected Behavior

When I build a lib using the ng build lib-name command and then do an npm publish (to a private nexus repository), then install this lib in a independent angular application, I should be able to import and use the Modules.

## Current Behavior

When importing the Module from any of my nx published libraries I am getting an aot build error stating:
`ERROR in : Unexpected value

[2019-07-05 13:46] silentFred commented on #1562
Also have this exact issue :(

[2019-07-05 13:49] Wiehann94 commented on #1562
Been having this issue for the last 3 days.

@TaniaRall any solution yet?

[2019-07-05 14:13] sroettering commented on #1548
Sorry, did not see that your PR was already merged.
Created my own now for the testPathPattern parameter https://github.com/nrwl/nx/pull/1563

[2019-07-05 14:56] ebeltran1981 opened #1564 "Allow custom location create-nx-workspace - tmpDir forbidden by IT Admin"
- [x] I am running the latest version
- [x] I checked the documentation and found no answer
- [x] I checked to make sure that this issue has not already been filed
- [x] I'm reporting the issue to the correct repository (not related to Angular, AngularCLI or any dependency)

## Expected Behavior

I know this is more like a feature, but for me is a bug 😢

When run `npx create-nx-workspace myworkspa

[2019-07-05 16:15] bcabanes commented on #1542
Hi @tcoz!

We usually like to recommend to create a library specifically to handle the styles.

You usually already have a UI library (containing only presentational components) that are shared between your apps and used by multiple feature libraries. You can create a library next to this one, handling only the styles. For example:
`libs/common/ui/my-ui-library1`
`libs/common/ui/my-styles-library`

[2019-07-05 17:12] bcabanes commented on #1542
Closing the issue for now.

[2019-07-05 17:12] bcabanes commented on #1542
Closing the issue for now.

[2019-07-05 18:00] mac2000 commented on #895
Did not get into it how should I exclude `bitbucket-pipeline.yml` for example? Seems like `--exclude` option is for project rather than file

[2019-07-05 18:46] killface commented on #1226
For anyone upset that the above link doesn't work, it's now here: https://nx.dev/angular/guides/nx7-to-nx8

[2019-07-06 11:55] ramarivera commented on #1538
One idea to solve this could be to write a custom serializer which instead of dropping the component alltogether serialized it as a string, so then `navigation` could do the match based on said string. Is that something (the name) that can be extracted from the metadata, even while running on an AOT build?

[2019-07-06 13:45] ramarivera opened #1566 "Alternative way of typing actions for dataPersistence when using NGRX 8"
## Expected Behavior

I can type action parameters on a less verbose way using ngrx 8 action creators creators.

## Current Behavior
In order to be able to type my actions, so I can use their payload on the run/onError methods, I need to do `ReturnType<typeof createCategoryDefinition>` where `createCategoryDefinition` is

[code]

[code]

Is there maybe some other way to leverage typescript to ease

[2019-07-06 14:33] emmsdan commented on #1393
@jon301 any update on this issue?
were you able to fix it?

[2019-07-07 06:03] BuckyMaler opened #1567 "npm scripts documentation is incorrect"
## Expected Behavior

The npm scripts documentation should list only available options for each script/command.

## Current Behavior

The npm scripts documentation lists options that aren't available for scripts/commands. For example, many of the options listed in the [workspace schematic doc](https://github.com/nrwl/nx/blob/master/docs/api-workspace/npmscripts/workspace-schematic-name.md) aren't

[2019-07-07 06:14] itprodavets commented on #1549
same problem

[2019-07-07 09:15] henning96 commented on #1501
As no one responses, I assume that this feature is not wanted.

[2019-07-07 09:15] #1501 closed

[2019-07-07 11:20] siimveskilt commented on #602
If you are fine without parallel builds then set implicitDependencies in nx.json:
[code]
Have paths that map the library scope to the library location:
[code]
And use affected:build:
`npm run affected:build -- --all`

[2019-07-07 17:26] xmlking commented on #1511
Storebooks add great value to nx.
**Storebook** is for _visual/appearance_ testing where **Just** is for _correctness_ testing.
https://medium.com/better-programming/how-to-speed-up-angular-development-and-reduce-compilation-times-a32262d478bc

[2019-07-07 21:58] studds commented on #1523
Thanks @FrozenPandaz :-)

I've made a start with this here: https://github.com/studds/nx-sam

Feedback would be very welcome :-) I'm starting with the builder first, so far just building on top of the nx node builder. I'll need to add new builders to run the package / deploy steps. Then the schematics. I assume that's a sensible way to approach it?

A couple of questions:

- Is it possible to expo

[2019-07-07 23:03] vsavkin commented on #1553
Fixed here: https://github.com/nrwl/nx/pull/1554

[2019-07-07 23:03] #1553 closed

[2019-07-08 12:34] un33k commented on #602
In order for `ng-packager` to build a `publishable` lib, it must ensure all dependencies are resolved properly.  With that said, if some logic that is referenced by a publishable lib falls outside of the lib root directory, then, naturally it won't be able to include that logic directly into the npm package.

NX in its current form, is not meant for publisabe packages that are not `self-contained`

[2019-07-08 12:37] brandonroberts commented on #1566
@ramarivera I'm working an update to the ngrx schematics to support action creators https://github.com/nrwl/nx/pull/1550

[2019-07-08 13:07] brandonroberts commented on #1545
@nicky-lenaers this is not an issue with Nx itself, but with `@ngrx/schematics`. You should open an issue there instead https://github.com/ngrx/platform/issues/new/choose

[2019-07-08 13:16] ramarivera commented on #1566
Awesome!! Is there something  someone (me maybe) could help you with at this point?

[2019-07-08 14:24] vsavkin commented on #1545
Since it's not an Nx issue, I'm going to close it. We can track it on the NgRx side.

[2019-07-08 14:24] #1545 closed

[2019-07-08 14:30] vsavkin commented on #1523
Thank you for your work.

Exporting the run function is an interesting idea. @FrozenPandaz do you know if there is a way to invoke a builder without doing it? Similar to externalSchematic?

[2019-07-08 14:33] vsavkin commented on #1393
Sorry for the late reply. Could you provide a repo with repro?

[2019-07-08 14:37] vsavkin commented on #1538
@ramarivera Using the component class name will work because the minifier won't change the class/function name. It, however, will still be broken when using `Minimal`.

[2019-07-08 14:40] vsavkin commented on #1561
@FrozenPandaz could you reply:

[2019-07-08 15:09] alfaproject commented on #1523
Isn't it what the e2e task does? It builds another target

[2019-07-08 18:49] Mayjest commented on #1527
@LuukMoret Are you getting that from vscode-jest? Because that's where I'm seeing it. It appears to be a hard-coded option in that plugin as well, so enabling support in the jest builder is required to be able to use it.

[2019-07-08 20:20] tcoz commented on #1542
@bcabanes Want to thank you for the responsiveness, this is exactly the way I was heading, the validation is great.

[2019-07-08 20:49] bcabanes commented on #1542
@tcoz No there is no configuration for it since this library will not contain anything JavaScript related (unless you want to test your styles with components).

The way you arrange your `scss` files is up to you, or more precisely the architecture / code organisation of your styles (think BEM, Atomic design, SMACSS etc...).

[2019-07-08 20:57] tcoz commented on #1542
Yep I tried the preprocessor option again, it's not working here.

My setup very vanilla:

- Created lib (ng g lib sasslib)
- Dumped in three directories of sass files. "font-icons" contains "variables.scss"
- Configured (in architect.build.options for this "myapp", angular.json):

[code]

In my app.component.scss:

@import "~font-icons/variables";

Shows as unresolved, doesn't compile.

This is t

[2019-07-08 21:01] bcabanes commented on #1542
@tcoz Okay i will reopen the ticket, but we will need a repo where we can reproduce the error. This is very tied to the setup and the configuration of your workspace.

[2019-07-08 21:03] tcoz commented on #1542
Alright, will create a git repo tomorrow. I'm definitely not doing anything fancy, the workspace has three small apps in it and nothing else, latest and greatest CLI and NX installed via the "add nx extensions to existing cli workspace" docs.

[2019-07-09 00:01] #1527 closed

[2019-07-09 00:07] vsavkin commented on #1549
Folks. Could any of you provide a repo with a repro?

[2019-07-09 00:07] vsavkin commented on #1551
@cladera could you provide a repro?

[2019-07-09 00:11] vsavkin commented on #1564
Would you like to contribute a PR implementing this change?

You need to add tmpDir to

[code]

in create-nx-workspace.ts.

[2019-07-09 00:14] vsavkin commented on #1560
Hi there. We repackaged Nx to make it more pluggable. `@nrwl/angular` is the new package that contains all the utilities that have been provided by `@nrwl/nx` before. If you run `ng update` on the existing repo, it should remove `@nrwl/nx` and update all your files to import from `@nrwl/angular`.

[2019-07-09 00:14] #1560 closed

[2019-07-09 00:20] vsavkin commented on #1110
Fixed here: 82ee4f10bab6d00dc7aaa60e09d1ae29390eb683. Thank you @juristr !

[2019-07-09 00:20] #1110 closed

[2019-07-09 00:27] vsavkin commented on #1539
@DUBANGARCIA `@nrwl/workspace` is a different collection from `@schematics/angular` and it supports different options.  For instance, `create-nx-workspace` doesn't create any applications by default, so `--create-application` isn't meaningful here.

You can find the list of available options here: https://github.com/nrwl/nx/blob/master/packages/workspace/src/schematics/ng-new/schema.json

[2019-07-09 00:27] #1539 closed

[2019-07-09 00:33] vsavkin commented on #1559
@sroettering what you want is to define another target for every app called `build-with-i18n`. That target can invoke build with whatever languages necessary. The target defined for App1 can look like this:

[code]

[2019-07-09 00:33] #1559 closed

[2019-07-09 00:54] vsavkin commented on #1500
The issue has been fixed in 8.2.

[2019-07-09 00:54] #1500 closed

[2019-07-09 00:56] vsavkin commented on #1257
@allout58 could you provide a repro for the original issue? In 8.2, we switched to using webpack for bundling tests, so the path should be './src/fixtures'.

[2019-07-09 00:57] vsavkin commented on #1562
@TaniaRall could you provide a repo with a repro?

[2019-07-09 01:51] un33k commented on #1547
Let's close this as it is being tracked via https://github.com/nrwl/nx/issues/602

[2019-07-09 06:19] LuukMoret commented on #1527
Yes I'm getting the error from vscode-jest and I am unable to use it now because jest builder does not know the `--testLocationInResults` option.

[2019-07-09 06:21] ramarivera commented on #1538
Yes, I know. But writing a new route serializer that complies with fully serializable state and action and at the same time with  a data persistence that does the look up based on the component name is something I could do, of you are interested :)

[2019-07-09 06:32] isthatcentered commented on #816
Adding ``ìmport "cypress"```in ```app/myapp-e2e/src/support/index.ts``` did the trick for me with phpstorm :).

[2019-07-09 06:48] sroettering commented on #1559
Thank you, I will try that!

[2019-07-09 07:10] githendrik commented on #1547
Okay, sure, sorry for the dupe. I wonder why I didn't find that one before.

Duplicate of #602

[2019-07-09 07:10] #1547 closed

[2019-07-09 09:31] cladera commented on #1551
I tried (https://github.com/cladera/nx-dep-graph-issue)  but I couldn't reproduce the error. I guess there is something wrong specific to my libraries and apps or with my vendor dependencies.

But I do see though is the same error message in the log:

[code]

[2019-07-09 09:54] Svetomechc commented on #1549
I found a solution.

Change **../libs/portal/feature-auth/src/index.ts** to **../libs/portal/feature-auth/src** in _tsconfig.json_ or _tsconfig.app.json_

[2019-07-09 12:35] tcoz commented on #1542
Repo posted, steps:

Angular CLI 8.0.4
node v10.15.3

- ng new preprocessor

(cd into preprocessor, all commands now run from workspace root unless otherwise indicated)

- ng add @nrwl/workspace

Even though it is an angular project that I added the Nrwl extensions to (as opposed to creating a straight nx workspace with no project type), and the @nrwl/angular package is installed, the "ng" command

[2019-07-09 13:22] bcabanes commented on #1542
Changing `@import "~variables";` by `@import "variables";` makes it working. Sorry for not pointing it before, my bad.

## Why?
The syntax `@import "~variables";` makes the builder (Webpack) looking into the `node_modules` resolutions, which will fail because the style library is not part of the `node_modules` dependencies.

The use of `stylePreprocessorOptions` option is to tell to the builder (W

[2019-07-09 13:25] tcoz commented on #1542
Right, I figured that, the previous post indicated the "~". I thought maybe it added it to the path resolutions or some such. I also figured the IDE might not understand the implied path, that's fine.

Checking it out now.

[2019-07-09 13:31] bcabanes commented on #1542
@tcoz I created a PR with the change if it can be useful.

https://github.com/tcoz/preprocessor/pull/1

[2019-07-09 14:01] phpgeekfr commented on #1104
Still having the same issue with angular 8 and nrwl 8.0.0
[code]
What I get:
[code]

[2019-07-09 14:31] rt-gavrilov commented on #1549
Similar issue here
https://github.com/angular/angular/issues/29361

[2019-07-09 15:12] victornoel opened #1571 "Silent mode for nx"
_[Please make sure you have read the submission guidelines before posting an issue](https://github.com/nrwl/nx/blob/master/CONTRIBUTING.md#-submitting-issue)_

## Expected Behavior

When running something like `nx affected:apps --all` or `nx affected:apps`, I would like to be able to only get the list of apps as output.

The purpose is to be able to write scripts that use the output of `nx affecte

[2019-07-09 15:57] tomwhite007 opened #1572 "Dropped support for Karma and Jasmine"
## Expected Behavior

Creating a new Workspace, and then Angular app should allow selection of Karma as a test runner

## Current Behavior

only Jest and Cypress is now available. Karma and Protractor have disappeared.

## Failure Information (for bugs)

Why have you silently dropped support for Karma and Jasmine when Angular CLI still supports it as a first class citizen? (I've read your Jest doc

[2019-07-09 20:10] haakon-io opened #1573 "yarn create nx-workspace FAILS"
## Expected Behavior

When I run:

 **yarn create nx-workspace**

expect that it will create a work space successfully.

## Current Behavior

When I try to run this create command in either **yarn** or **npm** they both fail on the cypress install part.

## Failure Information (for bugs)

The environment variable CYPRESS_BINARY_VERSION has been renamed to CYPRESS_INSTALL_BINARY as of version 3.0.0

[2019-07-09 20:28] DUBANGARCIA commented on #1539
![Screenshot_20190709_150726](https://user-images.githubusercontent.com/17387158/60919902-8430ea80-a25c-11e9-82a7-466e9f2f38cf.png)

@vsavkin Then I had a confusion with the documentation because, according to the command line you can pass the same ng new options, therefore it would be a mistake to present this documentation in create-nx-workspace

[2019-07-09 22:22] studds commented on #1523
@vsavkin @alfaproject quick update, tried to use `context.scheduleBuilder` but it fails because `context.target.project` is undefined at:

https://github.com/nrwl/nx/blob/e51c7a4069874d7da3f876cf3a33610f38d9649c/packages/node/src/builders/build/build.impl.ts#L80

I assume `scheduleTarget` would work, but that would mean adding an additional target to angular.json, which might not be so bad in the

[2019-07-10 02:46] jiayisheji opened #1574 "How long does it take you to save a recompile boot"
_[Please make sure you have read the submission guidelines before posting an issue](https://github.com/nrwl/nx/blob/master/CONTRIBUTING.md#-submitting-issue)_

# Prerequisites

Please answer the following questions for yourself before submitting an issue.
**YOU MAY DELETE THE PREREQUISITES SECTION.**

- [x] I am running the latest version
- [x] I checked the documentation and found no answer
- [x]

[2019-07-10 03:18] FrozenPandaz commented on #1523
Fantastic work @studds!

`scheduleBuilder` should be the way to go. `@nrwl/node:build` should consider the fact that target is optional. We use it in the following places:

1. https://github.com/nrwl/nx/blob/4bf61ed695e394e13770e487f106538ec4f20265/packages/node/src/builders/build/build.impl.ts#L80
  a. It's a bit awkward but we can accept a `sourceRoot` option instead of using the `context.target

[2019-07-10 08:06] MarcGilbertSparte commented on #1104
Same here, I've tried lots of things but I can't get it working.

I had :
- "Cannot read property 'types' of undefined"
- Cannot read property tostring of null
- Path "/apps/web/vector-e2e/tsconfig.e2e.json" does not exist. (when newProjectRoot in angular.json is not set)
- nothing when I set it

Currently I'm running :
@angular/cli 7.3.4
node 8.13
@nrwl/schematics 7.6.2

But I tried everything I

[2019-07-10 13:36] allout58 commented on #1257
I've uploaded a basic Nx workspace I generated when we moved our primary repo to Angular 8 and Nx 8.1.2 and reproduced the issue on the `repro-nx-1257` branch. Running `ng e2e nx-workspace-eight --watch` deletes the `example.json` fixture file, then throws an error message saying that it can't find the file.

Note: The default generated `cypress.json` file has the long file path, not `./src/fixtur

[2019-07-10 14:33] MaraZ1 opened #1575 "connect ETIMEDOUT 10.200.0.50:4873"
## Expected Behavior

This command worked a few hours ago
`yarn create nx-workspace my-app`

## Current Behavior

After a moment:
`error An unexpected error occurred: "http://10.200.0.50:4873/create-nx-workspace: connect ETIMEDOUT 10.200.0.50:4873"`

`ping 10.200.0.50:4873` won´t find the host

## Failure Information (for bugs)
### Steps to Reproduce

1. `yarn create nx-workspace my-app`
2. Fails

[2019-07-10 14:58] BuckyMaler commented on #1571
@victornoel you may find it useful to require `parseFiles` and `getAffectedApps` from `@nrwl/workspace/src/command-line/shared`. We use those functions at work for a similar purpose to what you described.

[code]

We're on version 7 of Nx, but I think it'll work the same for version 8.

[2019-07-10 16:19] gperdomor commented on #1549
I got this error in a new workspace after running `ng update @angular/core @angular/cli`:

`ERROR in ENOTDIR: not a directory, scandir '/Users/gperdomor/Downloads/nx-platform/libs/api-interface/src/index.ts'`

After disabling ivy everything compiles fine

[2019-07-10 17:16] dpsthree commented on #140
This problem seems to be back. I am hitting it today with CLI version 8.0.3 and nrwl/workspace version 8.2.0

[2019-07-10 17:19] dpsthree opened #1578 "Libraries generated on windows fail to lint in *nix based systems"
## Expected Behavior

Libraries generated should work on Windows and Unix based systems

## Current Behavior
Libraries generated on Windows machines fail to lint on Unix based systems

## Failure Information (for bugs)
error TS5058: The specified path does not exist: '/path/to\my-lib\tsconfig.lib.json'.
*note the backslashes in the path

Angular CLI version 8.0.3
@nrwl/workspace version 8.2.0

###

[2019-07-10 21:18] #1578 closed

[2019-07-10 22:47] rt-gavrilov commented on #1549
8.2.0-next.1 has solved the issue with `ERROR in ENOTDIR: not a directory`
but the next one appeared then: `ERROR in Unable to write a reference`
which is fully described here: angular/angular#29361
and there's no workaround still

@vsavkin please take a look

[2019-07-11 01:42] tieppt commented on #1560
thank @vsavkin

[2019-07-11 05:05] MaraZ1 commented on #1575
It seems like a problem with my local npm. Not related to the nx.

[2019-07-11 09:32] inglkruiz commented on #54
I found a way to share mixins, variables, and functions between apps and libs. I created a folder in the root `styles` and then I imported what I need in any scss files just by adding `@import 'styles/variables'`, for example. If you want to share a base style for your components then from there is quite easy. Let me know what do you think.

[2019-07-11 12:23] tcoz commented on #54
Hmm…doesn’t there have to be a path or preProcessor config somewhere to inform the builder how to resolve the implied path? When I just created a root folder and dumped styles into it, the imports all had to be relative. scss imports don’t seem to recognize “paths” in tsconfig, and adding preprocessor options in angular.json without a library all failed. If somehow it does work, it’d be interestin

[2019-07-11 12:27] tcoz commented on #1542
Everything seems to be working in the larger project now, nice tidy style libraries, thanks for the help here.

[2019-07-11 13:40] #1542 closed

[2019-07-11 17:31] Githamza commented on #913
I have prettier 1.18.1 version but it does not format my html files as expected, how can I activate angular html formatting ?

[2019-07-11 19:09] dsebastien commented on #633
I'm really interested by getting some guidance around this.
We're using Nx for our project (NG client-side app + Nest back-end app) and I'm now busy implementing a first iteration of our CI/CD pipeline.

A first pitfall I just fell into is the fact that Cypress is apparently not working under Alpine; bummer since I chose that as the base node image variant for our Dockerfile and Gitlab CI config ;

[2019-07-12 00:30] vsavkin commented on #1551
@cladera we are using graphviz to generate the graph.

I might be related to https://github.com/mdaines/viz.js/issues/96.

I'm really sorry but it's hard for us to investigate without having a repro. So if you cannot create a repro, I'll have to close the issue.

[2019-07-12 00:35] vsavkin commented on #1572
The option is still there. We just removed the prompt.

You can pass it like this:

[code]

[2019-07-12 00:35] #1572 closed

[2019-07-12 00:37] vsavkin commented on #1573
@haakon-io it looks like cypress fails to compile on your machine.

Does the following work  for you:

[code]

[2019-07-12 00:41] vsavkin commented on #1574
Nx doesn't have a cache of compiled libs it can use in between the builds. So if you have a single app that needs all the libs, then the compilation time will be identical to the cli. The unit test time won't be as nx can retest libs independently.

We are working on adding bazel support to nx, which will decrease a recompilation time.

[2019-07-12 00:41] #1574 closed

[2019-07-12 00:43] vsavkin commented on #1571
@victornoel I'm actually thinking about having a --json option to affected commands, so you can pass the result of a command invocation to `JSON.parse`.

[2019-07-12 00:45] vsavkin commented on #1549
Folks, could you provide a repro?

[2019-07-12 00:46] vsavkin commented on #1575
Closing this issue

[2019-07-12 00:46] #1575 closed

[2019-07-12 01:48] jiayisheji commented on #1574
`Bazel` is not stable at present, can we open `ng build libs` function

I can only manually modify `angular.json`, and `libs` is an optional feature in `angular-cli`

[2019-07-12 01:57] tomani77 opened #1581 "Cannot find module 'typescript"
while trying to create new workspace using command "npx create-nx-workspace myworkspace" i am getting error -

ng new "myworkspace" --collection=@nrwl/workspace
Cannot find module 'typescript'
Error: Cannot find module 'typescript'
    at Function.Module._resolveFilename (internal/modules/cjs/loader.js:636:15)
    at Function.Module._load (internal/modules/cjs/loader.js:562:25)
    at Module.requi

[2019-07-12 07:21] victornoel commented on #1571
@vsavkin yes, this would work for me. The main objective is to exploit this kind of information in CI scripts and stuffs like that :)

[2019-07-12 13:20] cladera commented on #1551
@vsavkin Don't worry, I totally understand. I'll try to debug my self in our project and get back to this issue if I learn something new.

[2019-07-12 13:27] haakon-io commented on #1573
I tried that and it didn't seem to fail on the downloading part any more but on the postinstall script. Here is the abbreviated output:

The environment variable CYPRESS_BINARY_VERSION has been renamed to CYPRE

You should set CYPRESS_INSTALL_BINARY instead.

----------

Platform: win32 (10.0.14393)
Cypress Version: 3.3.2
npm info lifecycle cypress@3.3.2~postinstall: Failed to exec postinstall  sc

[2019-07-12 13:29] haakon-io commented on #1573
Also I did a test on my other machine when I was on a non corporate network and the cypress install worked fine. So I can assume from that test that it has to do with our corporate proxy and the way the postinstall script interacts with it.

Thanks for looking into this issue! It is much appreciated.

[2019-07-12 17:32] wesleygrimes commented on #1531
Narrowed this down to an issue with setting `collectCoverage: true` in `jest.config.js`. If flipped to `false` correct line number is reported. Digging further to resolve.

[2019-07-12 18:09] wesleygrimes commented on #1531
I have added a reproduction to the issue at https://github.com/kulshekhar/ts-jest/issues/917#issuecomment-510980437

Here's the small reproduction I created with a detailed readme: https://github.com/wesleygrimes/ts-jest-coverage-incorrect-line-numbers/blob/master/README.md

[2019-07-12 21:06] source-transformer commented on #1531
Thanks - that unblocks us until the fix is found!

[2019-07-12 21:52] wesleygrimes commented on #1549
@vsavkin here is a repo that exhibits the issue: https://github.com/wesleygrimes/nx-full-stack-issue-reproduction

I can reproduce from scratch by doing the following...

- Create workspace `$ npx create-nx-workspace@latest test-app`
- Choose the `full stack` option
- Run `ng update` to see that `rxjs` and `@angular/cli` are out of date.
- Run `ng update @angular/cli @angular/core` to update deps

[2019-07-12 21:53] wesleygrimes commented on #1531
You're welcome! We will get it resolved but I am glad you have a workaround.

[2019-07-12 22:06] rt-gavrilov commented on #1549
Finally, there IS a workaround (which works in my project):
1. update angular to 8.2.0-next.1
2. append `"rootDir": "."` to the `compilerOptions` in the root `tsconfig.json`

[2019-07-13 18:34] beeman commented on #1393
@vsavkin I think I have a repro here:

https://github.com/beeman/nestjs-typeorm-nx/compare/beeman/typeorm-error?expand=1

[code]

[2019-07-14 09:57] svnba commented on #1381
Any progress or fixes regarding the warning:
 `WARNING in Failed to read entry point info from C:/Development/successful-workspace/node_modules/@nestjs/schematics/lib/application/files/js/package.json with error SyntaxError: Unexpected token < in JSON at position 509` ? ... as this makes development really slow, because I have to re-compile the whole app when I changed my code.

[2019-07-14 15:18] TheAifam5 commented on #1381
@svnba 	for me it shows only once, after first build. Next builds does not print that "warning".

[2019-07-14 21:00] studds commented on #1523
@FrozenPandaz thanks for the feedback. For now, I've copied and pasted the node build.impl.ts to my project, in anticipation of being able to use `scheduleBuilder` down the track. By the by, any reason this project doesn't use `strictNullChecks`, which would've made these issues apparent immediately?

I'd offer to do a PR for the changes you've outlined, but I'm guessing there would also need to b

[2019-07-15 10:01] bhaidar opened #1583 "Cannot create a Nestjs app"
- [x] I am running the latest version
- [x] I checked the documentation and found no answer
- [x] I checked to make sure that this issue has not already been filed
- [x] I'm reporting the issue to the correct repository (not related to Angular, AngularCLI or any dependency)

## Expected Behavior
Using the `ng g node-app myapp --framework=nestjs` is expected to create a nestjs app.

## Current Beha

[2019-07-15 14:10] dianjuar commented on #333
@Yonet Pleace update your solution and add

- Remove the path from the `tsconfig.json`

[2019-07-15 15:39] jaysoo commented on #1484
@zachnewburgh There appears to be something different when running the app through `ts-loader` and `babel-loader` with `babel-preset-typescript`.

For now, a workaround would be to replace `ts-loader` with `babel-loader` in your project.

1. Modify `angular.json` and specify a custom webpack config path.

[code]

2. Add `webpack.config.js` to your project.

[code]

3. Install packages.

[code]

--

[2019-07-15 17:00] #1484 closed

[2019-07-15 17:24] jaysoo commented on #1521
@zachnewburgh @FrozenPandaz I think rollup makes the most sense to use for libs. We can work something in for a future release. I've queue this up to be worked on before the end of this month (July 2019).

[2019-07-15 19:12] zachnewburgh commented on #1484
Hi @jaysoo, thanks for the reply. I can't seem to modify the `config` object since it's not defined. Where does that happen?

[2019-07-15 21:03] studds commented on #1523
I've published a rough version as https://www.npmjs.com/package/@nx-aws/sam with builders for building, packaging, and deploying.

Note the lack of a readme :-) Early days.

[2019-07-15 21:08] lukedupuis commented on #208
I was getting an error saying ngMetadataName was undefined when trying to inject the environment variable into a shared **service**, seemingly because injecting a provider into a service that's provided in root causes a circular dependency?

I can use Victor's excellent method without any trouble to inject into components.

To get the environment object into a shared service instance while avoidin

[2019-07-16 05:08] vdiaz1130 commented on #733
Hello, looking for this solution as well. Using Husky and trying to execute tests on pre-commit hook. Using the --uncommitted flag proceeds but nothing is tested.

[code]

From the log:
[code]

[2019-07-16 12:59] hivaga opened #1587 "Building publishable libraries with NX"
Here is the case. I am using Nrwl NX Monorepo. I have 2 libraries lib-a and lib-b both are publishable libraries created via NX. Now I create a MyClass.ts in lib-a. Naturally under paths in workspace/tsconfig.json paths NX creates an alias to this lib-a ("@workspace/lib-a": ["libs/lib-a/src/index.ts"]). So far so good. Now we can use this class anywhere within the workspace/monorepo by importing i

[2019-07-16 17:31] sandeepsuvit commented on #208
A solution that worked for me following @vsavkin comment
Create a folder named `app-config` under libs and add an 'index.ts` file inside app-config folder. This lib can be shared across all your apps. Add the following content inside the index.ts file
[code]

Open base `tsconfig.json` file and add the path for app-config so that it can be useful for importing into your app with `@app-workspace/app

[2019-07-16 19:07] tcoz commented on #208
The issue with this though, if I understand it correctly, is while this will be available to the components within your app, the environment data is available via being provided. This means it will not be available at the time the modules are being initialized, which means you can't use it to dynamically configure a module. I came up with a similar approach a while back and realized this solution

[2019-07-16 23:57] lukedupuis commented on #208
Yes @sandeepsuvit, thank you, that is helpful, and the challenge I faced was that the environment path in the libs/app-config/index.ts isn't dynamic, so you can't point to this app's environment, and then that app's environment, because ..environments/environment just points to one specific environment, so even if the APP_CONFIG injection token works, it always points to the same environment.

Her

[2019-07-17 03:30] #1558 closed

[2019-07-17 03:49] jaysoo commented on #1557
We need to wait for the types to be updated, or help update them.

https://github.com/DefinitelyTyped/DefinitelyTyped/issues/36368

[2019-07-17 07:08] johannesschobel commented on #1521
please note that the `--publishable` option does not work for `ng g @nrwl/workspace:lib <NAME>` either...

[2019-07-17 08:14] svnba commented on #1381
I ended up setting up a new project. I copied all the files over to the new project. Works like a charm.

[2019-07-17 11:05] jeneg commented on #1299
+1 tests are super slow on windows, can we get some support on this?

[2019-07-17 17:20] jerome-nelson commented on #1511
Thanks for the Bazel conversion news!!

Are there any plans on open-sorucing contribution for this? Also any major challenges foreseen?

[2019-07-17 18:52] criskrzysiu commented on #1587
I have a workaround if you want but it includes building libs in the correct order and making pushing through a lot of extra configuration to ngc.

[2019-07-18 07:34] gaetanmaisse opened #1592 "Add `yarn.lock` or `package-lock.json` to default values of `implicitDependencies`"
## Context

In my `package.json` there are some dependencies allowing patch/minor version range, like this:

[code]

When I updated some of these `dependencies` only my `yarn.lock` was updated because version range defined in `package.json` is still ok.
But when I ran `nx affected --target test --parallel` no test was run, because no apps/libs depend directly on this file. To fix that I added `yar

[2019-07-18 09:03] TomDobbelaere commented on #1299
Colleague of @ernie58 here with some more info

It works fine if I use WSL with Debian and node on it.
My node versions are the same on WSL and my Windows machine.

Since the tests also run fast on our Linux build agents, this seems like something Windows specific?

[2019-07-18 13:29] wesleygrimes commented on #1583
Hi Bilal,

By default, the Angular CLI refers to `angular.json` > `cli` > `defaultCollection` for which set of schematics to use. In your example, the CLI is still using default angular schematics.

You first need to convert your workspace to `nx` or generate a brand new `nx` workspace...

1) First, make sure you are inside an `nx` workspace. If not, create a new one like this:  `npx create-nx-wor

[2019-07-18 13:46] dgroh commented on #1029
I still get with version 7.1.1:

[2019-07-18 13:56] dgroh commented on #1029
For those who are still facing this issue, this solution has helped me.*

https://github.com/thymikee/jest-preset-angular/issues/286

[2019-07-18 19:46] bhaidar commented on #1583
Hey @wesleygrimes Thanks for your feedback.

I found this tutorial https://nx.dev/angular/tutorial/01-create-application really helpful in getting me started with Nx Workspace!

Things are now working like a charm :-)

Regards
Bilal

[2019-07-18 19:48] wesleygrimes commented on #1583
Fantastic. Anything else you need help with before I close this issue?

[2019-07-18 19:49] bhaidar commented on #1583
Thanks for your time!

[2019-07-18 20:00] wesleygrimes commented on #1583
You're welcome!

[2019-07-18 20:00] #1583 closed

[2019-07-18 20:03] mrmeku opened #1593 "Add schematic to add e2e tests to an existing application"
This is a feature request.

Context:
There already exists a schematic to generate an angular application for @nrwl/angular and @nrwl/react.
This schematic generates 2 applications, the client and the e2e test suite.

Feature request:
I think we should expose the schematic to generate an e2e test suite by itself such that users can split out e2e tests for sharding purposes or whatever reason they f

[2019-07-18 20:39] nortain commented on #1581
I seem to be getting a similar error whenever I try to invoke any nx command.  Such as  "nx affected:libs"

internal/modules/cjs/loader.js:638
    throw err;
    ^

Error: Cannot find module 'typescript'
    at Function.Module._resolveFilename (internal/modules/cjs/loader.js:636:15)
    at Function.Module._load (internal/modules/cjs/loader.js:562:25)
    at Module.require (internal/modules/cjs/loa

[2019-07-18 21:00] siimveskilt commented on #1587
Duplicate of #602

[2019-07-18 21:49] mrmeku opened #1595 "Allow an application to have two e2e test applications"
Right now if you have an e2e test suite which ends in the suffix `-e2e` and there is not a corresponding application whose name is the same but without the suffix, NX errors out and dies.

As a workaround, you can change the type of project from 'application' to 'library' to get around the error. None the less, this limitation is annoying and the workaround is not obvious and probably has caveats

[2019-07-19 10:19] yglin opened #1597 "ng update @nrwl/cypress 8.1 to 8.2 output error "Invalid rule result: Instance of class Promise""
TL;DR: Is there any way, or document, to show me how to at least manually migrate the legacy configuration for cypress ?

run this command
`ng update @nrwl/cypress --from 8.1.0 --to 8.2.0 --migrate-only`

gives me this output
[code]

Please answer the following questions for yourself before submitting an issue.
**YOU MAY DELETE THE PREREQUISITES SECTION.**

- [ x ] I am running the latest version

[2019-07-19 10:54] jeneg commented on #1299
@TomDobbelaere yes, iOS ok too

[2019-07-19 12:15] hivaga commented on #1587
Hi @criskrzysiu, can you provide some demo repo/project with 2 publisahble libraries.

[2019-07-19 14:40] trumbitta opened #1599 "HMR not working"
- [x] I am running the latest version
- [x] I checked the documentation and found no answer
- [x] I checked to make sure that this issue has not already been filed
- [x] I'm reporting the issue to the correct repository (not related to Angular, AngularCLI or any dependency)

## Expected Behavior

Installing, configuring, and enabling HMR actually enables HMR

## Current Behavior

Browser stuck at

[2019-07-19 15:54] trumbitta commented on #1599
I don't know what I exactly updated to make it  work, but I generally updated Nx and Angular to the latest versions.
I was sure I was using the latest versions, but it turned out I was behind of some minor or patch versions in some packages.

Also, **very important**, remember to delete `package-lock.json` as well as `node_modules` and reinstall after every update.

[2019-07-19 19:19] Tyler-V opened #1602 "Feature: Update configuration to Add Debug button for NestJs"
Using the Angular Console in VSCode, its a great addition and makes it convenient to launch an app and api without opening additional terminals in vscode. Thank you for that.

My questions is, how can I add a Debug task that would allow me to set breakpoints and debug NestJs? I'm assuming these tasks are pulled from the architect section in angular.json.

Is it possible to create a task that serve

[2019-07-20 02:02] lmame commented on #1439
@jogelin , thanks a lot, it solved my issue for Services, pipes etc...
Though for Component I have some strange errors.
It seems something is trying to load the component html template using http://localhost/<templateName>.html

I am trying to tackle this through astTransformers but I was wondering if maybe you had already a workaround for this?

[2019-07-20 22:19] BuckyMaler opened #1604 "E2E tests can't be ran in parallel"
## Expected Behavior

E2E tests can be ran in parallel.

## Current Behavior

E2E tests can't be ran in parallel. Different errors are thrown based on the test runner.

Cypress:

![Screen Shot 2019-07-20 at 4 23 32 PM](https://user-images.githubusercontent.com/14145352/61584696-f71a4b00-ab11-11e9-9e89-b0b7127dddf0.png)

Protractor:

![Screen Shot 2019-07-20 at 4 28 24 PM](https://user-images.githu

[2019-07-21 20:55] erhise commented on #1381
# Context information setup
* Angular CLI: 8.1.2
* Node: 10.16.0
* OS: linux x64
* Angular: 8.1.2
... animations, cli, common, compiler, compiler-cli, core, forms
... language-service, platform-browser, platform-browser-dynamic
... router
* @nrwl/workspace": "8.2.0,

Package                           Version
-----------------------------------------------------------
@angular-devkit/architect

[2019-07-22 00:03] ynoval commented on #1551
https://github.com/ynoval/mssone.git is a repo with he same error:
$ npm run dep-graph
..

(node:31475) V8: /home/yoel/MSS-ONE/borrar/mssone/node_modules/viz.js/viz.js:33 Invalid asm.js: Function definition doesn't match use

Angular CLI: 8.0.0
Node: 12.6.0
OS: linux x64
Angular: 8.1.2

Thanks!! Nx is  a great tool

[2019-07-22 07:33] yglin commented on #1597
Solved it myself by update **@angular-devkit/core** and **@angular-devkit/schematics** both to 8.1.2

[2019-07-22 07:33] #1597 closed

[2019-07-22 08:18] SpeedoPasanen commented on #1381
I got this warning when VSCode had auto-imported a class from a shared lib by it's relative path eg. `import { MyInterface } from '../../../../libs/interfaces'`.

Importing it via the correct scope fixes it, eg. `import { MyInterface } from '@my-org/interfaces'`.

It's very weird indeed that the error points toward @nestjs though it only happens when building an Angular app. Not very helpful. :)

[2019-07-22 10:02] conor-mac-aoidh commented on #602
After working around this issue for a few months, I wrote this script to build the libraries in the order they depend on eachother. I have done this by specifying the libraries as `peerDependencies` in a `package.json` for each library. Then the script will sort the libraries depending on whether they have dependencies on eachother.

This script works for me, but might need some adapting to a part

[2019-07-22 14:11] mtuzinskiy commented on #1299
Any updates on this?

[2019-07-22 15:05] bcabanes commented on #1453
Hi @OzBob!
This is because there is actually no result for that. The search in place is not looking through the content yet. It only looks at sections and section titles. I agree this is not optimal. It will be improve as soon as we have time! 👍

[2019-07-22 15:05] #1453 closed

[2019-07-22 17:40] #1531 closed

[2019-07-22 21:50] ca136 opened #1609 "New nx workspace doesn't support custom cypress commands"
_[Please make sure you have read the submission guidelines before posting an issue](https://github.com/nrwl/nx/blob/master/CONTRIBUTING.md#-submitting-issue)_

## Expected Behavior

Adding a custom Cypress command with the generated schematics should not cause an error when the tests run.

## Current Behavior

The custom commands aren't registered to due `supportFile: false` in the cypress.json fi

[2019-07-23 14:22] pri17 commented on #531
https://stackoverflow.com/questions/56832774/nx-workspace-cli-does-not-allow-to-create-pure-typescript-library-since-version

Found this, by running "ng add @nrwl/node" resolve this issue for unknown reason lol.

[2019-07-23 14:28] pri17 commented on #531
same, feels like this issue close very soon.....

[2019-07-23 19:20] offwork opened #1613 "prefix options not woking"
_[Please make sure you have read the submission guidelines before posting an issue](https://github.com/nrwl/nx/blob/master/CONTRIBUTING.md#-submitting-issue)_

# Prerequisites

Please answer the following questions for yourself before submitting an issue.
**YOU MAY DELETE THE PREREQUISITES SECTION.**

- [ √ ] I am running the latest version
- [ √ ] I checked the documentation and found no answer
-

[2019-07-23 20:42] dpsthree opened #1614 "baseUrl is ignored during e2e tests"
## Current Behavior
E2E tests only ever check against localhost:4200.

### Steps to Reproduce
Run ng e2e my-app-e2e --baseUrl=anyurl

or

set baseUrl in cypress.json then run e2e tests

### Context
v 8.2.0 of nx

I've tried many different combinations (ng e2e, ng e2e --watch, ng e2e my-project-e2e) they all have the same result.

[2019-07-24 02:01] girish121003 commented on #1499
hey @FrozenPandaz  i tried the command you mentioned. I still get the same error.

[2019-07-24 05:36] yglin commented on #1609
I had this issue, too, after upgrading to nx 8.
You can specifically set the path to your **support/index.ts** in **cypress.json**.
to me it looks like

` "supportFile": "./src/support/index.ts",`

And it works for me.

[2019-07-24 08:10] appsolutegeek commented on #1515
@FrozenPandaz Also what would be handy is having some kind of slack (or other medium), support channel - where everyone can get involved and ask questions about doubts.

[2019-07-24 10:01] tdekoekkoek commented on #1499
This keeps haunting me.  I've created a brand new workspace with the latest nx as far as I know and I keep getting this error.  Is there any fix?

[2019-07-24 12:17] lares83 opened #1617 "Wrong schematics for component"
# Prerequisites
Generate `scss` files when create a new component

## Current Behavior

Generating components generate `css` file instead of `scss`

### Steps to Reproduce

Create new workspace using `npx create-nx-workspace@latest app-test`.
Select the following answers:
[code]

After you install all dependencies, create new component using the following command
`ng g c test`

The following files

[2019-07-24 13:29] gperdomor opened #1619 "create-nx-workspace not found"
_[Please make sure you have read the submission guidelines before posting an issue](https://github.com/nrwl/nx/blob/master/CONTRIBUTING.md#-submitting-issue)_

# Prerequisites

Please answer the following questions for yourself before submitting an issue.
**YOU MAY DELETE THE PREREQUISITES SECTION.**

- [x] I am running the latest version
- [ ] I checked the documentation and found no answer
- [x]

[2019-07-24 14:50] spy4x commented on #836
Am I right - this issue affects deployment of Nest.js app as well?
Thanks Nx team for all the efforts! Nx is awesome and I really appreciate your work :)

Btw, any movements on this issue?

[2019-07-24 16:58] duard commented on #1414
[code]

[2019-07-24 17:15] hadrien-toma commented on #1231
@vsavkin @FrozenPandaz may we close this issue? According to https://github.com/nrwl/nx/commit/6516176 Nx 8.3.0 seems to be compliant with NgRx 8 😍.

[2019-07-24 17:37] #1231 closed

[2019-07-24 17:39] mehrad-rafigh opened #1621 "Exclude Apps in affected scripts by tags from nx.json"
Currently the only way to exclude apps and libs from being processed by the affected scripts, is by their names.
It would be useful, if we could exclude apps and libs in the affected scripts by their tags which can be defined in nx.json

For example having the following nx.json
[code]
and running `npm run affected:apps -- --base=origin/develop --exclude="tags:nanosites"` or something similar :) on

[2019-07-24 17:51] brandonroberts commented on #1499
@tdekoekkoek will you provide some more information about your environment? Such as:

- node/npm version
- OS version
- exact repro steps
- a GitHub repo of your generated project that fails

[2019-07-24 18:28] emilio-martinez opened #1623 "@nrwl/web build doesn't include styles in output index.html"
## Expected Behavior

Generated `index.html` should include a `<link />` tag corresponding to the `styles` property in the builder config.

## Current Behavior

The `index.html`output is:

[code]

## Failure Information (for bugs)

No error message, just that the output above is missing styles.

### Steps to Reproduce

1. `npx --ignore-existing create-nx-workspace web-diff-loading` with `empty` pr

[2019-07-24 18:31] ronnyek commented on #1439
I too am running into this same problem...
`Error: Uncaught (in promise): Failed to load icon.scss` which is linked via `styleUrls`

Whilst still being able to execute tests at command, I simply cannot get them to execute from within webstorm itself

[2019-07-24 18:36] david-mccoy commented on #862
Bro you are my hero.

[2019-07-24 19:01] jaysoo commented on #1573
@haakon-io Sounds like this is an external issue with the firewall.

I found a related Cypress issue that provides some instructions to circumvent the need for downloading the binary via postinstall script. https://github.com/cypress-io/cypress/issues/1401#issuecomment-496102788 (Maybe this helps)

Closing this issue since it doesn't look like a bug with Nx.

[2019-07-24 19:01] #1573 closed

[2019-07-24 21:08] jimdubbs opened #1624 "affected:test inside github action"
Please describe the behavior you are expecting

## Current Behavior

What is the current behavior?
When utilizing nx tools like affected:test and affected:build within a github action, it always returns "no affected projects to run". I cannot find any information on why this functionality would not work from within a github action.

running nx 8.3.

[2019-07-24 21:15] LukasMachetanz opened #1625 "How to run one specific test in one specific project"
Is it possible to just run one specific test in one specific project? For me, the expected behavior would be the support of features like `fit` and `test.only`. Unfortunately I could not find any resources or solutions for this topic. I would appreciate every help. Thanks in advance.

[2019-07-24 22:35] tcoz commented on #1625
This might work, run “ng test mylib —watch”

It runs all the tests, then gives you options. One of them is to run a test by a regex pattern. You just enter the name of the spec file (or a piece of it if unique enough) and it’ll watch on that file until you tell it differently.

[2019-07-24 22:35] emilio-martinez commented on #1623
Provided PR

[2019-07-25 02:56] pburkindine opened #1628 "nx lint - 8.3.0"
After upgrading to nx 8.3.0, `nx lint` is failing with a bunch of stylelint errors (we normally run stylelint separately with different config for app and spec files).

My understanding was that `nx lint` only runs a nrwl-specific linter of the workspace structure.  Has this changed?

## Expected Behavior

`nx lint` should not run other linters

## Current Behavior

`nx lint` runs stylelint

[2019-07-25 06:32] sroettering opened #1629 "Run jest within intellij"
# Prerequisites

Please answer the following questions for yourself before submitting an issue.
**YOU MAY DELETE THE PREREQUISITES SECTION.**

- [x] I am running the latest version
- [x] I checked the documentation and found no answer
- [x] I checked to make sure that this issue has not already been filed
- [ ] I'm reporting the issue to the correct repository (not related to Angular, AngularCLI o

[2019-07-25 07:58] tmtron commented on #1299
Maybe not directly related but a friendly reminder, to check your antivirus software.

In my case the new IntellIJ version has added some exclusions to Windows Defender and it has speed up my tests by over 30%.
see: [Antivirus Impact on Build Speed](https://support.microsoft.com/en-us/help/4028485/windows-10-add-an-exclusion-to-windows-security)

[2019-07-25 09:39] fvanwijk opened #1630 "Update NX web page is broken"
https://nx.dev/angular/guides/update-nx

The upgrade page is showing the home page prefixed with:
[code]

[2019-07-25 09:52] akolybelnikov commented on #1511
I am looking into adding a Svelte project to our existing Nx/Angular monorepo. Any hints on where to start with it are really appreciated. Also, I would love to contribute with this regard.

[2019-07-25 11:57] mac2000 commented on #633
For us at moment we are doing following (in bitbucket pipelines)

step 1: determine base
determine commit of previous successful build for current branch
if nothing found and we are in pull request - take last build for pull request target
if still nothing take master

step 2: build affected against determined base

step 3: foreach project we found in angular.json and having dist folder sync to S3

[2019-07-25 13:29] pburkindine commented on #1628
Some digging reveals the command is changed to `workspace-lint`

I think this should be reflected in the release notes

[2019-07-25 14:36] intuvision commented on #1367
I have had a similar experience, using Angular CLI v8 and NX v8.  It turns out the issue is related to @angular/pwa.  To test, removing the @angular/pwa temporarily, then performing the app generation, and finally reinstalling @angular/pwa solved the issue for me.

npm uninstall @angular/pwa
ng g @nrwl/angular:application vision
npm install @angular/pwa

Nrwl - is there anyway to resolve this issu

[2019-07-25 14:37] intuvision commented on #777
I have found the same, in that @angular/pwa was the culprit for the issue:

https://github.com/nrwl/nx/issues/1367#issuecomment-515069767

[2019-07-25 14:38] intuvision commented on #596
https://github.com/nrwl/nx/issues/1367#issuecomment-515069767

[2019-07-25 14:39] intuvision commented on #1104
Try uninstall @angular/pwa:

I have had a similar experience, using Angular CLI v8 and NX v8. It turns out the issue is related to @angular/pwa. To test, removing the @angular/pwa temporarily, then performing the app generation, and finally reinstalling @angular/pwa solved the issue for me.

npm uninstall @angular/pwa
ng g @nrwl/angular:application vision
npm install @angular/pwa

Nrwl - is there

[2019-07-25 15:35] nileshkorpad1 commented on #1367
Thanks I resolved it

On Thu, Jul 25, 2019 at 10:36 PM Daniel Biginton <notifications@github.com>
wrote:

[2019-07-25 16:04] adgoncal commented on #1572
@vsavkin why does the schematic ignore the defaults specified in `angular.json`?
[code]

`ng g lib mylib` uses jest, even though the config in angular.json sets the `unitTestRunner` to `karma`.

[2019-07-25 18:38] nukec commented on #1488
thanks

[2019-07-26 01:03] lmame commented on #1439
@ronnyek, ok so I found a solution, at least for us internally, it might work for you as well maybe (?).

We have a project with several libs. Each lib has its own jest.config.js which refer to the "main" jest.config.js.

I had to:
- Update jest-preset-angular to 7.1.1 (which you did),
- In each lib where you launch your unit test have a /src/ folder with a file "test-setup.js" with this content:

[2019-07-26 03:38] studds commented on #1465
As a workaround, I needed to:

- `mv e2e/protractor.conf.js e2e/tsconfig.e2e.json src/tsconfig* src/karma.conf.js .`
- Change the paths above in angular.json
- `mv .prettierignore .prettierignore.bak` (as the schematic assumes this doesn't exist)
- `mv .prettierrc.json .prettierrc.json.bak` (ditto)

The schematic also chokes if any of the target directories exist, which is a minor annoyance when r

[2019-07-26 07:22] mehrad-rafigh commented on #1625
You should be able to use ng test your_project --test-name-pattern=regex

If your test is called AuthService for example you can run ng test your_project --test-name-pattern=AuthService
This will only run tests which match the regex.
Hope this helps. If so, please close the issue :)

[2019-07-26 08:07] LukasMachetanz commented on #1625
Thank you guys.

[2019-07-26 08:07] #1625 closed

[2019-07-26 08:20] mehrad-rafigh commented on #1629
There is a PR already for that  #1467

[2019-07-26 08:35] sroettering commented on #1629
Well then I hope @dopsonbr resolves the conflicts soon.

[2019-07-26 13:01] #1623 closed

[2019-07-26 14:04] maxime1992 commented on #1409
I had absolutely no hope at all that the migration would go smoothly on our app.
(Spoiler alert, it didn't).

I created an empty nx repo and started to import things. Tedious but I'm getting there, I've got the server running, frontend too and few libs :raised_hands:

Now I've got to work on the E2E tests and others but it's a good start :)

Good luck with your migration @nathanhokanson

[2019-07-26 14:45] wesleygrimes commented on #1621
Hi @mehrad-rafigh, I am working on a new feature to have the ability to ignore glob patterns from the affected commands using either a `.nxignore` file or `nx.json` -> `ignore` property. Would this meet your needs?

PR #1585

[2019-07-26 16:35] NathanWalker opened #1640 "Latest - schematic 'tao-new' not found in collection '@nrwl/workspace'"
## Expected Behavior

[code]

Should generate workspace.

## Current Behavior

Running the command results in:
[code]

/cc @FrozenPandaz

[2019-07-26 17:55] dpsthree commented on #1614
I dug into the source code and it appears as though the baseUrl is ignored when the devServerTarget is specified in angular.json. I was able to remove this option and verify that it picks up the baseUrl. However, removing this option also appears to prevent nx from building standing up the application. For my usage this is great!

However, it may be worth documenting this a bit more for folks tryi

[2019-07-26 18:51] ronnyek commented on #1487
I for one would like to see this too

[2019-07-26 19:32] brandonroberts commented on #1630
This has already been fixed in master. The correct link is https://nx.dev/angular/guides/update

[2019-07-26 19:32] #1630 closed

[2019-07-27 02:29] FrozenPandaz commented on #1640
@NathanWalker

You might have a different version installed. Can you please see if `npx --ignore-existing create-nx-workspace@latest nxtest --preset empty` works?

[2019-07-27 02:35] FrozenPandaz commented on #1628
This is correct. I've edited the release notes to mention it in `8.3.0`. This should have been automatically migrated for you. You can rerun the migration by executing the following:

[code]

[2019-07-27 02:35] #1628 closed

[2019-07-27 03:03] FrozenPandaz commented on #1624
Sorry, I'm afraid I am not too familiar with Github Actions but I will try to answer anyways.

By default, affected compares to master. If your action runs on the latest commit of master.. there are no differences to affect projects.

I assume you want to use Github actions for things like pull requests.

Github seems to provide some environment variables: https://developer.github.com/actions/crea

[2019-07-27 03:07] FrozenPandaz commented on #1614
@dpsthree That is correct.

Would someone like to contribute a fix? The line to change would be here:
https://github.com/nrwl/nx/blob/master/packages/cypress/src/builders/cypress/schema.json#L49

Make sure to run `yarn documentation` afterwards to regenerate the documentation.

[2019-07-27 03:12] FrozenPandaz commented on #1619
I am not sure which package you are installing here.

You can run `npx create-nx-workspace@latest demo-project` to automate the installation.

[2019-07-27 03:15] NathanWalker commented on #1640
Fixed it completely 🎉 Thanks!

[2019-07-27 03:15] #1640 closed

[2019-07-27 03:22] FrozenPandaz commented on #1613
Sorry, we do not support the `prefix` option right now. Instead, you may create an `empty` workspace and add `-p lw` to your app generation. For example,

[code]

[2019-07-27 03:22] #1613 closed

[2019-07-27 03:31] FrozenPandaz commented on #1617
Good catch. The offending line is here: https://github.com/nrwl/nx/blob/2b646f8eb4839d7b3b47bf703016e33bf1dbd2fe/packages/angular/src/schematics/application/application.ts#L219

Would somebody like to contribute a fix?

[2019-07-27 03:38] FrozenPandaz commented on #1609
Yup, please do this manually for the time being.

@bcabanes Do you remember why this was changed in this PR? https://github.com/nrwl/nx/pull/853

[2019-07-27 03:43] FrozenPandaz commented on #1595
This should not fail. No dependency should be inferred for this project and the user should instead utilize `implicitDependencies` to create the dependency.

@wesleygrimes Can you take a look please?

[2019-07-27 05:10] alfaproject commented on #1628
Don't assume that migrations do everything. In our case we run `nx lint` in our pipeline in parallel with `ng lint` and I just found out that `nx lint` is delegating to `ng lint` <.<

[2019-07-27 06:23] mehrad-rafigh commented on #1617
@FrozenPandaz I would love to contribute!

[2019-07-27 06:40] appsolutegeek opened #1643 "angular.json missing from new workspace (react) - causes error runing NG"
- [x] I am running the latest version
- [x] I checked the documentation and found no answer
- [x] I checked to make sure that this issue has not already been filed
- [x] I'm reporting the issue to the correct repository (not related to Angular, AngularCLI or any dependency)

## Expected Behavior

To be able to add applications to a newly created workspace.

## Current Behavior

Following the docs

[2019-07-27 07:07] mehrad-rafigh commented on #1629
Fingers crossed :)

[2019-07-27 07:08] appsolutegeek commented on #1643
The way I got around this was to create an angular app with NX and then i was able to add a react app as the angular.json already exists.

I then removed the angular app from nx.json and also angular.json

Is this the correct workaround ?

[2019-07-27 07:13] mehrad-rafigh commented on #1571
After the update to 8.3 I wrote myself a bash script:
`npm run affected:apps -- --base=$BASE --exclude=$EXCLUDES | awk 'NR > 7 { print $2 }' | sed '$d' | tr '\n' ','`

Maybe this helps people in their CI/CD Pipelines :)

[2019-07-27 07:33] appsolutegeek commented on #1518
@FrozenPandaz Do you know where we are with this?

With regards to only using certain things as external dependencies. It failed!

I would be very interested to find out from others with NESTJS if they are using for externalDependencies

I tried inserting all NESTJS libraries I could think of and eventually node crashed :-(

I just couldn't get it to work. On a plus side, if anybody is interested,

[2019-07-27 07:35] mehrad-rafigh commented on #1621
Hi @wesleygrimes, I looked over your pull request. It doesn't add the feature I am looking for.
I want to be able to exclude entire apps by their tag names from affected:apps,test,lint and the such for example.

[2019-07-27 07:37] appsolutegeek commented on #1518
I think the script above would help, it would for sure help me :-) BUT considering that i can't even get the application to run - its a no go.

Right now - I am STILL deploying the FULL contents of node_modules which includes a lot of stuff - even stuff from the UI project - not just the api.

Although the package.json (prod) version getss built and I am able to npm install using this new package.

[2019-07-27 09:25] mehrad-rafigh commented on #1496
With Nx 8.3 the new ngrx Syntax has arrived.
For more information refer to the medium article from @brandonroberts
https://blog.nrwl.io/updated-schematics-for-ngrx-and-improved-logging-in-nx-8-3-2b00c8ef6123

This issue can be closed right?

[2019-07-27 10:59] mehrad-rafigh commented on #1621
#1274  somehow relates to my feature request

[2019-07-27 11:31] alfaproject commented on #1621
Yeah I was going to say this is a duplicate d:

[2019-07-27 16:56] ca136 commented on #1609
I think it might be more of a documentation issue or just user error. Something broke with our typings.d.ts for custom commands during the migration, but moving the typings inside commands.ts eventually worked.

Seems like Cypress custom commands and TypeScript don't play super well together at the moment. Feel free to close to reduce noise @FrozenPandaz!

[2019-07-27 18:36] #1617 closed

[2019-07-28 07:07] appsolutegeek commented on #1643
Ok, it seems that a react app doesn't create an angular.json but it creates a workspace.json

So all commands now are NX instead of NG.

Do you have a list of a comparison between NX and NG ?

This must be something new :-) ? As I never saw this before.

[2019-07-28 08:33] appsolutegeek opened #1647 "create-nx-workspace ALWAYS shows "NX NOTE Nx CLI is not installed globally." - even though it is installed."
- [x] I am running the latest version
- [x] I checked the documentation and found no answer
- [x] I checked to make sure that this issue has not already been filed
- [x] I'm reporting the issue to the correct repository (not related to Angular, AngularCLI or any dependency)

## Expected Behavior

For the error message not to be shown as the nx CLI is installed globally

## Current Behavior

Creati

[2019-07-28 08:34] appsolutegeek commented on #1647
I can confirm that I have done this many times

[code]

but coming back to create a new app always displays the warning, saying that its not installed.

[2019-07-28 11:12] sameerinfodb opened #1648 "npx create-nx-workspace myworkspace --preset=empty fail to create workspace"
_[Please make sure you have read the submission guidelines before posting an issue](https://github.com/nrwl/nx/blob/master/CONTRIBUTING.md#-submitting-issue)_

# Prerequisites

Please answer the following questions for yourself before submitting an issue.
**YOU MAY DELETE THE PREREQUISITES SECTION.**

- [ x] I am running the latest version
- [ x] I checked the documentation and found no answer
- [

[2019-07-28 11:18] sameerinfodb commented on #1648
i tried npx --ignore-existing create-nx-workspace@latest nxtest --preset empty as well.  Still i'm getting same error.

[2019-07-28 12:11] mehrad-rafigh commented on #1648
Can confirm this
<img width="1442" alt="image" src="https://user-images.githubusercontent.com/4339673/62006500-75de3c00-b141-11e9-9e96-d134f224ed6c.png">

[2019-07-28 13:25] maku commented on #1167
@creadicted how do you solve your problem?. I would also like to execute some maintenance functionality "ad hoc" but I don't have a good idea how to. (besides providing a REST API and call it)

[2019-07-28 18:34] xmlking opened #1649 "@nrwl/node: showCircularDependencies false still show WARNING after upgrading typescript version to >= 3.5"
_[Please make sure you have read the submission guidelines before posting an issue](https://github.com/nrwl/nx/blob/master/CONTRIBUTING.md#-submitting-issue)_

# Prerequisites

Please answer the following questions for yourself before submitting an issue.
**YOU MAY DELETE THE PREREQUISITES SECTION.**

- [x] I am running the latest version
- [x] I checked the documentation and found no answer
- [x]