[2018-02-19 14:45] #254 closed

[2018-02-19 14:54] vsavkin commented on #261
Since a particular version of Angular (and  the CLI) works with a particular version of TypeScript, Nx is pinned to one version of TypeScript as well. We use TS 2.6.2 when we generate a new workspace.

In general, I recommend you to let Nx upgrade Angular, CLI, RxJS, NgRx, or TypeScript. One of the advantages of using Nx is that we makes sure the lib combination we ship works well together.

Closi

[2018-02-19 14:54] #261 closed

[2018-02-19 14:55] #262 closed

[2018-02-19 15:02] vsavkin commented on #263
The errors says "E/launcher - Error: Error: Cannot find module '@content-platform/test-helpers'", but the library name is "e2e-test-helpers". Should not you import:`'@content-platform/e2e-test-helpers'`?

[2018-02-19 15:02] a5hik opened #280 "Page refresh issue - nx"
Does nx has any built in mechanism to support losing state when refreshing page? What is the real purpose of data persistence api and its underlying api? Does it solves the above issue? If not what is the recommendation. I see the ngrx sample uses index dB? If then do we have samples with nx?

[2018-02-19 15:03] vsavkin commented on #265
Could you provide a github repo with a repro?

[2018-02-19 15:07] tyler-morrison commented on #275
My team was able to do this pretty easily using [Compodoc](https://github.com/compodoc/compodoc).

Compodoc reads your entire Angular app without actually compiling the source. Just create a new `tsconfig.json` at the root level of your project and be sure to use the following...

[code]

Then you can run `compodoc -p ./tsconfig.compodoc.json` and easily create living docs related to your Nx works

[2018-02-19 15:12] xeax opened #281 "Nx workspace libs paths issue"
I'm trying to convert my Angular 4.4 single SPA to Nx workspace.

I've prepare my SPA for migration by extracting 2 libraries ("core" in "src/app/core" & "fake-db" in "src/app/fake-db") and adding path alias for them in tsconfig.json: `"paths": { "@mc/*": [ "app/*" ] }`.

Converting SPA successfull, "ng serve" and "ng build --prod" works fine.

Then I move libs to `libs/*` and rewrite tsconfig.jso

[2018-02-19 15:17] vsavkin commented on #273
The current version of Nx only works with CLI 1.6.5, or to be more precise, it only work with this patched version of 1.6.5 (see here: https://github.com/nrwl/nx/wiki/FAQ). We are planning to release Nx 0.8 soon, which will include CLI 1.7.

[2018-02-19 15:17] #273 closed

[2018-02-19 15:19] vsavkin commented on #276
Nx is a CLI project. So the only modification allowed are the ones allowed by the CLI. I'd read through the CLI docs to see what options are available

What do you need to modify to make it work?

[2018-02-19 15:19] vsavkin commented on #278
Could you provide a repro (a github repo)?

[2018-02-19 15:20] vsavkin commented on #279
Could you provide a repro (a github repo(?

[2018-02-19 15:22] vsavkin commented on #274
The process is to update your versions of @nrwl/schematics and @nrwl/nx to latest, and then run: `npm run nx-migrate`. The nx-migrate command will update the versions of Angular, TypeScript, RxJS, NgRx, and CLI.

[2018-02-19 15:23] vsavkin commented on #274
@jschwarty could you update the docs to describe the command in more detail?

[2018-02-19 15:33] vsavkin commented on #239
The issue has been fixed here: https://github.com/nrwl/nx/pull/240

[2018-02-19 15:33] #239 closed

[2018-02-19 15:56] mcblum commented on #276
@vsavkin you're on top of these issues today :)

Looks like the most common way is to eject the project. Does that cause any issues? Here's an SO issue that goes over the basics.

https://stackoverflow.com/questions/47381149/angular-4-tailwindcss-setup

I think a lot of my lack of understanding of how this works comes from not being able to visualize how to set different config options for the dif

[2018-02-19 15:58] xeax commented on #281
Temporary solved issue with symlink "libs" in "apps/myapp/src" linked to "libs" in Nx workspace root folder
and setting tsconfig.json "paths" to `{ "@mc/*": [ "libs/*" ] }`.

[2018-02-19 16:45] froodley commented on #279
Sure: https://github.com/froodley/yarn-problem

But it's just a clean install via create-nx-workspace, not sure how useful it will be.

lsb_release -a:
(apparently this box is still xenial, ha)
No LSB modules are available.
Distributor ID: Ubuntu
Description:    Ubuntu 16.04.3 LTS
Release:        16.04
Codename:       xenial

yarn: 1.3.2
node: 6.10 and 9.x both tried
npm: 5.6

Steps to repro:
`
cr

[2018-02-19 18:12] jimdubbs commented on #279
I have the same problem, using CLI 1.7.0

[2018-02-19 19:43] dereklin commented on #224
@vsavkin I don't think nx should change the tslint.json rules automatically.  Better to leave tslint.json alone to give total control to team/developers.

Regarding this particular issue, I have filed it here: https://github.com/prettier/prettier/issues/3819
It doesn't seem like an easy thing to fix.  Right now, I am using
[code]
https://prettier.io/docs/en/ignore.html

[2018-02-19 20:03] chilli-andrew commented on #265
I won't be able to supply a repo for you although I did manage to get around the issue by doing the necessary changes manually.

[2018-02-19 20:03] #265 closed

[2018-02-19 20:34] AndonyNS opened #282 "Error when running schematics (e.g: ng g app test)"
I started updating an angular cli project into nx last friday, everything was working fine then, but today, after updating the command:

`ng g app test`

is leaving the following error:
Error: dryRunSink.commit(...).ignoreElements is not a function
dryRunSink.commit(...).ignoreElements is not a function

if I try to run:
`ng g c test`

it will return the following:
Error: Could not find an NgModul

[2018-02-19 20:50] Shmow commented on #265
@chilli-andrew Mind telling me what those changes were?

[2018-02-19 21:48] vlodko commented on #225
thanks @vsavkin for a useful blog post.
now I need to play with it for some time :)

[2018-02-20 10:38] chilli-andrew commented on #265
@Shmow. If your files weren't copied across to the new apps/yourproject folder you will need to do this manually. What I did next was to create a new nx workspace in a different directory using create-nx-workspace and then generated an app. I used this app to compare .angular-cli.json and copy the relevant changes e.g. to the "apps" node (you may want to create an app and a lib so you can see how

[2018-02-20 12:38] louwie17 commented on #263
@vsavkin my bad we also have a different library called (unit) test-helpers, so I was testing it with that as well seeing if it was a naming thing, this is the actual (same) error:
[code]
To make it work currently I directly referenced the library like so:
[code]

[2018-02-20 14:00] vsavkin commented on #279
Could you check in the yarn.lock file? Otherwise, I have a different installation of node_modules, which happened to work for me.

[2018-02-20 18:52] netwobble commented on #174
Any update on adding Entity?  What does this mean if ngrx has their own generator?  Can NX extend ngrx??

Interesting to see the wiring up of these.. eg Router-Store, RootState, FeatureState, extending EntityState and wire in Workspace.

[2018-02-20 23:37] froodley commented on #279
@vsavkin Sure, I checked in package-lock.json and yarn.lock generated from the above repro steps

[2018-02-21 02:37] Yonet commented on #280
@a5hik nx does not have a built in mechanism for saving data on refreshed page. DataPersistence is a helper function to persist server state while the session is active. You can read more about it here:
https://nrwl.io/nx/guide-data-persistence and here: https://blog.nrwl.io/using-ngrx-4-to-manage-state-in-angular-applications-64e7a1f84b7b

[2018-02-21 02:37] #280 closed

[2018-02-21 02:39] Yonet commented on #281
@xeax which version of nx and angular-cli are you using?

[2018-02-21 16:34] AndonyNS commented on #282
I fixed the issue by updating the cli to 1.7.0

[2018-02-21 16:35] #282 closed

[2018-02-21 19:24] yuriyp opened #284 "schematics problem with new angular devkit: Cannot find module '@schematics/angular/strings'"
There are two files which depend on "@schematics/angular/strings"
packages/schematics/src/collection/application/index.ts
packages/schematics/src/collection/app/index.ts

while commit "refactor(@angular-devkit/core): expose string utils as a scoped names…" at angular/devkit removed packages/schematics/angular/strings.ts
https://github.com/angular/devkit/commit/0776a4eddf05cab79b6e118cef4758c1cf04f

[2018-02-21 20:48] yuriyp opened #285 "@nrwl/schematics@0.7.4 breaks calculation of relative paths in nx-enforce-module-boundaries on windows"
nx-enforce-module-boundaries produces error: "...library imports must start..."
for cases like "import { AppComponent } from './app.component';" in app.component.spec.ts
Both files are located in the same directory.
The problem is not reproduced in @nrwl/schematics@0.7.3
OS: Windows

[2018-02-21 22:12] skydever commented on #285
I already created a [PR](https://github.com/nrwl/nx/pull/283) for that, maybe you have some thoughts on it? not sure why the CI failed...

[2018-02-22 01:53] abnersouza opened #286 "CLI update?"
I recently migrated my project to use Nx. I was with the latest version of the Angular CLI 1.7.0, but I know that nx uses a gzip with it's own cli version. After the migration it set on my package.json the cli from the zip and also kept my in the dev dependencies, but I removed mine. I decided to keep Nx even tough In my project the only nx command that is working is the one to create libs, all th

[2018-02-22 01:58] abnersouza commented on #274
When i run npm run nx-migrate it shows me the message: No migrations to run
Even all my packages are not on the latest (nx, schematics, angular, typescript, cli) and so one.

I'm doing something wrong?

Thanks

[2018-02-22 14:40] frontr-uk commented on #278
Missing commands.
https://github.com/beeman/angular-nx-ssr

C:\Users\ilmad\Desktop\project-poc\angular-nx-ssr-master>ng g lib -h
ng generate lib [name] <options...>
    --dry-run Run through without making any changes.
      aliases:  -d -dryRun
    --force Forces overwriting of files.
      aliases:  -f -force
    --app Specifies app name to use.
      aliases:  -a -app
    --collection Schematic

[2018-02-22 14:41] frontr-uk opened #287 "Missing helper commands"
Missing commands. See example usage in repo `https://github.com/beeman/angular-nx-ssr`

[code]

[2018-02-23 19:13] offwork commented on #285
Error: spawnSync /bin/sh ENOENT
    at _errnoException (util.js:1024:11)
    at spawnSync (child_process.js:579:20)
    at Object.execSync (child_process.js:635:13)
    at Object.<anonymous> (/Users/keremozdemir/.npm-global/lib/node_modules/@nrwl/schematics/bin/create-nx-workspace.js:77:21)
    at Module._compile (module.js:635:30)
    at Object.Module._extensions..js (module.js:646:10)
    at Mod

[2018-02-23 22:24] mcblum opened #288 "Mac: Builds for one app attempting to parse styles for all"
We have a weird problem that just popped up once we added a second app to the workspace. Both apps build successfully using `jit` but when building with `aot`, building either app fails because it tries to parse the styles of both apps and there are some mixins that are in one app but not the other. We currently have no shared components so it's not that it's trying to use the same component.

Her

[2018-02-24 19:03] xmlking commented on #208
I fixed  following *long-path warnings*  that `TSlint` and `intelliJ` is complaining by following  @tomastrajan [blog's](https://medium.com/@tomastrajan/6-best-practices-pro-tips-for-angular-cli-better-developer-experience-7b328bc9db81) best praticies.
**Before**
[code]
**After**
[code]

my `tsconfig.json` now looks  as:
[code]

Should `nx-clo` automatically do this for us?

[2018-02-24 21:24] tomastrajan commented on #208
I think that the issue here as described by the @dereklin is that the stuff which goes to `libs` is supposed to be reusable in a "standalone" manner. That means it should not really depend directly on other parts of application.

`CoreModule` is not a very good candidate for extracting into separate standalone lib becouse is heavily coupled with the app itself and is used in the most cases in the

[2018-02-24 23:48] dereklin commented on #208
Importing from apps could create code entanglement issues

[2018-02-25 19:50] tommyc38 commented on #286
I removed my my cli by accident from within an existing Nx workspace and have no idea what the protocol to upgrade/update the CLI or Nx is supposed to be.  Please advise.

[2018-02-25 20:18] ndcunningham commented on #285
Same issue as OP

[2018-02-25 20:32] kylecordes commented on #286
There is a PR underway right now that updates to CLI 1.7.1, getting rid of the local fork version:

https://github.com/nrwl/nx/pull/289

I suspect most likely once that ships, there will be instructions on how to upgrade from the old set up to the new set up.

[2018-02-25 20:50] kylecordes commented on #259
I'm not on the Nrwl team; but I think this is actually not a Nx specific question, rather I think it applies quite generally to Angular regardless of the tool you use to manage development of many related applications or libraries.

I believe the generally accepted approach is that you should think of the Module as the default unit of modularity, of reuse, etc. If you have code sitting in a librar

[2018-02-25 21:16] dereklin commented on #259
When I wrote the original post I used the term module but was really thinking of NgModule.  I am going to update it.

It's trivial to put a function or a group of functions as a javascript module nowadays (http://2ality.com/2014/09/es6-modules-final.html)

[code]
In the above example, lib.js could be named math.js or the math module.

But does it have to be turned into a NgModule inside the libs f

[2018-02-25 23:01] kylecordes commented on #259
Oh yes, that is what I meant also; and I will also edit mind to be clear that I mean NgModule. If you have some block of code to reuse in an Angular context, that has any Angular contents (components, services for, really anything at all) then the default way to package it should be as a NgModule. If you have instead a block of TypeScript code which has no Angular connection at all, then certainly

[2018-02-25 23:34] skydever commented on #285
created a new pr with the latest changes from master (that are great by the way, using the official angular cli now) - ci is passing ...

[2018-02-26 02:01] dereklin commented on #259
@kylecordes I think if the topic is not nx related, then using NgModule is definitely the way to go for most cases.

One selling point of nx is that the libs are meant to be internal.  So apps can provide services inside of the libs, and they can use components inside libs.  And having these small units in libs will make them very reuseable.  So that is a legitimate use case.

However, for a more

[2018-02-26 02:06] kylecordes commented on #259
@dereklin That bit of utility example doesn't do anything with Angular; there is no reason to put it in an NgModule. It has no state, and doesn't need to be injected with DI.  It can simply be used as a plain JS library. It can sit in a Nx managed library directory, it could be published to NPM, etc. without any Angular awareness.

[2018-02-26 10:41] RicardoVaranda commented on #286
@kylecordes Seems like it's been forked! Any information on the upgrade procedure would be greatly appreciated :)

[2018-02-26 13:12] kylecordes commented on #286
@RicardoVaranda It's merged, which is great. I am not "living on the edge" of unpublished Nx-in-progress... but if I had to guess, I'd guess that when you upgrade your Nx dependencies to the upcoming versions, you'll also change the CLI dependency to 1.7.1+, and discard the old custom CLI tgz.  Real upgrade info will have to come from the Nx team, this is just a guess at the bare minimum.

[2018-02-26 17:23] jwuliger commented on #284
Oh man, I just spent over an hour trying to figure this error out. Thanks, @yuriyp for your insight. now I need to find a workaround.

I can report the same problem. My Env:

[code]

[2018-02-26 23:05] offwork opened #293 "Nx can not perform "child_process""
<img width="918" alt="screen shot 2018-02-27 at 01 50 12" src="https://user-images.githubusercontent.com/10039583/36700966-890ed99a-1b62-11e8-8c61-3930f7c8b8a4.png">

Nx not completing the installation after creating the project. It's probably due to the changes that came with the new version of [Nodejs](https://github.com/nodejs/node/blob/319cd443a93baa70cc8c04808602c45bf79d4bf9/lib/child_process

[2018-02-27 10:18] FallenRiteMonk opened #294 "Initiate routing upon pessimisticUpdate success"
Hy,

what would be the best way to initiate a redirect upon successfully finishing a HTTP request?

My scenario is the following:
I have a lib that handles the authentication, which has a guard that checks login-state/permissions upon routing. If a user is now not logged in, a popup for authentication is shown.
What I want to achieve is that once the user successfully logged in I close the popup a

[2018-02-27 11:13] ball6847 commented on #193
When I create a lib and then create component with `--prefix`

[code]

but when i run `ng lint` it keep saying

[code]

I tried editing `.angular-cli.json` to manually set the prefix but got no luck.

It would be nice if `ng g lib` supports `--prefix`

[2018-02-27 13:45] pkamdem commented on #294
@FallenRiteMonk Have you thought about using url to persist state?

1. Redirect to the auth route if a user is not logged (Persist requested page in url)
2. One login is complete, redirect to the previously requested page

============

Redirect to myapp/authroute?redirectpage=myredirected-page-persisted
Redirect to myapp/myredirected-page-persisted after login

[2018-02-28 22:16] un33k opened #299 "Creating app with invalid style extension doesn't error"
### Versions
[code]

### Repro steps
* Create a nx project
* Create an app (ng g app web-app --style=cscss)

### Observed behavior
* New app is created with styles.cscss

### Desired behavior
* Perhaps a warning that cscss is invalid

[2018-03-01 14:24] jdk339 commented on #260
I am also getting this error. Would be great if this would get some attention

[2018-03-01 14:29] jdk339 commented on #261
`npm install typescript@2.6.2` gets rid of the silent 'Error:' error, but I get another error right after running `ng generate app my-app-name --routing`

[code]

[2018-03-01 14:34] jdk339 commented on #261
I figured it out. I had to downgrade `@nrwl/schematics` from `0.7.4` (I upgraded trying to fix the problem above) back to what I had before (`0.3.0`). Really wish the documentation had documentation on how to update `@nrwl/schematics`, because changing/upgrading the version through npm does not seem to work...

[2018-03-01 21:03] Yonet commented on #286
@abnersouza @kylecordes @RicardoVaranda @tommyc38 latest version of nx 0.8.0 is using angular-cli 1.7.1. Thank you for your patience. Closing this issue.

[2018-03-01 21:03] #286 closed

[2018-03-01 22:35] dereklin opened #301 "Hiccups upgrading from 0.7.4 to 0.8.0"
I manually changed these to:
[code]
I ran
[code]
I can see that @angular-devkit/schematics and some others were removed by the migration/update

Then I did
[code]

I got:
[code]

[2018-03-02 03:21] jeffkenz89 opened #302 "is angular nx is compatible with angular dart & flutter?"
is angular nx is compatible with angular dart & flutter?

[2018-03-02 04:23] Yonet commented on #274
@abnersouza you need to update @nrwl/schematics and @nrwl/nx first, then run nx-migrate.

[2018-03-02 04:33] ThomasBurleson commented on #173
Fixed with SHA acdeb1b

[2018-03-02 04:33] #173 closed

[2018-03-02 06:08] dereklin commented on #301
removing node_modules and package-lock.json and npm i again made it work

[2018-03-02 06:08] #301 closed

[2018-03-02 06:12] Yonet commented on #301
@dereklin can you check your local version of your nrwl node_modules. You don't need the @angular-devkit/schematics with 0.8.0.

[2018-03-02 10:43] FallenRiteMonk opened #303 "imports of lazy-loaded libraries are forbidden due to name collision"
I have a lib called 'order', which is lazy-loaded, and a lib called 'oder-api', which isn't lazy loaded.

TSLint gives me the following error on a import of the OrderApiModule (from 'order-api').
```[tslint] imports of lazy-loaded libraries are forbidden (nx-enforce-module-boundaries)```

As far as I could figure out there is some name collision with the 'order' lib, because if I rename the 'order

[2018-03-02 12:48] ThomasBurleson commented on #303
@FallenRiteMonk - can you test with the latest [0.8.0 release](https://www.npmjs.com/package/@nrwl/nx) ?

[2018-03-02 13:14] FallenRiteMonk commented on #303
@ThomasBurleson event with 0.8.0 I get the same error message.

Furthermore I noticed that by installing 0.8.0 one gets the following message displayed:
[code]
This is a bit misleading because one hast to run ```npm run nx-migrate``` first, so that the 'nx-migrate' script gets renamed to 'update'.

[2018-03-02 13:47] chris5287 commented on #285
@skydever thanks for the patch, be great for this to be in the next release (pretty please)

[2018-03-02 14:34] kylecordes commented on #231
I have found it is possible to sit a package.json file in a lib/blah directory - Nx ignores it and continues working as before, and using that package file you can do all the normal things that you would do to make a valid NPM TypeScript package.

[2018-03-02 17:04] dereklin commented on #303
I am using 0.8.0
It seems like all relative imports are in violation of "nx-enforce-module-boundaries":
[code]
For example, in one of my spec files, this raises the violation:
[code]
I am turning off "nx-enforce-module-boundaries" for now

[2018-03-02 20:58] thelgevold commented on #293
Which version of node/OS are you using?

[2018-03-02 21:56] thelgevold commented on #287
Hi. Can you provide a little bit more detail to clarify?

[2018-03-02 21:57] thelgevold commented on #288
Hi, do you have a small repro to reproduce the problem?

[2018-03-02 22:11] thelgevold commented on #294
Hi.
Closing since this isn't directly related to Nx. I recommend reposting on stackoverflow though.

[2018-03-02 22:11] #294 closed

[2018-03-02 22:33] thelgevold commented on #230
Closing due to inactivity.

[2018-03-02 22:33] #230 closed

[2018-03-03 00:27] skydever commented on #303
@dereklin are you using windows? does this [pr](https://github.com/nrwl/nx/pull/290) fix your situation? here is the [JS file](https://github.com/skydever/nx-quick-fixes/blob/master/node_modules/%40nrwl/schematics/src/tslint/nxEnforceModuleBoundariesRule.js) you can replace at `/node_modules/@nrwl/schematics/src/tslint/nxEnforceModuleBoundariesRule.js`

@FallenRiteMonk wanted to check your issue t

[2018-03-03 01:00] dereklin commented on #303
@skydever Yes. I am using Windows 7.  The pull request did most of the cleaning.  I still have some issues.  I have a angular playground app, there I have a sandbox that does this:
[code]
I am importing from apps, not libs, and yet it's complaining the same things:

[code]

[2018-03-03 09:07] offwork commented on #293
node v9.6.1 / macOS 10.13.3

[2018-03-03 10:27] FallenRiteMonk commented on #303
@skydever I don't have the time this weekend, but I'll give it a try as soon as possible next week.

[2018-03-03 20:10] spiotr12 commented on #303
+1
it would be nice to be able to control individual rules (if that's possible)

[2018-03-03 20:59] skydever commented on #303
@FallenRiteMonk I updated the [quick fix file](https://github.com/skydever/nx-quick-fixes/blob/master/node_modules/%40nrwl/schematics/src/tslint/nxEnforceModuleBoundariesRule.js), your use case should be covered now. I will add that to the [PR #290](https://github.com/nrwl/nx/pull/290). You can try when you have the time for it ... (my setup was broken yesterday, the workspace I used was at 0.5.4

[2018-03-03 21:43] dereklin commented on #303
@skydever I agree my use case is special.  I am writing a single Angular Playground (http://www.angularplayground.it/) app to test all the components (in apps and libs).  I'll just disable the rules in my Angular Playground sandboxes for now.

Thanks for your time.

[2018-03-04 00:49] dereklin commented on #293
Same issue for me:

Node 8.9.4
Windows Subsystem for Linux

Works fine on Windows Dos Prompt

[2018-03-04 01:24] mcblum commented on #288
@thelgevold I'll try to get one online somewhere for you to clone and run. If you have any repo yourself that uses Nx you should also be able to replicate it by doing something like:

[code]

and then put a file in {appRoot}/sass/_mixins.scss. If you have two apps that both use an include path, even if that path is different, building one app will scan all apps meaning that if `_mixins.scss` doesn

[2018-03-04 17:36] ph55 commented on #237
Need close apps that using your project directory (even with administrator).
Closing editor (WebStrom) solved the issue in my case.

[2018-03-05 13:38] ph55 opened #305 "Disable format on new app creation."
After migrating project to 'nx' and adding new app to workspace - format runs on newly created app and old converted project as well.

Any way to disable format ?
Removing 'postGenerate' line from 'default' doesn't have effect.

![image](https://user-images.githubusercontent.com/1386622/36977852-475ddf36-208b-11e8-9783-45d63bf4027a.png)

[2018-03-05 14:08] ph55 commented on #305
Never mind https://github.com/nrwl/nx/issues/187

[2018-03-05 14:08] #305 closed

[2018-03-05 16:50] FallenRiteMonk commented on #303
@skydever just tested your quick-fix and it seems to be working just fine!

Any idea on when we are going to see this merged?

[2018-03-05 20:03] skydever commented on #303
@FallenRiteMonk great to hear!

I try to add some tests, I hope the pr will get merged then ...

[2018-03-06 00:28] exequiel09 commented on #305
Why close this? I also needed to disable auto-formatting not only when generating apps but also libs. Previous versions allows disabling the auto-formatting during generation.

[2018-03-06 00:34] exequiel09 commented on #305
@vsavkin is there any way to disable auto-formatting during generation? Thanks :)

[2018-03-06 00:48] exequiel09 opened #306 "Optionally disable code formatting"
Found this issue #305 (currently closed).

We must have an option to disable code formatting during generation. I suggest that by default it is disabled and will automatically format the code for you. This automatic behavior was introduced (correct me if i'm wrong) with this commit: https://github.com/nrwl/nx/commit/e7481a790f5becffc46e794ec46c0835a2114319

Previous versions allows disabling the a

[2018-03-06 00:54] kylecordes commented on #306
Here is an easy way to disable formatting. Make the relevant bit of your package.json look like so.

[code]

(So far I've been forced to do this because I haven't been able to find a way (admittedly, very little effort looking) to disable the formatter from combining long series of (for example) imports in a module definition, onto the same line. In our work here, we rely on having these things sp

[2018-03-06 00:58] exequiel09 commented on #306
I recently found a neat or should i call it a dirty hack? create a `.prettierignore` file in the directories to be ignored and add this line inside the ignore file `**/*.ts`

[2018-03-06 01:00] dereklin commented on #306
I am also using the ignore approach: https://prettier.io/docs/en/ignore.html

I am using the inline approach:
[code]

[2018-03-06 01:01] exequiel09 commented on #306
Also works when creating a `.prettierignore` file in the root directory and excluding all files that is needed to be excluded.

AFAIK, This should be documented.

And, make also this as an option during generation

[2018-03-06 03:17] ThomasBurleson commented on #288
@mcblum - please provide a sample workspace (repo) that duplicates this issue; otherwise we will need to close.

[2018-03-06 03:19] ThomasBurleson commented on #237
Closing as not an issue w/ 0.8.0 release.

[2018-03-06 03:19] #237 closed

[2018-03-06 03:27] ThomasBurleson commented on #306
@JamesHenry - can you add some wiki docs or readme regarding above ^ ?

[2018-03-06 03:31] ThomasBurleson commented on #232
Can you confirm these errors when using Nx v0.8.0 ?

[code]

[2018-03-06 03:33] ThomasBurleson commented on #221
This has been fixed with release v0.8.0.

[2018-03-06 03:33] #221 closed

[2018-03-06 03:35] ThomasBurleson commented on #236
Release v0.8.0 now uses the [unpatched] CLI.

[2018-03-06 03:50] ThomasBurleson commented on #208
@xmlking - Defining an `@env/*` path is an interesting idea. Perhaps we should add this to the schematics.

[2018-03-06 03:52] ThomasBurleson commented on #263
Closing as will not fix.

[2018-03-06 03:52] #263 closed

[2018-03-06 03:53] ThomasBurleson commented on #284
Please retry with CLI 1.7.2 and Nx v0.8.0. Will reopen if you confirm the issue still exists with those recent versions.

[2018-03-06 03:53] #284 closed

[2018-03-06 03:59] thelgevold commented on #293
Can you retry with the latest version of nx (0.8.0) and @angular/cli@1.7.1?

[2018-03-06 05:10] mcblum commented on #288
@ThomasBurleson hey could you give me a few more days? We got really unlucky here and had a sick kid and then they canceled school on us today and tomorrow. I haven't forgotten just haven't quite gotten there yet.

[2018-03-06 05:31] thelgevold commented on #288
This may also be an issue with Angular CLI since nx inherits the apps feature from there. Does this work in a plain Angulat Cli project?

[2018-03-06 07:26] ph55 commented on #306
As I understood, @vsavkin approach is not to give flexibility for this.
You can hear him explaining it here:

https://youtu.be/qYNiOKDno_I?t=30m15s

[2018-03-06 10:22] exequiel09 commented on #306
I agree with the concepts he shared but there should be some sort of leeway to this one. Sample scenario is that you migrated an existing Angular CLI codebase to the Nrwl's Nx. I'm pretty sure you have some code styleguide already set there before you decided to migrate it.

Another scenario is that other teams might opt to use Nx in newer projects but decided to opt-out in the auto-formatting cod

[2018-03-06 13:00] piernik opened #308 "Upgrading from AngularJs"
It's a question...

I have very big project written in `angularJs`. It's a CRM system.
I think it's time to upgrade to `Angular`.
I read Your article: https://blog.nrwl.io/using-nrwl-nx-to-upgrade-you-angularjs-applications-to-angular-f5b8adf188aa
I think that `downgrade` strategy is better for me, but I have no idea how to do it :).

I installed nx workspace and installed `downgradeModule`.
Where

[2018-03-06 13:10] kylecordes commented on #306
I actually agree with @vsavkin  on this, broadly. I think the approach Google Go takes is brilliant for example, a broad swath of format/layout issues are skipped. Instead of each developer/user developing a different code layout style, everyone uses `go format`. Many hours and dollars saved.

However, in the particular case of lists of imports declarations etc. in a NgModule, prettier causes a  q

[2018-03-06 14:07] ThomasBurleson commented on #308
@piernik - we will work on improving some documentation for this.

[2018-03-06 14:09] ThomasBurleson commented on #288
@mcblum - np, thanks for the response.

[2018-03-06 14:11] raczroland opened #309 "Using different versions of a lib or a package"
I want to start my next Angular project using Nrwl Nx, because I need to write multiple apps for one client. But:

1. I read this: 'An upgrade to a lib requires a change to all implementors.' Is there any solution (bypass) to use different versions of a lib or an NPM package in different apps? There is only one `node_modules`, but this is critical for my apps.

2. How can I specify different versi

[2018-03-06 16:06] cheindl commented on #232
Yes, problem auf @amiller29au still persists also on my system:

@nrwl/schematics@0.8.0
@angular/cli@1.7.2
Ubuntu 16.04

[2018-03-06 16:09] piernik commented on #308
Great ! When can I expect it? This week or rather this month?
Need to plan my week ;)

[2018-03-06 16:44] ph55 opened #310 "Lazy loaded lib not added to tsconfig(s) include."
If lib added as `--lazy` and `--parent-module` specified as lib and not as app -
no changes to `tsconfig.app.json` and `tsconfig.e2e.json` would be written.

Include should be added.
Otherwise error thrown on serve:
[code]

Steps to reproduce:
* Add app
[code]
* Add lazy lib
[code]
* Add another lazy lib to parent
[code]

Error fixed by manually adding following line to `tsconfig.app.json` include

[2018-03-06 17:02] piernik commented on #308
I found Victors article: https://vsavkin.com/migrating-angular-1-applications-to-angular-2-in-5-simple-steps-40621800a25b

It assumes that `AngularJs` code looks like this:
[code]
But in reality code looks like this:
[code]

Is it possible to upgrade from "standard" code not `typescriptish`?

[2018-03-06 18:38] offwork commented on #293
The problem I'm experiencing exactly is this:

1. `create-nx-workspace support-ticket-suite --directory=ticket-system --npm-scope=suite`
     `child_process.js:614
    throw err;`

2.  `create-nx-workspace support-ticket-suite`
      everything is okay!

I use Yarn for package management. global prefix is as follows:
<img width="702" alt="kerem-terminal" src="https://user-images.githubusercontent.

[2018-03-07 02:26] playground opened #311 "The "@angular/compiler-cli" package was not properly installed. Error: Error: Cannot find module '@angular/compiler-cli'"
I have been running on these versions and things have been working fine until today.
Angular CLI: 1.6.6
Node: 9.4.0
OS: darwin x64
Angular: 5.2.2
... animations, common, compiler, compiler-cli, core, forms
... language-service, platform-browser, platform-browser-dynamic
... router

@angular/cdk: 5.1.0
@angular/cli: error
@angular/material: 5.1.0
typescript: 2.6.2
webpack: error

The "@angular/comp

[2018-03-07 04:51] xeax commented on #281
[code]

[2018-03-07 05:38] ball6847 commented on #293
I can confirm this.

As we can see here https://github.com/nrwl/nx/blob/eb42a4e34fb23a5a268ce9326695bf209b0f450a/packages/schematics/bin/create-nx-workspace.ts#L60

`create-nx-workspace` pass all additional arguments to `ng new` command including `--directory` which is a valid option for `ng new` command

But later `create-nx-workspace` execute yarn and npm inside `projectName` which can be proble

[2018-03-07 10:11] tfiwm commented on #279
I have the same with npm but we have our own schematics which are extending the schematics from nrwl

[code]

[2018-03-07 14:14] playground commented on #311
After I deleting node_modules and reinstalling everything again those errors went away but now I am getting different errors about our shared modules, I think this is more of a cli question at this point.

Module build failed: Error: /myproj/node_modules/@scope/shared-module/index.ts is missing from the TypeScript compilation. Please make sure it is in your tsconfig via the 'files' or 'include' pr

[2018-03-07 14:16] ThomasBurleson commented on #309
@raczroland - IMO, these are good questions that we should document in a Wiki.

[2018-03-07 16:13] ThomasBurleson commented on #311
@playground - are you using the latest v0.8.0 install of `@nrwl/nx` ?

[2018-03-07 16:17] ph55 commented on #259
Viktor actually recommends to put 99% percent of your code in libs.
https://youtu.be/qYNiOKDno_I?t=6m35s

[2018-03-07 16:21] ThomasBurleson commented on #281
@xeax - please retry with `@nrwl/nx`:   0.8.0 (which includes `@angular/cli` 1.7.2)

[2018-03-07 18:36] playground commented on #311
@ThomasBurleson my existing project workspace is on "@nrwl/nx": "0.7.0-beta.2" not sure how to upgrade yet.

However, I've upgraded to latest of nx v0.8.0 @nrwl/schematics@0.8.0
When I tried to create a new workspace "create-nx-workspace me-test-workspace --directory=me-test --npm-scope=me"

[code]

[2018-03-07 21:42] playground commented on #259
@dereklin what is the best practice for moving a lib out of Nx and publish to NPM?

[2018-03-08 07:44] davidwuerfel commented on #73
FYI: This has been fixed with newer versions of VSCode Language Service Extension. Tested it with v0.1.9. It is now working as expected. (https://github.com/angular/vscode-ng-language-service/issues/211)

[2018-03-08 08:39] amiller29au commented on #232
Yes the problem still persists with version 0.8.0

[2018-03-08 13:28] spiotr12 commented on #303
@skydever
I meant that there are 4 rules and I wanted to turn off e.g. "library imports must start with @.../" but keep the other 3 rule. setting `"nx-enforce-module-boundaries": [true]` turns all of them off. I do not know how to use `allow: []` could you briefly explain how to use it? thanks! 😄

[2018-03-08 14:03] ThomasBurleson commented on #232
@amiller29au - Understood. We will be addressing this soon.

[2018-03-08 16:01] ThomasBurleson opened #312 "Schematic error generating lazy library"
On the nrwl.io site - using Angular CLI 1.7.2 and @nrwl/schematics 0.8.0 - using the following command:

[code]

Adds the following *incorrect* entry into `app/app.module.ts`:

[code]

the entry should be `@nrwlio/team#TeamModule`.

May be releated to #303

[2018-03-08 16:50] skydever commented on #303
with 'allow' you can set a list of import paths that are allowed no matter where you import from it (eg. 'allow: ["../../libs/mylib/some.component", "../../libs/my-other-lib/other.component]"'). it is a white list of allowed import paths.

allowing globs here would be nice, but at the moment it has to match exactly...

[2018-03-08 16:57] skydever commented on #303
...turning off just some of the rules sounds interesting too

[2018-03-08 17:03] spiotr12 commented on #303
Thanks! 😄

[2018-03-08 21:08] dereklin opened #313 "Is faster format:check possible?"
I am incorporating format:check to my pre-commit workflow.  I was wondering, just like how jest in watch mode uses git commit time stamp to figure out what to run, can format:check do the same or something similar?

Let's say I change a single file, format:check will just check for that single file.  That would make it really fast.

Today, it checks all files even when only a single file is change

[2018-03-09 05:42] dereklin commented on #313
It probably needs some data file to record which files were formatted at the last commit, since one can bypass the format at commit on purpose.

[2018-03-09 06:16] wvanderdeijl commented on #193
The trick to making this work is to add the prefix to the generated apps section in .angular-cli.json and also adding the prefix to two tslint rules in tslint.json that have the list of allowed prefixes. Hopefully I can find the time to create a PR to add these steps to the nx schematics

[2018-03-09 09:19] FallenRiteMonk opened #314 "Convert cli project error"
Converting an existing cli project leads to a lint error.
```error TS5058: The specified path does not exist: '<OLD_PROJECT_PATH>/tsconfig.e2e.json'.```

The '.angular-cli.json' file contains the following entries under 'lint':

[code]
but should contain:
[code]

[2018-03-09 10:43] FallenRiteMonk commented on #314
I further noticed that the app is missing the 'NxModule.forRoot()' import.

[2018-03-09 12:11] BioPhoton opened #316 "Provide DataPersistence service in app.module.ts"
**Problem:**
After initializing the ngrx setup the `DataPersistence` service is not provided by the providers in app.module.ts but the `AppEffects` service is.

If I run my project I get an error because `DataPersistence` is used but nit provided.

[code]

**Solution:**
After initializing the ngrx setup also add `DataPersistence` service to providers

[2018-03-09 12:28] BioPhoton opened #317 "Auto create file for selectors. => `app.selectors.ts`"
I would suggest creating a file called `app.selectors.ts` automatically with the rest of the files in `+state`.
Now we can group and reuse the selector logic and organize it together with actions, reducer, and effects.

Example:
[code]

[code]

[2018-03-09 14:00] ThomasBurleson commented on #317
@BioPhoton - perfect timing as I am working on Schematics for this very issue. Refs #174.

[2018-03-09 14:02] ThomasBurleson commented on #316
@BioPhoton - plz show the code samples before and after.

[2018-03-09 14:03] ThomasBurleson commented on #314
@FallenRiteMonk - are you using @nrwl/schematics 0.8.0 with Angular CLI 1.7.x ?

[2018-03-09 14:04] BioPhoton commented on #317
Thx bro!! 👍

[2018-03-09 14:05] ThomasBurleson commented on #313
Interesting idea. We welcome pull requests for this one.

[2018-03-09 14:07] ThomasBurleson commented on #311
@playground - yes, unfortunately there seems to be an issue with `create-nx-workspace`. Refs #232 .

[2018-03-09 14:46] vsavkin commented on #266
Fixed here https://github.com/nrwl/nx/pull/307

[2018-03-09 14:46] #266 closed

[2018-03-09 15:20] vsavkin commented on #302
It's not. Angular and AngularDart are too separate projects with different tools used to build them.

[2018-03-09 15:20] #302 closed

[2018-03-09 15:26] vsavkin commented on #82
If you are moving your existing project into the workspace, by making it an app, you should do without `test.ts` because it is shared between all the apps. So your existing project and the workspace won't have the same test.ts.

Agree. We generate test.js because of we had an issue with an older version of the CLI. The issue might be fixed right now. If you submit a PR changing the application sch

[2018-03-09 15:45] vsavkin commented on #232
Fixed here: https://github.com/nrwl/nx/commit/da9310e9dbb4eb3294200ca72bfa70b14faec2c2

[2018-03-09 15:45] #232 closed

[2018-03-09 15:48] vsavkin commented on #241
@xeax could you try it with Nx 0.8?

[2018-03-09 16:05] vsavkin commented on #258
`DataPersistence.navigation` relies on the NgRx router integration. The integration dispatches the navigation event before the preactivation phase (Guards and Resolvers) executes, and that's why you are seeing the issue.

Could you submit an issue to https://github.com/ngrx/platform? I'll fix it in the NgRx repo.

Since the problem is caused by NgRx, I'm closing this issue.

[2018-03-09 16:05] #258 closed

[2018-03-10 03:10] #272 closed

[2018-03-10 06:57] FallenRiteMonk commented on #314
Jep ```"@nrwl/schematics": "^0.8.0"``` and ```"@angular/cli": "^1.7.0"```.
This is what ```ng g workspace``` command added for me.

[2018-03-10 06:59] xeax commented on #241
On
[code]

My results:
[code]

[2018-03-10 13:11] BeaveArony commented on #308
Copy your angularjs app to the assets folder.
This workshop project is really useful:
https://github.com/nrwl/tuskdeskjs-angular-upgrade
Go through the commits to follow the steps.

[2018-03-10 16:27] vsavkin commented on #241
Yup. You need to upgrade the CLI to 1.7+

[2018-03-10 18:35] xeax commented on #241
On
[code]

lib added with command:
ng generate lib fake-db --nomodule

resulting libs/fake-db/index.ts containing:
`export { FakeDb } from './src/fake-db';`

Now it is correct path without any errors. Thank you!

Tomorrow I'll try to check "Cannot find module" error.

[2018-03-11 01:03] MaGnaL opened #321 ""format*" script can't resolve to "bin-prettier.js" with a space in absolute path"
Running one of the `format*` npm scripts fails, when there is a space in the absolute path to the workspace. Unfortunately `format:write` is called when a new app or Angular module lib is created.

In my case:
[code]

I think the code which needs to be changed is this one:

https://github.com/nrwl/nx/blob/b17b186186ea5617b1b953f1ddd4ab05ebfa7d92/packages/schematics/src/command-line/format.ts#L57-L

[2018-03-11 18:46] dereklin commented on #259
Just watched James Henry's talk on ngVikings youtube channel: https://www.youtube.com/watch?v=bMkKz8AedHc

![nx-structure-example](https://user-images.githubusercontent.com/2231799/37256997-4c2d4abc-2520-11e8-8d8a-addb3a85972e.PNG)

He gave this code structure example, and at 20:30 he talked about the practice of putting non-reusable app specific module in the libs folder.

This rocks my understan

[2018-03-11 19:01] #285 closed

[2018-03-12 05:53] maartentibau commented on #286
Any chance the CLI version could be bumped up to v1.7.3 going through the change log I think it should be a small one.

[2018-03-12 06:33] emilio-martinez opened #323 "$workspaceRoot not created on `update`"
When creating a new project with Nx, an entry for `$workspaceRoot` is created in the `.angular-cli.json`:

[code]

However, this app entry is not created on `update`, and there is no migration for it. See https://github.com/nrwl/nx/search?utf8=%E2%9C%93&q=workspaceRoot.

To be candid, not sure what it's used for, but thought it would be more helpful to report it than not.

[2018-03-12 06:39] emilio-martinez opened #324 "`makeSureNoAppIsSelected` is not added to `karma.conf.js` on `update`"
When creating a new project with Nx, the following snipped is near the top of the `karma.conf.js` file:

[code]

However, this is not created on `update`, and there is no migration for it. See https://github.com/nrwl/nx/search?utf8=%E2%9C%93&q=makeSureNoAppIsSelected.

[2018-03-12 08:58] emilio-martinez opened #325 "`makeSureNoAppIsSelected` is inaccurate for `ng test -a app-name`"
`makeSureNoAppIsSelected()` correctly verifies passed arguments as long as they're formulated as `-a=app-name` or `--app=app-name`. However, arguments are missed if they're formulated without the equal sign after the argument key, i.e., `-a app-name` or `--app app-name`.

That syntax, both with and without the equals sign after the argument key, is valid, as shown in Angular CLI's ["Multiple Apps

[2018-03-12 16:22] mcblum commented on #279
We have also run into this same issue. I'm not sure exactly when it happened, but we were running .7.x before I upgraded to .8 today. Going to try removing `node_modules` and using NPM. We also typically use yarn.

[2018-03-13 09:58] moattarwork opened #327 "How to build an nx application in multi-stage docker build"
I'm building a docker image from my nx project and in my Dockerfile the following line

`RUN npm run build -- --app=dealmgmtapp --prod --build-optimizer`

throw exception complaining on Typescript module

How we I can solve the issue.

[2018-03-13 11:21] HideDev commented on #263
:( relative path very ugly

[2018-03-13 11:56] ph55 opened #328 "Import shared classes from lazy-loaded modules."
I have lazy-loaded module.
And I have shared service and models in this module.

Now when I import service or models(for typing) in another module it yells.
![image](https://user-images.githubusercontent.com/1386622/37339817-9e965442-26c4-11e8-8c19-7893a5425208.png)

Any suggestions how to handle it ?

[2018-03-13 12:00] kylecordes commented on #328
At the top of your shared library, re-exports all of the necessary identifiers from an index.ts file. Example:

https://github.com/nrwl/nx-examples/tree/master/libs/model

[2018-03-13 12:05] ph55 commented on #328
Great, thanks.

[2018-03-13 12:05] #328 closed

[2018-03-13 12:18] ph55 commented on #328
@kylecordes So as I see it, there is no actual need of using barrel in lazy-loaded modules.
Anyway the only thing you export (and allowed to import) from index is module itself.

Correct me if I wrong.

[2018-03-13 12:30] kylecordes commented on #328
@ph55 For some modules, that is correct, the only identifier used from elsewhere is the module itself. But for other more complex uses, it is common for other parts of your application to need access to the types or service classes (for services provided by the module) in order to use the module. Here's an example of access to a service class:

https://github.com/OasisDigital/angular-enterprise-ex

[2018-03-13 12:41] ph55 commented on #328
I see.
But in this case it's not lazy-loaded module. So it's clear.

Thanks.

[2018-03-13 12:59] ph55 opened #329 "Lazy loaded modules. Allow exports for services, models etc. [suggestion]"
Lazy loaded modules could easily have services and models that might be used in other modules.
Services usually used as singletons and accessible from any part of application.
Models or interfaces used for types also across whole application.

Structurally it is still more correct to put these files in module IMO. And export it  from barrel.
Need easy way to allow these files to be exported.

* Ma

[2018-03-13 13:02] ph55 commented on #328
https://github.com/nrwl/nx/issues/329

[2018-03-13 13:15] kylecordes commented on #329
The difficulty here is that if you refer to anything concrete in the lazy module, then some of your lazy loaded code won't actually be lazy loaded.  It will be loaded as part of the main module.

Long (**decades**) predating Angular and TypeScript, the solution to this is very well understood though.

Consider an application with main module A, lazy loaded module B.

The difficulty, the thing to a

[2018-03-13 13:17] kylecordes commented on #328
(My answer above accidentally ignored the "lazy" part of the question. For lazy loaded modules, you really don't want other parts of the application referring to identifiers inside. See explanation in #329.)

[2018-03-13 13:32] ph55 commented on #329
Got it. Thanks for detailed explanation.

[2018-03-13 13:33] #329 closed

[2018-03-14 01:12] Yonet commented on #324
You can find the replication of the issue here: https://github.com/nrwl/nx-examples/blob/master/karma.conf.js

[2018-03-14 12:36] piernik opened #333 "Command for deleting app/lib"
Is there a command to delete app or lib?

[2018-03-14 12:56] piernik opened #334 "Problem with tslint nx-enforce-module-boundaries"
In my lib module I use imports to files. But tslint always complains that I should not.

`import {components} from "./fields/components";`
`import {components} from "@schemater/search/src/fields/components";`

Both imports are marked as not valid in my IDE (PhpStorm).

Which import is correct?

[2018-03-14 13:28] daniele-zurico opened #335 "Error: spawnSync"
Hi guys,
I'm trying to follow the tutoria to install a project. I run this command:
[code]
But I'm getting this error:
[code]

OS: Mac Os High Sierra (10.13.3)
Angular CLI: 1.7.3
Node: 7.6.0
bs-dzurico:Desktop danielezurico$ sudo npm list -g @nrwl/schematics
/Users/danielezurico/.nvm/versions/node/v7.6.0/lib
└── @nrwl/schematics@0.8.0

[2018-03-14 16:21] jared-christensen commented on #56
@jschwarty I'm having a hard time figuring out exactly where that glob entry goes in the angular-cli.json. Is this correct?
[code]

[2018-03-14 17:18] jared-christensen commented on #88
@jogelin I tried the same without success.

[2018-03-14 21:57] skydever commented on #334
are you using windows? if so, this should be fixed with the next release (see #285, comments in #303).

about wich import is correct, it seems like you are importing from within the same app/lib, so
[code]
should be the way. if you import from another library (avoid importing from another *app* or a *lazy loaded library*) the import should look like this
[code]
and the `components` should be expor

[2018-03-15 00:43] jdk339 commented on #252
Still getting this issue with the following line:

`
import { DatabaseService } from '@my-products/database/src/database.service';
`

Any ideas?

[2018-03-15 00:49] jdk339 commented on #252
As _always_ happens when I ask people questions, I found the answer myself. I just added
`export * from './src/database.service';`
to my index.ts of the lib

[2018-03-15 02:02] Yonet commented on #333
No there isn't. If you delete a lib or app 3 things you need to do:

1. Remove the app/lib
2.Remove the module import if the lib is imported into another app/lib.
3.Remove the app/lib from .angular-cli.json apps array.

Closing the issue.

[2018-03-15 02:02] #333 closed

[2018-03-15 02:09] Yonet commented on #334
@piernik, @skydever is correct. Closing this issue. Please open a new one if you have more questions. Thanks!

[2018-03-15 02:09] #334 closed

[2018-03-15 03:05] Yonet commented on #335
@daniele-zurico fixed here: https://github.com/nrwl/nx/commit/da9310e9dbb4eb3294200ca72bfa70b14faec2c2
You can update your global @nrwl/schematics before creating the workspace by running:
[code]
Closing. Thanks!

[2018-03-15 03:05] #335 closed

[2018-03-15 18:46] literalpie commented on #261
@jdk339 you can run `npm run update` with the latest version of nrwl, or `npm run nx-migrate` if you have an older version.

Install the new version of nrwl/schematics first, then run the appropriate command. This will do everything needed to make everything work with the latest version of nrwl

[2018-03-15 21:53] dhknudsen commented on #173
I'm a bit confused, but with the release of 0.8.0 and switch to angular-cli 1.7.1, when is the migration file suppose to be available when running `yarn nx-migrate`? I see the file is sitting on master:
`https://github.com/nrwl/nx/blob/master/packages/schematics/migrations/20180225-switch-to-cli17.ts`
along with 3 other updates since then, but I see none of them executing when I try to migrate our

[2018-03-15 22:33] skydever commented on #281
@xeax to be honest, I would create a clean workspace and copy the ng modules to their desired places in your future nx libs/apps (never upgraded myself) - you do that anyway (copying your `core`, `fake-db` and other modules to the locations you want them, adopt the imports ...).

Still, I don't understand your *Typescript* setup. Thought I had an issue myself concerning the setup (e2e related), bu

[2018-03-16 00:05] bhupatikrish opened #336 "IE 9 infinite looping"
**Steps:**
Create a new app using the following steps.
1) create-nx-workspace nx-sample
2) cd nx-sample
3) ng g app sample-app --routing --style scss
4) Update \nx-sample\apps\sample-app\src\polyfills.ts as below.
5) ng build
6) Publish nx-sample\dist\apps\sample-app to web server.
7) Access the app in IE 9.

**Issue:**
The app goes into infinite loop by appending the current route. For the steps

[2018-03-16 01:22] emilio-martinez commented on #173
@dhknudsen did you install `@nrwl/schematics@0.8.0` and `@nrwl/nx@0.8.0` before running? Also, the old script is being deprecated so you could try running `./node_modules/.bin/nx update`.

[2018-03-16 01:27] bhupatikrish commented on #336
Looks like its an open issue with angular-cli.
https://github.com/angular/angular-cli/issues/6110

[2018-03-16 02:57] Yonet commented on #336
@bhupatikrish thank you for the update. I am closing the issue.

[2018-03-16 02:57] #336 closed

[2018-03-16 10:19] noelmace commented on #225
In addition, there are many online resources on how to use Nx with ng-packagr for this kind of workflow. It's really new, so for now, I don't think there's any about "real / big" scenarios. I'm working on it for a big company, so I'll definitely write mine when it's done. Some examples for the moment:
* [Create and publish Angular Libs like a pro by Juri Strumpflohner @ ngVikings 2018](https://you

[2018-03-16 11:09] bboehm86 commented on #327
Works fine for me... What does your Dockerfile look like?

[2018-03-16 16:24] noelmace commented on #309
I'm currently testing the use of [lerna](https://github.com/lerna/lerna) to address this, given that I should also use [ng-packagr](https://github.com/dherges/ng-packagr) in order to permit to publish and use some libraries outside our Nx monorepository. You should be able to also use yarn worspaces for that.
Linking : https://github.com/nrwl/nx/issues/87

[2018-03-16 22:24] skydever commented on #281
@xeax just watched the free courses at [angularplaybook.com](https://angularplaybook.com/courses/nx-workspaces/lectures/4113784), did you do it like shown there?
great introduction to nx from the nrwl team!

[2018-03-17 23:36] xmlking commented on #327
works for me , here  is how I am using
https://github.com/xmlking/nx-starter-kit/blob/master/.docker/prod.dockerfile#L19

[2018-03-19 13:59] FallenRiteMonk opened #339 "e2e execution error"
Using version 0.9.0 when i try to run ```ng e2e --app admin``` I get the following error: ```Please provide the app name using --app or -a.```. It only works if I run the following command: ```ng e2e --app=admin```
(Equal sign required)

This is strange because ```ng serve --app admin``` works just fine

[2018-03-19 14:06] piernik opened #340 "Upgrade nrwl/nx to 0.9"
I see that nrwl/nx 0.9 was released.  I have 0.8
How should I update? With command `npm i -g @nrwl/schematics` as I installed it?
`update:check` gives me nothing in return. It is only for updating nx dependencies, not nx itself?

[2018-03-19 14:31] raczroland commented on #309
@noelmace: First of all, thank you for your comment. I checked that issue (lerna, workspaces) and followed [this](https://blog.nrwl.io/dev-workflow-using-git-submodules-and-yarn-workspaces-14fd06c07964) article too but still not sure how to use multiple versions of a package for different apps in one repo, if I want to use Nx too. Do you have any advice? Any results with your testing?

[2018-03-19 15:35] jschwarty commented on #339
Was able to reproduce. Looks like this message is coming from Nx code here: https://github.com/nrwl/nx/blob/fcec9dc1c0468514b4a8f05f1c83bc59c6f14778/packages/schematics/src/utils/cli-config-utils.ts#L22

TODO: Need to update [`findAppArg`](https://github.com/nrwl/nx/blob/fcec9dc1c0468514b4a8f05f1c83bc59c6f14778/packages/schematics/src/utils/cli-config-utils.ts#L36) to support no equals

[2018-03-19 15:48] jschwarty commented on #340
A quick summary on how to do it can be found [here](https://github.com/nrwl/nx/issues/274#issuecomment-366724220).

We should be pushing an update to our https://nrwl.io/nx/guide-nx-workspace docs soon that explains the migrate (update) process in more detail.

[2018-03-19 20:20] CharlieGreenman opened #342 "Using ng g component myComponent -a=myModule --export erring out"
When using the above command, I am receiving the following error:

[code]

As a side note, the following is then generated in my libs component
src
--|apps
--|--| libName

Using latest:
[code]

As well as ran `migrate-nx`

[2018-03-19 20:37] CharlieGreenman commented on #342
Had to do with improper addition to .angular-cli.json. All good.

[2018-03-19 20:37] #342 closed

[2018-03-19 21:38] maartentibau commented on #274
I've updated to the latest version, `0.9.1` and I still can't do the `npm run nx-migrate`, I get the same error message as @abnersouza.

Also, when running `nx update` I get this error message

[code]

Ran the `git checkout .` command and tried again, but no luck

[2018-03-20 07:31] dhknudsen commented on #174
Just curious, with ngrx [adding their own schematics](https://medium.com/ngrx/ngrx-5-and-schematics-2d8cc3906506), is there any plans to make nx compatible with their scheme, or would you encourage people to use your own solution?

[2018-03-20 11:16] piernik commented on #340
I first run two commands `npm i @nrwl/schematics@latest -g` (globally as in https://angularplaybook.com/courses/264974/lectures/4113736) and then `npm i @nrwl/nx@latest`.
With that `update:check` showed nothing.

Then I installed `@nrwl/schematics` locally and `update:check` showed something.

So `@nrwl/schematics` should be in dev dependecies or not? I've created workspace as in course and in pac

[2018-03-20 13:00] MichaelWarneke commented on #279
I get the problem when using Typescript 2.7.2. Changing back to 2.6.2 works fine.

[2018-03-20 13:04] jdk339 commented on #261
@literalpie Thanks, but if I do `npm install @nrwl/schematics@latest` it still doesn't give me the migration script in my `package.json` to migrate my project

[2018-03-20 13:13] FrozenPandaz commented on #279
Please also trace further up in your file system.

It's possible you have an older version of @angular/cli installed somewhere in a parent (or grandparent etc.) directory which @angular/cli is using instead of its true global version.

A common mistake I make is that I accidentally `npm install` in my `projects` directory so I have to delete `projects/node_modules` while my project is in `projects

[2018-03-20 13:58] ph55 opened #343 "0.9.1 migration removes "lazyLoad""
When updating from 0.8.0 to 0.9.1 - "lazyLoad" block removed from "nx-enforce-module-boundaries".
I assume it's related to new feature - [support for tagged libs](https://github.com/nrwl/nx/pull/330)

![image](https://user-images.githubusercontent.com/1386622/37658968-7095139c-2c57-11e8-83fa-15b036669552.png)

[2018-03-20 14:11] ph55 commented on #340
`nx-migrate` was for older versions I guess.
In new version you have `npm run update`.

I did migration with following steps:
[code]

And I agree that the docs in very poor.

[2018-03-20 14:21] FrozenPandaz commented on #340
* In order to perform a migration you need to update the local `@nrwl/schematics` and `@nrwl/nx`
* It is recommended to keep your global version of @nrwl/schematics as up to date as possible as well to ensure that `create-nx-workspace` is updated.

This is correct

This is in the works! :smile: Might you have a suggestion for how you think it should look?

Thank you for pointing that out. This wil

[2018-03-20 15:10] FrozenPandaz commented on #339
I can take this

[2018-03-20 15:11] FrozenPandaz commented on #325
I can take this

[2018-03-20 17:27] patryk-zielinski93 opened #344 "Paths completion from assets in html files in WebStorm"
Hello,
Is three any way to setup correct, absolutne, paths autocompletion (from assets) per app in html files in WebStorm?

[2018-03-20 19:20] Yonet opened #345 "tsconfig path doesn't update from nx 0.2.2 to latest"
Applications created with nx v 0.2.2 has tsconfig path on the root level .angular-cli.json as
[code]
Updating to the newest version, creates new applications with tsconfig.app.json files, paths defined as:
[code]
but keeps the applications created with the older versions as is. This is causing a problem when using affected:build.

You can find the repro here:
When the problem apps/libs created:
ht

[2018-03-20 21:18] skydever commented on #343
I found out that there is an [autodetection](https://github.com/nrwl/nx/blob/de138bb26cb816b86afe6b8f14abb362cec2a20e/packages/schematics/src/tslint/nxEnforceModuleBoundariesRule.ts#L167) for that now.

I got it like that: the rule checks lib dependencies, also if a lib is loaded via `loadChildren` into another lib/app. if so, imports from that lazy loaded lib into the lib/app that is lazy loading

[2018-03-20 21:48] skydever commented on #343
...but this is still required at the corresponding `tsconfig.app.json` I suppose (e.g. in `my-app` when using `loadChildren`):

[code]

... maybe a nice additional feature, to show a lint error at the line of `loadChildren` if the typescript setup is missing that in it's include, to get the error *when you type it* ...

[2018-03-21 07:55] spiotr12 opened #347 "@nrwl/schematics@0.9.1 update breaks tslint live inspection in WebStorm"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Feature request
[ ] Documentation issue or request
</code></pre>

## What is the current behavior?
After update `@nrwl/schematics` package from 0.8.0 to 0.9.1 I experiencing and issue in WebStrom. when in WebStorm I enable tslint plugin so it shows tslint errors

[2018-03-21 08:13] spiotr12 commented on #347
Same issue happens on @nrwl/schematics@0.9.0 version

[2018-03-21 09:47] ph55 commented on #343
I don't think so.

This is **with** module added to "lazyLoad" (correct validation)

![image](https://user-images.githubusercontent.com/1386622/37703042-0687b79c-2cfd-11e8-9c3a-d0e6097d7c51.png)
![image](https://user-images.githubusercontent.com/1386622/37703035-fee58dd4-2cfc-11e8-93fd-d1ee2eaeef31.png)

<hr>
<br>
<br>

This is **without** module in "lazyLoad" (no validation)

![image](https://use

[2018-03-21 10:17] skydever commented on #343
you are sure that you are on `0.9.1`, maybe a lint cache problem in your ide? see [56788ba](https://github.com/nrwl/nx/commit/56788ba3d1a8220455b03f0c766963ae8179ce81)

[2018-03-21 16:07] skydever commented on #281
I checked the e2e related issue I was talking about, somehow I can't make it work using imports like `@myworkspace\mye2elib` from within `myapp\e2e\app.e2e-spec.ts`. Currently I am using `../../../libs/mye2elib` and I added `../../../libs/mye2elib` to the `allow` section of the lint rule - everything works fine, but it would be nice to use the barrel imports there too (and avoid the `allow` entry)

[2018-03-21 16:55] FrozenPandaz commented on #324
I can take this

[2018-03-21 17:48] #344 closed

[2018-03-21 20:14] markphip commented on #201
I've been looking at the affected feature to streamline our CI.  That got me to searching your issues which led me to this one.  It is not related to my current needs but I was intrigued by it.  I think the example given was not great because obviously if you only changed a single file in a lib then the current CLI of just passing that filename is probably the easiest.  Clearly the issue is when y

[2018-03-22 10:24] ph55 commented on #343
I see. Both `@nrwl/nx` and `@nrwl/schematics` are 0.9.1
Did reinstall `node_modues`
[code]
Now I see circular dependencies warnings (tslint) which tells it's updated.
But, lazy load stopped to work at all.

![image](https://user-images.githubusercontent.com/1386622/37764831-51957890-2dcb-11e8-88ab-fb52eec716bf.png)

![image](https://user-images.githubusercontent.com/1386622/37765033-e0e40778-2dcb-

[2018-03-22 11:39] ph55 opened #352 "0.9.1 tslint lazy load modules check not working (when nested)"
### Description:
* Add lazy-loaded module to app routing.
![image](https://user-images.githubusercontent.com/1386622/37768631-f674ca68-2dd6-11e8-8e2c-9065d9f6bf3c.png)

* Import same module into another without lazy-load.
![image](https://user-images.githubusercontent.com/1386622/37768644-04436992-2dd7-11e8-81ea-b41ef641a1e2.png)

No tslint warning thrown.

### Repo:
https://github.com/ph55/nx-laz

[2018-03-22 11:41] ph55 commented on #343
Closing in favor of https://github.com/nrwl/nx/issues/352

[2018-03-22 11:41] #343 closed

[2018-03-22 12:38] skydever commented on #352
hi @ph55

In my opinion this is the expected behaviour - the same lib can be included lazy **or** eager (tried to explain that [here](https://github.com/nrwl/nx/issues/343#issuecomment-374760302)), both is possible - but if you import it lazy, you are not allowed to also import it eager within the same app/lib.

Try this with your example:
Add `import { LazyAModule } from '@nx-test/lazy-a';` somew

[2018-03-22 13:53] ph55 commented on #352
hi @skydever

Thanks for explanation.
You're right - if I 'eager-loading' module in same place where I 'lazy-loading' it - it throws error.
So it works.
![image](https://user-images.githubusercontent.com/1386622/37773798-2e9b9c18-2de7-11e8-956e-cede71a97224.png)

<br>
<br>
<br>

But take a look at `LazyCModule` it's 'eager-loaded' in `AppModule`
<br>

![image](https://user-images.githubusercontent

[2018-03-22 15:05] skydever commented on #352
I am not sure what you are expecting, my thoughts on that are:

the rule does not check if a lazy loaded module is importing a module that was already eager loaded in the app or the other way round, and I think that's ok like this. lets say you have a classic *shared module*, you will import that module nearly *everywhere*, and you need to to have access to its components, also in the lazy loaded

[2018-03-22 15:32] ph55 commented on #352
Got it. Thanks.

[2018-03-22 15:32] #352 closed

[2018-03-22 17:21] FrozenPandaz commented on #314
I can take this

[2018-03-22 18:02] jeffbcross opened #355 "discuss: move env-specific store configuration into environment module"
Example: app.module.ts

[code]

If we, for example, want to add store freeze to this configuration across all apps, I would have to change each app's module manually. If we shifted this responsibility to the environment files themselves, it would keep apps consistent automatically when changing env-specific configuration. I.e.:

default environment.ts

[code]

default environment.prod.ts

[code]

[2018-03-22 18:06] literalpie opened #356 "Generate workspace with undefined rulesDirectory results in error"
To reproduce:
1. Create an Angular CLI project
1. remove "rulesDirectory" from the tslint.json file
1. run `ng generate workspace my-workspace --collection=@nrwl/schematics`

it results in the error `Cannot read property 'push' of undefined`.

This looks like a really simple fix. I am working on a PR now

[2018-03-22 18:21] FrozenPandaz commented on #345
The result looks correct after upgrading using @nrwl/schematics@0.9.1

https://github.com/FrozenPandaz/nx-examples/tree/migrate-from-0-2-2

[2018-03-22 18:25] Yonet commented on #345
@FrozenPandaz it is not correct after you ran. The issue is here:https://github.com/FrozenPandaz/nx-examples/blob/295aefea2d10e6e8529e5cf16163bf52d217754e/.angular-cli.json#L22

[2018-03-22 19:56] jeffbcross opened #358 "discuss: add abillity to hide app from building"
Some apps are meant for reference, and don't need to be part of the CI build or counted in "affected apps". For example, playground apps, style guides, component demos. Would be nice to configure workspace to exclude apps from being built.

+ @vsavkin

[2018-03-22 20:13] philipjfulcher commented on #358
We had to add something to handle this into our build process. We have some demo apps that are huge kitchen sinks of our components and prototypes. We wanted to avoid building these every time, especially in environments where we build in AOT mode.

[2018-03-22 21:22] ThomasBurleson commented on #355
@jeffbcross - like this with one exception:

`StoreSetup` ---> `StoreDevToolsSetup`

[2018-03-22 21:48] skydever commented on #352
I am happy if I could help. Still figuring out some things myself.

I thought about the *old* behavior, that forbid the import of libs when they were marked lazy. You can do it with `depConstraints`, but in that case you have to think the other way round - you can only define what is allowed, and not what is forbidden. Maybe an additional attribute next to `onlyDependOnLibsWithTags` is helpful in

[2018-03-22 23:14] FrozenPandaz commented on #345
So here's the story:

https://github.com/nrwl/nx-examples/commits/158993378f9b4eb875f767ad82fd0be7ec903211

The 2nd to last commit here: https://github.com/nrwl/nx-examples/commit/46521446ab7a32fdacb460d51565b6f9bfe8dba0

Did the proper migration and noted it in the angular-cli.json

The commit after that (The last commit) Merged in 2 new apps with the old way of doing tsconfigs:https://github.com

[2018-03-22 23:14] #345 closed

[2018-03-24 11:07] Sharique-Hasan opened #360 "How to handle API urls."
How to handle API path for Web and Ionic. I have my all api requests in libs. And Web part doesn't need IP address where as Ionic App needs IP address. How do I differ in between them?

[2018-03-24 14:06] zlepper commented on #281
We have just tried to upgrade our existing cli app to nx, and we get the same issue with
`ERROR in apps/mediamanager/src/app/app.component.ts(9,58): error TS2307: Cannot find module '@digizuite/services'``. I have tried with both the nx version specified by running the automatic upgrade scripts, and with the latest version of both the nx, cli and angular. Neither of which makes things work.

[2018-03-25 14:55] #324 closed

[2018-03-25 14:56] #314 closed

[2018-03-25 18:35] noelmace opened #362 "Angular 6 support roadmap"
Do you have / What's your plan to support Angular 6 ?

This issue follow [the comment on this issue by @vsavkin ](https://github.com/nrwl/nx/issues/261#issuecomment-366716319).

The main issue I see for now is the dependency to TypeScript 2.6, given that Angular 6 require TS 2.7. This is blocked by ngrx/platform/issues/926 for data persistence, but their is also an issue with schematics (nrwl/nx/i

[2018-03-25 19:03] vsavkin opened #364 "Visualizing Dependency Tree"
# Visualizing Dependency Tree

Nx knows about all libs and apps and how they depend on each other.

This is how you can get the data:

[code]

We should provide a command displaying this graph.

## Commands

`npm run dependency-graph`

Should display a DAG.

* Type of nodes: `app`, `lib`, `global`. Every node in the graph is either an app or app lib. There is one extra node called "global". Every

[2018-03-26 08:41] noelmace commented on #309
@raczroland In fact, after a lot of tests, both with lerna and workspaces, my conclusion is that we don't need such tools, even if we have package.json files for the libs we build with ng-packagr and publish on our npm repository.

Here is why : lerna is, in my opinion, thinked as a tools to manage **different** projects in a monorepository, namely with each project having is own build process and

[2018-03-26 09:09] noelmace commented on #225
Some feedbacks on my current work. We now have a working solution to manage "publishable" libraries in our Nx monorepo. I think this could lead to some PRs if @vsavkin and the other members of the nx core-team aggries - even if I'll need to work my schematics before anything ;)

Here is our solution :
1. Each "publishable" library have a specific package.json file (libs/*/package.json), which give

[2018-03-26 10:30] phsims opened #367 "Error when trying to generate new lib"
I am unable to generate anything new in my work space.  When I try to create a new lib I get the following error
[code]
generating components results in the following
`Schematic "c" not found in collection "@nrwl/schematics".`

I have tried deleting and reinstalling everything but its not working and I cant find any similar errors when searching google

[2018-03-26 13:11] noelmace opened #369 "Add usage informations for Nx and create-nx-workspace"
Add an "help" command and/or --help option to the CLI tools in order to centralize documentation on them, like angular-cli.

I already starded to work on it ;)

## create-nx-workspace

add a `--help` option, giving an output like the one we would have with yargs

see https://github.com/nrwl/nx/pull/368

## schematics / nx command-line

### feature request

`nx help [command` should result in an ou

[2018-03-26 13:14] kylecordes commented on #225
BTW We do something similar here. The key feature in Nx that makes this possible, is that it is not bothered by the existence of package.json files in the lib directories. We using it was just a modest number of published libs, and so haven't needed the automatic machinery @noelmace  is using, but something like that built into Nx would be fantastic.

[2018-03-26 16:51] vlodko commented on #225
@noelmace thanks for the update!
Can you explain this:
[code]
does it have anything to do with NPM scoped packages?

[2018-03-26 21:51] noelmace commented on #225
@vlodko It's just some conventions we made for convenience in the named project. This way, we are sure that every builded lib is in the same parent folder and respect a convention that we could use in the other scripts and the CI.

Anyway, as this is a temporary solution (given thas we should either add this feature to nrwl/schematics, or publish another project using schematics) I'll negociate wi

[2018-03-27 09:00] moattarwork commented on #327
You right. Thanks for the tip. It works for me now. I had couple of issues related to upgrading to the last tooling for Angular CLI too. BTW thankx.

[2018-03-27 14:45] noelmace commented on #225
So it's done, this minimal CLI tool, [now named packagr-for-nx](https://github.com/noelmace/packagr-for-nx) we talked about is now available on github, and the 0.1.0 version should be published on npmjs.org within 24 hours. @vlodko this should answer your questions and avoid to polute this issue ;)

@vsavkin, I'll be happy to make a PR in order to permit to have this kind of feature in Nx, if you

[2018-03-28 00:24] jeffbcross commented on #369
Seems like a reasonable approach to me! @vsavkin?

[2018-03-28 00:27] jeffbcross commented on #367
Hi @phsims, can you give some more info about your environment?

 * Nx version
 * Angular CLI version (`ng -v`)
 * Windows, Mac, Linux

[2018-03-28 00:31] jeffbcross commented on #362
We'll try to release as close to the final release of Angular v6 as possible, once all dependencies can play together nicely.

[2018-03-28 00:31] #362 closed

[2018-03-28 00:36] jeffbcross commented on #360
You could have an APIModule that takes an argument for the address, and initialize it in both your Web app and Ionic app.

libs/api/src/api.module.ts

[code]

apps/mobile/src/app.module.ts
[code]

apps/web/src/app.module.ts
[code]

[2018-03-28 00:36] #360 closed

[2018-03-28 00:37] #356 closed

[2018-03-28 00:46] jeffbcross commented on #355
@ThomasBurleson do you see the dev.tools.ts module as doing anything other than returning this object? What value does it add to introduce another module and object for this?

BTW `DevTools.instrumentStore` is not callable in that example (but you're calling it in app.module). What is the intended API?

[2018-03-28 01:01] jeffbcross commented on #347
@spiotr12 could you experiment with commenting out different Nx rules to see which one(s) might be the culprit?

[2018-03-28 01:05] jeffbcross commented on #340
Closing this in favor of #348 where more discussion is happening.

[2018-03-28 01:05] #340 closed

[2018-03-28 01:07] jeffbcross commented on #327
Going to close this issue to keep our issues tidy, but good discussion!

[2018-03-28 01:07] #327 closed

[2018-03-28 01:11] #288 closed

[2018-03-28 01:13] #62 closed

[2018-03-28 01:15] jeffbcross commented on #299
Probably makes sense to deal with this in Angular CLI instead of Nx.

[2018-03-28 01:15] #299 closed

[2018-03-28 10:13] sanyashvets opened #377 "upgrade TS version"
Greetings. Now we have TS version `^2.8.1`, but I cant generate new app with this version. I just getting an empty error and nothing happens
[code]
Same situation with `2.7.2` TS version installed. Can you add support of new TS versions, please?

Versions:
[code]

[2018-03-28 10:46] spiotr12 commented on #347
Sure, I can

[2018-03-28 13:26] noelmace commented on #362
@jeffbcross thanks for this efficient response :D If you have the time to give more informations about the current issues on this, I would be happy to help if possible, given that I wanted to try to use angular elements in one of my Nx project. But I could also just wait

[2018-03-28 18:01] jeffbcross commented on #377
We stay aligned with angular/angular TypeScript versions. As of latest stable release, the range is `>=2.4.2 <2.7`: https://github.com/angular/angular/blob/5298b2bda34a8766b28c8425e447f94598b23901/packages/compiler-cli/package.json#L18

Angular v6 will support `>=2.7.2 <2.8`: https://github.com/angular/angular/blob/master/packages/compiler-cli/package.json

Chances are the issue you're seeing isn'

[2018-03-28 18:01] #377 closed

[2018-03-28 21:48] ThomasBurleson commented on #174
@dhknudsen - the nrwl schematics will extend the ngrx schematics. And we will use @ngrx/schematics to generate the initial ngrx **feature**: actions, reducer, effects. Then we enhance those generated documents with our own Nx extras. See this:

*  [ngrx.md](https://github.com/nrwl/nx/blob/68e34d494fdca1c57a757c889ea8105e8a0a7a6e/packages/schematics/src/collection/ngrx/ngrx.md)
*  [ngrx schematics

[2018-03-28 21:50] ThomasBurleson opened #380 "feat(ngrx): Enhance ngrx schematics with selectors and more tests"
* Generate selectors
* Generate more opinionated tests

[2018-03-28 22:08] noelmace commented on #309
FYI @raczroland the "specific node script" I mentionned is now available, and you can see wath I talked about when I said "we also test that every dependency and peerDependency in this package.json files is coherent with the ones in the root package.json file before the build, and throw an exception if not." here : https://github.com/noelmace/packagr-for-nx/blob/v0.2.0/src/libs.js#L56

[2018-03-29 07:16] piernik opened #381 "Importing libs from different workspace"
I created two workspaces `my-app` and `my-utils`.
`my-utils` is workspace with libs to use in multiple workspaces.

What I have to do to be able to use libs from different workspace?

In `my-app` I changed `paths` propetry in `tsconfig.json` and added relative path to `my-utils` libs folder:

[code]

When I import simpliest component (without injected services) it works, but for example this compo

[2018-03-29 07:31] tfiwm commented on #279
I have tried a clean setup and receiving still this problem :(

node: 8.9.4
npm: 5.7.1
nx: 0.9.1

Someone found a solution?

[2018-03-29 07:33] drakenfly commented on #54
@paesku request is exactly what I need.

I tried @sean-perkins approach and it seems to work for me (without reinstall), but of course it would be great if there is any way nx could provide a native way for this in future.

Is there any ongoing work or anything I can help with?

[2018-03-29 08:03] noelmace commented on #362
Link https://github.com/nrwl/nx/issues/377

[2018-03-29 09:37] piernik opened #382 "make ngrx optional"
`ngrx` has a good competitor `nrxs`  https://ngxs.gitbooks.io/ngxs/
`nx` uses `ngrx` by default.
Maybe giving another param to skip `ngrx` as `package.json` dependency?

[2018-03-29 12:35] ThomasBurleson commented on #382
@piernik - what do you mean by *skip* `ngrx` as a package.json dependency?

[2018-03-29 12:36] CanKattwinkel commented on #54
I also ran into this challenge  - would be great if nx had a solution for this. Maybe we can already collect requirements?

- No solutions that require any additional npm install to update styles
- Some sort of scss build in order to publish a .css bundle (it is quite common in my projects that we develop libraries in nx workspaces but publish them to external teams)
- consumption via scope `(@imp

[2018-03-29 12:37] piernik commented on #382
After generating new workspace `package.json` always contains
[code]

[2018-03-29 16:26] jeffbcross commented on #382
We've discussed making NgRx optional. Personally I'd like to keep it, since the point of Nx is to be able to provide more value by being more prescriptive (and being able to provide more validation/enforcement because of that).

[2018-03-29 16:30] jeffbcross commented on #381
My guess is you're ending up with two instances of Angular package being installed, and at runtime you have two different `ElementRef` symbols, one of which isn't known by the injector. @vsavkin has written an article on how to leverage yarn workspaces with multiple Nx workspaces: https://blog.nrwl.io/dev-workflow-using-git-submodules-and-yarn-workspaces-14fd06c07964

[2018-03-29 16:30] #381 closed

[2018-03-29 17:10] vsavkin commented on #293
This issue has been fixed here: da9310e9dbb4eb3294200ca72bfa70b14faec2c2

[2018-03-29 17:10] #293 closed

[2018-03-29 17:15] vsavkin commented on #281
@zlepper could you provide a link to a repro?

[2018-03-29 17:34] piernik commented on #381
I use npm :/
In `@utils` libs are only ts files - no `tsconfig`, `package` and so on. So it does not know of different `@angular` files.

But I think it is an `angular-cli` bug: https://github.com/angular/angular-cli/issues/10031

Can I manually change version of `@angular/cli` in package file?

[2018-03-29 17:46] piernik commented on #382
@jeffbcross can I simply delete all ngrx dependencies from package file?

[2018-03-29 18:13] HackPoint opened #383 "How to add git project as app?"
For example I have whole different project and I would like to add it into the workspace.
Link to project I would like to add:
https://github.com/codetok/cdk-admin

What is the best practice to do it?

[2018-03-30 04:10] Skubakoob opened #384 "Generating an app fails on Mac when in a directory with spaces"
I followed the instructions to get up and running and generate a workspace - all good. When generating an app however, I kept getting errors of a module not existing.

This was all sat in a folder called "VS Projects"

I moved the workspace to "Projects" and the app was created successfully

Just thought that might help someone who has the same issue on a Mac.. On windows it doesn't seem to be a p

[2018-03-30 08:43] praveenkumar-r commented on #367
This issue is coming for all generations .. for lib app component generations

-  Nx version **0.9.1**
- Angular CLI version **1.6.0**
- Windows

[2018-03-30 13:22] michelcve commented on #236
Although the patched version of the angular-cli isn't used anymore, this issue doesn't seem to be resolved. When running the command with NX 0.9.1, you now get the following warning:

`The option '--service-worker' is not registered with the generate command.`

Would be nice if this could be fixed.

[2018-03-30 13:28] ZackDeRose opened #385 "'ng g app' failing with empty 'Error:' message"
`ng g app test`

is failing inside of my nx workspace with an empty Error message:

![image](https://user-images.githubusercontent.com/3788405/38138533-783e3dcc-33f9-11e8-9f61-4f89ab62dfbf.png)

Generating a lib via `ng g lib test` runs successfully, as does all of the standard angular cli commands when targeting an existing application. Creating a new nx workspace and running the `ng g app ...` c

[2018-03-30 15:32] dereklin commented on #385
What is your typescript version?

[2018-03-30 16:41] mcblum commented on #288
Hey. An interesting thing just happened - I went to reproduce this issue with a new workspace and I can't do it. We started with Nx right when it was released, and have kept upgrading as we went along, but maybe there's something with the config that is causing our instance to break? Is there an easy way to reset everything?

[2018-03-30 16:55] mcblum commented on #288
Woah - I figured it out. When I created the new app, it included this line `"tsconfig": "tsconfig.app.json",` which was different from what we had. Our app pointed to tsconfig at the root, whereas the new Nx Workspace had one tsconfig for each app. Since all of our apps were pointing to the root, when building for AOT the compiler was checking everything, not just the app in question.

This is a v

[2018-03-30 17:24] ZackDeRose commented on #385
typescript version: 2.8.1

[2018-03-30 23:47] #174 closed

[2018-03-31 13:50] ThomasBurleson commented on #9
This issue also occurs with the follow *empty* imports
[code]

[2018-03-31 17:33] mcblum opened #392 "affected:apps returning all apps when any changed file is not in any project scope"
Sorry for being a pain in the ass. I'm trying to understand exactly how this script works and where it's going wrong for us. I've looked into what's happening and here's what I know:

The script gets a list of changed files, in my case for this test they are:
[code]

None of these files are related in any way to any of our projects, and I can see that the script knows this because the result of:

[2018-03-31 17:47] mcblum commented on #392
The more I stare at this the more it feels like maybe the reason for this behavior is that if the file that is changed is completely outside the scope of every application, one could assume that it may have a global impact? In this case I've modified a couple build scripts which does affect everything so, in a way, even though the result from the script isn't what I expected it does sort of make s

[2018-03-31 22:20] skydever commented on #364
I found [viz.js](https://github.com/mdaines/viz.js/wiki/API) to render a graph nicely, [compodoc](https://github.com/compodoc/compodoc) is using it too, maybe it is useful @electrichead ?

including graphs for apps and libs in compodoc would be cool too, it looks very nice, but for what I figured out they only support 1 app to generate the docs properly (?) - so this issue is a very nice thing, ma

[2018-04-01 03:36] ThomasBurleson commented on #382
Sure... If you are not using Ngrx in your code nor using DataPersistence.

[2018-04-01 19:47] ThomasBurleson commented on #382
Closing as will-not-change.

[2018-04-01 19:47] #382 closed

[2018-04-01 20:04] frontr-uk commented on #367
sam here.

[2018-04-01 22:06] dereklin commented on #392
Ideally the tool can detect the truly affected apps.  However, that might be very difficult to do.  It's better to error on the safe side.

[2018-04-01 22:07] dereklin commented on #385
nx supports up to typescript 2.6.2 right now

[2018-04-01 23:48] noelmace opened #394 "[dev issue] e2e tests on Windows doesn't work"
**Type**

This is a "contributing" / documentation issue.

**Description**

There is a lot of issues when trying to contribute with Windows. Even if I suppose the support of the dev scripts for Windows isn't a priority, maybe some of you managed to solve this before me, which would permit me to had this informations in CONTRIBUTING.md.

I found some workarounds for build, link and test, but I coul

[2018-04-02 03:38] FrozenPandaz commented on #311
I believe this should be fixed in extension of #232. I can no longer reproduce this with the latest version of @nrwl/schematics (v0.9.1). If no one else can either, we should be able to close this.

[2018-04-02 13:40] skydever commented on #394
... I am using the [ubuntu](https://www.microsoft.com/en-us/store/p/ubuntu/9nblggh4msv6) app from the microsoft store to run the e2e tests locally under windows, and I also activated Travis on my fork repo of nx to verify changes before creating a PR at the official repo. not exactly what you are looking for I suppose, but it is a workaround ...

[2018-04-02 13:46] electrichead commented on #364
It appears that we can approach this in two ways:
1. Command-line only: the idea is to generate an SVG and save to disk. viz.js allows us to do this without requiring graphviz to be installed on the system (making it cross-platform).
2. Output the data as JSON to a folder which contains an index.html file that renders the graph (similar to istanbul and compodoc). Either the tool or the user would

[2018-04-02 17:56] ThomasBurleson commented on #311
@FrozenPandaz - which SHA resolved this ?

[2018-04-02 18:00] FrozenPandaz commented on #311
Supposedly this one https://github.com/nrwl/nx/commit/da9310e9dbb4eb3294200ca72bfa70b14faec2c2; it was the fix to https://github.com/nrwl/nx/issues/232

[2018-04-02 21:43] noelmace commented on #394
@skydever In fact, this is exactly the kind of information I'm looking for;) Support for dev environment on Windows is not important enough to rethink the build process and dependencies. I only created this issue in order to get feedbacks from other contributors. In the mean time, I started to use Docker to run e2e test.

[2018-04-02 22:50] playground commented on #311
I confirm that v0.9.1 works.

[2018-04-03 04:37] mcblum commented on #392
@dereklin totally - and I totally get that. The only issue that we're seeing is that if anyone modifies a file outside the scope of all applications it will trigger a build that takes around 50 minutes now. I guess it's not the end of the world, servers do their thing, but it also seems like a lot of compute cycles.

[2018-04-03 05:42] dereklin commented on #392
For the files that won't affect any app but are in the source code?  Are they being modified pretty frequently?

If so, maybe nx can provide some ignore configuration file.

[2018-04-03 11:00] vogloblinsky commented on #275
I have added a special paragraph in the documentation about this use-case : https://compodoc.github.io/website/guides/tips-and-tricks.html#documentation-of-several-apps-in-a-monorepository

[2018-04-03 12:59] exequiel09 opened #396 "Nx compatibility to upcoming Angular CLI v6"
Angular CLI [`v6.0.0-rc.0` has been released an hour ago](https://github.com/angular/angular-cli/releases/tag/v6.0.0-rc.0) so i went on trying to upgrade some Angular dependencies to test it out. And here are the results:

After the upgrade, `postinstall` command throws an error.

[code]

So even if the `postinstall` command has thrown in an error, out of curiosity i tried running the `serve` comm

[2018-04-03 13:08] mcblum commented on #392
@dereklin it depends if we're adding apps or working on dev environments or the pipeline. This time I added an app and because of that modified a couple scripts. But I totally agree, an `.nxignore` would be a great idea. I think I'll add that to my open pull request and see if they are in to it.

[2018-04-03 22:09] exequiel09 commented on #396
The `ng serve` error might be related to: https://github.com/angular/angular-cli/issues/10163

[2018-04-04 09:55] sdurnov commented on #204
yep, people forget to add "app" folder before app.module.ts in path

[2018-04-04 10:55] phsims commented on #367
I think this was due to updates.  Apparently there has been some problem with the CLI and a new Jasmine update after rolling it back I the error went away

[2018-04-04 17:45] dreamerNcoder commented on #158
Hi,
I was able to replicate this issue :

Just wanted to know if nx supports the scss\sass in stead of scss.
as even though my default ext is set to scss,  using below command
**ng set defaults.styleExt scss**

still the app generation generates with css
**ng generate app mainapp --routing**

And also
create-nx-workspace Web does not create with scss

[2018-04-04 19:04] mrmeku commented on #396
I've looked into this a bit. The first thing to fix in nx is our package.json. These dependencies get us half way there:

[code]

The second half of the migration will involve migrating to RxJS 6.0. Currently, with the set of dependencies we have the following error is produced by `ng serve`

[code]

[2018-04-04 19:06] mrmeku commented on #396
But as for the original error that was produced about `cosmiconfig` not being found, that's an error with the angular cli. It should have listed the package as a peer dependency

[2018-04-04 19:11] mrmeku commented on #396
The second error about not being able to run the cli migration can be resolved by adding two dependencies (which again should be been peer dependencies of the cli)

[code]

[2018-04-04 19:17] mrmeku commented on #383
If we look here (https://github.com/nrwl/nx/blob/4edc8e6c8b0801a13a5b0722eb20a68fa59eec11/packages/schematics/src/collection.json#L9) we'll see that we have a schematic that you can run to migrate an existing cli project to an nx workspace. You can run the schematic via:

`ng g workspace --collection=@nrwl/schematics`

[2018-04-04 19:17] #383 closed

[2018-04-04 19:27] mrmeku commented on #384
Thanks so much for writing a well authored bug report. I was able to reproduce the bug easily. We'll get on fixing this

[2018-04-04 19:33] mrmeku commented on #392
Can you associate your open pull request with this bug? You can do so by changing your PR description to reference this bug. Also, your PR doesn't conform to our naming conventions defined in https://github.com/nrwl/nx/blob/master/CONTRIBUTING.md . If you could update the PR to meet those conventions that'd be great

[2018-04-04 19:45] mcblum commented on #392
@mrmeku absolutely - let me fix the auto-formatting that my IDE did as well. thank you!

[2018-04-04 19:50] mcblum commented on #392
@mrmeku ok, I think I got that right. to be honest I think this is my second pull request ever for a public repo so please let me know if I screwed anything up.

[2018-04-04 23:40] xmlking commented on #367
[code]
ng  v
[code]

[2018-04-05 13:36] BioPhoton commented on #316
Before:

[code]

After:

[code]

[2018-04-05 13:59] noelmace commented on #225
By the way, angular-cli 6.0.0-rc.1 now support `ng generate library` thanks to the new angular schematics (https://github.com/angular/devkit/tree/master/packages/schematics/angular/library) added to angular-devkit by https://github.com/angular/devkit/pull/444.

I'm not for now really used to angular-devkit, but I think some consequences on this feature should be :
1. "publishable libraries" manage

[2018-04-05 23:03] skydever commented on #364
I created a small [stackblitz](https://stackblitz.com/edit/angular-wjx1pq?embed=1&file=app/app.component.ts&hideExplorer=1) that is generating the graph from the `/dist/nxdeps.json` only, that the linter is creating (not covering all use cases though) and thought I could share it, for a quick overview of the workspace (just played around a bit myself, then tried to use the styling from your pr 👍)

[2018-04-06 08:40] lmeijdam opened #402 "[feature-request] enable lazy routing and parent module for multi tier applications in ng g app"
hey guys,

Just starting out using NX and it looks really slick!

I'm currently in a situation where our team is developing an application 'shell/layout' which can load up one or more applications (different teams/projects) depending on the route. At the current implementation, without NX, we use different applications and the 'shell' has a router configuration to lazy load the other application i

[2018-04-06 11:09] Kiebert commented on #88
@jared-christensen try this:

"apps": [
    {
      "name": "appname",
      "root": "apps/appname/src",
      "outDir": "dist/apps/appname",
      "assets": [
        { "glob": "**/*", "input": "./assets/", "output": "./assets/" },
        {
          "glob": "**/*",
          "input": "../../../libs/somefolder/assets/",
          "output": "./assets/"
        },
        { "glob": "favicon.ico",

[2018-04-06 14:15] undeadcat opened #403 "TSLint nx-enforce-module-boundaries rule leaks file handles via mtime function"
[Here](https://github.com/nrwl/nx/blob/master/packages/schematics/src/command-line/shared.ts#L213) a file descriptor is opened, but not closed.

Originally reported in the WebStorm issue tracker as [WEB-32078](https://youtrack.jetbrains.com/issue/WEB-32078) when using TSLint with WebStorm.

This is a problem on Windows where it blocks users from saving files.
A project to reproduce the issue in th

[2018-04-06 14:42] sdurnov commented on #208
@ThomasBurleson defining @env/* in a described way won't work for libraries, shared between different apps. I beleave there should be 1 shared environment config option. Not sure how to implement it in current nx. Any ideas?

[2018-04-07 13:50] matt328 opened #407 "[schematics] Compose-able Schematics"
The nrwl schematics are a great start, and our organization would like to tailor them slightly to fit our needs.  The first use case I'm working with is to automate the process where we first run a schematic to create an empty workspace (this is actually the 'application' collection), then `cd` into that directory and immediately run the `lib` collection.  I'd like to create my own schematic that

[2018-04-07 21:04] skydever commented on #347
... seems related to #403 and I guess fixed with #404

[2018-04-07 23:55] noelmace commented on #394
My feedback : if we talk about workarounds, the only good solution is ... to move to Linux ;-) VirtualBox shared folder doesn't support symlink on windows, which make it impossible to use yarn without --no-bin-path, and this project need bin paths. Another solution is to use ssh with rmate (if you use VS Code, like I do) like explained in https://medium.com/@prtdomingo/editing-files-in-your-linux-

[2018-04-08 00:19] noelmace opened #408 "schematics does not support yarn / npm link"
## error

[code]

## reproduce

1. (in nx) yarn build
2. `cd build/packages/schematics`
3. `yarn link`
4. (in another folder) `create-nx-workspace test-nx && cd test-nx`
5. `yarn link @nrwl/schematics`

## diagnostic

app-root-path does not support this kind of use case.

I'll make a PR with a workaround for that : add a --project-path option and use app-root-path.setPath.

But since app-root-path

[2018-04-08 00:29] noelmace commented on #369
Status update, in short :
* stuck a long time on #394
* because of a misunderstanding on #408
* resolving this (with a refactoring or even by replacing yargs-parser by yargs instead) require to write a lot more unit and e2e tests on command-line
* this use case is not a priority (for me anyway), so, given the amount of work, I'll focus on #225 for now
* but I'll get back to it, mainly because I th

[2018-04-08 00:44] noelmace commented on #396
A comment about compatibility with Angular 6 :
* see https://github.com/nrwl/nx/issues/362#issuecomment-376719677 and https://github.com/nrwl/nx/issues/377#issuecomment-376979716.
* I'm working on it because of https://github.com/nrwl/nx/issues/225#issuecomment-378946015. It will take some time, but I think the informations you provided will help. Thanks :)

[2018-04-08 00:51] noelmace commented on #402
I think what you describe is "lazy loaded lib", as shown in the documentation :
``ng generate lib mymodule --routing
    --lazy --parentModule=apps/myapp/src/myapp.module.ts``
See https://nrwl.io/nx/guide-nx-workspace#create-an-angular-module-lib

[2018-04-08 15:49] noelmace commented on #225
In order to address this issue, I'm currently working on Angular-cli v6 support, which means I also need to make the migration to angular 6, ngrx 6 and rxjs 6. I'm doing this because I'm now pretty sur that addressing this issue without using the new @schematics/angular "library" make no sence (and I'm not really a "wait and see" guy :smile:). This is a pretty big task, so @vsavkin, I would be rea

[2018-04-09 06:27] lmeijdam commented on #402
Thanks for your reply!

I thought of that too, and it will suffice for now! how would you set up your structure if there is another 'app' hosted on another server or environment which need to be loaded into your 'main' app? I added a small drawing to simplify (not the best drawing skills).

![example](https://user-images.githubusercontent.com/5443014/38482492-d3bf02fc-3bcf-11e8-88d4-9725a7132087.p

[2018-04-09 07:31] michelcve commented on #47
I ran into this article, while looking for the same: https://medium.com/@benorama/sharing-ngrx-based-logic-between-angular5-web-app-and-ionic3-mobile-app-77c19470cccc

It uses Ionic 3 and Angular 5, so it's more recent.

[2018-04-09 10:28] Aaltuj commented on #279
Any updates on this? i have the same issue. The first app creation works fine but the second one does not.
executing `ng generate app components-demo --routing` from the project root does not work.

[2018-04-09 12:17] matt328 commented on #407
@noelmace your PR branch seems like a good start, but because of focusing only on the CLI, I think there may be a few changes could be made to make this a more holistic solution.  AFAICT you're grabbing the app-root from the command line and essentially setting it as a kind of global variable in `app-root-path.ts`, I think a better place for it might be in the `options` object.

I had a few other

[2018-04-09 12:34] noelmace commented on #407
@matt328 As I said, this PR is just a quick and dirty workaround for the `yarn link` isssue, and I didn't want to address any other issue (given that a more global refactoring of the CLI is discussed at https://github.com/nrwl/nx/issues/369, and I didn't want to impact schematics). But feel free to comment it directly if you think of any enhancement.

[2018-04-09 12:53] noelmace commented on #407
I'm not a member of "the nrwl team". @vsavkin ?

[2018-04-09 14:04] lmeijdam commented on #402
Thanks, will do!

[2018-04-09 14:04] #402 closed

[2018-04-09 15:16] noelmace opened #412 "Angular-cli v6 support schedule"
Angular-cli v6 RC2 [has already been released](https://github.com/angular/angular-cli/releases/tag/v6.0.0-rc.2), introducing some changes which could have an important impact on Nrwl/Nx, and a stable version [should be released soon along with Angular 6](https://github.com/angular/angular/blob/master/docs/RELEASE_SCHEDULE.md#tentative-schedule-until-april-2018).

Given that the [dependencies doesn

[2018-04-09 18:34] milocosmopolitan commented on #54
I've been using webpack to compile LESS into css, separately from Angular libraries
[code]

In my webpack config
[code]

When I'm bundling libs using `ng-packagr` it copied styles library as well.

[2018-04-10 06:41] Aaltuj commented on #367
@nrwl/nx": "0.11.1"
@nrwl/schematics": "0.11.1"

`> ng -v

    _                      _                 ____ _     ___
   / \   _ __   __ _ _   _| | __ _ _ __     / ___| |   |_ _|
  / △ \ | '_ \ / _` | | | | |/ _` | '__|   | |   | |    | |
 / ___ \| | | | (_| | |_| | | (_| | |      | |___| |___ | |
/_/   \_\_| |_|\__, |\__,_|_|\__,_|_|       \____|_____|___|
               |___/

Angular CLI: 1.7.

[2018-04-10 12:07] Aaltuj commented on #367
create a patch in my script to resolve the failing of the creation
[code]

[2018-04-10 13:11] sdurnov opened #413 "lint-fix command can't be turned off for ng generate command"
I've tried all ways to turn it off..
--lint-fix false
--lint-fix=false
and same for -lf

Nothing seems to work, it still runs lint-fix task.

Migration 20180405-add-workspace-schematic-command

[2018-04-10 13:15] sdurnov opened #414 "Using cusom linters/formatters for ts/scss/html"
Sadly, but prettier plugins for VSCode are extremely buggy. Prettier ignores turning it off for certain languages, breaks other formatters for all languages.
Please provide option to use custom formatters and linters for html/scss/ts

[2018-04-10 15:56] noelmace commented on #369
@mrmeku is addressing this issue in https://github.com/nrwl/nx/compare/help

[2018-04-11 00:07] CharlieGreenman opened #415 "Running nx ngrx causing error"
Command
[code]
Error:
[code]

Notable mentions
[code]

I was wondering if anyone else is coming across the same issue ^, and if so, how did they solve it? Thank you.

[2018-04-11 07:34] Riddlegun commented on #367
same issue
[code]

[2018-04-11 09:07] michelcve commented on #219
Any progress on this one? I noticed it not being assigned to anyone, so wat wondering if it's still on the radar.

[2018-04-11 12:39] itache commented on #367
same issue
_                      _                 ____ _     ___
  / \   _ __   __ _ _   _| | __ _ _ __     / ___| |   |_ _|
 / △ \ | '_ \ / _ `| | | | |/ _` | '__|   | |   | |    | |
/ ___ \| | | | (_| | |_| | | (_| | |      | |___| |___ | |
/_/   \_\_| |_|\__, |\__,_|_|\__,_|_|       \____|_____|___|
              |___/

Angular CLI: 1.6.8
Node: 9.4.0
OS: linux x64
Angular: 5.2.9
... animation

[2018-04-11 13:43] markphip opened #416 "Run tests for affected apps only"
I started working on a PR to add support for affected:test.  It is getting a bit bigger than I expected and I might be over my head now.  But what has happened is I have run into this:

[code]

This leads me to believe the lack of support for this feature was intentional.  Is that true?  If so, why?  We are building out a monorepo with several apps in it and we wanted to setup our CI process to on

[2018-04-11 18:43] markphip commented on #416
I pushed my WIP so you can see the direction I was going with this.  It seemed like a simple change at first but then led me down a rabbit hole of small changes I had to make for the tests until finally running into the mentioned message that made me stop and rethink it entirely.  I am assuming you left this feature out for a philosophical reason of some kind?

[2018-04-11 20:14] ankemp opened #418 "Migration filename incorrect/missing for Nx0.11.1"
The migration: `packages/schematics/migrations/20180404-adding-dep-graph.ts` created in #406.

The name for this file is: `20180404-adding-dep-graph`, yet in #400 `20180405-add-workspace-schematic-command` is created (which is a more recent date).

~~And on that note, I can't even find `20180404-adding-dep-graph` in the [schematics directory] (https://github.com/nrwl/nx/tree/bc559575f524aacbe3d25e

[2018-04-12 00:37] playground commented on #158
Same issue, with defaults.styleExt scss

ng g app my-app
still generates with css.

this works ng g app my-app --style=scss

[2018-04-12 05:49] Skubakoob commented on #188
Just hit the same issue - what did you do in the end? Did you put these services into a separate folder or keep them within their libs?

[2018-04-12 14:07] jasedwards commented on #188
Unfortunately if I am doing something like a control library my only choices seem to be
1.  manually export every control in the index.js.
2. don't make it an actual lib in angular-cli.json.  of course doing this causes you to lose the ability to generate stuff automatically.  Not real good solution

[2018-04-13 00:01] Flybbit commented on #88
https://github.com/angular/angular-cli/blob/master/docs/documentation/stories/asset-configuration.md#project-assets
So proper way is
`{ "glob": "**/*", "input": "../../../libs/lib_name/assets/", "output": "./assets/" }`

`"glob": "/*"` causes **ERROR in EPERM: operation not permitted, stat 'P:\System Volume Information'**

[2018-04-13 13:53] noelmace commented on #369
closed by https://github.com/nrwl/nx/pull/422

[2018-04-13 13:53] #369 closed

[2018-04-13 15:15] choucry13 commented on #412
Thank you 👍

[2018-04-13 15:15] FrozenPandaz commented on #316
@BioPhoton
Just looking for some more information here. Was this workspace created with `create-nx-workspace` or converted from a `ng new` workspace? This is probably a bug with the latter method.

[2018-04-13 19:52] FrozenPandaz commented on #415
Hi @CharlieGreenman we are investigating this but if you could provide repo with the issue would help us greatly.

[2018-04-13 20:00] FrozenPandaz commented on #310
Hi all,

I'm relabeling this as an enhancement instead of a bug. We do not yet incorporate multi-level dependency information into the generation of libs. So I am just labeling this as an enhancement to differentiate between providing new functionality and fixing existing functionality.

[2018-04-13 20:01] FrozenPandaz commented on #311
Closing this as it is confirmed as working.

[2018-04-13 20:01] #311 closed

[2018-04-13 20:05] FrozenPandaz commented on #312
This does not affect new projects. We default the value of `npmScope` now but we could add a migration to solve this problem for older projects.

[2018-04-13 20:05] CharlieGreenman commented on #415
I should be able to do that. Will do Saturday night Sunday morning ASAP.
Thank you.

On Fri, Apr 13, 2018 at 3:52 PM Jason Jean <notifications@github.com> wrote:

[2018-04-14 18:27] qrrock commented on #367
hi there!,

just try

[code]

fixed issue for me

finall:

[code]

[2018-04-14 23:54] paddyfink opened #424 "No such file or directory : tsconfig.app.json"
I have this project with nx, everything works perfectly fine on my dev machine (on windows). But I keep having this error on CI pipelines (I tested on  netlify and gitlab):
`ENOENT: no such file or directory, stat '/builds/xxxx/myproject/apps/webapp/src/tsconfig.app.json'`

I've updated nx to the latest version (0.11.1). Actually I don't know if it's an issue related to nx or angular.  At this poi

[2018-04-15 12:00] #424 closed

[2018-04-15 23:13] #403 closed

[2018-04-16 10:10] a5hik opened #428 "Is there a way I can publish npm libs from nx workspace / libs"
I created a nx workspace and I added a lib and a demo app that uses the lib, now I need to publish the lib.. Is there a way I can accomplish with nx?

[2018-04-16 11:38] #413 closed

[2018-04-16 13:31] CharlieGreenman commented on #415
Providing something in moment.

[2018-04-16 13:36] CharlieGreenman commented on #415
I've created a temp repo for this issue: https://github.com/CharlieGreenman/MonoAngularPixel

[2018-04-16 21:53] dereklin opened #429 "How to set exception rules for "file doesn't belong to any project" linting errors"
We just upgraded from 0.9.0 to 0.11.1.

We have some static css and js files sitting in libs.  When running npm run lint, we are getting these errors:

[code]

Is there a way to ignore checking certain files?

[2018-04-16 22:53] noelmace commented on #412
@choucry13 you're welcome, but it's a slow process, given that this is, for me, more of a global thinking on how we could have a great build process for a multi-libraries angular monorepository, using angular-devkit/build-ng-packagr, schematics/build-ng-packagr, schematics/angular:library and nrwl/nx.

Given this, my main priorities are :
1. "patch" nrwl/nx with packagr-for-nx, so without schemati

[2018-04-17 05:44] jeffbcross commented on #279
I experienced this issue after migrating a workspace. The migration failed at https://github.com/nrwl/nx/blob/master/packages/schematics/migrations/20180225-switch-to-cli17.ts and didn't finish running the migration steps after it. The most impactful migration that was missed was the deletion of the `@angular-devkit/schematics` dependency from package.json.

The reason the migration failed in the

[2018-04-17 12:36] tobi-or-not-tobi commented on #225
@noelmace FYI I was able to setup an app with embedded libraries in the latest RC, only had to work around one issue. See https://github.com/angular/angular-cli/issues/10369. It runs, updates while coding and builds both apps and libraries. Looks very promising.

[2018-04-17 13:03] #316 closed

[2018-04-17 15:47] russoturisto commented on #258
Just run into this issue.  I searched ngrx bugs bug couldn't find an entry there, opening one up using the information in this thread.

Thanks, :)

[2018-04-17 17:24] FrozenPandaz commented on #415
Thank you for your reproduction! I was able to reproduce this.

[2018-04-17 21:32] vsavkin commented on #39
We changed our setup to include NgRx dependencies into an empty workspace, so this should not be a problem any more.

[2018-04-17 21:32] #39 closed

[2018-04-17 23:00] noelmace commented on #412
For now, I froze my work on this since @vsavkin should post a more detailed migrate plan next week (see https://github.com/nrwl/nx/pull/419#issuecomment-382004783).

[2018-04-17 23:38] dpsthree commented on #237
I just ran into this today with v1.0.0 of @nrwl/schematics

[2018-04-18 17:22] dherges opened #432 "Migration fails (nx update): ENOENT: no such file or directory, unlink 'tsconfig.e2e.json'"
See #424

#### Issue / How To Reproduce

[code]

#### Workaround

[code]

#### Solution(?)

[code]

Is this an nx issue or a CLI issue that is running migrations that were already executed in the psat?

[2018-04-18 19:55] noelmace commented on #428
Duplicate of #225. Please close.

[2018-04-18 20:14] mrxz commented on #408
I introduced app-root-path in #170 to allow tslint to be executed from other working directories than the "app root", which was needed for tslint plugins in both Atom and Sublime. In those cases, specifying the app root path as an argument isn't an option. So if the dependency would be removed, there still has to be some logic in place that can correctly determine the app root path for those cases

[2018-04-18 21:36] wesleygrimes opened #433 "Error migrating to nx from cli: Cannot find module 'rxjs/observable/fromPromise'"
**When I run the following command I receive the below error when trying to migrate an existing angular cli project to nx:**

` ng generate workspace my-app --collection=@nrwl/schematics`

**Error:**
[code]

**Versions:**
* node: 8.11.1
* npm: 5.8.0
* `@nrwl/schematics`: 1.0.0
* `@angular/cli`: 1.7.4

**`package.json` snippet:**
[code]

[2018-04-18 22:32] noelmace commented on #408
@mrxz Thanks a lot for this informations. The cli option was only a cheap workaround, and I really just wanted to learn more about your development process. https://github.com/nrwl/nx/pull/410#issuecomment-382001011 answered to my questions on this. I still think that npm link would be better, but it's just a developpers' issue, not a user's one. I may take a look on this, following https://github

[2018-04-18 22:52] noelmace commented on #433
This look like an issue with rxjs operators. I encountered the same issue, but I choosed to take this oportunity to switch to the current rxjs best practices, like [pipeable operators](https://github.com/ReactiveX/rxjs/blob/master/doc/pipeable-operators.md) :smiley:

I would highly recommand to do this. Before that, you should verify the version of rxjs you are using (``npm list rxjs``), and make

[2018-04-18 22:55] wesleygrimes commented on #433
Thanks, I’m using all pipeable operators and all current rxjs best practices. I’ll upload a project reproducing it shortly.

[2018-04-18 22:59] noelmace commented on #429
This is on purpouse. Nrwl/Nx is strongly opinionated, that's the point.
In my opinion, keeping some css or js files directly in libs/ seems to be a really bad practice. Why do you need this ?

[2018-04-18 23:12] noelmace commented on #433
Thx. Sorry for assuming you did not, it's so common these days :wink: Just for my information, did you verify that Nx didn't just upgraded rxjs from an old node_modules in your project by running npm install ?

For me, there is two options for this :
1. you add a main rxjs-operators file that isn't used anymore after migrating to Nx (the ``import 'rxjs/add/observable/fromPromise';`` is missing)
2.

[2018-04-18 23:15] wesleygrimes commented on #433
No problem! It was a valid question. I have tried deleting the entire node_modules folder and re-running npm install. Also uninstalled angular cli, schematics, nrwl schematics and reinstalling globally. Are you at ng-conf by chance? I can show you in person.

[2018-04-19 00:06] noelmace commented on #237
@dpsthree This is most likely an issue with node on Windows, not Nx, especially since the file access is here handled by schematics. I run into this kind of issue a lot on my work computer, but nothing that closing VS Code and any other app using this files, or, as a last resort, a good old (yurk) "run as administrator", won't fix. Sometime, running ``node <your-script>`` from the powershell conso

[2018-04-19 01:17] a5hik commented on #428
closing this considering #225

[2018-04-19 01:34] dereklin commented on #429
Is it really?  We are using semantic ui, for multiple apps.  Rather than creating the same css and js files for each app, we are putting those files in libs.  Libs is a natural choice for shared code.

If nx makes this a hard rule, then maybe I need to manually create an assets folder or such outside of apps and libs...

[2018-04-19 09:26] Springrbua commented on #414
I agree with this. I had to turn of the formatting of prettier, as it does not conform to our ruels and causes TSLint errors.
As prettier will probably never be very configurable (_Prettier is an opinionated code formatter_) it would be cool, if you can decide which formatter to use.
At the moment, I have to use multiple tools, in the right order, to get the code-style I want.

[2018-04-19 09:34] sdurnov commented on #433
@noelmace make sure you're importing rxjs operators explicitly in each file where you use it.

[2018-04-19 09:49] phsims commented on #367
im on windows, package.json is below
{
  "name": "fusion-workspace",
  "version": "0.0.0",
  "license": "MIT",
  "scripts": {
    "ng": "ng",
    "start": "ng serve",
    "build": "ng build",
    "test": "ng test",
    "lint": "ng lint",
    "e2e": "ng e2e",
    "format": "prettier --single-quote --print-width 120 --write \"{apps,libs}/**/*.ts\""
  },
  "private": true,
  "dependencies": {
    "@a

[2018-04-19 10:00] noelmace commented on #429
I think this should be covered by a specific "core" (or "shared") library. From my perspective, `libs/` isn't about sharing code directly. It's about splitting this code into Angular libraries "the right way".  This permit, with tags, and the associated tslint and tsconfig rules, a better separation of concerns.
@vsavkin, do you confirm ?

[2018-04-19 12:42] noelmace commented on #429
FYI :
* PR introducing this behaviour : https://github.com/nrwl/nx/pull/379
* and the related method : https://github.com/nrwl/nx/blob/ce553b732e8ca004e1ecf53cf54bcadb6ba1f7f3/packages/schematics/src/command-line/workspace-integrity-checks.ts#L51-L71

[2018-04-19 13:31] noelmace commented on #433
@sdurnov I'm not the one facing this issue and was aware of this kind of solution, but thanks :wink: about operators import on this issue, this is what I talked about in the (1.) in https://github.com/nrwl/nx/issues/433#issuecomment-382557841. Anyway, this discussion is more about rxjs than Nx, that why @wesleygrimes will either close this issue or create a reproduction project in order to see if

[2018-04-19 17:24] noumaans opened #434 "Add dependency to format"
I believe package dependency to format is missing, which is being used to generate ngrx feature files.

As mentioned in #431 there is an error when generating schematics.

[code]

NPM Log file:
[code]

From workspace's package.json:
[code]

Global package.json:
[code]

[2018-04-19 18:41] FrozenPandaz commented on #415
You should not need to install your own versions of `@angular-devkit/core` and `@angular-devkit/schematics`.

Fixing these dependencies allows you to generate ngrx again. You might have to remove your package-lock.json if you have errors after installing Nx.

I made a PR to your reproduction here: https://github.com/CharlieGreenman/MonoAngularPixel/pull/1

[2018-04-19 19:58] dereklin commented on #429
@noelmace thanks for pointing out the changes.

It turned out I just needed to add an entry into the .angular-cli.json.

I'll close this issue now.

[2018-04-19 19:58] #429 closed

[2018-04-19 22:50] jbeckton opened #436 "Outlet is not activated"
I have had problems with the StoreRouterConnectingModule on multiple angular ngrx apps even outside of NX workspaces. With NX I have seen the error "Outlet is not activated" when lazy loading feature module libraries. The fix was to override the RouterStateSerializer with a custom serializer in all cases.

Generating a simple NX workspace with one app and one routed feature lib is broken out of th

[2018-04-20 00:13] wesleygrimes commented on #433
Closing as my project wasn’t a true angular cli project. Rather it was an ionic project. I will work on converting my project over to angular cli and then give this another shot.

[2018-04-20 00:13] #433 closed

[2018-04-20 13:43] CharlieGreenman commented on #415
@FrozenPandaz that did. Obviously we can look into, this particular scenario not affecting ngrx. Going to close, and if we would like to open another ticket for the above, by all means.

[2018-04-20 13:43] #415 closed

[2018-04-20 15:51] choucry13 commented on #412
@noelmace , i will this weekend

[2018-04-21 03:58] cristianmartinez commented on #200
Hi @Yonet, can you provide the issue link, please?

[2018-04-21 13:36] noelmace commented on #200
See https://github.com/angular/angular-cli/pull/7777#issuecomment-383296091

[2018-04-21 21:12] xmlking opened #438 "document workspace name restrictions create-nx-workspace _ underscore - dash not supported"
only way  I can create new workspace is using only `alphanumeric characters`
wonder why so-many restrictions ?

[code]
**Error:**
[code]
[code]
**Error:**
[code]

[2018-04-23 03:16] emilio-martinez opened #439 "`ng eject` disallowed due to JSON syntax error"
Nx has become my default starting point for Angular projects—even for demos and tests. In some cases, I have to use `ng eject` which works perfectly fine with Nx except for one single minor reason.

The following error is thrown because of the comment in `tsconfig.e2e.json` and `tsconfig.app.json` within a generated app:

[code]

That will naturally generate a `SyntaxError` when trying to parse th

[2018-04-23 14:36] FrozenPandaz commented on #439
Hi @emilio-martinez, thank you for opening this issue.

I believe this should be done in the Angular CLI since comments are valid in tsconfigs.

The Angular CLI should be stripping comments before parsing the JSON for data.

Could you please create the corresponding issue in https://github.com/angular/angular-cli/issues?

[2018-04-23 21:33] BertDuyck commented on #347
Having the same issues, but it only happens on windows from my experience.

[2018-04-24 12:15] panay opened #441 "ng build workspace ability?"
Hello,

I want to have ability build the whole workspace for sending it to a server.
I don't want to build every app via `ng build --app smth` but doing build and get all apps in one dist. This is real or no?

Thank you!

[2018-04-24 22:11] vsavkin commented on #75
@ThomasBurleson since you have been working on refactoring the NgRx support, do you have any thoughts on how to use entity?

[2018-04-24 22:14] vsavkin commented on #78
We switched to using the default NgRx schematics fo generating actions. Our goal is to be as close to the default schematics as possible. Currently they use classes, but it may change in NgRx 6.

Closing this issue.

[2018-04-24 22:14] #78 closed

[2018-04-24 22:15] vsavkin commented on #82
Closing this issue because we intentionally generate `test.js` file instead of `test.ts`.

If someone opens a PR changing to test.ts, I'll merge it :)

[2018-04-24 22:15] #82 closed

[2018-04-24 22:16] vsavkin commented on #99
It's very difficult to make it work with CLI 1.x. We are working on making Nx work on CLI6, where this should be the default behavior.

[2018-04-24 22:19] vsavkin commented on #141
We changed the design and decided to let uses specify library types by creating workspace schematics. Closing this.

[2018-04-24 22:19] #141 closed

[2018-04-24 22:26] vsavkin commented on #175
At the moment we decided to give folks more control over what kind of libs and tests they generate. They can create workspace schematics and use those to enforce org-specific best practices.

[2018-04-24 22:26] #175 closed

[2018-04-24 22:27] vsavkin commented on #177
Closing this issue. CLI 1.7 has this check built in.

[2018-04-24 22:27] #177 closed

[2018-04-24 22:38] vsavkin commented on #208
Imo the best way to share env variables is to do something like this:

[code]

Then do this somewhere in your lib:

[code]

1. It keeps your libs env independent.
2. It allows you to build libs once, without knowing the apps they are used by or the env they ran in. In CLI 1.x this isn't a big deal, but it will get more important once we start more aggressively cache the results of lib compilation.

[2018-04-24 22:38] #208 closed

[2018-04-24 22:39] #190 closed

[2018-04-25 03:37] FrozenPandaz commented on #339
This should be fixed as of `0.10.0`. Let me know if there are any issues with this.

[2018-04-25 03:37] #339 closed

[2018-04-25 03:40] FrozenPandaz commented on #325
This should no longer be an issue as of `0.10.0`.

[2018-04-25 03:40] #325 closed

[2018-04-25 03:46] FrozenPandaz commented on #321
This should no longer be an issue as of `0.10.0`

[2018-04-25 03:46] #321 closed

[2018-04-25 10:41] panay commented on #103
I have the same problem. What need doing?

[2018-04-25 12:40] vsavkin commented on #181
I agree that depending on your background/experience you can find one approach more preferable than the other one. E.g., if you have Rails experience, you will find grouping by file type more natural.

At this point, we decided to follow the default NgRx schematics as close as possible (we actually invoke them under the hood). The default schematics don't group by file type and, as a result, we do

[2018-04-25 12:40] #181 closed

[2018-04-25 12:43] vsavkin commented on #241
Closing this as the issue has been resolved by the CLI team.

[2018-04-25 12:43] #241 closed

[2018-04-25 12:45] vsavkin commented on #242
We changed our process to push releases to GitHub.

Now you should be able to either use https://github.com/nrwl/nx/releases or CHANGELOG.md.

[2018-04-25 12:45] #242 closed

[2018-04-25 12:47] vsavkin commented on #243
Thank you for submitting the issue. This is a known limitation (see here: https://github.com/nrwl/nx/issues/132.), which we need to address. Currently you have to update the paths manually.

[2018-04-25 12:47] #243 closed

[2018-04-25 12:49] vsavkin commented on #260
Could you please retry using Nx 1.0.2?

[2018-04-25 12:59] vsavkin commented on #276
In CLI 1.x you have to inject to be able to change the webpack configuration of any of your apps. Nx  uses CLI 1.x.

After ejecting `ng generate` will continue to work, but `ng build`, `ng test`, and `ng serve` won't.  The npm scripts will be rewritten to invoke webpack directly.

We are currently working on making Nx run on top of CLI 6, which allows you to customize your build step. Once it's re

[2018-04-25 12:59] #276 closed

[2018-04-25 13:01] vsavkin commented on #281
Closing this. If the issue is present in Nx 1.0, please reopen it with a repro.

[2018-04-25 13:01] #281 closed

[2018-04-25 13:04] vsavkin commented on #287
It was an issue with the angular-devkit/core packages. If you switch to Nx 1.0.2, all the options should be listed:

[code]

Closing this issue.

[2018-04-25 13:04] #287 closed

[2018-04-25 13:08] vsavkin commented on #303
PR 290 was merged, and the issue was fixed.

Closing this issue.

[2018-04-25 13:08] #303 closed

[2018-04-25 13:17] vsavkin commented on #306
We have changed the setup to only format untracked files on generation. In this case if you move an existing project into a workspace, you won't have to reformat it.

If you want to disable formatting, you can do it like this:

[code]

Or use `.prettierignore`.

Ideally, though, you should be able to gradually reformat all the files in your workspace, and you can do it by running:

[code]

and

[c

[2018-04-25 13:17] #306 closed

[2018-04-25 13:19] vsavkin commented on #312
As @FrozenPandaz pointed out the issue is with a missing npmScope. We added a check to throw an exception if npmScope is not defined, so this should no longer be a problem.

[2018-04-25 13:19] #312 closed

[2018-04-25 13:28] axtho opened #442 "yarn lint error"
Hi there,

When running `yarn lint `I suddenly get this message ... not sure where to fix that as the package,json (and yarn.lock) has same versions, namely **1.0.2** (same as global version of schematics).

The cli is at 1.7.4

Here the error trace:
[code]
Here the dependencies from the package.json:
[code]

[2018-04-25 14:07] vsavkin commented on #364
We have added some support for this.

Run `yarn dep-graph --help` to see the available options.

[code]

If you run `yarn dep-graph`, it will open the dep graph in the browser.

You can also run `yarn affected:dep-graph` to see apps and libs affected by a file change.

@skydever: a vscode extension is a good idea. We are also thinking about having a web version.

I'm closing this issue. Any future

[2018-04-25 14:07] #364 closed

[2018-04-25 14:10] vsavkin commented on #367
CLI 1.6 doesn't have the node-package task. It was added in CLI 1.7.

Could you try it with Nx 1.0, which uses CLI 1.7?

[2018-04-25 14:42] vsavkin commented on #442
The error message is confusing. The problem here is that `"@nrwl/nx"` is not a dev dependency. It should be moved into `dependencies`. The check reads `dependencies['@nrwl/nx']`, gets undefined, and errors.

I'll improve the error message.

[2018-04-25 14:42] #442 closed

[2018-04-25 14:44] #441 closed

[2018-04-25 14:51] vsavkin commented on #439
+1 to @FrozenPandaz. Closing this issue as it should be fixed in the CLI.

[2018-04-25 14:51] #439 closed

[2018-04-25 15:01] vsavkin commented on #436
If i understand the issue correctly, it should be addressed in NgRx 6 (see here: https://github.com/ngrx/platform/pull/901), which should be released soon.

Meanwhile, I'll add the serializer to Nx.

[2018-04-25 15:02] vsavkin commented on #434
Could you point to a github repository with a repro?

[2018-04-25 15:07] vsavkin commented on #432
When Nx runs migrations, it updates .angular-cli.json to record the last ran migration. It's possible that something went wrong and it has not been recorded, or that you haven't committed it.

The workaround is to update .angular-cli.json to the migration that you ran last.

Could you provide a repro (by creating a new workspace, and then upgrading it)?

[2018-04-25 15:08] vsavkin commented on #428
Closing this issue. It's duplicate of #225.

[2018-04-25 15:08] #428 closed

[2018-04-25 15:10] vsavkin commented on #418
Could you provide more info about the issue? The update command isn't working for you?

[2018-04-25 15:13] vsavkin commented on #416
It's tricky to make this functionality work in CLI 1.x, which is what the current version of Nx is using.

It's easier to make it work with CLI6, which provides more extension points. We are currently working on changing Nx to use CLI6, which should fix this issue.

[2018-04-25 15:36] ankemp commented on #418
The update command works fine, but it doesn't seem to always run the required migrations.

What I was trying to say was...
In, PR #400 (merged April 5th) you created a migration: `20180405-add-workspace-schematic-command.ts`
and in, PR #406 (merged April 6th) you created a migration `20180404-adding-dep-graph.ts`

The 406 was merged after 400, but 400 has a newer migration name. So if you were to

[2018-04-25 15:37] vsavkin commented on #407
Every schematic takes two parameters: `host: Tree, context: SchematicContext`.

The lib schematic assumes that the host (the tree) starts at the root of the workspace. Default angular schematics make the same assumption.

You can achieve what you want by transforming the tree that the application schematic returns, so it matches what the lib schematic expects.

They are reusable already. Read here

[2018-04-25 15:48] matt328 commented on #407
Yes, absolutely.  I agree transforming the tree seems like a much more idiomatic approach.

I am probably missing something trivial, but can you point me to an example, or which methods deal with transforming the tree to 'select' a subtree?

[2018-04-25 16:01] emmalivingstone opened #443 "Error: spawnSync on create-nx-workspace"
Just ran the command `npm install @nrwl/schematics -g` to get version 1.0.2 of the schematics. Then ran `create-nx-workspace test-workspace --directory=frontend` and I got this error:

Error: spawnSync C:\WINDOWS\system32\cmd.exe ENOENT
    at _errnoException (util.js:1022:11)
    at spawnSync (child_process.js:579:20)
    at Object.execSync (child_process.js:635:13)
    at Object.<anonymous> (C:\

[2018-04-25 20:48] noelmace commented on #394
So sorry about that, but as I said, as I'm not a big windows fan, my "workaround" was to use a Linux virtual machine. So, I don't think (even if I'm the one who opened this issue in the first place) I could be of any help on windows support, but I could indeed had a some informations in CONTRIBUTING about "what you should not try to do", like using windows or npm link :slightly_smiling_face: Tell

[2018-04-26 14:31] damienwebdev opened #444 "What is viz? Not viz.js, but viz."
# What is this?

I just created an NX workspace using the nx commands. It looks like your schematics adds a random empty library.

I see elsewhere in the codebase you're installing `viz.js`, is that intended?

Clearly this doesn't look legit.

https://www.npmjs.com/package/viz

https://github.com/nrwl/nx/blob/08896fd19575aedf0c6d006c69562d4d03b3add4/packages/schematics/src/collection/application/f

[2018-04-26 14:45] kylecordes commented on #444
`viz` itself looks like a benign accidental mispublish, not nefarious.

https://unpkg.com/viz@0.0.1/

There is no code in there, just a empty starting package and Readme.

[2018-04-26 15:07] damienwebdev commented on #444
@kylecordes Agreed. Should be removed ASAP anyways.

[2018-04-26 15:42] FrozenPandaz commented on #444
Good catch! We will resolve this ASAP!

[2018-04-26 19:36] damienwebdev commented on #444
@vsavkin resolved this in https://github.com/nrwl/nx/commit/e40503c7e3c879dd8abd65064f7f76a8a26a7729 I'll close as this is now in master.

[2018-04-26 19:36] #444 closed

[2018-04-26 23:35] nortain commented on #443
I did a little more digging into my issue and it looks like I was missing dependent modules from my global namespace.  The modules I was missing were:
[code]

After installing each of these with the -g flag I was able to get the create-nx-workspace command to work for me.

[2018-04-27 22:09] jbeckton opened #446 "Http Interceptors in Core Lib not running for http requests inside lazy loaded feature modules"
I am porting an existing app to the Nx architecture so that it can be broken up into multiple apps across teams. I have stumbled across one issue that I cannot resolve on my own. I realize I may need to provide a sample app to reproduce the issue but I need an hour or so to put that together. In the mean time wanted to get some eyes on this issue.

The app I am porting is pretty typical, I have a

[2018-04-27 22:28] #446 closed

[2018-04-27 22:29] jbeckton commented on #446
This was my fault, I discovered that I had HttpClientModule imported in my module for one of my lazy loaded modules and thus overwriting HTTP_Interceptors

[2018-04-28 06:06] panay commented on #441
Thank for your answer!
But how can I use it in production? I need manage these apps, i.e. redirect from auth to users page(user is an app) or log out if your permissions isn't enough

[2018-04-29 15:35] mauriziovitale opened #448 "npm run affected:apps-modules"
Likewise, we are checking which are the apps affected by a library that has been changed. I'd like to have a command that detects which are the app's modules affected by a lib module that has been changed.
By doing so, I will be able to run the unit test and e2e related only to the affected modules

App1
**PageModule**
import { ListModule, TabsModule } from '@nrwl/libCore';
**DialogModule**
import

[2018-04-29 23:06] jimdubbs opened #449 "DataPersistence.navigation to child components"
When trying to use the datapersistence navigation in an effect I cannot use it on a component that is a child of another route. in the below example I have an effect on the master component which correctly fires when going to "/shell". if I then navigate to "/shell/1234" the effect for DetailComponent correctly fires, however the effect for MasterComponent simultaneously fires. Is this a bug, or w

[2018-04-30 02:27] zbarbuto commented on #208
@vsavkin The problem with this approach is that you can't make the most of tree shaking. Let's say you want to use a development module when running locally and a noop module instead when building for production - you would want the development module tree shaken out of prod builds. You want to be able to do something like this:

[code]

`@env/` seems to be the only way to do this in a `libs` modu

[2018-04-30 19:08] jasedwards opened #450 "nx-migrate is not running anything"
I just upgraded from 0.7.2 to 1.0.3.  the post install ran nx-migrate but no migrations were run.  I ran it myself and still nothing ran.  there was no message saying no migrations either.  My @nrwl/schematics and @nrwl/nx packages are up to date.  Here is what my .angular-cli.json looks like:
` "project": {
    "name": "clearsight-apps",
    "npmScope": "clearsight-apps",
    "latestMigration": "

[2018-04-30 19:14] jasedwards commented on #450
I just realized all of the npm script names were changed sometime between those versions.  I updated my package.json file.  Is npm run update what should be used going forward?

[2018-05-01 02:35] FrozenPandaz commented on #164
This functionality broke recently. After extending `@ngrx/schematics`.

This should be fixed in `@ngrx/schematics@6.0.0`? But we can add a fix to extend it.

[2018-05-01 13:49] phsims commented on #367
thanks @vsavkin I have run the needed updates, I can generate libs now however I init.ts and interfaces.ts are not being created, looking at the examples readme I presume its because you are updating however Im also not getting selectors.ts or facade.ts

[2018-05-01 15:41] sdurnov commented on #342
@CharlieGreenman which kind of improper addition? Having same issue, can't figure out what's wrong..

[2018-05-02 08:48] robtaylorten opened #453 "ng generate ngrx command not working"
![screen shot 2018-05-02 at 09 43 25](https://user-images.githubusercontent.com/32459437/39513869-90a9edbc-4ded-11e8-990d-740b991f6787.png)

When running the `ng generate ngrx` command I get an empty error (see image above).

If I use the `--onlyAddFiles` flag then the schematic works fine. This makes me suspect that the code for appending imports to the module file is causing the problem?

[2018-05-02 09:44] robtaylorten commented on #453
Nevermind! We just bumped our version and things are working again :)

[2018-05-02 09:44] #453 closed

[2018-05-02 13:46] DJKullas opened #454 "Error when trying to generate new app"
I am trying to generate a new app in my current workspace, but I am getting an error. When I run "ng generate app test" I get the error "Error: Could not find an NgModule for the new component. Use the skip-import option to skip importing components in NgModule.
Could not find an NgModule for the new component. Use the skip-import option to skip importing components in NgModule." I do not know how

[2018-05-02 15:36] FrozenPandaz commented on #454
Please provide a reproduction of the issue (github repo).

[2018-05-02 16:01] DJKullas commented on #454
Step 1: Navigate to root of current project
Step 2: enter "ng generate app appname" in terminal
Step 3: Receive error "Error: Could not find an NgModule for the new component. Use the skip-import option to skip importing components in NgModule.
Could not find an NgModule for the new component. Use the skip-import option to skip importing components in NgModule."

[2018-05-03 13:36] manndave opened #455 "Incorrect peer dependency"
Whenever I try to add a new package via `yarn add xxxx` I see two warnings in the console:

`warning "@nrwl/schematics > @schematics/angular@0.4.6" has incorrect peer dependency "@angular-devkit/core@0.4.6".`
`warning "@nrwl/schematics > @schematics/angular@0.4.6" has incorrect peer dependency "@angular-devkit/schematics@0.4.6".`

Environment:

- angular/cli: 1.7.4
- nrwl/schematics: 1.0.3
- angul

[2018-05-03 13:47] manndave commented on #367
I'm seeing this error running CLI 1.7.1.  I don't know if it's related to this other problem I'm having or not: #455.

Angular CLI: 1.7.1
Node: 8.9.4
OS: win32 x64
Angular: 5.2.7
... animations, common, compiler, compiler-cli, core, forms
... language-service, platform-browser, platform-browser-dynamic
... router

angular/cli: 1.7.1
angular-devkit/build-optimizer: 0.3.2
angular-devkit/core: 0.4.9

[2018-05-03 13:47] manndave commented on #455
**More Info:**

Angular CLI: 1.7.1
Node: 8.9.4
OS: win32 x64
Angular: 5.2.7
... animations, common, compiler, compiler-cli, core, forms
... language-service, platform-browser, platform-browser-dynamic
... router

angular/cli: 1.7.1
angular-devkit/build-optimizer: 0.3.2
angular-devkit/core: 0.4.9
angular-devkit/schematics: 0.4.9
ngtools/json-schema: 1.1.0
ngtools/webpack: 1.10.1
schematics/angular:

[2018-05-04 06:47] xmlking opened #456 "nx@6 workspace diretory structure proposal"
Can we have three top level directories instead of just apps/libs ?
this way we can organize code into internal reusable modules (private) in `modules` and publishable (public)   module and libs in `libs`

[code]

[2018-05-04 13:11] kylecordes commented on #456
In work I did prior to Nx existing, manually performing similar gymnastics to what Nx does, I also divided reusable chunks into three categories as described above. It worked out very nicely, and I recommend it.

(However, the Nx tooling is approximately 50 times more convenient than what I was doing manually, so I switched to Nx.)

[2018-05-04 16:23] adgoncal opened #457 "Feature request: format scss with prettier"
It is great that nx uses prettier to format ts. However, prettier also supports formatting other file types, and I think it would be valuable to use prettier to format css/scss (and html also, once that is supported by prettier).

As a reference, I am currently doing this on my project's package.json:

[code]

---

On another topic, can someone please tell me why nx scripts use the relative path `

[2018-05-04 16:25] belamrani opened #458 "dep-graph : see only the dependencies between libs"
It would be great to generate the graph dependencies only for the libs.
I tried the --files option but it doesn't seems to work.
I tried :
yarn dep-graph --files="libs/**/*"
yarn dep-graph --files="libs/"

Thank you :)

[2018-05-04 16:40] Maximeesilv commented on #454
Same issue with exactly same steps as @DJKullas ...

[code]

[2018-05-04 18:09] adgoncal opened #459 "Feature request: css/scss linting"
It would be great to add css/scss linting to the lint script in addition to linting typescript. This can easily be accomplished with [sass-lint](https://github.com/sasstools/sass-lint).

Install `sass-lint`
`npm install sass-lint --save-dev`

Edit the lint script in `package.json`:

[code]

Finally, create a `.sass-lint.yml` file in the root of the project, see sample:
https://github.com/sasstools

[2018-05-04 19:14] xmlking commented on #456
@kylecordes Agree. #nx can still add value on top of  `angular-cli@6`,  like enhanced generators, `tslint` rules, tags , `dep-graph`, `affected`,  `format` etc.

[2018-05-07 10:42] SiasMey commented on #274
Having done some manual migrations and fixing lots of similar problems.

The migration is trying to delete tsconfig.app.json it expects the file to exist and so fails if it doesnt rather than continue to potentially cause other issues.

If you simple create the file as an empty file, the migration script should finish fine. This is likely an artifact of a earlier manual migration or in my case a n

[2018-05-07 18:06] jbeckton opened #465 "Appending an authorization header to an http request initiated via side effect crashes browser"
I posted this issue over at NGRX and they did not seem interested in looking into it, It's probably not on their side anyways since this issue did not start until I introduced NX into my project. I have an app in production that uses NGRX and HttpClient Interceptors without fail.

You may choose to investigate this issue or you may not, at this point I have spent all last week trying to correct th

[2018-05-07 20:06] Nxt3 opened #466 "What's the difference between using Nrwl and @angular/cli@6.0?"
My team has been using Nrwl since November. With the new version of `@angular/cli` supporting workspaces, multiple apps, and libraries--what's the benefit of using Nrwl over the default CLI?

[2018-05-08 02:10] beeman commented on #466
At this moment the CLI has basic support for libraries. It does not support developing in watch mode for example. There are workarounds for this, but they are messy and slow-ish.

Also, I think that the directory structure of an NX Workspace makes more sense: `apps` + `libs`, versus the default app in `src` and the rest (apps + libs) in `projects`.

Another plus for NX is that Code linting is done

[2018-05-08 03:10] Yonet opened #467 "ng g lib error"
Testing new: "@nrwl/nx": "2.0.0-alpha.2"

Repro: https://github.com/nrwl/nx-tests
[code]

Error:
[code]

[2018-05-08 14:59] vsavkin commented on #234
Fixed here:https://github.com/nrwl/nx/commit/7c330163bdcb0ca4b699995813abd90394bcc6b8

[2018-05-08 14:59] #234 closed

[2018-05-08 16:12] #465 closed

[2018-05-08 17:39] vdiaz1130 opened #470 "angular.json vs .angular-cli.json"
I'm trying to configure Nrwl Nx with Angular 6. It seems there are hard-coded references to .angular-cli.json which has been changed to angular.json.

Error: no such file or directory, open '...\.angular-cli.json'

Is angular-cli v6 support coming soon?

[2018-05-08 17:54] beeman commented on #470
Yesterday there was an alpha release as mentioned by Victor [here](https://github.com/nrwl/nx/pull/419#issuecomment-387433968).

Won't most likely take very long until v6 support is in production.

[2018-05-09 00:25] noelmace commented on #412
Closing has Nrwl is working on this internally. See https://github.com/nrwl/nx/pull/419#issuecomment-387433968.

[2018-05-09 00:25] #412 closed

[2018-05-09 01:54] vdiaz1130 commented on #470
Tried it. Works well up until you want to serve an app:
[code]

[code]

Tried various other options (e.g. -a="...", -app="...")

Any ideas or workaround?

[2018-05-09 02:39] vdiaz1130 commented on #470
Dang it! It's not selecting the app. I'm trying to generate a component into the "ui" lib, but it wants to add it to the "client-admin" app. I tried various options. Am I missing something or doing something wrong?

// Selects wrong app...
ng g c splash-view --app=ui --dry-run
ng g c splash-view ui --dry-run
ng g c splash-view -a ui --dry-run
ng g c splash-view --app="ui" --dry-run
ng g c splash-v

[2018-05-09 02:52] beeman commented on #470
@vdiaz1130 you should use `--project`, as you can see when you run:
[code]

[2018-05-09 02:54] vdiaz1130 commented on #470
Progress! Thank you!

[2018-05-09 02:56] beeman commented on #470
@vdiaz1130 [this post](https://medium.com/@beeman/how-to-do-x-in-angular-cli-v6-db7530c23066) might be useful, feel free to post any comments/questions about the changes in the CLI there

[2018-05-10 21:18] jeffbcross commented on #470
Closing this for now, since it seems like the issue is just that the docs need to reflect the need to use `--project`. Thanks @vdiaz1130 and @beeman!

[2018-05-10 21:18] #470 closed

[2018-05-10 21:36] jeffbcross commented on #455
You shared two different versions of angular-devkit (0.4.6 first then 0.4.9 in your second example). Seems like that's probably the cause. I'll close this for now, but if that doesn't solve it, could you create a reproduction on Github that we could pull down and test, and open a new issue? Thanks!

[2018-05-10 21:36] #455 closed

[2018-05-10 21:37] ThomasBurleson commented on #9
@vsavkin - was this not fixed with SHA 4edc8e6c8b

[2018-05-10 21:44] Nxt3 commented on #466
@jeffbcross I'll be on the lookout for the post! Thanks!

[2018-05-10 21:46] manndave commented on #455
I think that's just a typo.  I'll close this, though, as I can't reproduce.  I did notice, however, that my angular-devkit/core is now reporting **0.3.2**.  I have no idea how it got set back so far...it's been a crazy week.  If it pops up again, I'll open a new issue with a repro.

Thanks!

[2018-05-10 21:52] jeffbcross commented on #455
Ha, sounds good

[2018-05-10 22:01] MainaWycliffe opened #471 "Error Converting an Existing Angular 6 App"
I am trying to convert an existing angular 6 application and am getting the following error:

[code]

[2018-05-10 22:12] ThomasBurleson opened #472 "feat(ngrx): properly scaffold Load/Loaded/LoadError actions for each feature"
Recent enhancements to the [ngrx/platform schematics](https://github.com/ngrx/platform/pull/1047 ) creates more specific *feature* actions and effects classes.

As such, in the *Nx ngrx* schematics, enhancements should be insure that the following actions are scaffolded:

* For each ngrx `name` feature, the following three (3) actions should be prepared:
[code]

[2018-05-11 13:36] ThomasBurleson commented on #472
The @nrw/schematics should also generate LoadError actions/enums:

[code]

[2018-05-11 14:11] thanatos915 opened #473 "ng6x not support service worker"
The first ng build is correct. Once again ng build, the browser access error.

[2018-05-12 01:44] shlomiassaf opened #476 "Can't run update on CLI v6 app"
Hi

With angular cli V6 app and nx 6.0.0-alpha.1 I'm getting this error when running `npm run update:check`

**Error: ENOENT: no such file or directory, open '.angular-cli.json'**

This also happens in other commands (e.g. postinstall)

I thinks it's related to this https://github.com/nrwl/nx/blob/master/packages/schematics/src/utils/fileutils.ts#L55

[2018-05-12 15:18] FrozenPandaz commented on #476
Hey, thank you so much for trying out the alpha!

The update functionality is still being prepared. I referenced the PR which I just opened.

Please try again after it has been merged and published!

Your feedback would be greatly appreciated!

[2018-05-13 17:12] noelmace commented on #412
I don't see any issue with that. You could also use the alpha version of nrwl/nx if you also want to move to Angular-cli 6. @vsavkin ?

[2018-05-13 21:55] xmlking opened #478 "nx@6 ng g lib output misleading message."
`ng g lib` command generate misleading output:

none of the below files are generated:

CREATE libs/socketio-plugin/src/lib/socketio-plugin.component.spec.ts (685 bytes)
CREATE libs/socketio-plugin/src/lib/socketio-plugin.component.ts (282 bytes)
CREATE libs/socketio-plugin/src/lib/socketio-plugin.service.spec.ts (423 bytes)
CREATE libs/socketio-plugin/src/lib/socketio-plugin.service.ts (143 bytes

[2018-05-13 22:35] xmlking opened #479 "nx@6 : --nomodule still generate ng-module"
[code]

[2018-05-13 23:16] xmlking opened #480 "nx@6: --routing --lazy add @proj namespace instead of package name from package.json"
[code]
Actual  :
[code]

Expected:
[code]

same problem when targeting parent-module from `libs`

[code]

[2018-05-13 23:50] beeman commented on #480
It's most likely because of [this hard-coded](https://github.com/nrwl/nx/blob/master/packages/schematics/src/utils/cli-config-utils.ts#L7) npm scope.

[2018-05-14 05:58] Springrbua commented on #412
@noelmace Thanks for your replay. So basicly the new release should only build on top of new CLI-features, but the current release should already be Angular-CLI v6 compatible?

[2018-05-14 09:55] thanatos915 opened #481 "nx@6 service worker was failed"
errors:
[code]

[2018-05-14 16:49] noelmace commented on #412
@Springrbua No. You asked about Angular, not Angular-CLI. Angular-cli 1.7 should be compatible with Angular 6 as far as I know, so I think NrwL/Nx v1.0.1 should be too. But current latest Nrwl/nx (v1.0.1) is not compatible with Angular-CLI v6. Only next is (v6.0.0-rc.1).

[2018-05-14 16:57] #394 closed

[2018-05-14 17:09] Springrbua commented on #412
Thanks for your reply. In order to benefit from update schenatics to fully work, I probably need to wait for it to be CLI v6 compatible. Is a release of that version already near?

[2018-05-14 17:28] beeman commented on #480
Will be fixed here https://github.com/nrwl/nx/commit/56a5933

[2018-05-15 06:03] luke-emmental opened #484 "ng generate component {componentName} -p not working"
ng g c test --project lib2  (working)
ng g c test -p lib2 (now wokring)

[2018-05-15 06:07] beeman commented on #484
@luke-emmental the `-p` flag is used by the Angular CLI generator as a shortcut for `--prefix`, so you need to use `--project`:

[code]

[2018-05-15 06:26] luke-emmental commented on #484
oh~! my mistake

[2018-05-15 06:52] xmlking commented on #456
I think nx@6 ‘s   apps + libs directory structure with —publishable  flag satisfy my needs.  I like simplicity of old non-publishable lib modules. Why generate tslint, tsconfig... files for each non-publishable lib modules?

[2018-05-15 09:30] darwinyo-enterprise opened #485 "No module factory available for dependency type: ContextElementDependency @nx 6"
last night i was update my angular app from 5 to 6.
this is my package json

`
"@angular/cli": "6.0.1",
    "@angular-devkit/build-angular": "~0.6.1",
    "@angular/common": "6.0.1",
    "@angular/compiler": "6.0.1",
    "@angular/compiler-cli": "6.0.1",
    "@angular/core": "6.0.1",
    "@angular/platform-browser": "6.0.1",
    "@angular/platform-browser-dynamic": "6.0.1",
    "@angular/router":

[2018-05-15 09:42] darwinyo-enterprise commented on #485
im suspecting angular cli who cause this... but not sure...

[2018-05-15 13:36] ospatil opened #486 "nx@6: library can't be built using ng build command"
### Observation

Library build in a workspace fails with the following error:

[code]
### Steps to reproduce

1. Create a new workspace `create-nx-workspace nx6 --yarn`.
2. Create a new library in the workspace - `ng g lib mylib`.
3. Build the library - `ng build mylib`.

### Versions
nx - `6.0.0-rc.1`
node - `10.1.0`
npm - `6.0.1`
yarn - `1.6.0`

### Analysis

I compared the `angular.json` config

[2018-05-15 14:43] darwinyo-enterprise commented on #485
i have fix this issue. seem like my dependencies has problem...

[2018-05-15 14:43] #485 closed

[2018-05-15 18:20] ospatil commented on #486
Found the answer in the code :). Only `publishable` libraries get the build configuration.  Such libraries needs to be generated with `ng g lib mylib --publishable`.

[2018-05-15 18:20] #486 closed

[2018-05-16 00:54] lexcaraig commented on #362
will this also support the `ng add <package>` command? Thanks!

[2018-05-16 01:07] FrozenPandaz commented on #362
@lexcaraig Yes it will! `ng add @nrwl/schematics` is available in the RC right now actually!

[2018-05-16 04:44] darwinyo-enterprise opened #488 "nx @6 protractor support"
i found breaking change on /utils/cli-config-utils
`const { getAppDirectoryUsingCliConfig } = require('@nrwl/schematics/src/utils/cli-config-utils');`
there's no getAppDirectoryUsingCliConfig
 im only found this function
[code]
how to configure my protractor conf with this?
thanks

[2018-05-16 12:20] juristr opened #489 "nx v6: Could not find module "@nrwl/schematics" when creating a new workspace"
Tested with both
- latest  `v6.0.0-rc.1` candidate installed globally
- build from master of this repo here

When I execute `create-nx-workspace nxv6-testapp --yarn` I get the following error

[code]

It looks like the `@nrwl/schematics` is being searched in the folder where I execute the `create-nx-workspace` command.

It strangely works if I clone this repo (`master`), and execute the creation o

[2018-05-16 14:07] juristr opened #490 "nx v6: testing upgrade - getting runtime error when lazy loading a routed module from libs"
After performing the upgrade, I'm getting an error when lazy loading routed libraries from the `libs` folder. The route configuration is as follows

[code]

At runtime, I'm getting the error

[code]

[2018-05-16 14:19] Nxt3 opened #491 "Migrate existing .angular-cli.json to angular.json?"
I just tested out the new `ng update` but noticed it doesn't modify the `.angular-cli.json` file. I know this functionality exists within the standard `@angular/cli` but the problem is that it doesn't handle the migration as I'd expect. It lists everything as an app (regardless of whether it is a lib from nrwl) and gives everything e2e tests. I fixed most of this manually, but was hoping for an au

[2018-05-16 14:32] Nxt3 commented on #491
@juristr But did you have to manually adjust a bunch of things in your `angular.json` file? That's the pain point. I actually don't know what I need to change at the risk of creating a bigger headache for myself so I left most if it alone lol

[2018-05-16 14:45] juristr commented on #491
I had to adjust basically this: https://github.com/angular/angular-cli/issues/10883. But it seems like a bug in the `@angular/cli`, we'll see. Otherwise my assets didn't get copied over.

Right now the project compiles, but
- lazy loaded modules somehow don't work any more (#490)
- running tests kinda works. The new CLI considers having one test config per app, while NX has one global `karma.conf.

[2018-05-16 18:18] NathanWalker opened #492 "nx v6.0.0-rc.2: Cannot find module 'strip-json-comments'"
The following error occurs with `v6.0.0-rc.2` when creating a new workspace:
[code]

@vsavkin I can help look in PR but perhaps something quick?

[2018-05-16 18:30] FrozenPandaz commented on #492
Ah sorry, we probably need to add this as a dependency

[2018-05-16 19:11] dotDeeka opened #493 "Getting nx lint error from putting tslint.json file in libs"
I want to have a different set of linter rules for my libs than for my apps, so I have a ```libs/tslint.json``` which has the rules for all libs. Running ```nx lint```  returns

[code]
It would be useful to allow files like this here. Is this something you guys would consider adding? Or, is there some way to configure it that I'm missing.

[2018-05-16 20:34] #489 closed

[2018-05-17 01:07] #492 closed

[2018-05-17 05:58] juristr commented on #490
Ok, played around in my code and it seems to work when I don't specify the entire path to the lazy loaded module. My structure of the `r3-user-management` library looks as follows

![image](https://user-images.githubusercontent.com/542458/40159059-dca832bc-59a7-11e8-9c1f-c36e60aee1d1.png)

Where the `index.ts` exports the `R3UserManagementModule`. If in the routing configuration I leave it just as

[2018-05-17 06:17] FrozenPandaz commented on #490
Your module file may have moved to a `libs/r3-user-management/src/lib` directory.

In my opinion, the 2nd way looks a bit cleaner though

[2018-05-17 06:52] gs-eali opened #496 "How to create new nx workspace supporting angularcli@6?"
using create-nx-workspace to creates workspace with angular version 5.

[2018-05-17 06:59] juristr commented on #490
nope. It's there where it has been from the beginning. Just wanted to emphasize this as it may be a breaking change for people that upgrade NX.

Agree 😄

[2018-05-17 07:44] beeman commented on #496
@gs-eali the current production version still works with version 5 indeed. Support for version 6 is being worked on and should come very soon!

If you want to try version 6 you can do so by running this:

[code]

[2018-05-17 08:39] joelmuskwe opened #497 "NX Workspace with Jest implementation"
How can you configure Jest with NX Workspace and remove jasmine and karma configs

[2018-05-17 11:12] MainaWycliffe commented on #471
No fix, I gave up and am now trying the new Angular CLI Workspaces.

[2018-05-18 14:46] piernik opened #498 "nx@6 Can't create workspace"
I've installed globally rc3 of nx:
`@angular/cli@6.0.3`
`@nrwl/schematics@6.0.0-rc.3`

When I try to create workspace `create-nx-workspace admin` I get error:
`Cannot find module @angular-devkit/core`

[2018-05-18 16:00] #498 closed

[2018-05-18 20:48] tommyc38 opened #499 "Nx vs Angular-cli@6"
Now that the cli can scaffold out libraries, apps, and workspaces, why use Nx?  Don't get me wrong, I love this library but I always have issues upgrading @nrwl/schematics & @nrwl/nx which frustrates me.  For example, in Nx v0.8 there was an upgrade command.  I tried it and it never worked despite trying a number of things.  Clarification around Nx benefits over the cli and how to upgrade Nx and l

[2018-05-18 22:08] FrozenPandaz commented on #499
it is great that the CLI has these new features and we are very excited as well about that functionality.

We try our best to automate the upgrade experience so please create specific issues you find in this repo and we will try to help/fix.

As for Nx Benefits over the CLI, there is a Wiki doc about the benefits :)
https://github.com/nrwl/nx/wiki/Nx-and-Angular-CLI

[2018-05-18 22:08] #499 closed

[2018-05-20 18:35] merlosy opened #500 "Run test with coverage for lib"
I have a feature suggestion.
I'd really like to be able to run tests and get coverage of a single app or lib.
The docs suggests using `fdescribe`, but it doesn't feel right..

Suggestion of command (`my-lib` defined in `.angular-cli.json`/`angular.json`:
[code]

For now, this gives me an error:
[code]

[2018-05-20 22:48] rhutchison commented on #471
`ng generate workspace workspace-name --collection=@nrwl/schematics` generates same error

[2018-05-21 01:54] beeman commented on #471
The error is relatively clear: `Data path "" should have required property 'name'.` means you need to pass in a `--name` parameter.

I just ran a test, this is how I converted a NG6 project into a Nrwl project:

[code]

[2018-05-21 01:56] beeman commented on #496
@gs-eali I think you need to run `ng generate application school`, the `app` alias does not exist in the Angular schematics, I created a PR for that here https://github.com/angular/devkit/pull/907

[2018-05-21 21:12] sirajc opened #503 "ng lint in v6"
With v6, ng lint runs linting for all projects, in case of Nx for all apps and libs. If we look at the https://github.com/nrwl/nx-examples/blob/master/angular.json file, each lib has same two `tsconfig.json` configured, which means that _ng lint_ will run lint on the same set of files?

For a large project, linting has become very slow in v6, hence looking for ways to optimize it.

Also, what lint

[2018-05-22 12:30] kpaxton opened #504 "Use of Environment constants in a decorator"
I've looked through the tickets on how to best use environment constants inside of ```/libs``` and see that injection is probably the best and most flexible way. However, all of those examples have hooks to the Angular Injector. In my case, I don't have access to that.

Here is my structure:
[code]

restservice.ts:
[code]

All services (in the apps and in the libs) that make use of ```HttpClient``

[2018-05-22 13:51] kpaxton commented on #504
@ThomasBurleson Thanks, I'll give this a shot.
Couple questions though:
* Would this BackendModule be present in the libs or in the app?
* Where would I be referencing the environment variables?
* What would my services in the libs reference?

[2018-05-22 14:36] s-f-a-g commented on #496
As it doesn't work either, you could rewrite npmScope in nx.json to app.

`
{
  "npmScope": "app",
  "projects": {
    "sample": {
      "tags": []
    },
    "sample-e2e": {
      "tags": []
    }
  }
}
`

[2018-05-22 16:47] sixtoad commented on #479
6.0.1 still fails

[2018-05-22 16:56] JamesHenry commented on #484
Thanks, @beeman!

[2018-05-22 16:56] #484 closed

[2018-05-22 17:51] zlepper opened #505 "Automatic upgrade to nx 6 fails"
Ran commands `npm install @nrwl/schematics@latest --save-dev` and `npm run update`. This fails for some reason. I have linked the run log.

Log file: https://gist.github.com/zlepper/5d235fa2b5a3cfb396e8e4d15eb362b4

EDIT: Also added the angular-cli.json file, as I have a feeling some expectations about project structure might be failing.

[2018-05-22 17:56] juristr opened #506 "Docs: Error in command for generating new NX workspace"
I didn't find the docs repo, so I'm filing an issue rather than a PR. In the [docs here](https://nrwl.io/nx/guide-nx-workspace) the command for creating a new NX workspace is written as

[code]

..while it should be

[code]

There's an `@` too much 😄.

Just as a side-note, is `create-nx-workspace` obsolete?

[2018-05-22 18:18] merlosy commented on #505
It fails for me as well:
[code]

[2018-05-22 19:10] FrozenPandaz commented on #505
@zlepper
Thank you for the logs, helped a ton!
Good news: Looks like most of the migration was successful!

There were 2 issues though:
### Your `mediamanager` library
Looks like you don't have the directory which was specified in your `.angular-cli.json` here https://gist.github.com/zlepper/5d235fa2b5a3cfb396e8e4d15eb362b4#file-angular-cli-json-L143. We tried to move that `src` directory into a `

[2018-05-22 19:11] FrozenPandaz commented on #505
@merlosy If possible, could you also post a log or a repo?

[2018-05-22 20:26] zlepper commented on #505
Removing the lib/mediamanger does indeed fix one issue, however as you mentioned yourself, the autoformatter still fails.

How come the autoformatter is an issue now? We have run `npm run format` many times with the previous version of nx without issues?

[2018-05-22 20:38] FrozenPandaz commented on #505
The autoformatter collects files that have changed and this migration changes many files because of the large difference between Nx 1.x and Nx 6.0+ . Most likely, for normal dev changes it will not be an issue.

I am not sure if installing the `@angular/cli` along with schematics would help. That is done for you during the migration.

[2018-05-22 20:45] ThomasBurleson opened #507 "fix(upgrade): some angular libs are not upgraded."
When I `npm run udpate` with nx 6.x the following **@angular** libs are NOT updated to 6.x:

[code]

[2018-05-22 20:47] ThomasBurleson opened #508 "fix(upgrade): errors upgrading for older versions of Node"
It appears that `npm run update` requires latest version of @angular/cli 6 to be installed first.

It also appears to that Nx requires Node >= v8.9.

[2018-05-22 20:51] ThomasBurleson commented on #476
I just checked `npm run update:check` with @nrwl/schematics 6.0.2... works fine.

[2018-05-22 20:51] #476 closed

[2018-05-22 20:55] ThomasBurleson opened #509 "fix(schematics): missing dev dependency"
Angular CLI and Nx 6 installs do not install the required **`@angular-devkit/build-angular`**.

[2018-05-22 21:20] FrozenPandaz commented on #509
`@angular-devkit/build-angular` should be provided by `@angular/cli` for the most part.
* In existing projects, it would come from `npm run update` which runs `ng update @angular/cli` and should bring it in.
* In new projects, created with Nx, it is in the `ng-new` generated `package.json`.
  * This is the only place we need to specify it right now, and I see it here: https://github.com/nrwl/nx/bl

[2018-05-22 21:48] run1t opened #510 "Export an nx library to npm"
We are currently moving multiple projects to nx and I began to create a library in the nx workspace to unifiy the ui.

Unfortunately, migrating those projects take some times and I was wondering if there is a way to share the library on npm (temporarily) in order to begin to integrate and test the new components from the lib.

If you can just guide me to the good solution it would be very helpful

[2018-05-22 21:56] merlosy commented on #505
@FrozenPandaz My repo is available here: https://github.com/merlosy/ngx-material-file-input/tree/ng6

I started a branch for the upgrade...
Basically I just used these commands:
[code]

and the second one crashes.
Thanks for your help!

[2018-05-22 22:01] merlosy commented on #510
For what it's worth, these helped me:
- https://github.com/dherges/ng-packagr
- Jason Aden - Packaging Angular Libraries https://www.youtube.com/watch?v=QfvwQEJVOig (in the second half of the video)

[2018-05-22 22:06] juristr commented on #510
If you're seeking for how to publish an Angular library out of an NX monorepo, I've created a GitHub repo [ngx-tabs-libdemo](https://github.com/juristr/ngx-tabs-libdemo) which I use to experiment with various setups (check out the different branches). These two are using NX:

- https://github.com/juristr/ngx-tabs-libdemo/tree/with-demoproj-setup
- https://github.com/juristr/ngx-tabs-libdemo/tree/m

[2018-05-22 22:08] FrozenPandaz commented on #505
@merlosy Thank you, I was able to replicate the issue.

[2018-05-22 22:13] ThomasBurleson commented on #509
[code]

The error manifests when I do:

[code]

[2018-05-22 22:19] FrozenPandaz opened #511 "nx format may error for too many files"
### Description
`nx format --untracked` may fail if there are a lot a lot of files since we concatenate them into a single command. This may exceed the limit for the size of a command/ input which I think is dictated by the operating system.

Originally discovered: https://github.com/nrwl/nx/issues/505#issue-325400129
Associated gist https://gist.github.com/zlepper/5d235fa2b5a3cfb396e8e4d15eb362b4

[2018-05-22 22:21] FrozenPandaz opened #512 "Migration from 1.x - 6.0 errors when project name does not match project root"
### Current Behavior
This migration is using the name of the project to locate the files to move.

### Expected Behavior
This should use the root of the project

### Steps to Reproduce
Repo: https://github.com/merlosy/ngx-material-file-input/tree/ng6

[code]

[2018-05-22 22:21] run1t commented on #510
@merlosy @juristr thanks for the very fast response I'll try it out tomorrow !

[2018-05-22 22:30] FrozenPandaz commented on #510
@run1t
If you are using Nx6, `@angular/cli@6` now has the ability to generate and publish libraries. We've kept this functionality but it is hidden under a `--publishable` flag.

In a Nx6, workspace this should be the workflow:
[code]

[2018-05-22 22:38] jeffbcross opened #513 "Error after running ng add on fresh CLI project"
* Mac
 * Node 9.11.1
 * Angular CLI version 6.0.3
 * Nx version 6.0.2

1. I created a new Angular CLI project: `ng new marbles`.
1. Then I added Nrwl schematics: `ng add @nrwl/schematics`. But got an error:

[code]

[2018-05-22 22:42] matthewharwood commented on #164
Will this be fixed anytime soon...? I love nrwl nx but I really want to use universal

[2018-05-22 22:43] matthewharwood commented on #135
@a5hik It would appear it's not working.

[2018-05-23 03:11] ThomasBurleson commented on #504
I was simply providing an example. BackendModule is in a living and could be any name you want

[2018-05-23 03:57] thefliik commented on #135
@a5hik My nx workspace has 3 apps which all support SSR. I don't believe there is any question of support for SSR in NX, this issue is discussing how to convert an existing, non-nx monorepo, that contains multiple apps within `.angular-cli.json`, into an nx workspace.

Apparently, converting an existing monorepo to nx doesn't work if the monorepo already has multiple projects within it (which *wil

[2018-05-23 04:39] beeman commented on #135
@thefliik hey - glad to hear my repo has been useful! I will update it one of these days with the latest versions of Angular + NX

[2018-05-23 06:12] DenisVuyka opened #514 "nx@6 ng test runs only first app"
After upgrade, when running the "npm test" or "ng test", only tests for the first application are executed. And it runs in the watch mode.

Moreover, if I shut down the process, the second project test run is performed, and so for each project in the workspace I have.

Expected behaviour: it should run all tests as it did before the upgrade

[2018-05-23 06:17] DenisVuyka opened #515 "nx@6 uses Yarn even if Npm is expicitly configred"
During the upgrade the nx@6 uses `yarn` even if the local Angular CLI is configured to use `npm`. It also generates the `yarn.lock` file alongside `package-lock.json` one. And it seems to be always using yarn for new library generation.

Expected behaviour: it should be using the package manager that is configured with Angular CLI.

[2018-05-23 08:31] run1t commented on #467
I had the same problem after doing a migration from `nx 1.0.3` to `nx 6.0.2`.
Doing:
`rm -rf node_modules`
`npm install`

seems to solve the problem.

[2018-05-23 09:18] sforner405 opened #516 "NX Upgrade to 6.0 - Cannot read property 'browserTarget' of undefined"
Hi,
while trying to update to version 6.0 I get the following error while updating via yarn update.

Cannot read property 'browserTarget' of undefined

It occurs while updating UPDATE karma.conf.js (1675 bytes) .

This is my karma.conf.js
<details>
 <summary>karma.conf.js</summary>

[code]
</details>

Update:
It Seems it happens after upgrading karma.conf.js .
There seems to be something wrong in

[2018-05-23 10:17] juristr opened #517 "Docs: fix instructions for running affected tests"
I just migrated my workspace from NX 1.x -> NX 6 using the final version of the nrwl schematics and it worked mostly painlessly. Most of the fixes were due to how I referenced libraries before. Awesome job for the upgrade guys 👏 .

[In the docs](https://nrwl.io/nx/guide-nx-workspace) there's a missing space for the `affected:test` and `affected:e2e` between `--base=master` and `--head=HEAD`

[code

[2018-05-23 10:23] juristr opened #518 "Question: run test for all applications"
First it was possible to simply execute `yarn test` which pointed to a `test.js` at the root folder and executed all spec files. This apparently changed in the new setup as the test cases are now local to each project/lib.

What is the general strategy for this. Like create an npm scripts that simply run all tests or is there something else planned?

[2018-05-23 10:35] juristr commented on #518
Also, I've just seen that running `ng test` for a project **with no spec files** fails. Not sure that's desired.

[2018-05-23 11:41] JanUnld opened #519 "Error for app generation with inline-template option"
Hey,

I recently updated my toolbelt to the latest version of **@nrwl/nx** and I wanted to thank you guys alot for the great work you are putting into this project to make every (ng) developers life much simpler!

Anyway, I came up with a nasty little bug while I was trying to generate an application using the `--inline-template` (`-t`) option. Unfortunately the cli gave me the following output:

[2018-05-23 11:56] juristr commented on #518
Closing as duplicate of #514

[2018-05-23 11:56] #518 closed

[2018-05-23 11:59] juristr commented on #514
Really depends whether that's the new behavior that follows the official Angular CLI. Would be interesting to hear from the NRWL team what they think about it. Anyways, you could wire it up yourself as I did, something like:

[code]

Moreover generally speaking I guess it's preferred to use the `affected:test` script when possible.

yep, notice such strange behavior as well.

[2018-05-23 12:04] DenisVuyka commented on #514
I just checked and this behaviour is coming from the Angular CLI. At least I am able to reproduce the same issue there.

[2018-05-23 12:11] juristr commented on #514
@DenisVuyka Yes, guessed so. However it would be nice to have a global test script that collects all test cases. don't have the time right now, but in theory one could configure an app that points a karma and `test.ts` file at the root and run that. Very much like NX v1.x did it.

[2018-05-23 12:54] msqaddura opened #520 "Where is schema.json?"

[2018-05-23 12:56] msqaddura opened #521 "Where is schema.json?"
Hello world,

Previously in angular-cli.json schema was here :
`  "$schema": "./node_modules/@nrwl/schematics/src/collection/workspace-schematic/schema.json", `

So now after trying to update nrwl to angular 6 i cant find it anymore
Where did it go? :( i miss it really! :'(

[2018-05-23 13:18] juristr commented on #521
@msqaddura Should be here: `"$schema": "./node_modules/@angular/cli/lib/config/schema.json",`

[2018-05-23 13:21] dherges commented on #432
Hi all, an update: I was not able to get a reproduction of the issue in the specific project workspace. Thus I couldn't figure out what exactly the precondition was to trigger that.

My workaround was to create empty temporary files, let the migrations run (which deleted the files) and then the nx workspace was up-to-date.

[2018-05-23 13:29] msqaddura commented on #521
thanks for your quick reply.
upon updating angular i have this file
![image](https://user-images.githubusercontent.com/11808840/40427077-5616bfe0-5ea5-11e8-8989-a304ffcea3c5.png)
does that affect nx behaviour or should the nx work normally?

[2018-05-23 13:37] msqaddura commented on #521
Actually, lets do it simple way :D
How do i upgrade angular to 6 while keeping nrwl?
this is where i ended up after following this article
https://blog.nrwl.io/announcing-nrwl-nx-6-0-29b963d87d8e

[2018-05-23 13:38] sandangel commented on #471
ok, my problem is when I try with ng add `@nrwl/schematics`, the npm spin forever, the same problem when I try with npm install -D `@nrwl/schematics`

[2018-05-23 15:29] run1t commented on #510
@FrozenPandaz , @merlosy  and @juristr   Thanks  for your help !
I know have my library on NPM.

I was on `nx: 1.0.3`
So migrated to `Nx6`
I did that:
`npm install -g @nrwl/schematics@latest`
`npm install -g @angular/cli@latest`
`npm run update`

I had to remove my node_modules and reinstall all modules.
`rm -rf node_modules`
`npm install`

And then I did an
`ng generate lib mylib --publishable`
`

[2018-05-23 15:29] #510 closed

[2018-05-23 16:25] avatsaev opened #522 "generating components for a particular app doesn't work"
if there are two apps (app1, app2), ng generate component toolbar --app=app2 will generate the component for app1

[2018-05-23 16:28] jesdynf opened #523 "ng generate no longer knows --app?"
Per https://github.com/nrwl/nx-examples/issues/40 , I can't generate bits in libs after installing Nrwl 6. `--help` shows the `--app` argument isn't even on the list. `ng generate service myService --app=lib-service` ignores the `--app` entirely and puts things in the hello-world app.

I tried upgrading my Nrwl5 project but I got a crash and some advice to just 'git checkout .' to bail out, so I w

[2018-05-23 16:30] jesdynf commented on #523
#522 is probably the same thing.

[2018-05-23 17:54] thefliik commented on #467
have you tried `ng g library`?

[2018-05-23 18:08] bryanrideshark opened #524 "How do we generate a library with NX 6?"
I'm using NX 6.0

Calling `ng g lib library-name` generates a project in the `projects` folder.

I would like it to generate a library in the `libs` folder, like it did before.

I suspect that this is because "lib" runs the Angular CLI schematic now, where I want it to be running the nrwl/schematics schematic.

How do I get it to run the nrwl/schematics:library schematic for me?

[2018-05-23 19:25] bryanrideshark commented on #524
After investigation, this comes from `ng add @nrwl/schematics` not working properly.

Your angular.json should contain:

[code]

If you are running into the same problem I did, or have had a problem running `ng add @nrwl/schematics`, try manually changing your angular.json. Should fix the problem for you.

[2018-05-23 19:38] FrozenPandaz commented on #522
`ng generate` in Angular CLI 6 now uses `--project`

[2018-05-23 19:38] #522 closed

[2018-05-23 19:39] FrozenPandaz commented on #523
`ng generate` in Angular CLI 6 now uses `--project`

`ng generate service myService --project=lib-service` is what you want.

Thanks!

[2018-05-23 19:39] #523 closed

[2018-05-23 19:49] juristr commented on #523
@jesdynf More infos can be found here: https://nrwl.io/nx/guide-nx-workspace

[2018-05-23 21:39] ffriedl89 commented on #513
Got exactly the same error on
* Windows 10
* Node 8.11.2
* Angular CLI 6.0.3
* Nx version 6.0.2

[2018-05-23 21:49] dereklin commented on #485
@darwinyo-enterprise How did you fix the problem?  I am experiencing the same issue.

[2018-05-24 01:52] abnersouza opened #525 "Error: Project '1' could not be found in workspace."
Hey guys, trying to run after the nx update all good, but after trying to run the project i got the following error:

`Project '1' could not be found in workspace.
Error: Project '1' could not be found in workspace.
    at Workspace.getProject (/app/node_modules/@angular-devkit/core/src/workspace/workspace.js:83:19)
    at Architect.getBuilderConfiguration (/app/node_modules/@angular-devkit/archit

[2018-05-24 08:45] sanyashvets commented on #513
same error
[code]

[2018-05-24 15:22] bryanrideshark opened #526 "Generating new components doesn't seem to work"
After upgrading to NX 6 in the nx-examples repo, one cannot generate components.

To reproduce, clone the nx-examples repository, make sure you're running nx 6, and then try the following command:

`ng g c test-component --project=login`

You'll either encounter the error "NgModule not found".

This can be alleviated by changing the "root" property for the "login" project in angular.json. Once you

[2018-05-24 17:15] jschwarty commented on #506
Thx @juristr for reporting that. Will update the docs and let you know when it is published.

[2018-05-24 17:16] jschwarty commented on #517
Thx @juristr, I will update the docs!

[2018-05-24 21:20] olakara opened #528 "failed to compile nested lazy loaded libs"
I am having a lazily loaded module which in turn loads different routes lazily. I get the following error:

`ERROR in D:/trail/libs/builder/src/lib/builder.module.ts
Module build failed: Error: D:\trail\libs\builder\src\lib\builder.module.ts is missing from the TypeScript compilation. Please make sure it is in your tsconfig via the 'files' or 'include' property.
    at AngularCompilerPlugin.getCom

[2018-05-24 21:30] olakara commented on #528
After more digging, I found that `tsconfig.app.json` file didn't have the appropriate entries. For example my config's include section was:
`"include": [
    "**/*.ts"

    , "../../libs/lookups/src/index.ts"

    , "../../libs/home/src/index.ts"
`
There is no path for the nested modules in here.. Once I added the new path, things started to work smooth :)

Result:
`"include": [
    "**/*.ts"

[2018-05-24 23:21] jschwarty commented on #506
@juristr This has been published. Thanks again for reporting it!!!

[2018-05-24 23:21] #506 closed

[2018-05-25 01:42] exequiel09 commented on #396
Closing since Nx now supports Angular CLI v6.

[2018-05-25 01:42] #396 closed

[2018-05-25 06:48] SoerenAksglaede commented on #485
I ran into the same problem as well, and would like to know how you fixed it @darwinyo-enterprise

[2018-05-25 06:56] sforner405 commented on #516
Fixed by changing the environment from prod to production in .angular-cli.json

[2018-05-25 06:56] #516 closed

[2018-05-25 09:14] Springrbua opened #529 "Tests: makeSureNoAppIsSelected is not a function"
When I execute `ng test projectName` in my @nrwl/nx-application I get the following error:
`makeSureNoAppIsSelected is not a function`

this happens, after upgrading to Angular and @nrwl/nx version 6.

The error is probably a wrong `require` in `karma.conf.js`:

`const { makeSureNoAppIsSelected } = require('@nrwl/schematics/src/utils/cli-config-utils');`

The file [schematics/src/utils/cli-config-

[2018-05-25 10:40] juristr commented on #529
Is this the global test.js file at the root of ur nx project?

[2018-05-25 10:52] exequiel09 commented on #529
It should be removed already since each project in the Nrwl Workspace has it's own karma configuration and test bootstrapper.

[2018-05-25 11:37] syedirfan7 opened #530 "how to test ngrx effects ?"
config

[code]

Below is my effects and i am trying to test this and i am getting errors shown below

**Effects.ts**

[code]

Please help me in  testing them. i have come across marble tests but could get through.

tried **spec.ts** file. below is the spec file attached and i get this error
[effect.spec.txt](https://github.com/nrwl/nx/files/2039151/effect.spec.txt)

[code]

[2018-05-25 12:08] Springrbua commented on #529
@juristr yes, it's the global karma.conf.js file at root-level.
@exequiel09 after the upgrade, the configurations of all projects point to `./karma.conf.js`, which only exists at the root-level.
Also the example application @nrwl/nx-examples seems to use one single karma.conf.js at the root level.

I removed the `require` and the `function` call and executing `ng test projectName` works now, but o

[2018-05-25 12:12] exequiel09 commented on #529
I didn't used the upgrade/migration provided by Nx, I created a new Nx workspace and replicated those changes to an existing codebase. Try generating a new workspace using v6 and see the configuration. Each has its own karma configuration and test bootstrapper.

[2018-05-25 14:32] iansamz commented on #485
That solution would be wonderful if shared

[2018-05-25 15:18] jared-christensen opened #531 "Creating a new workspace failed with error"
Im setting up a new project and following the docs found here https://nrwl.io/nx/guide-nx-workspace

When I run
`ng new myworkspacename --collection=@nrwl/schematics`

I get this error.
[code]

I have these globally
[code]

[2018-05-25 15:53] martzcodes commented on #531
I just created a fresh workspace and it worked fine.  Did you run it in a clean / empty directory?  Maybe try reinstalling @angular/cli and @nrwl/schematics?

[2018-05-25 15:59] xban1x commented on #513
Yup, same here.

Windows 10
Node 9.11.1
Angular CLI 6.0.3
Nx version 6.0.2

[2018-05-25 16:01] jlmonteagudo commented on #531
I get the same error, and previously I uninstalled @nrwl/schematics and installed it again.

[2018-05-25 16:03] b-johnse commented on #531
Similar issue, created a new workspace following the docs and it just gave me  a blank angular cli project not a workspace and also wouldnt take the ng add

[2018-05-25 16:05] martzcodes commented on #524
When creating a nx workspace from scratch `ng g lib library-name` seems to work.

[2018-05-25 16:06] jared-christensen commented on #531
I just got it to work when I added an @ before collection.
`ng new myworkspacename --@collection=@nrwl/schematics`

I think the docs maybe have a typo.

No @ on this page
https://nrwl.io/nx/guide-nx-workspace
`ng new myworkspacename --collection=@nrwl/schematics`

With @ on this page
https://nrwl.io/nx/guide-getting-started
`ng new myworkspacename --@collection=@nrwl/schematics`

What is really co

[2018-05-25 16:08] dereklin commented on #485
As @darwinyo-enterprise reported originally, when we upgrade from 1.0.3 to 6, we have many other dependencies that are not compatible with 6.

For my project, here is the right list of dependencies for it: https://github.com/dereklin/nrwl-nx-workspace-demo/blob/feature/upgrade-nrwl-6/package.json

Your projects' dependencies might differ.

As @ThomasBurleson suggested, I had to remove package-lock

[2018-05-25 16:18] martzcodes commented on #531
Ah, i used the `@` which is why it worked for me.

I also noticed that the docs say to use `ng g app` (which doesn't work) when it's supposed to be `ng g application` ... so, heads up for that

[2018-05-25 17:21] texel commented on #531
It works with `ng new myworkspacename --@collection=@nrwl/schematics` but that's because `--@collection` isn't a valid option so it just ignores it and generates a new ng workspace without any of the nx schematics.

I got it to work by globally installing `@ngrx/schematics` as well, but then when I tried to generate the workspace it did it in the *current* directory instead of creating a new direc

[2018-05-25 17:40] martzcodes commented on #531
`ng new myworkspacename --collection=@nrwl/schematics` also works... the `@` in front of `collection` was the problem.  https://nrwl.io/nx/guide-getting-started should get updated to remove it.

Back to the original issue... I was able to get it to work with the above command and it generated the file structure I was expecting without any errors.

(I'm going to shut up now)

[2018-05-25 18:45] FrozenPandaz opened #532 "Nx workspaces have a moderate vulnerability (Prototype Pollution by hoek)"
### Preface

We cannot address this directly within Nx. We believe this vulnerability is important to address but do not think the risk is high.

This issue is to provide a detailed report of my findings about the vulnerability as well as to track progress of its resolution.

### Current Behavior

Nx workspaces and Angular CLI workspaces in general have a **Moderate** vulnerability as reported by

[2018-05-25 23:12] FrozenPandaz commented on #531
Hey guys,

Sorry for the delayed response. I did some lengthy investigation.

The proper command should indeed be:

[code]

We will update our documentation.

As you folks have found, there are the following two issues with creating a new Nx Workspace.

#### [Workspaces are created in the working directory, not in their own directory](https://github.com/angular/angular-cli/issues/11025)

Re: @texe

[2018-05-27 14:07] ball6847 opened #533 ""ng g c" is not creating scss style extension unless specify "--styleext scss""
`ng g c` is not creating scss style extension  unless specify `--styleext scss`

# Step to Reproduce

[code]
### Output

[code]
Let's try again with `--styleext scss`

[code]
Output
[code]

[2018-05-28 21:48] juristr commented on #529
Exactly, there's now one karma + e2e project configuration per application. That seems to be the new strategy. Although it would be nice to have a way to execute so tests in the workspace without using custom scripts and hacks..

See https://github.com/nrwl/nx/issues/514

[2018-05-29 03:16] cvgaviao opened #534 "create-nx-workspace should respect angular-cli's package manager default configuration"
in angular-cli v6 we can set the default package manager using:

so we don't need to specify which one to use when using `ng new`

would be great not to have to specify that parameter every time with `create-nx-workspace` also.

[2018-05-29 05:38] Springrbua commented on #529
I compared my upgraded application with a newly generated nrwl application and found quite a few differences.
I updated my project, so that the structure matches the one of the new project and the tests are now executed per app, as they should.
Thanks for your help :)

[2018-05-29 05:39] #529 closed

[2018-05-29 07:48] sixtoad commented on #497
First install jest-preset-angular:
yarn i --dev jest jest-preset-angular

create a tsconfig.spec.json in root with content:
[code]

add jest.config.json at same level with:

[code]
if you want to use whatwg-fetch and jest-localstorage-mock you should install them too (if not, just remove them from the previous script).

add setupJest.ts with:

[code]

modify package.json scripts with:

[code]

[2018-05-29 09:09] tfiwm opened #535 "nx affected:lint"
It would be nice to extend the affected command with linting too because it gets really slow on larger projects.

[2018-05-29 11:56] a5hik opened #536 "Issues with ng g (generate) after upgrading to 6."
I had upgraded to nx version 6.0.2 (had to do it manually as the auto update crashed)..  was able to build and serve the app. but the generate command is failing and the logs are not useful to find anything.

Generating an app gives the following error

Generating a Lib gives the following error.

Generating a Comp gives the below.

[2018-05-29 11:56] jasedwards opened #537 "how to invoke custom schematic?"
I followed the directions on your blog on how to create a custom schematic.  The section for invoking the custom schematic however cuts off the command you actually run.  I created a schematic called new-app that I use so teams do not have to remember all the options we enforce for each app.  I then run ng g new-app myapp but an error is thrown stating 'Schematic "new-app" not found in collection

[2018-05-29 12:10] anilsbidve opened #538 "ng new myworkspacename --@collection=@nrwl/schematics, creates Angular CLI structure and not NX workspace structure"
Hi Team,

I was going through https://nrwl.io/nx/guide-getting-started link to get started with NX. I found that after installing NX schematics, I can create NX workspace with create-nx-workspace but If I run ng new myworkspacename --@collection=@nrwl/schematics then it creates Angular CLI structure and not nx.

This page https://nrwl.io/nx/guide-getting-started recommends both way but I found one

[2018-05-29 12:10] merlosy commented on #505
@FrozenPandaz any update about this one?
It isn't working properly yet...

[2018-05-29 12:41] argygkou commented on #537
Try  `npm/yarn  run workspace-schematic new-app {app-name}` and it will run your custom schematics.

[2018-05-29 13:45] #513 closed

[2018-05-29 13:55] juristr commented on #538
@anilsbidve The command is wrong. Should be

[code]

There's a `@` too much. See #506

[2018-05-29 13:56] vsavkin commented on #99
Nx 6 supports running tests for a particular lib. Run`ng test my-lib` or `ng test --project=my-lib`.

[2018-05-29 13:56] #99 closed

[2018-05-29 14:13] vsavkin commented on #193
It has been implemented in Nx 6. Pass `--prefix` when creating a library, and it will be set in the tslint.json file of that library.

[2018-05-29 14:13] #193 closed

[2018-05-29 14:14] vsavkin commented on #204
The issue has been fixed in Nx 6.

[2018-05-29 14:14] #204 closed

[2018-05-29 14:17] vsavkin commented on #219
Angular 6 schematics no longe support passing `--module` when generating a service. You can pass `--project` instead.

Closing this issue.

[2018-05-29 14:17] #219 closed

[2018-05-29 14:19] vsavkin commented on #225
This works in Nx 6.

Just create a library with `--publishable` flag, as follows: `ng g lib mylib --publishable`.

And run then `ng build mylib`

[2018-05-29 14:19] #225 closed

[2018-05-29 14:21] vsavkin commented on #260
Closing this issue. If the issue is still present in Nx 1.0.3 or Nx 6, please reopen it with a repro.

[2018-05-29 14:21] #260 closed

[2018-05-29 14:32] vsavkin commented on #274
It looks like there was an issue with a particular migration (maybe another migration was skipped), which results in an error.

We are trying to write "forgiving" migrations, so they can work on the workspaces that are different from what Nx expects. `20171211-create-tsconfigapp-per-app` expected tsconfig.app.json to be available, but it looks like it is not.

There are two options: You can skip t

[2018-05-29 14:35] #278 closed

[2018-05-29 14:46] jasedwards commented on #537
that got it.  thanks @argygkou

[2018-05-29 14:46] #537 closed

[2018-05-29 14:49] vsavkin commented on #418
You are right. We should have used the merge date instead of the creation date.

I'm not sure if it is worth addressing now because we switched to using the default Angular CLI update mechanism in Nx 6. So we will no longer use the nx-migrate command.

I think the default CLI update mechanism can still have the same issue, so it might make sense to add a check making sure that a PR doesn't add any

[2018-05-29 14:51] vsavkin commented on #416
This functionality has been implemented in Nx 6.

[2018-05-29 14:51] #416 closed

[2018-05-29 14:51] frontr-uk commented on #278
Vsavkin, thank you, but we decided to not use as not enough support.

[2018-05-29 14:59] ankemp commented on #418
I'll see what I can do about creating a PR.

[2018-05-29 14:59] #418 closed

[2018-05-29 15:17] FrozenPandaz commented on #135
This works more now with Nx6.

[code]

This should mostly work after a coming release. Something you might have to tweak yourself for now is the server configuration in architect. The paths aren't updated which I will handle soon.

[2018-05-29 15:20] vsavkin commented on #407
I don't believe the `@angular-devkit/schematics` package comes with a utility to select a substree, so you will have to build your own. The DelegateTree class is probably the closest thing to what you will have to build.

Closing this issue.

[2018-05-29 15:20] #407 closed

[2018-05-29 15:21] #434 closed

[2018-05-29 15:33] vsavkin commented on #448
It's an interesting idea, but it's not easy to implement.

`npm run affected:apps-modules -- --modules=TabsModule` references TabsModule. Class names aren't unique, so TabsModule is not sufficient to identify an entity.

I'd suggest to manually checking what library imports or defines TabsModule, and then use the index file of the library to get the list of affected apps (e.g., `npm run affected:a

[2018-05-29 15:37] vsavkin commented on #449
Both of them will fire because both of the components are still on the screen. We can consider extending `.navigate` to have some "leafOnly" option, but we should collect more use cases to see how common it is.

For now, you can implement this yourself--use the injected ActivatedRouteSnapshot to see if the ShellComponent has MasterComponent as a child.

Closing this issue because works as intended

[2018-05-29 15:43] FrozenPandaz commented on #407
@matt328 There is a `filter` rule which you can use to filter out unwanted parts of the `Tree`.

You can pass in a `FilePredicate` which contains a path of each file. If you check the beginning of the path, it should return a "subtree". I hope that solves your issue :)

[2018-05-29 15:46] sixtoad commented on #479
If you check the command help, --nomodule parameter has been removed, so it is not a bug.....

[2018-05-29 17:05] #408 closed

[2018-05-29 17:07] #490 closed

[2018-05-29 17:26] ln-e opened #539 "Save trailing comma"
`npm run format:write` removes trailing commas in ts files.

Before:
[code]

After:
[code]

I don't want ugly diffs in my git history. It will be much better get opposite behaviour. Or at least it will be nice to just turn off this check.

[2018-05-29 20:26] #539 closed

[2018-05-29 22:00] jared-christensen opened #540 "Set config when using affected:e2e"
I need a way to set a specific protractor environment config or at the very least the base url. I did not see anything in the docs and was not sure how to do this.

Is there a way to do something like this?
`npm run affected:e2e -- --base=master --head=HEAD --config protractor-pilot.conf.js`

[2018-05-29 22:04] dotDeeka commented on #493
yeah, while that isn't ideal to have a team of devs need to remember to do that if they create a lib, it will have the desired effect at the moment

[2018-05-29 22:49] jschwarty commented on #497
Thank you for the answer @sixtoad !

[2018-05-29 22:49] #497 closed