[2020-07-28 22:07] ggere opened #3430 "Pass options through the nrwl/cypress builder to devServerTarget builder"
## Description
The issue I am facing is that I need to find a free port to host the dev application under test with cypress.  I can use `get-port` to find a free port in a script that then calls the `nx e2e` command , but I only know the free port number at the time of running the command.  The dev application builder in my case (angular) supports specifying the port, however I can't pass a parame

[2020-07-29 00:14] yharaskrik commented on #3427
Hey @john0tough I recently made this simple schematic for doing it internally that i published to npm

https://www.npmjs.com/package/@trellisorg/make-buildable

I haven't written tests or used it extensively but feel free to give it a go. Right now it supports node and angular libs but no others.

[2020-07-29 00:15] yharaskrik commented on #3271
@vsavkin wondering if there is a timeline on 9.6 release?

[2020-07-29 00:49] ivawzh commented on #1777
@RogierdeRuijter very cool approach, thanks for sharing. And I have a few questions -

Comparing your remove-unused approach to @joshmeads 's pick-used approach. I am assuming the remove-unused approach can support lock file properly, am I right?

What is the reason of that ☝️ ?

[2020-07-29 02:10] fbaba-nibtravel commented on #3423
@nhaancs have you checked if your tsconfig > path contains the name you're expecting?
Also, I have been experiencing a lot of inconsistencies due to TSLint extension for VSCode. Sometimes I need to restart VSCode to get the correct intellisense

[2020-07-29 02:34] nhaancs commented on #3423
Yes, the paths is correct

[2020-07-29 08:54] drakenfly commented on #3409
I'm having the same issue too. Compilation works like a charm, but VSCode is not able to obtain correct typescript information.

![image](https://user-images.githubusercontent.com/8741982/88779101-a3612980-d189-11ea-8a69-f261b31974d2.png)

Errors are:
* Cannot find module '@cwa/api' or its corresponding type declarations. ts(2307)
* Experimental support for decorators is a feature that is subject

[2020-07-29 09:14] drakenfly commented on #3423
This may be related to #3409

[2020-07-29 10:30] daiscog commented on #3374
I see the issue type has been changed from bug to enhancement.  I would argue that this is a bug because the nx 10 schematic currently installs codelyzer 5.x which has a peerDependency that conflicts with the Angular version the schematic uses.

codelyzer 6.0.0 is available which has updated peerDependencies to include angular 10, so the fix for this is for the nx schematic to update to codelyzer

[2020-07-29 10:49] adamm-monek commented on #805
Agree this is no longer working for me, it seems to be (for me) because `nx test` translates to `nx run my-app:test`, and therefore the `testNamePattern` may not be found if the current file is not part of the main app project.

If I add the project name into `args` in  `launch.json` each time then I can get it to debug. There is probably a better way of fixing this but I haven't had time to inves

[2020-07-29 11:02] Hotell commented on #3414
I'd disagree
- having `/lib` and `index.ts` as 2 separate entities, explicitly reflects public API, also make easier automation tasks like generation etc

[2020-07-29 11:09] Hotell commented on #2910
Ha, I didn't thought about that one (.storybook/tsconfig.json) great idea!

**Question:** will lint builder properly resolve provided relative path? `"include": ["../src/**/*"]`

I'll try to send PR till end of this week 🤞

thanks folks!

[2020-07-29 11:33] smasala opened #3432 "nx run-many ignoring skip-nx-cache option"
Nx version @ 8.12.11

## Current Behavior
[code]

`Unknown option: '--skip-nx-cache'
Unknown option: '--skipNxCache`

## Expected Behavior

## Steps to Reproduce
`nx run-many --target=test --all --skip-nx-cache`

### Failure Logs

### Environment

[2020-07-29 11:48] brandonroberts commented on #3427
@john0tough we have it on our list to work on official schematics to support this also.

[2020-07-29 11:56] brandonroberts commented on #3408
There is a workaround in https://github.com/nrwl/nx/issues/1699. Closing as a duplicate

[2020-07-29 11:56] #3408 closed

[2020-07-29 13:17] bcabanes commented on #3194
The font has been changed and bumped a little bit!
Thank you for the feedback!

[2020-07-29 13:17] #3194 closed

[2020-07-29 13:49] juristr commented on #2910
🤔 good question. I did a quick try by referencing the `.storybook/tsconfig` and it seemed to work. But guess you'll have to give it a try and test some edge-cases to be 100% sure :)

cool 🎉. Just let me or @mandarini know if you have any doubts or questions.

[2020-07-29 14:52] nhaancs commented on #3423
I think the situation is quite different. The errors only happen in the file that not a component.

[2020-07-29 15:16] drakenfly commented on #3409
I'm also quite confused about the solution style `tsconfig.json` inside the libs folders:

`libs/<some lib folder>/tsconfig.json`:
[code]

`libs/<some lib folder>/tsconfig.lib.json`:
[code]

Is the `tsconfig.lib|spec.json` really meant to extend a solution style tsconfig? I guess it would be more correct to directly extend `../../tsconfig.base.json` inside `tsconfig.lib|spec.json`, but I'm not sur

[2020-07-29 15:24] masonembry commented on #2438
Does anyone have any insight into how to setup coverage in an `nx` React app? I'd very much appreciate any guidance someone may have.

[2020-07-29 15:55] mandarini commented on #3311
Hi there @mchl18 ! Thanks for filing an issue!

Can you please check [this video](https://youtu.be/c323HOuFKkA) and see it it helps with what you are trying to do?

You can also take a look at [this pull request](https://github.com/nrwl/nx/pull/3264). The new feature that will be introduced will enable users to add Storybook to applications as well as libriaries. I know that what you are requestin

[2020-07-29 15:59] mandarini commented on #2859
Hi there @trumbitta ! Thanks for filing an issue!

Please take a look at [issue #3255 ](https://github.com/nrwl/nx/issues/3255). I think that your issue might be related to that, and it will possibly be fixed after the Nx upgrade to Storybook 6, which is still in the works.

[2020-07-29 16:04] mandarini commented on #2485
Hi there! I am closing this issue since it seems to be solved with the solution provided by @jerryorta-dev !

[2020-07-29 16:04] #2485 closed

[2020-07-29 17:20] RogierdeRuijter commented on #1777
Yes, this does support the lock file. You will run a normal `npm install` (or `npm ci`) command to install your node_modules. It is only after the installation of your node modules, that you will start to mess with them.

I am not 100% sure why this is the case, but my best guess is that some peerDependencies are not uninstalled.

Well, the removal of the node modules is not done by depcheck itsel

[2020-07-29 19:33] kimon89 commented on #1779
I am facing the same issue with @jhlabs. Storybook breaks with `Missing class properties transform.`. Kind of blocked with this one as we can't refactor all our components to functional components.

[2020-07-29 19:40] s4m0r4m4 opened #3433 "Return code if running nx not in an Nx directory"
## Current Behavior
If I run `nx build any-string-here` in a directory that is not an nx repo, it prints out the nice message below but returns an exit code of **0**.
[code]

## Expected Behavior
I would expect it to return an error exit code of some sort (-1 or whatever). An exit code of **0** indicates successful execution, and I think its not fair to say that the execution was successful if you

[2020-07-29 20:11] john0tough commented on #3427
Thanks, I'll take a look

[2020-07-29 21:10] #3364 closed

[2020-07-30 00:22] Cammisuli commented on #3429
I'm investigating a fix for this. And I think the best way atm is to change `tsconfig.base.json` to `tsconfig.*.json` in the root eslintrc file.

If that works out for you, let me know. Thank you!

[2020-07-30 00:24] Cammisuli commented on #3424
Hmm, that's interesting! I never even thought about running cypress through WebStorm before!

I'll take a look and see what's up.

[2020-07-30 06:46] Carniatto commented on #3231
This is not really the ideal solution, cuz if anyone in the team wants to use it they'd need to build it every time. Or persist the dist folder

[2020-07-30 13:02] s4m0r4m4 commented on #1975
I've been using nx-electron and contributing to it a bit, I'd say this issue can be closed.

[2020-07-30 14:18] Cammisuli commented on #1091
It looks like this is more of a configuration issue with the jest config file. Since we haven't had any updates on this since the bot marked this as stale, I'll close the issue.

If this is still the case with the latest version of Nx (where we do not do anything special with the jest config file anymore), a new issue can be opened with repro steps/a repo.

Thanks everyone!

[2020-07-30 14:18] #1091 closed

[2020-07-30 14:20] mandarini commented on #3003
Hi @Hotell ! We are working on the Storybook 6 upgrade at the moment! I think this will solve this issue! :) [This](https://github.com/nrwl/nx/pull/3434) is still a draft pull request!

[2020-07-30 14:22] Cammisuli commented on #2306
@rhyek we have a Jest resolver that should know how to find your lib projects. This does not work properly if you use the `moduleNameMapper`. Can you try to remove that property and see if it works?

[2020-07-30 14:26] Cammisuli commented on #2764
Hey folks, we have a special resolver that we use for Jest to find apps and libs in your workspace. Can you please make sure that the root jest.config.js has something like the following?
[code]

The most important piece being the `resolver` property.

[2020-07-30 15:00] rarmatei commented on #3233
reopening this as the issue is still there - can replicate when invoking a workspace schematic on windows

[2020-07-30 16:06] rhyek commented on #2306
@Cammisuli by default that property isn't present in the configuration file. I only added it to see if it helped with the error. Again, the import that's failing is in my global setup file. I have not tested in an actual test file.

[2020-07-30 17:20] mchl18 commented on #3311
@mandarini The video does not help as our setup is much more complex (7 apps and 17 libs) with lots of configurable css.

However you are correct, if the issue you named is resolved and my issue at storybook has been adressed, then this would be a change request for nx to support the new storybook version.

[2020-07-30 17:34] benmonro opened #3437 "aggregate coverage information"
## Description

When using nx with many libs, we often a scenario where we have lib A with component A and lib B with component B.  component A uses component B and there's a test of A, but B shows zero coverage, even though i know it's covered in A.  this is because lib A and lib B each have their own jest runs and each collect covg from their own respective libs.  wondering if there's some way t

[2020-07-30 17:49] aciccarello commented on #3423
I was seeing this because the version of VS Code on my work machine was using an outdated version of TypeScript by default. Telling VS Code to use the workspace version of TS (3.9) fixed the issue for me. I found this solution from the Angular CLI issues.

[2020-07-30 21:19] KeKs0r opened #3438 "Running test on grouping folder runs, all children, which leads to multiple runs of them"
### Prequestion
Is it an anti pattern to have "grouping folders" in libs as libraries themselves?
(if so this might mage the rest obsolete)

# Actual Report
Example Scenario (from the docs)
[code]

## Current Behavior
When running `nx test shared` it also runs all tests for its children. Ending up in running all of these:
-  shared
- shared-data-access
- shared-seatmap
- shared-seatmap-data-access

[2020-07-30 22:35] jacobworrel opened #3439 "[Feature Request] Option --ignoreTestFiles cli argument not exposed by the cypress builder"
## Description
I would like to be able to ignore test files via the cypress ignoreTestFiles cli argument. Currently, when trying to run `nx e2e my-app-e2e --ignoreTestFiles=path/to/file`, I get the following error:
[code]

## Motivation
I want to ignore tests that run visual regression tests on applitools while running e2e tests in watch mode. My current workaround is to duplicate the `cypress.jso

[2020-07-31 01:05] msreekm opened #3440 "Proxy between different micro apps in same browser window"
## Proxy between different micro apps in same browser window
Let us say we have 3 micro apps (react) and 1st app has a link to the 2nd app and 2nd app is running in differnt port during developmet ,is it possible to test the flow end-to-end app1->app2->app3->app1 seamlessly without switching browsers? This is in a way similar to proxying for api calls running on a. different port

[2020-07-31 04:28] #3296 closed

[2020-07-31 08:15] adams-family commented on #3212
@jaysoo Thanks. Is there any kind of compilation of Express apps in nrwl? As I am using `.ts` files in my project, but the build bundle is called `main.js`.

[2020-07-31 12:48] zaunermax commented on #3429
As far as i could test, changing the setting to `tsconfig.*.json` seems to work :raised_hands:
CLI commands work fine and IDE features seem to work as well. I will post here, should I find something!

[2020-07-31 12:50] #2021 closed

[2020-07-31 13:06] Cammisuli commented on #3429
@zaunermax are you using any rules that require type information from typescript?

[2020-07-31 14:41] #3316 closed

[2020-07-31 14:44] LMFinney commented on #3191
Since the semantics of `nx` have changed, [this line](https://nx.dev/angular/cli/overview#nx-cli-and-angular-cli:~:text=In%20other%20words%2C%20use%20nx%20instead%20of%20ng%3A%20everything%20will%20work%20just%20the%20same%20but%20often%20much%20faster) in the documentation probably needs a rewrite:

![image](https://user-images.githubusercontent.com/6683747/89046262-52c90800-d312-11ea-986e-a05ba4

[2020-07-31 14:44] #2924 closed

[2020-07-31 14:45] georgewilde commented on #3429
Hey guys, I was experiencing the same issue and can confirm that changing `tsconfig.base.json` to `tsconfig.*.json` in the root eslintrc file does fix that issue.

I do however then see `Parsing error: "parserOptions.project" has been set for @typescript-eslint/parser.`. I assume this is unrelated to the first error so I'll look at that separately but thought I'd mention it.

[2020-07-31 14:53] the-ult commented on #2861
@brandonroberts is there a way to let the NX cli check/override/mock the behavior, so you can still use `ng add @angular/material` etc? Or in this case: `nx add @angular/material`, `nx add @datorama/akita`, etc

Currently working on a new projects which uses both Angular and React.
Started with an Empty workspace (with the default Nx cli) and added `@nrwl/angular` and `nrwl/react`

It's a shame we

[2020-07-31 17:34] markgoho commented on #3416
It looks like this is because there is an additional `node_modules` folder in these extra root folders and they're not being ignored.

[2020-07-31 18:27] myin142 opened #3445 "Generate Apps/Libs in nx plugins"
## Current Behavior

When trying to generate apps in a workspace generated with `create-nx-plugin`, it will be put in the e2e folder. And when trying to move it to the package folder with `nx g mv --project-name <project> packages`, it will be moved to the apps folder and will be renamed to `packages`.

Generating libs is not even possible. Fails with `Cannot read property 'paths' of undefined`.

[2020-07-31 19:18] Cammisuli commented on #3429
@georgewilde I've seen that error before (especially within this repo) that was actually fixed with `tsconfig.*.json`. What kind of rules or set up do you have?

Does each of your projects have different rules defined than the root eslintrc? Do they have their own `parserOptions`?

[2020-07-31 19:25] FrozenPandaz commented on #3439
That sounds like an important flag for the builder to accept.

As mentioned, this is a relatively simple feature and someone from the community can send a PR! :pray:

[2020-07-31 19:30] LanderBeeuwsaert commented on #3407
Hello,

so I reinstalled @nrwl/cli to be sure, globally.
I ran again (2 times :)), same error

The report when I go into the folder:

C:\Lander\WS\gymcomp>nx report

  @nrwl/angular : 10.0.6
  @nrwl/cli : 10.0.6
  @nrwl/cypress : 10.0.6
  @nrwl/eslint-plugin-nx : Not Found
  @nrwl/express : Not Found
  @nrwl/jest : 10.0.6
  @nrwl/linter : Not Found
  @nrwl/nest : Not Found
  @nrwl/next : Not Found

[2020-07-31 19:40] FrozenPandaz commented on #3438
Nesting libs within one another is not recommended as configuration files usually define globs for files within them which would not know when to stop traversing downwards. I would recommend moving the `src` under `shared` to a new library and then make `shared` a grouping folder. An alternative solution would be to change the `testRegex` for that library but there are other issues with libs withi

[2020-07-31 19:57] FrozenPandaz commented on #3426
That's a good question that could use more documentation.

Barrel files in libraries define their public API. We want to hide certain implementation details of our lib and only expose the surface area that other consumer libs should be using. They are definitely recommended.

I think what causes issues with barrel files described in the Angular issue is when too many things that are actually unrel

[2020-07-31 20:00] FrozenPandaz commented on #3424
Going to label this as a feature as it wasn't intended to work and we are looking to add this behavior.

[2020-07-31 20:20] FrozenPandaz commented on #3423
Ah, let me explain what is happening here.

The editor will traverse upwards from the file that you have open to find a file named `tsconfig.json` (it must be exactly this). In Nx 10 (and Angular CLI 10), that file is a solution tsconfig.json which means it references other tsconfig files such as the `tsconfig.app.json`. The `tsconfig.app.json` only includes the `main.ts` and the `polyfills.ts` to

[2020-07-31 20:24] FrozenPandaz commented on #3416
Would temporarily adding it to `.gitignore` during migrations be a good workaround? I can change the code to `WARN` instead of `ERROR`.

[2020-07-31 20:41] FrozenPandaz commented on #3419
I think what you are trying to avoid is re-running passed projects during your pipeline?

If so, you'll see pretty much the same results if you use Nx Cloud (or save the cache) to cache the results. The changes in `A => C` will include the full set of projects but projects that already passed during the `A => B` run and were not touched in `B => C` will be cached and not rerun.

Does this help you

[2020-07-31 20:51] FrozenPandaz commented on #3413
Those are interesting reasons to have a `tsconfig.json` at the root.

I didn't want to add a solution style config that lists out all of the different projects because it becomes another file that needs to analyzed carefully to see what projects are being affected when the file is touched. I also think running global operations on the workspace like that becomes expensive and unmanageable at a cer

[2020-07-31 21:15] aramperes opened #3450 "Using affected:test with multiple Jest reporters fails because of flags merging"
## Current Behavior
Running the command:

[code]

Nx merges the `--reporters` flags into one:

[code]

Which causes the following error:

[code]

In fact, Jest doesn't know to split the reporters by commas. It expects two flags.

## Expected Behavior

Multiple flags being passed should be preserved that way, instead of merging with `,` when passing down to the actual script.

## Steps to Reproduce

[2020-07-31 21:21] FrozenPandaz commented on #3380
Unfortunately, I think the only workaround here is to skip the migration and apply it manually. You can do so by removing it from the list in `migrations.json` if you are using `nx migrate`.

If you are having issues with the `@angular/core` migration, please open an issue on https://github.com/angular/angular. If there are other issues please report them separately.

[2020-07-31 21:31] FrozenPandaz commented on #3409
@vmcbaptista Please make sure your VS Code is using Typescript 3.9. That should fix the error and become the default eventually.

@drakenfly

Yes, it is intentional that the `lib/lib-a/tsconfig.lib.json => lib/lib-a/tsconfig.json => tsconfig.base.json`.

Is the 1st error perhaps related to this? https://github.com/nrwl/nx/issues/3423#issuecomment-667340061. e.g. Is that component a part of an Angu

[2020-07-31 21:52] FrozenPandaz commented on #3412
Hm, I think writing a workspace-schematic that generates the command with the project name will serve you better than "copy and pasting" between different projects in `workspace.json`.

I think with the ability to interpolate arguments in `nx affected` and `nx run-many` via `nx affected --target echo --command "echo {project.name}"` which needs to be done because those are overrides for multiple p

[2020-07-31 21:52] #3412 closed

[2020-07-31 22:03] FrozenPandaz commented on #3317
It is by design.

However, there's a separate property in `print-affected` output for `tasks` which I recommend that you use instead. This is a list of `tasks` that can be run. This will also automatically filter the projects for ones that support the `target` that you supply.

[2020-07-31 22:03] #3317 closed

[2020-07-31 22:08] FrozenPandaz commented on #3257
This is now documented with #3399! :tada:

[2020-07-31 22:08] #3257 closed

[2020-07-31 22:14] FrozenPandaz commented on #3404
Cool script! We do not consider `nxdeps.json` as a public API. I think what you want to achieve can be done more idiomatically with `nx dep-graph --file graph.json`. How does that sound in terms of the command?

I believe it is currently missing `npm` projects though which can be a separate issue.

[2020-07-31 23:08] sgametrio commented on #3419
Yes, I would like to avoid to run them twice, but also let the pipeline fail if a test hasn't been fixed/touched during a push.

Let me be more clear: to achieve that in my GitLab CI/CD I'm using, each time I push:
[code]
where `$CI_COMMIT_BEFORE_SHA` is the latest commit prior to the commits introduced with the push.

Now, Pushing the commit B, let the project P **fail** because of a test T1. In

[2020-07-31 23:12] aramperes commented on #3450
As a workaround, we can specify `reporters` in `jest.config.js`. Since we wanted to have different reporters for different commands, we can use environment variables in there:

[code]

[2020-07-31 23:22] benmonro opened #3452 "feature request: implicitDependencies only apply certain commands."
## Description
Currently, we have `.eslintrc` and `jest.config.js` in our implicitDependencies in the nx.json file.

if i change `jest.config.js` and run `yarn affected:lint` it will lint everything, even though I don't need to.

similarly, if i change `.eslintrc` and run `yarn affected:test` it will test everything, even though i don't need to.

would be nice if there was a way to map these impli

[2020-08-01 02:51] METACEO commented on #2147
I don't like being the guy to "bump" issues but I got a taste of the Swagger plugin w/Nest and am now itching to get something working properly. While I may not fully understand, would what's required be similar to Angular's custom builder `@angular-builders/custom-webpack:browser`? And I suppose by "properly" I mean in a way that scales or would be considered best practice (per @shlomiassaf comme

[2020-08-01 03:39] METACEO commented on #3322
So, I don't know how I feel about this, but it is all using mechanisms provided to us. I'll try my best to break it down.

With the below setup, I can import `my-object.ts` from a library in both my Nest project and my Angular project. Nest compiles with the Swagger decorator, and my Angular app compiles after having the Swagger decorator replaced with an empty one. Unfortunately you'd have to do

[2020-08-01 09:13] tmtron opened #3453 "nx 10.0.7: workspace-lint should respect .nxignore"
## Current Behavior
`.nxignore` has no effect

## Expected Behavior
files listed in `.nxignore` should not cause errors when we run `nx workpace-lint`

## Steps to Reproduce
GitHub repository - branch `nxignore`: https://github.com/tmtron/nx-10-lint-issue/tree/nxignore
- clone the branch `nxignore`
- `npm install`
- `nx workpace-lint`

we get this error:
[code]

### Info
- the file [libs/README.md

[2020-08-01 09:41] #2320 closed

[2020-08-01 09:41] #3287 closed

[2020-08-01 10:15] KeKs0r commented on #3438
Yes I think there are good ways around it. It just wasn't super clear to me that the "grouping" are not libs themselves... Refactored most of my codebase to this and it works fine now.

[2020-08-01 10:15] #3438 closed

[2020-08-01 12:08] Hotell commented on #2910
all right folks, here it is https://github.com/nrwl/nx/pull/3455 🤞

[2020-08-01 17:57] kylecannon commented on #3380
@FrozenPandaz skipping the following:

[code]

does help. however, it errors out at the update angular to 10

[code]

So there is definitely an issue when you first initialize an nx workspace in this order:

[code]

reason: when an nx workspace is initialized for a react application initially, `@angular/cli` is never installed so therefor the migration fails.

I hope this helps.

[2020-08-01 21:10] georgewilde commented on #3429
@Cammisuli I've just seen the fix that @kylecannon has referenced and changing `tsconfig.base.json` to `tsconfig.(base|lib).json` in the root eslintrc file does fix both of the issues I've mentioned.

Great work guys 👍

[2020-08-01 22:25] joshribakoff opened #3456 "Generating react app w/ react router produces invalid code"
<img width="706" alt="Screen Shot 2020-08-01 at 3 25 34 PM" src="https://user-images.githubusercontent.com/4021306/89111494-42488880-d40b-11ea-93f8-ab7e83a0041e.png">

Nx 9.5.1

I just checked out https://github.com/rx-store/rx-store and ran the pictured command.

[2020-08-02 11:07] vmcbaptista commented on #3409
@FrozenPandaz After forcing VS Code to use Typescript 3.9.7 (from node_modules).
The errors are gone in the apps, but not in the libs.

It seesm like that for some reason, VSCode cannot find tsconfig.json when opening a module of a lib:
![image](https://user-images.githubusercontent.com/10631140/89121676-b8ef8f80-d4b8-11ea-9c31-94d0b82d7017.png)

And in the case of components and directives, it se

[2020-08-02 12:03] aronrodrigues commented on #2633
+1

[2020-08-02 12:12] JohnnyDevNull commented on #2735
push...

[2020-08-02 15:07] shaharkazaz opened #3458 "Is it safe to programmatically remove the base tag?"
## Description

Seems like the `baseHref` is a mandatory property in the build options (no way to remove it).
What's the reason for it? what are the side effects? and is it safe to programmatically remove the base tag?

Thanks!

[2020-08-02 18:23] Hotell commented on #2310
Hi folks, so I wanted to send PR that adds all schemas to public API interface. unfortunately I'm having some weird issues with nx cache.

**What I did (on node  package):**

- to get those `schema.d.ts` to `build/packages/node`, I renamed `schema.d.ts` to `schema.ts`, which TypeScript properly compiles to ambient file, thus will get to build package by default.
- unfortunately after that change,

[2020-08-02 18:31] METACEO commented on #2147
(not directly related to this Nx/Nest/Swagger issue, but I was able to navigate around another Nest/Swagger issue using a "fileReplacement" approach. Someone may stubble into this issue and be able to benefit with this workaround https://github.com/nrwl/nx/issues/3322#issuecomment-667462473 )

[2020-08-02 18:35] zaunermax commented on #3429
@Cammisuli we only use the suggested eslint options that come out of the box by generating libs and apps

@georgewilde thanks, your solution from the comment also works great!

Thank you all for your great work with this great library :raised_hands:

[2020-08-02 18:39] Hotell commented on #2310
interesting, after I committed those changes, it started work.

I've created [draft PR, to showcase the intent, ](https://github.com/nrwl/nx/pull/3459)if you're ok with that, I'll apply those changes for rest of the plugins. lemme know thx!

[2020-08-03 03:42] tianzhich opened #3460 "Is there an option for @nrwl/web:dev-server that I can use to stop build process when some TS error encountered?"
## Description
When I build my react application using `@nrwl/web:dev-server`, it compiled successfully even if some TS error encountered. But I think the build process should be stopped. Otherwise, the developer may not fix the problem.

![image](https://user-images.githubusercontent.com/33218310/89143732-244f6500-d57e-11ea-9de1-20e400c4b54f.png)

I read the docs but I can't find anything about t

[2020-08-03 07:37] mac2000 commented on #3412
Indeed, did not figured out how it can be used in this case, thank you for a point, if someone will read this in future here is how you can have any kind of scripts without making any additional schematics:

**angular.json**

[code]

**myscript.sh**

[code]

usage:

[code]

[2020-08-03 08:43] zaunermax commented on #3387
jfyi - I think my migration problem might have to do something with the fact, that we manually upgraded nest to version 7. Maybe the migration isn't written defensively enough but after reading the migration code we saw that we already did the steps in the nest migration. Closing this issue now, thanks!

[2020-08-03 08:43] #3387 closed

[2020-08-03 09:54] jonparker commented on #3233
I am getting the same issue on MacOS after running `nx generate @nrwl/angular:application my-app`
and selecting the empty option. Then running `nx generate @nrwl/angular:application my-app` inside the folder.

Node version: v12.18.2
NPM version: 6.14.6
NX version: 10.0.7

[2020-08-03 10:36] zaunermax opened #3462 "Webstorm's Typescript checker errors with 10.0.* nest libs (possibly others as well)"
## Current Behavior
When using Webstorm with nx 10.0.* the typescript service will error out with some imports. The error message is as follows:

here a screenshot of the behaviour:
![webstorm-ts-error](https://user-images.githubusercontent.com/15246773/89173864-2ec12d00-d585-11ea-8487-aec667f6555e.png)

This was only observed with nest libs, as the tsconfig contains the `rootDir` property in the

[2020-08-03 11:15] juuyan opened #3463 "Migrate command failed"
## Current Behavior
Migrate to new versions from 9.3.0 and failed with the following error
I've tried to migrate to 10.0.7, 10.0.6 and.9.5.1, all failed with same error.
Also have tried the suggestion which is adding the workspace package and using the newest version of the migrate functionality to migrate but failed again.
[code]

### Failure Logs
[code]

[2020-08-03 12:58] drakenfly commented on #3409
@FrozenPandaz But this would mean, that VSCode would not open a simple "solution style" tsconfig.json for an app or library, which simply references the libraries `tsconfig.*.json` files. They would inherit all of the other settings? I didn't think that this is intentional, what is the rationale behind this?

[2020-08-03 13:06] adamm-monek commented on #208
I was following this article: https://indepth.dev/tiny-angular-application-projects-in-nx-workspaces/#extract-an-environments-workspace-library, which creates a separate shared environment lib, and then simply exports the environment constant in index.ts, and imports it where used. E.g. a shared NgRx store lib that cuts across all other NgRx feature stores can have dev tools toggled via a single e

[2020-08-03 14:00] tiaguinho opened #3464 "Error to execute: migration-v10-missing-injectable"
## Current Behavior
The command `nx migrate --run-migrations=migrations.json` is giving me the error:

[code]
After I talk with @devversion about this problem, I realize that Angular migration only checks for [`angular.json` and `.angular.json`](https://github.com/angular/angular/blob/ff9f4de4f1147ba9ea6d17c31442a2eedcf4e0d2/packages/core/schematics/utils/project_tsconfig_paths.ts#L14) files to fi

[2020-08-03 14:56] maartentibau commented on #2890
This is already a long lasting bug. The solution to it would be adding this to the default config when creating a new project.
So in the root `schematics` property in `angular.json` adding this.

[code]

Or you can do it manually of course

`npx ng config schematics.@schematics/angular:component.style scss`

[2020-08-03 15:19] falkosch commented on #3370
Seems like the issue is gone for "@nrwl/workspace": "10.0.7"

[2020-08-03 15:26] benmonro commented on #3437
@FrozenPandaz or @vsavkin any thoughts or ideas on this?

[2020-08-03 15:27] wyau7 commented on #1878
Hello, I'm new to Cypress and am not sure how I use the spec option in the Cypress Builder to allow me to execute my script based on settings per environment. Can someone provide assistance here?

[2020-08-03 16:15] llwt commented on #2986
Ran into this as well when trying to write unit tests for our custom move / delete schematics that wrap the default. I wasn't able to find a work around (in our tests) but seems related to angular/angular-cli#16527 as @beeman called out.

For us it's running the `lib` schematic, then attempting to run the `move` schematic right after in a single test.

[2020-08-03 16:37] wyau7 commented on #1878
also, I can't seem to pass in "env" properties via angular.json

[2020-08-03 18:45] curiouscod3 commented on #275
I got this error with Angular 10 and @nrwl 10.
[code]

[2020-08-03 19:22] capJavert commented on #3404
@FrozenPandaz thanks for your response. graph.js file created with command you mentioned produces json file of the sam format as nxdeps.json (except for missing npm dependencies) - so if nxdeps.json is not public API then graph.json produced with graph command also is not part of public API.

Including npm dependencies into graph command would just produce same results.

I am wondering about futur

[2020-08-03 20:40] curiouscod3 commented on #2890
@maartentibau

I am using the latest version.

It was already added like that.

[code]

[code]

It only works with this manual typing.
`npx ng config schematics.@schematics/angular:component.style scss`

[2020-08-03 20:58] maartentibau commented on #2890
@curiouscod3 this is not really doing anything `@nrwl/angular:component` does not seem to control the type of style extension when you run the `ng g c foo-component`

It only works when running the config command which adds the part that I mentioned in my previous comment. That will make it work properly as far as I know.

[2020-08-03 22:15] Brian-McBride commented on #1777
There is another project that aligns with the needs expressed here.
https://github.com/vercel/ncc

Basically, it's using webpack to bundle as much as it can into a single file. Similar to what I see Nx doing. However, packages that it can't bundle, it creates a new node_modules with only those dependences inside. I have a team using it on one project, and so far it has been solid. It's a pretty si

[2020-08-04 00:09] brendanalexdr commented on #3423
I get this error just implementing the Nx example for shared code:  https://nx.dev/angular/tutorial/07-share-code

[2020-08-04 00:26] s4m0r4m4 commented on #3426
Thanks for clarifying, I appreciate it!

[2020-08-04 03:41] route2Dev commented on #3339
Adding the service-worker configuration also causes multiple hashed files of the same chunk (main, polyfills, runtime) to appear in the `dist/apps/react-example` folder when running `nx build react-example --prod`.

I added the relevant service-worker code to a brand new `Nx` workspace and saw the same results. It is disappointing because I was hoping to use a Nx mono-repo for a PWA client project

[2020-08-04 04:02] hankchiutw commented on #3043
Based on @isaacplmann's comment, I managed to use the following package.json scripts:
[code]
and just run `yarn storybook`.

In my case, I have to install `@angular/cli` manually, otherwise, I'll get the error `Cannot find module '...@angular\cli\lib\init.js'`.

[2020-08-04 06:50] shaharkazaz opened #3466 "Dist folder is not deleted between builds"
## Current Behavior
dist folder is not deleted between builds.

## Expected Behavior
Delete the dist folder between builds.

## Steps to Reproduce
- Create a new nx workspace
- Run the build
- Add a custom file "willPersist"
- Re-run the build, the file is still there.

This issue may not be prioritized if details are not provided to help us reproduce the issue.

### Environment
    "@nrwl/cypress

[2020-08-04 08:14] czaplej opened #3467 "[WEBSTORM] wrong import"
After upgrade to nx 10.0.* webstorm start importing modules as below

## Current Behavior

![image](https://user-images.githubusercontent.com/29889157/89269816-b87f0200-d63a-11ea-8d39-6d85418a5147.png)
## Expected Behavior

![image](https://user-images.githubusercontent.com/29889157/89269858-c765b480-d63a-11ea-8b2c-0b1ebe96fcfb.png)

## Steps to Reproduce

Just create new workspace and use with we

[2020-08-04 08:25] zaunermax commented on #3467
That is something you have to configure in your IDE, not something that is actionable by the nx team. Maybe you have turned on the setting to always use relative imports.

[2020-08-04 08:32] czaplej commented on #3467
@zaunermax it works before update nx. Nothing in the webstorm was changed

[2020-08-04 11:37] maxim-kha commented on #1779
@kimon89, @jhlabs Guys try something like this **webpack.config.js**
[code]
adding
[code]
solve problem for me.

[2020-08-04 13:02] jurr90 commented on #208
@adamm-monek thanks for the answer, I almost did the same as described in the article :)

[2020-08-04 13:43] #3149 closed

[2020-08-04 15:50] Akxe commented on #2803
May I ask what is next? I can have this file in root, but I am not sure how to use it

[2020-08-04 17:56] pf1gura commented on #3063
@FrozenPandaz I created a PR for that. Please look when you have a chance.

Also, I watched [your getting started video](https://www.youtube.com/watch?v=o11p0zSm0No&feature=youtu.be) before I started and `yarn e2e create-playground` fails with error that this is invalid project. Is that expected? Video is few months ago so maybe there is another way to test the changes? I used local npm registry a

[2020-08-04 20:47] curiouscod3 commented on #3251
The Solution to fix this issue is here if you still can't fix this even after updated the version.

[code]

I fixed it like this way.. Hope it was helpful for someone like me.

[2020-08-04 21:14] itstheandre commented on #3051
Okay, as a super new user of the monorepos, let alone nx, how would this work?

If I have a lib folder with multiple components and varibales, how would you deploy something to vercel? Be it git initiated or cli based (i like the idea of cli based better, but its okay)
I am completely lost on how to even send the components and variables that needs to get sent to vercel.
Is it a metter of adding s

[2020-08-04 21:20] itstheandre commented on #3051
hey @flybayer , in the post where you show youre setup when you call nx build web, are you making the deploys via github, or are you using the vercel cli?
Thanks 👍

[2020-08-05 03:21] nestorvanz commented on #3467
This is happening in VSCode too. Even after create the `tsconfig.json` in the root project.

[2020-08-05 03:50] thisiskylierose commented on #3422
Can report this issue is occurring for our team as well. Any word on when we can get a fix?

[2020-08-05 03:55] nestorvanz commented on #3423
A solution for this is restore the `tsconfig.json` of the project (angular app) to the latest version before the update. It seems like the "circular" reference is causing the problem here.

The `tsconfig.json` now looks like this.
[code]

[2020-08-05 06:45] georgiee commented on #3464
I have the same issue. Monkey patching the angular/core file to add workspace.json helped me to the next migration.

File : `node_modules/@angular/core/schematics/utils/project_tsconfig_paths.js`
[code]

Next error:
[code]

Of course I have no ng available when I rely on the Nx CLI. I can't believe this slipped through Nx's testing or that this fails for everyone. The renamed workspace is somethin

[2020-08-05 07:22] abdes commented on #3251
Latest version of Nx fully resolves these issues and brings a pretty clean way of making the hierarchical tsconfig work in command line build and inside vscode.

[2020-08-05 08:25] nyds commented on #3233
Confirmed. Calling external schematics from a workspace schematic results in unresolved collection errors.

[2020-08-05 09:05] pradeeprajr93 commented on #3322
@METACEO
Thanks for the workaround. I wish it would work, unfortunately it didn't work for me.
It will be way more helpful if you share a stackblitz project (or similar) with your workaround.

Thanks

[2020-08-05 09:28] curiouscod3 commented on #3251
I am using the latest NX and Angular version. I've faced the issue again..
It was required to restart the the Angular/TS service.

[2020-08-05 09:50] ajkratz opened #3471 "Cypress tests not awaiting page redirects"
Our application uses an oauth authentication workflow. For nearly all tests a login is required. We have implemented this successfully using cy.request. The oauth workflow includes several page redirects, 302, and 303.
In a native cypress project the test waits for the redirects and the login completes successfully.

When we try to execute the same test inside an nx-angular-mono-repo with nrwl/cyp

[2020-08-05 10:33] Lonli-Lokli commented on #1699
Btw with creating workspace + angular app leads to both eslint & tslint listed as dev deps.

[2020-08-05 14:49] EvtK opened #3473 "Warning message for --all in run-many breaks parsing print-affected"
## Current Behavior
Setup of distributed CI with run-many is broken when using --all

## Expected Behavior
Should keep working

## Steps to Reproduce
https://github.com/nrwl/nx/commit/dcd6061604b3b9e7a233f06b6c0234caf0d51b5c#diff-dadaf0351af7f93e8249b5d9579e8068

In this commit, a warning message has been added when using --all. I can understand it, but when following the setup for distributed CI:

[2020-08-05 15:04] masonembry commented on #3445
I'm having the same problem. Cannot generate react libs. `Cannot read property 'paths' of undefined`. Any updates or workarounds on this?

[2020-08-05 17:20] panraj01 commented on #1970
If your env in cypress.json is something like this:

"env": {
        "TAGS": "not @ignore",
        "build": ""
    },
to pass on a custom build (in the case above) from command line using nx try:
nx <target> <projectName> --env.build PR-122 --watch

#target is set in workspace.json
#env is set in cypress.json and is of type object
#watch is to run in watch mode, can be removed if you dont want t

[2020-08-05 19:38] merlosy opened #3474 "schematic @nrwl/workspace:move deleted all sources"
## Current Behavior
I created a lib in the monorepo (in a shared folder), then wanted to move it to another location.
While coping a lib from a folder to another, the command crashed, and the sources from the lib disappeared entirely. (And I feel stupid because i didn't commit my changes first)
See screen capture below:
![image](https://user-images.githubusercontent.com/6629784/89454978-8dc2a580-d

[2020-08-05 19:51] emilio-martinez opened #3475 "Loosen `sass` dependency version in `@nrwl/web`"
## Description

In `@nrwl/web`, the version for `sass` is pinned.

https://github.com/nrwl/nx/blob/83865747e9baa9fdc075396c1dca6c072fcb814b/packages/web/package.json#L94

I'd like to propose loosening the version number here to include versions within the current major. Currently, overriding this would seem to require following the process detailed in #2458, which isn't ideal. Just as a point of r

[2020-08-05 20:40] cwhaught commented on #3370
I can still reproduce this on @nrwl/workspace 10.0.7 when I have committed the changes to my package.json and yarn.lock but have not committed the changes to my deleted (moved) files yet.

[2020-08-05 23:04] METACEO commented on #3322
Hey @pradeeprajr93, sorry to hear, I don't know if I can prove this out via stackblitz but I should be able to throw together a quick repo with Nest+Swagger and Angular and the above configurations.

[2020-08-05 23:15] llwt opened #3476 "@nrwl/workspace:move errors with libs using --importPath"
## Current Behavior

Ref: https://github.com/nrwl/nx/pull/2840#issuecomment-667414353
cc: @juristr

The `--importPath` option works great and we were able to remove our custom impl from our schematics.

`@nrwl/workspace:move` however still errors with `Cannot read property 'map' of undefined` when run on a module that was generated using that flag.

Our custom schematic temporarily updates the tsc

[2020-08-06 00:33] dmolinero commented on #1542
The proposed solution using the "stylePreprocessorOptions" option did not work for me as shown above.

However, if I include .scss in the filename during component imports, `@import "variables.scss"` instead of `@import "variables"`, it does work.

I have not determined why yet. If anyone can enlighten me, please do.

[2020-08-06 01:02] dalepo commented on #836
I created an angular workspace and then I wrapped my functions under a node app but I'm struggling to use imported libraries since I'm getting this error when trying to deploy:

Error: Cannot find module '@nrwl/workspace'
    at Function.Module._resolveFilename (internal/modules/cjs/loader.js:636:15)
    at Function.Module._load (internal/modules/cjs/loader.js:562:25)
    at Module.require (intern

[2020-08-06 02:51] #3233 closed

[2020-08-06 02:52] #3433 closed

[2020-08-06 02:57] #3416 closed

[2020-08-06 03:09] #3063 closed

[2020-08-06 06:22] FERNman commented on #2803
Compile the script and set the `Path to Jest` for vscode-jest to `node dist/scripts/run-all-tests.js` (or whatever the path of the compiled script is).

[2020-08-06 07:40] luchsamapparat commented on #3383
It would be great if it were also possible to execute `create-nx-workspace` with a `strict` flag

[2020-08-06 08:54] zpydee commented on #2536
I',m also experiencing this behavoir importing `@nwrl/workspace:library` module files into `@nrwl/nestj:library` modules

[2020-08-06 08:54] zaunermax commented on #3467
I think it depends on how you have your IDEs configured. If it is configured to search for a root tsconfig file, then this will break. Though most of the time (and also webstorm by default, I use 2020.2) IDEs will search for the most relevant and nearest tsconfig file. Due to the fact that every app and lib has a standard tsconfig in it's root, IDEs should handle that just fine. The tsconfig in th

[2020-08-06 11:34] realityfilter commented on #3377
For us it would be definitely vue and nuxt support.

[2020-08-06 13:53] beeman commented on #3377
Hey @danielquintero , a few days back @superdiana releases nx-python:

https://github.com/codeonrocks/nx-python

[2020-08-06 13:56] markgoho commented on #3416
For anyone coming to this issue, please consider submitting PRs to the repos with invalid `.eslintrc` files that fix these files. Typically, there are trailing commas where there shouldn't be.

[2020-08-06 14:01] danielquintero commented on #3377
This is sweet! thanks a lot @beeman

[2020-08-06 21:24] nahue opened #3480 "Question: how to integrate Tailwind in a React App?"
## Description
I created a postcss.config.js with the following contents:
[code]

and in styles.scss :
[code]

But the output is
[code]

and I tried some @apply statements but they don't work... any ideas?

[2020-08-06 23:55] ZackDeRose opened #3481 "Dep Graph seems to pivot significantly with each change"
## Description
I had the use case recently of wanting to move around some libs in my nx workspace to make things more modular.

I inspected the dep-graph, formed a mental model in my head of how the libs were connected, then made my change, expecting things to [spatially] be in roughly the same place, but after re-running the command, the majority of the graph had 'rotated', which dashed the menta

[2020-08-07 02:33] brandonroberts commented on #1699
eslint has been added to Angular projects as an option via https://github.com/nrwl/nx/pull/3479

[2020-08-07 02:33] #1699 closed

[2020-08-07 09:47] thyb commented on #2827
@rarmatei Is it still working ?

Environment variables are not passed to the React App using `nx serve my-app`.

I have tried with only the .env in both workspace and app directory - nothing get loaded.

I have tried using `env-cmd`
[code]

I have tried to send directly the environment variables to `nx serve`:
[code]
process.env never returns my variables.

I have another NX apps in my workspace w

[2020-08-07 10:03] rarmatei commented on #2827
@thyb it should be working 🤔 can you run `nx report` and post the output here?

If you can also share an example repo where it doesn't load your `.env` that would be immensely helpful.

[2020-08-07 10:13] Disane87 commented on #3121
Really? Two months and no reply? This is not good.

[2020-08-07 10:13] thyb commented on #2827
[code]

[2020-08-07 11:49] thyb commented on #2827
@rarmatei This is the repo to reproduce my issue: https://github.com/thyb/nx-env-bug-repro

I've made 3 commands to start `nx serve` to illustrate the scenario I've tried:
[code]

with .env file containing:

[code]

I've tried with the .env in the workspace root directory and in the app root directory

These 3 commands only return: {"NODE_ENV":"development","NX_CLI_SET":"true"}

I've tried using N

[2020-08-07 13:27] wrslatz commented on #1699
Should a separate issue be made to align with whatever path is chosen for Angular as part of https://github.com/angular/angular-cli/issues/13732?

Or would an Nx update likely include that work and be the appropriate place to track?

[2020-08-07 13:33] Cammisuli commented on #3467
If you're not on the latest version of Webstorm (as of this comment 2020.2) you might have to add `tsconfig.base.json` into your file types (`Settings > Editor > File Types`), like so:
<img width="1109" alt="image" src="https://user-images.githubusercontent.com/4332460/89650809-f70dfa00-d890-11ea-855a-01c6e79c87c2.png">

Again, this should already be the default with the latest version of Webstorm

[2020-08-07 13:46] Cammisuli commented on #3462
This happens because of the tsconfig solution that was introduced with Nx 10. As soon as there's a `reference` in the project's tsconfig.json,  rootDir acts a little bit different. I'm thinking of a way to fix this, but there's a couple workarounds you can do.

If your node project is not publishable/buildable (ie. no build architect), you can just remove the `rootDir: "./src"` from the `tsconfig.

[2020-08-07 16:44] zaunermax commented on #3462
So if I understand correctly, if we remove the `rootDir` property from all nest libs we're fine? The nest libs are just shared code for nest apps anyways and not buildable on their own anyways :thinking:

We already figured out that removing `rootDir` seems to be a workaround but were not sure if this breaks something in the background, so I thought I'd create an issue. Thanks for your reply, you

[2020-08-07 16:53] s4m0r4m4 commented on #3433
Thanks!

[2020-08-07 17:33] wrslatz commented on #2680
#2921 has been merged. Should this be closed?

[2020-08-07 17:41] #2680 closed

[2020-08-07 17:41] johannesschobel commented on #2680
Thanks a lot.. closed :)

[2020-08-07 18:16] Cammisuli commented on #3462
Yup, `rootDir` affects the output of buildable node libs. And only so because we use the TypeScript compiler directly. So if you're not building those apps separately, then you're good to go.

[2020-08-07 18:39] #3473 closed

[2020-08-07 18:55] #3059 closed

[2020-08-07 19:06] vsavkin opened #3484 "Support symlinked node_modules when locating workspace root"
See here for reference: https://github.com/nrwl/nx/pull/3096

[2020-08-07 19:33] vsavkin commented on #3467
Folks. I'm going to close this as the issue is the latest version of Webstorm and isn't actionable on the Nx side.

[2020-08-07 19:33] #3467 closed

[2020-08-07 19:47] vsavkin commented on #3458
I don't believe it's not a mandatory property. If you remove it, it will be defaulted to "/". And you can programmatically remove it as well. Some libraries may depend on it (e.g., the router), but generally you don't have to have it.

[2020-08-07 19:47] #3458 closed

[2020-08-07 19:50] vsavkin commented on #3437
We implemented this for a few clients. Basically, you often cannot collect coverage for the whole repo. You might have different applications in the same, hence different coverages. You can also have different modules built by different teams, so they should not affect each other's coverage.  At the same time, as you pointed out, the coverage reports can be too granular. So what we did for some of

[2020-08-07 19:53] #3347 closed

[2020-08-07 19:56] benmonro commented on #3437
@vsavkin thank you.  any way you could elaborate on that or provide an example of how one might create a group of libs as a system? like does it use scope to accomplish this?  I'm concerned the aggregating of coverage reports will not be enough.  In order to capture that a component is covered, it has to be part of the 'collectCoverageFrom' in jest.  so to expand my example, when I run the tests i

[2020-08-07 19:56] vsavkin commented on #3432
The option is not available in 8.12. We only support two major releases: so it's 9x and 10x now.

You can update @nrwl/workspace package to 9.5.1 without updating any other packages. This should not affect any plugins and you should be able to use the option.

[2020-08-07 19:56] #3432 closed

[2020-08-07 20:02] vsavkin commented on #3414
I don't feel very strongly about the layout, but I'd prefer not to have an extra option for all the schematics generating libs. It's more code to maintain, more opportunities for bugs. You could, of course, create a workspace schematic that wraps the library schematics and removes the lib folder, or create a separate plugin altogether.

I'm going to close this one. Thank you!

[2020-08-07 20:02] #3414 closed

[2020-08-07 20:32] vsavkin commented on #3029
Thanks for submitting the issue!

Because we heavily depend on @angular-devkit/core", we have been broken by patch updates. That's the reason why we pin these. We are planning to have a simpler way to run tasks which will remove the dependency on angular-devkit/core altogether. This should happen in the next 5 months. So I'd keep it as is until we do the refactor.

I'm going to close this.

[2020-08-07 20:32] #3029 closed

[2020-08-08 02:24] getanza opened #3486 "build configuration fileReplacements not working"
Hi,

The latest NX workspace seems to have an issue file replacements. Here is a github project (https://github.com/getanza/nx-file-replacements) to reproduce the problem.

`
$ nx report

  nx : Not Found
  @nrwl/angular : 10.0.9
  @nrwl/cli : 10.0.9
  @nrwl/cypress : 10.0.9
  @nrwl/eslint-plugin-nx : Not Found
  @nrwl/express : Not Found
  @nrwl/jest : 10.0.9
  @nrwl/linter : Not Found
  @nrwl/ne

[2020-08-08 14:17] adams-family opened #3488 "Cannot find name 'describe'” when running “ng serve express”"
## Current Behavior
I get the following error when running `ng serve express`  (here express is a @nrwl/express project)

[code]

## Expected Behavior
`ng serve express` should work.

## Steps to Reproduce
1. Create a new workspace: `npx create-nx-workspace`
2. Install @nrwl/express: `npm install --save @nrwl/express`
3. Create an express project: `npm run nx generate @nrwl/express:app express`
4.

[2020-08-08 17:01] Cammisuli commented on #3129
Hi @KarmaCop213, can you try this with Nx 10+? We changed the way we execute jest, where we do not touch any config files, and jest handles everything. So hopefully it should fix this issue.

[2020-08-08 19:37] xmlking commented on #3377
experimenting with __nx__ style workspace for __Java/Kotlin__ via __Gradle__
https://github.com/xmlking/micro-apps

[2020-08-08 21:40] ildemartinez commented on #836
Hello

I have the same issue.... any news about that?

![imagen](https://user-images.githubusercontent.com/1641352/89720285-8f5ec880-d9d0-11ea-9b23-4f82678240e1.png)

[2020-08-08 22:52] emjimadhu commented on #3251
I am facing the same issue when i try `@nrwl/nest:lib` schematic. It was working before but after updating "@nrwl/nest": "10.0.10",

[2020-08-09 04:49] METACEO commented on #3322
@pradeeprajr93 @ericgoe I've used the strategy I mentioned above (with more validation examples, too) within this example repo: https://github.com/METACEO/nx-demo-swagger-decorators
- It's (cold start) deployed here: https://nx-demo-swagger-decorators.herokuapp.com/
- The commit with the above mentioned strategy is here: https://github.com/METACEO/nx-demo-swagger-decorators/commit/e6ee152272037151

[2020-08-09 07:30] shaharkazaz commented on #3458
@vsavkin thanks for the answer.
By mandatory I mean that I can't pass a value that prevents this tag from being added (the default is `/`), is there any value I can pass to prevent this tag from being added?

[2020-08-09 08:22] zernolo commented on #3288
I get the same problem on Angular 10, I'm using a workspace with 4 projects, I'm trying to add a new project

ng generate application xxxx
? Would you like to add Angular routing? Yes
? Which stylesheet format would you like to use? CSS
Cannot find base TypeScript configuration file 'tsconfig.base.json'.

Dependencies I use:
    "@angular/animations": "~10.0.8",
    "@angular/cdk": "^10.1.2",

[2020-08-09 15:50] JakubKoralewski opened #3489 "[Noob question] How to manually create (a pure webpack) app (w/ Cloudflare Workers)"
## Description

I've been in the middle of migrating my submodule setup to a Lerna monorepo when I found out about Nx, and decided that Nx is the way to go. I have a next application which easily following [the docs](https://nx.dev/angular/plugins/next/schematics/application) I generated, but I also have multiple  Cloudflare Workers based backends that I want to use and from what I see I need to r

[2020-08-09 17:15] nahue commented on #3480
I created a custom webpack.ts file and added the following (but it feels to hacky)

[code]

[2020-08-09 18:12] dalepo commented on #836
I found out that this is related to the `postinstall` script with the angular-cli decorator (decorate-angular-cli.js)

One quick way to make it work is removing the postinstall script from package.json before deploying to functions, then add it back again so the nx client doesn't break. Is there a way to skip the postinstall script when deploying to firebase functions?

[2020-08-09 18:29] beeman commented on #836
You're probably looking for the `--ignore-scripts` command:

[2020-08-09 19:24] dalepo commented on #836
@beeman thanks, I tried it but it doesn't work on the firebase cli

[2020-08-09 20:09] rarmatei commented on #2827
@thyb sorry for the late reply - can you try naming your variable `NX_BASE_URL`? (change it in your `.env` file but also in your React code)

when you serve a web project using Nx, it should load all vars in your `.env` files, but it will only make them available for find-and-replace in your source code if they start with `NX_` (similar to [how Create React App does it](https://create-react-app.de

[2020-08-09 20:11] ferdiemmen opened #3490 "Apps with the same root folder are not properly displayed in the dep-graph"
## Current Behavior

When having 2 applications using the same root folder and source files, the dep-graph will not display the first application's graph. It only shows the graphs for the second application.

<img width="178" alt="Screenshot 2020-08-08 at 11 02 25" src="https://user-images.githubusercontent.com/560816/89706518-be405480-d966-11ea-9b10-c5842324a4cb.png">

## Expected Behavior

I exp

[2020-08-09 23:05] Blackhex commented on #3213
Any workaround for this, please?

[2020-08-10 01:32] rhutchison commented on #3232
I ran in to a similar issue.  I was using custom webpack config and also had to upgrade https://www.npmjs.com/package/@angular-builders/custom-webpack

[2020-08-10 07:49] thyb commented on #2827
Thanks a lot @rarmatei, this is the point I missed. It works when I prepend my env variables by `NX_` :+1:

[2020-08-10 09:38] vlodko opened #3491 "Images (PNG, JPG) is corrupted after migration to the Nx Workspace structure"
## Current Behavior / Steps to reproduce

1. Run `ng add @nrwl/workspace` in the regular Angular CLI project
2. After successful migration, start the app locally and observe places with PNG or JPG images.
3. Images are not loading

## Expected Behavior
Images are being moved to a folder in a new structure without corrupting.

### Environment
 @nrwl/angular : 9.0.4
  @nrwl/cli : 9.0.4
  @nrwl/cypre

[2020-08-10 10:06] vlodko commented on #3348
thanks @FrozenPandaz @vsavkin
I'm using node v12.16.3.
Sorry, we haven't migrated to Angular 10 and Nx 10 yet, so I can't verify the fix as of now.

[2020-08-10 13:08] shaharkazaz commented on #3370
Happens in @nrwl/workspace 10.0.10.

[2020-08-10 14:06] philipjfulcher commented on #3490
I'm not quite following the reproduction steps, are you able to put together an example repo for the situation you're describing?

[2020-08-10 14:08] philipjfulcher commented on #2955
@georgiee Have you pulled in our latest releases? Was the issue resolved?

[2020-08-10 14:15] vaunus commented on #2386
I am seeing the same issue here and disappointed NX CLI is breaking builds on yarn2 given it is now at version 2.1. Our project fails to build with default yarn2 settings, i.e. `pnp` enabled, but works as expected in `node-modules` mode.

[code]

Looks like this does indeed relate to the `cli` looking for `tao` in the `node_modules` directory as @Jordan-Hall indicated.

Is it possible to get a fix

[2020-08-10 15:18] Blackhex commented on #2935
@FrozenPandaz How one sets the index for configuration?
`
"configurations": {
  "production": {
    "options": {
      "index": "apps/edge/demo/src/index.prod.html"
    }
 }
}
`
does not seem to work.

[2020-08-10 18:19] tieppt opened #3492 "Do you have any plan to upgrade fork-ts-checker-webpack-plugin to v5"
## Description

https://github.com/TypeStrong/fork-ts-checker-webpack-plugin

For now, we're using version 3.1.1 of this plugin. It does not report type checking result (error) to devServer. But if I upgrade to v5 with custom WebPack config, it can work as expected.

[2020-08-10 18:57] maxime1992 opened #3493 "Unknown option: '--buildLibsFromSource'"
## Current Behavior

I have been trying to get every lib on our monorepo to be buildable. I'm nearly there and while I intend to use the `--with-deps` flag soon, I wanted to get that first bit merged asap where everything should be ready for next step.

But I get weird errors saying "Module not found: Error: Can't resolve" just like in https://github.com/nrwl/nx/issues/3131

So I found out that I

[2020-08-10 19:35] ferdiemmen commented on #3490
Hi Philip,

I added the reproduction repo already see: https://github.com/ferdiemmen/repro-nrwl-3490
- Clone repo
- Install dependencies: $ yarn
- Run dep-graph: $ nx dep-graph
- Select products and products2
- Select products-home-page and products-product-detail-page

Notice that only for products the graph is connecting to products-home-page and products-product-detail-page

Now open `node_modu

[2020-08-10 22:43] joshkarges opened #3495 "Migration From CRA documentation error with config-overrides.js step"
## Current Behavior
Following the [Migration From CRA documentation](https://nx.dev/react/migration/migration-cra) still results in an error with the ModuleScopePlugin:
`Module not found: You attempted to import /home/myrepo/myorg/libs/mylib/src/index.ts which falls outside of the project src/ directory. Relative imports outside of src/ are not supported.`

## Expected Behavior

The shared lib is

[2020-08-10 23:29] mathpaquette commented on #3245
@Hotell are you sure??, I'm on 9.5.1 and still doesn't work....

[2020-08-11 02:23] tianzhich commented on #2956
Any progress here?🧐

[2020-08-11 05:04] craigsh commented on #1805
I worked through the nx tutorial today, starting completely from scratch. I can confirm that you can't attach breakpoints in Chrome in VS Code in an Angular app. If I create a simple lib and put a component in it, I can successfully set a breakpoint there.

I have a similar experience with another large nx workspace with lots of libraries. The breakpoints work fine in my libs but not in the main a

[2020-08-11 06:29] Hotell commented on #3245
What doesn't work? Can you be please more specific? I provided real life example that works 😁🙏

[2020-08-11 08:03] georgiee commented on #2955
Hello and thanks for your question. We couldn't upgrade to Nx 10 yet due to some weird errors with Angular CLI aorund the solution style tsconfig changes and the angular cli vs workspace.json issues.

https://github.com/nrwl/nx/issues/3464#issuecomment-669012951

I always expected this will hinder me to upgrade the example app — I will give it a try so we can check the status of this issue. Thanks

[2020-08-11 08:47] georgiee opened #3496 "Nx Workspace Migration (9 -> 10) fails for projects created with `--cli=nx` (Proof inside)"
## Current Behavior
We have a project based on Nx v9 and using the Nx style CLI (`create-nx-workspace --cli=nx [....]` ). Running the migration will fail at many place. I provided a first comment on the underlying issue here https://github.com/nrwl/nx/issues/3464#issuecomment-669012951 and decided to raise a proper issue.

After migrations have been prepared and installed I run `yarn nx migrate --

[2020-08-11 10:01] adrianbarwicki opened #3497 "Throws an error `Cannot read property 'schematics' of undefined` when extended by a custom schematics"
## Current Behavior
NX workspace schematics `@nrwl/schematics@8.12.11` throws the following error when it is extended by a custom schematics installed in node_modules:
[code]

## Expected Behavior
We expect that the schematics correctly generates the default files for an NX lib.

## Steps to Reproduce
I created a minimal wrapper around the schematics ( a custom schematics extending the  `@nrwl/sch

[2020-08-11 10:25] adrianbarwicki commented on #3497
The fix for this behaviour is to remove `workspace.json`.

[2020-08-11 10:25] adrianbarwicki commented on #3118
The fix for this behaviour is to remove workspace.json.

[2020-08-11 11:27] mathpaquette commented on #3245
Haha, tried your examples without any luck.

Basically with —args no issues with the parameter switch got undefined

Sent from my iPhone

On Aug 11, 2020, at 2:29 AM, Martin Hochel <notifications@github.com> wrote:

﻿

@Hotell<https://github.com/Hotell> are you sure??, I'm on 9.5.1 and still doesn't work....

What doesn't work? Can you be please more specific? I provided real life example that wor

[2020-08-11 11:36] luqezman commented on #3281
@gszzzzzz any solutions found?

[2020-08-11 13:40] philipjfulcher commented on #3490
Thank you for the clarification, I completely missed the link to the repo. I'll take a look.

[2020-08-11 14:09] mehrad-rafigh commented on #3439
@FrozenPandaz @jacobworrel I will take a try at this and open a PR

[2020-08-11 14:20] leon opened #3499 "Updating to ts-jest 26.2.0 causes (WARN) The configuration for astTransformers as string[] is deprecated and will be removed in ts-jest 27"
When upgrading ts-jest to 26.2.0 it starts complaining about astTransformers needing to be an object.
https://kulshekhar.github.io/ts-jest/user/config/astTransformers

The solution should be changing all jest.config.js files to use the new syntax.
but I'm not sure if we should use `before`, `after` or `afterDeclarations`.

[code]

## Expected Behavior
tests should run without errors being displaye

[2020-08-11 14:22] JakubKoralewski commented on #3489
I've created a simple plugin that pulls from github templates and installs the dependencies from package.json then removes it.: https://github.com/supercuts/nx-cf-workers

But I don't know how to proceed with the build commands, I'm guessing I'm gonna have to use `child_process` and run `wrangler build`, but is that it? I'd appreciate some help.

[2020-08-11 21:46] imcvakt commented on #3203
I'm facing the same issue!

For example I have one specific  library e.g: "subscriptions".

I would like to publish that library to re-usable into a legacy project that my company still maintains. However, that library can't have any other dependency inside my new Nx workspace

[2020-08-11 22:07] maxime1992 opened #3501 "Does the `--with-deps` does something when used on `nx serve`?"
## Description

I've recently converted all my libs to be buildables.

It's helping for the build but I don't think I've noticed any difference when doing `nx serve my-app --with-deps`

We've got quite a huge number of libs and I'd expect some perf improvement by doing that but I don't feel like that the case. Maybe it's just me or the fact that part of our app is still in the main app.

Can anyon

[2020-08-12 05:12] webberwang opened #3502 "Lack of "strict: true" causes hidden type errors to go unchecked"
## Current Behavior

During Circle CI builds, `@nrwl/nest` build is triggering error

[code]

## Expected Behavior

`The "path" argument must be of type string. Received null` should not appear

## Steps to Reproduce

Unfortunately I can't reproduce locally, but this might be where the error occurs.

https://github.com/nrwl/nx/blob/7363ef0720a73c24a7a69010b0b0e59d145c7a69/packages/next/src/builder

[2020-08-12 06:04] aikrez commented on #3370
Same issue on 10.0.7, Windows 10 after moving a module in an Angular lib

[2020-08-12 07:05] ntziolis commented on #2633
@ch4mpy Would love to help move this along. We are starting a new ionic project withi next few week and would hate to not be able to use nx (as now all our projects use nx). Is there a repo already If not are you looking to create one soon or if its not public add me to the private repo we can then sync on how we divide up the work?

[2020-08-12 07:32] mehrad-rafigh commented on #2019
Hi @FrozenPandaz! Our Team is having the same issues since our IDEs tend to use the mapped path import.
Would you so be so kind and point to me the direction, where the changes are needed?

[2020-08-12 07:46] alexpthomasdev commented on #3105
Now there are 4 new HIGH vulnerabilities.

[code]

[2020-08-12 07:58] aronrodrigues commented on #2633
So let’s get it done. What timezone are you in? I’m in Dublin.

Let’s do a startup meeting to create repo and assign some tasks.

What about Monday, 17 16:00 gmt?

On Wed 12 Aug 2020 at 08:06, ntziolis <notifications@github.com> wrote:

[2020-08-12 08:14] mattarau commented on #2633
Hey Guys,

Since @ntziolis and @aronrodrigues are willing to move forward with this, I'd like to share what I found out while manually adding an `ionic` app to an existent `nx` workspace.

It seems that it's only possible to have a single ionic app per workspace for now. The `ios` and `android` folders must be in the root folder in order to work properly and the `capacitor.config.json` must be alo

[2020-08-12 08:40] ntziolis commented on #2633
@aronrodrigues I'm in Germany Monday anytime is fine with me. Generally since this is actually directly for our next project I'm available pretty much anytime any day.

[2020-08-12 08:51] maxime1992 opened #3503 "nx.json, serve independently project with implicitDependencies?"
## Description

Let say you've got in nx.json something like the following:

[code]

This is so that if the backend changes, we mark implicitely the frontend as changed.

BUT, it also enforce us when running `nx serve frontend-app` to run at the same time the `backend-app`.
This is a nice feature but if we won't want to mix up the logs between both apps, is there a way to launch **only** the `fron

[2020-08-12 10:02] #3502 closed

[2020-08-12 10:20] bekos commented on #3303
@zakhenry thx for the suggestion 👍
atm it makes more sense to me to add it as an option to the existing command. I am also thinking to make it work along side `all` option. So
- `nx format --projects=a,b,c` will format **only the affected** files _inside a,b,c projects_, while
- `nx format --projects=a,b,c --all` will format **all** files _inside a,b,c projects_.

Will this work for you?

[2020-08-12 12:33] twittwer opened #3505 "Jest Schematic still adds `setupFile` & `tsConfig`"
## Current Behavior

When generating a project with jest it creates the correct `jest.config.js` with `setupFilesAfterEnv` & `tsConfig` but it adds `setupFile` & `tsConfig` to the test architect as well.

https://github.com/nrwl/nx/blob/3b8a10f073/packages/jest/src/schematics/jest-project/lib/update-workspace.ts#L18

## Expected Behavior

Because `setupFile` & `tsConfig` options were removed from

[2020-08-12 12:37] twittwer commented on #2019
Currently, we're doing this via a workspace schematic: https://gist.github.com/twittwer/d1adb85f873b02b14b6f52d2aa9ec4f3#file-index-ts-L124

Would be nice to get this out of the box 😄

[2020-08-12 14:45] bekos commented on #3328
hi @Ledzz :) Can you please elaborate on this issue? Usually the way to write these globs is like this:
[code]

Can you try it and let me know if this works for you?

[2020-08-12 15:42] adams-family opened #3506 "High severity vulnerability in npm dependency"
## Current Behavior
`npm audit`

[code]

## Expected Behavior
No high severity vulnerabilities.

## Steps to Reproduce
Very easy:

1) `npx create-nx-workspace npmaudittest`
2) `cd npmaudittest/`
3) `npm install --save @nrwl/express`
4) `npm audit`

### Environment
[code]

[2020-08-12 15:54] elio-maggini commented on #2633
@aronrodrigues @ntziolis @mattarau I am also available to assist though my direct knowledge of nx plugins is low. I am available  Monday, 17 @ 16:00 GMT.

I would like to mention I think it is important for a plugin to also support Cordova and not just Capacitor. While the effort is commendable, it is still quite new and makes some changes to local development workflow that my organization would n

[2020-08-12 16:36] d4046949 opened #3507 "vanillia nx angular project does not run tests in VSCode"
## Current Behavior
I've created a standard nx project and then installed Jest extensions for visual studio code. I've then clicked Debug on one of the tests that were created as part of the project. These fail to run.

entering 'nx test' at the command line shows that the test pass.

## Expected Behavior
I want to be able to debug a test

## Steps to Reproduce
create a new project using the NX CL

[2020-08-12 16:50] ntziolis commented on #2633
@aronrodrigues @ch4mpy I have setup a private gitter to exchange contacts to figure out how we can get this started asap: https://gitter.im/nx-ionic/team

@mattarau Will def get back to you on that

If there is anybody else who would like to contribute let me know and I'll add you.

[2020-08-12 16:57] elio-maggini commented on #2633
@ntziolis If you could please add me.

[2020-08-12 18:24] willyboy commented on #3453
The root cause seems to be here: https://github.com/nrwl/nx/blob/master/packages/workspace/src/core/file-utils.ts#L221
When "usesGitForHashing" is true, nxignore is ignored. Tried putting the files in gitignore for kicks and giggles but that didn't work either.

[2020-08-12 18:57] ch4mpy commented on #2633
I have to admit I got pretty busy with other projects and dropped the idea of using Nx for now.

I just replaced Karma with Jest and Protractor with Cypress in the exiting Angular workspace of the company I recently joined and then added my Ionic project as any other Angular project in it.

The solution I came to allows for several Ionic projects in the same workspace (with different plugins in ea

[2020-08-12 19:00] ntziolis commented on #2633
@ch4mpy we all have been there :) Will def get back to you on the multi ionic piece. Assuming you haven't yet setup a repo I will create one right away.

[2020-08-12 19:38] Ledzz commented on #3328
@bekos yeah, I've tried it, not working too :(

[2020-08-12 20:26] juristr opened #3508 "affected:dep-graph fails if files get removed"
## Current Behavior

When I run `yarn nx affected:dep-graph --file=dist/dep-graph.json` it fails when a file got removed in the branch.

## Expected Behavior

It shouldn't fail :)

## Steps to Reproduce

Setup commands (mostly)

[code]

Create a new branch, remove the generated `testcm` and commit it. In that new branch run

[code]

### Failure Logs

Fails with an error like the following

![image

[2020-08-12 20:28] bekos commented on #3328
@Ledzz using the latest Nx, after generating `mylib` , adding the above snippet into the `assets` of the application and building the application, I'm able to see the README.me file copied inside `dist/apps/myapp` 🤔 Maybe I missed something, can you share a reproduction repository so I can check?

[2020-08-12 21:20] ShaneK commented on #2800
Is there a reason you closed this? A workaround is a hack, not a solution. I would still like the reporter option to be added.

[2020-08-12 21:25] yingw787 opened #3510 "Can you have multiple `nx` collections within one monorepo?"
Hello,

I'm a new `nx` user for a company that's already using `nx` in production. I'm testing out `nx` plugin `@dev-thought/nx-deploy-it`, which originally was `ng-deploy-it` and I think only works with Angular applications. The company uses React and TypeScript, so I'm looking at creating a new `nx` plugin that can generate a very basic Pulumi configuration for an `nx` app on a per-app basis. I

[2020-08-12 21:39] yingw787 commented on #3510
Never mind on that, I think my brain just farted.

Running these commands work even within an `@nrwl/angular` project:

[code]

This should be straight from the documentation, not sure what I missed before.

[2020-08-12 21:39] #3510 closed

[2020-08-12 23:16] #3383 closed

[2020-08-12 23:59] charsleysa commented on #3409
@FrozenPandaz I also had this issue.

I noticed that for existing libraries the migrations removed `"include": ["**/*.ts"]` from the `tsconfig.lib.json` file, but for new libraries this line still exists.

I re-added `"include": ["**/*.ts"]` to the `tsconfig.lib.json` file for my existing libraries and this seems to have fixed the issue for me.

Also noticed `"exclude": ["src/test.ts", "**/*.spec.

[2020-08-13 02:36] jdforsythe opened #3511 "Deleting the only app in a workspace makes CLI unusable"
## Current Behavior
Deleting all apps in the workspace leaves the CLI unusable. It fails with `Project 'testapp' could not be found in workspace` due to the app still being listed in the `defaultProject` property in `angular.json`

## Expected Behavior

Deleting the app should not make the CLI fail.

## Steps to Reproduce

- `npx create-nx-workspace@latest`
  - name: `testtorg`
  - application: `a

[2020-08-13 03:09] jdforsythe commented on #3511
I think something like this would work, but it involves editing `angular.json` from the @nrwl/workspace project and that doesn't seem right. Any ideas on a better way?

[code]

[2020-08-13 06:31] webberwang opened #3512 "WARN invalid config registry="NPM_REGISTRY""
## Current Behavior

Can't find local registry

## Expected Behavior

Should have no error message regarding local registry

## Steps to Reproduce

Follow guide in publishing to verdaccio, `yarn nx-release 999.9.9 --local`

Clone refresh repo

This issue may not be prioritized if details are not provided to help us reproduce the issue.

### Failure Logs

[code]

### Environment

[code]

[2020-08-13 11:38] riveroreyes commented on #3370
I did it, but not is the correct solution.
I remove the instruction pre-commit (nx workspace-lint && ng lint), I did the commit and I restored the instruction and I did run  push, running prepush(nx workspace-lint && ng lint) now.

[2020-08-13 12:22] DominikPieper commented on #2960
Maybe the wrong place, but the title matches I think. Sorry if not.

Any plans or possibilities to extend the build process down the graph? So hook into what/how dependencies are built?

[2020-08-13 13:48] fstn commented on #2975
I experienced the same issue with the  before initialization.

I tried:
[https://github.com/nrwl/nx/issues/1667](https://github.com/nrwl/nx/issues/1667)
But it break the global access to jest describe method :(

[2020-08-13 13:50] fstn commented on #1667
Any Updates?

The first post solution is breaking my jest global describe function access...

[2020-08-13 14:09] zefexdeveloper opened #3515 "Module doesn't exist on jest config file for express application"
## Current Behavior

I created an empty workspace and everything is working just fine but when I added an express application following the documentation on Express Plugin the `jest.config.js` file is giving me an error saying that `module` doesn't exist.

## Expected Behavior

It shouldn't give me an error on the jest config file.

## Steps to Reproduce

1. `npx create-nx-workspace@latest`

2. `y

[2020-08-13 14:10] hakimio commented on #1667
@fstn I can run jest test without any problem. Here are my tsconfigs for reference:
`apps/api/tsconfig.spec.json`
[code]
`apps/api/tsconfig.json`
[code]

The problem must be on your side.

[2020-08-13 14:23] fstn commented on #1667
Thanks, can you share  the extended file? "extends": "../../tsconfig.json",

[2020-08-13 14:39] hakimio commented on #1667
@fstn
[code]

[2020-08-13 16:04] EmanuelaBolohan opened #3517 "Browser doesn't cache the font assets (google fonts roboto) stored locally on the project"
## Current Behavior
Fonts assets (google fonts roboto) stored locally and loaded with @font-face are not cached.  When the web app is loaded I'm getting `Status Code: 304 Not Modified`. On each action (click) on the web page a new request is made to get the fonts.
![image](https://user-images.githubusercontent.com/67371228/90144289-4f5c6480-dd87-11ea-95e4-d138920ada97.png)
![image](https://user-im

[2020-08-13 16:23] masonembry commented on #3251
Same with me. Does anyone have a solution? I cannot generate libs.

[2020-08-13 16:58] imcvakt opened #3518 "Can't build publishable lib which depends on other libs"
## Current Behavior
Trying to build a a publishable lib with other libs as dependencies fail.
NX latest version.
Preset: React

## Expected Behavior
I wanna create publishable react libs which has other dependencies (non publishable)

## Steps to Reproduce

1. npx create-nx-workspace@latest
2. use react template
3. nx generate @nrwl/react:library --name=a --importPath=a --publishable --no-interact

[2020-08-13 18:15] #3439 closed

[2020-08-13 18:35] yingw787 commented on #3251
Wanted to second @emjimadhu's concern with plugin `@nrwl/react`; after multiple attempts at trying to get migrations to run properly for fork of plugin `@dev-thought/nx-deploy-it`, got this error message:

[code]

Interesting to know what the solution is.

[2020-08-13 19:05] fstn opened #3520 "NestJS/Crud, how to diable webpack to be compliant?"
I'm trying to add [nest/crud](https://github.com/nestjsx/crud) to my Nestjs app on a [nrwl nx](https://github.com/nrwl/nx) workspace.

When I try to serve my app, I get:

[code]

By looking at other [issues](https://github.com/nestjsx/crud/issues/429), I can see that it's link to webpack, do you know how I can manage this?

How can I disable webpack or turn crud into webpack compliant?

[2020-08-13 19:05] vsavkin commented on #3515
Thank you for submitting the issue.

The linter should only lint files in src.

[2020-08-13 19:09] vsavkin commented on #3507
@Cammisuli can you reply?

[2020-08-13 19:09] Ledzz commented on #3328
@bekos I've tried to update `@nrwl/workspace` and it seems to be working know, very strange:/ I'll try on empty repo later

[2020-08-13 19:19] vsavkin commented on #3497
Although not strictly speaking, I think this is a duplicate of https://github.com/nrwl/nx/issues/3118#issue-631498358. I'm going to reference the issue there.

I'm going to close this one cause fixing #3118 will fix this one as well.

[2020-08-13 19:19] #3497 closed

[2020-08-13 19:19] vsavkin commented on #3118
Related issue: https://github.com/nrwl/nx/issues/3497

[2020-08-13 19:22] vsavkin commented on #3491
@vlodko

It's an interesting issue. We are using the standard Angular builder to serve Angular applications. We aren't modifying it in any way. I wonder what's going on there.

Could you provide a repro? Two repos: the Angular CLI project and the transformed project?

[2020-08-13 19:27] vsavkin commented on #3488
Hi there!

You need to exclude *.test files as well, or rename the file to *.spec.ts in https://github.com/adams-family/nrwl-jest-error-repro/blob/master/apps/express/tsconfig.app.json

Closing this issue

[2020-08-13 19:27] #3488 closed

[2020-08-13 19:31] ThatMate commented on #2946
I forgot to follow up this. I cleaned my project, and followed these steps:

[code]

It worked. I had to manually updated the dependencies that were unrelated to nrwl.

[2020-08-13 19:31] #2946 closed

[2020-08-13 19:39] Lonli-Lokli commented on #3507
You can try this launch.json, just change path to appropriate config files
{
            "type": "node",
            "request": "launch",
            "name": "[E2E] Jest Current File",
            "program": "${workspaceFolder}/node_modules/.bin/jest",
            "args": [
              "--runTestsByPath",
              "${relativeFile}",
              "--c",
              "${workspaceFolder}/app

[2020-08-13 19:44] vsavkin commented on #3493
We use the builders provided by the Angular team to build Angular applications. Their builder doesn't support `buildLibsFromSource` and there is not much we can do about it. We are considering wrapping their builder though.

For now though, you have several options:
1. You can wrap the default angular builder, add `buildLibsFromSource`, and just ignore the option.
2. You can also replace run-many

[2020-08-13 19:44] #3493 closed

[2020-08-13 20:17] vsavkin commented on #2219
Folks. I need more information about the issue. @imaustink could you help by answering the questions above?

[2020-08-13 20:17] vsavkin commented on #2429
Closing this issue.

Making this a better-supported use case is one of the priorities for H2 2020.

[2020-08-13 20:17] #2429 closed

[2020-08-13 20:22] vsavkin commented on #2463
Closing this issue

[2020-08-13 20:22] #2463 closed

[2020-08-13 20:25] vsavkin commented on #3006
Closing this issue

[2020-08-13 20:25] #3006 closed

[2020-08-13 20:28] zefexdeveloper commented on #3515
@vsavkin What would be the solution for that?

[2020-08-13 20:40] vsavkin commented on #3144
There are two things you can do:
1. `NX_SKIP_TASKS_RUNNER=true node --inspect ./node_module/.bin/nx build blah` will not fork the process. You should really avoid doing this.
2. `node --inspect=0  ./node_module/.bin/nx build blah` will use a random port as @june07 described.

We cannot really fix because we need to create multiple processes to enable caching and when using run-many.

@isaacplmann

[2020-08-13 20:41] vsavkin commented on #3335
Sorry for the late reply.

Yup. It won't affect interpolation. It will only affect default forwarding.

@germanp173 would you like to send a PR making the change? I can help you out. If not, I'll make the change myself.

[2020-08-13 20:43] vsavkin commented on #3348
@vlodko could you provide a repo with a repro using Nx 9.5.1?

[2020-08-13 20:43] Cammisuli commented on #3507
By default, Jest extensions run Jest at the root of the workspace. They don't know about the multiple Jest configs in each project, unless you specify it in the settings for the extension. And even then, you can only have one config at a time.

I'm planning on fixing this so that if you run Jest in the root, it'll know about all the projects. But that's currently a WIP.

In the meantime since you'

[2020-08-13 20:47] brandonroberts commented on #3491
This is a duplicate of https://github.com/nrwl/nx/issues/2469 also

[2020-08-13 20:49] Cammisuli commented on #3505
Ah, you're absolutely correct! 😅

I guess it was missed.

For anyone interested, this line (and a the setup file part) needs to be removed from the jest schematic:
https://github.com/nrwl/nx/blob/e06822da7e2987d480f0b3a579fa41aed01c45c8/packages/jest/src/schematics/jest-project/lib/update-workspace.ts#L13

[2020-08-13 20:53] vsavkin commented on #3370
@shaharkazaz @aikrez @riveroreyes Nx 10.0.12 handles "rename and modify" (or move and modify) case.

Could you try and tell me if the issue still occurs? If it does, could you provide detailed instructions on how to repro:
1. Only use shell commands (e.g., there is no rename, only mv a b)
2. Use git add where needed (stashing, unstashing, changes stuff)

[2020-08-13 21:00] ganeshpms commented on #3417
Try ading paths to the sub folders, `dist` path may require you delete the `dist` to build from source , and make sure you keep your `ng-package.json`, and `package.json`  under 'src/lib'
[code]
instead of
[code]

[2020-08-14 04:51] studds commented on #2953
I'm getting this same error with `npx create-nx-plugin`.

I've traced it back to https://github.com/nrwl/nx/commit/100989eacb533afeb43fcd035274daf271c1ad29, adding `resolvePaths` to `packages/tao/src/commands/generate.ts`.

If you either comment out this line or amend it to `resolvePaths: [process.cwd(), root, __dirname]`, it works. Not sure if this is the same issue as create-nx-workspace.

[2020-08-14 07:42] adams-family commented on #3488
Hi @vsavkin, agreed, it helps!

One question tough: given a large number of projects that use `*.test.ts` pattern for Jest testing, shouldn't we exclude *.test.ts in `tsconfig.app.json` by default?

[2020-08-14 08:43] aikrez commented on #3370
I could not reproduce it with my current version (10.0.7) before I try the fixed version.
Tried moving modules, deleting, deleting after commit,...

[2020-08-14 08:47] nhaancs commented on #3423
Unfortunately, this solution is not working for me

[2020-08-14 08:48] nhaancs commented on #3423
@nestorvanz Unfortunately, this solution is not working for me

[2020-08-14 08:50] nhaancs commented on #3423
@FrozenPandaz do we have any better solutions for this issue

[2020-08-14 09:35] shaharkazaz commented on #3370
@vsavkin seems to be ok in v10.0.12, I'll update if anything changes with a reproduction 👍

[2020-08-14 09:52] asherccohen commented on #2382
Hi, any update on this matter?

[2020-08-14 10:49] hakalb commented on #2784
I have also experienced this error and finally came up with a solution. The problem origin from how TypeScript and ESLint works together, providing the files to lint.

When creating a new workspace with Nx everything works, since there are limited number of files to lint. As the code base grows this will eventually become a problem.

### Suggested fix
To support enterprise workspaces I did the fol

[2020-08-14 11:01] #3520 closed

[2020-08-14 11:15] aikrez commented on #3370
@vsavkin a colleague with the same codebase (on MacOs) had the problem and it was fixed after updating to 10.0.12

[2020-08-14 13:07] brandonroberts commented on #3496
This is a duplicate of https://github.com/nrwl/nx/issues/3464. Let's track there with this for reference

[2020-08-14 13:07] #3496 closed

[2020-08-14 13:32] brandonroberts commented on #3499
We are working to officially support updating to Jest 26 in an upcoming release

[2020-08-14 13:32] #3499 closed

[2020-08-14 14:50] jaysoo commented on #3466
Hi @shaharkazaz,

Do you mean to delete the `outputPath` for a single project when building? For example, if I run `nx build my-app` then I'd expect something equivalent to `rm -rf dist/apps/my-app` to execute first.

[2020-08-14 15:06] shaharkazaz commented on #3466
@jaysoo That's the default behavior when using the angular-cli and that makes sense to me.

[2020-08-14 15:41] germanp173 commented on #3335
@vsavkin no worries and I got you ... I should be able to send a PR early next week 👍

[2020-08-14 15:57] FrozenPandaz commented on #3409
@vmcbaptista

What does the `tsconfig.json` and `tsconfig.lib.json` look like?

@drakenfly

VSCode will look at the solution style tsconfig and go through the references to find a tsconfig that includes the file open in VSCode. Separately, those `tsconfig.*.json` files need a lot of the settings from the base `tsconfig.base.json` so it is intentional that they extend. The `proj/tsconfig.json` is s

[2020-08-14 17:55] twittwer commented on #3505
I could do it but won't get to it until Monday

[2020-08-14 18:11] FrozenPandaz commented on #3423
That is a solution. However, I would not recommend it because it re-introduces with having a single tsconfig for both runtime and tests.

Can you elaborate on the "circular" reference?

A preferable solution would possibly look something like:

1. Create a `apps/app1/tsconfig.all.json` or `apps/app1/tsconfig.base.json` (name pending)
2. Include all ts files via `"include": ["**/*.ts"]`
3. Add it a

[2020-08-14 18:14] #3429 closed

[2020-08-14 18:24] FrozenPandaz commented on #3490
Thanks for the reproduction!

What is the motivation for this expected behavior? Why is it necessary to describe the same set of files with different projects?

[2020-08-14 18:29] FrozenPandaz commented on #3407
Thanks for reporting the issue!

This was fixed with https://github.com/nrwl/nx/commit/f51d0d257c34a1f783b66529721884f45d5d5ead.

[2020-08-14 18:29] #3407 closed

[2020-08-14 18:34] FrozenPandaz commented on #3380
Thanks @kylecannon, this helped a bunch!

[2020-08-14 18:54] Jordan-Hall commented on #2386
Its annoying me now but im too ill to look. Ill carry on soon but they appears to be loads of files referencing direct file path grrr

[2020-08-14 19:05] FrozenPandaz commented on #3263
I think there is a misconception about what "affected" means. Making changes to the projects, not only impacts the projects that are changed. Because the behavior of projects that depend on those that are changed can be impacted, those projects are affected as well.

The graph shown does limit the effectiveness of `affected` because touching any lib will cause the app to become affected. When that

[2020-08-14 19:06] ferdiemmen commented on #3490
Hi @FrozenPandaz,
The motivation is that we create apps with different routes, libraries and themes (scss). To keep to the DRY principle we use the same base application.

[2020-08-14 19:13] #3506 closed

[2020-08-14 19:16] FrozenPandaz commented on #3134
@siirtecirlioglu I'm going to close this issue since there hasn't been a response. Please open a new issue if you continue to run into this issue.

[2020-08-14 19:16] #3134 closed

[2020-08-14 19:18] jcvalerio commented on #2219
We are facing the same issue using AWS Amplify console

we release a new version only if the test and e2e test passed successfully, but the script fails and the AWS Amplify console just got an exit code 0

`amplify.yml`

[code]

`run-dep-graph.sh`

[code]

As you can see in the image below one of our test fails and it is notifies as *INFO* instead of an *ERROR*
[code]

In the image below you can s

[2020-08-14 19:41] FrozenPandaz commented on #2888
This was fixed with #3396 Starting with `@` and other non-alphabetical characters is no longer valid.

[2020-08-14 19:41] #2888 closed

[2020-08-14 20:03] FrozenPandaz commented on #3117
This might be hard to solve programmatically. Does anybody have a suggestion for how to do this explicitly? Maybe like an
 `"excludeDependencies"` option for the builder to not add to dependencies?

[2020-08-14 20:10] vsavkin commented on #3370
Thank you folks!

I hope all the issues are resolved now. But in case they haven't, I have also added a workaround to basically fall back to 'fs' when we detect that deleted/moved files aren't picked up correctly. It will print a warning. It land be released next week. This introduces a small perf penalty, so I'm going to keep it there till 10.2.

I'm going to close this issue. Thanks again, folks

[2020-08-14 20:10] #3370 closed

[2020-08-14 20:11] vsavkin commented on #3335
Thank you!

[2020-08-14 20:14] FrozenPandaz commented on #3490
I'm not sure how you are switching out the themes and routes. Can you keep the base application in a lib and then create multiple applications that use that lib?

[2020-08-14 20:24] FrozenPandaz commented on #3251
Can you please open a separate issue with a reproduction, please?

This seems related to a different issue which has already been closed. https://github.com/nrwl/nx/issues/3387

Was the workspace perhaps already on nest 7?

I think so as well. I think this issue can be closed.

[2020-08-14 20:24] #3251 closed

[2020-08-14 20:32] #3512 closed

[2020-08-14 20:56] FrozenPandaz commented on #3511
@jdforsythe

What specifically would you expect to happen in the case the `defaultProject` is removed? Should there be no `defaultProject`? Should there be a warning?

I think the solution you have is a good start. Please use our `updateJsonInTree` and `getWorkspacePath` methods and open a PR!

[2020-08-14 20:58] FrozenPandaz commented on #2059
Closed because this is stale. Please create a new issue if you continue to run into this issue.

[2020-08-14 20:58] #2059 closed

[2020-08-14 20:58] FrozenPandaz commented on #2012
Closed because this is stale. Please create a new issue if you continue to run into this issue.

[2020-08-14 20:58] #2012 closed

[2020-08-14 21:00] jdforsythe commented on #3511
According to what I read of Angular CLI, the default project is just the last one you created. Removing it is fine.

I looked at the `updateJsonInTree()` but if the file doesn't exist, it will create one. If a user removes an app and has no angular.json file, one shouldn't be created. That's why I created a new function.

[2020-08-14 21:06] FrozenPandaz commented on #2639
`jest-project` belongs to `@nrwl/angular` so `@schematics/angular` should indeed not have it. If your `defaultCollection` in `angular.json` is not `@nrwl/angular` you can still invoke `jest-project` by using the verbose form of generate: `ng generate @nrwl/angular:jest-project`. You can also choose to set your `defaultCollection` to `@nrwl/angular`. This should be done automatically in an Nx works

[2020-08-14 21:06] #2639 closed

[2020-08-14 21:38] AsmisAlan opened #3527 "Export libraries in a publishable library"
Hello!

I'm currently working on a project that contains a lot of angular libraries and I need export all in a unique publishable library.

## Current Behavior

I tried to add an export for each library in the barrel file of the publishable library and after run the build command the cli throw this error::

## Expected Behavior

Export all libraries into just one (publishable) that can be used for

[2020-08-14 22:17] emjimadhu commented on #3251
@FrozenPandaz Sorry to reply in this issue after it has been closed. I have found the solution. You were right, i created my workspace like 4  months back, that time the base/root tsconfig file named it as `tsconfig.json`. And i believe from NX 10, it was renamed to `tsconfig.base.json`. That was the cause of the problem.

So for anyone having the same issue, rename your root `tsconfig.json` to `t

[2020-08-14 22:39] FrozenPandaz commented on #3511
:+1: I think so as well though I think the user should be warned that they no longer have a `defaultProject` and they may want to define a new one.

I think it is ensured that either a `workspace.json` or `angular.json` (`getWorkspacePath` identifies which one to update) exists in a workspace otherwise, there are errors thrown higher up. Those functions are also used in many other places so if the

[2020-08-14 23:43] jdforsythe commented on #3511
@FrozenPandaz I pushed PR #3528

Since `updateWorkspace()` was already being called, I just added the check and warning message there.

I also added tests.

[2020-08-15 09:09] LanderBeeuwsaert commented on #3407
perfect, tested & works

[2020-08-15 09:41] webberwang commented on #2847
I kept getting this error on NX `"Nx could not find process's output"`, took hours to debug with this cryptic error message. Then the message `Using 34 workers with 2048MB memory limit` led me here.

Adding this here so the error message could link to this thread here.

[2020-08-15 10:56] #3354 closed

[2020-08-15 11:02] #3511 closed

[2020-08-15 15:31] mikelgo opened #3529 "npx create-nx-workspace results in Error: Cannot find module 'tslib'"
## Current Behavior

 `npx create-nx-workspace@latest`/ `npx create-nx-workspace` fail using both cmd and powershell on Windows 10.

## Expected Behavior
It should create a new nx-workspace

### Failure Logs
[code]

### Environment

Windows 10
NodeJs v. 12.18.3-LTS
npm and npx both 6.14.7
powershell v 5.1 build 18362

[2020-08-15 16:28] joshribakoff opened #3530 "Untracked files issue w/ renamed packages when switching branches"
## Description
More granular gitignore so that phantom folders dont accumulate over time & cause a mess

## Motivation
Rename a lib, switch branch, you see both a folder from before the rename & a folder from after. It gets unwieldy with lots of packages being renamed on different branches.

## Suggested Implementation
Only ignore specific node_modules paths, or detect these paths in a postinstall

[2020-08-15 16:47] joshribakoff opened #3531 "DRY up workspace.json"
## Description
DRY up workspace.json

## Motivation
resolving merge conflicts / manually updating it & debugging it is easier. Magical tools are great, but if its hard to understand how they work, magic can be undesirable. If NX were to DRY up the file, it would be easier to see how it works & users would be more assured they can debug things if something goes wrong.

## Suggested Implementation
d

[2020-08-15 19:06] kooldandy commented on #2987
You can pass a plugin name to it (e.g., nx list @nrwl/angular) to learn more about what the capabilities of that plugin.
If that plugin not present then install it.

[2020-08-16 02:32] Stupidism commented on #3117
It's solved already. Not automatically, but manually add path match in exclude field in tsconfig.json

[2020-08-16 02:32] #3117 closed

[2020-08-16 03:03] mehrad-rafigh commented on #2800
@maiis I think @ShaneK is right. You should reopen this issue and I will open a PR for this. The reporter and reporterOptions flags should work out of the box without any hacks.

[2020-08-16 03:28] Stupidism commented on #3486
I think the problem is the `assets` folder is overwrited by the assets option

[2020-08-16 03:32] Stupidism commented on #2935
I encountered this problem, too. I had a `prod.ico` and wanted to replace `favicon.ico` in production like this:

[code]

Of course it didn't work. I think it's because the assets folder is overwritten again by the assets option. like this [issue](https://github.com/nrwl/nx/issues/3486) described

Here's my workaround for replacing favicon:

add another `production` folder inside `assets` folder a

[2020-08-16 03:35] Stupidism commented on #3210
Any plan to support this feature? It's quite annoying that I can't even use different favicon.ico in test and prod environments.

[2020-08-16 05:17] luqezman opened #3533 "e2e tests for nestjs"
## Description

How can I have e2e tests only for nestjs apis?

[2020-08-16 07:12] fgirardey opened #3534 "Add support of waitUntilTargets on @nrwl/jest:jest builder"
## Description

I would like to execute a builder before my NestJS e2e tests with Jest to run a `@nrwl/node:execute` that will start a local database via Docker.

[code]

## Motivation

It would allow to run any target and would make Nx builders more consistent.

## Alternate Implementations

Maybe introduce more general `before/after` hooks that would enable execution of any target at anytime?

[2020-08-16 10:21] mehrad-rafigh opened #3535 "pass reporter and reporterOptions to cypress builder"
## Description
Cypress has flags reporter and reporterOptions, which are currently not passed to the cypress builder.

## Motivation
There is already [a closed issue](https://github.com/nrwl/nx/issues/2800). The proposed workaround is to set the reporter and reporterOptions via env
Passing reporter and reporterOptions should work out of the box

## Suggested Implementation
Pass reporter and report

[2020-08-16 10:22] maiis commented on #2800
👍🏻 I initially closed it because I wasn’t gonna have time to make a PR in the end, and I’m not using Cypress anymore. You’re right I reopen it, can be useful for others 👌🏻

[2020-08-16 10:27] #3535 closed

[2020-08-16 10:27] mehrad-rafigh commented on #2800
@maiis Thank you! I will open a PR today!

[2020-08-16 10:43] florian-kittel commented on #3288
I faced the same problem after migrating. There is properly a migration missing where tsconfig.base.json was introduced. So what I simply did is, generating a new app and copy over

- tsconfig.json
- tsconfig.app.json
- tsconfig.base.json
- tsconfig.spec.json

If you have set paths to e.g. internal libs, that paths are now located in tsconfig.base.json.

[code]

[2020-08-16 13:06] mehrad-rafigh opened #3538 "Slack Link in github Issue Template is invalid"
The following line needs to be updated
https://github.com/nrwl/nx/blob/a4d0f11e737dbc3981d8414656b8554e1e17f7ef/.github/ISSUE_TEMPLATE/config.yml#L7

[2020-08-16 13:07] nelsieborja commented on #3445
Same issue here, such a blocker can't create a new library.

[2020-08-16 16:05] joshribakoff opened #3539 "Better build + publish workflow"
## Description
- nx build is missing from --help
- run-many command has limitations, project names are truncated (no folder name), no way to pass in wildcards (eg. build all libs)
- no affordances to bump versions
- no affordances to publish to npm, other than a naive CLI runner, up to end user to figure out commands

## Motivation
In my monorepo, it'd be nice to hit a button & just have all my li

[2020-08-16 16:30] crh225 opened #3540 "Slack link does not work"
Slack link does not work
![image](https://user-images.githubusercontent.com/19475195/90339045-c8d89a80-dfb3-11ea-8e03-a516406f1fd8.png)

This is the slack link on github and also the slack link on https://nx.app/

[2020-08-16 16:56] mehrad-rafigh commented on #2155
@LukeHowellDev @FrozenPandaz @PetrosA I opened a PR fixing the issue. The only problem is, that I cannot get the test to pass

[2020-08-16 17:22] joshribakoff commented on #3539
For better context, here's an example where I messed up trying to do it manually, I have 2 packages "core" & "react", both libs. I bumped them, but forgot to update the dependencies as well, so I ended up with different versions in my consuming app (living outside of the Nx monorepo). To me, this seems like something that could be possibly handled within the wheelhouse of Nx?

![Screen Shot 2020-0

[2020-08-16 17:41] mehrad-rafigh opened #3542 "Update ngrx to v10"
## Description
Ngrx has been updated to v10 a few days ago. Its a good time to update the versions file and add a migration
## Motivation
Ngrx is updated and aligned with angular / nx release

[2020-08-16 18:29] joshribakoff commented on #3539
FYI here's something else unexpected that happened to me, I went to publish w/ missing dependencies, which Nx filled in as "dependencies" instead of "peer dependencies" for my lib, which was unexpected, causing the lib to pull in multiple different version(s) of these in the consuming app (outside of the monorepo)

source vs dist package.json:
![Screen Shot 2020-08-16 at 11 27 40 AM](https://user-

[2020-08-17 00:33] getanza commented on #3486
That's interesting, I've been able to successfully use this config for a different project (Angular) in an older version (8.7.0).

I should also add that I discovered this issue, after (being really excited) reading this blog post (https://blog.nrwl.io/migrating-an-angularjs-project-into-an-nx-workspace-d329d907f48). I've been largely successful with merging 5 AngularJS projects into a monorepo.

[2020-08-17 05:02] ferdiemmen commented on #3490
@FrozenPandaz I switch out the themes and routes using file replacement. Creating a lib could indeed be a solution although having app specific files like main.ts and index.html feels a bit off putting them in a library. This also prevents us from using the application specific schematics since the files won't be there. For example generating Server Side Rendering which updates the main.ts file.

[2020-08-17 07:10] puku0x commented on #3377
ESLint v7?

[2020-08-17 09:18] GreatHawkeye commented on #3251
@emjimadhu it doesn't work for me. Angular 10 migration already renamed my `tsconfig.json` to `tsconfig.base.json` and rename the extends of other tsconfig library.
Also, `tsconfig.json` is still existing at the root (along side with `tsconfig.jbase.son`) with the ["solution style" typescript proposed](https://devblogs.microsoft.com/typescript/announcing-typescript-3-9/#solution-style-tsconfig).

[2020-08-17 09:29] kraiz commented on #3184
Same issue, upgraded from 8.2 to 10.0. There was no `babel.config.json` created via migration. Did not find a migration that actually did it. Created it by hand (like @paustint's one), works fine now.
[code]

[2020-08-17 09:33] ADobrianskiy commented on #2209
I can also confirm that after migration from v9 to v10 IE stopped working at all. The reason is that the output bundle with --prod tag missing `nomodule` files and tags inside HTML. I agree with @sushruth that it would be nice to have a straightforward way how to handle an IE browser using NX.

[2020-08-17 10:06] yeomann commented on #2856
is there any update?
My laptop is 16gb but it is DIEing very badly

[2020-08-17 10:16] mehrad-rafigh commented on #3179
Interesting! We have @nrwl/workspace as a devDependency and our migration to v10 worked just fine

[2020-08-17 12:14] Cammisuli commented on #3527
It looks like the repro repo you have doesn't have the publishable library there. I'm just wondering, are you publishing a library that uses node or angular?

I've seen some issues with Node related libs because of the change to solution style tsconfigs. This type of issue was fixed by removing the rootDir in the tsconfig.lib.json. You can read more here:
https://github.com/nrwl/nx/issues/3462

[2020-08-17 12:54] #2959 closed

[2020-08-17 13:20] nadavsinai commented on #3417
HI @ganeshpms , thanks for your reply. This is not so feasible for us.
For example under ui-elements-webkit (ui components package) we currently have 74 subpackages, moreover putting each sub-package in the global tsconfig is another manual step developers need to do to create a new subpackage - which something we want to encourage not hinder.
I would try this only for testing and report back.
asw

[2020-08-17 15:57] alexesca commented on #2856
@yeomann Had the same issue. I was able to prevent my project from creating 14+ workers by using this option in my angular.json

my-project.architect.build.options {... other options, "maxWorkers": 1 }

It helps with the workers my memory consumption is still high and even more when you use VS, Chrome, and Nx :(

[2020-08-17 16:06] ganeshpms commented on #3417
ah, I see your point, we will also hit the same issue soon. I just tried as following after your reply, it works with just two paths.  It works also with another publishable library which has reference to this library.
[code]

to make it work, I just made sure the publishable build the components library as following, instead of the default `src/lib/entry1`
[code]

by keeping the `ng-package.json`

[2020-08-17 16:45] #3466 closed

[2020-08-17 17:44] #3097 closed

[2020-08-18 01:52] gperdomor commented on #3533
@luqezman check this https://github.com/nrwl/nx/issues/1098

[2020-08-18 02:56] kylecordes commented on #2643
We have a project with a 20,000+ line angular.json file; we gave up maintaining this by hand or with schematics, and instead regenerate it frequently based on clues our ad hoc generator gets from the contents of the projects.

So… +1.

[2020-08-18 05:14] iangregsondev commented on #2646
Any movement on this or is it planned?

This is one key piece I am missing right now to be able to independently version each app in NX.

Anybody using any workarounds?

semantic-release is a great project but I would be willing to move to something else if its not possible.

If I could get each app independently versioned (package.json) and Tags in git - all the other stuff I want to do like dock

[2020-08-18 05:15] iangregsondev commented on #2646
Any planned "deploy" commands for NX, I did check the community plugins and couldn't find anything that would work here - maybe I missed something?

[2020-08-18 06:02] EmanuelaBolohan commented on #3517
Hi guys,
Is there any workaround that we can do to solve this issue?

[2020-08-18 06:39] sandeeppatidar30 opened #3546 "npm audit shows vulnerabilities for yargs-parser which is used by @nrwl/workspace"
npm audit shows vulnerabilities for yargs-parser which is used by @nrwl/workspace@10.0.12
 yargs-parser having latest version 19.0.1 but @nrwl/workspace uses 10.0.0

## Current Behavior
npm audit shows vulnerabilities for yargs-parser which is used by @nrwl/workspac@10.0.12
it shows found 8 vulnerabilities (4 low, 4 moderate)
## Expected Behavior

It should use latest version of yargs-parser which

[2020-08-18 09:23] nadavsinai commented on #3417
I did test it with the 74 direct references to the subpackages in the paths object and it did not work.
I must be missing on something here
my library has a root of `/libs/library
and the project (ng-package.json) and tsconfig properties of the builder options look like this :
[code]

in addition subpackages exist directly underneath root - not underneath src
eg `libs/library/subpackage` (with it'

[2020-08-18 11:11] gilsdav commented on #3410
+/- the same problem. I did not use NX to create my mono-repo but I would like to add the nx cache with this command.

@narlack If you created your project with NX, why don't you add nx-cloud yourself like in [this example](https://github.com/nrwl/nx-distributed-cache-example) ? If I understand the behavior of `make-angular-cli-faster` command : it's add nx-cloud feature on non nx project. So this

[2020-08-18 11:59] AsmisAlan commented on #3527
@Cammisuli Thank you for your quick response!

First of all I apologize, reviewing the demo repo I saw that I forgot to push some changes.

About your recommendation, the tsconfig.lib.json not define a rootDir, this value comes from the tsconfig.json that is located in the root of the project.
I tried to remove this value but nothing change and also I tried to overwrite the tsconfig.lib.json rootD

[2020-08-18 12:08] peterbsmith2 opened #3549 "Missing information in DataPersistence guide"
## Current Behavior

Referencing the DataPersistence guide for the navigation operator does not include full information to be able to use the example.

## Expected Behavior

The guide would include a note that makes it clear the example will only work if the StoreRouterConnectingModule is configured.

## Steps to Reproduce

1. [Read the guide](https://nx.dev/angular/guides/misc-data-persistence#d

[2020-08-18 12:10] yeomann commented on #2856
thanks man @alexesca
i am using nx with Nest project, added in workspace.json for the main "architect.build.options" and it worked.
nice trick

[2020-08-18 12:12] peterbsmith2 commented on #3549
Suggested fix, and I will open a PR to show full context...

**Current Text**
When our state depends on navigation, we can not assume the route change happened when a new url is triggered but when we actually know the user was able to navigate to the url. The navigation operator checks if an activated router state contains the passed in component type, and, if it does, runs the run callback. It pr

[2020-08-18 12:15] ericgoe commented on #2856
Hey @yeomann,
Does this rule apply too when building the project?

[2020-08-18 12:43] gilsdav opened #3551 "Split cache by apps and libs"
I think the ng cache system is only 1/3 efficient.
I think the functionality I'm going to ask for is not a nice-to-have but a must-have.

## Description

As bazel currently does, NX would need to create a cache per library and per application.

Example: we have an application which depends on 2 libraries. (app, lib1 and lib2)

If we change the code of a library, those that **do not depend** on it

[2020-08-18 12:51] geromegrignon commented on #3249
I can't reproduce the bug either.
I cloned your repo and running `ng run ng-test-e2e:lint`, the errors are correctly displayed :

![image](https://user-images.githubusercontent.com/32737308/90514770-e77c9400-e161-11ea-8953-da84ebaca0c5.png)

While removing the unused expression, the linter pass as intended :

![image](https://user-images.githubusercontent.com/32737308/90514958-3296a700-e162-11ea-8

[2020-08-18 13:39] doudounannan opened #3552 "Any plan to support hmr to build app?"
## Description

In dev env, it's a little slower to watch source file to reload the page.I think hmr is better to save building time.Any plan to support hmr?

## Motivation

## Suggested Implementation

## Alternate Implementations

[2020-08-18 13:49] #2800 closed

[2020-08-18 13:51] Cammisuli commented on #3527
Hmm, I thought it would have been related to node. It's something we're going to have to investigate then.

[2020-08-18 14:17] jogelin opened #3553 "@nrwl/web: baseHref not set in index.html on serve builder"
## Current Behavior
When I start a web application using the `--base-href` parameter, the base tag isn't set in the generated `index.html`

## Expected Behavior
I expect to see the provided base href in the `<base href="">` tag element.
It is working when using the `build` target but doesn't work for the `serve` target

## Steps to Reproduce
- create a new project by using the `npx create-nx-works

[2020-08-18 15:57] esakal commented on #1765
@jaysoo I read this issue and others and wanted to ask about your reply

Buildable libraries are great fit for **react widgets**. A react component that can be consumed using by loading the umd into the browser and render it to the page.

In such case I do want it to:
* Bundle all the imported libraries and create single umd file. But I
* Still leverage multiple libraries amazing capability and sp

[2020-08-18 16:17] ramarivera commented on #1765
Wanted to chime in to say that we have a similar use case to what @esakal mentioned:

- we use NX for organizing/splitting our libraries and enforcing boundaries within different repos (i.e. each app is a "monorepo", keeping in mind that using NX will allow us later to merge into one single monorepo),
- but we want to bundle and package a lot of Services, Modules, Constants and Interfaces as a sin

[2020-08-18 17:14] nadavsinai commented on #3417
I found this was my fault: some of the libraries had another builder - not "@nrwl/angular:package" but our own extended-lib-builder which adds stuff such as assets copying, pre/post build commands and other goodies, but internally it used ng-packager without the special runtime path mapping you're doing in package.imp.js (line 20)
`buildable_libs_utils_1.updatePaths(projectDependencies, parsedTSCo

[2020-08-18 17:14] #3417 closed

[2020-08-18 17:19] #3380 closed

[2020-08-18 17:40] mehrad-rafigh commented on #1464
Hi @ZachJW34 @EvtK @vsavkin
I am experiencing the same issue one year later. How did you guys manage to get the tests working?

@vsavkin Maybe the documentation could be updated to add some sort of guidance on how to unit test custom schematics.

[2020-08-18 17:43] EvtK commented on #1464
I'm sorry to say that I actually never managed to fix it, so finally decided to remove the unit tests for the schematics.

[2020-08-18 18:09] yeomann commented on #2856
i have not tested @ericgoe

[2020-08-18 18:32] gilsdav commented on #3551
PS: I followed this page https://nx.dev/angular/guides/ci/incremental-builds and there is nothing different when using ng without nx or with nx. And with NX, nothing is different when changing buildable or non buildable lib.

[2020-08-18 18:52] alexesca commented on #2856
@ericgoe It is defined in the build. I had this issue when running `nx serve`, but then I realized that `nx serve` has to build the project before serving it. The "maxWorkers" and "memoryLimit" in the build option help with any other commands that use build in the pipeline process.

[2020-08-18 19:46] bekos commented on #3328
@Ledzz I am going to close as it seems to be working also on new projects, but feel free to reopen if you have a reproduction scenario.

[2020-08-18 19:48] RafaelVidaurre commented on #3043
Got rid of the warning by updating `@storybook/angular` to  mayor version `6`.  Not ideal and not sure if this can cause some other problems with nx, working so far though.

[2020-08-18 19:55] gilsdav commented on #3551
Must we use this time of script ? https://github.com/nrwl/nx-incremental-large-repo/blob/master/tools/scripts/watch.js

[2020-08-18 20:19] s4m0r4m4 commented on #3138
I wouldn't label this as only scope: react, it would be nice to support angular here too, espeically with their i18n built-in capabilities.

[2020-08-18 20:22] gilsdav commented on #3551
Ok I just seen how you did it using path here : https://github.com/nrwl/nx-incremental-large-repo/blob/master/apps/app0/tsconfig.app.json

[2020-08-18 21:09] cguilhermef commented on #1465
The workaround proposed by @studds is out of date for Angular 10. I'm trying to move files using exactly the same command `mv e2e/protractor.conf.js e2e/tsconfig.e2e.json src/tsconfig* src/karma.conf.js .`, but some file has different names.

I won't create an empty project to migrate the whole code from the previous repository to a new one. Some suggestion?

[2020-08-18 21:31] fetters5 commented on #2209
We have the same issue b/c we use the query-string package, on latest versions of nx 9 and 10, we cannot get the query-string package to transpile to es5

[2020-08-18 21:36] gilsdav commented on #3551
Some numbers (build of core only because lib builds add so mutch time on increment build):

**Small app (3 libs, 53 components)**
Build of core without increment: 65s
Build of core with increment: 70s

**Huge app (40 libs, 2000 components)**
Build of core without increment: 5min35s
Build of core with increment: 3min50s

These numbers show that actual incremental build with cache is only interestin

[2020-08-18 21:58] mehrad-rafigh commented on #1464
Somewhat good news. I managed to get passed the cannot find nx.json Problem. But now I get **Cannot read property 'engineHost' of null** which comes from [here](https://github.com/nrwl/nx/blob/b55a1a96dd74fc1ecc209eb4f42959933102bd75/packages/workspace/src/schematics/shared-new/shared-new.ts#L113)

[2020-08-18 22:29] #3462 closed

[2020-08-18 23:27] charlex commented on #3251
@emjimadhu Thank you, renaming to tsconfig.base.json fixed my react library generation problem.

Perhaps something can be done when things are renamed next time to help people upgrade.

[2020-08-19 02:07] #2985 closed

[2020-08-19 06:47] asherccohen commented on #2212
Same here, why we're forced to use rollup for libs (web:package builder) when there is a a webpack compatible builder (web:build)?

[2020-08-19 09:02] bekos commented on #3245
@nestorvanz  @mathpaquette I tried to execute both the initial scenario and what @Hotell mentioned and seems to be working fine. Can you please provide any further information or an example repo in order to better understand the cause?

[2020-08-19 09:13] #3245 closed

[2020-08-19 11:01] billyjov commented on #3474
Same behavior here trying to move the entire app to another folder. `--dry-run` displays correctly the affected files but the process crash due to sub folders

[2020-08-19 12:37] cguilhermef commented on #2987
Just for the people that reached this issue and only want a quick answer:

If you generate an empty workspace, then tried to generate an angular application, and received this message:
[code]
Just run `npm i @nrwl/angular --save` before. Run above code again. Be happy.

[2020-08-19 13:02] hadrien-toma commented on #2987
This issue is closed as duplicate, please post your comments in the main one: #2953

[2020-08-19 14:05] imcvakt commented on #3417
Hi, I'm facing the same issue but with react project... Can you provide me more info about the workaround? I know it's closed but...

[2020-08-19 14:12] imcvakt commented on #3527
I'm facing the same issue but with react

[2020-08-19 14:36] #625 closed

[2020-08-19 15:38] esakal commented on #1765
Hi @ramarivera,
Do you have a temporary workaround for that? Or is it relevant to tasks later in your roadmap?

I was thinking of creating libraries without the buildable flag and adding my rollup & babel scripts under tools to bundle that library. I didn't have any luck, but this is what I'm trying to achieve.

If you did something else, I will be happy to try it out.

[2020-08-19 15:49] ramarivera commented on #1765
It is relevant to tasks later in our roadmap. When we found out we couldn't bundle non buildable libs as easy as expected, we decided to leave it for now and review our scope for next sprint.

One thing we will take a look at later is the nx ngpackagr https://github.com/ng-packagr/nx-packaged. It's a bit outdated (last commit Feb 2019). We also will take a look at creating a custom builder that le

[2020-08-19 17:11] Cammisuli commented on #2635
This is kinda related to running Jest within VsCode. I'll take care of this.

[2020-08-19 17:12] Cammisuli commented on #2764
I'm going to close this issue as there hasn't been a response in quite some time (after my last comment). If the issue still persists, a new one can be opened. Thank you!

[2020-08-19 17:12] #2764 closed

[2020-08-19 19:27] D0rmouse opened #3565 "Migration to @nrwl/workspace@10.0.12 fails"
Migration to @nrwl/workspace@10.0.12 fails.

## Current Behavior
Migration failes (and takes a really long time), with the message
`Unknown error: Error: No valid exports main found for 'D:\dev\projects\xxxxx\node_modules\@angular\cli\node_modules\uuid'`

## Expected Behavior
Migration succeeds.

## Steps to Reproduce

From a @nrwl/workspace@9.2.2:
`npm run nx migrate @nrwl/workspace@10.0.12`
`npm

[2020-08-19 19:35] D0rmouse commented on #3565
I should remember Google is my friend 🙈
https://stackoverflow.com/questions/62832881/unknown-error-error-no-valid-exports-main-found-for-src-main-ui-node-modules-u

I ran the migration with node 13, switching back to node 12 fixed it.

[2020-08-19 19:37] #3565 closed

[2020-08-19 19:38] PranamBhat commented on #1549
![Ivy Workspace Error](https://user-images.githubusercontent.com/32120033/90681785-99f74880-e281-11ea-9f7c-c5342d984acc.JPG)

[2020-08-19 19:58] gioragutt commented on #2001
@jdpearce hey man, just dropping by to ask if there's anything similar for other app/library types?

F.E if I used `nx g @nrwl/node:lib my-lib` and I would like to rename `my-lib` to `their-lib`? 😅

[2020-08-19 19:58] iangregsondev commented on #3377
@vsavkin Nice to see you are going to document Golang / .Net - these 2 things really appeal to me. Using golang and .net core would be great!

Please give some love to Dart / flutter :-) I should imagine having a golang/.net plugin then the dart/flutter would be very similar ?

Dart/Flutter is very popular right now and I have been using it for the past 4 weeks and I am completely blown away - its

[2020-08-19 20:05] iangregsondev commented on #3377
@vsavkin In my honest opinion it would be really nice to have some sort of deployment help or integration with "conventional commits".

There is the excellent library called semantic-release but this is only for javascript - it would be really nice to be able to get some kind of support for

1. conventional commits
2. conventional changelog
3. github releases

This is the thing that's giving me a

[2020-08-19 21:37] beeman commented on #3377
@iangregsondev shameless plug(s), you can already us Go in Nx using [nx-go](https://github.com/nx-go/nx-go).

With regards to releasing packages, check [nxpm](https://nxpm.dev). It doesn't do changelogs yet, but I'm happy to talk about that/merge PR's that add it :-)

[2020-08-19 22:52] iangregsondev commented on #3377
Thanks @beeman , yep I found the nx-go after sending the above - thank you!

nxpm - I didn't know about! I am going to take a look - thanks again!

[2020-08-20 04:02] rolandoldengarm opened #3567 "Cypress Builder: Support for Percy.IO"
## Description
Percy.io requires that Cypress is wrapped inside a Percy command, see step 4 [here](https://docs.percy.io/docs/cypress). The NRWL Cypress builder does not support this, as it is running Cypress directly [here](https://github.com/nrwl/nx/blob/master/packages/cypress/src/builders/cypress/cypress.impl.ts#L182).

## Motivation
Percy.IO is an amazing tool for visual tests.

## Suggested

[2020-08-20 07:29] mehrad-rafigh commented on #3567
What about the people not using percy? How would this change affect them?

[2020-08-20 08:55] hadrien-toma commented on #1970
@panraj01, I get

[code]

[2020-08-20 09:03] hadrien-toma commented on #1970
@panraj01, on my side:

[code]

And:

[code]

Context:

[code]

[2020-08-20 09:18] hadrien-toma opened #3571 "`nx e2e` with Cypress triggers `Unknown option: '--env'`"
## Current Behavior

The `--env` flag is not recognized by the `nx e2e` command.

## Expected Behavior

I would like to be able to use an `--env` flag to specify custom variables for Cypress on the command line, as we can do with the [`cypress run` command](https://docs.cypress.io/guides/guides/environment-variables.html#From-the-command-line-or-CI).

## Steps to Reproduce

- Create an app with Cy

[2020-08-20 09:21] mehrad-rafigh commented on #3571
Experienced the same issue. I will open a PR later today!

[2020-08-20 09:57] hadrien-toma commented on #2883
"The best solution" is always relative to a point of view. For me the best solution has to be open source for instance. So having a way to clear the cache locally, specifying for instance "only the cache of Cypress" would be useful.

[2020-08-20 10:25] bekos commented on #3240
hi @timbakkum :) sorry for the late reply but your issue seems to be fixed via https://github.com/nrwl/nx/commit/3cc2521 and it is available since v9.5.0. Can you confirm that is also working for you now?

[2020-08-20 10:26] shushlyakov opened #3572 "npx create-nx-workspace: error"
## Current Behavior
npx create-nx-workspace@latest

## Expected Behavior
It should create a new nx-workspace

## Steps to Reproduce
[code]

### Environment
Fedora 32
Node v13.1.0
npm 6.13.7

[2020-08-20 10:48] #3572 closed

[2020-08-20 11:05] bekos commented on #3349
@borisd indeed, the type checking happens once per build, so this is not so as bug as a feature request to be able to disable type checking 😃 tbh though, I am not so sure that it has any value, because in this case, why use typescript in the first place? 🤔

Can you please elaborate on the motivation behind it? Is it only for performance reasons?

[2020-08-20 11:31] bekos commented on #3571
@hadrien-toma @mehrad-rafigh I think this is related to the way we parse the extra arguments. I have a PR open already to fix the arrays, but I will change it to a more generic approach so we can avoid such issues in the future. Stay tuned 😄

[2020-08-20 11:39] borisd commented on #3349
We are using the same code to build a number of similar sites (just different .env). Since moving to NX from plain TS project the build time went up 5x (multiplied for each site).

Would be nice to be able to run TS check once and have build ignore this step on same build with different env.

[2020-08-20 12:27] bekos commented on #3571
@hadrien-toma my PR solves the issue of `--env=[object Object]` but even then I get this error for `ng`:
[code]
Have to investigate it more!

[2020-08-20 13:15] asherccohen commented on #2212
[Followup]

A nice to have would be to include javascriptEnabled flag and modifyVars for LESS compilation in rollup postcss configuration;

[code]

[2020-08-20 13:24] Oddisey commented on #1175
For anyone that is like me and was having issues going from a solution like @olakara 's

To a solution like @Tomerl101 's

The difference between these solutions is that when using the first one, you need to start your NestJS back end on your own, and then run the debugger to watch that running application. With the second one, the dubugger actually starts your NestJS application as well. I think

[2020-08-20 14:48] imcvakt commented on #1765
@esakal I have the same issue with react apps. I was discussing that with some friends who already use Nx for a long time... And they have same answer as @ramarivera has.

Unfortunately , it does not work to react... So my workaround will be generate everything as publishable, I don't know if it will have any impacts on the future, any thoughts ?

[2020-08-20 15:26] jdpearce commented on #2001
@gioragutt The `@nrwl/angular:mv` schematic actually depends on a very generic `@nrwl/workspace:mv` schematic, so you can just use that one instead - e.g. `nx g @nrwl/workspace:mv --project my-lib --destination their-lib`

[2020-08-20 15:32] hadrien-toma commented on #3571
Ah sorry, I think the correct command should in fact be: `--env myEnvKey=myEnvValue` like in the Cypress documentation. Thank you very much for the help!

[2020-08-20 17:26] FrozenPandaz commented on #3538
Good catch! Would someone from the community like to send a PR to use the link in the README.md instead? That one is still valid.

[2020-08-20 19:15] #3020 closed

[2020-08-20 20:09] sameerinfodb opened #3575 "Linting related issue in Nx10"
## Current Behavior
ng lint performs linting of all the project, but nx lint or npm run lint does not perform linting of all the project in the workspace in Nx10

## Expected Behavior
Should perform linting of all the projects in the workspace. Just like ng lint

## Steps to Reproducehould
Here is the link to source code  [Link](https://github.com/sameerinfodb/seed-work-space)
1. Download load the

[2020-08-20 21:54] james-gibson opened #3576 "@nrwl/workspace:run-commands crashes silently when processing a large quantity of log output"
## Current Behavior
@nrwl/workspace:run-commands crashes when given too much output text

## Expected Behavior
@nrwl/workspace:run-commands should not crash when given too much output text

If @nrwl/workspace:run-commands must crash, it should provide more debugging information.

## Steps to Reproduce
[code]
See https://github.com/james-gibson/nx-run-commands-mem-test

### Failure Logs
[code]

###

[2020-08-20 23:18] jeffbcross commented on #3576
Thanks for the reproduction, I've asked the Nx core team to take a look.

[2020-08-21 01:43] vsavkin commented on #3576
Thanks for submitting the issue.

Fixed it here: https://github.com/nrwl/nx/commit/f96377b74e7a6332e6f3005a9a6fa811571a8a0b

It will be part of 10.1, which we are going to release tomorrow.

[2020-08-21 04:24] #3423 closed

[2020-08-21 05:57] esakal commented on #1765
@ramarivera @imcvakt thanks for your insights.

@imcvakt the problem with publishable is that it will create separated libraries instead of single one. Since I plan to deploy only single library that includes everything, that solution is not relevant in my case.

This is part of product that we actively develop at the moment so I must find a proper solution with/without NX. Since I love NX and thi

[2020-08-21 07:30] trumbitta commented on #3377
@iangregsondev I've been working with semantic-release in Nx monorepos for two years now. It's not optimal, but it's good. What kind of problems are you having?

[2020-08-21 07:48] tmtron commented on #3453
it seems that this was fixed in `10.0.13`

[2020-08-21 07:48] #3453 closed

[2020-08-21 08:06] iangregsondev commented on #3377
Hi @trumbitta,

Thanks for getting back. I will try and outline them here.

I thought of using only one package.json and using conventional commits and use the "scope" to identify which service it is for. I am assuming you are only using 1 semantic release?

Using the above method then there would be only ONE changelog.md but would contain all the scope changes ie..

[code]

Notice the scope in th

[2020-08-21 08:27] trumbitta commented on #3377
@iangregsondev for me it's just a matter of thinking in terms of a monorepo and embrace it as it is, instead of trying to make it work like I want it to.

Yup, that's what I'm doing as swell. Sometimes I'll add a feature name to the package name in scopes, but it's up to the team to choose one convention over another for scopes.

Yep, I have one big ChangeLog. But it's ok because the repo it's a m

[2020-08-21 08:47] datumgeek commented on #2660
i'm using angular 10 workspace with app & library, and i was having trouble setting breakpoints in my library.

i needed to tell "ng serve" to include vendor sourcemaps...

add a "sourceMap" object to your "angular.json" under projects / "my-app" / architect / "serve" / options:

[code]

[code]

`launch.json`:

[code]

[2020-08-21 09:51] dogancana opened #3577 "Option to exclude file pattern while calculating affected projects"
## Description
Affected logic is used in various tasks and some file patterns are not necessary in some of these tasks. An example would be excluding style files while running unit tests.
I'd like to have an option to pass an ignore file pattern for affected command.

## Motivation
This would decrease affected projects, resulting in faster execution times.

## Suggested Implementation
Could filter

[2020-08-21 10:48] ThatMate opened #3578 "nx 9 React build hangs forever"
I have upgraded from nx 8 to 9 as I have mentioned here: https://github.com/nrwl/nx/issues/2946#issuecomment-673669180

This has been working for `nx serve adm` where `adm` is a react project.

But it hangs forever when I try to do a build. This is blocking us from release.

## Current Behavior

Here is what I see: **(started at Fri Aug 21 15:57:38 IST 2020)**
This build takes 23 minutes for a sma

[2020-08-21 12:36] florianeichin opened #3579 "Gitlab CI build:affected caching"
## Description

We use Gitlab CI to build our applications and we evaluate nx for monorepo management.
Locally we had some promising results already.
Now we want to increase our buildtimes on the CI with the build affected.

Our setup is like the following:

- Lib A (Dependencies: None)
- Lib B (Dependencies: Lib A)
- Lib C (Dependencies: Lib A)
- App (Dependencies: Lib B, Lib C)

Locally we have

[2020-08-21 18:49] spaceghostu opened #3584 "npx create-nx-workspace fails"
## Current Behavior
Does not create workspace after asking questions

## Expected Behavior
Create a nx workspace

## Steps to Reproduce
run "npx create-nx-workspace"

use these values in questions:

? Workspace name                                        example
? What to create in the new workspace      angular
? Application name                                        example
? Default stylesheet

[2020-08-21 21:03] devjack-front opened #3587 "Generate nx workspace without node_modules folder"
Can I run npx create-nx-workspace ....  and it generate without install the packages?
I'm automating this creation e it not need the node_modules folder

[2020-08-21 23:58] Ambroza888 opened #3589 "How to deploy only an affected nx service to GCP APP Engine"
[1]: https://cloud.google.com/appengine/docs/standard/nodejs/configuration-files#examples

Given that I have an NX application with multiple services, and I want to do continuous deployment of only affected service/s to App Engine, how can I point to a given **service.yaml** (or multiple) within the common **cloudbuild.yaml** for the project?
Each service in the monorepo has its own service.yaml a

[2020-08-22 03:40] nartc opened #3590 "Copy Plugin errors out with Nx 10.1.0"
## Current Behavior

Running NestJS backend with Nx 10.1.0 errors out with the following error:

[code]

## Expected Behavior

Should work.

10.0.13 worked fine.

## Steps to Reproduce

https://github.com/angular-vietnam/jira-clone-angular/tree/feature/github-signin/ngvn
The issue can be reproduced using this repo.
1. Clone the repo
2. Check out branch feature/github-signin
3. `cd ngvn`
4. Update

[2020-08-23 20:49] ZachJW34 commented on #3505
@twittwer I can get to this one if you haven't started working on it. @Cammisuli should another migration be added to remove these options from projects that have been generated since the [last migration](https://github.com/nrwl/nx/commit/12a407f8cbb16b6057cd19bfb26bc5a8fb8c60c8)?

[2020-08-24 05:58] florianeichin commented on #3579
Thanks for the Reply, but no that doesn't really solves my problem. When building --with-deps I always build all the unerlying libs as well. So the lib A in this example would always run a build. As we have some base libs, that are almost never changed, we would build them a lot without need.

[2020-08-24 08:17] twittwer commented on #3505
@ZachJW34 I would have started this afternoon, but you can take it - thx 👍

[2020-08-24 08:41] ahnpnl commented on #3575
I have the same issue, this issue started from nx 9, nx 8 doesn't have this issue.

[2020-08-24 14:33] #2910 closed

[2020-08-24 14:51] mandarini commented on #2382
Hi there @asherccohen ! We are waiting for [PR #3264](https://github.com/nrwl/nx/pull/3264) to be fixed, that will solve this issue!

[2020-08-24 15:28] doudounannan commented on #3377
I have the same issue and don't know how to solve.

[2020-08-24 15:38] doudounannan commented on #3377
I use React. In dev env, any plan to support hmr instead of reload?

[2020-08-24 16:23] mehrad-rafigh commented on #2483
Hey guys, we are really looking for this feature. Is there any plan to implement this?

[2020-08-24 17:06] bekos commented on #2483
hi @mehrad-rafigh .... since v10.1 you can use globs in `implicitDependencies` files paths, like `"styles/**/*.css": "*"`. Does this solve your issue?

[2020-08-24 17:57] tmtron commented on #2147
@shlomiassaf and what do you recommend instead? i.e. for me [this](https://github.com/nrwl/nx/issues/2147#issuecomment-587168523) is the only workaround that works right now...

[2020-08-25 02:03] mohijalili opened #3595 "Getting error while trying to migrate to Angular 9"
## Current Behavior

Executing 'migration-v9-undecorated-classes-with-di' of package '@angular/core'

## Expected Behavior

Updating Nx following https://nx.dev/angular/guides/update guide goes without errors.

## Steps to Reproduce

- nx migrate @nrwl/workspace@9
- npm install
- nx migrate --run-migrations=migrations.json
- we have an error

### Failure Logs

[code]

### Environment

[code]

[2020-08-25 03:49] beeman commented on #3464
Running into the same issue.

I worked around it by symlinking workspace.json to angular.json:

[code]

@brandonroberts I got a repro. Can't make the repository public as it's not open source, but I can share it with you if that helps.

[2020-08-25 06:03] arjunyel opened #3596 "Package*.json entry in angular.json assets causes node serve infinite loop"
## Current Behavior

After upgrading from NX 10.0.13 to 10.1.0 When serving my Nest app in development mode it successfully compiles then starts compiling in an infinite loop. The serving an Angular is working correctly, this is specific to a node Nest app.

Note that it works if I revert the `@nrwl/node` dependency from 10.1.0 to 10.0.13 but leave all other nrwl dependencies alone, so it's a regr

[2020-08-25 06:30] mehrad-rafigh commented on #2483
Hi @bekos. I'm afraid it doesn't solve my issue. I would need to be able to ignore the version property in package.json. Would I be able to achieve this with v10.1?

[2020-08-25 08:31] #3450 closed

[2020-08-25 10:07] iangregsondev opened #3599 "Exclude a file from the webpack watch? - currently causes a rebuild which I don't want it to"
Hi,

Can anyone help ?

I am extending a webpack config to create a json file (version.json) which contains a git hash - which I need for my app.

I do it like so

[code]

The problem here is that when I first start the app (serve) then I get the app restarting the build process, so it almost finishes and then restarts the build again.

This is because of the version.json file, the file changes so

[2020-08-25 10:34] bekos commented on #3240
Closing as there is no response, but feel free to open a new issue if there is still a problem

[2020-08-25 10:34] #3240 closed

[2020-08-25 10:39] bekos commented on #3349
@borisd It would be weird if such slow build times are caused only by the type checker 😕 I will open an issue so we can investigate it deeper, but for now I will try to send a PR to avoid the type checking for the legacy builds. I hope this is a first good step 😃

[2020-08-25 12:08] scdc opened #3601 "Web package builder overrides target of tsconfig.lib.json"
## Current Behavior
When building umd module with web package builder, the typescript target config of the library is overriden with 'es5'

## Expected Behavior
Nx Package bundler should use target from the tsconfig.lib.json of the library.
It's a regression from Nx 8 where the correct target was used.

## Steps to Reproduce

The problem is located in

https://github.com/nrwl/nx/blob/master/packag

[2020-08-25 13:25] Lonli-Lokli commented on #812
Still same issue with anagular, jest-babel does not work and I actually do not want to meess both of them just because of this lodash-es stuff...
wtf

[2020-08-25 14:40] dbvcode commented on #3590
Seems creating a file in the fake assets folder is also needed.

[2020-08-25 14:44] emanuelcostea opened #3602 "How I can extract a library with React components as a separated JS file with all dependencies included?"
## Description
I have a component library with various React components and storybook attached to it. Would like to extract this components and later to be able to use them independently without nx.
I was looking over https://nx.dev/react/plugins/web/builders/package but I can't figure it out what settings I would need to add to be able to run the package command. When I try to run it, it says tha

[2020-08-25 15:08] joshribakoff opened #3603 "Weird jest output"
## Current Behavior
Expected actual output has random integers unrelated to my test?

![Screen Shot 2020-08-25 at 8 05 56 AM](https://user-images.githubusercontent.com/4021306/91191685-eee3f600-e6a9-11ea-8f76-f3069da88e74.png)

## Expected Behavior
Match behavior in create-react-app, no random stuff in test output:

![Screen Shot 2020-08-25 at 8 05 13 AM](https://user-images.githubusercontent.com/

[2020-08-25 15:15] scdc commented on #3602
For packaging web module you should add the following code to your web library the package builder inside your nx workspace.json or angular.json file
[code]

But for react project and library, I think there a specific plugin for that and the web packager plugin will not be sufficient

[2020-08-25 15:30] luqezman commented on #1098
@tfalvo do you think having e2e for nestjs is not tricky and stable?

[2020-08-25 16:17] stramel opened #3604 "e2e not using cached builds"
## Current Behavior

When running the production e2e tests, it currently builds/rebuilds the application every time the command is invoked.

## Expected Behavior

When running the production e2e tests, I would expect it to be able to use the cached / previously built application unless the `skip-nx-cache` flag is passed or the caching is disabled for build.

## Steps to Reproduce

- Run build
- Ru

[2020-08-25 16:20] joshribakoff opened #3605 "React testing improvements"
## Description
I'm normally used to using Enzyme but I noticed Nx used react-testing-library in our project w/ no option to change it within Nx.

I started trying to learn react-testing-library & then [ran into this issue](https://github.com/testing-library/react-testing-library/issues/379) because ~the jest custom matchers are not setup.~ I guess I just need to import this at the top of every tes

[2020-08-25 16:50] esakal commented on #1765
@jaysoo should I open a new issue for this?

[2020-08-25 18:03] ZackDeRose opened #3606 "Add publishable option for @nrwl/web:library schemativ"
## Description

Currently, building a library with @nrwl/web does not have a publishable option (like @nrwl/angular, @nrwl/react, @nrwl/node, etc.)

## Motivation

People have reached out RE: creating publishable libs for web in Nx.

In general publishable libs seems an attractive feature to add for all 'frameworks'.

## Suggested Implementation

I expect we could reuse (or copy) similar method at

[2020-08-25 18:23] ferdiemmen commented on #3490
My issue has been resolved by using file replacements and creating a library for shared functionality. Although the dep-graph still has this limitation, it is not a limitation for the way we currently use dep-graph. Thanks @FrozenPandaz and @philipjfulcher for taking the time to look into this issue.

[2020-08-25 18:23] #3490 closed

[2020-08-25 18:51] joshribakoff opened #3607 "Adding tests broke our build"
https://github.com/rx-store/rx-store/pull/63 build fails adding tests to upstream lib because the `affected` command doesn't understand that the "core" lib must be built in order to first test the "react" lib which consumes from the "core" lib.

Sorry I didn't use the template, not much time & I think its straightforward. Happy to provide more details, and everything is right there open source.

[2020-08-25 18:58] joshribakoff commented on #3607
I'd propose it should build the core even w/o `--with-deps` if the core is not already built, instead of error'ing? Or determine when its needed & always build it, without needing a flag? Why would you ever want stale build output?

[2020-08-25 19:48] vaunus commented on #3351
I am seeing an issue caused by this commit that is preventing Babel from working correctly within my customised NX configuration.

I am trying to add ``` "import/resolver": { "babel-module": {} } ``` to my `.eslintrc` as I would like to add some JavaScript-only module aliases. I am using `babel-eslint` as my `.js` file linter but am seeing linting errors as Babel fails to resolve the module.

As s

[2020-08-25 20:13] joshribakoff commented on #3607
Feel free to close this, it seems `--with-deps` did fix it, but my feedback is that it seems un-intuitive, one alternative (if there's some need for people to have stale deps, maybe for perf or due to some known limitation) would be to default to it being on? Or maybe Nx could provide some more "out of the box" setup for CI checks  [we apparently got ours a bit wrong initially]

[2020-08-25 23:23] Cammisuli commented on #3505
Yes, I think a migration should be added again. It'll most likely be the same set up as the original migration (without the jest config modifications 😄 )

[2020-08-25 23:31] imaustink commented on #2219
Correct

With caching disabled, `print-affected` (and seemingly all other NX commands) works as expected, meaning it prints out a JSON object of the projects, libs, and dependencies that changed.

[2020-08-26 04:19] michael-letcher commented on #3464
Same issue. I ran @beeman command and re ran
`nx migrate --run-migrations=migrations.json`

New error:

[code]

[2020-08-26 04:23] then3rdman commented on #2570
I have run into this exact situation! Slightly less complex however.

I am using a lib that container my auth store, its being used in the login feature lib. I want to use the navigated helper to generate a cookie when the login component is loaded however this is a direct circular dependancy.

I see no way around this.... that is if i am going to the navigated helper.....

[2020-08-26 06:09] darkowic opened #3609 "Support different eslintrc file formats"
## Description

Currently seems like only `.eslintrc` file is supported for eslint configuration. But eslint allows storing configuration in different more convenient file formats like `.js` - https://eslint.org/docs/user-guide/configuring#configuration-file-formats-1

## Motivation

Js format is easier to write and allows more flexibility.

## Suggested Implementation

## Alternate Implementation

[2020-08-26 06:33] darkowic opened #3610 "Inject NODE_ENV=production when building app with --prod"
## Description

`NODE_ENV` env variable is used widely in the js environment to mark the production version of a build.

## Motivation

Production build command has to be run with `NODE_ENV=production` to get the best optimization result.

Without `NODE_ENV=production`:
[code]
with `NODE_ENV=production`:
[code]

Without providing this env variable I get following warning in the browser console:
[c

[2020-08-26 09:12] mandarini commented on #3428
Hi @ericwooley ! Thanks for filing an issue!

Unfortunately, I could not reproduce your issue 😞 .
Let me tell you the steps I followed, and you can tell me if you did the same!

1. Create an Nx workspace with Nx v9
    - `npx create-nx-workspace@9.0.0 test-workspace`
    - choose to create a `react` app
2. From within the workspace, generate a react library and a react component in the library

[2020-08-26 09:45] webberwang commented on #3609
I agree with this as well. I encountered issue when using TypeScript ESLint Parser, which requires `tsconfigRootDir` to be set. Using `__dirname` was the only way I could resolve the path correctly across IDE's.

[2020-08-26 09:51] webberwang commented on #3607
The doc does make the distinction https://nx.dev/angular/cli/affected-build

<img width="595" alt="cli__affected_build___Nx_angular_documentation" src="https://user-images.githubusercontent.com/26264925/91289226-ec83a980-e746-11ea-856e-3f6d280ebee9.png">

I think making it opt in / out is more complicated. Reading the docs above, one can deduce that `affected` means direct code change, and `--with

[2020-08-26 09:58] webberwang commented on #3603
Are you referring to the `-3` `+1`? That is the line diff count & is normal behavior

[2020-08-26 10:05] webberwang commented on #3587
I would look into https://www.hygen.io/ or https://yeoman.io/ if you want more control in scaffolding apps.

Wouldn't really make sense to add a flag to omit node_modules for `create-nx-workspace`

[2020-08-26 10:08] webberwang commented on #3584
<img width="651" alt="webber_webbers-mbp____Sites_Codelab" src="https://user-images.githubusercontent.com/26264925/91291105-6c127800-e749-11ea-9e7d-8f42e2553516.png">

[2020-08-26 10:12] webberwang commented on #3584
```Unknown error: Error: No valid exports main found for '/private/var/folders/_8/y_vc5mbj15l740gvbbdhlh1c0000gn/T/tmp-77457K4hhpc2jvdc8/node_modules/uuid'```

Could be some issue with your cache. Clear your npm or yarn cache then try again

[2020-08-26 10:13] webberwang commented on #3578
What command did you type to migrate?

[2020-08-26 10:18] webberwang commented on #3577
Here is a hack for the time being.

Currently you can specify a comma separated list of files to include using the `files` flag.

You could glob your project using the excluded files/extensions, then transform that into a list, then pass into files.

[2020-08-26 10:20] webberwang commented on #3575
Yeah this needs to be fixed

[2020-08-26 10:25] webberwang commented on #2382
I fixed this in the PR https://github.com/nrwl/nx/pull/3611, added some unit tests as well. Let me know if anything needs to be changed.

[2020-08-26 10:37] dogancana commented on #3577
Thanks @webberwang. I actually started to plan that. But I realised that I'm building my own 'find affected' logic. That's why I created this suggestion

[2020-08-26 11:09] smakhtin commented on #3069
I'm also experience the same problem in my monorepo.

[2020-08-26 13:34] mehrad-rafigh commented on #3567
We are really interested to use percy. Should I create a PR?

[2020-08-26 15:20] #2448 closed

[2020-08-26 15:35] joshribakoff commented on #3607
I agree on the making it more complicated being a downside. That’s why I’m not sure why we have the flag at all, and it doesn’t always build deps of affected projects in all cases where it needs to be built (maybe store a hash in the dist, if it’s missing or invalid a rebuild is required?)

Cheers

[2020-08-26 15:37] joshribakoff commented on #3603
Got it, thanks. Wasn’t familiar with seeing that FYI. I wonder if there’s a reason they default it to off

[2020-08-26 15:37] #3603 closed

[2020-08-26 15:38] webberwang commented on #3607
Did you mean that even with `--with-deps` it doesn't always build required dependencies?

[2020-08-26 16:00] shayll-herolo commented on #812
the only thing that worked for me was to add this to the main `jest.config.js`
[code]

make sure you have `lodash` in you devDependencies

[2020-08-26 16:59] ericwooley commented on #3428
I can no longer reproduce either, I am not sure what was causing the issue. Maybe so kind of misconfiguration with global typescript install or something.

Sorry for wasting your time with that, and thank you for looking into it.

[2020-08-26 16:59] #3428 closed

[2020-08-26 19:15] joshribakoff commented on #3607
Sorry I worded that a bit confusingly. There is 2 points I'm trying to make, I guess.

1) I am not sure why we have `--with-deps` flag, I cannot think of any case where I would not want to build my deps. It also seems like nx could potentially store a manifest of hashes, and use this to detect when building deps is needed, all automatically so no flag would be needed anymore.

2) In our repo at le

[2020-08-27 00:41] jbeckton commented on #2563
Broken for me too, maybe Yarn was not such a good idea after all? Maybe allow us to choose which package manager to use?

[2020-08-27 00:50] jbeckton commented on #2563
I guess I won't be able to use NX...

Jesses-MacBook-Pro:DigitalResponseMarketing Jesse$ npx create-nx-workspace@latest --unhandled-rejections=strict
npx: installed 193 in 11.359s
? Workspace name (e.g., org name)     drms
? What to create in the new workspace empty             [an empty workspace with a layout that works best for building apps]
? CLI to power the Nx workspace       Nx           [

[2020-08-27 01:20] iorran commented on #3529
@mikelgo have you tried to clean your cache? npm/yarn

[2020-08-27 03:23] KyleBastien opened #3612 "Currently can't specify specific files for Nx to cache, only folders"
## Description
Currently, you can use the outputs node on the build target to specify which folders you would like Nx to copy to cache, but you can't specify individual files. This is restrictive because I can't exclude specific sub folders from my `dist`, but continue to include all the files outputted at the top level of my output.

## Motivation
Let's say you have a library called `my-lib`, and

[2020-08-27 06:13] mikelgo commented on #3529
@iorran yes, I also ran `npm cache clean` and `npm cache verify`.
I also re-installed my global `nx` package

[2020-08-27 08:38] Ledzz commented on #3328
@bekos sry for th delay, here's the repro: https://github.com/Ledzz/nx-assets-repro
I'm using windows 10.
`git clone`, `npm i`, `npm run build:mylib`. File theming.styl is missing in dist folder, but it is specified in workspace.json.

[2020-08-27 08:57] mandarini commented on #3428
Hi @ericwooley ! Thank you so much for checking again! No worries at all, we're always glad to help out the community! I'm so happy you worked it out! 😄

[2020-08-27 13:05] emanuelcostea commented on #3602
Thank you for your response.
I added something similar and the build process is working, but now I have an issue with resources that are included from another library.

This is the definition that I use for build target
[code]
[code]

`libs/shared/assets` is another library with all static assets (images, svgs and fonts). `/libs/components` is the library that I want to build as separated package.

[2020-08-27 13:20] iorran commented on #3602
@emanuelcostea that issue you are facing is the same I'm facing.

For example, let's say I have a library A and it's buildable/publishable... and it depends on library B...

All child libs must be buildable/publishable!

[2020-08-27 13:21] ahnpnl commented on #3575
the workaround is following the workaround written in `decorate-angular-cli.js`

[2020-08-27 13:38] sameerinfodb commented on #3575
@ahnpnl  sorry i did not understand this statement. please explain.

[2020-08-27 13:58] ahnpnl commented on #3575
When migrating to nx 9, nx added a `decorate-angular-cli.js` file, this file contains some comments which describes the way how to opt-out it. If you follow the instruction in that file, it will solve the issue.

[2020-08-27 14:00] emanuelcostea commented on #3602
Added the build target with the same options for my shared/assets library.
[code]

I get this error now, I presume is because I have static assets in that library (svgs, pngs and fonts files).

[2020-08-27 15:12] sameerinfodb commented on #3575
will that disable the computation cache feature because now command will be executed with ng instead of nx right.

[2020-08-27 15:56] ahnpnl commented on #3575
I think so, the whole lint issue is caused by that file. My colleagues also told me that `ng` commands are kind of broken because of that script.

[2020-08-27 16:02] eternalmatt opened #3618 "Clarification on @nrwl/angular as a prod dependency"
The instructions to install @nrwl/angular are as a devDependency (--save-dev)
https://nx.dev/angular/plugins/angular/overview#adding-the-angular-plugin

However, I would like to use fetch from '@nrwl/angular' in production code as in:
https://nx.dev/angular/guides/misc-data-persistence

As such it is including many unnecessary files in my production node_modules
[code]

**Question**, should the do

[2020-08-27 16:22] Hotell commented on #3231
this PR adds similar DX capabilities to workspace-schematic, like nx plugins provide
https://github.com/nrwl/nx/pull/3617

[2020-08-27 17:04] sameerinfodb commented on #3575
@vsavkin do we have a command to initiate the computational Cache explicitly.So that after opt-out the decorate-angular-cli.js script,we can use the computational cache.

[2020-08-27 21:57] johnwest80 commented on #1518
I, too, am struggling with this.  Will there be any effort to improve this experience?

[2020-08-28 10:53] ls-jonas-ostir opened #3620 "Theme aware css shortcut in lib does not apply styles after nx workspace@10.1.0 migration"
## Current Behavior

[The css Prop](https://emotion.sh/docs/css-prop) from emotion throws a warning: `Invalid value for prop 'css' on ... tag` in a react component library using the [`Babel Preset`](https://emotion.sh/docs/css-prop#babel-preset) and [with theme aware (css) shortcut](https://styled-system.com/css/) after migrate to nx workspace@10.1.0.
It does not apply styles altogether.

## Expec

[2020-08-28 12:40] Peyman-98 commented on #2953
same error for me when using nx g @nrwl/angular:app (Collection "@nrwl/angular" cannot be resolved)
any tips?

[2020-08-28 13:02] brandonroberts commented on #3346
Thanks @Doginal

[2020-08-28 13:02] #3346 closed

[2020-08-28 13:05] brandonroberts commented on #3285
Thanks @billyjov. Feel free to reopen this issue if you're still having problems

[2020-08-28 13:05] #3285 closed

[2020-08-28 13:15] beeman commented on #2953
Did you install the package '@nrwl/angular'?

[2020-08-28 13:33] Peyman-98 commented on #2953
Thanks a lot. it worked. i wonder why there is no mentions on this for empty workspaces.

[2020-08-28 13:41] brandonroberts commented on #3491
Closing this one to track with the original reported issue

[2020-08-28 13:41] #3491 closed

[2020-08-28 14:18] bekos commented on #2483
@mehrad-rafigh sorry I missed your response! no, it doesn't seem to be supported 😞 the problem I see though, is that the proposed syntax is not compliant with the current format, as the value of `implicitDependencies` is always the affected projects 🤔 So a syntax that would make more sense could be:
[code]
I will try to take a look and see if this an easy change 😃

[2020-08-28 14:45] wimme commented on #1604
We would like to run multiple Cypress instances simultaneously on our CI environment to test different applications in the Nx workspace in parallel. But as described above, it fails when launching multiple as the port is already in use:

[code]

It says to specify a different port, but I don't get it to work:

[code]

Is there any way to do this?

[2020-08-28 15:14] thiessenp commented on #3596
I came across the same error/scenario. I wonder if this is a file path globbing issue?
(maybe related to this commit https://github.com/nrwl/nx/commit/5a59f090fe4dc38a9c5ecce69e5c8d2a6b3f6bb4#diff-9c963a31a1b9f6c1174cb8b934dfceb9)

[2020-08-28 15:17] arjunyel commented on #3596
@thiessenp just to double check, is the issue fixed for you by downgrading @nrwl/node to 10.0.13?

[2020-08-28 16:07] elvirdolic commented on #1604
@wimme Each application should have it’s own localhost port If you create your apps with nx. You can than use affected command and parallel flag

[2020-08-28 17:15] thiessenp commented on #3596
@arjunyel yup, if I rollback to an earlier version the issue goes away

Unrelated info I think but just encase: the error for me happens in projects that have custom typescript linting rules (two different node API's). The generic/default config works fine (angular client). This is why I have a suspicion about the file path globbing rules but I don't really have anything to back that up.

[2020-08-28 19:25] webberwang commented on #3607
1) `--with-dep` works across different commands, like test etc Taking `--with-dep` out would break all those features. You could just add `--with-dep` to your build script to resolve the issue.

2) you'll need to post your project so we know how it is configured, otherwise we won't have enough information

[2020-08-28 19:45] iorran commented on #3602
@emanuelcostea we are on the same page now! Let's find a way to solve it.

[2020-08-28 20:33] joshribakoff commented on #3607
1 - why would you need to ask Nx to run tests for (unchanged) deps? Why not run tests for all the affected packages and build dependencies (as needed)?

2 - see link in my OP to failing PR / our project

This is resolved and is just feedback so feel free to close if you think the current behavior is good

[2020-08-28 20:43] webberwang commented on #3607
1. A more flexible API can cover more use cases. If we take out the feature, would you agree that some users will have lost a needed capability in their workflow? The current API does cover your needs

2. https://github.com/rx-store/rx-store/runs/1027591351 Appears to me that it broke because the deps were not built

[2020-08-28 23:35] joshribakoff commented on #3607
1 - Just asking the use case, describing the use case in the docs where it explains `--with-deps` would maybe be good. I also think it could be inverted to `--without-deps`, so that by default Nx does what [in my opinion] most users would expect by default, and does not default to a workflow that is (for lack of a better word) "broken" in some cases, requiring users to figure out why & what to do.

[2020-08-29 03:19] webberwang opened #3625 "@nrwl/node:library build srcRootForCompilationRoot rootDir regression bug"
## Current Behavior

`tsconfig.lib.json` `rootDir` is not respected, for example `{ "rootDir": "./src" }` still builds with `src` in the final output like `dist/src`

This is a regression bug, in `10.0.11` the `outDir` is still respected. As of `10.1.0`, we have to modify `srcRootForCompilationRoot` in `workspace.json` for this.

## Expected Behavior

Should output to `dist` folder without `src`

[2020-08-29 11:13] stefan-karlsson opened #3626 "create-nx-plugin cant find @nrwl/workspace collection"
## Current Behavior
`npx create-nx-plugin nx-plugins --pluginName my-plugin` generates the error `Collection "@nrwl/workspace" cannot be resolved.`

## Expected Behavior
Able to run  create-nx-plugin without any errors

## Steps to Reproduce
- `npx create-nx-plugin nx-plugins --pluginName my-plugin`

![image](https://user-images.githubusercontent.com/25538602/91635495-40b5b480-e9f9-11ea-85e3-678ea

[2020-08-29 14:43] danielfyhr commented on #3610
Are you using the node builder here?

Have you tried this setting for production builds?
https://nx.dev/angular/plugins/node/builders/build#optimization
In your workspace.json or angular.json try
[code]
Your warning in the browser suggests "setting mode to production in webpack (https://webpack.js.org/concepts/mode/)" which the above configuration should set as seen in https://github.com/nrwl/nx/b

[2020-08-29 16:20] pburkindine opened #3628 "`nx migrate` strips trailing newline from package.json"
## Current Behavior
`nx migrate` strips trailing newline from package.json

## Expected Behavior
`nx migrate` should include expected newline character at end of package.json

## Steps to Reproduce

run `nx migrate @nrwl/workspace` against an existing project which is out of date

### Failure Logs

### Environment

[code]

[2020-08-29 20:11] ahnpnl commented on #3409
Angular team decided to revert solution style config https://github.com/angular/angular-cli/commit/8fb52596a051357d7a90620032e9d253f1a5d455

[2020-08-29 20:52] intellix commented on #2975
Getting this with a Sequelize project as well, which is pretty much the same thing: User hasMany Items and an Item belongs to a User. User -> Item -> User.

I'm converting a project to nrwl/nx and the other developers are gonna get a little worried when they see all of those warnings.

It'd be nice if we could at least disable the circular checks for a particular lib (where I keep my entities/mode

[2020-08-29 23:31] joshribakoff opened #3629 "Cannot build my project, rollup namedExports issue"
## Current Behavior
Cannot build https://github.com/rx-store/rx-store

Gives errors like:

`Error during bundle: Error: 'unstable_runWithPriority' is not exported by node_modules/scheduler/index.js
Bundle failed.`

I can't seem to find any way to get Nx to tell me what Rollup command it is running to easily debug this.

## Expected Behavior
It should build. It should be easier to debug the rollup

[2020-08-30 14:11] neophyt3 commented on #3626
coincidentally faced same issue yesterday
I have raised a PR which fixes this issue
FYI https://github.com/nrwl/nx/issues/3626

[2020-08-30 15:31] rjlopezdev commented on #2147
Hi @FrozenPandaz it would be awesome create an specific _builder_ for NestJS projects.
I'm not familiarized with Nx Builders but I could help you on how Nest compiler works.

[NestJS webpack defaults](https://www.github.com/nestjs/nest-cli/tree/master/lib%2Fcompiler%2Fdefaults%2Fwebpack-defaults.ts).

Waiting for your reply :)

[2020-08-30 19:47] webberwang commented on #3604
Do you have the build output log showing that it doesn't pick up cache?

[2020-08-30 23:01] michael-letcher commented on #3464
Does anyone have a solution? Is it to do that solution mentioned by @beeman then install separately the @angular/cli to avoid the issue described by @georgiee?

[2020-08-30 23:14] beeman commented on #3464
I didn't install the Angular CLI.  What I did do though, is after the first failure, I rolled back any local changes the upgrade made, created the symlink and ran the upgrade again. Not sure if that made the difference but it's what worked for me.

[2020-08-30 23:32] imcvakt commented on #2084
@trumbitta I'm currently trying to create a publishable lib with react and @fluentui/react, but I'm facing issues with theirs svgs as well.

Can you explain-me or provide more details with that approach you have done?

[2020-08-31 06:13] michael-letcher opened #3632 "[BUG] update @nrwl/angular - library schematic"
## Current Behavior

using the default schematic and the `--publishable` tag the following `package.json` is created.

[code]

## Expected Behavior

should build the following

[code]

## Steps to Reproduce

run `nx run XYZ:build:production`

This issue may not be prioritized if details are not provided to help us reproduce the issue.

### Failure Logs

[code]

### Environment

[code]

[2020-08-31 06:14] ThatMate commented on #3578
Bump: Any idea how to debug this?

[2020-08-31 06:43] tfalvo commented on #1098
Hi @luqezman, could you precise your question please. e2e with NestJS or e2e with NestJS + NX, or just e2e vs simple unit test...

[2020-08-31 10:41] r37r0m0d3l commented on #1393
![Yes Oh thank God Yes](https://media.giphy.com/media/l2SpKLofRxwfT3GP6/giphy.gif)

[2020-08-31 10:50] yogevlahyani commented on #1393
@r37r0m0d3l I tried it and getMetadataArgsStorage won't find the entities according to the glob pattern in production mode (bundle file generated with webpack)

The best solution I found for production build is to use https://docs.nestjs.com/techniques/database#auto-load-entities

[2020-08-31 10:54] shayll-herolo commented on #3251
I encounter almost the same as @GreatHawkeye. My error though is `Path "/libs/layout/tsconfig.lib.prod.json" does not exist.`
It started with Angular 9, I thought upgrading to v 10 will solve it.
When I create the file myself and then run the command `nx g lib layout` it worked and even deleted this new `tsconfig.lib.prob.json` file I created.
The migration already changed everything to have tscon

[2020-08-31 11:17] r37r0m0d3l commented on #1393
`autoLoadEntities` do own job, but with `getMetadataArgsStorage`  I don't have to write another dist path "dist/**/*.entity{.ts,.js}" etc.

[2020-08-31 13:36] koliveira15 opened #3633 "Nx commands not working after migration - Cannot read property 'slice' of undefined"
## Current Behavior
Getting an error when running any nx command specific to a project (nx build project-name, nx test project-name, etc)

## Expected Behavior
Nx commands function properly after migration

## Steps to Reproduce

1. Run nx migrate @nrwl/workspace@latest from @nrwl/workspace@**9.1.2**
2. npm install
3. nx migrate --run-migrations=migrations.json
4. Run any nx command with project (

[2020-08-31 14:06] eternalmatt commented on #3618
We are experiencing an issue in our test environment where users who have not installed the Chrome extension [Redux DevTools](https://chrome.google.com/webstore/detail/redux-devtools/lmhkpmbekcpmknklioeibfkpmmfibljd?hl=en) are unable to interact with out app, as the initial fetch calls are failing.
We are going to replace these calls, and move @nrwl/angular to devDependencies.

[2020-08-31 14:07] bekos commented on #2483
hi @mehrad-rafigh @mauriziovitale  😃 can you please elaborate on your use actual case? we are trying to understand if this would be a useful feature 🤔

[2020-08-31 16:05] #3571 closed

[2020-08-31 16:09] brandonroberts commented on #3464
Just leaving an update here, but we are looking into this issue for a more permanent fix. The workaround mentioned above works for now.

[2020-08-31 16:33] #3590 closed

[2020-08-31 18:28] #3542 closed

[2020-08-31 19:39] patheard commented on #3596
Found the problem in our project's case.  We had the following in the workspace.json `build` config for the app:

[code]
Removing the `package*.json` stopped the infinite restart loop.  I think the reason it was in there is because a developer had wanted package.json and package-lock.json in the app's dist folder so they could run `npm install` directly from the dist.

[2020-08-31 19:58] arjunyel commented on #3596
Wow awesome job tracking this down! I can confirm I also have that exact entry in my assets for my nestjs server

[code]

However I need to put the package.json in there because I then put the dist folder into a docker container. I'll update the issue title

[2020-08-31 23:40] michael-letcher commented on #3632
Seems this is now working in v9.5.x

[2020-08-31 23:40] #3632 closed

[2020-08-31 23:49] koliveira15 commented on #3633
Issue was with including @nrwl/schematics which is pulling in an older version of @nrwl/cli. Removing this package from dev dependencies solved the issue.

[2020-08-31 23:50] koliveira15 commented on #3633
Issue was with including @nrwl/schematics which is pulling in an older version of @nrwl/cli. Removing this package from dev dependencies solved the issue.

[2020-08-31 23:50] #3633 closed

[2020-09-01 02:18] sushruth opened #3637 "Do not use `require(path.join(workspace.dir` type requires - can help some folks already using yarn 2"
## Description

Would be nice to not use requires like `require(path.join(workspace.dir` to allow yarn 2 adoption as well.

## Motivation

mainly yarn 2 compatibility

## Suggested Implementation

Not too different from how it works now.

## Alternate Implementations

NA

[2020-09-01 06:45] gilsdav commented on #3551
The only way to do this is to copy the script from incremental example.
1) No user friendly
2) Useless (see benchmark) as soon as we edit more than one library

This functionalities are only usefull on CI/CD and only if the dev already built it locally.

Is it possible to know the files hach before building them ? If yes, a more granular cache can be possible.

[2020-09-01 09:37] geromegrignon opened #3640 "Warning with lighthouse CI on build"
## Current Behavior
After adding [lighthouse ci](https://web.dev/lighthouse-ci/) to a nx workspace, it adds a .lighthouseci folder for report files when running the ci locally.

![image](https://user-images.githubusercontent.com/32737308/91831598-8fa35a00-ec44-11ea-9574-438b84e6e903.png)

After that on building an app within the nx workspace, a warning appears :

[code]

## Expected Behavior

## S

[2020-09-01 10:17] tonivj5 commented on #3640
I'm having this issue too with cypress image snapshot:
[code]

In my case, it adds an `__image_snapshots__` folder into `project-e2e/src/integration`

[2020-09-01 12:50] patheard commented on #3596
So, I spoke to soon - we also need the package files to build a docker image down the line.  That's what I get for taking summer vacation and forgetting all the things 😄

Anyway, removing the `*` glob and explicitly listing both files also fixed the restart loop on my end.  Hopefully it'll work for you too @arjunyel:

[code]

[2020-09-01 13:33] creadicted commented on #2147
It seems that this is not working anymore since nx has added the temp folder:
This change works for me:

[code]

[2020-09-01 14:38] karolisg commented on #3495
Thank you very much! I was trying to solve this problem for 4 hours.

[2020-09-01 15:41] #3193 closed

[2020-09-01 15:45] #2720 closed

[2020-09-01 15:47] #2483 closed

[2020-09-01 15:49] #3349 closed

[2020-09-01 15:59] #1215 closed

[2020-09-01 17:08] #3628 closed

[2020-09-01 18:22] stramel opened #3643 "Next.js server not supporting `rewrites` feature"
https://nextjs.org/docs/api-reference/next.config.js/rewrites

## Current Behavior

No `rewrites` occurring

## Expected Behavior

`rewrites` feature to work

### Environment

[code]

[2020-09-01 19:05] Cammisuli commented on #3626
Fixed with #3631

[2020-09-01 19:05] #3626 closed

[2020-09-01 20:07] #3475 closed

[2020-09-02 02:03] wshowair opened #3644 "nrwl linter process exit status failure when setting maxWarnings"
## Current Behavior
In  @nrwl/linter, when setting `maxWarnings` to zero and there are not warnings, the node process exists with a non successful status code.

## Expected Behavior
In  @nrwl/linter, when setting `maxWarnings` to zero and there are not warnings, the node process exists with a non successful status code.

## Steps to Reproduce
- Create an nx workspace with react app, express app.
-

[2020-09-02 08:04] curiouscod3 commented on #738
Same here

[2020-09-02 09:15] #3303 closed

[2020-09-02 20:29] amayer42 commented on #3106
Thanks for posting this @andriychuma. I attempted your suggested workaround and had success with utilizing "Find all references" again. I'm curious though, do the typescript settings need to be made in each lib?  I was able to make the change in the root tsconfig and it seems to work.

It seems like this should be fine since all of the individual lib tsconfig files inherit from the root right?

[2020-09-02 21:21] benatkin opened #3649 "Document meaning of accessToken in nx.json tasksRunnerOptions/default and whether to commit to a public repo"
I'm used to something called an accessToken being private. I see the nx-cloud access token is public in a generated project, whether or not with the oss layout, and that nx's is also public in this repo, so I think it must not give access to a resource that's supposed to be protected:

https://github.com/nrwl/nx/blob/master/nx.json#L19

I'm not clear on what the access token does and would like to

[2020-09-03 06:55] asherccohen commented on #3602
The rootDir issue can be fixed with by telling the main tsconfig.base.json to get built artifacts instead of using dev folders for typescript compilation.

Confusing, I know, but these steps should be clear:
- update to the latest NX (10 at this point in time) since it adds the --publishable and --buildable flags for your future libs
- open root level  tsconfig.base.json
- Scroll to the paths prop

[2020-09-03 09:31] mandarini commented on #3640
Hi there @geromegrignon !

I tried to reproduce your issue locally, and unfortunately I could not.

I installed Lighthouse CI globally, I cloned your repo, I built it, then I ran `npm run lhci` and then I built again, and I did not get a warning.

![Screen Shot 2020-09-03 at 12 06 16](https://user-images.githubusercontent.com/6603745/92097608-f198c680-ede0-11ea-87b7-042f8fbbfdbc.png)

And here's t

[2020-09-03 09:49] silas-joekel commented on #743
Is there any update on this topic? I think it is a good idea to have nx as close to ng as possible and therefor it could be a good idea to provide the nested e2e option.

[2020-09-03 09:50] AlonMiz commented on #1777
That is the main point now that blocks us from moving to nx.
We have a monorepo using lerna and yarn workspaces with multiple package.json's,
around 15 projects both backend (node.js), frontend (react) and e2e (pupeteer)

while POCing one package json, the docker image of node microservices goes from. 200MB to 750MB, which is not reasonable for us.

my suggestion is to use multiple package json wh

[2020-09-03 11:02] mikelgo commented on #3529
Hey @mandarini :)
Thank you very much for your effort to reproduce my issue. Sorry that you can not reproduce it (or in the end it is good because nothing needs to be fixed :-P).

Your tip with reinstalling node did the job! I just re-installed node according to the guide provided in the link and it worked! Now I'm again able to create nx-workspaces.

I re-installed node before as well, but I gues

[2020-09-03 11:10] bekos commented on #3090
@tcoz You can now use the `--projects` options. I hope this solves your issue, if not feel free to open a new one.

[2020-09-03 11:10] #3090 closed

[2020-09-03 11:47] vsh13 opened #3651 "Remote Code Execution"
## Description
 High            Remote Code Execution

  Package         serialize-javascript

  Patched in      >=3.1.0

  Dependency of   @nrwl/web [dev]

  Path            @nrwl/web > terser-webpack-plugin > serialize-javascript

Can  **terser-webpack-plugin** be updated to a newer version?

[2020-09-03 11:47] mandarini commented on #3529
Yey!! I'm so happy it worked and you can use Nx normally now!! :D

[2020-09-03 13:09] samcraigdev commented on #3259
Doing something similar with library specific path aliases instead of using `../` navigation for publishable libraries, but hitting a wall with runtime / typing output as the imports are not being converted.

[2020-09-03 13:13] mandarini commented on #3625
Hi there @webberwang ! Thanks for filing an issue!

This behaviour is intentional, it is not a bug. Please take a look at these PRs: [nrwl/nx/pull/3564](https://github.com/nrwl/nx/pull/3564) and [nrwl/nx/pull/3545](https://github.com/nrwl/nx/pull/3545).

However, maybe it would be more helpful to supply a flag that would make adding a root directory easier for the user. So, I'll try to work on tha

[2020-09-03 13:36] geromegrignon commented on #3640
Hey @mandarini,

I feel sorry for that, i can't reproduce it anymore myself.

I'll close the issue by now.
@tonivj5 please open a dedicated issue

[2020-09-03 13:36] #3640 closed

[2020-09-03 13:40] #3335 closed

[2020-09-03 13:52] bekos commented on #3456
@joshribakoff Can you please try with the latest Nx? If it's not solved, please try to provide a repo to test, because I was unable to reproduce the issue locally.

[2020-09-03 13:56] #3644 closed

[2020-09-03 14:15] RafaelVidaurre commented on #2975
I moved a NestJS project into an NX monorepo and I'm having the same issues. These warnings should at least be mute-able

[2020-09-03 14:47] hakimio commented on #2975
@RafaelVidaurre you can. Just set `showCircularDependencies` to `false` in your `@nrwl/node:build` builder options in your `angular.json` file.

[2020-09-03 15:16] joshribakoff commented on #3456
Tried it 1x on Nx 10 and it didn't replicate any issue. It was either specific to Nx 9, or it is a race condition, feel free to close either way. It's not blocking me in any way & was just FYI.

[2020-09-03 15:21] bekos commented on #3456
@joshribakoff great 👍 thx for the feedback, it's always welcome 😃

[2020-09-03 15:21] #3456 closed

[2020-09-03 15:26] bekos commented on #3515
@zefexdeveloper seems like the `eslintrc` inside the `api` folder should use `"ignorePatterns": ["/*.*", "!src/**/*"]`, so it will only lint whatever is inside your `src` folder. I will try to prepare a PR, but try it and tell me if that works for you 😃

[2020-09-03 15:50] vsavkin commented on #3604
Hi there!

Thanks for submitting the issue.

The cypress and protractor builders invoke "serve". The implementation of "serve" provided by core plugins isn't cacheable. It's possible to make it cacheable by doing something like this https://github.com/nrwl/nx-incremental-large-repo, but it has other tradeoffs.

To support it we need to replace webpack for development which is something we are look

[2020-09-03 15:50] #3604 closed

[2020-09-03 16:14] samcraigdev commented on #3259
Before a fix / improvement to config overrides exists, here's a patch that is currently working for our development / CI builds:

[code]

[2020-09-03 16:18] samcraigdev commented on #3259
The only issue w/ the above is that it's also converting import references to other library references, looking into overriding the `compilerOptionPaths` that is being passed to `rollup-plugin-typescript2` now.

[2020-09-03 16:46] oltionzefi commented on #2852
I was able to fix this issue by cleaning the npm cache with command `npm cache clean -f`

[2020-09-03 17:17] vsavkin commented on #2219
Thank you folks.

This is the place were we exit with status code 1: https://github.com/nrwl/nx/blob/master/packages/workspace/src/tasks-runner/run-command.ts#L84

Because you see the failures printed out, I expect the hasFailure function to return "true".

You can verify it that it's called by adding a console.log statement there in a postinstall script:

[code]

Let me know if you see `exit1!!!`

[2020-09-03 17:18] #3144 closed

[2020-09-03 17:19] vsavkin commented on #3348
The issue has been fixed in Nx 9.6 and Nx 10.1. I'm sorry it took so long to get this right.

[2020-09-03 17:19] #3348 closed

[2020-09-03 17:35] vsavkin commented on #3463
Thank you for submitting the issue.

Unfortunately, I'm not able to reproduce it. Could you try to create a repo using 9.3.0 that fails to be migrated?

[2020-09-03 17:56] vsavkin commented on #869
Folks, could you provide a repo with a repro using the latest version of Nx? Thank you!

[2020-09-03 18:00] vsavkin commented on #2530
Really sorry for the late response.

Could you provide a repo with a repro using latest 9x or 10x?

`nx run-many --all --target=serve` and `yarn nx run-many --all --target=serve` don't result in different outputs for me.

[2020-09-03 18:11] vsavkin commented on #2608
From what I can see the issue has been fixed. There is no pinned dependency on kind-of@6, so if you create a new project or recreate package-log for an existing one, you won't see kind-of@6.0.2 any more.

[2020-09-03 18:11] #2608 closed

[2020-09-03 18:32] vsavkin commented on #2806
This is something we cannot really fix on the Nx side. For us to calculate affected we need to be able to execute the merge-base command.

As @nsatohiro pointed out, one option is to increase GIT_DEPTH. You could also get the list of changed files manually and pass them using `--files`, in which case the merge-base command wont' execute.

Closing this issue.

[2020-09-03 18:32] #2806 closed

[2020-09-03 18:38] vsavkin commented on #2852
I think this error should be fixed. We now use an absolute path to resolve the collection. Could you try again with the latest version of 9x or 10x?

[2020-09-03 18:53] samcraigdev commented on #3259
Looks like `@zerollup/ts-transform-paths` just introduced an exclusion rule for any external dependencies. So, for the above patch to work correctly for your libraries, all you have to do is add the local library as a dependency in the `package.json` of the library you're importing from.

[2020-09-03 19:26] vsavkin commented on #2864
When I try it, "yarn nx affected:lint" handles untracked files.

You can see what gets invoked at:
[code]

Could you check what path it takes? It should invoke `getUntrackedFiles` which you can tap to see what it returns

[2020-09-03 19:43] vsavkin commented on #2890
Fixed it here: https://github.com/nrwl/nx/pull/3653

We will release 9x and 10x releases next week. The fix will be in both. For now, you will have to manually update the collection in angular.json.

Thank you!

[2020-09-03 19:43] #2890 closed

[2020-09-03 19:55] vsavkin commented on #3151
I'm sorry, but I'm going to close this issue. If you are able to repro it with the latest Nx 10 or Nx 9, please reopen it with the repro.

[2020-09-03 19:55] #3151 closed

[2020-09-03 20:09] vlodko commented on #3348
@vsavkin thank you!

[2020-09-03 23:03] webberwang commented on #3625
@mandarini I see, I think modifying default TS features can be confusing to users. Is there a rational to not support `rootDir`?

[2020-09-04 03:41] warrendugan commented on #2633
I've successfully run multiple ionic w/ capacitor applications in my nx monorepo by globally installing capacitor CLI and following Ionic's multi app instructions carefully. While everything worked well locally I ran into many issues when attempting to use Ionic Appflow.

When it comes time to configure serve commands you'll have to use the run commands plugin inside of angular.json to essentially

[2020-09-04 03:47] IngAjVillalon commented on #2633
Such a piece of excellent news!
Could you share a tutorial of your achievement?

[2020-09-04 04:52] seaBubble commented on #602
I'm still seeing this issue with @nrwl/angular 9.5

I'm running
`nx run lib2:build --with-deps --prod`
where lib2 is a publishable lib that depends on another publishable lib

And getting
error TS6059: File '[...]/lib1/src/index.ts' is not under 'rootDir' '[...]/lib2/src'. 'rootDir' is expected to contain all source files.

lib1 is built successfully on its own.

Is there an extra step to make thi

[2020-09-04 05:03] warrendugan commented on #2633
https://github.com/warrendugan/ionic-capacitor-nx-monorepo I recreated my situation on a public personal project for you to fork. Additionally I tried to document the steps I took to create this in the readme.md. It got a little jumbled somewhere around the middle... as I'm sure you know it takes some trickery to get this to work.

Hope this helps!

[2020-09-04 08:13] juuyan commented on #3463
Thanks for the reply, yet I am not sure how to reproduce it. I tried a lot and failed thus simply recreated a mono repo...😅

[2020-09-04 09:35] ChazUK opened #3655 "@nrwl/storybook Set Project/App to take build config"
I'm running Storybook on an Angular project for a UI library. When running `nx run ui:storybook` the build configuration is taken from the `defaultProject` property in `angular.json`

[code]

Is it possible to set build configs for each storybook implementation, or point the builder to a specifically configure app within the monorepo?

[2020-09-04 10:32] iangregsondev commented on #3480
@nahue I am also interested in this, did you find a better way. Did you get any input from Nrwl ?

[2020-09-04 11:00] bekos commented on #2435
@rarmatei i see that both `format` and `outputFile` are supported. shall we close this or is anything else missing? 🤔

[2020-09-04 11:54] rarmatei commented on #2435
Yes, this should be fixed now 👍 thanks for checking!!

[2020-09-04 11:59] Bielik20 opened #3657 "Storybook React: Missing class properties transform"
## Current Behavior

This component
[code]

Doesn't work with story
[code]

Problem relates to
[code]

I am getting "Missing class properties transform" error message.

Changing `.babelrc` of that project (lib) to:
[code]
solves the issue.

It is worth noting that this component works ok when run outside of storybook.

## Expected Behavior

I would expect storybook to work properly with class prop

[2020-09-04 14:06] koshpendi commented on #2123
still can not rich it over wi-fi using the ip address.

[2020-09-04 14:15] vsavkin commented on #3546
Closed here: https://github.com/nrwl/nx/pull/3654

Thank you!

[2020-09-04 14:15] #3546 closed

[2020-09-04 14:17] jaysoo commented on #3184
Strange, it should be part of this migration in 9.4.

https://github.com/nrwl/nx/blob/master/packages/react/src/migrations/update-9-4-0/babelrc-9-4-0.ts#L20

I've tried reproducing this problem in a test repo (migrating from 8 to 10), and it worked for me. https://github.com/jaysoo/nx-8-to-10

For anyone else for are running into babel issues, please check that `babel.config.json` exists, and chec

[2020-09-04 14:18] jaysoo commented on #3184
Going to close this issue since I'm unable to reproduce, but feel free to re-open if you have a repo I can take a look at.

[2020-09-04 14:18] #3184 closed

[2020-09-04 14:24] #2435 closed

[2020-09-04 15:01] jdpearce commented on #2155
I think there's been a miscommunication somewhere here. There is already a PR that fixed this. There is no issue with the `.prettierrc` file (that we know of).

Thanks for the PR @mehrad-rafigh but I think it's addressing a problem that no longer exists. I'm going to close that and this issue due to it being already fixed by https://github.com/nrwl/nx/pull/3329

[2020-09-04 15:01] #2155 closed

[2020-09-04 16:21] s4m0r4m4 opened #3660 "Schematics in VS Code ENOTEMPTY"
## Current Behavior

When I am updating my schematics and trying to rebuild and use then, I try to run a schematic `nx workspace-schematic ...` or through the VS Code Nx Extension, it throws the following error (see logs below) and the schematic fails.

## Expected Behavior

No error

## Steps to Reproduce

1) Modify a custom schematic under tools/schematics
2) Try to run that schematic
3) Looks l

[2020-09-04 16:52] s4m0r4m4 commented on #3660
Note - this seems to be related to the way schematics are run in the VS code extension (and the way it hangs onto file handles). If I just run the schematic in a console it works ok, but once VS code (with the extension enabled) is open, it wreaks havoc by locking files in the dist and essentially preventing nx from running any schematics.

[2020-09-04 17:04] mpstv commented on #3326
Hi everyone. I have the same issue.

I reproduced it in this [repository.](https://github.com/mpstv/nx3326)

This error occurs after I added import `NxModule` in `app.module.ts`:

[code]
Now after running `ng build`, error will be displayed:
[code]
Why is this happening?

[2020-09-04 18:13] Cammisuli commented on #3625
Hi @webberwang, let me explain a bit more of why we needed to remove the `rootDir` from tsconfigs.

With Nx10 we moved everything to be TypeScript project references (https://www.typescriptlang.org/docs/handbook/project-references.html). This changed the behaviour of `rootDir` where `rootDir` is much more constrained. This then caused an issue when you try to import other Nx Node libs. IDEs would

[2020-09-04 18:13] #3625 closed

[2020-09-04 18:23] webberwang commented on #3625
thanks for the detailed explanation, glad to understand the high level overview

[2020-09-04 18:29] philipjfulcher commented on #2005
#3049 adds HTML, we cna keep this issue open until we have an image output as well

[2020-09-04 18:31] #2005 closed

[2020-09-04 18:51] amayer42 commented on #3106
Well, I noticed that changing this value at the root level does fix the "Find all references" issue, but it breaks lots of other things with imports, so it seems that you are correct that it would have to be done in all libs.  Suppose I will have to spend a bit more time understanding the fix.  Thanks again for posting though.

[2020-09-04 18:52] webberwang commented on #3655
Couldn't you modify `workspace.json` `storybook.builder`?

[2020-09-04 18:54] #3553 closed

[2020-09-04 19:24] FrozenPandaz commented on #3409
@vmcbaptista

Somehow, your `tsconfig.lib.json` does not have any `include` or `files` that it points to. I recommend setting `include` to `[**/*.ts]`. That should solve your issue. I'm not sure how you arrived at this state though.. if you could look through your commit history and see if it's anything that Nx is doing wrong, please let us know in a new issue.

[2020-09-04 19:38] philipjfulcher commented on #2472
@elvirdolic I'm circling back to some of these issues related to differences between Windows/Linux/Mac OS and I think they're resolved in our latest version of Nx 9 and 10. Are you able to update your repo to 9.6 or 10.1 to see if that resolves the issue?

[2020-09-04 19:39] philipjfulcher commented on #2820
I'm circling back to some of these issues related to differences between Windows/Linux/Mac OS and I think they're resolved in our latest version of Nx 9 and 10. Are you able to update your repo to 9.6 or 10.1 to see if that resolves the issue?

[2020-09-04 19:40] philipjfulcher commented on #2824
@beatlang @Ponjimon  I'm circling back to some of these issues related to differences between Windows/Linux/Mac OS and I think they're resolved in our latest version of Nx 9 and 10. Are you able to update your repo to 9.6 or 10.1 to see if that resolves the issue?

[2020-09-04 20:26] juristr commented on #3107
@kevinjeong-accenture Hi, could you provide us with some repro steps that detail what exactly is wrong? Ideally providing us a GitHub repo with the wrong behavior 🙏.

Also, could you verify this issue still persists with our latest `v10.1.0`?

[2020-09-04 21:07] FrozenPandaz commented on #1983
Hi, this issue is very old and there's not enough information to act on it. If you are still experiencing this issue, please open a new issue with more steps to reproduce.

[2020-09-04 21:07] #1983 closed

[2020-09-04 21:26] darkowic commented on #3610
I use `@nrwl/web:build` and yes, I have `optimization` set to `true`.

[2020-09-04 21:39] zefexdeveloper commented on #3515
@bekos Thank you, I hope it gets merged ❤️

[2020-09-04 22:06] benatkin commented on #3051
I got it working w/ @flybayer's setup. The first time I skipped over the `next.config.js` part but I needed that to get it to work. I will also note that I get this message:

[code]

Apparently vercel blocks outgoing http requests including to nx-cloud, limiting its usefulness. Thankfully, it doesn't slow down the build noticeably. In the future I would probably want to configure it not to run on

[2020-09-05 00:14] JakeGinnivan opened #3664 "Type check command"
## Description

One way I leverage TypeScript is when making a behavioral change to my project is to ensure the source of the change is a compilation mistake.

Being able to run a type check over the entire project through VS Code and use the TypeScript problem matcher to ensure they are surfaced in the `Problems` tab

## Motivation

Being able to surface all build errors in a repo is very handy,