[2019-02-25 19:08] gund commented on #602
@fallXone I fixed exact issue by adding to each library's tsconfig.lib.json one line:
[code]
This will allow typescript to load your libs instead of compiling them. Also make sure you build them in order they depend on each other.

[2019-02-25 19:32] fallXone commented on #602
@gund would this affect ng-serve though? Doesn't that mean those dist files would have to be there in order to serve up the app? I still want to make sure we can use ng-serve with live reload and such.

[2019-02-25 19:34] gund commented on #602
@fallXone serve is not affected by this change, you will still be able to live reload from your source files. This is purely for building purposes.

[2019-02-25 19:42] fallXone commented on #602
@gund  this seems to lead me to another set of errors,

Warning: Can't resolve all parameters for .... many services within my package. Is the specified path relative to your workspace root?

[2019-02-25 19:46] gund commented on #602
@fallXone yes my base is project root and all path's in lib configs are relative to that path.

[2019-02-25 20:35] dolanmiu opened #1107 "What is the naming convention for apps in `/apps`?"
I have about 10 apps in the `/apps` folder.

Should the selector of the `@Component`s be prefixed with `app-`?

e.g. `app-root`,

or should it be prefixed with the app name?

E.g. if my app is called `FooBar`, then I will have a component called `fb-root`?

[2019-02-25 21:48] MmtBkn commented on #1100
@FrozenPandaz Compodoc looks great!

[2019-02-26 03:49] guysenpai commented on #1104
I have used `create-nx-workspace` to create new workspace first. next I have update dependencies.
But I have locked `@angular/cli` version to `7.3.1` and it's work. thanks @FrozenPandaz

[2019-02-26 07:40] kola-gangadhar opened #1108 "Unable to impose dependency constraints"
I have tried creating tags for the apps and libs, and imposed constraints like mentioned in the documentation. But i can import the libs without any error. Any idea what i missed ?

![image](https://user-images.githubusercontent.com/34379790/53395001-ce5cb200-39c6-11e9-9267-66728a891963.png)
![image](https://user-images.githubusercontent.com/34379790/53395075-f51ae880-39c6-11e9-84d8-e8cbe9d2b65a.p

[2019-02-26 08:09] 4kochi commented on #1091
You can set this in the `jest.config.js` at root level.

[code]

[2019-02-26 09:13] bridzius opened #1109 "Ambiguous documentation of app --routing schematics"
## Expected Behavior

As per https://github.com/nrwl/nx/blob/master/docs/api-schematics/application.md - `--routing` option on `ng g app <name> --routing` should generate a routing module.

## Current Behavior

Based on https://github.com/nrwl/nx/blob/master/packages/schematics/src/collection/application/index.ts#L343 - --routing ignores the default angular schematic definition completely and just

[2019-02-26 12:45] merobal commented on #1104
Using `nrwl/nx 7.6.2` and `nrwl/schematics 7.6.2` AND roll back to `cli 7.3.1` fixed this issue.

With latest CLI, I got this error during generating a lib (yes, with latest nrwl/schematics...):
![nx-generate-issue](https://user-images.githubusercontent.com/5844511/53413492-65783880-39cc-11e9-8c8d-6ecf3690560d.jpg)

What's the breaking change and how should we migrate our project?

[2019-02-26 13:46] juristr opened #1110 "JavaScript heap out of memory: --max_old_space_size not working with nx"
# Prerequisites

- [x] I am running the latest version
- [x] I checked the documentation and found no answer
- [x] I checked to make sure that this issue has not already been filed
- [x] I'm reporting the issue to the correct repository (not related to Angular, AngularCLI or any dependency)

## Expected Behavior

Since recently I'm experiencing node memory issues during AOT compilation. As describ

[2019-02-26 16:12] ahasall opened #1111 "[Feature Request] Implement File Replacements"
I am using the the `@nrwl/builders:jest` builder in a **non-nx** Angular workspace.

The official Angular CLI karma builder supports **file replacements** while `@nrwl/builders:jest` doesn't.

Is it something you've considered? If yes, I can try to implement the feature and land my first PR.

Thank you

[2019-02-26 16:18] stefan-karlsson commented on #1110
This is how I do it and it works perfect:
`"build:prod": "node --max-old-space-size=8192 ./node_modules/@angular/cli/bin/ng build --configuration=production",`

Make a special note on the dashes in `max*-*old*-*space*-*size` not underscores.

[2019-02-26 16:18] kamknitt commented on #1018
I agree that we should make the change transparent to legacy users and leave existing `nx-enforce-module-boundaries` rule as it is.

I've been looking into how we could split the existing rule. the solution seems to be pretty much straightforward and it follows directly from how the `nx-enforce-module-boundaries` code is structured right now. This is my proposition:

1. `nx-no-circular-deps` - pre

[2019-02-26 16:24] stefan-karlsson commented on #1057
Will close this issue since it is more of a bug question than a feature request

[2019-02-26 16:24] #1057 closed

[2019-02-26 16:36] FrozenPandaz commented on #1110
I think this could be an issue with how the affected actions are spawned. This may change in the soon, but not immediate future.

Passing `node --max_old_space_size=4096 ./node_modules/.bin/nx` to Nx, does not propogate it to the spawned commands. The short term solution may be to add some sort of flag for the max size of the spawned processes. I don't know if it's possible to read how much space

[2019-02-26 16:40] FrozenPandaz commented on #1111
Thank you for your enthusiasm to contribute! 👍

I believe the `karma` runner uses `webpack` to control the replacements since the runner does not have it's own module system.

Jest does have it's own module resolution and I think you might be better off using [`jest.mock(path)`](https://jestjs.io/docs/en/mock-functions#mocking-modules).

Does this solve your issue?

[2019-02-26 18:49] FrozenPandaz commented on #1104
The breaking change is in `@angular/cli@7.3.3`. Lock to `@angular/cli@7.3.1` and you should be fine.

The fix for the breaking change has been merged:
https://github.com/angular/angular-cli/pull/13754

I'm not able to reproduce with the following:

<details><summary>Logs</summary>
<p>

[code]

</p>
</details>

[2019-02-26 19:19] bridzius commented on #1110
There is always the possibility to set the `NODE_OPTIONS="--max-old-space-size=4096"` ENV variable, which should propagate to all `node` processes that are launched. That does have the drawback, though, of propagating to all `node` processes launched, whether intentionally or not.

[2019-02-26 20:57] skydever commented on #1110
I am also having memory issues lately. `NODE_OPTIONS` sadly is no option for me concerning e2e tests using cypress due to [this issue](https://github.com/cypress-io/cypress/issues/1676).

To be a bit more specific:
* the cypress integration for a nx workspace is able to launch a `ng serve` prior executing the test
* setting `NODE_OPTIONS` fixes the `ng serve` memory issues
* after `ng serve` is do

[2019-02-26 22:20] ahasall commented on #1111
`jest.mock(path)` was not an option for me because I am migrating from Karma to Jest and didn't want to modify the tests (for now).

I have solved the issue but by using `modeNameMapper` in `jest.config.js` like so:
[code]

Thank you very much to all the Nrwl team for your time and energy.

[2019-02-26 22:20] #1111 closed

[2019-02-26 22:21] juristr commented on #1110
@FrozenPandaz in fact that's what I assumed, didn't have the time to dig in today afternoon though.

@bridzius yep, I  just wanted to try that to see whether it helps 😄, thx 👍

[2019-02-27 09:50] debaprasad-267727 commented on #1091
Thanks for ur reply..
 I did same thing but still i m getting same issue..

[2019-02-27 09:58] debaprasad-267727 commented on #1091
[Issue for jest unexpected token.t
[packagejson file.txt](https://github.com/nrwl/nx/files/2909597/packagejson.file.txt)
xt](https://github.com/nrwl/nx/files/2909590/Issue.for.jest.unexpected.token.txt)
[tesyt spec file.txt](https://github.com/nrwl/nx/files/2909591/tesyt.spec.file.txt)

[2019-02-27 10:00] debaprasad-267727 commented on #1091
I have uploaded all the repro files plz check & let me know...

[2019-02-27 10:01] TekSiDoT commented on #1029
This issue is now relevant to https://www.npmjs.com/advisories/786 , not upgrading to Jest >= 24 will report security issues with a dependency ([braces](https://github.com/micromatch/braces)) during installations and npm audits.

[2019-02-27 12:35] TahiraM opened #1112 "Cannot find module 'jasmine-marbles' from 'nrwl-nx-testing.umd.js'"
## Issue

Jest tests for created Library failing with the error `Cannot find module 'jasmine-marbles' from 'nrwl-nx-testing.umd.js'`, when looking in the dev dependencies there is no mention of Jasmine

`"devDependencies": {
     "@angular/cli": "7.3.1",
     "@angular/compiler-cli": "^7.0.0",
     "@angular/language-service": "^7.0.0",
     "@angular-devkit/build-angular": "0.13.1",
     "@ngrx/s

[2019-02-27 16:31] Itrulia commented on #1104
@FrozenPandaz my CLI is 7.3.1 aswell and for lib I get the same error
for app I get

[code]

I also can't create a fresh workspace anymore since I get the following error `Cannot find module '@angular-devkit/schematics'` which is probably related to the breaking change?

So I can't try a fresh workspace (I also tried to do `npm install -g @angular/cli@7.3.1`)

[2019-02-28 11:49] kkoo95 commented on #895
yes it would be helpful with git submodules for examples

[2019-02-28 12:15] maku commented on #176
I am looking for an "idomatic" way to handle a nx project in gitlab CI / CD. Is there anything planned to provide this? Or can anybody give me an example?

[2019-02-28 12:44] Itrulia opened #1115 "How are dependencies gathered?"
I am using ng-packagr quite heavily and thus have tons of packages in the angular CLI.

`@itrulia/error-reporting` for example is using `@itrulia/common` which will not be shown via `nx dep-graph`. It will only be shown when I add `"implicitDependencies": ["@itrulia/common"]` in nx.json.

When checking out nx-examples it catches it automatically. So how are the dependencies resolved?

[2019-02-28 12:50] Itrulia commented on #1115
if this is indeed abnormal, I can provide a repository to reproduce.

[2019-02-28 13:44] kkoo95 commented on #895
OK! #234 found it here

[2019-02-28 16:24] YonatanKra commented on #973
What is the solution? It doesn't work for me. In my env file I have this:
[code]
In my code I try: `console.log(process.env.production)` which return `undefined`.
How did you use environment variables?

[2019-02-28 17:25] siimveskilt commented on #602
This is the heart of the problem of This thread, not what changed in version 7.5.2 or what not.
 "I fixed exact issue"
No.

[2019-02-28 19:34] gund commented on #602
@siimveskilt I'm not sure why you quoted exactly mine comment, but we here discussing exactly the problem of this thread, which is `Importing a publishable library into another publishable library fails`.

And my comments were just a quick fixes to allow builds of imported libraries.

Obviously the steps that I've taken here have to be done automatically by NX schematic when you add publishable li

[2019-02-28 22:55] soupman99 commented on #816
@danielgeri @Stronhold  I'm having the same issue.  I included the tsconfig in the cypress folder but still get `
Property 'toBeTruthy' does not exist on type 'Assertion'`

[2019-03-01 07:21] rahulrsingh09 commented on #602
@gund I still get the same error saying `'rootDir' is expected to contain all source files`. and i am at the verge of tearing my a hairs apart

[2019-03-01 14:05] hevans90 opened #1119 "Cypress: stop electron test-runner app from closing after a run"
## Expected Behavior

`ng e2e <app-e2e>` should ideally allow the passing of `--no-exit`: [here's the Cypress command](https://docs.cypress.io/guides/guides/command-line.html#cypress-run-no-exit).

## Current Behavior

![image](https://user-images.githubusercontent.com/12142999/53643058-02d0a800-3c2b-11e9-8bd7-07d76f2f5b55.png)

[2019-03-01 14:40] markgoho opened #1120 "--key flag not recognized for cypress test runner"
For paying users of Cypress, we need to be able to run our tests using `cypress run --record --key <record key>` or I guess the equivalent nx command would just be `ng e2e <app-name> --record --key <record-key>`

When I try to run this, I get:
`Unknown option: '--key'`

[2019-03-01 16:46] merobal commented on #1104
Version `7.3.4` for `Angular CLI` fixed the issue on our side (generating lib inside an existing repo).

[2019-03-01 17:18] arjunyel commented on #1104
I can also confirm cli version 7.3.4 fixed the issue for me generating a new app in a repo

[2019-03-02 01:55] kamekazemaster commented on #561
I am experiencing the same behavior @nrwl/schematics 7.6.2 installed locally.

[2019-03-02 08:52] mehrad-rafigh commented on #1105
I did not see any side-effects, because I changed the values immediately. I will close this issue.

[2019-03-02 08:52] #1105 closed

[2019-03-02 22:58] ph55 opened #1125 "jest.config.js not created if jest already installed"
## Expected Behavior

`jest.config.js` should be added when first jest app created even if `jest` already installed.

## Current Behavior

If `jest` already exists in `package.json` as dependency, `jest.config.js` won't be created.
Also following dependencies won't be added:

[code]

Which then leads to more errors, when trying to test lib.

[code]

[code]

### Steps to Reproduce

1. `npx -p @nrwl

[2019-03-03 01:47] Doginal opened #1126 "`ng add @nrwl/schematics` Cannot read property 'split' of undefined"
Trying to convert angular universal app to an nx workspace

## Expected Behavior

`ng add @nrwl/schematics` should migrate angular app to nx workspace.

## Current Behavior

[code]

is this an error in my project? no stack trace, not sure how to debug this. I can create a new workspace in a different folder, and also migrate a brand new angular app. What could be causing this?

[2019-03-03 02:33] FrozenPandaz commented on #1125
Yes, existence of the `jest` dependency is the criteria for generating the `jest.config.ts`.

I don't think it's high priority since it's easy to add jest by skipping step 2. Someone can help adjust the criteria for generating `jest.config.js` though :)

[2019-03-03 02:36] FrozenPandaz commented on #1119
This would be a great feature :+1: Would someone like to give this a try?

[2019-03-03 02:37] FrozenPandaz commented on #1115
Dependencies are gathered by looking at Typescript `import` statements. If the import matches the pattern, `@npmScope/libraryName`, the project containing that Typescript import will depend on `libraryName` project.

[2019-03-03 13:12] Itrulia commented on #1115
I guess this explains, the library name inside angular.json is `@itrulia/error-reporting`, the npmscope is set to itrulia. So it tries to do `@itrulia/@itrulia/error-reporting` I guess?

Thanks!

[2019-03-03 13:12] #1115 closed

[2019-03-03 20:14] mcalhoun commented on #1100
I think it's important to realize that storybook isn't purely a documentation solution. It gives you the ability to develop your components in isolation and to easily emulate all the various states of your component without needed to wire it up and click through the application to view/test them.

[2019-03-04 04:37] gvsouza commented on #973
I'm not using environment.ts files because my vars are not in version control. I am using dotenv.

[2019-03-04 12:24] sameterap commented on #510
@run1t
Have you tried to use 2 publishable libs that depends on each other ? Let's think that there are libs in the name of parent and child. Parent depends on child. If you run "ng build parent", you get an error. I just couldn't find a way to solve this issue. With some workarounds yes it is ok, but if you imagine that there are lots of dependencies, we should some how automate this. Any ideas ?

[2019-03-04 14:32] FrozenPandaz commented on #1104
Good to hear :) Thanks for checking!

[2019-03-04 14:32] #1104 closed

[2019-03-04 18:24] FrozenPandaz commented on #1029
https://github.com/thymikee/jest-preset-angular/pull/224 was merged and I tested it with Nx with the changes that @vitalyiegorov mentioned and it's looking good. I'll write the migrations tonight :)

[2019-03-04 18:46] DouglasWebster opened #1132 "Changes to the nestjs schematic moving the endpoint to /api can be confusing"
The change to the file packages/schematics/src/collection/node-application/files/nestjs/main.ts__tmpl__ can lead to a little confusion as the message printed will be

Listening at http://localhost:3333

or whatever the port has been set to.

Now that you are setting a global prefix would it not be better to print out.

Listening at http://localhost:3333/api

On a new project, the first time I ran

[2019-03-04 20:02] chriswnewman commented on #743
For anyone still interested, this will be the default behavior in Angular CLI 8.0 https://github.com/angular/angular-cli/issues/12326

[2019-03-04 20:45] markgoho commented on #1120
@FrozenPandaz there's an open PR from about 2 weeks ago: https://github.com/nrwl/nx/pull/1084

Looks like it could use some TLC any chance you could poke around in there? We just started paying for Cypress without realizing Nx doesn't pass the flag in to the cypress runner.

[2019-03-05 07:52] pasinsjr commented on #1112
Same here. I had to install Jasmine-marbles manually too

[2019-03-05 09:42] Xaz16 commented on #1094
Hi guys

@vsavkin
We have the same issue in our project, could you please participate in this issue? :)

[2019-03-05 15:53] danieldanielecki opened #1136 ""Overwriting" tsconfig when generating a new lib"
## Expected Behavior

Excluding one line of code to **paths** keeping my global **tsconfig.json** untouched after generating a new lib.

## Current Behavior

Whenever I'm creating a new lib, then all my comments & grouping in **tsconfig.json** in are "overwriten", or more precisely all spaces/comments removed e.g. from

[code]

After generating a new lib `ng generate lib mylib` it would generate (

[2019-03-05 19:47] debuggerpk commented on #54
i have found a much easier solution to it with `lerna`.

1. I do a `lerna init` in my project root folder to generate me a `lerna.json`.
1. Then i edit my `lerna.json` to have

[code]

1.  Add a `workspaces` property to my package which looks like this

[code]

1. And finally, `lerna bootstrap`.

This allows me to import from my theme doing

[code]

[2019-03-06 15:07] antiformatiker commented on #843
I stumbled upon the same issue. I've got a library with multiple nested states and inside the run method the state is defined as a nested child state but actually consists the application state.

[2019-03-06 15:27] pburkindine opened #1139 "child tsconfig excludes test.ts instead of test-setup.ts"
## Expected Behavior

Generated libs' and apps' tsconfig files have
`"exclude": ["src/test.ts", "**/*.spec.ts"]`

instead of
`"exclude": ["src/test-setup.ts", "**/*.spec.ts"]`

Does not appear fixed by:

https://github.com/nrwl/nx/pull/786

[2019-03-06 20:54] FrozenPandaz commented on #1126
It's hard to guess without your code but Is `angularCompilerOptions.entryModule` defined in `tsconfig.server.json`? That's one place where we call `.split` on something

[2019-03-06 20:55] FrozenPandaz commented on #1132
I agree 💯. This should be a good first PR. Does someone want to give it a shot?

[2019-03-06 20:58] FrozenPandaz commented on #1136
Yes, this is annoying. As we write a `stringify`'d JSON object for the file. Fixing it isn't trivial though but can be done with some sort of JSON AST parser like what is currently done for typescript.

[2019-03-07 03:46] Doginal commented on #1126
`angularCompilerOptions.entryModule` is defined in `ts.config.server.json`, what code do you need to see?

[2019-03-07 06:45] mjmeyer-za commented on #73
FYI: I was still experiencing this issue. Seems you need to reload the editor each time you add a new lib. Unless it's just my environment that's whack. Although, I figured since you need to serve again after adding a lib, maybe you need to reload the editor as well. So I guess it would make sense?

[2019-03-07 10:26] run1t commented on #510
Hi, I never had this use case so I don't really know how it should work.
But If I understand it correctly you are using the published children lib in the parent.
Why not using the children lib directly via relative `from` import ?

[2019-03-07 10:29] danielquintero commented on #503
We are having the same issue with a project at large scale. What we could find is that `tsconfig.lib.json` & `tsconfig.spec.json` which are included on the lint architect in `angular.json` extend from the main `tsconfig.json`, which will cause to also lint all of the declared `paths` per project being lint.

In our case running just affected is not a solution as we are working on tooling and many

[2019-03-07 10:43] sameterap commented on #510
"Why not using the children lib directly via relative from import ?" :
the case is that if a lib is completely deleted(with dependent libs, of course) and moved to an npm server. That's why relative import is not ok. Each lib individually should be built even if it has some dependencies. Thanks though.

[2019-03-07 13:25] derbenoo opened #1141 "Make inspect host configurable for builders:node-execute"
Hey folks, trying out nx and loving it so far! Thanks for providing this awesome tool, found a minor issue that could be improved upon :slightly_smiling_face:

## Current Behavior

It is currently not possible to pass a `host` option to the `@nrwl/builders:node-execute` builder. Instead, the `localhost` host is hardcoded:

https://github.com/nrwl/nx/blob/5d990308f1ff9d909819219a5978fca3093073d4/pa

[2019-03-07 14:02] danieldanielecki opened #1142 "Smarter tsconfig.lib.json for Angular/TypeScript compiler options"
## Expected Behavior

In **tsconfig.json** files, which inherits from global **tsconfig.json** file, avoid to repeat the same **compilerOptions**/**angularCompilerOptions** rules. Many of them are already defined in a global **tsconfig.json** for TypeScript, whilst for Angular it could be defined there as well.

## Current Behavior

For every lib generation I'm getting a local **tsconfig.lib.json*

[2019-03-07 14:56] danieldanielecki commented on #259
I think it's getting better with the documentation, well done. The libs is now slightly described in the new [docs](https://nx.dev/tutorial/07-share-code), but something like "best practices" would be appreciated as well I guess.

[2019-03-07 15:27] antiformatiker commented on #843
I just realized, that the schematics create an extra interface called `[Feature]PartialState` which represents a "partial" app state. So you can use this interface inside your effect class and you're good to go.

[2019-03-07 15:33] hmagrini commented on #574
@vggarg96 have you pushed all your changes? cause I see you have installed `TsconfigPathsPlugin` but you haven't added it to the `webpack.server.config.js` file as my comment suggests.

[2019-03-07 15:40] bcabanes commented on #259
As @danieldanielecki mentioned it, we are approaching this issue in our new documentation website, as well as in our book explaining all the concepts around Nx.

- You can go to the official Nx Documentation website via https://nx.dev.
- You can go to read the Nx book from Nrwl (_free_): Enterprise Angular Monorepo Pattern [available here](https://go.nrwl.io/angular-enterprise-monorepo-patterns-ne

[2019-03-07 15:40] #259 closed

[2019-03-07 15:50] FrozenPandaz commented on #1007
Closed by https://github.com/nrwl/nx/pull/1015

[2019-03-07 15:50] #1007 closed

[2019-03-08 02:11] bcabanes commented on #634
Closing since the documentation is now part of the repository and has been rewritten. The documentation is also accessible via https://nx.dev.

[2019-03-08 02:11] #634 closed

[2019-03-08 08:06] vggarg96 commented on #574
@hmagrini I am not getting this error while building. I am getting this error while running the build. I have removed `TsconfigPathsPlugin` code from the `webpack.server.config.js` because I am getting same error while running the build.

[2019-03-08 12:50] kklimczak commented on #1096
I noticed the same problem during generating library with config:
[code]

I tried `7.5.1, 7.6.1, 7.6.2` versions of `@nrwl/schematics`.

[2019-03-08 14:09] markgoho opened #1146 "Allow Windows users to contribute to the project without WSL"
`To build Nx on Windows, you need to use WSL`

I'm not sure why this is, but it's extremely frustrating to be a Windows user in the development world (in general) but contributing to most projects doesn't require anything special. Fork, branch, commit, PR. Pretty simple.

But for this project, we need to install an entirely new operating system, get about 8 separate installations working (which I'

[2019-03-08 15:11] pos1tron commented on #602
The paths fixed worked for me, but I still have one problem:

Type definitions for inferred types are being rewritten like so:
[code]
my tsconfig paths:
[code]

I need it to generate like:
[code]

Is there any way to achieve this?

my current work around is to import the types at the top of the file, even if they aren't directly referenced.

[2019-03-08 15:31] fallXone commented on #602
I fixed this by using a combination of the exampels above. I had to declare the paths, but I had to reference two things

- the dist directory of the library
- the index.ts file of the library from src (not libs)

With a combination of these two things, i'm able to build the libraries.

[2019-03-08 18:25] jimdubbs commented on #503
Im also experiencing extremely long linting times in our project as well. Not sure how to try disabling the nx-enforce-boundries in an effort to speed things up.

[2019-03-08 20:42] spidermon commented on #777
In our project this issue was reproducible with latest angular cli and nx. Cause of issue was @angular/pwa package or some of 14 derived dependencies. I didn't dig deep enough but workaround is to delete @angular/pwa. Angular CLI with nx working after that as expected.

[2019-03-08 20:44] spidermon commented on #596
In our project this issue was reproducible with latest angular cli and nx. Cause of issue was @angular/pwa package or some of 14 derived dependencies. I didn't dig deep enough but workaround is to delete @angular/pwa. Angular CLI with nx working after that as expected.

[2019-03-08 20:44] spidermon commented on #1096
In our project this issue was reproducible with latest angular cli and nx. Cause of issue was @angular/pwa package or some of 14 derived dependencies. I didn't dig deep enough but workaround is to delete @angular/pwa. Angular CLI with nx working after that as expected.

[2019-03-08 22:12] FrozenPandaz commented on #1141
This seems like a great feature 👍 Would someone be willing to make a contribution?

[2019-03-08 22:18] FrozenPandaz commented on #1142
Yes, it is because `tsconfig.app.json` does not need these options. In your own repo, you can do the following:

1. Create a `tsconfig.lib.json` which extends `tsconfig.json` at the root
2. Extend the root `tsconfig.lib.json` in each project.

In my opinion, given that it is generated for you.. maybe just leave it though as that is less work.

[2019-03-08 22:24] FrozenPandaz commented on #1146
I agree, I also use Windows frequently but switch to a unix OS to develop. This is not something all developers have available to them.

The reason why the repo currently requires some sort of unix terminal to develop is that we execute things like `rm`, `mv`, etc. directly.

 It would be great to enable development through **cmd** and/or **powershell**. It would be greatly appreciated if someone

[2019-03-09 02:37] mathpaquette opened #1152 "vscode intellisense does't work after fresh install"
_[Please make sure you have read the submission guidelines before posting an issue](https://github.com/nrwl/nx/blob/master/CONTRIBUTING.md#-submitting-issue)_

# Prerequisites

Please answer the following questions for yourself before submitting an issue.
**YOU MAY DELETE THE PREREQUISITES SECTION.**

- [x ] I am running the latest version
- [x] I checked the documentation and found no answer
- [x

[2019-03-09 13:11] #1152 closed

[2019-03-11 08:14] ViceIce commented on #1029
[jest-preset-angular](https://www.npmjs.com/package/jest-preset-angular) v7 was released. So no more a blocker.

[2019-03-11 15:05] #1119 closed

[2019-03-11 17:30] #1029 closed

[2019-03-11 21:14] #1120 closed

[2019-03-11 22:29] rodbecc commented on #1094
We have the same issue in our project. As suggested in [typescript-tslint-plugin repo](https://github.com/Microsoft/typescript-tslint-plugin#with-vs-code), we should use [VSCode TSLint](https://marketplace.visualstudio.com/items?itemName=ms-vscode.vscode-typescript-tslint-plugin) when using VSCode's Typescript version, and install manually typescript-tslint-plugin on tsconfig.json when using works

[2019-03-11 22:56] skydever commented on #1152
hi!

just wondering - I am facing performance issues with vscode lately, sometimes it takes very long to get the intellisense as it should be, and my machine is a I would say good one ... how did you solve your issue? by just waiting a bit longer until you get the suggestions?

I googled a bit about performance issues using vscode and came to the issue about the [Angluar Language Service](https://

[2019-03-11 23:39] mohyeid commented on #1096
I tried all combinations above, and none of them works. Always failing at the e2e step with above errors.

[2019-03-12 08:06] hmagrini commented on #574
@vggarg96 hmm maybe you can try installing [`tsconfig-paths`](https://www.npmjs.com/package/tsconfig-paths) and change your `serve:ssr` npm script to
[code]

[2019-03-12 12:56] vggarg96 commented on #574
@hmagrini  still the same result i was able to build it but when i run it. i got the same error as before

[2019-03-12 19:46] Merott commented on #985
Any updates on this? Running into the same issue :)

[2019-03-13 01:22] jcollombb opened #1162 "Add multi-select support for workspace-schematic prompts"
## Expected Behavior
Using `multiselect:true` should use the `checkbox` type to allow multiple selection of cli choices

![Screen Shot 2019-03-12 at 18 18 17](https://user-images.githubusercontent.com/42710222/54246738-61333b80-44f3-11e9-8bc8-f5635de0ad3f.png)

## Current Behavior

Currently, when using `workspace-schematic`, passing `multiselect:true` with a list prompt provides a single selectio

[2019-03-13 03:19] ccpony commented on #1016
I can confirm this exact problem.  Lib gen fails silently when using --routing.

"@nrwl/nx": "^7.6.2"
"@nrwl/builders": "^7.6.2"
"@nrwl/schematics": "^7.6.2"
"@angular/cli": "^7.3.5"
"@angular/compiler-cli": "^7.2.9"

[2019-03-13 09:57] boeckMt commented on #471
Hi,

i have the same error when adding @nrwl/schematics to a new created angular 7.2 project.

`ng new nxtest --createApplication=false
ng add @nrwl/schematics

Schematic input does not validate against the Schema: {"name":null}
Errors:

  Data path ".name" should be string.
`

[2019-03-13 10:29] lukasalphta opened #1165 "Apps with certain name casue error Could not find module "@angular-devkapps/it/build-angular""
## Expected Behavior
Being able to name apps with any string.

## Current Behavior

After creating an app with name "de" and running ```ng serve de``` cli returns an error

Could not find module "@angular-devkapps/it/build-angular"

## Failure Information

The apps with other names like myapp, mandant etc. work well in the same workspace.
Currently I encountered the problem with names de and it.

[2019-03-13 13:09] creadicted opened #1167 "nestjs compilation - include other files than just main.js"
Hello,
i use nx and used a nestjs backend in there before you supported it. So thank you for the integration.
What I also love is the second way of compiling  the code with the ``"builder": "@nrwl/builders:node-build"` instead of nodemon.

## Expected Behavior
Files that are not importable in to the main.js file are placed in the correct folder structure in the dist files.

## Current Behavior
The

[2019-03-13 16:34] Merott opened #1169 "Shared libraries (e.g. SharedComponents) are problematic for dep graph analysis"
One of the primary benefits of using nx is its ability to statically scan project dependencies and detect affected apps.

What I'm struggling with is how to make that work effectively when dealing with shared libraries that are used in multiple, if not all, apps.

Let's say our monorepo has 10 apps, and we have a `SharedComponentsModule` that is imported by all 10 of them. Let's also say that `Sha

[2019-03-13 17:10] FrozenPandaz commented on #1169
Hey, your assessment is correct.

Splitting the components into separate libraries is the way to go. Having everything affected when a project is added is unfortunate.

For `tsconfig.json`, `nx.json` and `angular.json` there are some optimizations we may be able to make in the future? `nx.json` and `angular.json` are relatively implicit but `tsconfig.json` is explicitly extended upon by most proje

[2019-03-13 17:26] Merott commented on #1169
Thanks for the quick reply.

The auto-generated changes to `tsconfig.json`, `nx.json` and `angular.json` are predictable, and shouldn't be too difficult to check.

If the only difference is the addition of one or few modules, I don't see how that in itself would affect any of the existing apps/libraries. Or would it?

[2019-03-13 19:02] brianpkelley commented on #1008
Would seem that, in my case, it was the "newProjectRoot" value.

[2019-03-13 20:40] latchezar-kostov-ascendlearning-com opened #1171 "Add jest to existing project - Cannot read property types of undefined"
## Expected Behavior
Should be able to add JEST as a test runner for an existing project when NX was updated from an older version to the latest.

## Current Behavior
Error is thrown when trying to do below
`ng generate jest-project --project myLib`
`Cannot read property 'types' of undefined`

## Failure Information (for bugs)
`Cannot read property 'types' of undefined`

Please help provide inform

[2019-03-13 23:53] ZackDeRose opened #1173 "Fresh workspace has Jasmine Types in tsconfig.tools.json file"
_[Please make sure you have read the submission guidelines before posting an issue](https://github.com/nrwl/nx/blob/master/CONTRIBUTING.md#-submitting-issue)_

# Prerequisites

Please answer the following questions for yourself before submitting an issue.
**YOU MAY DELETE THE PREREQUISITES SECTION.**

- [x] I am running the latest version
- [x] I checked the documentation and found no answer
- [x]

[2019-03-14 02:19] latchezar-kostov-ascendlearning-com commented on #1171
After some more digging, I found that that my library itself did not have a tsconfig.json at the root.  I had to add this to all of my libraries.  I am not sure how/when that was removed.

[2019-03-14 02:19] #1171 closed

[2019-03-14 06:22] xmlking opened #1174 "nestjs prod build fail due to externalDependencies"
_[Please make sure you have read the submission guidelines before posting an issue](https://github.com/nrwl/nx/blob/master/CONTRIBUTING.md#-submitting-issue)_

# Prerequisites

Please answer the following questions for yourself before submitting an issue.
**YOU MAY DELETE THE PREREQUISITES SECTION.**

- [x] I am running the latest version
- [x] I checked the documentation and found no answer
- [x]

[2019-03-14 13:16] agusdutra commented on #1096
I was having this issue with `ng generate app` , without any extra config.

After updating schematics and angular cli it worked.

[code]

[2019-03-14 15:37] xmlking commented on #1167
may be we could use    ` "assets": ["apps/api/src/assets", "apps/api/src/migrations", "apps/api/src/otherpath"],` in `angular.json`

[2019-03-14 15:45] xmlking commented on #1174
this could be reproduces with
[code]

[2019-03-14 17:54] olakara opened #1175 "How to configure & debug NestJS using vscode?"
I am struggling to debug (use breakpoints and inspect the application flow) using vscode. Can someone share me how to configure the debug. I have tried multiple solutions available after googling. But all of them are not in Nx Workspace or with Angular.

Can someone share the launch.json / nodemon-debug.json or other related files for debugging? I would like to know how you are debugging the NestJ

[2019-03-14 21:01] loderzmj opened #1176 "Mocking DataPersistance in unit tests"
How DataPersistance can be mocked in unit tests? Actually I need to mock state used in DataPersistance methods.

Many thanks.

[2019-03-14 22:16] markgoho opened #1177 "allow --port flag to be passed in for e2e cypress tests"
If you've got your app running and then run your e2e tests, it'll fail because that port is already in use. It doesn't look like it'll just use the running application, so it tries to start the e2e version of the app on the same port because there's no way to specify a different port per build target.

So, we need the option to pass in a different port when running e2e tests.

[2019-03-15 04:23] matheo opened #1178 "DOM test issues after upgrading to 7.7.1"
## Expected Behavior

Run my tests normally as I'm doing with Nx `7.6.2`

## Current Behavior

Tests are broken with the error `ReferenceError: DragEvent is not defined`
I've tried different things with the `tsconfig.json` including the `dom` lib but I had errors related to `es6` and `Array.include` used in other parts of the project.

## Failure Information

[code]

### Steps to Reproduce

1. Hav

[2019-03-15 13:12] hmagrini commented on #574
@vggarg96 I opened a PR to your repo (https://github.com/vggarg96/nrwl-angular-universal/pull/1). I think the most important part was that you were missing to use the `ModuleMapLoaderModule` like on the `app.server.module` file, like this: https://github.com/hmagrini/nrwl-angular-universal/blob/hmagrini/fix-build/apps/myworkspace/src/app/app.server.module.ts#L3

But please check the whole PR as I

[2019-03-15 14:31] appsolutegeek opened #1180 "Creating full stack produces Cannot find project"
_[Please make sure you have read the submission guidelines before posting an issue](https://github.com/nrwl/nx/blob/master/CONTRIBUTING.md#-submitting-issue)_

# Prerequisites

Please answer the following questions for yourself before submitting an issue.
**YOU MAY DELETE THE PREREQUISITES SECTION.**

- [x] I am running the latest version
- [x] I checked the documentation and found no answer
- [x]

[2019-03-15 18:11] markgoho commented on #883
For multiple apps reusing helpers, importing interfaces, etc. would be super helpful but basically everything causes the build to break. Is there anyone that could look into this?

[2019-03-15 19:28] vggarg96 commented on #574
thanks @hmagrini I am looking at the PR. Thanks a lot for your help and support. I will try to run it and let you know ASAP about the result  . Sorry for troubling I am still a college student and learning angular. Once again thank you a lot for helping me out.

[2019-03-15 21:28] creadicted commented on #1167
Thank you @xmlking for taking the time.
With the assets path I have two problems:

1. yes the files are included but they are then typescript files and are then not readable by the main.js
2. The files I reference have to be in the project source root. Since I use backend libraries and share them between backends, i have files that I reference to, outside of the main app folder.

[2019-03-16 01:00] ZenSoftware commented on #1174
I am encountering this problem as well.  After running `ng update @nrwl/schematics` going from **7.6.2** to **7.7.1**.  A bare-bones NestJS app with the `--prod` flag does not compile.

### Does Not Compile

- NestJS app with `--prod`

### Compiles

- NestJS app without `--prod`
- Angular app with `--prod`
- Angular app without `--prod`

### System

- Node.js **10.15.3**
- @nrwl/nx@**7.7.1**
- @ne

[2019-03-16 04:49] archermc commented on #191
@jsonberry First of all, thanks so much for this workaround.  It's a life saver.

Just wanted to post a rather obvious fix to an issue I was having in case anyone is following this and got tripped up.

Implementing the `replacer` for the `StoreDevtoolsModule` I encountered an errors as follows:

[code]

This was fixed by altering the `replacer`'s return statement to add some null checking:

[code]

[2019-03-16 16:34] dherges opened #1182 "Renaming app breaks implicitDependencies"
# Prerequisites

Please answer the following questions for yourself before submitting an issue.
**YOU MAY DELETE THE PREREQUISITES SECTION.**

- [x] I am running the latest version
- [x] I checked the documentation and found no answer
- [x] I checked to make sure that this issue has not already been filed
- [x] I'm reporting the issue to the correct repository (not related to Angular, AngularCLI o

[2019-03-16 17:12] hmagrini commented on #574
no worries, happy to help! I'll add some comments to the PR to explain a bit some of the changes :)

[2019-03-16 17:23] markgoho commented on #1177
It would be nice to see the port passed in as a flag, but it's been pointed out that if you start you e2e tests in watch mode, you can also continue developing using the served application on its default port.

[2019-03-16 17:23] #1177 closed

[2019-03-16 17:30] markgoho opened #1183 "many jest test failures after upgrade to jest 24 (via 7.7 upgrade)"
For some libs I'm getting:
[code]
Other libs, I'm starting the test and they never run:
[code]
After 89s I stopped it.

Following the instructions here: https://huafu.github.io/ts-jest/user/config/diagnostics for ts-jest diagnostics has zero effect on whether they run or not.

Should this have been pushed as an 8.x release with breaking changes?

[2019-03-17 00:26] Epenance opened #1184 "Nestjs Websocket doesnt init"
_[Please make sure you have read the submission guidelines before posting an issue](https://github.com/nrwl/nx/blob/master/CONTRIBUTING.md#-submitting-issue)_

# Prerequisites

Please answer the following questions for yourself before submitting an issue.
**YOU MAY DELETE THE PREREQUISITES SECTION.**

- [x] I am running the latest version
- [x] I checked the documentation and found no answer
- [x]

[2019-03-17 02:06] #1184 closed

[2019-03-17 02:06] Epenance commented on #1184
Turns out Nestjs released a new version of their gateway which seems broken.

[2019-03-17 11:52] 4kochi commented on #1183
We also face the problem that with the new version of `ts-jest` (which is used now due to the changes), the first run of our tests takes very long (500+ seconds). With cached test there seems no difference.

I think there a two possible solutions:

1. Pass through the `ts-jest` settings from the `jest.config.js` file and merge them with the nx default settings. So then every user has control over

[2019-03-17 19:01] ZenSoftware commented on #1174
There seems to be issues with a bare-bones nx project using nestjs@6.0.0 as well.  I submitted an issue in the nest repo here: https://github.com/nestjs/nest/issues/1706

Minimum reproduction can be found here: [Nx & nestjs@6.0.0 bug reproduction](https://github.com/ZenSoftware/nx-nest)

[2019-03-17 20:32] xmlking commented on #1174
may be `nx` provide  noWebPack option (`ng build api --noWebPack --prod`)  for node projects.
WebPack bundles   has no really benefit for server-side apps and some times, not compatible well with some frameworks (e.g, typeorm migrations etc)

[2019-03-17 21:53] ZenSoftware commented on #1174
It would be nice if there was a no webpack option.  I'm not sure if there is.  The `--prod` flag is usually only used to indicate that we want to use the `environments.prod.ts` file during the compilation of server side Node apps.

[2019-03-17 22:11] gund commented on #1096
Can confirm in my project CLI works again after upgrading angular and NX libs.

[2019-03-18 12:38] jpremkumar commented on #309
Any update or workaround for having a separate package.json for apps?

[2019-03-18 14:02] sanidz commented on #816
I might be wrong, but I am trinking about creating separate "child" project for cypress only, because cypress typings messes jasmine typings in karma tests.
Only con is slightly different scripts for cypress open and run...

[2019-03-18 14:35] FrozenPandaz commented on #1183
Hi all, is there a repo I can take a look at?

Is this only some projects or all projects?

[2019-03-18 14:45] 4kochi commented on #1183
Sadly our repo is private. But basically it applies to all repositories. The thing is for small repos you will not see any difference.

[2019-03-18 14:48] 4kochi commented on #1183
I just saw there is already an issue for this problem: https://github.com/nrwl/nx/issues/1059

[2019-03-18 15:06] FrozenPandaz commented on #1183
#1059 is indeed an issue but should be addressed seperately.

So I did some testing and it seems like the diagnostics option is for any Typescript compilation errors encountered. It should tell you where the compilation errors are so you can fix them. If this was the behavior before, until version 8, we can have diagnostics disabled by default to make it a non-breaking change.  And then make it en

[2019-03-18 16:10] markgoho commented on #1183
Same with us, private repo. However when I removed that particular test suite that had the failing diagnostics, then the tests just ran forever without actually starting:
[code]

[2019-03-18 16:18] markgoho opened #1185 "upgrade cypress to 3.2"
Cypress 3.2 was released. This should be the default version that gets installed. Maybe a schematic as well for folks upgrading to the next release of Nx?

[2019-03-18 20:24] 4kochi commented on #1183
Thx for the quick responses. So the behavior definitely changed with the new versions of jest and ts-jest. So to be backwards compatible it would be nice if diagnostics would be disabled in nx v7.x
And for v8.x it would be nice if this setting can be changed through an cli option. Or, in case the workaround with setting the option in the package.json works (as suggested in
https://github.com/nrwl/

[2019-03-19 02:54] ZenSoftware commented on #1174
@xmlking
From: https://github.com/nestjs/nest/issues/1706

[2019-03-19 10:08] tavianm commented on #1178
Same problem, any workaround?

[2019-03-19 11:11] IlCallo commented on #1183
Same here: even simple tests take forever to complete (350s+)

[2019-03-19 18:47] lonix1 opened #1187 "[Question] How does this compare to alternatives?"
The docs are good, but something is missing. How does this compare to similar tools, e.g. [lerna](https://github.com/lerna/lerna)?

Can someone please advise the factors to consider when choosing the one or the other (or other alternatives)? Presumably there is overlap, but also I would assume one is better suited for some scenarios and the other is suitable for others.

Any advice would be apprec

[2019-03-20 00:43] #1141 closed

[2019-03-20 00:45] #1162 closed

[2019-03-20 01:14] dirkluijk opened #1189 "Ivy support: workaround or solution for path mapping"
We use a project layout based on Nx Workspaces. It seems that there is an issue with path mapping when using the Angular 8 Ivy preview.

Please see https://github.com/angular/angular/issues/29361 for more information.
I thought it might be good to report it here as well.

[2019-03-20 02:39] xmlking commented on #1187
I wish #nx sopport lerna style release management , essentially useful for publishing lib modules

[2019-03-20 02:43] xmlking commented on #1107
My preference is abc-app(webApp), abc-mobile, abc-api

[2019-03-20 02:45] xmlking commented on #1089
I am thinking of adopting Lerna and Yarn workspace on top of nx monorepo

[2019-03-20 04:56] xmlking commented on #1174
looks like nx already support excluding some or all  node modules from bundling `externalDependencies: 'all' | 'none' | string[];` [here](https://github.com/nrwl/nx/blob/master/packages/builders/src/node/build/node-build.builder.ts#L26)

for my case `"externalDependencies": "all"` worked.

[2019-03-20 08:42] lonix1 opened #1190 "[BUG] New project instructions don't work"
I followed the [official docs](https://nx.dev/tutorial/01-create-application) to create a new app.

Environment (latest of everything):
nx 7.7.2
angular-cli 7.3.1
node 10.15.3
npm 6.9.0
ubuntu 18
vscode 1.32.3

Repro:
[code]

Problem: running tests in IDE, or using jest in terminal, fails:
- From vscode: open vscode, then open the `/apps/myapp/src/app/app.component.spec.ts`
- From terminal: `node_

[2019-03-20 10:03] lonix1 commented on #747
I'm new to nx, so this is too complex for my current level of understanding and I don't know if [my issue](https://github.com/nrwl/nx/issues/1190) is a dupe of this one.

My issue: following the official docs to the tee, a new project's tests work via `npm run test` and `ng test`. But they fail in VSCode and its extensions, with the error `"Zone is needed for the async() test helper but could not

[2019-03-20 12:27] appsolutegeek commented on #1010
Hi @creadicted , thanks for your input. Yes I also tried it.. I created my library, but the file is missing in angular.json so it complains about nx and angular.json being out of sync.

So I had to add a section for the library, what I did was create an angular library in a temp project and copy the structure into mine.

It would be nice if this was integrated into NX / Angular Console directly -

[2019-03-20 12:41] lonix1 opened #1191 "[Feature Request] Support pnpm"
Please consider adding support for [pnpm](https://github.com/pnpm/pnpm) (alongside npm and yarn). It is command-equivalent to npm, so would work as a drop-in replacement, but with much better features.

Allowing `nx`/`ng` to use `pnpm` means manipulations of packages and config files would be done correctly and easily.

Also, Angular CLI now [officially supports it](https://github.com/angular/angu

[2019-03-20 20:02] dolanmiu commented on #1107
what does `abc-` stand for? lol

[2019-03-20 20:27] jordandlaman opened #1192 "[Feature Request] Option --spec cli argument not exposed by the cypress builder"
## Expected Behavior

Running ng e2e --headless --spec="app.spec.ts" should expose the spec flag that cypress has built in to allow you to selectively run a single spec.

## Current Behavior

Running ```ng e2e --headless --spec="app.spec.ts"``` pops

```Unknown option: '--spec'```

Use case for this comes down to headless electron sometimes behaves differently than headed electron.  Need to be abl

[2019-03-20 21:35] elishnevsky opened #1193 "NX does not ask for routing options when generating app or lib"
# Prerequisites

- [x] I am running the latest version
- [x] I checked the documentation and found no answer
- [x] I checked to make sure that this issue has not already been filed
- [x] I'm reporting the issue to the correct repository (not related to Angular, AngularCLI or any dependency)

## Expected Behavior

When generating applications or libraries from a command line NX should prompt for ro

[2019-03-20 22:57] llwt commented on #892
@FrozenPandaz Can we reopen this one or #816? We're seeing the same issue with cypress and jest conflicting.

[2019-03-21 02:41] xmlking commented on #1107
Can be your sub project/app name. In my case , I have admin, launchpad

[2019-03-21 09:02] Epenance commented on #633
Would indeed be awesome to get some examples

[2019-03-21 09:19] lonix1 commented on #1190
This appears to be a [problem for VSCode](https://github.com/nrwl/nx/issues/747). However since it is the most used IDE in the node/angular world, this is a serious problem.

Has anyone figured out how to solve this? Can anyone share a boilerplate project which actually works?

[2019-03-21 11:50] appsolutegeek opened #1194 "process.cwd() refers to root and not the application directory"
- [x] I am running the latest version
- [x] I checked the documentation and found no answer
- [x] I checked to make sure that this issue has not already been filed
- [x] I'm reporting the issue to the correct repository (not related to Angular, AngularCLI or any dependency)

## Current Behavior

I created a node app (nestjs) and everything is working great but in the node app, I would like to use

[2019-03-21 13:02] appsolutegeek commented on #1194
Ok, so I managed to get around it

I am using the following

`configFile = join(__dirname, "/config/.env")`

and I edited the angular.json and added to the asset block of the build. So this copies over the config directory to the dist directory and i am able to do the above.

SO this works, although it would be nice to know if the process.cwd can have the correct value.

[2019-03-21 14:47] lonix1 commented on #1190
After following the workaround in [that issue](https://github.com/nrwl/nx/issues/747), the error is now

and

This is for a vanilla new project, using nx's generators. I've added nothing.

I also tried some tips on the [angular site](https://angular.io/guide/testing#calling-compilecomponents) for this specific error, but they didn't help.

This is very frustrating, I've spent almost two days tryin

[2019-03-21 15:01] rwoody commented on #496
This also happened to me when I have an `@` sign in my npmScope in `nx.json`

[2019-03-21 16:13] llwt commented on #892
Nevermind. VSCode was just being slow, removing the `/// reference`  and renaming the `tsconfig.spec.json` to `tsconfig.json` in the e2e project fixes it.

[2019-03-21 16:27] pglazkov commented on #687
Is there an update about this issue or a workaround?

[2019-03-21 16:35] pglazkov commented on #687
Never mind, deleting `dist/.nx-results` fixed the issue for me.

[2019-03-21 18:44] lonix1 commented on #1089
@xmlking Do you know the difference between nx and lerna? I can't find info on that... Are they the same or complementary, etc.? They seem to do the same thing, but I'm not sure.

[2019-03-21 22:18] skydever commented on #1139
hi!

I had a short look at it and I think it has to be added [here](https://github.com/nrwl/nx/blob/master/packages/schematics/src/collection/application/files/app/tsconfig.json). I can create a PR if it is the case and if it would help @bcabanes? checking the `unitTestRunner` there and decide what to add ...

#768 was only targeting the `tsconfig.spec.json` (before each project had its own `tscon

[2019-03-21 22:26] skydever commented on #1139
... but this will overwrite the `exclude` from the root `tsconfig.json` as well for the app (in the IDE only?)?

... wanted to mention that too, because I have some performance issues with vscode lately as mentioned in #1152 but still had no time to do more investigation on that 😢 the `tsconfig.json` at the root level has this `"exclude": ["node_modules", "tmp"]` and the app will scan `node_module

[2019-03-22 07:38] persistence911 opened #1195 "Cypress Builder not copying all the needed files"
# Prerequisites
I am using the cypress builder for building and running e2e test in an angular application. I am also using the https://www.npmjs.com/package/cypress-cucumber-preprocessor plugin  which allow you to have a .feature extension in the folder.

## Expected Behavior
During the build process the feature file located in the integration directory are not begin copied across into the dist f

[2019-03-22 13:31] lonix1 commented on #1059
Hey guys there are many issues lately which seem unrelated but they are - nx isn't playing nice with `jest-preset-angular` and so tests don't work.

Can someone share a working config: `jest.config.js` and `tsconfig.spec.json`, etc.?

[2019-03-22 13:31] lonix1 commented on #1183
Hey guys there are many issues lately which seem unrelated but they are - nx isn't playing nice with `jest-preset-angular` and so tests don't work.

Can someone share a working config: `jest.config.js` and `tsconfig.spec.json`, etc.?

[2019-03-22 13:32] lonix1 commented on #1178
Hey guys there are many issues lately which seem unrelated but they are - nx isn't playing nice with `jest-preset-angular` and so tests don't work.

Can someone share a working config: `jest.config.js` and `tsconfig.spec.json`, etc.?

[2019-03-22 14:32] FrozenPandaz commented on #1194
Hm.. There is no way to control this. We could accept the `cwd` as an option and pass it through. Is this because in `production` your application will be run from the same directory as the script? Using `__dirname` is generally more predictable in my experience.

[2019-03-22 14:33] FrozenPandaz commented on #1192
I think it would be a good feature. :) Does someone from the community want to try to implement it?

[2019-03-22 14:36] FrozenPandaz commented on #1183
Can we please create a separate issue for the performance issues? I will turn the diagnostics to `warn` today.

[2019-03-22 14:41] FrozenPandaz commented on #1059
I'd like to get this to work as well.

The reason it does not work is that `jestCLI` node api seems to take a stringified `json` which means the whole `globals` input is overwritten. We only need to overwrite the `tsConfig` property of `ts-jest`. Does anybody have an idea of how this could work?

[2019-03-22 15:01] FrozenPandaz commented on #1190
This extension has a configuration option for `jest` executable: https://github.com/jest-community/vscode-jest

This PR makes integration much better:
https://github.com/nrwl/nx/pull/1118

_After_ that, you can set your path to the `./node_modules/.bin/ng test` and it will work:
![image](https://user-images.githubusercontent.com/8104246/54832005-c4f6fa80-4c91-11e9-9ac0-6fdcf928af49.png)

[2019-03-22 16:11] FrozenPandaz commented on #1167
I was playing around with `worker_threads` and ran into similar issues.

I haven't given this as much thought as I need to but my preliminary solution would be to provide an option for `additionalEntries`. I think inputs to that property would be added to the array of `entries` passed to `webpack`. I think it would solve this use case in a generic way?

[2019-03-22 16:37] lonix1 commented on #1059
Hey @FrozenPandaz Thanks for looking into this, we've been going round in circles for days. Some of the stuff we've tried:

1. I had a hunch nx was using the old APIs, so I did this:
[code]
I thought that would force it to work with the old AND new APIs, but sadly that doesn't work either. So it's probably not an API thing.

2. I tried the [workaround here](https://github.com/nrwl/nx/issues/747) t

[2019-03-22 16:40] lonix1 commented on #1190
That looks cool, hope you guys manage to merge it soon!

[2019-03-22 16:49] lonix1 commented on #1059
The stringification may not be a problem - see the migration notes for [jest-preset-angular](https://github.com/thymikee/jest-preset-angular/releases/tag/v7.0.0).

The globals should be overridable, I think that's how the preset does it (override/extend rather than replace).

[2019-03-22 17:13] xmlking commented on #1089
I think one overlap  feature  in nx and Lerna is , thy both help  detect `affected` modules and help test/build only modified modules.
I am thinking to use nx for affected, Lerna for publishing `publishable` lib modules, and switch to `yarn`

[2019-03-22 17:20] lonix1 commented on #1089
You are gonna use nx AND lerna... interesting...

Yarn: I don't see the point, these days npm does everything yarn does. You might want to look into pnpm which has unique features.

[2019-03-22 17:25] FrozenPandaz commented on #1189
According to that issue, it's a bug in the ivy compiler so there's not much we can do but wait.

[2019-03-22 17:26] lonix1 commented on #1089
@xmlking You are gonna use nx AND lerna... interesting... (I didn't realise they were that different)

Yarn: I don't see the point, these days npm does everything yarn does. You might want to look into pnpm which has unique features (doesn't download npm packages over and over again for different projects, and its VERY fast!)

If you have success with nx+lerna let us know when you get the chance,

[2019-03-22 17:33] FrozenPandaz commented on #1187
I'll leave a brief answer here but I think it would be helpful to have some formal FAQs section for our docs.

Lerna is good at easily running _everything_. It is probably better for doing things like publishing a set of libraries.

Nx is intelligent about how to run tasks on the workspace. Nx workspaces can have many internal projects which do not need to be published. It can decide which project

[2019-03-22 17:33] FrozenPandaz commented on #1176
What do you need to mock specifically?

[2019-03-22 17:41] lonix1 commented on #1187
Thanks for explaining it to us! Makes more sense now... Maybe even a good idea to use both as @xmlking suggested for publishing workflows.

FAQ section would be very helpful. :+1:

I don't know if you want me to close, or leave open for the FAQ idea.

[2019-03-22 17:41] #1187 closed

[2019-03-22 18:00] mohyeid commented on #1059
@lonix1
What you can do to get this work in your local is open the jest.builder.js file and add the required configuration there. Builder will keep overriding your configuration if you place them in the jest.config file. So to persist them go to node_modules\@nrwl\builders\src\jest\jest.builder.js and change the globals to the following:
[code]

If you want this to work in your build server, this

[2019-03-22 18:09] xmlking commented on #1089
My main goal is split package.json , one in root and one each in apps/web-app apps/node-app with their own scripts in it. Considering yarn because  of its support for workspaces

[2019-03-22 18:19] FrozenPandaz commented on #1174
Using `externalDependencies: 'all'` should work. We would like bundling to be the default in production for deploying a lighter docker image. Let's keep discussing in https://github.com/nestjs/nest/issues/1706 because there is more information there.

We could provide a `ts-node` builder but it would lack some features like being unable to do `fileReplacements` and such.

[2019-03-22 18:24] FrozenPandaz commented on #1182
We added the feature to define your own `implicitDependencies` so you can do it that way. We intend to write a migration which would add the current e2e implicit dependencies to the declared ones and deprecate the e2e implicit dependencies.

[2019-03-22 18:28] xmlking commented on #1187
Would be nice if nx support `ng publish my-public-module`,  `ng affected:publish --base=origin/master --head=HEAD`,  then we don’t need Lerna. Yes we also need version management support

[2019-03-22 18:54] lonix1 commented on #1059
@mohyeid Thanks... Do you mean [this line](https://github.com/nrwl/nx/blob/master/packages/builders/src/jest/jest.builder.ts#L70)? Nope that doesn't work for me I still can't get tests to run. Maybe we are using different versions, or different config files. I also tried commenting out the stuff mentioned in the posts above.

Hopefully if someone gets this to work, we can get a set of working conf

[2019-03-22 18:56] lonix1 commented on #1187
@xmlking Probably a good idea to have that in a separate issue so we don't forget about it. If enough people like the idea maybe we can have that feature one day. I'll upvote you.

[2019-03-22 19:40] lonix1 commented on #1089
Hey @xmlking you might want to look at [rush](https://www.npmjs.com/package/@microsoft/rush) as well. It's similar to lerna and made by Microsoft, so it has better support. I don't know if it works with nx nicely. I plan to try both and see which plays better with nx.

[2019-03-22 21:27] mohyeid commented on #1059
@lonix1
I am not sure what version you are in, but the line you sent is off master branch which seems to have the fix that we are trying to do. As I am in [7.1.1](https://github.com/nrwl/nx/blob/7.1.x/packages/builders/src/jest/jest.builder.ts#L47) this code was not there and this is why I have to patch it.

[2019-03-23 06:27] lonix1 commented on #1059
I'm on the latest version.

[code]
I'll rollback to your version and try.

[2019-03-23 08:25] appsolutegeek commented on #1194
Thanks @FrozenPandaz, agreed. I have it working now.

[2019-03-23 08:25] #1194 closed

[2019-03-23 08:37] iangregsondev opened #1199 "node-build, getting the original __filename value before bundling ?"
- [x] I am running the latest version
- [x] I checked the documentation and found no answer
- [x] I checked to make sure that this issue has not already been filed
- [x] I'm reporting the issue to the correct repository (not related to Angular, AngularCLI or any dependency)

## Expected Behavior

Before using NX I was using a logger and I pass in the __filename which would represent the real filen

[2019-03-23 09:36] kklimczak commented on #1059
@FrozenPandaz, did you try to move this config to generated jest.config.ts?

[2019-03-23 22:58] ZenSoftware commented on #208
I thought you guys would find this useful: [Using Abstract Classes As Dependency-Injection Tokens For Swappable Behaviors](https://www.bennadel.com/blog/3327-using-abstract-classes-as-dependency-injection-tokens-for-swappable-behaviors-in-angular-4-2-3.htm)

I have 3 Angular apps in an Nx project that share some common environment variables. A public site, a private portal, and an admin app.  In m

[2019-03-24 05:32] ankeshdave commented on #1192
@FrozenPandaz, I can look at this issue, can you provide me some direction on how to go about it :)

[2019-03-24 16:31] appsolutegeek opened #1202 "Ability to pass --inspect-brk to ng serve ? (nestjs app using node-execute)"
- [x] I am running the latest version
- [x] I checked the documentation and found no answer
- [x] I checked to make sure that this issue has not already been filed
- [x] I'm reporting the issue to the correct repository (not related to Angular, AngularCLI or any dependency)

## Expected Behavior

Need a way of passing inspect-brk to ng serve. I know I can change the options via the angular.json li

[2019-03-24 17:11] appsolutegeek commented on #1175
hi @olakara , I am having the same issue. If I placed a debugger statement then it stops.

If I place a breakpoint, it states that Breakpoint unverified and is greyed out (not red).

I can share what I have right now but its not working :-(

Did you get any further ?

[code]

I just can't seem to figure it out :-(

Anybody have any suggestions ?

[2019-03-24 17:15] olakara commented on #1175
hi @appsolutegeek , good to know someone else is having this issue.. I have tried multiple things and failed. I am not an expert so not sure whats the mistake. I haven't found a solution yet :-(. I did ask the same question on other repos as well (some example repos) and nor reply.

If people are not using vscode, can someone explain how they are debugging the nestjs app in nrwl?

[2019-03-24 17:41] appsolutegeek commented on #1175
I have tested a standard nestjs app used via the nest cli....  i used the same debug port and i was able to attach the debugger using the same config

So vscode is working it appears.

[2019-03-24 17:44] olakara commented on #1175
yes, I agree.  I am able to debug a nestjs application that is not in nrwl workspace. My issue is debugging in a nrwl workspace. I not able to figure that out

[2019-03-25 12:37] philly-vanilly commented on #382
That is not true, the project is not building, I get the same errors as Mathyn. Why don't you just make data-persistence an optional npm module for nx?

I am using NX just for architecture linting (for preventing libs using libs that should not depend on each other); alternatively you could make this function an own npm module. Static, development-only features like this should not be tied togethe

[2019-03-25 13:59] Boosten commented on #382
@Mathyn make sure to remove the NxModule from your AppModule:
![image](https://user-images.githubusercontent.com/3380927/54925438-96398800-4f0e-11e9-8c07-970324c3f60e.png)

[2019-03-25 18:45] alxhub commented on #1189
@FrozenPandaz (hey man!) I wouldn't say it's a bug. There are essential design questions that are unanswered, and we (Angular and nx teams) should probably sync on it sometime. Let's talk on Slack.

[2019-03-25 18:56] dirkluijk commented on #1189
The suggested solution is that you can perfectly use path mapping, as long as you don't use barrel files like I did.

Nx does not advocate the use of barrel files, so I don't think there is currently an issue at this moment.

[2019-03-25 19:04] alxhub commented on #1189
@dirkluijk I actually think this isn't the case. Our compiler still won't know how to write imports to your pathmapped project files, because it doesn't know whether to assume that the module specifier by which you imported the NgModule should be reused for components (as with the APF case) or should be adjusted to point to the components directly (monorepo application case). Today, I believe we'l

[2019-03-25 19:06] dirkluijk commented on #1189
Thanks @alxhub. My mistake, I didn't yet understand it completely. I'll investigate the situation.

Reopened this issue.

[2019-03-26 06:07] appsolutegeek commented on #1175
Ok I fixed it :-)

Here is what I did....

So I have a container for called projects and under that i placed an NX workspace under the directory called vscode-debug-problem.

I run ng serve from the vscode-debug-problem directory

but I launch code from the projects directory - so inside code I can see

projects
     vscode-debug-problem
     other-dir
     other-dir2

This emulates what I am doin

[2019-03-26 06:12] appsolutegeek commented on #1175
On a side note, you can also remove "protocol" and "trace", these are no longer needed. I added them for testing etc.

[2019-03-26 07:56] creadicted commented on #1167
@FrozenPandaz :

I totally agree

[2019-03-26 08:45] SebastianPodgajny commented on #1202
You can use `node --inspect-brk ./node_modules/.bin/ng serve`

[2019-03-26 14:23] shlomiassaf opened #1205 "support "BUILD ONLY"
_[Please make sure you have read the submission guidelines before posting an issue](https://github.com/nrwl/nx/blob/master/CONTRIBUTING.md#-submitting-issue)_

# Prerequisites

Please answer the following questions for yourself before submitting an issue.
**YOU MAY DELETE THE PREREQUISITES SECTION.**

- [ ] I am running the latest version
- [ ] I checked the documentation and found no answer
- [ ]

[2019-03-26 14:31] shlomiassaf opened #1206 "support "BUILD ONLY" mode for cypress builder"
_[Please make sure you have read the submission guidelines before posting an issue](https://github.com/nrwl/nx/blob/master/CONTRIBUTING.md#-submitting-issue)_

# Prerequisites

Please answer the following questions for yourself before submitting an issue.
**YOU MAY DELETE THE PREREQUISITES SECTION.**

- [x] I am running the latest version
- [x] I checked the documentation and found no answer
- [x]

[2019-03-26 14:56] #1205 closed

[2019-03-26 15:03] shlomiassaf opened #1207 "[Feature] Cypress builder should watch fixtures"
_[Please make sure you have read the submission guidelines before posting an issue](https://github.com/nrwl/nx/blob/master/CONTRIBUTING.md#-submitting-issue)_

# Prerequisites

Please answer the following questions for yourself before submitting an issue.
**YOU MAY DELETE THE PREREQUISITES SECTION.**

- [x] I am running the latest version
- [x] I checked the documentation and found no answer
- [x]

[2019-03-26 15:08] shlomiassaf commented on #870
This is probably fixed, in my setup updating the application source will trigger a re-run of all tests.

[2019-03-26 15:15] shlomiassaf opened #1208 "[Feature] Cypress builder should act on spec file delete."
_[Please make sure you have read the submission guidelines before posting an issue](https://github.com/nrwl/nx/blob/master/CONTRIBUTING.md#-submitting-issue)_

# Prerequisites

Please answer the following questions for yourself before submitting an issue.
**YOU MAY DELETE THE PREREQUISITES SECTION.**

- [x] I am running the latest version
- [x] I checked the documentation and found no answer
- [x]

[2019-03-26 15:39] olakara commented on #1175
@appsolutegeek Thanks my friend, I am able to debug now. Here is my launch.json:
`  {
      "type": "node",
      "request": "attach",
      "name": "Debug API",
      "sourceMaps": true,
      "port": 7777
    }`

[2019-03-27 07:07] lonix1 opened #1209 "[Feature Request] FAQ section"
Various things are not fully explained in the docs, and @FrozenPandaz [suggested](https://github.com/nrwl/nx/issues/1187#issuecomment-475711305) that one day we should have a FAQ section. I hope this issue is an appropriate way to keep track of those items?

- [Difference between](https://github.com/nrwl/nx/issues/1187#issuecomment-475711305) nx and similar tools (e.g. lerna, rush)
- Combining nx

[2019-03-27 13:36] creadicted commented on #803
This will not work if you plan to use migrations with typeorm.

[2019-03-27 14:20] fallXone commented on #1094
@rodbecc where did you find this log file? Curious if we are seeing the same thing. Took a stab at getting this working again and still no luck. Would be nice to get a response from the @nrwl team because we really need to get linting working.

[2019-03-27 15:14] ViceIce commented on #930
@strobocopter Your paths mapping should match the package name

if your tsconfig.json has `@abc/something/else` than the package.json name should be `@abc/something/else`

[2019-03-27 16:39] jerryorta-dev commented on #1094
Found the issue in my environment. In the `angular.json` config I have a custom project that was not auto-generated; I built it myself. I did not include the properties "root" and "sourceRoot":

[code]

Once I added those properties, the error went away.

[2019-03-27 16:48] rodbecc commented on #1094
@fallXone, to find the log:

1. In your VS Code settings, set: `"typescript.tsserver.log": "verbose"`;
2. **Developer: Reload Window**;
3. **TypeScript: Select TypeScript Version** and change it to use workspace version;
4. **TypeScript: Open TS Server log**;

[2019-03-27 18:19] fallXone commented on #1094
After checking the logs, I found the problem.

`Info 8033 [13:46:57.207] [typescript-tslint-plugin] "[tslint] Cannot read tslint configuration - 'Failed to load c:\\Code\\tslint.json: Invalid \"extends\" configuration value - could not require \"tslint-eslint-rules\". Review the Node lookup algorithm (https://nodejs.org/api/modules.html#modules_all_together) for the approximate method TSLint uses

[2019-03-27 19:56] deimosOmegaChan commented on #803
Workaround for migrations:
Changed tsconfig module to commonjs. Generation of migrations works only with commonjs or umd.
Creating of ormConfig.json inside the root directory
![ormconfig](https://user-images.githubusercontent.com/26299054/55107570-eca2f400-50d1-11e9-8731-14d786242e6b.PNG)

Import
![appmodule](https://user-images.githubusercontent.com/26299054/55107797-781c8500-50d2-11e9-89e4-14aa2

[2019-03-28 11:23] schackito opened #1210 "Publishable libs should have the production target generated"
_[Please make sure you have read the submission guidelines before posting an issue](https://github.com/nrwl/nx/blob/master/CONTRIBUTING.md#-submitting-issue)_

# Prerequisites

Please answer the following questions for yourself before submitting an issue.
**YOU MAY DELETE THE PREREQUISITES SECTION.**

- [x] I am running the latest version
- [x] I checked the documentation and found no answer
- [x]

[2019-03-28 14:29] hmagrini opened #1211 "[Feature Request] create-nx-workspace with fullstack-react preset"
## Expected Behavior

Running `create-nx-workspace some-project` allows to generate a full stack application with React and Express.

## Current Behavior

Running `create-nx-workspace some-project` only has Angular + NestJS available.

## Other

Reason: Being able to create that setup with a single command is more flashy and cool when showing off Nx to get buy-in from stakeholders to use it for Re

[2019-03-28 16:41] #1175 closed

[2019-03-28 18:03] lonix1 commented on #892
@llwt What was the content of the `tsconfig.json` that got this to work? I'm getting `Cannot find name 'cy'` even though I have a config in the e2e project...

[2019-03-29 10:04] swapnil0545 commented on #1030
I am having a similar problem here's my result of npm ls webpack after upgrading:

[code]

[2019-03-29 11:27] markgoho commented on #1030
@swapnil0545 see if downgrading just `@nrwl/builders` to the previous version then re-upgrading works for you. If not, you'll probably want to open a new issue for better visibility to the Nx team.

[2019-03-29 12:38] swapnil0545 commented on #1030
fixed by:
[code]

Ref https://github.com/angular/angular-cli/issues/6417

[2019-03-29 21:18] FrozenPandaz commented on #1202
Most options can be passed in via CLI arguments ;)

For this, you can use

`ng serve api --inspect inspect-brk`

[2019-03-29 21:19] FrozenPandaz commented on #1206
In other words, you want to skip the building/serving of the application and want to just run the tests against a separate server?

[2019-03-29 21:38] FrozenPandaz commented on #1199
This makes sense, especially for logging :)

Would it make sense to have an option such as `ng build --mock-node`?

Caveat:
I tend to depend on `__dirname` and others might too so I don't want to make it a breaking change so we should have a flag which is opt-in but generated by default for new apps.. and maybe default to
[code]

[2019-03-30 00:05] shlomiassaf commented on #1206
Not at all.

I want to be able to build the e2e application but not to serve.

[2019-03-30 08:20] creadicted commented on #803
@deimosOmegaChan  that works. The commonjs was the problem here. Thank you!
This works great with migration files that are based on sql. Do you have experience with seedings that reference the entities?

[code]
One method that comes to mind is exporting the whole project in to .js files:

`"build:ball-files": "rimraf dist && tsc -p ./apps/api/tsconfig.app.json"`

then convert the tsconfig paths to

[2019-03-30 19:14] esagawe opened #1213 "Missing jasmine packages in new workspaces if using Protractor and Jest with Angular"
## Expected Behavior

e2e tests should work with new workspaces if using Protractor and Jest with Angular. So `jasmine-spec-reporter`, `@types/jasmine` and `@types/jasminewd2` need to be installed by the CLI.

### Steps to Reproduce

1. `npx create-nx-workspace myorg`
2. select SCSS
3. skip naming a npm scope
4. select empty workspace
5. `ng g app my-app`
6. select Angular
7. skip naming a directo

[2019-03-31 09:27] shlomiassaf commented on #1206
@FrozenPandaz Also, another use case...

I'm in the middle of development, running the dev server **but not running the e2e for dev in watch mode**

Now, I want to add a test, this will require me to:

- Close the dev server
- Run the dev server through e2e

This is a long process, it takes a lot of time....

In general, running cypress is process and time consuming, I usually want to develop and

[2019-03-31 17:58] dtomaszewski commented on #575
@vsavkin are there any news about supporting ngxs  ? :)

[2019-03-31 18:10] mathpaquette commented on #653
@Yonet @vsavkin I think this question still not fully answered. Well, Victor did an amazing job in the Angular Enterprise Monorepo Patterns book to give a broader view of this topic. (thank you so much for having shared that with the open source community). Still, I'm not sure about the subtle difference between common and shared library. As per example in the book, ui-buttons is part of common in

[2019-04-01 07:10] Maus3rVonDutch opened #1215 "Exclude certain sub directories from tools from being copied when using custom schematics"
Hi, I'm using the tools directory not just for schematics, but also for some other tooling (mainly some Cake files for other build steps). Currently the schematics tooling is copying all directories and files in the tools directory to the output directory and because of that, from time to time I'm seeing some errors complaining the outdir is not empty, not exactly sure when that happens.

I'd like

[2019-04-01 09:12] deimosOmegaChan commented on #803
No, I don't have any experience with seedings that reference the entities.
I don't know if it helps.
The builder @nrwl/builders:node-build supports webpackConfig option.
[Ref](https://nx.dev/api-builders/node-build#webpackconfig)

[2019-04-01 14:10] dhananjayve commented on #367
Error while generating component
The "c" alias is already in use by the "--collection" option and cannot be used by the "--change-detection" option. Please use a different alias.
Please help me, I have tried changing aliases in node_modules\@schematics\angular\component\schema.json, but does not work

Angular CLI: 1.7.4
Node: 10.15.3
OS: win32 x64
Angular: 5.2.11
... animations, common, compiler,

[2019-04-01 15:53] FrozenPandaz commented on #1211
💯this is a good combination.

I would love for the `when` option to be available via Angular CLI 👍

What do you think of `--preset full-stack-minimal`? `--preset full-stack-react`?

[2019-04-01 18:23] FrozenPandaz commented on #1132
Fixed with #1201

[2019-04-01 18:23] #1132 closed

[2019-04-01 20:32] deimosOmegaChan commented on #803
Solution by using webpackConfig Options from builder: @nrwl/builders:node-build
With this solution: TypeOrmModule.forRoot() works
![angular](https://user-images.githubusercontent.com/26299054/55355998-10977880-54ca-11e9-80c8-4a2709eb5a30.png)
Need to use two ormconfig files: One for cli, the other one for production
**ormconfig.json**
[code]

**ormconfigdev.json**
[code]
**webpackConfig**
[code]

[2019-04-02 10:23] hadrien-toma commented on #333
@Yonet if these steps are deterministic, maybe creating a schematic to do this deletion is not so strange? May we re-open this issue?

[2019-04-02 11:15] codestitch commented on #1047
I know @FrozenPandaz  closed this. but I tried to get the latest update v7.7.2 but I'm still getting this error.

[2019-04-02 12:32] hmagrini commented on #1211
Those values sound great! I think they would be good options if we wanted to go with the first alternative though, due to how the prompts currently work on the CLI. AFAIK the CLI only allows a single question being asked per each property on your schema (based on their [`x-prompt` schema](https://github.com/angular/angular-cli/blob/master/docs/specifications/schematic-prompts.md#x-prompt-schema)).

[2019-04-02 15:37] alfaproject opened #1217 "There is a new Jest memory leak after updating to v7.7"
## Expected Behavior

My test suite runs without memory leaks.

## Current Behavior

My test suite leaks between 50 and 100mb between each lib/app run.

## Failure Information

I'm guessing there's a bug somewhere, but can't say for sure where. I've tried to exclude Jest itself from the equation because the memory leak seems to happen between suites and not within a suite.

### Steps to Reproduce

[2019-04-02 15:50] brandon-kiel-ascendlearning-com opened #1219 "Incompatible peer dependency with jasmine-marbles (0.4.0 -> 0.4.1)"
## Expected Behavior

When running the update @nx/schematics command in the CLI, I expect the package to be updated

## Current Behavior

Incompatible peer dependency found. Package "@nrwl/nx" has an incompatible peer dependency to "jasmine-marbles" (requires "0.4.0", would install "0.4.1")

## Failure Information (for bugs)

Package "@nrwl/nx" has an incompatible peer dependency to "jasmine-marbl

[2019-04-02 19:49] mathpaquette commented on #805
@all why this issue still opens? One thing it doesn't cover is the fact that weren't able to use the --watch switch while debugging. Anyone has a solution for it?

[2019-04-02 20:36] 4kochi commented on #1217
@nrwl/nx v7.7 includes a new version of `jest-preset-angular` (v7.x) which itself uses a new version of `ts-jest`. In the new version of `ts-jest` the option `diagnostics` is enabled by default. And this option cannot be overwritten since the jest builder of nx hard codes the `ts-jest` options. This leads to the following problems:

1. The tests runs are much slower because the type-checking takes

[2019-04-02 20:52] SebastianPodgajny opened #1220 "Update Prettier and include *.less files"
# Prerequisites
- [x] I am running the latest version
- [x] I checked the documentation and found no answer
- [x] I checked to make sure that this issue has not already been filed
- [x] I'm reporting the issue to the correct repository (not related to Angular, AngularCLI or any dependency)

## Expected Behavior

I expect `nx format` to use latest version of prettier and format "*.less" files

## C

[2019-04-03 07:38] alfaproject commented on #1217
I'm aware that we will need more memory at some point but before the update, ~500mb was enough.

More memory being needed or even tests being slower is not really a problem. The problem is that no memory is being freed between test suites as you can see in my log.

I'll create a patch to disable diagnostics in `ts-jest` and report back.

[2019-04-03 11:50] MilosStanic opened #1221 "Proxy error for a fresh Nx + Nestjs project"
# Prerequisites

- [ x] I am running the latest version
- [ x] I checked the documentation and found no answer
- [x ] I checked to make sure that this issue has not already been filed
- [x ] I'm reporting the issue to the correct repository (not related to Angular, AngularCLI or any dependency)

## Expected Behavior

I expect to start blank application when running `ng serve appname`

## Current B

[2019-04-03 12:07] MilosStanic commented on #1221
My bad, I didn't know I was supposed to do `ng serve api` as well.

[2019-04-03 12:07] #1221 closed

[2019-04-03 15:30] dtomaszewski opened #1222 "affected:test --all does not watch changes in files/specs"
_[Please make sure you have read the submission guidelines before posting an issue](https://github.com/nrwl/nx/blob/master/CONTRIBUTING.md#-submitting-issue)_

# Prerequisites

- [y] I am running the latest version
- [y] I checked the documentation and found no answer
- [y] I checked to make sure that this issue has not already been filed
- [y] I'm reporting the issue to the correct repository (no

[2019-04-03 15:39] #1190 closed

[2019-04-03 15:40] #1180 closed

[2019-04-03 15:40] #1165 closed

[2019-04-03 16:29] jbjhjm opened #1223 "nrwl/builders - Paths with wildcard can't be resolved"
__Edit/Update:__
In root tsconfig.json, I define some paths pointing exactly to index.ts files, while other paths are using a wildcard operator. First ones work fine, but path resolving with wildcard operator fails - not in angular apps, but in nodejs apps.

I was able to track down the issue a little further and suspect it now to be inside @nrwl/builders.
When the serve builder is set to @angular

[2019-04-03 17:57] AdamVig opened #1224 "Switch from TSLint to ESLint"
The post "[TSLint in 2019](https://medium.com/palantir/tslint-in-2019-1a144c2317a9)" announced that TSLint will be deprecated once it reaches feature parity with ESLint.

Will Nx be changed to support ESLint instead of TSLint, or perhaps both?

[2019-04-03 18:07] llwt commented on #892
@lonix1
__tsconfig.json__
[code]

[2019-04-03 18:28] mohyeid opened #1225 "Allow switchMap for Data Persistence"
_[Please make sure you have read the submission guidelines before posting an issue](https://github.com/nrwl/nx/blob/master/CONTRIBUTING.md#-submitting-issue)_

Please answer the following questions for yourself before submitting an issue.
**YOU MAY DELETE THE PREREQUISITES SECTION.**

- [ ] I am running the latest version No
- [x] I checked the documentation and found no answer Yes
- [x] I checked

[2019-04-03 18:54] chriswnewman commented on #995
Just figured I'd add a potential use case here.

Now that NX has first class react support. I've started trying to move some existing standalone react apps into a workspace. These react apps were created with create-react-app. It's been relatively smooth so far. The only thing that's giving me trouble is importing image assets. https://facebook.github.io/create-react-app/docs/adding-images-fonts-a

[2019-04-03 20:11] #1174 closed

[2019-04-04 03:16] jmcdo29 commented on #1126
@Doginal did you ever find a solution to this? I just ran into it tonight while trying to convert my project to an nx workspace.

[2019-04-04 07:56] cwmrowe commented on #687
I had this issue while running tests for my libs with Jest and running with Jest flag  `--passWithNoTests` seems to have resolved it.
[code]

[2019-04-04 08:54] jbjhjm commented on #1223
I was able to track down the issue a little further. I suspect it to be inside @nrwl/builders:
The issue only occurs in nest/node apps.
When the serve builder is set to @angular-devkit/build-angular:dev-server, paths are resolved correctly.
When set to @nrwl/builders:node-execute, path mapping stops working.

[2019-04-04 11:17] alfaproject commented on #1217
I've created a patch to disable `diagnostics` but memory is still leaking. ):

This is the patch:
[code]

This is the new log:
[code]

[2019-04-04 13:38] joelcipriano commented on #56
Nice!

But has anyone tried or has a working example?

[2019-04-04 15:55] FrozenPandaz commented on #1217
Great debugging!

Can you reproduce with a more minmal project? It seems the way `jest` requires modules has some memory leaks when used with certain libraries?

https://github.com/facebook/jest/issues/8247

With my test project, I see this: which may have a more minor memory leak?

<details><summary>LOGS</summary>
<p>

[code]

</p>
</details>

[2019-04-04 16:54] FrozenPandaz commented on #1223
Thanks for the debugging! Can you please provide a repro so I can take a look easily?

[2019-04-04 16:55] FrozenPandaz commented on #1220
Sounds good to me! Would someone like to contribute a PR?

[2019-04-04 17:00] FrozenPandaz commented on #1211
Can you please make an issue at https://github.com/angular/angular-cli/issues? I would love to discuss there. I can see why implementing it there would not be trivial and might require some discussion there to reach a good implementation.

I think `--full-stack-minimal` should be the flag for now. We can deprecate without a breaking change later if necessary.

[2019-04-04 17:09] jbjhjm commented on #1223
Hi, will do so next week!

[2019-04-04 17:16] alfaproject commented on #1217
@FrozenPandaz it works fine locally actually. My logs are from GitLab runners.

I'm a bit short of time right now, but I'll see if I can come up with some repo. ):

[2019-04-04 17:27] #1183 closed

[2019-04-04 18:24] Domratchev opened #1226 "[Feature Request] Support new @angular/cli v8 builder architecture"
# Prerequisites

Please answer the following questions for yourself before submitting an issue.
**YOU MAY DELETE THE PREREQUISITES SECTION.**

- [x] I am running the latest version
- [x] I checked the documentation and found no answer
- [x] I checked to make sure that this issue has not already been filed
- [x] I'm reporting the issue to the correct repository (not related to Angular, AngularCLI o

[2019-04-04 18:48] Domratchev commented on #1226
https://github.com/angular/angular-cli/pull/13994

[2019-04-04 19:30] FrozenPandaz commented on #1226
I've begun working on converting the builders over to the new API (aka, I have Cypress done). For now, hold off on upgrading to `@angular/cli@8.0.0`.

[2019-04-05 00:15] mohyeid commented on #1225
This is already implemented if I provided the id function. Its working as expected.

[2019-04-05 00:15] #1225 closed

[2019-04-05 02:01] jmcdo29 commented on #902
@xmlking Did you ever figure out why this was happening? I'm trying to move an existing project into an nx workspace and I've come to the same issue. Angular web apps work, nestjs server apps do not.

[2019-04-05 03:52] BuckyMaler opened #1228 "Source maps cannot be disabled when running node dev server"
## Expected Behavior

`--source-map` is a recognized option and can be disabled when running `ng serve <project>` for node apps.

## Current Behavior

Source maps cannot be disabled when running `ng serve <project>` for node apps.

## Failure Information (for bugs)

### Steps to Reproduce

1. `yarn create nx-workspace myworkspace`
2. `cd myworkspace`
3. `ng g node-app backend`
4. `ng serve backend

[2019-04-05 04:01] BuckyMaler opened #1229 "Disabling source maps still generates source maps"
## Expected Behavior

When running `ng build <project> --source-map false` for node apps I expect no source maps to be generated.

## Current Behavior

When running `ng build <project> --source-map false` for node apps source maps are generated inline in `main.js`.

## Failure Information (for bugs)

### Steps to Reproduce

1. `yarn create nx-workspace myworkspace`
2. `cd myworkspace`
3. `ng g nod

[2019-04-05 06:06] iangregsondev opened #1230 "NestJS: Provide builders for ts-node (serve) and standard tsc (build) - options to exclude webpack"
- [x] I am running the latest version
- [x] I checked the documentation and found no answer
- [x] I checked to make sure that this issue has not already been filed
- [x] I'm reporting the issue to the correct repository (not related to Angular, AngularCLI or any dependency)

## Expected Behavior

Hi, I wonder if its possible to provide builders for the following scenerios.

NG SERVE - using ts-nod

[2019-04-05 06:26] hadrien-toma opened #1231 "feat(ngrx): support createAction"
In the latest version of NgRx (`7.4.0`), `createAction` seems to become a standard way to create actions (example [here](https://github.com/ngrx/platform/blob/master/projects/example-app/src/app/books/actions/book.actions.ts)), so it would be awesome if Nx could support this version update :heart: :relaxed:.

[2019-04-05 12:26] KevinTaleb opened #1232 "Collection.json/workspace-schematics.json missing from tools/schematics"
# Prerequisites

- [x ] I am running the latest version
- [x ] I checked the documentation and found no answer
- [x ] I checked to make sure that this issue has not already been filed
- [x ] I'm reporting the issue to the correct repository (not related to Angular, AngularCLI or any dependency)

Not sure if this is intended but it seems like the `collection.json` is missing from `tools/schematics`

[2019-04-05 14:33] xmlking commented on #902
@jmcdo29 not yet found the cause , but you might find some workarounds from my repo.

[2019-04-05 20:45] jmcdo29 commented on #973
@gvsouza How did you get dotenv working for you? I tried using it, but my variables aren't being set correctly. I've checked that dotenv is calling the .env file for the current directory, did you have to have some additional step? Thanks

[2019-04-05 21:10] FrozenPandaz commented on #1232
At the time, it was generated to make it easier for developers to add new schematics.

I think we could easily update a `collection.json` when we generate `workspace-schematics`.

Would people prefer this way?

[2019-04-05 21:32] FrozenPandaz commented on #1230
Can you elaborate on this?

We can create these, however, I think webpack offers some other features such as replacements, working with other types of files.

[2019-04-05 21:39] FrozenPandaz commented on #1059
I have not, but have some thoughts:

Caveats:
* There might be some other things you might want to control from the CLI such as `ts-jest` `diagnostics`.
  * Maybe you want to have typechecking in CI but not dev 🤷‍♀️
* You probably do not need to pass the `tsConfigPath` after doing this.
  * Removing the `tsConfigPath` altogether is fine. Sometimes it might be useful to be able to have references f

[2019-04-06 00:26] hadrien-toma commented on #1232
I would love to be able to configure a `collection.json` file too: :100: !

[2019-04-06 03:47] vinoth-berkmons opened #1234 "Creating a new workspace failed with error"
Creating a new workspace failed with error

When I run
create-nx-workspace angular-core

ng new "app-name" --collection=@nrwl/schematics
Could not find module "@nrwl/schematics" from "/Users/vinoth/Documents/vinoth/Angular/angular-core".
Error: Could not find module "@nrwl/schematics" from "/Users/vinoth/Documents/vinoth/Angular/angular-core".
    at Object.resolve (/Users/vinoth/node_modules/@ang

[2019-04-06 08:42] GreatHawkeye commented on #1232
Definitely! I think developpers would have more flexibility and power over their schematics. Modifying `factory` and `aliases` are a must have I believe. :)

[2019-04-06 10:35] appsolutegeek commented on #1230
Sure .... so I have some external libraries that I publish to a private npm repository... They are in a different location. While I am developing, I use tsconfig paths so I can test my libraries integrating with nest. So I attach a vs code debugger i.e

[code]

and sure enough, i can place break points in my code that is under the api/apps.

I also place a breakpoint in one of my libraries located

[2019-04-06 14:20] mathpaquette commented on #805
Just found that Jest support for Angular too much greenfield for those are curious about it. The open source community is very small, there are unsolved issues still going on, since Angular team doesn't support it officially you might lose a lot of time figuring out unsupported use cases or regressions. On the second hand, you might want consider using Jest for testing utility library which not in

[2019-04-06 14:24] SebasG22 commented on #1193
@elishnevsky I tested with the last version of Nx, and the routing option is present:

![Nx-Routing-Prompt](https://user-images.githubusercontent.com/17608169/55670722-88a8ca00-584d-11e9-8236-5b10b64075b2.gif)

@vsavkin @FrozenPandaz This issue can be closed.

[2019-04-06 14:40] elishnevsky commented on #1193
Didn't ask me when I tried generating an application.

[2019-04-06 14:41] SebasG22 commented on #1109
I tried to use only the routing configuration without the NgModule when generating a lib to check if create a new routing module but it doesn't work.

![Nx-Routing-Configuration](https://user-images.githubusercontent.com/17608169/55670930-b3941d80-584f-11e9-8958-c9a3598ff74b.gif)

The previous command generate this under the libs folder:
![image](https://user-images.githubusercontent.com/17608169/

[2019-04-06 14:51] SebasG22 commented on #1107
I highly recommended the  proposed way to classify the libs by @vsavkin that are mentioned on the[ Enterprise Angular Monorepo Patterns](https://go.nrwl.io/angular-enterprise-monorepo-patterns-new-book).

![image](https://user-images.githubusercontent.com/17608169/55671047-42556a00-5851-11e9-8ca4-8f2759698a7b.png)

Basically the convention for libs are:

- **Feature**: feature-shell
- **Data**: da

[2019-04-06 15:18] SebasG22 commented on #1193
@elishnevsky I already tested generating a dummy app:

I tested with the following versions of nx:

1. @nrwl/schematics@7.0.2
![Generating App](https://user-images.githubusercontent.com/17608169/55671122-21414900-5852-11e9-9804-8ea367fe8284.gif).

2. @nrwl/schematics@7.8.0

Please check the version of nx installed using `npm list -g @nrwl/schematics` and upgrade to the latest.
![Nx-Generate-App2](

[2019-04-06 16:35] SebasG22 commented on #1234
Seems like `@nrwl/schematics` are not installed on your machine. Use the `npm list -g @nrwl/schematics` to check the version. If not, try to install globally `npm i - g @nrwl/schematics`.

[2019-04-06 16:46] vinoth-berkmons commented on #1234
@SebasG22 @nrwl/schematics installed in my machine. and the version is @nrwl/schematics@7.8.0

[2019-04-06 18:05] xmlking commented on #1107
All lib modules can be classified  as

- private, public (publishable, private)
- Client-side , service-side
- Framework : angular , react, nestjs, none
- Loading/packaging   : Lazy, eager
- Routable , non-routable modules

I feel we should tag 🏷  them and expect IDEs  color code them, instead of trying to name them

[2019-04-06 21:13] SebasG22 commented on #1234
Try to generate an app or lib using `ng new app myApp`
![Nx-Generate-App2](https://user-images.githubusercontent.com/17608169/55675350-c6761480-5886-11e9-8e3f-e88483eb99a7.gif)
![Nx-Routing-Prompt](https://user-images.githubusercontent.com/17608169/55675351-caa23200-5886-11e9-93e6-cb63d3402bcf.gif)

[2019-04-06 21:20] SebasG22 commented on #1107
@xmlking I think that kind of classifiers are helpful on the tags for advance analysis. Because you can use multiple tags to denote their nature. [Imposing Constraints on the Dependency Graph](https://nx.dev/guides/monorepo-tags)
I believe the use of the concepts for **feature-shell** - **data-access** - **ui** - **utils** are great to have a standard way to do it.

[2019-04-06 21:43] SebasG22 commented on #1169
Seems like this is the expected behavior because you the file that changes are not related to app-specific-library.
As you said the if there is a change on e.g shared-data-access lib that is a responsible for generic way to handle the data using ngrx. The affected graph will mark the entire workspace like affected. Why ? You must be aware that the change doesn't broke something else.

As you can s

[2019-04-06 21:47] SebasG22 commented on #1093
Can you explain more in details the expected result ?

[2019-04-07 09:48] deimosOmegaChan commented on #803
How to load the entity into a service with the "*.js" solution?

[2019-04-07 19:23] stefan-karlsson opened #1235 "feat: share library source code in private monorepo"
## Feature description
Currently me and my team is working in a **private** GIT repository.
Nx gives us the opportunity to share both private and public packages thro NPM.

This sharing is awesome, thanks for that!
But there is times where me and my team want to publish a public package **and** share its source code.

Why? Well let's face it, it's awesome to brag about the code, and also to get he

[2019-04-08 02:48] vinoth-berkmons commented on #1234
@SebasG22 I can able to do **ng new angular-core**. But not able to do **create-nx-workspace angular-core**.

[2019-04-08 04:30] intellix commented on #54
Wanting to do: https://material.angular.io/guide/theming-your-components

[code]

Creates a tree like:
[code]

Now, you can create a file next to index.ts for that lib **/libs/layout/src/theming.scss**:
[code]

and inside your app's styles.scss:
[code]

It seems to work well IMO. You're whitelisting/exporting only theme files so you don't start duplicating SCSS as you import.

You don't need to up

[2019-04-08 06:17] diginikkari opened #1238 "Cypress builder should transform tsconfig paths"
## Expected Behavior

I expect that modules which are imported using path aliases in tsconfig.json would be transformed to relative paths or e.g. webpack modules.

## Current Behavior

If I import module using path alias e.g.

`import { ProductType} from '@project/models'`

This import is not transformed by tsc and it's still found in compiled js and I get "Error: Cannot find module '@project/mode

[2019-04-08 09:21] strobocopter commented on #930
Unfortunately a package-name may not contain any "/"-characters besides the one that separates it from the scope-name.
See: [https://docs.npmjs.com/files/package.json#name](url)
Nevertheless if the name could be in the format proposed by you, then the generated package.json should use the right name.

[2019-04-08 09:55] creadicted opened #1239 "Add paths to watch to @nrwl/builders:node-build"
Since I work with multiple back-ends that share nest.js libraries which are outside of the source folder. I ask if there is a way to add watch paths to `the @nrwl/builders:node-build`  builder. Tried it with plugins in the webpack.config but was not successful.

[2019-04-08 10:42] creadicted commented on #1010
@appsolutegeek - How did you managed that webpack rebuild is also triggered when you change something in a libray?

[2019-04-08 11:16] domkrel commented on #1091
I can confirm that the transformIgnorePatterns configuration does not work anymore since the update to nrwl/nx 7.7.2. (We need it for https://github.com/SebastianM/angular-google-maps)

The following configuration worked for nrwl 7.6.2 but broke after update to 7.7.2

[code]

[2019-04-08 11:31] jbjhjm commented on #1223
I see you are already working on a fix so I assume a repro is not required anymore. Please correct me if I'm wrong.

[2019-04-08 11:58] domkrel commented on #1091
This is not nx related.
Jest dropped the support for babel 6 that means that it does not read the babel.rc file anymore.
Create a babel.config.js file with your configs should solve the problem
https://jestjs.io/docs/en/getting-started#using-babel

[2019-04-08 12:03] ViceIce commented on #930
@strobocopter If you use more than one slash, you need secondary entrypoints in you package

See [Secondary Entry Points](https://github.com/ng-packagr/ng-packagr/blob/HEAD/docs/secondary-entrypoints.md#secondary-entry-points)

[2019-04-08 12:19] strobocopter commented on #930
That's clear to me, but thats totally not the point of this issue.

We do not have one library with multiple entry-points. We have two separate libraries generated with two separate package.json files. Both are generated into a sub-folder of the libs-folder.
The names generated in their package.json files are correctly derived from their location. Every "/" is tranlated into an "-" for the package

[2019-04-08 12:25] strobocopter commented on #930
The fixed paths-section of the global tsconfig.json would look like this:
`"paths": {
      "@stroboware/framework-utils": [
        "dist/libs/framework/utils"
      ],
      "@stroboware/framework-tracing": [
        "dist/libs/framework/tracing"
      ]
}`
This way the paths-configuration matches the names used in the package.json files of the libraries.

Unfortunately with this configuration n

[2019-04-08 13:09] ViceIce commented on #930
Ok, now i know what you mean. I have the same problem even without using nx. This is a known angular bug

https://github.com/angular/angular-cli/issues/13588

[2019-04-08 13:58] elishnevsky commented on #1193
Forgot to mention that I'm on Windows 10.  This still doesn't work. Neither when generating an app nor a lib.

[2019-04-08 14:06] intuvision commented on #602
@gund Excellent. This worked for me 😄

[2019-04-08 18:43] Doginal commented on #1126
@jmcdo29 I did turn out I was missing tsconfig for my tests in angular.json and had some comments in tsconfig files.

To debug I built a new version of the schematics from master branch and replaced the @nrwl/schematics folder in my node_modules.
I added some console logs into `/packages/schematics/src/collection/ng-add/index.ts` above each `moveOutOfSrc()` this allowed me to figure out which line

[2019-04-09 06:20] twjacobsen commented on #771
I've been looking at something similar (wanted to extend `ng g lib` and `ng g component`), but I went with the "external package" approach instead. I dropped it, though, out of fear that the automated NX upgrade process would break. Has anyone else had this concern? The workaround of having the schematic "package" in the tools folder might solve that.

[2019-04-09 07:49] Merott commented on #1169
@SebasG22 - Sure, a change in a `shared-data-access` lib would affect any app that uses that lib.

However, introducing a new library doesn't actually affect every app, but only those that import the new library. Currently, nx isn't able to detect that due to implicit dependencies.

I've actually been working on a hack to get around that limitations. It really is a _hack_ but I'll see over time ho

[2019-04-09 12:45] Oussama-Mejid commented on #1232
This would be a great feature  :+1:

[2019-04-09 14:22] heapifyman opened #1241 ""ng build" for library fails with "does not support the 'build' target""
## Expected Behavior

* `ng build <library-name>` should succeed.
* build artifacts should be stored in the `dist/` directory as described in the README

## Current Behavior

`ng build <library-name>` fails with: `Project '<library-name>' does not support the 'build' target.`

## Failure Information (for bugs)

### Steps to Reproduce

Please provide detailed steps for reproducing the issue.

1. in

[2019-04-09 17:11] xmlking commented on #1230
@FrozenPandaz offering `ts-node/TSC` based `builders`  will fulfill needs for most of the nodeJS frameworks. we still love   `replacements` for config. i guess we can get this capability without WebPack.  bundling can be opt-in option, if developers want to bundle with `webpack` or `rollup`

[2019-04-09 19:57] FrozenPandaz commented on #1241
You can create a _buildable_ library if you use the `--publishable` flag. The bug here, is that the README.md has incorrect information though. Thanks for reporting!

[2019-04-09 22:19] ngfelixl commented on #316
Can reproduce this with `npm init nx-workspace name` and adding **ngrx** via *@nrwl/schematics* in angular-console. At first I used the empty root store, afterwards I added an ngrx-feature store. @BioPhoton's solution working.

- @nrwl/nx: 7.8.0
- @nrwl/builders: 7.8.0
- @nrwl/schematics: 7.8.0

[2019-04-10 00:03] rolandoldengarm commented on #1067
I have the same problem, it's not always reproducable though. One one client it works fine, on another one it fails.

I've attached a debugger and I can see where it gets into an infinite loop:

![image](https://user-images.githubusercontent.com/14539000/55842363-3fc37f00-5b87-11e9-9ee9-d66dbb85808b.png)

While it's in an Angular CLI file, the issue only occurs when I enable @nrwl/schematics in an

[2019-04-10 09:27] frgul006 opened #1242 "Error running `ng test` after creating new workspace"
## Expected Behavior

Should be able to run `npm run test` or `ng test` after initializing a new nx workspace

## Current Behavior

Executing `npm run test` in a new workspace throws an error.

## Failure Information (for bugs)

[code]

### Steps to Reproduce

Please provide detailed steps for reproducing the issue.

1. `create-nx-workspace sampleorg`
2. `cd sampleorg`
3. `npm run test`

### Conte

[2019-04-10 12:02] jantilburgh commented on #1242
I have to same issue. If you take a close look at the path then you can see that it tries to look for "C:\C\" which is not correct.

[2019-04-10 14:13] jantilburgh commented on #1242
Workaround is to downgrade to @nrwl/builders@7.7.2.

[2019-04-10 14:38] e4r commented on #725
For me was a trailing comma in tsconfig.json . Once removed the command ran properly.

[2019-04-10 14:56] ngfelixl commented on #1242
Can reproduce, created with npm as nx-workspace.
Downgrading `@nrwl/builders` to 7.7.2 (before 7.8.0) works. Thanks @jantilburgh.

[2019-04-10 15:32] tamas-nemeth opened #1244 "Jest config cannot be resolved on Windows"
## Expected Behavior

Tests run

## Current Behavior

`ng test` throws the following error
[code]

## Failure Information

### Steps to Reproduce

1. npm install -g @angular/cli
2. npx create-nx-workspace myworkspace
3. npm t

### Context

Please provide any relevant information about your setup:

- version of Nx used: 7.8.0 (still works with 7.7.2)
- version of Angular CLI used: 7.3.1
- node vers

[2019-04-10 15:43] tamas-nemeth commented on #1244
sorry, dupe of https://github.com/nrwl/nx/issues/1242

[2019-04-10 15:43] #1244 closed

[2019-04-10 15:44] tamas-nemeth commented on #1244
sorry, dupe of https://github.com/nrwl/nx/issues/1242

[2019-04-10 16:28] gcirone commented on #1207
Very important feature in watch mode. I tried to point direct the fixture folder from cypress.json but the logic inside the builder don't support that.

[2019-04-10 16:57] IlCallo opened #1246 "Add webpack-bundle-analyzer and related script to default Nx-created projects"
## Expected Behavior

It would be cool to have operations described in [this article](https://coryrylan.com/blog/analyzing-bundle-size-with-the-angular-cli-and-webpack) already done by default (or optional during workspace inizialization).

## Current Behavior

Nothing

## Context

It may probably be useful to promote a bundlesize budgeting culture in the Angular community.

http://webpackmonitor.

[2019-04-10 17:13] alfaproject commented on #1018
Just got hit by this as well ):

[2019-04-10 20:37] intuvision commented on #225
I'd like to see support for affected:build with a logical or defined order.  There doesn't seem to be any ability to order the build process and this becomes a problem when having dependencies on other libraries.

[2019-04-10 20:43] xmlking opened #1247 "nodejs e2e tests error: Cannot locate a tsconfig.spec.json"
_[Please make sure you have read the submission guidelines before posting an issue](https://github.com/nrwl/nx/blob/master/CONTRIBUTING.md#-submitting-issue)_

# Prerequisites

Please answer the following questions for yourself before submitting an issue.
**YOU MAY DELETE THE PREREQUISITES SECTION.**

- [x] I am running the latest version
- [x] I checked the documentation and found no answer
- [x]

[2019-04-11 03:01] xmlking commented on #902
@FrozenPandaz  `apps/angularApp` --> `libs/shared` works with paths in `tsconfig.json` same logic for `apps/nestjsApp` --> `libs/shared`  didn't work. are we missing some config in nodejs builders ?

[2019-04-11 05:57] annsk opened #1248 "Address already in use while forking a script."
## Expected Behavior
A inspection port should be other than 7777 for child process.

## Current Behavior

Child process using the port 7777 for inspect, which is using by parent process.

## Failure Information (for bugs)

`Starting inspector on localhost:7777 failed: address already in use`

### Steps to Reproduce

1. Generate node application (eg. "backend")
2. In main.ts fork other script.
3. R

[2019-04-11 07:00] yglin commented on #1119
Is there any way to stop cypress from closing currently, without upgrading @nrwl/nx ?

I glanced some POST abort error on singing in to google firebase but can not identify it clearly because cypress close immediately after running test.

I tried cypress commands debug() and pause(), no luck, it just runs and closes.
And the only failed record I can found is a screenshot in /dist, no more detail,

[2019-04-11 14:31] FrozenPandaz commented on #1239
We depend on `webpack` to do the file watching. As long as the files are in the compilation graph, it should cause recompilation. How are the files imported?

[2019-04-11 16:40] luchsamapparat opened #1249 "Missing CSS import in Web Component app"
## Expected Behavior

When creating a new a web component application, a custom element named `AppElement` is automatically generated. Alongside the `ts` file, there's also a `.css` file (or whatever style you chose), however, that file is not imported by the `ts` file and therefore not part of the build. I'd expect that there's an import on that file.

## Current Behavior

The file is not importe

[2019-04-11 16:44] luchsamapparat opened #1250 "Provide polyfills for Web Components"
## Expected Behavior

When creating a new Web Component app, I'd expect the `polyfills.ts` to contain the necessary polyfills for using polyfills in older browsers, at least as a comment.

## Current Behavior

The `polyfills.ts` is empty.

### Steps to Reproduce

Please provide detailed steps for reproducing the issue.

1. create-nx-workspace web-component-poc
2. choose web component

### Context

[2019-04-11 20:05] schackito commented on #1210
For now i'm adding:
[code]
under `lib --> architect --> build` in `angular.json`. That's how `yarn run affected:build --base=HEAD --prod` works with publishable libs.

[2019-04-11 21:34] mwhitis opened #1251 "Bug: Lint fails on exports with no module specifier"
- [x] I am running the latest version
- [x] I checked the documentation and found no answer
- [x] I checked to make sure that this issue has not already been filed
- [x] I'm reporting the issue to the correct repository (not related to Angular, AngularCLI or any dependency)

## Expected Behavior

nx lint runs without errors

## Current Behavior

nx lint fails with an exception

## Failure Informat

[2019-04-11 22:54] jfrazx commented on #1248
A workaround if you can live without the inspector is to add a new configuration for your apps serve command in `angular.json`.

[code]

Then launch your app: `ng serve backend --configuration=development`

[2019-04-12 07:15] luchsamapparat commented on #1249
In case this is indeed a bug and not intended behavior, I could provide a PR

[2019-04-12 07:15] luchsamapparat commented on #1250
If you agree that this would be a good idea, I could provide a PR. However, then we should discuss the details first (which polyfill to use?, include as comment or actual code?)

[2019-04-12 17:01] FernandaS commented on #1241
I am having the same issue. However, I am not using Nx to generate files, just the Angular CLI:

Versions:
Angular CLI: 7.2.4
Node: 10.14.2
OS: darwin x64
Angular: 7.2.11

This is the Error:
Project 'hdms-common' does not support the 'build' target.
Error: Project 'hdms-common' does not support the 'build' target.
    at BuildCommand.initialize (/Users/fernandasilva/Documents/Hilti/holng/dev/layou

[2019-04-12 20:16] #867 closed

[2019-04-12 20:16] PsychoPflanze commented on #867
Doesn't seem to happen anymore

[2019-04-12 21:57] kmkatsma opened #1252 "NX workspace NestJS 6.0 with Middleware causes controllers to not respond."
## Expected Behavior

Can run NestJS 6.0 as part of Nx workspace, and use Middleware functionality

## Current Behavior

When upgrading NestJS to 6.0 in NX workspace (7.6 or 7.8), when running in development mode adding Middleware to NestJS app either does not work (one controller) or causes controllers not to respond (multiple controllers)

## Failure Information (for bugs)

Please help provide i

[2019-04-13 05:04] luke-gav commented on #561
Also experiencing this with @nrwl/schematics 7.7.2. Adding --onlyAddFiles lets command run.

[2019-04-13 12:40] kmkatsma commented on #1252
I actually reverted to 5.5 version of NestJS and still had middleware issue.  So not sure if people using NX with Nest are just running into and solving on their own.

I found that I was able to get around this particular issue by changing the global tsconfig compiler options to match those used by default in NestJS projects.  A number of these settings are different than the default tsconfig opti

[2019-04-13 13:23] kmkatsma commented on #1252
Ok, this is best kind of issue - one that originator closes!  I guess I just needed more time.

The solution was in fact to override the tsconfig for the NestJS app.  The final version I am using looks like this below.  It was also important to set the **_baseUrl_** to the base of the monorepo, so that @ barrel files can be found.   App is up and running, with middleware.

{
  "extends": "../../ts

[2019-04-13 13:23] #1252 closed

[2019-04-14 04:03] ironstine commented on #1193
@SebasG22 it appears from your capture you may not actually be using 7.8.0 even though it is installed globally. The app cinema-bg may have been created using an earlier version of @nrwl/schematics? My reasoning is when using @nrwl/schematics@7.8.0 your first prompt should be:

? What framework would you like to use for the application? (Use arrow keys)
❯ Angular         [ https://angular.io   ]

[2019-04-14 18:49] #1072 closed

[2019-04-14 19:05] vsavkin commented on #1249
@luchsamapparat
This is a bug. It'd be awesome if you could send a PR fixing it.

[2019-04-14 20:02] vsavkin commented on #1248
@annsk Thanks for submitting the issue. I'm getting the following when running `ng serve server` in the provided repo:

[code]

What version of node are you using?

[2019-04-14 20:14] vsavkin commented on #1247
Thank you for submitting the issue.

The current stable version has an issue with Jest on windows, which is fixed here (https://github.com/nrwl/nx/commit/bd2cb49bfda139f3264847f1c6fddac6f5ba48bb).

The provided repro fails on Windows (with a different error), but works on Linux/Mac. If you aren't on Windows, could you create a small repro to illustrate the issue?

[2019-04-14 20:18] vsavkin commented on #1246
100% agree with you. We need to give users the ability to analyze their bundles. But instead making it part of Nx, we decided to add the functionality to Angular Console, so it works with any CLI project.

You can read more about it here:
https://blog.nrwl.io/angular-console-7-4-release-2d4d3c654e8e

If this isn't sufficient, could you reopen the issue with more details.

Thanks!

[2019-04-14 20:18] #1246 closed

[2019-04-14 20:24] vsavkin commented on #1242
Thanks for submitting the issue. It has been fixed here: https://github.com/nrwl/nx/pull/1245

[2019-04-14 20:24] #1242 closed

[2019-04-14 20:25] vsavkin commented on #1241
@heapifyman it would be awesome could you submit a PR fixing the README.md?

[2019-04-14 20:27] vsavkin commented on #1238
@diginikkari could you provide a repro?

[2019-04-14 20:29] vsavkin commented on #1235
@stefan-karlsson maybe you could do it using git submodules (see here: https://blog.nrwl.io/dev-workflow-using-git-submodules-and-yarn-workspaces-14fd06c07964)?

[2019-04-14 20:30] vsavkin commented on #1234
@vinoth-berkmons could you try `npx create-nx-workspace myworkspace`?

[2019-04-14 20:31] vsavkin commented on #1231
@hadrien-toma Yup. We should update it. It would be great if you could submit a PR making the change?

[2019-04-14 20:32] vsavkin commented on #1229
@BuckyMaler merged you PR. thank you for your contribution!

[2019-04-14 20:32] #1229 closed

[2019-04-14 20:36] vsavkin commented on #1220
@SebastianPodgajny I merged your PR. Thank you for your contribution!

[2019-04-14 20:36] #1220 closed

[2019-04-14 20:39] vsavkin commented on #1228
I merged your PR. Thank you for your contribution.

[2019-04-14 20:39] #1228 closed

[2019-04-14 20:46] vsavkin commented on #1222
@dtomaszewski could you provide a repro?

[2019-04-14 20:48] vsavkin commented on #1219
Thank you for submitting the issue.

[2019-04-14 21:11] BuckyMaler commented on #1228
@vsavkin this issue is unresolved. I referenced two new issues in [#1204](https://github.com/nrwl/nx/pull/1204#issuecomment-480142037) and was able to get around to submitting a PR for one, but not this one.

[2019-04-14 21:15] heapifyman commented on #1241
@vsavkin I would but there are two problems:
1. I cannot seem to find where the README.md in a generated lib is coming from or where it is generated
2. Would changing README.md in the generated lib actually help? Because `--publishable` should have been used already in the `ng g lib` command to generate the lib. The other READMEs do not mention anything about `ng g lib` as far as I can see. Maybe

[2019-04-14 21:27] hadrien-toma commented on #1231
@vsavkin Not sure I am experienced enough to but I will try in the next couple of weeks 🤞.

[2019-04-14 22:32] IlCallo commented on #1246
I missed out that update because I'm not really a fan of CLI UIs.

But I guess it's ok like this, I'll just download the Angular console, ty :)

[2019-04-15 05:42] annsk commented on #1248
NodeJS v9.8.0 running on Windows 10 1809.

[2019-04-15 06:02] diginikkari commented on #1238
@vsavkin of course, here is repro repository: https://github.com/diginikkari/repro-for-issue1238

I tried to make it as clean as I could. It's just basic nx workspace with one app and one lib. tsconfig.e2e.json is modified to include lib module and changed outDir, because of that.

app.spec.ts is now failing, because imported module is not found. Hope this helps.

[2019-04-15 06:14] creadicted commented on #1239
Hello @FrozenPandaz my smplified folder structure looks like this
[code]
I use ts paths in the tsconfig.ts file to define the paths:
[code]

[2019-04-15 12:54] danieldanielecki commented on #255
Opening after some time, as had the same problem. The crucial thing is I didn't lazy load my lib by default, i.e. when creating it, but decided to add lazy routing when had an application architecture. Nevertheless, please remember to include path to the lib in your **tsconfig.app.json**, as it's [here](https://github.com/dereklin/nx-demo-jest/blob/lazy-5/apps/app1/src/tsconfig.app.json).

Without

[2019-04-15 12:59] danieldanielecki opened #1255 "Docs: lazy routing"
## Expected Behavior

Have a clear steps how to proceed with lazy routing in Nx environment.

## Current Behavior

Couldn't find anything in the new docs, please see [this answer](https://github.com/nrwl/nx/issues/255#issuecomment-483239603) for more details.

[2019-04-15 14:21] FrozenPandaz opened #1256 "Repackaging for Nx 8.0"
# Plan for Nx 8.0 Package Structure

We are making some changes to our packaging structure for Nx 8.0 and wanted to have a public plan so everyone knew what the upcoming changes will be and understands why they are happening. Please let us know if you have questions or concerns.

## Background

Nx is a general purpose tool that allows you to develop Angular applications, React applications, Web Co

[2019-04-15 14:24] SebasG22 commented on #1255
@danieldanielecki I will submit a pr to have a dedicated section for this soon.

[2019-04-15 14:43] vsavkin commented on #1178
@matheo could you create a repository with a repro?

[2019-04-15 14:49] #1142 closed

[2019-04-15 14:54] vsavkin commented on #1108
@kola-gangadhar could you provide a small repro?

[2019-04-15 14:58] vsavkin commented on #1107
You can find some notes on using names to denote type and folder structure to denote scope here: https://github.com/nrwl/nx/blob/master/docs/guides/monorepo-nx-enterprise.md.

[2019-04-15 14:59] vsavkin commented on #1093
@kkoo95 could you provide a repro?

[2019-04-15 14:59] #1092 closed

[2019-04-15 15:05] vsavkin commented on #1089
- You could run your script using the angular cli instead of npm. We provide the run-commands builder for that. So you could do: `ng run myproject:myscript`. I personally think this is the best option.
- You could also use yarn workspaces.
- You could use a tool like `nps` to organize your scripts.

[2019-04-15 15:05] #1089 closed

[2019-04-15 15:06] vsavkin commented on #1085
@ThomasBurleson do you have any thoughts on this?

[2019-04-15 15:07] vsavkin commented on #1077
Sorry for the late reply. Could you provide a repro?

[2019-04-15 15:10] vsavkin commented on #1069
+1 to @FrozenPandaz said. I think having two CLIs can confuse developers. Our goal is to unify the toolstack as much as we can, so devs can build full stacks apps using same commands (ng and Angular Console).

We should make sure nothing we do prevents folks from using the nest cli, but I  don't think we should go beyond that.

[2019-04-15 15:10] #1069 closed

[2019-04-15 15:11] vsavkin commented on #1068
Closing this. If the issue persists, could you reopen it with a repro? Thanks!

[2019-04-15 15:11] #1068 closed

[2019-04-15 15:14] vsavkin commented on #1067
@rolandoldengarm the move operation in the angular cli had some issues. Do you have the same issue if you use the 7.3x version of the CLI?

[2019-04-15 15:17] vsavkin commented on #1061
Sorry for the late reply. Could you describe the behavior of archive in detail?
Would you even want to build it again?

[2019-04-15 15:19] vsavkin commented on #1044
Closing this issue. If you can still repro the issue with Nx 7.8, could you reopen it with a repro?

[2019-04-15 15:21] vsavkin commented on #1011
You can generate a non-angular ts application by running: `ng g app myapp --framework=web-components`.

[2019-04-15 15:21] #1011 closed

[2019-04-15 15:25] allout58 opened #1257 "Cypress fixture folder getting partially deleted"
## Expected Behavior

Setting the Cypress "fixturesFolder" property to the actual fixtures source folder (like `./src/fixtures`) should not delete files.

## Current Behavior

Setting the Cypress "fixturesFolder" property to the actual fixtures source folder deletes the first of my fixtures listed alphabetically.

### Steps to Reproduce

Please provide detailed steps for reproducing the issue.

1.

[2019-04-15 15:32] vsavkin commented on #1038
@FrozenPandaz we should fix it as part of our repackaging

[2019-04-15 16:01] Amirroracle commented on #1061
Hey @vsavkin , no worries on the late reply.

So as it stands now we can use the ```--exclude``` flag to exclude apps from being built,tested, run etc... but that may cause issues since if we want to exclude a large number of apps, it will become difficult to maintain.

So what I think would be nice is to set some kind of tag using the cli that specifies that the app or lib is "archived" - meaning

[2019-04-15 16:06] vsavkin commented on #1001
It looks like the issue has been fixed in Nx 7.5. If you can still reproduce the problem with the new version of Nx, could you reopen the issue with a repro?

Thanks!

[2019-04-15 16:06] #1001 closed

[2019-04-15 16:12] vsavkin commented on #989
Since we use prettier to format the code, we should not use tslint to do any formatting-related checks. We removed the rules from the generated tslint file some time ago, but we didn't update existing projects.

I suggest you just remove the formatting-related rules from your tslint json file. Sorry for the inconvenience.

[2019-04-15 16:12] #989 closed

[2019-04-15 16:14] vsavkin commented on #986
We had an issue with a patch release of Angular CLI breaking Nx in this way. I'm closing this issue as it was addressed. If you can still repro the issue with a new version of Nx, could you reopen it with a repro.

Thanks!

[2019-04-15 16:14] #986 closed

[2019-04-15 16:21] vsavkin commented on #963
We are working with Alex E from the Angular team. The moment the Bazel story is good enough, we are going to incorporate it into Nx.

[2019-04-15 16:21] #963 closed

[2019-04-15 16:24] vsavkin commented on #952
Sorry for the late reply. Could you provide a repository reproducing the issue?

[2019-04-15 16:27] vsavkin commented on #950
@bkooistra the project name has to contain the directory name. Otherwise, two similarly named projects in two separate directories won't be able to exist in the same workspace. We want to guarantee that project names are unique by consturction.

You can of course rename the project yourself (in angular.json and nx.json), but I don't recommend it.

[2019-04-15 16:27] #950 closed

[2019-04-15 16:28] vsavkin commented on #947
Closing this. If the problem persists, could you reopen the issue?

[2019-04-15 16:28] #947 closed

[2019-04-15 16:28] #939 closed

[2019-04-15 16:32] vsavkin commented on #927
Closing this. If the problem persists, could you reopen it against Nx 7.8?

[2019-04-15 16:32] #927 closed

[2019-04-15 16:46] vsavkin commented on #907
Sorry for the late reply.

We tried to use version ranges in the past, but it resulted in issues where a patch release of the angular cli would break us. We are running our e2e tests against a specific version of the CLI, so we only guarantee it works with that version.

Having said that, we are trying to make it such that Nx 7x works with any version of Angular CLI 7x. So you can upgrade the vers

[2019-04-15 16:46] #907 closed

[2019-04-15 16:47] #975 closed

[2019-04-15 16:50] vsavkin commented on #817
Closing this. If the problem persists with Nx 7.8, could you reopen it?

[2019-04-15 16:50] #817 closed

[2019-04-15 16:51] vsavkin commented on #805
This is a blog post covering debugging Jest: https://blog.nrwl.io/debugging-nx-in-vs-code-cb1dbe9eeeba

[2019-04-15 16:55] #674 closed

[2019-04-15 16:55] #660 closed

[2019-04-15 16:55] #659 closed

[2019-04-15 16:57] vsavkin commented on #633
Hey folks! We are thinking about writing a guide on setting up CI for a monorepo. Not everything can be made concrete given that CI solutions differ so much, but the basic ideas are the same regardless if you use Circle, Azure, or Jenkins.

[2019-04-15 17:00] FrozenPandaz commented on #813
This issue seems resolved now. Please let us know if you continue having issues.

[2019-04-15 17:00] #813 closed

[2019-04-15 17:04] vsavkin commented on #575
Sorry for the late reply.

Ngrx is optional now. We add the dependencies only when you invoke the ngrx schematic.

@dtomaszewski we aren't planning to add ngxs schematic at the moment, but you can create your own schematic (can be a package, can be a workspace schematic).

[2019-04-15 17:04] #575 closed

[2019-04-15 17:10] vsavkin commented on #553
We authored a free book on using Nx (https://go.nrwl.io/angular-enterprise-monorepo-patterns-new-book?utm_campaign=Book%3A%20Monorepo%20Patterns%2C%20Jan%202019&utm_source=Github&utm_medium=Banner%20Ad). It goes into some detail on using trunk-based development, which is related to what you are asking.

[2019-04-15 17:10] #509 closed

[2019-04-15 17:10] #458 closed

[2019-04-15 17:12] #274 closed

[2019-04-15 17:12] #246 closed

[2019-04-15 17:13] vsavkin commented on #231
Sorry for a super late reply :) This is a guide that shows how it can be done: https://nx.dev/fundamentals/build-full-stack-applications

[2019-04-15 17:13] #231 closed

[2019-04-15 17:13] vsavkin commented on #196
Out of scope for foreseeable future

[2019-04-15 17:13] #196 closed

[2019-04-15 17:14] #9 closed

[2019-04-15 17:14] vsavkin commented on #36
Has been fixed in the CLI

[2019-04-15 17:14] #36 closed

[2019-04-15 17:15] vsavkin commented on #147
^^ my post talks about how it can be done.

[2019-04-15 17:15] #147 closed

[2019-04-15 17:17] vsavkin commented on #574
@FrozenPandaz can you take a look?

[2019-04-15 17:21] vsavkin commented on #75
@TekSiDoT if you send a PR, I'll review it and merge it.

[2019-04-15 17:22] vsavkin commented on #571
This issue has been fixed here: https://github.com/nrwl/nx/commit/5daffc3cc7f1135b8c82bb70b2ff8c54a607f346

[2019-04-15 17:22] #571 closed

[2019-04-15 17:40] vsavkin commented on #1094
Sorry for the late reply, folks.

@fallXone could you provide a repo with a repro?

[2019-04-15 19:06] xmlking commented on #1256
will Angular CLI 8.0.0-beta-x support targeted for `nx 8.0` or will be add to `nx 7.8.x` ?

[2019-04-15 20:51] LanceEa commented on #633
@vsavkin - Thanks that would be great!

We have been successfully following pattern 4 (I mentioned above) on CircleCI where we run  `yarn run affected:apps --base=origin/master~1` on each check-in to master. We then just execute a shell script per affected app. It is then up to the app owner to determine how they want to build and deploy their application.  In practice, most of the apps have a ver

[2019-04-15 21:42] luchsamapparat opened #1262 "break points in VS Code not working for application, invalid source map path"
## Expected Behavior

Using the *Debugger for Chrome* extension for Visual Studio Code I should be able to set breakpoints in my apps as well as in my libraries.

## Current Behavior

When setting a breakpoint in an app, the breakpoint is ignored. Setting a breakpoint in a library however works.

## Failure Information (for bugs)

### Steps to Reproduce

1. create a new workspace with angular appl

[2019-04-15 22:32] vsavkin commented on #1213
@FrozenPandaz we should include jasmine-spec-reporter as a dep of @nrwl/angular as part of the repackaging.

[2019-04-15 23:00] vsavkin commented on #1248
I was able to repro the issue (only on Windows). You should be able to fix it, like this:

[code]

Port 0 will assign random free ports to all forked processes.

[2019-04-16 01:45] #1219 closed

[2019-04-16 01:46] #1249 closed

[2019-04-16 03:47] vinoth-berkmons commented on #1234
@vsavkin

When I run
npx create-nx-workspace myworkspace, this is what i'm getting.

npx: installed 53 in 6.432s
Creating a sandbox with Nx...
[fsevents] Success: "/private/var/folders/5w/nykk9gh126ndg310qrqtr1p40000gn/T/tmp-13327YbKzDP1ekFcn/node_modules/fsevents/lib/binding/Release/node-v64-darwin-x64/fse.node" is installed via remote
added 454 packages from 239 contributors and audited 17577 pa

[2019-04-16 05:12] emilio-martinez commented on #1256
This sounds great!
`@nrwl/ng-workspace` perhaps should be `@nrwl/nx-workspace`, i.e., following the convention of `create-nx-workspace`?
Does `@nrwl/web` refer to Web Components?

[2019-04-16 05:21] annsk commented on #1248
I think it should be an annotation about port 0 in the documentation.

[2019-04-16 06:01] TekSiDoT commented on #75
@vsavkin you mentioned you might have a preference for a particular way of using it, have you decided on that yet?

[2019-04-16 06:10] dherges commented on #1256
Or just `@nrwl/workspace`!

[2019-04-16 08:51] Thellior commented on #1256
"We estimate that this refactoring will be complete before May 2018". I think you mean May 2019. Love the idea :)

[2019-04-16 14:31] jbjhjm commented on #902
@jmcdo29 @xmlking fix is coming soon. I experienced the same issue.
The reason for this is angular builder implements a different path resolution library than the nx builder which is used for non-angular projects & libraries. @FrozenPandaz has a fix in the makings (thx!) and it looks like all tests have passed and it will be merged soon! :)

[2019-04-16 14:49] FrozenPandaz commented on #1256
Renamed to `@nrwl/workspace` :)

@emilio-martinez
`@nrwl/web` refers to the following:
  * Web Builders (Build + Serve)
  * Vanilla Schematics (Web Components)

[2019-04-16 14:55] gangadharjannu commented on #1089
@vsavkin Can you give me an example or documentation on how to use run-commands? I have googled but couldn't find enough info

[2019-04-17 09:13] trumbitta opened #1271 "Excluding project from affected:build makes the build fail for that project"
## Expected Behavior

Command:
[code]
Running this command builds all apps except for `foo` and exits with success.

## Current Behavior

The command builds every app except for `foo`, but then exists with the following error about `foo`:

[code]

### Context

- version of Nx used: 7.8.0
- version of Angular CLI used: ~7.3.5
- version of Angular DevKit used: ~0.13.0

### Failure Logs

Here's the f

[2019-04-17 09:48] trumbitta commented on #1271
I just tested it with a new workspace and it works as expected.

The difference with my workspace is that the excluded app is a Sails.js app. Is there anything `affected:build` expects to find in the app even if it's excluded with `--exclude`?

[2019-04-17 10:10] trumbitta commented on #1271
Yep there is: `src/main.ts`.

I added a empty one and the build worked as expected.

I'm not sure `--exclude` should need to check if the excluded app is a "valid" one, though.

[2019-04-17 10:56] onderceylan commented on #1089
Here's an example:

`
"json-server": {
          "builder": "@nrwl/builders:run-commands",
          "options": {
            "outputPath": "apps/xx",
            "commands": [
              {
                "command": "json-server apps/xx/src/mock-backend/db.json --routes apps/xx/src/mock-backend/routes.json --port 8080"
              }
            ],
            "parallel": false
          }

[2019-04-17 21:36] alfaproject opened #1274 "Allow to running unit tests based on tags"
## Expected Behavior

It would be possible to run test suites based on tags.

## Current Behavior

It's not possible to run test suites based on tags.

### Context

As far as I'm aware tags are only used for linting, but I was wondering why not use the tag system to run tests (or other tasks) for a given tag. One of my monorepos have apps and libs for backend and frontend and it would be really he

[2019-04-18 07:56] remkoboschker opened #1276 "support for cucumber e2e tests"
Have you considered / would you consider supporting (or accepting a pr for) running cucumber tests? It would be nice to have schematics to scaffold feature and step definition files and include the configuration required to run cucumber tests using cypress. There is a cypress plugin that seems a good fit https://github.com/TheBrainFamily/cypress-cucumber-preprocessor.

[2019-04-18 09:17] dtomaszewski commented on #1222
Hi @vsavkin, sure

It's hard to do it on stackblitz as it can be reproduced in console so I'll provide sample repo with clean Nx project :

https://github.com/dtomaszewski/gdanx-workspace
(see that karma singleRun option is set to false)

When You run
`yarn affected:test --all`

Some tests will pass and process will be watched, then after edition of test in `payments-data-access.module.spec.ts` no

[2019-04-18 09:26] kszafraniec commented on #1222
My guess is that NX runs tests for each affected app/lib on the list and when it comes to karma test with `singleRun: false`, it waits forever for its end and does not proceed to next task. It behaves properly when nx command is run with `--parallel`, but then all tests are in infinite watch loop together.

[2019-04-18 10:12] juristr commented on #1256
sounds good. If you need someone to test the beta, happy to help  :)

[2019-04-18 13:46] bcabanes commented on #1256
We will update the documentation accordingly, and find a way to show dependencies between each package.

[2019-04-18 19:25] #1213 closed

[2019-04-19 12:52] michelcve commented on #1010
I agree, would love to see a library generator for nestjs in NX!

[2019-04-19 14:07] Springrbua commented on #1094
@vsavkin I was able to reproduce this issue with a new nrwl project by following this steps:

1. Create a new project using `npx create-nx-workspace myworkspace`
2. Add a Application using `ng g application myapp`
3. Open the project in VsCode
4. Open `app.component.ts`
5. Change the Typescript version to the workspace version.
6. Force a TsLint-Error

If you are using the new [TsLint Plugin for V

[2019-04-19 14:35] dereklin commented on #952
The repo is private.  I think the problem is because of our internal usage of jenkins and bitbucket.  I'll close the issue.

[2019-04-19 14:35] #952 closed

[2019-04-20 05:57] appsolutegeek commented on #1010
@creadicted I added the values to NX.json and angular.json

After run a

[code]

Which will lint your nx and angular to see if there is anything wrong.

Here is an example of what is in the angular.json

[code]

and nx.json

[code]

The section in angular.json, I sort of figured it out. I dont know if its correct :-) but it does work. There is no build section but its part of the library.

Everyti

[2019-04-20 05:59] appsolutegeek commented on #1010
With regards to the angular.json section above. There are things like "prefix" and "stylext" that dont make a lot of sense now :-) ALthough, I was afraid to remove them and break something that is currently working :-) AHA HA

[2019-04-22 14:55] DouglasWebster opened #1283 "Swagger api's not showing correctly when built using yarn create nx-workspace"
- [ x ] I am running the latest version
- [ x ] I checked the documentation and found no answer
- [ x ] I checked to make sure that this issue has not already been filed
- [ x ] I'm reporting the issue to the correct repository (not related to Angular, AngularCLI or any dependency)

I created a workspace using yarn create nx-workspace then a nestjs project using nx cli to try out the swagger examp

[2019-04-22 17:16] stefan-karlsson commented on #1235
@vsavkin thanks for pointing me in The right direction.

[2019-04-22 17:16] #1235 closed

[2019-04-22 20:41] jhua4 commented on #263
@skydever can you share your config please

[2019-04-23 13:59] elvirdolic commented on #1110
We can not run cypress tests with the affected command. As @skydever explained, setting env variable during command stops cypress due the bug an providing node --max_old_space_size=4096 is also not working. Any other workarounds?

[2019-04-23 17:00] skydever commented on #263
@jhua4 I did it like this:

* make sure you have installed [tsconfig-paths](https://www.npmjs.com/package/tsconfig-paths) as dev dependency (obviously)

* inside the `onPrepare` method at `protractor.conf.js` add the following:
[code]

I did a require for the main `tsConfig` to get the list of `paths` for the `register` method, at the top of `protractor.conf.js`:
[code]

I think that did the trick

[2019-04-23 17:22] allout58 commented on #1206
This seems to be partially supported currently (I tried with 7.4.0, might go back even further) with some simple config changes. If you set the `baseUrl` configuration parameter to anything, either as a CLI option or part of the architect options in `angular.json`, the dev server is not spun up.

This removes step 1 in @shlomiassaf 's comment above, but not step 3.

[2019-04-24 11:57] kamilchlebek commented on #1251
In my case I've "fixed" the issue by changing order of `export` in `.ts` files.

Failing version:
[code]

Passing version:
[code]

Or by merging multiple exports into one:
[code]

[2019-04-24 14:18] dodongphure commented on #628
I tried to add workspace to existing project, but got the error:
[code]
Seem can not add workspace to existing angular cli project right?

[2019-04-24 14:26] dodongphure commented on #628
In my case when using `ng add @nrwl/schematics`, at the step `What is the npm scope you would like to use for your Nx Workspace?`, I typed some name but got the error:

Any idea for this. Thanks?

[2019-04-24 18:15] mohammedzamakhan opened #1288 "Need a flag backendProject for ng generate application"
_[Please make sure you have read the submission guidelines before posting an issue](https://github.com/nrwl/nx/blob/master/CONTRIBUTING.md#-submitting-issue)_

# Prerequisites

Please answer the following questions for yourself before submitting an issue.
**YOU MAY DELETE THE PREREQUISITES SECTION.**

- [x] I am running the latest version
- [x] I checked the documentation and found no answer
- [x]

[2019-04-25 02:57] xmlking opened #1294 "`ng serve api` fail with @nrwl/nest 8.0.0-alpha.4"
_[Please make sure you have read the submission guidelines before posting an issue](https://github.com/nrwl/nx/blob/master/CONTRIBUTING.md#-submitting-issue)_

# Prerequisites

Please answer the following questions for yourself before submitting an issue.
**YOU MAY DELETE THE PREREQUISITES SECTION.**

- [x] I am running the latest version
- [x] I checked the documentation and found no answer
- [x]

[2019-04-25 17:49] xmlking commented on #1294
after `yarn add @nrwl/web -D` , this works.
would be nice we can decouple dependency on    `@nrwl/web` for `@nrwl/node`

[2019-04-26 08:52] knafteN opened #1295 "Docs: TestRunner named wrong in readme"
## Expected Behavior

The README.md (https://github.com/nrwl/nx/blob/master/packages/workspace/src/schematics/workspace/files/README.md#running-unit-tests) states that unit tests are executed via **KARMA**.

## Current Behavior

The readme states hat unit tests are executed via **Jest**.

[2019-04-26 08:56] knafteN commented on #1295
OK maybe Jest _is_ the default test runner, but the link is still referencing the karma website...

[2019-04-26 09:29] knafteN opened #1296 "Docs: Typo in "Building Full-Stack Applications""
## Expected Behavior

The documentation of `build-full-stack-applications.md` states

## Current Behavior

The documentation of `build-full-stack-applications.md` states

[2019-04-27 06:23] Karql opened #1299 "Slow jest tests on Windows"
## Expected Behavior

Tests are execetued fast on Windows

## Current Behavior

Tests are exectued slow on Windows

## Failure Information (for bugs)

Problem is with ts-jest which from version to version become slower and slower.
(I've written about it here: https://github.com/kulshekhar/ts-jest/issues/259#issuecomment-485784109)

### Steps to Reproduce

I've made sample repo to demonstrate the p

[2019-04-28 14:42] jdnierth opened #1300 "(v7.8.0) create-nx-workspace fails on Windows with npm"
After successfully installing angular\cli and nrwl\schematics via npm, running the following command on Windows `create-nx-workspace <project_name>` fails with:

(see screenshots in section "Failure logs")

## Context & Steps to Reproduce

1. Node v10.15.3
2. NVM v1.1.7
2. Windows 10 x64
3. Successfully installed angular-cli: `npm install @angular/cli`
4. Successfully installed nrwl schematics: `n

[2019-04-28 17:24] dherges opened #1302 "affected:build --all does not consider dependency graph / implicitDependencies"
# Prerequisites

Please answer the following questions for yourself before submitting an issue.
**YOU MAY DELETE THE PREREQUISITES SECTION.**

- [x] I am running the latest version
- [x] I checked the documentation and found no answer
- [x] I checked to make sure that this issue has not already been filed
- [x] I'm reporting the issue to the correct repository (not related to Angular, AngularCLI o

[2019-04-28 22:22] dherges opened #1303 "DepsCalculator: Cannot read property 'getText' of undefined"
## Expected Behavior

No build failure. DepsCalculator considers [optional property `moduleSpecififer` in `ExportDeclaration`](https://github.com/Microsoft/TypeScript/blob/master/src/compiler/types.ts#L2322-L2323)

## Current Behavior

[code]

Caused by:

[code]

Seems to be a ExportDeclaration w/o a moduleSpecififer. See the TypeScript API: moduleSpecifier is an optional property.

## Failure Inf

[2019-04-29 08:06] fen89 opened #1305 "Custom Schematics fail when using schematic functions inside templates"
## Expected Behavior

Please describe the behavior you are expecting

Custom Schematics should be able to generate template files.

## Current Behavior

What is the current behavior?

While using template files with schematic functions like classify, dasherize, etc. in custom schematics I am getting typescript errors, e.g:

- `TS1128: Declaration or statement expected.`
- `TS1109: Expression expec

[2019-04-29 09:29] lokeshdaiya opened #1306 "provide option to create nx workspace with karma and protractor"
## Expected Behavior
Provide option to generate workspace with karma and protractor .

## Current Behavior

When I run command `npx create-nx-workspace myworkspace` it asks for framework, after selecting  angular it generates angular project with jest and cypress, but I want karma and protractor

- version of Nx used 7.8.1
- version of Angular CLI used 7.3.1

[2019-04-29 09:41] twjacobsen commented on #333
Also remember when removing a lib, that `dist/.nx-results` should be updated - if you're using any if the `affected` commands. Otherwise, the removed ones will keep succeeding/failing depending on their state prior to removal

[2019-04-29 12:52] mrm1st3r commented on #1059
Being able to modify `ts-jest.diagnostics` at all would be really important for me.

After migrating from Karma, there was an incorrect test running successfully, which definitely shouldn't.
The cause was something like this (where jasmine accepted n params and jest only 1):
`expect([1]).toContain(1, 2);`
resulting only in log output on the first run and cached afterwards:
`ts-jest[ts-compiler] (W

[2019-04-30 08:33] dherges commented on #1303
Nx 7 bugfix: #1304
Nx 8 bugfix: #1311

[2019-04-30 10:30] creadicted opened #1312 "Is there a recommended microservice application setup with nestJs in the nx environment?"
nestjs offers the implementation of different [microservice](https://docs.nestjs.com/microservices/basics) architectures. The framework allows Hybrid applications but also the setup of creating one microservice as one application. Is there a way
Is there an recommended way to use nest microservices in an nx environment since?

[2019-04-30 13:28] #1295 closed

[2019-04-30 13:28] #1296 closed

[2019-04-30 15:44] creadicted commented on #1010
@FrozenPandaz  Any idea we could do that without hacking it?

[2019-04-30 17:24] FrozenPandaz commented on #1294
Fixed with https://github.com/nrwl/nx/commit/a3be21ca78b67a0fb8e462dc41b2c166446bbdba

`@nrwl/node` will not depend on `@nrwl/web` :)

[2019-04-30 17:24] #1294 closed

[2019-04-30 17:25] FrozenPandaz commented on #1300
Fixed with https://github.com/nrwl/nx/commit/a074edf3f9b49b089543616f435b0887eacafd8a

[2019-04-30 17:25] #1300 closed

[2019-05-01 10:24] dherges commented on #1302
Current behaviour of `affected:build --base=[SHA] --head=[SHA]` is:

[code]

[2019-05-01 11:06] dherges commented on #1302
Nx 7: #1318

Nx 8: #1317

[2019-05-01 15:00] Bielik20 commented on #619
I have stumbled open this some time ago and recently created proof of concept for standard Nrwl Workspace. You can read about it [here](https://medium.com/mean-fire/nx-nrwl-ionic-1baf3a43db74?source=friends_link&sk=3455c246bbfac19e08441704796c330f).

[2019-05-01 19:41] #1312 closed

[2019-05-02 03:11] #1303 closed

[2019-05-02 13:54] DninoAdnane commented on #1241
please verify the name of your library, maybe when you crated it, you name it libraryName, try `ng build libraryName`

[2019-05-02 13:59] #1302 closed

[2019-05-03 01:32] abierbaum commented on #1018
I would love to see this.  I am porting our codebase to Nx right now and while I love the scoped checking rules, the deep lib imports is causing problems with gradually porting code over.

[2019-05-03 09:19] fen89 commented on #1305
It was a mistake by myself: I already thought that this has something to do with the typescript compiler itself, but I didn't check completely.

Solution was just to exclude the `files`- directory inside the root `tsconfig.json`:

[code]

Then everything is working as expected.

[2019-05-03 09:19] #1305 closed

[2019-05-03 14:15] abierbaum opened #1320 "Allowing one-level deep library importing (nx-enforce-module-boundaries)"
## Expected Behavior

The nx-enforce-module-boundaries tslint rule enforces good behavior for importing.  This is great, but we have libraries where we want to prevent deep imports but allow first level imports.  So for example:

[code]

## Current Behavior

Currently all the symbols have to be exposed through the index.js barrel for @my_org/my_lib.

## Discussion

Is this something that would be

[2019-05-03 14:52] abierbaum commented on #1251
Causing problems for us to while moving an existing project over to Nx.  Haven't been able to track it down completely yet, but the error stack looks the same.

[2019-05-03 15:39] chriswnewman commented on #995
I was able to figure out image loading. It turns out you don't need to follow the CRA documentation for adding images once you switch to NX. I got rid of all the `import image from ./image.png` statements  in code.
Then I placed all images in the assets folder of the app, and updated the image src's with path strings like "assets/image.png"

[2019-05-04 16:28] Muromi-Rikka opened #1321 "When will the nest upgrade to version 6.0?"
When will the nest upgrade to version 6.0?

[2019-05-04 19:31] gperdomor commented on #1321
@Muromi-Rikka PR created 😄

[2019-05-04 20:05] matheo commented on #1320
I'm currently adding this to my tsconfig paths, per library:
[code]
and then allowing the specific subfolder in the tslint:
[code]

[2019-05-04 20:19] gperdomor commented on #1098
any update/plan about this?

[2019-05-06 09:23] YvesCandel commented on #164
I'm trying to get this to work, if I run:

`ng add @nguniversal/express-engine --clientProject universal-project`

...everything installs fine. However, my libs cannot be resolved when running `npm run build:ssr`:

[code]

[2019-05-06 19:48] tashoecraft opened #1323 "Deploying a server created in NX repo"
Apologies for creating an support related ticket, my post on stackoverflow hasn't gotten any attention and NX support on SO isn't very high.

## Expected Behavior

Deploy a server created in the monorepo with all of its dependencies.

## Current Behavior

When you build the server it creates a dist of the user created code, which is all fine, but I'm wondering how do I bundle up the vendor specifi

[2019-05-06 22:05] sidsakhadeo commented on #1234
@vinoth-berkmons Check if you already have a directory called `angular-core` in the location that you're running the command

[2019-05-06 23:15] spencermefford commented on #1091
Adding this to root `jest.config.js` worked for me:

[code]

See https://stackoverflow.com/questions/42260218/jest-setup-syntaxerror-unexpected-token-export/54117206#answer-54117206

[2019-05-06 23:26] spencermefford commented on #1091
I was wrong ☹️. Turns out that worked because I was importing my functions like this:
[code]

rather than this:
[code]
Ugggg.

[2019-05-07 03:01] gperdomor commented on #1098
@FrozenPandaz @vsavkin any chance to fix this for Nx 8 release?

[2019-05-07 05:48] xmlking commented on #1098
Thought for feedback:
Would it be better if we have e2e module within main app? For both angular and nestjs apps
This why, We can have fewer apps in angular.json

[code]

[2019-05-07 07:48] tanepiper opened #1326 "node-sass installs even when CSS is selected"
## Expected Behavior

When creating a new workspace with `npx create-nx-workspace` and selected CSS as the styling method, I don't expect node-sass to install

## Current Behavior

node-sass tries to install, but currently is node supported in node 12

[code]

## Failure Information (for bugs)

When running `npx create-nx-workspace` this tries to download node-sass, it fails and runs a build proce

[2019-05-07 13:10] IonFoXx opened #1327 "source-map-support not bundled into output file"
## Expected Behavior

`@nrwl/builders:node-build` with option `externalDependencies: none` bundles all dependencies into one single file.

## Current Behavior

The generated output file has everything bundled within except `source-map-support`. This seems to be introduced through this change:
https://github.com/nrwl/nx/pull/1204

## Failure Information (for bugs)

### Steps to Reproduce

1. Create

[2019-05-07 13:20] gperdomor commented on #1098
@xmlking  I prefer that too, is a cleaner solution... In fact, both angular and NestJS have e2e test in some folder inside the main project folder when are created with their official cli...

NestJS directory structure (created using `nest new nests-app`):

[code]

Angular directory structure (created using `ng new angular-app `):
[code]

[2019-05-07 15:26] #1323 closed

[2019-05-07 15:27] tashoecraft commented on #1323
In the options section of the builder for the project put "externalDependencies": "none" and this will bundle the dependencies together.

I could have sworn I had included that before and it wasn't working, but all seems well now.

[2019-05-07 16:25] creadicted commented on #1010
So with the new `--framework=none` it is much easier to define a nestjs backed library.
[code]

[2019-05-07 18:52] myflowpl commented on #973
@jmcdo29 `dotenv` works for me, and the setup is like this:

In my `main.ts` server file I placed this as the first line.
[code]

Optionally, if any problems, for debugging you can put this code:
[code]

And in your root directory just create `.env` file, the root is the curent working directory I suppose
[code]

[2019-05-07 19:35] #902 closed

[2019-05-07 19:35] #1223 closed

[2019-05-07 19:35] gperdomor commented on #1321
solved in #1322... please close this issue @Muromi-Rikka

[2019-05-08 00:35] #1321 closed

[2019-05-08 15:57] FrozenPandaz commented on #1327
Seems to be a breaking change.

@BuckyMaler We should switch to the CLI form.

[2019-05-08 18:35] gperdomor commented on #1256
would be great if solve #1098 before 8.0 release :D

[2019-05-08 20:59] benhastings commented on #333
You need to remove the references in angular.json and nx.json (for anyone who stumbles upon this like I did)

[2019-05-08 21:21] boicetomlin commented on #333
The idea is to not have to do this - a command to remove a library that does the necessary cleanup.

[2019-05-08 22:55] eduardoRoth opened #1333 "--routing is ignored when creating a new application"
## Expected Behavior

When running `ng g application customer-portal --style=scss --routing --prefix=app` I should get the `app-routing.module.ts` inside my `app` folder.

## Current Behavior

After I run `ng g application customer-portal --style=scss --routing --prefix=app`, `app-routing.module.ts` is not created.

### Steps to Reproduce

1. `npm install -g @angular/cli`
2. `npx create-nx-workspa

[2019-05-09 04:20] eduardoRoth commented on #1333
Related to https://github.com/nrwl/nx/issues/1193

[2019-05-09 19:03] BuckyMaler commented on #1327
I'll have a PR in soon.

[2019-05-09 23:26] ALeschinsky opened #1336 "Unnecessary tsconfig settings: "compilerOptions.outDir" and "tmp" in "exclude""
I apologise in advance if there's actually a reason for these options, but so far my research and testing shows that these options have no effect and should be removed from the auto-generated files.

1) In a newly generated app, the files `tsconfig.app.json` and `tsconfig.spec.json` both contain a line for `outDir` under `compilerOptions` that looks like this:

[code]

Same line exists in `tsconfi

[2019-05-10 03:15] xmlking commented on #1098
in the above commit,  I merged  **e2e** projects with corresponding parent projects (both for angular/cypress and nestjs)

they are working fine with following commands
[code]
`ng lint api` will lint files in `src` and `e2e`

[2019-05-10 13:24] TimGeerts commented on #837
Any news on this?
@flugger 's option is a viable one to have devops merge all the files, but it seems a bit strange that we'd have to _hack_ it together rather than having something out of the box?

[2019-05-10 13:56] gperdomor commented on #1098
@xmlking can you send a PR to this repo? 🙏

[2019-05-10 14:47] zachnewburgh opened #1337 "Jest coverage report does not print to console with 7.8.5"
# Prerequisites

- [x] I am running the latest version
- [x] I checked the documentation and found no answer
- [x] I checked to make sure that this issue has not already been filed
- [x] I'm reporting the issue to the correct repository (not related to Angular, AngularCLI or any dependency)

## Expected Behavior

`ng test` runs the test suites and prints the code coverage report to the console.

#

[2019-05-10 15:17] hevans90 commented on #883
This is causing us a lot of pain, help!!

[2019-05-10 19:30] Jordan-Hall commented on #1098
I prefer the existing approach. In a mono repo, wouldn't it be better to split these out of the common application because companies tend to do smoke screen tests now and then on the live system periodically?

[2019-05-11 01:15] xmlking commented on #1098
One of the reason I am motivated  to merge  e2e and main src in single project is , direct e2e dependency  on main app code, https://github.com/xmlking/ngx-starter-kit/blob/develop/apps/api/e2e/src/app.e2e-spec.ts#L4

[2019-05-11 01:21] xmlking commented on #1326
Angular CLI 8 now using **sass** module instead of  **node-sass**

[2019-05-11 10:35] Jordan-Hall commented on #1098
@xmlking  that's because of how the tests are done using jest and are only an issue with the node applications. In the example, the "end2end" testing is actually done more on a unit test/integration perspective rather than the real "end2end"

I think they some confusion over the testing. This to me doesn't feel like end2end and it should be done using jest personally

[2019-05-11 15:08] hadrien-toma opened #1340 "Feat: Be able to organize `./tools/schematics` directory"
## Expected Behavior
I would like to be able to run a schematic from the workspace directory, even if it is nested inside a subdirectory of `./tools/schematics` directory.

## Current Behavior
An error is thrown when attempting to run the schematic.

## Failure Information (for bugs)
[code]

### Steps to Reproduce
[code]

### Context
[code]
[code]

[2019-05-11 22:53] BuckyMaler commented on #1327
@FrozenPandaz should I target `master` or `7.8.x` in the PR?

[2019-05-11 23:07] tanepiper commented on #1077
Hi @vsavkin I can provide a repro on this:

https://github.com/tanepiper/ngx-tinynodes/tree/release/v1.2.0

I moved my plugin architecture to be a separate module that is included in the monorepo.  It's already published to NPM, but when I try build my main library it fails:

[code]

As you can see from the below screenshot through it the folder structure is different, it also builds the local dep

[2019-05-12 19:57] ma-coding opened #1341 "Please publish an ng8 version to npm."
## Expected Behavior

We need an testable version of the nx framework in npm, to tests our project in angular 8.
Please publish an beta or rc version of the current master branch to npm.

## Current Behavior

It seems, that the nx framework is upgraded to use angular 8, but only on the master branch and not on the published version on npm.

[2019-05-13 08:58] brampeirs commented on #83
Go to  **Settings/Preferences dialog (⌘,)** -> **Code Style** -> **Editor** -> choose **JavaScript** or **TypeScript** -> **imports** tab -> select **only in files outside specified  paths**
![Screen Shot 2019-05-13 at 10 51 18](https://user-images.githubusercontent.com/2495032/57608810-f5f6fb80-756d-11e9-8403-e33f17c04212.png)

[2019-05-13 16:30] tanepiper commented on #1326
Not using Angular 8, but the issue seems to have resolved itself.

[2019-05-13 16:30] #1326 closed

[2019-05-13 17:27] pburkindine opened #1343 "jest configured with deprecated setupTestFrameworkScriptFile option"
## Expected Behavior

Be able to add `setupFilesAfterEnv` to jest config

## Current Behavior

Receive error `Options: setupTestFrameworkScriptFile and setupFilesAfterEnv cannot be used together.` despite not using `setupTestFrameworkScriptFile`in our code.

Appears to be caused by `node_modules/@nrwl/builders/src/jest/jest.builder.js~61`

[2019-05-14 13:14] mfechner commented on #1252
Thanks, faced exactly the same problem, changing the `tsconfig.json` in the nest folder helped.

[2019-05-14 17:37] #1341 closed

[2019-05-14 19:41] AnthonyLenglet commented on #615
I'm getting the exact same issue, also using WSL, here's a github that reproduces the issue
https://github.com/AnthonyLenglet/nx-reproduction
its the default template for angular + nest, nothing new was added to it, which it what makes me think it just doesn't work on WSL

[2019-05-14 20:13] FrozenPandaz commented on #1337
It's not enabled by default but you can have it print to console if you add `'text'` to the root `jest.config.js`'s `coverageReporters` option. Feel free to make the change in your repo.

[2019-05-14 20:13] #1337 closed

[2019-05-14 20:33] zachnewburgh commented on #1337
You're a hero. Thanks, @FrozenPandaz!

[2019-05-15 03:45] FrozenPandaz commented on #1098
For starters, I don't think this is in scope for `8.0.0`. We're focused on making sure repackaging is a good experience and migrating to the new architect API. But I would like to join the discussion to share my thoughts and work towards a plan for 8.x

My main motivation for having an e2e project for a node-app is for repositories that contain _only_ backend code. Such an e2e project would likely

[2019-05-15 03:51] FrozenPandaz commented on #1288
This makes sense to me. It would be a medium effort for someone to tackle this but I think it is possible.

[2019-05-15 04:24] gperdomor commented on #1098
@FrozenPandaz well, I think that the app node should be able to be tested no matter which approach is decided... The nest template provides a good structure for e2e tests using supertest like you mention... I don't know how complex would be using the same e2e tests generated by the the `nest-cli`

[2019-05-15 06:00] mfechner opened #1349 "ng update for angular frontend does not show updates available"
## Expected Behavior

Executing `ng update` should show available updates as it works on an Angular project that was created with the Angular CLI.

## Current Behavior

It does not show you that an update for Angular is available which is wrong. Version 7.2.13 is available while writing this issue.

## Failure Information (for bugs)

As I'm new to NX I'm not sure if this is a bug related to NX or

[2019-05-15 07:29] Jordan-Hall commented on #1098
I'm with @frozenPandaz can test e2e on node application is excellent. But my main reservation is it going to the main application root.

I like splitting the responsibility of my backend code, for example, having a microservice that deals with database connections and another for authentication etc.

[2019-05-15 15:02] #1327 closed

[2019-05-15 17:11] jordandlaman commented on #1192
Any updates?

[2019-05-16 06:32] MrCroft commented on #54
How about another use case with monorepos, when you have multiple apps and a common ui components library? And those ui components need to have different colors (and possibly other style properties that differ), depending on which app consumes them.

For example:
[code]
Depending on which app consumes the dropdown, the dropdown needs to have different colors for borders, active items, hovered item

[2019-05-16 10:24] kiwikern opened #1351 "Docs: linked stackoverflow tag is wrong"
The tag [nx] has been split into [nrwl-nx] and [nomachine-nx], see https://meta.stackoverflow.com/q/382809/4694994.

The nrwl website https://nx.dev/ links to https://stackoverflow.com/questions/tagged/angular+nx (on the bottom of the page under Help).

This link should be updated to https://stackoverflow.com/questions/tagged/nrwl-nx

[2019-05-16 10:38] jbjhjm commented on #1054
I'm still experiencing this issue with nx@7.8.5. Tried jest 24.8, 24.1 and 24.0 and all failed.
I ended up with downgrading jest to 23.6.0 and jest-preset-angular to 6.0.2, and it seems to work now.

[2019-05-16 13:57] brianpkelley commented on #54
@MrCroft The way I have mine set up is that each component has its included styles in scss file and then its "changeable" values in another wrapped in a mixin/function as above.  Much like
[code]
Then you just `@import '~@lib/ui/dropdown/dropdown.theme'` file in your app.scss file and `@include dropdown-theme($theme);`

[2019-05-16 13:57] danieldanielecki commented on #1054
Same here, tried it just 1 week ago, and still the same result and "solution" as you.

[2019-05-16 19:17] igortg commented on #1077
I just solved the dependency resolution by changing the projects declaration order on `angular.json`. Is that supposed to be the solution? Or is your intent that Nx solves inter-libraries dependencies by itself @vsavkin?

[2019-05-16 19:39] emilio-martinez commented on #1256
@FrozenPandaz would love to test this out if everything's getting to be in a good testing place! Is the latest beta representative of the current `master`?

[2019-05-17 22:12] beynya opened #1356 "Runnung nx affected:libs on pipeline returns with ERROR : "fatal: Not a valid object name master""
Runnung nx affected:libs on Azure DevOps.
Everything is working locally on mac and windows

## Expected Behavior

`nx affected:libs --base=master` should return affected libs

## Current Behavior

Failing :(

### Context

Please provide any relevant information about your setup:

- version of Nx used - `7.4.0`
- version of Angular CLI used - `^7.2.2`

### Failure Logs
[code]

[2019-05-19 00:15] TroyHouston commented on #1195
Without this I cannot use the nx cypress builder, which makes things more tedious to set-up.
Did you find any reasonable workaround to this at present?

[2019-05-20 13:20] danieldanielecki commented on #812
**Update:** apologizes for the mistake, you have to include `allowJs `as well. The reason why I got it working is I didn't clean cache. Before testing remember to do so.

[2019-05-20 16:06] #1356 closed

[2019-05-20 20:42] markgoho opened #1359 "j"
_[Please make sure you have read the submission guidelines before posting an issue](https://github.com/nrwl/nx/blob/master/CONTRIBUTING.md#-submitting-issue)_

# Prerequisites

Please answer the following questions for yourself before submitting an issue.
**YOU MAY DELETE THE PREREQUISITES SECTION.**

- [ ] I am running the latest version
- [ ] I checked the documentation and found no answer
- [ ]

[2019-05-20 20:42] #1359 closed

[2019-05-21 01:31] MaximSagan opened #1361 "Dependency calculator too brittle with regards to path aliasing"
## Expected Behavior

In large monorepos, some libs can be nested fairly deeply, e.g. `libs/shared/features/navigation-features/navigation-feature-1`.

For commonly used libs, it may be beneficial to alias the path (using tsconfig.json's `compilerOptions.paths` property) to such libs as something like `@{npmScope}/navigation-feature-1` (or even just `@navigation-feature-1` if the user wishes, alth

[2019-05-21 14:53] ernie58 commented on #1356
@beynya did you manage to find a solution, having this problem as well lately

[2019-05-21 15:17] beynya commented on #1356
@ernie58, instead of doing `--base=master` => ` --base=remotes/origin/master`

[2019-05-21 15:54] vsavkin opened #1364 "Nx 8 and Ivy Support"
Hey folks,

Many of you are excited about the coming Ivy support in Angular 8. Even though Ivy is still experimental, and I personally encourage you not to use in production, you can use it in an Nx repo.

[code]

Add the following to `tsconfig.app.json`:

[code]

And you should be good to go!

Please let us know if you have any issues with using Ivy

[2019-05-21 17:09] perjerz3434 commented on #1256
Any plan Apollo Client integrate with Nx?

[2019-05-21 19:18] ernie58 commented on #1356
thx @beynya worked!

[2019-05-22 09:18] nileshkorpad1 opened #1367 "Cannot read property 'toString' of undefined"
I am getting an error like
**Cannot read property 'toString' of undefined**
Following is my package.json files

1. Angular material src fetched from https://github.com/angular/material
2. Angular CDK latest Version
3. Typescript: 3.2.4
4. @nrwl/schematics: 7.8.6
5.  @nrwl/builders: 7.8.6
6. @nrwl/nx: 7.8.6

Following is my error log

[
Cannot read property 'toString' of undefined
TypeError: Cannot

[2019-05-22 13:08] YonatanKra opened #1368 "Libs with routing and apps are not created"
_[Please make sure you have read the submission guidelines before posting an issue](https://github.com/nrwl/nx/blob/master/CONTRIBUTING.md#-submitting-issue)_

# Prerequisites

Please answer the following questions for yourself before submitting an issue.
**YOU MAY DELETE THE PREREQUISITES SECTION.**

- [ x ] I am running the latest version
- [ x ] I checked the documentation and found no answer
-

[2019-05-22 15:17] joelcipriano commented on #102
Hey, there!

Any news about deploying individual applications to Heroku?

[2019-05-23 01:51] MaximSagan opened #1373 "[nx-enforce-module-boundaries] "allow" entries should cover all deep imports for given libs"
For large apps, full migration to the recommended NX project structure can be very time consuming (particularly isolation of functionalities into self-contained libs), so it may be beneficial to contain the majority of "unmigrated" code in its own lib. Obviously, setting up a barrel file (`index.ts`) to export absolutely everything from that lib is not realistic, so we may have to perform deep imp

[2019-05-23 15:08] vsavkin commented on #1077
@igortg the order of declarations in `angular.json` should not matter. It's probably a bug. Could you provide a minimal repro demonstrating the issue?

[2019-05-23 15:14] vsavkin commented on #1077
@tanepiper Hey! The provided link doesn't work.  When I clone master and run `ngx-editorjs`, it builds successfully.

[2019-05-23 15:14] jeneg commented on #602
Hi! Any updates on this? I faced same issue and I believe it's pretty common use case.
I've created simple [repo to reproduce this issue](https://github.com/jeneg/nx-poc). Here I created 2 publishable libs and only thing I made by hand is imported `LibBModule` into `LibAModule` and build of `LibAModule` fails. I found that structure of dist folder for lib that imports other lib differs from lib wi

[2019-05-23 15:15] vsavkin commented on #1192
Merged here: cf5ebf59d720e93ea78f92d58c69b3d126f9e703

[2019-05-23 15:15] #1192 closed

[2019-05-23 15:21] bcabanes commented on #1351
Thank you @kiwikern!
Will fix it!

[2019-05-23 15:22] vsavkin commented on #1336
@ALeschinsky the files are compiled in memory by webpack/cli, so you don't see anything in the dist folder. We keep the outDir property in case you want to run `ngc` against tsconfig.app.json, at which point you will see the files on disk.

The default Angular CLI project has those properties set as well. So it's another reason why we keep it.

Cheer!

[2019-05-23 15:22] #1336 closed

[2019-05-23 15:23] vsavkin commented on #1091
@FrozenPandaz can we close this issue?

[2019-05-23 15:30] ernie58 commented on #1299
We have the same problem. tests run under 20s on my macbook pro, but take 300 seconds on my colleagues windows PC since upgrading nx and Jest 24

[2019-05-23 15:38] vsavkin commented on #837
@jaysoo could you comment on this?

[2019-05-23 15:46] vsavkin commented on #1333
We don't create a separate module for routing and instead update `app.module.ts`. This is by design.

[2019-05-23 15:46] #1333 closed

[2019-05-23 15:53] bcabanes commented on #1351
Closing, fix is done and in flight for next release.

[2019-05-23 15:53] #1351 closed

[2019-05-23 15:54] vsavkin commented on #1234
@vinoth-berkmons it looks like you have node modules in the home dir which affects the angular cli.  If you delete them, the command should work.

[2019-05-23 15:56] vsavkin commented on #1368
@YonatanKra could you try creating a new workspace using `npx --ignore-existing create-nx-worspace myworkspace` and then try creating an app in it?

[2019-05-23 15:56] AdamVig commented on #1077
@vsavkin I ran into a similar issue. I have an Nx monorepo with no applications and with two published libraries, `library-a` and `library-b`. I added a third library, `internal-lib`, that I don't want to publish. `library-b` depends on `internal-lib`.

My build output is the following:
[code]

I think this is an issue with paths. The `dist` folder for `library-a`, which does not depend on `intern

[2019-05-23 15:56] vsavkin commented on #1367
@nileshkorpad1 could you provide a github repo with aa repro?

[2019-05-23 16:01] vsavkin commented on #1195
This is definitely something we need to make work. Do you want contribute a PR?

[2019-05-23 16:02] vsavkin commented on #164
@FrozenPandaz could you comment on this?

[2019-05-23 16:03] vsavkin commented on #995
@FrozenPandaz could you comment on this issue?

[2019-05-23 16:06] ALeschinsky commented on #1336
Thanks for the answer, it makes sense.

What about the 2nd point, `"tmp"` in `"exclude"` array?

[2019-05-23 16:08] vsavkin commented on #1306
Presets, which you select when running create-nx-workspace, are just shortcuts--to help you set up your workspace with a single command.

If you want to use karma and protractor, run:
* `create-nx-worskpace myworkspace --preset=empty`
* `ng g app angularapp --unit-test-runner=karma --e2e-test-runner=proctractor`

You can also set defaults values in angular.json, such that `ng g app` will always de

[2019-05-23 16:08] #1306 closed

[2019-05-23 16:25] vsavkin commented on #1361
We are planning to support Bazel for Nx 9 (opt-in only), which has a more restrictive way of defining path mappings. I think the feature request is meaningful, but I'm not sure if we will be able to make it work given the bazel constraints.

[2019-05-23 16:36] vsavkin commented on #1094
@bcabanes could you take a look?

[2019-05-23 16:39] vsavkin commented on #1110
@FrozenPandaz I think what we should do is spawn an npm script instead of ng directly, so folks can override `"ng": "ng"` to pass whatever options needed. What do you think?

[2019-05-23 17:37] tanepiper commented on #1077
Hi there @vsavkin yes it does now as I don't ship the core with any plugins now using the plugin module as a hard dependency, it's now a peer dependency.

If you look at the commit here: https://github.com/tanepiper/ngx-tinynodes/commit/14d0cc3a9eb0c2c7f65a4431ac2da7d3f4ec06d4

Clone from this commit and you should see the issue.

[2019-05-23 18:18] vsavkin commented on #1206
I think the use case is reasonable. You should be able to compile cypress tests withing running them.

[2019-05-23 18:25] vsavkin commented on #1241
I'm really sorry, but I'm a bit confused about the issue. I cannot find the readme that tells you to build your lib. Is the problem that some docs told you to run `ng build lib` or that the docs didn't specify what can be built and what cannot?

[2019-05-23 18:48] vsavkin commented on #1018
I'm really sorry for the late response.

Are you really interested in deep imports or in multiple entry points?

I can see a clear use case for multiple entry points (testing, non-testing), but I'm not sure what would be a good use case for arbitrary deep imports. When would you want it?

When would you want to disable the checks?

- `nx-no-circular-deps` and `nx-no-app-import` are similar. When w

[2019-05-23 20:11] heapifyman commented on #1241
If you follow the steps to reproduce you will find a file `myws/libs/mylib/README.md` after step 5.

That README.md says in line 13:

[code]

[2019-05-23 21:33] stefan-karlsson opened #1381 "create-nx-workspace --preset=full-stack does not work"
## Expected Behavior

When running the command `npx create-nx-workspace@next my-app --preset=full-stack` i expect the workspace to work without any errors/warnings.

## Current Behavior

When running `npx create-nx-workspace@next my-app --preset=full-stack` the application is created as it should without any warnings.

The problem occurs when running `npm start`, i will then get the following warn

[2019-05-24 06:15] jogelin opened #1384 "Shared api-interface between nest and angular : Error: Can't resolve 'fs' in"
### Context
I am using NestJS with graphql integration (code first) and I am sharing the models with an Angular app using the `api-interface` lib. I meet multiple issues in the frontend compilation because it is also sharing imports : `graphql-type`, `nest`, `class-validator`..

## Expected Behavior
It compile without issue and don't event take in account imports because I don't want the frontend

[2019-05-24 09:38] TroyHouston commented on #1195
I gave it a shot adding an option to copy files based on regex, see the PR above.

Realised a bit late that I branched from master which is for angular 8, but that should be out soon anyway,..

[2019-05-24 13:14] admir86 commented on #1306
@vsavkin not working with 8.0.0-rc.1
[code]

[2019-05-24 15:39] abierbaum commented on #1018
@vsavkin I can't speak for everyone else on this issue, but what I would like to do is imports similar to Angular material and a few other libraries we use.  Basically allow one level deep imports to pass the lint rules.

So imagine I have a library setup like this:

[code]

I would like to setup the library so instead of having everything exposed through one entry point at the base level of the l

[2019-05-24 22:51] FrozenPandaz commented on #1256
@emilio-martinez Yes `@nrwl/workspace@next` has this. Please try it out and let us know what you find!

@perjerz3434 No concrete plans at the moment but we would love to have Apollo setup perhaps through Nest. The integration there is really nice and we use it in Angular Console.

[2019-05-25 05:20] FrozenPandaz commented on #1381
Thanks for all the wonderful detail in this issue. However, I think the expectations about how the repo should work are mistaken due to our lack of explanation.

The frontend and the backend (`api`) are two different applications.

To run the frontend:
[code]

To run the api:
[code]

To run them both at the same time, either run them in separate terminals are use `concurrently`:
[code]

What would

[2019-05-25 05:32] FrozenPandaz commented on #1349
Hi, there are in fact no updates for `@angular/core` for your repo. Let me explain:

1. `ng update` is based on the version installed in the workspace
2. The version installed in the workspace is defined by the `package.json` which is `^7.0.0`. This means the latest stable version (not `-beta`, `-rc` versions) between `7.0.0` up to `8.0.0 which at this time is `7.2.13` will be installed.
3. Becaus

[2019-05-25 05:32] #1349 closed

[2019-05-25 07:29] alfaproject commented on #1018
That's multiple entry points and I'd love to have that as well. (:

[2019-05-25 08:33] jon301 opened #1393 "tsconfig target incompatibility with NestJS and TypeORM module"
# Prerequisites

- [x] I am running the latest version
- [x] I checked the documentation and found no answer
- [x] I checked to make sure that this issue has not already been filed
- [ ] I'm reporting the issue to the correct repository (not related to Angular, AngularCLI or any dependency)

## Expected Behavior

- tsconfig target should be es6 when scaffolding a new node application : https://git

[2019-05-25 10:40] alfaproject opened #1394 "jasmine-marbles should not be a peer dependency"
## Expected Behavior

`jasmine-marbles` should not be a required peer dependency, because not everyone uses `jasmine`.

## Current Behavior

I'm trying to update my workspace to the latest rc and I get an error message saying my workspace has a missing peer dependency of `jasmine-marbles`.

[code]

### Steps to Reproduce

1. Create a workspace using the current stable version
2. Remove `jasmine-ma

[2019-05-25 20:14] Destreyf commented on #1256
@FrozenPandaz could we get a quick "How To" for switching from `nrwl/nx` to `nrwl/workspace`, or however it's going to move.  I would like to start testing some of my tooling with angular-cli 8 and angular 8 as the release is just around the corner.

I haven't tried this as of yet, but i'm guessing i should be able to `ng upgrade @nrwl/schematics@next` possibly?

[2019-05-26 01:19] mdnaserhassan commented on #1241
library should consists of two words. e.g mylib-lib

[2019-05-26 14:48] YonatanKra commented on #1368
@vsavkin for some reason I get this:
[code]
When I try to create the workspace. Any idea what can cause that?
I've tried several internet connections to make sure it's not a firewall issue of some kind. I also tried to install the `create-nx-workspace` globally which worked. It's just that using the command itself fails for some reason.

[2019-05-26 14:57] YonatanKra commented on #1368
I'm getting this error:
[code]
Is there an issue with `ignore-existing`?

[2019-05-26 15:52] xmlking opened #1397 "Add @nrwl/angular:elements"
Is there any difference  how code is generated when using    `preset=angular ` vs `preset=web-components` ?
[code]
[code]
It would be nice  to be able to add `web-components`  **micro-app**  to existing workspace e.g.,
[code]

[2019-05-26 16:35] NateVonSmith commented on #574
For anybody still struggling with this (thanks for your suggestions @hmagrini but I also couldn't get it to work - same situation as @vggarg96), I ended up just adding a build step at the end to replace `href="styles.` in the built index.html file with `href="/styles.` (root-relative) to resolve the issues I was having where css file paths that were relative to the url routes, which I assume is th

[2019-05-26 17:55] jvpepino commented on #1054
@FrozenPandaz so this should work when using nx v7.8.1?

[2019-05-26 22:03] FrozenPandaz commented on #1397
`--preset web-components` does not use Angular or any framework at all. The way I imagine this would work in the future is you can do `ng g @nrwl/web:component fancy-button` (it's not there yet). Then you would be able to use that within an Angular or React app.

[2019-05-27 07:10] fxck opened #1399 "updating to --next is trying to install non-existent package @nrwl/angular@8.0.0"
Did

which failed with

[code]

[2019-05-27 12:30] servrox commented on #164
@YvesCandel
Not solving this particular issue but I managed to make it work with
 `ng add @nestjs/ng-universal --clientProject=ng-test-app --project=ng-test-app`
I documented how to setup a [demo](https://github.com/servrox/nx-ng-nest-universal) including the command above; maybe this helps..

[2019-05-27 17:06] xmlking commented on #1397
creating a web-component  **MicroApp**  using `Angular Elements` in **nx** workspace could be complex multi-step process...
Ref: @manfredsteyer https://www.softwarearchitekt.at/post/2018/05/04/microservice-clients-with-web-components-using-angular-elements-dreams-of-the-near-future.aspx

would be nice, if we provide  `@nrwl/angular:elements`  schematics to make this process easy for nx community.

[2019-05-27 20:44] FrozenPandaz commented on #1399
Thanks for reporting this issue. This won't be an issue once the stable release is out. For now, please update your `package.json` with the latest RC: `8.0.0-rc.2`

[2019-05-27 22:17] heapifyman commented on #1241
Why? The nx docs do not mention that. See:

* https://nx.dev/tutorial/07-share-code

* https://nx.dev/tutorial/08-create-libs

[2019-05-28 07:37] Trakhan commented on #1262
Hi I am currently facing the same issue.

I managed to resolve it by setting the webRoot property in launch.json to the root path of launched project.

`{
			"type": "chrome",
			"request": "launch",
			"name": "Launch my-app in Chrome",
			"url": "http://localhost:4301",
			"webRoot": "${workspaceFolder}/apps/my-app"
},`

The libraries work only because they have absolute path in webpack circumve

[2019-05-28 07:57] admir86 opened #1405 "can not create library with karma"
# Prerequisites

A new empty workspace created with `npx create-nx-workspace@next myworkspace`. (@nrwl/workspace: 8.0.0-rc.2)

## Expected Behavior

Running `ng g library common --unit-test-runner=karma` should create a new library with karma as test runner.

## Current Behavior

The command throws an error:
[code]
see: https://github.com/nrwl/nx/issues/1306#issuecomment-495622411

## Failure Info

[2019-05-28 08:18] nileshkorpad1 commented on #1367
@vsavkin ,
I can not share you whole repo but I can share you my package.json file
Also please use angular material src file and create the library and add src folder to library

My package.json file is

{
  "name": "TandemUI",
  "version": "0.0.0",
  "license": "MIT",
  "scripts": {
    "ng": "ng",
    "start": "ng serve",
    "build": "ng build",
    "package:framework": "ng build framework && r

[2019-05-28 12:52] tanepiper commented on #1077
@vsavkin @AdamVig I can confirm that #930 does seem to fix it, specifically, https://github.com/nrwl/nx/issues/930#issuecomment-480810046, where adding the dist path in the tsconfig worked.

[2019-05-28 14:04] luchsamapparat commented on #1077
You can reproduce this issue by following these steps:

1. create a new Nx Workspace `create-nx-workspace nx-lib-dependency-poc`
2. create library-a as publishable `ng g lib library-a --publishable`
3. create library-b as publishable `ng g lib library-b --publishable`
4. import library-a in library-b, see `./libs/library-b/src/lib/library-b.module.ts`
(4.1 create an app as otherwise the angular de

[2019-05-28 19:11] mac2000 commented on #633
Also do not forget about cleaning up environments - otherwise it will become a mess pretty quickly

In our environment (bitbucket pipelines -> aws s3 -> cloudflare) we can do something like scripted creation of bucket if needed and syncing dist folder into it and even create subdomain in cloudflare - it is easy for one app, but in case of monorepo with multiple apps becomes not so easy task

What

[2019-05-28 19:26] nathanhokanson opened #1409 "Cannot convert complex app with ng add @nrwl/schematics"
## Expected Behavior

ng add @nrwl/schematics updates the application to be a nrwl workspace.

## Current Behavior

When you run the command you see the following errors:

± |master ?:1 ✗| → ng add @nrwl/schematics
Skipping installation: Package already installed
? What is the npm scope you would like to use for your Nx Workspace? fox
    Path: karma.conf.js does not exist
    Path: tsconfig.app.j

[2019-05-29 06:05] emilio-martinez opened #1411 "(@nrwl/angular) core-js not needed in dependencies"
## Expected Behavior

Angular CLI has [removed `core-js` from the installed dependencies](https://github.com/angular/angular-cli/commit/a0a583a) when creating a project as those are handled via the differential polyfilling. Additionally, they've also bumped their use of it to the next major version (`^3.0.0`) internally. As part of upgrading to Nx 8, perhaps something similar needs to happen.

On

[2019-05-29 07:06] emilio-martinez commented on #1399
@fxck if helpful, you can install `@nrwl/angular@next` and `@nrwl/workspace@next` first and then run the update schematic. That will circumvent the matching version error if you're intent with upgrading now.

[2019-05-29 09:14] lokeshdaiya commented on #1306
@vsavkin Can you add this in help section or some where in your documentation ?

[2019-05-29 10:58] lokeshdaiya commented on #1306
`create-nx-worskpace myworkspace --preset=empty` is not working with 8.0.0-rc.2

[2019-05-29 13:04] GrandSchtroumpf commented on #1226
I just upgraded my nwrl repo, and I still have the problem :
- `ng update @angular/core @angular/cli`
- `ng test` -> `Could not find the implementation for builder @nrwl/builders:jest`.
Should I downgrade until this is fixed, or can it be updated later on ?

[2019-05-29 14:00] Jordan-Hall commented on #1256
@FrozenPandaz  How far is NX 8 being ready? We have an issue with node-sass which has been resolved in version 8
[code]

[2019-05-29 14:26] ViceIce commented on #602
@gund Thanks for the working solution 🎉

[2019-05-29 14:34] zachnewburgh commented on #1093
I also came across this issue after moving shared libraries from libs into a common directory under libs. I've since decided to move those libraries up a level from the common directory, rather than resolve this issue on my own.

The issue, however, manifested after following these steps:

1) Generate a `react-ui` lib using `ng g lib react-ui --framework=react-ui`;
2) Create a `common` directory u

[2019-05-29 16:18] Domratchev commented on #1226
@GrandSchtroumpf Nrwl package structure is different now. You need to use @nrwl/jest:jest there.
Here are the details: https://github.com/nrwl/nx/blob/master/docs/guides/nx7-to-nx8.md

[2019-05-29 16:29] GrandSchtroumpf commented on #1226
Oh ok great, thx.

[2019-05-29 18:45] Jordan-Hall commented on #1384
Hi @jogelin

Can you provide an example of the code you are using. It appears to be strange that you require nest as part of API interface. Furthermore, api-interface (the generated lib) should really be for interface. If you want share models that's fine class-validator work but the issue is relating to  graphql-type as it requires a webpack plugin.

[code]

I can't see this being NX wanting to a

[2019-05-29 18:47] sajidali commented on #1226
@Domratchev reading the guide nx7-to-nx8 helped me solve all the issues I was having. Thank you.

[2019-05-29 19:43] gperdomor commented on #1098
as Nx 8 was released, how can we deal with nestjs e2e test? this will be added in the future?

[2019-05-29 20:27] stefan-karlsson commented on #1381
Thanks for the clarification @FrozenPandaz my post consists of 2 errors.

# Problem 1: Compiling the application(s)
After your explanation I am now enable to run both backend and frontend applications! 👍

It would be awesome to log out the "how to start" information when using the `--preset` flag.
I also i think it would be nice to add a script in package.json that executes both environments.

# P

[2019-05-29 21:09] juristr commented on #1256
@Jordan-Hall guess it's out 😉
https://blog.nrwl.io/nxs-new-look-in-v8-25d7325260d

[2019-05-30 01:15] mrudangit opened #1414 "create-nx-workspace nx 8.0 Ubuntu failing"
I just install angular/cli 8.0
sudo npm instal -g @angular/cli@latest
sudo npm install -g create-nx-workspace

on Ubuntu m/c

getting error

create-nx-workspace Hello8
Creating a sandbox with Nx...
ng new "Hello8" --collection=@nrwl/workspace
Could not find module "@nrwl/workspace" from [myfolder]

**ng --version**

     _                      _                 ____ _     ___
    / \   _ __   __ _

[2019-05-30 02:21] FrozenPandaz commented on #1414
Hi, there's definitely an issue in the code which I've submitted a PR for. Sorry for the confusing error.

I'm using Pop!_OS (which is pretty close to ubuntu). This seems to somehow work in most cases despite the error in the code.

The only way which I am able to reproduce the issue is if I am in a directory which has a `node_modules/.bin/ng` which means i've installed `@angular/cli` there. It al

[2019-05-30 02:25] FrozenPandaz commented on #1411
Thanks for the information! We should definitely stop adding `core-js` to generated repos.

I think it is not removed during migration because people may depend on that dependency so even though the `@angular/cli` doesn't use it, it may be added elsewhere.

For our differential loading implementaiton, we don't add our own polyfills and instead let the user decide which to add. We don't yet generat

[2019-05-30 02:40] mrudangit commented on #1414
i created fresh new folder

mkdir ~/Angular8

cd ~/Angular8

and then ran

create-nx-workspace hello8

[2019-05-30 02:46] jasedwards opened #1416 "All usages of DataPersistence are broken after upgrading to version 8"
_[Please make sure you have read the submission guidelines before posting an issue](https://github.com/nrwl/nx/blob/master/CONTRIBUTING.md#-submitting-issue)_

# Prerequisites

Please answer the following questions for yourself before submitting an issue.
**YOU MAY DELETE THE PREREQUISITES SECTION.**

- [x ] I am running the latest version
- [ x] I checked the documentation and found no answer
- [

[2019-05-30 02:53] FrozenPandaz commented on #1405
Thanks for trying out the latest `@nrwl/workspace`!

Let me start with the bad news. We highly recommend using Jest for unit testing and do not really recommend Karma for non-Angular projects (apps or libs). Ideally, Karma would be split out like `@nrwl/jest` but to reduce the amount of packages where we could, we decided to keep it as a part of Angular.

The good news is that there is technically

[2019-05-30 03:40] FrozenPandaz commented on #1399
The stable version has been released so this issue should be fixed.

[2019-05-30 03:40] #1399 closed

[2019-05-30 04:31] FrozenPandaz commented on #1414
And did it work?

[2019-05-30 04:32] FrozenPandaz commented on #1416
These errors are from the migration? If so, can you please provide a repro of the un-migrated project?

[2019-05-30 05:57] FallenRiteMonk commented on #1416
I have the same problem, but all my ```DataPersistence``` imports have been migrated correctly.

What I find very confusing is the last line of the error message I get:
[code]
If I understand that correctly then ```DataPersistence``` uses a different version of observable.
Is there any way of getting around this error?

I'll try to find some time tonight to extract a portion of my project for repr

[2019-05-30 06:38] goelinsights opened #1419 "ng update for v8 not making changes to app.module or tsconfig in apps folders or root directory"
_[Please make sure you have read the submission guidelines before posting an issue](https://github.com/nrwl/nx/blob/master/CONTRIBUTING.md#-submitting-issue)_

## Expected Behavior

On ng update to v8, changes to tsconfig and app.module are supposed to happen with ng update to enable lazy loading template change, differential loading, etc
`The CLI's build command now automatically creates a modern

[2019-05-30 08:36] admir86 commented on #1405
you are right, I had no @nrwl/angular.
With the current release it works fine. I just followed the [getting started](https://nx.dev/getting-started/getting-started).

I'm checking nx to move multiple existing projects to a monorepo, these projects already have tests with karma and jasmine so I would like to stay with karma.

And I trust the [statement on ng-conf](https://www.youtube.com/watch?v=4d

[2019-05-30 09:03] philjones88 opened #1420 "yarn update fails with "cannot find module 'inquirer'""
## Expected Behavior

To update to latest

## Current Behavior

Fails

## Failure Information (for bugs)

[code]

package.json

[code]

nx.json
[code]

angular.json
[code]

### Steps to Reproduce

Please provide detailed steps for reproducing the issue.

1. run `yarn update`

### Context

Please provide any relevant information about your setup:

- version of Nx used `see package.json`
- version o

[2019-05-30 10:46] fxck opened #1421 "workspace-schematics guide is empty"
Not sure if it was moved, or removed, but it's linked from a couple of resources (some blog posts, SO answers) https://nx.dev/guides/tools-workspace-schematics and it's empty save for the title.

https://stackoverflow.com/q/51610745/301596
https://medium.com/@simonb90/create-workspace-specific-schematics-with-nrwl-nx-9a1b7cd65345