[2022-04-20 06:55] ianldgs commented on #9451
FYI, what happened to me was the OS was reporting 256 CPUs. That was a larger number than the amount of files that it had to calculate the dependency graph. That was causing a strange error and the stack trace was being swallowed. My fix was to set the environment variable for the number of workers to a reasonable number (4 in my case).

[2022-04-20 07:45] aLosada7 commented on #9498
Hi Samuel.

After reproducing the steps mentioned above, I faced the same problem than you.

Fortunately, there is a configuration we can add to our rollup file which solves this problem.

[code]

In this code, we are obtaining the lib name from the output direction and at the same time we have to pass the correct output format. Overriding _entryFileNames_ & _chunkFileNames_ we archieve the desire

[2022-04-20 07:47] ryarabala opened #9894 "Uncaught TypeError: Cannot read properties of undefined (reading 'AuthFacade')"
Hi Team,
I am currently using angular 11 and nx 11 and upgraded these to version 12 and then 13.

After migration getting the below error while injecting the facade .

@Injectable()
export class SecurityBlueCherryAuthService {
  constructor(
    private apiService: BlueCherryApiService,
    private ngxLoaderService: NgxUiLoaderService
  ) {}

getting exception at second line in the above code.

Co

[2022-04-20 09:03] tommazzo89 commented on #9451
Thank you for the hint @ianldgs, but unfortunately the problem seems to be a different one here. Nx tries to compute the project graph in a postinstall hook that gets executed as part of `npm install` (actually it's `npm ci` in the Dockerfile). This graph computation tries to open all `project.json` files, which are not available at this stage of the Docker build, because we only copy `nx.json`, `

[2022-04-20 09:11] bintoll commented on #2675
Agree, it will be quite useful for me also! Right now I have to list all projects as excluded in different tasks manually, grouping projects by tag will simplify this process a lot and make it much more scalable.

[2022-04-20 10:30] dewiktor2 opened #9895 "Bamboo CI - NX in version 13.8.6 hanging node process"
## Current Behavior
Recently I upgraded NX from 13.8.1 to latest, but it was building for ages in my bamboo CI environment.
After this failure, I was upgrading release after release from 13.8.1 to 13.8.6. In version 13.8.6 build started to be very long (3h).
I notice that node.js process still doing his job after builds, after killing it  bamboo discover that script should be ended and build last

[2022-04-20 11:40] jonhamm commented on #8779
I have seen same problem in our Jenkins builds -- could not find a pattern as to when it happens
I am on `13.9.5`

[2022-04-20 11:54] abomadev commented on #6370
For anyone still experiencing this issue, check the `workspace.json` file.  For me, there was a reference to the deleted folder in there. Removing the reference fixed it.

[2022-04-20 11:55] abomadev commented on #3370
For anyone still experiencing this issue, check the `workspace.json` file.  For me, there was a reference to the deleted folder in there. Removing the reference fixed it.

[2022-04-20 12:05] richtera commented on #6891
I have not really had problems with environment variables, but found today that NX_INVOKED_BY_RUNNER doesn't seem to be set in some cases. I can't even find the code that sets it anymore. This breaks a whole bunch of our targets. Is this a known issue?

[2022-04-20 14:22] #4111 closed

[2022-04-20 14:45] AgentEnder commented on #9895
Hey! you mentioned trying w/ latest, can you confirm the version number you had tried at the time?

[2022-04-20 14:51] AgentEnder commented on #9890
@Arcahub `watch` would not work for the rust code in this case, but if you update your next code's serve target with:
[code]

This assumes that the build target for your rust wasm project is called build-wasm, you could specify it as "build" as well, but Nx may pick up other prebuild steps as well in that case.

[2022-04-20 14:53] AgentEnder commented on #9864
Hey @AJax2012! Good spot, would you like to open a PR with the change?

[2022-04-20 15:05] Arcahub commented on #9890
Thanks for your answer.
If I understand well the config make nx run the target build-wasm for every dependency of my project that has this target ?

I will try that later today and close this issue if it helps or sends you feedback otherwise.

[2022-04-20 15:06] barbados-clemens commented on #9640
@seanaguinaga
Looks like the issue here is 2 fold.
First, a preset needs to be applied to the files within the node_modules as the local `.babelrc` will only transform those local within the lib. This can be fixed in a couple of ways as patches until jest fully supports ESM.

1. provide a preset to the root `babel.config.json` file. i.e.
[code]

2. manually provide the babel config to babel jest.

[2022-04-20 15:28] AgentEnder commented on #9723
@duro Can you retry with the latest version? A few bug fixes have been released since the RC's

[2022-04-20 15:38] jaysoo commented on #9855
Hi 👋 , `loadRemoteModule` isn't needed on the React side because you just need a dynamic `import(...)` + `React.lazy`.

[code]

Closing this issue, but if you have a use-case that isn't addressed please open a new issue with a reproduction so we can take a look.

[2022-04-20 15:49] dewiktor2 commented on #9895
In team, we were trying 13.9.5 and 13.9.6, I also tried today 13.10.3 with same effect ;(

[2022-04-20 16:12] barbados-clemens commented on #9873
I just realized that jest-runner-groups is a 3rd party jest plugin that enables this extra functionality. so adding it to the schema is probably not the way forward. I'll look into different options in allowing "extra args" to be passed into jest.
right now we manually assign the properties expected by jest.

[2022-04-20 16:37] #9640 closed

[2022-04-20 17:14] padraigfl commented on #7472
obvious hack, but `nx affected:apps --plain --target=build --base=${INITIAL_OR_VERY_OLD_GIT_COMMIT_HASH}` might suffice for some use cases?

[2022-04-20 17:49] AgentEnder commented on #2960
This feature landed a while back, in Nx 12.X. With support for the dep-graph extension documented, implemented, and released I'm going to close out this issue.

Here's a link to the docs: https://nx.dev/extending-nx/project-graph-plugins

If there is part of the extension api that needs further changes, feel free to open a new feature request detailing what is missing in the current implementation

[2022-04-20 17:49] #2960 closed

[2022-04-20 17:51] igordreher commented on #8796
Uninstalling nx and installing again worked for me
[code]

[2022-04-20 17:56] santoshyadavdev opened #9902 "Creating a nestjs interface creates the file at wrong location"
## Current Behavior

When you run below command
npx nx generate @nestjs/schematics:interface --name=category --path=libs/category/src/lib --no-interactive

the files are created at
src/libs/category/src/lib/category.interface.ts

## Expected Behavior

The files should be generated at libs/category/src/lib

Not Sure

## Steps to Reproduce

This issue may not be prioritized if details are not provid

[2022-04-20 18:28] #9873 closed

[2022-04-20 20:31] #9863 closed

[2022-04-20 20:54] #9877 closed

[2022-04-20 21:10] bilalshaikh42 commented on #3203
We've run into this as well, trying to build components that have a shared style

[2022-04-21 03:35] ChristianBarrientos commented on #1621
Unstale...still

[2022-04-21 04:17] oidacra commented on #9869
I have a similar error, but my message is `Cannot read property 'exists' of undefined`. the problem shows up when I try to generate a component or lib.
My Nx report

   Node : 14.19.1
   OS   : darwin x64
   yarn : 1.22.18

   nx : 13.10.0
   @nrwl/angular : 13.10.0
   @nrwl/cypress : 13.10.0
   @nrwl/detox : Not Found
   @nrwl/devkit : 13.10.0
   @nrwl/eslint-plugin-nx : 13.10.0
   @nrwl/express

[2022-04-21 04:28] luxaritas commented on #7153
I believe this is still relevant, at least for docs

[2022-04-21 07:55] tobertigor commented on #1175
is there a final version of the config?

[2022-04-21 08:25] vlastoun opened #9920 "reac-cosmos"
## Description
I would like to use nx workspaces with react-cosmos - similar to storybook

## Motivation
It is faster and better for component development than storybook

## Suggested Implementation
I do not have any clue

## Alternate Implementations
When I put react cosmos configuration

this is my `cosmos.config.json`

[code]

I am getting TypeError: Cannot read properties of undefined (reading

[2022-04-21 09:08] Arcahub commented on #9890
I just tested and it's working fine as expected. Thanks you very much :1st_place_medal: .

I tested to start the development server a first time, stop it, make a modification to the rust lib and restart the development server and the lib is well updated so it's really nice. Only sad point is that as you said it in your post I don't have a hot reload / watch mode but I might be able to hack it with

[2022-04-21 09:09] #9890 closed

[2022-04-21 12:07] MichaelDeBoey commented on #9734
@jaysoo #9811 is not updating the `react`, `react-dom` & `react-testing-library` version, it's only adding `react-is@18.0.0` in my `package.json`

[2022-04-21 12:15] dkozickis commented on #9822
Did you figure it out @bonesoul ?

[2022-04-21 13:19] bonesoul commented on #9822
well i mis-created this issue in this repo. sorry for that :/

[2022-04-21 13:45] dkozickis commented on #9822
But do you have any solution? 😅

[2022-04-21 13:54] diogomiguel opened #9924 "@nrwl/web:rollup main package.json always points to umd"
## Current Behavior
package.json main property always refers to umd file even if project.json does not have it in `options.format`

## Expected Behavior
package.json should point to another module if umd is not provided

## Steps to Reproduce
Open project.json. Change `@nrwl/web:rollup` executor options.format to not include umd. e.g:
[code]

Faulty code:
https://github.com/nrwl/nx/blob/master/pac

[2022-04-21 13:56] diogomiguel commented on #9924
This relates or almost duplicate https://github.com/nrwl/nx/issues/8475

[2022-04-21 14:39] joaoantunes87 commented on #4279
Unfortunately removing sourceMaps from tsconfig.base.json on root folder is not working for us.

[2022-04-21 14:40] borgdrone7 opened #9926 "cra-to-nx converts the project successfully however serving the project throws runtime error"
## Current Behavior
When I convert my create react app to nx app with cra-to-nx and try to serve it I get runtime error.

## Expected Behavior
When I convert my create react app to nx app with cra-to-nx and try to serve it, it should work.

## Steps to Reproduce
I run "npx cra-to-nx" command in my create react app project folder.
As this converts my whole project it is not possible for me to find

[2022-04-21 15:04] nevestuan commented on #9545
@3JTek could you please share how to update VSCode to that OS version? I have the same issue with M1 Max but couldn't figure out how to fix that. Thanks.

[2022-04-21 16:04] AgentEnder commented on #9924
As mentioned this is a duplicate of #8475, so I'm going to close it.

[2022-04-21 16:04] #9924 closed

[2022-04-21 16:05] AgentEnder commented on #9920
This is a good case for a community plugin, if anyone is interested in developing it.

[2022-04-21 16:08] amayer42 opened #9933 "files within library with storybook configuration use incorrect tsconfig for vs code intellisense"
## Current Behavior

Intellisense within VS Code for a given `.ts` file in a library will utilize the `<lib-name>/.storybook/tsconfig.json` file for intellisense rather than the `<lib-name>/tsconfig.lib.json` file.

![image](https://user-images.githubusercontent.com/5626443/164490710-bd7cb7a6-7b70-4d70-ab6e-4395497d84e1.png)

I honestly don't really know whether this should be considered an issue

[2022-04-21 17:58] #8344 closed

[2022-04-21 21:23] cdaringe commented on #9305
Hey all. I consider this kind of a fatal, big-deal kind of bug. Are other people simply _not_ running concurrent executors from the same process?

Anything I can do to help further?

[2022-04-21 21:53] jaysoo commented on #7924
If you're still running into this issue in 13.10 or 14.0, please make sure that:

1. You don't manually set `NODE_ENV` to something else that doesn't match the configuration.
2. You have both the `development` and `production` configurations for your project's build target.

If you're unsure try creating a new Nx 14 workspace and compare the generated  configuration.

For example,

[code]

There s

[2022-04-21 21:56] jaysoo commented on #9719
Can you test this on 13.10? It is also fixed in the new 14.0 release.

The issue should be fixed in both for `@nrwl/web:webpack` executor.

[2022-04-21 22:09] khalilou88 commented on #9141
@AgentEnder Just made a test with the version 13.10.3 and it's working fine. Thank you.

[2022-04-21 22:10] #9141 closed

[2022-04-21 23:31] philipjfulcher commented on #2056
This issue wasn't mentioned when the original PR was merged to save the project graph to an image. Downloading the graph as an image has been available in the browser for awhile, but not as an option at the CLI. This is because most project graphs are very large, and rendering the entire thing is pretty resource-intensive. The browser client intentionally has tools to filter the project graph down

[2022-04-21 23:31] #2056 closed

[2022-04-22 00:52] samratarmas commented on #3833
@FrozenPandaz Hi Jason, does adding service workers in @nrwl/react app still need custom webpack config as mentioned in this thread in Nx 14?

[2022-04-22 01:40] Elvis116 opened #9941 "React module federation issue with - in project name"
## Current Behavior
With @nrwl/react:remote created module federation project, when the project name has - between, it would promote error. But Nx default to add - between project names with several words.

## Expected Behavior
mfe.config.js should allow the name to be customized.

[2022-04-22 02:24] alexeagleson commented on #9168
I am getting this issue with `13.10.3`

[2022-04-22 03:54] BensonBen commented on #9359
recently bumped into this issue. I used @shayll-herolo 's solution which allowed me use cli commands locally.
I reverted to a previous version of my project using `git reset --hard someCommitHash` then using `nx migrate latest` tried to bypass bad versions. Whatever migrations wasn't working before still isn't working

[2022-04-22 05:26] KL2808 opened #9944 "Angular Strorybook generator not adding "projectBuildConfig" to project.json"
## Current Behavior
When executing the __@nrwl/angular:storybook-configuration__ generator, the build config is missing the option: __projectBuildConfig__. In our case, the “angular.json” is pointing to the different projects, and they have their own “project.json” files.

### What we got
[code]

## Expected Behavior
The generator should add the “projectBuildConfig”-property to the storybook build

[2022-04-22 06:00] sahil-republic opened #9945 "React Native - react-navigation/material-top-tabs crashing"
## Current Behavior
When I am trying to the use the top tab bar navigation library in react native, it crashes with an error

## Expected Behavior

I am using the v6 of the react-navigation library, I have already installed the dependencies and requirement.

## Steps to Reproduce

You can reproduce this by installing the library in a react native nx workspace

This issue may not be prioritized if

[2022-04-22 06:03] jonhamm opened #9946 "NX Passed 11161 file paths to Git to hash, but received 11148 hashes."
## Current Behavior

This is effectively a re-open of : https://github.com/nrwl/nx/issues/8779

After upgrading

- node from 14.16.1 to 16.14.2
- npm from 6.14.12 to 8.5.0
- nx from 13.8.0 to 13.10.3

I have frequent builds on my Jenkins builds failing with errors like
`>  NX   Passed 11161 file paths to Git to hash, but received 11148 hashes.`

## Expected Behavior

- The hashing should log the e

[2022-04-22 06:16] jeffascript commented on #8950
I am also experiencing the same issue especially while starting up a react app, even after running the `nx rest`. I'm using a mac btw

[2022-04-22 06:57] will-hu-0 commented on #8968
Thanks @ivaylozhekov , it resolved my issue as well.

[2022-04-22 07:26] alexantom commented on #4680
@kirjai any update on this ?

Do you also have documentation around nextjs custom server for production deployment using nx

currently, in production deployment (not in vercel) this is what i'm doing
[code]
appname/project.json
[code]

[2022-04-22 07:58] nicolajkirchhof commented on #2463
@Arvi2k17
I was fighting with this problem as well. In my case the dependent library was moved but apparently the @nrwl/workspace:move did not change the ng-package.json 'dest' property.

Thus, in my case I had to make sure that the library in `libs/shared/ui-helpers` had its dest in `ng-package.json` set to `"dest": "../../../dist/libs/shared/ui-helpers"` so that it was found in the build by the

[2022-04-22 09:01] wSedlacek opened #9949 "Streamline local workspace project resolution"
- [x] I'd be willing to implement this feature ([contributing guide](https://github.com/nrwl/nx/blob/master/CONTRIBUTING.md))

## Description

In Nx 13.10.0 a new feature was introduced that allowed referencing executors and generators based on local project name via the tsconfig paths. This feature itself works great, however there other places that could use local workspace resolution. Specifica

[2022-04-22 11:08] Ezard opened #9951 "Nx 14 Jest migration breaks Jest config preset paths"
## Current Behavior
On Windows, the Nx 14 migration to change the `preset` value in each Jest config file uses `\` instead of `/`
e.g. `preset: '../../../../jest.preset.js'` was rewritten to `preset: '..\\..\\..\\..\\jest.preset.ts'`

Whilst this works fine on Windows, it does not work on Linux (at least according to my GitHub Actions logs, which all say something like `Preset ..\..\..\..\jest.pre

[2022-04-22 11:16] johannesf95 commented on #2760
@vsavkin is there a reason why this feature has been reverted?

[2022-04-22 12:04] MitkoTschimev commented on #2675
We just came across the same requirement. We tag based on business domains on a higher level. In the pipeline related to the business domain I just want to lint all those projects and this would be very helpful

[2022-04-22 13:08] AndyClausen commented on #5197
This is still a problem, FYI. Could it be reopened?

[2022-04-22 17:22] WidgetsBurritos commented on #5833
Just to follow up, I was experiencing this issue on 13.8. I updated to v14 last night and it appears to be working now so I can confirm this is, in fact, working as expected.

[2022-04-22 17:48] fider commented on #1796
`nx prepare-production-deployment-for-single-servie service-x` please.

(installed npm dependencies only for service-x and it's internal dependencies).
If @nrwl/js is able to deduce internal dependencies from .ts source code, it should be possible to create list of npm external dependencies for single service also.

[2022-04-22 19:33] AgentEnder commented on #9637
This has been released in 13.10, and w/ 14 now out I'm going to close the issue out. Please open a new issue if you are still having issues. Thanks!

[2022-04-22 19:33] #9637 closed

[2022-04-22 19:44] AgentEnder commented on #9945
@sahil-republic can you put together a reproduction for us to look at? Thanks!

[2022-04-22 19:45] AgentEnder commented on #9944
Hey @KL2808 , it may be unrelated, but some of your @nrwl/* packages don't line up with the version of `nx` you have installed. Aside from `@nrwl/nx-cloud`, all packages under the nrwl scope should generally be set up with the same version.

Can you correct this and check that the issue still reproduces? An easy way to fix this would be to run `nx migrate {v}`, where `v` is the version of nx you h

[2022-04-23 01:14] alexantom commented on #1933
@tqwewe how did you deployed shopify nextjs to production ?

Im still running `nx serve appname`. with customerServer file wit all shopify koa  auth module

[2022-04-23 02:13] AJax2012 commented on #9864
Done: [https://github.com/nrwl/nx/pull/9970](https://github.com/nrwl/nx/pull/9970)

[2022-04-23 04:07] #9951 closed

[2022-04-23 10:03] drmikecrowe commented on #3575
@AgentEnder -- please reopen this.  As @zaslavskyv  said, `nx lint` is functionally different.  I agree we have a workaround, but as a new `nx` user, I just got bit by this inconsistency

[2022-04-23 10:10] timofeysie commented on #8778
I have the same issue with "nx": "14.0.2".
Steps to reproduce:

[code]

Note I don't want to create an Angular specific repo as I will have React apps as well in it.

It looks to me like this issue has been fixed [here[(https://github.com/nrwl/nx/issues/8707), and [here](https://github.com/nrwl/nx/pull/9466).  But the creating a core workspace and Angular app first still fails with the above error

[2022-04-23 10:29] mklueh opened #9971 "ENOENT: no such file or directory, open '.../apps/first-app/project.json'"
I'm trying to set up an NX project with two Nuxt 3 applications manually, as the third-party Nuxt support plugin [https://github.com/ZachJW34/nx-plus](https://github.com/ZachJW34/nx-plus) does not work for me (failing during setup and no Nuxt 3 support).

**However, NX complains about missing project.json files.**

In my previous NX project I did not need that, but now it seems mandatory. However,

[2022-04-23 10:32] mklueh commented on #8874
@airtonix I'm facing this as well. It once worked without project.json file and now it complains. All I want to do is run my npm build script inside the package.json, nothing fancy.

[2022-04-23 10:38] Charan2k16 commented on #9397
hi @arshinfor, I ran through the same problem and found
changing the node version resolves the problem.
This issue is common now, until you would have created the nx workspace of your own from scratch.
This is happening mostly because of the different versions of node and npm with nx.

[2022-04-23 10:49] ravivit9 commented on #9397
Once again thanks for the note.

[2022-04-23 10:50] ravivit9 commented on #9397
Thanks for the note. May I know what was your angular, node, nx and npm versions that fixed the issue?

Once again thanks for the note.

[2022-04-23 13:48] tommazzo89 commented on #9451
I have created a pull request to fix this issue.

[2022-04-23 16:28] justinhandley opened #9973 "Cannot find module '../../jest.preset' on nx migrate latest"
## Current Behavior

When running nx migrate latest to version 14.02 I get

Running migration update-jest-config-extensions
Cannot find module '../../jest.preset'

But it doesn't specify where it can't find it - I searched all instances of that and the all correctly pointed to a jest preset file in root.

## Expected Behavior

One the migration, I expect it to work or give more useful feedback.

#

[2022-04-23 20:22] Suyashtnt opened #9976 "error running after upgrading to v14"
## Current Behavior

I am currently unable to run any commands as I am getting this error
[code]
## Expected Behavior

It to run properly

## Steps to Reproduce
1. clone https://github.com/glowsquid-launcher/glowsquid
2. yarn install
3. yarn dev
4. see error

### Failure Logs
[code]
glowsquid on  dev [!?⇡] via  v16.14.2 via 🦀 v1.59.0
❯ nx report

   Node : 16.14.2
   OS   : linux x64
   yarn : 3

[2022-04-23 21:27] Lonli-Lokli commented on #6891
Have you all just investigate pure JavaScript files you have? As it's converted during compilation time.

[2022-04-24 00:19] #7187 closed

[2022-04-24 09:45] dkhrunov opened #9978 "How to add new dependency to shared config?"
### Documentation issue

- [ ] Reporting a typo
- [ ] Reporting a documentation bug
- [x] Documentation improvement
- [ ] Documentation feedback

### Is there a specific documentation page you are reporting?

[Module-federation overriding shared library config](https://nx.dev/module-federation/faster-builds#overriding-shared-library-config)

### Additional context or description

Not covered case,

[2022-04-24 11:47] msyesyan opened #9980 "Fail immediately when run-many in parellel"
when I have many subjects and run `nx run-many target=build --all --parellel`, can we just fail immediately when one of the sub project failed?

[2022-04-24 12:17] Ezard commented on #9873
@barbados-clemens thanks for looking into this

Unfortunately, I just tried updating Nx (to 14.0.2) and this issue still occurs

e.g. running `npx nx run my-app:test --group=integration` results in some tests incorrectly being run, whereas running `npx jest --group=integration` in the `apps/my-app` directory results in those tests not being run (which is correct)

[2022-04-24 12:54] Ezard commented on #9873
@barbados-clemens so I think I've figured out why it still doesn't work

Before Nx 13.10, the the value of `process.argv` received by `jest-runner-groups` was something like this:
[code]
This meant that`jest-runner-groups` could pick up the `--group` arg

However, `process.argv` now looks something like this:
[code]

I've resolved this for the moment by creating a custom runner with the following

[2022-04-24 13:00] airtonix commented on #9034
what does `allowOverwrites` even mean?

overwrite the output files?

overwrite the command arguments ?

overwrite the cache?

[2022-04-24 13:10] mklueh commented on #8409
@FrozenPandaz @Phillip9587 could you please explain how this was fixed? because I'm still running into the exact same problem after trying to use NX again now with nx version 13.10.3

[2022-04-24 13:17] weiwei commented on #9862
Still seeing the issue.

[code]

[2022-04-24 13:23] mklueh commented on #8409
Found out there is a flag that prevents nx dep-graph from trying to open a browser

The server starts and the issue disappears :)

[2022-04-24 13:33] ofirrifo commented on #9681
@mandarini Thanks it work perfect :)

[2022-04-24 13:50] avimehenwal commented on #9065
Hi, I am using nx version `14.0.2` and I can confirm the same that `implicitDependencies` is NOT working with `package.json` .
However to my surprise, I was implicity able to add a edge when I moved the `implicitDependencies` block over to `project.json` file. Hope it help in someway

[2022-04-24 13:51] weiwei commented on #9862
Found a workaround on Windows: If you see this happening you'll also see a `node.js` process running. Kill that and run `nx serve cli` again. This time the command will succeed.

I'm also new to `nx`. I guess that the process is there to monitor things and it somehow went wrong. Hope it gets fixed soon.

[2022-04-24 14:57] laggingreflex opened #9981 "Failed to compile - fresh Next.js project"
## Current Behavior

I'm new to nx! I've just followed the basic instructions (hopefully correctly) to set up a new Next.js app. It creates the workspace and the app, but serving or building gives an "Unexpected token" error (shown below).

## Expected Behavior

The newly generated workspace should run and build without errors.

## Steps to Reproduce

1. Run `npx create-nx-workspace@latest`
1. Run

[2022-04-24 19:35] Charan2k16 commented on #9397
I was using the latest node version (16.x.x). for few projects which were created using old node versions started kicking off these errors which was basically pointing to Nx, but it was with the node version issue which I was anyways getting as warnings while doing npm i for installing the dependencies of the subjected project. reverting back to the old version (14.x.x) removed all the errors and

[2022-04-24 19:55] warnellw opened #9982 "Next.js apps fail to lint with jest.config.ts"
## Current Behavior
Newer Nx projects that have run the `jest.config.js` -> `jest.config.ts` migration (or brand new workspaces) fail to lint Next.js applications due to a bug with how the `jest.config.ts` is `included`/`excluded` in the `tsconfig.*.json` files.

## Expected Behavior

A Next.js app should lint successfully just as it did prior to the conversion from `jest.config.js` -> `jest.confi

[2022-04-24 20:33] warnellw commented on #9982
I have found a temporary solution: adding an explicit `excludes: ["node_modules"]` (omitting the `jest.config.ts`) to the `tsconfig.spec.json` effectively overrides the `excludes` inherited from the `tsconfig.json`, allowing the `jest.config.ts` to properly be included and the linting to pass. I am not an expert in Typescript configuration, but it does not appear that `includes` takes precedence o

[2022-04-24 23:50] airtonix opened #9983 "support yaml format"
- [ ] I'd be willing to implement this feature ([contributing guide](https://github.com/nrwl/nx/blob/master/CONTRIBUTING.md))

## Description
`nx.json`, `workspace.json`, `project.json` should all have supported yaml formats too:

`nx.yaml`, `workspace.yaml`, `project.yaml`.

## Motivation
- comments aren't a thing in `.json`
- multiline strings aren't a thing in `.json`

## Suggested Implementati

[2022-04-25 05:33] kshjessica opened #9984 "Relative Path for Importing Needs Fixing"
### Documentation issue

- [ ] Reporting a typo
- [ ] Reporting a documentation bug
- [x] Documentation improvement
- [ ] Documentation feedback

### Is there a specific documentation page you are reporting?

https://nx.dev/node-tutorial/02-display-todos

### Additional context or description

At the part of updating the `app.controller.ts` file,
`import { TodosService } from './todos/todos.servic

[2022-04-25 06:30] KL2808 commented on #9944
Hi @AgentEnder, thanks for your quick response! I migrated to latest with ```nx migrate latest```, and it seems like the issue is fixed. The steps mentioned above are not reproducing the issue anymore. The projectBuildConfig is no longer missing after generating a storybook. Thank you! 🚀

## Environment

   Node : 14.18.3
   OS   : win32 x64
   npm  : 6.14.15

   nx : 14.0.2
   @nrwl/angular : 14.

[2022-04-25 06:30] #9944 closed

[2022-04-25 06:47] Bielik20 commented on #9034
@airtonix That was a typo on my part, obviously I meant `overrides`. Overrides as defined in source code as: https://github.com/nrwl/nx/blob/8c38b8618d111b14e9b9574c4a818b9c685b49cd/packages/nx/src/tasks-runner/run-command.ts#L268-L271

Are params you pass to executor to override default settings `nx run my-app:serve --foo bar`, here `--foo bar` is an override.

Currently there is an arbitrary rul

[2022-04-25 07:18] VincentThomas06 commented on #9983
This would be really nice for a better, cleaner config!

[2022-04-25 07:21] VincentThomas06 commented on #8874
if you have a package.json it should not necessary to add another project.json file. But nx almost forces us to have all deps in the root package.json. If you do that, you don't need an package.json (for non-external libs and apps) and you only use the project.json for scripts or nx-specific executors.

[2022-04-25 11:52] KL2808 commented on #9944
Hi @AgentEnder, thanks for your quick response! I migrated to latest with ```nx migrate latest```, and it seems like the issue is fixed. The steps mentioned above are not reproducing the issue anymore. The projectBuildConfig is no longer missing after generating a storybook. Thank you! 🚀

## Environment

   Node : 14.18.3
   OS   : win32 x64
   npm  : 6.14.15

   nx : 14.0.2
   @nrwl/angular : 14.

[2022-04-25 12:01] timofeysie opened #9988 "Unable to build NextJS AMP example: parent tag 'style amp-custom' is 'body', but it can only be 'head'"
## Current Behavior
Hi, I'm not sure if this is the best place to raise this issue, but I am unable to build a NextJS AMP example in with Nx.

## Expected Behavior
I have created a Nx workspace with React and NextJS and added the basic Google AMP example code.  Everything runs OK, but doing a build fails.

## Steps to Reproduce

[code]

I then add the pages and components from [this official examp

[2022-04-25 12:07] timofeysie commented on #9988
Here is [the example repo](https://github.com/timofeysie/merian) to reproduce this issue.  Just clone the project and run 'nx run my-new-app:build' yourself.

[2022-04-25 13:28] HackPoint commented on #8496
Is it possible to run both uiFrameworks in one storybook? react/angular
Like so: "uiFramework": [@storybook/react, @storybook/angular], I need to show a catalog of both react and angular

[2022-04-25 14:05] muuvmuuv opened #9989 "Workspace generator cannot run because it uses the wrong TypeScript compiler cli with pnpm v7"
## Current Behavior

Running `pnpm nx workspace-generator ... ...` always results in "This is not the tsc command you are looking for" because in case of *pnpm v7* "pnpx" acts like "pnpm dlx" and fetches tsc from npm which does not respect the locally installed "typescript" package. This part here seems to be broken, where v7 is never "true". It would make much more sense to use the "semver" packa

[2022-04-25 14:11] AndyClausen commented on #8606
I'm using rollup to bundle some libraries to be published with esm and cjs entrypoints. I need the `@nrwl/web:rollup` executor to be able to compile to a file for a third entrypoint for `bin` (one library has cli functionality). Am I at the right issue?

[2022-04-25 14:53] yuvan11 opened #9990 "Fix redirection link to 'introduction page'"
### Documentation issue

- [ ] Reporting a typo
- [x] Reporting a documentation bug
- [ ] Documentation improvement
- [ ] Documentation feedback

### Is there a specific documentation page you are reporting?

Enter the URL or documentation section here.
- https://nx.dev/module-federation/dynamic-module-federation-with-angular

### Additional context or description

Provide any additional details h

[2022-04-25 16:23] jaysoo commented on #9864
Merged, thanks!

[2022-04-25 16:29] #4654 closed

[2022-04-25 16:29] jaysoo commented on #9941
Hi @Elvis116 can you try this with Nx 14? The one released with 13.10 was an early version that had some bugs.

The naming issue does not exist with Nx 14.

[2022-04-25 16:29] #9941 closed

[2022-04-25 16:49] Suyashtnt commented on #9976
Im no longer using nx but here was the file when I was using it: https://github.com/glowsquid-launcher/glowsquid/blob/a0c4695cc4358a06db2e044e44fabd008d278b42/nx.json

[2022-04-25 16:54] andreElrico opened #9993 "extend assets or fileReplacements by using a spread like logic"
- [ x ] I'd be willing to implement this feature ([contributing guide](https://github.com/nrwl/nx/blob/master/CONTRIBUTING.md))
- (i could try, you could point me into the right direction)

## Description

there is already a syntax `"outputs": ["{options.outputFile}"]`  where you can reference the options property for eg.
I would like to use it with for e.g. assets:

[code]

this will give error:

[2022-04-25 17:03] spaceribs commented on #2760
Yeah, i'm a bit confused myself, did this not mean to be released?

[2022-04-25 17:59] AgentEnder commented on #9976
Oh, ok. For what its worth, the error message you were getting was caused by listing a plugin (`@nxtensions/astro`) that was not installed in nx.json.

When we reverted some changes, a null check got missed and the log became a little obfuscated. I'll throw a PR up to correct that.

[2022-04-25 18:29] jase88 commented on #9983
I don't want to dispute the feature proposal, but wouldn't the motivation points also be met with json5?

[2022-04-25 18:35] dustyhorizon opened #9995 "ability to specify rankDir on cli for graph"
- [x] I'd be willing to implement this feature ([contributing guide](https://github.com/nrwl/nx/blob/master/CONTRIBUTING.md))

## Description
Ability to be able to specify rankDir when rendering dependency graph.

## Motivation
I am working on a monorepo with lots of modules, the default rankDir (`TB`) renders a really wide graph. `LR` fits the dependency graph better.

## Suggested Implementation

[2022-04-25 18:41] AgentEnder commented on #9989
We should definitely use semver to match up against a range. Since you've already identified the problem code, would you like to take a shot at this one?

[2022-04-25 18:45] AgentEnder commented on #9971
If `workspace.json` is present, `project.json` is currently mandatory. With `workspace.json` absent, project inference kicks in to load projects.

[2022-04-25 18:46] #9971 closed

[2022-04-25 18:55] Coly010 commented on #9978
It should be covered in the docs.

The dependencies get shared automatically by Nx. You no longer need to specifically state which dependencies need to be shared.

You can see it here in the docs already.

![A1648ACD-F8B7-4AFE-96DD-E0ED29DB18BB](https://user-images.githubusercontent.com/12140467/165155350-98f977c0-d8ad-4e16-b44a-721f34109d4c.jpeg)

[2022-04-25 18:55] #9978 closed

[2022-04-25 19:27] #9990 closed

[2022-04-25 20:41] gdubs commented on #7784
did you ever find a way to generate your package.json using this property on a node/nestjs app?

[2022-04-25 21:59] EladBezalel commented on #8606
Cli is not an entry point (not consumable)

The way I usually do it is - having a bin file direct to a cli.ts file
In this file I import my main entry point api and wrap it with cli capabilities (usually with caporal)

[2022-04-25 23:39] #9451 closed

[2022-04-26 00:15] AndyClausen commented on #8606
But you'd still want that as separate compilation output to not expose it to anything but the bin file, right?

[2022-04-26 00:21] #9406 closed

[2022-04-26 00:22] #7082 closed

[2022-04-26 02:20] #9007 closed

[2022-04-26 03:27] gouthamcs12 opened #9999 "When trying to use any ionic plugin getting errors"
### Discussed in https://github.com/nrwl/nx/discussions/9991

<div type='discussions-op-text'>

<sup>Originally posted by **gouthamcs12** April 25, 2022</sup>
Hi Team
I am trying to use nxtend/ionic-angular in my project, But I got stuck while using plugins
1st use case : need to get a current app version
So I have installed these dependencies
   1)npm install cordova-plugin-app-version 2) npm ins

[2022-04-26 04:39] jonhamm commented on #9946
It appears to be related to having `run-commands` execute `nx run-many ... --parallel`

[code]

[2022-04-26 06:01] bojanbass commented on #9818
Any update on this issue? It should be tackled with higher priority IMO.

[2022-04-26 06:36] jonhamm opened #10000 "Separate NxDaemon and NxCache to support use of shared cache - NX_CACHE_DIRECTORY"
- [x] I'd be willing to implement this feature ([contributing guide](https://github.com/nrwl/nx/blob/master/CONTRIBUTING.md))

## Description

Could we not have NX_CACHE_DIRECTORY only hold cache artefacts and `~/node_modules/.cache/nxdeps/` (or `NX_DEPS_DIRECTORY`) hold `nxdeps.json` and then we could use the same directory  as `DAEMON_DIR_FOR_CURRENT_WORKSPACE ` ?

## Motivation

When using NX_C

[2022-04-26 06:38] jonhamm commented on #10000
This originated as a discussion - admittedly not attracting a lot of attention :-(
https://github.com/nrwl/nx/discussions/8896

[2022-04-26 08:17] mandarini commented on #5833
That's so good to hear!! :)

[2022-04-26 08:19] mandarini commented on #8496
Hi there @HackPoint ! I am not sure I understand what you mean. That is not possible, because Storybook will only work for one framework at a time. This is not a Nx shortcoming, it's how Storybook works. You can have individual projects for Angular and React, and then you can use Storybook composition to see both in your browser. Please check out this guide on how to [set up Storybook Composition

[2022-04-26 08:23] LorenzoVianello commented on #3119
@raviSussol I've your same problem.
I've added proxyConfig even inside build options, but proxy cannot be set :/
In dev-only works perfectly,  but i'm now stuck with build

[2022-04-26 08:36] caplogCode commented on #9818
Looks like async got an update. After running `npm audit fix` there is no vuln left for me.

[2022-04-26 08:36] #9818 closed

[2022-04-26 08:44] PieterjanDeClippel commented on #9869
ng g c blabla

Fails.

    ng g component blabla

seems to be working fine for me.

[2022-04-26 09:17] edbzn opened #10002 "Add support for workspace level executors"
- [x] I'd be willing to implement this feature ([contributing guide](https://github.com/nrwl/nx/blob/master/CONTRIBUTING.md))

## Description

Hi there, I'm working on [@jscutlery/semver](https://github.com/jscutlery/semver) an Nx plugin for versioning your workspace. The plugin works with two modes inspired by Lerna, independent mode and sync mode. The independent mode releases each project indep

[2022-04-26 09:55] muuvmuuv commented on #9989
Sure. Any other locations where version checks are being made that I can also patch?

[2022-04-26 11:19] muuvmuuv commented on #9989
@AgentEnder `semver` was already included. I wonder why it wasn't used by @jmcdo29 in first place. Maybe you can both review in case it was intended.

[2022-04-26 11:43] yatendra121 commented on #9156
Same Issue

[2022-04-26 11:48] bojanbass commented on #9818
1. if using yarn, there's no fix option
2. creating a fresh NX repo still has this vulnerability present
3. if there is @nrwl/storybook installed, there's a conflict when running `npm audit fix`
[code]

[2022-04-26 11:50] a616101 commented on #9978
@angular/anumations  does not appear in the shared list.

is it excluded?

[2022-04-26 11:52] dkhrunov commented on #9978
Thanks

[2022-04-26 12:14] a616101 commented on #9978
@angular/anumations  does not appear in the shared list.

is it excluded?

[2022-04-26 12:16] shdblowers commented on #9247
I've not found one, decided to use [turborepo](https://turborepo.org/) instead.

[2022-04-26 12:47] hpierre74 commented on #10002
Hello Nx Team 👋
I'm the maintainer of the example repo linked in the issue, you can see in this PR https://github.com/BedrockStreaming/forms/pull/75 the workarounds made to make the virtual workspace project hack working in Nx 13.

Unfortunately I had to remove the `workspace-lint` command (which I'm not comfy with, you may imagine) and to exclude the `workspace` project from the affected commands

[2022-04-26 13:06] sh33dafi commented on #9869
Same behavior here `nx g component dart-board --project=dart-board` is working

[2022-04-26 15:33] B-R-Bender commented on #3427
me to

[2022-04-26 16:01] nemonemi opened #10008 "Migrate fails"
## Current Behavior
When running `yarn dlx nx migrate latest` the process fails with the following message

[code]

## Expected Behavior

It should work.

### Failure Logs

[code]

### Environment

   Node : 16.14.0
   OS   : linux x64
   yarn : 3.0.2

   nx : 13.9.5
   @nrwl/angular : Not Found
   @nrwl/cypress : 13.9.5
   @nrwl/detox : Not Found
   @nrwl/devkit : 13.9.5
   @nrwl/eslint-plugin-nx

[2022-04-26 16:10] PieterjanDeClippel opened #10009 "angular - Generate pages: Error: Specified module 'home/home.module.ts' does not exist."
## Offending command

    ng g module home --module app --route home

## Current Behavior

I'm getting an error when generating a page inside an application:

    Specified module 'home/home.module.ts' does not exist.

## Expected Behavior

## Steps to Reproduce

Create the application
-------------------------

[code]

Create the AppRoutingModule (app-routing.module.ts)
--------------------------

[2022-04-26 16:12] webmandman commented on #6042
@vsavkin Any chance this will be added?

[2022-04-26 16:16] #9989 closed

[2022-04-26 17:16] sohailykhan94 commented on #6891
I was able to get this working using `runtimeCacheInputs` something like:

[code]

Maybe this might help someone else

[2022-04-26 17:23] fwauters commented on #8902
Hello, I have a similar issue with a Nx NestJS/Angular application. When I run `npx nx serve api`, a Windows Terminal opens with `[process exited with code 1 (0x00000001)]`.

I'm using:

- Windows 11 (21H2 Build 22000.613)
- VSCode 1.66.2
- Nx 13.9.6

[2022-04-26 17:34] antoineviscardi commented on #5803
I tried using the workaround described above and it hangs on the serve target in the `command`. Is that normal?

[2022-04-26 17:49] MatheusBNAguiar commented on #4446
@paramsinghvc Here at the company that I work on there is two configs, one for the build and other for serving pointing to the build
![image](https://user-images.githubusercontent.com/3422084/165361465-4a66b957-93a1-4c04-aabd-d6b1b63cdbd1.png)
![image](https://user-images.githubusercontent.com/3422084/165361506-7b77fef9-9e3e-408f-8e52-af5b9cbf0451.png)

[2022-04-26 18:04] mlahp7 opened #10010 "tasksRunnerOptions required as of 13.10 ?"
## Current Behavior

We are attempting to upgrade from version 12 to the 13. In doing so we are getting an exception thrown when running migrations.
`Cannot read property 'default' of undefined`
Adding `tasksRunnerOptions` to our nx.json would fix the issue but we aren't using this currently.

Is this something that is required as of version 13.10?

## Expected Behavior

It should allow us to migr

[2022-04-26 18:46] AgentEnder commented on #9999
Hey @gouthamcs12, I'm going to close out this issue since it occurs when using a community plugin and is directly related to its executors.

You'll need to report this issue to them, and they will be able to assist with such issues. This repo's issues only cover the packages that start with '@nrwl' or the 'nx' package itself.

[2022-04-26 18:46] #9999 closed

[2022-04-26 20:28] jlister opened #10013 "WIth version 14.0.3, Using Nx Core Without Plugins tutorial fails on step 'Creating Second NPM Package and Enabling Yarn Workspaces'"
### Documentation issue

- [ ] Reporting a typo
- [x] Reporting a documentation bug
- [ ] Documentation improvement
- [ ] Documentation feedback

### Is there a specific documentation page you are reporting?

[Enter the URL or documentation section here.](https://nx.dev/getting-started/nx-core)

### Additional context or description

After running the command
`nx g npm-package complex`

the tutori

[2022-04-26 20:38] jlister commented on #10013
Downgrading to
[code]
fixes the issue.

[2022-04-26 20:44] LuckeeDev commented on #10008
I'm getting a similar error:
[code]

[2022-04-26 21:05] #9976 closed

[2022-04-26 21:14] #7509 closed

[2022-04-27 00:24] #9571 closed

[2022-04-27 00:24] #6980 closed

[2022-04-27 07:42] rahul-sharma-uipath commented on #3069
any update on this? So far I've had no luck with this on v13.3.7 with webpack 5. I've tried the `sideEffects: false` solution and it appears to have no effect as the bundle includes all the modules in the library ):

[2022-04-27 08:26] Elvis116 opened #10017 "With version 14.0.3, react module federation raises error in remoteEntry.js Uncaught SyntaxError: Cannot use 'import.meta' outside a module"
## Current Behavior
With version 14.0.3, react module federation raises error in remoteEntry.js Uncaught SyntaxError: Cannot use 'import.meta' outside a module.
if (typeof import.meta.url === "string") scriptUrl = import.meta.url
This blocks me loading remote modules.
It works fine in 13.10.

## Expected Behavior
This should work as in 13.10

[2022-04-27 11:02] pschulzk commented on #3203
+1

[2022-04-27 11:13] meeroslav commented on #9638
Sorry for waiting, I will get to this as soon as possible.

[2022-04-27 11:57] tbergquist-godaddy commented on #8478
I just upgrade to version 14 now, and it is working now.

[2022-04-27 12:07] gregveres opened #10019 "Webpack DevServer Proxy config doesn't allow full range of configuration"
## Current Behavior
I am trying to configure the DevServer proxy to proxy everything except the namespace of my application. To do that I believe I have to use the array form of the proxy configuration with the "context" setting as described [here](https://stackoverflow.com/questions/46798131/using-webpack-dev-server-how-to-proxy-everything-except-app-but-including) and [here](https://webpack.js.o

[2022-04-27 13:00] markgoho opened #10021 "turning js files into ts causes many eslint errors"
## Current Behavior
eslint complaining about a lot of issues after all the jest config files were converted to typescript files

## Expected Behavior
changing file formats should also come with updated linting rules

## Steps to Reproduce
`nx migrate latest` (14.0.3)

You can clone the repo and check out the `nx-14` branch:
https://github.com/ideacrew/active-branch-tracker/tree/nx-14

### Failure

[2022-04-27 13:36] unkhz commented on #5611
For anyone ending up to this issue by searching the error `fatal: No such ref: 'master'` or `fatal: No such ref: 'main'`: For me the root cause of this error turned out to be the fact that CI is running with detached head rather than checked out branch. This is the default behaviour of Gitlab for example.

I believe NX uses git to compare commits to find affected projects, so by design the detache

[2022-04-27 13:54] jaysoo commented on #6941
Can someone provide a reproduction of this issue?

I have an example for Nx 13 and Nx 14, and both are working.

Nx 13 - https://github.com/jaysoo/nx-13-env-vars
Nx 14 - https://github.com/jaysoo/nx-14-env-vars

If you are running into issues, please make sure you are on the latest versions (`13.10.3` and `14.0.3` as of this writing).

[2022-04-27 14:44] TicTak21 commented on #3437
I found possible solution [here](https://dev.to/rupeshtiwari/merge-and-publish-code-coverage-for-nx-workspace-in-azure-ci-pipeline-1pk5). Need to test it, but I would like to see something like that out of the box.

[2022-04-27 15:47] bressanelle opened #10025 "Shared module is not available for eager consumption"
## Current Behavior

I followed the documentation to gerenate dynamic module federation for angular application. The shell app get the error "Shared module is not available for eager consumption" when I try to run. The doc say to run nx serve-mfe <shell-app-name> but this command (serve-mfe) not exists in shell project.json  (I used nx flags --dynamic for generate host and --remote for generate re

[2022-04-27 16:25] neilsoult commented on #6941
@jaysoo
https://github.com/neilsoult/nx-demo
`nx serve sample`
brand new workspace, using `npx create-nx-workspace@latest`
just created `apps` in options
installed `@nwrl/angular` (`npm install --save-dev @nrwl/angular`)
generated app (`nx g @nrwl/angular:app sample`)
added .env file and edited index to roughly approximate your sample.
(my global nx version is nx@13.10.2)

[2022-04-27 16:50] bressanelle commented on #10025
I found the solution in slack community. If someone got the same error the below snippet should help.

add this shared config to your module-federation.config.js of shell app

[code]

[2022-04-27 16:50] #10025 closed

[2022-04-27 17:56] arabull opened #10028 "Not all targetDependencies execute"
## Current Behavior
If there are more than two blocks in a particular target's `targetDependencies` within `nx.json`, the second one never executes.

This regressed in 13.10 due to the fix for https://github.com/nrwl/nx/pull/9714.

## Expected Behavior
All `targetDependencies` should execute.

## Steps to Reproduce
There is a repo that exhibits the issue at https://github.com/arabull/nx-deps-not-r

[2022-04-27 18:15] tar-aldev opened #10029 "Unable to mock any component exported from lib in apps"
## Current Behavior

Given that I have a lib called `frontend-shared` and that lib has index.ts file, which exports everything from that it.
Given I have a hook in my lib which is exported as
export * from './lib/components/RightUpperMenu/useUsersList';

Then in my test file which is in apps/frontend
I am trying to import that hook and lib
[code]

And then I need to mock that particular hook (no n

[2022-04-27 18:18] AgentEnder commented on #10021
@barbados-clemens  could we update the migration to add an eslint ignore comment?

[2022-04-27 18:27] rahul-sharma-uipath commented on #3069
@asit-prakash I've tried that and it does work but its a hard sell to my colleagues for NX if this is the default workaround. What I'd like to understand is why even though webpack5 does indeed support nested tree shaking https://webpack.js.org/blog/2020-10-10-webpack-5-release/#nested-tree-shaking - it doesn't appear to work for this library. Is there something in the webpack scripts for NX that

[2022-04-27 19:29] westmark commented on #9017
Thanks @LudovicPelleDMS - getting build output now. However, I also get an error message

`Source and destination must not be the same.`

and the build exits with error code 1. Are you also getting this? Not ideal for CI. Fix can't arrive soon enough

[2022-04-27 19:54] markgoho commented on #10021
@AgentEnder great idea!

any thoughts about exporting the module in a more TypeScript-y way?

[2022-04-27 21:34] barbados-clemens commented on #10021
@markgoho ideally yes. it's just a big upshift to make. I have plans to move new jest projects to `export default`. but  I'm slightly apprehensive to move existing configurations to different syntax to not break even more things.

[2022-04-27 22:01] #9862 closed

[2022-04-27 22:06] barbados-clemens commented on #10021
after about 20 minutes of thinking of this. I'll do the migration for `export default`
mainly because using the nxPreset from @nrwl/jest/preset is also breaking things in the nx repo and moving all to default exports fixes this issue.

hope to have a PR up some time tomorrow.

[2022-04-28 00:26] #9589 closed

[2022-04-28 00:26] #7373 closed

[2022-04-28 00:26] #7360 closed

[2022-04-28 00:26] #6080 closed

[2022-04-28 00:27] yuchien302 opened #10036 "View the Project Graph does not show dependency from blog to ascii"
### Documentation issue

- [ ] Reporting a typo
- [x] Reporting a documentation bug
- [ ] Documentation improvement
- [ ] Documentation feedback

### Is there a specific documentation page you are reporting?

https://nx.dev/core-tutorial/03-share-assets

### Additional context or description

I followed the tutorial strictly, and expect there's a dependency arrow from blog to ascii. But there isn'

[2022-04-28 00:29] yuchien302 opened #10037 "Getting Cannot find project 'cli' error when following the tutorial"
### Documentation issue

- [ ] Reporting a typo
- [x] Reporting a documentation bug
- [ ] Documentation improvement
- [ ] Documentation feedback

### Is there a specific documentation page you are reporting?

https://nx.dev/core-tutorial/02-create-cli

### Additional context or description
I followed the tutorial, and it keep saying Cannot find project 'cli'
<img width="278" alt="image" src="https

[2022-04-28 05:20] chf007 commented on #7266
#https://github.com/ZachJW34/nx-plus/issues/239

Can Nx provide a configuration item to turn off its own dotenv processing, which is completely handled by plugins?

[2022-04-28 06:39] Elvis116 commented on #10017
It's urgent. Any updates on this?

[2022-04-28 07:45] Elvis116 commented on #10017
By the way, it only happens on dynamic script load, working following the document to create host/remote apps.

[2022-04-28 08:03] mmaterowski commented on #7123
### **My problem was transitioning from existing angular CLI project to nx. During that process nx renames:**
`tsconfig.json` to ->  `tsconfig.base.json `

and that's what vscdoe didn't handle very well. Event after restarting TS server, changing paths, deep-diving into extending process

After investigating multiple approaches it turns out that while running `tsc --traceResolution` all modules an

[2022-04-28 09:25] jonhamm commented on #8779
I now realised this is a `node 16.14.2` problem

In this setting I do get the error immediately
[code]

But in this setting which is similar except for the `node` version there is no problem

[code]

[2022-04-28 10:04] jonhamm commented on #9946
I now realised this is a `node 16.14.2` induced problem

In this setting I do get the error immediately
[code]

But in this setting which is similar except for the `node` version there is no problem

[code]

[2022-04-28 10:54] B-R-Bender commented on #7421
I can see .prettierignore in the root of the repo
why just not to add

into it while this issue still open?

[2022-04-28 11:02] tbergquist-godaddy commented on #8478
No, seems like it is still failing after all.

[2022-04-28 11:19] #9869 closed

[2022-04-28 11:32] dangviettuan opened #10039 "Cannot find target storybook for project"
Library config is not updated in cache
## Current Behavior

Error "Cannot find target storybook for project xxx" when run library storybook

## Expected Behavior

Run storybook command working correctly

## Steps to Reproduce

1. Generate a react library
2. Generate react library storybook config
3. Run storybook of the library
4. An error occurs "Cannot find target storybook for project xxx"
5. R

[2022-04-28 12:34] LudovicPelleDMS commented on #9017
Yeah, i got this message too, as i said it's a "hack" , and an experimental feature , deploy on production may be risky (for now it's seems ok for my project , cypress cover my back ^^)

 Thanks to @pstoica  solution's, you can have the good return code then  moving the "weird" folder structure  (move static and public ) cf @pstoica Dockerfile

[2022-04-28 12:54] e-oz opened #10040 "nx g component v14.0.3 doesn't work"
## Current Behavior

`Cannot read properties of undefined (reading 'exists')`

## Expected Behavior
a new shiny component should be generated

### Environment

Node : 18.0.0
OS   : darwin arm64
npm  : 8.7.0
nx : 14.0.3
@nrwl/angular : 14.0.3
@nrwl/cypress : 14.0.3
@nrwl/devkit : 13.1.3
@nrwl/eslint-plugin-nx : 14.0.3
@nrwl/jest : 14.0.3
@nrwl/linter : 14.0.3
@nrwl/nx-cloud : 14.0.0
@nrwl/storybook

[2022-04-28 13:03] leosvelperez commented on #10040
Thanks for reporting this!

Please note this is a duplicate of https://github.com/nrwl/nx/issues/9869 which has already been fixed on https://github.com/nrwl/nx/pull/10038. Keep an eye on the releases to know when the fix is out.

In the meantime, you can run `nx g component test` instead of `nx g c test`.

[2022-04-28 13:03] #10040 closed

[2022-04-28 13:08] e-oz commented on #10040
Thanks for a quick reply!

I've tried `nx g component test`:
[code]

[2022-04-28 13:16] leosvelperez commented on #10040
Could you provide a repo with a minimal reproduction of that issue? Or at least some reproduction steps?

I ran `nx g component test` on a fresh Nx workspace and it generated the component successfully.

[2022-04-28 13:18] e-oz commented on #10040
I think it's because you are not following the “scam” approach in that repo :)

No, sorry, have no time right now. And I mostly use nx g scam anyway :)

[2022-04-28 13:23] gregveres opened #10042 "Jest does not work out of the box with @nrwl:workspace library"
## Current Behavior
Follow the steps below and you will see that

[code]

fails with the following error:
[code]

This is crashing on line 6 of hasher.js. The line is:

[code]
what I am seeing is that context.workspaceConfig is undefined.

## Expected Behavior
I expected to be able to create a workspace and library and have jest work out of the box without any changes.
I also have no idea how to g

[2022-04-28 13:49] mauris opened #10043 "Migrating from v13 to v14 breaks import for `react-hook-form`"
## Current Behavior

After performing a migration from v13 to v14 using `nx migrate` command, the bundle and build commands for my `react-native` app failed with the error:

[code]

The `metro.config.js` (specifically `sourceExts`) was not modified from default generated.

Things I have tried, but did not work:
- Downgrading `react-hook-form` to `7.29.0`
- Downgrading `metro` (and related dependen

[2022-04-28 14:54] AgentEnder commented on #10042
Hey @gregveres , it may be unrelated, but some of your @nrwl/* packages don't line up with the version of `nx` you have installed. Aside from `@nrwl/nx-cloud`, all packages under the nrwl scope should generally be set up with the same version.

Can you correct this and check that the issue still reproduces? An easy way to fix this would be to run `nx migrate 13.10.3`.  Alternatively, updating to l

[2022-04-28 14:56] AgentEnder commented on #10039
We've fixed some small issues recently with this, can you try updating to 14.0.3 and see if it has been fixed?

[2022-04-28 16:11] AgentEnder commented on #9980
With run-many it is generally helpful to know which projects fail, so if we were to stop as soon as one failed then we would miss out on that info.

Imagine running `nx run-many --all test`. If `project-a` and `project-b` would both have failing tests, it'd be paramount that developers know both of them have broken.

[2022-04-28 16:18] AgentEnder commented on #10037
This is a bug, and should be fixed by #10031

[2022-04-28 16:18] #10037 closed

[2022-04-28 16:21] AgentEnder commented on #10013
This is fixed by #10031, and should be released later today or tomorrow. I'm going to close this out since the fix is merged.

[2022-04-28 16:21] #10013 closed

[2022-04-28 16:26] jwilbur-godaddy commented on #9043
I second this. This made this work for me too. Weird.

[2022-04-28 16:36] jaysoo commented on #10017
@Elvis116 Can you include the output from `nx report`?

Also, if you have a public repo we can check that would help a lot.

[2022-04-28 17:46] jinisha opened #10047 "Cannot convert undefined or null to object"
## Current Behavior
I am currently on 12.10.0 version. When I run nx migrate @nrwl/workspace@13.1.4 --verbose command I am getting an error.

package.json

"dependencies": {
    "@angular/animations": "^12.2.0",
    "@angular/cdk": "^12.2.0",
    "@angular/common": "^12.2.0",
    "@angular/compiler": "^12.2.0",
    "@angular/core": "^12.2.0",
    "@angular/forms": "^12.2.0",
    "@angular/localize

[2022-04-28 18:00] arabull commented on #7978
This is no longer an issue in the latest release.

[2022-04-28 18:00] #7978 closed

[2022-04-28 18:57] chrislambe commented on #9973
Very similar issue here, but the error is about `jest.config` instead of `jest.preset`:

[code]

### Environment

   Node : 16.13.2
   OS   : darwin arm64
   yarn : 3.1.0

   nx : 14.0.3
   @nrwl/angular : Not Found
   @nrwl/cypress : Not Found
   @nrwl/detox : Not Found
   @nrwl/devkit : 14.0.3
   @nrwl/eslint-plugin-nx : 14.0.3
   @nrwl/express : Not Found
   @nrwl/jest : 14.0.3
   @nrwl/js : 14

[2022-04-28 19:12] th-m opened #10049 "NX/React build omits index.html when run from sub directories"
## Current Behavior

running `npx nx run myApp:build:production --outputPath=apps/myApp/dist`
has different output depending on the directory I am in. When running from root, the `dist` output includes the `index.html` file. However when running from within `apps/myApp` the `index.html` is missing from `dist`. All other files are there as expected.

## Expected Behavior

I would expect that runnin

[2022-04-28 20:24] jaysoo commented on #6941
The guide is updated now: https://nx.dev/guides/environment-variables

Closing this as the React/Web setup is working, and the guide above has some workaround for Angular for those interested.

Again, open a new issue if you want to add similar support to Angular out of the box.

[2022-04-28 20:24] #6941 closed

[2022-04-28 20:46] AgentEnder commented on #10019
Hey @gregveres! It looks like you are using an executor from @nx-plus/vue. Since that is coming in from a community plugin, you'd need to open an issue on it's repo so the maintainers can take a look. This one is out of Nx's control.

I'm going to close this out, you should file the issue here: https://github.com/ZachJW34/nx-plus

[2022-04-28 20:46] #10019 closed

[2022-04-28 20:48] AgentEnder commented on #10009
Can you run `nx report` and list the output here? Thanks!

[2022-04-28 20:49] gregveres commented on #10019
@AgentEnder sorry about that. I thought this was something common they were inheriting. I will open the issue with them.

[2022-04-28 20:50] PieterjanDeClippel commented on #10009
[code]

[2022-04-28 21:49] cpfouche commented on #4620
@FrozenPandaz, what do you think about this ask? It be wonderful if we can get this feature.

[2022-04-28 21:53] neilsoult commented on #6941
Thank you for investigating this @jaysoo!

[2022-04-28 21:54] neilsoult opened #10051 "Integrate Environmental Variables into Angular builders"
## Description
From the discussion on [this issue](https://github.com/nrwl/nx/issues/6941#issuecomment-1112394862)

## Motivation
While Angular does prefer using environment.ts file transforms, this does not apply to index.html compilation, as there are cases where we need specific values depending on the build/serve environment. For instance, using Google Tag Manager or other analytics platforms

[2022-04-28 22:17] MikepdXRider opened #10052 "Optimization property set to true throwing POSTCSS plugin errors"
## Current Behavior
- Setting optimization property to true throws error

## Expected Behavior
- Successful build without errors.

## Steps to Reproduce
- N/A
- <img width="189" alt="image" src="https://user-images.githubusercontent.com/79485147/165855588-677800f1-9e47-4bba-b4fe-6617d153d3b5.png">
- "build.extractCSS" and "build.styles" are defined
- "build.executer" is set to "@nrwl/web:webpack"

[2022-04-28 22:33] MrChrisRodriguez commented on #2386
Has anyone managed to get globally installed yarn to recognize Nx modules in PnP mode? The local `yarn nx` works great, but I'm curious if we can get global nx working in concert, too.

[2022-04-28 23:10] konsalex commented on #8874
Facing the same issue, with a simple `@nrwl/gatsby` example app and a custom added Strapi package, when I try to execute a script as `nx run cms:develop` I get:

`ENOENT: no such file or directory, open '/nous/packages/cms/project.json'`

[2022-04-29 01:02] mauris commented on #10043
cc @bluebill1049 for awareness. this is likely a `nx@14` issue since `react-hook-form@7.30.0` was working in `nx@13`

[2022-04-29 01:09] bluebill1049 commented on #10043
Let us know if there is anything we would need to adjust.

[2022-04-29 01:35] barbados-clemens commented on #9973
@chrislambe @justinhandley
are those files being imported into your a project jest.config.js?

it looks to be related to how the migration updates the preset and so it requires reading your jest.config.js through `runInContext` call.

I'm updating this migration to not do this anymore as we actually don't need to update the preset property in the configs anymore.

this change is going to be a part

[2022-04-29 02:06] a616101 opened #10054 "Nx v14 can't auto shared some module in mfe project"
## Current Behavior

In Nx v.14 + :

I followed the documentation:
<img width="721" alt="image" src="https://user-images.githubusercontent.com/4496234/165874493-780c7939-d038-4b1e-97eb-596bc4d29a64.png">

The conclusion is：
Unable to share @angular/animations automatically when I use micro frontend project.

In Nx v.13 + :
Manual webpack.config.js  configuration is no problem
shared: share({

[2022-04-29 02:17] DAlperin commented on #8796
Experiencing this problem on a brand new setup.
[code]

[2022-04-29 03:43] viceice commented on #9973
Can i simply manually do the migration? if i'm correct it only renames files from js to ts extension?

[2022-04-29 06:11] Javadebi commented on #8297
Did you manage to fix the issue?

[2022-04-29 06:11] l1qu1d commented on #10008
Duplicate of @BigForNothing comment on issue: [#2386](https://github.com/nrwl/nx/issues/2386#issuecomment-1079961901). A workaround that has been working for me is to rerun the command again to get it to progress.

The command I run is: ```yarn nx migrate latest```.

I use Yarn v3 with ```nodeLinker: node-modules``` in ```.yarnrc.yml``` A.k.a. not using Plug'n'Play.

[2022-04-29 07:51] Vanals commented on #9617
I am having the same issues with an `npx create-next-app@latest` app

[2022-04-29 08:14] CodeAndWeb commented on #8218
'../../libs/**/*.{js,jsx,ts,tsx}',

should not be required - that is what `...createGlobPatternsForDependencies(__dirname)` is meant do, or am I wrong?

---

This works so far. The only issue I am experiencing is that the auto-refresh in Chrome reflects the changes in the files but does not seem too reload the style sheets.

    <div className="bg-red-100>Test</div>

correctly shows up in red when

[2022-04-29 08:30] B1Z1 commented on #8912
Hi @cre8, this solution doesn't help. Every time when I delete cache, other libraries blow up in the same way. The workaround is to build every broken library separately and turn on the watch once again. Does someone know another way to fix this bug? We have 200+ libraries and it's terrifying that we cannot build them normally

[2022-04-29 09:17] leosvelperez commented on #9894
Thanks for reporting this!

Could you please provide a minimal repo where the issue can be reproduced to help us troubleshoot it?

[2022-04-29 09:41] gilmillasseau opened #10056 "NextJS @nrwl/next:build executor ignores `distDir` config"
## Current Behavior
@nrwl/next:build executor is not working properly when we define a custom `distDir` in `next.config.js`

## Expected Behavior
When we setup a custom `distDir` in `next.config.js` this dir should be copied to the `outputPath` configured in `projects.json`

[code]

So it seems it only copies the `.next` folder instead of the `distDir` configured one.

## Steps to Reproduce

1.  n

[2022-04-29 10:13] simpros opened #10057 "Add Gitlab CI Example with yarn"
### Documentation issue

- [ ] Reporting a typo
- [ ] Reporting a documentation bug
- [x] Documentation improvement
- [ ] Documentation feedback

### Is there a specific documentation page you are reporting?

I am talking about [this](https://nx.dev/ci/monorepo-ci-gitlab) page.

I am using yarn as package manager (as in most parts of your documentation). But this CI example only makes use of npm.

[2022-04-29 10:20] djgrant opened #10058 "Custom swcrc path"
- [x] I'd be willing to implement this feature ([contributing guide](https://github.com/nrwl/nx/blob/master/CONTRIBUTING.md))

## Description
Pass a custom swcrc path to the @nrwl/js:swc executor.

## Motivation
I am attempting to keep my tooling config in a config folder. I find it a bit annoying that for each package folder I open, I see exactly the same files. I think it would be great if nx co

[2022-04-29 11:28] pvds commented on #9045
@mandarini thanks, I'll reach out when I find some time.

[2022-04-29 11:47] Furizaa commented on #5384
After a day of digging I figured out that source maps only work properly if the projects setup is in the default `apps/` and `libs/` schema.

We've migrated a large lerna project to NX and kept every package in `packages/` for the time beeing which works well with small config adjustments - except for source maps.

I tried to dig into the code to figure out why that happens but couldn't find any o

[2022-04-29 12:14] nemonemi commented on #10008
2 weeks ago I've managed to run `nx migrate`, and now I cannot due to this error. Re-running it yielded no progress in my case.

[2022-04-29 12:15] nemonemi commented on #2386
@MrChrisRodriguez how did you install NX globally?  As far as I remember, Yarn doesn't support global packages.

[2022-04-29 13:24] stianmorsund opened #10062 "Opt out of ngcc in postinstall-script"
## Current Behavior
Angulars lib and app-generator are appending `ngcc` on postinstall-script in package.json. Our organization does not need this post-compilation script, since all our dependencies are Ivy-compatible.

## Expected Behavior
Discard behavior or add ability to opt out via configuration

## Steps to Reproduce
1. Call one of these generators. (We are using them as part of our workspac

[2022-04-29 13:38] AgentEnder commented on #10058
This makes sense to add. Since you've identified the correct area for the change, would you like to contribute it?

You'd need to:
- Add option in the swc schema.json
  - This is where you can specify the default value
- Add property to options model in schema.d.ts
- Make the change to line 53
[code]

[2022-04-29 13:58] fs-innonova commented on #7871
@R0-NaN that looked promising.. unfortunately did not work.. I have several apps running e2e in port 4200 and I dont think that the "script" is being "questioned" to use another port

 ✖  nx run marketing-app-e2e:e2e
       info  - automatically enabled Fast Refresh for 1 custom loader
       event - compiled client and server successfully in 473 ms (617 modules)
       [ ready ] on http://localho

[2022-04-29 15:54] markgoho opened #10067 "creating a workspace with angular preset fails to create an angular app"
## Current Behavior
`npx create-nx-workspace --preset=angular` doesn't create an angular app

## Expected Behavior
creating an angular workspace has (in the past) created an angular app

## Steps to Reproduce
`npx create-nx-workspace --preset=angular` see the folder structure exists, but dependencies look like:

[code]

and there is nothing in the `/apps` directory

### Failure Logs

### Environme

[2022-04-29 16:01] MrChrisRodriguez commented on #2386
@nemonemi iirc both Yarn and Nx recommend using npm to install them globally.

1. npm i -g yarn
2. npm i -g nx

Both Yarn and Nx have mechanisms for checking if your cwd is configured for them and inherits that configuration. Global Nx hasn't implemented the PnP API, though, so you have to call it within the yarn context `yarn nx ...` or do what I did and just create the alias: `alias ynx='yarn nx

[2022-04-29 16:04] MrChrisRodriguez commented on #10008
Two things:
- You may want to try upgrading one step at a time instead of all the way to latest `yarn nx migrate next`
- Is there a reason for running the migration in a temporary environment (`dlx`)? If not, drop the `dlx`.

[2022-04-29 17:19] justinhandley commented on #9973
So, for me it was that I was running react-native and the upgrade to 13 changed this

const workspacePreset = require('../../jest.preset')
module.exports = {
  ...workspacePreset,
  displayName: 'native',
  preset: 'react-native',
  moduleFileExtensions: ['ts', 'js', 'html', 'tsx', 'jsx'],
  setupFilesAfterEnv: ['<rootDir>/test-setup.ts'],
  transform: {
    '\\.(js|ts|tsx)$': require.resolve('rea

[2022-04-29 18:09] mszmida commented on #8614
The problem still exists in **v14.0.3**.

[2022-04-29 18:17] #8875 closed

[2022-04-29 18:43] laggingreflex commented on #9981
OK This is probably a Windows issue, as I tried it on WSL and it worked.

[2022-04-29 19:09] xiongemi commented on #10043
@mauris so it is not a defect?

I think for the metro.config, it has
[code]

[2022-04-29 19:21] xiongemi commented on #7826
this should be fixed in nx 14 with pr https://github.com/nrwl/nx/pull/9872/files#diff-cb2ad48025f452c6f5f8a489ec49cdd605525f5d9c0dde806d3cb5d7367a0cc7.
Now, it allows users to set projectRoot to metro config.

[2022-04-29 19:21] #7826 closed

[2022-04-29 19:23] xiongemi commented on #8949
it should be fixed with the latest version of nx. I never run into this issue, so i closed this issue.

[2022-04-29 19:23] #8949 closed

[2022-04-29 20:46] xuke444 opened #10076 "Cannot build with react+ts"
## Current Behavior
cannot build

## Expected Behavior

## Steps to Reproduce
1. create nx workspace with react as template
2. after create, npm run build is fine.
3. switch use yarn, run yarn install
4. then run yarn build, error show up.

Module build failed (from ../../node_modules/@nrwl/web/src/utils/web-babel-loader.js):
Error: Cannot find module './builders/react/buildChildren'

### Failure

[2022-04-29 21:25] AgentEnder commented on #9860
Project name is inferred based on path in the workspace, or can be manually specified by adding a "name" field in project.json

[2022-04-29 21:28] electrichead commented on #9860
Confirm that "name" field in the project.json works. Thanks @AgentEnder !

[2022-04-30 00:18] #10076 closed

[2022-04-30 00:23] #9647 closed

[2022-04-30 00:23] #8828 closed

[2022-04-30 05:54] nartc commented on #10058
@djgrant I can assign this task to you if you'd like to take up on it.

[2022-04-30 07:45] PieterjanDeClippel commented on #10009
OS: Windows 11

[2022-04-30 16:06] jchamale commented on #9572
Any updates?

[2022-04-30 17:11] gregveres opened #10082 "Can't import files from one library into another library (bypassing index.ts)"
## Current Behavior
I have a process on our back end that auto generates interfaces, enums and services that are necessary to call our back end.
All of these get generated into three directories: interfaces, enums and services.
I have put these directories into buildable library that is structured like this:
/libs/api/src/{interfaces,enums,services}
In each directory are the appropriate TS files.

[2022-04-30 22:41] gregveres commented on #10082
I also tried creating barrel file for each of my directories: enums, interfaces and services.
This gave me a library that looked like this:
src
|- lib
|- enums.ts
|- interfaces.ts
|- services.ts
|- index.ts

where index.ts was:
[code]

if I changed the import to be:
[code]
would produce the same error but this would work:
[code]

when I had the following paths defined in my tsconfig.base.json

[co

[2022-05-01 00:26] #9509 closed

[2022-05-01 00:27] #6538 closed

[2022-05-01 00:27] #5264 closed

[2022-05-01 07:43] Javadebi commented on #3188
Did you manage to use .graphql file with nx express?

[2022-05-01 09:42] luke-rogers commented on #9755
Can confirm I am also running into this when trying to create a new v12 workspace using
`npx create-nx-workspace@12.10.1 <org name> --preset=angular`

Not quite sure of the workaround this when creating a new workspace yet though...

[2022-05-01 11:08] luke-rogers commented on #9755
Seems like a possible workaround to issues with the above are to split the creation of the workspace into 2 phases

1. Create empty workspace - `npx create-nx-workspace@12.10.1 <org name>`
2. Add the dependency on @nwrl/angular - `npm i @nrwl/angular@12.10.1`
3. Create the angular project - `nx g @nrwl/angular:app <app name>`

Hoping nothing would be missed versus using `npx create-nx-workspace@12

[2022-05-01 12:58] gnuechtel opened #10084 "Plugin end-to-end tests do not work out-of-the-box"
I started plugin development with Nx and end-to-end tests do not work out-of-the box.

There were two hurdles to jump over:

- Wrong package name
- Nx daemon

I will provide a solution/work-around here. But I think it should be included in the end-to-end test setup or project setup.

Furthermore, I believe the package name is not created as intended or I miss something by reading the [documentatio

[2022-05-01 13:43] mauris commented on #10043
@xiongemi it's not.

I have another issue though with `react-native`'s build being conflicted with `express`'s build.

- `express` build produces files in `dist/`, which also builds project dependencies from `packages/*` into `dist/packages/*`. I have `generatePackageJson` set to `true`
- `react-native` build will fail due to `package.json` files having the same name, one in `packages/*`, the othe

[2022-05-01 14:14] LuckeeDev opened #10086 "Migration to v14 fails"
## Current Behavior
Migrating to `v14.0.5` fails with the error pasted below.

## Expected Behavior
Migrating from previous versions worked.

## Steps to Reproduce
The issue happens when migrating from `13.10.2` to any other version, including the latest one `14.0.5` but also `13.10.3`.

### Failure Logs
[code]

### Environment
[code]

[2022-05-01 15:00] gregveres commented on #10082
I realized how I am supposed to do this.
I have broken the api library into three libraries, api-enums, api-interfaces and api-services.
I then had our back end tool create barrel files for the three that export all the enums, interfaces or services together into a single index.ts.

My tsconfig.base.json now looks like:

[code]

this allows me to import items like this

[code]
I am still having an

[2022-05-01 15:00] #10082 closed

[2022-05-01 15:46] demisx commented on #10086
Not sure if this is related or should be filed as a separate but, but after upgrading from `v13.9.5 -> v14.0.5` with:

[code]

I get the following error running `npx nx migrate --run-migrations`: "sh: nx: command not found".

Had to roll back to `v13.9.5`.

[2022-05-01 19:39] xiongemi commented on #10043
how about
`blacklistRE: exclusionList([/\.\/dist\/.*/]),`

regex should only exclude file has './dist/` only dist under workspace root?

[2022-05-02 07:29] andziaoo7 commented on #10047
I have the same error when trying to run nx g @nrwl/angular:move --project shared-ui-common-icons shared/ui/assets

Cannot convert undefined or null to object
TypeError: Cannot convert undefined or null to object
    at Function.values (<anonymous>)
    at C:\Users\user\REPOS\projectName\node_modules\@nrwl\angular\node_modules\@nrwl\workspace\src\generators\move\lib\update-implicit-dependencies.js

[2022-05-02 07:54] fs-innonova commented on #8286
I still have the same issue.. I have 3 apps that run on 4200 and I get the same error "address already in use"

[2022-05-02 09:00] bazter opened #10089 "GitLab CI example doesn't work"
### Documentation issue

- [ ] Reporting a typo
- [x] Reporting a documentation bug
- [ ] Documentation improvement
- [ ] Documentation feedback

### Is there a specific documentation page you are reporting?

[GitLab CI documentation page](https://nx.dev/ci/monorepo-ci-gitlab#configuring-ci-using-gitlab-and-nx)

### Additional context or description

For GitLab v14.6.2 I am having an issue, where

[2022-05-02 09:01] SuneRadich opened #10090 "Setting projectBuildConfig in Storybook Generator does not work as expected"
I was part of the discussion that lead to https://github.com/nrwl/nx/pull/9655 and now I am trying to use the changes that were released from that PR.

## Current Behavior

After updating to 13.10.3, and trying to set projectBuildConfig in the Storybook Generator (@nrwl/angular:storybook-configuration) the value set does not seem to have any effect in the resulting project.json. I set the value us

[2022-05-02 09:36] stianmorsund commented on #10062
Sure, I can contribute! I dug a little bit deeper, and it looks like the `applicationGenerator` has a `skipPackageJson`-flag. When this is set it, it doesnt add the `ngcc`-script, which is what we want. However in the `libraryGenerator` this flag is not possible to set directly. Could it be a solution to reconsider how this works for libraries instead of adding an additional `no-postinstall`-flag?

[2022-05-02 12:18] JWood48 opened #10091 "Migration to v14 fails during run-migrations"
Upgrading from nx 13.1.0 to 14.0.5 fails during run migrations

## Current Behavior
Upgrading from nx 13.1.0 to 14.0.5 fails during run migrations with error;
¨
[code]

## Expected Behavior
Migrations should run without problems!

## Steps to Reproduce
N/A

### Failure Logs
nx migrate lates:
[code]

yarn nx migrate --run-migrations

[code]

### Environment
win 11

[2022-05-02 13:16] pedrorezende commented on #10082
Hi everyone. I'm having the same issue described by @gregveres . I'm using the version 14.0.5 . I think the solution shouldn't be exporting everything from an `index.ts`. I'm trying to migrate my projects to a monorepo managed by NX, so it means a lot of refactoring just because wildcards on typescript paths aren't working correctly. Anyone has a workaround for this?

[2022-05-02 13:26] pschnoop opened #10094 "Automatically shared package includes sample projects from npm package"
We have a microfrontend setup where one of our apps is using gojs.
The gojs package itself contains sample projects.
These are found by the mechanism to automatically share dependencies between microfrontends which leads to errors.

## Current Behavior
It is not possible to build microfrontends if used npm package contains samples.

## Expected Behavior
We can build microfrontends if npm packages

[2022-05-02 14:22] itsmelion commented on #907
I understand @vsavkin but can at least the Linter stuff be relaxed?
now it asks for `eslint-plugin-react-hooks@4.3.0`, and my linter asks for `@^4.5.0` so then is duping the react-hooks package so linter don't work.

I have to use `resolutions` from yarn to ensure only one is resolved ://

[2022-05-02 14:39] gregveres commented on #10082
@pedrorezende It looks like you are doing the same thing I am doing - converting to a monorepo.
I was happy enough with the solution I found above for the api files, but I am still struggling with the fact that libraries are treated as opaque entities that export all or nothing. I have been using folders as psuedo libraries, but with folders it was easy to reach into a folder and pull out a single

[2022-05-02 15:34] leandrocrs opened #10097 "Missing install deps instruction in Storybook Webpack Migration"
### Documentation issue

- [ ] Reporting a typo
- [X] Reporting a documentation bug
- [ ] Documentation improvement
- [ ] Documentation feedback

### Is there a specific documentation page you are reporting?
Storybook Webpack Migration

Enter the URL or documentation section here.
[storybook/migrate-webpack-final-angular#storybook-webpack-migration](https://nx.dev/storybook/migrate-webpack-final-a

[2022-05-02 15:44] ennovum commented on #8253
@Coly010 have you been able to find something here? Since this is a blocker for me right now, I've spend a couple of our experimenting and found the following.

The Nx app generator calls Ng app generator and then Ng component generator to create the Nx sample/welcome component. The component generator throws an error because it can't find a module file where it can add itself. So the `Tree` objec

[2022-05-02 16:04] huantaoliu commented on #6866
After updating @nrwl/eslint-plugin-nx from 14.0.3 -> 14.0.5, the problem seems happen again
[code]

[2022-05-02 16:33] jaysoo commented on #9719
I'm going to close this issue as it has been fixed in both 13.10 and 14.0.

If you continue to experience issues, make sure you are using one of the above versions, and then also check that you don't set `NODE_ENV` to a value that conflicts with `--configuration=<config name>`.

[2022-05-02 16:33] #9719 closed

[2022-05-02 16:46] AgentEnder commented on #10062
Sure, if there is already a skipPackageJson flag for the app generator, the new flag should match.

[2022-05-02 17:03] AgentEnder commented on #10084
Interesting! The daemon errors make sense, but the lack of an `@` sign for the generated plugin is intriguing.  This doesn't occur if you generate a second plugin, or were to generate the first plugin in an existing workspace.

[2022-05-02 17:06] AgentEnder commented on #10084
Looks like the import path is set on that function, and we used to not obey it very well. Fixing that issue, caused the new error which is evidently not covered by a test. I'll look into the daemon stuff and get this pushed out.

[2022-05-02 17:09] ajwootto opened #10099 "Node "serve" target does not build dependencies that are buildable, or watch for changes"
## Current Behavior

If you set up an NodeJS application which has a lib dependency in the workspace which is "buildable" then when you run `nx serve your-app` the lib will not be automatically built, and the serve will fail because its expecting to find the built output of the lib in the `dist/ directory.

If you `nx build your-app` it will build the dependency properly.

If you are "serving" the

[2022-05-02 17:22] npwork commented on #9873
Issue is still present
@Ezard your fix is working, one minor change (if you need to run tests from WebStorm/IntelliJ Idea)

It passes extra arguments, so it's safer to do something like this

[code]

[2022-05-02 18:12] zakhenry commented on #2061
Thanks @elkeis-on-work  - this is now an array though

[code]

[2022-05-02 18:23] marimendez88 opened #10100 "nx test: Jest unit tests are failing to run in any test that has been imported from other libraries."
## Current Behavior
An NX - Ionic and Vue workspace fails to run tests, many solutions tested and any seems to fix the issue:

This is the error message:
[code]

## Solutions tested:

- Changing globals ts-jest and vue-jest file url to add <rootDir>
- Using global setup
- Adding more transform regExp
- Modifying jest.preset.js
- NX Migration to the latest
- Installing jest via Yarn
- using Officia

[2022-05-02 19:05] jaysoo commented on #8497
It looks like a version mismatch between what Next.js expects and what Nx installs.

You can try removing it from  the workspace, and use whatever comes with Next.js.

https://github.com/vercel/styled-jsx/issues/792#issuecomment-1097754759

Or install the latest Next.js-supported version (5.0.1). We'll need to keep our version in sync with Next.js's moving forward.

[2022-05-02 19:05] #8497 closed

[2022-05-02 19:30] bandman0226 commented on #3203
+1

[2022-05-02 19:43] g035653 commented on #9617
ERROR in Plugin "react" was conflicted between "package.e_modules\eslint-config-react-app\base.js" and "BaseConft-app\base.js".
how can i fix it??

[2022-05-02 19:54] marckassay opened #10102 "npx create-nx-workspace installs Nx 13 packages"
## Current Behavior
The following command `npx create-nx-workspace --preset=ts` installs Nx `13.10.3` packages

## Expected Behavior
With Nx `14.0.5` being the current version, I would expect Nx `14.0.5` packages to be installed.

As a workaround, this command installs Nx 14 packages: `npx create-nx-workspace@latest --preset=ts`

## Steps to Reproduce
The following installs Nx 13 packages: ` npx c

[2022-05-02 19:58] utsavkapoor commented on #8929
I am also suffering from the issue. NX Always read the cacheDirectory defined in default runner.
I was able to make it work with the workaround but that does not seem like an ideal situation

Would love if we can get this bug resolved.

Also in the workaround absolute paths worked

[2022-05-02 20:07] jaysoo commented on #8605
It looks like it's fixed in the newest version of nextjs (`12.1.5`). I'm also updating our defaults so host and port will be localhost and 4200 respectively, unless you override them. (https://github.com/nrwl/nx/pull/10103)

[2022-05-02 20:08] jaysoo commented on #8605
If you are still experiencing issues, please make sure you are on the latest supported nx version (13.10 and 14.0 as of this writing), and nextjs is also  the latest.

[2022-05-02 20:08] #8605 closed

[2022-05-02 20:21] tmilewski commented on #9572
Just wanted to follow up here:

There was a related issue filed on the NextJS repo: https://github.com/vercel/next.js/issues/35973

Per my experience:

**Importing from a middleware-specific project:**
On serve: Success
On build: `../../node_modules/next/dist/compiled/regenerator-runtime/runtime.js` error.

**Placing all code from said middleware-specific project directly into the _middleware.ts f

[2022-05-02 20:50] #10056 closed

[2022-05-02 20:51] jaysoo commented on #9981
@laggingreflex Sounds like you found a workaround. We'll investigate it on our end to see if this is an Nx issue or from another underlying tool (like nextjs or babel).

@ndcunningham Can you take a look?

[2022-05-02 20:58] nelboullon commented on #8968
I just deleted all the libs in `projects` key on `nx.json` and ran `nx-format`. It worked for me

Saw this [nx.json](https://github.com/nrwl/nx-examples/blob/master/nx.json) example

Hope it works for you!

[2022-05-02 20:59] jchamale commented on #9572
I saw the same behavior in my machine.

[2022-05-02 21:06] Ezard commented on #9873
@npwork thanks for highlighting that :)

I did actually end up modifying my script to check the number of arguments before trying to process them (because like you I ran into issues when testing in WebStorm), but your solution is probably a better catch-all

FYI, I also released this runner as an npm package here: https://www.npmjs.com/package/jest-runner-groups-nx

(I had some issues with using a

[2022-05-02 21:30] Ezard commented on #9873
@npwork I've integrated your suggestions into v1.1.0 of `jest-runner-groups-nx` (with a bit of tweaking since, from testing, your solution worked for multiple groups but not single groups)

[2022-05-02 23:58] Pandalovespink opened #10110 "Is it possible to overwrite the library type to var with the withModuleFederation plugin"
Hello,
Is there a way to overwrite the library type to "variable" instead of "Module" in the withModuleFederation plugin?

[2022-05-03 05:40] PieterjanDeClippel commented on #9282
Can someone merge this already?

[2022-05-03 05:54] PieterjanDeClippel commented on #10009
Can you show me where the schematic resides to generate a module? I see one for a component, directive, ... but not for a module

[2022-05-03 07:25] Marcelh1983 commented on #10100
Think I have the same error. I make a repos starting from scratch with react. `nx test` gives the same ` SyntaxError: Cannot use import statement outside a module` error. See https://github.com/Marcelh1983/nx-jest-error

[2022-05-03 07:28] meeroslav commented on #7593
The remote (Nx Cloud) cache takes care of the artifacts caching. If nxdeps.json was modified, there was a reason for it and you should not fight it.

In order not to have cached local nx cache, you can do one of the following:
- Make sure you remove `.cache` folder from the dependencies cache
- Set nx cache to be stored somewhere outside of the repo (as you did) with `NX_CACHE_DIRECTORY` environme

[2022-05-03 07:28] #7593 closed

[2022-05-03 07:55] floroz commented on #8793
[Further investigation of the issue](https://github.com/nrwl/nx/pull/10055#issuecomment-1115793279)

[2022-05-03 08:10] leosvelperez commented on #10009
@PieterjanDeClippel thanks for reporting this!

I haven't been able to reproduce this on macOS, I'm guessing this is a Windows issue with paths. The schematic for generating a module comes from the `@schematics/angular` package. Our `@nrwl/angular` package just extends the schematic collection from that one and therefore, all schematics from that package that we don't overwrite are executed from t

[2022-05-03 08:46] PieterjanDeClippel commented on #10009
The odd thing is that I'm not having this problem in an angular workspace, only an NX workspace

[2022-05-03 08:54] pepicrft opened #10111 "run-many appends a "--" argument when invoking packages' scripts"
## Current Behavior
In a monorepo where each package has a `tsc` script to run the Typescript checker, when I run `tsc` through Nx using this command:

[code]

Nx appends `--` when it invokes the scripts, and that results in the following error:

[code]

## Expected Behavior
I'd expect Nx to invoke the script as it is declared in the `package` without appending additional arguments.

## Steps to R

[2022-05-03 09:14] leosvelperez commented on #10009
I see. Thanks for confirming that, it might be something on our adapter layer then. I'll try to get that Windows VM running to reproduce it and troubleshoot it.

[2022-05-03 11:08] leosvelperez commented on #10062
@stianmorsund, the `skipPackageJson` flag is available in both generators ([app](https://nx.dev/packages/angular/generators/application#skippackagejson) and [lib](https://nx.dev/packages/angular/generators/library#skippackagejson)) and it works the same for both of them. Please note that the flag is meant to skip adding dependencies to the `package.json`, and it's not intended to prevent other mod

[2022-05-03 11:55] ennovum commented on #8253
One more thing. I believe it broke between:
[code]
and
[code]

[2022-05-03 12:19] rallz-dev commented on #8811
I am facing the same issue. I can create all code scaffolding just fine, except for angular one.
I created the workspace with `npx create-nx-workspace@latest`

I'm running on Windows 10 x86-64

`$ npm version
{
  'bosch-design-system': '0.0.0',
  npm: '6.14.15',
  ares: '1.17.2',
  brotli: '1.0.9',
  cldr: '39.0',
  icu: '69.1',
  llhttp: '2.1.3',
  modules: '83',
  napi: '8',
  nghttp2: '1.42.0',

[2022-05-03 12:31] PieterjanDeClippel commented on #10102
Hi, did you run `npm update --global nx` or `npm install --global nx@latest` in a cmd as Administrator?

[2022-05-03 12:34] djgrant commented on #10058
Yep, going to work on it this afternoon.

[2022-05-03 13:08] leosvelperez commented on #10067
Thanks for reporting this!

This is an interesting one. You're correct with the assumption that the `test-14` name is a problem. The Angular CLI schematics don't like "standalone" numbers in the project names, component selectors, etc. Since the `@nrwl/angular:*` generators rely on those schematics, this restriction applies. If you were to create a `test14` instead, it would succeed.

There was so

[2022-05-03 13:09] marckassay commented on #10102
No, I did not. I don't have Nx installed as a global dep.

[2022-05-03 13:20] rallz-dev opened #10115 "npx add-nx-to-monorepo fails with errno: -4058"
## Current Behavior
Running `npx add-nx-to-monorepo` fails with code number -4058 claiming it cannot open packages.json
`Error: ENOENT: no such file or directory`

## Expected Behavior
Add Nx to your package.json.
Create nx.json, containing all the necessary configuration for Nx.

## Steps to Reproduce
Run `npx add-nx-to-monorepo` to a mono repo structure that does not contain a pre-existing packa

[2022-05-03 13:25] jonhamm commented on #9946
Turned out the problem was that `.npm` was not in `.gitignore`
It would however be very useful to get the `stderr` output from the spawned child process `git hash-object .....` as this would have revealed this problem immediately so I will leave the issue open...

[2022-05-03 13:42] AgentEnder commented on #10062
Thanks @leosvelperez, definitely more context on your end.

[2022-05-03 13:42] jonhamm commented on #2883
I have setup NxCloud in or build pipeline and it works fine
Developers can draw from that cache too but they cannot write to NxCloud0

_BUT_ as a developer I use a lot of git worktrees for different branches and I want to share caching among these branches, so I have setup a `NX_CACHE_DIRECTORY=~/.nxcache` - so this does not clear.

Nx does not seem to cleanup this cache ?? Should it not be pruned

[2022-05-03 13:44] #10009 closed

[2022-05-03 14:42] #10084 closed

[2022-05-03 15:12] philipjfulcher commented on #2760
@spaceribs - I reached out to Victor about this:

getUpdatedProjectGraph stopped working for the example I had (so there was a bug there). I also I don’t think we should have the DependencyType type. The choices we have right now were JS oriented.
So we can restore the viz part of it without making any core changes.

Does that make sense? I think you can re-raise a PR with the viz changes, but ski

[2022-05-03 15:16] #10067 closed

[2022-05-03 15:18] MartinAtSogeti commented on #9789
I'm getting 1 similar and 1 additional error:

[code]

[2022-05-03 15:41] Tirke opened #10117 "Can't run tests with jest 28.0"
## Current Behavior

I tried updating `jest` to the latest version (28) and started experiencing the classic TypeScript errors that you get when there are Babel / compiling TypeScript issues.
For example: ` SyntaxError: Unexpected token 'export'` or `SyntaxError: Cannot use import statement outside a module`
I'm using `babel-jest` as the transform for my TypeScript tests.

## Expected Behavior

I

[2022-05-03 16:24] bcallaghan-et commented on #6850
My workaround has been to copy common settings into every project.json. Is this still the best solution?

[2022-05-03 17:25] tamaracosta commented on #8768
it works!

[2022-05-03 17:41] #10058 closed

[2022-05-03 17:44] AgentEnder commented on #10102
@marckassay Its possible that npx has cached Nx at 13.10.3. Can you try again with `npx create-nx-workspace@latest`?

[2022-05-03 17:50] Ezard opened #10120 "Implementation packages should be marked as affected if their corresponding type declaration package is updated"
- [x] I'd be willing to implement this feature ([contributing guide](https://github.com/nrwl/nx/blob/master/CONTRIBUTING.md))

## Description
If dependency `@types/foo` is updated, then no projects are marked as affected, since they will import from dependency `foo`. If dependency `@types/foo` is updated, then any projects depending upon dependency `foo` should be marked as affected

## Motivation

[2022-05-03 18:43] barbados-clemens commented on #10117
Jest 28 support is still in the works, but probably need to update ts-jest to v28 since transformer return changed a little. I think ts-jest v28 was still prerelease

[2022-05-03 18:44] barbados-clemens commented on #9825
can you share the project configuration for the project you're trying to add jest to?

[2022-05-03 18:46] barbados-clemens commented on #9338
`@nrwl/jest:jest` should support passing any args through to the jest cli as of #9904 even if it's not in the schema so you can give that a try.

[2022-05-03 18:47] barbados-clemens commented on #9338
Didn't see the PR you made. Closing

[2022-05-03 18:47] #9338 closed

[2022-05-03 19:17] barbados-clemens commented on #10100
I'm not sure what change you're looking for the nx team to make to fix this as this looks to be an issue with the nx-plus/vue plugin being use.

creating libs with `@nrwl/*` and testing them (and importing from each other) is working as expected in my testing.
The error you're seeing is probably related to the nx-plug/vue plugin needing to be tweaked/updated as needed.

I noticed that the vue lib

[2022-05-03 19:19] barbados-clemens commented on #8992
as mentioned we aren't looking to add this into `@nrwl/jest` but an opportunity for a community plugin 👍

[2022-05-03 19:19] #8992 closed

[2022-05-03 20:36] michaelmarcus-ml commented on #9193
nrwl/express plugin has its Express peer dependency [pinned to 4.17.2](https://github.com/nrwl/nx/blob/master/packages/express/package.json#L37). While this is a fairly recent version, it is preventing us from upgrading to 4.18.0 or even 4.17.3. The [peer dependency version should be more lenient](https://nodejs.org/es/blog/npm/peer-dependencies/#using-peer-dependencies) to allow for such upgrades

[2022-05-03 20:55] marckassay commented on #10102
@AgentEnder Having `latest` as a suffix worked! But I mentioned that in the description.

I searched thru Nx repo expecting to find an outdated hard-coded version variable for Nx packages. Unfortunately unable to find anything. More curious at this point in time as to what change is needed.

[2022-05-03 20:58] AgentEnder commented on #10102
There isn't a hard-coded version that you'll find. `npx create-nx-workspace` downloads and runs the create-nx-workspace package. The version that it downloads, is the version that will get created. Because of npx's caching mechanisms, it's possible that this would not automatically be the latest version.

I'm going to close this issue out, since it is working as intended. If you run `npx create-nx

[2022-05-03 20:58] #10102 closed

[2022-05-03 21:02] gnuechtel opened #10122 "Plugin end to end test project paths contain backslashes"
## Current Behavior
When a new plugin project is created - whether via `create-nx-plugin` or `nx generate @nrwl/nx-plugin:plugin` the related end-to-end app project contains backslash paths on Windows.

We can look into [my example repo](https://github.com/gnuechtel/nx-plugin-example/blob/master/e2e/my-plugin-e2e/project.json) for issue #10084, which was thankfully fixed very quickly by @AgentEnde

[2022-05-03 21:26] ajwootto opened #10124 "React application with buildLibsFromSource: false does not automatically build libs during serve"
## Current Behavior

If I have a React application which depends on a buildable lib, and the "buildLibsFromSource" setting is set to false, then running `nx serve your-app` will not work because the dependent lib has not been built. Running `nx build your-app` will work properly. Changes to that lib will not cause the application to hot-reload.

## Expected Behavior

I expected that the library wo

[2022-05-03 21:26] #10122 closed

[2022-05-03 22:21] #10120 closed

[2022-05-03 22:46] dveluchamy commented on #10086
I am trying to migrate nx from version `13.8.5` to latest `14.0.5`
[code]
I have cleared my node_modules folder and yarn cache, still no luck.

**The file that errors is different for each run**, for example when I run the same command the next time, the error as below

[code]

[2022-05-03 23:13] marimendez88 commented on #10100
hey @barbados-clemens , thank you for the response, I have been looking at this error on Angular and React projects as well, the Comment from @Marcelh1983  has a react repo that reproduces the issue, I think I can find another time by end of this week to provide another repo in an angular project as well.

PD: I have been looking into this on existing repos, I have tried to implement that the docs

[2022-05-04 00:20] #9008 closed

[2022-05-04 00:20] #7039 closed

[2022-05-04 02:02] shawnmclean commented on #3427
I ran into this because I created a publishable/buildable package after I made a normal react lib.

[2022-05-04 06:40] PieterjanDeClippel commented on #9282
Can someone take a look at the PR?

[2022-05-04 07:13] npwork commented on #9873
@Ezard  good job!

[2022-05-04 08:10] ak274 commented on #10094
I also faced this issue while using Ag-Grid in my project..

[2022-05-04 08:46] 72gm commented on #9823
I got the error "Cannot find module 'nx/src/config/workspaces'" when migrating to 14.0.5.... basically none of the nx commands would work... the cli had been left at 13.9.4 , upgrading this to 14.0.5 solved the issue

[2022-05-04 09:01] mehrad-rafigh opened #10125 "add simpleModuleName flag to nestjs library schematic"
- [x] I'd be willing to implement this feature ([contributing guide](https://github.com/nrwl/nx/blob/master/CONTRIBUTING.md))

## Description
Similar to angular libs --simpleModuleName, there should be the same flag for creating nestjs libraries.

## Motivation
Remove redundancy in the name

[2022-05-04 10:18] rao123dk commented on #5701
I am still unable to run cypress over BrowserStack. anyone have idea?
I am using `"@nrwl/cypress": "^13.2.3"`

[2022-05-04 10:33] simpson-du commented on #10111
I am getting the same issue. Is there any easy fix or walk around?

[2022-05-04 10:42] pepicrft commented on #10111
I couldn't find any 😅

[2022-05-04 11:26] ak274 opened #10128 "New Angular MFE Setup | Warning: No required version specified and unable to automatically determine one."
## Current Behavior

After updating the Nx workspace from 13.8.5 to 14.0.5 and updating the apps with nx angular mfe setup from old config with @angular-architects/module-federation... I have started noticing a warning while compiling the apps.

### Issue exist in 14.1.0 too.

[code]
### There were no warnings with old setup.

## Expected Behavior

Compilation Should be successful without warnings

[2022-05-04 12:01] kevinsperrine commented on #10111
I worked around it by simply adding an `&& echo` to the end of my tsx commands... ie: `"build": "node scripts/build.js && tsc --declaration --emitDeclarationOnly && echo"`

[2022-05-04 13:07] leosvelperez commented on #9769
Could you share a repo where this issue can be reproduced?

[2022-05-04 13:32] mattlewis92 opened #10130 "Unable to pass in app name as last argument to nx commands"
## Current Behavior

Passing in a project name as the last argument to an nx command ignores it and instead builds the default project

## Expected Behavior

`nx build --configuration=production another-app` builds the `another-app` application

This used to work fine in `13.9.5` and was broken by `13.10.1`

## Steps to Reproduce
[code]

### Failure Logs

You'll see it runs `nx run app:build:produ

[2022-05-04 13:47] ahinni commented on #10047
I had the same error using 12.10.0.  This is the line that it is failing on:

[code]

I took a look at my nx.json file, and it didn't have a taskRunnerOptions setting in it. I created a brand new workspace and copied what was in there and was able to get past this error.

This is what I added to my `nx.json`
[code]

[2022-05-04 13:49] Gabriellji commented on #6840
Has anyone found any solutions for that?

[2022-05-04 13:49] Gabriellji commented on #6840
Has anyone found any solutions for that?

[2022-05-04 15:05] bopm opened #10133 "Skip Import broken"
## Current Behavior

[code]
## Expected Behavior
It was working before. Around version 13.

## Steps to Reproduce
It's self-describing.

### Environment
[code]

[2022-05-04 15:09] Waterstraal commented on #10086
I'm getting the following error when I try to run `nx migrate --run-migrations`. `nx migrate latest` ran just fine, so it seems that the latest version of nx broke the cli package?
[code]
Installing nx globally does not help.

Repro:
1. `nx migrate latest`
2. `npm i`
3. `nx migrate --run-migrations`

[2022-05-04 15:49] rahulje9 opened #10135 "Not able to run second React Native Project"
I have created a React Native app using the nx cli and it works fine as expected.
I want to create a new React Native app in the same workspace and while running the second app I'm getting error

## Current Behavior
Cannot find project 'project-name'

## Expected Behavior

should be able to run the second app.

## Steps to Reproduce

created workspace and app with the following command

 ` npx cre

[2022-05-04 16:00] Indronil opened #10136 "Build configuration cannot be set in targetDependencies"
## Current Behavior
Current Behavior: One target can be made dependent on other targets by defining the targetDependencies. example:
[code]
But there is no way to define the build target's configuration in the dependency. eg:
If I run
`npx nx affected --target=deploy -c=production --parallel --max-parallel=3 --stage=pr --skip-nx-cache` in my CI/CD pipeline using github actions.
The build target wi

[2022-05-04 16:33] custompro12 opened #10138 "Blank Nx core workspace fails to create an angular app"
## Current Behavior

`@nrwl/angular` fails to create an initial project in a fresh Nx core workspace.

## Expected Behavior

`@nrwl/angular` should be able to create a new app in a fresh Nx core workspace.

## Steps to Reproduce

Run the following commands to reproduce the behavior:

1. `npx create-nx-workspace@latest --preset=core --name=test --nxCloud=false`
2. `cd test`
3. `npm i @nrwl/angular`

[2022-05-04 17:24] wmedia opened #10140 "Error creating express application"
## Current Behavior
Error creating a express (v14.1.1) application, sends this:
Cannot find module 'nx/src/generators/utils/json'

## Expected Behavior
Create a express application

## Steps to Reproduce
 yarn add @nrwl/express -W
 yarn nx g @nrwl/express:application api

### Failure Logs
Cannot find module 'nx/src/generators/utils/json'
Require stack:
- /home/wmediape/angular/example/node_modules

[2022-05-04 17:48] Chowarmaan opened #10141 "Add additional entries to workspaceLayout for other configurable root folders, such as coverage"
Different plugins and configured options place files in directories that are hardset/assumed.  For instance, the Jest testing code coverage, goes under the coverage subdirectory of the workspace.  It would be nice to be able to specify where these should be placed, instead of the assumed directory.

@twittwer/compdoc for instance, puts data under dist/compodoc.

For instance, I might want to use r

[2022-05-04 18:24] dveluchamy commented on #10086
[code]

**UPDATE:** I am able to migrate to latest version, when I execute the above in "Command Prompt"  with Administrative rights.
Now, experiencing errors in react testing library, it could be because of the latest migration updated the react version to v18.

[2022-05-04 18:36] YonatanKra opened #10143 "Setting up an angular app prevents commands from working"
## Current Behavior
I've setup a new workspace with the `web` preset.
`npm start` spins up the app.
I then installed the angular package (`npm i -D @nrwl/angular`).
`npm start` spins up the app.
I then created a new angular app(`npm run nx g @nrwl/angular:app test-app`).
`npm start` fails with the following error:
[code]

## Expected Behavior
`npm start` should run without issues.

## Steps to Rep

[2022-05-04 18:54] fbartho opened #10144 "On nx 14.0.3 -- nx migrate latest fails"
## Current Behavior

[code]

## Expected Behavior
I expect `nx migrate latest` to always succeed -- either it does nothing, or it updates package.json

## Steps to Reproduce

1. Create a package.json with the following packages
[code]
2. create a working nx.json / workspace.json
3. run `yarn nx migrate latest`

### Failure Logs

### Environment

[code]

Related ticket: #10086

[2022-05-04 19:38] spierala commented on #8866
"Workaround": use nrwl/web:rollup: https://nx.dev/packages/web/executors/rollup

See example setup here: https://github.com/nartc/mapper/blob/964c57cf15d3add96941cf8f14a2ffabc492c3bf/packages/core/project.json#L14

With nrwl/web:rollup the compiled lib includes **esm** and **umd** by default. **cjs** can be added optionally.

Not sure, but maybe nrwl/web and nrwl/js should use the rollup build exe

[2022-05-04 19:38] PieterjanDeClippel commented on #10009
@AgentEnder
What do we need to do to get this new version containing this fix?

[2022-05-04 19:49] arabull commented on #10028
As it turns out, https://github.com/nrwl/nx/pull/9942 only partially addressed this issue. That PR took care of the situation where there are two targetDependencies _and dependent projects have both of them_. Before that PR, only the first dependency would run.

What that PR does not address is the situation where a dependent project only has the second of the two dependencies. In that situation,

[2022-05-04 20:02] mwarger commented on #10140
This is also occurring when generating a node application and NX 13.10.3.

Reproduce:
[code]

Cannot find module 'nx/src/generators/utils/json'

[2022-05-04 20:11] arabull opened #10145 "Local cache miss when not forwarding arguments"
## Current Behavior
If a target runs using the `@nrwl/workspace:run-commands` executor and does not forward arguments, it results in cache misses if arguments are passed, even though the arguments are ignored.

## Expected Behavior
It should be a cache hit.

## Steps to Reproduce
1. Have one project with a target that runs a command using the `@nrwl/workspace:run-commands` executor. _The command s

[2022-05-04 20:41] AgentEnder commented on #10140
Can each of you run `nx report` and paste the output here?

[2022-05-04 20:43] AgentEnder commented on #10143
Hey @YonatanKra , it may be unrelated, but some of your @nrwl/* packages don't line up with the version of `nx` you have installed. Aside from `@nrwl/nx-cloud`, all packages under the nrwl scope should generally be set up with the same version.

Can you correct this and check that the issue still reproduces? An easy way to fix this would be to run `nx migrate {v}`, where `v` is the version of nx y

[2022-05-04 20:53] mwarger commented on #10140
[code]

[2022-05-04 20:54] AgentEnder commented on #10141
I'm going to close this out, as the workspaceLayout key is meant as a set of areas for Nx to determine where to place items based on the type of project that they are.

In the examples you gave (re: code coverage reports), these are closer to artifact locations. Artifact locations are determined by the executors themselves. If a plugin author wishes to limit repetition in these, they could support

[2022-05-04 20:54] #10141 closed

[2022-05-04 20:55] AgentEnder commented on #10125
Hey @mehrad-rafigh, this sounds good to me. If you want to port the flag over I can assign the issue to you.

[2022-05-04 21:18] wmedia commented on #10140
Node : 16.14.2
   OS   : linux x64
   npm  : 8.5.5

   nx : 14.0.5
   @nrwl/angular : 13.10.3
   @nrwl/cypress : 13.10.3
   @nrwl/detox : Not Found
   @nrwl/devkit : 13.10.3
   @nrwl/eslint-plugin-nx : 13.10.3
   @nrwl/express : 13.10.3
   @nrwl/jest : 13.10.3
   @nrwl/js : 13.10.3
   @nrwl/linter : 13.10.3
   @nrwl/nest : Not Found
   @nrwl/next : Not Found
   @nrwl/node : 13.10.3
   @nrwl/nx-clo

[2022-05-04 21:23] wmedia commented on #10140
I have deleted the yarn.lock and make yarn install to recreate the lock. after that  the command yarn nx g @nrwl/express:application api worked, and does not show errors and created the application, but now
yarn nx serve api throws a new error:

TypeError: Cannot read properties of undefined (reading 'endsWith')
    at createProjectRootMappings (/home/wmediape/angular/example/node_modules/nx/src/p

[2022-05-04 21:27] #10091 closed

[2022-05-04 21:30] jhockett opened #10149 "nx report failed"
## Current Behavior

[code]

## Expected Behavior

I've never run the command before, so I had no expectations.

## Steps to Reproduce

- Add nx to monorepo that uses lerna, install dependencies
- Update monorepo commands to use nx syntax
- manually invoke `nx report` and see error

This issue may not be prioritized if details are not provided to help us reproduce the issue

### Failure Logs

###

[2022-05-04 21:41] AgentEnder commented on #10144
Hey @fbartho! Do you care to try this again? There have been some fixes published that may have touched this area.

[2022-05-04 21:50] AgentEnder commented on #9662
Hey @joshribakoff-sm! Getting back to this now, it looks like it may need to have `outputs` specified on the build target. What is likely happening is the following:
- Nx builds --prod (cache miss, stores cache of console logs only w/o having file artifacts since no outputs is specified)
- Nx builds (cache miss, no prod, stores output of console logs only)
- Nx builds --prod (cache hit, nx replays

[2022-05-04 22:12] joshribakoff-sm commented on #9662
It's in there. Maybe the issue is related to me renaming `build` to `base-build`? This was necessary to run some codegen command(s) for when the app is build/serve

![Screen Shot 2022-05-04 at 3 11 08 PM](https://user-images.githubusercontent.com/97546767/166833908-ae3ab8ad-80e5-4a78-8dbc-bb3ed11b15e8.png)

[2022-05-04 22:15] joshribakoff-sm commented on #9662
Oh I see you can also add it here https://nx.dev/packages/workspace/executors/run-commands#outputpath

Right now those docs say it just affects Nx cloud. I guess it also affects whether your build will be hermetic when running it locally, is what you're suggesting?

It would be good to have an "official" pattern for hooking in a codegen command for serve/build, it seems like a fairly common use ca

[2022-05-04 22:16] fbartho commented on #10144
@AgentEnder it still fails exactly as described above! let me know if you want me to try to migrate with any particular magic logging CLI arguments or Environment Variables.

[2022-05-04 22:17] StephenStrickland commented on #4159
`nx format:check --verbose` is still broken

[2022-05-04 22:21] AgentEnder commented on #9662
So the reason for the behavior is that the cache hit you are seeing is for the **_build_** target, not the **_build-base_** target. Since the **_build_** target doesn't have any outputs, Nx just replays the terminal.

For this pattern, a more idiomatic way to express the behavior would be to have a target dependency between build and codegen, such that the codegen task was ran.

[2022-05-04 22:32] joshribakoff-sm commented on #9662
Makes sense, thanks.

I tried the `targetDependency` but I need the codegen to run in "watch mode" when I serve the app, which means it will never exit and the serve command will never start up, if I recall correctly

[2022-05-04 22:43] #9359 closed

[2022-05-04 23:22] jinisha commented on #10047
Thanks @ahinni for the suggestion!

I tried what you suggested and I am getting a new error. Any idea how to fix this?

Error: Cannot find module 'nx/tasks-runners/default'
Require stack:
- C:\Users\Development\...\node_modules\@nrwl\workspace\src\tasks-runner\run-command.js
- C:\Users\Development\...\node_modules\@nrwl\workspace\src\command-line\run-one.js
- C:\Users\Development\...\node_modules\

[2022-05-05 01:00] andersonba commented on #8593
Hey guys!
Any updates here?

[2022-05-05 01:10] ahinni commented on #10047
I have no idea other than to try `{}` instead of all of the stuff I put in. ie. `tasksRunnerOptions: {}`... or figure out what that default task runner is, and how to install it.

[2022-05-05 02:20] swatghc opened #10150 "Angular 13 ng cache support"
## Current Behavior
As part of the Angular 13 upgrade, Angular CLI supports persistent disk cache by [default](https://angular.io/cli/cache), as [requested by the community](https://github.com/angular/angular-cli/issues/21545).
 In `angular.json` file it allows us to turn the cache off by this:

[code]
We can also use the command `ng config cli.cache.enabled false` or `ng cache disable` introduced

[2022-05-05 02:50] gokhanoner opened #10151 "Migrating a project that has Jest config already to NX"
### Documentation issue

- [ ] Reporting a typo
- [ ] Reporting a documentation bug
- [x] Documentation improvement
- [ ] Documentation feedback

### Is there a specific documentation page you are reporting?

No

### Additional context or description

There seems to be no documentation about migrating an Angular project that's using jest already. I migrated the project itself without changing the

[2022-05-05 03:34] xiongemi commented on #10043
closing issue since it is not caused by nx 14

[2022-05-05 03:34] #10043 closed

[2022-05-05 03:51] xiongemi commented on #10135
i tried it and I could not replicate this error:

[code]

[2022-05-05 04:06] laggingreflex commented on #4160
Was this fixed? I'm using a Next.js project/app and it's not working in it either.

[2022-05-05 05:10] rahulje9 commented on #10135
@xiongemi I got the same thing while creating the app, but while running it, I got the error I reported.

[2022-05-05 05:14] xiongemi commented on #10135
it works fine for me. how about run the `nx start` with your app name like `nx start your-app-name`.
<img width="627" alt="Screen Shot 2022-05-05 at 1 13 19 AM" src="https://user-images.githubusercontent.com/16211801/166866760-62f33f50-af4d-49b9-8a88-f496f75e2f6d.png">

[2022-05-05 05:35] rahulje9 commented on #10135
@xiongemi are you able to run the second app?

Do I need to do something else after creating the second app?

[2022-05-05 05:43] YonatanKra commented on #10143
Migrating does work!   Thanks!
It is surprising that creating an nx workspace and installing stuff from scratch creates this issue.
This enters into my magic arsenal right after `rm -rf node_modules && npm i` ;)
Thanks for the quick solution!

[2022-05-05 05:43] #10143 closed

[2022-05-05 06:00] pionxzh commented on #10111
PNPM recently released [V7](https://github.com/pnpm/pnpm/releases/tag/v7.0.0), which changed some behavior about the argument.
My current workaround is locking the PNPM version to 6.
[code]

[2022-05-05 06:40] krstns commented on #4513
For anyone trying it now for angular projects (or maybe all?), the line which worked for me is:
```npx json -I -f nx.json -e "this.cli.packageManager = 'yarn'";```

[2022-05-05 08:04] leosvelperez commented on #10009
@PieterjanDeClippel the fix was released in [v14.1.0](https://github.com/nrwl/nx/releases/tag/14.1.0).

[2022-05-05 08:14] #10094 closed

[2022-05-05 08:49] piet-v commented on #869
@sourcier this happens if you omit the `--relative` flag?

[2022-05-05 08:52] meskill commented on #9825
@barbados-clemens The problem happens if there is no `project.json` config inside package.

My project is monorepo based on yarn workspaces. I've tried to follow [migration guide](https://nx.dev/migration/adding-to-monorepo) and just using npm scripts worked fine for me. Then I tried to add jest and got the error above. I don't see any details that having project config is required to add jest.

I

[2022-05-05 09:12] stianmorsund commented on #10062
Hmm, I was looking at the definition at this location, which seems to miss the `skipPackageJson`-property:

https://github.com/nrwl/nx/blob/master/packages/angular/src/generators/library/schema.d.ts
That is the interface used when calling `libraryGenerator`

Is this intended? :)

[2022-05-05 09:17] mattlewis92 commented on #10130
This change breaks compatibility with the angular CLI though, given that nx is meant to be a drop in replacement, surely that's something that's important to keep? It's also not marked anywhere in the release notes as a breaking change.

Our use case for this behaviour is we have an npm script like this:

[code]

and we could build any app before like this via `npm run build app-name`. Now we have

[2022-05-05 09:22] koshpendi commented on #10140
@wmedia the same error

[2022-05-05 09:27] krokofant opened #10154 ".nxignore does not follow .gitignore syntax"
## Current Behavior

*.resx files are not included. Any file in /foo/ is excluded from nx cache/affected checks.
[code]

## Expected Behavior

`*.resx` files should be included and be affected by changes

That is, the common rule of
[code]
should work.

## Steps to Reproduce

Add this kind of rule in .nxignore for some project and try to build it. It will re-use the cache even if the .resx file is

[2022-05-05 09:30] dangviettuan commented on #10039
I have updated it to 14.0.5 but the issue still happened after several libs were created. In my case is 1 error over 10 created libs.

Node : 14.17.6
   OS   : linux x64
   yarn : 1.22.11

   nx : 14.0.5
   @nrwl/angular : Not Found
   @nrwl/cypress : 14.0.5
   @nrwl/detox : Not Found
   @nrwl/devkit : 14.0.5
   @nrwl/eslint-plugin-nx : 14.0.5
   @nrwl/express : Not Found
   @nrwl/jest : 14.0.5

[2022-05-05 09:40] leosvelperez commented on #10062
@stianmorsund it's not intended; it's a typing issue. The actual schema (`schema.json`) does have that property, but it's not reflected in the types for the generator options.

If you're up for adding the `--skip-postinstall` flag, you can also add the missing `skipPackageJson` to the `schema.d.ts` file in that same PR. Otherwise, let me know and I'll address this soon.

[2022-05-05 09:50] stianmorsund commented on #10062
Allright, I'll see what I can do :)

[2022-05-05 11:22] lucasvieirasilva opened #10158 "missing `projectType` property on `@nrwl/js:library` generator"
## Current Behavior
When the `@nrwl/js:library` generates the project, the `project.json` doesn't have the property `projectType: library`.

## Expected Behavior
`@nrwl/js:library` Generator should add the `projectType` property in the `project.json` or `workspace.json`

## Steps to Reproduce

1. Run `@nrwl/js:library` generator:

[code]

### Environment

[code]

[2022-05-05 11:43] JakeGinnivan opened #10160 "Migrate command in Next Steps fails"
## Current Behavior

When I upgraded to the latest release, the instructions say to run `pnpm run nx -- migrate --run-migrations`

<img width="902" alt="image" src="https://user-images.githubusercontent.com/453152/166916216-e68901d9-ae90-48df-a122-c38aecc5a570.png">

This command doesn't work.

## Expected Behavior

Instructions after upgrading should print a command which works.

The correct comm

[2022-05-05 12:25] mark-b-ab commented on #9237
Found the issue: Multiple signals are received by the app:

On the first signal, [NestJS removes all listeners](https://github.com/nestjs/nest/blob/5eedf8a9b1b23cf248561eb876c9dec7d91bf5d5/packages/core/nest-application-context.ts#L197), and the next signal kills the app

A simple way to fix this issue is to add the following code to your main.ts file before NestJS bootstrap.

[code]

It will add

[2022-05-05 13:01] mehrad-rafigh commented on #10125
Hey @AgentEnder this would be great. Thank you very much :)

[2022-05-05 13:06] WonderPanda commented on #6821
Bumping this, I really like the community could benefit from better control over implict dependencies for code generated artifacts

[2022-05-05 13:18] #10158 closed

[2022-05-05 13:23] AgentEnder commented on #10143
FWIW, creating a new workspace and installing packages that match that workspace's version should work, its just that in your repo the packages were misaligned. Its likely that you ran `npx create-nx-workspace` instead of `npx create-nx-workspace@latest`, and then `npm I @nrwl/angular` installed the latest version of the plugin.

[2022-05-05 13:27] meeroslav commented on #9377
Hi @rraziel, I ran some tests today on this branch: https://github.com/meeroslav/test-nx-eslint-core-speed. The solution has been created with the latest version of nx.

Here are the results for:
Node v14
![Screenshot 2022-05-05 at 15 16 05](https://user-images.githubusercontent.com/881612/166930908-cb0d7dc3-c003-4cf3-abe5-70d89c1c39de.png)

Node v16
![Screenshot 2022-05-05 at 15 21 54](https://us

[2022-05-05 13:30] gschuager opened #10163 "Uncaught Error: Automatic publicPath is not supported in this browser"
## Current Behavior

Newly created application using the react preset randomly fails to load in Firefox

## Steps to Reproduce

[code]

Opening `http://localhost:4200/` in Firefox and reloading several times results in the mentioned error almost half of the time.

The issue does not seem to occur in Chrome.

### Failure Logs

[code]

This is the browser view when it fails:

![image](https://user-i

[2022-05-05 13:37] leosvelperez commented on #10128
Thanks for reporting this!

This issue was fixed on https://github.com/nrwl/nx/pull/10129. Please keep an eye on the releases to get the fix.

[2022-05-05 13:37] #10128 closed

[2022-05-05 13:41] meeroslav commented on #9638
Actually, this is a feature, not a bug.

Nx commands that (potentially) run target on multiple projects (such as `affected` or `run-many`) now by default run in the compact view. For `linter`, this means that warnings are hidden. If you would run the same command with `--verbose` you would achieve the same result:

[code]

[2022-05-05 13:41] #9638 closed

[2022-05-05 14:04] barbados-clemens commented on #9825
npm scripts are new-ish so there is just some growing pains with it. I assume it's because when we read the project configuration for this project that it comes back without targets. so the generator is [hitting a null ref when checking for an existing test target](https://github.com/nrwl/nx/blob/a2b704df54a9b6b554972bff3010212041bada83/packages/jest/src/generators/jest-project/lib/check-for-test-

[2022-05-05 14:05] #10138 closed

[2022-05-05 14:28] #10054 closed

[2022-05-05 14:28] rraziel commented on #9377
Hello @meeroslav,

I don't think the environment (as in versions) matters much, but rather the number of libraries: I have ~500 libs (as in Nx projects) in the workspace.

So:

- in your test with 1 lib and 1 app, worst case it'll go through both to lint just the lib
- in my workspace it'll go through 500 libs to lint just 1 lib 😅

Note: but just in case, it's Nx 13.2.2 on Node 16

[2022-05-05 14:50] barbados-clemens commented on #10100
I am rebuilding a workspace to double-check all of this.

but in the meantime can you try using require syntax for imports? we are running the ts project register in [our e2e tests](https://github.com/nrwl/nx/blob/master/e2e/jest/src/jest.test.ts#L55) so that should work, but I just looked at them and they are using `const {} = require()` instead of `import {} from ''`

but that should _only_ be n

[2022-05-05 14:58] jackpordi commented on #9761
@gioragutt I get a "asset path must start with the project source root" error if I do that.

[2022-05-05 15:17] Marcelh1983 commented on #10100
Hi @barbados-clemens thanks for checking and helping! Can you reproduce the error I got with a new nx setup and a jest test using an external library. In my case the error occurs when I'm using an external component from node_modules that contains an `import` I'm not sure if it's the same error/cause as @marimendez88. [repo](https://github.com/Marcelh1983/nx-jest-error)

[2022-05-05 16:04] AgentEnder commented on #10150
@swatghc You should be able to set this in `nx.json` under the cli property, similar to how it would work in angular.json. Do you care to check?

[2022-05-05 16:05] barbados-clemens commented on #10100
I was able to get the data lib to pass via adding
[code]
to the jest.config.ts and then `allowJs: true` in the tsconfig.

the testjest app still seems to be having issues even with the `transformIgnorePatterns` as the app.spec.tsx is the issue there. which should be picked up via the ts-jest via the tsconfig.spec.json which is odd.

[2022-05-05 16:31] Marcelh1983 commented on #10100
@barbados-clemens thanks, That works!

[2022-05-05 17:04] bfischer1121 opened #10171 "Exclude npm dependencies unused by react-native (sync-deps)"
- [x] I'd be willing to implement this feature ([contributing guide](https://github.com/nrwl/nx/blob/master/CONTRIBUTING.md))

## Description
Better exclusion of unused npm dependencies within the react-native `sync-deps` executor.

## Motivation
We have libs that use one npm library for web and a different one for native. We distinguish their use within metro and esbuild's dep trees by using `foo

[2022-05-05 17:47] hubertkuoch opened #10172 "`create-nx-workspace` command not working with `pnpm` v7"
## Current Behavior
When running `pnpx create-nx-workspace@latest` (v14.1.1) with the latest version of `pnpm`(v7.0.0), the dependencies installation fails.

## Expected Behavior

It should install without error as it does with `pnpm` v^6.

## Steps to Reproduce
[code]

[2022-05-05 18:01] LuckeeDev commented on #10086
@dveluchamy I tried to execute the command inside the Command Prompt with admin rights, too, but without success.

[2022-05-05 18:05] aaronmcadam commented on #8914
I'm trying to do the same as @jacob-israel-turner. I don't want to have to reimplement the generator just to make some small changes to the template.

[2022-05-05 18:13] #9825 closed

[2022-05-05 18:34] hcharley opened #10173 "Docs: add a link executor docs header for related "Discussions" and/or "Issues" (link can contain a label querystring filter)"
### Documentation issue

- [ ] Reporting a typo
- [ ] Reporting a documentation bug
- [x] Documentation improvement
- [ ] Documentation feedback

### Is there a specific documentation page you are reporting?

Enter the URL or documentation section here.

https://nx.dev/packages/node/executors/webpack

### Additional context or description

Provide any additional details here as needed.

#### Docs

[2022-05-05 19:24] aaronmcadam commented on #8914
@jacob-israel-turner Here's my custom generator based on the built in one. My needs are very simple, I don't need all the extra options. But this might help you get started:

[code]

[2022-05-05 19:32] g3tr1ght commented on #2839
Threads like that get me wondering as to why "caching feature" is so involved and tangled in the core design. My personal take is one shouldn't design any solutions around "caching" concept. One should be able to come up with a basic design and add **optional** features like caching atop which consumers can switch on/off based on the specific usage requirements. Caching has always been an optional

[2022-05-05 20:27] bhuber2010 commented on #10086
This worked for me finally, and I had upgraded to pnpm v7 also...

- added a `npm migrate` script = `nx migrate --run-migrations`
- deleted node_modules
- `pnpm i`
- `pnpm add nx`
- `pnpm run migrate`

Now I feel not all that is actually necessary and likely can be condensed down, but it's exactly what I stumbled so figured I'd share. Now that I'm good for now, unfortunately don't have the time to

[2022-05-05 20:32] meeroslav commented on #9377
Ok, I see what you mean. I just tried on a repo with ~60 projects and `nx lint` run  went to 4s, while `eslint` remained around 1s. I will look into this more deeper

[2022-05-05 20:39] meeroslav commented on #3161
Try with the latest version or at least some v13 and let me know if it still happens.

[2022-05-05 21:56] AgentEnder commented on #10172
Hey @hubertkuoch! This was fixed in 14.1.3, so I'm going to close this out. Thanks for the report!

[2022-05-05 23:04] jhockett commented on #10149
This is likely a non-issue. I got `nx report` and `nx graph` confused. Sorry about that!

[2022-05-05 23:04] #10149 closed

[2022-05-05 23:23] SynergyEvolved commented on #9946
People have been commenting about this bug in this closed issue for a while https://github.com/nrwl/nx/issues/8779.  There is a hint to the problem by sorin-davidoi in the issue.

[2022-05-06 00:20] #6856 closed

[2022-05-06 00:20] #5396 closed

[2022-05-06 00:21] #6645 closed

[2022-05-06 02:26] timothymiller opened #10177 "Support Next.js with Expo for Web"
- [x ] I'd be willing to implement this feature ([contributing guide](https://github.com/nrwl/nx/blob/master/CONTRIBUTING.md))

## Description

Today, `@nrwl/next` & `@nrwl/expo` support Next.js and Expo apps respectively, but not in the same application.

[This link ](https://docs.expo.dev/guides/using-nextjs/)shows the use case

It would be wonderful if there was first party support to implement

[2022-05-06 02:58] shawnmclean commented on #4620
I'm not sure the OP's use case and what everyone else here is talking about, the same issue as mine, it seems like this is out of the box stuff?

I have a monorepo with one package having a dependency upon both external and internal packages, I need to publish it. When I built it, I get all my deps in the `peerDependencies`. I want everything bundled in one js file that I can publish.

Is this the

[2022-05-06 05:41] ak274 commented on #10094
@leosvelperez I have updated my project to latest release and now compilation failed with different error

![image](https://user-images.githubusercontent.com/16129430/167073741-a2a46b9c-f966-4495-9dcc-78aee2e4743c.png)

[2022-05-06 05:44] danghung-dev commented on #10140
I have the same error when run storybook
[code]

Here is my report
[code]

[2022-05-06 06:50] ZouYouShun opened #10178 "Support additionalEntryPoints for `@nrwl/web:webpack`"
- [x] I'd be willing to implement this feature ([contributing guide](https://github.com/nrwl/nx/blob/master/CONTRIBUTING.md))

## Description
Hi Nx team, when I use `@nrwl/web:webpack`, I want to use that with my chrome-extension app,

and I found that additionalEntryPoints only work in `@nrwl/node:webpack`,

although I can implement that inside my custom webpack, but I think that will be good whe

[2022-05-06 06:50] sdedieu commented on #9784
I also notice that my remotes apps lose their style appearance if the Tailwind classes are in the HTML files.
But if the Tailwind classes are in the css component files with the `@apply` directive, they don't.

It is a poor workaround as using the `@apply` directive isn't considered as a good practice unless you're forced to, and using it everywhere in your remote files kinda make Tailwind loosing

[2022-05-06 07:05] rahulje9 commented on #10135
@xiongemi somehow it is not working for me.
any idea why I'm getting the [other error](https://github.com/nrwl/nx/issues/10135#issuecomment-1118178286)

Now I'm unable to run anything.

[2022-05-06 07:06] rfprod commented on #10150
@swatghc

[code]
https://github.com/rfprod/nx-ng-starter/blob/main/nx.json#L5-L15

Your failure log is weird, is something wrong with your `angular.json`?

Whan I execute `nx cache` it logs
[code]
which seems correct.

[2022-05-06 07:36] stianmorsund commented on #10062
I made a PR for the missing skipPackageJson-typing (https://github.com/nrwl/nx/pull/10179). I'll look into skipping postinstall later :)

[2022-05-06 07:45] Coly010 commented on #9784
Yes, because Angular will bundle the CSS for that component in the JS bundle, which is fetched correctly.

We know it’s poor practice with Tailwind, but it’s a limitation from Module Federation currently

[2022-05-06 07:57] #10133 closed

[2022-05-06 08:23] PoProstuMieciek commented on #10049
I think this issue needs to get more attention

[2022-05-06 09:08] hubertkuoch commented on #10172
Hi @AgentEnder - Just tried the command again and am still facing the same issue unfortunately, just pasting some screenshots below to show exactly what I get as I cannot find out the reason for this, sorry about that.

From terminal:

<img width="1139" alt="Screenshot 2022-05-06 at 10 58 25" src="https://user-images.githubusercontent.com/50402245/167100771-a3488999-6275-4a6b-a19c-bffd2675f2d9.png

[2022-05-06 09:35] hubertkuoch commented on #10172
I also tried the following:
- scaffold a new workspace with `cnw` and `pnpm`@^6
- delete `node_modules` and `pnpm-lock.yaml`
- re-install with `pnpm`@7

<img width="1135" alt="Screenshot 2022-05-06 at 11 33 28" src="https://user-images.githubusercontent.com/50402245/167106386-97c32274-ac40-4e55-a670-c0994ba5f79b.png">

[2022-05-06 12:35] avington opened #10182 "Adding a Kendo Dropdown breaks Module Federation with @angular/localize error"
### Description of Issue
When I add a Kendo Dropdown to Angular Module Federation I get the error:

ERROR Error: It looks like your application or one of its dependencies is using i18n.
Angular 9 introduced a global `$localize()` function that needs to be loaded.
Please run `ng add @angular/localize` from the Angular CLI.
(For non-CLI projects, add `import '@angular/localize/init';` to your `polyf

[2022-05-06 12:54] svmn commented on #9239
It's not only `process.exit()`, it's even not exiting on empty script (implicit node shutdown). Seems like the `watch` flag doesn't change any behavior.

[2022-05-06 13:06] canserkanuren opened #10183 "`nx run-many --target=lint --all --parallel 5` fails on Jenkins"
## Current Behavior

When running the following command: `nx run-many --target=lint --all --parallel 5`, my build on Jenkins fails.

## Expected Behavior

The behavior would be the command executing correctly since it is working in a local environment (and not in a CI environment)

## Steps to Reproduce

I have recreated a project from scratch with the only command being the command above.

### Fa

[2022-05-06 13:14] canserkanuren commented on #10183
Nevermind, this is related to the image used behind in the Jenkins runner, which uses a node12 and, from what I understand, is not compatible with nx.
I switched to a node14 image and it worked perfectly :)
Thanks!

[2022-05-06 13:14] #10183 closed

[2022-05-06 13:45] gschuager opened #10184 "Allow wildcards in nx.json implicitDependencies"
## Description

Allow specifying multiple projects in **nx.json** `implicitDependencies` using wildcards.

## Motivation

I have a **./backend** folder where I group several nx projects (apps and libs), which are named with the prefix `backend-`; at the root of that folder there are some configuration files that affect all the mentioned projects.

I need some way to specify an implicit dependency

[2022-05-06 14:54] vincent-thomas opened #10186 "deploy multiple apps to different vercel projects"
### Discussed in https://github.com/nrwl/nx/discussions/6275

<div type='discussions-op-text'>

<sup>Originally posted by **salzhrani** July  6, 2021</sup>
The documentation explains how deploy a single app. Also, it recommends agains changing the root folder. how can we configure nx/vercel to   to deploy multiple apps to different projects properly and without triggering builds for other projects

[2022-05-06 14:54] yharaskrik opened #10187 "Using ngx-bootstrap breaks mfe setup due to bad package.json name"
## Current Behavior

When trying to use `ngrx-bootstrap/carousel` in our application that is using MFE we get

![image](https://user-images.githubusercontent.com/9469090/167157766-04dfe4d9-ac13-411e-957c-066d81f25c7c.png)

I have tracked that down to the package.json for ngx-bootstap/schematis using the name `schematics` not `ngx-bootstrap/schematics` for the `name` property. Don't think schematic

[2022-05-06 14:54] VincentThomas06 commented on #10049
Same

[2022-05-06 15:41] elado commented on #9232
I can confirm that wrapping with quotes works. In the terminal I had to escape the quotes with `\"`.

[2022-05-06 15:46] barbados-clemens commented on #6615
@tyler-morrison if you want to start giving cypress 10 PR some testing to see if there's any show stoppers that would be awesome!
1. right now there isn't a cypress v10 tag on npm so it's hard coded to install a build from a semi-recent commit, but is the macos version. you can override this by manually install the cypress v10 for you OS as needed.
2. I would love to get feedback on the e2e conver

[2022-05-06 15:51] AndrewTelkamp commented on #10172
+1, also seeing this issue

[2022-05-06 15:53] AgentEnder commented on #10172
Hmmm, interesting. Let me reach out to the people who worked on the fix.

[2022-05-06 15:53] barbados-clemens commented on #6615
Just to also note, we are not going to desperate the storybook/cypress testing generators/support. While there is some overlap. Component testing doesn't cover all use cases that storybook/cypress does. mainly still having a documentation site along with testing UI components.

this makes sense in terms of creating UI/Component libraries where you want to have tests for the stories. Cypress Compon

[2022-05-06 15:53] #6615 closed

[2022-05-06 16:11] meeroslav commented on #10172
Thank you for reporting it. We will have a look as soon as possible.

In the meantime, can you try running `npx create-nx-workspace@latest --package-manager=pnpm` and see if that gives the same results?

[2022-05-06 16:15] hubertkuoch commented on #10172
Hi @meeroslav - yes it fails as well (with empty error log)

<img width="1058" alt="Screenshot 2022-05-06 at 18 13 19" src="https://user-images.githubusercontent.com/50402245/167171773-47aa39c7-b165-4dec-b839-e08b7b36cdc7.png">

[2022-05-06 16:39] ndcunningham commented on #9981
Took a look at this and it works on a fresh install:
I ran:
- `npx create-nx-workspace@lataest my-workspace`
- Chose `nextjs`
- Ran `npm start` and `nx build` Both ran to succession.

It does seem like you found a workaround using WSL so I will close the issue.
If you do find that you are running into another problem please feel free to open another!

[2022-05-06 16:39] #9981 closed

[2022-05-06 17:56] davidmendezph commented on #1933
Sharing here in case it helps someone:
This is my minimum server:
[code]

[2022-05-06 18:07] meeroslav commented on #10172
Thanks, I will get to it as soon as possible. Sorry for the inconvenience

[2022-05-06 18:40] rfprod commented on #10184
@gschuager nx developers and maintainers know better, but from my experience and in my subjective opinion what you want to achieve should be configured on the project level instead of global, and on your own because the case is too specific. See here https://nx.dev/configuration/projectjson
You should probably put your common files in a separate library, so that you can reference it as a single pr

[2022-05-06 18:49] kryptus36 commented on #3427
+1 for a manual guide in interim

[2022-05-06 18:56] rfprod commented on #10117
@barbados-clemens seem like ts-jest 28 is now available https://www.npmjs.com/package/ts-jest

[2022-05-06 19:33] AgentEnder commented on #10184
@rfprod I think one issue in this case is that the project level implicit dependencies cannot reference files, and the only way to say "project X depends on file Y" is through implicit dependencies at workspace root.

Rather than allowing wildcards like this though, we have been discussing the ability to specify tags e.g:
[code]

I think this would cover the functionality in a bit more flexible ma

[2022-05-06 19:57] barbados-clemens commented on #10117
Looks like it. there are still @types/jest and jest-preset-angular that need to drop support for jest v28 as well.
jest-preset-angular hast a next tag and expected to release soon-ish.

[2022-05-06 21:24] meeroslav commented on #10172
Unfortunately, I'm unable to reproduce it on my machine

<img width="999" alt="Screenshot 2022-05-06 at 23 21 19" src="https://user-images.githubusercontent.com/881612/167218076-c1803750-b348-4c44-b30f-e7942d7de0ed.png">
<img width="994" alt="Screenshot 2022-05-06 at 23 21 42" src="https://user-images.githubusercontent.com/881612/167218116-c5b5614f-f9b4-4436-a685-06aed4a41979.png">

Can you let me

[2022-05-06 21:37] gschuager commented on #10184
Thanks both for your inputs.

@AgentEnder your proposal is certainly more flexible and it would allow us to accomplish the same objective.

[2022-05-06 21:38] FrozenPandaz commented on #10178
Hey, I'm curious what kind of additional entry point you are adding? Is it lazy loading a file or is it something else?

[2022-05-06 21:44] FrozenPandaz commented on #10173
Can you be more specific about the workflow where you think this link would be useful?

Is it for someone who has an issue and is reading the docs?
Is it for someone who has never used the executor and wants to see discussion?

[2022-05-06 21:46] FrozenPandaz commented on #10115
Could you please provide a repo as an example?

Is this not a `js/ts` repo?

[2022-05-06 22:05] hubertkuoch commented on #10172
- Node version: 16.15.0
- Npm: 8.5.5
- OS (+CPU architecture arch): MacOS Monterey Apple M1 Pro ARM64

[2022-05-06 22:06] #9946 closed

[2022-05-06 22:25] ndcunningham commented on #9617
@writam-roy Have you tried using the latest Nx and Nextjs?

You could also remove `plugin:@nrwl/nx/react-typescript` which should resolve the conflicts.

[2022-05-07 00:19] #9372 closed

[2022-05-07 00:19] #9700 closed

[2022-05-07 01:20] jaysoo commented on #10177
Hi @timothymiller it's definitely something we can look into. It looks like `@expo/next-adapter` is experimental so I'm not sure if we will integrate it at this point.

You can definitely integrate it after first generating an app using `nx g @nrwl/expo:app`. If I have some time I'll see if I can create an example for this.

Happy you chat further about this!

[2022-05-07 04:15] laggingreflex opened #10193 "aliases.join is not a function"
## Current Behavior

Some command:

* ` nx generate @nrwl/react:component --help`
* ` nx generate @nrwl/react:hook --help`

throw this error:

[code]

Other commands work as expected, like `@nrwl/react:lib --help`. So probably a problem only with `:component --help` & `:hook`

## Expected Behavior

Should display help.

## Steps to Reproduce

* Run `nx g @nrwl/react:component --help`
* Or `nx g @n

[2022-05-07 07:16] ZouYouShun commented on #10178
Hi @FrozenPandaz , I use that in chrome development,

there have many entry points for that, like `background`, `content_scripts`, that is not lazy load file

https://github.com/lxieyang/chrome-extension-boilerplate-react/blob/master/src/manifest.json

[2022-05-07 08:13] vire commented on #9397
I have the same issue, newly generated workspace

[code]

[2022-05-07 11:52] trungtrong commented on #9976
Hi nx team, I got this same issue

**Issue:**

`$ nx serve shop
nx.js run [project][:target][:configuration] [_..]

Run a target for a project
(e.g., nx run myapp:serve:production).

You can also use the infix notation to run a target:
(e.g., nx serve myapp --configuration=production)

You can skip the use of Nx cache by using the --skip-nx-cache option.

Options:
      --version        Show versi

[2022-05-07 12:58] kokoskiwi commented on #8297
hi are there any new news

@rubiagatra @omardoma did you try out what @Javadebi said? no problems anymore?

@Javadebi so you mean I just create with `nx g @nrwl/node:application my-new-app` a node app, and just use Fastify as a library? and there won't be any issues? because I am a noob with nx, overall i am a junior dev, and my biggest fear is, that if I go off the road and use off-the-road stuff

[2022-05-07 13:28] AgentEnder commented on #9976
@trungtrong this is a different error, see the stack traces are different. My gut says you may have a project with no `root` set on it.

If that's not it, open a new issue so I can be tracked

[2022-05-07 15:48] hubertkuoch commented on #10172
Hi @meeroslav

May I ask whether you actually have a next.js app in the `apps` folder when you run the same commands?

Just asking because I realised today that (not sure whether any of the below are related/relevant to this issue though):
- when I uninstall/re-install `pnpm` via the [shell script](https://pnpm.io/installation), the `cnw` command runs without error BUT when opening the workspace,

[2022-05-07 16:11] zach-herridge commented on #10140
I get the same error

[code]

[code]

[2022-05-08 00:20] #9615 closed

[2022-05-08 00:20] #9439 closed

[2022-05-08 04:31] Marr11317 commented on #10086
@bhuber2010 Thank you installing nx solved it, though tsc is still not working (see #10162 )

[2022-05-08 06:56] mkhib commented on #10117
When updated to jest 28 my test ran to this issue:
 Cannot read properties of undefined (reading 'html')

[2022-05-08 08:35] JakeGinnivan commented on #5710
As a suggestion on how to proceed on this @AgentEnder @FrozenPandaz

I think guidance needs to be written in the executor plugins documentation that argument pass-through is not supported because NX needs to understand the commands for each executor so it knows what args to pass to dependent targets etc. (I would need help writing the reasons).
This doco also needs to acknowledge that this means t

[2022-05-08 08:59] rfprod commented on #10117
@mkhib It's most probably jest-preset-angular. It has to be updated to support jest 28.
If you're impatient, give this pre-release a try https://github.com/thymikee/jest-preset-angular/releases/tag/v12.0.0-next.1
However, no guarantees it will work, I haven't tried.

[2022-05-08 09:09] HackPoint opened #10197 "After adding any of generators the global nx starting crashing"
Nx Report:
[code]

[2022-05-08 09:28] HackPoint commented on #10197
@vsavkin @jeffbcross

[2022-05-08 12:08] kentytik commented on #7731
This solved it. Thanks

[2022-05-08 12:15] joestrkr opened #10199 "Cannot serve production version of app"
## Current Behavior
When trying to serve a production version of my react app, I always get the warning about conflicting NODE_ENV values. This only happens with serve. Building the app works as expected for both dev and prod modes.

To make sure that it is not some configuration issue in my repo I created a fresh workspace with nx 14.1.4 and it is totally reproducible. The build is always running

[2022-05-08 14:02] laggingreflex opened #10200 "[Windows] Your supportFile is missing or invalid: index.ts\index.ts"
## Current Behavior

e2e tests (in a new React app) fail on Windows.

It works on WSL & Docker, so probably a windows issue ..again (as #9981, or is it just me?).

The main error below:

[code]

It seems to be pointing to a weird path: `…\index.ts\index.ts`

If I then actually create this file (move `index.ts` -> `index.ts\index.ts`) then it works.

## Expected Behavior

e2e should run on a clean

[2022-05-08 16:37] radulle opened #10201 "Extend dev-server to be usable without webpack target"
- [x] I'd be willing to implement this feature ([contributing guide](https://github.com/nrwl/nx/blob/master/CONTRIBUTING.md))

## Description
`@nrwl/web:dev-server`'s `devServerExecutor` is tightly coupled to `@nrwl/web:webpack`'s options in `project.json` which means that `devServerExecutor` can not be used programmatically. I propose adding `overrideTargetOptions` (`WebWebpackExecutorOptions`) o

[2022-05-08 22:24] marwan38 commented on #10197
I had this issue as well, I found it to be caused by mismatching nx versions between packages, and I had forgotten to run `npm i` after upgrading the packages.

[2022-05-08 23:15] besarmemishi opened #10204 "ReactJS: Add @babel/preset-flow to the 'presets' section of your Babel config to enable transformation."
## Current Behavior
Cannot build the project.

## Expected Behavior
Build the project

### Failure Logs

[code]

.babelrc
[code]

babel.config.json
[code]

### Environment
[code]

[2022-05-08 23:25] besarmemishi commented on #10204
Fixed the issue. For some reasons, there was no .babelrc file on the generated library which I was referencing.

[2022-05-08 23:25] #10204 closed

[2022-05-08 23:35] oliverkierepka opened #10205 "@nrwl/js:library — no root entry in project.json causes nx to throw an error"
## Current Behavior
Running `npx nx generate @nrwl/js:library myTestLib --importPath=@mycompany/myTestLib --publishable --tags=myTestLib` to create a non-angular library in an angular workspace causes nx to throw an error.
The generated `project.json` is missing  the `{ root: "myTestLib" }` entry.

## Expected Behavior
The @nrwl/js generator scaffolds the json to have a root field containing the l

[2022-05-08 23:45] oliverkierepka commented on #10205
What i saw just by running nx report is that @nrwl/schematics is "Not found". Not sure if this is needed by @nrwl/js to correctly scaffold the project.json for a library.

[2022-05-09 01:39] jiayisheji commented on #10140
I error from e2e testing:

[code]

Report complete - copy this into the issue template

[code]

[2022-05-09 03:32] mwarger commented on #10140
I tried another new app.  By using the `create-nx-workspace --preset empty`, it landed me on nx 13.X.  I tried creating multiple apps and got this same error.  However, I then did an `nx upgrade latest` without having created any apps.  This put me on the latest version of nx (14.1.4) and I was able to create apps without any issues (this includes the express app that failed for me as noted above)

[2022-05-09 04:01] swatghc commented on #10150
Thanks @AgentEnder and @rfprod , it works as you suggested. Appreciate your help

[2022-05-09 04:01] #10150 closed

[2022-05-09 05:10] MikoVelascoRamirez commented on #8709
The link is down.

[2022-05-09 05:40] AsimNet commented on #10140
I just had this issue after upgrading to: `14.0.1`
and it was solved after running these commands (upgrade Nx):
[code]

Reference: https://nx.dev/using-nx/updating-nx

[2022-05-09 06:33] bboyz269 commented on #9017
It seems this issue won't be resolved for quite some time. I created a sample repo [nx-next-i18next-standalone](https://github.com/bboyz269/nx-next-i18next-standalone) building a minimal docker image that works with multiple apps nx workspace. Thanks to all comments from this thread!
There's also next-i18next integration if you're interested.

[2022-05-09 07:40] abrahamsaanchez commented on #9645
Updated the example repo to the 14.1.4, the error still remaining....

[code]

[2022-05-09 08:02] oschlegel opened #10206 "Name of remote module required to be remoteEntry.mjs"
Hi, i'm integrating your module federation features for a projct and found out that you required the name of remote modules for be `remoteEntry.mjs` [here](https://github.com/nrwl/nx/blob/master/packages/angular/mfe/mfe.ts#L61). This is a issue since i have to integrate remote modules which are named differently. Wouldn't it be a better approach to check if `remoteUrl` already includes the filenam

[2022-05-09 09:19] Coly010 commented on #10182
Hey! 😄

You can remove `@angular/localize/init` from your remote.

Then in the `module-federation.config.js` of your Host application, add the following:

[code]

It should look like this:

[code]

I'll add some built-in allowances for this package however as it's expected to be eagerly consumed

[2022-05-09 09:35] Coly010 commented on #10110
It's not possible within the `withModuleFederation` helper, but you could extend the webpack config to override it, or set up a manual webpack configuration to do it.

We would not recommend doing this with Angular 13+ apps however.

What is your use case for needing this?

[2022-05-09 10:28] #10182 closed

[2022-05-09 10:41] madipta commented on #10008
I am having similar problem,,

**Command:**
  `npx nx migrate latest` / `yarn nx migrate latest` (I tried both)
  I also tried delete node_modules folder and yarn cache clean --all

**Error Messages:**
Command failed: yarn add -W @nrwl/cypress@14.1.4
warning package.json: No license field
warning No license field
error https://registry.yarnpkg.com/@nrwl/cypress/-/cypress-14.1.4.tgz: Extracting tar

[2022-05-09 11:26] Nick-Lucas opened #10210 ""Error: Cannot find module" for monorepo package during development restart (NestJS/Node executor)"
## Current Behavior

I have a NestJS API with several other monorepo packages being imported. During development the build is fine, and making changes to files causes a code rebuild/restart as expected, but only around 3 times. After a few rebuilds I get the following error:

[code]

The only way to resolve this is to exit the process and start it again.

The project graph looks like this:

![imag

[2022-05-09 11:48] #10062 closed

[2022-05-09 12:44] dermyhughes opened #10211 "@nrwl/react:stories - ignore components"
## Description
Apologies if this already exists, I was unable to find anything in the docs. I require a way to ignore some components from @nrwl/react:stories.

## Motivation
I have an icon library, each as a React component, but I don't want a story for each individual icon. I have a single story that maps all the icons for documentation purposes.

## Suggested Implementation
A flag in the `nx ge

[2022-05-09 13:03] maxs-rose opened #10213 "nx does not declare typescript as a dependency for yarn 2+"
## Current Behavior

Warning when doing `yarn install` or `yarn add nx` a warning is produced
[code]

## Expected Behavior

No warning.

## Steps to Reproduce

1. `yarn init` in a new folder
2. `yarn set version berry`
3. `yarn add nx@14.1.4`

Here is the relevant section of the yarn docs https://yarnpkg.com/advanced/error-codes#yn0002---missing_peer_dependency

[2022-05-09 13:43] raphael22 opened #10215 "maxWorkers nor memoryLimit allowed by @angular-devkit/build-angular:browser executor."
## Current Behavior

Nx won't allow option maxWorkers nor memoryLimit as described in documentation: https://nx.dev/cli/build#maxworkers
Neither project.json nor workspace.json seems to accept it.

## Expected Behavior

Nx should allow maxWorkers option.
Look like a regression, this ticket seems related: https://github.com/nrwl/nx/issues/2856

## Steps to Reproduce

Create a fresh workspace: `npx

[2022-05-09 13:49] leosvelperez commented on #10187
hey @yharaskrik!

Could you please retry with the latest version? We recently released a [fix](https://github.com/nrwl/nx/pull/10129) that should have addressed this issue. Another [fix](https://github.com/nrwl/nx/pull/10216) is in progress to address a separate issue that can happen when collecting those secondary entry points for MF builds.

[2022-05-09 14:02] barinascode commented on #8646
nx serve
   spawn E2BIG

[2022-05-09 14:22] barbados-clemens commented on #10117
@mkhib you probably are needing the same version match for jest-environment-jsdom if I had to guess and like @rfprod said if you're needing jest 28 and angular then you'll be needing the updated jest-preset-angular version

[2022-05-09 14:24] barbados-clemens commented on #8709
@MikoVelascoRamirez https://github.com/nrwl/nx/issues/10100#issuecomment-1118700766

[2022-05-09 14:36] #10187 closed

[2022-05-09 14:51] ArielGueta opened #10218 "Can't migrate to latest version"
I'm currently using `v13.2.2` and when running `npx nx migrate latest` I get this:

<img width="1346" alt="image" src="https://user-images.githubusercontent.com/20522870/167436407-476e05ba-4a3e-4fd1-bbd6-0a76ab2455a1.png">

Why it doesn't fetch the libraries? Any way I can help debugging it?

[2022-05-09 14:52] NiklasPor opened #10219 "@nrwl/web:rollup builder breaks builds with differently named entry files"
## Current Behavior
Building a package with a differently named entry file. E.g. `public-api.ts` instead of `index.ts` breaks the build. The generated `package.json` will point to `index.umd.js` & `index.esm.js` files instead of `public-api.umd.js` & `public-api.esm.js`files.

Executor setup:
[code]
Folder output:
![image](https://user-images.githubusercontent.com/13211347/167435885-f653bddf-4f18-

[2022-05-09 15:34] rjaguilar commented on #8019
Can only buildable libraries work with remix ?

[2022-05-09 15:34] ppalmeida-vakt opened #10221 "Custom Webpack Config: resolve.alias being ignored for global modules (like react)"
## Current Behavior

## Expected Behavior

## Steps to Reproduce

This issue may not be prioritized if details are not provided to help us reproduce the issue.

### Failure Logs

### Environment

[2022-05-09 16:18] leosvelperez commented on #9789
Thanks for reporting this!

Unfortunately, there's little we can do about these. The issues need to be fixed by those third-party packages. All the errors shown in the snippets of this thread seem to be wrong `peerDependencies` configuration in those packages (`@storybook/angular`, `@angular-devkit/build-angular`, and `jest-preset-angular`). You could safely force the installation for those as the

[2022-05-09 16:32] #8869 closed

[2022-05-09 18:56] gioragutt opened #10223 "github npm registry does not allow custom fields on `npm view`, breaking migrations"
## Current Behavior

[Discussion on slack](https://nrwlcommunity.slack.com/archives/CMFKWPU6Q/p1650630724184429).

`nx migrate` relies on `npm view` to get information about migrations to run from updated packages, specifically by getting the `ng-update` or `nx-migration` fields.

However, in the case of packages that reside in the github package registry, its implementation of `npm view` does not

[2022-05-09 19:20] gioragutt commented on #10218
Can you show the output of `nx report`?

[2022-05-09 19:37] demitri2004 commented on #3203
+1

[2022-05-09 19:42] Pandalovespink commented on #10110
Hello,
Sorry, this is actually for my React project with the dynamic module federation. It attaches the remoteEntry.js file at run time and then load the container/Module. I originally had the module federation configuration's library type as 'var'.
`new ModuleFederationPlugin({
        name: 'mf1',
        filename: 'remoteEntry.js',
        library: {
          type: 'var',
          name: 'mf1'

[2022-05-09 19:51] fbartho commented on #10144
@AgentEnder this was introduced by #9849, embedding the context here:

Specific comments found here:
- https://github.com/nrwl/nx/commit/a162bfb420c2421319bdb7abdcefe7ecdc32fecb#r73241995
- https://github.com/nrwl/nx/commit/a162bfb420c2421319bdb7abdcefe7ecdc32fecb#r73241356

Please let me know if you need anything further, if necessary I can potentially submit a PR for this issue as it's still cau

[2022-05-09 19:53] fbartho commented on #10144
Further info: this sometimes, but not always* replicates with a global install of `nx`, but it always replicates in our project when using the package.json-based install of `nx`.

*:  different developer machines see different behavior

[2022-05-09 20:19] RAlhawash commented on #7844
if someone is still having issues, add `<rootDir>` at the beginning of transformIgnorePatterns path, especially jest.config.js files inside libs, if the lib generator doesn't add it.
e.g.
[code]

[2022-05-09 20:25] gokhanoner commented on #10151
any update on this one?

[2022-05-09 21:07] ajwootto opened #10224 "JS library generator always includes "build" target even when not buildable"
## Current Behavior

If you generate a js lib with `nx g @nrwl/js:lib my-lib`, that lib will include a "build" target even though the `--buildable` option was not specified.

It also seems to generate a package.json file which doesn't include a "name" field.

## Expected Behavior

I would expect the build target to not be added for a non-buildable JS lib.

I'd also expect there to be no package.js

[2022-05-09 21:40] AgentEnder commented on #10221
@ppalmeida-vakt Can you give some more details about the errors and such you are seeing? As is we only have the issue title to go on.

Additionally, we will need the output of `nx report`.

[2022-05-09 21:46] AgentEnder commented on #10205
Hey @oliverkierepka , it may be unrelated, but some of your @nrwl/* packages don't line up with the version of `nx` you have installed. Aside from `@nrwl/nx-cloud`, all packages under the nrwl scope should generally be set up with the same version.

Can you correct this and check that the issue still reproduces? An easy way to fix this would be to run `nx migrate {v}`, where `v` is the version of

[2022-05-09 23:16] AgentEnder commented on #10197
Hey @HackPoint, it may be unrelated, but some of your @nrwl/* packages don't line up with the version of `nx` you have installed. Aside from `@nrwl/nx-cloud`, all packages under the nrwl scope should generally be set up with the same version.

Can you correct this and check that the issue still reproduces? An easy way to fix this would be to run `nx migrate {v}`, where `v` is the version of nx you

[2022-05-09 23:58] #10193 closed

[2022-05-10 00:06] #10144 closed

[2022-05-10 00:22] #6673 closed

[2022-05-10 00:22] #5794 closed

[2022-05-10 01:54] gperdomor opened #10227 "Wrong dependencies calculation during builds"
I have a project with many lib packages, I'm using the `updateBuildableProjectDepsInPackageJson`(which is enabled by default) to generate the package json of my libs but I notice some weird behavior

## Current Behavior
Lib `core` imports some package, let's say `@actions/exec`, I build this library and the package.json inside dist/core directory is something like this:
[code]
which is fine...

Al

[2022-05-10 03:37] nguyenhy commented on #8968
hope this [answer](https://stackoverflow.com/a/72180446/8332986) help someone

[2022-05-10 04:07] EladBezalel commented on #8606
Not stale

[2022-05-10 04:15] HackPoint commented on #10197
@AgentEnder hi sure I will try to verify that versions are lined up. But I’m unable to update. I need to support lower versions of angular. Because of the legacy components that I’m working on. Otherwise sure. The first thing o would do, is update.

[2022-05-10 04:59] ArielGueta commented on #10218
[code]

[2022-05-10 07:40] oliverkierepka commented on #10205
@AgentEnder Thanks for the heads-up. I changed the version of nrwl/js to match the major version of the nrwl/cli and others and now it works. The root entry is created correctly.

[2022-05-10 07:40] #10205 closed

[2022-05-10 07:45] MartinMuzatko commented on #9168
I'm on a fresh installation (nx 14.1.4) and follow instructions from here: https://nx.dev/getting-started/nx-and-typescript#create-a-typescript-based-application

With a fresh nx monorepo, I still get this error:

[code]

[2022-05-10 08:34] Coly010 commented on #10206
Hey 😄

Are you also using our `withModuleFederation` helper to expose the remote entry? If so, it is also set to `remoteEntry.mjs`. Where do you have a difference?

[2022-05-10 08:38] NejcZdovc opened #10230 "Typo in browserslistrc file name"
### Documentation issue

- [x] Reporting a typo
- [ ] Reporting a documentation bug
- [ ] Documentation improvement
- [ ] Documentation feedback

### Is there a specific documentation page you are reporting?

[Enter the URL or documentation section here.](https://nx.dev/guides/browser-support)

### Additional context or description

Change browserlistrc -> browserslistrc

[2022-05-10 09:11] leosvelperez commented on #10215
Thanks for reporting this!

Please note that `maxWorkers` and `memoryLimit` are not options supported by the `@angular-devkit/build-angular:browser` executor. That's why you get an error if you try to use them with that executor. Each executor has its schema with the definition of the accepted options.

The Intellisense provided by Nx Console in VSCode will correctly show the options available for

[2022-05-10 09:59] pinguinosod commented on #9091
I'm facing the same issue.
Did you find a way to solve this without adding 'unsafe-inline'? @72gm

[2022-05-10 10:10] raphael22 commented on #10215
@leosvelperez Hi !
Okay so there is no way to limit memory usage of angular executor ?

I have the same problem as mention in #2856
16gb of ram will be blasted away with default worker/ram options.

[2022-05-10 10:36] leosvelperez commented on #10215
@raphael22 that's correct, the Angular CLI builder doesn't provide any options to limit the memory usage. This is a limitation on the Angular CLI, the Nx executors for Angular use the Angular CLI compilation under the hood and therefore, the same applies.

You can use `--max-old-space-size` to increase the allocated RAM.

[2022-05-10 10:38] JWood48 opened #10233 "Cant run apps after migrating from nx 13 to 14"
## Current Behavior

running my-app:server:development --open fails with `Cannot find module './ArraySerializer'`

## Expected Behavior
Should start app

## Steps to Reproduce
N/A

### Failure Logs
[code]
tried removed node_modules and yarn.lock - same error

NOTE: many  nx commands opens a console window with the following error:

[code]

### Environment
[code]

[2022-05-10 10:53] leosvelperez commented on #8253
This issue has been solved in https://github.com/nrwl/nx/pull/10113 and the fix was released in [v14.1.0](https://github.com/nrwl/nx/releases/tag/14.1.0). Please make sure to migrate your workspace to that version or greater.

I'm closing this. If you still have an issue after migrating, feel free to reopen this issue or create a new one.

[2022-05-10 10:53] #8253 closed

[2022-05-10 10:56] Coly010 commented on #10110
@jaysoo It looks like we use Modules for React `withModuleFederation`. Is this intentional? I wonder if we should in fact allow this to be overridden.

It doesn't make sense in Angular to allow it to be overridden. It's probably arguably ok In React. But I'm not certain.

[2022-05-10 11:17] oschlegel opened #10234 "Export webpack builders of angular package"
- [x] I'd be willing to implement this feature ([contributing guide](https://github.com/nrwl/nx/blob/master/CONTRIBUTING.md))

## Description
Export the builder functions of webpack-browser and webpack-server builders from angular package.

## Motivation
This would enable to extend the build process of a app with a custom builder while still using the features which the builders of nx provide by b

[2022-05-10 13:56] #10199 closed

[2022-05-10 14:06] ndcunningham commented on #10200
I could not reproduce this issue.

You can see my output here: https://nx.app/runs/k3NfMAJZ90e

It might be related to your environment.

[2022-05-10 15:07] mukundkatpatal commented on #7613
How was this resolved? I have a new nxWorkspace, getting this same on gitlab ci while npm ci.

[2022-05-10 15:42] Samuel-Beslogic opened #10236 "nx lint doesn't expect trailing commas when parsing tsconfig.json"
## Current Behavior
linting crashes when there's a trailing comma in tsconfig.json

## Expected Behavior
Support trailing commas in tsconfig.json. Neither TypeScript nor ESLint have issues with it

## Steps to Reproduce
Add a trailing coma in tsconfig.json. ie:
[code]

This issue may not be prioritized if details are not provided to help us reproduce the issue.

### Failure Logs
Running `nx lint`:

[2022-05-10 15:44] #10200 closed

[2022-05-10 16:28] shawnmclean commented on #9099
Have you seen it bundle all dependencies into 1 javascript file? Ie. resolving all requires/imports.

[2022-05-10 17:18] vpiskunov opened #10237 "Replace references to nx with @nrwl/workspace - documentation is misleading."
### Documentation issue

- [ ] Reporting a typo
- [x] Reporting a documentation bug
- [ ] Documentation improvement
- [ ] Documentation feedback

### Is there a specific documentation page you are reporting?

[https://nx.dev/packages/workspace/executors/run-commands](https://nx.dev/packages/workspace/executors/run-commands)

### Additional context or description

The references to `nx:` do not wor

[2022-05-10 19:00] AgentEnder commented on #10236
I assigned this to `scope:linter` since its cropping up during the lint rule validation, but, this is caused by us using native JSON.parse from `node` to read in JSON. Since trailing commas are not supported in the json spec, similar to single quotes, we don't currently support. them.

If a tool such as JSON5 gets more support, or gets native implementations, or just overall gets a bit faster we m

[2022-05-10 19:00] #10236 closed

[2022-05-10 19:01] #10237 closed

[2022-05-10 19:16] hubertkuoch commented on #10172
Closing the issue as uninstalling pnpm, deleting cached dot folders and re-installing it solves the issue.

[2022-05-10 19:16] #10172 closed

[2022-05-10 19:48] #8750 closed

[2022-05-10 20:00] dmaksimov opened #10238 "@types/react-router-dom issue when compiling executor"
## Current Behavior
I'm getting the following error when I attempt to compile an executor.

[code]

NX is installing a dependency for `@types/react-router-dom@5.3.3` which is for `react-router-dom@5.3` but the installed version of react-router-dom is 6.3.

## Expected Behavior
I would expect it to compile with errors

## Steps to Reproduce

1. Generate a new React app with a router
2. Create an ex

[2022-05-10 20:05] #8574 closed

[2022-05-10 20:32] #10230 closed

[2022-05-10 20:33] AgentEnder commented on #10238
Hey @dmaksimov, it may be unrelated, but some of your @nrwl/* packages don't line up with the version of `nx` you have installed. Aside from `@nrwl/nx-cloud`, all packages under the nrwl scope should generally be set up with the same version.

Can you correct this and check that the issue still reproduces? An easy way to fix this would be to run `nx migrate {v}`, where `v` is the version of nx you

[2022-05-10 21:17] tyler-morrison commented on #6615
Pumped to check this out! I'll spin up a test repo later this week

[2022-05-10 21:47] yharaskrik commented on #8791
This seems to have been fixed.

[2022-05-10 21:47] #8791 closed

[2022-05-10 23:37] #2299 closed

[2022-05-11 00:39] sergiocarneiro commented on #8019
_This is not my area of expertise, but I'm sharing my research anyway and I hope you find it useful._

**During development** is as simple as listing them in `tsconfig.json` `paths`, no need to build.

**As for deployment**, I had trouble making it work with Docker. I'm not really acquainted with it, but taking a look at Remix's [Blues Stacks Dockerfile](https://github.com/remix-run/blues-stack/bl

[2022-05-11 00:56] matt-forster commented on #10100
I can reproduce this with a new react workspace; following https://nx.dev/react-tutorial/01-create-application. Not even modifying any of the files; I added the transform ignore and `allowJs` flag to `./jest.config.ts` and `tsconfig.base.json`, but I still get the same error.

1. `npx create-nx-workspace@latest`
2. Select react, less
3. run `nx test`

https://nx.app/runs/rXGssNRGlFG
[code]

[code]

[2022-05-11 01:42] jasongerbes opened #10240 "nx format:write doesn't format .swcrc files"
## Current Behavior

Running `nx format:write` does not format `.swcrc` files (e.g. `libs/my-lib/.lib.swcrc`).

## Expected Behavior

Any format issues in a `.swcrc` file (e.g. incorrect tab spacing) should be addressed when running `nx format:write`.

## Steps to Reproduce

1. Introduce a format issue into a `.swcrc` file (e.g. change the tab spacing).
2. Run `nx format:write`.
3. Notice that the

[2022-05-11 01:43] jasongerbes commented on #8928
@FrozenPandaz any chance this issue could be addressed? We are frequently migrating to the latest Nx version

[2022-05-11 06:16] tdolsen commented on #8273
To work around this, pnpm can be told to be quite with the [`pnpm.peerDependencyRules.ignoreMissing`](https://pnpm.io/package_json#pnpmpeerdependencyrulesignoremissing) and [`pnpm.peerDependencyRules.allowedVersions`](https://pnpm.io/package_json#pnpmpeerdependencyrulesallowedversions) package.json configurations.

[2022-05-11 06:20] dominikspiertz commented on #10238
You should be safe to remove it. We recently got the update from react-router-dom from v5 to v6. v5 needed additional types, while v6 has included types. The types should be removed by a nx migration for the next release

[2022-05-11 07:58] emielvangoor commented on #9397
I've got the same:

[code]

My `@nrwl/next` app and `@nrwl/js:library` are working but when trying to create an `@nrwl/node:app` application i'm getting the following error when doing any operation on it (building, serving etc)
[code]

[2022-05-11 08:34] 0xZoomEye commented on #10140
i got this error too

Cannot find module 'nx/src/generators/utils/json'

nx report

   Node : 16.13.0
   OS   : linux x64
   npm  : 8.4.0

   nx : 13.10.4
   @nrwl/angular : Not Found
   @nrwl/cypress : Not Found
   @nrwl/detox : Not Found
   @nrwl/devkit : 13.10.4
   @nrwl/eslint-plugin-nx : 14.1.4
   @nrwl/express : Not Found
   @nrwl/jest : 14.1.4
   @nrwl/js : 14.1.4
   @nrwl/linter : 14.1.4

[2022-05-11 08:58] smitroshin commented on #2944
System info:
[code]
Packages:
[code]

I installed nx globally using `pnpm add -g nx`.
And it works using just `nx` command, but I receive warning:

![image](https://user-images.githubusercontent.com/20210690/167802870-8165f9d9-2d5b-4bb5-abb7-a0232d946a59.png)

After, I tried two ways: `pnpm nx` and `pnpm exec nx`.

Outside nx workspace:

![image](https://user-images.githubusercontent.com/20210690/

[2022-05-11 09:12] cgrabmann commented on #6821
I'm currently also running into this problem.

I'm running some code generation with an external tool (also not a nx-plugin and for reasons I cannot change that easily) and this is then wrapped in an Nx library.
The generated code is ignored by an `.gitignore`, because there is no reason to check those files into git.

I also tried to explicitly add them in the `.nxignore` by adding `!/generated/f

[2022-05-11 10:14] leosvelperez commented on #10215
I'm gonna close this issue since it has been clarified.

[2022-05-11 10:14] #10215 closed

[2022-05-11 10:24] leosvelperez commented on #9197
hey @GrandSchtroumpf!

The `@nrwl/angular:package` executor uses `ng-packagr` under the hood, so you can configure the `assets` property in the `ng-package.json` to get the assets copied. For reference https://github.com/ng-packagr/ng-packagr/blob/main/docs/copy-assets.md.

[2022-05-11 10:44] vytautas-pranskunas- commented on #9168
I am in situaton similar to @MartinMuzatko

[2022-05-11 10:57] leosvelperez commented on #10234
Hey @oschlegel!

That sounds reasonable, we already export the available executors for the same reasons. You can go ahead and contribute with this change if you feel like it.

[2022-05-11 11:10] e-oz opened #10241 "create-nx-workspace issues with "--cli=nx" argument"
run:
[code]

issues:
* will create README.md for React-based apps
* will not add "packageManager" value to nx.json
* will not create angular.json
* will not create decorate-angular-cli.js (and related code to "postinstall")
* will not add angularCompilerOptions to tsconfig.base.json

Issue happens because of "--cli=nx". It would explain issues #3 and #4, but not others

### Environment
create-nx-w

[2022-05-11 11:21] pawelkondraciuk commented on #10218
`npm uninstall -D @nrwl/cli` then `npm install -D nx@13` then `npm run update`. That should let you update packages

[2022-05-11 11:54] e-oz opened #10242 "nx generate component can not --skip-import"
## Current Behavior
[code]
error:
[code]
okay, let's use the '--skip-import':
[code]
but:
[code]
😐
## Expected Behavior
Component should be generated without importing it to the module (I have no NgModules in this library).

## Steps to Reproduce
Your app or library should not have modules (library is much easier to create without modules).

### Environment

<details>
<summary>NX  Report</summary>

[2022-05-11 12:04] ArielGueta commented on #10218
It works. Can you explain, please?

[2022-05-11 12:20] yveskaufmann opened #10244 "Directories in the .nxignore doesn't prevent nx from scanning them"
My situation is that I can't execute any `nx run` commands because `nx` scans the whole repository and fails than because it hits a directory in our repository where it is missing the required read permissions.  (The mentioned directories are in fact mounted into our database containers. )

## Current Behavior

To prevent that I tried to add the mentioned directories to the `.nxignore`:

[code]

B

[2022-05-11 12:28] leosvelperez commented on #10242
Thanks for reporting this!

This issue has been fixed in https://github.com/nrwl/nx/pull/10167 and it should be released soon. Please keep an eye on the releases to get the fix.

[2022-05-11 12:28] #10242 closed

[2022-05-11 13:47] emielvangoor commented on #9397
_Update:_

I've updated `nx` to the latest version using `nx migrate` and now it works 🥇

[2022-05-11 14:05] #8780 closed

[2022-05-11 14:24] dmaksimov commented on #10238
Great, thank you!

[2022-05-11 15:44] johannesschobel opened #10249 "Nx-Plugin is currently not usable"
## Current Behavior

The `nx-plugin` package is currently not usable with the latest nx stack. I followed the video tutorial via the official webpage: https://nx.dev/packages/nx-plugin but it fails.

## Expected Behavior

It should work ;)

## Steps to Reproduce

Follow the tutorial https://nx.dev/packages/nx-plugin

### Failure Logs

First, the `root` property in the generated `project.json` file

[2022-05-11 16:48] barbados-clemens commented on #10100
it works for me @matt-forster
https://nx.app/runs/P6QjhYlCgaY
![working tests for example repo](https://user-images.githubusercontent.com/23272162/167903929-2bc50359-1926-4af7-9d97-ea9bc7056e14.png)

[2022-05-11 17:17] alfaproject commented on #9410
I've just upgraded to v14 and my libraries stopped publishing as expected. It does seem that this option was indeed removed ):

Am I missing something here?

[2022-05-11 17:26] matt-forster commented on #10100
Huh - It works the first time, but then as soon as I change something, it starts failing. If you change a file (I changed `package.json`, and in a different test, a source file), does it start failing?

**Package Change:**
<a href="https://asciinema.org/a/E4lddYvKVVQm5Sjnfy18XH3Hi" target="_blank"><img src="https://asciinema.org/a/E4lddYvKVVQm5Sjnfy18XH3Hi.svg" width="500" /></a>

**File Change:**

[2022-05-11 17:43] matt-forster commented on #10100
WSL2 VM from Win 11;

[code]

[2022-05-11 18:04] #9973 closed

[2022-05-11 18:04] #9982 closed

[2022-05-11 18:04] #10021 closed

[2022-05-11 18:36] barbados-clemens commented on #10100
I'm going to ping some other people on the nx team that have windows machines to see if they can take a look if it is the OSes causing the issue. I'd be surprised if it was but it's the only thing different that I can see. if it is. I imagine it might be a jest issue vs nx set up issue, but I'll have to dig into it if we can reproduce it via WSL.

[2022-05-11 18:38] Xjph commented on #10100
Was able to reproduce as described above, WSL2 on Win10. Test was initially passing, but after modifying `apps/site/src/app/app.tsx` in what _should_ be inconsequential ways (adding a comment, or a second empty `div` after the title) the tests fail.
Reverting the change restores the tests to passing.
![image](https://user-images.githubusercontent.com/455726/167922013-8351e93b-6219-4c52-81bb-a4d433

[2022-05-11 18:40] matt-forster commented on #10100
I've talked to some co-workers using the same or similar env, and they can reproduce it. It is widely inconsistent though.

Other info; using Volta as node manager, nx installed globally using Volta. Other than that I don't think anything else would even remotely affect it.

It might have something to do with the lock, I committed some more changes (including the updated lock after first install)

[2022-05-11 19:09] AgentEnder commented on #10249
Hey @johannesschobel , it may be unrelated, but some of your @nrwl/* packages don't line up with the version of `nx` you have installed. Aside from `@nrwl/nx-cloud`, all packages under the nrwl scope should generally be set up with the same version.

Can you correct this and check that the issue still reproduces? An easy way to fix this would be to run `nx migrate {v}`, where `v` is the version of

[2022-05-11 19:10] AgentEnder commented on #10249
Since you said you followed the video, I'm going to assume you used `npx create-nx-plugin` or `npx create-nx-workspace`, you should add `@latest` to either package name if you want the latest, otherwise npx may cache an older version.

[2022-05-11 19:12] oschlegel commented on #10206
Hi, i have a mixed setup. Part of my remote modules are located within my nx workspace and are using `withModuleFederation`, but other remote modules are maintained in other repostories which are not using nx tooling.

[2022-05-11 19:15] AgentEnder commented on #10241
Hey, I'm assigning this to the angular scope since it looks like most of these are questions that would be best answered by those folks. In general though, here's my take on them:

- This is expected behavior, readme's per app give a good spot for some general notes.
- This isn't needed for Nx workspaces, since we infer the package manager based on which lockfiles are present.
- This is expected,

[2022-05-11 19:15] #10241 closed

[2022-05-11 19:41] johannesschobel commented on #10249
I am sorry, i feel so stupid.. yeah, there was an issue with the `@nrwl/*` package version. I updated to latest via `nx migrate latest`, ran `npm install` and `nx migrate --run-migrations` and retried.
Works like a charm!

sorry for bothering you! All the best and thanks for helping out!

[2022-05-11 19:41] #10249 closed

[2022-05-11 19:51] the-ult commented on #9140
Any new/tips/tricks how we can use `@testing-library/jest-dom` globally?

[2022-05-11 20:45] barbados-clemens commented on #10100
the reason the tests pass initially is more than likely the nx cloud cache just an FYI. you can check as it'll say `remote cache` in the results @Xjph

[2022-05-11 22:23] ShadiBlitz opened #10255 "Deploying a small sized Next.js project with SSR"
Hello team! I need urgent help.
I am using NX monorepo for my current project where I have a next.js dashboard app located in /apps/dashboard , this app is widely implementing the SSR feature using getServerSideProps.
I am trying to deploy this next.js app (dashboard) to production. I have used yarn build and yarn serve and everything went smoothly, however, I want to deploy it without having all

[2022-05-11 22:54] Ronaldo-Maciel commented on #9140
I have the some problem!

[2022-05-12 00:22] #7503 closed

[2022-05-12 00:22] #7498 closed

[2022-05-12 00:22] #5551 closed

[2022-05-12 00:22] #3610 closed

[2022-05-12 01:25] hao-wang-ansarada opened #10256 "Random error happens on vercel"
## Current Behavior
Getting this same error so randomly in different apps
`Error: Command "npx nx build <app name> --prod" exited with SIGTERM` on vercel, fine on local build though. And by clicking redeploy will fix it.

## Expected Behavior

Builds should pass without clicking redeploy to make them pass

### Environment

`   Node : 14.17.5
   OS   : darwin x64
   yarn : 1.22.11

   nx : 14.0.5

[2022-05-12 06:19] e-oz commented on #10241
and README for React. Expected behavior? Ok then :)

[2022-05-12 06:42] mklueh opened #10258 ".ignore file to exclude modules"
I'm in the following situation:

Migrating an old NX project with Vue 2 / Nuxt 2 modules to Vue 2 / Nuxt 3. Something bites when I execute yarn install, as some packages are missing required to run the Nuxt 3 application. My guess is that there are conflicts somewhere between old and new packages.

Is there a way to exclude modules of my workspace entirely, so that yarn install won't pick up their

[2022-05-12 07:16] VincentThomas06 commented on #4620
Not really, lets say youre building a react-library. You don't want react to be bundled into your code. That means you have 2 react versions. The user of your package has a react version and your react version. Your package gets unecessary large

[2022-05-12 07:30] nemonemi commented on #10008
No reason, I've tried also with just `yarn nx migrate 13.10.3` and I get the same result.
What is `-W`?

[2022-05-12 07:48] john-waitforit opened #10259 "Migration to 14 - Creation of development configuration"
## Current Behavior

When migrating to v14 the migration script to create a development configuration can fail with some configurations

## Expected Behavior

The migration script should work in most cases when people migrate NX

## Steps to Reproduce

Given a `project.json` like this one:
[code]

The migration script called `add-default-development-configurations` fails to execute because the ser

[2022-05-12 07:50] sabine-prokop commented on #3203
+1

[2022-05-12 09:42] MiguelNiblock commented on #3428
This helped. The documentation doesn't specify that you have to be on the root directory to run nx serve commands reliably.

[2022-05-12 09:57] e-oz opened #10260 "nx g scam doesn't want to work sometimes"
## Current Behavior

[code]
gives error:

[code]

## Expected Behavior

component generated

## Steps to Reproduce

It's reproducible in one project (TS 4.6), and not reproducible in another (TS 4.7).

### Environment

[code]

Looking at the error mesage, please give me a hint what should I try to fix/check.

[2022-05-12 09:59] e-oz commented on #10260
`nx g c test` gives the same error:
TypeError: this.tree.readText is not a function

[2022-05-12 10:00] e-oz commented on #10260
uh oh, I'll have to create them manually!

[2022-05-12 10:01] e-oz commented on #10260
I see, it's Angular bug. Ok, sorry for disturbing you :)

[2022-05-12 10:01] #10260 closed

[2022-05-12 10:39] nagad814 commented on #10259
`npm i webpack --save-dev`, fixed the issue for me

[2022-05-12 12:21] JonasLuechau opened #10262 "Wrong link for Angular move generator on "Grouping Libraries""
### Documentation issue

- [ ] Reporting a typo
- [X] Reporting a documentation bug
- [ ] Documentation improvement
- [ ] Documentation feedback

### Is there a specific documentation page you are reporting?

https://nx.dev/structure/grouping-libraries

### Additional context or description

The link to the Angular move generator is "[@nrwl/angular:move generator](https://nx.dev/angular/move)", it

[2022-05-12 12:59] cloudratha opened #10263 "Web dev-server executor should support generateIndexHtml"
- [x] I'd be willing to implement this feature ([contributing guide](https://github.com/nrwl/nx/blob/master/CONTRIBUTING.md))

## Description
The Web webpack executor supports "generateIndexHtml" option which allows the developer to implement their own index.html generation, ie using something like HtmlWebpackPlugin.

This however isn't honored in the dev-server executor, resulting in duplication

[2022-05-12 13:05] #9397 closed

[2022-05-12 13:13] the-ult commented on #9140
Strange. Cause it worked without the extra `@types`.
But thanks at least I don't get any more errors.

Next step.. Setting `testing-library/jest-dom`globally (once)

[2022-05-12 14:23] diegomais opened #10265 "Setting Gitlab CI/C: node alpine does not have git installed"
### Documentation issue

- [ ] Reporting a typo
- [x] Reporting a documentation bug
- [ ] Documentation improvement
- [ ] Documentation feedback

### Is there a specific documentation page you are reporting?

https://nx.dev/ci/monorepo-ci-gitlab#setting-gitlab-cicd

### Additional context or description

GitLab returns: `/bin/sh: git: not found`.

The example uses the `node:16-alpine` image but th

[2022-05-12 14:30] AgentEnder commented on #10241
It sounded like the issue you noted was that readme's were getting generated for react based apps, not that the angular app you generated contained a readme formatted for react. I'll look into this.

[2022-05-12 14:59] nartc commented on #9596
This is working as expected. You have a typo in `AppModule`
<img width="565" alt="image" src="https://user-images.githubusercontent.com/25516557/168105763-bdede96d-2559-4055-9171-d719c904aa82.png">

[2022-05-12 14:59] #9596 closed

[2022-05-12 15:28] LuckeeDev commented on #10086
@bhuber2010 unfortunately adding nx didn't solve the problem for me :(

[2022-05-12 15:33] RobinvanTienhoven opened #10269 "enforce-module-boundaries - Support secondary entry points in workspace libraries"
## Description
Currently the enforce-module-boundaries only looks at project level and not at the entry points for workspace libraries. This means that when using secondary entry points and importing between libraries can result in a circular dependency between projects.

Using the following library structure:

[code]

With the following paths in TSConfig.base:
[code]

Using the logging module in

[2022-05-12 16:14] yharaskrik opened #10270 "@swc/helpers not included in package.json for nest apps with incr compiled libs"
## Current Behavior

When bundling a Nest app with `@nrwl/node:webpack` where some of the apps libs are incrementally compiled with `@nrwl/js:swc` the `@swc/helpers` package is not included in the package.json with the `--generatePackageJson` flag.

I believe this is because the `@swc/helpers` lib is listed as a `devDependency` so webpack ignores it. The only way I could get it to work is to add `

[2022-05-12 16:47] caeb92 opened #10271 "NX update migrations don't rename mfe.config in webpack configuration files"
Hello!! Im currently using angular with module federation using the flag **federationType=dynamic**, I made a update to fix [issue 9861](https://github.com/nrwl/nx/issues/9861) in windows machines and work fine, but migrations are missing rename some file content.

## Current Behavior

After update my project **module-federation.config.js** and **webpack.config.js** keep old references to **mfe.co

[2022-05-12 17:05] Samuel-Beslogic commented on #10236
Understandable. As long as this as been brought to your attention and this can be re-evaluated later as technology moves forward :)

[2022-05-12 18:30] #10259 closed

[2022-05-12 18:31] AgentEnder commented on #10258
If you're using yarn workspaces, you'd need to update the workspaces key in the root package.json I believe.

[2022-05-12 18:39] AgentEnder commented on #10233
Hey @JWood48, can you run `npm ls webpack` and throw those results here? Thanks.

[2022-05-12 19:04] caeb92 commented on #10271
After upgrade and install dependencies works fine but I restart VSCode and run my host app,  my web browser now is throwing 404 error can't find **/assets/module-federation.manifest.json**

The file **main.ts** of my host project is calling the file as **module-federation.manifest.json** not **module-federation.config.json**

[code]

I rename the reference in **main.ts** as **module-federation.con

[2022-05-12 19:24] anogr commented on #10110
I have the same question, but maybe for a different reason. If I generate a host and a few remotes and build them without any changes, then if any of the remotes doesn't respond for some reason, the entire host will go down. I have tested by, for example, changing the filename of a remoteEntry.js file for one of the remotes. It appears to be caused by using library type = Module.

It's important t

[2022-05-12 19:24] #10270 closed

[2022-05-12 21:04] nartc commented on #9305
@cdaringe Sorry for the late response. I am looking into this and already see a weird behavior with the child processes.

I checked out your branch and upgraded everything to latest Nx + using the `nrwl/node:node` (since `nrwl/js: node` is removed from 13.9). The problem is still there and it's very funky. If you change the `dummy.ts`, then both processes start showing up. Then if you change it ag

[2022-05-12 22:22] mtiahrt commented on #7464
removing the projects object did the trick for me

[2022-05-13 00:25] #9776 closed

[2022-05-13 00:25] #9226 closed

[2022-05-13 00:25] #9815 closed

[2022-05-13 00:25] #7546 closed

[2022-05-13 05:58] MrChrisRodriguez commented on #6344
Not sure if this is documented anywhere, but by printing out env vars I found that Nx sets the `$NX_WORKSPACE_ROOT` env variable which I've been using a lot in my project.json targets. I didn't check for application-specific abs or rel paths, but there might be one (try a command-type target and printenv to see the environment within the Nx runner's context)

[2022-05-13 09:48] jelilat opened #10278 "React Nx Tutorial Typo"
### Documentation issue

- [x] Reporting a typo
- [ ] Reporting a documentation bug
- [x] Documentation improvement
- [ ] Documentation feedback

### Is there a specific documentation page you are reporting?

Enter the URL or documentation section here.

https://nx.dev/react-tutorial/01-create-application#note-on-the-nx-cli

### Additional context or description

Provide any additional details her

[2022-05-13 11:19] hho commented on #10036
Same here. This subsequently also breaks the "build affected projects" step.