[2021-12-18 09:34] puku0x commented on #8218
It works for me. I guess you forgot adding a glob pattern for your app.

[code]
[code]
[code]

[2021-12-18 09:38] junzhengca opened #8220 "Workspace generator `generateFiles()` will generate `.js` and `.js.map` files when using `.ts` template"
## Current Behavior

I have a workspace generator setup to scaffold some TypeScript code, here is the directory structue and my generator configuration.
![Screenshot 2021-12-18 4 28 38 AM](https://user-images.githubusercontent.com/7855724/146636371-c230d4d2-12eb-46bf-8750-f1b0d4946ee5.png)

[code]

`schema.json` simply includes two parameters: `name` and `path`.

When I try to run the generator, i

[2021-12-18 11:05] smacintyre commented on #8218
@puku0x Thank you for replying. However, TailwindCSS v3 still doesn't work. I had done all you suggested.

Here is a sample repo: https://github.com/smacintyre/tailwindfail
You can run it from gitpod: https://gitpod.io/#https://github.com/smacintyre/tailwindfail

Exact steps:

1.  `nvm use --lts=fermium`
2. `npx create-nx-workspace tailwindfail --preset=empty --packageManager=yarn --nx-cloud=false

[2021-12-18 11:24] puku0x commented on #8218
@smacintyre `<app-name>` should be replaced with `fail`
[code]

[2021-12-18 11:31] smacintyre commented on #8218
@puku0x Thank you very much! It works, not sure how I missed that. I had done that on the project project I was upgrading. I will try to see why it's not working.

Note for the docs for #8221
- The text still talks about the deprecated `purge` key
- The dark mode configuration should be removed: https://tailwindcss.com/docs/upgrade-guide#remove-dark-mode-configuration
- The variant config should b

[2021-12-18 11:33] #8218 closed

[2021-12-18 12:13] puku0x commented on #8218
Thank you, I will update the PR later.

[2021-12-18 12:36] puku0x commented on #8220
You can use `*.ts.template` for generator templates but if you prefer to use `*.ts`, you should exclude `**/files/*`.

[code]

[2021-12-18 12:43] FacePalmDev commented on #8150
I'm experiencing the same issue on Ubuntu having moved from a Windows environment

[2021-12-18 12:44] junzhengca commented on #8220
This works like a charm! Will close this issue, maybe we should add some documentation for this? This is the link I used:
https://nx.dev/l/r/generators/creating-files#creating-files-with-a-generator

[2021-12-18 12:44] #8220 closed

[2021-12-18 15:08] mwoodpatrick opened #8222 "Problem testing simple package in repo"
I'm trying to follow the guide:

[Nx and Yarn/Lerna (Workspaces for Publishing NPM Packages)](https://nx.dev/l/r/guides/lerna-and-nx?utm_campaign=31%20Days%20of%20Nx&utm_content=189507706&utm_medium=social&utm_source=twitter&hss_channel=tw-1095103068373508101)

## Current Behavior

I was able to create the simple project and install the projects dependencies but when I try to run:

npx nx test sim

[2021-12-18 15:38] mwoodpatrick commented on #8222
This seems to be a version with having yarn 3 set in my env even though I have a yarnrc.yml with:

[code]

It would be great if nx supported yarn3

[2021-12-18 16:53] Matrix89 commented on #8183
Had the same issue, since nx creates a new git repository on init, I think It shouldn't be too unresonable to prompt the user to fill out their global config or if they don't want to, prompt for the repository specific email/username.

[2021-12-18 18:36] mwoodpatrick commented on #8222
Running the same project in a different wsl distribution which has yarn 1 as the default fixed the above issue.

 Adding the complex project with a dependency on simple. Looks like I need to add version numbers to simple & complex packages for workspaces to pick these up and link them into node_modules otherwise yarn reports:

    warning Missing version in workspace at "/mnt/wsl/projects/git/www/

[2021-12-18 18:44] mwoodpatrick commented on #8222
running

`npx nx run-many --target --test --all --parallel=5`

as described in the guide fails for me with:

`Not enough arguments following: target`

However, running:

`npx nx run-many --target=test --all --parallel=5`

Does run the tests

[2021-12-18 18:48] mwoodpatrick commented on #8222
The same is true for:

`npx nx affected --target --test --all`

Changing this to:

`npx nx affected --target=test --all`

The test runs as expectedf

[2021-12-18 19:28] mwoodpatrick commented on #8222
Doing:

[code]

Puts the node app my-node-app under packages rather than apps which is what I had expected!

[2021-12-18 19:43] aflores commented on #7057
On a Mac, this worked for me:

npm uninstall @nrwl/schematics; npm install -g @nrwl/schematics npm cache clean --force;npx create-nx-workspace@latest

[2021-12-18 23:24] lukeribchester commented on #8115
**Disclaimer:** I first encountered this issue with a new production workspace on 16-12-2021. I'm unable to reproduce this issue today in a test workspace following these same commands. For possible future reference I've documented the initial commands I executed (aside from those to install some trivial dependencies).

1. A new empty workspace (therefore using `workspace.json`) with Angular and N

[2021-12-18 23:50] lukeribchester commented on #8115
Unfortunately these steps don't fix the issue in my workspace given its state prior to step two as documented [here](https://github.com/nrwl/nx/issues/8115#issuecomment-997298982). As I mentioned I also can't seem to reproduce this in a new workspace today, so my two known solutions are installing the React development dependencies or migrating to a new workspace.

If I have time I'll run `git dif

[2021-12-19 00:14] #4601 closed

[2021-12-19 00:14] #3701 closed

[2021-12-19 00:14] #1796 closed

[2021-12-19 00:40] smasala opened #8227 "React builder breaks with MUI Popper typings"
## Current Behavior

_**I can only replicate this with nx builder.**_

[code]

Storybook can serve it but when you run `nx build:myReactLibrary`  then you get the error above

## Expected Behavior

That it builds without errors - just like the nx storybook plugin does

## Steps to Reproduce

TS Playground, VSCode typescript server (IDE intellisense) and Storybook all compile the example correctly

[2021-12-19 00:51] mveeravalli opened #8228 "Issue with create-nx-workspace@13.3.9, Getting Invalid class names in production build i.e. (optimization: true) Nest JS + NX"
## Current Behavior
Getting invalid class Name With production build
code:
`
export function Entity(): ClassDecorator {
  return (target) => {
    console.log('entity name............', target.name);
  };
}

@Controller()
@Entity()
export class AppController {
  constructor(private readonly appService: AppService) {
    console.log('Class Name', AppController.name);
  }

  @Get()
  getData() {

[2021-12-19 08:22] adornala opened #8230 "Live reload fails when adding scripts to project.json"
## Current Behavior

nrwl workspace: ^13.3.9

Getting node error:

`(node:65678) UnhandledPromiseRejectionWarning: TypeError: Cannot read property 'get' of undefined at ScriptsWebpackPlugin.shouldSkip (/Users/dornaa01/IdeaProjects/botw-lib/node_modules/@nrwl/web/src/utils/webpack/plugins/scripts-webpack-plugin.js:29:59)`

 when running nx serve with scripts added in projects.json -> targets > buil

[2021-12-19 08:29] adornala commented on #8230
**Temporary fix** to get this resolved:

Open node_modules/@nrwl/web/src/utils/webpack/plugins/scripts-webpack-plugin.js:29:59 and add null check on fileTimestamps

![Screen Shot 2021-12-19 at 2 25 31 AM](https://user-images.githubusercontent.com/8496324/146668487-b7913fee-3dc6-4cd0-ac81-db5dc76183c8.png)

Temporary fix: I have a note to make sure when ever I do an npm install I need to make above

[2021-12-19 08:46] #8230 closed

[2021-12-19 10:34] CedricMoore commented on #5832
+1 Also waiting for this! 🚀

[2021-12-19 12:46] ronnetzer commented on #5639
Facing the same problem,
I was able to overcome it by using `patchPackageJsonForPlugin` and `runPackageManagerInstall` after `ensureNxProject`

[2021-12-19 12:51] bulldog98 commented on #3203
The best thing if would be if you could use your scss like this
[code]

[2021-12-19 14:18] tinesoft commented on #5639
Hi @ronnetzer

Can you elaborate your solution?
Because `ensureNxProject` internally called `newNxProject` which in turn, does already call `patchPackageJsonForPlugin` followed by `runPackageManagerInstall`. So I'm wondering  why/how  does your workaround work...🤔

[2021-12-19 14:35] smasala commented on #8227
I've tried upgrading to latest NX versions and various individual versions using pnpm overrides such as TS, rollup and babel. Could this be a webpack config issue? How does NX react configure webpack differently to the nx storybook builder?

[2021-12-19 16:06] denik1981 opened #8233 "Type Duplication on reinstall between@types/react and @types/react-dom. Please add resolutions on package.json."
## Current Behavior

After you delete your entrie node_modules dir and reinstall you nx workspace (generated with any react-like preset) you will encounter an issue of type duplication based on the types found in both **@types/react** and  **@types/react-dom** .

**@types/react** is required with an exact version number by nx whereas @types/react-dom requires @types/react by using the "*" wildcard

[2021-12-19 16:49] motabass commented on #8228
I'm facing the same issue since last update. This also breaks graphql schema generation from code.

[2021-12-19 17:12] yoan-asdrubal commented on #8195
Fixed with @nrwl/cli": "13.3.9" released .

[2021-12-19 17:12] #8195 closed

[2021-12-19 18:24] smasala commented on #8227
Rollup also complains about not finding globals (also see the `nx report` output above (deprecated warning)

[code]

https://github.com/rollup/rollup/issues/1514#issuecomment-320438924

[2021-12-19 19:28] beeman commented on #4601
Please leave this open - it's still pretty relevant imo 🙏

[2021-12-19 20:30] msabramo commented on #8051
I wonder if #8226 lets with this issue?

[2021-12-19 20:59] dobromyslov commented on #7872
Yesterday bumped into this error when migrated my NX node project from CommonJS to ESM.

### Root cause investigation:
1. **@nrwl/node:build** calls [getNodeWebpackConfig()](https://github.com/nrwl/nx/blob/0b3cab0a7b9062401d20b738f38427eaefa95a3f/packages/node/src/executors/build/build.impl.ts#L91)
2. **getNodeWebpackConfig()** calls [getNodePartial()](https://github.com/nrwl/nx/blob/0b3cab0a7b906

[2021-12-19 21:06] dobromyslov commented on #7872
@nartc I propose a feature request: add `--esm` configuration flag to the `@nrwl/node` which allows us to build node with
[code]
https://github.com/nrwl/nx/blob/0b3cab0a7b9062401d20b738f38427eaefa95a3f/packages/node/src/utils/node.config.ts#L27

[2021-12-19 21:20] zgover opened #8236 "Next.js deprecated target field in next.config.js"
In apps using Next.js inside Vercel environments it is now [deprecated to use the `target` field](https://nextjs.org/docs/messages/deprecated-target-config) in next.config.js, therefore the enforced `target = 'experimental-serverless-trace'` inside the withNx util can be removed.

https://github.com/nrwl/nx/blob/3965ce42e7e8ab546e2469b4fd18f842f9f5229e/packages/next/plugins/with-nx.ts#L26-L35

[2021-12-19 22:58] mwoodpatrick opened #8239 "Examples of Next.js page generation are actually generating components"
## Current Behavior
The examples in the documentation page for the [nrwl/next:page](https://nx.dev/l/r/next/page) are actually generating components

## Expected Behavior
The examples should be generating pages

[2021-12-19 23:48] Wazbat commented on #3419
I just wanted to chime in and say that I agree completely. As someone new to nx this took a while to figure out. I really do feel that the docs should be updated your example, stressing the importance of it being the sha of the last succesful build

I'm using google cloud build, so I used the following inside of the `gcloud` builder which runs this bash script
[code]

It's not pretty but it seems

[2021-12-20 00:13] #4640 closed

[2021-12-20 04:00] kunjee17 commented on #7613
Finally manage to upgrade to 13. Tip from above comment did work for me.
Here are the steps.
- nx migrate lastest
-  npm i --legacy-peer-deps
- npm outdated // find which packages are in red and which you can update. Don't update typescript if you are using angular as they mostly tied with TS version.
- nx migrate --run-migration
- if don't work go to step `npm outdated` there must be some depende

[2021-12-20 07:45] maxisam commented on #5848
@adeprez The workaround is using Linux environment to run it. I kinda lost track on this one. Sorry about that.

[2021-12-20 12:07] mandarini commented on #8115
@lukeribchester `nx report` gets the versions from the actual installed version of the package in `node_modules`. Your version in package.json is `^13.0.0` so that is expected to resolve to `13.1.1`. :)

I'm glad that you can not reproduce the issue any more, it should not exist now.

[If you're having trouble running Storybook `6.4.9` with Angular `13.1.1`](https://github.com/storybookjs/storyboo

[2021-12-20 12:10] mandarini commented on #8199
Hi all! Can I close this issue, since it's not really a bug?

Thank you very much @bradtaniguchi for the detailed steps and fix, and thank you very much @pkirchniawy for the extra tip! :) <3

[2021-12-20 12:21] mandarini commented on #7009
Closing this, since it seems to be on purpose!

[2021-12-20 12:21] #7009 closed

[2021-12-20 12:29] Areen3 commented on #1262
Thans, I try it ...

[2021-12-20 12:51] mandarini commented on #8198
Hi @BorisZubchenko ! Sorry, I literally just got around to looking into this. So, your real issue is that Nx does not support automatic Storybook configuration generation for Next.js. That does NOT mean that you cannot use Nx with Next.js+Storybook. You can, but you have to write your own configuration manually.

As you can see, when you used the Nx generator to generate Storybook configuration fo

[2021-12-20 12:55] mandarini commented on #8183
Hi there @bosycom ! Thanks for filing an issue. I agree with @Matrix89 that this is not a bug, since we're initialising a git repo. I will close this for now, and let me know if you think it should reopen, but maybe as a feature request?

[2021-12-20 13:00] mandarini commented on #8187
Hi there @duxard ! Thanks for filing an issue! Can you please check these links?

* https://github.com/nodenv/nodenv/issues/108
* https://stackoverflow.com/questions/51293566/how-to-include-the-path-for-the-node-binary-npm-was-executed-with

There seems to be a mismatch in your node binaries, and maybe the above links could help you resolve this! Let me know if this helps! :)

[2021-12-20 14:27] leon opened #8241 "https://github.com/nrwl/nx/releases not in sync with npm releases any more"
## Current Behavior

https://github.com/nrwl/nx/releases
was before kept up to date with the current npm releases.
but they are lagging behind now.

- github 13.3.6
- npm 13.3.11

## Expected Behavior
that npm and github should be in sync

[2021-12-20 15:15] mandarini commented on #8199
So, to recap, yes, if you're on an Angular project working with Storybook and you're having trouble running Storybook, you can do the following:

### For buildable projects

That means: for **apps**, **buildable libs,** projects that have the **`build` target** in their `architect` or `targets` in `angular.json` or `project.json`

Run you app like this:
[code]

### For libs

Or for non buildable p

[2021-12-20 15:26] ainulhassanml commented on #4627
@JustusNBB after running `npx nx g @nrwl/web:webpack5` facing following error

[code]
any workaround to this issue?

[2021-12-20 15:27] nick-allen commented on #8199
Would recommend at least a doc update, since it took me spinning up a debugger and tracking down the lines mentioned in my initial message to understand why this was failing. None of the getting started docs made any mention about default project setups, and the error caused is not obvious. The better solution in my mind is to just assume the `projectBuildConfig` value should be automatically set

[2021-12-20 15:30] mandarini commented on #8199
I'm working on that doc, and a more helpful error 🙃  @nick-allen

[2021-12-20 15:42] datumgeek commented on #5952
i also encountered this problem...

it was killing me...  i couldn't figure out why nx didn't build right...  it was giving me tons of errors about one of my referenced project @scope1/lib2 and all of its .ts files being outside the project that referenced it...  i also noticed that the dep-graph had @scope1/lib2 but there was no dependency arrow from the referencing library...

i found this fix:

[2021-12-20 15:43] aiecee commented on #5926
I found that changing the name in the azure pipelines yaml file fixed this for us. Setting it like this allowed it to run correctly.
`name: $(TeamProject)_$(Build.DefinitionName)_$(Build.BuildId)`

From what I can tell azure sets the build id to the name you specified. This is currently running for us nightly so can confirm it works

[2021-12-20 16:21] DaveMBush opened #8242 "Storybook Storyshots errors with "Your test suite must contain at least one test.""
## Current Behavior
When I run tests with storyshots the test(s) fail with "Your test suite must contain at least one test"

## Expected Behavior
I expect it to run my tests

This has worked for me using Angular 12 and Webpack4 and storybook 6.2.x but no longer works with storybook 6.3.x or greater (including the current 6.5.alpha4 version) and webpack5.  (I'm not sure that the webpack4/5 is the i

[2021-12-20 18:40] iskandersierra opened #8243 "Incorrect generation of nestjs resource when using other than rest API type"
## Current Behavior

When I run the command `nx g @nrwl/nest:resource tenants --project apis-admin-api --type=graphql-code-first --crud`, Nx generates a Nest module with a REST API Controller, instead of a GraphQL Resolver.

## Expected Behavior

I expected that the command `nx g @nrwl/nest:resource tenants --project apis-admin-api --type=graphql-code-first --crud` would generates a `NestJS resour

[2021-12-20 18:42] iskandersierra commented on #8243
@ashley-hunter I can see you worked on the nest plugin. Does this issue seems familiar to you?

[2021-12-20 18:53] iskandersierra commented on #8243
I managed to do the steps indicated here https://docs.nestjs.com/graphql/quick-start but it would be great if the plugin would solve this issue at the root level.

[2021-12-20 19:48] zoechi commented on #5655
@leosvelperez thanks for looking into it 👍. I'll follow your suggestions

[2021-12-20 22:28] ashley-hunter commented on #8243
@iskandersierra Hey, looks like there was an issue preventing some options (such as `type` from being forwarded to the Nest schematic). I have raised a PR with a fix https://github.com/nrwl/nx/pull/8246.

[2021-12-21 00:14] #5113 closed

[2021-12-21 03:27] FrozenPandaz commented on #8156
The layout is supported by Nx but it isn't generated by Nx as it is not what we would recommend. You can feel free to take the code out of `lib` and put it directly under `src`. As mentioned in https://github.com/nrwl/nx/issues/3414#issuecomment-670690016, there are other ways to add this behvior via [Workspace Generators](https://nx.dev/l/r/generators/workspace-generators)

[2021-12-21 03:27] #8156 closed

[2021-12-21 03:34] FrozenPandaz commented on #8158
This is an error message from `pnpm`, not nx.

`yarn` parses args in a different way than `npm` and `pnpm`. `pnpm` needs a delimiting `--` to separate out flags that are passed to `pnpm` vs flags that are part of the command. The command you are looking for is:

[code]

[2021-12-21 03:34] #8158 closed

[2021-12-21 03:42] FrozenPandaz commented on #8167
We made the decision to not add a logger into the API of `runExecutor` or executors in general.

Instead, you can..

1. Listen to the events that the iterable returned by the executor returns while somehow specifying that the executor should be silent.
2. The executor itself would have an option to specify the format in which it logs output similar to how `eslint` has `--quiet` or `jest` has diffe

[2021-12-21 03:50] FrozenPandaz commented on #8190
@jaysoo Maybe we can remove this since... we don't really support webpack 4 anymore?

[2021-12-21 03:59] FrozenPandaz commented on #8217
I'm not sure exactly what the expected behavior for `--minimal` is but you can remove the test, e2e, and lint runners by passing:

`--linter none --unitTestRunner none --e2eTestRunner none` produce the following:

![image](https://user-images.githubusercontent.com/8104246/146868670-6960af21-a353-4e7f-ab51-6e0f99604c74.png)

Is this the behavior you are expecting?

[2021-12-21 04:23] FrozenPandaz commented on #8241
@vsavkin must have forgot to add release notes for those. We will add release notes for upcoming versions.

Do not worry, they are legitimate versions published by us.

[2021-12-21 04:43] #8222 closed

[2021-12-21 05:32] ronnetzer commented on #5639
@tinesoft Sure,

I was using the patch and install methods to add the dependent packages after the ensure.

So first you have the `ensureNxProject` for the package you want to test,

Then `patchPackageJsonForPlugin` to add the missing dependent package and ending with `runPackageManagerInstall` to install that added package.

It works a little weird as you'll see the npm install running twice, and

[2021-12-21 07:58] aaa123eee commented on #5952
In my case the cause of problem was incorrect "name" field in "libs/**/*/lib-name/package.json" file.

Looks like it should match with path to lib in tsconfig.base

[2021-12-21 09:03] wwlh200 commented on #7897
you can install css-loader@3.6.0 and  less-loader@5.0.0 and storybook/builder-webpack5@^6.4.9,  this problem can be solved!

[2021-12-21 10:22] ainulhassanml commented on #8190
@FrozenPandaz

After running `npx nx g @nrwl/web:webpack5` facing following error

[code]
any workaround to this issue?

[2021-12-21 10:53] beepsoft commented on #5832
+1 would be great to have this!

[2021-12-21 11:42] jbistis commented on #5333
Same issue with 12.2.6

[2021-12-21 13:27] zoechi opened #8252 "Error "'style' is not found in schema" when generating an Angular library module"
## Current Behavior

`npx nx g @nrwl/angular:library --name product-search --directory app/feature --tags platform:typescript,platform:angular,scope:app-feature --prefix pdp --routing false --importPath @pdp/product-search`

Results in this error:

[code]

I had to remove the `style` entry in `nx.json` from
[code]

I'm pretty sure I didn't add this entry manually. Was this removed in a recent upda

[2021-12-21 13:41] sandeeppatidar30 opened #8253 "ng g @nrwl/angular:application failing while running using externalSchematic on Windows machine"
## Current Behavior
`ng g @nrwl/angular:application` if i run it using `externalSchematic`.

## Expected Behavior
It should not break the `ng g @nrwl/angular:application`

## Steps to Reproduce
1. Create a custom generator
2. Run `ng g @nrwl/angular:application`  using `externalSchematics`
[code]
3. After running above generator e.g. ng g @org/mylib:my-custom-generator

### Failure Logs
[code]

##

[2021-12-21 14:08] BorisZubchenko commented on #8198
@mandarini, thank you for a detailed response, it's now clear for me that I should manage storybook within React's library.

[2021-12-21 14:15] CodeCakePie opened #8255 "Angular / Storybook: styles.scss of the default project is used for all storybook configs"
## Current Behavior
After adding storybook-config to a library, the styles.scss of the default application (specified in nx.json) will be applied to all stories.

## Expected Behavior
The storybook styling should be independent of any application styling

## Steps to Reproduce
1. Create a new nx workspace with the angular preset.
2. Add a library to the workspace
3. Create an component in the libr

[2021-12-21 14:31] mandarini commented on #8198
:) Glad I could help!

[2021-12-21 14:31] #8198 closed

[2021-12-21 14:45] psteinroe opened #8257 ""All but project-x-y" in implicit dependencies"
## Description
As far as the documentation tells me, we can define implicit dependencies either using `*` or listing the project names. It would be great if the syntax would support an exclude syntax, i.e.
[code]

## Motivation
We have a few projects in our repository that are just docker files, hence no js code is written there. Using renovate to keep the dependencies up to date, we still run for

[2021-12-21 15:03] alfaproject commented on #7847
I have the same issue. I thought I had a weird repository configuration but after comparing with a fresh nx installation it doesn't seem the case.

This is a bit annoying and breaking. Any feedback, please?

[2021-12-21 15:28] jackall3n commented on #8099
Hey @philipjfulcher, thanks for getting back. Actually yes, this is just what I wanted!

The command I can use to get all projects (regardless of whether they've been affected is:

[code]

[2021-12-21 16:12] DesertFoxNV commented on #8228
I am also seeing the same issue.

[2021-12-21 16:44] tamtakoe opened #8259 "Serve with custom port doesn't work for Nest projects"
If I set port in the `project.json` of Nest-project I see no changes. Server is still on 3333 port.
[code]
But the same works for web (e.g. React) projects

[2021-12-21 17:32] philipjfulcher commented on #8099
@jackall3n - Great! I'm glad you've got the data you need there. The semantics there could use some work. Why do we have to use the affected commands to get all projects? 🤔 I'll bring this up with the team to see what we can do to make it clear/more discoverable.

And I'll add that there's a `--select` option for `print-affected` that I think will give you the same result as using `jq`:
```nx prin

[2021-12-21 17:32] #8099 closed

[2021-12-21 18:16] markosankovic opened #8261 ""Project name already exists" error when generating Angular library with the same name as an existing app"
## Current Behavior

"Error: Project name already exists." is reported by the nx generator (Angular) when trying to generate a library with the same name as an existing app. The recommended directory structure is to use the same name for both app and lib, see: https://nx.dev/l/a/guides/monorepo-nx-enterprise#scope-where-a-library-lives-who-owns-it (happynrwlapp).

## Expected Behavior

The nx gene

[2021-12-21 18:40] philipjfulcher commented on #8261
@markosankovic - Project names must be unique across apps and libs. In the example in the documentation page you linked, there's no library that actually has the same name as the application. There are several libs that are grouped under a directory that has the same name of the application, though. We refer to that directory as a [grouping directory](https://nx.dev/l/a/structure/grouping-librarie

[2021-12-21 18:40] #8261 closed

[2021-12-21 18:49] markosankovic commented on #8261
@philipjfulcher thanks for the explanation. I'll just create a feature library in the grouping directory named same as the app, just as you suggested. My mistake, sorry.

[2021-12-21 18:53] FrozenPandaz commented on #8241
Just published `13.3.12` with a changelog. 👍

[2021-12-21 18:53] #8241 closed

[2021-12-21 18:53] troywweber7 commented on #8228
Name mangling is a part of webpack, right? Should this be posted in webpack's issues?

[2021-12-21 19:53] #8243 closed

[2021-12-21 20:00] knitkode commented on #5005
Hi @ronnetzer thanks for sharing your experiment with ncc and nx, I tried your plugin but I have an issue, my setup is an nx monorepo with some libs, one of these libs is a github action which includes a couple of the other packages within the monorepo. Those do not get bundled in the `index.js` produced by `ncc`, they remain as such:

[code]

have you also experienced this? is your plugin suppose

[2021-12-21 21:16] #8239 closed

[2021-12-21 21:22] hadrien-toma opened #8264 "Incompatible Storybook Version: Please use a version of @storybook/angular higher than 6.4.0-rc.1"
## Current Behavior

It fails to configure storybook in a fresh workspace.

## Expected Behavior

Not fail.

## Steps to Reproduce

[code]

### Failure Logs

[code]
### Environment

[code]

[2021-12-21 21:26] Chklang opened #8265 "nx g @nrwl/nest:service broken if use a dynamic module"
## Current Behavior
I want to use the generator @nrwl/nest:service and my project (lib) has a dynamic module.

## Expected Behavior
The service must be added and declared into the module

## Steps to Reproduce
Generation:
```nx g @nrwl/nest:service --project=nest-server lib/services/gateway-interceptor```
And the next module :
[code]

### Failure Logs
[code]

### Environment
I use node 14.16.1, np

[2021-12-22 00:55] DaveMBush commented on #8242
With the help of the Storybook team I have more information on this...

if I cd into the app project

[code]

And then run jest directly

[code]

The stories run as expected.  So something about running via nx is causing this to not work?

[2021-12-22 03:05] nordfjord commented on #8228
For now you can create a `webpack.config.js` file to override the minimize config

[code]

Another similar option is to override the terser config using the same mechanism

[2021-12-22 03:29] quyphan97 opened #8267 "help me! I get an error when I refresh the webrower. error occurred while building production"
![image](https://user-images.githubusercontent.com/59947963/147030584-e1c8862a-2474-4014-b211-fabf2280add3.png)

version:
"@next/bundle-analyzer": "^12.0.7",
 "@next/mdx": "^12.0.7",
 "@nrwl/next": "13.3.12",
  "next": "12.0.7",
  "next-seo": "^4.28.1",
  "next-translate": "^1.2.0",
   "react": "17.0.2",

[2021-12-22 05:26] mveeravalli commented on #8228
This worked thanks @nordfjord

[2021-12-22 05:29] JakeGinnivan opened #8269 "Allow interactive commands through @nrwl/workspace:run-commands"
## Description

Sometimes you just want to be able to wrap a CLI tool for a project without using a plugin. For example:

[code]

When you run this, sometimes it prompts you

[code]

But all I see is

![image](https://user-images.githubusercontent.com/453152/147040367-9007beb9-efb4-4676-ac3a-ec937a9763a5.png)

## Motivation

There are so many useful CLI tools out there which do not default to --no

[2021-12-22 09:37] funber commented on #8259
I have the same issue. Can not change the default port value. I have tried to do that in project.json or in "nx serve .... --port 3001". Nothing happens.

[2021-12-22 09:48] duxard opened #8272 "Add express to monorepo - "Can only convert projects with one app" ERROR"
Hi Team,

I'm trying to create a monorepo with Angular + React + Express. I did the following steps:
1) Created a new monorepo with Angular in it
npx create-nx-workspace nx-monorepo --preset=angular

2) Added React pluggin
nx add @nrwl/react

3) Added React project
nx g @nrwl/react:app app-react

4) Then tried to add Express:
nx add @nrwl/express

But here it gives me an error "Can only convert pr

[2021-12-22 09:57] duxard commented on #8187
Hi  FrozenPandaz,
thank a lot for the information provided! I was able to resolve this problem by updating NodeJS to 16ver (I had 12 before).

Thanks a lot!

[2021-12-22 10:11] EfstathiadisD opened #8273 "Nx with pnpm is ecountering "Peer dependencies that should be installed:""
## Current Behavior
When I install, one of the following packages to a brand new Nx workspace, I get the following.

<img width="2005" alt="Screenshot 2021-12-22 at 12 06 43 PM" src="https://user-images.githubusercontent.com/48406873/147075653-b6b2505f-46c3-40dc-b158-51f75b1efe10.png">

## Expected Behavior
It should install the package with no errors.

## Steps to Reproduce
Create a new Nx worksp

[2021-12-22 10:17] #8187 closed

[2021-12-22 10:25] Ezard opened #8274 "Take peer dependencies into account when determining affected projects"
## Description
Currently, when updating a dependency, Nx can determine which projects use that dependency, and mark them as affected. However, this only works for dependencies that are directly imported, and not dependencies that are peer dependencies of the updated dependency.

As an example, `@nestjs/common` has an optional peer dependency of `reflect-metadata`. `reflect-metadata` isn't usually

[2021-12-22 11:01] duxard opened #8275 "Failed to add angular to a workspace with Express"
Hi Team,

I created a NX workspace with Express:
npx create-nx-workspace --preset=express

After that I'm truing to add Angular project to the workspace:
nx add @nrwl/angular

But it fails with the error:  **Could not find project "@nrwl/angular"**
![image](https://user-images.githubusercontent.com/18247015/147082631-e8408af9-9ae4-464f-97c7-5642292ec1dc.png)

Could you pls help me with a piece of

[2021-12-22 12:12] joewIST commented on #8255
I am also experiencing this issue. No matter what I use for browserTarget in angular.json, the defaultProject in nx.json is always used in the storybook build, which means any global styles (in the library's styles array in angular.json) are not applied. I haven't been able to find an adequate workaround yet (other than needlessly adding irrelevant stylesheets to the defaultProject's styles array.

[2021-12-22 12:23] CodeCakePie opened #8276 "Documentation: Add some documentation how to create an angular component library with storybook + tailwind"
## Description
I would be interested in creating an angular component library with tailwind + storybook, but I have no idea how to connect the created tailwind.config.js with storybook

## Motivation
I think many developers would benefit from it 😄

## Suggested Implementation
Create a blog post

[2021-12-22 12:50] svallory commented on #8276
I'd like to add that documentation on the difference between the many library generators would be a huge help to newcomers. I'm just starting with Nx and it's very hard to decide between options like `@nrwl/angular:library` and `@schematics/angular:library`. Plus, there's also `@nrwl/angular:library-secondary-entry-point` and no docs on the trade-off between that and a separate lib.

Right now I'm

[2021-12-22 14:11] #8275 closed

[2021-12-22 15:39] rodrigofariow opened #8279 "[swc] - building a publishable react library does not generate type definitions (d.ts)"
Nx **13.3.12**

## Current Behavior

First, I created a nx workspace `npx create-nx-workspace --preset=react` using version 13.3.12.

Then, I tried to create a publishable react library using `swc` as the compiler:
`yarn nx g @nrwl/react:library --compiler=swc --publishable --importPath=@my-lib --name=my-lib --style=none`

and then build it:
`yarn nx run my-lib:build`

I get:
![image](https://user

[2021-12-22 16:27] JoshuaCWebDeveloper commented on #7589
Wouldn't this feature be the same as running `nx run-many --target=test --projects=myapp --with-deps`, or am I not understanding it?

[2021-12-22 18:12] jeffschulzusc commented on #8217
thanks for the reply ...

--minimal as per
https://angular.io/cli/generate

yes, the above dryRun is what i am after ...
but i don't see these options anywhere
can add documentation ?
https://nx.dev/l/r/cli/generate

[2021-12-22 18:19] jeffschulzusc commented on #7636
update on my end, i now have success at nx 13.3.11 ... follow three steps of mx migrate with the caveat as per below:

1. nx migrate latest
2. npm install
3. nx migrate --run-migrations
   error: nx format ..
     had to remove "projects" section in nx.json, ran nx format as per
     https://githubmemory.com/repo/nrwl/nx/issues/7490
     then rerun nx migrate --run-migrations

[2021-12-22 19:52] alonronin commented on #7872
@dobromyslov thanks! would be great if this is on nx roadmap to fix node's generators.

[2021-12-22 20:51] kirjai commented on #8191
thanks for opening the issue!

- looks like the difference in the `jsx-a11y` plugin comes from the fact that npm installs two different versions of `eslint-plugin-jsx-a11y` at the same time. one is in `node_modules`, and one in `node_modules/eslint-config-next/node_modules`.

- `@nrwl/react` depends on `eslint-plugin-jsx-a11y@^6.4.1`
- `eslint-config-next` depends on `eslint-plugin-jsx-a11y@^6.5.1

[2021-12-22 22:15] bothema commented on #8183
@mandarini agrees with @Matrix89 that this issue is not a bug, but I cannot see anywhere in @Matrix89 comment that @Matrix89  would not consider this a bug, so I wonder what this "agree to" is based on. This issue is returning an error and so it strongly strikes me as a bug, but in the end I don't care much. Just thought the developers would be interested in improving/fixing their product.

[2021-12-22 22:29] erasmussenBHTP commented on #8252
I have a similar issue when using the @nrwl/angular:component generator I get an error saying that 'linter' is not found in schema. I'm on 13.3.6 after recently doing small incremental upgrades (i.e. v11 latest, v12, v12 latest, v13, v 13 latest) from v11. All migrations were applied without issues. If I remove the @nrwl/angular:component node from my nx.json generators, I'm able to add components

[2021-12-23 00:13] #7784 closed

[2021-12-23 04:14] alexw10 opened #8286 "nx affected:e2e is hanging on last app running"
## Current Behavior

Hanging happens it seems to be on the last e2e app that runs
Individually the e2e apps work fine when doing `nx e2e app-name-e2e` for example

## Expected Behavior

Should not hang

Seems so this did not seem to be a problem with Angular 12 and NX 12

## Steps to Reproduce

Yes see below.

I was able to reproduce this, if you pull down master and change in the nx.json change:

[2021-12-23 07:32] driver-by commented on #7394
I've got here with the same error after removing one npm package.
The `UnhandledPromiseRejectionWarning: TypeError: Cannot read property 'data' of undefined` doesn't really help to understand what is the issue :see_no_evil:

I've figured out that it's some nx cache and tried to find how to remove it.
Advice from [StackOverflow](https://stackoverflow.com/a/66892555/1707258) helped me with that:
```

[2021-12-23 10:12] istvandesign opened #8287 "@nrwl/storybook doesn't generate stories.json"
## Description
Storybook requires a stories.json file to compose storybooks, currently in the documentation https://nx.dev/l/r/storybook/overview there is nothing explaining how to generate a stories.json file.

## Motivation
Composing multiple storybooks into one

## Suggested Implementation
https://github.com/storybookjs/storybook/discussions/12336

If I had done this in bash
[code]

I do not kn

[2021-12-23 11:37] mandarini commented on #8183
Hi @bothema ! Being kind does not hurt :) I am trying my best to help our users make the best out of our product. Thank you for the constructive feedback.

[2021-12-23 11:37] alfaproject commented on #7589
FYI:

[2021-12-23 12:19] nvedrines commented on #8252
I have a similar issue when using @nrwl 13.3.9.

Executing task: npx nx generate @nrwl/angular:library --name=ngs --directory=ngs/security --no-interactive --dry-run <
'style' is not found in schema

[2021-12-23 12:24] SerdarN92 opened #8288 "NestJS Build fails in Docker - No cached ProjectGraph is available"
## Current Behavior
Locally i have no problems to build my NestJS Application. In Docker with node:14-slim as baseimage, it is failing with the error:

<img width="780" alt="image" src="https://user-images.githubusercontent.com/7069847/147240147-dcc8f189-49a9-47f0-b6e5-1ad0343567cc.png">

I also set

ENV NX_CACHE_PROJECT_GRAPH=false

in the Dockerfile, but it did not help.

## Expected Behavior
I

[2021-12-23 12:39] SerdarN92 commented on #6586
After updating to latest version the error comes up again .. @pmoehler did you find any solution? i also did what you wrote like changing all the ng things to nx .. still the error comes up

[2021-12-23 12:59] DibyodyutiMondal commented on #7877
I just migrated all nrwl packages to version 13.4.0 and watch mode for nrwl/node:package no longer works, irrespective of whether I patch  `typescript.js` as mentioned above. Normal builds work fine,

However, changing the executor to the new `@nrwl/js:tsc` allows watch mode to work. Although that still does require the patching of `typescript.js`

[2021-12-23 13:03] DibyodyutiMondal commented on #8219
I migrated all nrwl packages to version `13.4.0`.

Watch mode works, but requires the patching of typescript as mentioned in #7877

[2021-12-23 13:28] HatemJerbi commented on #7155
please update http-server dependency to http-server@0.13.0 (or  http-server@13.0.2)

[2021-12-23 14:09] mandarini commented on #8276
Hi there @CodeCakePie @svallory ! Thanks for creating a feature request! :)

Would [this guide here by @juristr](https://juristr.com/blog/2021/08/nextjs-storybook-tailwind-nx/) help, or are you looking for something else?

[2021-12-23 14:11] Yohandah commented on #7958
Sorry for the late response, I can't check sorry because after deleting the Nx cache it's working again and I can't reproduce. Here's the full package.json if it can help you investigate :

[code]

[2021-12-23 14:13] mandarini commented on #8264
Hi there @hadrien-toma ! Thanks for filing an issue! There's [already a commit](https://github.com/nrwl/nx/commit/67dc738a7e566f350364f65f34350e3402e983a8) that did that, and it should be out in our latest version of Nx! :)

Can you try it out and let me know if it works for you now?

[2021-12-23 14:19] mandarini commented on #8255
Hi there! Thank you @CodeCakePie @joewIST for filing this issue!

Can you try setting the [--projectBuildConfig](https://nx.dev/l/a/storybook/storybook#projectbuildconfig) flag to the project you want the use the styles from when you're running/building Storybook, and let me know if your issue is resolved?

eg.

[code]
or
[code]

[2021-12-23 14:20] mandarini commented on #8255
btw, maybe a small adjustment in the codebase, and some documentation will land at some point in January to make this a bit clearer.

[2021-12-23 14:21] mandarini commented on #8255
Linking this for reference https://github.com/nrwl/nx/issues/8199

[2021-12-23 14:21] mandarini commented on #8199
Linking this for reference https://github.com/nrwl/nx/issues/8255

[2021-12-23 14:22] mandarini commented on #5561
linking this here https://github.com/nrwl/nx/issues/8287

[2021-12-23 16:56] CodeCakePie commented on #8276
Hi @mandarini

Thx for your suggestion, I already tried all tutorials i found by googleing "nx angular component library with tailwind and storybook", but none of them used the new `ng generate @nrwl/angular:setup-tailwind` generator but i would really prefer to use that one, as it is integrated in the cli now...

And I didn´t found many tutorials for using angular with tailwind in general.

I thi

[2021-12-23 17:10] #8183 closed

[2021-12-23 18:47] nadavsinai commented on #7366
HI, I've debugged this issue which started appearing in our CI in parallel to me starting to work on the platform update which updates NX (still in a private branch) to latest. @vsavkin it appears that NX 13.x corrupts the cache for NX 11.x.
in your cache you have nxdeps.json which should have .rootFIles property as an array (at least by how NX 11.x assumes)
the code in @nrwl/workspace/src/core/pr

[2021-12-23 19:48] p-v-d-Veeken commented on #7847
Would appreciate an update about this as well!

[2021-12-23 20:06] tpinne opened #8294 "Build fails on vercel with its build cache. Build succeeds on redeploy without build cache"
## Current Behavior
If I push a new commit vercel deploys my application automatically including the vercel build cache and the build fails by not finding a local (nx) library (see failure log below).
If I do a redeploy without the build cache the deployment works fine.

## Expected Behavior
A functioning build everytime even with the vercel build cache.

## Steps to Reproduce

Not able to provide

[2021-12-23 23:14] DibyodyutiMondal commented on #8219
Additionally, the current watch mode implementation does not populate the output `package.json` with dependencies.

The `@nrwl/node` package already does this. At the moment I am using a custom executor that copies this behaviour from the `@nrwl/node`, while compiling using the `@nrwl/js` package

[2021-12-23 23:17] DibyodyutiMondal commented on #8219
This is the custome executor I came up with
[code]

[2021-12-24 00:20] sean-rowe commented on #7651
I see this is closed, but I'm seeing this same issue with the latest angular. What is the fix?

[2021-12-24 04:09] hadrien-toma commented on #8264
Hi @mandarini, thanks for your answer!

I still have the issue with the following `nx report` output:

[code]

[2021-12-24 05:17] omardoma opened #8297 "Make Fastify a 1st class citizen similar to Express/Nest by adding an official plugin."
## Description

An official [Fastify](https://github.com/fastify/fastify) Nx plugin similar to the one for Express/Nest.

## Motivation

[Fastify](https://github.com/fastify/fastify) is a wonderful framework for Node.js and has a very large community that could benefit from Nx, it is also very closely associated to/maintained by Node.js Core contributors, so an official plugin would really help dr

[2021-12-24 07:00] Areen3 commented on #8252
it turns out that the style section has dropped out of the library creation area, how do you create the application it is
probably because as the library schema from nx.json is loaded and there is a style entry, it is a bug
but that's my guess

[2021-12-24 11:35] artaommahe commented on #7971
@leosvelperez btw how nx-deps is invalidated and updated by nx? Even having local development requires to update it's graph on new code changes (especially main branch pull). Is this invalidation increment or the whole graph is recreated from scratch?

[2021-12-24 12:13] ronnetzer commented on #5005
Hi @knitkode,
Thank you for trying our plugin.

As I've written above,

So currently, it's not supported but in the meanwhile you can fix it by changing your imports to the library from `@scope/my-lib` to relative imports.

Would you mind open an issue in our [repo](https://github.com/e-square-io/nx-plugins)?

[2021-12-24 14:45] BenLune commented on #8252
I have a similar issue while creating a new library. Thanks a lot for the workaround, it worked for me.

[2021-12-24 15:12] ivibe commented on #4581
I had same issue for node based apps. Fixed it by adding
[code]
into compilerOptions of tsconfig.app.json, that was missing for some reason.

[2021-12-25 00:12] #5122 closed

[2021-12-25 07:18] dawangraoming opened #8300 "Storybook: Cannot render the background image in CSS correctly"
## Current Behavior

When using image file in `module.scss`, the background image cannot be displayed correctly in the storybook,

and the image file actually generated are damaged.

## Expected Behavior

Can use the background image in module.css and show it.

## Steps to Reproduce

### Create a project
[code]

### Add some code and file

1. add a image file into `libs/uikit/src/lib` folder, like

[2021-12-25 07:55] amitrai99 commented on #4526
Has anyone been able resolve this issue?

[2021-12-25 09:16] ibrahimAboelsuod commented on #1542
For those asking about how to do this with react apps, in `next.config.js` add:
[code]
and then you just import directly like: `@import 'variables';`

[2021-12-25 14:47] npwork commented on #1541
Please add native support for vue 2 and 3.

[2021-12-25 19:57] npwork commented on #4620
Really useful feature. Struggle myself. +1 please add it to nx

[2021-12-26 10:18] nadavsinai opened #8302 "library build fails - "Cannot convert undefined or null to object""
## Current Behavior

library build fails with this error trace
[code]
the weird thing is that the build chain (6 dependencies) starts by running the target lib and finishes successfully

it then goes on to compile the dependencies and fails with the above error
running build on any of the dependencies works fine
I don't know what's different about this lib (from the 60~ projects this monorepo has)

[2021-12-26 13:35] Archisman-Mridha commented on #5832
eagerly waiting to use this in my project

[2021-12-26 15:04] npwork commented on #1098
+1 for this feature

[2021-12-26 15:10] hubertgrzeskowiak commented on #7031
Hey, is there a known workaround for this?

[2021-12-26 18:46] florinrelea opened #8305 "Cannot use the SWC compiler - @nrwl/js:swc"
## Current Behavior

![Bug Image](https://i.imgur.com/3RSp9YD.png)

Excepting the path bugs, I receive this error only when compiling with SWC. No error when using tsc
`Return type of exported function has or is using private name X`

## Expected Behavior

![Correct behavior](https://i.imgur.com/8eewcX8.png)

## Steps to Reproduce

[code]

[Github Repo](https://github.com/florinrelea/nx-swc-bug)

[2021-12-26 23:25] jbistis commented on #8252
I have the same issue creating a new library. Thank you for the workaround, it worked for me too.

[2021-12-27 00:14] #6000 closed

[2021-12-27 00:14] #5118 closed

[2021-12-27 00:14] #7511 closed

[2021-12-27 02:38] Esya commented on #4964
Having the same issue

[2021-12-27 04:05] fr-esco commented on #8112
Do I need to give you more info?

[2021-12-27 05:05] maxisam commented on #6370
@FrozenPandaz Could you remove the bot action for this issue? I don't mind it might take a long time to fix this issue.

I can understand it is not the priority.
However, it is just annoy to keep the bot away by making more useless comments, including this one.

[2021-12-27 06:06] whimzyLive commented on #7651
I am seeing this issue as well. 😢️

[2021-12-27 09:37] Jordan-Hall commented on #1541
Guys if you want this, you could use NX vite plugin and then inside the vite.config.js file add the required plugin for vue

[2021-12-27 10:12] pascalbe-dev commented on #1206
pinging to keep this active, I think this still could be a valuable feature.

[2021-12-27 10:58] fr-esco commented on #8112
Has this issue been validated?

[2021-12-27 11:35] ApplY3D opened #8306 "Module Federation fix for Angular 13"
## Current Behavior
In dev build impossible to load MF app because of error ["Cannot use 'import.meta' outside a module"](https://github.com/angular-architects/module-federation-plugin/issues/96)

## Expected Behavior
Module Federation works fine - @manfredsteyer [fixed this in angular-architects issue](https://github.com/angular-architects/module-federation-plugin/issues/96#issuecomment-981896034

[2021-12-27 12:17] nadavsinai commented on #8302
another weird issue, could be related.
as I test the platform-update branch I found tests fail due to errors as such
[code]

[2021-12-27 15:45] MSakamaki commented on #5611
@CWSites `fatal: No such ref: 'master'` is confusing, but doesn't seem to be the cause of the CI error.

It is purely the format of the `CI_CHANGE_LOG.md` file that is causing the error in the check.
you try running a `format:write ` command locally once and push it to the target branch.

In my CI environment, I get a `fatal: No such ref: 'master'` message, but the command also returns `0` and CI

[2021-12-27 18:29] jasonmacdonald commented on #6615
Is there any update on this? I'm about to start a new project and feel like using the current storybook/cypress plugins is about to get deprecated right at the start of my project. Is there anything I can do to avoid this for now?

[2021-12-27 18:55] tyler-morrison commented on #6615
@jasonmacdonald I made some headway on this issue over the holiday and plan to submit a PR in early Jan.

One of my remaining "To Do" items is to create a migration script for users with existing Storybook tests.

In theory, this shouldn't be too difficult because you're essentially swapping the `cy.visit('storybook-iframe')` for  a `cy.mount(<TestComponent/>)`

[2021-12-27 23:35] sean-rowe commented on #4526
I just removed that particular migration completely from the migrations file,. Then I made sure that my @nrwl/workspace was at the same version as the other plugins. Then I ran the migration successfully

[2021-12-28 00:13] #7692 closed

[2021-12-28 01:47] DNYLA opened #8308 "unable to import file in main.ts"
## Current Behavior

When i try to import a local file in Main.ts i get an error saying it cant find the module/file.
import { store } from 'store';
import App from 'App';
 Ctrl clicking the file opens up the correct file and there are no errors in my IDE.
## Expected Behavior

It should import the file with no errors.
## Steps to Reproduce

I used nx g react to create a react application. I then

[2021-12-28 08:11] Maximaximum commented on #5118
I believe this issue should not be closed unless it's fixed. Everyone is just using a workaround, as far as I understand

[2021-12-28 08:55] intellild opened #8309 "Publishable package with dependency on other lib build error"
## Current Behavior

Error during bundle: Error: &lt;workspace-root&gt;/packages/library1/src/lib/library1.tsx(1,24): semantic error TS6059: File '&lt;workspace-root&gt;/packages/common/src/index.ts' is not under 'rootDir' '&lt;workspace-root&gt;/packages/library1/src'. 'rootDir' is expected to contain all source files.

## Expected Behavior
should build without error

## Steps to Reproduce
* gene

[2021-12-28 09:39] chenka commented on #2536
I have the same problem too, I should be able to import libs I've created

[2021-12-28 10:19] jonhamm commented on #7225
I just upgraded to Nx 13.4.1 - and I still see the problem:
[code]

And line 245 in hasher.js is the last line here:
[code]

[2021-12-28 11:31] robbievandam opened #8313 "ESLint throwing circular dependency issues (what feels) at random"
## Current Behavior
So I've been trying out nx the past few days and so far it looks very promising!

Now I've been playing around with different structures and the issue seems to be returning, so not sure whether it's a bug or just me doing something wrong. It seems to be at random that ESLint is throwing circular dependencies:
[code]

Often it also throws: `imports of apps are forbidden (nx-enfo

[2021-12-28 12:49] pranav-js commented on #6922
I still get this error with https://github.com/ionic-team/stencil-eslint extension with stencil-library setup in nx. Had to install with ```--legacy-peer-deps``` option though because it used lower version of eslint.

Now I get

[code]

[2021-12-28 14:25] ryancraigmartin commented on #7613
I'm seeing the same error in my workspace when running npm install as well. Tested @kunjee17's suggestions (thanks kunjee!) but have not been able to find a solution yet. Running `npm i --legacy-peer-deps` does allow an install to take place and get my expected `node_modules` dir, but the install quickly finishes and displays the same error when trying to run migrations again `NX  ERROR  Could not

[2021-12-28 17:32] Person-93 opened #8315 "Global install of nx does not find yarn plug'n'play packages"
## Possible duplicate of https://github.com/nrwl/nx/issues/2386
I'm not sure if this falls under that issue's scope since this is only about the global package.

## Current Behavior
Running `nx` in a workspace that uses plug'n'play results in an error prompting me to run `yarn install`.

## Expected Behavior
It should find the installed plugins.

## Steps to Reproduce
 - create a new workspace
 -

[2021-12-28 17:44] Person-93 commented on #8315
Maybe it should use the [PnP API](https://yarnpkg.com/advanced/pnpapi) instead of require.

https://github.com/nrwl/nx/blob/7fd7849729da3e407d0dc9247bb28e46ddf08f80/packages/cli/bin/nx.ts#L32-L36

[2021-12-28 18:00] NovaMachina opened #8316 "Npm Packages Are Not Being Resolved in TypeScript Workspaces"
## Current Behavior

Following the [Nx documentation for TypeScript projects](https://nx.dev/l/r/getting-started/nx-and-typescript) I have discovered an issue when importing a npm package into a barebones TypeScript application and then using it in a TS file. It would appear that there is an issue resolving npm packages in TypeScript workspaces.

I did some digging into the stack trace (provided b

[2021-12-28 18:45] Cammisuli commented on #3342
For those that stumble across this issue in the future, the extension that we created [Nx Console](https://marketplace.visualstudio.com/items?itemName=nrwl.angular-console) includes a Typescript plugin that enables auto importing properly for all newly created libs.

Give it a shot!

[2021-12-28 18:50] Alspaladin commented on #4159
Why it's closed? My project is failing on nx format:check without any message besides the `error Command failed with exit code 1.` and --verbose adds nothing to it

[2021-12-28 22:33] qortex opened #8319 "enforce-module-boundaries mistakes the app name in a lib prefix as the app directory"
## Current Behavior

I use the architecture advised in the angular architecture book by the Nx team:

[code]

Then I use the `enforce-module-boundaries` to make sure libs are properly imported.

But from the `booking` app, if I `import '@myproject/booking/feature-shell`, I get this error:

Linting error with `eslint (@nrwl/nx/enforce-module-boundaries)`: `Projects should use relative imports to im

[2021-12-28 22:46] qortex commented on #8319
Well, just an ESLint server reset fixed the issue, so it was just a temporary glitch somehow.

[2021-12-28 22:46] NullVoxPopuli opened #8320 "I don't have a stack trace for error: `ValueExpected in JSON at position 0`"
## Current Behavior
[code]

## Expected Behavior
I should have a stack trace so I can see what's wrong.

## Steps to Reproduce
1. clone / checkout this branch: https://github.com/NullVoxPopuli/limber/pull/379
2. run `yarn`
3. run `yarn build`
4.

### Failure Logs
that's what I'm looking for

### Environment
[code]

[2021-12-28 23:40] hcharley commented on #7394
Trashing my node_modules on a hunch fixed this issue for me just now.

Thanks @driver-by for showing me that I could have deleted just that one directory/file.

[2021-12-29 00:12] #5856 closed

[2021-12-29 00:12] #5998 closed

[2021-12-29 00:13] #5817 closed

[2021-12-29 06:04] kunjee17 commented on #7613
@ryancraigmartin have you done the steps of `npm outdated` and update the dependency manually which is not updated automatically ?

[2021-12-29 11:01] tmtron commented on #7490
That worked for me.

@leandrocrs : When you delete the `projects` entry, you lose the tags, etc., right?

[2021-12-29 13:15] qortex commented on #8319
Hum, happens again in another place (wrongly detects circular dependency because it thinks it refers to the main app but it's a lib).

Any pointer as to how to debug & workaround?

[2021-12-29 13:20] qortex commented on #8319
Disappeared again after several resets. Definitely something going on with caching or something.

[2021-12-29 13:20] #8319 closed

[2021-12-29 14:38] #8308 closed

[2021-12-29 14:54] andreasasprou opened #8322 "Unable to remove dependencies between projects as specified in the docs via `implicitDependencies`"
## Current Behavior
In https://nx.dev/l/r/core-concepts/configuration, it specified that we can remove dependencies between projects (e.g. a lib seems to build an app while it does not have a connection via the project graph, so I'd like to explicitly remove it)

[code]

When adding `"implicitDependencies": ["!mylib"]` project.json file of a lib, then trying to build it, I get:

[code]

From what

[2021-12-29 15:42] na-ji opened #8323 "React's babel/jest configuration is creating an error: Cannot use import statement outside a module"
Hello,

## Current Behavior

When running jest tests on a React component importing [ky](https://github.com/sindresorhus/ky), the tests does not build because of `Jest encountered an unexpected token` error. Similar issues exist for [@nrwl/angular](https://github.com/nrwl/nx/issues/7844) and [@nrwl/node](https://github.com/nrwl/nx/issues/6782), but none of the solution worked for @nrwl/react.
I tr

[2021-12-29 17:57] demisx opened #8326 "Error upgrading from v13.2.4 to v13.4.x"
Following official [Nx upgrade guide](https://nx.dev/l/a/core-concepts/updating-nx#migrating-to-the-latest-nx-version) I get the following error running npm install:

[code]

## Expected Behavior
Smooth upgrade to the latest minor version

## Steps to Reproduce
[code]

### Failure Logs
[eresolve-report.txt](https://github.com/nrwl/nx/files/7790060/eresolve-report.txt)

### Environment
[code]

[2021-12-29 18:17] demisx commented on #8313
When I get circular deps issues reported in VS Code, the first thing I do is check with `npx nx affected:lint`. If the latter doesn't report any errors, it's usually a cache issue in VS Code and it goes away after restarting it. This happens quite often when I move libs around.

[2021-12-29 19:46] eprokofev commented on #4159
I don't understand "stale" logic as well. My pipeline also failed at this step without any reason. Verbose is not informative at all.

[2021-12-29 23:40] gioragutt commented on #4508
Any update on this? So far this has not caused me any problems other than files being shown with errors in the file explorer in vscode, but this should definitely be fixed.

This is, based on the error message, incorrect usage of typescript 🤷🏻‍♂️

[2021-12-30 00:13] #5198 closed

[2021-12-30 01:51] Person-93 opened #8332 "Jest plugin missing dotenv dependency under yarn plug'n'play"
## Current Behavior

Error running tests for brand new library generated using the node plugin.

## Expected Behavior

Tests should pass.

## Steps to Reproduce

Create a new workspace, switch to plug'n'play, add and init the node plugin, create a library, and test it.

### Failure Logs

[code]

### Environment

[code]

[2021-12-30 02:37] Person-93 commented on #8332
I was able to resolve this by manually installing dotenv, perhaps it can be included in the dependencies for the jest plugin. If not, then maybe initializing the jest plugin should add dotenv.

[2021-12-30 04:55] #7155 closed

[2021-12-30 09:26] Brian-McBride opened #8335 "generate @nrwl/react:stories is destructive"
# @nrwl/react:stories is destructive

## Problem
[code]

Will be destructive to existing stories via UPDATE

### example:

[code]

## Proposed Feature

Add a flag to update, default to not updating existing stories.

## Why?

Because developers customize stories with various states or custom wrappers.

[2021-12-30 09:57] frontr-uk commented on #2895
@Chartieer you are a star!

[2021-12-30 11:50] dbvcode commented on #3173
@wxyer did you find a solution?

[2021-12-30 13:57] hbj commented on #7662
@AgentEnder any updates on this?

[2021-12-30 14:37] pemsbr opened #8336 "`nx format:write --all` fails with `ENAMETOOLONG: name too long`"
## Current Behavior
`nx format:write --all` fails with `ENAMETOOLONG: name too long`.

`prettier -write .` works as expected.

## Expected Behavior
Why are all the prettier supported languages being used in the glob pattern? Not only is it causing this problem but it's skipping some files such as `.babelrc`. Shouldn't invoking prettier with `--write .` suffice?

### Failure Logs
[code]
[code]
###

[2021-12-30 15:01] andreasasprou commented on #8322
I believe `detectAndSetInvalidProjectValues` should be something like

[code]

with

[code]

and remove the tests "should throw for a project-level implicit dependency that is a string" and "should throw for an invalid project-level implicit dependency"

[2021-12-30 16:13] kazamov commented on #7924
The issue caused because of the fix #7727

[2021-12-30 16:25] robbievandam commented on #8313
I've found that sometimes the errors don't disappear after restarting the IDE _(like I said, it happens in both VSCode and WebStorm)_ and the only solution which seems to remove them is completely removing my `node_modules` and re-installing them :/

Haven't tried removing the `node_modules/.cache` folder though.

[2021-12-30 16:37] jkonst commented on #7651
I can confirm this issue also.

[2021-12-30 16:49] qortex commented on #8199
In my setup (that worked a while ago but doesn't anymore), the build fails because as I understand it, the `tsconfig` from the build project is not used. So some `ts` files (here `polyfills.ts`) is not included in the build. So I get:

`apps/webapp/src/polyfills.ts is missing from the TypeScript compilation. Please make sure it is in your tsconfig via the 'files' or 'include' property.`

Adding th

[2021-12-30 18:28] Nasicus commented on #8169
In the meantime I tried to do the same (`import styled from 'styled-components/macro'`) in a new CRA project with cypress component testing and there it works.

So it definitely only happens together with nx. (Not saying that I didn't configure anything wrong there, but still...).

I still have no idea to solve this btw.

[2021-12-30 19:22] zachgoll commented on #4619
I'm not seeing the support for `nx lint --uncommitted` [in the docs](https://nx.dev/l/r/cli/lint)?  I'm on NX 12.

For those looking for a basic `lint-staged` + `husky` setup, here's what I've got that is working pretty nicely ([with help from this post](https://github.com/okonet/lint-staged/issues/522#issuecomment-751219628)).

`package.json`:

[code]

No need to use `nx` for the lint step becaus

[2021-12-31 05:28] smasala commented on #8081
@Coly010 here's the fix https://github.com/angular-architects/module-federation-plugin/blob/main/migration-guide.md#advanced-opting-out-of-using-ecmascript-modules

Add the following to the webpack config:
`scriptType: 'text/javascript'`

[2021-12-31 06:57] pranav-js commented on #4619
@zachgoll use the new husky config if possible. one with pre-commit.sh file

[2021-12-31 07:14] mklueh commented on #3377
As Vue and Nuxt are not supported by the NX core, but rather just with a third-party plugin https://github.com/ZachJW34/nx-plus which does not work in my case (version conflicts / outdated packages - who knows), is it possible to get those running without any external plugins?

Any change in plans to support the Vue ecosystem natively? Spending days already to get things working without any succes

[2021-12-31 09:11] hadrien-toma commented on #6712
😶‍🌫️

[2021-12-31 20:06] kryptus36 commented on #6891
This is a major problem. I just recently started to use NX and now I'm wondering if I should back out. My prod builds are simply broken atm. It's kind of worst possible case.

[2021-12-31 21:03] cdaringe opened #8343 "RFC: Dangerously opt-out of edge in dependency graph"
## Description

I want to remove a module from the dependency graph, removing it intentionally from being consider in `affected` behavior.

## Motivation

I have a module that will be used _everywhere_, frequently. It is also changed often. Changing this module will re-test the world on a daily basis, and it will be wasteful. Common tasks like `build` or `test` will implicitly test and protect any

[2021-12-31 23:40] zachgoll commented on #4619
Very good, point!  I'm on an older version of Husky for the setup above (v4).  The newest versions of husky don't allow this `package.json` syntax anymore and require something like this in `./husky/pre-commit`:

[code]

[2022-01-01 00:13] #5302 closed

[2022-01-01 10:53] rabraghib commented on #2675
+1

[2022-01-01 11:00] bulldog98 opened #8344 "Support jest.config.ts"
If you changed your global jest.config.js to jest.config.ts, the library generators, e.g. @nrwl/angular:lib will generate a jest.config.js file in root and ignore the jest.config.ts

## Current Behavior
A new /jest.config.js is generated and the lib/jest.config.js references that root jest.config.js

## Expected Behavior
I'd expect the no new jest.config.js in the root, and the jest.config.js file

[2022-01-02 00:04] 1antares1 commented on #7844
Hi guys!

I tried to follow every comment with a possible solution here to the letter. I relied on an example project on github as well which works perfectly.

This also started to happen to me after updating everything manually.

My jest.config.js inside **apps/my-app:**
[code]

**jest.config.js** in the project root:
[code]

jest.preset.js in the root project:
[code]

**package.json:**
[code]

I

[2022-01-02 03:20] marqpdx commented on #4552
Mine too fails w/ NextJS Image, but works with `img`

[2022-01-02 07:40] Bielik20 commented on #6143
It is still a valid issue.

[2022-01-02 16:19] danielraban commented on #7844
Is there any solution to this?

[2022-01-03 00:38] jackmerrill commented on #8316
+1 on this issue, I'm having it too. Tried finding a workaround by creating a workspace library then exporting all from the npm module but that didn't do anything.

Help is needed on this issue!

[2022-01-03 00:59] konstantintieber commented on #7589
That command does not filter out the dependencies that come from the `with-deps` list that are not affected. It will just test project `myapp` and all its dependencies.

[2022-01-03 01:48] JoshuaCWebDeveloper commented on #7589
That is the command I use to target a dependency tree, so it does work, but as @alfaproject pointed out, it is now deprecated, and you are correct it doesn't have the `affected` behavior.

[2022-01-03 02:34] KamalAman commented on #7974
Yes, this is very annoying.

Adding [implicit-dependencies](https://nx.dev/l/n/core-concepts/configuration#implicit-dependencies) resolved the issue for me

[2022-01-03 08:05] twittwer commented on #8313
Sounds similar to #8319

[2022-01-03 10:03] ChrisSargent opened #8354 "Using `npx create-nx-workspace --preset=react` does not setup the app with babel-jest"
## Current Behavior
Running `npx create-nx-workspace --preset=react` results in a `jest.config.ts` file like so:

[code]

## Expected Behavior
It would use the same scaffold as if using `nx g @nrwl/react:application ...`, which would result in:

[code]

## Steps to Reproduce
Run: `npx create-nx-workspace --preset=react`

Repo: https://github.com/ChrisSargent/csnxreact

### Environment
Node : 14.18

[2022-01-03 10:40] robbievandam commented on #8313
Definitely sounds like the same issue as my lib folder name equals the app name.

Removing the cache folder does nothing. So it either disappears at random or I’ll have to reinstall the packages completely.

[2022-01-03 12:49] nickm0501 opened #8355 "TailwindCSS not working in NX NextJS project."
## Current Behavior

Following the egghead tutorial for a NextJS project with a new nx-workspace, installing Tailwind is not working. Tailwind styles are not applied to the page.

Follow steps in this guide: https://egghead.io/lessons/tailwind-setup-next-js-with-tailwind-in-a-nx-workspace or in the steps to reproduce below.

## Expected Behavior

Tailwind styles are applied to the page.

## Steps

[2022-01-03 13:28] nguyenxndaidev commented on #4619
Be careful, `eslint` doesn't work if your sub projects want to overwrite the root lint config. In this case, you must use `nx`.

[2022-01-03 14:27] MarkusCodes commented on #8252
Had the same issue, removing style:scss worked, thanks. Would be nice to know what the long-term solution is.

[2022-01-03 14:50] emmanuelbuah commented on #3929
We gave up and switched to using npm workspaces + nx (buildable + publishable). External packages are installed using npm workspace for each project which ensured each projects package.json contains all external dependencies needed. This gets copied to dist folder on build as well as packaged during cd.

This is the only way I have found it to be sane. Anything else without a tailed package.json f

[2022-01-03 15:13] KevinVandy commented on #6891
We have a solution to be clear, it just makes the builds go a lot slower.

[2022-01-03 15:32] Ion-manden commented on #6840
[code]
adding `"externalDependencies": "none"` seems to have worked for me

[2022-01-03 15:33] Ion-manden commented on #5820
[code]
adding `"externalDependencies": "none"` seems to have worked for me

not pretty but it is a workaround for now

[2022-01-03 15:37] #8058 closed

[2022-01-03 15:51] palmtreefrb commented on #7651
Same issue here.

[2022-01-03 15:51] mackelito commented on #8108
Any updates here?

[2022-01-03 15:55] mackelito opened #8358 "Generate a angular lib without module"
## Description

If a library only contains a service then there is no real point of having a module at all
## Motivation

Less code will be generated

## Suggested Implementation

Add an option to skip the generation of module file

## Alternate Implementations

[2022-01-03 16:12] luukvhoudt commented on #8326
Also got this in v13.4.2

[2022-01-03 16:20] chrisui commented on #2883
Would be really great to see a way to prune a local cache during a run so that we can avoid the explosion of caching artifacts containing old entries. Effectively would be nice to have a LRU implementation to control the disk cache size otherwise it will grow to infinity and the only way you can avoid that is to completely nuke the cache which is unfortunate.

[2022-01-03 18:34] robinpellegrims commented on #7497
Not sure if there has been any progress on this, but this issue is blocking our upgrade to nx v13 so I did some further investigation.

The error is thrown by the nodejs [Worker constructor](https://github.com/nodejs/node/blob/256fe21045b506a236b79a4ee4d4f440a3d36807/lib/internal/worker.js#L195) which is called [here](https://github.com/nrwl/nx/blob/d58584dcbf6c685b12c52f08420ffb3deb766a31/package

[2022-01-03 18:42] KirillMetrik opened #8360 "Nx Version 13 not working with Storybook"
## Current Behavior
Currently Storybook cannot be correctly run for libraries created with standard tools in NX.
After creating a workspace, adding a library and Storybook to the library, the Storybook itself doesn't work correctly. Please see reproduction steps for details.

## Expected Behavior
Storybook should work and render stories correctly.
This worked for NX 12 and Storybook 6.3.0.

## Ste

[2022-01-03 19:11] nzacca commented on #8360
Noting this is also being discussed here: https://github.com/storybookjs/storybook/issues/17039#issuecomment-1000992708

[2022-01-03 21:43] punixxher commented on #8326
Downgrade eslint to version  "7.32.0" and others eslint dependencies

[2022-01-03 22:13] mathias-lundin commented on #8355
I'm having the exact same issue following the Egghead course.

Using tailwindcss `3.0.9`, postcss `8.4.5` and autoprefixer `10.4.1`.

Nx report:
[code]

[2022-01-03 22:42] mgansler opened #8362 "`@nrwl/js` is not updated by `nx migrate`"
## Current Behavior

The `@nrwl/js` package is not updated to the latest version when running `nx migrate latest`

## Expected Behavior

The `@nrwl/js` package version should be bumped just like every other `@nrwl/*` package.

## Steps to Reproduce

1. Don't be on the latest version
2. run `nx migrate latest`
3. Check the diff.

### Failure Logs

### Environment

[2022-01-03 22:42] mgansler commented on #8362
PR incoming

[2022-01-03 23:15] benzara-tahar commented on #4775
in my case I wanted to share the tailwind config for all the libs and apps, so i moved it to the root folder and updated the config file  as follow
[code]
and added the tailwindConfig in angular.json file for the apps and libs

[code]

[2022-01-04 03:47] palmtreefrb commented on #8252
Same issue here. Removed style:scss and it worked for me as well.

[2022-01-04 05:32] pranav-js commented on #4619
yeah, can someone from core please prioritize this? I believe it is a must-have in large teams and multiple projects to run lint on only changed files, especially people using it with pre-commit hooks

[2022-01-04 08:15] joewIST commented on #8255
@mandarini yes that fixes things, thank you. i was unable to find any reference to this projectBuildConfig before

[2022-01-04 09:43] dario-digregorio commented on #8306
I've  read that the issue comes from the Angular CLI will it be fixed with the NX CLI wrapper?

[2022-01-04 09:45] hadrien-toma commented on #8264
I still have the issue with the following nx report output:

[code]

[2022-01-04 09:46] mandarini commented on #8255
That's great @joewIST ! I will go ahead and close this issue for now. If it ever comes up again, I'll make sure to open it up! :) Thank you!

[2022-01-04 09:46] #8255 closed

[2022-01-04 09:56] joewIST commented on #8255
unfortunately i now get a new issue which means it can't even build at all: TypeError: getTypescriptWorkerPlugin is not a function

[2022-01-04 09:59] mandarini commented on #8255
Ohh that's the [Storybook Angular 13.1](https://github.com/storybookjs/storybook/pull/17032) bug! You should be good if you upgrade Storybook [to the pre-release version, as mentioned here](https://github.com/storybookjs/storybook/issues/16977#issuecomment-997140985).

[2022-01-04 10:02] mandarini commented on #8335
Thanks for filing this feature request @Brian-McBride ! It's in the plans, we'll get to it, I promise! :)

[2022-01-04 10:03] joewIST commented on #8255
hi @mandarini that does not fix things i'm afraid

[2022-01-04 10:03] nhhockeyplayer opened #8365 "global targetDependencies within nx.json stopped working"
## Current Behavior
global targetDependencies within nx.json stopped working

nx is skipping some of my projects during this build command, this never happened before

everything was building ALL fine during iterations of heavy refactoring moving things in and out of libs renaming and adding new libs and moving stuff out of and into other libs typical housekeeping remodeling of logic

and it just

[2022-01-04 10:04] mandarini commented on #8360
Hi there @KirillMetrik ! I did not look into your issue yet, will do so, soon. In the meantime, can you [try this solution](https://github.com/nrwl/nx/issues/8255#issuecomment-1000335948) and let me know if it works for you?

[2022-01-04 10:05] nhhockeyplayer commented on #8365
this is my .eslintrc.json

[code]

[2022-01-04 10:06] nhhockeyplayer commented on #8365
this is my project section out of workspace.json for micro-auth

[code]

[2022-01-04 10:07] mandarini commented on #8255
The "`TypeError: getTypescriptWorkerPlugin is not a function`" is a bug on the Storybook side. Storybook v6.4.9 does not work with Angular 13.1, because Storybook v.6.4.9 references the `getTypescriptWorkerPlugin` from Angular, which, in version 13.1 has been renamed to `getDevServerConfig`. Can you try what is [suggested here in this comment](https://github.com/storybookjs/storybook/issues/16977#

[2022-01-04 10:07] nhhockeyplayer commented on #8365
here is nx.json

[code]

[2022-01-04 10:11] nhhockeyplayer commented on #8365
Im trying to shake this out thanks for any tips

[2022-01-04 10:18] rfprod commented on #8255
https://github.com/storybookjs/storybook/releases/tag/v6.5.0-alpha.6 works
Configs -> https://github.com/nrwl/nx/issues/8255#issuecomment-1004675888

[2022-01-04 10:20] joewIST commented on #8255
hi i have tried that solution and now get the following error:

ModuleParseError: Module parse failed: Unexpected token (3:0)
You may need an appropriate loader to handle this file type, currently no loaders are configured to process this file. See https://webpack.js.org/concepts#loaders

[2022-01-04 10:20] gkamperis commented on #7847
hello @AgentEnder @vsavkin any info on this?
it is preventing our move to ng 13

[2022-01-04 10:21] nhhockeyplayer commented on #8365
I tried skipping cache
`nx run-many --all --target build --skip-nx-cache `
but no remedy same result
I also looked at this issue `https://github.com/nrwl/nx/issues/6577` and no solution

[2022-01-04 10:24] mandarini commented on #8255
Hmmm I am worried that this may be on the Storybook side @joewIST ! Can you read through [the above issue](https://github.com/storybookjs/storybook/issues/16977#issuecomment-1004636568) to see if there's anything reported that matches your case?

[2022-01-04 10:25] joewIST commented on #8255
i will have a look thanks, there seem to be so many issues re: storybook/nx/angular integration atm!

[2022-01-04 10:26] mathias-lundin commented on #8355
So, I just got it working. In `tailwind.config.js`, I had to set content path from root explicitly. Maybe something has changed from Tailwind `2.x.x` --> `3.x.x`?

[code]

[2022-01-04 10:27] mandarini commented on #8255
Indeed.. We'll get there! :)

[2022-01-04 10:32] nhhockeyplayer commented on #8365
so Im wondering why I would lose my build config for what its saying right now when I specify everything manually as follows

[code]

[2022-01-04 10:33] mandarini commented on #8255
@joewIST  Another potential solution would be do undo the changes to the storybook side that you did, and downgrade Angular to 13.0? I am not 100% sure, but maybe it could help you get going in the meantime, while a solid fix is in place?
@rfprod wdyt?

[2022-01-04 10:35] joewIST commented on #8255
@mandarini i'm going to try to investigate whatever storybook issues might be causing this and if i can't find anything i'll have to park this for now. i've already spent so much time trying to upgrade to angular v13 these last few weeks

[2022-01-04 10:38] nhhockeyplayer commented on #8365
heres my shared-dto project

is there something I need to provide

it was running fine before today all I done was standard refactoring changes. thanks for any assist

[code]

[2022-01-04 10:46] mandarini commented on #8255
Sounds good @joewIST ! I am sorry I could not help you any further. We're all trying our best to fix these issues. I will post any potential updates here. Good luck! :)

[2022-01-04 10:49] rfprod commented on #8255
@mandarini If you want my opinion, it seems to me that it makes sense to downgrade to Angular 13.0 as a default version until storybook 6.5.0 is released, so that a newly created projects work out of the box. However, I don't see any issues tweaking configs to be able to use the latest versions. It's time consuming for sure, but it pays off imo.

[2022-01-04 11:03] mandarini commented on #8255
Thanks @rfprod ! :)

[2022-01-04 11:06] KirillMetrik commented on #8360
Hi @mandarini , not sure how is this connected with styles?
Will try this and another possible workaround (https://github.com/storybookjs/storybook/issues/16977#issuecomment-1004636568) in the next few days.

[2022-01-04 11:42] #6830 closed

[2022-01-04 12:08] miestasniyo commented on #869
What is the solution? 👀

[2022-01-04 12:18] Coly010 commented on #8081
@smasala I've discussed this already with Manfred (the author of the Angular Architects plugin)

adding `scriptType: 'text/javascript'` is a workaround, rather than a fix.
However, if it unblocks you, that's perfect.

It doesn't resolve the underlying issue here which is related to the compilation to ESM by Angular and the attachment of the `styles.js` script to the `index.html` by Angular.

I'll

[2022-01-04 12:18] #8081 closed

[2022-01-04 12:21] rfprod commented on #8360
@KirillMetrik check this comment, it works with Storybook 6.5.0 alpha https://github.com/storybookjs/storybook/issues/16977#issuecomment-1004636568

[2022-01-04 12:58] Coly010 commented on #7844
@1antares1
Similar to what I mentioned in this comment: https://github.com/nrwl/nx/issues/7844#issuecomment-981453541
You have also set the `resolver` to use `jest-preset-angular`, which does not take into account the TS Path Mappings.

See this section of your `jest.config.js`
[code]

If you can try to match the example config I gave in the above comment and see if that works for you :)

[2022-01-04 13:02] tomastrajan opened #8369 "Angular incremental build performance problems for existing (or larger apps)"
## Current Behavior

It seems to be the case that when enabling incremental build for Angular apps (following this guide https://nx.dev/l/a/ci/setup-incremental-builds-angular) and especially using `"builder": "@nrwl/angular:webpack-browser",` the build performance is degraded when compared to using default `"builder": "@angular-devkit/build-angular:browser",` for a specific scenario of migrating

[2022-01-04 13:07] mauriziovitale opened #8370 "The @nrwl/workspace 13.4.3 on npm does not contain the code available on github"
## Current Behavior
If importing **libraryGenerator** from `import { libraryGenerator } from '@nrwl/workspace/generators';` the code is an outdated version. i.e. there is no karma support
<img width="505" alt="Screenshot 2022-01-04 at 14 05 32" src="https://user-images.githubusercontent.com/14923305/148063510-d55dfcc6-5610-46b0-8a92-d577105dafe8.png">
It looks like the code is [this one outaded](h

[2022-01-04 13:12] mandarini commented on #8360
Hi @KirillMetrik , I did not look into your issue, so I just suggested some solution to a similar error, related to Angular 13! :) So, sorry about that! We're working on solving the issues for Storybook+Angular 13, but I think it's mostly related on the Storybook side. Will keep you posted!

Thanks @rfprod for jumping in!

[2022-01-04 13:38] FacePalmDev commented on #4732
having the same issue here

[2022-01-04 13:40] ArielGueta opened #8371 "Use Nx for publishable widgets"
Hi,

We need to create a publishable React widget with Nx. How do we build a buildable and publishable library and bundle the external modules from npm inside it so that the consumers don't have to install anything? For example, the React source code should be bundled inside.

Thanks.

[2022-01-04 14:03] 1antares1 commented on #7844
Hi @Coly010

Thanks for your reply. Yes, above I shared 2 jest.config.js (the root one and the one inside app/my-app angular).

The root one looks like this (the code is in my comment above):
![image](https://user-images.githubusercontent.com/14783925/148069774-e1dbfde8-1b20-40bb-a8fe-38fe140ce3a8.png)

The **jest.config.js** inside the app, it looks like this with your settings in the comment I r

[2022-01-04 14:11] chrisui commented on #8167
Thanks for the info. I agree with the decision not to add a logger to individual executors but would expect, given Nx's role as a task runner, greater control at the user level of a whole "run".

There seems a significant semantic difference between output of an executor (a) and the output of nx (b)

a) which is controlled by the implemented process and is critical to that process (so should contr

[2022-01-04 14:12] Coly010 commented on #7844
@1antares1 Yeah, so the config in your app is still incorrect as it is pointing to the `jest-preset-angular` resolver. just remove that line completely.
![image](https://user-images.githubusercontent.com/12140467/148071695-f02b4307-2381-434e-a863-90470be95cd1.png)

Line 6

[2022-01-04 14:53] 1antares1 commented on #7844
@Coly010 Thanks for your reply. If I remove line 6, I get the same result.

If I remove line 7 (just testing) the .spec fails directly with immediate import.

I share my current **package.json:**
[code]

And I'm following this doc as well: https://thymikee.github.io/jest-preset-angular/docs/next/guides/angular-13+/

Does it have something to do with nx?

[2022-01-04 14:55] Coly010 commented on #7844
@1antares1 It does not. it's specific to Angular CLI Workspaces which have a different setup to Nx Workspaces.

If you replace your app's jest config with the following:
[code]

Do you have any more success?

[2022-01-04 15:07] 1antares1 commented on #7844
I will try to go back to Angular 12 LTS to try again and let you know.

[2022-01-04 15:40] stefan-schweiger commented on #8360
@mandarini When using these workaround I still get an error that `polyfill.ts` can't be found. After adding it to the includes in `tsconfig.json` which is used by storybook it works.  I think this part of the problem might still be related to the whole `project.json` handling of nx.

[2022-01-04 15:42] SeverinFriede opened #8373 "@nrwl/storybook not able to build or serve an angular storybook"
## Current Behavior
I've migrated my workspace (containing angular apps, react and angular libs and a HTML/CSS library) by using `nx migrate latest` to the latest version of nx, angular etc.
All other tasks like linting, testing or building work fine but running `nx run angular:build-storybook` or `nx run angular:storybook` (where `angular` is really the name of our library project) do fail with t

[2022-01-04 15:43] alexw10 commented on #8286
Is no one else hitting this? :( really causing us not to go to Angular 13/Latest nx

[2022-01-04 15:43] cjdm94 commented on #8336
I'm experiencing the same issue. Environment:

[code]

[2022-01-04 15:44] chrisui commented on #8336
+1

[code]

[2022-01-04 15:46] chrisui commented on #8336
Can workaround by always using `--affected`.

[2022-01-04 15:51] rfprod commented on #8360
@stefan-schweiger if you define a build config that does not use polyfills it will work without it.

For example, remove this line https://github.com/rfprod/nx-ng-starter/blob/main/angular.json#L1166, then remove this line https://github.com/rfprod/nx-ng-starter/blob/main/apps/documentation/.storybook/tsconfig.json#L7

Notice project build configs:
- https://github.com/rfprod/nx-ng-starter/blob/ma

[2022-01-04 15:53] mauriziovitale commented on #8370
I think I was using the wrong libraryGenerator import

[2022-01-04 15:53] #8370 closed

[2022-01-04 15:57] 1antares1 commented on #7844
@Coly010 Thanks for responding, I still honestly didn't get to test your last recommendation (I still didn't notice a difference).

However, I went back to the 12 LTS version and everything worked smoothly again. I think I will wait for version 14 LTS to update.

Thanks for your help.

[2022-01-04 15:59] FrozenPandaz commented on #8370
Thank you for double-checking.

[2022-01-04 16:02] stefan-schweiger commented on #8360
@rfprod thanks I will try that workaround out 😉 But this is still a breaking change in the combination of angular+nx+storybook which should be adressed properly 😕

[2022-01-04 16:03] Coly010 commented on #7844
@1antares1 migrating from 12 -> 14 will be especially difficult because of 13.

Instead of doing it manually, can you try run
`nx migrate latest`
`npm install` or `yarn` depending on your package manager
`nx migrate --run-migrations`

[2022-01-04 16:14] #8236 closed

[2022-01-04 16:25] joelcoxokc commented on #7844
Same here.  I have kept my project clean and always following nx conventions particularly to keep migrations running smoothly.... And I am running into the same issue on 13. I am not doing anything special.

[2022-01-04 17:39] joelcoxokc commented on #7844
This fixed the mjs import errors.

However, I still have third party libraries that have an export in them. And still seeing errors like this.
<img width="1037" alt="Screen Shot 2022-01-04 at 11 39 00 AM" src="https://user-images.githubusercontent.com/4668188/148100755-168c3496-ede9-4b5a-8a55-ac4e17a70874.png">

[2022-01-04 17:47] wkaskie commented on #7651
Can this be reopened? I'm new to Nx and step one has failed.

[2022-01-04 18:05] nevestuan opened #8374 "External lib's babel configuration is not picked up when consuming by nextjs app"
## Current Behavior

I create a new react library. In the library, I want to set up a custom babel configuration with a "module-resolver" plugin. When I import a component from the library, it fails to resolve paths if the application is Nextjs. However, it works with normal react applications. It seems that the babel configuration is not picked up. Please refer to the below screenshots.

Code:
![

[2022-01-04 18:25] devinshoemaker commented on #5672
Can confirm this issue using Yarn 1 with Node 16. Switching to Node 14 for the migration seems to work.

[2022-01-04 20:49] crh225 opened #8379 "Nx workspace generator stripping link and script tags"
![image](https://user-images.githubusercontent.com/19475195/148121900-771d6358-2b77-4710-974a-aa592ec420b4.png)
The image on the left is the output after running the generator. it is missing a link to our cdn and a script tag pointing to the asset folder.

**Schema.json**
[code]
I am trying to delete the default index.html and replace it with the following template

**index.ts**
[code]

**index.ht

[2022-01-04 20:56] nicholasconfer commented on #8124
Can confirm for those upgrading to v13 from previous version, that we ran into this issue.  You can avoid it in meantime by running nx migrate 13.2.4 instead of latest version while awaiting fix.

[2022-01-04 21:36] levimiller-qhrtech commented on #3203
I also think there should be a way to @use/@forward to a style sheet/theme file in another library.

[2022-01-04 21:36] maxisam commented on #8124
It seems to me it is from this part

https://github.com/nrwl/nx/blob/69c5251c89cc439ba4f512c676ce532475506d24/packages/angular/src/migrations/update-13-3-0/update-mfe-webpack-config.ts#L22-L23

[code]
webpackPath is undefined here.

I feel like `tree.exists(webpackPath)` is expecting a string type.

[2022-01-04 21:54] nhhockeyplayer commented on #8365
this is beginning to look like an infinite loop of some sort just based on the number of libs and projects I am operating in my repo

I emptied out all the project settings for
[code]
with no change same problem

so something under the hood has gone arye or dead lock of some sort during the build process

be nice to get some feedback or insight

I'd like to be building again

any suggestions?

be

[2022-01-04 22:26] rhutchison commented on #1393
This solution no longer works after this commit: https://github.com/nrwl/nx/commit/b10b505921fbf24fa0b8a548e19ed826b60827af#diff-6024e2dc6a1839a677e41083675a543cfe8657f7271ce1236a68274393b915a7R16

when your project is using `optimization: true`

[2022-01-04 23:56] nhhockeyplayer commented on #8365
this was caused by a refactoring

a lib was changed by refactoring

and it resulted in an import referencing an environment.ts file within a separate microservice
and other imports referencing services of same... within other microservice projects

not sure if this is a bug or by design but no notification was welcoming

i will close for now

thanks Nrwl/Nx team for a fab product its holding up ni

[2022-01-05 00:00] #8365 closed

[2022-01-05 02:06] nickm0501 commented on #8355
@mathias-lundin, I could have sworn I tried that, but I did just as you have above and... it worked! Thanks for posting the solution here.

[2022-01-05 02:17] gabrielmethot opened #8381 "ESLint config "plugin:@nrwl/nx/angular" conflicts with Prettier"
Root directory
[code]
package.json
[code]

.eslintrc.json
[code]

.prettierrc.json
[code]

/apps/my-app/.eslintrc.json
[code]

/apps/my-app/src/example.ts
[code]

## Current Behavior
By running either `nx lint my-app` or `npx eslint apps/my-app`, we obtain the following error:
[code]

Our prettier config which specifies that we want double quotes is not respected.

Removing "plugin:@nrwl/nx/angula

[2022-01-05 02:22] crh225 commented on #8379
no issue. i made to many generators today, and wasnt ever calling the function. copy pasta

[2022-01-05 02:22] #8379 closed

[2022-01-05 05:23] beeman opened #8382 "The average time per generator increases when chaining generators."
## Current Behavior

When chaining generators the average time per generator increases.

This seems to happen for both wrapped Angular schematics as well as Nx Devkit generators, but the wrapped schematics seem to increase way faster.

## Expected Behavior

The average time should not increase.

## Steps to Reproduce

[code]

To test the `@nrwl/node` generator you can change [this line](https://gi

[2022-01-05 05:51] rubiagatra commented on #8019
I believe @vsavkin already stated in his tweet about remix support. https://twitter.com/victorsavkin/status/1468668189894656000

[2022-01-05 06:25] pavankjadda opened #8383 "Transitioning to Nx fails when current Angular repo has Cypress installed"
## Current Behavior

When I try to migrate existing Angular 13 project which has Cypress e2e tests, I see the below error
[code]

## Expected Behavior

The migration should work as expected
## Steps to Reproduce

1. Create new Angular project through Angular CLi
2. Add Cypress to it
3. Then try to migrate the project with command `ng add @nrwl/workspace` or `ng add @nrwl/workspace --preserveAngula

[2022-01-05 07:24] rickvandermeij-aanzee commented on #3390
@FrozenPandaz Maybe you can reconsider the option to support playwright instead of cypress. Cypress is not completely free, whereas you need subscriptions to get the full benefit of cypress. Playwright is completely free, which will suit better at nrwl/nx

[2022-01-05 09:06] sagiBarkol commented on #3427
updates?

[2022-01-05 09:14] SeverinFriede commented on #8373
I had a look at `@nrwl\storybook\src\executors\utils.js:142:60` and there the problem was that it could not resolve the default project. So after adding `"defaultProject": "angular"` to my `nx.json` it works again.

[2022-01-05 09:33] Coly010 commented on #8124
Hey! Thanks everyone for bringing this to our attention.

Is anyone able to share the `workspace.json` or `project.json` for the corresponding project that this is failing for?
I'm trying to replicate it but I can't seem to create a valid failing scenario.

Any help in this would be awesome!

[2022-01-05 09:40] steinerm opened #8385 "License is missing for @nrwl/js"
## Current Behavior
The license is missing for the @nrwl/js package which can cause legal issues.

## Expected Behavior
The package should have a license.

## Steps to Reproduce

### Failure Logs

### Environment

[2022-01-05 10:12] mauriziovitale opened #8386 "When generating Standalone angular library there is no way to skipFormat files"
##Precondition:
Have an angular.json file not formatted

## Current Behavior
When generating a Standalone angular library there is no way to skipFormat files

## Expected Behavior
When generating Standalone angular library if the --skipFormat option is passed no files should be formatted

## Steps to Reproduce
nx @nrwl/angular:library --name=feature --skipFormat --standaloneConfig

The issue is [h

[2022-01-05 10:23] Coly010 commented on #7844
@joelcoxokc Can you share a minimal repo that contains the third party package and an appropriate failing test?

[2022-01-05 10:54] Coly010 commented on #7764
The lib tsconfig's configuration will override the base config. This is fine.
In a mixed repo, this makes a lot of sense because some apps/libs/frameworks may need to target different versions themselves without impacting other projects in the repo.

I hope this helps explain it a little! :)

[2022-01-05 10:54] #7764 closed

[2022-01-05 11:12] vincentB23 commented on #8199
Does the projectBuildConfig flag only work for projects with projectType "library"?
I have 2 projects which use Storybook, one is a library and the other an application.

When providing the --projectBuildConfig flag to the library, it works. When I provide the flag to the application type, it does not change anything...

I then changed the application type to the library type, and then it did chan

[2022-01-05 11:14] Coly010 commented on #7894
Hey! Can you provide a repo that produces this error so that I can investigate it further?

[2022-01-05 11:18] ubergeoff commented on #8124
This does indeed seem to fix the issue:

[code]

[2022-01-05 11:26] Coly010 commented on #8124
@ubergeoff Are you able to share the workspace.json or project.json for the corresponding project that this was failing for?

[2022-01-05 11:29] ubergeoff commented on #8124
No - sorry - cannot share private repo ;(

But I do have a couple of app's

One has a `customWebpackConfig` for non-MFE app
And another also has a `customWebpackConfig` for a MFE app

[2022-01-05 11:37] pmenze commented on #8124
I have the same issue. I cannot post my angular.json file here in public. But I could send the file to you (and others if required) through another private channel

[2022-01-05 11:41] Coly010 commented on #8124
@pmenze For sure, reach out to me on Twitter @FerryColum! that would be brilliant!

[2022-01-05 11:42] dvnkboi commented on #2960
Sorry to jump in but any news on this?

[2022-01-05 12:07] mauriziovitale commented on #8386
Fixed on a forked repo
https://github.com/nrwl/nx/pull/8387

[2022-01-05 14:18] mdo5004 commented on #7166
@ChazUK Did you find any work-around to this? Using `npm link` from inside the plugin's `dist` folder doesn't seem like the nx way to do things. (Also it didn't resolve the issue for me!)

[2022-01-05 14:23] Coly010 commented on #8386
Hey @mauriziovitale! Thanks for raising an issue!
What is the actual ill behaviour you're experiencing by not being able to `skipFormat`?

[2022-01-05 14:27] mandarini commented on #8373
Hi there @SeverinFriede ! Thanks for filing an issue. Can you check out [this comment](https://github.com/nrwl/nx/issues/8199#issuecomment-998014436) here? It is our intention for the error messaging to be better. At this point, specifying the `projectBuildConfig` will do the trick for you! :)

Let me know if you need anything else, and I can reopen the issue! :)

[2022-01-05 14:27] #8373 closed

[2022-01-05 14:42] mandarini commented on #8199
@vincentB23 ! That's strange. I just tried it for an app, and it works for me.

I removed the `"defaultProject"` from my `nx.json`.

My app name is `web` and I ran:
[code]
and it got the `projectBuildConfig`, and I could run Storybook.

Can you share with me the projects you got in the console?

[2022-01-05 14:56] pmoehler commented on #6586
@SerdarN92 our related project run`s with the following versions:

[code]

Everything is fine with this so far, haven`t upgraded to 13.4.3 until now but I will come back if there are issues.

Happy new year! :)

[2022-01-05 15:12] mandarini commented on #8360
@rfprod would you like to submit a PR on our Storybook generator to add the webpack config tweak you created?

I'm referring to [this](https://github.com/storybookjs/storybook/issues/16977#issuecomment-1004636568). Let me know if you want to do this, or I can take this up and give you credit in the PR!

[code]

[2022-01-05 15:14] Sam-Lin-MillersLab commented on #3390
@rickvandermeij-aanzee I think free or not free is not the key. The key is Cypress just doesn't meet the requirement for enterprise usage. 50% of our users use Apple devices. Apple device consumers are more willing to pay for certain type of goods. It is the fact that enterprises have to support Safari. I honestly can't believe Cypress didn't start with webkit support in mind.

[2022-01-05 15:14] mandarini commented on #8360
@KirillMetrik @stefan-schweiger thanks for posting all these comments/suggestions/issues! :) I tried in a new workspace to generate a new lib/app, with components, generated Storybook configuration, and indeed I got the same experience as you described, the
[code]
After adding what @rfprod suggested in my `main.js` the issue goes away. Maybe this can be a nice solution to this problem, and we can

[2022-01-05 15:58] rfprod commented on #8360
@mandarini I'll open the PR in several minutes. However, you'll have to help me a bit as I'm getting into the source code so that I don't miss something. So far I've found only one place where it has be added.

[2022-01-05 16:30] jyono commented on #7589
with-deps is deprecated. however, i found the replacement quite nice

[code]

[2022-01-05 16:32] jyono commented on #7589
I haven't tested it yet, but i believe

[code]

 + using an affected command should give the desired output @konstantintieber

[2022-01-05 16:40] #8374 closed

[2022-01-05 16:42] #8124 closed

[2022-01-05 16:48] Kzoeps commented on #4404
hi @ivan-ruizrosello could you please share the config for the entries

[2022-01-05 16:58] Kzoeps commented on #4404
@StallionV adding this to the `.babelrc` of the app worked.
[code]

[2022-01-05 17:47] demisx commented on #8326
Same error in `v13.4.3`.

[2022-01-05 18:14] nick-allen commented on #8199
@vincentB23 I had this setup and working as an application only, hadn't messed with a lib at all to this point, and was able to get it to run with just the `projectBuildConfig` addition to workspace.json.

[2022-01-05 18:54] beazergood opened #8395 "'Cannot find configuration for task' error when building Angular 13 app in NX13 workspace with --preserveAngularCLILayout flag set"
## Current Behavior
We have an Angular application with NX workspace initialised via `ng add @nrwl/workspace --preserveAngularCLILayout` command that is no longer compiling after updating to v13 of Angular and NX packages via either `ng build` or `nx build`.

## Expected Behavior
Usually the Angular app compiles without errors. This has regressed since we updated Angular and and NX packages to 13.

[2022-01-05 18:58] michaelbuller commented on #7651
Seeing same issue
The package @nrwl/workspace@13.4.3 will be installed and executed.
Would you like to proceed? Yes
✔ Package successfully installed.
No e2e project was migrated because there was none declared in angular.json
generateFiles: No files found in "/node_modules/@nrwl/workspace/src/generators/init/files/prettier". Are you sure you specified the correct path?

[2022-01-05 22:02] ax2k commented on #7651
I fixed it on my side by adding the file .prettierignore to the root of my project. Hope it can help !

[2022-01-06 00:14] #6127 closed

[2022-01-06 00:14] #6117 closed

[2022-01-06 00:14] #6111 closed

[2022-01-06 04:48] iKrishnaSahu opened #8398 "bug(migrate): nx migrate 13.2.4 fails everytime"
## Current Behavior

nx migrate 13.2.4 fails everytime.

## Expected Behavior

Migration should complete without any error

## Steps to Reproduce

Steps to reproduce:

1. Create work space using npx create-nx-workspace@12.10.0 --cli="angular"
2. Migrate workspace using nx migrate 13.2.4

This issue may not be prioritized if details are not provided to help us reproduce the issue.

### Failure Logs

[2022-01-06 06:56] Hilligsoe commented on #8286
We are running in to what seems to be the same issue with NX hanging after running some of our E2E tests and never finishing after getting `NX SUCCESS` confirmation.
In our case its (luckily not on all runs) happens after running our shorter/faster component tests. Furthermore, It have been observed that the caching stage for our jest test at times can take up to 8 min. before our pipeline moves o

[2022-01-06 08:37] rhmoller commented on #8286
We are experiencing something similar where cypress component tests complete and the result is published to nx cloud, but then it hangs until our build pipeline times out.

[2022-01-06 09:21] #8360 closed

[2022-01-06 09:28] stefan-schweiger commented on #8360
@rfprod @mandarini to be honest in my eyes this is not a fix but a workaround which should be removed as soon as possible. The underlying issue still remains and needs to be fixed in either Angular or Storybook, but nobody seems to feel responsible for this right now.

[2022-01-06 09:59] mandarini commented on #8199
Hi @qortex ! I see you solved the polyfill.js issue (https://github.com/storybookjs/storybook/issues/16977#issuecomment-1004897668). I'll keep this open until we have a fix for that, too.

[2022-01-06 10:30] PhilippCl commented on #8288
Hi @SerdarN92, I think I found a solution to this problem. I encountered the Error as well while dockerizing our Build Process.
As the Error Message Indicates, you need to call the "decorate-angular-cli.js" File before running the Build Command.
You can do this by changing it to

    npm run build

Note: You need to remove `ENV NX_CACHE_PROJECT_GRAPH=false` otherwise it won't work

[2022-01-06 10:59] mauriziovitale commented on #8386
Hey @Coly010 same behavior as [angular generator](https://github.com/nrwl/nx/blob/master/packages/angular/src/generators/library/library.ts#L102)
I hope it makes sense

[2022-01-06 11:06] synec commented on #7844
I've created a minimal repo with `lodash-es` and `@datorama/akita` at https://github.com/synec/ng13-jest-fail

On commit [bffa49da40b05f17efc8df0e70b596c34ba2785b](https://github.com/synec/ng13-jest-fail/commit/bffa49da40b05f17efc8df0e70b596c34ba2785b) the test fails because of `lodash-es`.
This is fixed in commit [c27cb9371dc1e729fc500ee31a5e87221ec8d517](https://github.com/synec/ng13-jest-fail/c

[2022-01-06 11:35] SerdarN92 commented on #8288
Hi @PhilippCl , thank you so much for your answer. I will try it and tell you, if it worked.

[2022-01-06 11:37] SerdarN92 commented on #6586
@pmoehler Happy new year to you too! I opened a new issue and will try the possible solution one guy wrote under it. You can find it here: https://github.com/nrwl/nx/issues/8288

[2022-01-06 11:49] #7806 closed

[2022-01-06 13:31] ionutVizitiu commented on #7843
I've managed to "fix" this issue by changing `transformIgnorePatterns: ['node_modules/(?!.*.mjs$)']` to `transformIgnorePatterns: ['/node_modules/?!@angular']`, "angular" being my problematic import in this case.
I've also removed all the newly added lines with `teardown: { destroyAfterEach: false }`

[2022-01-06 13:41] rodrigofariow opened #8403 "[build-storybook]: react publishable library TypeError: (0 , jsx_dev_runtime.jsxDEV) is not a function"
## Current Behavior
Building for a react publishable lib using `build-storybook`, although it completes successfully, throws a runtime error when opening `index.html` from the generated output of the build.

This looks related to the new jsx transform:
![image](https://user-images.githubusercontent.com/22502084/148389025-1319884e-23f1-41e9-80b5-8171a0a62d42.png)

**Note** that if I change the `.ba

[2022-01-06 13:47] mauriziovitale opened #8404 "When committing the prompt does not offer workspace as available scope"
## Description
When committing the prompt does not offer **workspace** as the available feat scope

## Motivation

## Suggested Implementation
The scope array should contain workspace as well

## Alternate Implementations

[2022-01-06 14:09] pacoita commented on #7651
I can confirm that adding an empty `.prettierignore` file at root level (as suggested by @ax2k ) made the schamatic command complete successfully in my existing angular project.

Now apps/ and libs/ folders are correctly created and all files scaffolded as expected.

angular v 13.0.3
nrwl/workspace 13.4.3

[2022-01-06 14:36] SerdarN92 commented on #8288
@PhilippCl you are my hero. I tried before the command, but did not remove the ENV NX_CACHE_PROJECT_GRAPH=false.

Thank you so much! Whenever you want you can get a beer from me :)

[2022-01-06 14:36] #8288 closed

[2022-01-06 14:37] SerdarN92 commented on #6586
The solution at https://github.com/nrwl/nx/issues/8288 worked! @pmoehler

[2022-01-06 15:28] alexw10 commented on #8286
Yeah I reproduced this in the nx-examples in the description wonder how we can get the attention of this repo where someone might know what to do or have suggestions I am pretty lost on how to fix this.

[2022-01-06 16:01] puku0x commented on #8403
@rodrigofariow Does it work when `NODE_ENV` is set to `production` ?
[code]

You may add `--skip-nx-cache` option to ignore local cache.

[2022-01-06 16:03] aidenywl opened #8406 "React with styled-components custom props not linting properly"
## Current Behavior
After using styled-components (custom props)[https://styled-components.com/docs/api#using-custom-props], the linter stops working.
![image](https://user-images.githubusercontent.com/21275222/148413393-8258e174-4774-43a2-902d-8889ff758936.png)

## Expected Behavior

Whereas with create-react-app, the linting works just fine with the unused variable error called out.
![image](htt

[2022-01-06 16:17] StalkAltan commented on #8286
Hi @alexw10, thanks for the reproduction steps. Seems like this issue slipped through the cracks, but we are looking into it now.

[2022-01-06 16:34] alexw10 commented on #8286
@StalkAltan  yay thanks for the update appreciate it!

[2022-01-06 16:36] herodriguez7 commented on #3390
Hi all,

Sorry to resurrect an old issue but I'm really just trying to figure out if this is, or is not, possible? Does nx support integration and usage of Playwright for the e2e tests project?

Also, if it does, is it strictly for playwright-jest? As opposed to using Playwright's recommended test runner, Playwright Test?

Thank you for any insights you can shed; am new to all of this.

[2022-01-06 17:37] StickNitro commented on #1696
I am getting the same issue with `@nrwl/jest @13.4.3`

relevant section from jest.config.js

[code]

relevant parts from package.json

[code]

and the relevant section from angular.json

[code]

Running `npx jest --collectCoverage` works and generates the jest-junit output

[2022-01-06 17:42] Person-93 commented on #3231
I'm working on a plugin that has a generator, several executors, and I plan to add a graph extender plugin as well.
The generator is supposed to make projects that use those executors and rely on the graph extender to find dependencies.
Is there a way to use the plugin in the workspace while I'm developing it?

[2022-01-06 18:00] gkamperis commented on #7847
Hello @FrozenPandaz can you maybe help as you are usually involved in the core features...?

[2022-01-06 18:20] gioragutt commented on #3231
@Person-93 see [this](https://github.com/nrwl/nx/issues/3231#issuecomment-922090762) comment from above.

Currently, you'd have to link the executors to the `dist` folder, this will solve the executor problem.
For generators, you can use the `workspace-generator` feature.

[2022-01-06 18:22] mklueh opened #8409 "NX tries to use Powershell on WSL2 Ubuntu for dep-graph"
When I try to execute yarn nx dep-graph, nx tries to run on the Windows Power Shell instead of using sh.

## Current Behavior

[code]

Other commands of NX are working flawlessly.

I'm using NX 13.4.2. How can I force NX to run on Ubuntu?

[2022-01-06 18:24] rodrigofariow commented on #8403
Hye @puku0x

Yep, that works! :D
In a way, I expected that `shared-lib:build-storybook` to assume production as the environment though. 🤔

I also expect more people to have the same issue as me as it wasn't obvious what was the exact cause.
Thinking about it, the `jsxDEV` part does indicate that prod "jsx runtime" is not being used but still.

Can't nx do something about it?

Thank you very the he

[2022-01-06 19:03] #8191 closed

[2022-01-06 19:30] YonatanKra opened #8413 "What does `batchJest` supposed to do?"
While investigating the Nx code I stumbled upon this function:
https://github.com/nrwl/nx/blob/54a5eb989df46d9768d4bf1cd060cd7160bfd0c8/packages/jest/src/executors/jest/jest.impl.ts#L125
A quick search found no usage of this function nor does it seem to be tested.
What is it used for?

[2022-01-06 19:55] CWSites commented on #7558
@juristr I removed that and it's still occurring. I also disabled all plugins except for `@storybook/addon-essentials` and it's still not working. Just updated all of my `@nrwl/` libraries to latest `13.4.3` and all of my `@storybook/` libraries to latest `6.4.9`.

Is there anything else that I can share short of re-creating the entire project in a repo that I can share?

[2022-01-06 20:38] modern-sapien commented on #4998
I'm trying to record to the Dashboard utilizing the --tag.

This is also not listed as an option in your [documentation](https://nx.dev/cypress/cypress) either regarding Cypress arguments that can be passed.

I'm currently working through this now and available if you need eyes.

[2022-01-06 21:08] mlebarron commented on #7847
It's not just broken on run-many, it seems broken everywhere. I use this all the time and this is incredibly annoying.

it worked for me on Nx 13.1 but now fails. only difference in the codebase in below runs is one of them has migrated to updated Nx, the other hasn't.

working:
`nx affected:lint` then `nx affected:lint --only-failed`
[code]

fails:
`nx affected:lint` then `nx affected:lint --only

[2022-01-06 21:13] roheat commented on #8403
I also faced the exact issue.
While the `index.html` worked fine with `NODE_ENV=production`, `npx http-server dist/storybook/shared-lib` still gives the same error.

[2022-01-06 22:29] poeck opened #8426 "Command `nx run` works, `nx r` doesn't"
## Current Behavior

When I run `nx run web:serve`, everything works perfectly - but when I run `nx r web:serve` I get this:

[code]

## Expected Behavior

`nx r` to work the same as `nx run`.

### Failure Logs

Failing Command:
[code]

Working Command:
[code]

### Environment

[code]

[2022-01-06 23:19] poeck commented on #8426
I tried creating a fresh next app inside my workspace, and again `nx run next:serve` worked perfectly but  `nx r next:serve` failed with `Segmentation fault (core dumped)`.

[2022-01-06 23:48] thefill opened #8427 "eslint-plugin-nx ignores implicitDependencies"
## Current Behavior
At present "eslint-plugin-nx" does explicitly use nx cache for its internal processing. This results in unpredicted behaviour when using eslint directly.

## Expected Behavior
ESLint plugin should revalidate cache on run e.g. following change in files listed under implicitDependencies in nx.json.
This is very confusing e.g. when using IDE and linting is outdated.

Additionally

[2022-01-07 00:13] #3116 closed

[2022-01-07 03:35] aidenywl commented on #8406
@puku0x The issue here is beyond the `no-unused-vars` rule, but the fact that the linting doesn't lint the colors properly? I've tried configuring my eslint to no avail :/

[2022-01-07 03:51] jangerhofer commented on #8019
For those tracking here, it appears that the Remix plugin is in beta!  https://www.npmjs.com/package/@nrwl/remix

[2022-01-07 04:01] LPCmedia commented on #7843
seems like we only have some guesses, random `transformIgnorePatterns` suggestions and bypassing the newly added automatic teardown.

anyone from Nrwl care to comment about this or what is coming to improve jest or even any active development on the jest tooling that can shed some light on this ?

[2022-01-07 08:38] StickNitro commented on #5140
I am getting the same issue with @nrwl/jest @13.4.3

relevant section from jest.config.js

  reporters: [
    'default',
    [
      'jest-junit',
      {
        suiteName: 'cdo-connect-pim Jest Tests',
        outputDirectory: '../../coverage/apps/cdo-connect-pim/junit',
        ancestorSeparator: ' > ',
        usePathForSuiteName: true,
        outputName: 'TESTS.xml'
      }
    ],
    'jest-

[2022-01-07 09:02] jderboven commented on #7844
Should this be some kind of path to take ?

-> https://github.com/angular/angular/issues/44026#issuecomment-974137408

[2022-01-07 12:40] jfsiii commented on #8019
And I believe the package is developed at https://github.com/nrwl/nx-labs/tree/main/packages/remix

[2022-01-07 13:17] willpritchard commented on #7177
I have found the cause in version 11.6.3 but looking at the latest code in the repo I can see the same problem is still present.

Here's the problem - see packages/workspace/src/core/hasher/git-hasher.ts

function parseGitStatus(path: string): Map<string, string> {
  const output = spawnProcess('git', ['status', '-s', '-u', '-z', '.'], path);
  const changes: Map<string, string> = new Map<string,

[2022-01-07 13:37] willpritchard commented on #6370
Update for this issue here: https://github.com/nrwl/nx/issues/7177#issuecomment-1007399846

[2022-01-07 13:38] willpritchard commented on #3370
Update for this issue here: https://github.com/nrwl/nx/issues/7177#issuecomment-1007399846

[2022-01-07 13:51] gsbelarus commented on #7924
Still present in 13.4.3

[2022-01-07 15:29] barbados-clemens commented on #4998
Hi all,

I've checked this out this morning and found the fix, looking to get a PR here soon.

Thanks for reporting 😄

[2022-01-07 15:32] craigbroadman commented on #8111
Is there any update on this?

[2022-01-07 16:11] Coly010 commented on #7844
@synec I was able to reproduce that issue in a non-Nx Workspace (`ng new` workspace). It's not a specific issue to Nx, however, I'll investigate and consult with the team to see if we can think of a solution

[2022-01-07 17:11] bigfish opened #8436 "Support 'openPage' webpack-dev-sever config in @nrwl/react:application serve target"
## Description

When using a "@nrwl/react:application" using 'openPage' option in "serve" > "options" config object, does not work. "open" option does work, but only opens to base URL. If we want to open specific path, there appears to not be a way to do that.

## Motivation

We'd like to open the app to a specific route for development purposes. In our case the / route is not populated.

## Sugge

[2022-01-07 17:39] #4998 closed

[2022-01-07 19:55] cdaringe opened #8438 "DepGraph: Render only the path(s) between two requested modules"
## Description

During dependency analysis, I'm often trying to _break_ edges to simplify my affected graph, as well as keep modules out for smaller bundles. However, it's very challenging to do this in some circumstances. Our graph makes this challenging because:

- There is so much content, that its very hard to isolate the modules of interest on screen
- There is so much content, that the brows

[2022-01-07 20:35] 1antares1 commented on #7844
Here I will share my latest **jest.config.js** with some exceptions from library uses, for example lodash-es and crypto-es (I understand what with the rest, it would perform similar):

[code]

[2022-01-07 20:50] Person-93 commented on #3231
@gioragutt I haven't tried the executors yet, but I haven't been able to get the generator working, Here's what I've done so far.

### Make Workspace Generator
I ran the generator generator. This put the `index.ts` and `schem.json` in a new generator in the tools directory. All is well.

### Get the schema
I first tried using a `$ref` but it couldn't resolve the file.

Next I tried using a relativ

[2022-01-07 21:28] gioragutt commented on #3231
I think I'm missing some context as to what you're trying to achieve.
Generating with Workspace Generators works out of the box, so what are you trying to do other than that?

[2022-01-07 21:29] gioragutt commented on #3231
@Person-93

I think I'm missing some context as to what you're trying to achieve.
Generating with Workspace Generators works out of the box, so what are you trying to do other than that?

[2022-01-07 21:35] kryptus36 commented on #6891
That didn't work for me. Oddly my nestjs app picks up my environment from Kubernetes, but react doesn't. My issue may be different. But I'm not sure what to do either way.

[2022-01-07 21:47] Person-93 commented on #3231
@gioragutt sorry, let me backtrack a few steps.

I'm working on a plugin that I intend to publish and use in other workspaces. I'd like to use that plugin in the workspace that it lives in.

The comment you linked above suggested importing the plugin's generator into a workspace generator.

That's what I was trying to do except there was no pre-existing workspace generator. I made a workspace gene

[2022-01-07 21:53] wootencl commented on #8323
Not sure if this is an issue with `nx` or possibly something upstream such as `babel-jest`. Did take a look at what is being used in the current workspace generation (for a react application), and it looks like there's been a shift towards `ts-jest` usage in app/lib `jest.config.js`.

[code]

Not sure if that's an intentional change. This might also be a duplicate of https://github.com/nrwl/nx/iss

[2022-01-07 21:55] gioragutt commented on #3231
@Person-93 gotcha. Unfortunately, I don't have an answer for the json schema problem. When I created a generator based on `@nrwl/node:library` I just copied the schema from node_modules and altered it as needed.

@AgentEnder perhaps you have some insights as to how to manage json schemas of generators that use other generators, beyond copy-pasting and altering the original schema.

[2022-01-07 22:04] gioragutt commented on #3231
@Person-93 I thought of a good idea for a tool, I'll share it here so maybe someone will take the time to implement it -

Create a tool that would convert the `.d.ts` schema to a json schema. It would use the declared type definitions, as well as comments, to create the json schema.

Perhaps it can be part of NX so that only `.d.ts` schemas would be required 🙄

[2022-01-07 22:05] #6782 closed

[2022-01-07 22:19] Person-93 commented on #3231
@gioragutt , thanks for your quick replies and general helpfulness. :)

-----

The schema thing isn't the main issue. While it's not ideal, I can automate a way to keep it in sync.

I haven't been able to run the generator at all. Importing the plugin's generator into a workspace generator has not worked.

-----

That's an awesome idea! i thought about something like that, but I wasn't sure how to

[2022-01-07 22:24] gioragutt commented on #3231
@Person-93 oh, so you're trying to run a generator that's defined as a plugin library, inside of a workspace generator. That's indeed a tricky situation, and I don't think I have an idea here 😔

[2022-01-07 22:36] achilehero commented on #7844
For me it is something similar. Recently I had to migrate several repos to Angular 13. I was able to make testing with jest work in the repos using `nx` with the "minimal" necessary things (including .mjs files in the transformation), while the repos without nx don't work ...

[2022-01-08 00:42] puku0x commented on #8326
`npm install --legacy-peer-deps` may help you.

[2022-01-08 10:15] EugeneGohh commented on #5063
thank you

[2022-01-08 10:38] techandmedia opened #8441 "TypeOrm query will failed if the configuration optimization for production set to true"
## Current Behavior

In PROD
`query failed: SELECT "_"."kios_user_id" AS "__kios_user_id", "_"."username" AS "__username", "_"."password" AS "__password", "_"."is_admin" AS "__is_admin", "_"."is_active" AS "__is_active", "_"."firstname" AS "__firstname", "_"."lastname" AS "__lastname", "_"."kios_user_type" AS "__kios_user_type" FROM "_" "_" WHERE "_"."username" = $1 LIMIT 1  -- PARAMETERS: ["some-

[2022-01-08 16:00] ravivit9 opened #8442 "All tests failing with Package subpath './src/ngtsc/reflection' is not defined by "exports" in node_modules/@angular/compiler-cli/package.json"
After nx migrating latest, started experiencing below unit test failures for all projects, libraries in mono repo.

## Configurations

### nx.json
`{
  "npmScope": "jopoworkspace",
  "affected": {
    "defaultBase": "master"
  },
  "implicitDependencies": {
    "angular.json": "*",
    "package.json": {
      "dependencies": "*",
      "devDependencies": "*"
    },
    "tsconfig.base.json": "*",

[2022-01-08 16:03] sdoh55 commented on #1972
@litwin90 I just found out that if you remove package.json from nx.json under implicitDependencies, it will only trigger affected for projects directly using the dependency. This might not be safe for all use cases, so you can also add specific dependencies for specific projects.

[2022-01-08 16:07] ravivit9 commented on #8442
I am really stuck with this issue and unable to commit my code without test suites running.  The mono repo contains around 100+ library modules and 8 apps consuming these libraries.  Greatly appreciate your help on resolving this please.

[2022-01-08 18:25] demisx commented on #8326
Thank you @puku0x. The error indeed goes away with:

[code]

My understanding `--legacy-peer-deps` tells NPM v7 to ignore peer deps and proceed with the installation anyway. Is this an acceptable way of upgrading? I think we'd rather wait for the fix since we are not in a rush "to accept an incorrect (and potentially broken) dependency resolution."

[2022-01-08 23:02] erez-walkme opened #8444 "Linter issue - ES modules is not supported"
## Current Behavior
linter fails to run in react project

## Expected Behavior
linter run through the command npx nx run <project>:lint

## Steps to Reproduce
run command nox nx run <project>:lint for a new react type project

### Failure Logs

Must use import to load ES Module: /Users/erez.asulin/walkme/test-nx/node_modules/@eslint/eslintrc/universal.js
require() of ES modules is not supported.
r

[2022-01-09 00:05] ryanbas21 commented on #3748
Bumping this:

We have a use case where we have a simple express server, a webpack dev server, and playwright running. The only real way to do this with our setup is

run concurrently with `playwright test` and `nx serve myExpressApi` where `playwright test` also spins up the web server using the global config option `webServer` option which waits for the web server to spin up before executing pla

[2022-01-09 00:14] #5379 closed

[2022-01-09 04:43] puku0x commented on #8326
@demisx I think it is acceptable (for now😅) because it is the same option that Nx currently relies on.
https://github.com/nrwl/nx/blob/8f01630843f3346f281d34e2c33932d1a0c34388/packages/tao/src/shared/package-manager.ts#L68-L81

[2022-01-09 05:01] mend3 commented on #3144
I think it's worth to mention that debugging preferences is also available via **project.json** files.

As you can see in the image, I'm runnning 3 different projects (Express API) on diferent ports and debugging 2 of them (the other one is disabled for example purposes).

`Debugging 1st app on port 9230`

![image](https://user-images.githubusercontent.com/1450229/148670099-070e3ee9-caa9-44ca-8e62

[2022-01-09 06:09] aboqasem opened #8446 "Broken Nest.js app when migrating to `@nrwl/js` executor"
## Current Behavior

I have a broken Nest.js app in production but working in development, the error:

[code]

Everything is minified that I cant see the name of the modules, and to get it working I traced back to a commit with `nx migrate latest` and the diff is:

[code]

Without these changes, class names are not minified and the production build works fine.

## Expected Behavior

For the Nest.j

[2022-01-09 06:29] wizardnet972 opened #8447 "Error: Project name already exists. Although there is no project with that name."
## Current Behavior

Run the command:
[code]
Got an error:
[code]
Although there is no project with that name..

https://github.com/wizardnet972/nx-create-lib-problem/blob/main/workspace.json

## Expected Behavior

Create "lib-ui-2" library.

## Steps to Reproduce

Clone:
[code]

This issue may not be prioritized if details are not provided to help us reproduce the issue.

### Failure Logs

### En

[2022-01-09 07:50] DibyodyutiMondal commented on #8219
In the above executor, `calculateProjectDependencies` imported from `@nrwl/workspace/src/utilities/buildable-libs-utils`, will inlcude type-only imports.
`import type { something } from 'some-package';`
will add `some-package` to `package.json` even if that is not intended or necessary

[2022-01-09 12:38] litwin90 commented on #1972
@sdoh55 thank you for the information, will try it out 😊

[2022-01-09 14:16] cakeinpanic commented on #7531
Hi, are there any updates on it?

[2022-01-10 04:17] puku0x opened #8450 "@nrwl/web:file-server has security vulnerability"
## Current Behavior

`http-server` which is used in `@nrwl/web:file-server` has been broken by `colors@1.4.2`.

[code]

## Expected Behavior

`colors@1.4.0` is used.

Fortunately, there is a fix PR.
https://github.com/http-party/http-server/pull/783

## Steps to Reproduce

Create a workspace and use `@nrwl/web:file-server` to serve an application.

I think most users are not affected because they

[2022-01-10 05:31] jaytavares commented on #984
Not stale. I actually wrote an implementation of this rule on my fork; however, I discovered that we'll probably want to traverse the project graph to ensure no dependencies of dependencies have the disallowed tags. I'll try to find some time to finish that soon.

[2022-01-10 07:34] jderboven commented on #7844
Been fixing it on Friday evening actually with a Nx Repository, coming from NG12

So I have one app within apps folder and several libs, all the tests coming from the libs were failing .. After a lot of digging, I had to add a test-setup.ts at the the root of the lib, next to index.ts within the folder structure.

In this test-setup, this line made the trick :
`import 'jest-preset-angular/setup-je

[2022-01-10 08:53] mandarini commented on #8360
Hi @stefan-schweiger ! Thanks for pointing this out. This is indeed a workaround, and we're waiting on the Storybook side for the Angular 13 issues to be solved. For the time being, let's all try to be patient, I'm sure everyone who's working on this is doing the best they can.

[2022-01-10 09:45] Coly010 commented on #7844
@jderboven Yes, that makes sense. As everyone's workspace is different, they need to specify certain packages to ignore. That's not something we can do automatically from the Nx Generators.

What I meant by it is not specifically an Nx issue, is that the issue originates from Angular switching to ESM. It means there's going to be manual work required by each repo to ignore whatever packages are ca

[2022-01-10 10:08] iceteabottle commented on #1542
In our project all suggested solutions doesn't work. We have a ui lib that includes various components and some global styles including variables and mixins. But the lib is not buildable and publishable.

I created a small (but maybe a bit hacky) workaround:

I just added a `"build"` definition with no real builder in the `angular.json`.

[code]

That solves the problem that IntelliJ cannot resolv

[2022-01-10 10:59] SerkanSipahi commented on #8450
I can confirm this but I get the same issue when running `npm run affected:test`. This probably affects all Nx versions that install v.1.4.2 with every installation.

As long as you don't have a patch, you can force the version of colors.js to v.1.4.0 by running `npm i --save-dev colors@1.4.0`.

[2022-01-10 11:12] tmo207 opened #8456 "No build error logs with @angular-devkit/build-angular:ng-packagr"
## Current Behavior
No build error logs are shown when building an angular library with @angular-devkit/build-angular:ng-packagr. The build error looks like the following no matter if the --verbose flag is passed or not.

<img width="582" alt="Capture d’écran 2022-01-10 à 12 09 35" src="https://user-images.githubusercontent.com/29772543/148756573-f0f51a16-9464-430b-9386-8a9b101bcf0d.png">

## Ex

[2022-01-10 11:13] puku0x commented on #8450
Karma😂
https://github.com/karma-runner/karma/pull/3741

[2022-01-10 11:13] lihongwang commented on #1744
Any update about lib support SCSS modules?

[2022-01-10 11:16] ivibe commented on #8313
I have the same issue. My IDE is VS Code. Apparently it's a cache issue as mentioned by @demisx . My workaround is to force linting across entire monorepo
[code]
and then just to restart IDE.

[2022-01-10 11:22] SerkanSipahi commented on #8450
@puku0x yeah, hopefully the fix will be merged as fast as possible!

[2022-01-10 11:24] developer239 commented on #4513
@Frikki Thank you 🙌 Is it documented anywhere?

[2022-01-10 13:37] yuriirud1 commented on #8395
same problem

[2022-01-10 13:49] TimNuman commented on #4817
FYI, in order to get it to work my webpack config ended up looking like this:

`const webpack = require('webpack');
const nrwlConfig = require('@nrwl/react/plugins/webpack');

module.exports = (config, context) => {
  nrwlConfig(config);

  return {
    ...config,
    resolve: {
      ...config.resolve,
      fallback: {
        module: 'empty',
        dgram: 'empty',
        dns: 'mock',

[2022-01-10 14:45] YonatanKra opened #8459 "Rollup configuration does not support es6 imports"
## Description
Rollup configuration can be done with TypeScript.  Using the rollup configuration option in `@nrwl/web:rollup` with a typescript configuration file with `import` results in an error:
`Cannot use import statement outside a module`

## Motivation
Allow to import in a configuration file.

## Suggested Implementation
Parse configuration like typescript.

## Alternate Implementations
Rig

[2022-01-10 16:18] jaysoo commented on #8450
We're exploring ways around the vulnerability if the patch isn't landed in `http-server`.

For yarn and npm 8 users, please use `resolutions` or `overrides`, everyone else stay tuned!

[2022-01-10 17:14] jaysoo commented on #8426
Can confirm that this is a problem running with nextjs only.

In Node 14 you get an error message saying:

[code]

In Node 16 you get an `SIGSEGV` error.

[2022-01-10 19:18] bdebon commented on #7468
Oh, I think this is the explanation of my infinite loop of failure today...
@danr-za, I was following your tuto about tailwind nx and next (I was adapting it for my nx react project), but nothing was working correctly... It was like postcss and tailwind in my ui libs were never read.
I think we should let the lib have its own config and eventually fallback to the app's one if the lib does not have

[2022-01-10 19:48] bdebon commented on #7468
For now for example in my nx react project, with this recent change that does not check the postcss.config and the tailwind.config of my lib, I can not use storybook and tailwind to test the component of my lib. In fact, the classNames of my UI lib are not parsed so tailwind is completely empty and I ends up with a storybook with no styles...

[2022-01-10 20:37] #8450 closed

[2022-01-10 20:45] jaysoo commented on #8426
Really odd that `run` vs `r` matters since the latter is just an alias. We'll investigate but in the meantime use `run` or the short form `nx serve next`.

[2022-01-10 21:13] nzacca commented on #8360
This should now be fixed with the latest `6.5.0-alpha.12` build from Storybook. The only problem we had left was hot reloading which we had to make the following changes to get working again:

[code]

While [this PR from Storybook](https://github.com/storybookjs/storybook/pull/17131/files#diff-6f90c83cb830f2932485242c624ea2186d9872c642b382f49da1ea9b8c2d5a59R50) makes a change to fix HMR for the de

[2022-01-10 21:15] benediktms commented on #8323
I'm encountering a similar problem with my workspace in a Next.js app. I did some testing, and the problem form me stems from using ESModules (I think; I commented out all other code in my component). This is my error:
[code]
It seems for some reason my Jest config does not like things being imported from React (commenting out all React related imports such as `useEffect` etc, 'fixes' the error).

[2022-01-10 22:36] poeck commented on #8426
That is exactly what I thought. It's fine, just really confused me.

[2022-01-11 00:13] #8128 closed

[2022-01-11 00:14] #1949 closed

[2022-01-11 00:37] dongood opened #8470 "Nx Angular mono-repo does not work with eslint-config-airbnb-base"
## Current Behavior
When executing `npx nx lint [application]` linting fails to run with:
[code]

## Expected Behavior
Linting successfully runs.

## Steps to Reproduce
1. Create new workspace `npx create-nx-workspace@latest`
[code]
2. Add AirBNB packages
[code]
3. Modify project **root/.eslintrc.json** file, adding line 2 below `"extends": ["airbnb-base"],`
[code]
4. Execute linter `npx nx lint t

[2022-01-11 08:27] fr-esco commented on #8112
Is there anything I could add?

[2022-01-11 10:52] nadavsinai commented on #7366
anyone?

[2022-01-11 11:08] StickNitro commented on #8316
I am experiencing the same problem after adding a nodejs app to my nx workspace, I have applied the fix above locally and can confirm that this resolves the issue for me

[2022-01-11 11:48] asinitson commented on #8242
Confirming that the same issue is repeatable with `nx` 12.* and Angular 12.*. All the steps described above also apply to these versions (a lot of workarounds and manual configuration tweaking!).

From nx workspace root directory:
[code]

[code]
export const Primary: Story = () => ({});
Primary.parameters = { component: AppComponent };
[code]

[2022-01-11 14:00] stefan-schweiger commented on #8360
@nzacca for me the `polyfill.ts not found` problem also still remains, but at least the html-loader problem is gone now.

[2022-01-11 14:26] webberwang commented on #6731
Any reason `@nrwl/web` can't have `loose=true`?

[2022-01-11 14:28] the-ult opened #8474 "StandaloneConfig improvements"
## Description
It would be nice if the recommended `standaloneConfig` would be enabled by default when running `npx create-nx-workspace`
Or add it as an options/configuration e.g.

`npx create-nx-workspace --standalone-config`
or/and as part of the questions
[code]

### Set default configuration
After running `nx g @nrwl/workspace:convert-to-nx-project --all` newly created apps/libs do not have a

[2022-01-11 14:47] DaveMBush commented on #8242
@asinitson are you using Jest 27?

Could you also post in the storybook github https://github.com/storybookjs/storybook/issues/17047 as I believe, at this point, the issue is between Jest 27 and storyshots (unless you are using Jest 26 and then that theory doesn't work any more)

[2022-01-11 15:21] PowerSupply commented on #8081
Is there another issue for this since this is just a workaround and does not solve the underlying problem @Coly010 ?

[2022-01-11 15:23] Coly010 commented on #8081
@PowerSupply The underlying problem comes from Cypress failing when it sees an `console.error` output in the console.

There's the workaround above to change the MFE setup, or you can tell Cypress to not fail on `console.error` reports:

https://docs.cypress.io/api/events/catalog-of-events#Uncaught-Exceptions

[2022-01-11 15:26] #8386 closed

[2022-01-11 15:45] Coly010 commented on #8474
It's in discussion at the moment :)
We'll provide more feedback when we know more

[2022-01-11 15:52] ChazUK commented on #7166
@mdo5004 the only solution I found was documented above using npm link :(

[2022-01-11 15:58] hrmcdonald commented on #8446
I had a 13.3.x update break a build a well. I was able to fix it by setting "optimizations" to false for the NestJS build configuration.

[2022-01-11 17:15] chrisui commented on #7752
I'd really like to re-open this and discuss alternatives (including workspace wide configuration) for this. The default behaviour of forwarding all args to every command that is run (even dependencies) is highly undesirable and the needs to swap between "commands" and "command" with a verbose syntax just to escape the default behaviour isn't great. I'd argue there's even security concerns with thi

[2022-01-11 17:19] NetanelBasal opened #8475 "@nrwl/web:rollup produces the wrong output"
## Current Behavior
When using the following configuration:

[code]

The build output in `package.json` is:

[code]

## Expected Behavior

[code]

[2022-01-11 17:21] #8362 closed

[2022-01-11 17:59] brianpooe commented on #8252
Still getting this issue in v13.4.4

[2022-01-11 19:01] tbergquist-godaddy opened #8478 "Error: Cannot find configuration for task build after upgrading from 13.2.x -> 13.4.x"
## Current Behavior

In our monorepo, we are using lerna to deploy packages to a private npm repository.
We are running `nx run @local/packagename:build` in a prepack script in each package to get all relevant packages built.

This works great on `13.2.x`, but after upgrading to `13.4.x` this no longer works.

## Expected Behavior

Expected this to still work on latest version.

## Steps to Reprod

[2022-01-11 19:54] maiazera commented on #7613
Running nx migrate --run-migrations in an Angular environment  i am getting the following error:

Running migration update-angular-config-v13
Cannot read property 'startsWith' of undefined
/Users/*****/Desktop/web-clients/node_modules/yargs/build/lib/yargs.js:1132

package.json looks like:

{
  "name": "web-clients",
  "version": "1.0.0-dev.0",
  "scripts": {
    "ng": "nx",
    "translations": "n

[2022-01-11 19:59] nzacca commented on #8360
@stefan-schweiger Yes, that is another issue that only affects libraries using Storybook. We fixed that manually by including the polyfill in the storybook tsconfig for that library.

[code]
This has allowed us to move forward with our Angular 13 upgrade. Hopefully there is a better configuration for this in future.

[2022-01-11 20:19] NetanelBasal commented on #8475
<img width="1059" alt="Screen Shot 2022-01-11 at 22 18 41" src="https://user-images.githubusercontent.com/6745730/149015136-8af55050-b73e-44d9-b7c6-ffd54df436c7.png">

The issue is here. It doesn't take into account the provided `format`.

[2022-01-11 20:24] FrozenPandaz commented on #8404
Sorry, it might be a bit confusing because the `@nrwl/workspace` package contains a few different scopes within itself.

Please use the `core` or `misc` scope instead of `workspace`. We are actively working on separating some of that logic out into separate packages.

[2022-01-11 20:24] #8404 closed

[2022-01-11 21:00] danr-za commented on #7729
I think also grabbing the `.env` file by the **passed configuration** makes total sense.
For example, `nx build/server app --prod` would grab `.env.production` while `nx build/serve app` would grab `.env.development`.
Btw, this correlates with how `environment.ts` files are replaced in the different builds.

That way we can manage custom configurations (which is usually typical for dev/staging/pro

[2022-01-11 22:38] danr-za commented on #6664
Closing as everything looks ok since v13

[2022-01-11 22:38] #6664 closed

[2022-01-11 22:39] danr-za commented on #6815
any plans/news about this?

[2022-01-11 22:42] wrightomated commented on #8111
I recently changed things over to target dependencies and had the same result.

The solution was to have "codeCoverage": true in the test target options.

[2022-01-11 22:43] danr-za commented on #7531
any feedback will be appreciated 🙃  @mandarini

[2022-01-11 22:43] danr-za commented on #7544
@mandarini any news regarding this one?

[2022-01-12 01:01] sir-captainmorgan21 commented on #275
@FrozenPandaz thoughts on building this into the angular builder as an optional config to run compodoc prior to running storybook? Using compodoc is a requirement to get auto documentation with storybook and angular. I'd assume its used pretty frequently.

[2022-01-12 01:22] bloodmadridista commented on #5413
Closing since [this commit](https://github.com/nrwl/nx/commit/240da9a43cf48d46c5bba017c2afa3646709825e#diff-ce79d55185c3d4fbd2ad5caeeebb5248a037789d439740c4d6373a9d1e5257fd) should address this issue.

[2022-01-12 01:22] #5413 closed

[2022-01-12 02:26] sir-captainmorgan21 opened #8484 "Storybook doesn't run in dev mode with hot reload like `start-storybook`"
## Current Behavior
I have storybook set up with NX and Angular. Everything is working fine except I am forced to run `nx run storybook:<my-project>` after every change I make. `start-storybook` runs this as a dev server with hot module reloading. Am I missing a cli option to get this, or is nx using the wrong builder?

## Expected Behavior
I would expect serving storybook to have hot reloading av

[2022-01-12 02:43] crohit92 commented on #4135
I created my workspace with nx and was looking for the same issue.
I got it solved by adding
[code]

in my angular.json (Since my workspace was NestJS + Angular)
under projects->api->architect->build->options

[2022-01-12 03:24] sir-captainmorgan21 commented on #8484
I was able to change he executor to use `@storybook/angular:start-storybook` like so:
[code]

But ideally, this is something that is built into one of the generators. Maybe it's necessary to start building @nrwl/storybook/<framework> generators? Either way, having hot module reloading from intial setup is ideal

[2022-01-12 07:23] BOBRIWE commented on #8199
Hi, I'm not sure, but I think you forgot one more case - @nrwl/storybook:cypress-project. We have cypress tests for storybook, and we just realized that storybook builds default application for some reason (it's not needed actually), and it started failing because of memory allocation error. How I can specify `projectBuildConfig` in this case, when storybook starts with e2e tests?

[2022-01-12 08:08] mandarini commented on #7544
Hi @danr-za ! Will get into it soon, sorry about that!!

[2022-01-12 08:09] mandarini commented on #7531
Hi there! No news on that yet. It's a feature request, and we're prioritizing bugs at the moment. I will let you know. However, in the meantime, if any of you would like to give this a shot, let me know, and I can help you! :)

[2022-01-12 08:22] mandarini commented on #8484
Hi there! So, hot reload works for you when you switch the executor?
Please take a look at [this comment here](https://github.com/storybookjs/storybook/issues/16977#issuecomment-1010147131). There are a number of issues related to Angular 13.1+Storybook at the moment, so maybe it's related to these. I will look into it eventually, I'm trying to make sure all issues/bugs are covered! :)

[2022-01-12 11:40] mandarini commented on #8199
@qortex @vincentB23 @nick-allen
For non buildable projects (eg. libs), projects that do NOT have the **`build` target** in their `architect` or `targets` in `angular.json` or `project.json`

Run your app like this:

[code]

Notice how here we are explicitly passing the `build-storybook` target!

[2022-01-12 11:40] mandarini commented on #8199
@BOBRIWE can you please try above solution in a similar way, and let me know if it works?

[2022-01-12 11:41] mandarini commented on #8199
These are temporary workarounds, we'll come up with a concrete solution - either console suggestions, or something similar.

[2022-01-12 12:16] mandarini commented on #8199
[Command suggestion PR](https://github.com/nrwl/nx/pull/8488)

[2022-01-12 12:17] mandarini commented on #8360
Please take a look at this comment @nzacca @stefan-schweiger https://github.com/storybookjs/storybook/issues/16977#issuecomment-1010957495

Also, [command suggestion PR](https://github.com/nrwl/nx/pull/8488)

[2022-01-12 12:21] BOBRIWE commented on #8199
I meant that we're running e2e tests and storybook like this: `nx e2e storybook-app-e2e`.
And before e2e tests started, it tries to start storybook. It means that I need to pass `--projectBuildConfig` there somehow.

But I found solution, you need to pass  `projectBuildConfig` to storybook options

[code]

[2022-01-12 13:33] jefftudorbenbria commented on #4374
Were you able to solve your issue?

[2022-01-12 13:58] BorisZubchenko commented on #8355
Take a look at Juri's [article series](https://blog.nrwl.io/setup-next-js-to-use-tailwind-with-nx-849b7e21d8d0) -- he has slightly different Tailwind configuration.

[2022-01-12 14:10] kedevked commented on #4374
Unfortunately no. I never found a way to do it

[2022-01-12 14:43] jefftudorbenbria commented on #4374
No problem, I did some digging and was able to resolve the issue by adjusting the build config so that my views were included in the assets. I'm not sure if that is the most correct solution but at the very least my templates are now included in the build and hence the dist folder. Now when my app is served the correct views are reachable.

here are the options I'm using in the build section of my

[2022-01-12 14:57] marbemac commented on #6901
In case it's helpful, we use a custom webpack config + the `generate-package-json-webpack-plugin` plugin, which has proven more robust than `nx` implementation in our testing.

Our `webpack.config.js` looks something like this (we put our "apps" in a services folder, adjust accordingly):

[code]

[2022-01-12 15:01] Quraian commented on #7843
Just wanted to share that I'm having this issue even though I'm not using Nx.

[2022-01-12 17:30] mandarini commented on #8484
@coltpini Oh I see! Don't worry, I can help you out. Can you share a repository reproducing your issue? I can show you which parts you need to tweak, especially for the watch mode/hot reload.

But let me ask you something. Does your workspace have an `angular.json` file or a `workspace.json` file? Also, do you have `project.json` files inside your project folders?

[2022-01-12 17:34] mandarini commented on #8484
@sir-captainmorgan21 I would suggest [this solution](https://github.com/storybookjs/storybook/issues/16977#issuecomment-1010127460).

Please let me know if it works.

[2022-01-12 18:03] mandarini commented on #8484
Oh, also, what if you pass `--watch`?

[2022-01-12 18:34] kishok opened #8496 "Storybook Integration still not supports @storybook/web-components as uiFramework option in config generator"
## Current Behavior

 currently storybook config generator only supports two values only **@storybook/angular** , **@storybook/react**
## Expected Behavior

it should support more options (ex. @storybook/web-components).  And also update relevant docs and add examples.

### Environment

Nx 13.4.4

[2022-01-12 18:45] mandarini commented on #8496
Hi there @kishok ! Thank you for this feature request!

Actually, you can use any of the following values:
[code]

however, the `storybook-configuration` generator will only generate actual stories for `@storybook/angular` and `@storybook/react`. For all the rest of the options, it will generate the `.storybook` folders and the configuration files. Everything except for stories, and anything else

[2022-01-12 18:53] mandarini commented on #8199
I have [this PR ](https://github.com/nrwl/nx/pull/8494)under way, we want to review it a bit more and make sure it makes sense in all scenarios. But the purpose would be to automatically use the current `project`'s build configuration.

[2022-01-12 18:53] ola-jha commented on #3567
Has there been any solution to this?

[2022-01-12 18:53] xaphod commented on #4159
Yeah, reopen this issue - verbose is broken

[2022-01-12 18:58] johnny68 commented on #4580
I wish you guys had solved this. But building on @nglazov answer and my already present scripts, I used

[code]
Basically, `-r tsconfig-paths/register` did the trick.

[2022-01-12 19:34] kishok commented on #8496
thanks @mandarini. i will check the config generator and also happy to support in Nx plugin to generate / Build libraries for web components.

[2022-01-12 19:47] austinjlaverty opened #8497 "FOUC with next + styled-jsx setup after creating a lib"
## Current Behavior

I have a `nx` generated `next` app with which I'm using `styled-jsx` to provide css.  After adding an empty library with which to provide some shared UI components, when building and running a `nx + next + styled-jsx` setup in production  mode a visible flash of unstyled content will occur, as well as completely missing styles when javascript is disabled. CSS provided with `st

[2022-01-12 20:53] wootencl commented on #8323
Zero idea why this worked but I ended up blowing away my `nvm`/`node`/`npm` installation and installing fresh and am no longer seeing the problem 🤷‍♂️.

[2022-01-12 21:26] rujorgensen commented on #3179
I'm having this issue now, when running `npm ci --only=production`, what was the fix 🙂? This silence in here is so odd 🤨.

[2022-01-12 23:39] yharaskrik opened #8500 "@nrwl/js libraryGenerator function fails (but cli generator doesn't)"
## Current Behavior

When calling the `@nrwl/js:lib` generator from a workspace executor like so:

[code]

We get

[code]

If I set `linter` to `none` and then rerun instead we get
[code]

This workspace executor was previously calling the exact same thing just with `@nrwl/node:lib` instead and it has been working.

## Expected Behavior

Should be able to call the `libraryGenerator` function from

[2022-01-12 23:51] RileySeaburg commented on #8355
I'm having issues getting the components that are library generated to render the styles with the rest of the application.

I've been following this article and with help from the comments above I got my main application to render styles.

Here's the kicker, the library styles only work if they are first added as a class to an element in the app.
If that same class appears on an element in the lib

[2022-01-13 00:14] #5559 closed

[2022-01-13 00:14] #3892 closed

[2022-01-13 00:16] Lightw3ight opened #8501 "Unexpected end of JSON input when running migrate"
## Current Behavior
When I run `nx migrate latest` I eventually get an error
`npm ERR! Unexpected end of JSON input while parsing near '..."name":"Hoàng Văn Khả'`

## Expected Behavior
I expect it to generate `migrations.json` and update `package.json`

## Steps to Reproduce
Using my supplied package.json file, attempt to run a migration to the latest nx

I was able to successfully run the migrati

[2022-01-13 00:18] demisx commented on #8326
I actually got this resolved by bumping ESLint dependencies in [Nx own package.json](https://github.com/nrwl/nx/blob/master/package.json) and some (vue related) to the latest released:

[code]

[2022-01-13 00:18] #8326 closed

[2022-01-13 03:01] david-j-davis commented on #902
@konstantinschuette @jbjhjm this is kind of unreal to me that inside of Nx such a small thing like this is catastrophic for moving forward with global libs, right? This is crazy. I feel like the least the Nx team could do is let everyone know this is a limitation and provide a workaround.

[2022-01-13 08:26] gioragutt opened #8503 "Unable to ignore files, causing NX to take 2 minutes to run every command"
## Current Behavior

My teammate had a problem running anything with NX. Every command would take about 2 minutes before executing.
After a couple of minutes of `console.log` debugging the nx cli in `node_modules`, we found out the thing that took the most time was building the dependency graph.

After some troubleshooting, it ended up taking a lot of time due to him having some huge (<= 2.4GB) js

[2022-01-13 08:37] fs-innonova commented on #869
The only way I got it working was using this (default branch name is `main`):

[code]

but why do I need to specify the branch name here? if in `nx.json` I already have this:
[code]

Am I missing some configuration in `nx.json` or the only way is to hardcode the branch name inside the `lint-staged` script?

[2022-01-13 08:43] skrtheboss opened #8504 "Cache restoration does not work in 13.4.4"
## Current Behavior
Nx omits library name in the cache storing process. I have added a log message in the [Cache's put](https://github.com/nrwl/nx/blob/master/packages/workspace/src/tasks-runner/cache.ts#L113)  function to log the `src` and `directory` variables, this is what i got:

NX 13.4.3
`C:\some-package\dist\libs\package" C:\some-package\node_modules\.cache\nx\2e8c0a3faa9be7f2167abe97bc5974

[2022-01-13 09:28] terrymun opened #8505 "Generated package.json should honour main and module fields"
## Description
For now, it seems like the `main` and `module` fields of the generated `package.json` file are hardcoded to be the following format:

* `[package-name].umd.js`, and
* `[package-name].esm.js`

There are no ways to customise this, and it may cause issues especially when using the `preserveModules: true` option. When the entry file is set to be `index.ts`, for example, the built entry

[2022-01-13 09:30] danr-za commented on #7531
Sure thing.
I'll try to submit a PR by the weekend or so.
Thanks!

[2022-01-13 09:42] chrisui opened #8506 "Extend NX_VERBOSE_LOGGING to provide reasons for dependencies"
## Description

I have a case where I have a lot of false-positive invalidations in my configuration.

`NX_VERBOSE_LOGGING=true` has allowed me to validate my assumption that a near-root node contains many false-positive `"implicitDependencies"` however there is no current tooling to understand *why* these dependencies have been added. Eg. "is it because of some inferrance from nx core?", "is it b

[2022-01-13 10:19] alan-ws opened #8507 "React-native deps (assume) not correctly being linked with packages"
## Current Behavior
React-native app does not render, even though the build is successful. This occurred after the introduction of `react-navigation`. However, I do not believe the issues is with `react-navigation` but with `nx`. As I have been able to add `react-navigation` to stand-alone `react-native` apps perfectly fine. The error might be caused due to dep linking.

## Expected Behavior
Addin

[2022-01-13 10:19] santosmken commented on #8383
I got the same problem

[2022-01-13 10:40] jbjhjm opened #8508 "run-many: Allow use of wildcards"
## Description

Allow use of * wildcard in run-many command, like `nx run-many --target="lint" --projects="core-*"`

Old issue from 2020 was auto-closed without any solution.
I think todays it still is a useful and relatively easy to implement addition.
https://github.com/nrwl/nx/issues/3736

## Motivation

For all larger monorepos it becomes an increasingly tedious task to run testing/linting pro

[2022-01-13 11:27] linbudu599 commented on #8508
I will take a look at this

[2022-01-13 11:55] RileySeaburg commented on #7468
Accoring to this quote from @jaysoo

This issue should be solved already but it's currently not solved, at least not for NextJS.
I have to say this is the only thin holding us back from being able to use NX in production.
It would be really nice to see a clean implementation of this with a tutorial as well. 😉😊

Has anybody actually got this working properly even with a config file in your lib?

[2022-01-13 12:22] Coly010 commented on #8306
This has been fixed in Nx also :)

[2022-01-13 12:22] #8306 closed

[2022-01-13 12:34] vi-verrone commented on #8112
Hi all, I'm having the same issue during the validationStep since it seems to not accept the `type` in array form although it's defined in the JSON Schema specifications. When will a fix be planned for this issue?

[2022-01-13 13:51] jahglow commented on #4508
It actually does cause problems when you're trying to get the typescript work in watch mode - it disrespects imported libs

[2022-01-13 14:21] bdebon commented on #7468
I found a way to make it work with nx 12.5 and tailwind 3.8 and you have to
use the watch mode of tailwind... I spent 2 days experimenting everything
possible to find this specific config.
I can tell you more specifically later if you need. I'm on my phone rn

Le jeu. 13 janv. 2022 à 12:55, Riley Seaburg ***@***.***> a
écrit :

[2022-01-13 15:09] jbjhjm commented on #8508
Damn, you are a hero @linbudu599 ! 🎉

[2022-01-13 15:40] FrozenPandaz commented on #8252
Yes, the option was removed from the `@nrwl/angular:library` generator.

@leosvelperez we should write a migration to remove defaults.

[2022-01-13 15:45] #8259 closed

[2022-01-13 15:48] FrozenPandaz commented on #8267
Sorry, there's not enough information here for us to help. Do you have a repo that we can use to reproduce the issue?

[2022-01-13 16:09] FrozenPandaz commented on #8272
I would start with the `react-express` preset since it contains 2 of the projects that you want. And then I would add `@nrwl/angular` to it.

1. `npx create-nx-workspace@latest nx-monorepo --preset react-express
2. `npm i @nrwl/angular`
3. `nx g @nrwl/angular:app angular-app`

`nx add` isn't recommended and once you install the `node_module`, you can immediately create the application.

[2022-01-13 16:19] #8272 closed

[2022-01-13 16:45] hardy925 commented on #7366
This seems to happen when NodeJS versions change. For me I confirmed the NodeJS version I wanted and ran `npm ci` for some reason, if you still have issues, you can try removing the local git project (commit and push up unsaved work first if needed) and re-clone it and `npm ci`.

It was a hassle but it worked for me.

[2022-01-13 18:19] #8252 closed

[2022-01-13 19:46] nzpopa commented on #8403
I have the same error, but I'm using the default `@nrwl/storybook:build` executor for building the storybook.

[code]

    How can this be fixed?

    Cheers

[2022-01-13 19:58] gkamperis commented on #7847
anyone from Nrwl looking at his at all?

[2022-01-13 20:21] sir-captainmorgan21 commented on #4412
@uraikwar @D0rmouse even if they dont build a generator, it isn't too difficult to hook the webdriver tests into NX.

[2022-01-13 21:16] AgentEnder commented on #7847
At a glance in the original ticket the @nrwl/* packages are out of order. I'm not really able to dig deep into it right now, but try making sure those are all the same, cleaning out node_modules and reinstalling and see if it still occurs.

If so, @FrozenPandaz may be able to take a look.

[2022-01-13 22:56] NullVoxPopuli opened #8524 "nx installs too many things, causing linting and type checking to fail in a large monorepo"
## Current Behavior
after installing `@nrwl/cli`, `@nrwl/tao`, and `@nrwl/workspace`, may linting and type checking tasks started failing (just running with normal `eslint` and `tsc` bins.

Why does `@nrwl/workspace` install so much stuff I don't need?

In my lockfile:
[code]

I don't need:
 - jest
 - anything with parcel
 - the linter
    - this one installed `eslint@8`, which broke my default `e

[2022-01-14 00:14] #5433 closed

[2022-01-14 01:24] sir-captainmorgan21 commented on #8484
@mandarini that solution won't work for me. Our NX project is exclusively publishable packages. I'll share the solution I did to get it working.

[2022-01-14 07:59] rickvandermeij-aanzee commented on #3390
@herodriguez7 we use playwright in our NX monorepo, it just doesnt come standard out of the box, but everything is working fine, even the affected

[2022-01-14 08:15] prewk commented on #3390
Yeah and you can just add it and pretend nx doesn't exist if you want. You don't need the integration.

[2022-01-14 09:59] mbeckenbach opened #8527 "Storybook build fails when following the tutorials"
## Current Behavior

I tried to add storybook to some ui libs but it failed, so I created a new workspace with one angular app, a workspace lib and an angular lib. It follows the example of your angular tutorial except, that there is no backend app. But i still get the same errors.

Then i added storybook for the UI lib as it is described here:
https://nx.dev/storybook/overview-angular

When i run

[2022-01-14 10:05] hudzenko commented on #8527
Add `"projectBuildConfig": "ui:build-storybook"` to storybook build `option`. This is a known bug and should be fixed soon :)

[2022-01-14 10:11] mbeckenbach commented on #8527
@hudzenko THX!

[2022-01-14 10:27] nzacca commented on #8360
@mandarini Thank you very much for the response! Sorry for the late reply. I responded to the other ticket you linked by accident: https://github.com/storybookjs/storybook/issues/16977#issuecomment-1012990270

What we ended up doing was just setting the `projectBuildConfig` in the project.json of the library to prevent having to set this from the command line. That works well but I'm curious if yo

[2022-01-14 10:45] the-ult commented on #8096
Same still happens with a node project (#4939 )

Generated `package.json`
[code]

[2022-01-14 10:58] marleypowell commented on #8527
I think this is the related issue #8199

[2022-01-14 11:13] Coly010 commented on #8253
@sandeeppatidar30
Thanks for filing the issue!

I'm struggling to reproduce this locally. Would you be able to provide a minimal repo that I could clone that reproduces this error so I can investigate further?

[2022-01-14 11:45] heddendorp opened #8528 "Adding an angular library fails with: 'style' is not found in schema"
## Current Behavior

Running `nx g @nrwl/angular:library apply --lazy --parentModule .\apps\tumi-app\src\app\app.module.ts --routing`  fails with `'style' is not found in schema`

## Expected Behavior

A new library should be generated

## Steps to Reproduce

1. Clone https://github.com/heddendorp/tumi-app
2. Run `nx g @nrwl/angular:library apply --lazy --parentModule .\apps\tumi-app\src\app\app.m

[2022-01-14 12:25] BorisZubchenko commented on #8191
From now, adding `"airbnb/hooks"` gives me the following error:
[code]

[2022-01-14 12:47] meeroslav commented on #3161
@Bjeaurn can you create a small repo to reproduce this?

It seems that the circular references check is picking all your files. Otherwise, can you specify which version of Nx are you using and briefly describe your scenario?

[2022-01-14 12:52] meeroslav commented on #3161
@rdotg The performance of the eslint plugin has been fixed in version 12.3.4.
You are obviously using a very old version of nx. Please upgrade your version and let us know if the problem is still there.

[2022-01-14 12:52] mandarini commented on #8527
Thank you all for helping out @mbeckenbach ! A [fix](https://github.com/nrwl/nx/pull/8494) will land soon! :)

[2022-01-14 12:54] mandarini commented on #8527
Closing this since it's a duplicate, ok?

[2022-01-14 12:54] #8527 closed

[2022-01-14 12:54] mandarini commented on #8527
I promise to re-open if it persists

[2022-01-14 12:56] mbeckenbach commented on #8527
@mandarini sure, thanks.

[2022-01-14 13:24] yusijs commented on #7651
I tried adding a .prettierignore and, well...

[2022-01-14 13:37] gkamperis commented on #7847
@AgentEnder

The fix for the NPE is easy and I tried it locally and seems to work.

https://github.com/nrwl/nx/blob/dcf835fb9e7616936a934adeae09224dee3eae73/packages/workspace/src/command-line/run-many.ts#L77

change to

`
(n) => !nxArgs.onlyFailed || !env.workspaceResults?.getResult(n.name)
`

However, the rest of the changes on the PR show removal of `--only-failed` functionality and tests acros

[2022-01-14 13:37] meeroslav commented on #869
@fs-innonova can you provide minimal reproduction?

The passing of the `base` should not be necessary and you are correct it should be read from the default configuration. Running the affected command without specifying the base is how it's intended on the local machine.

On the other point, unless you provide `--files` param and let `lint-staged` inject the filenames there, you are using actually

[2022-01-14 13:40] #3161 closed

[2022-01-14 14:00] mburger81 commented on #7651
empty .prettierignore works also for me

[2022-01-14 14:42] humbienri commented on #3390
Thanks @rickvandermeij-aanzee! Did you have to write up your own generators and executors to then be able to leverage some of the "affected" scripts/commands?

[2022-01-14 15:28] rickvandermeij-aanzee commented on #3390
we use a mockserver to connect as our service, so we can easily manage responses.

i cannot dump all of the code (yet) but below should create the affected for any e2e.
set your app as an implicitDependency to target e2e as affected

we do not have written any own generators for now, but maybe thats something what we will add, when it will become too much metadata to set up for.

in our e2e projec

[2022-01-14 15:54] parky128 opened #8534 "'Unable to write a reference...' error when using run-commands builder"
### Discussed in https://github.com/nrwl/nx/discussions/8533

<div type='discussions-op-text'>

<sup>Originally posted by **parky128** January 14, 2022</sup>
I am getting a peculiar error with building a lib that has a dependency on another lib in an Nx workspace. I am using run-commands as there are some other tasks that need to be invoked after the initial library build.

I am seeing 'Unable to

[2022-01-14 16:23] FrozenPandaz commented on #8286
Hey all, I can no longer reproduce this in `nx-examples` with `13.4.4`. Could someone please retry this with the latest version?

[2022-01-14 16:29] FrozenPandaz commented on #8302
Sorry, I can't get enough information here to help with the issue. Please provide a repo that exhibits the issue to help us debug the issue.

[2022-01-14 16:33] #8316 closed

[2022-01-14 16:54] #8385 closed

[2022-01-14 17:06] leosvelperez commented on #7257
I'm closing this.

The default generation of dependencies in `package.json` files works most of the time. For the scenarios where it doesn't work correctly, the current recommendation is to disable it by setting `updateBuildableProjectDepsInPackageJson": false` in the options for the `@nrwl/angular:package` executor and manually set the dependencies for your `package.json`.

[2022-01-14 17:06] #7257 closed

[2022-01-14 17:16] alexd6631 opened #8537 "Build executor: class name minification should be optional when using optimization: true"
## Current Behavior

Since 13.4, when building for production with optimization on, it also minify the class names causing a variety of issues with library depending on reflection.

There are several issues already reported :
- https://github.com/nrwl/nx/issues/8446
- https://github.com/nrwl/nx/issues/8441

## Expected Behavior
When building for production, class name minification should be easily

[2022-01-14 17:33] Deekor commented on #5832
Pretty please.

[2022-01-14 17:35] FrozenPandaz commented on #8309
This is a design decision.

All buildable libraries cannot depend on libraries that are not buildable. That is because these libraries are built incrementally and each library should have it's own build.

There's a lint rule to enforce this as well.

We'll get this documented more clearly.

[2022-01-14 17:35] #8309 closed

[2022-01-14 17:43] wizardnet972 opened #8538 "Storybook TypeError: The 'compilation' argument must be an instance of Compilation on a new project"
## Current Behavior

I just create a new project, install angular and storybook and then I run storybook command `yarn nx run nx-ui:storybook`.

I got an error:

[code]

## Expected Behavior

It should open the storybook dashboard.

## Steps to Reproduce

The clone way:
[code]

OR run those commands:
[code]

### Failure Logs

[code]
### Environment

[code]

[2022-01-14 18:53] FrozenPandaz commented on #8470
You should add the line:

[code]

as part of the first override instead on line 8.

After that, there are legitimate lint failures but you'll have to fix those yourself because we don't abide by the airbnb lint config by default.

[2022-01-14 18:53] #8470 closed

[2022-01-14 18:58] FrozenPandaz commented on #8313
Thanks for trying Nx.

From the picture of the dependency graph, it doesn't seem like you should be having this error especially after clearing the cache and restarting.

Could you please provide a repo that we can use to reproduce the issue?

[2022-01-14 19:00] hcharley commented on #8323
I am experiencing this as well. Testing a Next.JS App fails when importing a Lib that requires class properties transform.

[2022-01-14 19:10] xelaos opened #8540 "MiniCssExtractPlugin is not a constructor"
## Current Behavior
`nx run frontend:serve`
leads to

[code]

## Expected Behavior
serving react application

## Steps to Reproduce
`npx create-nx-workspace test`
select react template
select less as a stylesheet format
`npm run start`

tested this on multiple devices

[2022-01-14 19:11] hevans90 opened #8541 "Migration from 12.9 -> 13.4: MiniCssExtractPlugin is not a constructor"
## Current Behavior
After migrating from 12.9 to 13.4, `nx serves` or `nx builds` of my react application throw the following error:

![image](https://user-images.githubusercontent.com/12142999/149571603-7ac999c5-3b1d-4260-91aa-f748149996b4.png)

## Expected Behavior
Serves/Builds work as usual.

## Steps to Reproduce
Migrate from 12.9 to 13.4 and then serve a react application.

### Failure Logs

[2022-01-14 20:14] FrozenPandaz commented on #8320
Thank you for the reproduction. I have located the source of the issue.

[2022-01-14 20:22] NullVoxPopuli commented on #8320
yay!

[2022-01-14 20:29] barbados-clemens commented on #8286
confirming that I cannot reproduce this on the nx-examples repo either.

[2022-01-14 20:42] JuliusKoronci commented on #8541
I can confirm..even following the basic tutorial doesnt work

[2022-01-14 20:46] xanol commented on #8541
Same here, using a fresh nx 13.4.4 workspace and empty react project.

[2022-01-14 20:58] alexw10 commented on #8286
@FrozenPandaz @barbados-clemens I pulled down latest master and I am still seeing the issue.
![image](https://user-images.githubusercontent.com/9453636/149584141-0a3c31b0-7a00-4d43-bdfe-a59bc23dc379.png)
Basically it runs the cart e2e and then just doesnt move after that it will just stay like this.
Command I ran is `npm run affected:e2e -- --all`

[2022-01-14 21:06] FrozenPandaz commented on #8541
I am actively addressing this issue. This is a duplicate of https://github.com/nrwl/nx/issues/8540 and will be solved by the same PR.

[2022-01-14 21:06] #8541 closed

[2022-01-14 21:11] alexw10 commented on #8286
Oh another note @FrozenPandaz @barbados-clemens  it seems it will work if you run it once and kill it then run it again it will work because it seems it caches it which makes it fully work or something but if you run it with
`npm run affected:e2e -- --skip-nx-cache --all` it will always freeze up...

[2022-01-14 21:36] #8540 closed

[2022-01-14 21:46] FrozenPandaz commented on #8540
I've resolved the issue with `v13.4.5`. :tada:

[2022-01-14 22:05] FrozenPandaz commented on #8315
Let's track this as part of https://github.com/nrwl/nx/issues/2386

Could you please add your information there as well?

[2022-01-14 22:05] #8315 closed

[2022-01-14 22:06] alexw10 commented on #8286
So one of our devs seems to have resolved this issue.
He ran both e2e tests separately at same time and noticed port already in use error.
In angular.json he updated the ports to be different for e2e's running and this seems to have resolved the problem...

Not sure if this is an action item for you guys or not but I guess at a minimum we have a work around

[2022-01-14 22:11] FrozenPandaz commented on #8322
@vsavkin Please take a look.

[2022-01-14 22:27] barbados-clemens commented on #8286
Thanks for the extra info. I'll take a deep look at this here soon.

[2022-01-14 22:32] #8320 closed

[2022-01-14 22:40] FrozenPandaz commented on #8343
Does adding the file to `.nxignore` solve the issue? Changes to the file will be ignored after that.

[2022-01-14 22:52] FrozenPandaz commented on #8355
@juristr Could you take a look at this?

[2022-01-14 22:54] FrozenPandaz commented on #8358
This is already implemented via https://nx.dev/angular/library#skipmodule. :smile:

[2022-01-14 22:54] #8358 closed

[2022-01-14 22:59] FrozenPandaz commented on #8371
There's nothing stopping you from using Nx for publishable widgets but we don't have any easy way to get started doing so. You'll likely need to change how you do your build.

I don't think a github issue is going to be the best way to help you here. If you join the [community slack](https://go.nrwl.io/join-slack), you would get more help.

[2022-01-14 22:59] #8371 closed

[2022-01-14 23:05] FrozenPandaz commented on #8381
I'm pretty sure this was addressed by `angular-eslint`. Can you please retry with the latest version?

[2022-01-14 23:19] barbados-clemens commented on #5697
Hi all,
I looked more into this solution and it's quite puzzling.

What I've concluded is that the jest ESM support is part of the issue here.
creating this example in a plain TS workspace still produces the same error.

Some options in things to try that I'm still working through.

1. trying to mock `import.meta` I think you will still run into an issue as it probably isn't mockable
2. using karm

[2022-01-14 23:28] #7436 closed

[2022-01-14 23:43] #8336 closed

[2022-01-14 23:49] FrozenPandaz commented on #8398
Sorry, could you please provide a repo that we can use the reproduce and debug the issue?

[2022-01-14 23:51] #8382 closed

[2022-01-15 00:09] FrozenPandaz commented on #8413
It's supposed to be a way to run jest for nx project's using a single `jest` sub process while keeping the cacheability for each project. We're still working on this functionality though so it's not exposed yet.

[2022-01-15 00:09] #8413 closed

[2022-01-15 00:14] FrozenPandaz commented on #8447
Hi this is due to name of the library. Could you run the following instead?

[code]

[2022-01-15 00:14] #8447 closed

[2022-01-15 00:15] FrozenPandaz commented on #8478
@leosvelperez was this fixed?

[2022-01-15 00:18] FrozenPandaz commented on #8501
Hi, could you please try migrating to `12.10.0` first before migrating to `13.x`?

Also, could you provide a repo that we could pull down and reproduce the issue?

[2022-01-15 00:19] FrozenPandaz commented on #8503
Could you provide a repo that we could pull to reproduce and debug the issue please?

[2022-01-15 00:23] FrozenPandaz commented on #8504
Could you provide a repo that we could pull to reproduce and debug the issue please?

[2022-01-15 00:37] FrozenPandaz commented on #8524
Hey, we by no means want to bring in any node_modules that we don't have to. Let's work on fixing this.

For parcel and jest, we depend on pieces of them, not the whole thing.

Where are you seeing them brought in? Could you please provide more information like you provided for `eslint` please?

Unfortunately, `typescript` is tightly integrated for the code analysis that Nx does so I'm not sure if

[2022-01-15 00:40] FrozenPandaz commented on #8528
Duplicate of https://github.com/nrwl/nx/issues/8252 which has been fixed.

Yes, please remove the `"style": "scss"` from `nx.json`. There will be a migration for this.

[2022-01-15 00:40] #8528 closed

[2022-01-15 02:27] admmasters opened #8553 "First class fail fast option"
## Description
Really enjoying getting to know this tool - combining a NextJS(Typescript) codebase. I'm wondering if its possible for this tool to consider a universal `failFast` option which executors can conform to -an abstraction around controlling plugins such as [this](https://github.com/javierbrea/cypress-fail-fast).

## Motivation
FastFail as a high level concept is valuable to many develop

[2022-01-15 05:21] cdaringe commented on #8343
Surely I considered this at the time, but I cannot recall why I found it unsatisfactory. Until I can answer this question, I will close and assume nxignore as adequate

[2022-01-15 05:21] #8343 closed

[2022-01-15 09:34] hadrien-toma commented on #8264
The issue is fixed with the following Nx report:

[code]

[2022-01-15 09:34] #8264 closed

[2022-01-15 09:38] johnhwhite commented on #8395
I was able to fix this issue by running `rm -rf ./dist` and rerunning `nx build`.

[2022-01-15 09:50] vrady opened #8554 "Storybook is not running after compodoc added"
## Current Behavior
After adding compodoc for the library and setup it in preview.js, storybook fails on start.

Its not fails when you do this step by step from scratch, but when you delete `package-lock.json` and `node_modules` and then reinstall it, Storybook fails with errors below. Or pull this repo on another machine and try to start Storybook after `npm install`

Seems like storybook depend

[2022-01-15 09:52] hudzenko commented on #8554
Happens for me as well!

[2022-01-15 09:53] mandarini commented on #8115
Hello all! Closing this for now. If it comes up again, please reopen. But make sure you have the latest versions of Storybook/Nx! <3

[2022-01-15 09:53] #8115 closed

[2022-01-15 09:58] mandarini commented on #7165
Hi there @maxisam ! Can you please let me know if this issue still exists? If yes, can you please provide a reproduction repository? Also, do you think that this could be something you could help with? I mean, help us throw an error message, like you suggested?

Thank you! :)

[2022-01-15 09:59] mandarini commented on #7159
Could be potentially solved by https://github.com/nrwl/nx/pull/8494

[2022-01-15 10:11] mandarini commented on #3953
Hi there @youngha-sung ! Thanks for asking! This feature is not in our roadmap, at the moment, unfortunately :(. We are, however, accepting contributions from the community. If you think that this could be a useful feature, let me know if you would like to give this a shot, and I can help explain the Nx contributing process! :)

[2022-01-15 12:49] shaharkazaz commented on #7257
@leosvelperez seems kind of odd to me that the fix is to disable the feature and manually resolve the dependencies instead of fixing the bug in this feature 🤷

[2022-01-15 17:14] smasala commented on #2794
For the record: this error will still appear under windows if you are referencing code that hasn't been built into the `dist` folder correctly. For example referencing lib level generated code like a prisma client which isn't automatically copied to the dist folder will cause this somewhat unhelpful error.

[2022-01-15 19:52] moniuch opened #8557 "convert-tslint-to-eslint doesn't ignore tslint when asked to"
## Current Behavior

![image 2022-01-15 20-42-23](https://user-images.githubusercontent.com/681956/149635676-716ff378-4c3c-4d6e-90c8-81555685e527.png)

## Steps to Reproduce

after `ng add @nrwl/workspace`  my app was wrapped in `apps` folder
old tslint.json remained at the root folder
when trying to convert `npx nx g convert-tslint-to-eslint` nx complained about tslint not found at `apps/my-app`,

[2022-01-15 21:00] moniuch commented on #3380
Thanks, this saved me from going nuts!

[2022-01-15 21:12] moniuch commented on #7223
I renamed `tsconfig.base.json` to `tsconfig.json` - which immediately fixed custom paths issue, and all was fine until I ran `nx g lib my-lib` - then schematics complained about missing `tsconfig.base.json`

[2022-01-16 00:14] #8150 closed

[2022-01-16 00:14] #6203 closed

[2022-01-16 00:14] #5984 closed

[2022-01-16 00:14] #5387 closed

[2022-01-16 00:14] #5364 closed

[2022-01-16 08:48] rfprod commented on #8538
@mandarini  Seems like it's the webpack versions conflict. I've had the same issue during project dependencies update, and have just solved it.

Check this PR https://github.com/rfprod/nx-ng-starter/pull/357/files
I have updated all project dependencies to [the latest versions](https://github.com/rfprod/nx-ng-starter/pull/357/files#diff-7ae45ad102eab3b6d7e7896acd08c427a9b25b346470d7bc6507b6481575d

[2022-01-16 09:38] AbdUlHamedMaree opened #8558 "`package.json` in build result of buildable library using `@nrwl/workspace:library` contains `main` property refrencing module ES files."
I'm using NX to organize and publish a set of libraries, I've created a buildable library by the following command `nx generate @nrwl/workspace:library --buildable`

## Current Behavior

The library contains module ES files, after building the library, the `package.json` in the build result of the library contains `main` property referencing on the module ES files, so when I try to publish it or u

[2022-01-16 12:11] nzpopa commented on #8403
I fixed it by adding `NODE_ENV`, eg: `NODE_ENV=production yarn nx run shared-lib:build-storybook`

[2022-01-16 18:03] alexzuza commented on #8534
https://stackoverflow.com/questions/70078697/nx-unable-to-write-a-reference-error-when-using-run-commands-builder/70732735#answer-70732735

[2022-01-16 20:34] bilalshaikh42 commented on #8537
We are also running into this issue. I am not sure what optimization does other than minify class names/variables. But if there are other features, it would be useful to be able to have optimized builds while not breaking the reflection due to changes in the class names.
This is needed for a whole bunch of things in NestJs including OpenApi generation, class validation, database validation, input

[2022-01-16 20:36] bilalshaikh42 commented on #8507
I wonder if this is related to #8537.

[2022-01-16 23:00] hadrien-toma commented on #6712
🥴

[2022-01-16 23:12] developer239 commented on #5084
@nhaancs Guys running customized or additional migration scripts is not a solution.

[2022-01-17 03:53] luxaritas opened #8559 "Document new external generators feature of create-nx-workspace"
In #8084, new functionality was introduced allowing for create-nx-workspace to be passed an npm package containing a generator named preset which can be used to create the workspace. This capability is currently not shown in either the CLI itself (ie, with the `--help` flag) or in the documentation proper (either from a preset user's side or a preset creator's side). If I hadn't checked the releas

[2022-01-17 07:41] raviSussol commented on #3119
Hi, how to set proxy config for a production build react app? For a dev environment (serving) config works but for a production build - not working.

I've set proxy config something like below:
[code]
and in dev:
[code]

[2022-01-17 07:50] sauldeleon commented on #8508
this is awesome! cant wait for this! Thanks!

[2022-01-17 08:02] robbievandam commented on #8313
I'd have to set up a new project for that and hope the error pops-up again. But then again I doubt others would then experience it as the error would disappear for me when re-installing the node packages, which would be the same for others installing it for the first time.

I'll see if I can find some time somewhere to try this out, but I've honestly just started to ignore it, as now I know it's n

[2022-01-17 08:25] mackelito commented on #8358
Oh.. I see, so it is just not implemented in the vs code console plugin..

[2022-01-17 08:34] alexd6631 commented on #8537
I investigated a bit, it seems a possible quick fix would be to configure TerserPlugin to not mangle names in node.config.ts

[code]

I can make a PR of the quick fix if necessary, but Nx core dev team might want to expose the terserOptions in the build settings (so some users can still mangle the names and customize minification for production) so it would be more involved than this.

[2022-01-17 09:11] daniel-zero opened #8561 "Storybook compile errors"
## Current Behavior

I added Storybook to an new created nx-workspace containing a angular app and shared library. When I execute Storybook the following error will be displayed in the console

[code]

## Expected Behavior

Storybook should work out of th box for new nx workspaces without further adjustments.

## Steps to Reproduce

1. create a empty workspace
2. add a angular app
3. add a angular

[2022-01-17 09:13] mandarini commented on #8554
Hi there @vrady !

I could get it to run without errors after I added the `projectBuildConfig` option to the `build-storybook` target.
I see you have set the `projectBuildConfig` option on the `storybook` target. If you set it on the `build-storybook` target as well, it should run.

In your `libs/ui/project.json`
[code]

Let me know please if that fixes your issue. We also have a [PR](https://gith

[2022-01-17 09:25] mandarini commented on #6573
Hi @macieklad ! Is this still an issue? If yes, can you please send me the reproduction repo again (above link does not work) to test this out more thoroughly?

[2022-01-17 09:27] jbjhjm commented on #902
@david-j-davis I'm not sure what limitation you are talking about exactly.
I'm not aware of any major issues atm, provided you are specifying all paths within tsconfig.base.json.
I agree that it would be cool to be able to add additional paths or even override them per app.
But that's something that is not supported by typescript devs.
And I don't feel like nrwl should invest the time needed to im

[2022-01-17 09:44] mandarini commented on #8561
Hi there @daniel-zero ! Thanks for filing an issue! This is a duplicate issue, so I'll close it for now. A [PR](https://github.com/nrwl/nx/pull/8494) is on the way.

In the meantime, please follow [this suggestion](https://github.com/nrwl/nx/issues/8199#issuecomment-998014436)

Related/duplicated issues:
https://github.com/nrwl/nx/issues/8199
https://github.com/nrwl/nx/issues/7992
https://github.c

[2022-01-17 09:44] #8561 closed

[2022-01-17 09:58] DOZBORNE commented on #7468
I definitely need this implementation as well. I can't seem to get my libs to identify tailwind. I've tried following the @danr-za s tutorial and it was somewhat helpful, but I haven't been able to crack the code to make it work. So I'm kind of stuck for now :/. https://blog.nrwl.io/setup-next-js-to-use-tailwind-with-nx-849b7e21d8d0

I'm also tried making my own custom webpack config, but wasn't s

[2022-01-17 10:02] mandarini commented on #8538
Hi there @wizardnet972 ! Thanks for filing an issue, I can reproduce this :)

@rfprod thanks for providing a fix so quickly!! I can verify that adding

[code]

on my `package.json` fixes the issue! @wizardnet972 can you try that?

I'll make sure to push a fix for that! :)

[2022-01-17 10:14] parky128 commented on #8534
Thanks @alexzuza for your input, I have looked over your suggestions, which has help me resolve the problem in my real world project.

[2022-01-17 10:22] Coly010 commented on #6450
Thanks for creating this issue and feature request!
It has been noted and recorded as a possible enhancement but for now it is not on our roadmap to achieve.

I'm going to close this issue as it has been sitting for a while. If we ever revisit this, I'll repoen it then :)

Again, thank you for the suggestion!

[2022-01-17 10:22] #6450 closed

[2022-01-17 10:22] #7444 closed

[2022-01-17 10:25] Coly010 commented on #7451
Hi, thank you for the suggestion!

I've noted down this issue as a possible improvement to our executor. For now, we'll be focusing on other impact areas of the Angular Plugin, however, if we revisit this I'll reopen the issue.

Thanks again for bringing this to our attention!

[2022-01-17 10:25] #7451 closed

[2022-01-17 10:28] Coly010 commented on #5324
As @leosvelperez previously mentioned, this is something that we are aware of and we're continuing to work on to achieve better performance from.

As we have this listed on our internal roadmap, I'm going to close this issue for now.

If we make any further progress on this, we will update this issue with the latest information.

Thanks everyone for the suggestions and for bringing this to our att

[2022-01-17 10:28] #5324 closed

[2022-01-17 10:29] Coly010 commented on #7612
Essentially a duplicate of https://github.com/nrwl/nx/issues/7451

Closing so that we can track in one place.

[2022-01-17 10:29] #7612 closed

[2022-01-17 10:34] Coly010 commented on #5365
Thank you very much for pointing this out.

We are making a new pass of our docs to ensure their quality and improve the information that is available on them.

This does seem to be an issue coming from Angular, so I've made note that we should add a warning in our docs about this and I'll close this issue for now.

Thank you again.

[2022-01-17 10:34] #5365 closed

[2022-01-17 10:36] Coly010 commented on #7388
This has been sitting for a while with no update. I'm going to close this issue, and if any new information comes along that pushes this in the direction of a required feature, we can reopen it.

[2022-01-17 10:36] #7388 closed

[2022-01-17 10:38] Coly010 commented on #5123
There has been no update on this for a while.
Thanks for raising it to our attention and it is something we'll consider when we try to improve our docs and examples.

I'll close this issue for now.

[2022-01-17 10:38] #5123 closed

[2022-01-17 10:38] mandarini commented on #8538
Oh, wait, I think just setting the `projectBuildConfig` flag fixes the error. Can you please verify @wizardnet972 @rfprod ?

[2022-01-17 10:40] rfprod commented on #8538
@mandarini regarding my solution, maybe I should have mentioned that the webpack version should match the webpack version used by angular-devkit, i.e. this resolution may need to be updated according to the webpack version used by angular-devkit.

If you plan to add this resolution to nrwl libs, won't it lead to worse consequences in future during updates?
Or do you plan to add this resolution to

[2022-01-17 10:41] Coly010 commented on #5259
@JamesHenry Is this still an issue after the Angular 13 upgrade?

[2022-01-17 10:42] mandarini commented on #8538
Yes, running
[code]
fixes the issue!

This is on a new Nx workspace, following the exact steps that @wizardnet972 suggested. I assume that in new workspaces, the versions will match.

[2022-01-17 10:46] Coly010 commented on #8033
Hi, thanks for the issue!

If you're up for it, feel free to open a PR that adds this to the docs 🙂

After looking over our docs however, our guide on using `DataPersistence` is showing examples of the `operator` only, and not a service.

This issue may have been caused by lack of documentation at the time operators were preferred, but moving forward, having docs on the usage of the service may be

[2022-01-17 10:46] #8033 closed

[2022-01-17 10:51] Coly010 commented on #7809
We have a flag `--simpleModuleName` which should aid you in removing the `shared-` prefix.
We also have a flag `--importPath` that should be used with publishable libraries to define a valid npm package name, allowing you to remove shared from the package name.
Finally, we have a `--prefix` flag that lets you define the prefix for the selectors for Components, Pipes, Directives etc of the library.

[2022-01-17 10:51] #7809 closed

[2022-01-17 11:48] Coly010 commented on #8059
I cannot reproduce.
Can you try again with latest?

[2022-01-17 11:54] Coly010 commented on #7901
It looks like a workaround has been found on the Cypress Issue thread:
https://github.com/cypress-io/cypress/issues/19066#issuecomment-1012055705

[2022-01-17 12:10] ChazUK commented on #7451
:(

[2022-01-17 12:31] #7901 closed

[2022-01-17 12:53] morrisjdev commented on #8059
The issue still persists.

Also no changes in rule code were made since reporting the issue:
https://github.com/nrwl/nx/commits/13.4.5/packages/eslint-plugin-nx/src/rules/enforce-module-boundaries.ts

This piece of code (excerpt of https://github.com/nrwl/nx/blob/13.4.5/packages/eslint-plugin-nx/src/rules/enforce-module-boundaries.ts) is not sufficient to test, if an absolute import from the same

[2022-01-17 12:54] mandarini commented on #8538
@rfprod  but it gets fixed when you do your solution? aligning the webpack versions etc?

[2022-01-17 12:57] Coly010 commented on #8165
I cannot reproduce with latest Nx. I'm getting correct error.

Thanks for raising this! I'll close the issue for now :)

[2022-01-17 12:57] #8165 closed

[2022-01-17 12:57] rfprod commented on #8538
@mandarini yep, it does. The premerge pipelines validates each code change, and it does storybook test build.

[2022-01-17 12:58] Coly010 commented on #8369
Duplicate of https://github.com/nrwl/nx/issues/5324

[2022-01-17 12:58] #8369 closed

[2022-01-17 13:02] Coly010 commented on #8059
Is there a repo using the latest version of Nx that contains a reproduction of this issue that I can use?

[2022-01-17 13:03] Lonli-Lokli opened #8562 "--prod modifier breaks dependsOn targets"
## Current Behavior
I have special target for running before build/serve, it works fine for non-prod builds but fails with --prod in Nx workspace.

## Expected Behavior
Build modifiers should not break

## Steps to Reproduce
[code]

This command works
`npx nx build recon`

this command does not work
`npx nx build recon --prod`

### Failure Logs
**>  NX   ERROR  Cannot find configuration 'productio

[2022-01-17 13:33] morrisjdev commented on #8059
I updated the PR in nx-examples.

https://github.com/nrwl/nx-examples/pull/179/

[2022-01-17 14:13] Coly010 commented on #8217
@jeffschulzusc It looks like you linked the doc for the `generate` command.

I guess there might be some confusion between the flags accepted by `generate` command itself and the flags accepted by each possible generator we support via our plugins.

If you look at the menu on the docs site, there are links to the docs for each generator itself which should list the supported flags for each specifi

[2022-01-17 14:13] #8217 closed

[2022-01-17 14:15] craigbroadman commented on #8111
Thanks @wrightomated, I will take a look at this option

[2022-01-17 14:15] Coly010 commented on #7844
Based on my previous response (https://github.com/nrwl/nx/issues/7844#issuecomment-1008697709), I'm going to close this issue.

The workaround listed here https://github.com/nrwl/nx/issues/7844#issuecomment-1008604688 should be valid.

[2022-01-17 14:15] #7844 closed

[2022-01-17 14:18] sigginjals commented on #5561
What is the status here? Do we have an ETA?

[2022-01-17 14:30] the-ult opened #8565 "Parallel builds in gitlab fails with ERR_STREAM_NULL_VALUES"
## Current Behavior
A parallel build (`run-many`) fails in gitlab-ci with:
[code]

## Steps to Reproduce
_Seems to be an issue since NX 13.4.4_

In our `gitlab-ci`
[code]

`nx.json`
[code]

### Failure Logs
[code]

### Environment
[code]

[2022-01-17 14:42] kpaxton opened #8566 "Migration to 13.4.4 fails if using a custom jest.preset.ts that removes transforms from jest.config.js"
## Current Behavior
When I try to update to 13.4.5 from 13.4.3 it tries to run a single migration to convert transforms to use `babel-jest`.
I get this error:
[code]

It seems that the migration script is not handling the case where `transforms` does not exist in the `jest.config.js` due to a custom preset extracting it.

## Expected Behavior
Expect the migration to complete successfully even if t

[2022-01-17 14:43] Tbhesswebber commented on #3920
@philipjfulcher - Is there any NX documentation on configuring tree shaking that you could link to for those of us that stumble upon this issue after the fact? Ideally, something that talks about solutions for various scenarios?