[2019-11-22 17:07] AdamVig commented on #2084
With the approach used in #1964, SVG files would be converted into JavaScript/TypeScript files that export standard React components. This is a mental shift: the SVG files would no longer be "assets" in the normal sense, but would instead be part of the application just like any other React components.

The library would only be exporting JavaScript/TypeScript files, so applications consuming the

[2019-11-22 17:13] stramel commented on #2084
Alright, so in this setup the application wouldn't be handling the SVG files directly anymore, correct?

[2019-11-22 17:14] AdamVig commented on #2084
Correct, at least based on #1964 and [the SVGR docs](https://www.smooth-code.com/open-source/svgr/docs/getting-started/).

[2019-11-22 17:15] stramel commented on #2084
Thank you for the explanation. I will close this in hopes that #1964 gets merged soon.

[2019-11-22 17:20] AdamVig commented on #2088
You should be able to work around this by setting the `--maxParallel` flag to a high number, for example:
[code]
The default value for `--maxParallel` is three, meaning that it runs tasks in batches of three by default. Since the "serve" target never exits, the `run-many` command never made it to the second batch of tasks.

To avoid further confusion about this situation, there could be a warning

[2019-11-22 17:22] AdamVig commented on #2087
Try using the `--prod` flag, for example:
[code]

[2019-11-22 18:35] mbriggs commented on #2092
Thank you for the report! We will get this fixed asap

[2019-11-22 18:43] mbriggs commented on #2088
This is actually a use-case for run-many we didn't consider :) @AdamVig  a warning is a good idea, probably not something we are going to do right now, but we would likely accept a PR for it

[2019-11-22 18:43] #2088 closed

[2019-11-22 18:45] mbriggs commented on #2087
@AdamVig is correct, --prod should give you minified build artifacts. If it doesn't, feel free to reopen this issue :)

[2019-11-22 18:45] #2087 closed

[2019-11-22 18:47] mbriggs commented on #2086
Thank you for your report, it is something that is on our radar and will be fixed soon :)

[2019-11-22 18:49] mbriggs commented on #2085
Thank you for your report, we will fix this soon :)

[2019-11-22 18:52] mbriggs commented on #2081
Thank you for your report :) We will fix the schematic soon

[2019-11-22 18:54] mbriggs commented on #2080
Thank you for the bug report, we'll look into it :)

[2019-11-22 19:31] jaysoo commented on #2080
Hi @jpreecedev, you need to serve both api and client apps.

[code]

We don't start both with `nx serve` or `yarn start` currently, but we can do that in a future release.

Let me know if this workaround fixes your issue.

[2019-11-22 20:27] geebru commented on #2093
As a note - the Docs addon gets update almost every 24 hours so I'd be a bit cautious to adding it until it hits at least a single major release. I agree it's really nice though :)

[2019-11-22 20:30] geebru commented on #2090
Related to your errors (`ERROR! libs/webui/src/lib/button/button.component.stories.ts already exists.
The Schematic workflow failed. See above.`) - I wish this wasn't considered an error. When I was toying with this, I ran stories first which gave me a great collection of stories. I updated them, then wanted to run the configuration to create the .storybook/e2e files as well - but it errors becaus

[2019-11-22 20:47] mbriggs commented on #2093
Thank you for your suggestion :) We are somewhat hesitant about adding addons by default (beyond knobs), simply because they are almost by definition things that not everyone will use. That being said, something we will do is add some documentation on how to  update the configuration for a library or a whole repo to make it easier for people to add them themselves.

[2019-11-22 20:47] #2093 closed

[2019-11-22 20:49] mbriggs commented on #2090
Thank you for the report :) This is definitely something we will be looking into making easier

[2019-11-22 20:50] mbriggs commented on #2065
Good idea :)

[2019-11-22 21:03] mbriggs commented on #2069
Hi :)

I tried to reproduce, and got this on node 13.1 / osx / nx 8.8.1

[code]

Which is working fine for me, and obviously not what you are getting. I would suggest maybe checking node version, that bad argument is a bit suspicious to me.  Beyond that, there is not much I can do, unless you are able to give us steps that will reproduce the issue on our environment. Sorry we can't be more helpful

[2019-11-22 21:08] mbriggs commented on #2070
Hi!

The way workspace schematics are run are as follows `yarn workspace-schematic demo-schematic hello`. Just tried that out, and works for me on 8.8.1 :)

Going to close this, feel free to re-open if it doesn't work for you

[2019-11-22 21:08] #2070 closed

[2019-11-22 21:17] mbriggs commented on #2072
Hey,

We are currently on 8.8.1, somewhere since 8.7.1, those versions have been changed. I looked at a version of the code from 8.7.1 and it matches what you have. https://github.com/nrwl/nx/blob/148a8c89e301288bbe78adbbad99a3ccae53e7f0/packages/workspace/package.json

Going to close this, if you have more questions, feel free to reopen : )

[2019-11-22 21:17] #2072 closed

[2019-11-23 00:46] vsavkin commented on #2092
Fixed it in 8.8.1:
https://github.com/nrwl/nx/commit/11b92d0b9f4ca19ad6952188e99776daeb5a3c0b

Thank you for reporting the issue.

[2019-11-23 00:46] #2092 closed

[2019-11-23 00:53] vsavkin commented on #2085
We had an issue with the migrate in 8.7.1. We fixed it, but because of the way migrations work, you will have update `@nrwl/workspace` first.

1. Update @nrwl/workspace to 8.8.1 using yarn or npm
2. Run nx migrate `@nrwl/workspace@8.8.2 --from="@nrwl/workspace@8.7.1"`

Thank you for reporting the issue!

[2019-11-23 00:53] #2085 closed

[2019-11-23 01:31] AppleGamer22 commented on #2047
I got the same problem after updating to any version greater than 8.7.0. At the meantime, I would use version 8.7.0 until a fix is available.

[2019-11-23 03:30] tyankatsu0105 commented on #2093
Thank you for the reply :)

Yes. I think so too. I agree with your opinion.

It's cool! If that will be realized, I'm very happy!

[2019-11-23 05:57] demisx commented on #1661
I’m surprised how little info there is on structuring a backend API project in Nx. I see many questions which go unanswered. The examples are very trivial at best. This is very frustrating.

[2019-11-23 07:23] iangregsondev commented on #1477
@vsavkin it would be really nice to be able to pass in a --npmScope when creating libraries / apps etc etc

My project is growing :-)

and right now if I have a library in both the UI and the Server that is named the same - there would be a conflict

Of course, its easy to update it manually but would be great to allow the passing of this via the CLI and when using Angular Console.

[2019-11-23 07:41] jaripekkala commented on #2085
Thank you guys for fixing this so fast :)

There was some errors thrown when following the instructions. However updating `@nrwl/workspace` to `8.8.2` instead of `8.8.1` beforehand did the trick and the migration succeed.

[2019-11-23 10:08] AppleGamer22 commented on #2047
@mlc-mlapis's suggestion of installing the latest `webpack-dev-server@3.9.0` seem to allow the angular app to run. It seems odd for `@nrwl/node` to use `webpack-dev-server@3.1.14` because it is a much older version of the package. Therefore, I think `@nrwl/node@8.8.2` should use the latest `webpack-dev-server@3.9.0`.

[2019-11-23 14:26] jpreecedev commented on #2080
Thanks, works fine.  For me it was `yarn start api` rather than `yarn serve api`.  A nice feature would be to get the CLI to output some basic instructions on what commands to run.

Appreciate the help!

[2019-11-23 14:26] #2080 closed

[2019-11-23 17:18] NachoVazquez commented on #1511
It may be possible to make `jsx` optional for React projects.
I'm trying to introduce Nx in my company, where the only requirement I got was the use of `jsx` instead of `tsx`.

Thanks for this amazing tool BTW!

[2019-11-23 20:05] #1941 closed

[2019-11-23 21:44] timoklingenhoefer commented on #2088
@AdamVig thanks for the tip
my use-case is running multiple nest services. And I didn`t like the method I used before ([here](https://github.com/nrwl/nx/issues/1482#issuecomment-503781077)) and when i saw the addition of run-many I had to try it

[2019-11-23 22:58] bennymeg commented on #1975
Hi,
quick update,

I have implemented schematics for electron applications in a package named [Nx Electron](https://github.com/bennymeg/nx-electron).
I would love to hear everybody's opinions.

Benny.

[2019-11-24 03:16] arslan2012 commented on #2069
Ok, you are right, that bad argument is caused by me not enabling V8 inspector for node.
After recompiling node with V8 inspector, it started working normally.

But I would still argue that, using V8 inspector should be optional, isn't it?
If not, the warning should be better IMO.

[2019-11-24 03:16] #2069 closed

[2019-11-24 09:37] nadavsinai commented on #2059
I get very similar behaviour, just trying to create my 1st workspace
[code]
I'm runing node 10.15.0 with npm 6.13.1
Windows 10 x64
command line run : `npx create-nx-workspace@latest algotec-web-workspace`
answered 'empty' and 'Angular CLI" to the prompts

I tried to install @nrwl/workspace globally first (using npm i -g) and then it worked.
I guess you forgot to add this to the dependencies

[2019-11-24 14:15] joelmuskwe commented on #2070
Thanks it's working guess will move this issue to angular-console cause was using it when i got the error.

[2019-11-25 08:09] arslan2012 opened #2096 "nest backend not bundling vendor"
## Expected Behavior

after running ```ng build api --prod```
main.js in dist/apps/api should work anywhere

## Current Behavior

copying dist/apps/api onto any other location without the node_modules folder
results in an error

[code]

### Steps to Reproduce
<details>
  <summary>create command</summary>

[code]
</details>

after running ```ng build api --prod``` i rsync the dist/apps/api folder o

[2019-11-25 09:04] jbjhjm commented on #2072
Thanks @mbriggs !

[2019-11-25 12:47] yohancourbe opened #2097 "Docs: typo in "Getting Started" command"
https://nx.dev/angular/getting-started/getting-started#creating-an-application

the command says

`ng g @nrwl/angular:application myapp`

which I think should be

`nx g @nrwl/angular:application myapp`

[2019-11-25 14:46] brandonroberts commented on #2097
For a primarily Angular workspace, using the `ng` command is recommended.

[2019-11-25 14:46] #2097 closed

[2019-11-25 15:44] dopsonbr commented on #2056
An option to save it as an html file would also be nice. I would like to include it in my compodoc generated documentation. Right now I have a build step that starts the server, curls it, and writes the output to file.
package.json
[code]
yarn run-p --race affected:dep-graph scrape-dep-graph

[2019-11-25 16:18] vokeit-gschuster opened #2099 "@nrwl/web: Failes to compile due to invalid SASS options"
- [ ] I am running the latest version
- [x] I checked the documentation and found no answer
- [x] I checked to make sure that this issue has not already been filed
- [x] I'm reporting the issue to the correct repository (not related to Angular, AngularCLI or any dependency)

## Expected Behavior

The test app should serve / build.

## Current Behavior

Serving fails due to an invalid builder confi

[2019-11-25 16:23] #2047 closed

[2019-11-25 16:23] #2081 closed

[2019-11-25 18:54] isaacplmann commented on #2060
You're missing an `options` key in your builder definition.

[code]

See [this recipe] for a step by step walk through.

[2019-11-25 20:40] demisx commented on #754
Just to clarify, the `runInBand` option needs to be set in `angular.json`:

[code]

[2019-11-25 21:30] stckcrsh opened #2101 "Angular Storybook doesnt load scss"
_[Please make sure you have read the submission guidelines before posting an issue](https://github.com/nrwl/nx/blob/master/CONTRIBUTING.md#-submitting-issue)_

# Prerequisites

Please answer the following questions for yourself before submitting an issue.
**YOU MAY DELETE THE PREREQUISITES SECTION.**

- [✔️] I am running the latest version
- [✔️] I checked the documentation and found no answer
- [

[2019-11-25 22:56] dopsonbr opened #2102 "Workspace version of Prettier is not respected, causing nullish coalescing operator to fail"
## Expected Behavior
Format command should not fail when it encounters a file with the nullish coalescing operator.
Prettier support for the operator was introduced in version [1.19.1](https://github.com/prettier/prettier/pull/6657)

## Current Behavior

The nx format command fails when it encounters a file containing a `??` (nullish coalescing operator).

## Failure Information (for bugs)

Please

[2019-11-25 23:29] gperdomor commented on #2081
@brandonroberts @jaysoo I just run `create-nx-workspace` with `angular-nest` preset and the issue is still present in the created project... Please reopen this issue

[2019-11-25 23:53] bradtaniguchi commented on #2081
I'm still seeing the error after re-installing the lib a couple of times.

The package.json was updated in the PR that closes this issue, but I noticed this locally after installing 8.8.2:
[code]
The lib with @nrwl/node 8.8.2 is still pointing to the old one. I have no idea how to fix that, but that can't be right :smile:

[2019-11-26 00:13] JoA-MoS opened #2103 "Cypress e2e JavaScript heap out of memory (transpileOnly)"
## Expected Behavior
While running e2e test I should not receive a JavaScript heap out of memory error

## Current Behavior

While running e2e testing on test 23 of 26 I receive the following message.

[code]

## Failure Information (for bugs)

[code]

### Steps to Reproduce

Please provide detailed steps for reproducing the issue.

1. Make sure you are on 8.8.2 of @nrwl
2. Add many tests (not sur

[2019-11-26 00:30] brandonroberts commented on #2081
The fix has landed in master and will go out with the next release

[2019-11-26 08:10] AkshayCloudAnalogy commented on #2087
@AdamVig @mbriggs
It is working with the app but not for publishable react library using `nx g lib test-lib --publishable` as there is no production script for that in workspace.json

[2019-11-26 12:13] yohancourbe commented on #2097
@brandonroberts ng command will want an angular.json file to work, but if you create a workspace a chose nx-cli there won't be any, and the docs doesn't say you have to chose angular-cli. As a total newbie with NX, I found it confusing.

[2019-11-26 13:42] DominikPieper commented on #1487
Any news on this?

[2019-11-26 16:19] stckcrsh commented on #2101
I found that if I just delete the webpack.config.js it starts to work so I think there is an issue with the we pack config or its just not needed

[2019-11-26 20:02] jaysoo commented on #1411
I don't think we need to add `core-js` as a dependency for the generated workspace. The package that needs core-js should define it as its dependency instead of relying on it being in `peerDependencies`... this is especially true when project update `core-js@2` to `core-js@3` (which contain breaking changes).

I'll take a look to see if we can remove it outright. There is a related issue here #208

[2019-11-26 23:26] stramel commented on #2051
@brandonroberts Would you prefer to unblock this that I throw together an entire repository that runs into this issue?

[2019-11-27 03:06] AryanJ-NYC opened #2106 "Update Next to latest stable"
## Expected Behavior
I should be able to upgrade the `next` dependency to the latest version.

## Current Behavior
I get an error when trying to run a `nrwl` repository with `next@9.1.4`.

## Failure Information (for bugs)
[code]

### Steps to Reproduce

Please provide detailed steps for reproducing the issue.

1. Clone https://github.com/AryanJ-NYC/cannot-upgrade-next-with-nrwl
2. Run `yarn insta

[2019-11-27 03:27] brandonroberts commented on #2051
@stramel I think the repro by @vincaslt is enough unless you have more information about the issue. Thanks

[2019-11-27 03:54] #2096 closed

[2019-11-27 03:56] arslan2012 commented on #2096
Close because I found out this is nestjs issue.

[2019-11-27 05:46] wyers commented on #2076
i found it passes when i place a tailing slash after the wildcard

[2019-11-27 08:10] boyanio opened #2107 "extractLicenses causes error for Node.js builder"
## Current Behavior

I have an express.js application using the latest (8.8.2) Nx with `@nrwl/node:build`. When in production I set `extractLicenses` to `true`, I get the following error:

[code]

## Expected Behavior

I don't get an error

[2019-11-27 14:48] isaacplmann commented on #2057
If you give `nx print-affected` a target, it will list out the correct tasks in the `tasks` array.

`nx print-affected --target=lint`

I'm not sure what the intended behavior is, but this should get the information you want.

[2019-11-27 15:48] vadjs opened #2108 "affected:build --parallel fails in Angular Ivy first build"
## Expected Behavior

`nx affected:build --parallel` in Angular project with Ivy enabled should have success result when building first time.

## Current Behavior

Build fails with error: `ERROR in Tried to overwrite /home/master/work/vtbf/node_modules/@angular/core/core.d.ts.__ivy_ngcc_bak with an ngcc back up file, which is disallowed.`

## Failure Information (for bugs)

When you run `nx affect

[2019-11-27 16:15] jaysoo commented on #2086
@royling This will be patched in the upcoming release. And yes, you can force `core-js` to be version 3 in your `package.json` for now. With the patch it wouldn't matter which `core-js` version your workspace has, we'll always point to the one needed by web builder.

[2019-11-27 17:20] skorunka commented on #1979
How does it look guys? Any plans?

[2019-11-27 17:48] JoA-MoS commented on #2103
I created a demo workspace to reproduce this issue https://github.com/JoA-MoS/nx-example/tree/cypress-js-heap-oom

[code]

relates to: https://github.com/cypress-io/cypress/issues/2316

[2019-11-27 18:45] brandonroberts commented on #2107
This has already been fixed by https://github.com/nrwl/nx/pull/2098 and will go out with the next release

[2019-11-27 18:45] #2107 closed

[2019-11-27 20:38] elvirdolic commented on #1604
I would also like to run cypress e2e in parallel but adding following command

`yarn affected:e2e --base=origin/master --head=HEAD  --browser chrome --record --parallel --ci-build-id $BUILD_BUILDNUMBER --group "Azure CI"`

The result is following:

[code]

[2019-11-27 20:51] weblancaster commented on #1848
@wKovacs64 @jdpearce @EranSch

We at Blackberry started working on this feature to be part of the framework.

[2019-11-27 22:59] vladamx opened #2112 "Custom Webpack Configuration - Url Loader"
Hi, I tried to include custom loaders in my Nx React Monorepo. It is pretty simple. I want to load SVG and other assets as modules. However, something is wrong in my setup.

The only two things that I did are:
   Made custom webpack config
   Linked to that config in workspace.json

Please see the pictures below...

![image](https://user-images.githubusercontent.com/11381171/69764594-32d4b980-1171

[2019-11-28 09:47] vilbara commented on #1571
So what is the solution for v8.8?

This is what I come to:
`nx print-affected | jq -r '.dependencyGraph.projects[] | select(.type=="app") | .name'`

Unfortunately it is way slower than the script provided by @victornoel and the "getAffectedApps" is gone from the shared lib in v8.8.

[2019-11-28 12:54] #2086 closed

[2019-11-28 19:52] jemerald commented on #1571
@vilbara a new `--plain` option was added, see doc:

https://github.com/nrwl/nx/blob/master/docs/angular/api-workspace/npmscripts/format-check.md#plain

[2019-11-28 23:23] philipjbrowning opened #2113 "@nrwl/storybook peer dependency version fix"
The dependency versions for babel-loader and @babel/core have the wrong name and version number combination:

## Expected Behavior

- @nrwl/storybook@8.8.3 requires a peer of @babel/core@^7.5.4
- @nrwl/storybook@8.8.3 requires a peer of babel-loader@^8.0.6

- @storybook/web -> @storybook/core ???

## Current Behavior

[code]

### Steps to Reproduce

Please provide detailed steps for reproducing th

[2019-11-29 04:47] puku0x commented on #2112
@vladamx
I had a similar problem and solved it by adding `@nrwl/react/plugins/babel`.
https://github.com/nrwl/nx/issues/1931#issuecomment-542499887

[code]

[2019-11-29 08:58] Tucaen commented on #1515
Sorry, but it doesn't look like the nx-examples reflects the best-practices of the book 🤔
@ramarivera would you mind sharing your structure?

There is also already an issue for this on the nx-example repo: https://github.com/nrwl/nx-examples/issues/75

[2019-11-29 10:45] johannesschobel commented on #1098
the solution described by @vsavkin and @gperdomor works perfectly.. However, a more "clean" approach would be to bootstrap it like @tfalvo described in his post.. will dive into this later, i guess :)

cheers to all of you for making nrwl such an awesome experience!

[2019-11-29 13:10] pascalruscher commented on #2057
Well I would have to read out the projects from the tasks array and find the projects in the dependency graph because I need the information from there. And as print-affected is named I expect to get all affected projects listed there.

[2019-11-29 14:47] merobal commented on #2032
It seems it's fixed in v8.8.x by https://github.com/nrwl/nx/issues/1988

[2019-11-29 14:47] #2032 closed

[2019-11-29 18:47] FrozenPandaz commented on #2108
Thank you for filing this issue.

The Angular team is aware of this issue:

https://github.com/angular/angular/issues/32431

We are planning to use a workaround for the time being.

[code]

Unfortunately, it takes quite some time.

[2019-11-29 20:20] JefferE commented on #208
@SachinShekhar - Been a while since I reported here but your suggestion worked ('just initialize AngularFireModule in app module and remove the initialization from library module).

However, I'm having he same issue as @MrCroft above, this whole approach doesn't work when building for production - I get the same 'Function expressions are not supported in decorator' as he is getting.

It doesn't re

[2019-11-29 21:12] FrozenPandaz commented on #2102
Thank you for reporting this issue.

This is a bug where `@nrwl/workspace` has it's own version of `prettier` installed which is used when running `nx format` instead of the one installed in the workspace. I edited the title to cover that.

Unfortunately, until we either fix this bug or update our version of `prettier`, you won't be able to use that version of `pretttier`.

Mismatching versions of

[2019-11-30 09:16] iangregsondev opened #2119 ".babelrc does not override correctly - info inside"
- [x] I am running the latest version
- [x] I checked the documentation and found no answer
- [x] I checked to make sure that this issue has not already been filed
- [x] I'm reporting the issue to the correct repository (not related to Angular, AngularCLI or any dependency)

## Expected Behavior

A babel plugin should run by overriding the .babelrc.

## Current Behavior

Style components babel plu

[2019-11-30 14:43] demisx opened #2120 "Unable to update NX to latest version - No such file or directory error"
## Expected Behavior

Updating Nx following https://nx.dev/angular/guides/update guide goes without errors.

## Current Behavior

My current workspace version is ` 8.7.1`. I've attempted to update it to the latest following the guide on https://nx.dev/angular/guides/update, but got the following error:

[code]

[code]

[2019-11-30 15:17] demisx commented on #2120
Well, this error went away after installing  `npm i @nrwl/tao --save-dev` manually. I would think this would be automatically handled for me (Nx release page doesn't mention any breaking changes updating from `v8.7.x` to `v8.8.3`), so not sure if I did the right thing here.  I also had to resolve a few peer dependencies for the projects to build again. Here are the results of the latest update com

[2019-11-30 18:28] nasr18 commented on #1511
@akolybelnikov did you add Svelte project? I also wanna add svelte.

[2019-11-30 18:51] EvtK opened #2121 "[storybook] no .stories generated?"
## Expected Behavior

Please describe the behavior you are expecting

## Current Behavior
Running:
[code]

or

[code]
should generate .stories files for my (ui)-components.

What is the current behavior?

When running the first command: no stories are generated and when running the second command afterwards I receive:

[code]

### Context

- I'm running the latest NX (8.8.3) nothin fancy here.
- L

[2019-11-30 19:01] demisx commented on #1912
Are there plans to switch to ESLint since TSLint is being deprecated?

[2019-11-30 22:57] dereklin opened #2122 "Unable to create a new workspace following the getting started guide"
I have been a nx user since the early days.  I have been just manually upgrading the dependency versions to keep my project up-to-date.

But when I tried to start from scratch and followed the current getting started guide at https://nx.dev/angular/getting-started/getting-started, I couldn't set up a workspace:

I am on MacOS 10.14.6

I do:

[code]

I get:

[code]
The log file:
[code]
I search iss

[2019-11-30 23:00] dereklin commented on #2122
same problem with
[code]

[2019-11-30 23:04] dereklin commented on #2122
Adding @nrwl/workspace into a new angular cli project produces the same problem:

[2019-12-01 02:02] dereklin commented on #2122
npm i typescript did the trick...

[2019-12-01 02:02] #2122 closed

[2019-12-01 04:37] iangregsondev commented on #2119
So i managed to get around it because styled components have a macro plugin which you can use if you don't have access to the .babelrc file. Its documented here https://www.styled-components.com/docs/tooling#babel-macro

But it would be nice if you could still override the .babelrc

I will leave this open as I think its a valid nice to have :-)

[2019-12-01 10:24] naishe opened #2123 "nx serve does not bind to ip address"
Hey guys,

I am developing a React webapp using Nx. I require this app to test on phone. But I cannot access it over wi-fi using the ip address. Is there a way to ensure nx binds to `0.0.0.0` instead of `localhost` so that I can access it using http://192.168.0.102:4200 ?

This is how `netstat` looks like

[code]

[2019-12-01 17:01] #2112 closed

[2019-12-01 19:17] #2076 closed

[2019-12-01 19:45] kristofdegrave commented on #2101
I also noticed that.

Another solution is, to just remove the following parts in the webpack.config.js in the .storybook folder:

[code]

[2019-12-01 23:25] demisx commented on #1059
I have this global setting added to the workspace root `jest.config.js` to disable diagnostics and it has not effect. It works fine if I move it to the lib's `jest.config.js`, though. Am I missing something?

[code]

[code]

[2019-12-02 07:55] tmtron opened #2124 "Lint: Dependency constraint checks don't work when path matches project name"
## Expected Behavior

When the path in tsconfig matches the project name, the lint dependency constraint check should still work - or at least report an error or warning.

## Current Behavior

The tslint checks don't report anything.

## Failure Information (for bugs)

### Steps to Reproduce

It's easiest to explain based on the [nx-examples]( https://github.com/nrwl/nx-examples) repo.

E.g. in [a

[2019-12-02 07:56] tmtron commented on #1108
I think the problem is the same that I reported in #2124: the path in `tsconfig.json` must not match the project name in `angular.json`

[2019-12-02 08:08] GreedyA1 commented on #1511
are there any release dates for NX 9?

[2019-12-02 09:09] Maus3rVonDutch commented on #1979
Hi, I am trying to update my nrwl workspace and any other referenced packages to the latest versions (see attached `package.json`), but I countered a lot problems and spent the better part of the week debugging and trying to fix my jest tests.
[package.json.txt](https://github.com/nrwl/nx/files/3910358/package.json.txt)

It seems the trouble has started with a change in the `@nrwl/jest` package, t

[2019-12-02 09:43] jdpearce commented on #1059
Hi @demisx, Jest hasn't released a new version with the fix for that problem yet. You'll have to keep an eye on their release schedule to know when it will be out. We should be updating our dependency shortly after they release.

[2019-12-02 09:47] jdpearce commented on #2059
This actually sounds like it could be an `npx` issue. Possibly related to this? https://github.com/npm/npm/issues/17869

[2019-12-02 10:12] jdpearce commented on #2099
Thanks for raising this @vokeit-gschuste, I've just tried with the latest 8.3.3 release and can't replicate this issue. Can you retry?

[2019-12-02 10:23] jdpearce commented on #2103
Hi @JoA-MoS - thanks for raising this. Can you retry with the latest version?

[2019-12-02 11:17] josesaranda opened #2125 "TypeError: You provided an invalid object where a stream was expected. You can provide an Observable, Promise, Array, or Iterable."
- [ ] I am running the latest version
- [x] I checked the documentation and found no answer
- [x] I checked to make sure that this issue has not already been filed
- [x] I'm reporting the issue to the correct repository (not related to Angular, AngularCLI or any dependency)

## Expected Behavior

Make e2e tests

## Current Behavior

Failure with the following error:
TypeError: You provided an inva

[2019-12-02 14:33] AliYusuf95 commented on #972
I think at least instead of `source-root` we can just point to the project name

[2019-12-02 14:49] beeman commented on #1511
It's generally released a few weeks after the Angular release with the same version number.

[2019-12-02 14:52] Maus3rVonDutch commented on #1979
FYI here is an example of such errors that occur:
![image](https://user-images.githubusercontent.com/6672855/69968739-4f7b4380-151b-11ea-8c91-dd11fdcdec9b.png)

The strange thing is however, when I inspect the junit.xml I don't see any failing tests.

This is what is reported when all tests have completed:

![image](https://user-images.githubusercontent.com/6672855/69968939-c0226000-151b-11ea-8116

[2019-12-02 15:41] bmarti44 commented on #602
My current solution for these issues (which is very similar to other people's workarounds here). The following instructions take into account that the following libraries, and their dependencies, exist.

A library `data-models` contains interfaces and objects used across libraries
A library `ui-kit` contains presentational components and consumes `data-models`
A library `data-access` contains serv

[2019-12-02 16:05] demisx commented on #1649
This `showCircularDependencies` build option works for me in `v8.8.3`.  No issues.

[2019-12-02 16:16] johannesschobel commented on #1649
@demisx where did you put this `showCircularDependencies` flag?

[2019-12-02 16:19] kpaxton commented on #2125
I am also receiving this error with the latest NX and latest Angular CLI. Trying to get storybook to run.
`nx run libname:storybook`

[2019-12-02 16:19] paynecodes commented on #1511
I am under the impression this project isn’t so directly coupled with Angular. Is this still true?

[2019-12-02 16:31] Jordan-Hall commented on #1511
@paynecodes  that is correct

[2019-12-02 17:09] isaacplmann commented on #2121
What `*.module.ts` files are in the root level of that library?  The stories schematic is currently dumbly taking the first `*.module.ts` file it finds and looking for a `declarations` array on it.

I'd like to add an optional parameter to specify the module file manually.

[2019-12-02 17:29] demisx commented on #1649
In the `angular.json`'s project:

[code]

[2019-12-02 17:36] johannesschobel commented on #1649
Thanks. I will try this tomorrow and give proper feedback on this possible solution

[2019-12-02 18:27] vokeit-gschuster commented on #2099
I'll see if I can test tomorrow but I'm pretty sure it won't work - the deps in 8.8.3 still state sass-loader 7.x.
The problem arises when using sass-loader 8.x, which is the current stable that nx should use in my opinion.

[2019-12-02 20:02] Cammisuli commented on #2124
Thanks for the reproduction!

It looks like you're right. When changing the path map to something that's not the actual source path, we cannot find the project.

https://github.com/nrwl/nx/blob/53f17d5331baaaf421a7fb162df4c3c076ff7d75/packages/workspace/src/tslint/nxEnforceModuleBoundariesRule.ts#L140-L150

This is because there's a function that's getting the project, normalizing the root and try

[2019-12-02 20:16] Cammisuli commented on #2123
Can you try running this command, and let me know how it goes?
[code]

[2019-12-02 20:26] isaacplmann commented on #2101
The webpack config changes were there to workaround an issue that has since been fixed in storybook.

[2019-12-02 21:38] Cammisuli commented on #2124
As a workaround, you could place the lib to the root of the lib folder with the same name as the import.

[2019-12-02 21:39] vsavkin commented on #2101
The fix is merged: https://github.com/nrwl/nx/pull/2128

[2019-12-02 21:39] #2101 closed

[2019-12-02 21:42] vsavkin commented on #2123
Unfortunately because of this this won't work: https://github.com/nrwl/nx/blob/master/packages/web/src/builders/dev-server/dev-server.impl.ts#L80

We should remove it.

@naishe I think the only way for now is to update your `/etc/hosts` to remap localhost to `0.0.0.0`.

You can also write a postinstall script that will update the node moduels and will replace:

[code]

with

[code]

[2019-12-02 21:50] mlc-mlapis commented on #2125
I have exactly the same problem. The command like `nx run liba:storybook` leads to the error message `An unhandled exception occurred: You provided an invalid object where a stream was expected. You can provide an Observable, Promise, Array, or Iterable.`.

Environment:
* "@nrwl/angular": "8.8.3"
* "rxjs": "6.5.3"
* "@angular/core": "8.2.14"
* "@angular/cli": "8.3.20"

[2019-12-02 21:56] vsavkin commented on #2125
This is because your workspace has multiple versions of RxJS. RxJS version 1 doesn't recognize observable from RxJS version 2. If you are using Yarn, you can tell Yarn to use one version of RxJS. The easier way to do with NPM is to delete every other version of RxJS except the root one.

There is a workaround with setting a special symbol that resolves it, but i can only apply it to the builders w

[2019-12-02 22:23] vsavkin commented on #2125
Fixed here: https://github.com/nrwl/nx/pull/2130

[2019-12-02 22:25] vsavkin commented on #2099
@vokeit-gschuster I think it makes sense to use the latest stable. Would you like to submit a PR to bump up the version and write a migration with it? We can help.

[2019-12-02 22:27] vsavkin commented on #1511
@GreedyA1 early December. Historically we were following devkit release cycles (which Angular depends on also), but we will stop doing it in 2020.

[2019-12-02 22:28] vsavkin commented on #972
@AliYusuf95 could you expand?

[2019-12-02 22:32] vsavkin commented on #2103
@JoA-MoS we are updating the version of cypress to 3.6.1 in the next release, so they issue can be fixed there. Meanwhile, you could change your script to something like that:

[code]

So when you run `npm rug ng -- run e2e deemo-ui-e2e --headless --prod` it will use 8 gigs instead of 2.

[2019-12-02 22:33] vsavkin commented on #2119
@jaysoo what do you think?

[2019-12-02 23:29] vsavkin commented on #2120
We had an issue with the migration command. It has been fixed. You can do the following:

[code]

[2019-12-02 23:30] vsavkin commented on #2102
@dopsonbr would you like to send a PR fixing it? We can help.

[2019-12-02 23:32] vsavkin commented on #2113
Fixed here: https://github.com/nrwl/nx/pull/2128

[2019-12-02 23:32] #2113 closed

[2019-12-02 23:43] vsavkin commented on #1571
Folks,

`--plain` provides the old output with the apps and libs just separated with a space.

So you could do:

[code]

And it will print:

[code]

We added print-affected to print a lot more information as well. We are working on enhancing `print-affected` to handle more scenarios.

I'm going to close it.

[2019-12-02 23:43] #1571 closed

[2019-12-02 23:44] #2125 closed

[2019-12-03 08:09] iangregsondev commented on #1477
Actually this is not a conflict on the import path :-) It would be a conflict on the exported named. So I will close this although - it still would be nice to have the option of creating multiple scopes.

[2019-12-03 08:09] #1477 closed

[2019-12-03 11:26] GreedyA1 commented on #2120
@vsavkin If I run

[code]

I still get error. but time I get :

[code]

[2019-12-03 11:38] GreedyA1 commented on #2120
I ended up updating package.json by hand. changed all nrwl 8.7.0 versions to 8.8.3. Also changed cypress to 3.5.0 since I was getting error on windows (cypress Issue 5241)

[2019-12-03 13:24] kpaxton commented on #2125
My projects seems to have `rxjs@5.5.12` installed under `cypress@3.4.1 > listr@0.12.0`. But that is a direct dependency of `listr`. So I'm not quite sure how to delete that one without other things breaking.

Thanks for the quick fix though.

[2019-12-03 13:49] luchsamapparat commented on #1299
Just a heads up for everyone in this thread: this change is not yet published!

Look for "[jest-config] Merge preset globals with project globals (#9027)" in the [changelog](https://github.com/facebook/jest/blob/master/CHANGELOG.md) to see, if it is released and of which version the change ist be a part of

[2019-12-03 14:27] vsavkin commented on #1975
@bennymeg that's great. I'll definitely check it out.

[2019-12-03 14:42] vsavkin commented on #1884
I have an update.

Talked to Ben Lesh and apparently the following fixes it: https://github.com/nrwl/nx/commit/a88ee635781e919779a0bad6ad43e97aa37a3d16

I'll cut a release today with the fix.

I'm going to close this issue.

[2019-12-03 14:42] #1884 closed

[2019-12-03 15:19] rienheuver commented on #1542
How would one go about fixing the dependency graph in this situation?

[2019-12-03 15:32] vsavkin commented on #1953
I'm sorry, but I'm going to close this issue. It is due to a misconfigured Angular router. Stackoverflow is a better place for resolving this.

[2019-12-03 15:32] #1953 closed

[2019-12-03 15:33] vsavkin commented on #2102
Actually, this appears to be a duplicate of https://github.com/nrwl/nx/issues/1863.

I'm going to close this issue.

[2019-12-03 15:33] #2102 closed

[2019-12-03 15:40] vsavkin commented on #2064
Could you try it with Nx 8.8.3? I just gave it a try, and it worked.

[2019-12-03 15:47] vsavkin commented on #1990
Folks,

* There was an issue with circular dependencies in 8.7.0, but it has been fixed. Could you try it with latest?
* If it is still present, could you provide a repro?

[2019-12-03 15:49] #2050 closed

[2019-12-03 15:50] vsavkin commented on #2050
I'm sorry. We cannot retroactively fix it. We will do better in the future.

[2019-12-03 16:24] victornoel commented on #1571
@vsavkin great, thanks :)

[2019-12-03 16:46] stramel commented on #2064
Seems to be working with the latest version.

[2019-12-03 16:46] #2064 closed

[2019-12-03 17:18] ThomasBurleson commented on #1439
@vsavkin - This problem still exists with Nx library schematics. It appears that developers must still manually apply this fix to the jest config:

[code]

[2019-12-03 21:43] nayfin commented on #602
I struggled with this for a couple days for a few reasons. The first was a stupid mistake, in my `tsconfig.lib.json` I didn't have my `paths` field nested inside of `compileOptions`, thus my root `tsconfig` path was never being overridden properly. After fixing this I started getting the super helpful `ERROR: Cannot read property 'members' of undefined`, which I finally realized was due to barreli

[2019-12-03 23:40] dsm23 opened #2136 "Uncaught docs issue"
https://nx.dev/react/guides/modernize-storybook-react is currently a bit broken.

How do I run the docs locally? I could fix it myself if I knew that. I can't find any documentation on that and at first glance it does not appear obvious

[2019-12-04 00:14] JoA-MoS commented on #2103
@jdpearce - Still seeing this issue after update to 8.9.0. I pushed the changes to the repo used to reproduce the scenario.

@vsavkin - I tried what you said but received an error

[code]
I am on a windows machine running in git bash.

[2019-12-04 00:43] #2090 closed

[2019-12-04 05:13] FrozenPandaz commented on #2136
Thank you for flagging this issue.

@bcabanes can you please take a look?

[2019-12-04 05:13] JoA-MoS commented on #2103
If it helps I have two repos that both fail on spec 23, the test within the specs are completely different between the two repos. This also fails on our Jenkins server.

I also tested this with cypress 3.7.0 and still see the same issue and cypress still returns that all tests pass even though 2 tests assert false.

Cypress 3.4.1 also demonstrates the OOM issue but does summarize the test results

[2019-12-04 06:32] krawetko commented on #842
Found a solution to this for Angular Porjects. In angular.json, for every lib/project in lint options, you need to add "files" property including only the files of this library/project - then it never goes outside of lib/project boundary. Example config of my lib in my angular.json:
` "some-lib": {
      "root": "libs/some-lib",
      "sourceRoot": "libs/some-lib/src",
      "projectType": "librar

[2019-12-04 08:07] EvtK commented on #2121
ahhh that explains. We don't work with root modules, but instead libraries export multiple modules.

I suppose a search for any .module.ts file in the lib should be the way to have this fixed.

[2019-12-04 09:27] pf1gura commented on #1990
@vsavkin I am on `8.9.0` and issues seem to be resolved

[2019-12-04 10:12] JochenDiekenbrock commented on #1990
My issues are resolved as well after upgrading to 8.9.0 and downgrading my code to before cleaning up the cyclic dependencies

[2019-12-04 10:49] jdpearce opened #2137 "@nrwl/angular:library runs a NodePackageInstallTask when unnecessary"
## Expected Behavior

It should be possible to generate a library without running the npm install task. e.g. by passing `--skip-install` or `--skip-package-json` options.

## Current Behavior

`ng g lib <library>` will *always* run a NodePackageInstallTask

This is down to the `addUnitTestRunner` rule:

https://github.com/nrwl/nx/blob/ac33f049b24f2246140d10e733828bc58947340c/packages/angular/src/s

[2019-12-04 12:04] Jimmysh commented on #1487
@DominikPieper I code stencil-toolkit
https://github.com/aiao-io/aiao/tree/develop/libs/stencil-toolkit
demo
https://github.com/aiao-io/aiao/tree/develop/integration/stencil-toolkit-nx
Enjoy!

[2019-12-04 14:13] atifsyedali commented on #1169
@Merott Can you share your hack please? :)

If not, I think I am going to go ahead and implement my suggestion in #1972 as a plugin, where I am going to generate `workspace.json` and `nx.json` from the app- or lib-specific `workspace.json` and `nx.json` files (i.e. generate `/workspace.json` and `/nx.json` from `/apps/app1/nx.json`, `/apps/app2/nx.json`, `/libs/lib1/nx.json`, etc.)

[2019-12-04 14:14] atifsyedali commented on #1169
I have to mention that on new projects adopting Nx (most) there is bound to be a lot of code churn across all apps and libs, and thus affected becomes less useful.

[2019-12-04 14:32] alfaproject commented on #1990
It all works fine for us as well, thank you @vsavkin

[2019-12-04 14:34] Merott commented on #1169
@atifsyedali happy to share it, but with the caveat and disclaimer that it is what it is: **_A HACK_**.

It's a node script, which accepts a `base` argument, and checks if there have been any changes to _existing_ project configurations defined in `tsconfig.json`, `nx.json` or `angular.json`. If all that has changed is _new_ projects added, it will ignore them. Otherwise, it writes the current dat

[2019-12-04 15:08] jasedwards opened #2140 "8.9.0 breaks DataPersistence again"
_[Please make sure you have read the submission guidelines before posting an issue](https://github.com/nrwl/nx/blob/master/CONTRIBUTING.md#-submitting-issue)_

# Prerequisites

Please answer the following questions for yourself before submitting an issue.
**YOU MAY DELETE THE PREREQUISITES SECTION.**

- [x ] I am running the latest version
- [x ] I checked the documentation and found no answer
- [

[2019-12-04 16:20] #2049 closed

[2019-12-04 16:30] #32 closed

[2019-12-04 16:30] vsavkin commented on #32
Going to open another issue for `nx import`

[2019-12-04 16:37] vsavkin commented on #54
Folks. I'm going to close this.

We are reimplementing bazel support using the new capabilities provided by the bazel team. We are hoping to release an early beta in January.

[2019-12-04 16:37] #54 closed

[2019-12-04 16:37] vsavkin commented on #178
Closing this. No immediate plans to add lighthouse support.

[2019-12-04 16:37] #178 closed

[2019-12-04 16:38] #191 closed

[2019-12-04 16:41] vsavkin commented on #164
Folks, I'm going to close it.

The issue has been fixed in Angular 8. If you still have problems setting up universal, could you reopen an issue using the latest version of Nx and a repro.

Thank you!

[2019-12-04 16:41] #164 closed

[2019-12-04 16:45] vsavkin commented on #309
Folks, I'm going to close this issue.

We strongly discourage your having multiple versions of package.json for your packages. Single-version policy, although comes with its own problems, is one of the reasons why monorepos provide the benefits they provide.

Both npm and yarn allow you to use multiple versions of the same library. It can be useful in rare situations. It works with Nx.

You could

[2019-12-04 16:45] #309 closed

[2019-12-04 16:46] vsavkin commented on #310
Folks. I'm going to close this issue. The new loadChildren syntax doesn't require you to update tsconfig files.

[2019-12-04 16:46] #310 closed

[2019-12-04 16:46] vsavkin commented on #355
Closing this. No immediate plans to implement it.

[2019-12-04 16:46] #355 closed

[2019-12-04 16:48] vsavkin commented on #607
Folks. I'm going to close this issue because it is stale. Please reopen it the problem is still present.

[2019-12-04 16:48] #607 closed

[2019-12-04 16:51] vsavkin commented on #747
Folks. Is the issue still present when using the latest version of Nx?

[2019-12-04 16:55] vsavkin commented on #771
Folks, I'm going to close this issue.

Workspace schematics is the easiest way to do it, but some folks also have a custom collection they build in a postinstall script. That custom collection can extend any other collection and can be set as a default.

[2019-12-04 16:55] #771 closed

[2019-12-04 16:58] vsavkin commented on #842
This has been fixed. We now correctly set up excludes not to relint the same file multiple times.

Could you update your repo to latest to see if the issue persists?

[2019-12-04 16:59] #857 closed

[2019-12-04 17:53] vsavkin commented on #871
I'm going to close this issue. If it's still present, could you reopen it? Thank you!

[2019-12-04 17:53] #871 closed

[2019-12-04 17:55] vsavkin commented on #881
Folks. I'm going to close this issue. We patched up the upgrade process, and updated our guides to cover common gotchas. If you are still having problems upgrading from nx 7 to nx 8, please reopen the issue.

Thank you!

[2019-12-04 17:55] #881 closed

[2019-12-04 18:10] vsavkin commented on #733
Folks,

Here are some thoughts:

1. I think that committing frequently while developing is a good idea.
2. If committing takes even 10 seconds, I either won't commit frequently or will use --no-verify to skip the hooks.
3. I think using `pre-push` can be a good idea. You push a lot more rarely comparing to committing and pushing already can take a few seconds, so waiting for a few more seconds is

[2019-12-04 18:11] #882 closed

[2019-12-04 18:21] vsavkin commented on #895
`tslint.json` is a non-project file and they are handled in a special way. You need to remove from `implicitDependencies in `nx.json`.

I'm going to close this issue.

Thank you!

[2019-12-04 18:21] #895 closed

[2019-12-04 18:25] vsavkin commented on #967
The newly added `print-affected` command is a much more generic version of this. We are working on making it more robust so it handles all scenarios where you need to "introspect" the state of the workspace.

So I'm going to closer this issue.

[2019-12-04 18:25] #967 closed

[2019-12-04 20:33] vsavkin commented on #1002
Folks. Is it still an issue?

[2019-12-04 20:44] vsavkin commented on #1067
I'm going to close this issue. If the problem is still present, could you reopen it with a repro?

[2019-12-04 20:44] #1067 closed

[2019-12-04 20:45] vsavkin commented on #1091
Folks, could you retry it with the latest version?

[2019-12-04 20:47] #2136 closed

[2019-12-04 20:50] vsavkin commented on #1176
Closing this. StackOverflow is a better place for the question.

[2019-12-04 20:50] #1176 closed

[2019-12-04 20:53] vsavkin commented on #1189
We fixed all the known Ivy-related issues some time ago, so I'm going to close this issue. If you still has problems, please reopen the issue with a repro. Thank you!

[2019-12-04 20:53] #1189 closed

[2019-12-04 20:55] vsavkin commented on #1208
This has been fixed when we transitioned to using webpack for bundling specs. So I'm going to close this issue. Thank you!

[2019-12-04 20:55] #1208 closed

[2019-12-04 21:00] vsavkin commented on #1217
Just confirming. It looks like the issue has been fixed in 8.5. Right?

[2019-12-04 21:01] vsavkin commented on #1224
We added support for ESLint for all non-Angular projects. Once the Angular team adds support for ESLint, we are going to integrate it as well.

[2019-12-04 21:01] #1224 closed

[2019-12-04 21:03] vsavkin commented on #1239
Could you try using the latest version of Nx?

[2019-12-04 21:12] vsavkin commented on #1241
You cannot automatically transform a library into publishable right now, but you can add the needed build target with the needed ng-package.json file. We could add a schematic for that. If someone wants to implement it, we can help!

As far I as can see, we no longer tell you use "ng build" for non-publishable libraries. So I'm going to close this issue. If the behavior provided by the latest vers

[2019-12-04 21:12] #1241 closed

[2019-12-04 21:15] vsavkin commented on #1251
any update? if you could provide a repro, we will take a look.

[2019-12-04 21:15] vsavkin commented on #1255
Merged the docs some time ago. Thanks!

[2019-12-04 21:15] #1255 closed

[2019-12-04 21:16] vsavkin commented on #1257
Sorry, you need to use 8.2 instead 8.1.2.

[2019-12-05 03:03] jiayisheji commented on #1511
@vsavkin We can consider extending the code to the Angular microfront end.

[2019-12-05 04:31] mightyiam commented on #1208
Thank you for following up, @vsavkin.

[2019-12-05 06:10] krawetko commented on #842
@vsavkin Tried with `8.9.0` - the problem is still present

[2019-12-05 06:14] krawetko commented on #842
@vsavkin tried with `8.9.0` - the problem is still there.

[2019-12-05 07:30] maku opened #2147 "support for nestjs compiler plugins (e.g. for swagger)"
I would like to use a nestjs compiler plugin (e.g. described in https://trilon.io/blog/nestjs-swagger-4-whats-new for generation of swagger definition)

How can I do this with nx?

[2019-12-05 13:44] creadicted commented on #1239
Seems to work now.

[2019-12-05 13:44] #1239 closed

[2019-12-05 13:46] creadicted commented on #2147
That has nothing todo with nx.
Use it like it is described in the documentation of nestjs and you are fine.

[2019-12-05 13:58] vsavkin commented on #1271
Could you retry with the recent version of Nx?

[2019-12-05 14:01] vsavkin commented on #1364
Closing this. We have had Ivy support for a while, and Nx 9 will come with Ivy on by default.

[2019-12-05 14:01] #1364 closed

[2019-12-05 14:02] vsavkin commented on #1368
I'm going to close this. If the problem present, please reopen the issue. Thank you!

[2019-12-05 14:02] #1368 closed

[2019-12-05 14:03] vsavkin commented on #1384
I'm going to close this one, folks.

[2019-12-05 14:03] #1384 closed

[2019-12-05 14:13] vsavkin commented on #1409
Folks,

I'm going to close this one. We have made some changes to `ng-add`  and wrote a guide on using it: https://github.com/nrwl/nx/blob/master/docs/angular/guides/transition-to-nx.md.

If you are still having the problem, please reopen the issue.

Thank you!

[2019-12-05 14:13] #1409 closed

[2019-12-05 14:16] vsavkin commented on #1420
We wrote a guide to walk through the upgrade process: https://nx.dev/angular/guides/nx7-to-nx8 Unfortunately going from 7 to 8 is a bit trickier as it requires running two commands.

We also made a lot of fixes in the migration itself. I'm going to close this issue.

If the problem persists, please reopen and we will take a look

Thank you!

[2019-12-05 14:16] #1420 closed

[2019-12-05 14:17] vsavkin commented on #1432
I'm going to close this. The new bazel support is in the works. We will post updates as we keep making progress.

[2019-12-05 14:17] #1432 closed

[2019-12-05 14:18] vsavkin commented on #1448
I'm sorry, but I'm going to close this. If the problem persists, please reopen the issue.

[2019-12-05 14:18] #1448 closed

[2019-12-05 14:27] maku commented on #2147
@creadicted Sorry I don't get you. nestjs is "managed" by nx. The build process is executed via "ng...". So we are not using the "Nest CLI" and the nestjs docu says that the way to go is to have a custom webpack configuration in combination with ts-loader...

[2019-12-05 14:32] vsavkin commented on #1464
Sorry, but I'm going to close this issue.

Currently, we don't provide any utilities for testing schematics. So testing Nx-oriented schematics is no different than testing say default Angular schematics or NestJS schematics. So I think https://github.com/angular/angular-cli is a better place for such questions.

Thank you.

[2019-12-05 14:32] #1464 closed

[2019-12-05 14:33] #1503 closed

[2019-12-05 14:33] vsavkin commented on #1504
I'm sorry, but I'm going to close this. If the problem persists, please reopen the issue and we will take a look

[2019-12-05 14:33] #1504 closed

[2019-12-05 14:42] vsavkin commented on #1521
This has been fixed by https://github.com/nrwl/nx/pull/1907.

So I'm going to close this issue.

[2019-12-05 14:42] #1521 closed

[2019-12-05 14:45] vsavkin commented on #1540
I'm going to close this one. Since we can't do much with the way `ng update` works, we have built a different ways to keep your projects up to date: `nx migrate`. It's a lot more straightforward and doesn't rely on peer dependencies.

[2019-12-05 14:45] #1540 closed

[2019-12-05 14:55] #1592 closed

[2019-12-05 14:56] vsavkin commented on #1595
Duplicate of this: https://github.com/nrwl/nx/issues/987

[2019-12-05 14:56] #1595 closed

[2019-12-05 14:58] vsavkin commented on #1593
Duplicate of this: https://github.com/nrwl/nx/issues/987

[2019-12-05 14:58] #1593 closed

[2019-12-05 15:01] vsavkin commented on #1624
@gperdomor thank you!

It looks like there is a way to get the base SHA. So I'm going to close this issue.

[2019-12-05 15:01] #1624 closed

[2019-12-05 16:02] mlc-mlapis opened #2149 "Necessity to add "html-loader": "0.5.5" after installing Nx 8.9.0"
# Prerequisites
- [x] I am running the latest version
- [x] I checked to make sure that this issue has not already been filed

## Expected Behavior
It was not necessary to add "html-loader": "0.5.5" separately into `packages.json` for Nx 8.8.3.

## Current Behavior
Without adding "html-loader": "0.5.5" separately into `packages.json` in Nx 8.9.0, the command like `nx run liba:storybook` leads to a

[2019-12-05 16:07] juristr commented on #1540
@vsavkin 👍

[2019-12-05 16:41] creadicted commented on #2147
@maku Ok I am sorry you were right. Let me see if I can update a project and create a working configuration.

[2019-12-05 19:10] vsavkin opened #2152 "Nx 10 Plans"
# Nx 10 Plans

## Nx 8 => Nx 9

Nx 8 to Nx 9 was a great release. These are some of the highlights.

### Generic Tool

We always wanted Nx to be the tool that helps teams using different stack work together, share code, etc.. That's why a big focus of Nx 9 was to make it a great tool for many ecosystems.

#### Two Modes

Nx now works in two modes: standalone or as an extension to the Angular CLI.

[2019-12-05 19:32] pf1gura opened #2153 "@nrwl/node v8.8.0 breaks nest app"
## Expected Behavior
My Nest.js apps can run without any issues

## Current Behavior
Nest.js apps fail to start or build.

## Failure Information (for bugs)
It started to happen after an upgrade to 8.8.0. Everything works as expected when I downgrade `@nrwl/node` to 8.7.1.

I am getting an error: `An unhandled exception occurred: Cannot assign to read only property '_showWarnings' of object '#<Obj

[2019-12-05 20:37] pf1gura commented on #2153
I was debugging the issue a bit more and I fixed the issue by upgrading some other dependencies (all changes on the screenshot).
![image](https://user-images.githubusercontent.com/41795518/70271799-67ff8e00-17a7-11ea-980e-1b0e1a99a5cc.png)

[2019-12-05 22:39] FrozenPandaz commented on #2153
Thank you for reporting this issue.

The update to `@angular/cli` is what fixed it. I made a PR to fix the migration version.

[2019-12-05 23:37] FrozenPandaz commented on #2140
I was not able to repro this:

https://github.com/FrozenPandaz/nx-examples/tree/fetch-test

(I believe I have the same `ng v` and `nx report` output)

A repro would help us debug this issue.

[2019-12-05 23:50] FrozenPandaz commented on #2147
This is an interesting way of generating API configuration.

I'm not too familiar with doing this either but you may want to make sure you're on the same version of typescript that's used by the nest cli.

If someone can figure out a good config for `customWebpack`, we can create a plugin similar to our `@nrwl/react/plugins/babel` plugin.

[2019-12-06 00:14] FrozenPandaz commented on #1949
This is related to https://github.com/nrwl/nx/issues/1182

[2019-12-06 01:41] troywweber7 commented on #225
This doesn't appear to work in Nx 8

![image](https://user-images.githubusercontent.com/4765979/70288199-0da20580-1786-11ea-9da9-24f13254b53a.png)
![image](https://user-images.githubusercontent.com/4765979/70288369-52c63780-1786-11ea-85f0-5453348f1289.png)
![image](https://user-images.githubusercontent.com/4765979/70288216-1e527b80-1786-11ea-9003-f1437dc950ef.png)

It does work for the @nrwl/angul

[2019-12-06 08:12] semtos commented on #2137
+1

[2019-12-06 13:01] ukaric commented on #2147
@FrozenPandaz @creadicted

I have managed to get a bit further in configuring the plugin with custom webpack config.

Pretty much the same setup as with @creadicted

`workspace.json`

[code]

`webpack.config.js`

[code]

My webpack config does a bit more. But the important part is `newRules`.

I have successfully added `getCustomTransformers` but when I try to run it i get following error.

[code]

[2019-12-06 14:20] iangregsondev commented on #2119
@vsavkin @jaysoo I managed to do the following.. created a webpack.config and imported the nrwl babel plugin ie..

[code]

I now have access to the full config on babelConfig variable... and I see this, so I presume i can now parse the tree and do what ever I need.

[code]

Not the easiest thing to do BUT 100% possible - I am going to take a closer look now.

[2019-12-06 14:49] iangregsondev commented on #2119
Hi, I finally managed to get it working without using the macro plugin. The reason behind it is that the plugin must the first one in the babel-loader... Can't use the .babelrc becasue babel-loader adds plugins before the .babelrc gets executed.

Here is what I ended up with, not really that difficult at all. Would be great if it could be documented somewhere - maybe it would help others.

[code]

[2019-12-06 15:30] milo526 commented on #1542
In your `nx.json` you will find a section for your application i.e. `webapp` assuming your lib with the styling is called `styling` you can set:

[code]

[2019-12-06 17:51] LukeHowellDev opened #2155 "Existing prettierignore cause failure when migrating from angular cli to nx workspace"
## Expected Behavior

When running `ng add @nrwl/workspace` with an existing `.prettierignore`, the file should be modified and migration not fail.

## Current Behavior

If `.prettierignore` exists in the project before `ng add @nrwl/workspace`, the migration will fail with the following error

[code]

### Steps to Reproduce

Please provide detailed steps for reproducing the issue.

1. `ng new my-

[2019-12-06 18:20] #2123 closed

[2019-12-06 18:20] FrozenPandaz commented on #2123
Fixed by #2129

[2019-12-06 18:23] FrozenPandaz commented on #2103
Unfortunately, we switched transpilation back to being handled `ts-loader` instead of `fork-ts-checker-plugin` because it was causing cypress to hang when using a support file.

I believe this unintentional functionality but have not found a fix.

We probably need some assistance from the Cypress team to figure out what is going on here.

[2019-12-06 20:16] FrozenPandaz commented on #1975
Wow this is great!

Awesome job @bennymeg!

I have a branch with it working here :)

https://github.com/FrozenPandaz/nx-examples/tree/electron

Very very excited to see where this goes!

[2019-12-06 20:45] FrozenPandaz commented on #2012
`@nrwl/linter` no longer depends on `@angular-devkit/build-angular` as of `@nrwl/linter@8.8.0` Fixed by https://github.com/nrwl/nx/commit/b220a17c477f8b3738fc4c538d0b457748de3a01

#2114 fixes this issue by adding a webpackFactory which is a new feature in `@angular-devkit/architect@9.0.0-rc.5`

[2019-12-06 20:49] FrozenPandaz commented on #2013
This is fixed with https://github.com/nrwl/nx/pull/2046

[2019-12-06 20:49] #2013 closed

[2019-12-06 21:47] FrozenPandaz commented on #1963
I know this issue is for Nx 7 but I don't think a fix for this will happen.

This is deprecated as of Angular 9. Starting with Angular 8 you should be able to use the `import()` syntax.

Closing as this behavior is deprecated.

[2019-12-06 21:47] #1963 closed

[2019-12-06 22:09] jasedwards commented on #2140
@FrozenPandaz  I will try to find time this weekend to get a repo going.  My repo is very large with a lot of 3rd party libs.  will starting adding them to see if i can narrow it down

[2019-12-06 22:12] FrozenPandaz commented on #2031
`npm run test --watch` will run all projects with a `test` target serially.

This means that the first project (usually an app) will be the project run with `--watch` and it will wait until that finishes before moving onto the 2nd project and so forth.

Beacuse we actually run tests for each project, if you want to run tests with a watch mode, you should really run

[code]

I hope this answers you

[2019-12-06 22:12] #2031 closed

[2019-12-06 22:19] jasedwards commented on #2140
@FrozenPandaz  Ok, I need to do some more sanity checks this weekend but I noticed my versions of @angular-devkit/... were a version behind what you're using now.  I would not think that should matter since they are dev dependencies but perhaps?  They referenced rxjs 6.3 where as I am using 6.4.  I will run more checks over the weekend and comment.

[2019-12-06 22:27] FrozenPandaz commented on #1972
The points and solutions that you outlined are great! Thank you for outlining your thoughts.

We are currently already working on being smarter about how we process changes to `package.json`. We will be drawing dependencies between projects to node_modules allowing you to update a `dependency` in `package.json` and only affect projects which import from that module.

This feature will also come wi

[2019-12-06 22:36] FrozenPandaz commented on #1972
Re: points and solutions

### Separate `project.json` files

This would be a much welcomed way of configuring projects. `angular.json` and `workspace.json` can be quite large. Generating the `workspace.json` could work but it would be much better done where the root workspace.json can contain references to other `project.json` files. We can discuss this with the Angular CLI team to see if they hav

[2019-12-06 22:42] FrozenPandaz commented on #1320
This was added with #1897.

See https://nx.dev/angular/guides/monorepo-tags#exceptions for more information!

[2019-12-06 22:42] #1320 closed

[2019-12-06 22:46] FrozenPandaz commented on #1849
Fixed by #2129 🎉

[2019-12-06 22:46] #1849 closed

[2019-12-08 12:30] AliYusuf95 opened #2159 "Update prettier"
## Expected Behavior

Run `nx format:write` to format Typescript 3.7 code containing optional chaining.

## Current Behavior

`error Command failed with exit code 1.`

## Failure Information (for bugs)

Update prettier to [1.19.x ](https://prettier.io/blog/2019/11/09/1.19.0.html) to support TypeScript 3.7

[2019-12-08 19:28] FrozenPandaz commented on #1830
This makes sense.

Would somebody be interested in contributing this feature?

[2019-12-08 19:39] FrozenPandaz commented on #1824
Can you please retry with the latest version of Nx? Nx now formats md files

If you still encounter this issue, you please provide a reproduction of this issue?

[2019-12-08 19:42] FrozenPandaz commented on #1796
We are currently working on this feature.

[2019-12-08 19:58] #2153 closed

[2019-12-08 20:33] FrozenPandaz commented on #1791
Would somebody from the community be interested in contributing this feature?

I think it should work as follows.

Add a `nx.json` field for `defaultRef` which would be used if available.

[2019-12-08 20:43] FrozenPandaz commented on #1990
Closing as this is resolved with the latest version :).

[2019-12-08 20:43] #1990 closed

[2019-12-09 08:33] kristofdegrave opened #2164 "Inconsistency in the path of tsconfig when generating a publishable library"
_[Please make sure you have read the submission guidelines before posting an issue](https://github.com/nrwl/nx/blob/master/CONTRIBUTING.md#-submitting-issue)_

# Prerequisites

Please answer the following questions for yourself before submitting an issue.
**YOU MAY DELETE THE PREREQUISITES SECTION.**

- [x] I am running the latest version
- [x] I checked the documentation (nx.dev) and found no ans

[2019-12-09 10:25] Hotell commented on #1796
amazing! 👌

[2019-12-09 13:37] jasedwards commented on #2140
updating angular-devkit fixed it.  I see that is imported all over polyfill so I can only guess that the different versions of rxjs used in devkit was the issue. I will make sure to keep my version of that in sync with yours in the future.  thanks.

[2019-12-09 13:37] #2140 closed

[2019-12-09 13:44] nikbabchenko commented on #333
That's true, delete command should be there

[2019-12-09 14:37] isaacplmann commented on #2149
Was this an upgrade from Nx 8.8.3?  Do any of your `webpack.config.js` files have references to `html-loader`?  The migration from 8.8.3 to 8.9 should have removed those references in the webpack.config.js file.

I just created a fresh repo with Nx 8.9 and didn't see this error.

The top level `webpack.config.js` file should look like this:

[code]

An angular library `webpack.config.js` file shou

[2019-12-09 15:27] bostondevin opened #2165 "Jest 8.0"
Doesn't work - I updated everything and Jest 7.2 is different than 8.0 - when can we expect the fix? Also, love you cats btw

[2019-12-09 16:06] creadicted commented on #2147
Thank you @ukaric it works for me with your solution.

[code]

[2019-12-09 22:47] elliottsj opened #2167 "Support for Next.js 9.1.x"
## Expected Behavior

Able to create a Next.js v9.1.5 app and run it without error.

## Current Behavior

First install `next@9.1.5` to the workspace using npm/yarn. Then:

[code]

## Failure Information (for bugs)

See trace above.

### Steps to Reproduce

See trace above.

### Context

  @nrwl/angular : 8.9.0
  @nrwl/cli : 8.9.0
  @nrwl/cypress : 8.9.0
  @nrwl/eslint-plugin-nx : 8.9.0
  @nrwl/ex

[2019-12-09 23:52] mlc-mlapis commented on #2149
@isaacplmann Yes, it was an upgrade from Nx 8.8.3 to Nx 8.9.0 as the first step.

The second step was to run the command: `nx g @nrwl/angular:storybook-configuration liba` (where `liba` can be any single and already existed library).

And here is probably the problem, because of the `webpack.config.js` was created automatically in the directory `.storybook` and its content is (you can see the line

[2019-12-10 13:45] JediSange opened #2169 "Error after fresh install: Cannot find module 'webpack-merge'"
## Expected Behavior

On a fresh install using 8.9.0 I would expect to be able to use an empty project with NX CLI, install Nest, and have `nx serve` run successfully without additional, undocumented setup.

## Current Behavior

Currently if you do a fresh install using NX as the CLI then install Nest you will get an error on `nx serve`

## Failure Information (for bugs)

### Steps to Reproduce

[

[2019-12-10 14:08] whimzyLive opened #2170 "nx affected:apps fails with error fatal: Not a valid object name master"
# Prerequisites

Please answer the following questions for yourself before submitting an issue.
**YOU MAY DELETE THE PREREQUISITES SECTION.**

- [ x ] I am running the latest version
- [ x ] I checked the documentation (nx.dev) and found no answer
- [ x ] I checked to make sure that this issue has not already been filed
- [ x ] I'm reporting the issue to the correct repository (not related to Reac

[2019-12-10 15:31] FrozenPandaz commented on #2170
Hi, do you have a `master` branch checked out locally?

If `master` is not your default branch, you should set `--base` to your default branch:

For Example:
[code]

[2019-12-10 15:46] FrozenPandaz commented on #2164
Thanks for reporting this issue!

This is complex because `npm` package names cannot contain more than 1 `/` other than the one after the scope.

Closing this as a duplicate of https://github.com/nrwl/nx/issues/930 since it has more context.

[2019-12-10 15:46] #2164 closed

[2019-12-10 18:46] JediSange commented on #2169
@FrozenPandaz thanks for the fast action here. Appreciate it.

[2019-12-10 20:17] #1863 closed

[2019-12-10 20:17] #2159 closed

[2019-12-11 05:00] AryanJ-NYC commented on #2167
Relates to https://github.com/nrwl/nx/issues/2106

[2019-12-11 05:05] AryanJ-NYC opened #2174 "TypeError: this[MODULE_TYPE] is not a function in built Next.js app with imported CSS"
## Expected Behavior
Next apps with imported CSS render.

## Current Behavior
Next apps with imported CSS break.

## Failure Information (for bugs)

### Steps to Reproduce

Please provide detailed steps for reproducing the issue.

1. Go to https://github.com/AryanJ-NYC/build-next-app-with-imported-css (brand new nrwl/next app)
2. Run `yarn nx serve build-next-app-with-imported-css --prod`
3. Go to

[2019-12-11 07:57] nicokoenig commented on #1511
Are there any plans to provide builder for node backend apps that supports a custom webpack config? 🙏

[2019-12-11 10:34] wimzyLive commented on #2170
I am running this on CI and yes I do have a branch called master, but surprising this is that it worked with earlier version, but not after updating to latest.

[2019-12-11 14:46] merlosy commented on #1541
Hi @Jordan-Hall !
Thank you for taking the time to work on this. Do you have an ETA regarding support for vue? And since vue 3 is almost out, what is your targetted version?

[2019-12-11 14:55] Jordan-Hall commented on #1541
@merlosy  working slowly on it. Waiting for vue 3 before this carries on

[2019-12-11 15:12] elliottsj commented on #2167
Ah yep, this is a duplicate of your issue #2106

[2019-12-11 15:12] #2167 closed

[2019-12-11 15:23] elliottsj opened #2175 "Next.js: use only public Next.js APIs in builders"
This is not exactly a bug or a feature request, but a proposal for a refactor to make the Next.js schematics and builders more resilient to future updates to Next.js.

## Expected Behavior

Able to update Next.js to newer minor versions without significant changes to the schematics/builders.

## Current Behavior

When Next.js publishes minor updates, import paths of internal modules are changed, s

[2019-12-11 18:33] iangregsondev commented on #2051
I am also getting this, run npm run lint

I added the following to my eslint file until its resolved

[code]

To confirm my prettierrc is

[code]

and my eslint extends etc

[code]

it states that the prettier should come last - which it does.

[2019-12-11 19:09] Cammisuli commented on #2174
The change in the linked PR will fix this issue:
https://github.com/nrwl/nx/pull/2173/files#diff-3ae94fa96db6d0580a313332735007e9R84

Since it's now using a boolean, Next can then determine to use a dev server or not instead of always trying to use dev server.

[2019-12-11 20:03] PepijnSenders opened #2177 "Using yarn@berry?"
## Description

The next yarn comes with a lot of workspace tooling basically out of the box. Maybe nx.dev could be a plugin inside the new yarn?

https://next.yarnpkg.com/

[2019-12-11 23:28] Cammisuli commented on #2051
This looks like it's related to the builder we use to do the linting.
https://github.com/angular-eslint/angular-eslint/blob/cf88cc15e21d0f8ff208ece008cec6dcfefffdba/packages/builder/src/index.ts#L199-L206

They have `semi` set to always error when running the CLI engine.

[2019-12-12 01:30] vsavkin commented on #1730
Folks. I'm going to close this issue. We aren't going to add `add` to the Nx cli in the near future. So the solution provided by Brandon is what we recommend.

[2019-12-12 01:30] #1730 closed

[2019-12-12 01:32] #1843 closed

[2019-12-12 01:36] vsavkin commented on #1859
@hoang-innomizetech could you provide a whole repro? I'm not sure about the configuration you have.

[2019-12-12 01:41] vsavkin commented on #1862
Unfortunately I cannot repro the issue. Can you try to repro it with the latest version of Nx?

[2019-12-12 01:43] hoang-innomizetech commented on #1859
@vsavkin I've provided the link on the above comment, but here you are https://github.com/innomizetech/nx-dep-boundaries-example

[2019-12-12 01:44] vsavkin commented on #1899
Sorry, but I'm going to close this one. If the problem is still present, please reopen it with a repro.

[2019-12-12 01:44] #1899 closed

[2019-12-12 01:46] vsavkin commented on #1915
`nx print-affected --target=e2e` will emit a json document with a list of projects with the e2e target defined. I believe that should be enough to cover your use case.

Thank you!

[2019-12-12 01:46] #1915 closed

[2019-12-12 01:47] FrozenPandaz commented on #2177
Hi, thank you for the suggestion.

From what I can see, yarn worktrees and Nx solve different problems.

I think yarn v2 will make it a lot easier to develop packages but not really help much for application development.

With Nx, we generally recommend there be only `package.json` which means yarn workspaces offers very little to an Nx workspace.

Plug and play, no installs, and offline support w

[2019-12-12 01:55] vsavkin commented on #1889
Sorry for the really late reply.

I sort of agree that referencing a component from an effect can be seen is not pure, but the component there signifies the route because there is not easy way to reference a route.

The thing I find a bit odd is why anyone would have to reference effect. I'd imagine the facade referencing actions, not the effect. After all, you can't do anything with the effect cl

[2019-12-12 01:58] vsavkin commented on #1699
We are waiting on the Angular team to port Angular-specific lint checks to make tslint/es-lint options comparable.

[2019-12-12 01:59] #1921 closed

[2019-12-12 02:09] vsavkin commented on #1838
Yeah. Sorry about it. We hit a bunch of issues with the migrate command, so the easiest way to make it work is to:

[code]

In this case you will use the fixed version of the migrate command but will still run all the migrations.

[2019-12-12 02:40] #2169 closed

[2019-12-12 07:40] kristofdegrave commented on #2164
@FrozenPandaz I have taken a look at the other issue, but that is about the fact that you should map to the dist folder or not. This is not the thing I want to discuss.

What I originally requested is that the path in the tsconfig should be the same as the one in the npm package (with the dashes). So you get the following:
[code]
{
  ...
  "paths": {
    "@myLib/core-test": ["libs/core/test/src/in

[2019-12-12 11:35] mitschmidt commented on #2103
We are experiencing the same issue when running cypress in CI for our project, and were only able to resolve it by running our e2e tests in chunks, i.e. entirely isolated using a test name pattern. This seems to work fine so far, but comes with limitations (multiple test runs in cypress dashboard, decreased maintainability).

It would be amazing to see a final solution for this in the future.

Tha

[2019-12-12 12:42] RamaneekGill commented on #2152
Great update!

I have two questions:
- Is there an RFC or a proposed plan for community supported plugins?
- I imagine nx to be able to work with any language similar to Bazel once Bazel support is implemented. Would this be possible if the Bazel build files and rules are configured appropriately.

Having nx be the tool of choice for supporting monorepo for any language can also help teams who are

[2019-12-12 14:20] Cammisuli commented on #977
Related source where Jest adds `test` as the `NODE_ENV`:
https://github.com/facebook/jest/blob/446d174fc040247d945e2f682561339a54364323/packages/jest-cli/bin/jest.js#L12-L14

It's in the bin file.

[2019-12-12 16:32] #977 closed

[2019-12-12 17:30] enjdusan commented on #2042
I have the exact same problem, but with Next.js. Styles from styled components are missing after initial load, but they are applied after HMR.

[2019-12-12 18:15] mehrad-rafigh commented on #2165
It should land when this (PR)[https://github.com/nrwl/nx/pull/1986] is merged and released

[2019-12-12 18:17] josuerios opened #2182 "Change default libs/ apps/ folder layout"
I'm opening this issue as a feature request.

## Expected Behavior

I want the ability to create and maintain a different folder layout. Right now by default, created apps and libs are being hosted inside `apps/` and `libs/` folder respectively. I have a small Nx workspace where I want to keep both types inside a `packages/` folder. Right now I'm creating them with the default behavior, moving the

[2019-12-12 18:36] david0723 commented on #2042
I found a solution here https://spectrum.chat/next-js/general/quick-question-about-styled-components-ssr~7fb88ab0-037d-49e4-acac-ad52ef347de8

[2019-12-12 18:40] stramel commented on #1931
Just wanted to link the PR to this issue for easier tracking #1964

[2019-12-12 18:54] cmalard commented on #2085
Hi there, I'm having a similar issue :

[code]

`npm i @nrwl/workspace@8.8.1 && nx migrate @nrwl/workspace@8.8.2 --from="@nrwl/workspace@8.7.0"`, `npm i @nrwl/workspace@8.8.2 && nx migrate @nrwl/workspace@8.8.2 --from="@nrwl/workspace@8.7.0"` and `npm i @nrwl/workspace@latest && nx migrate @nrwl/workspace` (`--from="@nrwl/workspace@8.7.0"`) ` did not helped

Thanks for your help :-)

[2019-12-12 22:50] elliottsj opened #2184 "Feature request: generate @nrwl/react:lib without stylesheets"
## Expected Behavior

Able to `nx g @nrwl/react:lib <name>` without selecting a stylesheet option.

## Current Behavior

Currently, the [`style` option is required](https://github.com/nrwl/nx/blob/88920ac381f25d76b0b2dda244084536337db590/packages/react/src/schematics/library/schema.json#L31).

### Context

Often React libraries do not need to use styles, for example a library exporting a collectio

[2019-12-13 05:45] FrozenPandaz commented on #2184
This is a good point. Not all react libraries need to be a component.

1. We can add an option: `component`. This can be passed as `--no-component` which should not generate a component code
2. The `style` option (for both `lib` and `component`) can have a `none` option which will not generate styles in the component (if `--no-component is NOT passed) and set the default for the library to generat

[2019-12-13 16:12] Hotell opened #2188 "bug: @nrwl/react - missing @babel/preset-react and react when running build on react publishable library"
# Prerequisites

- [x] I am running the latest version
- [x] I checked the documentation (nx.dev) and found no answer
- [x] I checked to make sure that this issue has not already been filed
- [x] I'm reporting the issue to the correct repository (not related to React, Angular or any dependency)

## Expected Behavior

`nx build ui-button` should build react library

## Current Behavior

Build fails

[2019-12-13 16:52] Hotell opened #2189 "node: support creating libraries and publishable libraries"
# Prerequisites

- [x] I am running the latest version
- [x] I checked the documentation (nx.dev) and found no answer
- [x] I checked to make sure that this issue has not already been filed
- [x] I'm reporting the issue to the correct repository (not related to React, Angular or any dependency)

## Expected Behavior

To officially support `@nx g @nrwl/node:lib my-node-utils --publishable`

We can

[2019-12-13 17:07] PepijnSenders commented on #2177
Sorry for being a bit vague, but that's exactly why I thought it would be cool for nx.dev to integrate it. Why was the decision currently made to just have one package.json?

[2019-12-14 13:00] wickstargazer commented on #1523
Hi i have published a simple version to use with serverless framework...it works with the angular only currently...
https://www.npmjs.com/package/@flowaccount/nx-serverless

[2019-12-14 14:45] iangregsondev opened #2196 "Next.js just sits there and says "compiling" but never finished, new next app - no changes"
- [x] I am running the latest version
- [x] I checked the documentation (nx.dev) and found no answer
- [x] I checked to make sure that this issue has not already been filed
- [x] I'm reporting the issue to the correct repository (not related to React, Angular or any dependency)

## Expected Behavior

To be able to use npm run start and the applications launches and works.

## Current Behavior

Aft

[2019-12-14 16:36] AryanJ-NYC commented on #2196
Two lines down it reads `[ ready ] compiled successfully`. That is the next server.

Upon running this, do you have a Next.js app running at `http://localhost:4200`?

[2019-12-14 16:50] tommck opened #2197 "Can't initialize routing in Angular app using preset"
I ran these 2 commands:
1) `npx create-nx-workspace@latest` and chose Angular and Scss..
2) `ng generate @nrwl/angular:library lazy-lib --lazy --parentModule=apps/nx-app/src/app/app.module.ts --routing --style=scss --tags=views`

I received no errors about routing, but no lazy/routing stuff was set up.
The angular app that was created does not have routing at all, so I would expect an error

## Ex

[2019-12-14 19:58] asherccohen commented on #2196
Check your scss for image import with url...the compiler silently fails without warnings. It happened to me and took me weeks to figure out.

[2019-12-14 21:08] InSuperposition opened #2198 "@nrwl/storybook generates e2e tests in `apps/` folder instead of `libs/`"
## Expected Behavior

When adding `storybook` along with the option to configure `cypress` e2e tests, `nx g @nrwl/react:library:storybook-configuration my-lib` generates e2e tests under the `apps` folder

## Current Behavior

Since my-libs is a library`nx g @nrwl/react:library:storybook-configuration my-lib` generates e2e tests under the `libs` folder

### Steps to Reproduce

Please provide detail

[2019-12-14 22:50] elliottsj opened #2199 "[Feature request] Next.js: load environment variables from a `.env` file in the project folder"
## Expected Behavior

I've created a Next.js project with `nx g @nrwl/next:app myapp`.

When running `nx serve myapp`, I want to be able to load environment variables from a `.env` file in my application project folder. e.g. `myworkspace/apps/myapp/.env`.

As an additional feature, I'd like to be able to pass the name of the environment file as a builder option. This will allow a developer to spec

[2019-12-15 08:15] iangregsondev commented on #2196
Sorry my bad, its working now. I didn't notice any output stating it was listening on port 4200 like other nx apps.

[2019-12-15 08:15] #2196 closed

[2019-12-15 20:18] timscullin commented on #1246
Does the build analyzer still exist in the new UI?

[2019-12-16 03:28] zbarbuto opened #2201 "Recommended Solution for Lazy Loadable Shared Libs"
- [x] I am running the latest version
- [x] I checked the documentation (nx.dev) and found no answer
- [x] I checked to make sure that this issue has not already been filed
- [x] I'm reporting the issue to the correct repository (not related to React, Angular or any dependency)

Possibly related to #914 but not sure.

## Expected Behavior

If I have a lib `SomeSharedServicesLib` which provides ser

[2019-12-16 03:28] #2201 closed

[2019-12-16 03:29] zbarbuto commented on #2201
Didn't mean to create issue - hit enter before I was finished :(

[2019-12-16 07:05] rewathkafley opened #2202 "ng update @nrwl/workspace can't update from 8.8.3 to 8.9.0"
- [ ] I am running the latest version
- [x] I checked the documentation (nx.dev) and found no answer
- [x] I checked to make sure that this issue has not already been filed
- [x] I'm reporting the issue to the correct repository (not related to React, Angular or any dependency)

## Expected Behavior

ng update @nrwl/workspace should update form 8.8.3 to 8.9.0 without error

## Current Behavior

Th

[2019-12-16 07:08] kristofdegrave commented on #930
Maybe another idea is to add the npm name of publishable packages and add this to the paths variable.
[code]
I would like to have this, to make refactoring the publishable packages into a seperate repo easier. In that case I can just leave `import {} from '@myLib/core-test'` in my code. In the current scenario I have to replace  `import {} from '@myLib/core/test'` with  `import {} from '@myLib/cor

[2019-12-16 13:14] enjdusan commented on #2042
My issue was that server and client had a different classNames. I found a solution here:
https://github.com/zeit/next.js/issues/7423

[2019-12-16 15:25] pascalbe-dev commented on #1878
Hey there,
any update here?

This would be really great. Is there any workaround for now? I don't think I can set the testFiles via an env variable, right?

[2019-12-16 15:33] frederikdekegel opened #2203 "@nrwl/storybook: Peer Dependency @storybook/web does not exist on NPM"
_[Please make sure you have read the submission guidelines before posting an issue](https://github.com/nrwl/nx/blob/master/CONTRIBUTING.md#-submitting-issue)_

# Prerequisites

Please answer the following questions for yourself before submitting an issue.
- [x] I am running the latest version
- [x] I checked the documentation (nx.dev) and found no answer
- [x] I checked to make sure that this issu

[2019-12-16 16:48] brandonroberts commented on #1906
The `getCategoriesState` is restricted to the `CategoriesPartialState` by default, so you can do what @mhamel06 mentioned above or:

[code]

Then your types will flow correctly.

[2019-12-16 16:48] #1906 closed

[2019-12-16 17:06] joelmuskwe commented on #1906
Thank you works like a charm.

[2019-12-16 17:15] brandonroberts commented on #2197
Currently the presets do not include routing. As an alternative run:

[code]

We can look at adding a warning to the generate command for a library if the routing configuration is not found.

[2019-12-16 17:18] brandonroberts commented on #1778
Is this still an issue with the latest version of Nx?

[2019-12-16 17:20] brandonroberts commented on #1700
This has been fixed. Please verify with the latest release of Nx.

[2019-12-16 17:20] #1700 closed

[2019-12-16 17:21] brandonroberts commented on #1017
@markgoho will you verify this is still an issue with the latest version of Nx?

[2019-12-16 17:26] brandonroberts commented on #1109
@bridzius a routing module is more for convention, so inlining the routing configuration is valid also. There wouldn't be any significant performance merits, other than its one less NgModule to compile. If anything is still an issue, please verify with the latest version of Nx and open a new issue.

[2019-12-16 17:26] #1109 closed

[2019-12-16 17:48] tommck commented on #2197
Yeah, I figured out a way to get around it once I figured out that there was a problem, but it was unexpected for it to silently fail

[2019-12-16 17:49] tommck commented on #2197
I would argue that silent failure is a **bug**, though

[2019-12-16 18:24] stramel commented on #1931
Was anyone able to get the workaround to work? I couldn't seem to get it to work. This is a major blocker for me right now.

Also, does anyone know if I can create a icon library after this is fixed? For example be able to import my icons from `@stramel/icons`?

[2019-12-16 19:51] skydever commented on #1878
Hi @pascalbe-dev

I am using the `spec` option to handle such use cases. I think there is no need for testFiles and ignoreTestFiles, no actions from my side ...

[2019-12-16 20:08] elliottsj commented on #2196
This will be addressed in https://github.com/nrwl/nx/pull/2173/files#diff-3ae94fa96db6d0580a313332735007e9R49

[2019-12-16 21:39] FrozenPandaz commented on #2203
Thank you for reporting this!

I opened a PR to resolve this.

[2019-12-16 22:03] ashokkumar9892 commented on #1409
I have same issue @nathanhokanson , i have multiple apps in side apps folder and when i am trying to add ng add @nrwl/schematics , getting error 👍
Can only convert projects with one app

any solution?

[2019-12-16 22:37] #2203 closed

[2019-12-17 00:07] weblancaster commented on #2199
@elliottsj there is a feature/issue request for that https://github.com/nrwl/nx/issues/1848 and a PR https://github.com/nrwl/nx/issues/1848 but still waiting on the maintainers to reply on the PR.

[2019-12-17 02:05] alfonsobravi opened #2209 "React application not running in IE11"
## Expected Behavior

The App to load polyfills and run in IE11, possibly in both development and prod mode.

## Current Behavior

**Dev mode:** IE11 raises syntax errors (related to ES6 arrow functions) and stops
**Prod mode:** blank screen, scripts are loaded but nothing seems to be evaluated, judging from performance timeline.

### Steps to Reproduce

#### Dev mode scenario

1. `npx --ignore-ex

[2019-12-17 08:15] pascalbe-dev commented on #1878
Ahh. This works perfectly fine for my use case aswell.
I missed the spec option in your previous comment. Sorry about that. Thanks for your quick response.

[2019-12-17 09:43] ashokshetty1970 commented on #1979
in your module, you may have the file jest.config.js with the following content.
[code]

comment or remove the member "snapshotSerializers". It is not needed. Worked for me,
The resulting should be
[code]

[2019-12-17 09:46] Wizyma commented on #1791
Hey @FrozenPandaz
I am trying to implement nx in my current company, not and easy task because this feat is one of the requirement due to the size of our org and the projects we have, but i would be glad to look into it, if i can do something i'll make a PR :)

But anyway, awsome project !

[2019-12-17 16:55] Hotell opened #2211 "builder: how to write custom builder within nx / provide schematics"
## Current Behaviour

So I was trying to build custom builder by following [angular-devkit docs](https://angular.io/guide/cli-builder).

In the end, I was able to run it, but it didn't work.

![image](https://user-images.githubusercontent.com/1223799/71016389-601fe200-20f5-11ea-9b89-7b87fe5c3741.png)

The process required  "a lot" of overhead from developer perspective:

- need to manually create

[2019-12-17 17:04] Hotell opened #2212 "docs: Extend/Change the rollup configuration used to build libs"
There is a nice official cookbook about how to extend webpack for building apps https://connect.nrwl.io/app/cookbook/4CjE7wgoOyYU3ri08GCAr7

Can you provide similar for rollup/libs ?

thx !

[2019-12-17 17:07] Hotell opened #2213 "docs: is there any way how to copy files when building libs/apps via glob"
taken from comment: https://github.com/nrwl/nx/pull/1907#issuecomment-551991878

[2019-12-17 19:07] elliottsj commented on #2199
@weblancaster Thanks, though I believe that this is slightly different than the proposed build-time environment variables.

I am proposing that we change the [existing dotenv code which loads environment variables from a `.env` file](https://github.com/nrwl/nx/blob/9c50569c55090d5ec7d16d97ac9a829de5aea9b1/packages/next/src/builders/dev-server/dev-server.impl.ts#L20-L22), so that it's more customiz

[2019-12-17 19:20] vsh13 commented on #2209
i have encountered  the same issue. Was able to get around it by putting a **.babelrc** inside my _frontend f_older wit this
[code]

[2019-12-17 19:59] alfonsobravi commented on #2209
Thanks for the hint @vsh13, it definitely did the job for me. I still think it should be addressed or, at least, documented.

[2019-12-17 20:36] elliottsj commented on #1933
It appears that `@nrwl/next` has custom server support now: https://github.com/nrwl/nx/blob/9c50569c55090d5ec7d16d97ac9a829de5aea9b1/packages/next/src/builders/dev-server/dev-server.impl.ts#L52

In your `serve` config, you can pass a `customServerPath` to a Node.js module:

[code]

This module should export a function which accepts two arguments and returns a promise which resolve when the server

[2019-12-17 20:41] elliottsj commented on #1933
However, the custom server cannot be written in TypeScript at the moment; it must be able to execute directly in Node.js. This also means the server module cannot import other packages in the monorepo, because Nx relies on the `tsconfig.json` `"paths"` config to resolve other packages.

This feels like a gap in Nx's support of Next.js. Is there a plan to add support for a Next.js TypeScript custom

[2019-12-17 20:54] tommck commented on #2189
We should be able to build pure script publishable libraries too.. should be in the "@nrwl/workspace" library schematics too

[2019-12-17 20:55] tommck commented on #1587
I think the `paths` should point to build output, not the source files, like the Angular CLI does by default

[2019-12-17 22:13] alfonsobravi commented on #2209
Definitely a Babel configuration issue which should be addressed or documented.
This `.babelrc` in the root folder is now doing the job:
[code]
But it requires manual installation of `@babel/plugin-transform-runtime` and its configuration, alongside the inclusion of `@babel/preset-react` in the presets section.

[2019-12-18 01:01] CharlieGreenman commented on #1778
@brandonroberts unfortunately I am no longer on the project that caused this. Funny enough, I'm on a different project wherein I was unable to use ng add @nrwl/workspace all together. Ended up created a new workspace, porting over current Angular CLI project, and merging back over to original repo(to save commit history).

There is alot of work to be done in tiny bits and pieces for this one, as w

[2019-12-18 04:23] Cammisuli commented on #2213
More often than not, building apps would usually have an `asset` property. For example, building apps would usually have an `asset` property you can specify in the `workspace.json` or `angular.json`.
You can read more here: https://nx.dev/react/api/web/builders/build#assets

With libs, there usually isn't an asset property you can specify when building those.

[2019-12-18 06:54] leon commented on #2213
Yes there is.
It's available via the angular app config.

[code]

This will copy all files from the assets folder of ui-theme into assets

so libs/shared/ui-theme/assets/img/logo.png will become the same as apps/app/assets/img/logo.png

[2019-12-18 06:56] leon commented on #2197
@tommck what was your solution?, i'm struggling with the same thing.

[2019-12-18 15:11] nezed commented on #1439
Found that specifying `setupFile` for builder overrides all and any `setupFilesAfterEnv`.

https://github.com/nrwl/nx/blob/9c50569c55090d5ec7d16d97ac9a829de5aea9b1/packages/jest/src/builders/jest/jest.impl.ts#L118-L122

[2019-12-18 15:29] #2202 closed

[2019-12-18 16:19] andr3i4o opened #2215 "Incorrect args position"
# Prerequisites
Angular 8 CLI and "@nrwl/node": "8.7.0",

## Expected Behavior
passed arguments to be prepended

## Current Behavior

passed arguments are appended at the end of the command

## Other
I have added an args collection to be passed when starting a node proccess.
according to esm library - it should be added with '-r' param but the
getExecArgv function in execute.impl.js is already add

[2019-12-18 17:44] #1093 closed

[2019-12-18 17:44] #1361 closed

[2019-12-18 17:44] #2053 closed

[2019-12-18 19:52] vsavkin commented on #1778
I think instead of trying to make `ng-add` work well, we should implement `nx import`, where you can import an existing project into the workspace. In this case you would do something like that:

[code]

A lot of folks want to move more than one project into a workspace, and ng-add doesn't handle that. Implementing `import` isn't simpler than implementing `ng-add`, but it covers a lot more use cas

[2019-12-18 19:55] vsavkin commented on #2198
In Nx, anything that is executable is an app. Libraries are simply packages of reusable code. Since e2e tests are executable, they are applications and placed in the apps folder. I.e., this is by design.

[2019-12-18 19:55] #2198 closed

[2019-12-18 21:09] virtuoushub opened #2217 "TypeScript and @nrwl/cypress > 8.7.1 load test speeds an order of magnitiude slower than @nrwl/cypress@8.7.1 (headed mode)"
Noticed this when upgrading from `@nrwl/cypress@8.7.1` to `@nrwl/cypress@8.9.0`

Through user testing, I seem to have tracked it down to `8.8.0-beta.4` where the slow down starts to happen. _note_ `8.8.0-beta.1` - `8.8.0-beta.3` still have the test loading speeds of `8.7.1`.

When I quickly look at what is different, in my `package-lock.json` I see `fork-ts-checker-webpack-plugin` is no longer bei

[2019-12-18 23:59] pkelleter commented on #2058
Will this issue be tackled any time soon?
The currently supported version of Next..JS (9.0.5) is almost one year old by now (from March 2019)
I am currently evaluating Nrwl/Nx for our projects and I have to say potentialy being one year off with updates is kinda a deal breaker for us. Had been quite happy with everything else what I've seen so far though.

[2019-12-19 00:53] stramel commented on #2058
@pkelleter As a workaround for the initial creation, I created an empty workspace and then used the `@nrwl/next:app` generator to create the application. Seemed to work well just slightly worse DX for getting started.

[2019-12-19 04:10] #2106 closed

[2019-12-19 04:10] #2174 closed

[2019-12-19 11:18] PhilippeMorier commented on #862
Because I landed here via google... https://github.com/nrwl/nx/issues/1439#issuecomment-561268656 was the solution which worked for me.

1. Add `setupFilesAfterEnv: ['./src/test-setup.ts']` into you `jest.config.js`
2. `Run Test` directly in WebStorm (first failed)
3. `Edit Configurations..` and select the proper `jest.config.js` as `Configuration file` of your app/lib

[2019-12-19 15:22] jimdubbs opened #2219 "nx exiting with code 0 in CI without executing target"
## Expected Behavior
when executing nx affected --target=build in AWS CodeBuild using the --files argument i would expect the affected apps to be build. here is the command I am executing:
npm run affected -- --target=build --files=libs/svc-service-lane-ng-ui/src/lib/accept-quote-line-dialog/accept-quote-line-dialog.component.ts --prod

## Current Behavior
When I run this locally, it executes as I

[2019-12-19 15:29] vsavkin commented on #2219
When happens when you run locally and in CI?

[code]

[2019-12-19 15:31] vsavkin commented on #1791
@Wizyma if you want to submit a PR, we can help!

[2019-12-19 15:40] vsavkin commented on #2177
@PepijnSenders we embrace the single-version policy (as do google, facebook etc). The easiest way to achieve this is to have a single node_modules folder at the root. You can of course have more than one node_modules folder with Nx and use something like `yarn workspaces` or `lerna` to manage it. It works, but goes against the single-version policy, so we don't recommend it unless you **have to**

[2019-12-19 15:40] #2177 closed

[2019-12-19 15:44] vsavkin commented on #2182
I think we could introduce two variables `apps-root` and `libs-root` (which could both be set to `packages`). We do references `apps` and `libs` in schematics creating apps and libs, but I don't believe we hardcode those in many other places.

If you want to submit a PR, we will help you.

[2019-12-19 16:58] jimdubbs commented on #2219
when running both those commands locally it behaves as I would expect. in CI it does not work in the same manner as stated above.

possibly worth noting that my CI process is calling a javascript file ("node ci.js") as I am doing a few things prior to trying to execute the affected build. I did try explicitly setting the build command in CI to "npm run affected:apps -- --files=libs/svc-service-lan

[2019-12-19 17:05] jimdubbs commented on #2219
running "nx build" in CI also automatically exits with code 0 with nothing in the stderr or stdout.

[2019-12-19 21:57] vladimirdrayling commented on #1979
@ashokshetty1970 didn't work for me

[2019-12-20 08:52] cladera commented on #2120
Experiencing the same issue. In my case I'm upgrading from @nrwl/workspace@8.6.

I ran: `npm i @nrwl/workspace@8.8.3 --save-dev` and then `run nx -- migrate @nrwl/workspace@8.8.3 --from="@nrwl/workspace@8.6.0"`. This is the result:

[code]

Before I found this issue I just tried `nx migrate @nrwl/workspace` and I got the same error although les "verbose". Just got "Invalid Version: null".

[2019-12-20 11:39] tommck commented on #1750
`npm run affected:build --base=origin/master --parallel`

Don't you have to add an extra `--` in there to pass the commands to `nx`?

`npm run affected:build -- --base=origin/master --parallel`

[2019-12-20 14:04] Jordan-Hall commented on #1750
@tommck that correct why i closed it. believe their was another issue too but cant remember

[2019-12-20 14:44] mikolaj-leszczynski opened #2225 "Security risk in regard to transitive dependency: serialize-javascript"
## Expected Behavior

Nrwl/nx does not have any security alerts

## Current Behavior
When running `npm audit` I'm getting the info about serialize-javascript which is vulnerable.

### Steps to Reproduce
`npm audit`

[2019-12-20 14:47] asherccohen commented on #1895
Any news on this?

[2019-12-20 14:49] Alivejke commented on #1895
@asherccohen
Hey, I currently don't have time to take a look myself but maybe you can check this repo  https://github.com/elliottsj/nx-nextjs-example that @elliottsj shared with the example with working next.config.js and see if it works for you?

[2019-12-20 14:51] mderoche commented on #1777
Reading through this because I have a use-case with several "sub-applications" that are lazily loaded into a single core Angular application, and they need to be developed by independent teams. I haven't seen that particular wrench thrown in this thread yet.

While the single package.json strategy works great for a single team, I am struggling with how these large companies handle the seemingly in

[2019-12-20 15:16] asherccohen commented on #1895
Thanks.
That helped in an unexpected way. His project was giving me no problems so I looked more into the error. turns out I had a weird Azure management plugin installed in VScode that was somehow interfering.

I'll give it some time and come back to clese the issue if I feel it's completely gone.

[2019-12-20 15:30] skorunka commented on #1975
This is something I'm eager for! Great job.

[2019-12-20 16:05] NiklasPor commented on #1930
We've also been searching for this and built it ourself. We use build tags and specify release triggers based on the build tag. To add the tags inside the build, we simply use this single line of bash:
[code]

It works for app names containing numbers, letters, `-` and `_`.
After that simply create different release pipelines for your different apps and use the build tag as a trigger :)

[2019-12-20 18:32] msschl commented on #681
Had the same issue! After adding `"types": [ "node" ]` to the `tsconfig.app.json` my angular app compiled again.

[2019-12-20 20:49] elliottsj commented on #1933
Here is a proof-of-concept implementing a custom TypeScript server: https://github.com/nrwl/nx/pull/2227

Would love to get some feedback on this

[2019-12-21 13:48] satishbabariya commented on #1541
@Jordan-Hall https://github.com/vuejs/vue-next aka Vue 3 is totally rewritten in typescript. mostly for the ts support reason. and vue 3 is also backward compatible.
so are you guys going with vue 3 alpha or vue 2?

[2019-12-21 15:49] asherccohen commented on #1541
Surely this will be very appreciated.

[2019-12-21 16:05] asherccohen commented on #2196
Ok, if anyone gets stuck here, I have another scenario that can lead to this problem.
Next.js does not import images (or urls in css) out-of-the-box. It requires a specific plugin next/images and configuration in next.config.js.

Just look up docs for this.

[2019-12-21 17:37] FrozenPandaz commented on #2014
This was fixed with https://github.com/nrwl/nx/pull/2089 :tada:

[2019-12-21 17:37] #2014 closed

[2019-12-21 19:22] Jordan-Hall commented on #1541
vue 3 alpha!

[2019-12-21 20:21] markerikson commented on #2014
Great, thanks!

[2019-12-21 22:54] iangregsondev opened #2230 "Best place for storing images for libs ?"
- [x] I am running the latest version
- [x] I checked the documentation (nx.dev) and found no answer
- [x] I checked to make sure that this issue has not already been filed
- [x] I'm reporting the issue to the correct repository (not related to React, Angular or any dependency)

Hi,

I have created a react app with multiple libs - its based off a angular.json workspace. Under apps there is a asset

[2019-12-21 23:35] FrozenPandaz commented on #2230
Good question.

The [nx-examples repo](https://github.com/nrwl/nx-examples/blob/master/angular.json#L164) has an example of storing shared assets in a lib. You can have app specific assets in the app assets folder such as maybe a specific logo or favicon just for that app. If assets are shared between different apps, you can create a lib with no typescript or anything and put them there. Unfortuna

[2019-12-21 23:35] #2230 closed

[2019-12-22 08:34] iangregsondev commented on #2230
Great stuff, thanks for the info with regards to implicitDependency

[2019-12-22 08:40] cladera opened #2231 "workspace builder schematic"
## Expected Behavior

The same way there is a `workspace-schematic` schematic I would expect to be a `workspace-builder` schematic that generates and configures a custom builder into `tools` directory.

## Current Behavior

There is no such schematic in workspace collection.

## Other

Creating builders it not perhaps a task that one would do on a daily basis and creating a built-in schematic migh

[2019-12-22 09:01] iangregsondev opened #2232 "@nrwl/workspace run-commands throws "should have required property 'class'"
- [x] I am running the latest version
- [x] I checked the documentation (nx.dev) and found no answer
- [x] I checked to make sure that this issue has not already been filed
- [x] I'm reporting the issue to the correct repository (not related to React, Angular or any dependency)

## Expected Behavior

Should run commands

## Current Behavior

Added

[code]

as per https://connect.nrwl.io/app/cookbo

[2019-12-22 16:29] demisx commented on #1777
I like the idea of having a single  master `package.json` file for enforcing versions across the entire repo, but I’m still struggling to understand how one creates a docker image for each app with the  `package.json` being a subset from the master file? How do you derive an appropriate version of `package.json` per each app? 🤷🏼‍♂️ Obviously, I don’t need angular packages in my NestJs container an

[2019-12-22 16:42] demisx commented on #633
This is a good start: https://blog.nrwl.io/blazing-fast-distributed-ci-with-nx-a1f5974f7393
Would love to see adding Docker to the mix and how to deal with deriving  separate `package.json` files with minimum packages needed to run a given container.

[2019-12-22 16:47] kraiz commented on #1777
I use [generate-package-json-webpack-plugin](https://www.npmjs.com/package/generate-package-json-webpack-plugin) to solve this problem.
But I would like to generate a yarn/npm lockfile instead to tighten the dependencies but didnt find a solution for this yet.

[2019-12-22 18:26] demisx commented on #1777
@kraiz Thank you for the tip. Do you know if this plugin can be used for Angular apps as well to weed out the backend (NestJs) dependencies? In other words, is it smart enough to parse Angular source code and build a list npm packages that app needs?

[2019-12-22 18:44] edufranzoni commented on #1983
I also have similar problems, because my user name (windows profile folder) has space. and i use @latest version.

when I run the 'npx create-nx-workspace myWorkspace' command, I get the error:

"
npm ERR! code ENOLOCAL
npm ERR! Could not install from "Franzoni \ AppData \ Roaming \ npm-cache \ _npx \ 9340" as it does not contain a package.json file.

npm ERR! A complete log of this run can be fou

[2019-12-22 22:42] ttma1046 commented on #1859
My guess is the constraints are like 'and' relationship not 'or'.
Since your `booking-api` has three tags, all these three need to match with the constraints.

[2019-12-22 22:43] CharlieGreenman commented on #1778
My apologies, my notifications for github are going to wrong e-mail. Going to work on fixing that right now.

That would be nice. The only thing I had to do in this process to make sure worked as expected.
1. I moved over from non-workspace repo, and replaced workspace repo app/src + app/assets + app/environments.
2. I kept `package.json` of app importing. In addition, completely cleaned out packa

[2019-12-23 07:30] kraiz commented on #1777
You don't need it for angular because it's webpack configuration is already making sure you only get the stuff you need into your bundle files without the need for an external runtime dependency folder (node_modules).

[2019-12-23 11:16] hadrien-toma opened #2233 "Workspace creation failure on node:alpine container"
### Description
I am facing the following issues when attempting to create a workspace on a `node:alpine` based container. The container is running on Kubernetes. I precise all of this because it works when simply doing:
[code]
So it seems that this part of the context matters here :thinking:.
Besides, if I use the image directly with Docker, it works. So the errors happen only when running on Kub

[2019-12-23 15:11] demisx commented on #1777
@kraiz Got it. That makes sense.

[2019-12-23 15:12] markgoho commented on #2059
I was getting a similar error -- it turned out I had some existing (older) @angular dependencies in the project folder where I was trying to create a new workspace.

[2019-12-23 16:24] hadrien-toma commented on #2233
I tried creating the workspace in the container file system instead of in the volume and it works, so the problem is likely to be on the volume side. :persevere:

[2019-12-23 17:31] zodiac1214 commented on #2091
is there a way to pass eslint/tslint arguments in nx? something like `nx lint mylib1 -- --fix --format=json --outputFile=some.file`

[2019-12-23 17:34] #2233 closed

[2019-12-23 19:03] ashokkumar9892 commented on #1943
Hi, is there way i can set restrict  or not allow some tag?

thanks

[2019-12-23 21:56] #2189 closed

[2019-12-24 05:19] FrozenPandaz commented on #842
@krawetko Every project is generated with exclusions of outside files:

https://github.com/nrwl/nx-examples/blob/master/angular.json#L96

Can you confirm you have this configuration? If so, can you please provide a repro (public repo) to help us investigate the issue?

[2019-12-24 05:26] FrozenPandaz commented on #1824
Closing this issue as I'm quite certain this issue has been resolved and no reproduction of the issue has been produced. If you encounter this issue in the future, please open a new issue.

[2019-12-24 05:26] #1824 closed

[2019-12-24 17:11] chigix commented on #1221
Although I have got the usage on launching api server and angular application separately, I'm still curious that whether there would be cons or risky problems if merge serving angular and api/nest server into one npm script ?

[2019-12-24 17:53] FrozenPandaz commented on #2232
Hi @iangregsondev

What version of the Angular CLI are you on?

`@nrwl/workspace@^8.0.0` requires `@angular/cli@8.0.0`

[2019-12-25 05:22] zishe commented on #2051
Same behaviour. `nx format:write` doesn't do anything too.

[2019-12-25 18:12] bennymeg commented on #1518
thomas-jakemeyn,
Your solution sounds great, I have a few questions about it:

1. Does this mean that we will have to keep the `implicit Deps` updated every time we update a dependency that is related to the current project?

2. In order to migrate your script to npm one will be need to replace copyYarnLockFile function to somthing similar to this:
`function copyPackageLockFile(outputPath) {`
`  r

[2019-12-26 00:32] bennymeg commented on #1777
@kraiz ,
Is [this](https://github.com/nrwl/nx/issues/1518#issuecomment-533555445) what you are looking for?

[2019-12-26 11:18] kraiz commented on #1777
Ahh, didn't know that the lockfile can be a superset. Thx, will try that!

[2019-12-26 11:45] iangregsondev commented on #2232
thanks @FrozenPandaz , yep I have a workspace of 7.x and cli of 7.x

Updated and it seems to work

Thanks

[2019-12-26 11:45] #2232 closed

[2019-12-26 12:48] KostasDimakis commented on #2152
Cheers for the amazing work you do over at nrwl.

As far as supporting more tech stacks are there any plans of supporting **gatsby** and **firebase functions**. Also, I don't think that's only me but I couldn't figure out how to integrate a `service-worker` using your version of `create-react-app` and the build tool it's using.

[2019-12-26 21:35] #2225 closed

[2019-12-27 06:55] iangregsondev opened #2240 "Ansi Colors/formatting are disabled when using @nrwl/workspace:run-commands"
- [x] I am running the latest version
- [x] I checked the documentation (nx.dev) and found no answer
- [x] I checked to make sure that this issue has not already been filed
- [x] I'm reporting the issue to the correct repository (not related to React, Angular or any dependency)

## Expected Behavior

For commands that are run via the builder (@nrwl/workspace:run-commands) to output colors and form

[2019-12-27 07:20] iangregsondev opened #2241 "Replacing build with run-commands builder and getting access to configuration "--prod" ?"
- [x] I am running the latest version
- [x] I checked the documentation (nx.dev) and found no answer
- [x] I checked to make sure that this issue has not already been filed
- [x] I'm reporting the issue to the correct repository (not related to React, Angular or any dependency)

## Expected Behavior

I have managed to replace my SERVE with a custom run-command and it's working great apart from som

[2019-12-27 20:13] JamesCoonce commented on #1541
How can I help out? I've got a ton of free time!

[2019-12-27 21:26] Jordan-Hall commented on #1541
Hi @JamesCoonce  I'll push a fork up after the new year. I could do with help :)

[2019-12-28 05:41] sameerinfodb opened #2244 "options with create-nx-workspace to execute it silently."
_[Please make sure you have read the submission guidelines before posting an issue](https://github.com/nrwl/nx/blob/master/CONTRIBUTING.md#-submitting-issue)_

# Prerequisites

Please answer the following questions for yourself before submitting an issue.
**YOU MAY DELETE THE PREREQUISITES SECTION.**

- [x] I am running the latest version
- [x] I checked the documentation (nx.dev) and found no ans

[2019-12-28 16:38] BioPhoton commented on #2211
Hi, thought this could be interesting here:
https://github.com/just-jeb/angular-builders

Best,
Michael

[2019-12-28 18:46] hadrien-toma commented on #2233
For information: the problem I experience is related to https://github.com/kubernetes/minikube/issues/4621

[2019-12-28 18:54] wKovacs64 commented on #1933
Nice, @elliottsj. I think TS and importing from the monorepo are must-have features of a custom server implementation, so hopefully your RFC gets some traction. 🤞

[2019-12-28 23:25] Erazzer commented on #619
actually I followed your guide instead of adding xplat and its great! Thanks :D

[2019-12-30 09:40] sameerinfodb commented on #2213
@leon
How about Style sheets, can we store style sheet as well in the shared folder then copy it to assets folder at the time of build.

[2019-12-30 19:30] nadavsinai commented on #602
Were migrating a whole ecosystem of apps and libs from publishing to internal NPM server to a mono-repo, and obviously we're keeping the ability to publish, I have encountered this error and fixed it via introducing a `tsconfig.lib.json` to the workspace root folder, it includes the path aliases for all libs to be from the **dist** folder rather than the lib/ source. I then changed all the tsconfi

[2019-12-30 20:39] #2124 closed

[2019-12-30 21:28] jbojcic1 commented on #1720
We are also having issue with this. Our tests stoped working once we introduced linguijs i18n library which uses babel macros.

@Hotell @jaysoo is there any way to extend or configure jest builder to use babel-jest with same babel config that web build and dev-server builders are using or I have to write completely new builder?

[2019-12-31 02:20] quanganh206 commented on #2147
Hi @FrozenPandaz, I success with Webpack build on NestJS app but still have problem with uglify it for production. Is there any small tip here to overcome it?

[2019-12-31 09:24] asherccohen commented on #1860
@JBuijgers Greta job, do you have any update on this?
I've tried your package and I'm stuck at an error (but surely not related to your work):
* Where:
Script 'C:\Users\asher\Documents\Projects_live\Monorepo\code-tank\node_modules\@react-native-community\cli-platform-android\native_modules.gradle' line: 170

* What went wrong:
A problem occurred evaluating script.

[2019-12-31 14:16] iangregsondev opened #2248 "npx create-nx-workspace test, installs schematics from v7"
- [x] I am running the latest version
- [x] I checked the documentation (nx.dev) and found no answer
- [x] I checked to make sure that this issue has not already been filed
- [x] I'm reporting the issue to the correct repository (not related to React, Angular or any dependency)

## Expected Behavior

Performing a

[code]

should install the latest (including schematics) from v8 (currently).

## Cu

[2019-12-31 14:19] iangregsondev commented on #2248
This means that doing something simple like this

[code]

fails with errors, you need to first update the schematics before continuing.

[2019-12-31 15:24] iangregsondev commented on #1860
I have abandoned trying to run the react-native expo via nx tools. Although I am still using NX as a structure.

What I did was retain the package.json under my apps/rn (where my react native app sits inside of the nx structure). The package.json comes from creating a branch new expo project using the expo cli.

I tried many ways of trying to install the expo etc inside the root of the package.jso

[2019-12-31 20:36] iangregsondev commented on #1860
Hi, I thought I would update here, my previous tests were flawed :-(

Multiple package.json was cause for confusion and also the node_modules lives under apps/rn but what about the  libs/rn etc ... These would not be able to access them - multiple package.json - was never the right solution :-)

Anyway, I have a working version, I felt compelled to repost here as I didn't want anyone following my

[2019-12-31 22:04] tdnl opened #2249 "Compile failure with Next app using typescript functions from .ts file"
# Prerequisites

Please answer the following questions for yourself before submitting an issue.
**YOU MAY DELETE THE PREREQUISITES SECTION.**

- [x] I am running the latest version
- [x] I checked the documentation (nx.dev) and found no answer
- [x] I checked to make sure that this issue has not already been filed
- [x] I'm reporting the issue to the correct repository (not related to React, Angul

[2020-01-01 13:58] mehrad-rafigh commented on #2248
Hi @iangregsondev
have you tried the `--ignore-existing` flag, e.g. `npx --ignore-existing create-nx-workspace test`.
Can you please try this and let us know?

[2020-01-01 14:25] iangregsondev commented on #2248
Damb :-) ! Yes - it appears I have the schematics installed globally - so doing your command above, works great.

I presume the correct course of action here,is to remove the schematics globally ?

[2020-01-01 14:30] ksakae1216 opened #2251 "Tutorial Step4 wrong sample source"
_[Please make sure you have read the submission guidelines before posting an issue](https://github.com/nrwl/nx/blob/master/CONTRIBUTING.md#-submitting-issue)_

# Prerequisites

Please answer the following questions for yourself before submitting an issue.
**YOU MAY DELETE THE PREREQUISITES SECTION.**

- [x] I am running the latest version
- [x] I checked the documentation (nx.dev) and found no ans

[2020-01-01 17:15] EfstathiadisD opened #2252 "Can I Customise the way Nx generator works?"
I am curious, if Nx, supports(Pretty sure it does not), or if it plans to support some customisation regarding the Generator. For example, in the following commands:

**Regarding Workspace:**
[code]
With the above example, I would like to be able to customise how my Generated Files are gonna be named. This structure `@SomeProject`, is very important to me.

**Regarding App and Lib Generation:**
[c

[2020-01-01 18:55] mehrad-rafigh commented on #2248
Good to hear it works :)
I would recommend not to install it globally, expect the `@nrwl/cli` package if you want to run `nx` without prefixing it with `npx`.
Please close the issue as well, if your problem is resolved

[2020-01-01 19:19] iangregsondev commented on #2248
Great thanks!

[2020-01-01 19:19] #2248 closed

[2020-01-01 21:38] Aleksion commented on #2249
I'm experiencing the exact same thing.... Seems I have to change everything to .tsx files

[2020-01-01 22:12] mehrad-rafigh commented on #2056
Hi all,

I would like to implement this feature behind the `file` flag, as it currently outputs the dep graph as a json file.
So, once implemented, one could invoke it with:
`nx affected:dep-graph --file=output.html` or
`nx affected:dep-graph --file=output.png`

The easiest option to implement is the "export to html". The implementation is there already. It just needs a bit of refactoring.

About

[2020-01-01 23:25] mehrad-rafigh commented on #1996
I think we can close this issue @FrozenPandaz

[2020-01-02 08:28] ThibaudAV commented on #2056
I came to almost the same conclusion. I wasn't a fan of adding a dependency to make a dom in image (or capturing a url).

The other idea I had is to redo the graph with a tool supporting Command Line Rendering ( anychart, vega, ...)
but 🤷‍♂

[2020-01-02 10:48] scallacs opened #2253 "workspaceFileName() failed to give the correct filename when whe have @angular/cli as a dependency but using the workspace.json configuration file"
# Prerequisites

## Expected Behavior

workspaceFileName() should return  *workspace.json*

## Current Behavior

workspaceFileName() returns  *angular.json*

## Failure Information (for bugs)

### Steps to Reproduce

Please provide detailed steps for reproducing the issue.

1. create an nx project without angular
2. npm install @angular/cli package
3. `nx dep-graph`
3. It will throw 'no such file

[2020-01-02 15:39] maartentibau commented on #1903
I actually have a small "guide" for it.

[code]

[2020-01-02 16:26] Hotell commented on #2231
I guess this is duplicate of https://github.com/nrwl/nx/issues/2211 ?

[2020-01-02 17:50] jaysoo commented on #1720
@jbojcic1 You can swap out `ts-jest` with `babel-jest` in the `jest.config.js` file at your workspace root.

[code]

[2020-01-02 18:50] wuichen commented on #1720
@jaysoo  are there other things i have to tweak? changing to babel-jest solely in the root folder breaks the test and gives me this error

● Validation Error:

  Module babel-jest in the transform option was not found.
         <rootDir> is: /Users/ichenwu/code/mercy/libs/board

[2020-01-02 18:57] jaysoo commented on #1720
@wuichen Make sure you also install `babel-jest`.

[code]

Once we update our schematics to use `babel-jest` this would be done automatically for you.

[2020-01-02 20:09] Hotell commented on #2241
While not ideal, you can do something like following:

**dummy script**

[code]

**workspace architect config**

[code]

now you can run

[code]

which will console log `[ '--prod=true' ]`

Now you need to implement arguments parser on your own... but this API is not very nice DX.

Wondering if allowing standard argument passing would be such a problem ? cc @jaysoo

[2020-01-02 20:55] jaysoo commented on #1720
Bringing in @Cammisuli as a second set of eyes on this. 👀

I haven't given this enough thought yet, but I definitely see a need to use `babel-jest` for React projects. We have two options:

1. Add support for React apps/libs only (so Angular and other projects won't be affected / benefit from this).
2. Add an option directly to `@nrwl/jest` schematics to use `babel-jest`, which can be used for non

[2020-01-02 21:45] dacarley commented on #2011
Any update on this issue?

[2020-01-02 21:51] Hotell commented on #2213
That can be done in similar way via `<target>.options.styles` https://nx.dev/react/api/web/builders/build#styles

demo: https://github.com/nrwl/nx-examples/blob/master/angular.json#L38-L41

[2020-01-02 21:56] Hotell commented on #2213
this answer is enough, thx @Cammisuli , Closing

[2020-01-02 21:56] #2213 closed

[2020-01-02 22:28] Hotell commented on #1720
I'm in favour of option 2.

**Why?**

- in our organization we don't use typescript for transpilation (because of speed and ecosystem mostly / frontend is react only - for now ), but we have also libs/apps in node...
- also AFAIR there were various issues with transpiling vanilla web components in the past with typescript (so babel needed to be used)
- while having babel-jest option for every ecoc

[2020-01-02 22:38] jbojcic1 commented on #1720
@jaysoo it's not enough to just swap ts-jest with babel-jest because currently nx is setting all babel plugins and presets in the webpack config as babel-loader options. When running tests with babel-jest webpack is not used.

I ended up creating .babelrc.js in my app root and specified babel presets and plugins there. There is one caveat though. If you have some plugins that you need when running

[2020-01-03 15:09] FrozenPandaz commented on #2251
Hi @ksakae1216,

Thank you for reporting this issue. Do you mind providing a URL where you noticed this issue?

[2020-01-03 15:22] FrozenPandaz commented on #2252
No, this functionality does not exist currently but it could be added.

You should be able to move the files after they are generated and it should work after reconfiguring everything.

Is someone in the community interested in adding this feature to the code generation?

[2020-01-03 16:09] leota opened #2259 "React storybook: Can't resolve .ts files"
# Prerequisites
- [x] I am running the latest version
- [x] I checked the documentation (nx.dev) and found no answer
- [x] I checked to make sure that this issue has not already been filed

## Expected Behavior

Being able to import from `.ts` into `.stories.tsx`.

## Current Behavior

It throws following error while compiling:
[code]

### Steps to Reproduce

This is my project structure:
[code]

[2020-01-03 18:52] jaysoo commented on #1720
@jbojcic1 Yes, you will unfortunately have to duplicate babel settings for now.

It sounds like supporting `--babel` option for `@nrwl/jest` would be the best option. Angular apps can continue using `ts-jest`, and other projects can switch to `babel-jest` for better compatibility with their ecosystem.

[2020-01-03 20:47] FrozenPandaz commented on #1251
This issue should be resolved.

If you continue to experience this issue, please open a new issue with a repro.

[2020-01-03 20:47] #1251 closed

[2020-01-03 21:06] FrozenPandaz commented on #2252
I found an existing issue so I am closing this issue as a duplicate of: https://github.com/nrwl/nx/issues/2182

[2020-01-03 21:06] #2252 closed

[2020-01-03 21:09] EfstathiadisD commented on #2252
Cool. I see that now both Issues are closed. I would keep one as open. I am gonna work on this on my free time.. Will submit a PR once ready.. Thanks!!

[2020-01-04 08:24] puku0x commented on #1931
https://github.com/nrwl/nx/pull/1964 merged! Thank you @jaysoo !

[2020-01-05 12:15] jusefb commented on #2012
This is still an issue. I have update to nx 8.9.0:

[code]
ng serve works for angular projects but fails for web projects (@nrwl/web) with the following error:

[code]
here is the output of ng --version

[code]

it seems like NX web project use capabilities nto supported by webpack 4.39.2

[2020-01-05 17:25] Hotell commented on #2060
this can be closed right ? cc @isaacplmann

also API docs describe it quite well https://nx.dev/web/api/workspace/builders/run-commands

@iangregsondev

Check following https://github.com/nrwl/nx/issues/2241#issuecomment-570328343

[2020-01-05 17:35] Hotell commented on #1421
This can be closed cc @FrozenPandaz  -> https://connect.nrwl.io/app/cookbook/4in0DECnRZILfXVMh7Mdtr

[2020-01-05 17:51] Hotell opened #2267 "@nrwl/workspace - nx workspace-schematic my-schematic --help doesn't invoke help on custom schematic"
# Prerequisites

- [x] I am running the latest version
- [x] I checked the documentation (nx.dev) and found no answer
- [x] I checked to make sure that this issue has not already been filed
- [x] I'm reporting the issue to the correct repository (not related to React, Angular or any dependency)

## Expected Behavior

[code]

Should print out to terminal help based on custom schematic schema

## Cu

[2020-01-05 19:24] iangregsondev commented on #2060
Sure thank you. I will close it.

[2020-01-05 19:24] #2060 closed

[2020-01-05 21:37] #2240 closed

[2020-01-06 06:20] vespertilian opened #2268 "ng add @nrwl/workspace --verbose ---- The "path" argument must be one of type string, Buffer, or URL. Received type object"
You can close this ... solution below just add it to hopefully help someone else with this error.

ng add @nrwl/workspace

Error

The "path" argument must be one of type string, Buffer, or URL. Received type object

## Failure Information (for bugs)

Renamed karma.conf.js -> apps/noggin-apps/karma.conf.js
    Renamed tsconfig.app.json -> apps/noggin-apps/tsconfig.app.json
    Renamed tsconfig.spec

[2020-01-06 06:21] #2268 closed

[2020-01-06 06:44] #1421 closed

[2020-01-06 09:05] vinzcoco commented on #1860
Hello,
Very good feature. Have you got a release date for this feature ?
Thank's

[2020-01-06 11:20] ksakae1216 commented on #2251
@FrozenPandaz,

URL is below.
https://nx.dev/angular/tutorial/04-connect-to-api

[2020-01-06 13:50] anthony-telljohann commented on #1979
I was able to get this to work locally by doing the following:
- follow the [https://github.com/thymikee/jest-preset-angular/releases/tag/v8.0.0](`jest-preset-angular` v8 migration guide)
- **commet out or remove** the following lines in `@nrwl/jest/src/builders/jest/jest.impl.js`:

[code]

Going forward, I believe there are a few things we should consider:
- intentionally (tightly) couple `jest-p

[2020-01-06 15:25] leota commented on #2259
I fixed it pushing the`.ts` extension in `libs/ui/.storybook/webpack config.js`, which now looks like this:
[code]

[2020-01-06 19:01] kleky commented on #1221
I got caught out by this as a newby. Saved with thanks to this issue

[2020-01-06 19:22] jbojcic1 opened #2272 "Add ability to set memoryLimit of ForkTsCheckerWebpackPlugin"
Currently there is no way to set the memory limit for the ForkTsCheckerWebpackPlugin. Only number of workers can be set.

This can be a problem if you have limited resources in the CI/CD tool.

The only way to go around this currently is too extend webpack config and modify default by creating new instance of ForkTsCheckerWebpackPlugin, but that doesn't seem like an ideal solution.

[2020-01-06 19:46] #2259 closed

[2020-01-06 19:46] jaysoo commented on #2259
@leota Thanks for the fix! It is merged.

[2020-01-06 19:47] iangregsondev commented on #2241
Thanks @Hotell , I will give it a shot.

[2020-01-06 19:47] #2241 closed

[2020-01-06 19:55] b-johnse opened #2274 "affected: commands break in 8.10.0"
## Expected Behavior

Updating from 8.9.0 to 8.10.0 to have no breaking changes and scripts execute same as before without modification, or to receive a meaningful error message.

## Current Behavior

Any commands for affected files ( affected:test, affected:lint, affected:apps) now produce an identical error after updating to latest

## Failure Information (for bugs)

[code]

### Steps to Reprodu

[2020-01-06 20:02] brandonroberts commented on #2197
Just to follow-up here, I'm working on an feature to add interactive mode to `create-nx-workspace`, so if you use `--interactive=true` it will show you the prompts from the underlying schematics.

https://github.com/nrwl/nx/pull/2258

[2020-01-06 21:55] etiennecl commented on #2249
I'm also experiencing the same thing. Kind of a bummer has I was starting to migrate our current monorepo project to `nx` and all our lib files are using .ts

[2020-01-06 23:32] stramel commented on #2084
@AdamVig #1964 was merged and released but appears to only target apps.

I am wanting to have a library called `@stramel/icons` which would export all the React Component versions of my SVGs.

[2020-01-06 23:44] alfaproject commented on #2274
I get maximum call stack exceeded:

[code]

[2020-01-06 23:45] alfaproject commented on #1990
This is now valid again after updating to nx 8.10.1 ):

[code]

[2020-01-06 23:53] stramel commented on #1931
Is anyone able to get v8.10.1 to work? It keeps saying it can't find the module.

[2020-01-07 01:32] puku0x commented on #1931
Unfortunately not yet.

I could load SVGs when I commented out `issuer` from `@nrwl/react/plugins/webpack.js`

![image](https://user-images.githubusercontent.com/2607019/71861076-77704f00-3138-11ea-8de0-e90254ec5652.png)

[2020-01-07 01:35] AdamVig commented on #2084
@stramel Sorry, I thought that PR would make it possible to embed SVGs in React libraries. I need that functionality as well.

[2020-01-07 01:59] puku0x commented on #1931
Current work around for Nx v8.10 + Ionic/React.

- webpack.config.js
[code]

- workspace.json
[code]

[2020-01-07 05:54] tdnl commented on #2249
Finally able to investigate the issue. Seems to be working, that was an easy fix 🙂

[2020-01-07 10:39] alexbarnhill opened #2278 "@nrwl/nest, @nrwl/node using outdated version of copy-webpack-plugin, causing npm audit issues"
## Expected Behavior

Please describe the behavior you are expecting
Running `npm audit` with @nrwl/node and @nrwl/nest installed shouldn't cause a security error

## Current Behavior

What is the current behavior?

I've installed both of the above named packages, and they both report XSS security vulnerabilities
## Failure Information (for bugs)

Please help provide information about the failure

[2020-01-07 10:52] asherccohen opened #2279 "Add a command to remove an app from the workspace."
# Prerequisites

Please answer the following questions for yourself before submitting an issue.
**YOU MAY DELETE THE PREREQUISITES SECTION.**

- [x ] I am running the latest version
- [ x] I checked the documentation (nx.dev) and found no answer
- [ x] I checked to make sure that this issue has not already been filed
- [x ] I'm reporting the issue to the correct repository (not related to React, A

[2020-01-07 12:25] leota commented on #2259
@jaysoo great, thank you!

[2020-01-07 14:18] Cammisuli commented on #2272
Hi @jbojcic1 what package are you using that you're running into issues with `ForkTsCheckerWebpackPlugin`?

[2020-01-07 14:53] etiennecl commented on #2249
Will this be released in patch version soon?

[2020-01-07 16:22] jbojcic1 commented on #2272
@Cammisuli I am using React but, if I am not missing something, the code that configures that is in the web package https://github.com/nrwl/nx/blob/0b520b9639829738226eb36875c6d96738f0e061/packages/web/src/utils/config.ts#L75

[2020-01-07 16:37] jbojcic1 commented on #2272
If you think that's something that could/should be added, I'd be happy to help.

[2020-01-07 17:31] Cammisuli commented on #2272
@jbojcic1 you're correct, the react package uses the `@nrwl/web` package. An option could definitely be added to set the memory of the type checker (similar to what we have with `maxWorkers` option).

You're more than welcome to help if you'd like. Just let me know if you have any questions!

[2020-01-07 18:16] debuggerpk opened #2284 "Should not format the dist folder"
_[Please make sure you have read the submission guidelines before posting an issue](https://github.com/nrwl/nx/blob/master/CONTRIBUTING.md#-submitting-issue)_

# Prerequisites

Please answer the following questions for yourself before submitting an issue.
**YOU MAY DELETE THE PREREQUISITES SECTION.**

- [x] I am running the latest version
- [x] I checked the documentation (nx.dev) and found no ans

[2020-01-07 19:25] stramel commented on #2084
@AdamVig I'm wondering if the react lib just needs the custom type since the app handles the bundling?

[2020-01-07 19:39] stramel commented on #2084
Appears that works. I re-created the react lib for it which added the correct typing to the tsconfig. I'm still unable to get the app to work with the svg files but that should be under #1931. Closing again.

My new `tsconfig.json` looks like:

[code]

[2020-01-07 19:39] #2084 closed

[2020-01-07 19:48] stramel commented on #1931
Hmmm @puku0x I wasn't able to get it working using that webpack config...

@jaysoo Is there documentation around what needs updated or a way to update the apps with the required config? When I run `nx serve nextjs-app` it gives me this error message:

[code]

[2020-01-08 01:50] dopsonbr commented on #1230
@abdoolly  I appreciate your work and thanks for providing the alternate builder.

@vsavkin @FrozenPandaz
Has there been any progress on allowing tsc based builders? I can make my project work using the alternate builder but it feels like this functionality really belongs in the NX builder.

My use case is NX workspace with an Angular frontend and NestJS backend. Both applications must be deployed

[2020-01-08 06:56] CRACKISH commented on #1990
after update on 8.10.1 i have error again

[2020-01-08 06:57] CRACKISH commented on #2274
I have same error

[2020-01-08 07:40] kvetis commented on #1990
Tested different versions and the regression appears in `8.10.0`, `8.9.0` is ok.

[2020-01-08 08:45] roksin commented on #2052
Hi @vsamotskiy. How did you resolve this problem. Can you help to me?

[2020-01-08 09:40] tmtron commented on #1320
@matheo: but when you use `allow`, then the tag-constraint checking will also not work for those paths, right?  i.e. then we can use those classes in all libs/apps, no matter what tags (scopes) they have

[2020-01-08 09:59] tmtron commented on #1018
We also want to allow deep imports via path, but still want to impose the tag-constraints (i.e. multiple entrypoints).
If I understood the current `allow` feature on `nx-enforce-module-boundaries` correctly, this is not yet possible: see the example in the [comment above](https://github.com/nrwl/nx/issues/1018#issuecomment-537701875) by @kamknitt

@vsavkin: Can you reopen this issue, or should we

[2020-01-08 16:22] vsavkin commented on #2284
@debuggerpk do you have the prettierignore file and what is in it?

The prettierignore file should contain /dist.

[2020-01-08 18:11] #2051 closed

[2020-01-08 18:13] #2024 closed

[2020-01-08 18:14] #2278 closed

[2020-01-08 18:35] elliottsj opened #2289 "[Next.js] [Cypress] Support specifying a custom baseUrl"
## Expected Behavior

Able to specify a custom `baseUrl` when running Cypress tests against a Next.js application. For example, I use a reverse proxy to serve my app on `https://app.example.com`, which forwards traffic to `http://localhost:3001`. I want my Cypress tests to connect to `https://app.example.com`.

## Current Behavior

When using `devServerTarget` with `@nrwl/cypress`, the Cypress pro

[2020-01-08 20:36] stramel commented on #2051
@vsavkin After updating my `@nrwl` deps to `8.11.0` I still had to manually force `"@angular-eslint/builder"` to `v0.0.1-alpha.18`

[2020-01-08 21:06] zaverden commented on #2274
In 8.11.0 the error has been improved. Now it says `Invalid project name is detected: moment`

https://github.com/nrwl/nx/commit/0c7a9d3#diff-3d7fd504c78c121f5722de1bedbc0deeR74

[2020-01-08 21:25] zaverden commented on #2274
repo to reproduce - https://github.com/zaverden/nx-affected-error/tree/affected-error
1. clone
2. switch to `affected-error` branch
3. run any `affected` command, for example `yarn affected:apps`

Steps:
1. create ws
2. add some dependency, for example `moment`
3. commit to `master`
4. start new branch
5. remove the dependency
6. drop `dist` folder (to remove nxdeps cache)
7. run `affected` comman

[2020-01-08 21:29] zaverden commented on #2274
@alfaproject try `8.11.0`. Looks like commit https://github.com/nrwl/nx/commit/0c7a9d3 solves call stack issue.

[2020-01-09 03:38] techaks opened #2291 "Unable to override NODE_ENV during custom Configuration"
I am trying to set  NODE_ENV=STAGING

[2020-01-09 03:50] dflor003 opened #2292 "npm run affected:* broken when workspace is not in root folder of repo"
## Expected Behavior

I can run affected commands such as `npm run affected:lint` even if my NX workspace is NOT at the root of the git repo.

## Current Behavior

Running `npm run affected:lint` fails with errors when your NX project is in a subdirectory in your git repo instead of off the root. Here's how my folder structure looks:

[code]

## Failure Information (for bugs)

I did some digging a

[2020-01-09 07:45] tommyc38 opened #2293 "Could not find module "@nrwl/storybook""
_[Please make sure you have read the submission guidelines before posting an issue](https://github.com/nrwl/nx/blob/master/CONTRIBUTING.md#-submitting-issue)_

# Prerequisites

Please answer the following questions for yourself before submitting an issue.
**YOU MAY DELETE THE PREREQUISITES SECTION.**

- [x] I am running the latest version
- [x ] I checked the documentation (nx.dev) and found no an

[2020-01-09 08:02] tommyc38 commented on #2293
I ran: `npm -D install @nrwl/storybook` and that seemed to work.  You may want to add this step to your documentation.  The issue I have now appears to be #2121.  All of my components are broken out into modules within the lib.  I am assuming many others are also doing this as well.

[2020-01-09 09:07] RichardMisiak commented on #2292
I'm seeing the same issue
In our case we have a repo that looks like
[code]

Running `affected` from the `app` folder prints:
[code]

Present in 8.10.0 and 8.11.0

[2020-01-09 09:08] RichardMisiak commented on #2292
I'm seeing the same issue
In our case we have a repo that looks like
[code]

Running `affected` from the `app` folder prints:
[code]

Present in 8.10.0 and 8.11.0

[2020-01-09 11:57] mehrad-rafigh commented on #2292
This ticket seems to be a duplicate! The same has been reported [here](https://github.com/nrwl/nx/issues/2274)

[2020-01-09 12:00] RichardMisiak commented on #2292
@mehrad-rafigh I don't think is it, the linked ticket concerns an error occurring for any runs of `nx affected` but this is about a different error that only happens when the nx workspace is not in the repository root
The linked ticket appears to have been fixed in ` 8.11.0` but this issues is still present

[2020-01-09 13:26] tommck commented on #2197
@leon In my app, it was demo code I was newly creating, so I just recreated the app with routing in it.

But, in another app, I just manually added the routing lines myself (it's pretty much a one-liner)

[2020-01-09 17:08] #1182 closed

[2020-01-09 17:34] dacarley commented on #2249
I am also affected by this - what is the ETA for a fix making it into a release?

[2020-01-09 19:08] raheelriax commented on #2274
I am also facing the same issue when I run `affected:lint` against my origin/develop. I did some digging and found out that's because I've removed a dependency from my `package.json` and origin/develop still has it listed in his dependencies, this should not break the affected command.
So the question is what should be the right action if someone has a dependency mismatch?

I am happy to work on t

[2020-01-09 19:19] dflor003 commented on #2292
Yeah, this is a bug specifically with the way that `git show` is being used to get the diff of a file specifically when the nx workspace is in a sub folder off of the root.

[2020-01-09 20:29] dsebastien commented on #2152
I see that Nx currently scaffolds an @angular/pwa service worker by default for Angular projects. Would it be possible to make that optional and to support workbox instead (e.g., behind some flag)?

[2020-01-10 07:42] alfaproject commented on #2274
@zaverden it's true that there is no call stack exception anymore but now the affected commands don't seem to finish. Infinite loop it seems, so still unusable. ):

[2020-01-10 09:17] Timebutt commented on #2274
@raheelriax: interesting find: the same is valid for my case. I am seeing:

`Invalid project name is detected: "@angular/http"`

and indeed: `master` has that dependency listed, whereas my branch removed that. I'm also on `8.11.0`. I'm not really sure if I can be of help to solve this issue (will dig into code to see how it works), but can gladly help reproduce or verify the issue to help facilita

[2020-01-10 09:48] vishwapratap commented on #713
I am getting the same error
**Project 'angular-universal-course:server' does not support the 'build' target**
my angular.json code is

**{
  "$schema": "./node_modules/@angular/cli/lib/config/schema.json",
  "version": 1,
  "newProjectRoot": "projects",
  "projects": {
    "angular-universal-course": {
      "root": "",
      "sourceRoot": "src",
      "projectType": "application",
      "architec

[2020-01-10 09:52] zaverden commented on #2274
@raheelriax problem will be solved if `getTouchedNpmPackages` stops returns packages which were removed.

[`JsonChange` has a `type` field](https://github.com/nrwl/nx/blob/e41b448085/packages/workspace/src/utils/json-diff.ts#L10) so you can check it.

Link to `getTouchedNpmPackages`: https://github.com/nrwl/nx/blob/e41b448085/packages/workspace/src/core/affected-project-graph/locators/npm-packages

[2020-01-10 10:39] juuyan opened #2298 "Can't use Tailwindcss in Nx Next project"
I am using 8.9.0 nx.

- [x] I am running the latest version
- [x] I checked the documentation (nx.dev) and found no answer
- [x] I checked to make sure that this issue has not already been filed
- [x] I'm reporting the issue to the correct repository (not related to React, Angular or any dependency)

## Expected Behavior
It should work.

## Current Behavior
[code]

### Steps to Reproduce
1. `npx c

[2020-01-10 13:14] wvanderdeijl commented on #2103
Would it be an idea to switch yet again? So move back to the `fork-ts-checker-plugin` as it does seem to reduce memory usage (by using a forked process). The issue that this sometimes was causing cypress to hang seems to be fairly easy to fix: https://github.com/nrwl/nx/issues/2063

[2020-01-10 14:09] raheelriax commented on #2274
@zaverden same here 😕 , I also used a workaround on my local machine to get it to working but I am not sure about the expected actions or what it should actually do in these kind of scenarios.
Waiting for anyone from the Nx team or contributors to shed a light on this.

[2020-01-10 14:25] Grymlot commented on #208
I had this same issue and this thread was helpful to give me ideas to try. I have a library module that I'm trying to setup google maps in (@agm/core), which requires you pass the google maps api key in the forRoot method. I found no other way to set that key.

After none of the ideas in this thread worked, I was able to get it working by simply not calling the forRoot method in the library module

[2020-01-10 16:08] jimdubbs commented on #2219
@vsavkin Any suggestions on where to start figuring this one out? I know you're quite busy so I dont mind figuring it out..just need a little direction!

[2020-01-10 16:24] puku0x commented on #2274
@zaverden I'm facing the same issue.

[2020-01-10 16:41] Tre665 commented on #2274
Can also confirm this bug:

For me works on my local machine (mac os 10.15) but breaks on our CI which uses ubuntu (but tried a run witch mac os which also breaks) with the error message:

`Error: Invalid project name is detected: "time-ago-pipe"`

where the package time-ago-pipe was removed

[2020-01-10 19:16] Hotell opened #2299 "core: implement json schema for workspace.json/provide docs"
## Current Behavior

Currently there are no proper api docs regarding `workspace.json` config.
Also there is deviation between web/react nx cli guides, as for web there is a commented section because of missing component schematic 😅(https://github.com/nrwl/nx/blob/master/docs/web/guides/cli.md)

## Feature request:
- It would be nice to have similar [docs like angular cli has](https://angular.io/g

[2020-01-11 09:32] zaverden commented on #2274
@Tre665 it works locally for you, because nx uses cache. It is located in `dist` folder.

Wild thought: if you commit your local `dist/nxdeps.json` file it'll be used on your CI machine. So, it may be a work around for you

[2020-01-11 12:15] raheelriax commented on #2274
@Tre665  for me its breaking on both CI and on my local machine (Mac OS X 10.15.2)

[2020-01-11 14:19] MitkoTschimev opened #2300 "Infrastructure as Code for Enterprise applications"
Hello everyone,

I would like to know what you think about my idea. Let's start at the beginning. I played with a lot of tools for IaC (Infrastructure as Code) inside angular. In the end, it doesn't matter which tool you are using at the moment. Every time it ends up that you are really restricted. Every one of us knows how complex the infrastructure on enterprise-level looks like. You have to con

[2020-01-11 16:34] zaverden opened #2301 "nx lint does not accept --files option"
## Expected Behavior

[According documentation](https://github.com/nrwl/nx/blob/master/docs/web/api-linter/builders/lint.md#files) `nx lint` should accept `--files` array like
[code]

## Current Behavior

Command fails to parse `--files=apps/main-app/src/main.tsx`

## Failure Information (for bugs)

[code]

### Steps to Reproduce

No special preparations required. Just run command in nx workspace.

[2020-01-12 05:22] Vorakor opened #2303 "Cannot install Nx"
## Expected Behavior

I expect that when I enter the command `npm init nx-workspace project-name-here` the command will create a folder, put a package.json in it and create a blank nx workspace.

I am on a Windows 10 machine, and I've used Nx before, I don't understand why it isn't working.

## Current Behavior

It errors out, so I tried starting off with an Angular workspace and adding the nx to

[2020-01-12 09:09] debuggerpk commented on #2284
my prettier ignore file has

[code]

but it was like this even before the update. also the ngrx selectors and reducers files are now being formatted differently.

[2020-01-12 09:19] dArignac opened #2304 "React Tutorial Step 4 sample code missing import"
## Expected Behavior

The tutorial application runs and shows no errors after updating the code with provided source code of step 4 (https://nx.dev/react/tutorial/04-connect-to-api)

## Current Behavior

The application runs, but provides an error:
[code]

This leads to not being able to answer the question at the end of tutorial step 4 correctly.

The import line should be adjusted to `import Rea

[2020-01-12 22:14] cngarkar commented on #2284
I think in recent update, the --affected feature is broken for formatting.
Format command attempts to format every possible file in the workspace.  prettierignore does help, but we didn't have anything in the prettierignore file before the update. So I wonder, this is a bug in recent update?

[2020-01-13 08:16] wojtek1150 opened #2306 "Nest tests not working correctly with cross module import"
_[Please make sure you have read the submission guidelines before posting an issue](https://github.com/nrwl/nx/blob/master/CONTRIBUTING.md#-submitting-issue)_

# Prerequisites

Please answer the following questions for yourself before submitting an issue.
**YOU MAY DELETE THE PREREQUISITES SECTION.**

- [x] I am running the latest version
- [x] I checked the documentation (nx.dev) and found no ans

[2020-01-13 12:47] JoepKockelkorn commented on #2274
I'm also running into this bug after removing some dependencies. Removing the `dist/` folder locally doesn't fix it. Output of `yarn nx affected:build` is: `Error: Invalid project name is detected: "@ngx-translate/core"`. Seems to me that when no nx cache is found, the `package.json` is compared but still (wrongly) complains about a removed dependency.

[2020-01-13 14:30] jaysoo commented on #2274
I'll take a look. It will be patched in the next release.

[2020-01-13 15:46] krizic commented on #2209
@alfonsobravi still not making it work in my case :/

[2020-01-13 19:35] alfonsobravi commented on #2209
@krizic what kind of error are you getting? Please bear in mind the suggested addition of  the above described `.babelrc` does not replace the need for you to include all necessary polyfills, should any of your libraries or apps need anything more specific than what's in `core-js/stable` that **nx** includes by default.
My "usual" configuration (providing support for React, Redux, Sagas & Immer) l

[2020-01-13 20:05] tommyc38 commented on #2293
I get the note below when running `nx g @nrwl/angular:storybook-configuration project-name`.  Is this accurate because its not part of your documentation.  Moreover, I go through the three questions and then run into an error (e.g. no declarations array in the @NgModule decorator in libs/shared/src/lib/shared.module.ts) which relates to #2121.

Storybook functionality seems unusable.

<img width="

[2020-01-13 22:29] alfonsobravi commented on #2209
@krizic Everything seems to have taken a step back for me as well :(
While I can run almost every bit of my monorepo in dev/debug mode (with the exception of Immer), production build is back to producing a white page with JS code pretty much ignored.
Same code, moved into a standalone CRA project, builds just fine (Immer included).

[2020-01-14 02:46] dylanesque commented on #2303
Having the same problem, latest nx, NPM v6.13.4, Node v12.14.0, LLatest Angular CLI. Windows 10. I installed the latest version of TS, did not change.

[2020-01-14 05:24] stramel commented on #1931
@puku0x I figured out the issue. They applied the change only to the react application with their build chain. Next.js needs these steps:

Add this to your project's `tsconfig.json`

[code]

Add this to your project's `jest.config.js` in the `transform` object.

[code]

Add this to your project's `next.config.js`

[code]

Install `@svgr/webpack` and `url-loader` to your devDependencies.

Everythin

[2020-01-14 09:06] creadicted commented on #2147
Can you share how you succeeded?

[2020-01-14 09:24] Hotell opened #2310 "ship/expose public packages schematics schema definitions"
## Feature Request

When using  external schematic from public `@nrwl` packages, there is no way to how to acquire what kind of schema props are available (except going to the docs(which are not always up to date) or going to github source code...).

I'd be helpful to ship schema definitions for all public facing nrwl schematics as part of their public api.

So usage would  look like following:

[

[2020-01-14 10:07] KrzysztofCzaplejewicz opened #2311 "Support typescript 3.7.4 and optional chaining for React"
_[Please make sure you have read the submission guidelines before posting an issue](https://github.com/nrwl/nx/blob/master/CONTRIBUTING.md#-submitting-issue)_

## Expected Behavior

Will @nrwl/react support typescript 3.7.4 and optional chaining?

[2020-01-14 14:23] #2274 closed

[2020-01-14 15:35] Krasnopir commented on #1931
So is there a ready solution to the problem? how to add my own loader for svg files?

[2020-01-14 15:40] #2249 closed

[2020-01-14 16:04] puku0x commented on #1931
@Krasnopir Does this work for you?
[code]

[2020-01-14 16:14] puku0x commented on #2311
It seems we need to add Babel plugins in `webpack.config.js` https://github.com/nrwl/nx/issues/1931#issuecomment-571398087 to use Optional Chaining because Nx currently uses `@babel/preset-env@7.5.5`.
https://github.com/nrwl/nx/blob/master/packages/web/package.json#L45

[2020-01-14 20:34] jaunkst commented on #2274
@jaysoo Any estimate on when we can expect a release with this fix?

[2020-01-14 21:37] F1LT3R commented on #1511
I would be interested to see Svelte and Sapper added. I would be happy to help there where I could.

[2020-01-14 21:44] Krasnopir commented on #1931
great. it work!!! much thanks!

[2020-01-15 00:44] bladerunner41 commented on #1511
I would be interested to see the [Cloudflare Wrangler CLI](https://github.com/cloudflare/wrangler) integrated - simliar to Nest/Express starters for BE API hosting.

[2020-01-15 07:53] megagru commented on #1975
Hi. Are there any release plans?

[2020-01-15 10:28] bennymeg commented on #1975
Yes, next month.

[2020-01-15 10:59] jberndsen commented on #333
Just adding my two cents here, I would also very much love to have a remove command for apps and libs, which would throw a warning if another app/lib still depends on it and updates the relevant configs (nx.json, workspace.json, tsconfigs, etc.). I really love Nx for the smoothness that the CLI gives me and manually working with the configs dampens that sentiment.

[2020-01-15 11:59] kkuriata commented on #2274
@jaysoo @vsavkin Exactly the same problem as @jaunkst. CI is dead for now, because of that issue. Please, create a new release.

[2020-01-15 12:10] Tre665 commented on #2274
@kkuriata We are also facing the issue. As a temporary workaround we just re-added the package to keep them in sync with master and manage a list which dependency we have to remove when the fix is released.
It is not the best way, but at least our CI keeps working.

[2020-01-15 12:31] BorisZubchenko opened #2314 "Cannot run Jest tests from Webstorm"
# Prerequisites

- [X] I am running the latest version
- [X] I checked the documentation (nx.dev) and found no answer
- [X] I checked to make sure that this issue has not already been filed
- [X] I'm reporting the issue to the correct repository (not related to React, Angular or any dependency)

## Expected Behavior

I just want to run the tests from `app.component.spec.ts` from IntelliJ IDEA/WebS

[2020-01-15 12:48] kkuriata commented on #2274
@Tre665 Yeah, I was thinking about that, too :)

[2020-01-15 15:43] #2272 closed

[2020-01-15 17:59] devonc0 commented on #486
I had this issue, turns out that when I had generated my library I leaned on the fact that "xxxYyyy" would become "xxx-yyyy", however - in my config files in angular.json, it showed up as "xxxYyyy".

**Changing my references to "xxx-yyyy" with a replace-all && case-sensitive allowed me to build.**

It was by default already "publishable" though, I didn't use this option myself, anywhere

[2020-01-15 18:36] Hotell commented on #2311
easiest solution would be to bump to latest babel [7.8 and babel-preset which supports those features by default](https://babeljs.io/blog/2020/01/11/7.8.0#ecmascript-2020-default-support-10811-https-githubcom-babel-babel-pull-10811-10817-https-githubcom-babel-babel-pull-10817-10819-https-githubcom-babel-babel-pull-10819-10843-https-githubcom-babel-babel-pull-10843)

[2020-01-15 18:49] Hotell opened #2317 "library schematics outputs misleading info about "UPDATE package.json""
# Prerequisites

- [x] I am running the latest version
- [x] I checked the documentation (nx.dev) and found no answer
- [x] I checked to make sure that this issue has not already been filed
- [x] I'm reporting the issue to the correct repository (not related to React, Angular or any dependency)

## Expected Behavior

Schematics should give user correct info  what was changed/created/deleted

## Cu

[2020-01-15 19:58] kazamov commented on #1989
Hi @vsavkin. I have found a solution for current issue. After update of Nx packages webpackConfig property should be added to each react application inside angular.json file in the "options" section. The value should be a path @nrwl/react/plugins/webpack.

Thus during migration webpackConfig is not added to react app settings.

[2020-01-15 21:16] allforabit opened #2320 "React storybook: issue importing from other libraries"
## Expected Behavior

When used with storybook it should be possible to import from other internal libraries.

## Current Behavior

Storybook doesn't allow importing from another internal library or allow code that imports from another library.

## Failure Information (for bugs)

Library A has storybook configured. This will work fine if the library has no dependencies on another internal library,

[2020-01-15 21:39] allforabit commented on #2320
Adding `tsconfig-paths-webpack-plugin` seems to fix it:
[code]

[2020-01-15 22:48] jaunkst commented on #2274
8.11.1 was released and an upgrade resolved the CICD issues.

[2020-01-15 23:09] Cammisuli commented on #2291
Hi @techaks thanks for filing an issue! Can you give a little bit more info? What kind of project are you building (node, angular, react)? What steps did you try to set the environment variable?

[2020-01-16 00:21] alfonsobravi commented on #2209
Please refer to last commit on master branch for the aforementioned repository.
As of v 8.11.0 of nx, both apps are now working across all browsers when using `yarn start {pkgName}` or `yarn build {pkgName} --prod`.
Omitting the `--prod` flag still triggers the white page issue.
While I guess it's good enough for me to move forward, it still feels a tad weird and symptomatic of a fragile combinati

[2020-01-16 00:24] peterhe2000 commented on #1499
For me, install nx cli globally works.
npm install -g @nrwl/cli

[2020-01-16 09:18] FrailWords opened #2322 "Vulnerability in dependency - (tree-kill) - needs to be upgraded to latest"
Vulnerability level - high
Vulnerability type - Command Injection
Package                -  `tree-kill`
Fix - Patched in  >=1.2.2
More info     │ https://www.npmjs.com/advisories/1432

[2020-01-16 10:57] allforabit commented on #2320
That's in `<root>/.storybook/webpack.config.js`

[2020-01-16 14:04] khalilou88 commented on #1241
Hello
Can someone tell me a usecase for a lib that we cannot build (non-publishable libraries)?

[2020-01-16 14:18] juristr commented on #1241
Hey @khalilou88 👋.

Sure, in a monorepo scenario, creating a "publishable" library is more the exception than the standard approach. Libaries within a monorepo (such as in Nx) are meant to be directly imported by the apps that live in that same repository as well. This lowers the friction of having to build & publish them, version them etc.

Using a publishable library really makes sense when you

[2020-01-16 14:35] gussi77 opened #2326 "not able to create new workspace"
Please answer the following questions for yourself before submitting an issue.

- [x] I am running the latest version
- [x] I checked the documentation (nx.dev) and found no answer
- [x] I checked to make sure that this issue has not already been filed
- [x] I'm reporting the issue to the correct repository (not related to React, Angular or any dependency)

## Expected Behavior
Should create a new

[2020-01-16 14:41] FabianGosebrink opened #2327 "Configured assets order is not being respected"
## Expected Behavior

It would be nice if the order of the assets array in the `angular.json` would be respected and files would get overwritten if the filename and the output folder are the same and the files/paths are mentioned after each other in the assets array.

## Current Behavior

In an NX workspace with multiple apps you may also want to share multiple assets like images, favicons, etc ac

[2020-01-16 17:58] tommck commented on #1246
@vsavkin - the Bundle Analyzer is no longer in the Angular Console.  Are we going to add support back in somewhere?

[2020-01-16 18:06] sumitparakh opened #2329 "Make existing library publishable"
Is there any way to convert existing non-publishable nrwl library into a publishable library using any CLI command?

[2020-01-16 18:52] the-ult commented on #2006
@jaysoo and @FrozenPandaz
The issue is still occuring (8.11.1)

[2020-01-17 00:53] #2322 closed

[2020-01-17 02:45] FrozenPandaz commented on #2293
The docs are here:

https://github.com/nrwl/nx/blob/master/docs/angular/guides/modernize-storybook.md

Would someone like to contribute a line, in the beginning, to instruct how to install storybook?

[2020-01-17 02:51] FrozenPandaz commented on #2304
The docs are here.

Would someone like to contribute a fix?

[2020-01-17 02:54] FrozenPandaz commented on #2306
Please provide a repo exhibiting the issue to help us debug the issue.

[2020-01-17 04:52] miguel-leon commented on #595
This feature has not been implemented

[2020-01-17 05:51] FabianGosebrink commented on #2327
Hey FrozenPandaz,

thanks for your answer. The Copy webpack plugin could solve the issue, yes. have not thought of that.

I tried to reproduce it with a AngularCli project without success. I could however reproduce it with an nx workspace. Is this really an angularcli issue then?

[2020-01-17 09:52] jdpearce commented on #2011
@dacarley - not yet, sorry. We're considering it, but have to find time to investigate and implement.

Next.js support is something I'm personally looking at in detail this year though, so expect this issue to get some attention sooner rather than later.

[2020-01-17 10:26] khalilou88 commented on #1241
Thanks @juristr a lot for your explanation. I thought that to test a lib you need to  build it first (my mistake).

[2020-01-17 13:24] MaximeBernard commented on #1777
How does Google manage to update all (i can imagine they have hundred/thousands) apps at once?

From my experience, you always get:
- one app that requires too much effort/cost/time to be updated (i.e. that won't happen)
- one app that needs to do something before that (i.e. delaying the update for months/years)
- one app that requires to stay at some package version (angular users are often locke

[2020-01-17 13:29] mderoche commented on #1777
@MaximeBernard Are you using Angular with multiple package.jsons? If so, how do you manage to get AoT compilation to work with multiple package.jsons?

[2020-01-17 15:32] tommyc38 commented on #2293
@FrozenPandaz, I got it working and will make a pull request with updated guide info.

[2020-01-17 15:59] cwmrowe commented on #1416
I am getting the `dispatched an invalid action` runtime error with latest versions or NGRX and NX and 6.4.0 of RXJS. Not sure what to try next...
[code]

[2020-01-17 16:58] cwmrowe commented on #1416
Ok, so I fixed it by uninstalling `@nrwl/angular` and then reinstalling `@nrwl/angular@8.11.1` with npm. Which had the effect of removing `@nrwl/angular`'s local version of rxjs, which was reflected in package-lock.json.

[2020-01-17 17:09] elliottsj opened #2336 "Feature request: implement workspace builder with TypeScript"
## Expected Behavior

Able to write a workspace builder in TypeScript.

## Current Behavior

It's only possible to implement a workspace builder in plain JavaScript.

### Context

I've watched the [Nx Playbook lecture on custom builders](https://nxplaybook.com/courses/701247/lectures/12570377), which is a great resource. However I've noticed that we can only write the builder in plain JS currently

[2020-01-17 17:56] zodiac1214 opened #2337 "allow eslint cache"
_[Please make sure you have read the submission guidelines before posting an issue](https://github.com/nrwl/nx/blob/master/CONTRIBUTING.md#-submitting-issue)_

## Expected Behavior

eslint cache could be enabled

## Current Behavior

no way to enable eslint cache

## Other

Allow eslint --cache in configuration/cli

[2020-01-17 19:22] FrozenPandaz commented on #2231
Closing in favor of https://github.com/nrwl/nx/issues/2211

[2020-01-17 19:22] #2231 closed

[2020-01-17 19:22] FrozenPandaz commented on #2336
Closing in favor of https://github.com/nrwl/nx/issues/2211

[2020-01-17 19:22] #2336 closed

[2020-01-17 20:01] FrozenPandaz commented on #2251
Sorry, I think this might be a bit confusing and it's not as simple as having the wrong source.

Step 4 of the tutorial intentionally breaks the functionality of the application by prematurely connecting it to an API which will be created in Step 5. The test you mentioned should in fact fail. Would it be less confusing if Step 4 and Step 5 were swapped so that the API is created first and the fron

[2020-01-17 21:32] fishgills commented on #1126
I got this today with latest NX:

[code]

[2020-01-18 02:18] ksakae1216 commented on #2251
@FrozenPandaz ,

I was misunderstanding.
After checking again, there was no problem, Sorry.

[2020-01-19 16:28] jbojcic1 commented on #1720
@jaysoo what is the status of this? perhaps I could give it a try if it hasn't been started yet?

[2020-01-20 08:49] juristr commented on #2329
@sumitparakh Thanks for submitting this question. Right now there is no automated schematic that would be able to convert an existing library into a publishable one. We're going to take a look at this, but it requires some larger changes as it involves potentially multiple libraries (angular, node, react).

Meanwhile, you could manually adjust your library. I suggest

1. creating a new nx workspac

[2020-01-20 09:21] debuggerpk commented on #2284
i think @cngarkar has correctly diagnosed the issue.

[2020-01-20 09:54] Hotell opened #2344 "jest 'setupFiles' with <rootDir> breaks libs/apps tests"
# Prerequisites

- [x] I am running the latest version
- [x] I checked the documentation (nx.dev) and found no answer
- [x] I checked to make sure that this issue has not already been filed
- [x] I'm reporting the issue to the correct repository (not related to React, Angular or any dependency)

## Expected Behavior

Properly resolve `rootDir` when `setupFiles` are being used for jest config

## C

[2020-01-20 10:01] Hotell opened #2345 "jest config uses invalid configuration - passWithNoTests"
_[Please make sure you have read the submission guidelines before posting an issue](https://github.com/nrwl/nx/blob/master/CONTRIBUTING.md#-submitting-issue)_

# Prerequisites

- [x] I am running the latest version
- [x] I checked the documentation (nx.dev) and found no answer
- [x] I checked to make sure that this issue has not already been filed
- [x] I'm reporting the issue to the correct repos

[2020-01-20 17:56] jaysoo commented on #2337
Good idea!

[2020-01-20 17:58] jaysoo commented on #2311
The bump to 7.8.0 will be in the next version. PR is here https://github.com/nrwl/nx/pull/2346

[2020-01-20 17:58] #2311 closed

[2020-01-20 19:45] jaysoo opened #2350 "Add support for SVG and SVGR files"
See the related React issue: https://github.com/nrwl/nx/issues/1931

We should add the same support for Next.js apps.

[2020-01-20 19:49] jaysoo commented on #1931
@puku0x We need to update this for Next.js apps as well since it's managed by a different loader. Should track it separately here #2350.

The issuer is supposed to to prevent SVG imports within CSS files from being processed. Are your imports from `.jsx` and `.tsx` files?

[2020-01-20 19:55] jaysoo commented on #1989
@kazamov it seems we didn't add `webpackConfig` option during the upgrade. I'll add it to the next version. For now adding the `"webpackConfig": "@nrwl/react/plugins/webpack"` to the builder options is the work around.

[2020-01-20 20:00] jaysoo commented on #1931
I also realized that SVG support was not working from CSS files, not sure if this is the issue people were running into, but Nx should be using `oneOf` in the webpack rule for SVG so we use the first matched rule.

[2020-01-20 20:08] #1250 closed

[2020-01-20 20:22] jaysoo commented on #1931
This PR will allow SVGs to be imported in CSS files. https://github.com/nrwl/nx/pull/2351

Let me know if there are any other issues. The sprites use case isn't officially supported right now, but we could look into it in the future.

[2020-01-20 20:48] jaysoo commented on #1989
PR for adding migration for 8.12.0 to handle React projects with missing `webpackConfig`: https://github.com/nrwl/nx/pull/2352

Note, if your workspace is missing `@babel/preset-react` then make sure you install it. This dependency is installed automatically when you create a new React app.

[2020-01-20 20:52] #1744 closed

[2020-01-20 20:54] jaysoo commented on #1744
Support for CSS modules have been added. It's the same as CRA so you need to name your files as `*.module.css` in order for it to kick in.

[2020-01-20 21:51] aleccool213 opened #2353 "Add built-in Nx command which exposes documentation of custom commands for an app"
## Expected Behavior

When adding custom commands using the builder `@nrwl/nx-workspace:run-commands` for example, developers should be able to add documentation for the command.

[code]

When these `doc` key is added, `nx commands --help` (or a similar command) will display docs of every command, along with custom ones.

This behaviour is similar to how `npm-scripts-info` works.

## Current Behav

[2020-01-20 22:39] puku0x commented on #1931
@jaysoo I’m importing SVGs from not only `.tsx` but also `.css` because I’m using Ionic. #2351 will be a great help for me. Thank you!

[2020-01-21 03:42] whizkidwwe1217 commented on #812
@llwt Where can I find the `jest-preset-angular/preprocessor.js`? It's not available in jest-preset-angular@8.0.0

[2020-01-21 06:57] dArignac commented on #2304
Sure, will create a PR asap.

[2020-01-21 07:55] tommyc38 commented on #2121
I fixed this by simply adding `declarations: []` to my lib module that doesn't have any declarations.

[2020-01-21 08:28] czaplej opened #2355 "(react) TS2591: Cannot find name 'require'. Do you need to install type definitions for node? Try `npm i @types/node` and then add `node` to the types field in your tsconfig."
_[Please make sure you have read the submission guidelines before posting an issue](https://github.com/nrwl/nx/blob/master/CONTRIBUTING.md#-submitting-issue)_

# Prerequisites

Please answer the following questions for yourself before submitting an issue.
**YOU MAY DELETE THE PREREQUISITES SECTION.**

- [x] I am running the latest version
- [x] I checked the documentation (nx.dev) and found no ans

[2020-01-21 11:01] czaplej opened #2357 "(react) Can't install own version of rxjs"
_[Please make sure you have read the submission guidelines before posting an issue](https://github.com/nrwl/nx/blob/master/CONTRIBUTING.md#-submitting-issue)_

# Prerequisites

Please answer the following questions for yourself before submitting an issue.
**YOU MAY DELETE THE PREREQUISITES SECTION.**

- [x] I am running the latest version
- [x] I checked the documentation (nx.dev) and found no ans

[2020-01-21 14:56] jaysoo commented on #2357
It should be possible. We'll look into it.

[2020-01-21 15:00] jaysoo commented on #2355
Do you have a repo we can check? Make sure your `typeRoots` includes the same folder that `@types/node` is installed in.

[2020-01-21 15:06] jaysoo commented on #1931
Sounds good. We'll have this in the next release.

[2020-01-21 15:07] jaysoo commented on #1931
Closing this issue. If there are further use cases that aren't addressed please open a new issue. :)

[2020-01-21 15:07] #1931 closed

[2020-01-21 16:12] puku0x commented on #1931
Now Ionic React on Nx works out of the box!

[code]

...except testing 😂

[code]

[2020-01-21 17:33] rarmatei commented on #2337
I can have a look at this 👍

[2020-01-21 17:55] tommck commented on #2152
I'm a bit confused.. how can we tell what version of `nx` we have?  I check locally and I see that nx is 0.8.9, so... 9.x?

[2020-01-22 01:05] #2350 closed

[2020-01-22 01:53] #1989 closed

[2020-01-22 10:07] michelcve opened #2362 "Task format:write -> Error: Command line too long"
## Expected Behavior

npm run format:write should complete without errors

## Current Behavior

npm run format:write fails with error "Command line too long"

## Failure Information (for bugs)

We have several long library + path + file names, that result in a command line for prettier that is too long.

NX already uses chunks (see: packages/schematics/src/command-line/format.ts), but the chuck si

[2020-01-22 12:45] krizic commented on #2209
Using 8.11.2 and still have arrow functions left in VENDOR bundle. MAIN bundle seems ok. Am I doing something wrong?

[2020-01-22 13:35] krizic commented on #2209
added  "@babel/plugin-transform-arrow-functions", "@babel/plugin-transform-template-literals" to babel plugins, however now I ended up with a white-page no errors issue

[2020-01-22 13:47] KrzysztofCzaplejewicz commented on #2355
@jaysoo project was generated by CLI so main tsconfig has
![image](https://user-images.githubusercontent.com/29889157/72899166-bb14ac80-3d25-11ea-939d-ed9bcc33be0d.png)
where is project structure is:
![image](https://user-images.githubusercontent.com/29889157/72899232-d7b0e480-3d25-11ea-9f1f-024968182ffd.png)
and in apps folder there is web (react app)

[2020-01-22 14:13] otanriverdi opened #2363 "Using VSCode, everytime I create a new tsx file I get an eslint error."
_[Please make sure you have read the submission guidelines before posting an issue](https://github.com/nrwl/nx/blob/master/CONTRIBUTING.md#-submitting-issue)_

# Prerequisites

- [x] I am running the latest version
- [x] I checked the documentation (nx.dev) and found no answer
- [x] I checked to make sure that this issue has not already been filed
- [ ] I'm reporting the issue to the correct repos

[2020-01-22 16:29] devinshoemaker commented on #602
I am facing this issue as well. I am currently attempting to build a publishable library that imports a component from a non-publishable library and renders it to a div as a way of making a small separate bundle that I bring into a legacy app. I have tried a couple of the path based workarounds, but nothing has worked for me so far, and publishing these builds seems overkill. Being able to get thi

[2020-01-22 22:31] georgewilde commented on #2363
I was also getting this issue and came across this https://github.com/typescript-eslint/typescript-eslint/issues/1137

From that, you can see that issue has been fixed in @typescript-eslint/parser@2.5.1. However, the current version of NX has @typescript-eslint/parser locked to 2.3.2.

I have manually updated the version of @typescript-eslint/parser and @typescript-eslint/eslint-plugin to both be

[2020-01-22 22:37] otanriverdi commented on #2363
I would guess they are locking versions in case of any breaking configuration changes and they are manually upgrading packages.

Should be a straightforward fix if there isn't anything else we are missing.

@georgewilde Thank you for the tip!

[2020-01-22 22:55] stramel opened #2365 "Error: Component selectors can only be used in conjunction with babel-plugin-emotion.]"
_[Please make sure you have read the submission guidelines before posting an issue](https://github.com/nrwl/nx/blob/master/CONTRIBUTING.md#-submitting-issue)_

# Prerequisites

Please answer the following questions for yourself before submitting an issue.
**YOU MAY DELETE THE PREREQUISITES SECTION.**

- [x] I am running the latest version
- [x] I checked the documentation (nx.dev) and found no ans

[2020-01-22 22:58] ruslanguns commented on #2303
Any news ?

[2020-01-23 00:52] ruslanguns commented on #1461
In my case I noticed that the npm cache route was broken (my HOME directory has my firstname and my lastname, so the space between the names broke the configuration path), the way I fixed it was by reinstalling NodeJs just after cleaning all AppData cache data and changing the installation folder into another shorter. D:\\NodeJs\

[2020-01-23 06:47] asherccohen commented on #1541
Hi everyone!are there any news for vue.js support, I heard it's in alpha stage.

[2020-01-23 10:00] raheelriax opened #2366 "[Feature Request] Add support to restrict workers and memory in dev server"
## Expected Behaviour

` Nx serve <app-name> --maxWorkers=1 --memoryLimit=1028 `
command should allow restricting workers and memory limit.

## Current Behaviour
passed arguments doesn't have any effect

### Steps to Reproduce

Just start any dev server for your application node or react application and try to pass the above arguments to restrict

1. maxWorkers
2. MemoryLimit

### Context

I am us

[2020-01-23 10:57] alfaproject opened #2367 "nx affected infinite loop"
## Expected Behavior
`nx affected` command family completes

## Current Behavior
`nx affected` command family does not complete (seems to go into an infinite loop)

## Failure Information (for bugs)

There really isn't more that I can say. The affected commands just don't finish unless I use `--all`.

### Steps to Reproduce

1. ... in my project
2. `nx affected:lint`
3. ... never finishes

I can n

[2020-01-23 11:35] alfaproject commented on #2367
I forgot to mention, but this stopped working on any version after `8.9.0` and these are related issues:
1. https://github.com/nrwl/nx/issues/2274 (I had that issue as well when I upgraded to `8.10.0` and now I don't get that but it never finishes)
2. https://github.com/nrwl/nx/issues/1990 (I also had that issue which was fixed and now it looks like it came back)

[2020-01-23 12:18] Jordan-Hall commented on #1541
Working on it. Only in the evenings but on Limited internet as Im working away. Aiming for it to be ready. Just after vue release

[2020-01-23 12:39] SOHELAHMED7 opened #2368 "Nest e2e"
Kind: feature/docs request

In Angular we can create entirely new and separate app to e2e test it using Cypress.

Similarly, kindly add feature and/or docs to do same with API made using NestJS

NestJS [recommends](https://docs.nestjs.com/fundamentals/testing#end-to-end-testing) [supertest](https://github.com/visionmedia/supertest), however [Cypress](https://www.cypress.io/blog/2017/11/07/add-gui-

[2020-01-23 13:42] maximedupre commented on #816
For those of you trying out this solution, I also had to add `exclude: []` to my `/e2e/tsconfig.json`, or Visual Studio Code could not resolve the `Cypress` namespace.

[2020-01-23 14:58] #2304 closed

[2020-01-23 15:56] FrozenPandaz commented on #2251
No worries. Closing this issue :)

[2020-01-23 15:56] #2251 closed

[2020-01-23 17:15] ruslanguns commented on #1643
If I'm using nx cli isn't a way to setup an angular.json ? also Angular Console capabilities are lost

[2020-01-23 20:19] KrzysztofCzaplejewicz opened #2369 "[Q] watching files"
## Other

I can't find information about watching files changes. How it works? If i have few libraries and i make changes, would it rebuild whole solution or only depended libs? If not, It would be great feature to create. Now i have ~15 libs and make small changes and it's take a bit too long in my opinion. I have kinda good laptop 32gb RAM, i7 and 512 gb SSD disc. No circular dependency in proje

[2020-01-23 21:16] alfonsobravi commented on #2209
I managed to getReact, Redux, Sagas, Immer, Axios working just fine on IE11 after swapping schematics generated polyfills with:
[code]
They are wrappers for `core-js` nothing more (stable is actually just like the default polyfills) with some extra smartness attached.
Not sure how actively maintained they are in order to be considered a long term solution for the issue... I guess the other option

[2020-01-24 03:10] #2009 closed

[2020-01-24 03:10] #2103 closed

[2020-01-24 03:10] #2217 closed

[2020-01-24 03:28] juuyan commented on #2298
I have solved the problem by myself.
Basically my issues come from the misunderstanding of how nx works.

Here is how I added tailwind in next.js project
1. install `tailwind` and `autoprefixer` in the workspace
2. create `tailwind.config.js` and `tailwind.css`.
3. import `tailwind.css` at `_app.tsx`
4. create
[code]

It is similar if you wanna integrate Tailwind with lib's storybook or in project

[2020-01-24 03:28] #2298 closed

[2020-01-24 07:20] svox1 commented on #1499
I have still this error.
Installed nx for the first time with:
[code]
source: https://nx.dev/web/guides/cli

After that I try whats @vsavkin write:
https://github.com/nrwl/nx/issues/1306#issuecomment-495283429
[code]
Because I want a app with protractor.

After last command I get the error:
[code]

I tried it also with:
[code]
-> empty workspace
-> angular-cli

and after that the ng g add command,

[2020-01-24 07:30] sysidos opened #2371 "set assets output path inside workspace.json"
1. set assets output path inside **workspace.json**
2. If there is any **workspace.json documents** which describes all the options?

[2020-01-24 14:55] rarmatei commented on #2337
This requires a change to `@angular-eslint/builder` package: https://github.com/angular-eslint/angular-eslint/pull/35

[2020-01-24 16:26] Hotell commented on #2337
or nx It might make sense to build/maintain  own nx version builder for eslint as we discussed with @jaysoo

[2020-01-24 18:02] ajonp commented on #2314
We are having the same issue with Angular.

[2020-01-24 23:45] #2369 closed

[2020-01-25 01:53] dalemanthei commented on #602
Thanks to all the commenters here and other related threads, we have been able to publish a component library based on [Angular Material](https://material.angular.io/components/categories). Like Material we have components that depend on other components that needs to be built in sequence.

In our scenario each component (think button, checkbox, etc) lives in it's own nx `lib`. Each of our libs (c

[2020-01-25 08:47] FERNman opened #2377 "Improve test performance"
Hey there,

We've been using this package for quite some time now and it has improved the development experience at our company a lot!
However, as our project gets larger and larger, one thing that bothers us is the performance of unit tests. Our project is medium-sized with about 75 libraries and 3 apps (Angular and NestJS) and about 350 test suites.

It takes about 12 minutes on my machine (wind

[2020-01-25 18:22] Sikora00 opened #2378 "[feature] Nest library schematic"
It would be great to have a schematic like @nrwl/angular-library also for nest.

[2020-01-25 21:19] wescopeland commented on #2320
Unfortunately, `tsconfig-paths-webpack-plugin` doesn't seem to be solving the issue for me.

[2020-01-26 16:53] vsavkin commented on #2377
Thank you for submitting the issue.

We definitely need to explore `projects` or TS project references to speed this use case up.

There are several things we'd like to preserve:
- We only test what is affected.
- If projects A and B are affected, tests for A should not in any way affected project B. So tests are isolated.
- We should be able to distribute tests across multiple machines.

Running

[2020-01-26 16:55] vsavkin commented on #602
Thank you so much for your patience folks.

@juristr is working on reworking how publishable libraries work to better support this use case. The initial PR landed into master and will be a part of the 8.12 release.

[2020-01-26 16:57] vsavkin commented on #2371
Could you provide more context?

[2020-01-26 16:58] nayfin commented on #602
I've actually had a pretty good experience. I just made a silly mistake when configuring.

[2020-01-26 16:59] vsavkin commented on #2368
I believe this is a duplicate: https://github.com/nrwl/nx/issues/1098

[2020-01-26 16:59] #2368 closed

[2020-01-26 20:13] vsavkin commented on #1541
Hey folks! Just wanted to let you know that 8.12 release will come with some tooling to make writing, and, most importantly, testing Nx plugins much easier. We should have it out next week.

[2020-01-26 20:14] vsavkin commented on #2367
@alfaproject could you give it a try with 8.11.2?

We rewrote how we compute the graph to make extensible, and missed a few things. Sorry about it.

[2020-01-26 20:54] vsavkin commented on #2289
Closed here: https://github.com/nrwl/nx/pull/2287

[2020-01-26 20:54] #2289 closed

[2020-01-26 20:59] vsavkin commented on #2291
@techak could you provide more info?

[2020-01-26 21:01] vsavkin commented on #1975
Hey folks. Just wanted to let you know that Nx 8.12 will come with some tooling to make it easier to create and test Nx plugins. It should be out next week.

[2020-01-26 21:05] vsavkin commented on #2219
@jimdubbs really sorry for the late reply.

`nx build` simply delegates to the angular cli. It doesn't do much apart from that.

Do you see the same result when running `ng build ...`?

[2020-01-26 21:06] vsavkin commented on #2197
Fixed here: https://github.com/nrwl/nx/pull/2258

It's going to be release in 8.12 next week. Simply pass `--interactive=true` when creating a workspace and you will be able to select all the options.

Thank you!

[2020-01-26 21:06] #2197 closed

[2020-01-26 21:19] vsavkin opened #2379 "[Discussion] Who is using Nx in production?"
Nx has been growing fast (5x in 2019). A lot of companies use Nx today, some of them are listed here: https://nx.dev

If you are using Nx, and you don't mind sharing this fact with the world, please post your company name with a link in the comment below. We appreciate it a lot.

[2020-01-26 21:50] devinshoemaker commented on #1931
@puku0x in order to get Ionic to work with the latest release, I still had to make webpack.config.js modifications that you posted. Also, were you able to get passed the linting error from using the require in the Webpack config? `error  Require statement not part of import statement  @typescript-eslint/no-var-requires`

[2020-01-26 22:07] gund commented on #602
Actually I've found a workaround for building libraries in correct order.

However I'm not sure that this was intended behavior - but it always works exactly how it needs to.
So the trick is to use `run-many` command to build all your libraries like so:
[code]

This will execute `build` target in all your libraries and applications in the order they depend upon each other (at least this is how it

[2020-01-26 22:59] alfaproject commented on #2367
@vsavkin yes, I've tried every version and all of them fail one way or another. This issue was reported using 8.11.2 as you can see in the description

[2020-01-27 01:18] leifwells opened #2382 "Storybook Install: "Could not read apps/ng-nest/tsconfig.lib.json""
# Prerequisites

Please answer the following questions for yourself before submitting an issue.
**YOU MAY DELETE THE PREREQUISITES SECTION.**

- [x ] I am running the latest version
- [ x] I checked the documentation (nx.dev) and found no answer
- [x ] I checked to make sure that this issue has not already been filed
- [x ] I'm reporting the issue to the correct repository (not related to React, A

[2020-01-27 03:58] BuckyMaler opened #2383 "Error thrown when running Storybook config schematic with no declared components"
## Expected Behavior

I wouldn't expect an error related to components when `generateStories` is set to false.

## Current Behavior

An error is thrown related to components when `generateStories` is set to false.

## Failure Information (for bugs)

### Steps to Reproduce

1.` yarn create-playground`
2. `ng g lib mylib --prefix mylib`
3. `ng g @nrwl/angular:storybook-configuration mylib --configur

[2020-01-27 05:04] puku0x commented on #1931
@devinshoemaker Sorry for confusing you. I tested above example on the developing version of Nx which has not been released on npm yet. Therefore, you still need the webpack config for current version of Nx (v8.11.2). I think "Nx + Ionic React" should work in next release!

[2020-01-27 05:18] puku0x commented on #1931
@devinshoemaker Talking about the linting error in `webpack.config.js`, I faced the same error but I ignored it and used `require` because `'@nrwl/react/plugins/webpack'` was not an ES module.

[2020-01-27 07:03] BuckyMaler commented on #2379
The development group I'm a part of at [National Oilwell Varco](https://www.nov.com/) has been using Nx for almost a year. We're loving it! Earlier this month we updated to version 8, and are excited about Storybook and the recent caching work. I work on a front-end tooling and infrastructure team with @ZachJW34. We've contributed a few times to the Nx project and look forward to contributing more

[2020-01-27 09:13] bennymeg commented on #1975
Sound great! I will check it out once it will be published.

[2020-01-27 09:40] czaplej opened #2385 "(react)[BUG] --sourceMap=false not working"
# Prerequisites

Please answer the following questions for yourself before submitting an issue.
**YOU MAY DELETE THE PREREQUISITES SECTION.**

- [x] I am running the latest version
- [x] I checked the documentation (nx.dev) and found no answer
- [x] I checked to make sure that this issue has not already been filed
- [x] I'm reporting the issue to the correct repository (not related to React, Angul

[2020-01-27 11:40] Jordan-Hall opened #2386 "yarn 2 Support"
_[Please make sure you have read the submission guidelines before posting an issue](https://github.com/nrwl/nx/blob/master/CONTRIBUTING.md#-submitting-issue)_

# Prerequisites
Yarn version 2.0.0-rc.27

## Expected Behavior

Should work correctly like before

## Current Behavior

Build failure

## Failure Information (for bugs)

**An unhandled exception occurred: Cannot locate the 'node_modules' di

[2020-01-27 12:26] conor-mac-aoidh commented on #602
@gund I've tried this command and it does not seem to take account of the dependencies. It does not build the publishable libs in the order they depend on each other.

@dalemanthei That's a similar use-case to me. I just checked out your repository and tried running `nx build link` and it throws this error:
[code]

How are you building the libs in order in this repository? Is there a custom comman

[2020-01-27 12:32] Jordan-Hall commented on #2386
Angular appears not to be supporting PNP yet. Tracking https://github.com/angular/angular-cli/issues/12465

[2020-01-27 13:43] Sikora00 commented on #2379
At @valueadd-poland Nx is an important part of our tech stack for over a year and we use it with joy. We deployed a lot of software to production with support from tools from nrwl. We are looking forward to taking advantage of the latest nx features like support for the story book and we are waiting for new, awesome tools in the feature.

[2020-01-27 13:54] ArtemSkok opened #2387 "'ng serve api' serves old file version"
## Expected Behavior

The 'ng serve' command should run actual version of the code and watch for changes.

## Current Behavior

The 'ng serve' command does not serve the actual version of the code. It executes some files from cache instead. The

### Steps to Reproduce

1. Generate nx project.
2. Add nest application.
3. Run 'ng serve [project_name]' on generated with nx schematix nestjs appliacati

[2020-01-27 14:00] dalemanthei commented on #602
@conor-mac-aoidh We use a custom set of npm scripts invoked using `npm run build-libs`. The sequencing of the component builds is done manually in the npm scripts.

I suspect the `nx build link` is dependent on nx understanding the build dependencies. In our use case the `npm run dep-graph` doesn't work due to issues between published package path and code paths in the project. So the `dep-graph`

[2020-01-27 15:23] mzaicevs commented on #857
I believe this should be here: [A custom Angular builder for TestCafe](https://github.com/politie/angular-testcafe)

[2020-01-27 15:45] wickstargazer commented on #2379
Hi we are using nx in production, our site is [FlowAccount.com](https://flowaccount.com)
Its been some good few months we are dwelling into Nx worskspace. Its a pretty seamless development experience!

And we have wrote our own schematic to work with Nx as well ... its an implementation of serverless node typescript, using nx/angular-cli to generate/serve offline and deploy to aws cloud.

[@flowac

[2020-01-27 18:16] zodiac1214 commented on #2337
One thing i also want to point out is that `nx affected:lint` does not make sense at all right now. Lint should only happen to files that are changed. Not projects that has dependencies on.

[2020-01-27 20:47] shanepadgett commented on #2382
Getting the same issue with react-express application.

[2020-01-27 21:26] tashoecraft commented on #2379
At icims we use Nx to power our Attract product line of career sites: https://www.icims.com/talent-acquisition-software/career-site-solutions/. We power the sites of some of the largest companies, Pepsico, Fedex, Johnson & Johnson, Mcdonalds. Nx serves primarily the searching and applying for jobs portion, applicant data management applications, internal apps, etc.

It's been very helpful in reusi

[2020-01-27 21:26] alfaproject commented on #2379
We've recently started a company (actually, been almost a year, dayum...) to make a casino platform. I'm pretty sure we are the first ones in the world to have made a 100% serverless casino platform and it would have been very difficult without `nx`, so thank you guys for this amazing tool. I'm just sad I didn't time to contribute to open source projects this past year, because you know... busy.

[2020-01-27 21:42] alfaproject commented on #2367
@vsavkin I have just tried 8.12.0 and I have the same issue ):

[2020-01-27 22:35] LayZeeDK commented on #2379
Systemate A/S
https://www.systemate.dk/

[2020-01-28 05:02] Carniatto commented on #2379
We are very glad to use it at Riaktr for most of our apps and services. It's has been a ride change for us.
https://www.riaktr.com/

[2020-01-28 07:22] dsebastien commented on #2379
For Didowi, our upcoming product, we're using Nx as the glue between all the parts of the overall system.

We combine Nx, Angular, NestJS and Kubernetes (also during development) among other things :)

Really glad so far!

[2020-01-28 08:57] klaascuvelier commented on #2379
We're using it as well at Showpad:
https://www.showpad.com

[2020-01-28 11:35] kkuriata commented on #984
Yes, please add this prop!

[2020-01-28 12:41] Sikora00 commented on #2378
@vsavkin Could you assign this issue to me?

[2020-01-28 15:33] klauvi commented on #2379
Sensa
https://sensa.is/

[2020-01-28 18:12] yannickglt commented on #2379
We use it at Elium https://elium.io

[2020-01-28 21:07] stefan-karlsson commented on #2379
We use it at MatHem https://mathem.se

[2020-01-28 22:01] devinshoemaker commented on #602
@vsavkin is there any documentation around this new feature? I read the release blog post, however, I am still having issues. After updating and running the migrations, I get this error when building my library that depends on another library in the workspace.

[code]

So, it did not alert me that my other library needed to be built first (despite deleting my dist/ directory beforehand), and it di

[2020-01-29 02:21] jimdubbs commented on #2219
@vsavkin running ng build works as expected.

[2020-01-29 02:26] #2317 closed

[2020-01-29 02:42] leifwells commented on #2382
It looks like the problem is here:
https://github.com/nrwl/nx/blob/8c99bc3da7ab34ac2927e7d5bd8faa886eea28cc/packages/storybook/src/schematics/configuration/configuration.ts#L77

`const tsConfigPath = projectPath + '/tsconfig.lib.json';`

My assumption is that the end of that line should be `'/tsconfig.app.json';` or `'/tsconfig.json';` but that, again, is an assumption.

Mind you, I have no idea h